      
<?php
/**
 * This file is used to create program
 * @package    User
 * @author     Icreon Tech - NS
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/crm.add_program.js?v='.$this->layout()->getVariable('jsVersion'));
?>


<div class="create-contacts">
    
<h2><?php echo $translator['PRO_HEADING0']; ?></h2>
<div class="breadcrumb">
  <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>

<div class="accordion-detail">     
    <?php
        $form = $this->addProgramForm;
        $form->prepare();
        echo $this->form()->openTag($form);
    ?>
     <div class="head no-img"><span><?php echo $translator['L_PROGRAM_INFORMATION']; ?></span></div>
          <div class="detail-section">
            <div class="common-form">   
                <div class="row">
                    <div class="col1">  
                        <label><?php echo $translator['PROGNAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name')); ?> 
                    </div>
                    <div class="col1 right">  
                        <label><?php echo $translator['PROGCODE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('program_code')); ?> 
                    </div>
                </div>
                
                
                
                <div class="row">
                   <div class="col1"> 
                         <label>&nbsp;</label>
                        <span class="checkbox-auto"><?php echo $this->formRow($form->get('is_available_for_donation')); ?>
                        <label  for="is_available_for_donation"><?php echo $translator['L_IS_AVAILABLE_FOR_DONATION']; ?></label></span>				   
                   </div>
                   
                   <div class="col1 right">    
                        <label id="glcode_label"><?php echo $translator['GL_CODE']; ?></label>
                        <label id="general_glcode_label" style="display:none;"><?php echo $translator['GENERAL_GL_CODE']; ?></label>
                        <?php echo $this->formRow($form->get('gl_code')); ?> 
                    </div>
                </div>
                
               
               <div class="row">  
                    <div class="col1">
                         <label><?php echo $translator['DEPARTMENT']; ?></label>
                         <?php echo $this->formRow($form->get('department')); ?> 
                     </div>

                     <div class="col1 right" id="major_glcode_label" style="display:none;">
                         <label><?php echo $translator['MAJOR_GL_CODE']; ?></label>
                         <?php echo $this->formRow($form->get('major_gl_code')); ?> 
                     </div>
                </div>   
                
            
                
                <div class="row">
                   <div class="col1">  
                    <label><?php echo $translator['DESIGNATION']; ?></label>
                    <?php echo $this->formRow($form->get('designation')); ?> 
                   </div>  
                   <div class="col1 right">  
                    <label><?php echo $translator['ALLOCATION']; ?></label>
                    <?php echo $this->formRow($form->get('allocation')); ?> 
                   </div> 
                </div>
                
                <div class="row">
                    <div class="col1"> 
                         <label>&nbsp;</label>
                        <span class="checkbox-auto">
                             <?php echo $this->formRow($form->get('is_restriction')); ?>
                             <label for="is_restriction"><?php echo $translator['L_RESTRICTED']; ?></label>
                        </span>
                         
                    </div>
                    <div class="col1 right"> 
                        <label><?php echo $translator['L_DESCRIPTION']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('description')); ?> 
                    </div>
                </div>
                
          </div>
    </div> 
    
    <div class="common-form">
      <div class="col1  m-t-20">
            <?php echo $this->formRow($form->get('save')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
      </div>
    </div>  
    
    <?php 
        echo $this->formRow($form->get('programId')); 
        echo $this->formRow($form->get('isusable'));
        echo $this->formRow($form->get('program_code_hidden'));
    ?> 
    <?php echo $this->form()->closeTag(); ?>
</div>

</div>