<html>
    <head>
        <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" >
        <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/jquery-ui-custom.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" >
        <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/colorbox.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" >
        <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/ui.jqgrid.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" >
        <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
        <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/grid.locale-en.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
        <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.jqGrid.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

        <style>
            .ui-pg-table { height: auto !important; color: #ffffff !important; }
        </style>    
    </head>
<?php
 
/**
 * This view is used to list program
 * @package    Setting
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
echo '<script type="text/javascript">';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
echo '</script>';
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/crm.program.popup.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<body>
<div class="pop-container">
<h2>Please click on the "Program Name" to select the program.</h2>
   <div id="gview_list" class="left full m-t-10">
        <div class="grid-box">
           <table id="program_list"></table>
            <div id="pcrud_program"></div>
            <br><br>
        </div>
    </div>    
</div>
</body>
</html>