<?php
 
/**
 * This view is used to list program
 * @package    Setting
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
echo '<script type="text/javascript">';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
echo '</script>';
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/crm.program.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="create-contacts">
    <h2><?php  echo $translator['L_PROGRAM'] ?></h2>
    <div class="breadcrumb">
        <?php  echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
 
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        
        <div id="success-message" class="success-msg" style="display:none;"></div>
        <div id="successRow" class="success-msg row" style="display:none;"></div>

        <div class="head no-img"><span><?php echo $translator['L_SEARCH_PROGRAM'] ?></span></div>
        <?php
        $searchCrmForm = $this->searchCrmProgramForm;
        $searchCrmForm->prepare();
        echo $this->form()->openTag($searchCrmForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php  echo $translator['L_PROGRAM_NAME'] ?></label>
                        <?php  echo $this->formRow($searchCrmForm->get('program')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php  echo $translator['L_PROGRAM_CODE'] ?></label>
                        <?php  echo $this->formRow($searchCrmForm->get('program_code')); ?>
                    </div>

                </div>
                <div class="row">

                    <div class="col1">
                        <label><?php  echo $translator['L_ON_WEBSITE'] ?></label>
                        <?php  echo $this->formRow($searchCrmForm->get('is_available_for_donation')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>
                        <?php  echo $this->formRow($searchCrmForm->get('submit')); ?>
                    </div>
                </div>

            </div>
        </div>
        <?php  echo $this->form()->closeTag(); ?>
    </div>
</div>

<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULT'] ?></h3>
        <p>
            <?php  echo $translator['L_BELOW_RECORDS_MATCHES_CRITERIA'] ?>
            <a href="/create-crm-program"><?php  echo $translator['L_CREATE_NEW'] ?></a>
        </p>
    </div>  
    
    <div class="grid-section">      
        <div class="grid-box" id="gview_list">
            <table id="program_list"></table>
            <div id="pcrud_program"></div>
            <br><br>
        </div>
    </div>
</div>    

<div style='display:none'>
    <div id='delete_program' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>        
        <h2><?php echo $translator['DELETE_PROGRAM']; ?></h2>
        <p><?php echo $translator['ARE_U_SURE_TO_DELETE_PROGRAM']; ?></p>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>