<?php
/**
 * This page is used for program detail information
 * @package    Setting_ProgramController_getProgramDetailsAction
 * @author     Icreon Tech - NS
 */

$translator = $this->jsLangTranslate;
echo '<script>';
$var = '';
if(is_array($this->jsLangTranslate))
{
	foreach ($jsLangTranslate as $key => $val) {
	    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
	}
}
$var .= ' var mode="'.$mode.'";';
$var .= ' var crm_program_id="'.$programId.'";';
$var .= ' var moduleName="'.$module_name.'";';

echo $var;
echo '</script>';
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/crm.program.detail.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts case">
    <h2>
        <?php  echo $translator['PRO_HEADING0']; ?>
        <?php if(isset($programArray[0]['program']) and trim($programArray[0]['program']) != "") {  echo '<div class="user-name-top">'.trim($programArray[0]['program']).'</div>'; } ?>
    </h2>
    <div class="accordion-detail">
        <div id="pageAction">
          <ul class="edit-link">
              <li><a href="javascript:void(0);" onclick="javascript:getProgramDetail();" class="active" id="tab-1"><?php echo $translator['L_PROGRAM_VIEW']; ?></a></li>
              <li><a href="javascript:void(0);" onclick="javascript:editProgramDetails();" id="tab-2"><?php echo $translator['L_PROGRAM_EDIT']; ?></a></li>
              <li><a href="javascript:void(0);" onclick="javascript:programChangelog();" id="tab-3"><?php echo $translator['L_PROGRAM_CHANGELOG']; ?></a></li>
          </ul>
        </div>
        <div id="programContent"></div>
    </div>
</div>
	 
	 