      
<?php
/**
 * This file is used to program view detail
 * @package    User
 * @author     Icreon Tech - NS
 */
$translator = $jsLangTranslate;
?>
<div class="breadcrumb">
  <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>

 
    <?php
        $form = $this->addProgramForm;
        $form->prepare();
        echo $this->form()->openTag($form);
    ?>
     <div class="head no-img"><span><?php echo $translator['L_PROGRAM_INFORMATION']; ?></span></div>
          <div class="detail-section">
            <div class="common-form">   
                <div class="row">
                    <div class="col1">  
                        <label class="width-190"><?php echo $translator['PROGNAME']; ?></label>
                        <span class="view-text"><?php if(isset($programArray['program']) and trim($programArray['program']) != "") { echo trim($programArray['program']); } ?></span> 
                    </div>
                    <div class="col1 right">  
                        <label class="width-190"><?php echo $translator['PROGCODE']; ?></label>
                        <span class="view-text"><?php if(isset($programArray['program_code']) and trim($programArray['program_code']) != "") { echo trim($programArray['program_code']); } ?></span> 
                    </div>
                </div>
                
                
                
                <div class="row">
                   <div class="col1">   
                    <label class="width-190"><?php echo $translator['L_IS_AVAILABLE_FOR_DONATION']; ?></label>
                    <span class="view-text">
                      
                        <?php 
                       if(isset($programArray['is_available_for_donation']) and trim($programArray['is_available_for_donation']) != "") { 
                           if(trim($programArray['is_available_for_donation']) == "1") { echo 'Yes'; } else { echo 'No'; }                            
                       } 
                      ?>
                  </span>
                   </div>
                   
                   <div class="col1 right">    
                        <label id="glcode_label" <?php if(isset($programArray['is_available_for_donation']) and $programArray['is_available_for_donation'] == "1") { echo ' style="display:none;" '; } else  { echo ' style="display:block;" ';  } ?> class="width-190"><?php echo $translator['GL_CODE']; ?></label>
                        <label id="general_glcode_label" <?php if(isset($programArray['is_available_for_donation']) and $programArray['is_available_for_donation'] == "1") { echo ' style="display:block;" '; } else  { echo ' style="display:none;" ';  } ?> class="width-190"><?php echo $translator['GENERAL_GL_CODE']; ?></label>
                         <span class="view-text"><?php if(isset($programArray['gl_code']) and trim($programArray['gl_code']) != "") { echo trim($programArray['gl_code']); } ?> </span>
                    </div>
                </div>
                
               
               <div class="row">  
                    <div class="col1">
                         <label class="width-190"><?php echo $translator['DEPARTMENT']; ?></label>
                         <span class="view-text"><?php if(isset($programArray['department']) and trim($programArray['department']) != "") { echo trim($programArray['department']); }  ?></span>
                     </div>

                     <div class="col1 right" id="major_glcode_label" <?php if(isset($programArray['is_available_for_donation']) and $programArray['is_available_for_donation'] == "1") { echo ' style="display:block;" '; } else  { echo ' style="display:none;" ';  } ?>>
                         <label class="width-190"><?php echo $translator['MAJOR_GL_CODE']; ?></label>
                         <span class="view-text"><?php if(isset($programArray['major_gl_code']) and trim($programArray['major_gl_code']) != "") { echo trim($programArray['major_gl_code']); } ?></span>
                     </div>
                </div>   
                
            
                
                <div class="row">
                   <div class="col1">  
                    <label class="width-190"><?php echo $translator['DESIGNATION']; ?></label>
                    <span class="view-text"><?php if(isset($programArray['designation']) and trim($programArray['designation']) != "") { echo trim($programArray['designation']);  }  ?></span>
                   </div>  
                   <div class="col1 right">  
                    <label class="width-190"><?php echo $translator['ALLOCATION']; ?></label>
                    <span class="view-text"><?php if(isset($programArray['allocation']) and trim($programArray['allocation']) != "") { echo trim($programArray['allocation']); }  ?></span>
                   </div> 
                </div>
                
                <div class="row">
                    <div class="col1"> 
                        <label class="width-190"><?php echo $translator['L_RESTRICTED']; ?></label>
                        <span class="view-text"><?php 
                        if(isset($programArray['is_restriction']) and trim($programArray['is_restriction']) != "") { 
                              if(trim($programArray['is_restriction']) == "1") { echo 'Yes'; } else { echo 'No'; } 
                         }  
                        ?></span>
                    </div>
                    <div class="col1 right"> 
                        <label class="width-190"><?php echo $translator['L_DESCRIPTION']; ?></label>
                        <span class="view-text"><?php if(isset($programArray['program_description']) and trim($programArray['program_description']) != "") { echo trim($programArray['program_description']); } ?> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1"> 
                        <label class="width-190">Status</label>
                        <span class="view-text"><?php 
                        if(isset($programArray['is_status']) and trim($programArray['is_status']) != "") { 
                              if(trim($programArray['is_status']) == "1") { echo 'Active'; } elseif(trim($programArray['is_status']) == "0") { echo 'Inactive'; }elseif(trim($programArray['is_status']) == "2") { echo 'Archive'; } 
                         }  
                        ?></span>
                    </div>
                </div>
          </div>
    </div> 
    
    <div class="common-form">
      <div class="col1  m-t-20">
            <?php //echo $this->formRow($form->get('cancel_view')); ?>
      </div>
    </div>  
    
 
    <?php echo $this->form()->closeTag(); ?>
 

 