<?php
/**
 * This file is used for create promotion
 * @package    Promotion_PromotionController_addCrmPromotionAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/promotion/promotion.promotion.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_PROMOTION']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->createPromotionForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('promotion_id'));
        ?>
        <div class="head no-img"><span><?php echo $translator['L_COUPON_INFORMATION']; ?></span></div>
        <div class="detail-section p-b-0">
            <div class="common-form">
                <div class="row1">
                    <div style="width:50%; float:left;">
                        <div class="full relative">
                            <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('promotion_name')); ?>
                        </div>
                        <div class="full m-t-20">
                            <label><?php echo $translator['L_APPLICABLE_FOR']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('applicable_id')); ?>
                        </div>
                    </div>    
                    <div class="col1 right">
                        <label><?php echo $translator['L_DESCRIPTION']; ?></label>
                        <?php echo $this->formRow($form->get('promotion_description')); ?>
                    </div>
                    <div class="col1 right">&nbsp;</div>


                </div>

                <div class="row1 no-padd" id="contact_section" style="display:none;">
                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('user')); ?>
                        <?php echo $this->formRow($form->get('user_ids')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="select_product_category_label2"></label>
                        <div class="select_product_div"><ul id="select_user">
                            </ul></div>
                    </div>
                </div>
                <div class="row1 no-padd" id="group_section" style="display:none;">
                    <div class="col1">
                        <label><?php echo $translator['L_GROUP_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('group_name')); ?>
                        <?php echo $this->formRow($form->get('group_name_ids')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="select_product_category_label2"></label>
                        <div class="select_product_div"><ul id="select_group">
                            </ul></div>
                    </div>
                </div>
                <div class="row m-t-5" id="applicable_excluded" style="display:none;">
                    <div class="col1 right">
                        <label><?php echo $translator['L_EXCLUDED']; ?></label>
                        <?php echo $this->formRow($form->get('is_excluded_applied')); ?>
                        <label class="check" for="is_excluded_applied">&nbsp;</label>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_CATEGORY']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('product_category')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_DISCOUNT']; ?></label>
                        <?php echo $this->formRow($form->get('discount')); ?>
                    </div>
                </div>
                <div class="row1 no-padd" id="category_section" style="display:none;">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('category_name')); ?>
                        <?php echo $this->formRow($form->get('category_name_ids')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="select_product_category_label"></label>
                        <div class="select_product_div"><ul id="select_category">
                            </ul></div>
                    </div>
                </div>
                <div class="row1 no-padd" id="product_section" style="display:none;">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('product_name')); ?>
                        <?php echo $this->formRow($form->get('product_name_ids')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="select_product_category_label"></label>
                        <div class="select_product_div"><ul id="select_product">
                            </ul></div>
                    </div>
                </div>
                <div class="row m-t-5" id="product_category_excluded" style="display:none;">
                    <div class="col1 right">
                        <label><?php echo $translator['L_EXCLUDED']; ?></label>
                        <?php echo $this->formRow($form->get('is_excluded_product_category')); ?>
                        <label class="check" for="is_excluded_product_category">&nbsp;</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_VALID_FROM']; ?></label>
                        <?php echo $this->formRow($form->get('start_date')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('expiry_date')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_USAGE_LIMIT']; ?></label>
                        <?php echo $this->formRow($form->get('usage_limit')); ?>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FREE_SHIPPING']; ?></label>
                        <?php echo $this->formRow($form->get('is_free_shipping')); ?>
                        <label class="check" for="is_free_shipping">&nbsp;</label>

                        <div id="freeShipAmount" style="display:none;"><label class="auto"><?php echo $translator['L_AMOUNT'] . " $"; ?></label><?php echo $this->formRow($form->get('free_shipping_amount')); ?></div>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_DOMESTIC']; ?>&nbsp;<span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('is_domestic')); ?>
                        <label id="error_domestic" style="display:none" class="error">Please select one</label>
                        <label class="check" for="is_domestic">&nbsp;</label>
                        <label>&nbsp;&nbsp;&nbsp;<?php echo $translator['L_INTERNATIONAL']; ?></label>
                        <?php echo $this->formRow($form->get('is_international')); ?>
                        <label class="check" for="is_international">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="common-form">
                <div class="col1 m-t-20 p-b-20">
                    <?php echo $this->formRow($form->get('savepromotion')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</div>