<?php
/**
 * This file is used for create promotion
 * @package    Promotion_PromotionController_addCrmPromotionAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/promotion/product.promotion.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_PROMOTION']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->createPromotionForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('promotion_id'));
        ?>
        <div class="head no-img"><span><?php echo $translator['L_COUPON_INFORMATION']; ?></span></div>
        <div class="detail-section p-b-0">
            <div class="common-form">
                <div class="row1">
                    <div style="width:50%; float:left;">
                        <div class="full relative">
                            <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('promotion_name')); ?>
                        </div>
                    </div>    
                    <div class="col1 right">
                        <label><?php echo $translator['L_DESCRIPTION']; ?></label>
                        <?php echo $this->formRow($form->get('promotion_description')); ?>
                    </div>
                    <div class="col1 right">&nbsp;</div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <div class="row">
                            <label><?php echo $translator['L_APPLICABLE_FOR']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('applicable_id')); ?>
                        </div>
                        <div class="row1 no-padd" id="contact_section" style="display:none;">
                            <div class="row">
                                <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('user')); ?>
                                <?php echo $this->formRow($form->get('user_ids')); ?>
                            </div>
                            <div class="row">
                                <label class="select_product_category_label2"></label>
                                <div class="select_product_div"><ul id="select_user">
                                    </ul></div>
                            </div>
                        </div>
                        <div class="row1 no-padd" id="group_section" style="display:none;">
                            <div class="row">
                                <label><?php echo $translator['L_GROUP_NAME']; ?><span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('group_name')); ?>
                                <?php echo $this->formRow($form->get('group_name_ids')); ?>
                            </div>
                            <div class="row">
                                <label class="select_product_category_label2"></label>
                                <div class="select_product_div"><ul id="select_group">
                                    </ul></div>
                            </div>
                        </div>
                    </div>		
                </div>            
                <div class="row">
                    <div class="col1">
                        <div class="row">
                            <label><?php echo $translator['L_VALID_FROM']; ?></label>
                            <?php echo $this->formRow($form->get('start_date')); ?>
                            <label class="auto"><?php echo $translator['L_TO']; ?></label>
                            <?php echo $this->formRow($form->get('expiry_date')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_DISPLAY']; ?><span class="red">*</span></label>
                            <span class="radio-label m-t-5 left rel-auto-error">
                                <?php echo $this->formRow($form->get('promotion_display')); ?>
                            </span>
                        </div>
                    </div>
                    <div class="col1 right">
                        <!--<div class="row no-padd">
                            <h3>Excluded Products</h3>
                        </div>
                        <div class="row no-padd input-wdth-auto">                            
                            <div class="col1">
                                <div class="row common-form">
                                    <label><?php echo $translator['L_PRODUCT_TYPE']; ?>
                                    </label>
                                    <?php echo $this->formRow($form->get('excluded_product_type_name')); ?>
                                    <?php echo $this->formRow($form->get('excluded_product_type')); ?>
                                </div>
                                <div class="row">
                                    <label class="select_product_category_label"></label>
                                    <div class="select_product_div">
                                        <ul id="select_excluded_product_type">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 right input-wdth-auto">
                                <div class="row common-form">
                                    <label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
                                    <?php echo $this->formRow($form->get('excluded_product_name')); ?>
                                    <?php echo $this->formRow($form->get('excluded_products')); ?>
                                </div>
                                <div class="row">
                                    <label class="select_product_category_label"></label>
                                    <div class="select_product_div"><ul id="select_excluded_product">
                                        </ul></div>
                                </div>
                            </div>
                        </div>-->
						<div class="row">
							<h3>Usage Limit<span class="red">*</span></h3>	
						</div>
						<div class="row m-t-5 left">				
							<span class="radio-label rel-auto-error">
								<?php echo $this->formRow($form->get('usage_limit_type')); ?></span>
							<span class="common-form auto rel-auto-error"><?php echo $this->formRow($form->get('usage_limit')); ?></span>
							<span style="display:none;" id="usage_limit_display"><span class="checkbox-auto"><?php echo $this->formRow($form->get('usage_limit_per_contact')); ?>
									<label for="usage_limit_per_contact">One Time Per Contact</label></span></span>                    
						</div>
                    </div>
                </div>
                <!--new html added-->
                <!--<div class="row">
                    <h3>Usage Limit<span class="red">*</span></h3>	
                </div>
                <div class="row m-t-5 left">				
                    <span class="radio-label rel-auto-error">
                        <?php echo $this->formRow($form->get('usage_limit_type')); ?></span>
                    <span class="common-form auto rel-auto-error"><?php echo $this->formRow($form->get('usage_limit')); ?></span>
                    <span style="display:none;" id="usage_limit_display"><span class="checkbox-auto"><?php echo $this->formRow($form->get('usage_limit_per_contact')); ?>
                            <label for="usage_limit_per_contact">One Time Per Contact</label></span></span>                    
                </div>-->
                <div class="row">
                    <div class="col1"><h3>Promotion Provides<span class="red">*</span></h3></div>
                    <div class="col1 right"><h3>Promotion Qualifies By<span class="red">*</span></h3></div>
                </div>
                <div class="row">
                    <div class="col1">
                        <div class="row"> 
                            <span class="checkbox-auto rel-auto-error"><?php echo $this->formRow($form->get('is_shipping_discount')); ?>
                                <label for="is_shipping_discount">Shipping Discount</label></span>
                        </div>
                        <div class="row" id="shipping_discount_type_div" style="display:none;">                
                            <div class="full">
                                <span class="radio-label m-t-5 left">
                                    <div class="row">
                                        <span class="m-l-40 left rel-auto-error">
                                            <?php echo $this->formRow($form->get('shipping_discount_type')); ?>                                        
                                        </span>
                                        <span class="common-form auto">
                                            <span class="text left m-r-5 m-t-5 rel-auto-error">$</span>
                                            <?php echo $this->formRow($form->get('shipping_discount_amount')); ?>
                                        </span>
                                    </div>
                                    <div class="row" id="free_shipping_location"  style="display:none;">
                                        <span class="m-l-40 left">
                                            <label>Shipping Location(s):</label>
                                            <div class="custom-checkbox">
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" value="<?php echo $applicationConfigIds['domestic_pb_id']; ?>" id="shipping_address_location_1" class="e2 address-checkbox rel-auto-error" name="shipping_address_location[]" onChange="enableShippingMethod();"  >
                                                    <label for="shipping_address_location_1" class="">Domestic</label>
                                                </div>                                            
                                            </div>
                                            <div class="custom-checkbox">
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" value="<?php echo $applicationConfigIds['internation_pb_id']; ?>" id="shipping_address_location_2" class="e2 address-checkbox" name="shipping_address_location[]" /*onChange="enableShippingMethod();"*/  >
                                                    <label for="shipping_address_location_2" class="">International</label>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="row" id="free_shipping_methods" style="display:none;">
                                        <span class="m-l-40 left">
                                            <label>Domestic Shipping Method(s):</label>
                                            <?php
                                            $i = 0;
                                            foreach ($getDomesticShippingMethods as $k1 => $v1) {
                                                ++$i;
                                                ?>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" value="<?php echo $v1['pb_shipping_type_id']; ?>" id="pb_shipping_type_id_d_<?php echo $v1['pb_shipping_type_id']; ?>" class="e2 address-checkbox <?php if ($i == 1) { ?>rel-auto-error<?php } ?>" name="pb_shipping_type_id[]" <?php if ($v1['pb_shipping_type_id']==1){ ?> checked="checked" <?php } ?> >
                                                    <label for="pb_shipping_type_id_<?php echo $v1['pb_shipping_type_id']; ?>" class=""><?php echo $v1['web_selection']; ?></label>
                                                </div>
                                            <?php } ?>
                                        </span>
                                    </div>
                                    <div class="row" id="international_shipping_methods" style="display:none;">
                                        <span class="m-l-40 left">
                                            <label>International Shipping Method(s):</label>
                                            <?php
                                            $j = 0;
                                            foreach ($getInternationalShippingMethods as $k2 => $v2) {
                                                ++$j;
                                                ?>
                                                <div class="custom-checkbox">
                                                    <input type="checkbox" value="<?php echo $v2['pb_shipping_type_id']; ?>" id="pb_shipping_type_id_i_<?php echo $v2['pb_shipping_type_id']; ?>" class="e2 address-checkbox" name="pb_shipping_type_id[]">
                                                    <label for="pb_shipping_type_id_<?php echo $v2['pb_shipping_type_id']; ?>" class=""><?php echo $v2['web_selection']; ?></label>
                                                </div>
                                            <?php } ?>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col1 right radio-label">
                        <div class="row">
                            <div class="custom-radio">
                                <div class="custom-radio">
                                    <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="4" class="e2 address-checkbox  rel-auto-error" id="address-checkbox_20" name="promotion_qualified_by">
                                    <label for="address-checkbox_20" class="">Global</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="custom-radio">
                                <div class="custom-radio">
                                    <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="1" class="e2 address-checkbox" id="promotion_qualified_by" name="promotion_qualified_by">
                                    <label for="promotion_qualified_by" class="">Min. Product Cart Amount:</label>
                                </div>
                            </div>
                            <span class="common-form auto">
                                <span class="text left m-r-5 m-t-5">$</span>
                                <?php echo $this->formRow($form->get('promotion_qualified_min_amount')); ?>
                            </span>
							<div id="minimum_amount_product_section" class="row no-padd input-wdth-auto">                            
                                <div class="col1 input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?>
                                            </label>
                                        <?php echo $this->formRow($form->get('minimum_amount_product_type_name')); ?>
                                        <?php echo $this->formRow($form->get('minimum_amount_product_type')); ?>
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div">
                                            <ul id="select_minimum_amount_product_type">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col1 right input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
                                        <?php echo $this->formRow($form->get('minimum_amount_product_name')); ?>
                                        <?php echo $this->formRow($form->get('minimum_amount_products')); ?>
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div"><ul id="select_minimum_amount_product">
                                            </ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <div class="row">
                            <span class="checkbox-auto"><?php echo $this->formRow($form->get('is_cart_discount')); ?>
                                <label for="is_shipping_discount">Cart Discount</label></span>
                        </div>
                        <div class="row" id="cart_discount_type_div" style="display:none;">
                            <span class="radio-label m-l-40 left">
                                <div class="custom-radio">
                                    <div class="custom-radio">
                                        <input type="radio" onclick="javascript:enableCartDiscountAmount(this.value);" value="1" class="e2 address-checkbox rel-auto-error" id="cart_discount_type" name="cart_discount_type">
                                        <label for="cart_discount_type" class="">Percentage:</label>
                                    </div>
                                </div>
                                <span class="common-form auto">
                                    <span class="text left m-r-5 m-t-5  rel-auto-error">%</span>
                                    <?php echo $this->formRow($form->get('cart_discount_percent')); ?>
                                </span>
                                <div class="custom-radio">
                                    <div class="custom-radio">
                                        <input type="radio" onclick="javascript:enableCartDiscountAmount(this.value);" value="2" class="e2 address-checkbox  rel-auto-error" name="cart_discount_type" id="address-checkbox_18">
                                        <label for="address-checkbox_18" class="">Amount Off:</label>
                                    </div>
                                </div>
                                <span class="common-form auto  rel-auto-error"><span class="text left m-r-5 m-t-5">$</span>
                                    <?php echo $this->formRow($form->get('cart_discount_amount')); ?>
                                </span>
                            </span>
                        </div>
                        <div class="row">
                            <span class="radio-label m-t-5 left">
                                <span class="checkbox-auto"><?php echo $this->formRow($form->get('is_free_product')); ?>
                                    <label class="check" for="is_free_product">Free Products</label></span>
                            </span>
                        </div>
                        <div class="row1 no-padd" id="free_product_section" style="display:none;">
                            <div class="row common-form">
                                <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('free_product_name')); ?>
                                <?php echo $this->formRow($form->get('free_products')); ?>
                            </div>
                            <div class="row">
                                <label class="select_product_category_label"></label>
                                <div class="select_product_div"><ul id="select_free_product">
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--end new html-->                    
                    </div>
                    <div class="col1 right">
                        <div class="row">
                            <span class="radio-label m-t-5 left">
                                <div class="custom-radio">
                                    <div class="custom-radio">
                                        <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="2" class="e2 address-checkbox" name="promotion_qualified_by" id="address-checkbox_17">
                                        <label for="address-checkbox_17" class="">All Bundled Products</label>
                                    </div>
                                </div>
                            </span>
                            <div id="bundle_product_section" class="row no-padd input-wdth-auto" style="display:none;">                            
                                <div class="col1 input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?>
                                            <span class="red">*</span></label>
                                        <?php echo $this->formRow($form->get('bundle_product_type_name')); ?>
                                        <?php echo $this->formRow($form->get('bundle_product_type')); ?>
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div">
                                            <ul id="select_bundle_product_type">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col1 right input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                                        <?php echo $this->formRow($form->get('bundle_product_name')); ?>
                                        <?php echo $this->formRow($form->get('bundle_products')); ?>
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div"><ul id="select_bundle_product">
                                            </ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="full">
                                <span class="radio-label m-t-5 left">
                                    <div class="custom-radio">
                                        <div class="custom-radio">
                                            <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="3" class="e2 address-checkbox" name="promotion_qualified_by" id="address-checkbox_19">
                                            <label for="address-checkbox_19" class="">Any Product in List</label>
                                        </div>
                                    </div>
                                </span>
                                <div id="promotion_any_section" class="row no-padd" style="display:none;">
                                    <div class="col1 input-wdth-auto">
                                        <div class="row common-form">
                                            <label><?php echo $translator['L_PRODUCT_TYPE']; ?><span class="red">*</span></label>
                                            <?php echo $this->formRow($form->get('promotion_any_product_type_name')); ?>
                                            <?php echo $this->formRow($form->get('promotion_any_product_type')); ?>
                                        </div>
                                        <div class="row">
                                            <label class="select_product_category_label"></label>
                                            <div class="select_product_div">
                                                <ul id="select_promotion_any_product_type">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col1 right input-wdth-auto">
                                        <div class="row common-form">
                                            <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                                            <?php echo $this->formRow($form->get('promotion_any_product')); ?>
                                            <?php echo $this->formRow($form->get('promotion_any_products')); ?>
                                        </div>
                                        <div class="row">
                                            <label class="select_product_category_label"></label>
                                            <div class="select_product_div"><ul id="select_promotion_any_product">
                                                </ul></div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
						
							<div class="row no-padd">
								<h3>Excluded Products</h3>
							</div>
							<div class="row no-padd input-wdth-auto">                            
								<div class="col1">
									<div class="row common-form">
										<label><?php echo $translator['L_PRODUCT_TYPE']; ?>
										</label>
										<?php echo $this->formRow($form->get('excluded_product_type_name')); ?>
										<?php echo $this->formRow($form->get('excluded_product_type')); ?>
									</div>
									<div class="row">
										<label class="select_product_category_label"></label>
										<div class="select_product_div">
											<ul id="select_excluded_product_type">
											</ul>
										</div>
									</div>
								</div>
								<div class="col1 right input-wdth-auto">
									<div class="row common-form">
										<label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
										<?php echo $this->formRow($form->get('excluded_product_name')); ?>
										<?php echo $this->formRow($form->get('excluded_products')); ?>
									</div>
									<div class="row">
										<label class="select_product_category_label"></label>
										<div class="select_product_div"><ul id="select_excluded_product">
											</ul></div>
									</div>
								</div>
							</div>
                    </div>
                </div>
            </div>
            <div class="common-form">
                <div class="row">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('savepromotion')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
<script>
                                                        $($(".address-checkbox")).each(function(i) {
                                                            if ($(this).is('[type=checkbox],[type=radio]')) {
                                                                var input = $(this);
                                                                var input_class = input.attr('class').split(" ");
                                                                var id_name = '';
                                                                if (input.attr('id') == 'undefined' || input.attr('id') == '' || input.attr('id') == undefined || input.attr('id') == null) {
                                                                    id_name = input_class['1'] + '_' + i;
                                                                } else {
                                                                    id_name = input.attr('id');
                                                                }
                                                                input.attr({'id': id_name});

                                                                // get the associated label using the input's id

                                                                var label = $('label[for=' + input.attr('id') + ']');
                                                                var outerLabel = input.parent();
                                                                var outerLabelParent = input.parent().parent();

                                                                //get type, for classname suffix 
                                                                var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
                                                                //if(inputType=='radio') {
                                                                var oDiv = $(document.createElement('label')).attr({'for': id_name}).html($(outerLabel).text());
                                                                $(outerLabel).remove();
                                                                outerLabelParent.append(input, oDiv);
                                                                //}
                                                            }
                                                        });
                                                        $(".address-checkbox").customInput();
</script>