<?php
/**
 * This file is used to load when click on edit tab in promotion detail page
 * @package    Promotion_PromotionController_editCrmPromotionDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/promotion/product.promotion.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script>
    $('.e1').select2();
    $($(".address-checkbox")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            var id_name = '';
            if (input.attr('id') == 'undefined' || input.attr('id') == '' || input.attr('id') == undefined || input.attr('id') == null) {
                id_name = input_class['1'] + '_' + i;
            } else {
                id_name = input.attr('id');
            }
            input.attr({'id': id_name});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': id_name}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".address-checkbox").customInput();
</script>

<div class="breadcrumb">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
    <?php
    $form = $this->createPromotionForm;
    $form->setAttributes(array(
        'id' => 'edit_promotion',
        'name' => 'edit_promotion',
        'action' => $this->url('editCrmProductPromotion', array('action' => 'editCrmProductPromotion'))
            )
    );
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('promotion_id'));
    ?>
    <div class="head no-img"><span><?php echo $translator['L_COUPON_INFORMATION']; ?></span></div>
    <div class="detail-section p-b-0">
        <div class="common-form">
            <div class="row1">
                <div style="width:50%; float:left;">
                    <div class="full relative">
                        <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('promotion_name')); ?>
                    </div>
                </div>    
                <div class="col1 right">
                    <label><?php echo $translator['L_DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($form->get('promotion_description')); ?>
                </div>
                <div class="col1 right">&nbsp;</div>
            </div>
            <div class="row no-padd">
                <div class="col1">
                    <div class="row">
                        <label><?php echo $translator['L_APPLICABLE_FOR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('applicable_id')); ?>
                    </div>
                    <div class="row1 no-padd" id="contact_section" style="<?php echo ($promotionDetail['applicable'] == 'Contact') ? 'display:block' : 'display:none'; ?>">
                        <div class="row">
                            <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('user')); ?>
                        </div>
                        <div class="row">
                            <label class="select_product_category_label2">
                                <?php
                                if ($promotionDetail['applicable'] == 'Contact') {
                                    echo $translator['L_SELECTED_CONTACT_LIST'];
                                } else if ($promotionDetail['applicable'] == 'Group') {
                                    echo $translator['L_SELECTED_GROUP_LIST'];
                                }
                                ?>
                            </label>
                            <div class="select_product_div">
                                <ul id="select_user">
                                    <?php
                                    $userIds = '';
                                    if ($promotionDetail['applicable'] == 'Contact') {

                                        if (!empty($this->promotionAppliedDetail)) {

                                            foreach ($this->promotionAppliedDetail as $applicableData) {
                                                $userIds.=$applicableData['applied_id'] . ",";
                                                ?>
                                                <li id='user<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"user")'>x</span></li>
                                                <?php
                                            }
                                            $userIds = substr($userIds, 0, -1);
                                        }
                                    }
                                    ?>
                                </ul>
                                <?php
                                $form->get('user_ids')->setAttribute('value', $userIds);
                                echo $this->formRow($form->get('user_ids'));
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="row1 no-padd" id="group_section" style="<?php echo ($promotionDetail['applicable'] == 'Group') ? 'display:block' : 'display:none'; ?>">
                        <div class="row">
                            <label><?php echo $translator['L_GROUP_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('group_name')); ?>
                        </div>
                        <div class="row">
                            <label class="select_product_category_label2">
                                <?php
                                if ($promotionDetail['applicable'] == 'Contact') {
                                    echo $translator['L_SELECTED_CONTACT_LIST'];
                                } else if ($promotionDetail['applicable'] == 'Group') {
                                    echo $translator['L_SELECTED_GROUP_LIST'];
                                }
                                ?>
                            </label>
                            <div class="select_product_div">
                                <ul id="select_group">
                                    <?php
                                    $groupNameIds = '';
                                    if ($promotionDetail['applicable'] == 'Group') {

                                        if (!empty($this->promotionAppliedDetail)) {
                                            foreach ($this->promotionAppliedDetail as $applicableData) {
                                                $groupNameIds.=$applicableData['applied_id'] . ",";
                                                ?>
                                                <li id='group<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"group")'>x</span></li>
                                                <?php
                                            }
                                            $groupNameIds = substr($groupNameIds, 0, -1);
                                        }
                                    }
                                    ?>
                               </ul>
                                <?php
                                $form->get('group_name_ids')->setAttribute('value', $groupNameIds);
                                echo $this->formRow($form->get('group_name_ids'));
                                ?>
                            </div>
                        </div>
                    </div>
                </div>		
            </div>            
            <div class="row">
                <div class="col1">
                    <div class="row">
                        <label><?php echo $translator['L_VALID_FROM']; ?></label>
                        <?php echo $this->formRow($form->get('start_date')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('expiry_date')); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_DISPLAY']; ?><span class="red">*</span></label>
                        <span class="radio-label m-t-5 left rel-auto-error">
                            <?php echo $this->formRow($form->get('promotion_display')); ?>
                        </span>
                    </div>
                </div>
                <div class="col1 right">
                    <!--<div class="row no-padd">
                        <h3>Excluded Products</h3>
                    </div>
                    <div class="row no-padd input-wdth-auto">                            
                        <div class="col1">
                            <div class="row common-form">
                                <label><?php echo $translator['L_PRODUCT_TYPE']; ?></label>
                                <?php echo $this->formRow($form->get('excluded_product_type_name')); ?>                                
                            </div>
                            <div class="row">
                                <label class="select_product_category_label"></label>
                                <div class="select_product_div">
                                    <ul id="select_excluded_product_type">
                                        <?php
                                        $excludedProductTypeIds = '';
                                        if(!empty($excludedProductTypes)){
                                            foreach($excludedProductTypes as $excludedProductType){
                                                $excludedProductTypeIds.=$excludedProductType['product_type_id'].',';
                                         ?>
                                        <li id='excluded_product_type<?php echo $excludedProductType['product_type_id']; ?>'><?php echo $excludedProductType['product_type']; ?><span onclick='removeAutoCompleteValue(<?php echo $excludedProductType['product_type_id']; ?>,"excluded_product_type")'>x</span></li>
                                         <?php
                                            }
                                            $excludedProductTypeIds = substr($excludedProductTypeIds, 0, -1);
                                        }
                                        ?>
                                    </ul>
                                    <?php 
                                    $form->get('excluded_product_type')->setAttribute('value',$excludedProductTypeIds);
                                    echo $this->formRow($form->get('excluded_product_type')); ?>
                                </div>
                            </div>
                        </div>
                        <div class="col1 right input-wdth-auto">
                            <div class="row common-form">
                                <label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
                                <?php echo $this->formRow($form->get('excluded_product_name')); ?>                                
                            </div>
                            <div class="row">
                                <label class="select_product_category_label"></label>
                                <div class="select_product_div">
                                    <ul id="select_excluded_product">
                                        <?php 
                                        $excludedProductIds = '';
                                        if(!empty($excludedProducts)){
                                            foreach($excludedProducts as $excludedProduct){
                                                $excludedProductIds.=$excludedProduct['product_id'].',';
                                         ?>
                                        <li id='excluded_product<?php echo $excludedProduct['product_id']; ?>'><?php echo $excludedProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $excludedProduct['product_id']; ?>,"excluded_product")'>x</span></li>
                                         <?php 
                                           }
                                           $excludedProductIds = substr($excludedProductIds, 0, -1);
                                        }
                                        ?>
                                    </ul>
                                    <?php 
                                    $form->get('excluded_products')->setAttribute('value',$excludedProductIds);
                                    echo $this->formRow($form->get('excluded_products')); 
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>-->
					<div class="row">
						<h3>Usage Limit<span class="red">*</span></h3>	
					</div>
					<div class="row m-t-5 left">				
						<span class="radio-label rel-auto-error">
							<?php echo $this->formRow($form->get('usage_limit_type')); ?></span>
							<script>enableUsageLimit("<?php echo $promotionDetail['usage_limit_type']?>");</script>
						<span class="common-form auto rel-auto-error"><?php echo $this->formRow($form->get('usage_limit')); ?></span>
						<span style="display:none;" id="usage_limit_display"><span class="checkbox-auto"><?php echo $this->formRow($form->get('usage_limit_per_contact')); ?>
								<label for="usage_limit_per_contact">One Time Per Contact</label></span></span>                    
					</div>
                </div>
            </div>
            <!--new html added-->
            <!--<div class="row">
                <h3>Usage Limit<span class="red">*</span></h3>	
            </div>
            <div class="row m-t-5 left">				
                <span class="radio-label rel-auto-error">
                    <?php echo $this->formRow($form->get('usage_limit_type')); ?></span>
                    <script>enableUsageLimit("<?php echo $promotionDetail['usage_limit_type']?>");</script>
                <span class="common-form auto rel-auto-error"><?php echo $this->formRow($form->get('usage_limit')); ?></span>
                <span style="display:none;" id="usage_limit_display"><span class="checkbox-auto"><?php echo $this->formRow($form->get('usage_limit_per_contact')); ?>
                        <label for="usage_limit_per_contact">One Time Per Contact</label></span></span>                    
            </div>-->
            <div class="row">
                <div class="col1"><h3>Promotion Provides<span class="red">*</span></h3></div>
                <div class="col1 right"><h3>Promotion Qualifies By<span class="red">*</span></h3></div>
            </div>
            <div class="row">
                <div class="col1">
                    <div class="row"> 
                        <span class="checkbox-auto rel-auto-error"><?php echo $this->formRow($form->get('is_shipping_discount')); ?>
                        <label for="is_shipping_discount">Shipping Discount</label></span>                            
                    </div>
                    <?php if($promotionDetail['is_shipping_discount']!='' && !is_null($promotionDetail['is_shipping_discount']) && $promotionDetail['is_shipping_discount']=='1') { ?>
                        <script>$("#is_shipping_discount").prop("checked", true);enableShippingDiscount();</script>
                    <?php } ?>
                    <div class="row" id="shipping_discount_type_div" style="<?php if($promotionDetail['is_shipping_discount']=='1'){ ?>display:block;<?php }else{ ?>display:none;<?php } ?>">                
                        <div class="full">
                            <span class="radio-label m-t-5 left">
                                <div class="row">
                                    <span class="m-l-40 left rel-auto-error">
                                        <?php echo $this->formRow($form->get('shipping_discount_type')); ?>                                        
                                    </span>
                                    <span class="common-form auto">
                                        <span class="text left m-r-5 m-t-5 rel-auto-error">$</span>
                                        <?php echo $this->formRow($form->get('shipping_discount_amount')->setValue($promotionDetail['free_shipping_amount'])); //asd($promotionDetail,2); 
										?>
                                    </span>
                                </div>
                                <div class="row" id="free_shipping_location"  style="<?php if($promotionDetail['shipping_discount_type']=='1'){ ?>display:block;<?php }else{ ?>display:none;<?php } ?>">
                                    <span class="m-l-40 left">
                                        <div class="custom-checkbox">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" value="<?php echo $applicationConfigIds['domestic_pb_id'];?>" id="shipping_address_location_1" class="e2 address-checkbox rel-auto-error" name="shipping_address_location[]" onChange="enableShippingMethod();" <?php if(trim($promotionDetail['applicable_to'])==1 || trim($promotionDetail['applicable_to'])==3){ ?>checked<?php } ?>>
                                                <label for="shipping_address_location_1" class="<?php if(trim($promotionDetail['applicable_to'])==1 || trim($promotionDetail['applicable_to'])==3){ ?>checked<?php } ?>">Domestic</label>                                                
                                            </div>                                            
                                        </div>
                                        <div class="custom-checkbox">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" value="<?php echo $applicationConfigIds['internation_pb_id'];?>" id="shipping_address_location_2" class="e2 address-checkbox" name="shipping_address_location[]" /*onChange="enableShippingMethod();"*/ <?php if(trim($promotionDetail['applicable_to'])==2 || trim($promotionDetail['applicable_to'])==3){ ?>checked<?php } ?>>
                                                <label for="shipping_address_location_2" class="<?php if(trim($promotionDetail['applicable_to'])==2 || trim($promotionDetail['applicable_to'])==3){ ?>checked<?php } ?>">International</label>                                                
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="row" id="free_shipping_methods"  style="<?php if(trim($promotionDetail['applicable_to'])==1 || trim($promotionDetail['applicable_to'])==3){ ?>display:block;<?php }else{ ?>display:none;<?php } ?>" >
                                    <span class="m-l-40 left">
                                        <label>Domestic Shipping Method(s):</label>
                                        <?php 
										$i = 0;
										foreach($getDomesticShippingMethods as $k1=>$v1){
										 ++$i;
										 ?>
										<div class="custom-checkbox">
                                            <input type="checkbox" value="<?php echo $v1['pb_shipping_type_id'];?>" id="pb_shipping_type_id_d_<?php echo $i;?>" class="e2 address-checkbox <?php if($i==1){?>rel-auto-error<?php } ?>" name="pb_shipping_type_id[]" <?php if(in_array($v1['pb_shipping_type_id'],explode(',',trim($promotionDetail['pb_shipping_type_id'])))){ ?>checked<?php } ?>>
                                            <label for="pb_shipping_type_id_d_<?php echo $i;?>" class="<?php if(in_array($v1['pb_shipping_type_id'],explode(',',trim($promotionDetail['pb_shipping_type_id'])))){ ?>checked<?php } ?>"><?php echo $v1['web_selection'];?></label>                                            
                                        </div>
										<?php } ?>
                                    </span>
                                </div>
                                <div class="row" id="international_shipping_methods" style="display:none;">
                                    <span class="m-l-40 left">
                                        <label>International Shipping Method(s):</label>
										<?php 
										 $j = 0;
										 foreach($getInternationalShippingMethods as $k2=>$v2){ 
											$j++;
										 ?>
                                        <div class="custom-checkbox">
                                            <input type="checkbox" value="<?php echo $v2['pb_shipping_type_id'];?>" id="pb_shipping_type_id_i_<?php echo $j;?>" class="e2 address-checkbox" name="pb_shipping_type_id[]" <?php if(in_array($v2['pb_shipping_type_id'],explode(',',trim($promotionDetail['pb_shipping_type_id'])))){ ?>checked<?php } ?>>
                                            <label for="pb_shipping_type_id_i_<?php echo $j;?>" class="<?php if(in_array($v2['pb_shipping_type_id'],explode(',',trim($promotionDetail['pb_shipping_type_id'])))){ ?>checked<?php } ?>"><?php echo $v2['web_selection'];?></label>
                                        </div>
										<?php } ?>
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col1 right radio-label">
                    <div class="row">
                        <div class="custom-radio">
                            <div class="custom-radio">
                                <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="4" class="e2 address-checkbox   rel-auto-error" id="address-checkbox_20" name="promotion_qualified_by" <?php if($promotionDetail['promotion_qualified_by']=='4'){?>checked<?php } ?>>
                                <label for="address-checkbox_20" class="<?php if($promotionDetail['promotion_qualified_by']=='4'){?>checked<?php } ?>">Global</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-radio">
                            <div class="custom-radio">
                                <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="1" class="e2 address-checkbox" id="promotion_qualified_by" name="promotion_qualified_by" <?php if($promotionDetail['promotion_qualified_by']=='1'){?>checked<?php } ?>>
                                <label for="promotion_qualified_by" class="<?php if($promotionDetail['promotion_qualified_by']=='1'){?>checked<?php } ?>">Min. Product Cart Amount:</label>
                            </div>
                        </div>
                        <span class="common-form auto">
                            <span class="text left m-r-5 m-t-5">$</span>
                            <?php echo $this->formRow($form->get('promotion_qualified_min_amount')); ?>
                        </span>
						<div id="minimum_amount_product_section" class="row no-padd input-wdth-auto">                            
							<div class="col1 input-wdth-auto">
								<div class="row common-form">
									<label><?php echo $translator['L_PRODUCT_TYPE']; ?>
										</label>
									<?php echo $this->formRow($form->get('minimum_amount_product_type_name')); ?>
								</div>
								<div class="row">
									<label class="select_product_category_label"></label>
									<div class="select_product_div">
										<ul id="select_minimum_amount_product_type"><?php 
                                            $minimumAmountProductTypeIds = '';
                                            if(!empty($minimumAmountProductTypes) && ($promotionDetail['promotion_qualified_by']!='' && !is_null($promotionDetail['promotion_qualified_by']) && $promotionDetail['promotion_qualified_by']=='1')){
                                                foreach($minimumAmountProductTypes as $minimumAmountProductType){
                                                    $minimumAmountProductTypeIds.=$minimumAmountProductType['product_type_id'].",";
                                             ?>
                                            <li id='minimum_amount_product_type<?php echo $minimumAmountProductType['product_type_id']; ?>'><?php echo $minimumAmountProductType['product_type']; ?><span onclick='removeAutoCompleteValue(<?php echo $minimumAmountProductType['product_type_id']; ?>,"minimum_amount_product_type")'>x</span></li>
                                            <?php
                                                }
                                                $minimumAmountProductTypeIds = substr($minimumAmountProductTypeIds, 0, -1);
                                            }
                                            ?></ul>
                                        <?php 
                                        $form->get('minimum_amount_product_type')->setAttribute('value', $minimumAmountProductTypeIds);
                                        echo $this->formRow($form->get('minimum_amount_product_type')); 
                                        ?>
									</div>
								</div>
							</div>
							<div class="col1 right input-wdth-auto">
								<div class="row common-form">
									<label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
									<?php echo $this->formRow($form->get('minimum_amount_product_name')); ?>
								</div>
								<div class="row">
									<label class="select_product_category_label"></label>
									<div class="select_product_div"><ul id="select_minimum_amount_product">
                                            <?php 
                                            $minimumAmountProductIds = '';
                                            if(!empty($minimumAmountProducts) && ($promotionDetail['promotion_qualified_by']!='' && !is_null($promotionDetail['promotion_qualified_by']) && $promotionDetail['promotion_qualified_by']=='1')){
                                                foreach($minimumAmountProducts as $minimumAmountProduct){
                                                    $minimumAmountProductIds.=$minimumAmountProduct['product_id'].",";
                                             ?>
                                            <li id='minimum_amount_product<?php echo $minimumAmountProduct['product_id']; ?>'><?php echo $minimumAmountProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $minimumAmountProduct['product_id']; ?>,"minimum_amount_product")'>x</span></li>
                                            <?php
                                                }
                                                $minimumAmountProductIds = substr($minimumAmountProductIds, 0, -1);
                                            }
                                            ?>
                                        </ul>
                                        <?php
                                        $form->get('minimum_amount_products')->setAttribute('value', $minimumAmountProductIds);
                                        echo $this->formRow($form->get('minimum_amount_products'));
                                        ?></div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <div class="row no-padd">
                <div class="col1">
                    <div class="row">
                        <span class="checkbox-auto"><?php echo $this->formRow($form->get('is_cart_discount')); ?>
                            <label for="is_shipping_discount">Cart Discount</label></span>
                            <?php 
                                if($promotionDetail['is_cart_discount']!='' && !is_null($promotionDetail['is_cart_discount']) && $promotionDetail['is_cart_discount']=='1')
                                    echo '<script>$("#is_cart_discount").prop("checked", true);</script>';
                               ?>
                    </div>
                    <div class="row" id="cart_discount_type_div" style="<?php if($promotionDetail['is_cart_discount']=='1'){?>display:block;<?php }else{ ?>display:none;<?php } ?>">
                        <span class="radio-label m-l-40 left">
                            <div class="custom-radio">
                                <div class="custom-radio">
                                    <input type="radio" onclick="javascript:enableCartDiscountAmount(this.value);" value="1" class="e2 address-checkbox  rel-auto-error" id="cart_discount_type" name="cart_discount_type" <?php if($promotionDetail['cart_discount_type']=='1'){?>checked <?php } ?>>
                                    <label for="cart_discount_type" class=" <?php if($promotionDetail['cart_discount_type']=='1'){?>checked <?php } ?>">Percentage:</label>
                                </div>
                            </div>
                            <span class="common-form auto">
                                <span class="text left m-r-5 m-t-5  rel-auto-error">%</span>
                                <?php echo $this->formRow($form->get('cart_discount_percent')); ?>
                            </span>
                            <div class="custom-radio">
                                <div class="custom-radio">
                                    <input type="radio" onclick="javascript:enableCartDiscountAmount(this.value);" value="2" class="e2 address-checkbox rel-auto-error" name="cart_discount_type" id="address-checkbox_18" <?php if($promotionDetail['cart_discount_type']=='2'){?>checked <?php } ?>>
                                    <label for="address-checkbox_18" class=" <?php if($promotionDetail['cart_discount_type']=='2'){?>checked <?php } ?>">Amount Off:</label>
                                </div>
                                 <?php if($promotionDetail['cart_discount_type']=='2'){?><script>$('#address-checkbox_18').prop('checked',true)</script> <?php } ?>
                            </div>
                            <span class="common-form auto rel-auto-error"><span class="text left m-r-5 m-t-5">$</span>
                                <?php echo $this->formRow($form->get('cart_discount_amount')); ?>
                            </span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="radio-label m-t-5 left">
                            <span class="checkbox-auto"><?php echo $this->formRow($form->get('is_free_product')); ?>
                                <label class="check" for="is_free_product">Free Products</label></span>
                                <?php 
                                if($promotionDetail['is_free_product']!='' && !is_null($promotionDetail['is_free_product']) && $promotionDetail['is_free_product']=='1')
                                    //echo '<script>$("#is_free_product").prop("checked", true);</script>';
                               ?>
                        </span>
                    </div>
                    <div class="row1 no-padd" id="free_product_section" style="<?php if($promotionDetail['is_free_product']=='1'){?>display:block;<?php }else{ ?>display:none;<?php } ?>">
                        <div class="row common-form">
                            <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('free_product_name')); ?>
                        </div>
                        <div class="row">
                            <label class="select_product_category_label"></label>
                            <div class="select_product_div">
                                <ul id="select_free_product">
                                    <?php 
                                    $freeProductIds = '';                                    
                                    if(!empty($freeProducts) && !is_null($promotionDetail['is_free_product']) && $promotionDetail['is_free_product']!='' && $promotionDetail['is_free_product']=='1'){
                                        foreach($freeProducts as $freeProduct){
                                            $freeProductIds.=$freeProduct['product_id'].",";
                                    ?>
                                    <li id='free_product<?php echo $freeProduct['product_id']; ?>'><?php echo $freeProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $freeProduct['product_id']; ?>,"free_product")'>x</span></li>
                                    <?php
                                        }
                                        $freeProductIds = substr($freeProductIds, 0, -1);
                                    }
                                    ?>
                                </ul>
                                <?php
                                $form->get('free_products')->setAttribute('value', $freeProductIds);
                                echo $this->formRow($form->get('free_products'));
                                ?>
                            </div>
                        </div>
                    </div>
                    <!--end new html-->                    
                </div>
                <div class="col1 right">
                    <div class="row">
                        <span class="radio-label m-t-5 left">
                            <div class="custom-radio">
                                <div class="custom-radio">
                                    <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="2" class="e2 address-checkbox" name="promotion_qualified_by" id="address-checkbox_17" <?php if($promotionDetail['promotion_qualified_by']=='2'){?>checked<?php } ?>>
                                    <label for="address-checkbox_17" class="<?php if($promotionDetail['promotion_qualified_by']=='2'){?>checked<?php } ?>">All Bundled Products</label>
                                </div>
                            </div>
                        </span>
                        <div id="bundle_product_section" class="row no-padd input-wdth-auto" style="display:none;">                            
                            <div class="col1 input-wdth-auto">
                                <div class="row common-form">
                                    <label><?php echo $translator['L_PRODUCT_TYPE']; ?>
                                        <span class="red">*</span></label>
                                    <?php echo $this->formRow($form->get('bundle_product_type_name')); ?>                                    
                                </div>
                                <div class="row">
                                    <label class="select_product_category_label"></label>
                                    <div class="select_product_div">
                                        <ul id="select_bundle_product_type">
                                            <?php 
                                            $bundleProductTypeIds = '';
                                            if(!empty($bundleProductTypes) && ($promotionDetail['promotion_qualified_by']!='' && !is_null($promotionDetail['promotion_qualified_by']) && $promotionDetail['promotion_qualified_by']=='2')){
                                                foreach($bundleProductTypes as $bundleProductType){
                                                    $bundleProductTypeIds.=$bundleProductType['product_type_id'].",";
                                             ?>
                                            <li id='bundle_product_type<?php echo $bundleProductType['product_type_id']; ?>'><?php echo $bundleProductType['product_type']; ?><span onclick='removeAutoCompleteValue(<?php echo $bundleProductType['product_type_id']; ?>,"bundle_product_type")'>x</span></li>
                                            <?php
                                                }
                                                $bundleProductTypeIds = substr($bundleProductTypeIds, 0, -1);
                                            }
                                            ?>
                                        </ul>
                                        <?php 
                                        $form->get('bundle_product_type')->setAttribute('value', $bundleProductTypeIds);
                                        echo $this->formRow($form->get('bundle_product_type')); 
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 right input-wdth-auto">
                                <div class="row common-form">
                                    <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                                    <?php echo $this->formRow($form->get('bundle_product_name')); ?>
                                </div>
                                <div class="row">
                                    <label class="select_product_category_label"></label>
                                    <div class="select_product_div">
                                        <ul id="select_bundle_product">
                                            <?php 
                                            $bundleProductIds = '';
                                            if(!empty($bundleProducts) && ($promotionDetail['promotion_qualified_by']!='' && !is_null($promotionDetail['promotion_qualified_by']) && $promotionDetail['promotion_qualified_by']=='2')){
                                                foreach($bundleProducts as $bundleProduct){
                                                    $bundleProductIds.=$bundleProduct['product_id'].",";
                                             ?>
                                            <li id='bundle_product<?php echo $bundleProduct['product_id']; ?>'><?php echo $bundleProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $bundleProduct['product_id']; ?>,"bundle_product")'>x</span></li>
                                            <?php
                                                }
                                                $bundleProductIds = substr($bundleProductIds, 0, -1);
                                            }
                                            ?>
                                        </ul>
                                        <?php
                                        $form->get('bundle_products')->setAttribute('value', $bundleProductIds);
                                        echo $this->formRow($form->get('bundle_products'));
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="full">
                            <span class="radio-label m-t-5 left">
                                <div class="custom-radio">
                                    <div class="custom-radio">
                                        <input type="radio" onclick="javascript:enablePromotionQualifies(this.value);" value="3" class="e2 address-checkbox" name="promotion_qualified_by" id="address-checkbox_19" <?php if($promotionDetail['promotion_qualified_by']=='3'){?>checked<?php } ?>>
                                        <label for="address-checkbox_19" class="<?php if($promotionDetail['promotion_qualified_by']=='3'){?>checked<?php } ?>">Any Product in List</label>
                                    </div>
                                </div>
                            </span>
                            <div id="promotion_any_section" class="row no-padd" style="display:none;">
                                <div class="col1 input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?>
                                            <span class="red">*</span></label>
                                        <?php echo $this->formRow($form->get('promotion_any_product_type_name')); ?>                                        
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div">
                                            <ul id="select_promotion_any_product_type">
                                                <?php
                                                $anyProductTypeIds = '';
                                                if(!empty($anyProductTypes) && $promotionDetail['promotion_qualified_by']=='3'){
                                                    foreach($anyProductTypes as $anyProductType){
                                                        $anyProductTypeIds.=$anyProductType['product_type_id'] . ",";
                                                ?>
                                                <li id='promotion_any_product_type<?php echo $anyProductType['product_type_id']; ?>'><?php echo $anyProductType['product_type']; ?><span onclick='removeAutoCompleteValue(<?php echo $anyProductType['product_type_id']; ?>,"promotion_any_product_type")'>x</span></li>
                                                <?php
                                                    }
                                                    $anyProductTypeIds = substr($anyProductTypeIds, 0, -1);
                                                }
                                                ?>
                                            </ul>
                                            <?php 
                                            $form->get('promotion_any_product_type')->setAttribute('value', $anyProductTypeIds);
                                            echo $this->formRow($form->get('promotion_any_product_type')); 
                                            ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col1 right input-wdth-auto">
                                    <div class="row common-form">
                                        <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                                        <?php echo $this->formRow($form->get('promotion_any_product')); ?>
                                    </div>
                                    <div class="row">
                                        <label class="select_product_category_label"></label>
                                        <div class="select_product_div">
                                            <ul id="select_promotion_any_product">
                                                <?php
                                                $anyProducrIds = '';
                                                if(!empty($anyProducts) && $promotionDetail['promotion_qualified_by']=='3'){
                                                    foreach($anyProducts as $anyProduct){
                                                        $anyProducrIds.=$anyProduct['product_id'] . ",";
                                                ?>
                                                <li id='promotion_any_product<?php echo $anyProduct['product_id']; ?>'><?php echo $anyProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $anyProduct['product_id']; ?>,"promotion_any_product")'>x</span></li>
                                                <?php
                                                    }
                                                    $anyProducrIds = substr($anyProducrIds, 0, -1);
                                                }
                                                ?>
                                            </ul>
                                            <?php
                                            $form->get('promotion_any_products')->setAttribute('value', $anyProducrIds);
                                            echo $this->formRow($form->get('promotion_any_products'));
                                            ?>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
					<div class="row no-padd">
                        <h3>Excluded Products</h3>
                    </div>
                    <div class="row no-padd input-wdth-auto">                            
                        <div class="col1">
                            <div class="row common-form">
                                <label><?php echo $translator['L_PRODUCT_TYPE']; ?></label>
                                <?php echo $this->formRow($form->get('excluded_product_type_name')); ?>                                
                            </div>
                            <div class="row">
                                <label class="select_product_category_label"></label>
                                <div class="select_product_div">
                                    <ul id="select_excluded_product_type">
                                        <?php
                                        $excludedProductTypeIds = '';
                                        if(!empty($excludedProductTypes)){
                                            foreach($excludedProductTypes as $excludedProductType){
                                                $excludedProductTypeIds.=$excludedProductType['product_type_id'].',';
                                         ?>
                                        <li id='excluded_product_type<?php echo $excludedProductType['product_type_id']; ?>'><?php echo $excludedProductType['product_type']; ?><span onclick='removeAutoCompleteValue(<?php echo $excludedProductType['product_type_id']; ?>,"excluded_product_type")'>x</span></li>
                                         <?php
                                            }
                                            $excludedProductTypeIds = substr($excludedProductTypeIds, 0, -1);
                                        }
                                        ?>
                                    </ul>
                                    <?php 
                                    $form->get('excluded_product_type')->setAttribute('value',$excludedProductTypeIds);
                                    echo $this->formRow($form->get('excluded_product_type')); ?>
                                </div>
                            </div>
                        </div>
                        <div class="col1 right input-wdth-auto">
                            <div class="row common-form">
                                <label><?php echo $translator['L_PRODUCT_NAME']; ?></label>
                                <?php echo $this->formRow($form->get('excluded_product_name')); ?>                                
                            </div>
                            <div class="row">
                                <label class="select_product_category_label"></label>
                                <div class="select_product_div">
                                    <ul id="select_excluded_product">
                                        <?php 
                                        $excludedProductIds = '';
                                        if(!empty($excludedProducts)){
                                            foreach($excludedProducts as $excludedProduct){
                                                $excludedProductIds.=$excludedProduct['product_id'].',';
                                         ?>
                                        <li id='excluded_product<?php echo $excludedProduct['product_id']; ?>'><?php echo $excludedProduct['product_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $excludedProduct['product_id']; ?>,"excluded_product")'>x</span></li>
                                         <?php 
                                           }
                                           $excludedProductIds = substr($excludedProductIds, 0, -1);
                                        }
                                        ?>
                                    </ul>
                                    <?php 
                                    $form->get('excluded_products')->setAttribute('value',$excludedProductIds);
                                    echo $this->formRow($form->get('excluded_products')); 
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="common-form">
            <div class="row">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('savepromotion')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
            </div>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>
<script>
    enableShippingDiscount();
    enableShippingLocationDiscount("<?php echo $promotionDetail['shipping_discount_type'];?>");
    enableCartDiscount();
    enableCartDiscountAmount("<?php echo $promotionDetail['cart_discount_type'];?>");
    enableFreeProducts();
    enablePromotionQualifies("<?php echo $promotionDetail['promotion_qualified_by'];?>");
</script>