<?php
/**
 * This file is used to load when click on edit tab in promotion detail page
 * @package    Promotion_PromotionController_editCrmPromotionDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/promotion/promotion.promotion.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<?php
$form = $this->createPromotionForm;
$form->setAttributes(array(
    'id' => 'edit_promotion',
    'name' => 'edit_promotion',
    'action' => $this->url('editCrmPromotion', array('action' => 'editCrmPromotion'))
        )
);
$form->prepare();
echo $this->form()->openTag($form);
?>
<?php echo $this->formRow($form->get('promotion_id')); ?>
<div class="breadcrumb m-t-51 case">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
    <?php
    $form = $this->createPromotionForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('promotion_id'));
    ?>
    <div class="head no-img"><span><?php echo $translator['L_COUPON_INFORMATION']; ?></span></div>
    <div class="detail-section p-b-0">
        <div class="common-form">
            <div class="row1">
                <div class="col1">
                    <label><?php echo $translator['L_COUPON_CODE']; ?><span class="red">*</span></label>
                    <label><?php echo $this->promotionDetail['coupon_code']; ?></label>
                </div>
            </div>
            <div class="row1">
                <div style="width:50%; float:left;">
                    <div class="full relative">
                        <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('promotion_name')); ?>
                    </div>
                    <div class="full m-t-20">
                        <label><?php echo $translator['L_APPLICABLE_FOR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('applicable_id')); ?>
                    </div>
                </div>    
                <div class="col1 right">
                    <label><?php echo $translator['L_DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($form->get('promotion_description')); ?>
                </div>
                <div class="col1 right">&nbsp;</div>


            </div>
            <div class="row1 no-padd" id="contact_section" style="<?php echo ($this->promotionDetail['applicable'] == 'Contact') ? 'display:block' : 'display:none'; ?>">
                <div class="col1">
                    <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('user')); ?>
                </div>
                <div class="col1 right">
                    <label  class="select_product_category_label2">
                        <?php
                        if ($this->promotionDetail['applicable'] == 'Contact') {
                            echo $translator['L_SELECTED_CONTACT_LIST'];
                        } else if ($this->promotionDetail['applicable'] == 'Group') {
                            echo $translator['L_SELECTED_GROUP_LIST'];
                        }
                        ?>
                    </label>
                    <div class="select_product_div"><ul id="select_user">
                            <?php
                            $userIds = '';
                            if ($this->promotionDetail['applicable'] == 'Contact') {

                                if (!empty($this->promotionAppliedDetail)) {

                                    foreach ($this->promotionAppliedDetail as $applicableData) {
                                        $userIds.=$applicableData['applied_id'] . ",";
                                        ?>
                                        <li id='user<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"user")'>x</span></li>
                                        <?php
                                    }
                                    $userIds = substr($userIds, 0, -1);
                                }
                            }
                            ?>
                        </ul>
                        <?php
                        $form->get('user_ids')->setAttribute('value', $userIds);
                        echo $this->formRow($form->get('user_ids'));
                        ?>
                    </div>
                </div>
            </div>
            <div class="row1 no-padd" id="group_section" style="<?php echo ($this->promotionDetail['applicable'] == 'Group') ? 'display:block' : 'display:none'; ?>">
                <div class="col1">
                    <label><?php echo $translator['L_GROUP_NAME']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('group_name')); ?>
                </div>
                <div class="col1 right">
                    <label  class="select_product_category_label2">
                        <?php
                        if ($this->promotionDetail['applicable'] == 'Contact') {
                            echo $translator['L_SELECTED_CONTACT_LIST'];
                        } else if ($this->promotionDetail['applicable'] == 'Group') {
                            echo $translator['L_SELECTED_GROUP_LIST'];
                        }
                        ?>
                    </label>
                    <div class="select_product_div"><ul id="select_group">
                            <?php
                            $groupNameIds = '';
                            if ($this->promotionDetail['applicable'] == 'Group') {

                                if (!empty($this->promotionAppliedDetail)) {
                                    foreach ($this->promotionAppliedDetail as $applicableData) {
                                        $groupNameIds.=$applicableData['applied_id'] . ",";
                                        ?>
                                        <li id='group<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"group")'>x</span></li>
                                        <?php
                                    }
                                    $groupNameIds = substr($groupNameIds, 0, -1);
                                }
                            }
                            ?>
                        </ul>
                        <?php
                        $form->get('group_name_ids')->setAttribute('value', $groupNameIds);
                        echo $this->formRow($form->get('group_name_ids'));
                        ?>
                    </div>
                </div>
            </div>
            <div class="row m-t-5" id="applicable_excluded" style="<?php echo ($this->promotionDetail['applicable'] != 'Global') ? 'display:block' : 'display:none'; ?>">
                <div class="col1 right">
                    <label><?php echo $translator['L_EXCLUDED']; ?></label>
                    <?php echo $this->formRow($form->get('is_excluded_applied')); ?>
                    <label class="check" for="is_excluded_applied">&nbsp;</label>
                </div>
            </div>        
            <div class="row1">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_CATEGORY']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('product_category')); ?>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_DISCOUNT']; ?></label>
                    <?php echo $this->formRow($form->get('discount')); ?>
                </div>
            </div>
            <div class="row1 no-padd" id="category_section" style="<?php echo ($this->promotionDetail['product_type'] == 2) ? 'display:block' : 'display:none'; ?>">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_TYPE']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('category_name')); ?>
                </div>
                <div class="col1 right">
                    <label  class="select_product_category_label">
                        <?php
                        if ($this->promotionDetail['product_type'] == 2) {
                            echo $translator['L_SELECTED_CATEGORY_LIST'];
                        } else if ($this->promotionDetail['product_type'] == 3) {
                            echo $translator['L_SELECTED_PRODUCT_LIST'];
                        }
                        ?>
                    </label>
                    <div class="select_product_div"><ul id="select_category">
                            <?php
                            $catNameIds = '';
                            if ($this->promotionDetail['product_type'] == 2) {
                                if (!empty($this->PromotionCatProDetail)) {
                                    foreach ($this->PromotionCatProDetail as $applicableData) {
                                        $catNameIds.=$applicableData['applied_id'] . ",";
                                        ?>
                                        <li id='category<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"category")'>x</span></li>
                                        <?php
                                    }
                                    $catNameIds = substr($catNameIds, 0, -1);
                                }
                            }
                            ?>
                        </ul>
                        <?php
                        $form->get('category_name_ids')->setAttribute('value', $catNameIds);
                        echo $this->formRow($form->get('category_name_ids'));
                        ?>
                    </div>
                </div>
            </div>
            <div class="row1 no-padd" id="product_section" style="<?php echo ($this->promotionDetail['product_type'] == 3) ? 'display:block' : 'display:none'; ?>">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_NAME']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('product_name')); ?>
                </div>
                <div class="col1 right">
                    <label  class="select_product_category_label">
                        <?php
                        if ($this->promotionDetail['product_type'] == 2) {
                            echo $translator['L_SELECTED_CATEGORY_LIST'];
                        } else if ($this->promotionDetail['product_type'] == 3) {
                            echo $translator['L_SELECTED_PRODUCT_LIST'];
                        }
                        ?>
                    </label>

                    <div class="select_product_div"><ul id="select_product">
                            <?php
                            $productNameIds = '';
                            if ($this->promotionDetail['product_type'] == 3) {

                                if (!empty($this->PromotionCatProDetail)) {

                                    foreach ($this->PromotionCatProDetail as $applicableData) {

                                        $productNameIds.=$applicableData['applied_id'] . ",";
                                        ?>
                                        <li id='product<?php echo $applicableData['applied_id']; ?>'><?php echo $applicableData['applied_name']; ?><span onclick='removeAutoCompleteValue(<?php echo $applicableData['applied_id']; ?>,"product")'>x</span></li>
                                        <?php
                                    }
                                    $productNameIds = substr($productNameIds, 0, -1);
                                }
                            }
                            ?>
                        </ul>
                        <?php
                        $form->get('product_name_ids')->setAttribute('value', $productNameIds);
                        echo $this->formRow($form->get('product_name_ids'));
                        ?>
                    </div>
                </div>
            </div>
            <div class="row m-t-5" id="product_category_excluded" style="<?php echo ($this->promotionDetail['product_type'] != 1) ? 'display:block' : 'display:none'; ?>">
                <div class="col1 right">
                    <label><?php echo $translator['L_EXCLUDED']; ?></label>
                    <?php echo $this->formRow($form->get('is_excluded_product_category')); ?>
                    <label class="check" for="is_excluded_product_category">&nbsp;</label>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_VALID_FROM']; ?></label>
                    <?php echo $this->formRow($form->get('start_date')); ?>
                    <label class="auto"><?php echo $translator['L_TO']; ?></label>
                    <?php echo $this->formRow($form->get('expiry_date')); ?>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_USAGE_LIMIT']; ?></label>
                    <?php echo $this->formRow($form->get('usage_limit')); ?>
                </div>
            </div>

            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_FREE_SHIPPING']; ?></label>
                    <?php echo $this->formRow($form->get('is_free_shipping')); ?>
                    <label class="check" for="is_free_shipping">&nbsp;</label>
                    <div id="freeShipAmount" style="<?php echo ($this->promotionDetail['is_free_shipping'] == 1) ? 'display:block' : 'display:none'; ?>"><label class="auto">
                            <?php echo $translator['L_AMOUNT'] . " $"; ?></label><?php echo $this->formRow($form->get('free_shipping_amount')); ?></div>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_DOMESTIC']; ?>&nbsp;<span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('is_domestic')); ?>
                    <label id="error_domestic" style="display:none" class="error">Please select one</label>
                    <label class="check" for="is_domestic">&nbsp;</label>
                    <label>&nbsp;&nbsp;&nbsp;<?php echo $translator['L_INTERNATIONAL']; ?></label>
                    <?php echo $this->formRow($form->get('is_international')); ?>
                    <label class="check" for="is_international">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="common-form">
            <div class="col1 m-t-20 p-b-20">
                <?php echo $this->formRow($form->get('savepromotion')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
