<?php
/**
 * This file is used for get promotions listing
 * @package    Promotion_PromotionController_getCrmPromotionsAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/promotion/search.promotion.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts common-form">
    <h2><?php echo $translator['L_PROMOTION']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text">Search Promotions by the filters given below, or just do a blank search for the full Promotion list. Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list. If you do not find the promotion you seek, you can <a href="<?php echo $this->url('addCrmPromotion', array('action' => 'addCrmPromotion')); ?>">Create New Promotion</a>.</p>
   
    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img cursor-default"><span><?php echo $translator['L_SEARCH_COUPON']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PROMOTION_CODE']; ?></label>
                        <?php echo $this->formRow($form->get('coupon_code')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('promotion_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('user')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_GROUP_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('group_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DISCOUNT']; ?></label>
                        <?php echo $this->formRow($form->get('discount')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_APPLIED_FOR']; ?></label>
                        <?php echo $this->formRow($form->get('applicable_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_EXPIRY_DATE_RANGE']; ?></label>
                        <?php echo $this->formRow($form->get('expiry_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($form->get('expiry_date_from')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('expiry_date_to')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchpromotionbutton')); ?>
                    </div>
                </div>
            </div>
        <?php echo $this->form()->closeTag(); ?>
                        <div class="detail-section1 common-form search-row-2">
                            <div class="left">
                                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
                    </div>

                    <div class="right col1" style="width:auto">
                <?php
                        $saveSearchFrm = $this->saveSearchForm;
                        $saveSearchFrm->prepare();
                        echo $this->form()->openTag($saveSearchFrm);
                ?>
                        <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($saveSearchFrm->get('search_name')); ?>
                <?php echo $this->formRow($saveSearchFrm->get('search_id')); ?>
                <?php echo $this->formRow($saveSearchFrm->get('savebutton')); ?>
                        <a href="#delete_promotion_saved_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                        <label id="search_msg" class="error" style="display:none;"></label>
                <?php
                        echo $this->form()->closeTag();
                ?>
                    </div>
                </div>

            </div>
        </div>
        <div class="grid-section">
            <div class="search-results">
                <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
                <p>
                    Below are the records that match the search criteria you entered.</p>
            </div>
            <div style="margin-bottom:10px;">&nbsp;</div>
            <div class="grid-box" id="gview_list">
                <table id="list_promotion"></table>
                <div id="listpromotionrud"></div>
            </div>
        </div>


        <div style='display:none'>
            <div id='delete_promotion_content' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_PROMOTION_ALERT']; ?></h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete_promotion" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete_promotion" class="green-btn">
                </div>
            </div>
        </div>

        <div style='display:none'>
            <div id='delete_promotion_saved_search' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
