<?php
/**
 * This file is used for get promotions detail
 * @package    Promotions_PromotionController_getCrmPromotionsInfoAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .='var promotionId=\'' . $this->promotionId . '\';';
$var .='var encryptPromotionId=\'' . $this->encryptPromotionId . '\';';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';

echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/promotion/promotion.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts create-group">
    <h2><?php echo $translator['L_PROMOTION']; ?></h2>
    <div class="accordion-detail">
        <div id="pageAction">
            <ul class="edit-link">
                <li><a href="javascript:void(0);" class="active" id="tab-1" onclick="getPromotionDetail()"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-2" onclick="editPromotionDetails()"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-3" onclick="viewChangeLog()"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
            </ul>
        </div>
        <div id="promotionContent"></div>
    </div>
</div>