<?php
/**
 * This file is used for view promotions detail on ajax call
 * @package    Promotions_PromotionController_viewCrmPromotionInfoAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51 case">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_COUPON_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label class="width-210"><?php echo $translator['L_PROMOTION_CODE']; ?> </label>
                <span class="view-text"><?php echo $promotionData['coupon_code']; ?></span> </div>
            <div class="col1 right">
                <label class="width-210"><?php echo $translator['L_NAME']; ?> </label>
                <span class="view-text"><?php echo $promotionData['promotion_name']; ?></span> </div>
        </div>
        <div class="row">
            <div class="col1">
                <label class="width-210"><?php echo $translator['L_USAGE_LIMIT']; ?> </label>
                <span class="view-text"><?php echo (empty($promotionData['usage_limit'])) ? 'N/A' : $promotionData['usage_limit']; ?></span>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label class="width-210"><?php echo $translator['L_VALID_FROM']; ?> </label>
                <span class="view-text"><?php echo ($promotionData['start_date'] == 0) ? 'N/A' : $this->Dateformatalpha($promotionData['start_date'], 'displaymothdateyear'); ?></span>
            </div>
            <div class="col1 right">
                <label class="width-210"><?php echo $translator['L_VALID_TO']; ?> </label>
                <span class="view-text"><?php echo ($promotionData['expiry_date'] == 0) ? 'N/A' : $this->Dateformatalpha($promotionData['expiry_date'], 'displaymothdateyear'); ?></span>
            </div>

        </div>
        <div class="row no-padd">
            <div class="col1">
                <?php if ($promotionData['applicable_id'] == 1) {
                    ?>
                    <label class="width-210"><?php echo $translator['L_APPLICABLE_FOR']; ?> </label>
                    <span class="view-text"><?php echo $promotionData['applicable']; ?></span>
                <?php } else { ?>
                    <label class="width-210">Applicable <?php echo ($promotionData['applicable_id'] == 2) ? "Contacts" : "Groups"; ?></label>
                    <span class="view-text details-text-54"><?php echo (empty($promotionData['applicable_items'])) ? 'N/A' : $promotionData['applicable_items']; ?></span>
                <?php } ?>
            </div>
            <!--<div class="col1 right">

                <?php if ($promotionData['product_type'] == 1) {
                    ?>
                    <label class="width-210">Applicable Product/Category</label>
                    <span class="view-text ">Global</span>
                <?php } else {
                    ?>
                    <label class="width-210">Applicable <?php echo ($promotionData['product_type'] == 2) ? "Prdouct Types" : "Products"; ?></label>
                    <span class="view-text details-text-54"><?php echo (empty($promotionData['product_category_items'])) ? 'N/A' : $promotionData['product_category_items']; ?></span>
                <?php } ?>
            </div>-->

        </div>

        <!--<div class="row">
            <div class="col1">
                <label class="width-210"><?php echo $translator['L_FREE_SHIPPING']; ?> </label>
                <span class="view-text"><?php echo ($promotionData['is_free_shipping'] == '1') ? 'Yes' : 'No'; ?></span>
            </div>
            <div class="col1 right">
                <label class="width-210"><?php echo $translator['L_AMOUNT']; ?> </label>
                <span class="view-text"><?php echo (empty($promotionData['free_shipping_amount'])) ? 'N/A' : $promotionData['free_shipping_amount']; ?></span>
            </div>
        </div>-->

        <!--<div class="row no-padd">
            <?php $right = ''; ?>
            <?php
            if ($promotionData['applicable_id'] != 1) {
                $right = 'right';
                ?>
                <div class="col1">
                    <label class="width-210">Exclude <?php echo ($promotionData['applicable_id'] == 2) ? "Contacts" : "Groups"; ?></label>
                    <span class="view-text details-text-54"><?php echo ($promotionData['is_excluded_applicable'] == '1') ? 'Yes' : 'No'; ?></span>
                </div>
            <?php } ?>
            <?php if ($promotionData['product_type'] != 1) { ?>
                <div class="col1 <?php echo $right; ?>">
                    <label class="width-210">Exclude <?php echo ($promotionData['product_type'] == 2) ? "Prdouct Types" : "Products"; ?></label>
                    <span class="view-text details-text-54"><?php echo ($promotionData['is_excluded_product_type'] == '1') ? 'Yes' : 'No'; ?></span>
                </div>
            <?php } ?>
        </div>-->
        <div class="row no-padd">

            <div class="col1">
                <label class="width-210">Description</label>
                <span class="view-text details-text-54"><?php echo $promotionData['promotion_description']; ?></span>
            </div>

        </div>


    </div>
</div>