<?php
/** This is used for passenger additional images
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<script type="text/javascript">
function ZoomMainManifestImage(value)
        {
            $("#"+value).click();  
        }    
</script>
<table width="100%" cellpadding="0" cellspacing="0">
<input type="hidden" name="additional_manifest_count" id="additional_manifest_count" value="<?php echo count($shipManifestArray)?>">
<?php 

if (count($shipManifestArray) > 0) {

        $i = 1;
        $z=3;
        foreach ($shipManifestArray as $val) {
		if (strtolower(substr($val['filename'], -3, 3)) == 'jpg') {
			$fileName = substr($val['filename'],-9,5);
			}
		else {
			$fileName = substr($val['filename'],-8,4);
			}        
        
            ?>
            <tr>
            <td>
                <input type="hidden" class="css-checkbox" name="additional_images[]" id="additional_images_<?php echo $z ?>" checked value="<?php echo $val['filename'] ?>" class="link1 line-blue">
                <input type="hidden" class="css-checkbox" name="additional_images_encrypt[]" id="additional_images_encrypt<?php echo $z ?>" checked value="<?php echo $this->Encrypt($val['filename']) ?>" class="link1 line-blue">
                
                <input type="hidden" class="css-checkbox" name="manifest_images[]" id="manifest_images_<?php echo $z ?>" checked value="<?php echo $val['filename'] ?>" class="link1 line-blue">
                <input type="hidden" class="css-checkbox" name="manifest_images_encrypt[]" id="manifest_images_encrypt<?php echo $z ?>" checked value="<?php echo $this->Encrypt($val['filename']) ?>" class="link1 line-blue">                
                
                <span class="right-side">
	                $ <span id="price_<?php echo $z ?>"><?php echo $this->CurrencyFormat($firstImagePrice); ?></span>
	                <a class="close" href="javascript:void(0);" onClick=deleteAdditionalImage('<?php echo 'additional_images_' . $z ?>',<?php echo $val['additional_image_id'] ?>,'<?php echo $val['filename'] ?>'); alt="Remove Additional Image" title="Remove Additional Image"></a>
                </span> 
                
                <img class="active first-img" src="<?php echo $val['filepath'] ?>" height="100" alt="" onClick="ZoomMainManifestImage('<?php echo substr($val['filename'],0,-4) ?>');showTextPassengerListing('<?php echo $val['filename'] ?>');showCenterImageName('<?php echo $this->Encrypt($val['filename']) ?>','<?php echo $val['filename'] ?>');">
                
                <span class="name-section"><strong>IMAGE NAME</strong><br>Image <?php echo $fileName ?></span>
                
                </td>
            </tr>
                <?php
                $i++;
                $z++;
            }
}
?>
</table>