<?php
foreach ($translator as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var isPosted = '" . $isPosted . "';";
$var.=" var searchId = '" . $searchId . "';";

$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/jquery-ui.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/autosuggest.search.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
					   ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));

?>
<link href="/css/passenger.search.css?v=2" media="screen" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js?v=1" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js?v=1"></script>
<script type="text/javascript" src="/js/index.js?v=1"></script>
<style>


</style>
<form action="passenger-result" method="post" id="search_passenger" name="search_passenger" novalidate="novalidate">
<input type="hidden" id="listing_type" name="listing_type" value="list">
<div class="passenger-inner-bg">
<div class="container">
            <div class="small-wrapper">
            <div class="inner-section min-height">
			<div class="top-section">
                        <h1>Passenger Search</h1>
                        <span class="no-padd">Explore our vast database of 51 million+ passenger records...</span> 
						<div class="question"><a href="/about-passenger-search">Need more information? Click here.</a></div>
						</div>
						
					<?php
						if($displayStatus == 'no')
							$style="display:none;";
						else
								$style="display:block;";
								
					?>
					 
					
			<div id="search_div_full" style="display:block;">	

                    <!-- step one narrow search-->
                    <div class="narrow-search-box">
                       
				<div class="passenger-search">
                        
                        <?php echo $this->formRow($form->get('initital_name')); ?>
                        <?php echo $this->formRow($form->get('last_name')); ?>
                        
						<?php echo $this->formRow($form->get('passenger_id')); ?>
                        <div id="error_msg"></div>
                        <input type="submit" value="Results" class="button" style="height: auto!important;" id="submitbutton" name="submit">
						<a href="javascript:void(0)" class="clear-search" onClick="resetForm();">Clear</a></div>
						<h3 class="heading-filter">Filter</h3>
						<div id="passenger-filter" style="<?php echo $style ?>">
						<?php
								if($fromIndex == 'yes') {
								?>
								<a href="javascript:void(0);" class="close" id="hide_close_matches"></a>
								<?php
								}
								?>
						<div class="strip"></div>
						<ul class="filter">
                                <li>
                                    <input type="checkbox" name="search_type5" id="search_type5" value="1" <?php if(in_array('search_type5',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type5" class="css-label"><?php echo $translator['CONTAINS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type1" id="search_type1" value="1" <?php if(in_array('search_type1',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type1" class="css-label"><?php echo $translator['EXACT_MATCHES'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type2" id="search_type2" value="1" <?php if(in_array('search_type2',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type2" class="css-label"><?php echo $translator['CLOSE_MATCHES'] ?></label>
                                </li>
                                <li>

                                    <input type="checkbox" name="search_type3" id="search_type3" value="1" <?php if(in_array('search_type3',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type3" class="css-label"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type4" id="search_type4" value="1" <?php if(in_array('search_type4',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type4" class="css-label"><?php echo $translator['ALTERNATE_SPELLINGS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type6" id="search_type6" value="1" <?php if(in_array('search_type6',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type6" class="css-label last"><small><?php echo $translator['WHERE_LAST_NAME_IS_FIRST'] ?></small></label>
                                </li>
                            </ul>
							</div>
							<?php
						if($fromIndex == 'yes') {
						?>
								<div class="narrow-btn-row">	
									<input type="button" class="button" value="Cancel" id="cancel_button" name="">	
									<input type="button" class="button right" value="Update Result" id="update_match_result" name="">		
								</div>
						<?php
						}
						?>
                        
                        <div class="inner-detail">
                            <div class="">
                                <div class="narrow-container" id="step_1">
								<?php
								$cls1 = '';
								$cls2 = '';
								$cls3 = '';
								$cls4 = '';
								$cls5 = '';
								$cls6 = '';
								?>
                                    <div class="container-content">
                                        <h2><?php echo $translator['GENDER'] ?></h2>
                                        <ul class="content-filter-nav">
                                            <li>
                                                <input type="checkbox" name="gender[]" id="male" <?php if(@in_array('M',$gender)) { echo 'checked';$cls1='active';} ?> value='M' class="css-checkbox" />
                                                <label for="male" id="male_label" class="css-label male"><?php echo $translator['MALE'] ?><span class="<?php echo $cls1?>" ></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="gender[]" value='F' <?php if(@in_array('F',$gender)) { echo 'checked';$cls2='active';} ?> id="female" class="css-checkbox" />
                                                <label for="female" id="female_label" class="css-label female"><?php echo $translator['FEMALE'] ?><span class="<?php echo $cls2?>" ></span></label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="container-content" style="border: none;">
                                        <h2><?php echo $translator['MARITAL_STATUS'] ?></h2>
                                        <ul class="content-filter-nav-extra">
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='S' <?php if(@in_array('S',$maritalstatus)) { echo 'checked';$cls3='active';} ?> id="single" class="css-checkbox" />
                                                <label for="single" id="single_label" class="css-label single"><?php echo $translator['SINGLE'] ?><span class="<?php echo $cls3?>"></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='M' <?php if(@in_array('M',$maritalstatus)) { echo 'checked';$cls4='active';} ?> id="married" class="css-checkbox" />
                                                <label for="married" id="married_label" class="css-label married"><?php echo $translator['MARRIED'] ?><span class="<?php echo $cls4?>"></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='W' <?php if(@in_array('W',$maritalstatus)) { echo 'checked';$cls5='active';} ?> id="widowed" class="css-checkbox" />
                                                <label for="widowed" id="widowed_label" class="css-label widowed"><?php echo $translator['WIDOWED'] ?><span class="<?php echo $cls5?>"></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='D' <?php if(@in_array('D',$maritalstatus)) { echo 'checked';$cls6='active';} ?> id="divorced" class="css-checkbox" />
                                                <label for="divorced" id="divorced_label" class="css-label widowed"><?php echo $translator['DIVORCED'] ?><span class="<?php echo $cls6?>"></span></label>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="narrow-container" id="step_2">
                                    <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_BIRTH'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('birth_year_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="birth_year"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('birth_year_to')); ?>
                                        </div>
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['CURRENT_AGE'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('current_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="current_age"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('current_age_to')); ?>
                                        </div>
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['L_AGE_AT_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('arrival_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="arrival_age"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('arrival_age_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="year_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['MONTH_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="month_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['DAY_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="day_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_to')); ?>
                                        </div>
                                    </div>

                                </div>
                                <div class="narrow-container" id="step_3">
                                    <div class="step-three">
                                        <!--label><?php echo $translator['NAME_OF_TOWN_VILLAGE'] ?></label-->
                                        <div style="float:left; width:100%">
                                        <?php echo $this->formRow($form->get('ship_name')); ?>
                                        <span id="srch_suggest" class="srch_suggest"></span>
                                        <?php echo $this->formRow($form->get('port_of_departure')); ?>
                                        <span id="port_srch_suggest" class="port_srch_suggest"></span>
                                        <div class="arrival-port">
                                            <?php echo $this->formRow($form->get('arrival_port')); ?>
                                        </div>
                                        </div>
                                        <?php echo $this->formRow($form->get('companion_name')); ?>
										<?php echo $this->formRow($form->get('town')); ?>
										<?php //echo $this->formRow($form->get('search_type_town')); ?>
									
                                        <?php echo $this->formRow($form->get('place_of_birth')); ?>
                                        <?php //echo $this->formRow($form->get('last_residence')); ?>
                                         <div style="float:left; width:100%">
										<div class="ethnicity"><div class="select-addmore button" onClick="showEthnicity()"></div><span><?php echo $translator['ETHNICITY'] ?></span>
                                            <div id="ethnicity_search_id">
                                            <div class="scroll-pane ethni-scroll">
                                            <?php
                                                if(count($searchEthnicity)>0)
                                                    foreach($searchEthnicity as $key=>$val)
                                                    {
                                                        ?>
                                                        <span id="eth_<?php echo $key?>"><strong class="left"><?php echo $val?></strong> <a onclick="removeEth('<?php echo $val?>','<?php echo $key?>')" href="javascript:void(0)">x</a></span>
                                                        <?php
                                                    }
                                            ?>
                                            </div> </div>
                                        </div>
                                        </div>
										 <div class="search-row"><?php echo $this->formRow($form->get('submit')); ?></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul id="nav"></ul>
						<?php
						if($fromIndex == 'yes') {
						?>
						<div class="narrow-btn-row mar-top">	
							<input type="button" class="button" value="Cancel" id="cancel_details_match" name="">	
							<input type="button" class="button right" value="Update Result" id="update_details_search_result" name="">		
						</div>
						<?php } ?>
                    </div>
                 
            </div>    
<div style='display:none'>
    <div id='ethnicity_list' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a>
        <h1>Ethnicity</h1>
		<div class="ethnicity-scroll">
		<div class="scroll-pane ethni-scroll-popup">
	        <p><?php echo $this->formRow($form->get('ethnicity')); ?></p>
	        <?php echo $this->formRow($form->get('ethnicity_search')); ?>
			
			</div>
	    </div>
		<input type="button" value="OK" name="yes" id="eth_ok" class="button semibold">
	</div>          
</div>	
				
            </div>
         </div>
       </div>  
       
       
      </div>   
</form>      
<?php
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'));

$script = <<<EOD
$(document).ready(function() { 
	$('.scroll-pane').jScrollPane();
});
EOD;

echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);


$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
						  
						  ->appendScript($script);
?>                
<script>
function resetForm()
{
	    
		showAjxLoader();
        $.ajax({
            async: "false",
            type: "POST",
            data: {
            },
            url: "/clear-search-passenger-session",
            success: function(response) {
                hideAjxLoader();

            }
        });
		var minBirthYear="0";
	    var maxBirthYear="1974";
	    var minCurrentAge="40";
	    var maxCurrentAge="230";
	    var minArrivalAge="0";
	    var maxArrivalAge="140";
	    var minYearOfArrival="0";
	    var maxYearOfArrival="1984";
	    var minMonthOfArrival="1";
	    var maxMonthOfArrival="12";
	    var minDayOfArrival="1";
	    var maxDayOfArrival="31";
		
		$("#search_type1").prop("checked",false);
		$("#search_type2").prop("checked",false);
		$("#search_type3").prop("checked",false);
		$("#search_type4").prop("checked",false);
		$("#search_type5").prop("checked",false);
		$("#search_type6").prop("checked",false);
		
	    $("#male").prop("checked",false);
        $("#female").prop("checked",false);
        $("#single").prop("checked",false);
        $("#married").prop("checked",false);
        $("#widowed").prop("checked",false);
        $("#divorced").prop("checked",false);
        $("#male_label > span").removeClass("active");
        $("#female_label > span").removeClass("active");
        $("#single_label > span").removeClass("active");
        $("#married_label > span").removeClass("active");
        $("#widowed_label > span").removeClass("active");
        $("#divorced_label > span").removeClass("active")
        
		$("#birth_year").noUiSlider({
            range:[minBirthYear,maxBirthYear],
            start:[minBirthYear,maxBirthYear]
            },true);
        $("#current_age").noUiSlider({
            range:[minCurrentAge,maxCurrentAge],
            start:[minCurrentAge,maxCurrentAge]
            },true);
        $("#arrival_age").noUiSlider({
            range:[minArrivalAge,
            maxArrivalAge],
            start:[minArrivalAge,maxArrivalAge]
            },true);
        $("#year_of_arrival").noUiSlider({
            range:[minYearOfArrival,maxYearOfArrival],
            start:[minYearOfArrival,maxYearOfArrival]
            },true);
        $("#month_of_arrival").noUiSlider({
            range:[minMonthOfArrival,maxMonthOfArrival],
            start:[minMonthOfArrival,maxMonthOfArrival]
            },true);
        $("#day_of_arrival").noUiSlider({
            range:[minDayOfArrival,maxDayOfArrival],
            start:[minDayOfArrival,maxDayOfArrival]
            },true);
        
        $("#last_name").val('');
        $("#initital_name").val('');
        $("#passenger_id").val('');
        
        
        $("#birth_year_from").val(minBirthYear);
        $("#birth_year_to").val(maxBirthYear);
        $("#current_age_from").val(minCurrentAge);
        $("#current_age_to").val(maxCurrentAge);
        $("#arrival_age_from").val(minArrivalAge);
        $("#arrival_age_to").val(maxArrivalAge);
        $("#year_of_arrival_from").val(minYearOfArrival);
        $("#year_of_arrival_to").val(maxYearOfArrival);
        $("#month_of_arrival_from").val(minMonthOfArrival);
        $("#month_of_arrival_to").val(maxMonthOfArrival);
        $("#day_of_arrival_from").val(minDayOfArrival);
        $("#day_of_arrival_to").val(maxDayOfArrival)
        $('#step_3 input[type="text"]').val("");
		//$("input:radio['name:search_type_town']").prop("checked",false);
		$('input[name="search_type_town"]').prop('checked', false);
//      $("#step_3 select").val("").select2();
        var checkboxes=document.getElementsByName("ethnicity[]");
        for(var k=0;k<checkboxes.length;k++)checkboxes[k].checked=false;
        $("#ethnicity_search_id").html("");
        $("#ethnicity_search").val("")        
}
</script>
