<?php
/** This is used for passenger annotation listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div class="content full">
   <?php
            if (count($this->annotationResult) > 0) {
                ?>        
                    <table cellpadding="0" cellspacing="0" style="width:55%; float:left;">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><?php echo $jsLangTranslate['CREATED_BY'] ?></th>
                                <th><?php echo $jsLangTranslate['DATE'] ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $no = 1;
                            foreach ($this->annotationResult as $key => $val) {
                                ?>
                                <tr>
                                    <td><?php echo $no; ?></td>
                                    <td><a href="javascript:void(0);" onclick=showPassengerDetails('annotationTab','<?php echo $this->Encrypt($val['annotation_correction_id']) ?>','<?php echo $no ?>');><?php
                                     
                                    if(empty($val['user_type'])){
                                        echo 'Admin';
                                    }else{
                                        if ($val['user_type']!='1'){
                                            echo $val['company_name'];
                                        }else{
                                            $contactLastName = substr($val['contact_last_name'],0,1).'.';
                                            echo $val['contact_name'].' '.$contactLastName;
                                        }
                                    }
                            
                                ?></a></td>
                                    <td><?php echo $this->Dateformatalpha($val['added_date'], 'displaymonthformat') ?></td>
                                </tr>
                                <?php
                                $no++;
                            }
                            ?>
                        </tbody>
                    </table>
              
                <?php
            }
            else {
            ?>
					<table cellpadding="0" cellspacing="0" style="width:95%; float:left;">
                                <tr>
                                    <td>This passenger has no annotations recorded. You can create an annotation by becoming a sustaining member of the Statue of Liberty-Ellis Island Foundation. <?php echo $min_donation_title; ?> begin at $<?php echo $min_donation ?> a year.</td>
                                </tr>
                    </table>            
            <?php
            }
            ?>  
</div>  