<?php
/** This is used for passenger search save
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */

 echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion')); 
?>
<?php
if($pageact == '') { 

	echo $this->formRow($form->get('search_name')); 
	echo $this->formRow($form->get('save')); 
?>  
<script>var isPosted = false;</script>
<div id="save_error_msg" ></div>	
<?php
 }

if(count($searchArray)<4)
	$scrollCls = '';
else   
	$scrollCls = 'scroll-pane featured-scroll';
?>
                            
			 <div class="common-savesearch">
				<div class="dropdown">                
					<div class="<?php echo $scrollCls?>">
						<ul>
							<?php
							if (count($searchArray) > 0) {
								foreach ($searchArray as $val) {
				            ?>
					             <li>
				                     <span><?php echo stripslashes($val->title) ?></span><div class="sn-close" onclick="deleteSaveSearch('<?php echo $val->search_id ?>','<?php echo $pageact ?>');"></div><div class="sn-search" onclick="getSaveSearch('<?php echo $val->search_id?>');"></div>
				                 </li>
				             <?php
				                }
				             }else {
				             ?>
				                <li>
				                   <span>No Search is Saved</div>
				                </li>
				             <?php
				               }
				            ?>
						</ul>                
			</div>
			</div></div>


<?php 
$script = <<<EOD
$(document).ready(function() { 
		$('.scroll-pane').jScrollPane();
	$(".common-savesearch .dropdown").hide();
	
});
EOD;
 
echo  $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
die;
?>	