<?php
/** This is used passenger search list
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
 $translator = $jsLangTranslate;

if ($passengerRecordsView == 'grid_view') {
    ?>
    <ul>
        <?php
        if ($searchResult['total'] > 0) {
            if (isset($searchResult['matches'])) {
                $k = 1;
                foreach ($searchResult['matches'] as $key => $val) {
                    $valueArray = $val['attrs'];
                    $passengerLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('passenger');
                    $shipLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('ship');
                    $manifestLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('manifest');

                    $loginPassengerLink = $this->Encrypt($passengerLink);
                    $loginShipLink = $this->Encrypt($shipLink);
                    $loginManifestLink = $this->Encrypt($manifestLink);
                    ?>
                    <li <?php
                if ($k % 3 == 0) {
                    echo 'class=last';
                }
                ?> ><div style="display: none;" id="<?php echo $div_name . $valueArray['field0'] ?>"  class="black-box">
                            <a class="i-blue-icon"></a>
                            <?php
                            if (empty($loggedInUserId)) {
                                ?> 
                                <div class="row">
                                    <div class="col3"><strong><?php echo strtoupper($translator['NAME_OF_PASSENGER']) ?></strong>
                                        <?php
                                        $nameArray = array();
                                        if (!empty($valueArray['field3']))
                                            $nameArray[] = $this->EscapeHtml($valueArray['field3']);
                                        if (!empty($valueArray['field2']))
                                            $nameArray[] = $this->EscapeHtml($valueArray['field2']);
                                        echo @implode(', ', $nameArray);
                                        ?>
                                    </div>
                                    <div class="col3">

                                        <?php
                                        if ($valueArray['field28'] == 2) {
                                            ?>
                                            <strong><?php echo strtoupper($translator['PLACE_OF_BIRTH']) ?></strong>
                                            <?php echo ($valueArray['field26'] != '') ? $this->EscapeHtml($valueArray['field26']) : "N/A"; ?>
                                            <?php
                                        } else {
                                            ?>
                                            <strong><?php echo strtoupper($translator['LAST_PLACE_OF_RESIDENCE']) ?></strong>
                                            <?php echo ($valueArray['field4'] != '') ? $this->EscapeHtml($valueArray['field4']) : "N/A"; ?>
                                            <?php
                                        }
                                        ?>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col3"><strong><?php echo strtoupper($translator['YEAR_OF_ARRIVAL']) ?></strong><?php
                    if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                        echo $valueArray['field19'];
                    else
                        echo 'N/A';
                    ?></div>
                                    <div class="col3"><strong><?php echo strtoupper($translator['L_AGE_AT_ARRIVAL']) ?></strong><?php echo (!empty($valueArray['field14'])) ? $valueArray['field14'] : "N/A"; ?></div>
                                </div>
                                <div class="row">
                                    <div class="col4">
                                        To see more information please <a href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');" style='text-decoration:underline;' alt='Login' title='Login'>login</a>
                                        or <a href='javascript:void(0);' onClick='signupPopup();' style='text-decoration:underline;' alt='Join' title='Join'>join</a>.
                                    </div>
                                </div>
                                <?php
                            }
                            else {
                                ?>
                                <div class="row">
                                    <div class="col1"><strong><?php echo strtoupper($translator['MARITAL_STATUS']) ?></strong><?php echo (!empty($valueArray['field11'])) ? @$maritalStatusArray[$valueArray['field11']] : "Unknown"; ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['GENDER']) ?></strong><?php echo (!empty($valueArray['field10'])) ? @$genderArray[$valueArray['field10']] : "Unknown"; ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['L_AGE_AT_ARRIVAL']) ?></strong><?php echo ($valueArray['field14'] != '') ? $valueArray['field14'] : "N/A"; ?></div>
                                </div>
                                <div class="row">
                                    <div class="col1"><strong><?php echo strtoupper($translator['YEAR_OF_BIRTH']) ?></strong><?php echo ($valueArray['field12'] != '') ? $valueArray['field12'] : "N/A"; ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['ETHNICITY']) ?></strong><?php echo ($valueArray['field36'] != '') ? $valueArray['field36'] : "N/A"; ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['PASSENGER_ID']) ?></strong><?php echo ($valueArray['field0'] != '') ? $valueArray['field0'] : "N/A"; ?></div>
                                </div>
                                <div class="row">
                                    <div class="col1"><strong><?php echo strtoupper($translator['DATE_OF_ARRIVAL']) ?></strong><?php
                    if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                        {
                            $dateArray = date_parse_from_format("Y-m-d", $valueArray['field18']);
		                    if($valueArray['field28'] == 2 && ($dateArray['month'] == 1 or $dateArray['month'] == '01') && ($dateArray['day'] == 1 or $dateArray['day'] == '01'))
		                    {
		                            echo $dateArray['year'];
		                    }
		                    else {
			                    if ($valueArray['field18'] != '' && $valueArray['field18'] != '0000-00-00') {
			                        echo $this->Dateformatalpha($valueArray['field18'], 'displaymonthformat');
			                    }
		                    }
                        }
                    else
                        echo 'N/A';
                    ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['L_SHIP_OF_TRAVEL']) ?></strong><?php echo ($valueArray['field7'] != '') ? $valueArray['field7'] : "N/A"; ?></div>
                                    <div class="col1"><strong><?php echo strtoupper($translator['PORT_OF_DEPARTURE']) ?></strong><?php echo ($valueArray['field24'] != '') ? $valueArray['field24'] : "N/A"; ?></div>
                                </div>
                                <?php
                            }
                            ?>

                        </div>
                        <a class="i-icon" href="javascript:void(0);" onmouseover="showHideDetails('<?php echo $div_name . $valueArray['field0'] ?>','show')"></a>
                        <div class="output-frame">
                            <div class="detail-top">
                                <h1><?php
                            $nameArray = array();
                            if (!empty($valueArray['field3']))
                                $nameArray[] = $this->EscapeHtml($valueArray['field3']);
                            if (!empty($valueArray['field2']))
                                $nameArray[] = $this->EscapeHtml($valueArray['field2']);
                            echo @implode(', ', $nameArray);
                            ?></h1>
                                <div class="output-bottom-text"><?php echo $translator['L_ON_THE'] ?> <span><?php echo $this->EscapeHtml($valueArray['field7']) ?></span></div>
                            </div>
                            <div class="detail-mid-frame">
                                <div class="detail-mid-leftbox">
                                    <h2><?php echo strtoupper($translator['L_ARRIVED']) ?></h2>
                                    <p><?php
                        if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                            echo $valueArray['field19'];
                        else
                            echo 'N/A';
                        ?></p>
                                </div>
                                <div class="detail-mid-rightbox">
                                    <?php
                                    if ($valueArray['field28'] == 2) {
                                        ?>
                                        <h2><?php echo strtoupper($translator['PLACE_OF_BIRTH']) ?></h2>
                                        <p><?php echo ($valueArray['field26'] != '') ? $valueArray['field26'] : "N/A"; ?></p>
                                        <?php
                                    } else {
                                        ?>
                                        <h2><?php echo strtoupper($translator['LAST_PLACE_OF_RESIDENCE']) ?></h2>
                                        <p><?php echo ($valueArray['field4'] != '') ? $this->EscapeHtml($valueArray['field4']) : "N/A"; ?></p>
                                        <?php
                                    }
                                    ?>
                                </div>
                            </div>

                            <div class="detail-bottom-active">
                                <?php
                                if (isset($loggedInUserId) && !empty($loggedInUserId)) {
                                    ?>  
									<a class='minifest-icon' href='<?php echo $manifestLink ?>'>Ship Manifest</a>                                  
                                    <a class='ship-icon' href='<?php echo $shipLink ?>'>Ship Image</a>
                                     <a class='passenger-icon' href='<?php echo $passengerLink ?>'>Passenger Record</a>
                                    <?php
                                } else {
                                    ?>
									<a class='minifest-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginManifestLink ?>');">Ship Manifest</a>		                                    
                                    <a class='ship-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLink ?>');">Ship Image</a>
                                    <a class='passenger-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');">Passenger Record</a>	                    
                                    <?php
                                }
                                ?>
                            </div>

                        </div>
                    </li>
                    <?php
                    $k++;
                }
                if ($k > $limit) {
                    echo '<div id="load_more' . $type . '-' . $page . '"><div id="loadingDiv' . $type . '-' . $page . '" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()"><input name="" type="button" value="Load more" class="load-more-btn button"></a></div></div>';
                }
                ?>
                <div id="loadingDiv<?php echo $type ?>"></div>
                <div id="lastDiv<?php echo $type ?>"></div>
                <?php
            }
        }
        ?>
    </ul>
    <?php
} else if ($passengerRecordsView == 'list_view') {
    ?>
    <div class="full">
        <div class="passenger-listing">	
            <?php
            if ($searchResult['total'] > 0) {
                if (isset($searchResult['matches'])) {
                    $k = 1;
                    foreach ($searchResult['matches'] as $key => $val) {
                        $valueArray = $val['attrs'];
                        $passengerLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('passenger');
                        $shipLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('ship');
                        $manifestLink = '/passenger-details/' . $this->Encrypt($valueArray['field0']) . '/' . $this->Encrypt('manifest');

                        $loginPassengerLink = $this->Encrypt($passengerLink);
                        $loginShipLink = $this->Encrypt($shipLink);
                        $loginManifestLink = $this->Encrypt($manifestLink);
                        ?>
                        <div class="row">
                            <div class="col1">
                                <div class="i-icon">


                                    <?php
                                    if (empty($loggedInUserId)) {
                                        ?> 
                                        <div class="tooltip" id="passengerDetailDiv<?php echo $type . '_' . $key ?>">
                                            <div class="form-sep">
                                                <div class="col6"><span><?php echo strtoupper($translator['NAME_OF_PASSENGER']) ?></span> 
                                                    <br><?php
                                $nameArray = array();
                                if (!empty($valueArray['field3']))
                                    $nameArray[] = $this->EscapeHtml($valueArray['field3']);
                                if (!empty($valueArray['field2']))
                                    $nameArray[] = $this->EscapeHtml($valueArray['field2']);
                                echo @implode(', ', $nameArray);
                                ?>
                                                </div>
                                                <div class="col6">

                                                    <?php
                                                    if ($valueArray['field28'] == 2) {
                                                        ?>
                                                        <span><?php echo strtoupper($translator['PLACE_OF_BIRTH']) ?></span>
                                                        <br><?php echo (!empty($valueArray['field26'])) ? $this->EscapeHtml($valueArray['field26']) : "N/A"; ?>
                                                        <?php
                                                    } else {
                                                        ?>
                                                        <span><?php echo strtoupper($translator['RESIDENCE']) ?></span>
                                                        <br><?php echo (!empty($valueArray['field4'])) ? $this->EscapeHtml($valueArray['field4']) : "N/A"; ?>
                                                        <?php
                                                    }
                                                    ?>   


                                                </div>
                                            </div>								

                                            <div class="form-sep">
                                                <div class="col6"><span><?php echo strtoupper($translator['YEAR_OF_ARRIVAL']) ?></span> 
                                                    <br><?php
                                if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                                    echo $valueArray['field19'];
                                else
                                    echo 'N/A';
                                ?>
                                                </div>
                                                <div class="col6"><span><?php echo strtoupper($translator['L_AGE_AT_ARRIVAL']) ?></span>
                                                    <br><?php echo ($valueArray['field14'] != '' && !empty($valueArray['field14'])) ? $valueArray['field14'] : "N/A"; ?>
                                                </div>
                                            </div>
                                            <div class="form-sep">
                                                <div class="full">
                                                    <strong class="join"> To see more information please <a href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');" style='text-decoration:underline;' alt='Login' title='Login'>login</a>
                                                        or <a href='javascript:void(0);' onClick='signupPopup();' style='text-decoration:underline;' alt='Join' title='Join'>join</a>.</strong>
                                                </div>
                                            </div>    

                                        </div>				        

                                        <?php
                                    } else {
                                        ?>

                                        <div class="tooltip" id="passengerDetailDiv<?php echo $type . '_' . $key ?>"><small></small>
                                            <div class="form-sep">
                                                <div class="col5"><span><?php echo strtoupper($translator['MARITAL_STATUS']) ?></span> 
                                                    <br><?php echo (!empty($valueArray['field11'])) ? @$maritalStatusArray[$valueArray['field11']] : "Unknown"; ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['GENDER']) ?></span>  
                                                    <br><?php echo (!empty($valueArray['field10'])) ? @$genderArray[$valueArray['field10']] : "Unknown"; ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['L_AGE_AT_ARRIVAL']) ?></span>
                                                    <br><?php echo ($valueArray['field14'] != '' && !empty($valueArray['field14'])) ? $valueArray['field14'] : "N/A"; ?>
                                                </div>
                                            </div>
                                            <div class="form-sep">
                                                <div class="col5"><span><?php echo strtoupper($translator['YEAR_OF_BIRTH']) ?></span> 
                                                    <br><?php echo ($valueArray['field12'] != '' && !empty($valueArray['field12'])) ? $valueArray['field12'] : "N/A"; ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['ETHNICITY']) ?></span>  
                                                    <br><?php echo ($valueArray['field36'] != '' && !empty($valueArray['field36'])) ? $valueArray['field36'] : "N/A"; ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['PASSENGER_ID']) ?></span>
                                                    <br><?php echo ($valueArray['field0'] != '') ? $valueArray['field0'] : "N/A"; ?>
                                                </div>
                                            </div>
                                            <div class="form-sep">
                                                <div class="col5"><span><?php echo strtoupper($translator['DATE_OF_ARRIVAL']) ?></span> 
                                                    <br><?php
                                if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                                    {
			                            //echo $this->Dateformatalpha($valueArray['field18'], 'displaymonthformat');
			                            $dateArray = date_parse_from_format("Y-m-d", $valueArray['field18']);
					                    if($valueArray['field28'] == 2 && ($dateArray['month'] == 1 or $dateArray['month'] == '01') && ($dateArray['day'] == 1 or $dateArray['day'] == '01'))
					                    {
					                            echo $dateArray['year'];
					                    }
					                    else {
						                    if ($valueArray['field18'] != '' && $valueArray['field18'] != '0000-00-00') {
						                        echo $this->Dateformatalpha($valueArray['field18'], 'displaymonthformat');
						                    }
					                    }
			                        }
                                else
                                    echo 'N/A';
                                ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['L_SHIP_OF_TRAVEL']) ?></span>  
                                                    <br><?php echo ($valueArray['field7'] != '' && !empty($valueArray['field7'])) ? $valueArray['field7'] : "N/A"; ?>
                                                </div>
                                                <div class="col5"><span><?php echo strtoupper($translator['PORT_OF_DEPARTURE']) ?></span>
                                                    <br><?php echo ($valueArray['field24'] != '' && !empty($valueArray['field24'])) ? $valueArray['field24'] : "N/A"; ?>
                                                </div>
                                            </div>
                                        </div>  
                                        <?php
                                    }
                                    ?>      

                                </div>
                                <div class="name">
                                    <?php
                                    $nameArray = array();
                                    if (!empty($valueArray['field3']))
                                        $nameArray[] = $this->EscapeHtml($valueArray['field3']);
                                    if (!empty($valueArray['field2']))
                                        $nameArray[] = $this->EscapeHtml($valueArray['field2']);
                                    echo @implode(', ', $nameArray);
                                    ?>

                                </div>
                            </div>
                            <div class="col2">
                                <?php
                                if (!empty($valueArray['field19']) && $valueArray['field19'] != '0000')
                                    echo $valueArray['field19'];
                                else
                                    echo 'N/A';
                                ?>
                            </div>
                            <div class="col3">
                                <?php
                                if ($valueArray['field28'] == 2) {
                                    echo ($valueArray['field26'] != '') ? $this->EscapeHtml($valueArray['field26']) : "N/A";
                                } else {
                                    echo ($valueArray['field4'] != '') ? $this->EscapeHtml($valueArray['field4']) : "N/A";
                                }
                                ?>

                            </div>
                            <div class="col4"><?php echo $this->EscapeHtml($valueArray['field7']) ?></div>
                            <div class="col5">
                                <ul class="action">
                                    <?php
                                    if (isset($loggedInUserId) && !empty($loggedInUserId)) {
                                        ?>  
                                        <li><a class='minifest-icon' href='<?php echo $manifestLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/minifest-list.png" alt=""><span class="toolTip"><small></small>Ship Manifest</span></a></li>
                                        <li><a class='ship-icon' href='<?php echo $shipLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-list.png" alt=""><span class="toolTip"><small></small>Ship Image</span></a></li>                                       
										<li><a class='passenger-icon' href='<?php echo $passengerLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/passenger-list.png" alt=""><span class="toolTip"><small></small>Passenger Record</span></a></li>
                                        <?php
                                    } else {
                                        ?>
                                        <li><a class='minifest-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginManifestLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/minifest-list.png" alt=""><span class="toolTip"><small></small>Ship Manifest</span></a></li>
                                        <li><a class='ship-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-list.png" alt=""><span class="toolTip"><small></small>Ship Image</span></a></li>
                                        <li><a class='passenger-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/passenger-list.png" alt=""><span class="toolTip"><small></small>Passenger Record</span></a></li>			                    
                                        <?php
                                    }
                                    ?>
                                </ul>
                            </div>
                        </div>
                        <?php
                        $k++;
                    }
                    if ($k > $limit) {
                        echo '<div id="load_more' . $type . '-' . $page . '"><div id="loadingDiv' . $type . '-' . $page . '" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()"><input name="" type="button" value="Load more" class="load-more-btn button"></a></div></div>';
                    }
                    else
                        echo '<div style="margin-bottom:30px;">&nbsp;</div>';
                    ?>
                    <div id="loadingDiv<?php echo $type ?>"></div>
                    <div id="lastDiv<?php echo $type ?>"></div>
                    <?php
                }
            }
            ?>
        </div>
    </div>
    <?php
}
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function (){
        $("div.black-box").on("mouseleave", function(){
            $(this).fadeOut(600);
        }); 
    });
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>