<!DOCTYPE html>
<head>

<?php 
/** This is used to get the related product
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
 echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/related-product.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slimbox2.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5')
				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/fancybox/jquery.fancybox.css?v=2.1.5')
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/web-colorbox.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/screen.css?v='.$this->layout()->getVariable('cssVersion'))->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/font-kiosk/stylesheet.css?v=' . $this->layout()->getVariable('cssVersion'))
				;
?>

<style>
    html,body { width: auto !important; height: auto !important;  }
    .overflow-hidden { overflow: hidden !important; }
</style>
</head>
<!--frame popup-->
<body>
<div id="relatedProductsDiv" class="wall-popup">
    <div class="content clearfix">
        <div class="top">
            <h1>CHOOSE YOUR FRAMING OPTION</h1>

        </div>

        <div class="passenger-desc">
            <p>*Note: For Canadian orders, we cannot guarantee delivery times due to Customs. For US orders for custom-framed items, please add 14 business days to the delivery times above. We do not ship framed items to addresses other than US and Canadian street addresses.</p>
            <ul>

                <?php

                if ($productTypeId == 8) {
                    echo '<li><strong>Product:</strong> Ship Image</li>';
                    if($product != "") {  echo '<li><strong>Ship Name:</strong>' . $product . '</li>'; }
                }
                if ($productTypeId == 7) {
                    echo '<li><strong>Product:</strong> Ship Manifest</li>';
                    if($product != "") {  echo '<li><strong>Passenger:</strong>' . $product . '</li>'; }
                    //echo '<li><strong>Size:</strong>11x17 small Manifest Image</li>';
                }
                ?>


            </ul>
            <a class="button green float-right"   id="continueWithoutFrame1">CONTINUE WITHOUT FRAME</a>
        </div>

        <div class="listing">
            <!-- <p>Our ready-made framing option consists of neutral-pH double matting, with quality wood molding in double patterns, ready to receive your family document or print. Black undermat with cream overmat. Made specifically for Ellis Island manifests and ship images.</p> -->
            <ul>
<?php

foreach ($this->relatedProduct as $valRelatedProduct) {

    $imagesOther = explode(",", $valRelatedProduct['other_image_name']);
    if(isset($valRelatedProduct['image_name']) and trim($valRelatedProduct['image_name']) != "" and file_exists($this->file_upload_path_assets_upload_dir.$valRelatedProduct['image_name'])) {
        $imageNamePath = $this->file_upload_path_assets_url.$valRelatedProduct['image_name'];
    }
    else {
        $imageNamePath = "";
    }
              
    
    $discounted_price = "0.00";
    if (isset($valRelatedProduct['product_sell_price']) and isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1" and $discounts > 0)
    {
        $discounted_price = $valRelatedProduct['product_sell_price'] - $discounts * $valRelatedProduct['product_sell_price'] / 100;
        $discounted_price = isset($discounted_price) ? $discounted_price : 0;
        $discounted_price = round($discounted_price, 2);
    }
    /*set minimum amount for membership discount start*/
    $minDiscountAmount = "0.00";
    if (isset($valRelatedProduct['product_sell_price']) and isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1")
    {
        $minDiscountAmount = $valRelatedProduct['product_sell_price'] - $minimumMemberShipDiscount * $valRelatedProduct['product_sell_price'] / 100;
        $minDiscountAmount = isset($minDiscountAmount) ? $minDiscountAmount : 0;
        $minDiscountAmount = round($minDiscountAmount, 2);
    }
    /*set minimum amount for membership discount ends*/
?>
                    <li>
                        
                    <?php if(isset($imageNamePath) and trim($imageNamePath) != "") {  ?>  
                      <div class="common-product-image-box">
                          <?php if(!empty($imagesOther) and count($imagesOther) > 1) { ?>
                           <a onclick="return displaypopclick('<?php echo $valRelatedProduct['related_product_id']; ?>');"><img src="<?php echo $this->file_upload_path_assets_url.$valRelatedProduct['image_name']; ?>" /></a>
                           <div onclick="return displaypopclick('<?php echo $valRelatedProduct['related_product_id']; ?>');" class="view-more">View More</div>
                          <?php } else { ?>
                           <a href="<?php echo $this->file_upload_path_assets_url_main.$valRelatedProduct['image_name']; ?>" alt="" value="" rel="lightbox"><img src="<?php echo $this->file_upload_path_assets_url.$valRelatedProduct['image_name']; ?>" /></a>
                           <div  class="view-more"><a href="<?php echo $this->file_upload_path_assets_url_main.$valRelatedProduct['image_name']; ?>" alt="" value="" rel="lightbox">View More</a></div>
                          <?php } ?>
                       </div>
                     <?php } else { ?>
                       <div class="common-product-image-box">
                            <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/no-image.jpg" width="166" height="126" />
                       </div>
                     <?php } ?>
                        

                        <?php
                          // n - start
                          if(!empty($imagesOther) and isset($imagesOther) and is_array($imagesOther) and count($imagesOther) > 1) {   
                            foreach ($imagesOther as $imName) {
                                if(isset($imName) and trim($imName) != "") {
                                    $imthumb = $this->file_upload_path_assets_url . $imName;
                                    $imthumbBig = $this->file_upload_path_assets_url_main . $imName;
                            ?>
                                <a class="fancybox-thumbs<?php echo $valRelatedProduct['related_product_id']; ?>" style="display:none"  data-fancybox-group="thumb" href="<?php echo $imthumbBig; ?>"><img src="<?php echo $imthumb; ?>" alt="" /></a>
                            <?php              
                               }             
                             } 
                           } 
                          // n - end
                          ?>
                      
                        
                        <div class="detail no-padd">
                            <h2><?php echo $valRelatedProduct['product_name']; ?></h2>
							
							<div class="price-section">
                            <div class="row"><h3>Price $<strong><?php echo $this->Currencyformat($valRelatedProduct['product_sell_price']); ?></strong></h3></div>
                            <div class="row"><?php if (isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1") { ?>
                                <h3 class="m-price">Member price $<strong><?php 
                                if($discounts > 0)
                                {
                                  echo $this->Currencyformat($discounted_price);  
                                }
                                else
                                {
                                    echo $this->Currencyformat($minDiscountAmount);
                                }
                                ?></strong></h3>
                        <?php } ?></div>
                            
                            <div class="row"><input type="text" class="frameQtyWohNum" name="quantity_<?php echo $valRelatedProduct['related_product_id']; ?>" id="quantity_<?php echo $valRelatedProduct['related_product_id']; ?>" value="1" /></div>
							</div>
                        </div>
						<a  class="button pink no-bg-img" onclick="addtocart('<?php echo $valRelatedProduct['related_product_id']; ?>');">ADD TO CART</a>
                    </li>
                        <?php } ?>
            </ul>
            <a class="button green float-right"  id="continueWithoutFrame2">CONTINUE WITHOUT FRAME</a>
        </div>
    </div>
</div>


<div id="addedToCartRelatedProducts" class="inner-popup-detail"  style="display:none; width: 650px; height: 200px;">
    <h1>Add To Cart</h1> 
    <p>Item has been added to your cart.</p>
    <input type="button" value="Continue" name="close" class="button green semibold" id="hide_add_to_card_related_products">
	<input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON3" onclick="disableCheckoutButton('CHECKOUT_BUTTON3'); parent.location.href='<?php
                                if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/checkout'">    
</div>
  

 <div id="ajx_loader" class="main-loader" style="display:block;"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/loading.gif" id="ajx_loader_image"/></div>

<?php
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery-1.9.0.min.js?v='.$this->layout()->getVariable('jsVersion'))
                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/web-common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))					 
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fancybox/jquery.fancybox.js?v=2.1.5')
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5')
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slimbox2.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/related.product.js?v='.$this->layout()->getVariable('jsVersion'));
?>

</body>
</html>