<?php
/** This is used for ship search
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
echo $this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/jquery-ui.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(11, $this->layout()->getVariable('cssFilePath') . '/css/autosuggest.search.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(12, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'))					  
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))					  
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))					  
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));

$translator = $jsLangTranslate;

$title = $translator['PAGE_TITLE'];
$this->headTitle($title);

$form = $this->form;
?>

<div class="inner-header">
    <div class="container class-relative">  
        <h1><?php echo $translator['L_SHIP_SEARCH'] ?></h1>
    </div>
</div>
<form name="search_ship" id="search_ship" method="post" action="ship-result">
<section class="passenger-outer-bg" id="contentArea">
    <div class="passenger-inner-bg">
    <?php
    if ($loggedInUserId != '') {
					if(count($searchArray)<4)
                                $scrollCls = '';
                             else   
                                $scrollCls = 'scroll-pane featured-scroll';    
    
    ?>
        <div class="save-search">
            <div class="saved-search-icon">
                <span>Saved Searches </span>

                    <div id="SaveSearchTitleList">
						 <div class="common-savesearch">
							<div class="dropdown" style="display:none;">
							<div class="<?php echo $scrollCls?>">
	                    <ul>
	                        <?php
	                        if (count($searchArray) > 0) {
	                            foreach ($searchArray as $val) {
								?>
								<li>
								    <span><?php echo stripslashes($val->title) ?></span><div class="sn-close" onclick="deleteSaveSearch('<?php echo $val->search_id ?>','indexpage');"></div><div class="sn-search" onclick="getSaveSearch('<?php echo $val->search_id ?>','indexpage');"></div>
								</li>
								<?php
	                            }
	                        } else {
	                            ?>
	                            <li>
									<span>No search is saved</span>
	                            </li>	        
	                            <?php
	                        }
	                        ?>
	                    </ul>
						</div>
						</div>

                    </div>
                </div>
            </div>
        </div>
	<?php } ?>
        <div class="container">
            <div class="small-wrapper">
                <div class="inner-section min-height">
                    <div class="top-section">
                        <h1>Ship Search</h1>
						<span></span>
                        <div class="passenger-search ship-form">
                        <?php echo $this->formRow($form->get('ship_name')); ?>
                        <div id="error_msg"></div>
                        <?php echo $this->formRow($form->get('submit')); ?></div>

                        <div class="narrow-search">
						<a href="javascript:void(0);" >Narrow your Search</a>
						<a href="javascript:void(0);" class="wizard" id="narrowshipsearchid">Wizard</a>
						</div>

                        <?php
	                        echo $this->partial('/passenger/passenger/ship_search_param.phtml', array("form"=>$form,'searchTypeArray'=>$searchTypeArray,'displayStatus'=>'yes','fromIndex'=>'no'));
                        ?>
                </div>
            </div>
        </div>
</section>
<?php
	echo $this->form()->closeTag();
?>

        <div style='display:none'>
            <div id='delete_image' class="inner-popup-detail">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h1><?php echo $translator['C_REMOVE_SEARCH'] ?></h1>
                <p><?php echo $translator['DELETE_ALERT'] ?></p>
                <input type="button" value="Remove" name="yes" id="yes_delete" class="button semibold">
                <input type="button" value="Cancel" name="no" id="no_delete" class="button green semibold">
            </div>
        </div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var isPosted = '" . $isPosted . "';";
$var.=" var searchId = '" . $searchId . "';";

$script = <<<EOD
$(document).ready(function() { 
	$(".common-savesearch").click( function(){
		$(".common-savesearch .dropdown").show();
		$('.scroll-pane').jScrollPane();
	})
    $("select").select2();
});
EOD;

$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.ship.search.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/ship.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>
