<?php
/** This is used for passenger annotation listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div class="content">
    <h1>Annotations</h1>
    <p class="clearfix"> Welcome to the Community Archive, a collection of annotations to passenger records written by our community of members.</p>
    <?php
    if (count($this->annotationResult) > 0) {
        ?>  
        <p>
            This is a list of annotations for the passenger, created by visitors to the site. Annotations supplement information in the record, telling more about the passenger's background and life in the United States. Click a name to view an annotation.
        </p>

        <table cellpadding="0" cellspacing="0" >
            <thead>
                <tr>
                    <th width="10%">&nbsp;</th>
                    <th width="30%"><?php echo $jsLangTranslate['CREATED_BY'] ?></th>
                    <th width="30%"><?php echo $jsLangTranslate['DATE'] ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $no = 1;
                foreach ($this->annotationResult as $key => $val) {
                    if(!empty($val['contact_name']) || !empty($val['company_name'])){
	                    if($val['user_type']!=1){
	                        $addedBy = $val['company_name'];
	                    }else{
	                        $contactLastName = substr($val['contact_last_name'],0,1).'.';
	                        $addedBy = $val['contact_name'].' '.$contactLastName;
	                    }
                    }else{
                        $addedBy = 'Admin';
					}
					
                    $addedDate = $this->Dateformatalpha($val['added_date'], 'displaymonthformat');
                    ?>
                    <tr>
                        <td><?php echo $no; ?></td>
                        <td><a href="javascript:void(0);" onclick=showPassengerDetails('annotationTab','<?php echo $this->Encrypt($val['annotation_correction_id']) ?>','<?php echo $no ?>');><?php
            echo $addedBy;
                    ?></a></td>
                        <td><?php echo $addedDate ?></td>
                    </tr>
                    <?php
                    $no++;
                }
                ?>
            </tbody>
        </table>  
        <?php
    }
    ?>  
</div>  