<?php
/** This is used for passenger search page
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
 
 $this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/jquery-ui.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/autosuggest.search.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
					   ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));

$translator = $jsLangTranslate;

$title = $translator['PAGE_TITLE'];
$this->headTitle($title);
$form = $this->form;
?>
<form name="search_passenger" id="search_passenger" method="post" action="passenger-result">
<!--starts passenger-search-->
<section class="passenger-outer-bg" id="contentArea">
    <div class="passenger-inner-bg">
   
    
        <div class="container">
            <div class="full">
                <div class="inner-section min-height">
                    <div class="passenger-text">
                        <h2><?php echo $translator['PAGE_TITLE'] ?></h2>
                       <h3><?php echo $translator['MILLION_PASSENGER_RECORDS'] ?></h3> 
						<div class="link"><a href="/about-passenger-search"><img src="/kiosk-front-img/question.png" alt="">Need more information? Click here.</a></div>
						</div>
                        <div class="main-form-section">
						<div class="form-section min-height">
							<div class="input-box"><?php echo $this->formRow($form->get('initital_name')); ?></div>
							<div class="input-box"><?php echo $this->formRow($form->get('last_name')); ?></div>
                        <div id="error_msg"></div>
                        <?php echo $this->formRow($form->get('submit')); ?>
						</div>
						<div class="line-text"><span>To narrow your search please use these filters</span></div>
						</div>
						<div class="main-tab-section">
							<ul>

								<li class="name"><a href="javascript:void(0)" onclick="showSearchSection(1)"><span><small></small>NAME VARIATIONS</span></a>				
								</li>
								<li class="gender"><a href="javascript:void(0)" onclick="showSearchSection(2)"><span><small></small>GENDER</span></a>
							
								</li>
								<li class="marital"><a href="javascript:void(0)" onclick="showSearchSection(3)"><span><small></small>MARITAL STATUS</span></a>
						
								</li>
								<li class="age"><a href="javascript:void(0)" onclick="showSearchSection(4)"><span><small></small>AGE</span></a>
								
								</li>
								<li class="arrivel"><a href="javascript:void(0)" onclick="showSearchSection(5)"><span><small></small>ARRIVAL DATES</span></a>
								
								</li>
								<li class="voyage"><a href="javascript:void(0)" onclick="showSearchSection(6)"><span><small></small>VOYAGE INFO</span></a>
							
								</li>
								<li class="nationality"><a href="javascript:void(0)" onClick="showSearchSection(7);showNationalitySlider();"><span><small></small>NATIONALITY</span></a>
						
								</li>
							</ul>
						</div>
						
						<div class="outer-main-content">
						
									<div class="main-content" id="search-section1">
								<h3>Name variations</h3>
									<div class="custom-checkbox">
							<div class="name-variations">		
                            <ul>
                                <li>
                                    <input type="checkbox" name="search_type5" id="search_type5" value="1" <?php if(in_array('search_type5',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type5" class="css-label"><?php echo $translator['CONTAINS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type1" id="search_type1" value="1" <?php if(in_array('search_type1',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type1" class="css-label"><?php echo $translator['EXACT_MATCHES'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type2" id="search_type2" value="1" <?php if(in_array('search_type2',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type2" class="css-label"><?php echo $translator['CLOSE_MATCHES'] ?></label>
                                </li>
                                <li>

                                    <input type="checkbox" name="search_type3" id="search_type3" value="1" <?php if(in_array('search_type3',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type3" class="css-label"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type4" id="search_type4" value="1" <?php if(in_array('search_type4',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type4" class="css-label"><?php echo $translator['ALTERNATE_SPELLINGS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type6" id="search_type6" value="1" <?php if(in_array('search_type6',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type6" class="css-label last"><?php echo $translator['WHERE_LAST_NAME_IS_FIRST'] ?></label>
                                </li>
                            </ul>
							</div>
						<?php
						if($fromIndex == 'yes') {
						?>
								<div class="narrow-btn-row">	
									<input type="button" class="button" value="Cancel" id="cancel_button" name="">	
									<input type="button" class="button right" value="Update Result" id="update_match_result" name="">		
								</div>
						<?php
						}
						?>
                        </div>
								
								</div>
								
								
								
								
						<div class="main-content" id="search-section2">
								<h3>GENDER</h3>
									       <div class="container-content">
                                       
                                        <ul class="content-filter-nav custom-checkbox">
                                            <li>
                                                <input type="checkbox" name="gender[]" id="male" <?php if(@in_array('M',$gender)) { echo 'checked';$cls1='active';} ?> value='M' class="css-checkbox" />
                                                <label for="male" id="male_label" class="css-label male"><span><?php echo $translator['MALE'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="gender[]" value='F' <?php if(@in_array('F',$gender)) { echo 'checked';$cls2='active';} ?> id="female" class="css-checkbox" />
                                                <label for="female" id="female_label" class="css-label female"><span><?php echo $translator['FEMALE'] ?></span></label>
                                            </li>
                                        </ul>
                                    </div>
								</div>			
						
								<div class="main-content" id="search-section3">
								<h3>MARITAL STATUS</h3>
								    <div class="container-content" style="border: none;">
                                        <ul class="content-filter-nav-extra custom-checkbox">
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='S' <?php if(@in_array('S',$maritalstatus)) { echo 'checked';$cls3='active';} ?> id="single" class="css-checkbox" />
                                                <label for="single" id="single_label" class="css-label single"><span><?php echo $translator['SINGLE'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='M' <?php if(@in_array('M',$maritalstatus)) { echo 'checked';$cls4='active';} ?> id="married" class="css-checkbox" />
                                                <label for="married" id="married_label" class="css-label married"><span><?php echo $translator['MARRIED'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='W' <?php if(@in_array('W',$maritalstatus)) { echo 'checked';$cls5='active';} ?> id="widowed" class="css-checkbox" />
                                                <label for="widowed" id="widowed_label" class="css-label widowed"><span><?php echo $translator['WIDOWED'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='D' <?php if(@in_array('D',$maritalstatus)) { echo 'checked';$cls6='active';} ?> id="divorced" class="css-checkbox" />
                                                <label for="divorced" id="divorced_label" class="css-label widowed"><span><?php echo $translator['DIVORCED'] ?></span></label>
                                            </li>
                                        </ul>
                                    </div>
								</div>
						
						<div class="main-content" id="search-section4">
									<h3>AGE</h3>
								 <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_BIRTH'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('birth_year_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="birth_year"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('birth_year_to')); ?>
                                        </div>
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['CURRENT_AGE'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('current_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="current_age"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('current_age_to')); ?>
                                        </div>
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['L_AGE_AT_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('arrival_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="arrival_age"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('arrival_age_to')); ?>
                                        </div>
                                    </div>
								
								</div>
				
                      <div class="main-content" id="search-section5">
								<h3>ARRIVAL DATE</h3>
									           <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="year_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['MONTH_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="month_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['DAY_OF_ARRIVAL'] ?></h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="day_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_to')); ?>
                                        </div>
                                    </div>
								</div>
								
								
								
							<div class="main-content" id="search-section6">
								<h3>VOYAGE INFORMATION</h3>
								 <div class="step-three">
                                        <div class="col"><?php echo $this->formRow($form->get('town')); ?></div>
										<div class="col"><?php echo $this->formRow($form->get('ship_name')); ?>
                                        <span id="srch_suggest" class="srch_suggest"></span></div>
										<div class="col m-r-none"><?php echo $this->formRow($form->get('port_of_departure')); ?>
                                        <span id="port_srch_suggest" class="port_srch_suggest"></span></div>
                                        
										
                                          <div class="col"><div class="arrival-port">
                                            <?php echo $this->formRow($form->get('arrival_port')); ?>
                                        </div></div>
										  <div class="col"> <?php echo $this->formRow($form->get('passenger_id')); ?></div>
										  <div class="col m-r-none"><?php echo $this->formRow($form->get('first_name')); ?></div>
                                        
                                        
                                         <div class="col m-b-none">                                      
                                        <?php echo $this->formRow($form->get('companion_name')); ?>
										</div>
										  <div class="col m-b-none">
                                        <?php echo $this->formRow($form->get('place_of_birth')); ?>
                                        </div>
                                
                                    
                                </div>
								
								</div>


								<div class="main-content" id="search-section7">
								<h3>Ethnicity</h3>
								 <div id='ethnicity_list'>								
								<div class="ethnicity-scroll">
								<div class="scroll-pane ethni-scroll-popup">
									<p><?php echo $this->formRow($form->get('ethnicity')); ?></p>
									<?php echo $this->formRow($form->get('ethnicity_search')); ?>
									
									</div>
								</div>
							
							</div>      

								</div>								
					</div>	

                        <?php
	                       // echo $this->partial('/passenger/passenger/passenger_search_param.phtml', array("form"=>$form,'gender'=>$gender,'maritalstatus'=>$maritalstatus,'searchTypeArray'=>$searchTypeArray,'displayStatus'=>'yes','searchEthnicity'=>array(),'translator'=>$translator,'fromIndex'=>'no'));
                        ?>
                </div>
            </div>
        </div>
</section>
<!--passenger-search ends-->
<?php
echo $this->form()->closeTag();
?>                                        
<div style='display:none'>
    <div id='delete_image' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['C_REMOVE_SEARCH'] ?></h1>
        <p><?php echo $translator['DELETE_ALERT'] ?></p>
        <input type="button" value="Remove" name="yes" id="yes_delete" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_delete" class="button green semibold">
    </div>
</div>
<?php 
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var isPosted = '" . $isPosted . "';";
$var.=" var searchId = '" . $searchId . "';";

$script = <<<EOD
$(document).ready(function() { 
    $("select").select2();
	$(".common-savesearch").click( function(){
		
		$(".common-savesearch .dropdown").show();
		$('.scroll-pane').jScrollPane();
	});
});
EOD;

$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))						  
						  ->appendScript($script);
?>
<script type="">
$( document ).ready(function() {
/*
	$(".main-tab-section").children("ul").children("li").children(".main-content:not(:first)").css("display","none");
	$(".main-tab-section").children("ul").children("li:first-child").addClass("active");
	
	$(".main-tab-section").children("ul").children("li").click(function(){
	$(".main-tab-section").children("ul").children("li").children(".main-content").css("display","none");
	$(this).children(".main-content").css("display","block");
	$(".main-tab-section").children("ul").children("li").removeClass("active")
	$(this).addClass("active");
	
	})*/
	
	$(".main-tab-section").children("ul").children("li:first-child").addClass("active");
	$("#search-section1").show();
	
	
	
	$(".main-tab-section").children("ul").children("li").click(function(){
	$(".main-tab-section").children("ul").children("li").removeClass("active")
	$(this).addClass("active");
	
	})	
})
function showSearchSection(section){ 
	for(var k=1; k<=7;k++)
	{
		$("#search-section"+k).hide();
	}
	$("#search-section"+section).show();
}
</script>
