<?php
/**
 * This view is used to ship passengers for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$var = '';
$this->inlineScript()->captureStart();
$this->inlineScript()->captureEnd();
?>    <div class="pop-container"> 
    <div class="grid-section">
        <h3>Passenger List</h3>
        <div class="grid-box" id="gview_list">
            <table id="shiplist"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div></div>

