<?php
/** This is used for passenger search
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));
				
$translator = $jsLangTranslate; 
?>




<!--starts passenger-search-->
<section class="passenger-outer-bg" id="contentArea">
    <div class="full">
    <form method="post" id="passenger" action="">
        <div class="passenger-result-bg">
    
      
				
				<div class="pass-search-btm">
					<div class="passenger-detail">
					<h2>Passenger Search</h2>
					<div class="form-section">
					 <div class="input-box"><?php echo $this->formRow($form->get('initital_name')); ?></div>
                     <div class="input-box"><?php echo $this->formRow($form->get('last_name')); ?></div>
					 <input type="submit" name="submit" id="searchButton" class="blue-btn next-small" value="Search">
					  <input type="button" name="submit" id="narrowyoursearch" class="blue-btn refine" value="Refine">
					</div>
					<!--<div class="search-filter"><a href="javascript:void(0)" id="narrowyoursearch">sumit</a></div>-->
				</div>
				<!--<a href="javascript:void(0)" class="narrow-search">Narrow your Search</a>
				<div class="tag-deatil">
					<span class="tag">Exact Matches<small></small></span>
					<span class="tag">Male<small></small></span>
					<span class="tag">Divorced<small></small></span>
					<span class="tag">Arrival Age: 36-42<small></small></span>
				</div>-->
				</div>
				
				
				
				
				
				
					<div class="right-section">
                    <?php echo $this->formRow($form->get('match_type')); ?>
                    <?php echo $this->formRow($form->get('div_name')); ?>
                    
                   
                    <input type="hidden" name="result_format" value="list_view" id="result_format">
                    <input type="hidden" name="is_logged_in" id="is_logged_in" value="<?php echo $is_logged_in ?>">
                    <span id="error_msg"></span>
                    
                    
                 
                    <div class="left">
					
					
					
					
                        <div class="narrow-detail-section">
                            <div class="passenger-inner-bg narrow-dropdown" id="filter_area">
                                <div class="small-wrapper">
                                    <div class="inner-section">
                                        <?php 
							                    echo $this->partial('/passenger/passenger/passenger_search_param_form.phtml', array("searchParam" => $searchParam,"form"=>$form,'gender'=>$gender,'maritalstatus'=>$maritalstatus,'searchTypeArray'=>$searchTypeArray,'displayStatus'=>'no','searchEthnicity'=>$searchEthnicity,'translator'=>$translator,'fromIndex'=>'yes'));
						                 ?>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
					</div> 
                </div>
       
   
        <div class="full">
            <div class="passenger-search-result">
			
			
              
				
				
                <div class="search-result-box right-form search-result-row">
				<h2>Search Results</h2>
                    <div id="SaveSearchTitleList">
						<?php echo $this->formRow($form->get('search_name')); ?>
						<?php echo $this->formRow($form->get('save')); ?>
						<div id="save_error_msg"></div>
						<?php
                            if ($loggedInUserId != '') {
                            
                            if(count($searchArray)<4)
                                $scrollCls = '';
                             else   
                                $scrollCls = 'scroll-pane featured-scroll';
                                
                            ?>
		                    <div class="common-savesearch">
							    <div class="dropdown" style="display:none;">
								<small></small>
								<div class="<?php echo $scrollCls?>">
		                        <ul>
		                            <?php
			                        if (count($searchArray) > 0) {
			                            foreach ($searchArray as $val) {
			                                ?>
			                                <li>
			                                    <span><?php echo stripslashes($val->title) ?></span><div class="sn-close" onclick="deleteSaveSearch('<?php echo $val->search_id ?>','');"></div><div class="sn-search" onclick="getSaveSearch('<?php echo $val->search_id?>');"></div>
			                                </li>
								           <?php
			                            }
			                        } else {
			                            ?>
			                            <li>
			                                <span>No search is saved</span>
			                            </li>	        
			                            <?php
			                        }
			                        ?>
		                        </ul>
		                    </div>
							</div>
							</div>
		                    <?php
		                    }
		                    ?>										
										
                </div>
                     <div class="short-option">       				
                    <span class="shorting">Sort By</span>
                    <div class="sort-by-pass">
                        <select name="sort_field" id="sort_field">
                            <option value=' '>Select</option>
                            <option value='field2' <?php if ($sort_field == 'field2') echo 'selected'; ?> >First Name</option>
                            <option value='field3' <?php if ($sort_field == 'field3') echo 'selected'; ?> >Last Name</option>
                            <option value='field18'<?php if ($sort_field == 'field18') echo 'selected'; ?> >Arrival Date</option>
                        </select>
					</div>
					<div class="sort-by-pass last">
                        <select name="sort_order" id="sort_order">
                            <option value=' '>Select</option>
                            <option value='asc' <?php if ($sort_order == 'asc') echo 'selected'; ?>>Ascending</option>
                            <option value='desc' <?php if ($sort_order == 'desc') echo 'selected'; ?>>Descending</option>
                        </select>
                    </div>
                <div class="woh-list-view">
					<a class="grid-view" href="javascript:void(0);" onClick="showGridView();" alt="Tiles View" title="Tiles View"></a>
					<a class="list-view active" href="javascript:void(0);" onClick="showListView();" alt="List View" title="List View"></a>
				</div>
				</div>
            </div>
        </div>
        <div id="passengerSearchResult"></div>         
		</div>
    </div></form> 
</section>

<div style='display:none'>
    <div id='delete_image' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['C_REMOVE_SEARCH'] ?></h1>
        <p><?php echo $translator['DELETE_ALERT'] ?></p>
        <input type="button" value="Remove" name="yes" id="yes_delete" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_delete" class="button green semibold">

    </div>
</div>

<div style='display:none'>
    <div id='confirm_message' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1>Passenger Search</h1>
        <p>Search is saved successfully</p>
        <input type="button" value="Close" name="no" id="close_confirm" class="button green semibold">

    </div>
</div>
<div style='display:none'>
    <div id='exceed' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" name="no" id="close_exceed" class="button green semibold">

    </div>
</div>
<!--passenger-search ends-->
<?php 

$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var searchId = '" . $searchId . "';";
$var.=" var matchType = '" . $matchType . "';";

$searchTypeStr = @implode(",",$searchType);

$script = <<<EOD
$(document).ready(function() { 
    $("select").select2();
	$(".common-savesearch").click( function(){
		$(".common-savesearch .dropdown").show();
		$('.scroll-pane').jScrollPane();
	});
});
$(function (){
        if(matchType!= '')
        {
            $("#match_type").val(matchType);
        }
        var searchType = "$searchTypeStr";

        var searchTypeArr = searchType.split(',');
        $(".match-box").first().click();
        $("#match_type").val(searchTypeArr[0]);
        if(searchTypeArr[0]==5)
            $("#div_name").val('contains_match');
        if(searchTypeArr[0]==1)
            $("#div_name").val('exact_match');
        if(searchTypeArr[0]==2)
            $("#div_name").val('close_match');                        
        if(searchTypeArr[0]==3)
            $("#div_name").val('sound_like');        
        if(searchTypeArr[0]==4)
            $("#div_name").val('alternate_spelling');
        if(searchTypeArr[0]==6)
            $("#div_name").val('last_first'); 
        // event is used to submit the search
        $("#passenger").submit();

    });
EOD;

$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
?>
<script>
$(document).ready(function() { 
		var listingType = '<?php echo $listingType ?>';
		if(listingType == 'list') {
			setTimeout("showListView();","1000");
		}
});
</script>