					<?php
						if($displayStatus == 'no')
							$style="display:none;";
						else
								$style="display:block;";
								
					?>
					<div class="passenger-filter" id="passenger-filter" style="<?php echo $style ?>">
								<?php
								if($fromIndex == 'yes') {
								?>
								<a href="javascript:void(0);" class="close" id="hide_close_matches"></a>
								<?php
								}
								?>
						<div class="strip"></div>
						<div class="custom-checkbox">
                           
						<?php
						if($fromIndex == 'yes') {
						?>
								<div class="narrow-btn-row">	
									<input type="button" class="button" value="Cancel" id="cancel_button" name="">	
									<input type="button" class="button right" value="Update Result" id="update_match_result" name="">		
								</div>
						<?php
						}
						?>
                        </div>
					</div>  
			<div id="search_div" style="display:none;">	

                    <!-- step one narrow search-->
                    <div class="narrow-search-box">
                        <div class="black-bg"> </div>
                        
                        <a href="javascript:void(0);" class="close" id="hide_details_match"></a>
                       
                       <!-- <a href="javascript:void(0);" class="refresh" id="refresh"></a>-->
                        <a href="javascript:void(0);" class="left_arrow"></a>
                        <a href="javascript:void(0);" class="right_arrow"></a>
                        <div class="inner-detail">
                            <div class="slideshow">
                                <div class="narrow-container" id="step_1">
				
						<div class="small-slider-wrapper">
								<h4>Name variations</h4>
									<div class="custom-checkbox">
							<div class="name-variations">		
                            <ul>
                                <li>
                                    <input type="checkbox" name="search_type5" id="search_type5" value="1" <?php if(in_array('search_type5',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type5" class="css-label"><?php echo $translator['CONTAINS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type1" id="search_type1" value="1" <?php if(in_array('search_type1',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type1" class="css-label"><?php echo $translator['EXACT_MATCHES'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type2" id="search_type2" value="1" <?php if(in_array('search_type2',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type2" class="css-label"><?php echo $translator['CLOSE_MATCHES'] ?></label>
                                </li>
                                <li>

                                    <input type="checkbox" name="search_type3" id="search_type3" value="1" <?php if(in_array('search_type3',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type3" class="css-label"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type4" id="search_type4" value="1" <?php if(in_array('search_type4',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type4" class="css-label"><?php echo $translator['ALTERNATE_SPELLINGS'] ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type6" id="search_type6" value="1" <?php if(in_array('search_type6',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type6" class="css-label last"><?php echo $translator['WHERE_LAST_NAME_IS_FIRST'] ?></label>
                                </li>
                            </ul>
							</div>
						<?php
						//if($fromIndex == 'yes') {
						?>
								<!--<div class="narrow-btn-row">	
									<input type="button" class="button" value="Cancel" id="cancel_button" name="">	
									<input type="button" class="button right" value="Update Result" id="update_match_result" name="">		
								</div>-->
						<?php
						//}
						?>
                        </div>
								
								</div>
				

                                </div>
                                <div class="narrow-container" id="step_2">
								
									<div class="small-slider-wrapper">
								<h4>GENDER</h4>
									       <div class="container-content">
                                       
                                        <ul class="content-filter-nav custom-checkbox">
                                            <li>
                                                <input type="checkbox" name="gender[]" id="male" <?php if(@in_array('M',$gender)) { echo 'checked';$cls1='active';} ?> value='M' class="css-checkbox" />
                                                <label for="male" id="male_label" class="css-label male"><span class="mar-lft-10px"><?php echo $translator['MALE'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="gender[]" value='F' <?php if(@in_array('F',$gender)) { echo 'checked';$cls2='active';} ?> id="female" class="css-checkbox" />
                                                <label for="female" id="female_label" class="css-label female"><span class="mar-lft-7px"><?php echo $translator['FEMALE'] ?></span></label>
                                            </li>
                                        </ul>
                                    </div>
								</div>
								
								
								
                              
                             

                                </div>
                                <div class="narrow-container" id="step_3">
								
								<div class="small-slider-wrapper">
								
									
								<h4>MARITAL STATUS</h4>
								    <div class="container-content" style="border: none;">
                                        <ul class="content-filter-nav-extra custom-checkbox">
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='S' <?php if(@in_array('S',$maritalstatus)) { echo 'checked';$cls3='active';} ?> id="single" class="css-checkbox" />
                                                <label for="single" id="single_label" class="css-label single"><span class="m-l-10"><?php echo $translator['SINGLE'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='M' <?php if(@in_array('M',$maritalstatus)) { echo 'checked';$cls4='active';} ?> id="married" class="css-checkbox" />
                                                <label for="married" id="married_label" class="css-label married"><span class="m-l-5"><?php echo $translator['MARRIED'] ?></span></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="marital_status[]" value='W' <?php if(@in_array('W',$maritalstatus)) { echo 'checked';$cls5='active';} ?> id="widowed" class="css-checkbox" />
                                                <label for="widowed" id="widowed_label" class="css-label widowed"><span><?php echo $translator['WIDOWED'] ?></span></label>
                                            </li>
                                            <li class="last">
                                                <input type="checkbox" name="marital_status[]" value='D' <?php if(@in_array('D',$maritalstatus)) { echo 'checked';$cls6='active';} ?> id="divorced" class="css-checkbox" />
                                                <label for="divorced" id="divorced_label" class="css-label widowed"><span><?php echo $translator['DIVORCED'] ?></span></label>
                                            </li>
                                        </ul>
                                    </div>
						
								</div>
								
								
								
								
					
								
                          
                                </div>
                                <div class="narrow-container" id="step_4">
								
											<div class="small-slider-wrapper">
											<h4>Filter By Age</h4>
								      <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_BIRTH'] ?></h2>
										<div class="slider-input right">
                                            <?php echo $this->formRow($form->get('birth_year_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('birth_year_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="birth_year"></div>
                                        </div>
                                        
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['CURRENT_AGE'] ?></h2>
										<div class="slider-input right">
                                            <?php echo $this->formRow($form->get('current_age_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('current_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="current_age"></div>
                                        </div>
                                        
                                    </div>

                                    <div class="step-two">
                                        <h2><?php echo $translator['L_AGE_AT_ARRIVAL'] ?></h2>
										<div class="slider-input right">
                                            <?php echo $this->formRow($form->get('arrival_age_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('arrival_age_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="arrival_age"></div>
                                        </div>
                                        
                                    </div>
								</div>
								
								
								
								
								</div>
							  <div class="narrow-container" id="step_5">
					<div class="small-slider-wrapper">
								<h4>Filter Arrival Dates</h4>
								       <div class="step-two">
                                        <h2><?php echo $translator['YEAR_OF_ARRIVAL'] ?></h2>
										<div class="slider-input right">
                                            <?php echo $this->formRow($form->get('year_of_arrival_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('year_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="year_of_arrival"></div>
                                        </div>
                                        
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['MONTH_OF_ARRIVAL'] ?></h2>
										<div class="slider-input right">
                                            <?php echo $this->formRow($form->get('month_of_arrival_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('month_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="month_of_arrival"></div>
                                        </div>
                                        
                                    </div>
                                    <div class="step-two">
                                        <h2><?php echo $translator['DAY_OF_ARRIVAL'] ?></h2>
										 <div class="slider-input right">
                                            <?php echo $this->formRow($form->get('day_of_arrival_to')); ?>
                                        </div>
                                        <div class="slider-input left">
                                            <?php echo $this->formRow($form->get('day_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="day_of_arrival"></div>
                                        </div>
                                       
                                    </div>
								 </div>
							  </div>
							   <div class="narrow-container" id="step_6">
							   <div class="small-slider-wrapper">
								<h4>Filter Voyage Information</h4>
								 <div class="step-three">
                                        <div class="col"><?php echo $this->formRow($form->get('town')); ?></div>
										<div class="col  m-r-none"><?php echo $this->formRow($form->get('ship_name')); ?>
                                        <span id="srch_suggest" class="srch_suggest"></span></div>
										<div class="col"><?php echo $this->formRow($form->get('port_of_departure')); ?>
                                        <span id="port_srch_suggest" class="port_srch_suggest"></span></div>
                                        
										
                                          <div class="col m-r-none"><div class="faq-select">
                                            <?php echo $this->formRow($form->get('arrival_port')); ?>
                                        </div></div>
										  <div class="col"> <?php echo $this->formRow($form->get('passenger_id')); ?></div>
										  <div class="col m-r-none"><?php echo $this->formRow($form->get('first_name')); ?></div>
                                        
                                        
                                         <div class="col m-b-none">                                      
                                        <?php echo $this->formRow($form->get('companion_name')); ?>
										</div>
										  <div class="col m-r-none m-b-none">
                                        <?php echo $this->formRow($form->get('place_of_birth')); ?>
                                        </div>
                                
                                    
                                </div>
								
								</div>
							   
							   </div>
							    <div class="narrow-container" id="step_7">
								<div class="small-slider-wrapper">
								<h4>Filter Ethnicity</h4>
								 <div id='ethnicity_list'>								
								<div class="ethnicity-scroll">
								<div class="scroll-pane ethni-scroll-popup">
									<p><?php echo $this->formRow($form->get('ethnicity')); ?></p>
									<?php echo $this->formRow($form->get('ethnicity_search')); ?>
									
									</div>
								</div>
							
							</div>      

								</div>
								</div>
                            </div>
							
							 
                        </div>
                        <ul id="nav"></ul>
						<?php
						if($fromIndex == 'yes') {
						?>
						<div class="narrow-btn-row mar-top">	
							<input type="button" class="button" value="Reset" id="refresh" name="">	
							<input type="button" class="button right" value="Update Result" id="update_details_search_result" name="">		
						</div>
						<?php } ?>
                    </div>
                  
            </div>    
<div style='display:none'>
    <div id='ethnicity_list' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a>
        <h1>Ethnicity</h1>
		<div class="ethnicity-scroll">
		<div class="scroll-pane ethni-scroll-popup">
	        <p><?php echo $this->formRow($form->get('ethnicity')); ?></p>
	        <?php echo $this->formRow($form->get('ethnicity_search')); ?>
			
			</div>
	    </div>
		<input type="button" value="OK" name="yes" id="eth_ok" class="button semibold">
	</div>          
	</div>

	
<?php
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'));

$script = <<<EOD
$(document).ready(function() { 
	$('.scroll-pane').jScrollPane();
});
EOD;

echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
?>