<?php
/** This is used for passenger annotation
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div id="annotations" class="annotations-detail">
    <div class="content clearfix"><?php
    $auth = $this->getAuth();
    ?>
    <input type="hidden" name="logged_user_id" id="logged_user_id" value="<?php echo $auth->user_id?>">
    <input type="hidden" name="userAnnotationCount" id="userAnnotationCount" value="<?php echo count($userAnnotationResult)?>">
       <div class="top-detail"><p><?php echo $jsLangTranslate['L_MESSAGE1'] ?></p></div>
        <h1 class="float-left"><?php echo $jsLangTranslate['L_MASTER_RECORD'] ?></h1>
        
		<a class="button float-right semibold" href="javascript:void(0);" onclick="viewAnnotationLog('<?php echo $passengerId ?>');" id="view-log" alt="Log" title="Log">Log</a>
        <?php
        if (!empty($memberShipConfig)) {
            if ($memberShipConfig['is_annotation'] == 1) {
                //if (isset($annotationResult['status']) && $annotationResult['status'] == 0) {
                $style = '';

                if (count($userAnnotationResult) > 0) {
                    $add_edit_label = $jsLangTranslate['L_EDIT_ANNOTATION'];
                    $style="display:none;"; // initially display for edit is none, will be visible by javascript.
                } else {
                    $add_edit_label = $jsLangTranslate['L_ADD_ANNOTATION'];
                    $style="display:block;";
                }
                ?>
                <a class="button float-right semibold" href="javascript:void(0);" id="addAnnotation" style="<?php echo $style ?>" alt="<?php echo $add_edit_label ?>" title="<?php echo $add_edit_label ?>"><?php echo $add_edit_label ?></a>&nbsp; 
                <?php
            }
        }
        
        if (!empty($memberShipConfigCorrection)) {
            if ($memberShipConfigCorrection['is_correction'] == 1) {
        ?>
            <a class="button float-right semibold" href="javascript:void(0);" id="addCorrection" alt="<?php echo $jsLangTranslate['L_SUBMIT_CORRECTION'] ?>" title="<?php echo $jsLangTranslate['L_SUBMIT_CORRECTION'] ?>"><?php echo $jsLangTranslate['L_SUBMIT_CORRECTION'] ?></a>
		<?php
			}
		}	
		?>        
        
		<a class="button float-right semibold" href="javascript:void(0);" onclick="addUserCase('<?php echo $userId; ?>', '<?php echo $passengerId ?>');" id="add-woh" alt="<?php echo $jsLangTranslate['L_REPORT_AN_ISSUE'] ?>" title="<?php echo $jsLangTranslate['L_REPORT_AN_ISSUE'] ?>"><?php echo $jsLangTranslate['L_REPORT_AN_ISSUE'] ?></a>

		
        <div id="annotationCorrection"><ul>
                    <?php
                    if (!empty($annotationCount)) { 
                        
                    ?>
                    <li><div class="annotations-action" >
                    <?php
                        if ($page > 1) {
                            ?>
                            <a href="javascript:void(0);" class="pre-annotation" alt="Previous" title="Previous" onclick=showPassengerDetails('annotationTab','<?php echo $this->Encrypt($annotationResult['annotation_correction_id']) ?>','<?php echo $page - 1 ?>');></a>
                            <?php
                        }
                        ?>
                        <div><?php echo $jsLangTranslate['L_ANNOTATIONS'] ?></div> 

                        <?php
                        if ($page < $annotationCount) {
                            ?>
                            <a href="javascript:void(0);" class="next-annotation" alt="Next" title="Next" onclick=showPassengerDetails('annotationTab','<?php echo $this->Encrypt($annotationResult['annotation_correction_id']) ?>','<?php echo $page + 1 ?>');></a>

                            <?php
                        }
                        ?>
                        </div>
                    </li>
                    
                    <li class="large">
                        <strong class="border-right"><?php 
                            
                                
                                if(empty($annotationResult['user_type'])){
                                        $addedBy = 'Admin';
                                    }else{
                                        if ($annotationResult['user_type']!='1'){
                                            $addedBy = $annotationResult['company_name'];
                                        }else{
                                            $contactLastName = substr($annotationResult['contact_last_name'],0,1).'.';
                                            $addedBy = $annotationResult['contact_name'].' '.$contactLastName;
                                        }
                                }
                             if($annotationResult['added_by']!=$auth->user_id) {    
                                echo $jsLangTranslate['DO_YOU_KNOW'].' ';
                                echo $addedBy;
                            
                             ?>
                            
                            <br><?php echo $jsLangTranslate['YOU_SHARE_THE_SAME'] ?> <a href="javascript:void(0);" onClick="showSendMail(1);"><?php echo $jsLangTranslate['SEND_EMAIL_REQUEST'] ?></a>
                            <?php
                            }
                            ?>&nbsp;
                        </strong>
                        <input type="hidden" name="rec_added_by" id="rec_added_by" value="<?php echo $annotationResult['added_by']?>">
                        <span class="byclass bnone">by <?php echo $addedBy ?>, <?php echo $this->Dateformatalpha($annotationResult['added_date'], 'displaymonthformat') ?></span>
                    </li>
                       
                <?php 
                    if($annotationResult['added_by']!=$auth->user_id) { 
                    ?>
                <li><div id="contactDiv" style="display:none;" class="float-left">
                    <form name="contact" id="contact" method="post" action="">
                        <div class="annotation-send-mail">
                            <input type="hidden" name="to_first_name" id="to_first_name" value="<?php if ($userDetail['user_type'] != 1) echo $userDetail['company_name']; else echo $userDetail['first_name']; ?>">
                            <input type="hidden" name="to_email_id" id="to_email_id" value="<?php echo $userDetail['email_id'] ?>">
                            <input type="hidden" name="passenger_name" id="to_email_id" value="<?php echo $passengerResult['PRIN_FIRST_NAME'] ?>">
                            
                                    <p class="bold"><?php echo $jsLangTranslate['EMAIL_TO_ANNOTATION_CREATOR'] ?> </p>
                                    <p> <?php //echo $jsLangTranslate['L_AGREEMENT']  ?></p>
                                    <p class="accept_agreement"> 
                                        <input type="checkbox" class="button" name="agree" id="agree" value="1">&nbsp;<?php echo $jsLangTranslate['I_ACCEPT_AGREEMENT'] ?></p>
                                    <p><input type="button" class="button" name="cancel" id="cancel" value="Cancel" onClick="showSendMail(0);">
                                        <input type="submit" class="button" name="submit" id="submit" value="Submit"></p> 
                           </div>
                    </form>
                </div></li>
                 <?php
                    }
                   } 
                    ?>
                
                <li><strong><?php echo $jsLangTranslate['L_FIRST_NAME'] ?>: </strong><span><?php echo $passengerResult['PRIN_FIRST_NAME'] ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['first_name']) ? stripslashes($annotationResult['first_name']) : ''; ?>&nbsp;</span></li>

                <li><strong><?php echo $jsLangTranslate['L_LAST_NAME'] ?>:</strong><span><?php echo $passengerResult['PRIN_LAST_NAME'] ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['last_name']) ? stripslashes($annotationResult['last_name']) : ''; ?>&nbsp;</span> 
                </li>

                <li><strong><?php echo $jsLangTranslate['L_NATIONALITY'] ;?>: </strong><span>
                        <?php
                            if (!empty($passengerResult['PRIN_NATIONALITY']))
                                echo $passengerResult['PRIN_NATIONALITY'];
                            else 
                                echo 'N/A';
                        ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['nationality']) ? stripslashes($annotationResult['nationality']) : ''; ?>&nbsp;</span> 
                </li>
				<?php
				if(isset($passengerResult['data_source']) && !empty($passengerResult['data_source']))	
				{
					if($passengerResult['data_source'] == 2)
					{
					?>
					<li><strong><?php echo $jsLangTranslate['PLACE_OF_BIRTH'] ?>: </strong><span><?php echo $passengerResult['PLACE_OF_BIRTH'] ?>&nbsp;</span>
	                    <span><?php echo isset($annotationResult['birth_place']) ? stripslashes($annotationResult['birth_place']) : ''; ?>&nbsp;</span> 
	                </li>
					<?php
					}
					else
					{
				?>
	                <li><strong><?php echo $jsLangTranslate['L_LAST_PLACE_OF_RESIDENCE'] ?>: </strong><span><?php echo $passengerResult['PRIN_PLACE_RESI'] ?>&nbsp;</span>
	                    <span><?php echo isset($annotationResult['last_residence']) ? stripslashes($annotationResult['last_residence']) : ''; ?>&nbsp;</span> 
	                </li>
                <?php
                    }
                }
                ?>

                <li><strong><?php echo $jsLangTranslate['L_AGE_AT_ARRIVAL'] ?>: </strong><span><?php echo $passengerResult['PRIN_AGE_ARRIVAL'] ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['age_at_arrival']) ? stripslashes($annotationResult['age_at_arrival']) : ''; ?>&nbsp;</span> 
                </li>

                <li><strong><?php echo $jsLangTranslate['L_GENDER_AT_ARRIVAL'] ?>: </strong><span><?php echo isset($passengerResult['PRIN_GENDER_CODE'])?$passengerResult['PRIN_GENDER_CODE']:'Unknown'; ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['gender']) ? stripslashes($annotationResult['gender']) : ''; ?>&nbsp;</span> 
                </li>

                <li><strong><?php echo $jsLangTranslate['L_MARITAL_STATUS'] ?>: </strong><span><?php echo isset($passengerResult['PRIN_MARITAL_STAT'])?$passengerResult['PRIN_MARITAL_STAT']:'Unknown' ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['maritial_status']) ? stripslashes($annotationResult['maritial_status']) : ''; ?>&nbsp;</span> 
                </li>

                <li><strong><?php echo $jsLangTranslate['L_DATE_OF_ARRIVAL'] ?>: </strong>
                    <span><?php
                        if (!empty($passengerResult['DATE_ARRIVE']) && $passengerResult['DATE_ARRIVE'] != '0000-00-00') {
                            echo $this->Dateformatalpha($passengerResult['DATE_ARRIVE'], 'displaymonthformat');
                        }
                        ?>&nbsp;</span>
                    <span>
                        <?php
                        if (!empty($annotationResult['arrival_date']) && $annotationResult['arrival_date'] != '0000-00-00') {
                            echo $this->Dateformatalpha($annotationResult['arrival_date'], 'displaymonthformat');
                        }
                        ?>&nbsp;
                    </span> 
                </li>
                <li><strong><?php echo $jsLangTranslate['L_SHIP_OF_TRAVEL'] ?>: </strong><span><?php echo $passengerResult['SHIP_NAME'] ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['ship_name']) ? stripslashes($annotationResult['ship_name']) : ''; ?>&nbsp;</span> 
                </li>

                <li><strong><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?>: </strong><span><?php 
                    if (!empty($passengerResult['DEP_PORT_NAME']))
                                echo $passengerResult['DEP_PORT_NAME'];
                            else 
                                echo 'N/A';
                                
                ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['departure_port_name']) ? stripslashes($annotationResult['departure_port_name']) : ''; ?>&nbsp;</span> 
                </li>
                <li><strong><?php echo $jsLangTranslate['L_MANIFEST_LINE_NUMBER'] ?>: </strong><span><?php echo $passengerResult['REF_PAGE_LINE_NBR'] ?>&nbsp;</span>
                    <span><?php echo isset($annotationResult['line_no']) ? stripslashes($annotationResult['line_no']) : ''; ?>&nbsp;</span>  
                </li>
            </ul>

<!--<p class="clearfix"><strong><?php //echo $jsLangTranslate['L_ADDITIONAL_INFORMATION']      ?></strong></p>-->
            <?php
            if (!empty($annotationResult)) {
                ?>
                <ul class="mar-non">
                    <li><strong><?php echo $jsLangTranslate['L_DATE_OF_BIRTH'] ?>:</strong><span>&nbsp;</span>
                        <span>
                            <?php
                            if (!empty($annotationResult['date_of_birth']) && $annotationResult['date_of_birth'] != '0000-00-00') {
                                echo $this->Dateformatalpha($annotationResult['date_of_birth'], 'displaymonthformat');
                            }
                            ?>&nbsp;
                        </span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_DATE_OF_DEATH'] ?>:</strong><span>&nbsp;</span>
                        <span>
                            <?php
                            if (!empty($annotationResult['date_of_death']) && $annotationResult['date_of_death'] != '0000-00-00') {
                                echo $this->Dateformatalpha($annotationResult['date_of_death'], 'displaymonthformat');
                            }
                            ?>&nbsp;
                        </span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_OCCUPATION'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['occupation']) ? stripslashes($annotationResult['occupation']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_SPOUSE'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['spouse']) ? stripslashes($annotationResult['spouse']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_CHILDREN'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['children']) ? stripslashes($annotationResult['children']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_OTHER_RELATIVES'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['relatives_in_us']) ? stripslashes($annotationResult['relatives_in_us']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_WHERE_SETTLED'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['setteled_in_us']) ? stripslashes($annotationResult['setteled_in_us']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_MILITARY_EXPERIENCE'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['military_experience']) ? stripslashes($annotationResult['military_experience']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_RELIGOUS_COMMUNITY'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['religious_community']) ? stripslashes($annotationResult['religious_community']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_DATE_OF_MARRIAGE'] ?>:</strong><span>&nbsp;</span>
                        <span>
                            <?php
                            if (!empty($annotationResult['date_of_marriage']) && $annotationResult['date_of_marriage'] != '0000-00-00') {
                                echo $this->Dateformatalpha($annotationResult['date_of_marriage'], 'displaymonthformat');
                            }
                            ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_PARENTS_NAMES'] ?>:</strong><span>&nbsp;</span>
                        <span><?php echo isset($annotationResult['parent_names']) ? stripslashes($annotationResult['parent_names']) : ''; ?>&nbsp;</span>  
                    </li>
                    <li><strong><?php echo $jsLangTranslate['L_FIRST_TIME_IN_AMERICA'] ?>:</strong><span>&nbsp;</span>
                        <span><?php
                        if (isset($annotationResult['first_time_in_us'])) {
                            if ($annotationResult['first_time_in_us'] == 0)
                                echo 'No';
                            else if ($annotationResult['first_time_in_us'] == 1)
                                echo 'Yes';
                            else
                                echo '';
                        }
                            ?>&nbsp;</span>  
                    </li>                                    
                </ul>            
                <?php
            }
            ?>        
        </div>      
    </div>
</div>
<?php 
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";

$script = <<<EOD
$('html, body').animate({ scrollTop: $(".annotations-detail").offset().top}, 2000);
function showSendMail(val)
    {
        if(val == 1)
            $("#contactDiv").show();
        if(val == 0)
            $("#contactDiv").hide();			
    }
    function addUserCase(userId, passengerId){
        $.colorbox({
            width:"930px",
            height:"720px",
            iframe : true,
            href:"/add-user-case/"+userId+"/"+passengerId,
        });
		
    }
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.details.js?v='.$this->layout()->getVariable('jsVersion'));
?>