<?php
/** This is used for passenger search
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));


?>
<style>
#alertmod_list{display:none;}
</style>


    <form method="post" class="full" id="passenger_search_frm" name="passenger_search_frm" action="/passenger-result">
			<div class="pass-search-btm height100">
					<div class="passenger-detail">
					<h2>Passenger Search</h2>
					<div class="form-section">
					 <div class="input-box"><?php echo $this->formRow($form->get('initital_name')); ?></div>
                     <div class="input-box"><?php echo $this->formRow($form->get('last_name')); ?></div>
					 <input type="submit" name="submit" id="searchButton" class="blue-btn next-small" value="Search">					 
					 <input type="button" name="submit" id="narrowyoursearch" class="blue-btn refine" value="Refine">
					</div>
					<!--<div class="search-filter"><a href="javascript:void(0)" id="narrowyoursearch" >asfdsdaf</a></div>-->
				</div>
				</div>	
				
                    <?php //echo $this->formRow($form->get('match_type')); ?>
                    <?php //echo $this->formRow($form->get('div_name')); ?>
                    
                    <?php //echo $this->formRow($form->get('initital_name')); ?>
                    <?php //echo $this->formRow($form->get('last_name')); ?>
                    <input type="hidden" name="result_format" value="grid_view" id="result_format">
                    <input type="hidden" name="is_logged_in" id="is_logged_in" value="<?php echo $is_logged_in ?>">
                    <span id="error_msg"></span>
	
                        <div class="narrow-detail-section">
                            <div class="passenger-inner-bg narrow-dropdown" id="filter_area">
                                <div class="small-wrapper">
                                    <div class="inner-section">
                                        <?php
							                    echo $this->partial('/passenger/passenger/passenger_search_param_form.phtml', array("searchParam" => $searchParam,"form"=>$form,'gender'=>$gender,'maritalstatus'=>$maritalstatus,'searchTypeArray'=>$searchTypeArray,'displayStatus'=>'no','searchEthnicity'=>$searchEthnicity,'translator'=>$translator,'fromIndex'=>'yes'));
						                 ?>     
                                    </div>
                                </div>
                            </div>
                        </div>
                   
					
                         
    
        </form> 
      



<section class="passenger-outer-bg">
<div class="passenger-inner-bg passenger-record-design">
    <div class="container">
		 <ul class="tabs">
                <li class="width20"><a href="#passenger" class="" onClick="showPassengerDetails('passengerRecordTab');" id="passengerRecordTab"><?php echo $jsLangTranslate['L_PASSENGER_RECORD'] ?></a></li>
                <li class="width20"><a href="#manifest" class="" onClick="showPassengerDetails('shipManifestTab');" id="shipManifestTab"><?php echo $jsLangTranslate['L_SHIP_MANIFEST'] ?></a></li>
                <li class="width20"><a href="#information" class="" onClick="showPassengerDetails('shipInformationTab');" id="shipInformationTab"><?php echo $jsLangTranslate['L_SHIP_INFORMATION'] ?></a></li>
                <li class="width20"><a href="#annotations" class="" onClick="showPassengerDetails('annotationTab','<?php echo $this->Encrypt($annotationCorrectionId)?>');" id="annotationTab"><?php echo $jsLangTranslate['L_ANNOTATIONS'] ?></a></li>
                <!--<li class="width20"><a href="#text" class="" onClick="showPassengerDetails('textPassengerListTab');" id="textPassengerListTab"><?php //echo $jsLangTranslate['L_TEXT_PASSENGER_LIST'] ?></a></li>-->
            </ul>		 
		<div class="manifest-outer-namelist">
		<div class="block col8 alpha name-detail clearfix">
            <div class="content">
			<div class="name"><?php echo stripslashes($searchResult['PRIN_LAST_NAME']); ?><?php echo isset($searchResult['PRIN_FIRST_NAME'])?', '.stripslashes($searchResult['PRIN_FIRST_NAME']):''; ?>  </div>           
                <div class="col-detail none font-18">
                    <label><?php echo $jsLangTranslate['PASSENGER_ID'] ?></label>
                    <?php echo $searchResult['ID']; ?> </div>
                <div class="col-detail font-18" id="recordSeries"><label><?php echo $jsLangTranslate['L_FRAME'] ?></label><?php echo isset($passengerManifestResult[0]['FRAME']) ? $passengerManifestResult[0]['FRAME'] : ''?></div>    
                <div class="col-detail font-18" id="recordRoll"><label><?php echo $jsLangTranslate['L_MANIFEST_LINE_NUMBER'] ?></label><?php echo LTRIM($searchResult['REF_PAGE_LINE_NBR'],'0'); ?></span></div>                        
            </div>
        </div>
        <div class="block col8 omega alpha ship-detail clearfix">
            <div class="content"> 
                <?php 
				$arrival_year = date('Y',strtotime($searchResult['DATE_ARRIVE']));                
                if ($shipPath != '' && file_exists($this->shipFilePath) && $arrival_year>=1892) {
                    ?>
                    <img src="<?php echo $shipPath; ?>" width="140" height="130" alt="<?php echo $searchResult['SHIP_NAME']; ?>" title="<?php echo $searchResult['SHIP_NAME']; ?>" class="float-left">
                    <?php
                }
                ?>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_SHIP_NAME'] ?></label>
                    <?php  
                    if(!empty($searchResult['SHIP_NAME']))
                        echo $searchResult['SHIP_NAME'];
                    else
                        echo 'N/A'; 
                         ?> </div>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_ARRIVAL_DATE'] ?></label>
                    <?php 
                    
                    $dateArray = date_parse_from_format("Y-m-d", $searchResult['DATE_ARRIVE']);
                    if($searchResult['data_source'] == 2 && ($dateArray['month'] == 1 or $dateArray['month'] == '01') && ($dateArray['day'] == 1 or $dateArray['day'] == '01'))
                    {
                            echo $dateArray['year'];
                    }
                    else {
	                    if ($searchResult['DATE_ARRIVE'] != '' && $searchResult['DATE_ARRIVE'] != '0000-00-00 00:00:00') {
	                        echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat');
	                    }
                    }
                    ?> </div>
                <div class="col-detail large none font-18">
                    
                    <?php 
                    $departPortNameArray = array();
                    $departPortName = explode(',', $searchResult['DEP_PORT_NAME']);
                    foreach ($departPortName as $portKey => $portVal) {
                        $departPortNameArray[] = trim($portVal);
                    }
                    $departPortNameArray = array_unique($departPortNameArray);
                    $departPortNameStr = implode(', ', $departPortNameArray);
                    
                    if($departPortNameStr!='')
                    {
                    ?> 
					<label><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?></label>
					<?php echo $departPortNameStr; ?>
                    <a href="#delete_product" class="delete_product " onclick="showHideMap('<?php echo $departPortNameStr ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/show-location.png" width="35px" alt="Show Location in Map" title="Show Location in Map"></a>
                    <?php
                    }
                    ?>
                </div>
            </div>
        </div>
		</div>
        <div style='display:none'>
            <div id='delete_product' class="pop-container">
                <div id="map_canvas" style="width: 600px; height: 480px;"></div>

            </div>
        </div>        
		
	

        <div class="block no-margin apha myfiledata tabdata clearfix">
         
            <div id="page_content"></div>
        </div>
    </div>
	</div>
	<div style='display:none'>
        <div id='' class="email_success_msg inner-popup-detail">
            <h1>Email Confirmation</h1>
            <p>Your requested free passenger record has been emailed to the address you have provided.</p>
            <input type="button" value="close" name="close" class="button green semibold" id="hide_add_to_card" onclick="javascript:$.colorbox.close();">
        </div>
    </div> 
    	
<div style='display:none'>
        <div id='' class="email_success_msg_free inner-popup-detail">
            <h1>Email Confirmation</h1>
            <p>Please contact customer care service for certificate.</p>
            <input type="button" value="close" name="close" class="button green semibold" id="hide_add_to_card" onclick="javascript:$.colorbox.close();">
        </div>
   </div>     	
</section>
<?php
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";
$var.=" var ship_name = '" . $ship_name . "';";
$var.=" var manifestFile = '" . $manifestFile . "';";
$var.=" var date_arrive = '" . $date_arrive . "';";
$var.=" var mode = '" . $mode . "';";
$var.=" var userId = '" . $user_id . "';";
$var.=" var shipLineId = '';";
$var.=" var data_source = '" . $searchResult['data_source'] . "';";
$script = <<<EOD
$(document).ready(function() { 
       // $(document)[0].oncontextmenu = function() {return false;} 	
        if(mode == 'ship')
            $("#shipInformationTab").click();
        else if(mode == 'passenger')
            $("#passengerRecordTab").click();	
        else if(mode == 'manifest')
            $("#shipManifestTab").click();	
		else if(mode == 'annotation')
            $("#annotationTab").click();	            		
		else if(mode == 'textpassenger')
            $("#textPassengerListTab").click();	            		            
        else	
            showPassengerDetails('passengerRecordTab');
    });    

    var geocoder, map;
    function initialize(addressValue) {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(10, 10);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        codeAddress(addressValue);
    }
    function codeAddress(addressValue) {
        var address = addressValue;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map, 
                    position: results[0].geometry.location,
                });
                var infowindow = new google.maps.InfoWindow();
							
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent("<div style='white-space: nowrap;'>" + address + "</div>");
                    infowindow.open(map,marker);
                });
            } 
        });
    }    
    var k=1;
    function showHideMap(addressValue)
    {   
        $.colorbox({
            width:"700px",
            href:"#delete_product",
            height:"600px",
            inline: true
        });
        if(k==1)
            setTimeout("initialize('"+addressValue+"');","2000");  
        k++;    
    }
EOD;

$this->inlineScript()->appendScript($var)
						   ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery-ui.js?v='.$this->layout()->getVariable('jsVersion'))
						   ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.details.js?v='.$this->layout()->getVariable('jsVersion'))
						 
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/html5.js?v='.$this->layout()->getVariable('jsVersion'), 'text/javascript', array('conditional' => 'lt IE 9',))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))						  
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tabs.js?v='.$this->layout()->getVariable('jsVersion'))
						  
                          ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'))
                          ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
                           ->appendFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
                           
						  ->appendScript($script); 
?>
<script>

function showEthnicity(){
    
    $.colorbox({
        width:"800px",
        href:"#ethnicity_list",
        height:
        "500px",
        inline:true,
        escKey:false,
        overlayClose:false
    });
    
    setTimeout("scrollPan()","1000");
}
function scrollPan(){
    $(".scroll-pane").jScrollPane()
    }
$(document).ready(function(){ 
	$("#update_details_search_result,#update_match_result").click(function(){
        $("#searchButton").click()
    });   
    jQuery.validator.addMethod("alphanumeric",function(value,element){
        return this.optional(
            element)||/^[A-Za-z0-9()\'' .-]+$/i.test(value)
        },VALID_SEARCH_INPUT);   
   
   
    $("#passenger_search_frm").validate({
    
rules:{
    last_name:{
        required:
        function(){
            return $("#passenger_id").val()==""
            },
        minlength:2,
        alphanumeric:true
    },
    town:{
        required:false,
        alphanumeric:true
    },
    passenger_id:{
        required:false,
        alphanumeric:true
    },
    first_name:{
        required:false,
        alphanumeric:true
    },
    companion_name:{
        required:
        false,
        alphanumeric:true
    }
},
messages:{
    last_name:{
        required:LAST_NAME_ERROR_MSG,
        minlength:CHAR_VALID_LENGTH,
        alphanumeric:
        VALID_SEARCH_INPUT
    },
    town:{
        alphanumeric:VALID_SEARCH_INPUT
    },
    passenger_id:{
        alphanumeric:VALID_SEARCH_INPUT
    },
    first_name:{
        alphanumeric:VALID_SEARCH_INPUT
    },
    companion_name:{
        alphanumeric:VALID_SEARCH_INPUT
    }
}
});   

$("#eth_ok").click(function(){
        $(
            "#cboxClose").click()
        });
    
    var val=[];
    $("input:checkbox.ethnicityCls").each(function(i){
        $("input:checkbox.ethnicityCls").
        prop("checked",false)
        });
    if($("#ethnicity_search").val()!=""){
        var ethArray=$("#ethnicity_search").val().split(",");
        $(
            "input:checkbox.ethnicityCls").each(function(i){
            if(ethArray.indexOf($(this).val())!="-1")$(this).prop("checked",true)
                })
        }    
    
    
    $("#eth_ok").click(function(){
        var val=[];
        $("input:checkbox:checked.ethnicityCls").each(function(i){
            val[i]=$(this).val
            ()
            });
        var str='<div class="scroll-pane ethni-scroll">',str2="";
        for(var t=0;t<val.length;t++){
            str2=str2+val[t]+",";
            str=str
            +"<span id='eth_"+t+"'><strong class='left'>"+val[t]+'</strong> <a href="javascript:void(0)" onclick="removeEth(\''+val[
            t]+"','"+t+"')\">x</a></span> "
            }
            str=str+"</div>";
        $("#ethnicity_search_id").html(str);
        str2=str2.substring(0,str2.length-1
            );
        $("#ethnicity_search").val(str2);
        $(".scroll-pane").jScrollPane()
        });
        
        $("#arrival_port").select2();
  
});	

function removeEth(value,t){
	    $('input:checkbox[value="'+value+'"]')
	    .attr("checked",false);
	    $("#eth_"+t).hide();
	    var ethArray=$("#ethnicity_search").val().split(","),index=ethArray.indexOf(
	        value);
	    if(index>-1)ethArray.splice(index,1);
	    $("#ethnicity_search").val(ethArray.join(","))
}
</script>