<?php
/** This is used for passenger ship manifest
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/es-cus.css')
				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/imagezoom.css')
				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/demo.css')
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/ui.jqgrid.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<style>
    #gview_list .ui-jqgrid-hbox .ui-th-column, #gview_list tr.jqgrow td{font-family: arial;padding: 5px 0px !important; text-align:center}
    .ui-jqgrid .ui-pg-table td, .ui-pg-table{border:0px;}
    .ui-jqgrid .ui-jqgrid-pager .ui-pg-button:hover{background:none;}
    .ui-jqgrid .ui-pg-selbox{height:auto !important; padding:2px !important; width:50px}
    .use-filter{padding: 20px; text-align: center;}
    .ui-jqgrid-bdiv{height:420px !important}
    .elastislide-wrapper{height:485px !important}
    .elastislide-carousel ul li{max-width:110px !important; max-height:140px !important; }
</style>
<?php 
$filename = '';
if (!empty($manifestResult[0]['FILENAME'])) {
    $filename = $manifestResult[0]['FILENAME'];
}
?>
<div id="manifest" class="ship-manifest">
    <form id="ship_form">
        <div class="content clearfix" >
            <?php
            $firstImagePrice = 0;
            $secondImagePrice = 0;
            $additionalImagePrice = 0;

            $i = 1;
            foreach ($this->productResult as $key => $val) {
                //if ($val['attribute_option_id'] == 3) {
                if ($i == 1) {
                    $price = $val['product_sell_price'];
                    if (!empty($val['product_attribute_option_id'])) {
                        $price = $price + $val['option_price'] + $val['additional_option_price'];
                    }
                    $firstImagePrice = $price;
                    $additionalImagePrice = $price;
                }
                //else if ($val['attribute_option_id'] == 4) {
                else if ($i == 2) {
                    $price = $val['product_sell_price'];
                    if (!empty($val['product_attribute_option_id'])) {
                        $price = $price + $val['option_price'] + $val['additional_option_price'];
                    }
                    $secondImagePrice = $price;
                }
                $i++;
            }
            ?>    
            <?php
            $yearArrive = substr($passengerResult['DATE_ARRIVE'], 0, 4);
            $manifestType = '';
            if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                echo '<h1>TWO IMAGE SHIP MANIFEST</h1>';
                $manifestType = 'TwoPage';
            } else {
                echo '<h1>ONE IMAGE SHIP MANIFEST</h1>';
                $manifestType = 'OnePage';
            }
            ?>
            <script type="text/javascript">
                var firstImagePrice=<?php echo @$firstImagePrice; ?>;
                var secondImagePrice=<?php echo @$secondImagePrice; ?>;
                var additionalImagePrice=<?php echo @$additionalImagePrice; ?>;
                var manifestType='<?php echo @$manifestType; ?>';
            </script>

            <div class="top-section">
                <input type="hidden" name="record_series" id="record_series" value="<?php echo substr($filename, 0, 4) ?>">
                <input type="hidden" name="record_roll" id="record_roll" value="<?php echo substr($filename, 5, 4) ?>">
                <?php
                if (!empty($manifestResult[0]['FILENAME'])) {
                    $fileName = $manifestResult[0]['FILENAME'];
                    $folderName = substr($fileName, 0, 9);
                    $imagePath = $manifestPath . $folderName . "/" . $fileName . "&S=.1";
                    ?>
                    <div class="img-box"><img src="<?php echo $imagePath ?>" alt="<?php echo $fileName ?>" width="142" height="132"></div>
                    <?php
                } else {
                    echo '<div class="img-box">No Image Avaliable</div><br>';
                }
                ?>

                <?php
                if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                    echo '<div class="img-box"><img src="' . $this->layout()->getVariable('imageFilePath') . '/images/pic8.jpg" alt=""></div>';
                }
                ?>
                <div id="manifestPriceDetail" class="col8"> </div>
                <?php
                $i = 1;
                foreach ($this->productResult as $key => $val) {
                    $price = 0;
                    if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                        $price = $val['product_sell_price'];
                        if (!empty($val['product_attribute_option_id'])) {
                            $price = $price + $val['option_price'] + $val['additional_option_price'];
                        }


                        if ($val['attribute_option_id'] == 3) {
                            $oneManifestPrice = $this->Currencyformat($price);
                            if ($val['attribute_option_id'] == 4) {
                                $twoManifestPrice = $this->Currencyformat($price);
                                ?>
                                <?php
                            } else {
                                if ($val['attribute_option_id'] == 3) {
                                    $oneManifestPrice = $this->Currencyformat(($val['product_sell_price'] + $val['option_price'] + $val['additional_option_price']));
                                }
                            }
                        }
                        ?>

                        <div class="btm-row">
                            <?php
                            if (!empty($manifestResult[0]['FILENAME'])) {
                                ?>
                                <label><input type="checkbox" id="is_first_image" name="is_first_image" value="1" onchange="calculateManifestPrice()"><?php echo $fileName; ?></label>
                                <input type="hidden" name="first_image_name" id="first_image_name" value="<?php echo $fileName; ?>" />
                                <?php
                            }

                            if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                                ?>
                                <label><!--<input type="checkbox" id="is_second_image" name="is_second_image" value="" onchange="calculateManifestPrice()">-->2nd Image Missing<span class="c-pink">**</span></label>
                                <?php
                            }
                            ?>
                            <input type="hidden" value="" name="is_additional" id="is_additional">

                            <span class="error" style="color:red;" id="add_cart_error"></span>
                            <div class="">
                                <?php
                                $flag = '';
                                if (!empty($passenger_id)) {
                                    $flag = "p";
                                } elseif (!empty($shipidPlain)) {
                                    $flag = "s";
                                }
                                ?>
                                <div class="" style="float:right;"><input type="button" onClick="addToCartManifestCheck('<?php echo $passenger_id ? $passenger_id : $shipidPlain ?>','1','7','<?php echo $flag; ?>')" value="ADD TO CART &gt;" class="button pink semibold">
                                <!--<a href="javascript:void(0);"  onclick="showRelatedProducts(7,'<?php echo $passengerResult['PRIN_FIRST_NAME'] . ' ' . $passengerResult['PRIN_LAST_NAME'] ?>');">Related Products</a>-->
                                    <input type ="hidden" name="ship_name" id="ship_name" value="<?php echo $passengerResult['PRIN_FIRST_NAME'] . ' ' . $passengerResult['PRIN_LAST_NAME'] ?>" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="c-pink"><strong>**<?php echo $jsLangTranslate['PLEASE_NOTE2'] ?></strong><br>
                        <?php echo stripslashes($jsLangTranslate['MANIFEST_NOTE2']) ?>
                    </p>

                    <div id="additionalImageDiv"></div>  

                    <div class="slider-section" >
                        <div id="sliderDiv_overlay">
                            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif">
                        </div>
                        <div id="sliderDiv_overlay2" onMouseout="showHideOverlay(1);" onMouseover="showHideOverlay(0);">
                        </div>
                        <div class="slider-box cf">
                            <div class="left" >
                                <!--<div id="overlayDiv" class="zzzzshipoverlay" onMouseover="showHideOverlay(0);" ></div>-->
                                <span class="demowrap" >
                                    <div class="image-box">
                                        <img id="image" src="<?php echo $shipManifestArray[$defaultImageIndex] ?>" />
                                    </div>

                                    <input name="" id="centerImage"  type="checkbox"   value="<?php echo $shipManifestFilenameArray[$defaultImageIndex] ?>" onclick="getImage('save');"                         /> 
                                    <input type="button" onclick="saveToImageFile();" value="SAVE IMAGE TO MY PROFILE" class="button float-right semibold">
                                    <span id="centerImageName"><?php echo $shipManifestFilenameArray[$defaultImageIndex] ?></span></span>


                                <ul id="imagecarousel" class="elastislide-list" onclick="uncheckImage();" >
                                    <?php
                                    foreach ($shipManifestArray as $key => $val) {
                                        ?>
                                        <li><a href="javascript:void(0);" onClick=showCenterImageName('<?php echo $shipManifestFilenameArray[$key] ?>')><img src="<?php echo $val ?>" data-largeimg="<?php echo $val ?>"/></a><span id="<?php echo $val ?>"><?php echo $shipManifestFilenameArray[$key] ?></span></li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                                <label class=""></label>
                            </div>
                        </div>
                    </div>

                    <p><strong>* <?php echo $jsLangTranslate['PLEASE_NOTE'] ?></strong> <?php echo stripslashes($jsLangTranslate['MANIFEST_NOTE']) ?></p>

                    <div class="float-left">
                        <br><br>
                        <table id="list"></table>
                        <div id="pcrud"></div>
                        <br><br>
                    </div>
                </div>
            </form>
        </div>

        <div style='display:none'>
            <div id='delete_image' class="inner-popup-detail">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h1><?php echo $jsLangTranslate['REMOVE_IMAGE'] ?></h1>
                <p><?php echo $jsLangTranslate['REMOVE_IMAGE_CONFIRM'] ?> <span id="imagename"></span> ?</p>

                <input type="button" value="Remove" name="yes" id="yes_delete" class="button semibold">
                <input type="button" value="Cancel" name="no" id="no_delete" class="button green semibold">

            </div>
        </div>
        <div class='success_msg' style='display:none'>
            <div class="inner-popup-detail">
                <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
                <p><?php echo $jsLangTranslate['SHIP_MANIFEST_SAVE_TO_FILE'] ?></p>
                <input type="button" value="Close" name="no" id="close_save" class="button green semibold">
            </div>	
        </div>
        <div class='error_msg' style='display:none'>
            <div class="inner-popup-detail">
                <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
                <p><?php echo $jsLangTranslate['SHIP_MANIFEST_ALREADY_IN_FILE'] ?></p>
                <input type="button" value="Close" name="no" id="close_already" class="button green semibold">
            </div>	
        </div>

        <div style='display:none'>
            <div id='add_to_card_message' class="inner-popup-detail">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h1>Missing 2nd Image</h1>
                <p>We noticed you didn't select a 2nd image for what we think is a 2 page manifest. Please make a selection.</p>
                <p><input type="radio" name="add_image" value="y" id="add_image1">Please add missing image if available. If the staff finds the additional image, this will increase the total cost by $<?php echo $oneManifestPrice - $twoManifestPrice ?>. Otherwise your order will continue with no changes. Two image manifest is $<?php echo $oneManifestPrice + $twoManifestPrice ?> while single image are $<?php echo $oneManifestPrice ?>.</p>

        <p><input type="radio" checked="checked" name="add_image" value="n" id="add_image2">No I will only take the image I selected at this time.</p>

        <input type="button" value="Cancel" name="Cancel" id="cancel_add" class="button semibold">
        <input type="button" value="Continue" name="Continue" id="continue_add" class="button green semibold">

    </div>
</div>
<?php 
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";

$script = <<<EOD
$(function(){ 
        //demo2   innermode
        //use opensource elastislide for carousel
        var defaultImageIndex = "$defaultImageIndex";
        var carsousel = $('#imagecarousel').elastislide({start:defaultImageIndex,minItems:3,
            onClick:function( el, pos, evt ) {
                el.siblings().removeClass("active");
                el.addClass("active");
                carsousel.setCurrent( pos );
                evt.preventDefault();
                // for imagezoom to change image 
                var imageobj = $('#image').data('imagezoom');
                imageobj.changeImage(el.find('img').attr('src'),el.find('img').data('slider-zoom/largeimg'));
				
            },
            onReady:function(){
                //init imagezoom plugin
                $('#image').ImageZoom();
                $('#imagecarousel li:eq('+defaultImageIndex+')').addClass('active');
                $("#sliderDiv_overlay").hide();
               
            }
        });
        
        //  $(".elastislide-wrapper").html('loading....');
        $(".elastislide-wrapper").attr('style', 'max-width: 134px;');
        
        //(: : ;')
    });
	/**
     * function is used to show the center image name
     * @author Icreon Tech -SR
     */ 

    function showCenterImageName(image_name)
    {
        document.getElementById('centerImage').value = image_name;
        $("#centerImageName").html(image_name);
    }
    
    /**
     * function is used to uncheck the image
     * @author Icreon Tech -SR
     */     
    function uncheckImage()
    {
        document.getElementById('centerImage').checked = false;
    }
    
    /**
     * function is used to delete the additional image
     * @author Icreon Tech -SR
     */     
    function deleteAdditionalImage(additional_images, value, fileName){
	
        if(document.getElementById(additional_images).checked == false)
        {	
            $("#imagename").html(fileName);
            $.colorbox({
                width:"600px",
                href:"#delete_image",
                height:"260px",
                inline: true
            });
            $("#no_delete").click(function(){
                $.colorbox.close();
                $('#yes_delete').unbind('click');
                if(document.getElementById(additional_images))
                    document.getElementById(additional_images).checked = true;
                return false;
            });
		    
            $("#yes_delete").click(function(){
                $('#yes_delete').unbind('click');
                showAjxLoader();
                var url = "/delete-additional-image";	
                $.ajax
                ({
                    type: 'POST',
                    data: {image_id:value},
                    url: url,
                    success: function(response)
                    {
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(response);
                        if(jsonObj.status =='success'){  
                            var action = 'show';
                            var url = "/add-additional-image";			
                            $.ajax
                            ({
                                type: 'POST',
                                data: {passengerId:passengerId, act:action},
                                url: url,
                                success: function(response)
                                {
                                    $("#additionalImageDiv").html(response);
                                    calculateManifestPrice()    
                                    $("#no_delete").click();
                                }
                            });
			                        
			                    
                        }    
                    }
                });
            });
        }    
    }
    $("#close_save").click(function(){
        $.colorbox.close();
        $(".success_msg").hide()
        return false;
    }); 
    $("#close_already").click(function(){
        $.colorbox.close();
        $(".error_msg").hide()
       
        return false;
    });   
    
    /**
     * function to calculate manifest price
     * @param void
     * @return void
     * @author Icreon Tech -DT
     */

    function calculateManifestPrice()
    {
        var totalPrice=0;
        var generateStr='';
        var numOfAdditionalImage=0;
        numOfAdditionalImage=$("input[id^='additional_images_']:checked").size();
        var numOfAdditionalImagePrice=additionalImagePrice*numOfAdditionalImage;
        if(manifestType=='OnePage')
        {
            $("#is_additional").val(0);
            if($('#is_first_image').is(':checked'))
            {
                $("#add_cart_error").html("");
                generateStr+='<hr /><div class="col8">One Image Ship Manifest</div><div> $'+firstImagePrice.toFixed(2)+'</div>';
                totalPrice+=firstImagePrice;
            }
            if(numOfAdditionalImagePrice!=0)
            {
                generateStr+='<hr /><div class="col8">Additional Images </div><div>'+numOfAdditionalImage+'x $'+numOfAdditionalImagePrice.toFixed(2)+'</div>';
                totalPrice+=numOfAdditionalImagePrice;
                $("#is_additional").val(1);
            }
            if(totalPrice!=0)
            {
                generateStr+='<hr /><div class="col8">Total </div><div> $'+totalPrice.toFixed(2)+'</div><hr />';
            }
        }
        else
        {
            $("#is_additional").val(0);
            if($('#is_first_image').is(':checked'))
            {
                $("#add_cart_error").html("");
                generateStr+='<hr /><div class="col8">First image  </div><div> $'+firstImagePrice.toFixed(2)+'</div>';
                totalPrice+=firstImagePrice;
            }
            if($('#is_second_image').is(':checked'))
            {
                generateStr+='<hr /><div class="col8">Second image  </div><div> $'+secondImagePrice.toFixed(2)+' </div>';
                totalPrice+=secondImagePrice;
            }
            if(numOfAdditionalImagePrice!=0)
            {
                if($('#is_second_image').is(':checked'))
                {
                    numOfAdditionalImagePrice=(numOfAdditionalImage-1)*additionalImagePrice;
                    var addImage = numOfAdditionalImage-1;
                }
                else
                    var addImage = numOfAdditionalImage;
                if(numOfAdditionalImage > 0)
                {
                    generateStr+='<hr /><div class="col8">Second image  </div><div> $'+secondImagePrice.toFixed(2)+' </div>';
	            totalPrice+=secondImagePrice;
	            
	            addImage = (addImage-1);
                }
                generateStr+='<hr /><div class="col8">Additional Images </div><div>'+addImage+'x $ '+additionalImagePrice+'='+addImage*additionalImagePrice.toFixed(2)+'</div>';
                totalPrice+=addImage*additionalImagePrice;
                $("#is_additional").val(1);
            }
            if(totalPrice!=0)
            {
                generateStr+='<hr /><div class="col8">Total </div><div> $'+totalPrice.toFixed(2)+'</div><hr>';
            }
        }
        $("#manifestPriceDetail").html(generateStr);
    }    

    getImage('show')
    function getImage(action)
    {
	       
        if(document.getElementById('centerImage').checked == true || action == 'show')
        {
            if(action!='show')
                showAjxLoader();
            var url = "/add-additional-image";			
            $.ajax
            ({
                type: 'POST',
                data: {passengerId:passengerId, filePath:document.getElementById("image").src,act:action,fileName:document.getElementById('centerImage').value},
                url: url,
                success: function(response)
                {
                    hideAjxLoader();
                    //checkFrontUserAuthenticationAjx(response);
                    $("#additionalImageDiv").html(response);
                    calculateManifestPrice();    
                }
            });
        }
    }
    function showHideOverlay(val){ 
	if(val == 0)
	{
            $("#sliderDiv_overlay2").hide();
	}	
	else if(val == 1)
	{
            $("#sliderDiv_overlay2").show();
	}
    }
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jqGrid.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.list.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/jquery-1.8.3.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/jquery.imagezoom.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/modernizr.custom.17475.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/jquery.elastislide.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>