<?php
/** This is used for passenger details
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<script>
var REQUEST_PRINT_CERTIFICATE_EMAIL_ID = '';
<?php if(isset($request_print_certificate_email_id) && !empty($request_print_certificate_email_id)) { ?>
    REQUEST_PRINT_CERTIFICATE_EMAIL_ID = '<?php echo $request_print_certificate_email_id?>';
 <?php
 }
 ?>
</script>
<div id="passenger" class="passenger-detail">
    <form id="ship_form">
        <div class="content clearfix">
		      <div class="pass-record">
                <ul>
                    <?php
                    if (isset($searchResult['PRIN_FIRST_NAME']) && !empty($searchResult['PRIN_FIRST_NAME'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_FIRST_NAME_LABEL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PRIN_FIRST_NAME'] ?></li>
                        <?php
                    }
                    ?>

                    <li><?php echo $jsLangTranslate['L_LAST_NAME_LABEL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PRIN_LAST_NAME'] ?></li>
                    <?php
                    if (isset($searchResult['PRIN_NATIONALITY']) && !empty($searchResult['PRIN_NATIONALITY'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_NATIONALITY'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PRIN_NATIONALITY']; ?></li>
                        <?php
                    }
                    ?>
                    <?php
                    if (isset($searchResult['data_source']) && !empty($searchResult['data_source'])) {
                            if($searchResult['data_source'] == 2) {
                                if (isset($searchResult['PLACE_OF_BIRTH']) && !empty($searchResult['PLACE_OF_BIRTH'])) {
                        ?>
	                        <li><?php echo $jsLangTranslate['PLACE_OF_BIRTH'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PLACE_OF_BIRTH'] ?></li>
	                        <?php
	                        }
                        }
	                    else 
	                    {
	                        if (isset($searchResult['PRIN_PLACE_RESI']) && !empty($searchResult['PRIN_PLACE_RESI'])) {
	                        ?>
	                        <li><?php echo $jsLangTranslate['L_LAST_PLACE_OF_RESIDENCE'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PRIN_PLACE_RESI'] ?></li>
	                        <?php
	                        }
                        }
                    }
                    ?>

                    <?php
                    if (isset($searchResult['DATE_ARRIVE']) && !empty($searchResult['DATE_ARRIVE'])) {
                    
							$dateArray = date_parse_from_format("Y-m-d", $searchResult['DATE_ARRIVE']);
		                    if($searchResult['data_source'] == 2 && ($dateArray['month'] == 1 or $dateArray['month'] == '01') && ($dateArray['day'] == 1 or $dateArray['day'] == '01'))
		                    {
		                            $year = $dateArray['year'];
		                    }
		                    else {
			                    if ($searchResult['DATE_ARRIVE'] != '' && $searchResult['DATE_ARRIVE'] != '0000-00-00 00:00:00') {
			                        $year =  $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat');
			                    }
		                    }                    
		                    
                    
                    
                        ?>
                        <li><?php echo $jsLangTranslate['L_DATE_OF_ARRIVAL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $year; ?></li>

                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_AGE_ARRIVAL'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_AGE_AT_ARRIVAL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['PRIN_AGE_ARRIVAL'] ?></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_GENDER_CODE'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_PASSENGER_GENDER'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $genderArray[$searchResult['PRIN_GENDER_CODE']] ?></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_MARITAL_STAT'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_MARITAL_STATUS'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $maritalStatusArray[$searchResult['PRIN_MARITAL_STAT']] ?></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (isset($searchResult['SHIP_NAME']) && !empty($searchResult['SHIP_NAME'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_SHIP_OF_TRAVEL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['SHIP_NAME'] ?></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (isset($searchResult['DEP_PORT_NAME']) && !empty($searchResult['DEP_PORT_NAME'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['DEP_PORT_NAME'] ?></li>
                        <?php
                    }
                    ?>
                    <?php
                    if (isset($searchResult['REF_PAGE_LINE_NBR']) && !empty($searchResult['REF_PAGE_LINE_NBR'])) {
                        ?>
                        <li><?php echo $jsLangTranslate['L_MANIFEST_LINE_NUMBER_LABEL'] ?> :&nbsp;&nbsp;&nbsp;<?php echo $searchResult['REF_PAGE_LINE_NBR'] ?></li>
                        <?php
                    }
                    ?>

                </ul>
            </div>
		
		
		
            <div class="menifestLeftSide">
            <div class="purchase-detail">
                <h1><?php echo $jsLangTranslate['PURCHASE_PASSENGER_RECORD'] ?></h1>
                <p><?php echo $jsLangTranslate['ARCHIVAL_QUALITY_MSG'] ?></p>
            </div>
			<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
            <div class="share-detail none" style="padding:0">                
            <?php
            $descriptionFB0 = $jsLangTranslate['FBSHARE_PASSENGER_RECORD_TITLE1'];
            $descriptionFB = sprintf($jsLangTranslate['FBSHARE_PASSENGER_RECORD_DESCRIPTION1'],DOMAIN_NAME);
           // $fbArr = array($this->serverUrl().'/passenger-details/'.$this->Encrypt($passenger_id).'/'.$this->Encrypt('passenger'),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($descriptionFB0),'&nbsp;',addslashes($descriptionFB),$facebookAppId);
            ?>
                <!--<a class="float-right" href="javascript:void(0);" style="cursor:pointer;" onclick="return fbShare('<?php //echo implode("','",$fbArr); ?>');">
                    <img src="<?php //echo $this->layout()->getVariable('imageFilePath'); ?>/images/quizzes-share.png" alt="Share on Facebook" title="Share on Facebook">
                </a>-->
            </div>
			<?php } ?>
            <div class="add-cart passenger-record">
                <div class="left">
				<?php
                
                //if (isset($productResult[0])) {
              //  asd($productResult);
                $countProductRecord = count($productResult);
                foreach($productResult as $key=>$val){   
                    $recordPrice = $val['product_sell_price'] + $val['additional_option_price'];
                    $recordPrice = $recordPrice - $this->Roundamount(($recordPrice*$discount)/100);
                    $inputType = '';
                    $isDefault = '';
                    if ($val['attribute_display_type'] == 1)
                        $inputType = "textbox";
                    else if ($val['attribute_display_type'] == 2)
                        $inputType = "select";
                    else if ($val['attribute_display_type'] == 3) {
                        $inputType = "radio";
	                    if ($val['default_option'] == 1)
	                        $isDefault = "checked";
	                    else
	                        $isDefault = "";
                    }
                    else if ($val['attribute_display_type'] == 4){
                        $inputType = "checkbox";
                    }    
                                
                    
                    /*if($val['default_option'] == 1){
                        $isDefault = 'checked';
                    }*/
                    if(empty($val['product_attribute_option_id']))
                    {
                        $countProductRecord = $countProductRecord -1;
                    }
                    
                    if($countProductRecord == 1)
                    {
                        $inputType = 'hidden';
                    }
                    if(!empty($val['product_attribute_option_id']))
                    {
                    ?>
					
						<label>
							<span><input type="<?php echo $inputType?>" value="<?php echo $val['attribute_option_id'] ?>" id="<?php echo $val['attribute_option_id'] ?>" <?php echo $isDefault; ?> name="attribute_option_id"></span>
						<span class="value"><?php echo $val['option_name'] ?></span><?php echo $jsLangTranslate['CURRENCY_SYMBOL'] . $this->Currencyformat($recordPrice) ?></label>
					
                    <?php
                    }
                }
                ?></div>
                <?php
                $flag = '';
                if (!empty($passenger_id)) {
                    $flag = "p";
                } elseif (!empty($shipidPlain)) {
                    $flag = "s";
                }
                ?>
				<div class="left m-t-5">
						<input type="button" class="button pink semibold" onclick="addtocartpassdocument('<?php echo $passenger_id ?>','1','5','<?php echo $flag; ?>')" value="<?php echo $jsLangTranslate['ADD_TO_CART'] ?> &gt;">

						
				</div>
          <!--  <a href="javascript:void(0);"  onclick="showRelatedProducts(5,'<?php //echo $searchResult['PRIN_FIRST_NAME'] . ' ' . $searchResult['PRIN_LAST_NAME'] ?>');">Related Products</a>-->
                <?php
                $prinFirstName = '';
                if(isset($searchResult['PRIN_FIRST_NAME']) && !empty($searchResult['PRIN_FIRST_NAME'])){
                    $prinFirstName = ', '.$searchResult['PRIN_FIRST_NAME'];
                }
                ?>
                <input type="hidden" name="ship_name" id="ship_name" value="<?php echo $searchResult['PRIN_LAST_NAME'].$prinFirstName ?>" />
                <input type="hidden" name="p_passenger_name" id="p_passenger_name" value="<?php echo $searchResult['PRIN_LAST_NAME'].$prinFirstName ?>" />
                <input type="hidden" name="p_date_arrive" id="p_date_arrive" value="<?php echo substr($searchResult['DATE_ARRIVE'],0,10);?>" />
            </div>
			
				
			<div class="received-detail"><p>Would you like to receive a free digital version of this passenger record?</p>
			<p>Please enter your email address below and click on send button to get your free digital version of this passenger record.</p>
            <input type="text" name="email_address" value="" id="email_address" placeholder="Enter your email">&nbsp;<input type="button" class="button semibold" name="send_email" value="SEND" id="send_email" onClick="sendPassengerRecord();"><span id="email_address_message" class="green-color"></span>
            </div>
			
			<!--<input type="button" class="button semibold float-left" name="send_email" value="Request Print Certificate" onclick="requestPrintCertificate();">-->
			<input type="button" class="button fleft  m-r-5 semibold" value="View Sample" onClick="viewSampleRecord();">
				<?php 
				
				$auth = $this->getAuth();	
				if (!isset($auth->email_id) || $auth->email_id == '') {
					?>
					<input type="button" class="button fleft semibold" value="SAVE & PRINT LATER" onClick="saveToFile();">
					<?php
				} else {
					?>
					<input type="button" class="button fleft semibold" value="SAVE TO MY PROFILE" onClick="saveToFile();">
					<?php
				}
				?>
			
            </div>
            
            
            
       
            
            
      

            <!-- <div class="annotattions-detail"> -->
               <!-- <h1><?php //echo $jsLangTranslate['L_ANNOTATIONS'] ?></h1>
                <h3><?php //echo $jsLangTranslate['CURRENTLY_THE_RECORD_HAS'] ?> <?php //echo count($this->annotationResult); ?> <?php //echo $jsLangTranslate['ANNOTATIONS'] ?>.</h3>
                <p><?php //echo $jsLangTranslate['L_ANNOTATION_LIST'] ?></p>-->
           <!-- </div> -->
            <!-- <?php
            if (count($this->annotationResult) > 0) {
                ?>        
                    <table cellpadding="0" cellspacing="0" style="width:55%; float:left;">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><?php echo $jsLangTranslate['CREATED_BY'] ?></th>
                                <th><?php echo $jsLangTranslate['DATE'] ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $no = 1;
                            foreach ($this->annotationResult as $key => $val) {
                                ?>
                                <tr>
                                    <td><?php echo $no; ?></td>
                                    <td><a href="javascript:void(0);" onclick=showPassengerDetails('annotationTab','<?php echo $this->Encrypt($val['annotation_correction_id']) ?>','<?php echo $no ?>');><?php
                                     
                                    if(empty($val['user_type'])){
                                        echo 'Admin';
                                    }else{
                                        if ($val['user_type']!='1'){
                                            echo $val['company_name'];
                                        }else{
                                            $contactLastName = substr($val['contact_last_name'],0,1).'.';
                                            echo $val['contact_name'].' '.$contactLastName;
                                        }
                                    }
                            
                                ?></a></td>
                                    <td><?php echo $this->Dateformatalpha($val['added_date'], 'displaymonthformat') ?></td>
                                </tr>
                                <?php
                                $no++;
                            }
                            ?>
                        </tbody>
                    </table>
              
                <?php
            }
            ?>
            
        </div> -->
    </form>
</div>
<div class='success_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
        <p><?php echo $jsLangTranslate['PASSENGER_SAVE_TO_FILE'] ?></p>
        <input type="button" value="Close" name="no" id="close_save" class="button green semibold">

    </div>
</div>
<div class='error_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
        <p><?php echo $jsLangTranslate['PASSENGER_ALREADY_IN_FILE'] ?></p>
        <input type="button" value="Close" name="no" id="close_already" class="button green semibold">
    </div>    
</div>
<div class="exceed" style="display:none;">
    <div class="inner-popup-detail">
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.exceed').css({'display':'none'});"  class="button green semibold">
    </div>
</div>
<?php 
$script = <<<EOD
$("#close_save").click(function(){
        $.colorbox.close();
        $(".success_msg").hide()
        return false;
    }); 
    $("#close_already").click(function(){
        $.colorbox.close();
        $(".error_msg").hide()
       
        return false;
    });
EOD;
echo $this->inlineScript()->appendScript($script);
?>