<?php
/** This is used for passenger ship information
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<?php
//$descriptionFB = '';
//		if (!empty($shipResult['PASSENGERSFIRST']) || !empty($shipResult['PASSENGERSSECOND']) || !empty($shipResult['PASSENGERSTHIRD'])) {
//			$passTotalCount = $shipResult['PASSENGERSFIRST'] + $shipResult['PASSENGERSSECOND'] + $shipResult['PASSENGERSTHIRD'];
//		}
//		
//if(isset($shipResult['SHIPNAME']))
//	$descriptionFB .= $jsLangTranslate['L_BUILT_BY'].' '.$shipResult['BUILDER'].' &amp; '.$shipResult['BUILDCITY'].', '.$shipResult['BUILDCOUNTRY'].', '.$shipResult['BUILDYEAR'].'. '.$shipResult['GROSSTONS'].' '.$jsLangTranslate['L_GROSS_TONS'].'; '.$shipResult['FEETLONG'].' '.$jsLangTranslate['L_FEET_LONG'].'; '.$shipResult['BEAM'].' '.$jsLangTranslate['L_FEET_WIDE'].'. '.$shipResult['engine_type'].' '.$jsLangTranslate['L_ENGINE'].', '.$shipResult['NUMSCREWS'].' '.$jsLangTranslate['L_SCREW'].'. '.$jsLangTranslate['L_SERVICE_SPEED'].' '.$shipResult['SERVICESPEEDKNOTS'].' '.$jsLangTranslate['L_KNOTS'].' . '.$passTotalCount.' '.$jsLangTranslate['L_PASSENGERS'];   
//
//if (!empty($shipResult['PASSENGERSFIRST']) || !empty($shipResult['PASSENGERSSECOND']) || !empty($shipResult['PASSENGERSTHIRD'])) {
//$descriptionFB .= ' (';
//if (!empty($shipResult['PASSENGERSFIRST'])) $descriptionFB .= $shipResult['PASSENGERSFIRST'] . ' first class,';
//if (!empty($shipResult['PASSENGERSSECOND'])) $descriptionFB .= $shipResult['PASSENGERSSECOND'] . ' second class,';
//if (!empty($shipResult['PASSENGERSTHIRD'])) $descriptionFB .= $shipResult['PASSENGERSTHIRD'] . ' third class';
//$descriptionFB .= '). ';
//
//}
//if(isset($shipResult['NOTE']))
//$descriptionFB .= $shipResult['NOTE'].'.';
//if(isset($shipResult['ASSETVALUE']) and trim($shipResult['ASSETVALUE']) != "") {
//$fbPicPath = $shipPath.$shipResult['ASSETVALUE'];
//}
//else {
$fbPicPath = $this->layout()->getVariable('imageFilePath') . '/images/fb_share.jpg';
//}
//print_r($shipResult);
$descriptionFB = sprintf($jsLangTranslate['FBSHARE_SHIP_INFORMATION_DESCRIPTION1'], "", $shipResult['SHIPNAME'], DOMAIN_NAME);

$fbArr = array();
//$shipResult['SHIPNAME']
if (isset($shipResult['SHIPNAME'])) {
    if ($passengerDetailsPage == 'yes') {
        $fbArr = array($this->serverUrl() . '/passenger-details/' . $this->Encrypt($passenger_id) . '/' . $this->Encrypt('ship'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_SHIP_INFORMATION_TITLE1']), '&nbsp;', addslashes($descriptionFB), $facebookAppId);
    } else {
        $fbArr = array($this->serverUrl() . '/ship-details/' . $shipNameShipInfo . '/' . $shipDateArrivalShipInfo . '/' . $this->Encrypt('ship'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_SHIP_INFORMATION_TITLE1']), '&nbsp;', addslashes($descriptionFB), $facebookAppId);
    }
}
?>
<div id="information" class="ship-information">
    <div class="content">
	
	<div class="shipInformationRight">
	<div class="img-box float-right">
		<?php
if (@$shipResult['ASSETVALUE'] != '' && (file_exists($shipfilePath . @$shipResult['ASSETVALUE'])) && $arrival_year>=1892) {
    ?>
        <img src="<?php echo $shipPath . @$shipResult['ASSETVALUE'] ?>" alt="" width="564px" height="352px">
	<?php } ?>
      </div>
        <div class="purchaseShipImg">          
            <div class="top-section">
                <form id="ship_form">
                    <input type="hidden" name="ship_arrival_date" id="ship_arrival_date" value="<?php echo $dateArrivalDateFormat; ?>">
                    <!--<input type="hidden" name="ship_assetvalue" id="ship_assetvalue" value="<?php //echo $this->Encrypt(@$shipResult['ASSETVALUE']); ?>">-->
<?php
$imageAvailable = '';
if (@$shipResult['ASSETVALUE'] != '' && (file_exists($shipfilePath . @$shipResult['ASSETVALUE'])) && $arrival_year>=1892) {
    ?>
                       
    <?php
} else {
    echo "No Image Avaliable";
    //echo "<br>We are currently building this archive of ship images for the era 1925-1957.";
    $imageAvailable = 'no';
}
?>

                    <?php
                    //$imageAvailable = 'no';
                    if (empty($imageAvailable)) {
                        ?>

                        <div class="right-section">

    <?php
    if (count($productOptionResult) > 0) {
        $price = '0';

        foreach ($productOptionResult as $key => $val) {
            $inputType = '';
            $checked = '';
            if ($val['attribute_display_type'] == 1)
                $inputType = "textbox";
            else if ($val['attribute_display_type'] == 2)
                $inputType = "select";
            else if ($val['attribute_display_type'] == 3) {
                $inputType = "radio";
                if ($val['default_option'] == 1)
                    $checked = "checked";
                else
                    $checked = "";
            }
            else if ($val['attribute_display_type'] == 4)
                $inputType = "checkbox";

            if (!empty($val['product_attribute_option_id']) && $val['option_name']!='5 X 7') {
                ?>
                                        <div class="row"><input name="attribute_option_id[]" type="<?php echo $inputType ?>" class="float-left" <?php echo $checked; ?> value="<?php echo $val['attribute_option_id'] ?>"><span><?php echo $val['option_name']; ?></span><strong>$<?php
                        //$price = $val['product_sell_price'] + $val['option_price'] + $val['additional_option_price'];
                        $price = $val['product_sell_price'] + $val['additional_option_price'];

                        $price = $price - $this->Roundamount(($price * $discount) / 100);

                        echo $this->Currencyformat($price)
                ?></strong></div>
                                                <?php
                                            }
                                        }
                                    }
                                    ?>    

                            <input type ="hidden" name="ship_name" id="ship_name" value="<?php echo $shipResult['SHIPNAME'] ?>" />
                           <!-- <a href="javascript:void(0);"  onclick="showRelatedProducts(8,'<?php //echo $shipResult['SHIPNAME']  ?>');">Related Products</a>-->
                            <?php
                            $flag = '';
                            if (!empty($passenger_id)) {
                                $flag = "p";
                            } elseif (!empty($shipidPlain)) {
                                $flag = "s";
                            }

                            $passTotalCount = $shipResult['PASSENGERSFIRST'] + $shipResult['PASSENGERSSECOND'] + $shipResult['PASSENGERSTHIRD'];
                            ?>

                            <?php if (@$shipResult['ASSETVALUE'] != '') { ?>
                                <input type="button" class="button pink semibold" value="ADD TO CART &gt;" onclick="addtocartpassdocument('<?php echo $shipidPlain ? $shipidPlain : $passenger_id ?>','1','8','<?php echo $flag; ?>')">
                            <?php } ?>
                            <input type="button" class="button semibold" onClick="saveShipToFile('<?php echo $shipId ?>','<?php echo $dateArrival ?>','<?php echo $this->Encrypt($shipResult['SHIPNAME']) ?>');" value="Save To My Profile">
                            
                            <?php
                            if (@$shipResult['ASSETVALUE'] != '') {
                            ?>
                            <!--<input type="text" name="email_address" value="" id="email_address" placeholder="Enter your email">&nbsp;<input type="button" name="send_email" value="SEND" id="send_email" onClick="sendShipRecord();"><span id="email_address_message"></span>-->
                            <?php
                            }
                            ?>
                            <hr>
                            <p><strong><?php echo $jsLangTranslate['TRAVELED'] ?></strong><br>
                            <?php //echo $jsLangTranslate['NAUTICAL_MILES']  ?>Not available</p>
                            <?php
                            if ($passTotalCount > 0) {
                                ?>
                                <p>
                                    <strong><?php echo $jsLangTranslate['NO_OF_PASSENGER_RECORDS'] ?></strong><br>
                                    <?php echo number_format($passTotalCount) ?>
                                </p>
                                <?php
                            }
                            ?>
                        </div>

                                <?php
                            }
                            ?>

                </form>
            </div>
        </div>
        </div>
						
						
						
        <div class="shipInformationLeft">
            <p class="small"><?php  if($arrival_year >= 1892) {  echo $jsLangTranslate['L_PHOTO_COURTESY']; } ?></p>
            <p class="small"><strong><?php echo $jsLangTranslate['L_NOTE'] ?></strong> <?php echo stripslashes($jsLangTranslate['L_IMAGE_NOTE']) ?></p>
            <?php
            if ((!empty($shipResult['BUILDER']) || !empty($shipResult['BUILDCOUNTRY'])) && $arrival_year >= 1892) {
                ?>
                <h3><?php echo $jsLangTranslate['L_ABOUT_SHIP'] ?></h3>
    <?php
}
?>
            <p>
            <?php
            if (count($shipResult) > 0 && $arrival_year >= 1892) {
                //if($shipResult['NUMSCREWS'] == 1)
                //	$shipResult['NUMSCREWS'] = 'Single';
                //else if($shipResult['NUMSCREWS'] == 2)
                //	$shipResult['NUMSCREWS'] = 'Double';	
                //else if($shipResult['NUMSCREWS'] == 3)
                //	$shipResult['NUMSCREWS'] = 'Triple';	
                $numscrews = $screwNameArray[$shipResult['NUMSCREWS']];
                if ($passTotalCount > 0)
                    $passTotalCount = number_format($passTotalCount) . ' ' . $jsLangTranslate['L_PASSENGERS'];

                if (!empty($shipResult['BUILDER']) || !empty($shipResult['BUILDCOUNTRY'])) {
                    echo $jsLangTranslate['L_BUILT_BY'] . ' ' . $shipResult['BUILDER'] . ', ' . $shipResult['BUILDCITY'] . ', ' . $shipResult['BUILDCOUNTRY'] . ', ' . $shipResult['BUILDYEAR'] . '. ' . number_format($shipResult['GROSSTONS']) . ' ' . $jsLangTranslate['L_GROSS_TONS'] . '; ' . $shipResult['FEETLONG'] . ' ' . $jsLangTranslate['L_FEET_LONG'] . '; ' . $shipResult['BEAM'] . ' ' . $jsLangTranslate['L_FEET_WIDE'] . '. ' . $shipResult['engine_type'] . ' ' . $jsLangTranslate['L_ENGINE'] . ', ' . $numscrews . '. ' . $jsLangTranslate['L_SERVICE_SPEED'] . ' ' . $shipResult['SERVICESPEEDKNOTS'] . ' ' . $jsLangTranslate['L_KNOTS'] . '. ' . $passTotalCount;
                }
            }
            ?>
                <?php
                if ((!empty($shipResult['PASSENGERSFIRST']) || !empty($shipResult['PASSENGERSSECOND']) || !empty($shipResult['PASSENGERSTHIRD'])) && $arrival_year >= 1892) {
                    ?>
                    (<?php if (!empty($shipResult['PASSENGERSFIRST'])) echo $shipResult['PASSENGERSFIRST'] . ' first class,' ?> <?php if (!empty($shipResult['PASSENGERSSECOND'])) echo $shipResult['PASSENGERSSECOND'] . ' second class,' ?> <?php if (!empty($shipResult['PASSENGERSTHIRD'])) echo $shipResult['PASSENGERSTHIRD'] . ' third class' ?>).
                    <?php
                }
                ?> 
                <?php if (!empty($shipResult['NOTE']) && $arrival_year >= 1892) echo @$shipResult['NOTE'] . '.' ?>
            </p>
                <?php
                if (count($shipLineResult) > 0 && $arrival_year >= 1892) {
                    if (isset($shipLineResult[0])) {
                        ?>
                    <h3><?php echo $jsLangTranslate['L_HISTORY'] ?></h3>

                        <?php
                        $lineshipid = 0;
                        $lineid = 0;
                        $ShipName = "";
                        $lineShipid = 0;
                        $howNameChange = 0;
                        $service = "";
                        $lastService = "-"; //
                        $note = "";
                        $howLeft = 0;
                        $startyear = 0;
                        $endyear = 0;
                        $totalPass = 0;
                        $lineName = '';
                        $numShow = '';
                        $name = '';
                        $sname = "";
                        $lastHowLeft = "Built for "; //
                        $lastHowLeftType = -1; //
                        $flag = "";

                        if (!$html)
                            $html = "S";
                        //asd($shipResult);
                        $aDetailString = "";
                        foreach ($shipLineResult as $key => $val) {
                            //unfuddle ticket #1205
                            if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761) 
                            	$aDetailString.= "<br>";
                            //if ($val['HOWNAMECHANGE'] != $howNameChange) $howNameChange = 0;		
                            //if ($val['HOWLEFT'] != $howLeft) $howLeft = 0;	

                            if ($lastHowLeftType != 14) {
                                if (0 == $val['LINEID']) {
                                    if (-1 == $lastHowLeftType)
                                        $aDetailString.= "Built ";
                                    else
                                        $aDetailString.= "" . $lineLessTransTypeArray[$lastHowLeftType];
                                } else { 
                                   
                                   //unfuddle ticket #1205
                                    
                                    if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761){
                                          $aDetailString.= "" . $lastHowLeft;
                                    	$aDetailString.= "" . $val['line_name'] . ",";
					 }
                                }
                                if ($val['FLAG'] != "") {
                                    if ($html == "S") {
                                        $aDetailString.= "&nbsp;" . $val['FLAG'] . " flag,";
                                    } else {
                                        $aDetailString.= " " . $val['FLAG'] . " flag,";
                                    }
                                }
                                if ($val['STARTYEAR'] > 0) {
                                    if ($html == "S") {
                                        $aDetailString.= "&nbsp;in " . $val['STARTYEAR'];
                                    } else {
                                        $aDetailString.= " in " . $val['STARTYEAR'];
                                    }
                                }

                                if ($val['HOWNAMECHANGE'] != 4) {
                                    //unfuddle ticket #1205
					 if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761)
                                      $aDetailString.= " and " . $howNameChangeArray[$val['HOWNAMECHANGE']] . " ";
                                    if ($html == "S") {
                                        $aDetailString.= "<b>" . $val['SHIPNAME'] . "</b>";
                                    } else{ 
                                        $aDetailString.= "" . $val['SHIPNAME'] . "";
                                    }
                                }
                            } else {
                                $aDetailString.= "Renamed ";
                                if ($html == "S") {
                                    $aDetailString.= "<b>" . $val['SHIPNAME'] . "</b>&nbsp;in " . $val['STARTYEAR'];
                                } else {
                                    $aDetailString.= "" . $val['SHIPNAME'] . " in " . $val['STARTYEAR'];
                                }
                            }
                            //unfuddle ticket #1205
                            if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761)
                               $aDetailString.= ".  ";
                            if ($val['SERVICE'] != "") {
                                if ($lastService == $val['SERVICE'])
                                    $aDetailString.= "Also ";
                                $aDetailString.= $val['SERVICE'] . " service.  ";
                            }
                            if ($val['NOTE'] != "") {
                                //unfuddle ticket #1205
                                if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761)
                                	$aDetailString.= $val['NOTE'] . ".  ";
                            }
                            $lastHowLeft = $transTypeArray[$val['HOWLEFT']] . " ";
                            $lastHowLeftType = $val['HOWLEFT'];

                            $lastService = $val['SERVICE'];
                            //unfuddle ticket #1205
                            if(($shipResult['SHIPID']==761  && $val['LINEID']!= -1) || $shipResult['SHIPID']!=761)
                               $aDetailString.= "<br>";
                        }
                        echo '<p>' . $aDetailString . '<p>';
                    }
                }
                ?>
            <p><?php
            if (!empty($shipResult['SCRAPPEDYEAR']) && $arrival_year >= 1892) {
                echo $shipResult['SCRAPPEDINCOUNTRY'] . ' in ' . $shipResult['SCRAPPEDYEAR'] . '.';
            }else{
					$str = '';
					for($k=0;$k<=55;$k++)
						$str.='&nbsp;';

					echo $str;
				}
                ?></p>		
        </div>
    </div>
</div>
<div class='success_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
        <p><?php echo $jsLangTranslate['SHIP_SAVE_TO_FILE'] ?></p>
        <input type="button" value="Close" name="no" id="close_save" class="button green semibold">
    </div>	
</div>
<div class='error_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
        <p><?php echo $jsLangTranslate['SHIP_ALREADY_IN_FILE'] ?></p>
        <input type="button" value="Close" name="no" id="close_already" class="button green semibold">
    </div>	
</div>
<div class="exceed" style="display:none;">
    <div class="inner-popup-detail">
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.exceed').css({'display':'none'});"  class="button green semibold">
    </div>
</div>
<?php
$script = <<<EOD
$("#close_save").click(function(){
        $.colorbox.close();
        $(".success_msg").hide()
        return false;
    }); 
    $("#close_already").click(function(){
        $.colorbox.close();
        $(".error_msg").hide()
        return false;
    });
EOD;

echo $this->inlineScript()->appendScript($script);
?>
