<?php
/** This is used for add passenger correction
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="submit-correction clearfix">
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <h3><?php echo $jsLangTranslate['L_SUBMITTING_A_CORRECTION'] ?></h3>
    <p><?php echo $jsLangTranslate['L_MESSAGE2'] ?></p>
        <p>&nbsp;</p>
        <p>
         Corrections such as wrong image, please use "Report an Issue".
        </p>
    <ul class="mar-non">
        <li class="no-pad"><strong>&nbsp;</strong><span>&nbsp;</span><strong class="center"><?php echo $jsLangTranslate['L_CORRECTION'] ?></strong></li>
        <?php echo $this->formRow($form->get('annotation_correction_id')); ?>
        <li><strong><?php echo $jsLangTranslate['L_FIRST_NAME'] ?>: </strong><span><?php echo $passengerResult['PRIN_FIRST_NAME'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('first_name')); ?>
        </li>

        <li><strong><?php echo $jsLangTranslate['L_LAST_NAME'] ?>:</strong><span><?php echo $passengerResult['PRIN_LAST_NAME'] ?> &nbsp;</span>
            <?php echo $this->formRow($form->get('last_name')); ?>
        </li>

        <li><strong><?php echo $jsLangTranslate['L_NATIONALITY'] ?>: </strong><span>
                <?php
                            if (!empty($passengerResult['PRIN_NATIONALITY']))
                                echo $passengerResult['PRIN_NATIONALITY'];
                            else 
                                echo 'N/A';
                        ?>
            </span>
            <?php echo $this->formRow($form->get('nationality')); ?>
        </li>
		<?php
		if(isset($passengerResult['data_source']) && !empty($passengerResult['data_source']))	
		{
			if($passengerResult['data_source'] == 2)
			{
			?>
			<li><strong><?php echo $jsLangTranslate['PLACE_OF_BIRTH'] ?>: </strong><span><?php echo $passengerResult['PLACE_OF_BIRTH'] ?>&nbsp;</span>
                    <?php echo $this->formRow($form->get('birth_place')); ?>
                </li>
			<?php
			}
			else
			{
		?>
            <li><strong><?php echo $jsLangTranslate['L_LAST_PLACE_OF_RESIDENCE'] ?>: </strong><span><?php echo $passengerResult['PRIN_PLACE_RESI'] ?>&nbsp;</span>
                <?php echo $this->formRow($form->get('last_residence')); ?>
            </li>
            <?php
            }
        }
        ?>        
        

        <li><strong><?php echo $jsLangTranslate['L_AGE_AT_ARRIVAL'] ?>: </strong><span><?php echo $passengerResult['PRIN_AGE_ARRIVAL'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('arrival_age')); ?>
        </li>

        <li><strong><?php echo $jsLangTranslate['L_GENDER_AT_ARRIVAL'] ?>: </strong><span><?php echo $passengerResult['PRIN_GENDER_CODE'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('gender')); ?>

        </li>

        <li><strong><?php echo $jsLangTranslate['L_MARITAL_STATUS'] ?>: </strong><span><?php echo $passengerResult['PRIN_MARITAL_STAT'] ?>&nbsp;</span>
            <div class="float-left"><?php echo $this->formRow($form->get('marital_status')); ?></div>
        </li>

        <li><strong><?php echo $jsLangTranslate['L_DATE_OF_ARRIVAL'] ?>: </strong><span>
                <?php
                if (!empty($passengerResult['DATE_ARRIVE']) && $passengerResult['DATE_ARRIVE'] != '0000-00-00') {
                    echo $this->Dateformatalpha($passengerResult['DATE_ARRIVE'], 'displaymonthformat');
                }
                ?></span>
            <?php echo $this->formRow($form->get('arrival_date')); ?>&nbsp;
        </li>

        <li><strong><?php echo $jsLangTranslate['L_SHIP_OF_TRAVEL'] ?>: </strong><span><?php echo $passengerResult['SHIP_NAME'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('ship')); ?>
        </li>

        <li><strong><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?>: </strong><span><?php echo $passengerResult['DEP_PORT_NAME'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('port_departure')); ?>

        </li>

        <li><strong><?php echo $jsLangTranslate['L_MANIFEST_LINE_NUMBER'] ?>: </strong><span><?php echo $passengerResult['REF_PAGE_LINE_NBR'] ?>&nbsp;</span>
            <?php echo $this->formRow($form->get('line_number')); ?>
        </li>
    </ul>
    <div class="check-row agree-row">
        <?php echo $this->formRow($form->get('agreement')); ?>
        <?php echo $jsLangTranslate['L_AGREEMENT'] ?></div>
    <?php echo $this->formRow($form->get('save')); ?>
    <?php echo $this->formRow($form->get('cancel')); ?>
    <?php echo $this->form()->closeTag(); ?>            
</div>

<div class='success_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1>Correction Submitted for approval</h1>
        <p><?php echo $jsLangTranslate['CONFIRMMSG2'] ?>,</p>
        <p><?php echo $jsLangTranslate['CONFIRMMSG3'] ?></p>
        <p><?php echo $jsLangTranslate['CONFIRMMSG4'] ?></p>
        <input type="button" value="Close" name="no" id="close_thanks" class="button green semibold" onClick="parent.$.colorbox.close();$('.success_msg').hide();">
    </div>
</div>		

<div class='cancel_msg' style='display:none'>
    <div class="inner-popup-detail">
        <h1>Correction for approval</h1>
        <p><?php echo $jsLangTranslate['ALERTCONFIRM'] ?></p>
        <p><input type="button" value="<?php echo $jsLangTranslate['YES'] ?>" name="yes" id="yes_act" class="button semibold m-r-10">
            <input type="button" value="<?php echo $jsLangTranslate['NO'] ?>" name="no" id="no_act" class="button green semibold"></p>
    </div>
</div>
<?php
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";

echo $this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.details.correction.js?v='.$this->layout()->getVariable('jsVersion'));
?>

