<?php
/**
 * This is used for Passenger module.
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<?php
if (count($searchArray) > 0) {
    ?>
    <table width="100%">
        <?php
        foreach ($searchArray as $val) {
            ?>
            <tr><td width="60%"><?php echo stripslashes($val->title) ?></td><td width="10%"><a href="javascript:void(0);" onclick="getSaveSearch('<?php echo $val->search_id ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon1.jpg" alt="View Passenger" title="View Passenger"></a></td><td width="10%"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon2.jpg" alt="Delete Passenger" title="Delete Passenger"></td></tr>
            <?php
        }
        ?>
    </table>
    <?php
}
die;
?>