<?php
if ($searchResult > 0) {
    foreach ($searchResult as $key => $val) {
        ?>
        <tr>
            <td><?php echo $val['SHIPNAME'] ?></td>
            <td>View</td>
        </tr>
        <?php
    }
    ?>
    <tr id="load_more-1"><td colspan="6" style="padding:0px;"><div id="loadingDiv-1" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()">Load More</a></div></td></tr>
    <?php
}
?>