<?php
/** This is used to view the ship listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
$translator = $jsLangTranslate;
?>
        <div class="center-wrapper position-relative">
            <div class="filter-btn-pass" id="filter_1" onClick="showFilters();"><a href="javascript:void(0);">Filter</a></div>
            <div class="passenger-matches-box" style="display:block;">
            
               <?php 
                if ((isset($searchParam['search_type5']) && $searchParam['search_type5'] == 1) || $searchTypeFlag == 'no') {
                    $searchType[] = 5;
                    ?>
                    <div class="match-box button"><a href="javascript:void(0);" onclick="assignSearchType(5)" id="searchTab5"><?php echo $jsLangTranslate['CONTAINS'] ?><span id="tot_5"><?php echo $searchResult5['total'] ?></span></a></div>
                    <?php
                }
                ?>            
                <?php
                if (isset($searchParam['search_type1']) && $searchParam['search_type1'] == 1) {
                    $searchType[] = 1;
                    ?>

                    <div class="match-box button"  onclick="assignSearchType(1)"><a href="javascript:void(0);" id="searchTab1"><?php echo $jsLangTranslate['EXACT_MATCHES'] ?><span id="tot_1"><?php echo $searchResult1['total'] ?></span></a> 
                    </div>
                    <?php
                }
                ?>
                <?php
                if (isset($searchParam['search_type2']) && $searchParam['search_type2'] == 1) {
                    $searchType[] = 2;
                    ?>
                    <div class="match-box button"  onclick="assignSearchType(2)"><a href="javascript:void(0);" id="searchTab2"><?php echo $jsLangTranslate['CLOSE_MATCHES'] ?><span id="tot_2"><?php echo $searchResult2['total'] ?></span></a> </div>
                    <?php
                }
                ?>
                <?php
                if (isset($searchParam['search_type3']) && $searchParam['search_type3'] == 1) {
                    $searchType[] = 3;
                    ?>
                    <div class="match-box button"  onclick="assignSearchType(3)"><a href="javascript:void(0);" id="searchTab3"><?php echo $jsLangTranslate['SOUNDS_LIKE'] ?><span id="tot_3"><?php echo $searchResult3['total'] ?></span></a></div>
                    <?php
                }
                ?>
                <?php
                if (isset($searchParam['search_type4']) && $searchParam['search_type4'] == 1) {
                    $searchType[] = 4;
                    ?>
                    <div class="match-box button" onclick="assignSearchType(4)"><a href="javascript:void(0);" id="searchTab4"><?php echo $jsLangTranslate['ALTERNATE_SPELLINGS'] ?><span id="tot_4"><?php echo $searchResult4['total'] ?></span></a></div>
                    <?php
                }
                ?>
                <?php
                if (isset($searchParam['search_type6']) && $searchParam['search_type6'] == 1) {
                    $searchType[] = 6;
                    ?>
                    <div class="match-box button"  onclick="assignSearchType(6)"><a href="javascript:void(0);" id="searchTab6"><?php echo $translator['L_NAME_WHEN_BUILT'] ?><span id="tot_6"><?php echo $searchResult6['total'] ?></span></a></div>
                    <?php
                }
                ?> 
			</div>
        </div>

            <?php
            if ((isset($searchParam['search_type5']) && $searchParam['search_type5'] == 1) || $searchTypeFlag == 'no') {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult5, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 5, 'div_name' => 'contains_match', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }
                        
            
            if (isset($searchParam['search_type1']) && $searchParam['search_type1'] == 1) {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult1, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 1, 'div_name' => 'exact_match', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }

            if (isset($searchParam['search_type2']) && $searchParam['search_type2'] == 1) {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult2, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 2, 'div_name' => 'close_match', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }

            if (isset($searchParam['search_type3']) && $searchParam['search_type3'] == 1) {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult3, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 3, 'div_name' => 'sound_like', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }

            if (isset($searchParam['search_type4']) && $searchParam['search_type4'] == 1) {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult4, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 4, 'div_name' => 'alternate_spelling', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }

            if ((isset($searchParam['search_type6']) && $searchParam['search_type6'] == 1)) {
                echo $this->partial('/passenger/passenger/ship-list-block.phtml', array("searchResultArray" => $searchResult6, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'type' => 6, 'div_name' => 'name_when_built', 'sort_field' => $sort_field, 'sort_order' => $sort_order, $page, 'translator' => $translator, 'shipPath' => $shipPath, 'shipRecordsView'=>$shipRecordsView));
            }
            ?>
            <a id="toTop" href="#">Back to Top</a>
<?php

$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.= 'var matchType= "' . $matchType . '";';
$searchTypeStr = implode(",",$searchType);
$type5 = isset($searchParam['search_type5'])?$searchParam['search_type5']:'';
$type1 = isset($searchParam['search_type1'])?$searchParam['search_type1']:'';
$imageFilePath = $this->layout()->getVariable('imageFilePath');

$script = <<<EOD
$(".match-box").click(function(){ 
		$(".match-box").removeClass('active');
		$(this).addClass('active');
	    var i = $(this).index() ;
		$(".passenger-search-output .search-results-box").fadeOut(0);
		$(".passenger-search-output .search-results-box:eq("+i+")").fadeIn(0);	
	});
	$(function (){ 
        if(matchType!= '')
        {
            $("#match_type").val(matchType);
        }
        var searchType = "$searchTypeStr";

        var searchTypeArr = searchType.split(',');
        $(".match-box").first().click();
        $("#match_type").val(searchTypeArr[0]);
        if(searchTypeArr[0]*1==5)
            $("#div_name").val('contains_match');
        if(searchTypeArr[0]*1==1)
            $("#div_name").val('exact_match');
        if(searchTypeArr[0]*1==2)
            $("#div_name").val('close_match');                        
        if(searchTypeArr[0]*1==3)
            $("#div_name").val('sound_like');        
        if(searchTypeArr[0]*1==4)
            $("#div_name").val('alternate_spelling');
        if(searchTypeArr[0]*1==6)
            $("#div_name").val('name_when_built'); 
            
            var typ5 = "$type5";
            var typ1 = "$type1";
            var typFlag = "$searchTypeFlag";
            
            if(typ1=='' && typ5=='' && typFlag=='no')
            {
                 $("#search_type5").prop( "checked", true );
            }
            else if(typ1*1==1 && typ5=='' && typFlag=='yes') 
            {
                $("#search_type1").prop( "checked", true );
            } 
            
		$("div.black-box").on("mouseleave", function(){
            $(this).fadeOut(600);
		});            
            
    });
    $(window).data('ajaxready', true).scroll(function(e) {
    var showMore = false;;
    if( ($("#div_name").val() == 'contains_match' && $("#tot_5").html()*1!=0) || ($("#div_name").val() == 'exact_match' && $("#tot_1").html()*1!=0) || ($("#div_name").val() == 'close_match' && $("#tot_2").html()*1!=0) || ($("#div_name").val() == 'sound_like' && $("#tot_3").html()*1!=0) || ($("#div_name").val() == 'alternate_spelling' && $("#tot_4").html()*1!=0) || ($("#div_name").val() == 'name_when_built' && $("#tot_6").html()*1!=0) )
    {
        var showMore = true;
    }    
    
        
	
        if ($(window).data('ajaxready') == false) return;
        var WindowHeight = $(window).height(); 
        if(showMore==true && $(window).scrollTop() > $(document).height() - $(window).height() - 300){
            $(window).data('ajaxready', false);
           
            var pageType = $("#match_type").val();
            var page = parseInt($("#page"+pageType).val());

            if($("#loadingDiv"+pageType+'-'+page))
                $("#loadingDiv"+pageType+'-'+page).append('<div class="loader-class"><img src ="$imageFilePath/images/loading.gif"></div>'); 

            var page = parseInt($("#page"+pageType).val());
            $("#page"+pageType).val(page+1);
            $.ajax
            ({
                type: 'POST',
                cache: true,
                data: {
                    searchString:$("#ship").serialize(),
                    page:$("#page"+pageType).val()
                },
                url: '/get-search-ship-list',
                success: function(response)
                {
                    $("#loadingDiv"+pageType+'-'+page).html(''); 
                    $("#load_more"+pageType+'-'+page).html('');    
                    $("#container_div_"+$("#div_name").val()).append(response);                    
                    $(window).data('ajaxready', true);
                    $("#load_more"+pageType+'-'+page).html('');    
                }
	                
            });
        }
    });
  
    function loadMore()
    { 
        var pageType = $("#match_type").val();
        if($("#loadingDiv"+pageType+'-'+page))
            $("#loadingDiv"+pageType+'-'+page).append('<div class="loader-class"><img src ="$imageFilePath/images/loading.gif"></div>'); 

        var page = parseInt($("#page"+pageType).val());
        $("#page"+pageType).val(page+1);
        $.ajax
        ({
            type: 'POST',
            cache: true,
            data: {
                searchString:$("#ship").serialize(),
                page:$("#page"+pageType).val()
            },
            url: '/get-search-ship-list',
            success: function(response)
            {   
                $("#load_more"+pageType+'-'+page).html('');
                if($.trim(response)!='')
                {
                    $("#loadingDiv"+pageType+'-'+page).html('<a href="javascript:void(0);" onclick="loadMore()">Load More</a>'); 
                    $("#container_div_"+$("#div_name").val()).append(response); 
                    $(window).data('ajaxready', true);
                }
                else
                {
                    $("#loadingDiv"+pageType+'-'+page).html(''); 
                    $("#lastDiv"+pageType).append(''); 
                }  
            }
        });  
    }
    /**
     * function is used for assign search type
     * @author Icreon Tech - SR
     */      
    function assignSearchType(value)
    {
        for(var k =1; k<=6;k++)
            $("#searchTabMessage"+k).hide();  
        
        $("#searchTabMessage"+value).show();  
        $("#match_type").val(value);
        if(value==5)
            $("#div_name").val('contains_match');
        if(value==1)
            $("#div_name").val('exact_match');
        if(value==2)
            $("#div_name").val('close_match');                        
        if(value==3)
            $("#div_name").val('sound_like');        
        if(value==4)
            $("#div_name").val('alternate_spelling');
        if(value==6)
            $("#div_name").val('name_when_built');   
    }
    /**
     * function is used show passenger details
     * @author Icreon Tech -SR
     */     
    function showShipDetailsSummary(id)
    {
        $("#shipDetailDiv"+id).show();
    }
    /**
     * function is used hide the passenger details
     * @author Icreon Tech -SR
     */     
    function hideShipDetailsSummary(id)
    {
        $("#shipDetailDiv"+id).hide();
    }     
    
    function showHideDetails(id,act)  
    {
        if(act == 'show')
            $("#"+id).fadeIn(1000);
        if(act == 'hide')
            $("#"+id).fadeOut(1000);    
    }
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/scrollingTop.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>