<?php
/** This is used for ship details
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div class="inner-header">
    <div class="container class-relative"> 
        <h1>Ship Record</h1>
    </div>
</div>
<section class="passenger-outer-bg">
    <div class="passenger-inner-bg">
        <form method="post" id="ship_search_frm" name="ship_search_frm" action="/ship-result">
            <div class="passenger-result-bg">
                <div class="center-wrapper">

                    <div class="psr-detail-section">
                        <h1>Ship Search</h1>
                        <div class="right-section">
                            <?php echo $this->formRow($form->get('match_type')); ?>
                            <?php echo $this->formRow($form->get('div_name')); ?>
                            <?php echo $this->formRow($form->get('ship_name')); ?>
                            <input type="hidden" name="result_format" value="grid_view" id="result_format">
                            <input type="hidden" name="is_logged_in" id="is_logged_in" value="<?php echo $is_logged_in ?>">
                            <span id="error_msg"></span>

                            <input type="submit" name="submit" value="Results" id="searchButton" class="button">
                            <div class="psr-filter button" id="filter_2"><a href="javascript:void(0);">Filter</a></div>
                            <div class="left"><a href="javascript:void(0);" class="narrow-search" >Narrow your Search</a>
                            <a href="javascript:void(0);" class="wizard" id="narrowshipsearchid">Wizard</a>
                                <div class="narrow-detail-section">
                                    <div class="passenger-inner-bg narrow-dropdown" id="filter_area">

                                        <div class="small-wrapper">
                                            <div class="inner-section">

                                                <?php
                                                echo $this->partial('/passenger/passenger/ship_search_param.phtml', array("searchParam" => $searchParam, "form" => $form, 'searchTypeArray' => $searchTypeArray, 'displayStatus' => 'no','fromIndex'=>'yes'));
                                                ?>     

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
    </div></form> 
</section>


<section class="passenger-outer-bg" id="contentArea">
<div class="passenger-inner-bg passenger-record-design">
    <div class="container">
    

         
<ul class="tabs">
                <li class="width33"><a href="#manifest" class="" onClick="showPassengerDetails('shipManifestTab');" id="shipManifestTab"><?php echo $jsLangTranslate['L_SHIP_MANIFEST'] ?></a></li>
                <li class="width33"><a href="#information" class="" onClick="showPassengerDetails('shipInformationTab');" id="shipInformationTab"><?php echo $jsLangTranslate['L_SHIP_INFORMATION'] ?></a></li>
                <li class="width33"><a href="#text" class="" onClick="showPassengerDetails('textPassengerListTab');" id="textPassengerListTab"><?php echo $jsLangTranslate['L_TEXT_PASSENGER_LIST'] ?></a></li>
            </ul>
			<div class="manifest-outer-namelist">
        <div class="block  alpha ship-detail clearfix full">	
		
            <div class="content"> 
                <?php 
                if ($shipPath != '' && file_exists($this->shipFilePath)) {
                    ?>
                    <img src="<?php echo $shipPath; ?>" width="140" height="130" alt="<?php echo $searchResult['SHIP_NAME']; ?>" title="<?php echo $this->EscapeHtml($searchResult['SHIP_NAME']); ?>" class="float-left">
                    <?php
                }else
                {
                    ?>
                    <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/no-ship-img.jpg" width="140" height="130" alt="<?php echo $searchResult['SHIP_NAME']; ?>" title="<?php echo $this->EscapeHtml($searchResult['SHIP_NAME']); ?>" class="float-left">
                    <?php
                }
                ?>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_SHIP_NAME'] ?></label>
                    <?php echo $this->EscapeHtml($searchResult['SHIP_NAME']); ?> </div>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_ARRIVAL_DATE'] ?></label>
                    <?php
                    if ($searchResult['DATE_ARRIVE'] != '' && $searchResult['DATE_ARRIVE'] != '0000-00-00 00:00:00') {
                        echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat');
                    }
                    ?> </div>
                <div class="col-detail none font-18">
                    <label><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?></label>
                    <?php
                    //echo $this->EscapeHtml($shipDeparturePortName); 
                    $portArr = explode('~~', $shipDeparturePortPoint);
                    if($shipDeparturePortPoint!='') {
		                    foreach ($portArr as $portVal) {
		                        echo $this->EscapeHtml($portVal) . ". ";
		                    }
                    }
                    else {
                        echo 'N/A';
                    }
                    
                    if($shipDeparturePortPoint!='')
                    {
                    ?> <a href="#delete_product" class="delete_product" onclick="showHideMap('<?php echo addslashes($shipDeparturePortPoint) ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/show-location.png" alt="Show Location in Map" title="Show Location in Map" width="20px"></a>
                    <?php
                    }
                    ?>
                    </div>
            </div>

            <div style='display:none'>
                <div id='delete_product' class="pop-container">
                    <div id="map_canvas" style="width: 1050px; height: 700px;"></div>
                </div>
            </div>

            <div class="content">
                <div class="col-detail font-18" id="recordSeries" style="display:none;"><label><?php echo $jsLangTranslate['L_SERIES'] ?>:</label><br><span id="recordSeriesValue"></span></div>    
                <div class="col-detail font-18" id="recordRoll" style="display:none;"><label><?php echo $jsLangTranslate['L_ROLL'] ?>:</label><br><span id="recordRollValue"></span></div>                        
            </div>
        </div>
		</div>    
        <div class="block apha myfiledata tabdata clearfix">
         
            <div id="page_content"></div>
        </div>
    </div>
	 </div>
</section>
<?php 
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));


$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$mode = isset($mode)?$mode:'';

$var.=" var passengerId = '" . $passengerId . "';";
$var.=" var ship_name = '" . $ship_name . "';";
$var.=" var date_arrive = '" . $date_arrive . "';";
$var.=" var manifestFile = '" . $manifestFile . "';";
$var.=" var mode = '" . $mode . "';";
$var.=" var userId = '" . $user_id . "';";
$var.=" var shipLineId = '" . $shipLineId . "';";
$var.=" var data_source = '" . $searchResult['data_source'] . "';";
$script = <<<EOD
$(document).ready(function() {
	
        if(mode == 'ship')
            $("#shipInformationTab").click();
        else if(mode == 'passenger')
            $("#passengerRecordTab").click();	
        else if(mode == 'manifest')
            $("#shipManifestTab").click();			
        else	
            showPassengerDetails('passengerRecordTab');
    });
    
    function initialize(addressValue) {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(10, 10);
        var myOptions = {
            zoom: 6,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        codeAddress(addressValue);
    }
    function codeAddress(addressValue) {
        var address = addressValue.split('~~');
        var z= 0;
        for(var i = 0; i < address.length; i++) { 
            setTimeout("markPoints('"+address[i]+"');",'2500');
        }
    }
    function markPoints(address){
        var address = address;
        geocoder.geocode( { 'address': address}, function(results, status) {
            var infowindow = new google.maps.InfoWindow();
            var city = address; 
            infowindow.setContent("<div>" + city + "</div>");
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map, 
                    position: results[0].geometry.location,
                });
                //infowindow.open(map, marker);
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent("<div style='white-space: nowrap;'>" + address + "</div>");
                    infowindow.open(map,marker);
                });
            } 
            else{
            }
        })
    }
    var k=1;
    function showHideMap(addressValue){       
        $.colorbox({
            width:"1200px",
            href:"#delete_product",
            height:"800px",
            inline: true
        });
        if(k==1)
            setTimeout("initialize('"+addressValue+"');","2000");  
        k++;    
    }
EOD;

$this->inlineScript()->appendScript($var)
						->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/ship.search.frm.js?v='.$this->layout()->getVariable('jsVersion'))
						  
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.details.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/html5.js?v='.$this->layout()->getVariable('jsVersion'), 'text/javascript', array('conditional' => 'lt IE 9',))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tabs.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'))
						  
						  ->appendFile('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-ui.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>

<script>
$(document).ready(function(){
    $("#savebutton").click(function(){
        saveSearch()
        });
    $("#close_confirm").click(function(){
        $(
            "#cboxClose").click()
        });
    $(".close").click(function(){});
    jQuery.validator.addMethod("alphanumeric",function(value,element
        ){
        return this.optional(element)||/^[A-Za-z0-9()\//' .-]+$/i.test(value)
        },VALID_SEARCH_INPUT);
    $("#ship_search_frm").validate({
    rules:{
        ship_name:{
            required:true,
            minlength:2,
            alphanumeric:true
        }
    },
    messages:{
        ship_name:{
            required:SHIP_NAME_BLANK_MSG,
            minlength:SHIP_NAME_ERROR_MSG,
            alphanumeric:VALID_SEARCH_INPUT
        }
    }
});
		$("#search_ship").validate({
		    rules:{
		        ship_name:{
		            required
		            :true,
		            minlength:2,
		            alphanumeric:true
		        }
		    },
		messages:{
		    ship_name:{
		        required:SHIP_NAME_BLANK_MSG,
		        minlength:SHIP_NAME_ERROR_MSG,
		        alphanumeric:VALID_SEARCH_INPUT
		    }
		}
		});
		
$("#filter_2").click(function(){
    var 
    className=$("#filter_area").attr("class");
    if(className=="passenger-inner-bg narrow-dropdown narrowfilter-left"&&$(
        "#passenger-filter").is(":visible")==true){
        $("#passenger-filter").fadeOut(200);
        setTimeout("showHideFilter2();","200");
        $(
            "#passenger-filter").fadeIn(1000);
        $(".psr-filter").addClass("black")
        }else{
        if($("#passenger-filter").is(":visible")==true
            ){
            $("#passenger-filter").fadeOut(400);
            $(".psr-filter").removeClass("black")
            }else{
            $(".psr-filter").addClass("black");
            $(
                "#passenger-filter").fadeIn(600)
            }
            showHideFilter2()
        }
        if($("#search_div").is(":visible")==true){
        $("#search_div").hide();
        $(
            "#narrowshipsearchid").removeClass("active")
        }
    })		
		
});

    function showHideFilter2(){
    $(
        "#filter_area").removeClass("narrowfilter-left");
    $("#filter_area").addClass("narrowfilter-right");
    $(".passenger-filter")
    .css("top","0px");
    $(".passenger-filter").css("left","0px");
    $("#filter_1").removeClass("Active")
    }

</script>
