<?php
/** This is used to view the ship list listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
if ($page == 1) {
    ?>   
    <table id="lastDiv" width="100%" border="1">
        <tr>
            <th><a href="javascript:void(0)" onClick="sortSearchShip('SHIPNAME')"><?php
    echo 'Name';
    if (strtolower($sort_order) == 'asc')
        echo "<img src=" . $this->layout()->getVariable('imageFilePath') . "/images/date-arrow-up.png>";
    else if (strtolower($sort_order) == 'desc')
        echo "<img src=" . $this->layout()->getVariable('imageFilePath') . "/images/date-arrow.png>";
    ?></th>
            <th>Action</th>
        </tr>
        <?php
    }
    if (count($searchResult) > 0) {
        foreach ($searchResult as $key => $val) {
        $val['SHIPNAME'] = trim($val['SHIPNAME'],'*');
            ?>
            <tr>
                <td width="50%"><?php echo trim(trim($val['SHIPNAME'],'"')); ?></td>
                <td><a href="/ship-result/<?php echo $this->Encrypt(trim(trim($val['SHIPNAME'],'"'))) ?>"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon5.jpg" width='15' height='15' view="View Ship" title="View Ship"></a></td>
            </tr>
            <?php
        }

        if (count($searchResult) >= $limit) {
            ?>
            <tr id="load_more-<?php echo $page ?>"><td colspan="6" style="text-align:center"><div id="loadingDiv-<?php echo $page ?>" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()">Load More</a></div></td></tr>
            <?php
        }
    }
    ?>
    <?php
    if ($page == 1) {
        echo '</table>';
    }
    ?>