					<?php
						if($displayStatus == 'no')
							$style="display:none;";
						else
							$style="display:block;";	
					?>
					<div class="passenger-filter" id="passenger-filter" style="<?php echo $style ?>">	
					<div class="strip"></div>
								<?php
								if($fromIndex == 'yes') {
								?>
									<a href="javascript:void(0);" class="close" id="hide_close_matches"></a>
								<?php
								}
								?>	
								
						<div class="custom-checkbox">
                            <ul>
                                <li>
                                    <input type="checkbox" name="search_type5" id="search_type5" value="1" <?php if(in_array('search_type5',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type5" class="css-label">Contains</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type1" id="search_type1" value="1" <?php if(in_array('search_type1',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type1" class="css-label">Exact Matches</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type2" id="search_type2" value="1" <?php if(in_array('search_type2',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type2" class="css-label">Close Matches </label>
                                </li>
                                <li>

                                    <input type="checkbox" name="search_type3" id="search_type3" value="1" <?php if(in_array('search_type3',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type3" class="css-label">Sounds Like</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type4" id="search_type4" value="1" <?php if(in_array('search_type4',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type4" class="css-label">Alternate Spellings</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="search_type6" id="search_type6" value="1" <?php if(in_array('search_type6',$searchTypeArray)) { echo 'checked';} ?> class="css-checkbox" />
                                    <label for="search_type6" class="css-label"><small class="mar-lft-15">Name&nbsp;when Built</small></label>
                                </li>
                            </ul>
						<?php
						if($fromIndex == 'yes') {
						?>
								<div class="narrow-btn-row">	
									<input type="button" class="button" value="Cancel" id="cancel_button" name="">	
									<input type="button" class="button right" value="Update Result" id="update_match_result" name="">		
								</div>
						<?php
						}
						?>                            
                        </div>
					</div>  
			<div id="search_div" style="display:none;">	

                    <!-- step one narrow search-->
                    <div class="narrow-search-box">
                        <div class="black-bg"> </div>
                        
                        
                       
                        <a href="javascript:void(0);" class="close" id="hide_details_match"></a>
                        <a href="javascript:void(0);" class="refresh" id="refresh"></a>
                        <div class="inner-detail">
                            <div class="slideshow">
                                <div class="narrow-container" id="step_1">
								<div class="shipsearchspace">
                                    <div class="step-two">
                                        <h2>Year of Arrival</h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="year_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('year_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2>Month of Arrival</h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="month_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('month_of_arrival_to')); ?>
                                        </div>
                                    </div>
                                    <div class="step-two">
                                        <h2>Day of Arrival</h2>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_from')); ?>
                                        </div>
                                        <div class="range-slider-box">
                                            <div class="noUiSlider" id="day_of_arrival"></div>
                                        </div>
                                        <div class="slider-input">
                                            <?php echo $this->formRow($form->get('day_of_arrival_to')); ?>
                                        </div>
                                    </div>
									</div>
                                    <div class="step-three">
                                        <?php echo $this->formRow($form->get('port_of_departure')); ?>
                                        <?php echo $this->formRow($form->get('ship_line')); ?>
                                        <?php echo $this->formRow($form->get('ship_builder')); ?>
                                        <div class="arrival-port">
                                            <?php echo $this->formRow($form->get('arrival_port')); ?>
                                        </div>
                                        
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                        <ul id="nav"></ul>
                        <?php
						if($fromIndex == 'yes') {
						?>
							<div class="narrow-btn-row mar-top">	
								<input type="button" class="button" value="Cancel" id="cancel_details_match" name="">	
								<input type="button" class="button right" value="Update Result" id="update_details_search_result" name="">		
							</div>
						<?php } ?>
                    </div>
            </div>    
           
