<?php
/** This is used for ship details
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div class="inner-header">
    <div class="container class-relative"> 
        <h1>Ship Record</h1>
    </div>
</div>
<section class="main">
    <div class="container">
        <div class="col5 rightsection omega clearfix">
            <div class="block donate-box">
                <div class="content">
                    <h1><?php echo $jsLangTranslate['L_DONATE'] ?></h1>
                    <p>Ellis Island and the Statue of Liberty need your help rebuilding. Donate now to make sure future generations are still able to enjoy the experience. </p>
                    <input type="text" value="$45" id="text_field">
                    <input type="submit" value="ADD TO CART &gt;" class="button pink">
                </div>
            </div>
            <div class="home-add "> 
                <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
            </div>
        </div>

        <div class="block col11 alpha ship-detail clearfix">
            <div class="content"> 
                <?php
                if ($shipPath != '') {
                    ?>
                    <img src="<?php echo $shipPath; ?>" width="140" height="130" alt="<?php echo $searchResult['SHIP_NAME']; ?>" title="<?php echo $this->EscapeHtml($searchResult['SHIP_NAME']); ?>" class="float-left">
                    <?php
                }
                ?>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_SHIP_NAME'] ?>:</label>
                    <?php echo $this->EscapeHtml($searchResult['SHIP_NAME']); ?> </div>
                <div class="col-detail font-18">
                    <label><?php echo $jsLangTranslate['L_ARRIVAL_DATE'] ?>:</label>
                    <?php
                    if ($searchResult['DATE_ARRIVE'] != '' && $searchResult['DATE_ARRIVE'] != '0000-00-00 00:00:00') {
                        echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat');
                    }
                    ?> </div>
                <div class="col-detail none font-18" style="width:310px;">
                    <label><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?>:</label>
                    <?php echo $this->EscapeHtml($shipDeparturePortName); ?> </div>
            </div>
            <div class="content">
                <div class="col-detail font-18" id="recordSeries" style="display:none;"><label><?php echo $jsLangTranslate['L_SERIES'] ?>:</label><br><span id="recordSeriesValue"></span></div>    
                <div class="col-detail font-18" id="recordRoll" style="display:none;"><label><?php echo $jsLangTranslate['L_ROLL'] ?>:</label><br><span id="recordRollValue"></span></div>                        
            </div>
        </div>
        <div class="block apha myfiledata tabdata col11 clearfix">
            <ul class="tabs padd-more">

                <li><a href="#manifest" class="" onClick="showPassengerDetails('shipManifestTab');" id="shipManifestTab"><?php echo $jsLangTranslate['L_SHIP_MANIFEST'] ?></a></li>
                <li><a href="#information" class="" onClick="showPassengerDetails('shipInformationTab');" id="shipInformationTab"><?php echo $jsLangTranslate['L_SHIP_INFORMATION'] ?></a></li>

                <li class="last"><a href="#text" class="" onClick="showPassengerDetails('textPassengerListTab');" id="textPassengerListTab"><?php echo $jsLangTranslate['L_TEXT_PASSENGER_LIST'] ?></a></li>
            </ul>
            <div id="page_content"></div>
        </div>
    </div>
</section>
<?php 
$mode = isset($mode)?$mode:'';

$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";
$var.=" var ship_name = '" . $ship_name . "';";
$var.=" var date_arrive = '" . $date_arrive . "';";
$var.=" var mode = '" . $mode . "';";

$script = <<<EOD
$(document).ready(function() {	
        if(mode == 'ship')
            $("#shipInformationTab").click();
        else if(mode == 'passenger')
            $("#passengerRecordTab").click();	
        else if(mode == 'manifest')
            $("#shipManifestTab").click();			
        else	
            showPassengerDetails('passengerRecordTab');
		
    });
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.details.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/html5.js?v='.$this->layout()->getVariable('jsVersion'), 'text/javascript', array('conditional' => 'lt IE 9',))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tabs.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-ui.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>