<?php
/** This is used to view the ship listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */ 

if($shipRecordsView == 'grid_view') {
?>
	
        <div  id="lastDiv<?php echo $type ?>" class="passenger-search-output"><input type="hidden" value="1" id="page<?php echo $type ?>">
        <div class="search-results-box" id="container_div_<?php echo $div_name ?>">
        <ul>
            <?php
            if ($searchResultArray['total'] > 0) {
                $k=1;
                foreach ($searchResultArray['matches'] as $key => $val) {
	                    $valueArray = $val['attrs'];
	                    $shipLineLink = '/ship-line/'.$this->Encrypt($valueArray['field26']) . '/' . $this->Encrypt($valueArray['field8']);
	                    //$shipLink = '/ship-details/'.$this->Encrypt($valueArray['field6']) . '/' . $this->Encrypt($valueArray['field18']) . '/' . $this->Encrypt('ship');
	                    $shipLink = '/ship-details/'.$this->Encrypt($valueArray['field6']) . '/' . $this->Encrypt($valueArray['field18']) . '/' . $this->Encrypt('ship').'/'.$this->Encrypt('').'/'.$this->Encrypt($valueArray['field26']);
	                    $manifestLink = '/ship-details/'.$this->Encrypt($valueArray['field6']) . '/' . $this->Encrypt($valueArray['field18']) . '/' . $this->Encrypt('manifest').'/'.$this->Encrypt('').'/'.$this->Encrypt($valueArray['field26']);    
	                    
	                    $loginShipLineLink = $this->Encrypt($shipLineLink);
	                    $loginShipLink = $this->Encrypt($shipLink);
	                    $loginManifestLink = $this->Encrypt($manifestLink);                    
                    ?>
                    <li <?php if($k%3 == 0) {echo 'class=last';} ?> >
                        <div id="<?php echo $div_name.$valueArray['field0'].$k ?>" style="display:none;" class="black-box">
						 <a class="i-blue-icon"></a>
					            <div class="row">
						          <div class="col2"><strong><?php echo strtoupper($translator['L_NAME_WHEN_BUILT']) ?></strong><?php echo (!empty($valueArray['field2'])) ? $valueArray['field2'] : "N?A"; ?></div>
						          <div class="col2"><strong><?php echo strtoupper($translator['DAY_OF_ARRIVAL']) ?></strong>
						            <?php
                                    if (!empty($valueArray['field18']) && $valueArray['field18'] != '0000-00-00')
                                        echo $this->Dateformatalpha($valueArray['field18'], 'calender');
                                    else
                                        echo 'N/A';
                                    ?>
						          </div>
					            </div>
					            <div class="row mar-btm-10">
						          <div class="col2 full"><strong><?php echo strtoupper($translator['PORT_OF_DEPARTURE']) ?></strong>
						            <?php
	                                    $port_of_departure_array = explode(',', $valueArray['field35']);
	                                    $port_of_departure_array = array_unique($port_of_departure_array);
	                                    $port_of_departure = implode(', ', $port_of_departure_array);
	                                    if($port_of_departure!='')
	                                    {
		                                    if(strlen($port_of_departure)>100) 
		                                        echo substr($port_of_departure,0,100).'...';
		                                    else
		                                        echo $port_of_departure;
			                            }        
	                                    else
	                                    {
		                                    echo "N/A";
	                                    }
                                    ?>
						          </div>
					            </div>

					        <div class="row mar-btm-10">
					            <div class="col1" style="width:99%;">					        
					            <?php echo $translator['L_BUILT_BY'] ?> <?php echo $valueArray['field3'] ?> &amp; <?php echo $valueArray['field14'] ?>, <?php echo $valueArray['field15'] ?>, <?php echo $valueArray['field5'] ?>. <?php echo $valueArray['field9'] ?> <?php echo $translator['L_GROSS_TONS'] ?>; <?php echo $valueArray['field10'] ?> <?php echo $translator['L_FEET_LONG'] ?>; 
                                    <?php echo $valueArray['field11'] ?> <?php echo $translator['L_FEET_WIDE'] ?>. <?php echo $valueArray['field24'] ?> 
                                    <?php echo $translator['L_ENGINE'] ?>, <?php echo $valueArray['field12'] ?> <?php echo $translator['L_SCREW'] ?>. <?php echo $translator['L_SERVICE_SPEED'] ?> <?php echo $valueArray['field16'] ?> <?php echo $translator['L_KNOTS'] ?>.  <?php echo $valueArray['field37'] ?> <?php echo $translator['L_PASSENGERS'] ?>, 
                                    <?php
                                        if (!empty($valueArray['field27'])) {
                                            $passCount = explode(' | ', $valueArray['field27']);
                                            ?>
                                            (<?php if (!empty($passCount['0'])) echo $passCount['0'] . ' first class,' ?> 
                                            <?php if (!empty($passCount['1'])) echo $passCount['1'] . ' second class,' ?> 
                                            <?php if (!empty($passCount['2'])) echo $passCount['2'] . ' third class' ?>)
                                            <?php
                                        }
                                        ?> ...
					            </div>            
					        </div>
					        </div>
					    
					<a class="i-icon" href="javascript:void(0);" onmouseover="showHideDetails('<?php echo $div_name.$valueArray['field0'].$k ?>','show')"></a>
			            <div class="output-frame">
					              <div class="detail-top">
					                <h1>
					                    <?php 
					                        echo $this->EscapeHtml($valueArray['field6'])
					                     ?>
					                    </h1>
										 <div class="output-bottom-text"><?php echo strtoupper($translator['L_PASSENGER_RECORD']) ?>: <span><?php echo $valueArray['field37'] ?></span></div>
					              </div>
						<div class="detail-mid-frame">
				                <div class="detail-mid-leftbox">
				                  <h2><?php echo strtoupper($translator['ARRIVAL_DATE']) ?></h2>
				                  <p><?php
	                                        if (!empty($valueArray['field18']) && $valueArray['field18'] != '0000-00-00')
	                                            echo $this->Dateformatalpha($valueArray['field18'], 'calender');
	                                        else
	                                            echo 'N/A';
	                                    ?></p>
				                </div>
				                <div class="detail-mid-rightbox">
				                  <h2><?php echo strtoupper($translator['DEPARTURE_PORT']) ?></h2>
				                  <p>
				                  <?php
	                                    $port_of_departure_array = explode(',', $valueArray['field35']);
	                                    $port_of_departure_array = array_unique($port_of_departure_array);
	                                    $port_of_departure = implode(', ', $port_of_departure_array);
	                                    if($port_of_departure != '')
	                                    {
	                                        if(strlen($port_of_departure)>25)
	                                            echo substr($port_of_departure,0,25).'...';
	                                        else
	                                            echo $port_of_departure;
	                                    }
	                                    else
	                                    {
	                                        echo "N/A";
	                                    }
	                                ?>
				                  </p>
				                </div>
			              </div>			             
			             <div class="detail-bottom-active">
			                  <?php
			                    if(isset($loggedInUserId) && !empty($loggedInUserId))
			                    {
			                  ?>  
				                  <a class='shipline-icon' href='<?php echo $shipLineLink ?>'><?php echo strtoupper($translator['L_SHIP_LINE']) ?></a>
				                  <a class='ship-icon' href='<?php echo $shipLink ?>'><?php echo strtoupper($translator['LA_SHIP_IMAGE']) ?></a>
				                  <a class='minifest-icon' href='<?php echo $manifestLink ?>'><?php echo strtoupper($translator['LA_SHIP_MANIFEST']) ?></a>
			                  <?php
			                   }
			                   else
			                   {
			                    ?>
				                  <a class='shipline-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLineLink ?>');"><?php echo strtoupper($translator['L_SHIP_LINE']) ?></a>
				                  <a class='ship-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLink ?>');"><?php echo strtoupper($translator['LA_SHIP_IMAGE']) ?></a>
				                  <a class='minifest-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginManifestLink ?>');"><?php echo strtoupper($translator['LA_SHIP_MANIFEST']) ?></a>			                    
			                    <?php
			                  }
			                  ?>		                  
			                </div>
						
			            </div>
			        </li>
                    <?php
                    $k++;
                }
                if ($searchResultArray['total'] > $limit)
                    echo '<div id="load_more' . $type . '-1"><div id="loadingDiv' . $type . '-1" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()"><input name="" type="button" value="Load more" class="load-more-btn button"></a></div></div>';
            }
            else {
                 echo '<div class="history-white-bg"><h3 class="red">Sorry, no records are found. Please refine the search criteria.</h3></div>';
            }
            ?>
        </ul> 
        </div>   
    </div>
<?php
}
else if($shipRecordsView == 'list_view') {
?>
       
        <div  id="lastDiv<?php echo $type ?>" class="passenger-search-output"><input type="hidden" value="1" id="page<?php echo $type ?>">
        <div class="search-results-box" id="container_div_<?php echo $div_name ?>">
			<div class="center-wrapper">
			    <div class="passenger-listing">		    
		    <div class="head" style="margin-top:15px;">
				    <div class="col1"><?php echo strtoupper($translator['L_SHIP_NAME']) ?></div>
				    <div class="col2"><?php echo strtoupper($translator['ARRIVAL_DATE']) ?></div>
				    <div class="col3"><?php echo strtoupper($translator['DEPARTURE_PORT']) ?></div>
				    <div class="col4"><?php echo strtoupper($translator['PASSENGER_RECORDS']) ?></div>
				    <div class="col5"><?php echo strtoupper($translator['L_ACTION']) ?></div>
		    </div>			    
            <?php
            if ($searchResultArray['total'] > 0) {
                $k=1;
                foreach ($searchResultArray['matches'] as $key => $val) {
                    $valueArray = $val['attrs'];
                    $shipLineLink = '/ship-line/'.$this->Encrypt($valueArray['field26']) . '/' . $this->Encrypt($valueArray['field8']);
                    $shipLink = '/ship-details/'.$this->Encrypt($valueArray['field6']) . '/' . $this->Encrypt($valueArray['field18']) . '/' . $this->Encrypt('ship').'/'.$this->Encrypt('').'/'.$this->Encrypt($valueArray['field26']);
                    $manifestLink = '/ship-details/'.$this->Encrypt($valueArray['field6']) . '/' . $this->Encrypt($valueArray['field18']) . '/' . $this->Encrypt('manifest').'/'.$this->Encrypt('').'/'.$this->Encrypt($valueArray['field26']);    
                    
                    $loginShipLineLink = $this->Encrypt($shipLineLink);
                    $loginShipLink = $this->Encrypt($shipLink);
                    $loginManifestLink = $this->Encrypt($manifestLink);                   
                    ?>
					    <div class="row">
					    <div class="col1">
						    <div class="i-icon">
	
						            <div class="tooltip" id="passengerDetailDiv<?php echo $type . '_' . $key ?>">
			                            <div class="form-sep">
			                                <div class="col5"><span><?php echo strtoupper($translator['L_NAME_WHEN_BUILT']) ?></span> 
			                                    <br><?php echo (!empty($valueArray['field2'])) ? $valueArray['field2'] : "N?A"; ?>
			                                </div>
			                                <div class="col6"><span><?php echo strtoupper($translator['DAY_OF_ARRIVAL']) ?></span>
			                                    <br><?php
				                                    if (!empty($valueArray['field18']) && $valueArray['field18'] != '0000-00-00')
				                                        echo $this->Dateformatalpha($valueArray['field18'], 'calender');
				                                    else
				                                        echo 'N/A';
				                                    ?>
			                                </div>
			                            </div>
			                            <div class="form-sep">
			                                <div class="full"><span><?php echo strtoupper($translator['PORT_OF_DEPARTURE']) ?></span> 
			                                    <br><?php
					                                    $port_of_departure_array = explode(',', $valueArray['field35']);
					                                    $port_of_departure_array = array_unique($port_of_departure_array);
					                                    $port_of_departure = implode(', ', $port_of_departure_array);
					                                    if($port_of_departure!='')
					                                    {
						                                    if(strlen($port_of_departure)>100) 
						                                        echo substr($port_of_departure,0,100).'...';
						                                    else
						                                        echo $port_of_departure;
							                            }        
					                                    else
					                                    {
						                                    echo "N/A";
					                                    }
				                                    ?>
			                                </div>
			                            </div>	
			                            		                            								
			                            <div class="form-sep">
			                                <div class="full">
			                                    <?php echo $translator['L_BUILT_BY'] ?> <?php echo $valueArray['field3'] ?> &amp; <?php echo $valueArray['field14'] ?>, <?php echo $valueArray['field15'] ?>, <?php echo $valueArray['field5'] ?>. <?php echo $valueArray['field9'] ?> <?php echo $translator['L_GROSS_TONS'] ?>; <?php echo $valueArray['field10'] ?> <?php echo $translator['L_FEET_LONG'] ?>; 
				                                    <?php echo $valueArray['field11'] ?> <?php echo $translator['L_FEET_WIDE'] ?>. <?php echo $valueArray['field24'] ?> 
				                                    <?php echo $translator['L_ENGINE'] ?>, <?php echo $valueArray['field12'] ?> <?php echo $translator['L_SCREW'] ?>. <?php echo $translator['L_SERVICE_SPEED'] ?> <?php echo $valueArray['field16'] ?> <?php echo $translator['L_KNOTS'] ?>.  <?php echo $valueArray['field37'] ?> <?php echo $translator['L_PASSENGERS'] ?>, 
				                                    <?php
				                                        if (!empty($valueArray['field27'])) {
				                                            $passCount = explode(' | ', $valueArray['field27']);
				                                            ?>
				                                            (<?php if (!empty($passCount['0'])) echo $passCount['0'] . ' first class,' ?> 
				                                            <?php if (!empty($passCount['1'])) echo $passCount['1'] . ' second class,' ?> 
				                                            <?php if (!empty($passCount['2'])) echo $passCount['2'] . ' third class' ?>)
				                                            <?php
				                                        }
				                                        ?> ...
			                                </div>
			                            </div>			                            		                            								
												                            		                            								
			                        </div>
						    </div>
						    <div class="name">
							 <?php 
								echo $this->EscapeHtml($valueArray['field6']);
				            ?>
							</div>
						</div>
				        <div class="col2">
				        <?php
	                                        if (!empty($valueArray['field18']) && $valueArray['field18'] != '0000-00-00')
	                                            echo $this->Dateformatalpha($valueArray['field18'], 'calender');
	                                        else
	                                            echo 'N/A';
	                                    ?>
					    </div>
					        <div class="col3">
					        <?php
	                                    $port_of_departure_array = explode(',', $valueArray['field35']);
	                                    $port_of_departure_array = array_unique($port_of_departure_array);
	                                    $port_of_departure = implode(', ', $port_of_departure_array);
	                                    if(trim($port_of_departure)!= '')
	                                    {
	                                        if(strlen($port_of_departure)>25)
	                                            echo substr($port_of_departure,0,25).'...';
	                                        else
	                                            echo $port_of_departure;
	                                    }
	                                    else
	                                    {
	                                        echo "N/A";
	                                    }
	                                ?>&nbsp;
					        </div>
					        <div class="col4"><?php echo $valueArray['field37'] ?></div>
					        <div class="col5">
					            <ul class="action">
					            <?php
			                    if(isset($loggedInUserId) && !empty($loggedInUserId))
			                    {
				                  ?>  
					                  <li><a class='passenger-icon' href='<?php echo $shipLineLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-line.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['L_SHIP_LINE']) ?></span></a></li>
					                  <li><a class='ship-icon' href='<?php echo $shipLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-list.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['LA_SHIP_IMAGE']) ?></span></a></li>
					                  <li><a class='minifest-icon' href='<?php echo $manifestLink ?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/minifest-list.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['LA_SHIP_MANIFEST']) ?></span></a></li>
				                  <?php
				                   }
				                   else
				                   {
				                    ?>
					                  <li><a class='passenger-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLineLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-line.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['L_SHIP_LINE']) ?></span></a></li>
					                  <li><a class='ship-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginShipLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/ship-list.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['LA_SHIP_IMAGE']) ?></span></a></li>
					                  <li><a class='minifest-icon' href='javascript:void(0);' onClick="checkUserLogin('<?php echo $loginManifestLink ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/minifest-list.png" alt=""><span class="toolTip"><small></small><?php echo strtoupper($translator['LA_SHIP_MANIFEST']) ?></span></a></li>			                    
				                    <?php
				                }
				                ?>
					            </ul> 
					        </div>
			            </div>
                    <?php
                    $k++;
                }
                if ($searchResultArray['total'] > $limit)
                    echo '<div id="load_more' . $type . '-1" ><div id="loadingDiv' . $type . '-1" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()"><input name="" type="button" value="Load more" class="load-more-btn button" style="margin-top:15px;"></a></div></div>';
                else
                    echo '<div style="margin-bottom:30px;">&nbsp;</div>';  
            }
            else {
                echo '<div class="history-white-bg"><h3 class="red">Sorry, no records are found. Please refine the search criteria.</h3></div>';
            }
            ?>			    
			    
        </div>
	    </div>
	</div>   
    </div>        
<?php
}
$var = '';

foreach ($translator as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function() { 
	$(".common-savesearch .dropdown").hide();
});
EOD;
echo $this->inlineScript()->appendScript($script);
?>


