<?php
/** This is used to view the ship line listing
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<div class="inner-header">
    <div class="container class-relative"> 
        <h1>Ship Lines</h1>
    </div>
</div>
<section class="main">
    <div class="container" id="container">
        <div class="col5 rightsection omega clearfix">
            <div class="block donate-box">
                <form method="post" name="donateform" action="/donate">
                    <div class="content">
                        <h1><?php echo $jsLangTranslate['L_DONATE'] ?></h1>
                        <p>Ellis Island and the Statue of Liberty need your help rebuilding. Donate now to make sure future generations are still able to enjoy the experience. </p>
                        <input type="text" value="$45" id="donateamount" name="donateamount">
                        <input type="submit" name="addtodonate" id="addtodonate" value="ADD TO CART &gt;" class="button pink">
                    </div>
                </form>
            </div>
            <div class="block suggest-box">
                <div class="content">
                    <?php $uploadedFilePathProduct ?>

                    <h1>May we suggest</h1>
                    <?php
                    $val = $getProduct[0];
                    if ($val['image_name'] != '') {
                        $fileName = $uploadedFilePathProduct . "/" . $val['image_name'];
                        $filePath = $assetsUploadDirProduct . "/" . $val['image_name'];
                        if (file_exists($filePath)) {
                            echo '<img src="' . $fileName . '" class="float-left">';
                        } else {
                            echo '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                        }
                    } else {
                        echo '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                    }
                    ?>

                    <p class="clearfix"> <strong><?php echo $val['product_name']; ?></strong><br>
                        <?php echo $val['product_description']; ?> <a href="#" class="blue more">MORE +</a> </p>
                    <br>
                    <strong class="price"> Price $<?php echo $val['product_sell_price']; ?></strong><br>

                    <?php
                    if (!empty($discount)) {
                        $calDiscount = $this->Roundamount(($val['product_sell_price'] * $discount) / 100);
                        $price = $val['product_sell_price'] - $calDiscount;
                        ?>

                        <strong class="mem-price clearfix">Member price $<?php echo $this->Currencyformat($price); ?></strong><br>
					<?php } ?>
                    <input type="text" value="1" class="add-input" id="quantity_<?php echo $val['product_id']; ?>">
                    <a href="#" onclick="addtocart('<?php echo $val['product_id']; ?>')" class="button pink">ADD TO CART &gt;</a></div>
            </div>
            <div class="home-add ">
                <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
            </div>
        </div>

        <div class="block col11 alpha ship-detail clearfix" style="border:none;">
            <h2><?php echo $display_line_name ?>
            </h2>
            <form name="ship" id="ship" method="post" action="">
                <input type="hidden" name="line_id" id="line_id" value="<?php echo $line_id ?>">
                <input type="hidden" name="page" id="page" value="<?php echo $page ?>">
                <input type="hidden" name="sort_order" id="sort_order" value="<?php echo $sort_order ?>">
            </form>
            <div id='shipListing'></div>
        </div>
    </div>
</section>
<?php 
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var line_id = '" . $line_id . "';";
$var.=" var line_name = '" . $line_name . "';";

$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/ship.list.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/shop.fe.js?v='.$this->layout()->getVariable('jsVersion'));
?>