<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery-1.9.0.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" media="screen" rel="stylesheet" type="text/css">
<?php			
			$imagePathArray = array();
            $imagePathArray['fileName'] = $fileName;
            $imagePathArray['dataSource'] = $dataSource;
            $imagePathArray['isThumb'] = '0';
            $imagePathArray['imageSource'] = 'frontEnd';
            $imagePath = $this->GetManifestPath($imagePathArray);
?>
<div><h3>&nbsp;We offer a high quality print on archival paper of this manifest for purchase. <span style="float:right;">
<a href="javascript:void(0)" onClick="window.close();" style="margin:5px 15px 5px 0; float:right" alt="Close" title="Close"><img src="/images/closeButton.png"></a></span></h3></div>   

<img src="<?php echo $imagePath?>" id="image" width="1280">
<script>
	$(document).ready(function() { 
	        $(document)[0].oncontextmenu = function() {return false;} 
        });
</script>