<?php
/**
 * This view is used to show passenger record
 * @package    Passenger
 * @author     Icreon Tech - AS
 */
//asd($searchResult);
?>

<div class="inner-popup-detail">
<div class="question-popup-detail">
    <div class="form-sep">
        <div class="col5"><span><?php echo $jsLangTranslate['L_FIRST_NAME'] ?></span> 
            <br><?php echo ($searchResult['PRIN_FIRST_NAME'] != '') ? $searchResult['PRIN_FIRST_NAME'] : "N/A"; ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_LAST_NAME'] ?></span>  
            <br><?php echo ($searchResult['PRIN_LAST_NAME'] != '') ? $searchResult['PRIN_LAST_NAME'] : "N/A"; ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_MARITAL_STATUS'] ?></span>
            <br><?php echo (!empty($searchResult['PRIN_MARITAL_STAT'])) ? $maritalStatusArray[$searchResult['PRIN_MARITAL_STAT']] : "Unknown"; ?>
        </div>
    </div>
    <div class="form-sep">	
        <div class="col5"><span><?php echo $jsLangTranslate['L_GENDER'] ?></span> 
            <br><?php echo (!empty($searchResult['PRIN_GENDER_CODE'])) ? $genderArray[$searchResult['PRIN_GENDER_CODE']] : "Unknown"; ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_AGE_AT_ARRIVAL'] ?></span> 
            <br><?php echo ($searchResult['PRIN_AGE_ARRIVAL'] != '') ? $searchResult['PRIN_AGE_ARRIVAL'] : "N/A"; ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_ETHNICITY'] ?></span>
            <br><?php echo ($passengerEthnicity['ethnicity'] != '') ? $passengerEthnicity['ethnicity'] : "N/A"; ?>
        </div>
    </div>
    <div class="form-sep">		
        <?php
        if($searchResult['data_source'] == 2)
        {
            ?>
			<div class="col5"><span>Place of Birth</span><br>
            <?php echo ($searchResult['PLACE_OF_BIRTH'] != '') ? $searchResult['PLACE_OF_BIRTH'] : "N/A"; ?>
        </div>            
        <?php    
        }
        else
        {
        ?>
        <div class="col5"><span><?php echo $jsLangTranslate['L_LAST_PLACE_OF_RESIDENCE'] ?></span><br>
            <?php echo ($searchResult['PRIN_PLACE_RESI'] != '') ? $searchResult['PRIN_PLACE_RESI'] : "N/A"; ?>
        </div>
        <?php
        }
        ?>
        <div class="col5"><span>Year of Birth</span><br>
            <?php echo ($searchResult['BIRTH_YEAR'] != '') ? $searchResult['BIRTH_YEAR'] : "N/A"; ?>
        </div>
        <div class="col5"><span>Passenger ID</span><br>
            <?php echo ($searchResult['ID'] != '') ? $searchResult['ID'] : "N/A"; ?>
        </div>
    </div>
    <div class="form-sep">
        <div class="col5"><span><?php echo $jsLangTranslate['L_DATE_OF_ARRIVAL'] ?></span>
            <br><?php echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat'); ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_SHIP_OF_TRAVEL'] ?></span>
            <br><?php echo ($searchResult['SHIP_NAME'] != '') ? $searchResult['SHIP_NAME'] : "N/A"; ?>
        </div>
        <div class="col5"><span><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?></span>
            <br><?php echo ($searchResult['DEP_PORT_NAME'] != '') ? $searchResult['DEP_PORT_NAME'] : "N/A"; ?>
        </div>
    </div>
</div>
</div>
