<?php
/** This is used to view the text passenger list
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";
$var.=" var data_source = '" . $manifestResult[0]['data_source'] . "';";
echo $var;
$this->inlineScript()->captureEnd();

$filename = '';
$fileArray = explode('.', $manifestResult[0]['FILENAME']);
$fileExt = $fileArray[1];
if (strtolower($fileExt) == 'tif') {
	$manifestResult[0]['FILENAME'] = substr($manifestResult[0]['FILENAME'],0,-4);
	$manifestResult[0]['FILENAME'] = strtolower($manifestResult[0]['FILENAME'].'.jpg');    
}
else {
	$manifestResult[0]['FILENAME'] = $manifestResult[0]['FILENAME'];
}
if (!empty($manifestResult[0]['FILENAME'])) {
    $filename = $manifestResult[0]['FILENAME'];
}
$isScondImage = false;
$yearArrive = substr($passengerResult['DATE_ARRIVE'], 0, 4);
$manifestType = '';
if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
	$manifestType="TwoPage";
}else{
	$manifestType="OnePage";
}
//echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
//			 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery.nouislider.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<style>
    .right {
        width: auto  !important;
        color: #fff !important;
        text-shadow: 0px 0px 0 #fff !important; 

    }
    .button-row{position:absolute; right:232px; bottom:15px;}
    .button-row .slider-checkbox,
    .minifestSilder .button-row  .semibold{position:static; float:left !important; margin-right:20px; font-weight:normal}
    .button-row .slider-checkbox label{font-weight:normal; font-size:100%}
	#carousel-wrapper{margin-top:10px!important;}
</style>
<script>
    function showSecondImageNote()
    { 
        $.colorbox({
            width:"650px",
            href:"#additional_info",
            height:"350px",
            inline:true,
            escKey:false,
            overlayClose:false
        });					
    }
    function showImageSelectionNote(){
        $.colorbox({
            width:"650px",
            href:"#image_selection_info",
            height:"350px",
            inline:true,
            escKey:false,
            overlayClose:false
        });					    
    } 
	

	
	
</script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/ui.jqgrid.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" media="screen" rel="stylesheet" type="text/css">
<!--<script type="text/javascript" src="<?php //echo $this->layout()->getVariable('jsFilePath');     ?>/js/jquery-1.9.0.min.js?v=1"></script>-->
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jqGrid.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/grid.locale-en.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/passenger/passenger.list.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<!--<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/demo.css?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>" />-->

<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/imagezoom.css" />


<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/jquery-ui-custom.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/imageslider/jquery.carouFredSel.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/js/jquery.imagezoom.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/css/manifestcss.css?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>" />

<script src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jscrollpane.min.js?v=1<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>

<div id="manifest" class="ship-manifest">
    <form id="ship_form">
        <input type="hidden" name="item_info" id="item_info" value="<?php echo substr($passengerResult['DATE_ARRIVE'], 0, 10); ?>">
        <?php
        if (isset($s_ship_name) && !empty($s_ship_name))
            $item_name = $s_ship_name;
        else {
            if (isset($passengerResult['PRIN_FIRST_NAME']) && !empty($passengerResult['PRIN_FIRST_NAME']))
                $item_name = $passengerResult['PRIN_LAST_NAME'] . ', ' . $passengerResult['PRIN_FIRST_NAME'];
            else
                $item_name = $passengerResult['PRIN_LAST_NAME'];
        }
        ?>
        <input type="hidden" name="item_name" id="item_name" value="<?php echo $item_name; ?>">

        <div class="content clearfix">
            <?php
            $firstImagePrice = 0;
            $secondImagePrice = 0;
            $additionalImagePrice = 0;

			$defaultImageId = 0;

            $i = 1;
            $priceArr = array();
            foreach ($this->productResult as $key => $val) {
                $price = $val['product_sell_price'] + $val['additional_option_price'];
                $price = $price - $this->Roundamount(($price * $discount) / 100);
                $priceArr[] = $price;

                $i++;
            }
            rsort($priceArr);
            $firstImagePrice = (!empty($priceArr[0])) ? $priceArr[0] : 0;
            $additionalImagePrice = (!empty($priceArr[0])) ? $priceArr[0] : 0;
            $secondImagePrice = (!empty($priceArr[1])) ? $priceArr[1] : 0;
            ?> 
            <?php
            $flag = '';
            if (!empty($passenger_id)) {
                $flag = "p";
            } elseif (!empty($shipidPlain)) {
                $flag = "s";
            }
            ?>			

            <div class="shipManifestLeft">	
			
	
				
                <div class="full">
                    <p class="small">After 1906, most passenger manifests are two pages in length. Scroll down the page to view the <strong><a href="javascript:void(0)" onClick="showImageSelectionNote()">image selection</a></strong>. Images may not appear in order. Please refer to the pink sheet attached to your kiosk for reference. Use the carousel to find the correct pages to your manifest, or see an AFIHC representative for assistance. <a href="#" class="jump-to-cart" >ADD IMAGES YOU WISH TO SELECT</a></p>
					
                </div>   


            </div>

      

            <div class="btm-row">
                <input type="hidden" value="" name="is_additional" id="is_additional">
                <div class="">
                    <input type="hidden" name="ship_name" id="ship_name" value="<?php echo $passengerResult['PRIN_FIRST_NAME'] . ' ' . $passengerResult['PRIN_LAST_NAME'] ?>" />
                </div>
            </div>



            <p  style="width:100%; float:left"><label><span id="additional-image-heading" style="color:#000;width:100%; float:left"></span><label></p>



                        <?php
                        $noImageFlag = 0;
                        if (count($shipManifestArray) > 0) {
                            ?>
                            <div class="slider-section">
								<div class="text-right-side">

                                <p class="carouselMsg">Scroll through carousel and select image to view additional Images.</p>
								<div class="right-side">
								<span style="font-size:14px !important;"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/default-manifest-image.png" />Recommended Image&nbsp;&nbsp;</span><span style="font-size:14px !important;"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/selected-manifest-image.png" />Selected for Preview</span>
								</div>
								</div>



                                <div id="sliderDiv_overlay">
                                    <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" >
                                </div>    

                                <div id="sliderDiv_overlay3">
                                    <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" >
                                </div>

                                <div id="sliderDiv_overlay2" onMouseout="showHideOverlay(1);" onMouseover="showHideOverlay(0);"></div>	
                                <?php
                                $imagePathArray = array();
                                $imagePathArray['fileName'] = @$shipManifestArray[$defaultImageIndex];
                                $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                $imagePathArray['isThumb'] = '0';
                                $imagePathArray['imageSource'] = 'frontEnd';
                                $fileName = $this->GetManifestPath($imagePathArray);
                                $largeVal = $fileName;

                                $largeImageExists = false;
                                if (!empty($shipManifestArray[$defaultImageIndex])) {
                                    if ($manifestResult[0]['data_source'] == 1) { 
	                                    
	                                    $imageFolder = substr(strtolower($shipManifestArray[$defaultImageIndex]),0,9);
	                                    $imageRootPath = $uploadFilePath;
	                                    $imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . strtolower($shipManifestArray[$defaultImageIndex]);                                    
                                        //$largeImageExists = @fopen($largeVal, 'r');
                                        $largeImageExists = file_exists($imageRootPath);
                                    } else if ($manifestResult[0]['data_source'] == 2) { 
	                                    
	                                    $imageFolderArray = explode('_', $shipManifestArray[$defaultImageIndex]);
	                                    $imageFolder = $imageFolderArray[0];
	                                    $imageRootPath = $uploadFilePath;
	                                    $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . $shipManifestArray[$defaultImageIndex];
                                        $largeImageExists = file_exists($imageRootPath);
                                        
                                        
                                    }
                                }

                                if ($largeImageExists) {
                                    $largeVal = $largeVal;
                                } else {
                                    $largeVal = $firstImagePath;
                                    $noImageFlag = 1;
                                }

                                //if($largeImageExists)
                                //{		 
                                ?> 

                                <?php
                                // }
                                ?>                                    

                                <div id="c-carousel" class="minifestSilder">
                                    <div  id="wrapper" class="left">
                                        <div id="carousel-wrapper">
                                            <div id="carousel" style="height:540px!important">
                                                <span>
                                                    <img id="image" src="<?php echo $largeVal ?>" data-original="<?php echo $largeVal ?>" height="100%" /></span>
                                            </div>
                                        </div>
                                        <div class="button-row">
                                            <?php
                                            if (empty($shipManifestFilenameArray[$defaultImageIndex])) {
                                                $display = "display:block;float:left;margin:7px;";
                                            } else {
                                                $display = "display:none;";
                                            }

                                            if (!empty($shipManifestFilenameArray[$defaultImageIndex])) {
                                                if ($imagePathArray['dataSource'] == '2') {
                                                    $centerImageName = $shipManifestFilenameArray[$defaultImageIndex];
                                                    //echo $centerImageName;
                                                    $centerImageName = $this->Encrypt($centerImageName);
                                                } else {
                                                    $centerImageName = $this->Encrypt($shipManifestFilenameArray[$defaultImageIndex]);
                                                }

                                                //if($largeImageExists)
                                                //{
                                                ?>

                                                <div class="slider-checkbox" style="right: 707px !IMPORTANT; ">
                                                    <span class="plus"></span>
                                                    <div class="blue-checkbox">
                                                        <input class="css-checkbox" name="" id="centerImage" type="checkbox" value="<?php echo $centerImageName ?>" onclick="getImage('save');" /> 
                                                        <label for="centerImage" class="css-label none">
                                                            ADD IMAGE
                                                            <?php
                                                            if ($imagePathArray['dataSource'] == '2') {
                                                                echo $sImage = substr($shipManifestFilenameArray[$defaultImageIndex], -9, 5);
                                                            } else {
                                                                echo $sImage = substr($shipManifestFilenameArray[$defaultImageIndex], -8, 4);
                                                            }
                                                            ?>
                                                            TO PURCHASE
                                                        </label>
														<input type="hidden" name="sImage" id="sImage" value="<?php echo $sImage;?>">

                                                    </div>

                                                </div>


                                                <?php
                                                //}
                                            }
                                            ?>
                                            <?php
                                            if (!empty($shipManifestFilenameArray[$defaultImageIndex])) {
                                                $savToMyFileLabel = 'SAVE IMAGE ';
                                                if ($imagePathArray['dataSource'] == '2') {
                                                    $savToMyFileLabel.= substr($shipManifestFilenameArray[$defaultImageIndex], -9, 5);
                                                } else {
                                                    $savToMyFileLabel.= substr($shipManifestFilenameArray[$defaultImageIndex], -8, 4);
                                                }


                                                $savToMyFileLabel.= ' TO MY PROFILE';
                                                // if($largeImageExists)
                                                //{
                                                ?>
                                                
                                                <?php
                                                //}
                                            }
//echo $manifestResult[0]['data_source'];
                                        ?>
                                        </span>
                                        
											<div class="slider-checkbox" style="right: 253px; !IMPORTANT; padding: 6px 17px 6px 16px; background: #5496c9;">
												<div class="blue-checkbox">
													<label class="css-label" style="background:none"><a href="javascript:void(0);" onClick="showManifestBigImage()" style="color:#fff" alt="Full Image" title="Full Image">FULL IMAGE</a></label>    
												</div>

                                             </div>
                                             
                                            <?php
                                            if (!empty($shipManifestFilenameArray[$defaultImageIndex])) {
                                                $savToMyFileLabel = 'ADD IMAGE ';
                                                if ($imagePathArray['dataSource'] == '2') {
                                                    $savToMyFileLabel.= substr($shipManifestFilenameArray[$defaultImageIndex], -9, 5);
                                                } else {
                                                    $savToMyFileLabel.= substr($shipManifestFilenameArray[$defaultImageIndex], -8, 4);
                                                }


                                                $savToMyFileLabel.= ' TO MY PROFILE';
                                                // if($largeImageExists)
                                                //{
                                                ?>
                                                <input style="left: 485px; !IMPORTANT;" type="button" onclick="saveToImageFile('<?php echo $this->Encrypt($passengerResult['DATE_ARRIVE']) ?>', '<?php echo $this->Encrypt($shipidPlain) ?>','<?php echo $this->Encrypt($passengerResult['SHIP_NAME']) ?>','<?php echo $imagePathArray['dataSource']?>');" value="<?php echo $savToMyFileLabel ?>" alt="<?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?>" title="<?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?>" class="button float-right semibold" id="save-to-my-file">
                                                <?php
                                                //}
                                            }
//echo $manifestResult[0]['data_source'];
                                        ?> 
                                        </div>  

                                        <div id="thumbs-wrapper">

                                            <div id="thumbs">                                        

                                                <?php
                                                //$firstElement = 0;
                                                $firstArrayElement = 0;
							//asd($shipManifestFilenameArray);
                                                if (count($shipManifestFilenameArray) > 0) {

                                                    foreach ($shipManifestFilenameArray as $key => $val) {

                                                        $largeImageExists = false;
                                                        if ($imagePathArray['dataSource'] == '2') {
                                                            $centerImageName = substr($shipManifestFilenameArray[$key], -9, 5);
                                                            $sShipImage = $shipManifestFilenameArray[$key];
                                                        } else {
                                                            $centerImageName = substr($shipManifestFilenameArray[$key], -8, 4);
                                                            $sShipImage = $shipManifestFilenameArray[$key];
                                                        }
                                                        if ($imagePathArray['dataSource'] == '2') {
                                                            $sShipImage = $shipManifestFilenameArray[$key];
                                                            $shipManifestFilenameArray[$key] = strtolower($shipManifestFilenameArray[$key]);
                                                        }


                                                        $imagePathArray = array();
                                                        $imagePathArray['fileName'] = $val;
                                                        $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                                        $imagePathArray['isThumb'] = '1';
                                                        $imagePathArray['imageSource'] = 'frontEnd';
                                                        $thumbVal = $this->GetManifestPath($imagePathArray);

                                                        $imagePathArray = array();
                                                        $imagePathArray['fileName'] = $val;
                                                        $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                                        $imagePathArray['isThumb'] = '0';
                                                        $imagePathArray['imageSource'] = 'frontEnd';
                                                        $largeVal = $this->GetManifestPath($imagePathArray);

                                                        if ($manifestResult[0]['data_source'] == 1) {
                                                            //$largeImageExists = @fopen($largeVal, 'r');
                                                            $val = $this->convertTifToJpg($val);
                                                            $imageFolder = substr($val,0,9);
															$imageRootPath = $uploadFilePath;
															$imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . strtolower($val);   
                                                            $largeImageExists = file_exists($imageRootPath);
                                                            //$largeImageExists = true;
                                                        } else if ($manifestResult[0]['data_source'] == 2) { 
	                                                        $imageFolderArray = explode('_', $val);
	                                                        $imageFolder = $imageFolderArray[0];
	                                                        $imageRootPath = $uploadFilePath;
	                                                        $imageRootPath = $imageRootPath . 'manifest/' . strtolower($imageFolder) . '/' . strtolower($val);
	                                                        $largeImageExists = file_exists($imageRootPath);
                                                        }

                                                        if ($largeImageExists) {

                                                            if ($firstArrayElement == 0) {
                                                                $firstArrayElement = $key;
                                                            }
															if(in_array($centerImageName,$selectedImage))
																$class="selected";
															else
																$class = '';
															
                                                            ?>
                                                            <a id="<?php echo $key ?>" class="<?php echo $class;?>" href="#<?php echo $key ?>" onClick=showCenterImage('<?php echo str_replace('\\', "/", $largeVal) ?>');showTextPassengerListing('<?php echo $sShipImage ?>');showCenterImageName('<?php echo $this->Encrypt($shipManifestFilenameArray[$key]) ?>','<?php echo $sShipImage ?>','<?php echo $manifestResult[0]['data_source']?>');><img data-original="<?php echo strtolower($largeVal) ?>"/><span id="<?php echo $centerImageName?>"><?php echo $centerImageName; ?></span><input type="hidden" name="centerImage_<?php echo $centerImageName; ?>" id="centerImage_<?php echo $centerImageName; ?>" value="<?php echo $key;?>"></a>
                                                            <?php
															$m++;
															if($defaultImageId == 0 && $firstElement==0)
																$defaultImageId = $key;

                                                        }
                                                        $firstElement++; 
                                                    }
                                                }
                                                ?>
                                            </div>
                                            <a id="prev" href="#"></a>
                                            <a id="next" href="#"></a>
                                        </div>
                                        <label class=""></label>
                                    </div>
                                </div>

                                <?php
                                // }
                                ?>
                            </div>
                            <?php
                        }
                        ?>
                        <div class="full">
                            <p class="small"><strong>Note:</strong> The manifest images are smaller than the acid-free archival paper they are printed on. They are reproductions printed from microfiche images of the actual historic documents and dimensions can vary considerably. The manifest image on 11" X 17" paper measures approximately 9" X 14".</p>
                        </div>
                        <div class="float-left for-img-align"><a name="passengerListAnchor"></a>
                            <p class="carouselMsg">Click the <img src="/img/info-icon.png"> in order to view additional information for the record.</p>
                            <br>
                            <table id="list"></table>
                            <div id="pcrud"></div>
                            <br>
                        </div>
						
						
						
						              <div class="manifest-top-section">				  

                    <div class="top-section">
                        <?php
                        $yearArrive = substr($passengerResult['DATE_ARRIVE'], 0, 4);
                        $manifestType = '';
                        if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {

                            /* if ($manifestResult[0]['data_source'] == 2) {
                              echo '<h1>ONE IMAGE SHIP MANIFEST';
                              $manifestType = 'OnePage';
                              }
                              else
                              {
                              echo '<h1>TWO IMAGE SHIP MANIFEST';
                              $manifestType = 'TwoPage';
                              } */
                            $isScondImage = true;
                            echo '<h1>TWO IMAGE SHIP MANIFEST';

                            $manifestType = 'TwoPage';
                        } else {
                            echo '<h1>ONE IMAGE SHIP MANIFEST';

                            $manifestType = 'OnePage';
                            $secondImagePrice = (!empty($priceArr[0])) ? $priceArr[0] : 0;
                        }

                        $fbPicPath = $this->layout()->getVariable('imageFilePath') . '/images/fb_share.jpg';

                        if ($passengerDetailsPage == 'yes') {
                            $fbArr = array($this->serverUrl() . '/passenger-details/' . $this->Encrypt($passenger_id) . '/' . $this->Encrypt('manifest'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_MANIFEST_RECORD_TITLE1']), '&nbsp;', sprintf($jsLangTranslate['FBSHARE_MANIFEST_RECORD_DESCRIPTION1'], DOMAIN_NAME), $facebookAppId);
                            $fbArr2 = array($this->serverUrl() . '/passenger-details/' . $this->Encrypt($passenger_id) . '/' . $this->Encrypt('manifest'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_TEXTPASSENGER_RECORD_TITLE1']), '&nbsp;', '&nbsp;', $facebookAppId);
                        } else {
                            $fbArr = array($this->serverUrl() . '/ship-details/' . $this->Encrypt($passengerResult['SHIP_NAME']) . '/' . $this->Encrypt(substr($passengerResult['DATE_ARRIVE'], 0, 10)) . '/' . $this->Encrypt('manifest'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_MANIFEST_RECORD_TITLE1']), '&nbsp;', sprintf($jsLangTranslate['FBSHARE_MANIFEST_RECORD_DESCRIPTION1'], DOMAIN_NAME), $facebookAppId);
                            $fbArr2 = array($this->serverUrl() . '/ship-details/' . $this->Encrypt($passengerResult['SHIP_NAME']) . '/' . $this->Encrypt(substr($passengerResult['DATE_ARRIVE'], 0, 10)) . '/' . $this->Encrypt('manifest'), $fbPicPath, addslashes($jsLangTranslate['FBSHARE_TEXTPASSENGER_RECORD_TITLE1']), '&nbsp;', '&nbsp;', $facebookAppId);
                        }
                        ?>
                        </h1>
						<input type="hidden" name="manifest_type" id="manifest_type" value="<?php echo $manifestType;?>">


                        
                        <script type="text/javascript">
                            var firstImagePrice=<?php echo @$firstImagePrice; ?>;
                            var secondImagePrice=<?php echo @$secondImagePrice; ?>;
                        
                            var additionalImagePrice=<?php echo @$additionalImagePrice; ?>;
                            var manifestType='<?php echo @$manifestType; ?>';
                            var imagePriceArray = new Array();
                            imagePriceArray[0] = firstImagePrice;
                            imagePriceArray[1] = secondImagePrice;
                
                        </script>

					<?php
                        if ($isScondImage == true) {
                            ?>	
                            <a href="javascript:void(0)" class="additional-link" onClick="showSecondImageNote()">Click here for additional information.</a>
                            <?php
                        }
                        ?>
                    </div>	

                    <div class="mid-detail-row">
                        <div class="left-side" style="padding-bottom:0px;">
                            <span class="cart">IMAGE SELECTION</span>
                            <span class="shipname"><strong>Ship Name-</strong> <?php
                        if (!empty($passengerResult['SHIP_NAME']))
                            echo $passengerResult['SHIP_NAME'];
                        else
                            echo 'N/A';
                        ?></span>
                        </div>
                        <?php
                        if (!empty($manifestResult[0]['FILENAME'])) {
                            $imagePathArray = array();
                            $imagePathArray['fileName'] = strtolower($manifestResult[0]['FILENAME']);
                            $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                            $imagePathArray['isThumb'] = '1';
                            $imagePathArray['imageSource'] = 'frontEnd';
                            $imagePath = $this->GetManifestPath($imagePathArray);
                            $imagePathArray['isThumb'] = '0';
                            $imagePathArray['imageSource'] = 'frontEnd';
                            $limagePath = $this->GetManifestPath($imagePathArray);

                            if ($manifestResult[0]['data_source'] == 1) {
                                //$imageFolderArray = explode('-', $manifestResult[0]['FILENAME']);
                                $imageFolder = substr(strtolower($manifestResult[0]['FILENAME']),0,9);
                                $imageRootPath = $uploadFilePath;
                                $imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . strtolower($manifestResult[0]['FILENAME']);                            
                                $firstImageExists = file_exists($imageRootPath);
                                //$firstImageExists = @fopen($limagePath, 'r');
                            } else if ($manifestResult[0]['data_source'] == 2) {
                                $imageFolderArray = explode('_', strtolower($manifestResult[0]['FILENAME']));
                                $imageFolder = $imageFolderArray[0];

                                $imageRootPath = $uploadFilePath;
                                $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . strtolower($manifestResult[0]['FILENAME']);
                                $firstImageExists = file_exists($imageRootPath);
                            }

                            if ($firstImageExists) {
                                ?>		

                                <div class="right-side">
                                    <div class="checkout-btn"><a href="javascript:void(0)" onClick="addToCartManifestCheck('<?php echo $passenger_id ? $passenger_id : $shipidPlain ?>','1','7','<?php echo $flag; ?>')" ><span>ADD TO CART</span><small id="item_in_cart"><?php
                        if ($manifestType == 'TwoPage') {
                            echo $cnt = '2';
                        } else {
                            echo $cnt = '1';
                        }
                                ?></small></a></div>
                                    <div class="detail-btn" onClick="showHideCartItem();"><a href="javascript:void(0)">Details</a></div>
                                </div>
                                <?php
                            }
                        }
                        ?>
                    </div>

                    <input type="hidden" name="record_series" id="record_series" value="">
                    <input type="hidden" name="record_roll" id="record_roll" value="">
                    <div class="">
                        <div class="manifest-img-list clearfix" id="carlistItem">
                            <table width="100%" cellpadding="0" cellspacing="0" class="blue">                
                                <?php
                                //asd($manifestResult[0]);
                                $noImageAvaliableFlag = 0;
                                if (!empty($manifestResult[0]['FILENAME'])) { // for TIF images
                                    if ($manifestResult[0]['data_source'] == 2) {
                                        $fileName = strtolower($manifestResult[0]['FILENAME']);
                                        $imagePath = $assets_url . 'manifest-low' . strtolower($manifestResult[0]['FILENAME']);
                                        $mainImage = substr($fileName, 1);

                                        $secondFileName = substr($manifestResult[0]['ROLL_NBR'], 5) . '_' . sprintf('%05d', $manifestResult[0]['FRAME'] + 1) . '.jpg';
                                        $folderName = substr($fileName, 0, 9);
                                    } else {                                      // for other images     
                                        if (isset($manifestFile) && !empty($manifestFile)) {
                                            $fileName = $manifestFile;
                                        } else {
                                            $fileName = $manifestResult[0]['FILENAME'];
                                        }
                                        $mainImage = strtolower($fileName);

                                        $secondFileName = $manifestResult[0]['ROLL_NBR'] . sprintf('%04d', $manifestResult[0]['FRAME'] + 1) . '.jpg';
                                        $folderName = substr(strtolower($fileName), 0, 9);
                                        //$imagePath = $manifestPath . $folderName . "/" . $fileName;
                                        //echo $secondImagePath = $manifestPath . $folderName . "/" . strtolower($secondFileName);
                                    }
									$secondFileName = strtolower($secondFileName);
                                    if ($manifestResult[0]['data_source'] == 2) {
                                        $manifestFileName1 = substr($fileName, -9, 5);
                                    } else {
                                        $manifestFileName1 = substr($fileName, -8, 4);
                                    }
                                    ?>
                                                            <!--<table>
                                                                <tr><td><input type="button" onClick="addToCartManifestCheck('<?php //echo $passenger_id ? $passenger_id : $shipidPlain          ?>','1','7','<?php echo $flag; ?>')" value="CHECKOUT" class="button pink semibold"> <span id="item_in_cart"><?php
                                if ($manifestType == 'TwoPage') {
                                    echo $cnt = '2';
                                } else {
                                    echo $cnt = '1';
                                }
                                    ?></span></td></tr>
                                                            </table>    -->
                                    <input type="hidden" name="main_manifest_count" id="main_manifest_count" value="<?php echo $cnt ?>">


                                    <input type="hidden" id="firstImagePrice" name="firstImagePrice" value="<?php echo @$firstImagePrice; ?>">   
                                    <input type="hidden" id="secondImagePrice" name="secondImagePrice" value="<?php echo @$secondImagePrice; ?>">                  

                                    <?php
									$defaultImageId = @$manifestFileName1;
									$selectedImage = array();
                                    $imagePathArray = array();
                                    $imagePathArray['fileName'] = $fileName;
                                    $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                    $imagePathArray['isThumb'] = '1';
                                    $imagePathArray['imageSource'] = 'frontEnd';
                                    $imagePath = $this->GetManifestPath($imagePathArray);
                                    $firstImagePath = $imagePath;
                                    $imagePathArray['isThumb'] = '0';
                                    $imagePathArray['imageSource'] = 'frontEnd';
                                    $limagePath = $this->GetManifestPath($imagePathArray);

                                    $firstImageExists = false;
                                    if ($manifestResult[0]['data_source'] == 1) {
		                                $imageFolder = substr($fileName,0,9);
		                                $imageRootPath = $uploadFilePath;
		                                $imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . strtolower($fileName);                            
		                                $firstImageExists = file_exists($imageRootPath);                                    
                                    
                                        //$firstImageExists = @fopen($limagePath, 'r');
                                    } else if ($manifestResult[0]['data_source'] == 2) {
                                        $imageFolderArray = explode('_', $fileName);
                                        $imageFolder = $imageFolderArray[0];
                                        $imageRootPath = $uploadFilePath;
                                        $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . $fileName;
                                        $firstImageExists = file_exists($imageRootPath);
                                    }

                                    if ($firstImageExists) {
                                        $imagePath = $imagePath;
                                        ?>

                                        <tr id="ship_manifest_image_1">
                                            <td>
                                                <span class="right-side">
                                                    $<span id="price_1"><?php echo $this->Currencyformat(@$firstImagePrice); ?></span>
                                                    <a class="close" href="javascript:void(0);" onClick="deleteManifestImage('ship_manifest_image_1','<?php echo $manifestFileName1 ?>');" alt="Remove Manifest" title="Remove Manifest"></a>
                                                </span>
                                                <img class="first-img border-red-3px" src="<?php echo $imagePath ?>" style="cursor:pointer;"  height="100" id="first-img" class="Active" onClick="ZoomMainManifestImage('<?php echo substr($fileName, 0, -4) ?>');showTextPassengerListing('<?php echo $fileName ?>');showCenterImageName('<?php echo $this->Encrypt($mainImage) ?>', '<?php echo $fileName ?>');showCenterImage('<?php echo str_replace('\\', "/", $limagePath) ?>')">

                                                <?php
                                                if (!empty($manifestResult[0]['FILENAME'])) {
                                                    ?>
                                                    <span></span>
                                                    <div class="blue-checkbox">
                                                        <input type="hidden" id="is_first_image" name="is_first_image" value="<?php echo $fileName; ?>">
                                                        <input type="hidden" id="is_first_image_encrypt" name="is_first_image_encrypt" value="<?php echo $this->Encrypt($fileName); ?>">


                                                        <input type="hidden" class="css-checkbox" name="manifest_images[]" id="manifest_images_1" checked value="<?php echo $fileName ?>" class="link1 line-blue">
                                                        <input type="hidden" class="css-checkbox" name="manifest_images_encrypt[]" id="manifest_images_encrypt1" checked value="<?php echo $this->Encrypt($fileName); ?>" class="link1 line-blue">


                                                        <label  class="css-label" for="is_first_image"></label>
                                                        <input type="hidden" name="first_image_name" id="first_image_name" value="<?php echo $fileName; ?>" />
                                                    </div>
                                                    <?php
                                                }
                                                ?>
                                                <span class="name-section">
                                                    First image<br><strong>IMAGE NAME</strong><br>
                                                    <?php
													$selectedImage[] = $manifestFileName1;
                                                    echo "Image <span id='first-img-id'>" . $manifestFileName1."</span>";
                                                    ?>
                                                </span>

                                        </tr>

                                        <?php
                                    } else {
                                        $noImageAvaliableFlag = 1;
                                        echo '<div class="img-box">No Image Avaliable</div><br>';
                                    }
                                } else {
                                    $noImageAvaliableFlag = 1;
                                    echo '<div class="img-box">No Image Avaliable</div><br>';
                                }
                                ?>
                                <input type="hidden" name="manifext_image" id="manifext_image" value="<?php echo @$shipManifestFilenameArray[$defaultImageIndex] ?>">

                                <?php
                                if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                                    $isScondImage = true;
                                    $imagePathArray = array();
                                    $imagePathArray['fileName'] = strtolower($secondFileName);
                                    $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                    $imagePathArray['isThumb'] = '1';
                                    $imagePathArray['imageSource'] = 'frontEnd';
                                    $secondImagePath = $this->GetManifestPath($imagePathArray);

                                    $imagePathArray['isThumb'] = '0';
                                    $imagePathArray['imageSource'] = 'frontEnd';

                                    $lsecondImagePath = $this->GetManifestPath($imagePathArray);


                                    $secondImageExists = false;
                                    if ($manifestResult[0]['data_source'] == 1) {
                                        $imageFolder = substr(strtolower($secondFileName),0,9);                                
                                        $imageRootPath = $uploadFilePath;
                                        $imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . $secondFileName;
                                        //$secondImageExists = @fopen($secondImagePath, 'r');
                                        $secondImageExists = file_exists($imageRootPath);
                                    } else if ($manifestResult[0]['data_source'] == 2) {
                                        $imageFolderArray = explode('_', $secondFileName);
                                        $imageFolder = $imageFolderArray[0];
	                                    $imageRootPath = $uploadFilePath;
	                                    $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . $secondFileName;                                    
                                        $secondImageExists = file_exists($imageRootPath);
                                    }

                                    if ($secondImageExists) {
                                        if ($manifestResult[0]['data_source'] == 2) {
                                            $manifestFileName2 = substr($secondFileName, -9, 5);
                                        } else {
                                            $manifestFileName2 = substr($secondFileName, -8, 4);
                                        }

                                        if ($secondImageExists) {
                                            $secondImagePath = $secondImagePath;


                                            //echo secondFileName;
                                            ?>
                                            <tr id="ship_manifest_image_2">
                                                <td>
                                                    <span class="right-side">
                                                        $<span id="price_2"><?php echo $this->Currencyformat(@$secondImagePrice); ?></span>
                                                        <a class="close" href="javascript:void(0);" onClick="deleteManifestImage('ship_manifest_image_2','<?php echo $manifestFileName2 ?>');" alt="Remove Manifest" title="Remove Manifest" ></a>
                                                    </span>
                                                    <img class="first-img border-red-3px" src="<?php echo $secondImagePath ?>" height="100" id="second-img" style="cursor:pointer;"   class="Active" onClick="ZoomMainManifestImage('<?php echo substr($secondFileName, 0, -4) ?>');showTextPassengerListing('<?php echo $secondFileName ?>');showCenterImageName('<?php echo $this->Encrypt($secondFileName) ?>','<?php echo $secondFileName ?>','<?php echo $manifestResult[0]['data_source']?>');showCenterImage('<?php echo str_replace('\\', "/", $lsecondImagePath) ?>')" >

                                                    <?php
                                                    if ($yearArrive > 1907 && empty($passengerResult['PRIN_CITIZEN_US_IND']) && empty($passengerResult['PRIN_CREW_SHIP_IND']) && $passengerDetailsPage == 'yes') {
                                                        ?>
                                                        <span><?php //echo substr($secondFileName,-8,4);           ?></span>
                                                        <div class="blue-checkbox">
                                                            <input type="hidden" id="is_second_image" name="is_second_image" value="<?php echo $secondFileName ?>">
                                                            <input type="hidden" id="is_second_image_encrypt" name="is_second_image_encrypt" value="<?php echo $this->Encrypt($secondFileName); ?>">

                                                            <input type="hidden" class="css-checkbox" name="manifest_images[]" id="manifest_images_2" checked value="<?php echo $secondFileName ?>" class="link1 line-blue">
                                                            <input type="hidden" class="css-checkbox" name="manifest_images_encrypt[]" id="manifest_images_encrypt2" checked value="<?php echo $this->Encrypt($secondFileName); ?>" class="link1 line-blue">								    													

                                                            <label class="css-label" for="is_second_image"></label>
                                                        </div>
                                                        <?php
                                                    }
                                                    ?>	

                                                    <span class="name-section">
                                                        Second image<br><strong>IMAGE NAME</strong><br>
                                                        <?php
														$selectedImage[] = $manifestFileName2;
                                                        echo "Image <span id='second-img-id'>" . $manifestFileName2."</span>";
                                                        ?>
                                                    </span>

                                                </td>
                                            </tr>

                                            <?php
                                        }
                                    }
                                }
                                ?>


                            </table>


                            <div class="col8 error" style="color:red;font-weight:600;margin-left:370px;margin-top:30px;" id="add_cart_error"></div>
                            <div id="additionalImageDiv"></div>
                            <div class="total-amount" id="totalCartAmount"></div>
                            <?php
                            if ($isScondImage == true) {
                                ?>
                                <div class="minifest-additional-information"> 

                                    <div id="secondImageName" style="display:none;">
                                      After 1906, many manifests extend over 2 images. This record you are viewing has been filed in our database as a two image ship manifest. Check the document to be sure it is a two page manifest. At the top of the first page it should read: "List or Manifest of Alien Passengers For The United" and below you will find columns 1-12. The other image contains columns 13-29 and it should read: "States Immigration Officer at Port of Arrival". Images may not appear in order. Use the Up and Down Arrows to move between images in the carousel. Check to be sure you are on the image you want, then click on "Add Image to Selection".
                                    </div>
                                </div>
                                <?php
                            }
                            ?>  


                            <?php
                            if (!empty($manifestResult[0]['FILENAME'])) {

                                if ($firstImageExists || $secondImageExists) {
                                    ?>
                                    <div class="full">
                                        <div class="checkout-btn-btm" ><a href="javascript:void(0)" onClick="addToCartManifestCheck('<?php echo $passenger_id ? $passenger_id : $shipidPlain ?>','1','7','<?php echo $flag; ?>')" >ADD IMAGES ABOVE TO CART</a></div>					
                                    </div>
                                    <?php
                                }
                            }
                            ?>
                        </div>


                    </div>


                    <div id="manifestPriceDetail" class="clearfix"> </div>

                    <?php
                    $i = 0;
                    $oneManifestPrice = 0;
                    $twoManifestPrice = 0;
                    ?>
                </div>
						
						
						
						
						
						
						
						
						
						
						
						
                        </div>
						
						<input type="hidden" name="defaultImageId" value="<?php echo $defaultImageId;?>" id="defaultImageId">
						<input type="hidden" name="selectedImageStr" id="selectedImageStr" value="<?php echo implode(',',$selectedImage);?>">
                        </form>
                        </div>
						
                        <div style='display:none'>
                            <div id='delete_image' class="inner-popup-detail">
                                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                                <h1><?php echo $jsLangTranslate['REMOVE_IMAGE'] ?></h1>
                                <p><?php echo $jsLangTranslate['REMOVE_IMAGE_CONFIRM'] ?> <span id="imagename"></span> ?</p>
                                <input type="button" value="Remove" name="yes" id="yes_delete" class="button semibold">
                                <input type="button" value="Cancel" name="no" id="no_delete" class="button green semibold">
                            </div>
                        </div>
                        <div class='success_msg' style='display:none'>
                            <div class="inner-popup-detail">
                                <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
                                <p><?php echo $jsLangTranslate['SHIP_MANIFEST_SAVE_TO_FILE'] ?></p>
                                <input type="button" value="Close" name="no" id="close_save" class="button green semibold">
                            </div>	
                        </div>
                        <div class='error_msg' style='display:none'>
                            <div class="inner-popup-detail">
                                <h1><?php echo $jsLangTranslate['SAVE_TO_MY_FILE'] ?></h1>
                                <p><?php echo $jsLangTranslate['SHIP_MANIFEST_ALREADY_IN_FILE'] ?></p>
                                <input type="button" value="Close" name="no" id="close_already" class="button green semibold">
                            </div>	
                        </div>
                        <div style='display:none'>
                            <div id='delete_error_msg'class="inner-popup-detail">
                                <h1>Manifest</h1>
                                <p>You can not delete this manifest, as you need to have at least one manifest image.</p>
                                <input type="button" value="Close" name="no" id="close_delete_error_msg" class="button green semibold">
                            </div>
                        </div>
                        <div style='display:none'>
                            <div id='add_to_cart_error_msg'class="inner-popup-detail">
                                <h1>ADD IMAGE TO CART</h1>
                                <p>This manifest is already added into the list.</p>
                                <input type="button" value="Close" name="no" id="close_add_to_cart_error_msg" class="button green semibold">
                            </div>
                        </div>
                        <div style='display:none'>
                            <div id='add_to_card_message' class="inner-popup-detail">
                                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                                <h1><?php echo $jsLangTranslate['MISSING_SECOND_IMAGE'] ?></h1>
                                <p><?php echo $jsLangTranslate['PLEASE_ADD_MISSING_IMAGE_5'] ?></p>
                                <p><input type="radio" name="add_image" value="y" id="add_image1"><?php echo $jsLangTranslate['PLEASE_ADD_MISSING_IMAGE_1'] ?> $<?php echo $this->Currencyformat($firstImagePrice - $secondImagePrice) ?>. <?php echo $jsLangTranslate['PLEASE_ADD_MISSING_IMAGE_2'] ?> $<?php echo $this->Currencyformat($firstImagePrice + $secondImagePrice) ?> <?php echo $jsLangTranslate['PLEASE_ADD_MISSING_IMAGE_3'] ?> $<?php echo $this->Currencyformat($firstImagePrice) ?>.</p>
                                <p><input type="radio" name="add_image" checked="checked" value="n" id="add_image2"><?php echo $jsLangTranslate['PLEASE_ADD_MISSING_IMAGE_4'] ?></p>
                                <input type="button" value="Cancel" name="Cancel" id="cancel_add" class="button semibold">
                                <input type="button" value="Continue" name="Continue" id="continue_add" class="button green semibold">
                            </div>
                            <div class="exceed" style="display:none;">
                                <div class="inner-popup-detail">
                                    <p>Based on your membership level you have exceeded your saved search limit.</p>
                                    <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
                                    <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
                                    <input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.exceed').css({'display':'none'});"  class="button green semibold">
                                </div>
                            </div>
                        </div>
                        <div style='display:none'>
                            <div id='additional_info' class="inner-popup-detail">
                                <a href="javascript:void(0);" class="pop_close_btn"></a>
                                <p class="small">
								After 1906, many manifests extend over 2 images. This record you are viewing has been filed in our database as a two image ship manifest. Check the document to be sure it is a two page manifest. At the top of the first page it should read: "List or Manifest of Alien Passengers For The United" and below you will find columns 1-12. The other image contains columns 13-29 and it should read: "States Immigration Officer at Port of Arrival". Images may not appear in order. Use the Up and Down Arrows to move between images in the carousel. Check to be sure you are on the image you want, then click on "Add Image to Selection".</p>
                            </div>          
                        </div>
                        <div style='display:none'>
                            <div id='image_selection_info' class="inner-popup-detail">
                                <a href="javascript:void(0);" class="pop_close_btn"></a>
                                <p class="small">To add manifests to your cart, use the scroll bar or click on "Add Images You Wish to Select" and view the image selection. Our database has pre-selected your manifest image(s). If your document has two pages, one of the images will show column's 1-12 and the other image will show column's 13-29. Follow your passenger's line number to learn more about your passenger. If you have the wrong image in your selection, remove it and add the correct manifest. To find the correct manifest, use the Up and Down Arrows to move between images in the carousel. Check to be sure you are on the image you want, then click on "Add Image to Selection".</p>
                            </div>          
                        </div>
                        <?php
//echo $this->inlineScript()->appendScript($var)
//					  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/range-slider/jquery.nouislider.js?v='.$this->layout()->getVariable('jsVersion'))
//				  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
//			  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
//            ->appendScript($script); 
                        ?>


                        <script>
                            /**
                             * function is used to uncheck the image
                             * @author Icreon Tech -SR
                             */  
                            var TotalAmount = 0;    
                            function uncheckImage()
                            {
                                document.getElementById('centerImage').checked = false;
                            }
                            
                            function scrollPan(){
                                //$(".scroll-pane").jScrollPane()
                            }
                            $(function(){

								
                            });    
                            
                            function deleteManifestImage(divId, filename){
                                $("#imagename").html(filename.substr((filename.length - 8),4));
                                $.colorbox({
                                    width:"600px",
                                    href:"#delete_image",
                                    height:"260px",
                                    inline: true,
                                    onLoad: function() {
                                        $('#cboxClose').css({"display":"none"});
                                    }
                                });
                                $("#no_delete").click(function(){
                                    $.colorbox.close();
                                    $('#yes_delete').unbind('click');
                                    return false;
                                });
												    
                                $("#yes_delete").click(function(){
                                    $('#yes_delete').unbind('click');
                                    $("#"+divId).remove();
                                    resetAllItemPrice();
                                    getTotalAmount(divId)
                                    $('#main_manifest_count').val('1');
                                    getTotalItem(); 
                                    $.colorbox.close();
                                });
                            }
     
                            /**
                             * function is used to delete the additional image
                             * @author Icreon Tech -SR
                             */     
                            function deleteAdditionalImage(additional_images, value, fileName){
                                $("#imagename").html(fileName.substr((fileName.length - 8),4));
                                $.colorbox({
                                    width:"600px",
                                    href:"#delete_image",
                                    height:"260px",
                                    inline: true,
                                    onLoad: function() {
                                        $('#cboxClose').remove();
                                    }
                                });
                                $("#no_delete").click(function(){
                                    $.colorbox.close();
                                    $('#yes_delete').unbind('click');
                                    if(document.getElementById(additional_images))
                                        document.getElementById(additional_images).checked = true;
                                    return false;
                                });
												    
                                $("#yes_delete").click(function(){
                                    $('#yes_delete').unbind('click');
                                    showAjxLoader();
                                    var url = "/delete-additional-image";	
                                    $.ajax
                                    ({
                                        type: 'POST',
                                        data: {image_id:value},
                                        url: url,
                                        async: false,
                                        success: function(response)
                                        {
                                            hideAjxLoader();
                                            var jsonObj =  jQuery.parseJSON(response);
                                            if(jsonObj.status =='success'){  
                                                var action = 'show';
                                                var url = "/add-additional-image";			
                                                $.ajax
                                                ({
                                                    type: 'POST',
                                                    data: {passengerId:passengerId, act:action,firstImagePrice:document.getElementById('firstImagePrice').value,secondImagePrice:document.getElementById('secondImagePrice').value},
                                                    url: url,
                                                    success: function(response)
                                                    {
                                                        $("#add_cart_error").hide();
                                                        $("#additionalImageDiv").html(response);
                                                        resetAllItemPrice();
                                                        getTotalAmount();
                                                        //calculateManifestPrice()  
                                                        getTotalItem();   
                                                        $("#no_delete").click();
                                                    }
                                                });
													                        
													                    
                                            }    
                                        }
                                    });
                                });
                            }

                            $("#close_save").click(function(){
                                $.colorbox.close();
                                $(".success_msg").hide()
                                return false;
                            }); 
                            $("#close_already").click(function(){
                                $.colorbox.close();
                                $(".error_msg").hide()
       
                                return false;
                            });
    
                            $("#close_add_to_cart_error_msg").click(function(){
                                $.colorbox.close();
                                $(".add_to_cart_error_msg").hide()
       
                                return false;
                            });
                            /**
                             * function is used for add to cart
                             * @author Icreon Tech - KK
                             */    
                            /*
                            function addToCart()
                            {
                               // if($('#is_first_image').is(':checked') == true || $('#is_second_image').is(':checked') == true)
                                //{
                                    if(manifestType=='TwoPage')
                                    {    
                                        // if($('#is_first_image').is(':checked') ==  false || $('#is_second_image').is(':checked') ==  false )
                                        //{
                                            $.colorbox({
                                                width:"600px",
                                                href:"#add_to_card_message",
                                                height:"450px",
                                                inline: true
                                            });
                                            $("#cancel_add").click(function(){
                                                $.colorbox.close();
                                                $('#continue_add').unbind('click');
                                                return false;
                                            });
				    
                                            $("#continue_add").click(function(){
                                               // alert("Continue")
                                            });
                                       // }
                                    }    
                                //}
                                //else
                                //{
                                //    $("#add_cart_error").html("Please select manifest image");
                                //    return false;
                                //}
                            } 
                             */
   
                            /**
                             * function to calculate manifest price
                             * @param void
                             * @return void
                             * @author Icreon Tech -DT
                             */
                            function calculateManifestPrice(){
                                var totalPrice=0;
                                var generateStr='';
                                var numOfAdditionalImage=0;
                                numOfAdditionalImage=$("input[id^='additional_images_']:checked").size();
                                var numOfAdditionalImagePrice=additionalImagePrice*numOfAdditionalImage;
                                if(manifestType=='OnePage'){
                                    $("#is_additional").val(0);
                                    if($('#is_first_image').is(':checked')){
                                        $("#first-img").addClass("Active");
				
                                        $("#add_cart_error").html("");
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span>Ship Manifest</span><strong> $'+imagePriceArray[0].toFixed(2)+'</strong>';
                                        generateStr+="</div>";
                                        totalPrice+=imagePriceArray[0];
                                    } else {
                                        $("#first-img").removeClass("Active");
                                    }
                                    if(numOfAdditionalImagePrice!=0){
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span>Additional Images ('+numOfAdditionalImage+') </span><strong>$'+numOfAdditionalImagePrice.toFixed(2)+'</strong>';
                                        generateStr+="</div>";
                                        totalPrice+=numOfAdditionalImagePrice;
                                        $("#is_additional").val(1);
                                    }
                                    if(totalPrice!=0){
                                        generateStr+='<div class="total"><span><strong>Total</strong></span>  $'+totalPrice.toFixed(2)+'</div>';
                                    }
                                    $("#manifestPriceDetail").addClass("single-image");
                                    $("#manifestPriceDetail").html(generateStr);
                                }
                                else{
		
                                    $("#is_additional").val(0);
                                    if(($('#is_first_image').is(':checked') == true))
                                        $("#first-img").addClass("Active");
                                    else	
                                        $("#first-img").removeClass("Active");
				
                                    if(($('#is_second_image').is(':checked') == true))
                                        $("#second-img").addClass("Active");
                                    else	
                                        $("#second-img").removeClass("Active");	
				
				
                                    if(($('#is_first_image').is(':checked') == true && $('#is_second_image').is(':checked') == false) || ($('#is_first_image').is(':checked') ==  false && $('#is_second_image').is(':checked')== true)){
                                        $("#add_cart_error").html("");
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span >First image </span><strong> $'+imagePriceArray[0].toFixed(2)+'</strong>';
                                        generateStr+="</div>";
                                        totalPrice+=imagePriceArray[0];            
                                    }
                                    else if($('#is_first_image').is(':checked') ==  true && $('#is_second_image').is(':checked')== true ){
                                        //$("#first-img").addClass("Active");
                                        //$("#second-img").addClass("Active");
                                        $("#add_cart_error").html("");
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span >First image </span><strong> $'+imagePriceArray[0].toFixed(2)+'</strong>';
                                        generateStr+="</div>";
                                        totalPrice+=imagePriceArray[0];
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span>Second image </span><strong> $'+imagePriceArray[1].toFixed(2)+' </strong>';
                                        generateStr+="</div>";
                                        totalPrice+=imagePriceArray[1];             
                                    }
                                    if(numOfAdditionalImagePrice!=0){
                                        generateStr+="<div class='row'>";
                                        generateStr+='<span>Additional Images ('+numOfAdditionalImage+') </span><strong> $ '+numOfAdditionalImage*additionalImagePrice.toFixed(2)+'</strong>';
                                        generateStr+="</div>";
                                        totalPrice+=numOfAdditionalImage*additionalImagePrice;
                                        $("#is_additional").val(1);
                                    }
                                    if(totalPrice!=0){
			
                                        generateStr+='<div class="total"><span>Total</span> $'+totalPrice.toFixed(2)+'</div>';
                                    }
                                    $("#manifestPriceDetail").addClass("two-image");
                                    $("#manifestPriceDetail").html(generateStr);
                                }
                                //$("#manifestPriceDetail").html(generateStr);
                            } 
                            /**
                             * function to show the overylay image on slider
                             * @author Icreon Tech - SR
                             */   
                            function showHideOverlay(val){ 
                                if(val == 0){
                                    $("#sliderDiv_overlay2").hide();

                                }	
                                else if(val == 1){
         
                                    $("#sliderDiv_overlay2").show();
            
                                }
                            }

                            /**
                             * function to show the additional images
                             * @author Icreon Tech - SR
                             */   
                            // getImage('show')
                            function getImage(action)
                            {
                                var addImagesCnt = $("#additional_manifest_count").val();
                                if($("#is_first_image_encrypt").val() == $("#centerImage").val() || $("#is_second_image_encrypt").val() == $("#centerImage").val())
                                {
                                    $.colorbox({
                                        width:"600px",
                                        href:"#add_to_cart_error_msg",
                                        height:"360px",
                                        inline: true,
                                        onLoad: function() {
                                            $('#cboxClose').remove();
                                        }
                                    });
                                    return false;
                                }
                                for(var k=3;k<=(3+addImagesCnt*1);k++)
                                { 
                                    if($("#additional_images_encrypt"+k).val() == $("#centerImage").val())
                                    {
                                        $.colorbox({
                                            width:"600px",
                                            href:"#add_to_cart_error_msg",
                                            height:"260px",
                                            inline: true,
                                            onLoad: function() {
                                                $('#cboxClose').remove();
                                            }
                                        });
                                        return false;
                                    }
                                }
                                if(document.getElementById('centerImage'))
                                {
                                    if(document.getElementById('centerImage').checked == true || action == 'show')
                                    {
                                        if(action!='show')
                                            showAjxLoader();
                                        var url = "/add-additional-image";			
                                        $.ajax
                                        ({
                                            type: 'POST',
                                            data: {passengerId:passengerId, filePath:document.getElementById("image").src,act:action,fileName:document.getElementById('centerImage').value,firstImagePrice:$('#firstImagePrice').val(),secondImagePrice:document.getElementById('secondImagePrice').value},
                                            url: url,
                                            success: function(response)
                                            {
                                                hideAjxLoader();
                                                $("#add_cart_error").hide();
                                                $("#additionalImageDiv").html(response);
                                                //$("#additional-image-heading").html("Additional Images");
                                                resetAllItemPrice();
                                                getTotalAmount();
                                                getTotalItem();
                                            }
                                        });
                                    }
                                }    
                            }

                            
                            function getTotalAmount(divId)
                            {
                                var additional_manifest_count = $('#additional_manifest_count').val();
                                if($.trim(additional_manifest_count) == '')
                                    additional_manifest_count = 0;    
                                var TotalAmount = 0;
			    
                                if(manifestType=='TwoPage'){
                                    for(var t=1; t<=additional_manifest_count*1+2; t++)
                                    {
                                        if($("#price_"+t) && $.isNumeric( $("#price_"+t).html()*1)) {
                                            TotalAmount = TotalAmount+$("#price_"+t).html()*1;
                                        }
                                    }
                                }
                                else
                                {
                                    if($("#ship_manifest_image_1").is(":visible") == true)
                                    {                
                                        TotalAmount = $("#price_1").html()*1;
                                    }
                                    else
                                    {
                                        TotalAmount = 0;
                                    }
	                
                                    TotalAmount = TotalAmount*1+additional_manifest_count*$("#firstImagePrice").val()*1;
	                
                                }
                                if($("#ship_manifest_image_1").is(":visible") == false && $("#ship_manifest_image_2").is(":visible") == false && additional_manifest_count==0)
                                    TotalAmount = 0;	            
	            
                                if(TotalAmount==0)
                                    $("#totalCartAmount").html("<strong>Total</strong> $ 0.00");
                                else
                                    $("#totalCartAmount").html("<strong>Total</strong> $"+TotalAmount.toFixed(2));    
                            }  
         
                            function getTotalItem()        
                            {
                                var additional_manifest_count = $('#additional_manifest_count').val();
                                if($.trim(additional_manifest_count) == '')
                                    additional_manifest_count = 0;    
				
                                if($("#ship_manifest_image_1").is(":visible") == false && $("#ship_manifest_image_2").is(":visible") == false)                        	
                                    $('#main_manifest_count').val(0);
                                $("#item_in_cart").html($('#main_manifest_count').val()*1 + additional_manifest_count*1);
                            }
                            function showHideCartItem()
                            {
                                if($("#carlistItem").is(":visible") == false) {
                                    $(".detail-btn").removeClass("active");
                                    $("#carlistItem").slideDown(300);
                                }
                                else if($("#carlistItem").is(":visible") == true) {
                                    $(".detail-btn").addClass("active");
                                    $("#carlistItem").slideUp(300);
                                }
                            }
<?php
if (isset($defaultImageIndex) && !empty($defaultImageIndex)) {
    $defaultImageIndex = $defaultImageIndex;
} else {
    $defaultImageIndex = 0;
}
if ($noImageAvaliableFlag == 1) {
    $defaultImageIndex = $firstArrayElement;
}
?>
						 
    var startIndex = parseInt('<?php echo $defaultImageIndex ?>');
    function showManifestImageSlider()
    {		
        var startIndex = parseInt('<?php echo $defaultImageIndex ?>');
        var itemPerSlide = 4;

        $("#sliderDiv_overlay").hide();
        $('#carousel').carouFredSel({
            responsive: true,
            circular: true,
            auto: false,
            items: {
                start:startIndex,
                visible: 1,
                width: 200,
                height: '56%'
            },
            scroll: {
                fx: 'directscroll',
            }
        });

        $('#thumbs').carouFredSel({
            direction: 'up',
            circular: false,
            infinite: false,
            height: '85%',
            items: {
                start:startIndex,
                visible: 4,
                height: '85%'
            },
            auto: false,
            prev: '#prev',
            next: '#next',
            scroll: {
                fx: 'directscroll',
                onBefore: function() {
													
                }
            }				
        });			

        $('#thumbs a').click(function() {
            $('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
            $('#thumbs a').not(":eq(0)").removeClass('selected-other');
			if($('#manifest_type').val() == 'TwoPage')
				$('#thumbs a').not(":eq(1)").removeClass('selected-other');
            var spanIdArray = this.href.split('#').pop().split('_');
			if($('#manifest_type').val() == 'TwoPage'){
				$(this).addClass('selected-other');	
				var selectDefaultStr = $('#selectedImageStr').val();
				var selectDefaultArray = selectDefaultStr.split(',');
				for(var x=0;x<selectDefaultArray.length;x++){
					var toSelectId = $('#centerImage_'+selectDefaultArray[x]).val();
					if($('#sImage').val()!=selectDefaultArray[x])
						$('#thumbs a#'+toSelectId).attr('class','selected');

				}
			}else{
				var imageId = $(this).attr('id');
				var imageName = $('#thumbs a#'+imageId+' > span').text();
				var firstImageId = $('#thumbs a').eq(0).attr('id');
				var firstImageName = $('#thumbs a#'+firstImageId+' > span').text();
				if(imageName == $('#sImage').val()){
					$(this).attr('class','selected-other');
					//alert(firstImageName);
					if($('#sImage').val()!=firstImageName){
						var toSelectId = $('#centerImage_'+$('#defaultImageId').val()).val();
						$('#thumbs a#'+toSelectId).attr('class','selected');
					}
				}
			}
            return false;
        });
				
        var nextStartIndex =startIndex+3;
        var prevStartIndex =startIndex-1;
        var nSIndex =startIndex;
                                
        var pSIndex =startIndex;
        var element = $( "#"+nSIndex ).children();
        element.attr( 'src', element.data( 'original' ));
						
        for(var p=1; p<=10; p++)
        {
            var element = $( "#"+nSIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            nSIndex =nSIndex+1;
        }
        for(var z=1; z<=10; z++)
        {
            var element = $( "#"+pSIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            pSIndex =pSIndex-1;
        }                                
					
        $("#next").click(function (){
            for(var t=1; t<=10; t++)
            {
                var element = $( "#"+nextStartIndex ).children();
                element.attr( 'src', element.data( 'original' ));
                nextStartIndex =nextStartIndex+1;
            }
        });
				
        $("#prev").click(function (){
            var element = $( "#"+prevStartIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            for(var k=1; k<=10; k++)
            {
                var element = $( "#"+prevStartIndex ).children();
                element.attr( 'src', element.data( 'original' ));
                prevStartIndex =prevStartIndex-1;
            }
            nextStartIndex = startIndex;
        });	

                          
        //	load the actual image
    }		
    function showCenterImage(imgObj)
    {
        $("#image").attr('src', imgObj);
        $("#image").data('original', imgObj);
        $("#sliderDiv_overlay3").show();
        $("#image").load(function() {
            $("#sliderDiv_overlay3").hide();
			
            $('#image').ImageZoom();
            //$("#image").elevateZoom({scrollZoom : true,zoomType : "inner",cursor: "crosshair"});
        });
        //hideAjxLoader();
    }
    $(function() {

        setTimeout("showManifestImageSlider()","1000");
        setTimeout("ZoomMainManifestImage('"+startIndex+"')","2000");
        var additional_manifest_count = 0;	

        setTimeout("getTotalAmount()","1500");                                
                                
        //$('#'+startIndex).click()
    });
    /** function is used to show the mainmanifest image in zoom*/
    function ZoomMainManifestImage(value)
    {
        $("#"+value).click();  
        //$("#image").load(function() {
        //    $("#sliderDiv_overlay3").hide();
        //    $('#image').ImageZoom();
        //});
                                
        if('<?php echo $noImageFlag ?>' == 1)
        {
            $("#sliderDiv_overlay").hide();                                
            $("#sliderDiv_overlay2").hide();                                
            $("#sliderDiv_overlay3").hide();                                
        }
    }				
				
    function resetAllItemPrice(){
        var firstImagePrice = document.getElementById('firstImagePrice').value*1;
        var secondImagePrice = document.getElementById('secondImagePrice').value*1;
        if(manifestType=='OnePage'){
            $("#price_1").html(firstImagePrice.toFixed(2));
            for(var p=3; p<=$("#additional_manifest_count").val()+2; p++) {
                $("#price_"+p).html(firstImagePrice.toFixed(2));
            }
        }
        else 
        {		
            if($("#ship_manifest_image_1").is(":visible") == true && $("#ship_manifest_image_2").is(":visible") == true)
            {	
                $("#price_1").html(firstImagePrice.toFixed(2));
                secondImagePrice = secondImagePrice*1;
                $("#price_2").html(secondImagePrice.toFixed(2));
                for(var p=3; p<=$("#additional_manifest_count").val()+2; p++) {
                    $("#price_"+p).html(firstImagePrice.toFixed(2));
                }
            }
            else if($("#ship_manifest_image_1").is(":visible") == true && $("#ship_manifest_image_2").is(":visible") == false)
            {	
                $("#price_1").html(firstImagePrice.toFixed(2));
                secondImagePrice = secondImagePrice*1;
                if($("#additional_manifest_count").val() == 1)
                    $("#price_3").html(secondImagePrice.toFixed(2));
                else {	
                    $("#price_3").html(secondImagePrice.toFixed(2));
                    for(var p=4; p<=$("#additional_manifest_count").val()+3; p++) 
                    {
                        $("#price_"+p).html(firstImagePrice.toFixed(2));
                    }
                }
            }
            else if($("#ship_manifest_image_1").is(":visible") == false && $("#ship_manifest_image_2").is(":visible") == true)
            {	
                secondImagePrice = secondImagePrice*1;
                $("#price_2").html(firstImagePrice.toFixed(2));
                if($("#additional_manifest_count").val() == 1)
                    $("#price_3").html(secondImagePrice.toFixed(2));
                else {	
                    $("#price_3").html(secondImagePrice.toFixed(2));
                    for(var p=4; p<=$("#additional_manifest_count").val()+3; p++) 
                    {
                        $("#price_"+p).html(firstImagePrice.toFixed(2));
                    }
                }
            }
            else if($("#ship_manifest_image_1").is(":visible") == false && $("#ship_manifest_image_2").is(":visible") == false)
            {	
                if($("#additional_manifest_count").val() == 1)
                    $("#price_3").html(firstImagePrice.toFixed(2));
                else {
                    $("#price_3").html(firstImagePrice.toFixed(2));
                    secondImagePrice = secondImagePrice*1;
                    $("#price_4").html(secondImagePrice.toFixed(2));
                    for(var p=5; p<=$("#additional_manifest_count").val()+4; p++) 
                    {
                        $("#price_"+p).html(firstImagePrice.toFixed(2));
                    }
                }	
            }
									
        }	
										
    }
    function showEthnicity(){
        $.colorbox({
            width:"800px",
            href:"#ethnicity_list",
            height:
                "500px",
            inline:true,
            escKey:false,
            overlayClose:false
        });
        setTimeout("scrollPan()","2000");
        $("#eth_ok").click(function(){
            $(
            "#cboxClose").click()
        });
    }    						  			
    function scrollPan(){ 
        $(".scroll-pane").jScrollPane()
    }
    function removeEth(value,t){
        $('input:checkbox[value="'+value+'"]')
        .attr("checked",false);
        $("#eth_"+t).hide();
        var ethArray=$("#ethnicity_search").val().split(","),index=ethArray.indexOf(
        value);
        if(index>-1)ethArray.splice(index,1);
        $("#ethnicity_search").val(ethArray.join(","))
    }
    function showGridView(){
        $(
        "#result_format").val("grid_view");
        $(".grid-view").addClass("active");
        $(".list-view").removeClass("active");
        $(
        "#searchButton").click()
    }
    function showListView(){
        $("#result_format").val("list_view");
        $(".list-view").addClass("active")
        ;
        $(".grid-view").removeClass("active");
        $("#searchButton").click()
    }
    
    function showManifestBigImage()
    {
        window.open("/show-manifest-big-image/"+$("#centerImage").val()+"/"+<?php echo @$manifestResult[0]['data_source'] ?>,$("#centerImage").val(),"width=1300,height="+window.innerHeight+",scrollbars=1,resizable=1")
        
    }
   
   	$(document).ready(function(){
		$(".jump-to-cart").click(function(){
         $('html, body').animate({ scrollTop: $(".manifest-top-section").offset().top}, 2000);
        });
	});
   

                        </script>		

