<?php

/**
 * This view is for about us page of flag of faces
 * @package    Document
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$jsLangTranslate = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" >
 <?php echo $var; ?>
</script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slimbox2.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/slimbox2.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" type="text/css" media="screen" />

<div class="inner-header">
  <h1><?php  echo $translate['FOF_HEADING_ABOUT_US']; ?></h1>
</div>
<section class="main">
  <div class="container">
    <div class="block col11 woh-about alpha">
      <div class="content">
        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/wallofhonor.png" style="float: right; padding: 10px; margin: 20px 0 20px 20px; border: 1px solid #e0e0e0">
        <h3><?php echo isset($content_title)?$content_title:''; ?></h3>
         <?php echo isset($description)?$description:''; ?>
        </div>
    </div>
    <div class="col5 rightsection omega">
      <div class="home-add">
        <div class="advertise"> 
            <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
        </div>
      </div>
      <div class="block about-woh-right">
           <div class="content clearfix">
               <?php  echo $translate['FOF_HEADING_ABOUT_US_RIGHT_HEADING_FLAG_RANDOM_IMAGES']; ?>
               
               <div style="float: left;">
                   <?php 
                   if(isset($arrFofImagesSearch) and count($arrFofImagesSearch) > 0) { 
                      foreach($arrFofImagesSearch as $valsFof) { 
                        $photo_description = '';
                        if(isset($valsFof['is_people_photo_visible']) and $valsFof['is_people_photo_visible'] == "1") { $photo_description .= '&nbsp;'.$valsFof['people_photo'].'&nbsp;'; } 
                        if(isset($valsFof['is_photo_caption_visible']) and $valsFof['is_photo_caption_visible'] == "1") { $photo_description .= '&nbsp;'.$valsFof['photo_caption'].'&nbsp;'; }
                   ?>
                    <a title="<?php echo $photo_description; ?>" href="<?php echo $fofDir.$valsFof['fof_image']; ?>" rel="lightbox">
                      <img src="<?php echo $fofDirThumb.$valsFof['fof_image']; ?>" height="35" width="35" style="cursor: pointer;" />
                    </a>  
                   <?php                    
                       }                    
                   } 
                  ?>
               </div>
           </div>    
    </div>
     <div class="home-add">
        <div class="advertise"> 
          <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
        </div>
      </div>
  </div>
</section>
