 <?php
/**
 * This file is used for fof
 * @package    User
 * @author     Icreon Tech - NS
 */
 
$translator = $this->jsLangTranslate;
$var = '';
foreach ($translator as $key => $val) {
    $var .= '  var ' . $key . '= "' . $this->translate("$val") . '";';
}          
?>
<script type="text/javascript">
<?php echo $var; ?>
 var refererUrl = '<?php echo $this->encrypt(SITE_URL.'/add-fof-image'); ?>';   
</script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/fileUpload/vendor/jquery.ui.widget.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/fileUpload/tmpl.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.fileupload.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.iframe-transport.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/fof.add.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<style>
    input[name="upload_photo"]{  opacity: 0 !important; }
    #upload_photo_button { margin-left: 24%; }
</style>

<div class="inner-header">
  <h1><?php echo $translator['H_ADD_FOF']; ?></h1>
</div>

<section class="fof-main-page-bg">
    <div class="outer-flag-of-faces">
	
        
        
      <div class="inner-detail fof-background-main" >
          <div class="fof-add-photo-bg-main" id="contentArea">
		  
		  <div class="fof-add-image">
            
            <?php
                $form0 = $this->fofForm;
                $form0->setAttribute("id","add_fof0");
                $form0->setAttribute("name","add_fof0");
                $form0->prepare();
                echo $this->form()->openTag($form0); 
            ?>
            <div class="top-section">
                <?php echo $translator['FOF_HEADING_ADDING_NAME_NOTE1'].$productSellPrice.$translator['FOF_HEADING_ADDING_NAME_NOTE2']; ?>
                <div class="content-row">
                    <p>
                       <?php echo $translator['FOF_HEADING_ADDING_NAME_NOTE6']; ?>
                       <span class="small-blue-check">
                            <?php  echo $this->formRow($form0->get('is_photo_uploaded'));  ?>
                            <label for="is_photo_uploaded" class="css-label"></label>
                       </span>
                        <?php echo $translator['FOF_HEADING_ADDING_NAME_NOTE7']; ?>
                    </p>
                </div>
                <a style="display:none;" id="is_photo_uploaded_hidden_href" class='fofbymail' href='#fof_by_mail' onclick='return fofByMail();'></a>
            </div>
           <?php  echo $this->form()->closeTag(); ?>

            <!-- FOF - Step - start -->
                <div class="fof-image-main-section">
                    <?php
                $form1 = $this->fofForm;
                $form1->setAttribute("id","add_fof1");
                $form1->setAttribute("name","add_fof1");
                $form1->prepare();
                echo $this->form()->openTag($form1); 
                echo $this->formRow($form1->get('fof_image')); 
                echo $this->formRow($form1->get('image_name'));
                echo $this->formRow($form1->get('temp_image'));
            ?>    
                    <div id="step1Full" class="step1" >
                        <?php echo $this->formRow($form1->get('upload_photo_button'));  ?>
                        <?php 
                      //  echo '<span style="display:none;">'.$this->formRow($form1->get('upload_photo')).'</span>';  
                        echo $this->formRow($form1->get('upload_photo'));
                        ?>
                        <em><?php echo $translator['FOF_HEADING_ADDING_NAME_JPGPNGGIF']; ?></em>
                        <span class="file-message" id="filemessage"></span>
                          
                        <div class="crop-nav">
                            <ul>
                                <li class="crop-photo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_CROP_PHOTO']; ?><small></small></span></li>
                                <li class="rotate"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_ROTATE_PHOTO']; ?><small></small></span></li>
                                <li class="auto-colour"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_AUTO_COLOR']; ?><small></small></span></li>
                                <li class="fix-redeye"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_FIX_RED_EYE']; ?><small></small></span></li>
                                <li class="undo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_UNDO']; ?><small></small></span></li>
                                <li class="redo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_REDO']; ?><small></small></span></li>
                                <li class="reset"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_RESET']; ?><small></small></span></li>
                            </ul>
                        </div>
                    </div>
                    <?php  echo $this->form()->closeTag(); ?>
                    
                    <div id="step2Full" class="step2" style="margin-top: 0px; display: none;">
 <iframe id="UploadUserFofImageIframe" style="margin-top: 0px; min-height: 750px; width: 100%; text-align:center; background:#2a2a2a" scrolling="no"  class="float-left" src="/upload-user-fof-image-iframe">
					   
</iframe>
                     </div>
                    
                    
                    <?php
                        $form2 = $this->fofForm;
                        $form2->setAttribute("id","add_fof3");
                        $form2->setAttribute("name","add_fof3");
                        $form2->prepare();
                        echo $this->form()->openTag($form2); 
                        echo $this->formRow($form2->get('is_people_photo_visible'));
                        echo $this->formRow($form2->get('is_photo_caption_visible')); 
                    ?>
                 <div class="full" id="step3full"  style="display: none;">   
                    <div class="step3">

                  <div class="left-image">
                    <div id="ajx_loader_preview_fof" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image_preview_fof"/></div>  
                   <iframe width="550" height="550" class="left-img" id="previewFOF1" src="/upload-user-fof-image-iframe-preview" scrolling="no" style="overFlow:hidden;"></iframe>
                  			
                  </div>                      
                        <div class="right-section clearfix">
                            <div class="box-sep">
                                <div class="inner-detail">
                                    <strong>
                                        <?php echo $translator['FOF_HEADING_PHOTO_CAPTION']; ?><span class="red">*</span>				
                                        <div class="visibleHide">
                                            <input type="radio" name="radiog_lite1" onclick="javascript:setPhotoCaptionVisiblilty('is_photo_caption_visible','1');" id="radio11" class="css-checkbox"  checked="checked" />
                                            <label for="radio11" class="css-label  visible">Visible</label>
                                            <input type="radio" name="radiog_lite1" onclick="javascript:setPhotoCaptionVisiblilty('is_photo_caption_visible','0');" id="radio12" class="css-checkbox"/>
                                            <label for="radio12" class="css-label">Hide&nbsp;&nbsp;&nbsp;</label>
                                        </div>				
				    </strong>
                                    <?php echo $this->formRow($form2->get('photo_caption'));  ?>
                                </div>
                                <div id="photoCaptionVisbilty"></div>
                            </div>


                            <div class="box-sep">
                                <div class="inner-detail">
                                    <strong>
                                        <?php echo $translator['FOF_HEADING_PEOPLE_IN_PHOTO']; ?><span class="red">*</span>
                                         <div class="visibleHide">
                                            <input type="radio" name="radiog_lite2" onclick="javascript:setPhotoCaptionVisiblilty('is_people_photo_visible','1');" id="radio21" class="css-checkbox" checked="checked" />
                                            <label for="radio21" class="css-label  visible">Visible</label>
                                            <input type="radio" name="radiog_lite2" onclick="javascript:setPhotoCaptionVisiblilty('is_people_photo_visible','0');" id="radio22" class="css-checkbox"/>
                                            <label for="radio22" class="css-label">Hide&nbsp;&nbsp;&nbsp;</label>
                                        </div>	
                                    </strong>
                                     <p id="peoplePhotoBox"></p>
                                     <?php echo $this->formRow($form2->get('people_photo')); ?>
                                </div>
                                <div id="peoplePhotoVisbilty"></div>
                            </div>

                            <div class="box-sep">
                                <div class="inner-detail">
                                    <strong><?php echo $translator['FOF_HEADING_DONATED_BY']; ?></strong>
                                    <p><?php echo $this->formRow($form2->get('donated_by')); ?></p>
                                </div>
                                <div id="donatedByError"></div>
                            </div>
                             <?php echo $this->formRow($form2->get('savebutton2'));  ?>
                        </div>
                    </div>
                     
                    <div class="common-btn-row">
                        <?php 
                            echo $this->formRow($form2->get('step3fullBack'));  
                           // echo $this->formRow($form2->get('step3fullNext'));  
                         ?>
                    </div>
                  </div>   
                    <?php  echo $this->form()->closeTag(); ?>
                    
                    
                <?php
                    $form3 = $this->fofForm;
                    $form3->setAttribute("id","add_fof4");
                    $form3->setAttribute("name","add_fof4");
                    $form3->prepare();
                    echo $this->form()->openTag($form3); 
                ?>
              <div class="full" id="step4full"  style="display:none;">      
                <div class="step4">
                    
                     <div class="left-img">
                          <img id="step3FOFTag" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/fof-step3-img.jpg" alt="">
                     </div>

                     <div class="right-section">
                         <div class="thumb-image">
                             <iframe width="105" height="75" id="stepSmallFOFTag" src="/small-image-view-fof" scrolling="no" style="overFlow:hidden;"></iframe>
                         </div>
                         <div id="photoCaption" class="content1">
                             <a style="display:none;" id="fof_caption_edit" class="edit">Edit</a>
                             <strong><?php echo $translator['FOF_HEADING_PHOTO_CAPTION']; ?></strong>
                             <p class="view_photo_details" id="span_fof_caption"></p>
                             <div class="edit_photo_details" style="display:none;">
                                 <?php echo $this->formRow($form3->get('photo_caption_edit')); ?>
                                <div class="mid-btn">
                                    <input name="fof_caption_save" id="fof_caption_save" type="button" value="Save" class="button">
                                    <input name="fof_caption_cancel" id="fof_caption_cancel" type="button" value="Cancel" class="button green">
                                </div>
                             </div>
                             <div id="photoCaptionVisbilty2"></div>
                         </div>

                         <div id="peoplePhoto" class="content1">
                            <a style="display:none;" id="fof_peoplephoto_edit" class="edit">Edit</a>
                             <strong><?php echo $translator['FOF_HEADING_PEOPLE_IN_PHOTO']; ?></strong>
                             <p class="view_photo_details"  id="span_fof_people_in_photo"></p>
                             <?php echo $this->formRow($form3->get('people_photo_edit')); ?>
                              <div id="peoplePhotoVisbilty2"></div>
                         </div>

                        <div id="donatedBy" class="content1">
                            <a style="display:none;" id="fof_donated_by_edit" class="edit">Edit</a>
                            <strong><?php echo $translator['FOF_HEADING_DONATED_BY']; ?></strong>
                            <p class="view_photo_details"  id="p_donated_by"><?php echo $this->nameUserDonatedBy; ?></p>
                            <div class="edit_photo_details" style="display:none;">
                                    <?php echo $this->formRow($form3->get('donated_by_edit')); ?>
                                     <div class="mid-btn">
                                           <input name="fof_donated_by_save" id="fof_donated_by_save" type="button" value="Save" class="button">
                                           <input name="fof_donated_by_cancel" id="fof_donated_by_cancel" type="button" value="Cancel" class="button green">
                                   </div>
                            </div>
                            <div id="donatedByVisbilty2"></div>
                         </div>
                         
                         <div class="content3">
                             <div class="small-blue-check left">
                                  <?php echo $this->formRow($form3->get('is_agree')); ?>
                                 <label for="is_agree" class="css-label"></label>
                             </div>
                             <?php echo $translator['FOF_I_AGREE_TERMS_AND_CONDITIONS']; ?>
                         </div>
                         <div class="content3"><span id="fof_agree_terms_and_condition_message"></span></div>

                         <div class="button-row">
                              <?php 
                                 echo $this->formRow($form3->get('cancelbutton')); 
                                 echo $this->formRow($form3->get('savebutton'));
                               ?>
                         </div>
                     </div>
                 </div>
                  
                <div class="common-btn-row">
                   <?php echo $this->formRow($form3->get('step4fullBack')); ?>
                </div>
               </div>   
                <?php echo $this->form()->closeTag(); ?> 
                    
                </div>
            <!-- FOF - Step - end -->            
        </div>
		  
       
      </div> 
    </div>
    
 <!--starts popup code-->
    <div  style="display: none;">
        <div  id="fof_by_mail" class="upload-popup">
            <?php echo $translator['ADD_FOF_MAIL_NOTE']; ?>
            <input type="button" value="Close" class="button" onclick="javascript: $.colorbox.close();"  />
        </div>
    </div>          
  <!--popup code ends-->
</section>
