<style>
.cboxIframe{background-color: rgba(0, 0, 0, 0) !important;}
#cboxContent{background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;border:0px!important;}
#cboxOverlay{background:#000000; opacity: 0.94!important;}
#colorbox{top:0!important}
</style>
<?php
/**
 * This view is for search page for flag of faces
 * @package    Document
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/fof.index.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="inner-header">
  <h1><?php echo $translator['H_FOF']; ?></h1>
</div>
<!--starts flag of faces-->
<section class="main">
  <div class="outer-flag-of-faces">
  <div class="inner-content">
    <h1><?php echo $translator['H_FOF']; ?></h1>
    <p><?php echo $translator['FOF_NOTE_AMERICAN_FLAG']; ?></p>
    <p><?php echo $translator['FOF_NOTE_AMERICAN_FLAG2']; ?></p>
	<?php
	if ($this->getAuth() === false) {
	?>
    <a href="javascript:void(0);" onclick="checkUserLogin('<?php echo $this->Encrypt('/add-fof-image')?>','','/add-fof-image');" class="add-btn"><?php echo $translator['FOF_ADD_PHOTO']; ?></a>
	<a href="javascript:void(0);" onclick="return searchFlagOfFacesPopup();" class="search-btn"><?php echo $translator['FOF_SEARCH_THE_FLAG']; ?></a>
	<?php
	}else{
	?>
    <a href="/add-fof-image" class="add-btn"><?php echo $translator['FOF_ADD_PHOTO']; ?></a>
    <a href="/search-fof" class="search-btn"><?php echo $translator['FOF_SEARCH_THE_FLAG']; ?></a>
	<?php } ?>
  </div>
  <?php
    $arrFofImages = array(
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
            'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg','photo15.jpg','photo16.jpg','photo17.jpg','photo18.jpg','photo19.jpg','photo20.jpg',
            'photo21.jpg','photo22.jpg','photo23.jpg','photo24.jpg','photo25.jpg','photo26.jpg','photo27.jpg','photo28.jpg','photo29.jpg','photo30.jpg',
            'photo31.jpg','photo32.jpg','photo33.jpg','photo34.jpg','photo35.jpg','photo36.jpg','photo37.jpg','photo38.jpg','photo39.jpg','photo40.jpg',
            'photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpg','photo5.jpg','photo6.jpg','photo7.jpg','photo8.jpg','photo9.jpg','photo10.jpg',
             'photo11.jpg','photo12.jpg','photo13.jpg','photo14.jpg'
         );
         shuffle($arrFofImages);
     ?>
       <div class="inner-detail" id="contentArea">
	   
       <?php  
        if(isset($arrFofImages) and is_array($arrFofImages) and count($arrFofImages) > 0) {
             $c1 = 0; $c2 = 1; $c4 = 0; $className = "blue";
             echo '<div class="col">';
             foreach($arrFofImages as $valsFof) { 
                if(isset($valsFof) and trim($valsFof) != "" and file_exists($this->layout()->getVariable('imageFilePath')."/images/flag-of-faces/small/".$valsFof)) { 
                     $c1 = $c1 + 1; $c4 = $c4 + 1;
                     if($c1 < 7 and $c2 < 9) { $className = "blue"; } else {  if($c1%2 == 0) { $className = 'black'; } else { $className = 'red'; } } 
         ?>
                <div class="img-box">
                    <span  class="<?php echo $className; ?>"></span>
                        <img class="grayscale" id="flagOfFacesImage<?php echo $c4; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/flag-of-faces/small/<?php echo $valsFof; ?>" alt="" />
                </div>
        <?php  
                   if($c1 == 13) {  $c1 = 0; $c2 = $c2 + 1; if($c4 == count($arrFofImages)) {  echo '</div>';  } else {  echo '</div><div class="col">'; } } 
                 }    
              } 
          } 
         else {  echo '<h2>'.$translator['NO_RECORD_FOUND'].'</h2>';  } 
       ?> 
     </div>             
  </div>
</section>
<!--flag of faces ends-->