<?php

/**
 * This view is for search page for flag of faces
 * @package    Document
 * @author     Icreon Tech - NS
 */
echo $this->headMeta()->appendHttpEquiv('X-UA-Compatible','IE=9');
  
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" >
<?php echo $var; ?>
 var refererUrl = '<?php echo $this->encrypt(SITE_URL.'/search-fof'); ?>';   
</script>

 

<!-- elastislide - start -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/css/demo.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/css/elastislide.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/css/custom.css" />
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/js/modernizr.custom.17475.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<!-- elastislide - end -->

<script type="text/javascript">
<?php if ($chkClickStatus == true) { ?>
        window.onload = function() {
            document.getElementById('submitsearch').click();
        }
<?php } ?>
</script>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/fof.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" />



<style>
#save_search_as {color:#cccccc; }
#fof_search_results .dropdown{display:none; }

<?php if(isset($savedSearches) and count($savedSearches) == 0) {  ?>
    #fof_search_results { display:none; }
<?php } ?>
</style>


<div class="inner-header">
  <h1><?php echo $translator['FOF_SEARCH_THE_FLAG1']; ?></h1>
</div>
   <div class="inner-detail fof-search fof-background-main">
    <div class="fof-add-photo-bg-main-large" id="contentArea">
<div class="fof-popup-top-head">
<div class="fof-popup-wrapper">
<div class="fof-Search clearfix">
    
	<div class="top-left">
	<h5><?php echo $translator['FOF_SEARCH_THE_FLAG2']; ?></h5>
        <h1><?php echo $translator['FOF_SEARCH_THE_FLAG3']; ?></h1>
	<div class="question"><a href="/about-the-flag-of-faces"><?php echo $translator['FOF_SEARCH_THE_FLAG4']; ?></a></div>
     </div>
        
        <?php
          $form1 = $this->fofSearchForm;
          $form1->prepare();
          echo $this->form()->openTag($form1);
		  ?>
		  <span>(<?php echo $translator['FOF_SEARCH_THE_FLAG5']; ?>)</span>
		  <?php
          echo $this->formRow($form1->get('search_name')); 
         ?>
		
       <?php echo $this->formRow($form1->get('submitsearch')); ?>
	   
       
        <div id="fofNoRecordFound" class="matches-text" style="display:none;"></div>
        <?php echo $this->form()->closeTag(); ?>
		
		
		 </div>
		 </div>
</div>
<section class="fof-popup">   
   


		<div class="searchTopRow">
		
		
		 <!-- Search Save - Start -->
        <div class="fof-name-right-section">
           <div id="fof_search_msg" style="display:none" class="success-msg"></div> 
           <div> 
                <div class="save-box">
                    <?php
                    if ($this->getAuth() !== false and !isset($this->getAuth()->crm_email_id)) {
                        $form2 = $this->fofSearchSaveForm;
                        $form2->prepare();
                        echo $this->form()->openTag($form2);
                        echo $this->formRow($form2->get('save_search_as')); 
                        //if ($this->getAuth() === false) {
						?>
                                        <!--<input type="button" onclick="checkUserLogin('<?php //echo $this->Encrypt('/save-search-fof').'@@rd'; ?>','','/save-search-fof');" class="savebtn" name="savesearch">-->
						<?php
						//}else{
						echo $this->formRow($form2->get('savesearch'));
							//}
						
						echo $this->form()->closeTag();
                    }                         
                        if(isset($savedSearches) and count($savedSearches)<4) { $scrollCls = ''; } else  { $scrollCls = 'scroll-pane drop-down'; }
                    ?>
                </div>

                <input type="hidden" id="num_member_flag_of_faces_input" name="num_member_flag_of_faces_input" value="<?php if(isset($numMemberFalgOfFaces) and trim($numMemberFalgOfFaces) != '' and trim($numMemberFalgOfFaces) > 0) { echo trim($numMemberFalgOfFaces); } else { echo ""; } ?>" />
                <input type="hidden" id="count_saved_searches_input" name="count_saved_searches_input" value="<?php if(isset($savedSearches) and is_array($savedSearches)) { echo count($savedSearches); } else { echo "0"; } ?>" />

                <div id="fof_search_results"  class="common-savesearch right">
                  <div class="dropdown">
                    <div class="<?php echo $scrollCls; ?>">
                       <?php if(isset($savedSearches) and count($savedSearches) > 0) {  ?>  
                                <ul>
                                    <?php  foreach($savedSearches as $vals) { ?>
                                        <li> 
                                          <span><?php echo $vals['title']; ?></span>
                                          <a href="#deletesearch" class="deletesearch sn-close" onClick="deleteSaveSearch('<?php echo $this->encrypt($vals['fof_search_id']); ?>');"></a>
                                          <a class="sn-search" onclick="viewSavedSearch('<?php echo $this->encrypt($vals['fof_search_id']); ?>');"></a>
                                        </li>
                                    <?php } ?>
                                </ul>
                           <?php } ?>  	
                    </div>
                  </div>
                </div>
           </div> 
        </div>
        <!-- Search Save - End -->
</div>
        
  
    

	
    <div class="content clearfix" style="width:100%;display:block;">  
        <input type="hidden" id="startIndex" name="startIndex" value="<?php if (isset($arrFofImages) and count($arrFofImages) > 0) { echo count($arrFofImages) - 1; } else { echo "0"; } ?>" />
        <!-- Start --> 
        <div id="flagOfFacesData" class="flage-of-faces">
            <?php   if (isset($arrFofImages) and count($arrFofImages) > 0) { ?>
                <ul id="carousel"  class="elastislide-list">
                    <li class="li1">
                        <ul class="ul1">
                            <?php
                            $countRecords = count($arrFofImages);
                            $divide13 = $countRecords / 13;
                            $divide13Round = round($divide13);
                            $divide13RoundLatitudinal = $divide13Round / 3;
                            $divide13RoundLatitudinalRound = 7; //round($divide13RoundLatitudinal);										 
                            $ul = 1;
                            $c1 = 0;
                            $c0 = 0;
                            foreach ($arrFofImages as $valsFof) {
                                if (isset($valsFof['fof_image']) and trim($valsFof['fof_image']) != "" and $valsFof['search_flag'] == "0") {
                                    $c0 = $c0 + 1;
                                    $class = 'gray';
                                    if ($ul < $divide13RoundLatitudinalRound and $c1 < 6) {
                                        $class = 'blue';
                                    }
                                    else {
                                        if($c1%2 == 0) { $class = 'red'; }
                                        else { $class = 'gray'; }
                                    }

                                    ?>									   
                                    <li  title="<?php echo $valsFof['people_photo']; ?>" class="li2 <?php echo $class; ?> <?php
                                    if ($c1 == 0) {
                                        echo 'firsttool-tip';
                                    }
                                    ?>" onclick="javascript:focusOnImage('fofImg<?php echo $valsFof['fof_id']; ?>');"  style="cursor: pointer;">

                                        <span  id="span_fofImg<?php echo $valsFof['fof_id']; ?>"></span>
                                        <a id="fofImg<?php echo $valsFof['fof_id']; ?>" name="fofImg<?php echo $valsFof['fof_id']; ?>" value="<?php echo $valsFof['fof_id']; ?>"   rel="lightbox" >
                                            <img src="<?php echo $fofDirThumb . $valsFof['fof_image']; ?>"  />
                                        </a> 

                                    </li>
                                    <?php
                                    $c1 = $c1 + 1;
                                    if ($c1 > 12) {
                                        $c1 = 0;
                                        if($c0 == $countRecords) { echo '</ul></li>'; }
                                        else { echo '</ul></li><li class="li1"><ul class="ul1">'; }
                                        $ul = $ul + 1;
                                    }
                                }
                            }
                            ?>
                        </ul>

                        <?php
                    } else {
                        echo '<h2>' . $translator['NO_RECORD_FOUND'] . '</h2>';
                    }
                    ?>  

                    <!-- End --> 

                    

                    </div>

                    </div>

    
    <!-- Delete Search - Start -->
    
    <div style='display:none'>
        <div id='deletesearch' class="inner-popup-detail">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h1><?php echo $translator['FOF_SEARCH_RESULTS_REMOVE_SEARCH']; ?></h1>
            <p><?php  echo $translator['FOF_SEARCH_RESULTS_REMOVE_SEARCH_CONFIRMATION_MSG']; ?></p>
            <input type="hidden" id="fofSearchDelId" name="fofSearchDelId" />
            <input type="button" value="Remove" name="yes" id="yes" class="button semibold">
            <input type="button" value="Cancel" name="no" id="no" class="button semibold green">

        </div>
   </div>
   <div class="exceed" style="display:none;">
		<div class="inner-popup-detail">
                    <p>Based on your membership level you have exceeded your saved search limit.</p>
                    <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
                    <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
                    <input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.exceed').css({'display':'none'});"  class="button green semibold">
		</div>
	</div>
    
    <!-- Delete Search - End -->
  </section>


        

		</div> 
	</div>

<div id="ajx_loader_fof" class="main-loader" style="display:block;"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image_fof"/></div>
    
	<?php
/**
 * This view is for search page for flag of faces
 * @package    Document
 * @author     Icreon Tech - NS
 */
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'))
//				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/tip-yellowsimple.css?v='.$this->layout()->getVariable('cssVersion'))
//				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/fof.css?v='.$this->layout()->getVariable('cssVersion'))
//				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/elastislide/css/custom.css')
//				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/elastislide/css/elastislide.css')
//				 ->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/elastislide/css/demo.css');
//
//$var = '';
//foreach ($jsLangTranslate as $key => $val) {
//    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
//}
//$encRefererUrl  = $this->encrypt(SITE_URL.'/search-fof');
//$script = <<<EOD
//var refererUrl = "$encRefererUrl";
//var chkClickStatus = "$chkClickStatus";
//if(chkClickStatus == "true"){
//	window.onload = function() {
//			document.getElementById('submitsearch').click();
//        }
//}
//
//$(document).ready(function() {
//	var SearchInput = $('#search_name');
//    var strLength = SearchInput.val().length;
//    SearchInput.focus();
//    SearchInput[0].setSelectionRange(strLength, strLength);
//    $('.scroll-pane').jScrollPane();
//    $(".common-savesearch .dropdown").hide();
//    $('#lbCloseLink').click(function() {
//        var SearchInput = $('#search_name');
//        var strLength = SearchInput.val().length;
//        SearchInput.focus();
//        SearchInput[0].setSelectionRange(strLength, strLength);
//    });
//    
//    $(".common-savesearch").click( function(){
//        $('.scroll-pane').jScrollPane();
//        $(".common-savesearch .dropdown").hide();
//    }); 
//
//});
//EOD;
//$this->inlineScript()->appendScript($var)
//          
//                     ->appendScript($script1)
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'))
//
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/modernizr.custom.17475.js?v='.$this->layout()->getVariable('jsVersion')) 
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquerypp.custom.js?v='.$this->layout()->getVariable('jsVersion'))                     
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquery.elastislide.js?v='.$this->layout()->getVariable('jsVersion'))
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.poshytip.js?v='.$this->layout()->getVariable('jsVersion'))                     
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/fof.search.js?v='.$this->layout()->getVariable('jsVersion'))
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'))
//                     
//                     ->appendFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
//                    
//                     
//                ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
//                     ->appendScript($script2);
        
        
//        
//$this->inlineScript()->prependScript($var)
//                 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.poshytip.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/fof.search.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
//                                                            
//                        ->prependFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquerypp.custom.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->prependFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/modernizr.custom.17475.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->prependFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquery.elastislide.js?v='.$this->layout()->getVariable('jsVersion'))
//                        
//                         ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
//                        ->prependScript($script)
//                        ->prependFile($this->layout()->getVariable('jsFilePath').'/js/elastislide/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
//

?>
	
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/js/jquery.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/js/jquerypp.custom.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/elastislide/js/jquery.elastislide.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.poshytip.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>  
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.validate.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script> 

<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/tip-yellowsimple.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" type="text/css" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript">
$(document).ready(function() {
    var SearchInput = $('#search_name');
    var strLength = SearchInput.val().length;
    SearchInput.focus();
    SearchInput[0].setSelectionRange(strLength, strLength);
    $('.scroll-pane').jScrollPane();
    $(".common-savesearch .dropdown").hide();
    $('#lbCloseLink').click(function() {
        var SearchInput = $('#search_name');
        var strLength = SearchInput.val().length;
        SearchInput.focus();
        SearchInput[0].setSelectionRange(strLength, strLength);
    });
    
    $(".common-savesearch").click( function(){
        $('.scroll-pane').jScrollPane();
        $(".common-savesearch .dropdown").hide();
    }); 
});
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/fof.search.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
