<?php

$arrFofImagesM = $this->arrFofImagesM;

$people_photo = isset($arrFofImagesM['people_photo'])?$arrFofImagesM['people_photo']:'';
$is_people_photo_visible = isset($arrFofImagesM['is_people_photo_visible'])?$arrFofImagesM['is_people_photo_visible']:"1";

$photo_caption = isset($arrFofImagesM['photo_caption'])?$arrFofImagesM['photo_caption']:'';
$is_photo_caption_visible = isset($arrFofImagesM['is_photo_caption_visible'])?$arrFofImagesM['is_photo_caption_visible']:"1";

$people_photo_json = isset($arrFofImagesM['people_photo_json'])?$arrFofImagesM['people_photo_json']:"";

$htmlPeoplePhoto = '';
$jsonPeoplePhoto = $people_photo_json; //'[{"name":"nose","width":"100px","height":"100px","top":"120px","left":"135px"},{"name":"ear","width":"100px","height":"100px","top":"61px","left":"272px"}]';
if(isset($jsonPeoplePhoto) and trim($jsonPeoplePhoto) != "") { 
    $jsonPeoplePhoto = trim($jsonPeoplePhoto);
    $arrPeoplePhoto = json_decode($jsonPeoplePhoto);
    
    if(is_array($arrPeoplePhoto) and count($arrPeoplePhoto) > 0) {
       $htmlPeoplePhoto .= '<div style="position:absolute;">';
        foreach($arrPeoplePhoto as $valPP) {
              $htmlPeoplePhoto .= '<div class="tagged" style="width: '.$valPP->width.'; height: '.$valPP->height.'; left: '.$valPP->left.'; top: '.$valPP->top.'; border: none; position:absolute;">';
              $htmlPeoplePhoto .= '<div class="tagged_title" style="top:'.$valPP->height.';">';
              $htmlPeoplePhoto .= '<div class="arrow"></div>';
              $htmlPeoplePhoto .= '<span class="tagged_title_text">'.strip_tags($valPP->name).'</span>';
              $htmlPeoplePhoto .= '</div>';
              $htmlPeoplePhoto .= '</div>';          
         }  
         $htmlPeoplePhoto .= '</div>';  
       }    
   }   
?>
<html>
  <head>
    <!--
        <script src="<?php //echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-1.9.1.min.js?v=<?php //echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php //echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php //echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
    -->
        <script type="text/javascript">	
            $(function() {
                parent.$.colorbox.resize();
            });	
        </script>
    
       <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>"> 
       <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/show-fof.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">   
        <link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/jquery-ui-tag.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" rel="stylesheet" type="text/css"/>
        <link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/tag.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" rel="stylesheet" type="text/css"/>
        
  </head>
  <body> 

    <div class="photo-caption-section" style="width: 550px !important; height: 550px !important;">
         <?php if(isset($this->fofMain) and trim($this->fofMain) != "" and isset($this->imagewidth) and trim($this->imagewidth) != "" and isset($this->imageheight) and trim($this->imageheight) != "") { ?> 
             <img  src="<?php echo $this->fofMain; ?>" width="<?php echo trim($this->imagewidth); ?>" height="<?php echo trim($this->imageheight); ?>" id='imageMap'  alt=""/>  
         <?php } ?>

         <div id="planetmap">
             <?php  echo $htmlPeoplePhoto; ?>
         </div>
     </div>
      
    <?php if($is_people_photo_visible == "1" or $is_photo_caption_visible == "1") { ?>
     <div class="photo-popup-description">
        <?php if($is_people_photo_visible == "1" and $people_photo != "" and trim($people_photo) != "") { ?>
             <h1><?php echo $people_photo; ?></h1>                    
         <?php           
             }  
          if($is_photo_caption_visible == "1" and $photo_caption != "" and trim($photo_caption) != "") { 
          ?> 
         <span> 
             <?php echo $photo_caption; ?> 
         </span>
         <?php } ?>
     </div>
    <?php } ?>
      
  </body> 
</html> 