
<?php
  // read contents
//    $f = open(dirname($_SERVER['DOCUMENT_ROOT']).'/public/js/pixenate/cache/'.$this->image_name);
//    $img = $f.read();
//    $f.close();
//
//     // no-cache headers - complete set
//     // these copied from [php.net/header][1], tested myself - works
//     header("Expires: Sat, 26 Jul 1997 05:00:00 GMT"); // Some time in the past
//     header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT"); 
//     header("Cache-Control: no-store, no-cache, must-revalidate"); 
//     header("Cache-Control: post-check=0, pre-check=0", false); 
//     header("Pragma: no-cache"); 

/**
 * This view is for image manipulation for flag of faces
 * @package    User - Fof
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();

?>
<script type="text/javascript" >
 <?php echo $var; ?>
</script>

 <meta http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1"/>
 <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Oswald' rel='stylesheet' type='text/css'>
 <?php if(isset($crm_user_id) && !empty($crm_user_id)) {  } else { ?>
 <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php  } ?>
 
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-1.9.0.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_tooltips.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_fields.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_core.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_colors.css" type="text/css"/>
<link media="screen" title="" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/slick.css" type="text/css"/>   

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_all.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_strings_en.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_fonts.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/tooltips.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/tools_ui.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/imagemagick.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/slick.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/text.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/clipart.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/valentine.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<?php if(isset($crm_user_id) && !empty($crm_user_id)) { ?>
  <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php } else { ?>
   <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/fof-add-image.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php } ?>
<!-- Embedded Styles -->
 
<style type="text/css">
 ul.cursor-pointer{ background-color: transparent !important; }
  #pxn8_image_container #pxn8_image { width: auto !important; height: auto !important; }
  #pxn8_canvas #pxn8_select_rect { width: auto !important; height: auto !important; }
  
</style>

 
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/3rdparty/raphael-uncompressed.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
       
<script type="text/javascript">

function showAjxLoader() {  
    $("#ajx_loader").css({
        height: "100%",
        width: "100%",
        display: "block"
    });
    
    $("#ajx_loader_image").css({
        top: "30%",
        left: "38%",
        position: "absolute"
    });
}

function hideAjxLoader() {
    $("#ajx_loader").hide();
}



$(function() {
   showAjxLoader();
});

window.onbeforeunload = function(){ showAjxLoader(); }
window.onload = function(){ showAjxLoader(); }

<?php if($this->image_path != "") { ?>

PXN8.root = "/js/pixenate/";


 
PXN8.dom.addLoadEvent(function(){
   PXN8.initialize("/js/pixenate/cache/<?php  echo $this->image_name; ?>");
});

$(document).ready(function(){
    setTimeout("sendRequestPixenate()","2000");   
});

function sendRequestPixenate() {
    $('#pxn8_image').attr("src","/js/pixenate/cache/<?php  echo $this->image_name."?_=".time(); ?>");
    PXN8.selectByRatio("1x1");
}

PXN8.listener.add(PXN8.ON_IMAGE_LOAD,myOnImageLoad);

function myOnImageLoad(eventType){
    parent.$('#previewFOF1').attr('src',parent.$('#previewFOF1').attr("src"));
    setTimeout(function(){
      hideAjxLoader();
    },3000); 
     PXN8.selectByRatio("1x1");
     var imgSize = PXN8.getImageSize();
    parent.$('#UploadUserFofImageIframe').attr({'height':parseInt(imgSize.height)+parseInt(200)});   
}

function myOnImageChange(eventType){
    var uncompressed = PXN8.getUncompressedImage();
    if (uncompressed != false) {    
        
    $.ajax({
     // type:"POST",
     // data:{decryptText: $.trim(uncompressed).replace("cache/","")},
        url:"/fof-encrypt-text/"+$.trim(uncompressed).replace("cache/",""),
        cache: false,
        success:function(response){
            var jsonObj = jQuery.parseJSON(response);
            if(jsonObj.encryptText != ""){
                setTimeout("sendRequest('"+$.trim(jsonObj.encryptText)+"')","1000");                
                parent.$('#people_photo').val('');
                parent.$('#peoplePhotoBox').empty();
                parent.$('#span_fof_people_in_photo').empty();
                parent.$('#photo_modified').val("2");
                parent.$('#photo_modified_name').val($.trim(jsonObj.encryptText));
                parent.$('#fofPreviewImage').attr('src',"/js/pixenate/cache/"+$.trim(uncompressed).replace("cache/",""));
             }
         }
    });

//        $.post("/fof-encrypt-text", {decryptText: $.trim(uncompressed).replace("cache/","")}, function(data){
//           parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview-crm/'+$.trim($('#encrypted_fof_id').val())+'/'+$.trim(data)+'/2'); 
//           parent.$('#people_photo').val('');
//           parent.$('#peoplePhotoBox').empty();
//           parent.$('#span_fof_people_in_photo').empty();
//           parent.$('#photo_modified').val("2");
//           parent.$('#photo_modified_name').val($.trim(data));
//           parent.$('#fofPreviewImage').attr('src',"/js/pixenate/cache/"+$.trim(uncompressed).replace("cache/",""));
//           
//        });
        
        var imgSizeOptional = PXN8.getImageSize();
        if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#crop_fof_image_status').val(''); }  
        else { parent.$('#crop_fof_image_status').val('1'); parent.$('label[for="crop_fof_image_status"]').remove(); } 
    }
    else {
    
        var imgSizeOptional = PXN8.getImageSize();
        if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#crop_fof_image_status').val(''); }  
        else { parent.$('#crop_fof_image_status').val('1'); } 

        if($.trim(parent.$('#photo_modified_name').val()) != "" && $.trim($('#crop_image_name_encrypted').val()) != "" && $.trim($('#crop_image_name_encrypted').val()) != $.trim(parent.$('#photo_modified_name').val())) {
          parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim($('#encrypted_fof_id').val())+'/'+$.trim(parent.$('#photo_modified_name').val())+'/5'); 
          parent.$('#peoplePhotoBox').empty();
          parent.$('#span_fof_people_in_photo').empty();
          parent.$('#photo_modified').val("1");
       // parent.$('#photo_modified_name').val("");
        }
 
     // parent.$('#peoplePhotoBox').empty();
     // parent.$('#span_fof_people_in_photo').empty();
     // parent.$('#photo_modified').val("1");
     // parent.$('#photo_modified_name').val("");
    }
 }
PXN8.listener.add(PXN8.ON_IMAGE_CHANGE,myOnImageChange);

//function sendRequestPixenate(objImage) { 
//alert('test');
// PXN8.initialize("/js/pixenate/cache/"+objImage);
//}

function sendRequest(obj)
{
 parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview-crm/'+$.trim($('#encrypted_fof_id').val())+'/'+obj+'/2<?php echo "?".time(); ?>'); 
}

function unDoAllAction() {
    parent.$('#ajx_loader_preview_fof').css({"display":"block"});
    PXN8.tools.undoall();  
    PXN8.unselect();
    
    var imgSizeOptional = PXN8.getImageSize();
    if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#crop_fof_image_status').val(''); }  
    else { parent.$('#crop_fof_image_status').val('1'); } 

    if($.trim(parent.$('#photo_modified_name').val()) != "" && $.trim($('#crop_image_name_encrypted').val()) != "" && $.trim($('#crop_image_name_encrypted').val()) != $.trim(parent.$('#photo_modified_name').val())) {
      parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim($('#encrypted_fof_id').val())+'/'+$.trim(parent.$('#photo_modified_name').val())+'/5'); 
      parent.$('#peoplePhotoBox').empty();
      parent.$('#span_fof_people_in_photo').empty();
      parent.$('#photo_modified').val("1");
   // parent.$('#photo_modified_name').val("");
    }
}   
<?php } ?>
</script>

<input type="hidden" name="crop_image_name_encrypted" value="<?php echo $this->Encrypt($this->image_name); ?>" id="crop_image_name_encrypted" />
<input type="hidden" name="encrypted_fof_id" value="<?php echo $this->encrypted_fof_id; ?>" id="encrypted_fof_id" />
<input type="hidden" name="crop_image_name" value="<?php echo $this->image_name; ?>" id="crop_image_name" />
<input type="hidden" name="crop_image_name_upload_file_path_fof" value="<?php echo $this->upload_file_path_fof; ?>" id="crop_image_name_upload_file_path_fof" />
 

      <div class="fof-image-main-section">
          <div class="step2">
                <p>
                    <?php echo $translator['FOF_HEADING_ADDING_NAME_NOTE8']; ?>
                     <span class="crop-msg">Note: Please crop image in square for best result.</span>
                </p>
              
                <div id="canvas_container" class="img-box">
                   <div  id="pxn8_canvas" class="photo-box"></div>
                </div>

                <div class="crop-nav">
                  <ul class="cursor-pointer">
                      <li onclick="PXN8.tools.crop(PXN8.getSelection()); PXN8.unselect();"  class="crop-photo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_CROP_PHOTO']; ?><small></small></span></li>
                      <li onclick="PXN8.tools.rotate({angle: 90})" class="rotate"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_ROTATE_PHOTO']; ?><small></small></span></li>
                      <li id="normalize" class="auto-colour"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_AUTO_COLOR']; ?><small></small></span></li>
                      <li onclick="var sel = PXN8.getSelection(); if (sel.width > 0){PXN8.tools.fixredeye(sel);}"  class="fix-redeye"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_FIX_RED_EYE']; ?><small></small></span></li>
                      <li id="undo" class="undo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_UNDO']; ?><small></small></span></li>
                      <li id="redo" class="redo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_REDO']; ?><small></small></span></li>
                      <li onclick="javascript:unDoAllAction();" class="reset"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_RESET']; ?><small></small></span></li>
                  </ul>
              </div> 
          </div>
     </div>
<!--  </div>
</section> -->


<div id="ajx_loader" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/></div>

<script type="text/javascript">

//
// Initialize tool palette buttons
//
var clickHandlers = 
{
    "undo" : _undo,
    "redo" : _redo,
    "normalize" : _normalize
};

for (var i in clickHandlers)
{
   var el = document.getElementById(i);
   if (el)
   {
       el.href = "javascript:void(0)";
       el.onclick = clickHandlers[i];
   }
}

</script>


