<html>
    <head>
        <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">   
        <style>
           html { overflow:auto !important; }
           body { overflow:auto !important; background: none !important; width: 100%; height: 100%; }        
        </style>   

        <?php if($this->crm_user_id != '') { ?>  
        <style>
            .main-loader-crm{height: 99% !important; left: 0px !important; width: 100% !important}
        </style>
        <?php } else { ?>
           <style>
             .main-loader-crm{ width: 100% !important; }
           </style>  
        <?php } ?>        
     <!-- Tagging - start -->
     <link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/jquery-ui-tag.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" rel="stylesheet" type="text/css"/>
     <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.min-tag.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
     <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-ui.min-tag.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
     <link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/tag.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" rel="stylesheet" type="text/css"/>
     <script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/custom-tag.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
     
  <script type="text/javascript">   
    window.onload = function() {
        showAjxLoader();         
    }
    
    $(document).ready(function() {   
        var imagewidth = "<?php echo $this->imagewidth; ?>";
        var imageheight = "<?php echo $this->imageheight; ?>";
        
        setInterval(function() {
            if($('#imageMap').attr("width") != "0" && $('#imageMap').attr("height") != "0" && $('#imageMap').attr("width") != undefined && $('#imageMap').attr("height") != undefined && $('#imageMap').attr("width") != "" && $('#imageMap').attr("height") != "") {
                hideAjxLoader();
            }
            else {
                if(imagewidth != "" && imagewidth != "0" && imagewidth != undefined && imageheight != "" && imageheight != "0" && imageheight != undefined) {
                    $('#imageMap').attr({'width':imagewidth,'height':imageheight});
                }
            }
        },2000);
        
        parent.$('#ajx_loader_preview_fof').css({"display":"none"});
    });  
   </script> 
     <!-- Tagging - end -->
     
     <style>
        .photo-caption-section #planetmap .tagged .tagged_box,
        .photo-caption-section #planetmap .tagged .tagged_title{ opacity: 0 !important; }         
        .photo-caption-section #planetmap .tagged:hover .tagged_box,
        .photo-caption-section #planetmap .tagged:hover .tagged_title{ opacity: 1 !important; }         
     </style>
    </head>
    <body>

        <div class="photo-caption-section">
            <?php if(isset($image_path) and trim($image_path) != "") { ?> 
                <img width="<?php echo $this->imagewidth; ?>" height="<?php echo $this->imageheight; ?>" src="<?php echo $image_path; ?>" id='imageMap'  alt=""/>  
            <?php } ?>
            
            <div class="tag-name">
               <span id="showTagsId"><a onclick="javascript:showTags();" class="button">Tag photo</a></span>
               <span  id="addTagsId"  style="display:none;">Move frame to correct location. <a onclick="javascript:addTag();" class="button">Done tagging</a></span>
            </div>

            <div id='mapper'>                
                <div id='form_panel'>
                    <div class='row'>
                       <div class="arrow"></div>
                       <div class='field'><input type='text' id='title' name='title' placeholder="type any name" maxlength="200" /></div>
                    </div>
                </div>   
            </div>
            <div id="planetmap"></div>
        </div>        
        <div id="ajx_loader" class="main-loader main-loader-crm"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/></div>
    </body>
</html>

 
 


