
<?php

/**
 * This view is for image manipulation for flag of faces
 * @package    User - Fof
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();

?>
<script type="text/javascript" >
 <?php echo $var; ?>
</script>

 <meta http-equiv="Content-Type" CONTENT="text/html; charset=iso-8859-1"/>
 <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Oswald' rel='stylesheet' type='text/css'>
 <?php if(isset($crm_user_id) && !empty($crm_user_id)) {  } else { ?>
 <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php  } ?>
 
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-1.9.0.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_tooltips.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_fields.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_core.css" type="text/css"/>
<link media="screen" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/styles/pxn8_colors.css" type="text/css"/>
<link media="screen" title="" rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/slick.css" type="text/css"/>   

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_all.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_strings_en.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/pxn8_fonts.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/tooltips.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/tools_ui.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/shared/javascript/imagemagick.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/slick.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/text.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/clipart.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/themes/solief/valentine.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<?php if(isset($crm_user_id) && !empty($crm_user_id)) { ?>
  <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php } else { ?>
   <link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/fof-add-image.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<?php } ?>
<!-- Embedded Styles -->
 
<style type="text/css">
 ul.cursor-pointer{ background-color: transparent !important; }
  #pxn8_image_container #pxn8_image { width: auto !important; height: auto !important; }
  #pxn8_canvas #pxn8_select_rect { width: auto !important; height: auto !important; }
  
</style>

 
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pixenate/javascript/3rdparty/raphael-uncompressed.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
       
<script type="text/javascript">

function showAjxLoader() {  
    $("#ajx_loader").css({
        height: "100%",
        width: "100%",
        display: "block"
    });
    
    $("#ajx_loader_image").css({
        top: "30%",
        left: "38%",
        position: "absolute"
    });
}

function hideAjxLoader() {
    $("#ajx_loader").hide();
}

$(function() {
   $('#savebuttonDetailOfPhoto').click(function(){
     var imgSize = PXN8.getImageSize();
     if(imgSize.width != imgSize.height ) {
       alert("Please adjust the crop selection area, and crop the image before proceeding.");
       return false;
     }  
     else {   
      parent.$('#step2Full').css({'display':'none'});
      parent.$('#step3full').css({'display':'block'});
     // parent.ga('require', 'displayfeatures');
     // parent.ga('send', 'pageview',{'page': '/add-fof-image3','title': 'Add FOF Image3'});
      hideAjxLoader();
     } 
   }); 
   
   $('#savebuttonDetailOfPhotoBack').click(function(){
       parent.$('#filemessage').empty();
       parent.$('#step1Full').css({'display':'block'});
       parent.$('#step2Full').css({'display':'none'});   
       hideAjxLoader();
   });    
   
   showAjxLoader();

});



window.onbeforeunload = function(){ showAjxLoader(); }
window.onload = function(){ showAjxLoader(); }

<?php if($this->image_path != "") { ?>

PXN8.root = "/js/pixenate/";


 
PXN8.dom.addLoadEvent(function(){   
    <?php  if (strpos($this->layout()->getVariable('jsFilePath'), "https://") !== false) { ?>
       PXN8.initialize({url: "/js/pixenate/cache/<?php echo $this->image_name; ?>", source: "vpath",virtual_path:"<?php echo $this->image_name; ?>"});
    <?php } else { ?>  
        PXN8.initialize("/js/pixenate/cache/<?php echo $this->image_name; ?>");
    <?php } ?>	
});





function myOnImageChange(eventType){
    var uncompressed = PXN8.getUncompressedImage();
	if (uncompressed != false) {
             parent.$("#temp_image").val($.trim(uncompressed).replace("cache/",""));   
             $('#cropMsg').css({'display':'none'});
             $('#cropMsg').html('');
             parent.$('label[for="upload_photo"]').remove();
             parent.$('#upload_photo').removeClass("error");
             
            parent.$('#step3FOFTag').attr('src',"/js/pixenate/cache/"+$.trim(uncompressed).replace("cache/",""));
             
            
           // var imgSizeOL = PXN8.getImageSize();
           // if(imgSizeOL.width != "" && imgSizeOL.width != undefined && imgSizeOL.height != "" && imgSizeOL.height != undefined) {
             // parent.$('#previewFOF1').attr({'width':parseInt(imgSizeOL.width)+parseInt(20),'height':parseInt(imgSizeOL.height)+parseInt(20)});
           // }
            
            
            
            $.ajax({
                //type:"POST",
               // data:{decryptText: $.trim(uncompressed).replace("cache/","")},
                url:"/fof-encrypt-text/"+$.trim(uncompressed).replace("cache/",""),
                cache: false,
                success:function(response){
                    var jsonObj = jQuery.parseJSON(response);
                    if(jsonObj.encryptText != ""){
                        
                            setTimeout("sendRequest('"+$.trim(jsonObj.encryptText)+"')","1000");
                            
                            
                            parent.$('#stepSmallFOFTag').attr('src','/small-image-view-fof/'+$.trim(jsonObj.encryptText)+'/1/<?php echo $this->encrypt($image_name); ?>');

                            parent.$('#people_photo').val('');
                            parent.$('#people_photo_edit').val('');
                            parent.$('#peoplePhotoBox').empty();
                            parent.$('#span_fof_people_in_photo').empty();
                            return false;
                     }
                 }
            });

          /*  $.post("/fof-encrypt-text", {decryptText: $.trim(uncompressed).replace("cache/",""),cache: true}, function(data){
               parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim(data)+'/1');                
               parent.$('#stepSmallFOFTag').attr('src','/small-image-view-fof/'+$.trim(data)+'/1/<?php //echo $this->encrypt($image_name); ?>');
                
               parent.$('#people_photo').val('');
               parent.$('#people_photo_edit').val('');
               parent.$('#peoplePhotoBox').empty();
               parent.$('#span_fof_people_in_photo').empty();
            });
            */
            // for crm only - start
            <?php if(isset($crm_user_id) && !empty($crm_user_id)) { ?>
             var imgSizeOptional = PXN8.getImageSize();
             if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#flag_of_faces_form #crop_fof_image_status').val(''); }  
             else { parent.$('#flag_of_faces_form #crop_fof_image_status').val('1'); } 
            <?php } ?> 
            // for crm only - end
	}
	else {
            // for crm only - start
            <?php if(isset($crm_user_id) && !empty($crm_user_id)) { ?>
             var imgSizeOptional = PXN8.getImageSize();
             if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#flag_of_faces_form #crop_fof_image_status').val(''); }  
             else { parent.$('#flag_of_faces_form #crop_fof_image_status').val('1'); } 
            <?php } ?> 
            // for crm only - end
        
             parent.$("#temp_image").val(''); 
             <?php if($this->image_path != "") { ?>
              parent.$('#step3FOFTag').attr('src',"/js/pixenate/cache/<?php echo $this->image_name; ?>");              
             <?php } ?>
             parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim($('#crop_image_name_upload_file_path_fof').val())+'/2'); 
             parent.$('#stepSmallFOFTag').attr('src','/small-image-view-fof/'+$.trim($('#crop_image_name_upload_file_path_fof').val())+'/2/<?php echo $this->encrypt($image_name); ?>');
             
             parent.$('#people_photo').val('');
             parent.$('#people_photo_edit').val('');
             parent.$('#peoplePhotoBox').empty();
             parent.$('#span_fof_people_in_photo').empty();
           //  parent.$('#previewFOF2').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim($('#crop_image_name_upload_file_path_fof').val())+'/2'); 
	}
 }
PXN8.listener.add(PXN8.ON_IMAGE_CHANGE,myOnImageChange);

function sendRequest(obj)
{
    parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+obj+'/1<?php echo "?".time(); ?>');
    
}
function unDoAllAction() {
    parent.$('#ajx_loader_preview_fof').css({"display":"block"});
    PXN8.tools.undoall();  
    PXN8.unselect();
    // for crm only - start
    <?php if(isset($crm_user_id) && !empty($crm_user_id)) { ?>
     var imgSizeOptional = PXN8.getImageSize();
     if(imgSizeOptional.width != imgSizeOptional.height ) { parent.$('#flag_of_faces_form #crop_fof_image_status').val(''); }  
     else { parent.$('#flag_of_faces_form #crop_fof_image_status').val('1'); } 
    <?php } ?> 
    // for crm only - end

     parent.$("#temp_image").val(''); 
     <?php if($this->image_path != "") { ?>
      parent.$('#step3FOFTag').attr('src',"/js/pixenate/cache/<?php echo $this->image_name; ?>");              
     <?php } ?>
     parent.$('#previewFOF1').attr('src','/upload-user-fof-image-iframe-preview/'+$.trim($('#crop_image_name_upload_file_path_fof').val())+'/2'); 
     parent.$('#stepSmallFOFTag').attr('src','/small-image-view-fof/'+$.trim($('#crop_image_name_upload_file_path_fof').val())+'/2/<?php echo $this->encrypt($image_name); ?>');

     parent.$('#people_photo').val('');
     parent.$('#people_photo_edit').val('');
     parent.$('#peoplePhotoBox').empty();
     parent.$('#span_fof_people_in_photo').empty();
}

<?php } ?>
</script>



<input type="hidden" name="crop_image_name" value="<?php echo $this->image_name; ?>" id="crop_image_name" />
<input type="hidden" name="crop_image_name_upload_file_path_fof" value="<?php echo $this->upload_file_path_fof; ?>" id="crop_image_name_upload_file_path_fof" />
 

      <div class="fof-image-main-section">
          <div class="step2">
              <p>
                  <?php echo $translator['FOF_HEADING_ADDING_NAME_NOTE8']; ?>
                  
              </p>
              
              <div  id="canvas_container" class="img-box">
                 <div  id="pxn8_canvas" class="photo-box"></div>
              </div>
			  
			  <?php if($crm_user_id == '') { ?>              
              <div class="button-row">
                  <input type="button" id="savebuttonDetailOfPhotoBack" name="savebuttonDetailOfPhotoBack" value="BACK" class="back-btn button">
                  <input type="button" onclick="javascript:unDoAllAction();" value="Cancel" class="button green">
                  <input type="button" onclick="PXN8.tools.crop(PXN8.getSelection()); PXN8.unselect();" value="&nbsp;Crop&nbsp;" class="button">
                  <input type="button" id="savebuttonDetailOfPhoto" name="savebuttonDetailOfPhoto" value="NEXT" class="next-btn button">
              </div>
			  <?php } ?>

                <div class="crop-nav">
                  <ul class="cursor-pointer">
                      <li onclick="PXN8.tools.crop(PXN8.getSelection()); PXN8.unselect();"  class="crop-photo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_CROP_PHOTO']; ?><small></small></span></li>
                      <li onclick="PXN8.tools.rotate({angle: 90})" class="rotate"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_ROTATE_PHOTO']; ?><small></small></span></li>
                      <li id="normalize" class="auto-colour"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_AUTO_COLOR']; ?><small></small></span></li>
                      <li onclick="var sel = PXN8.getSelection(); if (sel.width > 0){PXN8.tools.fixredeye(sel);}"  class="fix-redeye"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_FIX_RED_EYE']; ?><small></small></span></li>
                      <li id="undo" class="undo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_UNDO']; ?><small></small></span></li>
                      <li id="redo" class="redo"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_REDO']; ?><small></small></span></li>
                      <li onclick="javascript:unDoAllAction();" class="reset"><a href="javascript:void(0);"></a><span class="tooltip"><?php echo $translator['FOF_PHOTO_EDITOR_RESET']; ?><small></small></span></li>
                  </ul>
              </div> 
          </div>
     </div>
<!--  </div>
</section> -->


<div id="ajx_loader" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/></div>

<script type="text/javascript">
<?php if($this->image_path != "") { ?>    
    PXN8.listener.add(PXN8.ON_IMAGE_LOAD,myOnImageLoad);
    function myOnImageLoad(eventType){
        parent.$('#previewFOF1').attr('src',parent.$('#previewFOF1').attr("src"));
        setTimeout(function(){
          hideAjxLoader();
         },3000); 

        var imgSize = PXN8.getImageSize();
        PXN8.selectByRatio("1x1",true);
        parent.$('#UploadUserFofImageIframe').attr({'height':parseInt(imgSize.height)+parseInt(200)});
    }
<?php } ?>

//
// Initialize tool palette buttons
//
var clickHandlers = 
{
    "undo" : _undo,
    "redo" : _redo,
    "normalize" : _normalize
};

for (var i in clickHandlers)
{
   var el = document.getElementById(i);
   if (el)
   {
       el.href = "javascript:void(0)";
       el.onclick = clickHandlers[i];
   }
}

</script>


