<?php
/**
 * This file is for create company form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.create_company.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?> 
<?php
$form = $this->create_company_form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('key'));
?>
<div class="pop-container">
    <div class=" create-contacts create-new-contact-popup">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_NAME'] ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('name')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_COMPANY_EMAIL'] ?></label>
                <?php echo $this->formRow($form->get('comp_email')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_PHONE'] ?></label>
                <?php echo $this->formRow($form->get('phone')); ?>
            </div>

            <div class="col1 right">
                <label><?php echo $translator['L_DESCRIPTION'] ?></label>
                <?php echo $this->formRow($form->get('description')); ?>
            </div>
            <div class="col1">
                <label><?php echo $translator['L_STREET'] ?></label>
                <?php echo $this->formRow($form->get('street')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CITY'] ?></label>
                <?php echo $this->formRow($form->get('city')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_STATE'] ?></label>
                <?php echo $this->formRow($form->get('state')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_POSTAL_CODE'] ?></label>
                <?php echo $this->formRow($form->get('postal_code')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_COUNTRY'] ?></label>
                <?php echo $this->formRow($form->get('country')); ?>
            </div>
        </div>
        <div class="">
            <div class="common-form p-b-30 row">
                <?php echo $this->formRow($form->get('save')); ?>
            </div>
        </div>

    </div>
</div>
<?php echo $this->form()->closeTag(); ?> 