

<?php
/**
 * This file is used to get user development
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.development.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="create-contacts">    
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="full">
            <div id="success-message" class="success-msg" style="display:none;"></div>
            <div id="import-error" class="error-msg" style="display: none;"></div>
            <div id="import-success" class="success-msg" style="display: none;"></div>
        </div>
        <?php
        $development_upload_form->prepare();
        //$development_upload_form->setAttribute('action', '/upload-excel');
        echo $this->form()->openTag($development_upload_form);
        ?>
        <div class="head "><span><?php echo $translator['L_IMPORT_FILE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">                    
                    <label class="width-190"><?php echo $translator['L_SELECT_FILE'] ?></label>                                  
                    <?php echo $this->formRow($development_upload_form->get('file_name')); ?> 
                    <a href="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/tmp/1_development.xls" class="link left m-10" >Sample Excel File</a>
                    <?php //echo $this->formRow($development_upload_form->get('submit_file')); ?>
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('onSubmit', 'return checkCustomValidation()');
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        //echo $this->formRow($form->get('jobhistory')->get('company_id[]'));
        ?>
        <div class="head "><span><?php echo $translator['L_DEVELOPMENT_INFORMATION'] ?></span></div>
        <div class="detail-section error-label-large">
            <div class="common-form development-input-size">
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_TOTAL_GIVING_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('total_given_amount')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_TOTAL_NUMBER_OF_GIFTS'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('total_no_of_gifts')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_LAST_GIFT_DATE'] ?></label>
                        <?php echo $this->formRow($form->get('last_gift_date')); ?>
                    </div>
                    <div class="col1  right">
                        <label class="width-190"><?php echo $translator['L_LAST_GIFT_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('last_gift_amount')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_LARGEST_GIFT_DATE'] ?></label>
                        <?php echo $this->formRow($form->get('largest_gift_date')); ?>
                    </div>
                    <div class="col1  right">
                        <label class="width-190"><?php echo $translator['L_LARGEST_GIFT_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('largest_gift_amount')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_TOTAL_INCOME'] . ' ' . $translator['L_DOLLER'] ?>$</label>
                        <?php echo $this->formRow($form->get('total_income')); ?>
                    </div>
                    <div class="col1  right">
                        <label class="width-190"><?php echo $translator['L_TOTAL_REAL_ESTATE_VALUE'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('total_real_estate_value')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_TOTAL_STOCK_VALUE'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('total_stock_value')); ?>
                    </div>
                    <div class="col1  right">
                        <label class="width-190"><?php echo $translator['L_TOTAL_PENSION_VALUE'] ?></label>
                        <?php echo $this->formRow($form->get('total_pension_value')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_TOTAL_POLTICAL_NON_PROFIT_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('total_political_non_profit_giving_amount')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_INCOME_OF_EGC_CALCULATION'] . ' ' . $translator['L_DOLLER'] ?></label>
                        <?php echo $this->formRow($form->get('income_portion_of_egc_calculation')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_POL_PROFIT_PORTION_ECG_CALC'] ?></label>
                        <?php echo $this->formRow($form->get('pol_non_profit_giving_portion_of_egc_calc')); ?>
                    </div>
                    <div class="col1  right">
                        <label class="width-190 no-padd"><?php echo $translator['L_RATING_SUMMARY_GIVING_CAPACITY_RATING'] ?></label>
                        <?php echo $this->formRow($form->get('rating_summary_giving_capacity_rating')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_RATING_SUMMARY'] ?></label>
                        <?php echo $this->formRow($form->get('rating_summary_giving_capacity_range')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_ESTTMATED_GIVING_CAPACITY'] ?></label>
                        <?php echo $this->formRow($form->get('estimated_giving_capacity')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_PROPENSITY_TO_GIVE_SCORE'] ?></label>
                        <?php echo $this->formRow($form->get('propensity_to_give_score')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_PROPENSITY_TO_GIVE_SCORE_PART'] ?></label>
                        <?php echo $this->formRow($form->get('propensity_to_give_score_part_2')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_COMBINED_PROPENSITY_TO_GIVE_SCORE'] ?></label>
                        <?php echo $this->formRow($form->get('combined_propensity_to_give_score')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_PLANNING_GIVING_BEQUEST'] ?></label>
                        <?php echo $this->formRow($form->get('planned_giving_bequest')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_PLANNED_GIVING_ANNUITY'] ?></label>
                        <?php echo $this->formRow($form->get('planned_giving_annuity')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_PLANNING_GIVING_TRUST'] ?></label>
                        <?php echo $this->formRow($form->get('planned_giving_trust')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_RATING_SUMMARY_INFLUENCE'] ?></label>
                        <?php echo $this->formRow($form->get('rating_summary_influence')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_RATING_SUMMAR_INCLINATION'] ?></label>
                        <?php echo $this->formRow($form->get('rating_summary_inclination')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_TOTAL_QUALITY_OF_MATCH'] ?></label>
                        <?php echo $this->formRow($form->get('total_quality_of_match')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_CHARITABLE_DONATIONS_OF_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('charitable_donations_of_qom')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_TRUSTEES_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('trustees_qom')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190"><?php echo $translator['L_GIIDESTAR_DIRECTORS_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('guidestar_directors_qom')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_GUIDESTAR_FOUNDATIONS_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('guidestar_foundations_qom')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_HOOVERS_BUSINESS_INFORMATION_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('hoover_business_information_qom')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_HOUSEHOLD_PROFILE_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('household_profile_qom')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_LEXIS_NEXIS_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('lexis_nexis_qom')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="width-190"><?php echo $translator['L_MAJOR_DONOR_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('major_donor_qom')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 no-padd"><?php echo $translator['L_PHILANTHROPIC_DONATIONS_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('philanthropic_donations_qom')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label class="width-190 no-padd"><?php echo $translator['L_VOLUNTEERS_DIRECTORS_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('volunteers_and_directors_qom')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="width-190 "><?php echo $translator['L_WEALTHID_SECURITIES_QOM'] ?></label>
                        <?php echo $this->formRow($form->get('wealth_id_securities_qom')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="head "><span><?php echo $translator['L_BIO_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <?php echo $this->formRow($form->get('bio_information')); ?>
                </div>
            </div>
        </div>
        <div class="head "><span><?php echo $translator['L_GIFTS_TO_SOLEIF'] ?></span></div>
        <div class="detail-section p-b-0">
            <div class="common-form">                
                <div class="grid-section">
                    <div id="success_message"></div>
                    <div class="grid-box">       
                        <table id="list"></table>
                        <div id="pcrud"></div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="head "><span><?php echo $translator['L_GIFTS_TO_OTHER_ORG'] ?></span></div>
        <div class="detail-section error-msg-left">
            <div class="common-form" id="organization_div">                
                <?php
                $i = 0;
                if (!empty($getUserOrgGift)) {
                    $totalUserOrgGift = count($getUserOrgGift);
                    foreach ($getUserOrgGift as $key => $val) {
                        ?>
                        <div class="change-form-bg org_container_<?php echo $i; ?>" id="org_container_<?php echo $i; ?>" style="width:97.5%; padding:15px">
                            <div class="row">
                                <div class="col6 relative">
                                    <label><?php echo $translator['L_YEAR'] ?></label>
                                    <?php
                                    if ($val['year'] != '0000') {
                                        echo $this->formRow($form->get('gift')->get('year[]')->setValue($val['year']));
                                    } else {
                                        echo $this->formRow($form->get('gift')->get('year[]'));
                                    }
                                    ?>
                                </div>
                                <div class="col6 relative">
                                    <label><?php echo $translator['L_ORGANIZATION'] ?></label>
                                    <?php echo $this->formRow($form->get('gift')->get('organization[]')->setValue($val['organization'])); ?>
                                </div>
                                <div class="col6 relative">
                                    <label><?php echo $translator['L_TYPE_ORGANIZARION'] ?></label>
                                    <?php echo $this->formRow($form->get('gift')->get('organization_type[]')->setValue($val['organization_type_id'])); ?>
                                </div>
                                <div class="col6 relative">
                                    <label><?php echo $translator['L_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                                    <?php echo $this->formRow($form->get('gift')->get('amount[]')->setValue($val['amount'])); ?>
                                    <?php
                                    if ($totalUserOrgGift > 1) {
                                        echo '<a onclick="remove_dynamic_contacts(\'.org_container_' . $i . '\',\'' . $i . '\')" class="minus"></a>';
                                    }
                                    if ($key == ($totalUserOrgGift - 1)) {
                                        echo '<a class="plus" id="load_org_div" href="javascript:void(0)"></a>';
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                        <?php
                        $i++;
                    }
                } else {
                    ?>
                    <div class="change-form-bg org_container_<?php echo $i; ?>" id="org_container_<?php echo $i; ?>" style="width:97.5%; padding:15px">
                        <div class="row">
                            <div class="col6 relative">
                                <label><?php echo $translator['L_YEAR'] ?></label>
                                <?php echo $this->formRow($form->get('gift')->get('year[]')); ?>
                            </div>
                            <div class="col6 relative">
                                <label><?php echo $translator['L_ORGANIZATION'] ?></label>
                                <?php echo $this->formRow($form->get('gift')->get('organization[]')); ?>
                            </div>
                            <div class="col6 relative">
                                <label><?php echo $translator['L_TYPE_ORGANIZARION'] ?></label>
                                <?php echo $this->formRow($form->get('gift')->get('organization_type[]')); ?>
                            </div>
                            <div class="col6 relative">
                                <label><?php echo $translator['L_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
                                <?php echo $this->formRow($form->get('gift')->get('amount[]')); ?>
                                <div class="addMinus">
                                    <a class="plus" href="javascript:void(0)" id="load_org_div"></a> 
                                </div>
                            </div>
                        </div>
                        <?php $i++; ?>
                    </div>
                    <?php
                }
                ?>
                <div id="org_counter" style="display:none;"><?php echo $i; ?></div>
            </div>
        </div>
        <div class="head "><span><?php echo $translator['L_JOB_HISTORY'] ?></span></div>
        <div class="detail-section">
            <div class="common-form" id="job_history_div">
                <?php 
                $i = 0;
                if (!empty($getUserJobHistory)) {
                    $totalUserJobHistory = count($getUserJobHistory);
                    foreach ($getUserJobHistory as $key => $val) {
                        if ($val['period_from'] != '') {
                            $val['period_from'] = $this->Dateformatalpha($val['period_from'], 'calender');
                        }
                        if ($val['period_to'] != '') {
                            $val['period_to'] = $this->Dateformatalpha($val['period_to'], 'calender');
                        }
                        $this->formRow($form->get('jobhistory')->get('period_from[]')->setAttribute('id', 'period_from' . $key));
                        $this->formRow($form->get('jobhistory')->get('period_to[]')->setAttribute('id', 'period_to' . $key));
                        $this->formRow($form->get('jobhistory')->get('comp_name[]')->setAttribute('id', 'comp_name' . $key));
                        $this->formRow($form->get('jobhistory')->get('company_id[]')->setAttribute('id', 'company_id' . $key));
                        echo $this->formRow($form->get('jobhistory')->get('company_id[]')->setValue($val['company_id']));
                        ?>
                        <div class="change-form-bg row job_history_container_<?php echo $key; ?>" id="job_history_container_<?php echo $key; ?>" style="width:97.5%; padding:15px">
                            <div class="row">
                                <div class="col1">
                                    <label><?php echo $translator['L_JOB_TITLE'] ?></label>
                                    <?php echo $this->formRow($form->get('jobhistory')->get('job_title[]')->setValue($val['job_title'])); ?>
                                </div>
                                <div class="col1 right">
                                    <input type='hidden' name="totaljob" id="<?php echo $totalUserJobHistory;?>">
                                    <label><?php echo $translator['L_SELECT_COMPANY'] ?></label>
                                    <div class="search-input-bg">
                                        <?php echo $this->formRow($form->get('jobhistory')->get('comp_name[]')->setValue($val['company_name'])); ?>
                                        <input name="" type="button" value="" class="search-btn">
                                    </div>
                                   <script>
                                       var totalUserJobHistory = $("#totaljob").val();
                                       var key = "";
                                   if (totalUserJobHistory > 1) {
                                       html('<a onclick="remove_dynamic_contacts(\'.job_history_container_' . $i . '\',\'' . $i . '\')" class="minus"></a>');
                                    }
                                    if (key == ($totalUserJobHistory - 1)) {
                                       html('<a class="plus m-r-5" id="load_job_history" href="javascript:void(0)"></a>)';
                                    } 
                                    </script>
                                    <div class="row p-b-0">
                                        <label>&nbsp;</label>
                                        <label class="auto">OR</label>
                                        <a href="javascript:void(0);" onClick="createComapny('<?php echo $key; ?>');" id="create_contact" class="create_contact link m-t-8 left"><?php echo $translator['L_CREATE_COMPANY'] ?></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-padd">
                                <div class="col1">
                                    <label><?php echo $translator['L_INDUSTRY']; ?></label>
                                    <?php echo $this->formRow($form->get('jobhistory')->get('industry[]')->setValue($val['industry_id'])); ?>
                                </div>
                                <div class="col1 right">
                                    <label><?php echo $translator['L_PERIOD'] ?></label>
                                    <?php echo $this->formRow($form->get('jobhistory')->get('period_from[]')->setValue($val['period_from'])); ?>

                                    <label class="auto"><?php echo $translator['L_PERIOD_TO'] ?></label>
                                    <?php echo $this->formRow($form->get('jobhistory')->get('period_to[]')->setValue($val['period_to'])); ?>

                                </div>               
                            </div>
                        </div>
                        <?php
                        $i++;
                    }
                } else {
                    echo $this->formRow($form->get('jobhistory')->get('company_id[]'));
                    ?>
                    <div class="change-form-bg row job_history_container_<?php echo $i; ?>" id="job_history_container_<?php echo $i; ?>" style="width:97.5%; padding:15px">
                        <div class="row">
                            <div class="col1">
                                <label><?php echo $translator['L_JOB_TITLE'] ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('job_title[]')); ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_SELECT_COMPANY'] ?></label>
                                <div class="search-input-bg">
                                    <?php echo $this->formRow($form->get('jobhistory')->get('comp_name[]')); ?>
                                    <input name="" type="button" value="" class="search-btn">
                                </div>
                                <div class="addMinus">
                                    <a class="plus m-r-5" href="javascript:void(0)" id="load_job_history"></a> 
                                </div>
                                <div class="row p-b-0">
                                    <label>&nbsp;</label>
                                    <label class="auto">OR</label>
                                    <a href="javascript:void(0);" onClick="createComapny('0');" id="create_contact" class="create_contact link m-t-8 left"><?php echo $translator['L_CREATE_COMPANY'] ?></a>
                                </div>
                            </div>
                        </div>
                        <div class="row no-padd">
                            <div class="col1">
                                <label><?php echo $translator['L_INDUSTRY'] ?></label>
                                <?php
                                echo $this->formRow($form->get('jobhistory')->get('industry[]'));
                                foreach ($industryListDesc AS $key => $val) {
                                    if (isset($val) && !empty($val))
                                        echo "<div class='industry_desc" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                                }
                                ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_PERIOD'] ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('period_from[]')); ?>

                                <label class="auto"><?php echo $translator['L_PERIOD_TO'] ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('period_to[]')); ?>

                            </div>               
                        </div>
                    </div>
                    <?php
                    $i++;
                }
                ?>
                <div id="job_history_counter" style="display:none;"><?php echo $i ?></div>
            </div>
        </div>
        <div class="head "><span><?php echo $translator['L_PRIVATE_DOCUMENTS'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <label class="no-padd"><?php echo $translator['L_DESCRIPTION'] ?></label>
                    <?php echo $this->formRow($form->get('description')); ?>
                </div>
                <div id="upload_file_div" class="row">
                    <?php $i = 0; ?>
                    <div class="row file_container_<?php echo $i ?>" id="file_container_<?php echo $i ?>">
                        <label><?php echo $translator['L_UPLOAD_FILE'] ?></label>
                        <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_count')); ?>
                        <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload0')); ?> 
                        <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_file0')); ?>
                        <div class="">
                            <label>&nbsp;</label>
                            <div id="filemessage_<?php echo $i; ?>"></div>
                        </div>
                        <div id="upload_addMinus0" class="addMinus">
                            <a id="add_new_file" class="plus m-l-20" href="javascript:void(0)"></a> 
                        </div>
                        <?php $i++ ?>
                    </div>
                    <div id="count_upload_div" style="display:none"><?php echo $i; ?></div>
                </div>
                <?php
                if (!empty($docFiles)) {
                    foreach ($docFiles as $key => $val) {
                        ?>
                        <div class="row" id="doc_<?php echo $key; ?>">
                            <label><?php echo $translator['L_UPLOADED_FILE'] ?>:</label>
                            <a class="doc-link" href="javascript:void(0);"></a>
                            <a class="link p-l-10 p-t-5 left" href="<?php echo $uploadedFilePath . "development_doc/" . $val; ?>" target='_blank'>
                                <?php //echo $val;   ?>View File
                            </a>
                            <a class="link p-l-10 p-t-5 left" href="javascript:void(0);" onclick="removePrivateDoc('<?php echo $userId; ?>','<?php echo $val; ?>','<?php echo $key; ?>');">
                                Remove
                            </a>
                        </div>
                        <?php
                    }
                }
                ?>

            </div>
        </div>
        <div class="row common-form m-t-20">
            <?php echo $this->formRow($form->get('submit')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?> 
		<div class="head "><span><?php echo "Soft Credit Received" ?></span></div>
			<div class="common-form"><div class="row">
				<a class="cancel-btn m-t-10" onclick="assignSoftCredit();" href="javascript:void(0);">ADD SOFT CREDIT</a>
			</div>
			</div>
        <div class="detail-section p-b-0">
            <div class="common-form">                
                <div class="grid-section">
                    <div id="success_message"></div>
                    <div class="grid-box add_soft" id="gview_list">       
                        <table id="listDonar"></table>
                        <div id="pcrudDonar"></div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
		<div class="head "><span><?php echo "Soft Credit Provided" ?></span></div>
		<div class="detail-section p-b-0">
            <div class="common-form">                
                <div class="grid-section">
                    <div id="success_message"></div>
                    <div class="grid-box add_soft" id="gview_list">       
                        <table id="listProvider"></table>
                        <div id="pcrudProvider"></div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
		
    </div>        
</div>
<div style='display:none'>
    <div id='delete_contact_development_doc' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_user_credit_transaction' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_credit" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_credit" class="green-btn">
        </div>
    </div>
</div>