<?php
/**
 * This file is used to display form of gift
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);
$orgcounter = $params['counter'];

$script = <<<EOD
var counter = $counter;
var container = $container;
var orgcounter = $orgcounter;
$(function(){
        $("#organization_type"+orgcounter).select2();  
    });
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);

$form = $this->form_gift;
$form->prepare();
$form->get('organization_type[]')->setAttribute('id', 'organization_type' . $params['counter']);
?>
<div class="row">
    <div class="col6 relative">
        <label><?php echo $translator['L_YEAR'] ?></label>
        <?php echo $this->formRow($form->get('year[]')); ?>
    </div>
    <div class="col6 relative">
        <label><?php echo $translator['L_ORGANIZATION'] ?></label>
        <?php echo $this->formRow($form->get('organization[]')); ?>
    </div>
    <div class="col6 relative">
        <label><?php echo $translator['L_TYPE_ORGANIZARION'] ?></label>
        <?php echo $this->formRow($form->get('organization_type[]')); ?>
    </div>
    <div class="col6 relative">
        <label><?php echo $translator['L_AMOUNT'] . ' ' . $translator['L_DOLLER'] ?></label>
        <?php echo $this->formRow($form->get('amount[]')); ?> 
        <div class="addMinus<?php echo $params['counter'] ?>"></div>

        <div id="edu_addMinus<?php echo $params['counter'] ?>" class="addMinus">
            <a  class='minus' href="javascript:void(0)" id="remove" onclick=remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>','<?php echo $params['counter']; ?>')></a>
            <a class="plus right m-l-5" href="javascript:void(0)" id="load_org_div"></a>
        </div>        
    </div>
</div> 
