<?php
/**
 * This file is used for display the form for job history
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);
$script = <<<EOD
var counter = $counter;
var container = $container;
$(function(){        
        $("#comp_name"+counter).autocomplete({
            afterAdd : true,
            selectFirst:true,
            autoFocus: true,        
            source: function(request, response) {
                $.ajax({
                    url: "/get-company",
                    method: 'POST',
                    dataType: "json",
                    data: {
                        company_name: $("#comp_name"+counter).val()
                    },
                    success: function( jsonResult ) {
                        var resultset = [];
                        $.each(jsonResult, function() {
                            var id = this.company_id;
                            var value = this.company_name;
                            resultset.push({
                                id:this.company_id,
                                value: this.company_name
                            });
                        });
                        response(resultset);
                    }
                });
            },
            open: function() {
                $('.ui-menu').width(350)
            },            
            change: function(event, ui) {
                if(ui.item)
                {
                    $("#comp_name"+counter).val(ui.item.value);
                    $("#company_id"+counter).val(ui.item.id);
                }
                else{
                    $("#comp_name"+counter).val('');
                    $("#company_id"+counter).val('');
                }
            },
            focus: function(event, ui) {
                $("#company_id"+counter).val(ui.item.id);
                return false;
            },
            select: function(event, ui) { 
				$("#comp_name"+counter).val(ui.item.value);
                $("#company_id"+counter).val(ui.item.id);                
                return false;
            }
        });  
    
        $("select.e1").select2();    
    });    
    $( "#period_from"+counter ).datepicker({
        changeMonth: true,
        changeYear: true,
        onClose: function( selectedDate ) {
            $( "#period_to"+counter ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#period_to"+counter ).datepicker({
        changeMonth: true,
        changeYear: true,
        onClose: function( selectedDate ) {
            $( "#period_from"+counter ).datepicker( "option", "maxDate", selectedDate );
        }
    });
EOD;
echo $this->inlineScript()->prependScript($script)
					 ->prependScript($var);

$form = $this->form_job_history;
$form->prepare();
echo $this->formRow($form->get('company_id[]'));
?>
<div class="row">
    <div class="row">
        <div class="col1">
            <label><?php echo $translator['L_JOB_TITLE'] ?></label>
            <?php echo $this->formRow($form->get('job_title[]')); ?>
        </div>
        <div class="col1 right">
            <label><?php echo $translator['L_SELECT_COMPANY'] ?></label>
            <div class="search-input-bg">
                <?php echo $this->formRow($form->get('comp_name[]')); ?>
                <input name="" type="button" value="" class="search-btn">
            </div>
            <div id="edu_addMinus<?php echo $params['counter'] ?>" class="addMinus">
                <a  class='minus' href="javascript:void(0)" id="remove" onclick=remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>','<?php echo $params['counter']; ?>')></a>
                <a class="plus m-r-5" href="javascript:void(0)" id="load_job_history"></a>
            </div>
            <div class="row p-b-0">
                <label>&nbsp;</label>
                <label class="auto">OR</label>
                <a href="javascript:void(0);" onClick="createComapny('<?php echo $params['counter']; ?>');" class="create_contact link m-t-8 left"><?php echo $translator['L_CREATE_COMPANY'] ?></a></div>
        </div>
    </div>
    <div class="col1">
        <label><?php echo $translator['L_INDUSTRY'] ?></label>
        <?php echo $this->formRow($form->get('industry[]')); ?>
    </div>
    <div class="col1 right">
        <label><?php echo $translator['L_PERIOD'] ?>Period</label>
        <?php echo $this->formRow($form->get('period_from[]')); ?>
        <label class="auto"><?php echo $translator['L_PERIOD_TO'] ?></label>
        <?php echo $this->formRow($form->get('period_to[]')); ?>
    </div>
</div>