<?php
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.softcredit.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'));
/*$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/search.transaction.js?v='.$this->layout()->getVariable('jsVersion'));*/
?>

<div class="create-contacts">
    <h2><?php //echo $translator['L_KIOSK_RESERVATION'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        <div id="successRow" class="success-msg row" style="display:none;"></div>

<!--        <div class="head no-img"><span><?php echo $translator['L_'] ?></span></div>-->

        <?php
        $searchForm = $this->searchForm;
        $searchForm->prepare();
        echo $this->form()->openTag($searchForm);
        ?>
        <div class="head no-img"><span><?php echo "Search Contact" ?></span></div>
        <div class="detail-section">
			<span id="tra-err-msg" style="display:none;" class="error-msg">This transaction has been already added, Please select other transaction.</span>
			<span id="search-err-msg" style="display:none;" class="error-msg">Please enter at least one parameter.</span>
            <span id="search-err-msg_need_two" style="display:none;" class="error-msg">Please enter one more parameter.</span>
            <div class="common-form">
                 <div class="row">
                    <label><?php  echo $translator['L_USERNAME_EMIAL']; ?></label>
                    <?php echo $this->formRow($searchForm->get('name_company_email')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_CONTACT_ID']; ?></label>
                    <?php echo $this->formRow($searchForm->get('user_contact_id')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_TRANSACTION']; ?></label>
                        <?php echo $this->formRow($searchForm->get('user_transaction_id')); ?>
                </div>
               <div class="row">
                    <!-- <div class="col1"> -->
                        <label><?php echo $translator['L_TRANSACTION_DATE']; ?></label>
                        <?php echo $this->formRow($searchForm->get('received_date_range')); ?>
                    <!--  </div> -->
                    <div class="right relative range-select" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($searchForm->get('received_date_from')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($searchForm->get('received_date_to')); ?>
                    </div>
               </div>
               <div class="row">
                    <div class="col1">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($searchForm->get('submit')); ?>
                    </div>
               </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
  </div>
</div>
<div class="grid-section">
<div class="search-results">
    </div>    
    <div class="grid-section">
		<div class="create-contacts ">
		<div class="common-form detail-section">
		<label id="transaction_id_note" style="display:none">Note</label>
			<div class="transaction_id_note-input" id="transaction_id_note_2" style="display:none">
				<span>Enter a note if needed before selecting the contact</span>
				<input type="text" name="notes" class="width-90" id="notes">
			</div>
		</div>
		</div>
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>



