<style>
.img-conatiner{width:1200px; height:785px; margin:auto}
</style>
<?php
$auth = $this->getAuth();
if (!isset($auth->email_id) || $auth->email_id == '') {
	$pageLocation = "kiosk-login";
}
else {
$pageLocation = "kiosk-search";
}
?>
<script>
	window.location.href='<?php echo $pageLocation; ?>';
</script>
<!--
<div class="img-conatiner"><img src="images/page.jpg" alt="" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="41,179,347,242"  onclick="signupPopup();" href="javascript:void(0);"/>
  <area shape="rect" coords="415,158,621,343" href="/passenger" />
<area shape="rect" coords="657,243,786,268" href="/search-woh" />
<area shape="rect" coords="455,424,572,448" href="/search-fof" />
<area shape="rect" coords="447,462,575,484" href="/add-fof-image"/>
<area shape="rect" coords="415,527,622,712" href="#" onclick="javascript:void(0);" />
<area shape="rect" coords="621,526,829,711" href="/shop " />
<area shape="rect" coords="621,342,828,527" href="/" />
<area shape="rect" coords="859,632,1128,696" href="/donate" />
<area shape="rect" coords="40,654,347,718" onclick="checkUserLogin('0');" href="javascript:void(0);" />
<area shape="rect" coords="675,280,762,304" href="/add-woh" />
</map></div>-->