<div id="body-container">
<div class="menu-selection" style="min-height:500px;">
	<h1><small>Ellis Island</small><br>Be a part of history</h1>
	<h3><strong>This kiosk is not available at this time.<br/>Please use another kiosk, or ask a staff member for assistance.</strong></h3>
</div>
</div>