<div id="body-container">
<div class="menu-selection">
	<h1><small>Ellis Island</small><br>Be a part of history</h1>
	<h3>Please choose an option to get started.</h3>
	<ul>
		<?php
		if ($this->layout()->getVariable('https_on') == 1) {
                $httpHttpsUrl = SITE_URL_HTTPS;
            } else {
                $httpHttpsUrl = SITE_URL;
            }		
		if(isset($purchaseSessionModule) && $purchaseSessionModule == 1) {
		?>
			<li class="passenger"><a href="<?php echo $httpHttpsUrl?>/purchase-session">
			<strong>Reserve a session</strong>
			<span><br/>To search for your family's arrival.</span>
			</a></li>
		<?php
		}
		?>
		
		<?php
		if(isset($visitationModule) && $visitationModule == 1) {
		?>
			<li class="commerate"><a href="/visitation-certificate">
			<strong>Commemorate<br> Your Visit</strong>
			<span>Request your free certificate.</span>
			</a></li>
		<?php
		}
		?>
	
	</ul>
	
</div>
</div>