<div id="body-container">
<div class="menu-selection no-mar">

	<h2 class="woh-top-heading">Please choose an option to get started.</h2>

	<ul class="center-img">
		<?php
		if ($this->layout()->getVariable('https_on') == 1) {
                $httpHttpsUrl = SITE_URL_HTTPS;
            } else {
                $httpHttpsUrl = SITE_URL;
            }		
		if(isset($purchaseSessionModule) && $purchaseSessionModule == 1) {
		?>
			<li class="passenger"><a href="<?php echo $httpHttpsUrl?>/purchase-session">
			<strong>Reserve a session</strong>
			<span><br/>To search for your family's arrival.</span>
			</a></li>
		<?php
		}
		?>
		
		<?php
		if(isset($visitationModule) && $visitationModule == 1) {
		?>
			<li class="commerate"><a href="/visitation-certificate">
			<strong>Commemorate<br> Your Visit</strong>
			<span>Request your free certificate.</span>
			</a></li>
		<?php
		}
		?>
		
	<?php   
			if($wohModule == 1) {
		?>
			<li class="wall-of-honor"><a href="/user-add-woh"></a></li>
		<?php
		}
		?>
		<?php
			if($moduleWohDonationStatus == 1) {
		?>
			<li class="make"><a href="<?php echo $httpHttpsUrl ?>/woh-donation"></a></li>
		<?php
		}
		?>			
		<?php
			if($moduleEllisMapStatus == 1) {
		?>
			<li class="ellis"><a href="/ellis-map"></a></li>
		<?php
		}
		?>		
		<?php
			if($modulePromoStatus == 1) {
		?>
			<li class="special"><a href="/woh-special-promotions"></a></li>
		<?php
		}
		?>
		<?php
			if($moduleWohVisitationCertificateStatus == 1) {
		?>
			<li class="woh-visitation-certificate"><a href="/woh-visitation-certificate"></a></li>
		<?php
		}
		?>		
	
	</ul>
	
</div>
</div>