<?php
    $translator = $this->jsLangTranslate;
    $var = '';
    $this->inlineScript()->captureStart();
    if (is_array($this->jsLangTranslate)) {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
    echo $var;
    $this->inlineScript()->captureEnd();
    $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/editHomeSlider.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
<h2><?php echo $translator['L_HOMESLIDER']; ?></h2>
<div class="breadcrumb">
   <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
    <?php
        $form = $this->hsForm;
        $form->prepare();
        echo $this->form()->openTag($form);  
        echo $this->formRow($form->get('slider_image_id'));
    
    ?>
    <div class="head no-img"><span><?php  echo $translator['L_HOMESLIDER_BASIC_INFO']; ?></span></div>
    <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_HOMESLIDER_TITLE']; ?> <span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('image_title')); ?>
                    </div>
                    
                    <div class="col1 right">
                        <label><?php echo $translator['L_HOMESLIDER_UPLOADED_IMAGE']; ?> <span class="red">*</span></label>
                        <?php 
                          echo $this->formRow($form->get('image_name_file')); 
                          echo $this->formRow($form->get('image_name')); 
                          echo $this->formRow($form->get('old_image_name')); 
                        ?>
                        <input id="remove_upload_image" name="remove_upload_image" type="button" value="REMOVE" class="save-btn m-l-10">
                        <div class="full"><span id="filemessage" class="m-l-144"><?php echo $this->p_image_name; ?></span></div>
                        <div class="full"><span class="age-year"><?php echo $translator['L_HOMESLIDER_UPLOADED_IMAGE_NOTE'].$this->minWidth.'/'.$this->minHeight.' in pixels'; ?></span></div>                        
                    </div>
                </div>
                
               <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DESCRIPTION']; ?> <span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('image_description')); ?>
                    </div>
                    
                    <div class="col1 right">
                        <label><?php echo $translator['L_HOMESLIDER_PAGE_URL']; ?></label>
                        <?php echo $this->formRow($form->get('image_link')); ?>
                    </div> 
                </div>
                
                 <div class="row">
                    <div class="col1">
                        <label>&nbsp;</label>
                        <label class="text check" for="link_open"><?php echo $translator['L_HOMESLIDER_OPEN_NEW_WINDOW']; ?></label>
                        <?php echo $this->formRow($form->get('link_open')); ?>
                    </div>
                    
                    <div class="col1 right">
                        <label><?php echo $translator['L_HOMESLIDER_IMAGE_ORDER']; ?></label>
                        <?php echo $this->formRow($form->get('image_order')); ?>
                    </div> 
                </div> 
                
                 <div class="row">
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <label  class="text check" for="is_active"><?php echo $translator['L_HOMESLIDER_THIS_AD_IS_ACTIVE']; ?></label>
                        <div class="full"><?php echo $this->formRow($form->get('is_active')); ?></div>
                    </div>
                </div> 

            </div>
        </div>
    <div class="row common-form m-t-20 p-b-20">
         <?php 
         echo $this->formRow($form->get('updatebutton')); 
         echo $this->formRow($form->get('cancelbutton')); 
         ?>
    </div>
  <?php echo $this->form()->closeTag(); ?>
</div>
</div>