<?php
/**
 * This view is used to create cms content for admin
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var PAGEID = "' . $this->pageId . '";';
$var .= 'var ID = "' . $this->id . '";';
$var .= 'var FLAG = "' . $this->flag . '";';

?>
<script><?php echo $var;?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/cms/addCms.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/tinymce/tinymce.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script>
	$(document).ready(function() {
        tinymce.PluginManager.add('example', function(editor, url) {
            editor.addButton('example', {
                text: 'Gallery',
                icon: false,
                id : 'gallery',
                tooltip: 'Insert Gallery',
                onclick: function() {
                    $.colorbox({
                        width:"600px", 
                        height:"400px",
                        iframe: true,
                        href:"/insert-gallery",
                        onClosed: function() {
                            tinymce.activeEditor.execCommand('mceInsertContent', false,jQuery.parseJSON($("#gallery_data").val()));
                        }
                    });
                }
                
            });
        });
		tinymce.init({
            mode : "specific_textareas",
            editor_selector : "myTextEditor",
            plugins: [
                "link charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages example"
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages | example",
            height:300,
            menubar:false,
            width:'100%'
        });
    });
    function setPlainText(thisobj) {
        var isChecked = thisobj.checked;
        if(isChecked == true){
			tinymce.execCommand("mceRemoveEditor", true, "email_message_body");
        }else{    
            tinymce.execCommand("mceAddEditor", true, "email_message_body");
		}
    }
</script>
<div class="create-contacts">
    <h2><?php echo $translator['L_CMS']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        <?php echo ">> " . $this->pageName; ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->addForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['BASIC_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">

                <?php
                $activeCounter = 0;
                foreach ($this->customForm as $key) {
                    $id = str_replace(" ", "_", $key['content_field_title']);
                    if ($key['content_field_type'] == "editor") {
                        ?>
                        <div class="row no-padd">
                            <label></label>
                            <?php echo $this->formRow($form->get('email_set_text')); ?>
                            <label class="check" for="email_set_text"><?php echo $translator['SET_PLAIN_TEXT']; ?></label>
                        </div>
                        <div class="row">
                            <label><?php echo $key['content_field_title']; ?> </label>
                            <input type="hidden" name="gallery_data" id="gallery_data">
                            <div style="margin-left:144px;"><?php echo $this->formRow($form->get($id)); ?>
                            </div>
                        </div>
                        
                        <?php
                    } else if ($key['content_field_type'] == "text" && $key['content_field_title'] == "Year" && @unserialize(base64_decode($this->id)) == 7) {
                        ?>
                        <div class="row" id="heritage_id" style="display:none">
                            <label><?php echo $key['content_field_title']; ?> </label>
                            <div style="margin-left:144px;"><?php echo $this->formRow($form->get($id)); ?>
                            </div>
                        </div>
                        <?php
                    } else if ($key['content_field_type'] == "file" && $key['content_field_title'] == "Image" && $key['content_type_id'] == 7) {
                        ?>
                        <div class="row" id="image_id" style="display:none">
                            <label><?php echo $key['content_field_title']; ?> </label>
                            <div style="margin-left:144px;"><?php echo $this->formRow($form->get($id)); ?>
                                <?php echo $this->formRow($form->get('Upload_File')); ?>
                            </div>
                            <div class="row m-t-10">
                                <label>&nbsp;</label> <div id="filemessage"></div>
                            </div>
                        </div>
                        <?php
                    } else if ($key['content_field_type'] == "select" && $key['content_field_title'] == "Parent Content" && @unserialize(base64_decode($this->id)) == 7) {
                        ?>
                        <div class="row" id="parent_content_id" style="display:none">
                            <label><?php echo $key['content_field_title']; ?> </label>
                            <div style="margin-left:144px;"><?php echo $this->formRow($form->get($id)); ?>
                            </div>
                            <div class="row m-t-10">
                                <label>&nbsp;</label> <div id="filemessage"></div>
                            </div>
                        </div>
                        <?php
                    } else if ($key['content_field_type'] == "checkbox") {
                        if ($key['content_field_title'] == "Provide Navigation from Menu") {
                            ?>
                            <div class="row">
                                <label></label>
                                <?php echo $this->formRow($form->get($id)); ?>
                                <label class="check" for="<?php echo $id; ?>"><?php echo $key['content_field_title']; ?></label>
                            </div>
                            <div id="menu_link" style="display: none;">
                                <?php
                            } else if ($key['content_type_id'] == '6') {
                                if ($activeCounter == 0) {
                                    ?>
                                    <div class="row">
                                        <label>Display to</label>
                                        <?php echo $this->formRow($form->get($id)); ?>
                                        <label class="check" for="<?php echo $id; ?>"><?php echo $key['content_field_title']; ?></label>
                                        <?php
                                    } else if ($activeCounter == 2) {
                                        echo $this->formRow($form->get($id));
                                        ?>
                                        <label class="check" for="<?php echo $id; ?>"><?php echo $key['content_field_title']; ?></label>
                                    </div>
                                    <?php
                                } else {
                                    echo $this->formRow($form->get($id));
                                    ?>
                                    <label class="check" for="<?php echo $id; ?>"><?php echo $key['content_field_title']; ?></label>
                                    <?php
                                }
                                $activeCounter++;
                            } else {
                                ?>
                                <div class="row">
                                    <label></label>
                                    <?php echo $this->formRow($form->get($id)); ?>
                                    <label class="check" for="<?php echo $id; ?>"><?php echo $key['content_field_title']; ?></label>
                                </div>
                                <?php
                            }
                        } else if ($key['content_field_type'] == "select" && $key['content_field_title'] == "Category") {
                            ?>
                            <div class="row">
                                <label><?php echo $key['content_field_title']; ?></label>
                                <?php echo $this->formRow($form->get($id)); ?> 
                                <a class="link m-l-5" href="javascript:void(0)" onclick="manageCategory()">Manage Category</a>
                            </div>
                            <?php
                        } else if ($key['content_field_type'] == "select" && $key['content_field_title'] == "Footer Menu Placement") {
                            ?>
                            <div class="row">
                                <label><?php echo $key['content_field_title']; ?></label>
                                <?php echo $this->formRow($form->get($id)); ?>
                            </div>
                        </div>
                        <?php
                    } else if ($key['content_field_type'] == "file") {
                        ?>
                        <div class="row">
                            <label><?php
                echo $key['content_field_title'];
                        ?> </label>
                            <?php echo $this->formRow($form->get($id)); ?>
                            <input type="hidden" id="Upload_File" name="Upload_File" value="">
                            <div class="row m-t-10">
                                <label>&nbsp;</label> <div id="filemessage"></div>
                            </div>
                        </div>
                        <?php
                    } else if ($key['content_field_type'] == "hidden" && $key['content_field_title'] != 'Upload File') {
                        echo $this->formRow($form->get($id));
                    } else {
                        ?>
                        <div class="row"><?php
                if ($key['content_field_title'] != 'Date') {
                    echo "<label>" . $key['content_field_title'];
                    if ($key['content_field_title'] == "Title") {
                        echo "<span class='red'>*</span></label>";
                        echo "</label>";
                    } else {
                        echo "</label>";
                    }
                }
                echo $this->formRow($form->get($id));
                if ($key['content_field_title'] == "Header Menu Placement") {
                    echo '<a onclick="selectMenu();" href="Javascript: void(0)" class="link m-t-8 left m-l-15">Select Menu</a>';
                }
                        ?>
                        </div>
                        <?php
                    }
                }
                if($key['content_type_id'] != '19'){
                ?>                
                <div class="row">
                    <label></label>
                    <label class="check" for="is_right">Provide Right Section</label>

                    <?php echo $this->formRow($form->get('is_right')); ?>
                </div>
                <?php
                }
                ?>
                <div id="right_section_div" style="display: none">
                    <div class="row">
                        <label class="no-padd"><?php echo $translator['RIGHT_SECTION']; ?></label>
                        <?php echo $this->formRow($form->get('right_section')); ?>
                    </div>
                    <div class="row">
                        <label class="no-padd"><?php echo $translator['NUM_ADS']; ?></label>
                        <?php echo $this->formRow($form->get('num_ads')); ?>
                    </div>
                </div>

            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['META_TAGS']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <label><?php echo $translator['CONTENT_URL']; ?></label>
                    <span class="url-text"><?php echo SITE_URL . "/"; ?></span>
                    <div class="url-error"><?php echo $this->formRow($form->get('content_url')); ?>
                    <?php echo $this->formRow($form->get('content_url_hidden')); ?></div>

                    <div id="success_message" class="success-msg" style="display:none"></div>
                    <div id="error_message" class="error-msg" style="display:none"></div>
                </div>
                <div class="row">
                    <label><?php echo $translator['PAGE_TITLE']; ?></label>
                    <?php echo $this->formRow($form->get('page_title')); ?>
                </div>
                <div class="row">
                    <label class="no-padd"><?php echo $translator['DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($form->get('page_description')); ?>
                </div>
                <div class="row">
                    <label class="no-padd"><?php echo $translator['ABSTRACT']; ?></label>
                    <?php echo $this->formRow($form->get('abstract')); ?>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['KEYWORDS']; ?></label>
                        <?php echo $this->formRow($form->get('keywords')); ?>
                    </div>
                </div>

            </div>
        </div>
        <div class="row common-form m-t-20 p-b-20">
            <?php echo $this->formRow($form->get('savebutton')); ?>
            <?php echo $this->formRow($form->get('cancelbutton')); ?>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
