<?php 
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}

$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/fileUpload/jquery.fileupload-ui.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/fileUpload/bootstrap.min.css?v='.$this->layout()->getVariable('cssVersion'));
				 
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/main.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-ui.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-validate.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-video.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-audio.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-image.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.fileupload-process.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<!-- Bootstrap styles -->
<!-- Generic page styles -->
<!-- blueimp Gallery styles 
<link rel="stylesheet" href="css/blueimp-gallery.min.css">  -->
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/fileUpload/jquery.fileupload-ui-noscript.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>"></noscript>
<!-- The File Upload processing plugin-->
      <div class="create-contacts">
        <h2><?php echo $translator['L_ALBUMS']?></h2>
      <div class="breadcrumb">
          <a href="#"><?php echo ucfirst($param['gallery_name'])?></a> » <a href="#" class="active"><?php echo $translator['L_UPLOAD_IMAGE_VIDEO']?></a>
      </div>
        
        <div class="accordion-detail">
<div class="head no-img"><span><?php echo $translator['L_ALBUMB_BASIC_INFO']?></span></div>
   <div class="detail-section">
              <div class="common-form">
                <div class="row file-upload-msg">
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
        ?>
     <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="left">
                <span class="btn btn-success fileinput-button">
                    <span>Add files...</span>
                   <?php //echo $this->formRow($form->get('files[]')); ?>
                    <input id="files" type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <span>Delete</span>
                </button>
                
                </span>
		<span class="m-l-10 left m-t-5">
                    <?php echo $this->formRow($form->get('deletAll')); ?>
                    <label class="text check" for="deletAll">&nbsp;</label>
		</span>
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <div class="col-lg-7">
                Allowed File Types : JPEG,JPG,PNG,MP4
                <br />
                Allowed File Size : <?php echo ($translator['gallery_file_size']/(1024*1024)). " MB"; ?>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        
        <table role="presentation" class="table table-striped"><tbody class="files">
                 <tr><th><?php echo $translator['L_IMAGE_VIDEO']?></th><th><?php echo $translator['L_CAPTION']?></th><th><?php echo $translator['L_FILE_SIZE']?></th><th><?php echo $translator['L_ACTION']?></th></tr>
               
            </tbody></table>
          <?php echo $this->formRow($form->get('gallery_id')); 
                echo $this->formRow($form->get('save_images')); 
                echo $this->formRow($form->get('counter'));  
                echo $this->formRow($form->get('cancelbutton')); 
                echo $this->form()->closeTag(); 
                
            ?>
       
                </div>
              </div>
   </div>
</div>
      </div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
        <!--    {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            {% } %}-->
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}<input type="hidden" name="content_file_name[]" value="{%=file.content_file_name%}">
                <input type="hidden" name="phy_file_name[]" value="{%=file.name%}">
                <input type="hidden" name="file_type[]" value="{%=file.type%}">
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.content_file_name%}</a>
                {% } else { %}
                    <span>{%=file.name%}<input type="text" name="file[]" value="{%=file.name%}"></span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button onClick="subcountValue();" class="btn btn-danger delete left" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <span>Delete</span>
                </button>
				<span class="m-l-10 left m-t-5"> 
			
               <input type='checkbox' name='delete' id='{%=file.randomId%}' value='1' class='e2 toggle'>
               <label class='text check checkDeleteLabel' for='{%=file.randomId%}'>&nbsp;</label>
			 
             </span>
              
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>
