
<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/cms.addgallery.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));

?>

      <div class="create-contacts">
        <h2>Albums</h2>
 <div class="breadcrumb">
       <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
        <div class="accordion-detail">
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
            <div class="head no-img"><span><?php echo $translator['L_ALBUMB_BASIC_INFO']?></span></div>
            <div class="detail-section">
              <div class="common-form">
                <div class="row">
                  <label><?php echo $translator['L_ALBUMB_NAME']?> <span class="red">*</span></label>
                  <?php echo $this->formRow($form->get('albumb_name')); ?>
                </div>
                <div class="row no-padd">
                  <label class="no-padd"><?php echo $translator['L_ALBUMB_DESCRIPTION']?></label>
                   <?php echo $this->formRow($form->get('albumb_description')); ?>
                 
                </div>
              </div>
            </div>
    
            <div class="row common-form no-padd m-t-15">
                
               <?php echo $this->formRow($form->get('csrf')); ?>
               <?php echo $this->formRow($form->get('add_gallery')); ?>
               <?php echo $this->formRow($form->get('remove')); ?>
            </div>
        <?php echo $this->form()->closeTag(); ?>
        </div>
      </div>



