<?php
/**
 * This view is used for viewing board of directors details page
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$filePath = $this->filePath;
$fileRelativePath = $this->fileRelativePath;

$script = <<<EOD
$(function() {
        $('.slider').each(function() {
            $(this).cycle({
                fx: 'scrollHorz',
                speed: 400,
                timeout: 0,
                next: $(this).prev(),
                prev: $(this).prev().prev()
            });
        });        
    });    
    function displaySlider(id,key){
        $("div[id^='slide_"+key+"']").hide();
        $("#slide_"+key+"_"+id).show();
    }
EOD;

$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slider-front.css?v='.$this->layout()->getVariable('cssVersion'));
					  
$this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/index.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/cms/view.cms.content.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jwplayer/jwplayer.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);

if(isset($content[0]['page_title']) and trim($content[0]['page_title']) != "") { $this->headTitle(trim($content[0]['page_title'])); }
if(isset($content[0]['page_description']) and trim($content[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($content[0]['page_description'])); }
if(isset($content[0]['page_abstract']) and trim($content[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($content[0]['page_abstract'])); }
if(isset($content[0]['page_keywords']) and trim($content[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($content[0]['page_keywords'])); }
$this->headMeta();
?>
<div class="inner-header">
    <h1><?php echo $content[0]['content_type']; ?></h1>
</div>

    <div class="content-layout-outer clearfix">
        <div class="container">            
            <div class="content-layout-right">
                <?php
                $count = count($rightContent) > count($adsContent) ? count($rightContent) : count($adsContent);
                $addCount = count($adsContent);
                for ($i = 0; $i < $count; $i++) {
                    if ($i < $addCount) {
                        ?>
                        <div class="home-add">
                            <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                        </div>
                        <?php
                    }
                    if (isset($rightContent[$i]) && !empty($rightContent[$i])) {
                        if ($this->getAuth() === false && $rightContent[$i]['id'] == '6') {
                            echo $rightContent[$i]['content'];
                        } else if ($rightContent[$i]['id'] != '6') {
                            echo $rightContent[$i]['content'];
                        }
                    }
                }
                ?>
            </div>
            <div class="content-layout-left">
		<table>
		<tr>
		<td>
               <h1><?php echo $content[0]['content_title']; ?></h1> 
               <?php
               if(isset($content[0]['url']) && !empty($content[0]['url'])){
               ?>
               <a target="blank" href="<?php echo "http://".$content[0]['url']; ?>" class="button green right semibold">Go</a>
               <?php } ?>
               <p class="date"><?php echo $this->Dateformatalpha($content[0]['added_date'],'displaymonthformat'); ?></p>
		 <?php echo $content[0]['description']; ?>
		</td>
		</tr>
                 </table>              
            </div>

        </div>
    </div>
