
<p>
    <script>// <![CDATA[
        function jumpto(){
            var href = "<a href=\"#"+$("#search_to").val()+"\" class=\"button semibold\">Go</a>";
            $("#jumpto").html(href);
        }
        $(function(){
            $("#search").click(function(){
                linkText = $("#cnt").html();
                $("#cnt").html(linkText.replace(/<[\/]{0,1}(span|SPAN)[^><]*>/g,""));
                var match = $("#keyword").val();
                var re = new RegExp(match,"g");
                $("#cnt:contains(" + match + ")").each(function(){
                    var $this = $(this);
                    $this.html(function(){
                        return $this.html().replace(re, "<span style='color:red'>"+match+"</span>");
                    });
                });
            })});
        // ]]></script>
</p>



<div>
    <div class="search-section clearfix">

        <label>search:</label> <input id="keyword" style="width: 300px;" tabindex="1" name="keyword" type="text" placeholder="enter text..." /> <input id="search" class="button semibold" tabindex="2" type="button" value="Search" /><br /> <br /> <label>jump to section:</label><select id="search_to" style="width: 230px;" tabindex="3" onchange="jumpto()">
            <option>Search</option>

            <option value="two-page-manifest">Two Page Manifest</option>
            <option value="ordering">Ordering</option>
            <option value="membership">Membership</option>
            <option value="returns">Returns</option>
            <option value="errors-missing-frames">Errors and Missing Frames</option>
            <option value="framing">Framing</option>
        </select>
        <span id="jumpto"><a class="button semibold" tabindex="4">Go</a></span></div>
    <div id="cnt" class="clearfix">
        <div id="section-0">
            <h1>Q. I previously visited the Center on Ellis Island and received a swipe card. How do I use it to log on to the Ellis Island web site?</h1>
            <p> A. On the homepage, click on "register to use this site" (in upper right hand corner). On the next screen under "Visited AFIHC on Ellis Island" click on "Register with AFIHC Material". Fill in your card number and your last name. If your name was misspelled at your visit to Ellis Island, misspell it the same way here. At this point you will need to fill out the form. When you are done you will be able to see the manifest record for the passenger you have selected and continue to do other activities. There is no charge for signing in. Viewing passenger records is free.</p>
            <h1>Q. I am already a member of the Statue of Liberty-Ellis Island Foundation but this is my first visit to the web site. What should I do? </h1>
            <p> A. On the homepage, click on "register to use this site" (in upper right hand corner). On the next screen under "Sustaining Member of the Foundation" click "Register with Membership &acirc;&euro;&tilde;Records". At this point, enter your membership number and last name. You will then need to fill out the form. When you are done you will be able to make the most of our website.</p>
            <h1>Q. What if I've forgotten my username and/or password?</h1>
            <p> A. On the homepage, click on "register to use this site" (in upper right hand corner). You will then be prompted in the blue box on the right for a user name and password. Lower down on the box click on "Trouble Signing In?" Then click on "confirm your identity". At this point, enter your email address. The website will then email you your username and password. Please make a note of your user name and password.</p>
            <h1>Q. I live outside the U.S. When I try to register on the web site, it will not accept my phone number. Why is this? </h1>
            <p> A. Phone number is an optional field, so international customers should just leave this field blank. The web site will only accept a ten digit phone number (U.S. phone numbers, including the area code, are ten digits). Most international phone numbers are more than ten digits, so the web site will not accept them.</p>
        </div>
        <div id="section-1">
            <h3><a name="search"></a>SEARCH</h3>
            <h1>Q. Is there a fee to search for manifests?</h1>
            <p> A. No. Searching for and viewing manifests is free. There is a fee to purchase a digital image of the manifest page. We will ask you to register with an email address so that we can email you password and other information. But there is no fee associated with registration.</p>
            <h1>Q. I know my ancestor(s) came through Ellis. Why can't I find them?</h1>
            <p> A. There are about 150 CDs where the image was misindexed during the scanning process. That is, the passenger name is not correctly linked to the proper manifest page. The result is that no image is available even if you find the passenger record. Also, about 1-2 rolls of microfilm - were too poor for the volunteers to be able to transcribe so those names are totally missing from the database. In addition, there may be inaccuracies in family stories, spelling errors, transcription errors, hard-to-read handwriting, etc. The important thing to remember is that there are 22.5 million records in this data base and some level of error was unavoidable.</p>
            <h1>Q. Can I search if I'm not sure of the spelling of the last name or first name? </h1>
            <p> A. Yes. You can enter the leading characters of the last name. You need at least two letters. The first name search does not work the same way. The database will assume that any partial name you put in for the first name, is the exact first name.</p>
            <h1>Q. Can I do wild card searches on the names? </h1>
            <p> A. You must enter at least 2 letters for the last name but the database will assume that is the exact spelling of the name. If you see dots following a letter, that means some letters were indecipherable. You do not need to specify a first name at all or you can put in only one initial or more letters to narrow the search. For instance if you enter Le for the first name you will get matches for all first names that start with Le.</p>
            <h1>Q. Can I look up a passenger by ship or port? </h1>
            <p> A. Not at the current time.</p>
            <h1>Q. Can I do a soundex search to get all names that sound like my ancestor's name but are spelled differently? </h1>
            <p> A. The Ellis Island database uses a customized system that provides a choice of alternate spellings for the name that would sound the same but be spelled differently. For instance Smith, Smyth and Smythe. You cannot do a soundex search per se, but searching on the name will generate a list of possible phonetic equivalents for a broader search.</p>
        </div>
        <div id="section-2">
            <h3><a name="two-page-manifest"></a>TWO PAGE MANIFESTS</h3>
            <h1>Q. Why do I have to pay by the page? I should be able to buy the complete record for the fee.</h1>
            <p> A. The current software is designed to charge by individual manifest page. Some manifests are one page; many are 2 pages. In that case there would be a charge for 2 pages. This charge helps defray the cost of the reproduction of the documents and maintenance of the web site.</p>
            <h1>Q. Why does the website bring me to the second page of the manifest instead of the first? </h1>
            <p> A.The software does not distinguish between a left and a right side, the way the pages lay in the original physical manifest books. The software knows only that there are 2 pages, not which side is which. It is important to use the next and previous keys to check that you are seeing all the pages that belong to the record.</p>
            <h1>Q. How come the page I ordered does not have my ancestor's name on it? </h1>
            <p> A. It is probably the 2nd page of a 2-page manifest. As explained in the previous question, manifest pages don't necessarily come up in left-to-right order. It is important to look at the manifest page closely on the web site to make sure you are ordering the page you want. Only the first page of the manifest has the passenger name on it. Page 2 contains other information. Be sure to click Add to Shopping Cart on the page that has the image you want.</p>
            <h1>Q. I just got my order and I only received half of the manifest when I paid for the entire thing. How do I get the other half?</h1>
            <p> A. Each page of a 2-page manifest must be ordered individually. There is a fee for each page. If you ordered and paid for both pages of a 2-page manifest and only received one page, please contact us immediately so that the additional page can be shipped.</p>
        </div>
        <div id="section-3">
            <h3><a name="ordering"></a>ORDERING</h3>
            <h1>Q. Can I order the manifest for the entire ship? </h1>
            <p> A: No, because ship manifests may consist of hundreds of pages. However, you can order as many manifest pages as you want, a page at a time.</p>
            <h1>Q. How can I buy the passenger record? </h1>
            <p> A: They are available on Ellis Island. We will be making them available for sale on the web in the near future.</p>
            <h1>Q. Why are you charging so much for shipping and handling? I ordered one ship image, and the shipping and handling charges are more than the cost of the image! </h1>
            <p> A. There is a substantial cost involved in producing, handling, and shipping documents. However, we are sensitive to your concerns and are constantly analyzing ways to cost-effectively lower these charges.</p>
            <h1>Q. How long will it take to ship my order? </h1>
            <p> A. Allow 7-10 days for standard shipping; allow 4-5 days for expedited shipping; allow an additional 14 days for custom framing.</p>
            <h1>Q. I just tried to place an order and it would not take my credit card. I got an error message instead. Why?</h1>
            <p> A. Check that the number that was entered correctly and you have selected the correct credit card provider. If both of these are correct, please call customer service at 866-283-6991.</p>
            <h1>Q. I saw something at the gift shop on Ellis Island and I just checked your web site and couldn't find it. Why?</h1>
            <p> A. Actually, nearly everything on the Ellis Island shop is also available on the web. The only exception might be certain books or videos. The web store, however, carries many items not available at the shop on Ellis Island.</p>
        </div>
        <div id="section-4">
            <h3><a name="membership"></a>MEMBERSHIP QUESTIONS</h3>
            <h1>Q. By joining the foundation, I am supposed to be entitled to 1 free printout. I just placed an order and was charged for both manifests. Why?</h1>
            <p> A. Members do not receive free printouts of manifests or ship pictures. They are entitled to a free paper or CD copy of a family scrapbook. Also, all visitors to Ellis Island receive a free Passenger Record with their search session. Passenger Records are not available on the web at the current time.</p>
            <h1>Q. Why didn't I receive my member discount?</h1> 
            <p> A. Check that you have a valid membership and that the membership was purchased prior to the order. If so, chances are that you registered without using your membership number so that there are two records for you in the system, one for your Family History Center (ellisisland.org) registration and one for your Foundation membership. Please call 212-561-4500 and ask for Donor Services for help.</p>
        </div>
        <div id="section-5">
            <h3><a name="returns"></a>RETURNS</h3>
            <h1>Q. Why doesn't the Packing Slip mention that the images are non-refundable? And your website states that if I'm not satisfied, I can return it for a refund.</h1>
            <p> A. Our web site states in the customer service portion of the gift shop that documents are custom produced upon request from a huge database of 3 &Acirc;&frac12; million manifest pages. They can only be replaced for the same document if they are damaged in shipping.</p>
            <h1>Q. I have received the manifest I ordered and the image is not clear. How can you charge the American public so much for an illegible xerox-like document? </h1>
            <p> A. We hope to improve image clarity in the future. However, the original documents themselves were very old and often very hard to read. When they were microfilmed 60 years ago the result was less than perfect copies. There was also a wide variety among them, as the 3 &Acirc;&frac12; million manifest pages came from different books covering many years. We can't custom adjust every page in the reproduction process. The documents we provide to the public are not simply "Xeroxed". The microfilm was scanned into the computer to produce a digital image. We print them on specially ordered archival paper which will last 200-300 years. There are substantial costs involved in the production, fulfillment and shipping of these documents. Proceeds from sales are used to support The Center on-line and on Ellis Island.</p>
        </div>
        <div id="section-6">
            <h3><a name="errors-missing-frames"></a>ERRORS AND MISSING MANIFESTS</h3>
            <h1>Q. I found the passenger's name but when I click to see the original manifest it says "No Image Available". </h1>
            <p> A. The database containing the images of the original manifests is different from the database containing the text information. So it is possible that the original image was never actually scanned or that there is an indexing error so that the system cannot find the image. This is a situation we will address in the future.</p>
            <h1>Q. The Passenger Record says the passenger was on ship "A" but when I click to see the original manifest image, I see a page from ship "B". Why is this? </h1>
            <p> A. This is probably an indexing error. Unfortunately in some cases the passenger name is not correctly pointed to the correct ship manifest page. We are collecting these errors and hope to correct them in the future. Unfortunately, there is no other way to locate your manifest at this time except to laboriously page through a page at a time and hope you come across it. Please e-mail corrections to dberrors@ellisisland.org.</p>
            <h1>Q. I just placed an order for a manifest but my passenger's name was spelled incorrectly. Can you correct the spelling before you send me my order? </h1>
            <p> A. If the misspelling is on the text version of the manifest, then it is probably a human error made by a volunteer who spent thousands of hours laboriously transcribing the information from the original microfilm. We are keeping a list of these errors. For possible corrections in the future, please email corrections to news@ellisisland.org. If the error is on the digital image of the manifest itself, then it is an error that was made at the time the immigrant arrived and is part of the historical record. In this case we cannot make corrections to misspelled names.</p>
            <h1>Q. How come sometimes I can see a manifest or ship image and then at another time I get a message saying "Image not found"? </h1>
            <p> A. This may be caused by a temporary technical problem where the request to find an image is not properly interpreted so the user gets an error message. Try again later.</p>
            <h1>Q. I can't find the original manifest on line. Where can I go to view the actual microfilm?</h1>
            <p> A. You can try the branch offices of the National Archives and Records Administration, some branches of the New York Public Library and Family History Libraries of the Church of Jesus Christ of Latter Day Saints</p>
            <h1>Q. Why can't I see records before 1892 and after 1924?</h1>
            <p> A. The current database was designed to include the immigration records of those who entered through New York Harbor between 1892-1924, the peak years of immigration at Ellis Island. Up to April 18, 1890, Castle Garden was used as the immigrant processing center. On that date the US Treasury took over immigration and moved the processing center to the Barge Office. That office operated until January 1, 1892 when Ellis Island opened. The Barge Office was also used from June 14, 1897 until December 16, 1900 because of a fire that destroyed Ellis Island. The records from this second use of the Barge Office are in the Ellis Island database. After 1924, Congress passed laws that dramatically slowed immigration.</p>
        </div>
        <div id="section-7">
            <h3><a name="framing"></a>FRAMING</h3>
            <h1>Q. Can I buy a manifest or ship picture on Ellis &amp; send for custom framing through the web site? </h1>
            <p> A. No, custom framing is only available when manifests and ship pictures are purchased together through the web site</p>
            <h1>Q. What frames do the logo mats fit?</h1>
            <p> A. They don't. The logo mats are intended to stand alone as a lower-cost framing alternative.</p>
        </div>
    </div>
</div>



<div class="foundation-outer-bg">
    <div class="foundation-inner-bg">
        <div class="container">
            <div class="foundation-left">
                <div class="faq-search-section">
                    <div class="faq-search-box">
                        <span>Search</span>
                        <input type="text" name="" value="enter text..." class="button">
                        <div class="faq-arrow button"></div>
                    </div>
                    <div class="faq-search-box">
                        <span><strong>Jump to Section:</strong></span>
                        <select name="" class="button">
                            <option>
                                Passenger Search
                            </option></select>
                        <div class="faq-arrow button"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>