<?php
/**
 * This view is used to show basic cms page
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
//$this->inlineScript()->captureStart();
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<?php
$script = <<<EOD
$(document).ready(function() { 
        $("select").select2();
    });
	$(function() {
        $('.slider').each(function() {
            $(this).cycle({
                fx: 'scrollHorz',
                speed: 400,
                timeout: 0,
                next: $(this).prev(),
                prev: $(this).prev().prev()
            });
        });
        
    });    
    function displaySlider(id,key){
        $("div[id^='slide_"+key+"']").hide();
        $("#slide_"+key+"_"+id).show();
    }
EOD;

$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slider-front.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/scroll.css?v='.$this->layout()->getVariable('cssVersion'));
				 
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jscrollpane.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/cms/front.gallery.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'))
						  
						  ->prependScript($script)
						  ->prependScript($var);
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jwplayer/jwplayer.js?v='.$this->layout()->getVariable('jsVersion'));
$content = $this->content;
if(isset($content[0]['page_title']) and trim($content[0]['page_title']) != "") { $this->headTitle(trim($content[0]['page_title'])); }
if(isset($content[0]['page_description']) and trim($content[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($content[0]['page_description'])); }
if(isset($content[0]['page_abstract']) and trim($content[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($content[0]['page_abstract'])); }
if(isset($content[0]['page_keywords']) and trim($content[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($content[0]['page_keywords'])); }
$this->headMeta();
?>
<div class="inner-header">
    <h1><?php echo $content[0]['content_title']; ?></h1>
</div>
<div class="content-layout-outer clearfix">
    <?php
    foreach ($rightContent as $key => $val) {
        if ($val['pos'] == '2') {
            echo $val['content'];
        }
    }
    ?>
    <div class="container">
        <div class="content-layout-left">
            <?php
            foreach ($rightContent as $key => $val) {
                if ($val['pos'] == '1') {
                    echo $val['content'];
                }
            }
            echo $content[0]['description'];
            ?>
        </div>
        <?php
        if ($content[0]['is_right_section'] == '1') {
            ?>

            <div class="content-layout-right">
                <?php
                $adsCount = $content[0]['num_ad_blocks'] < count($adsContent) ? $content[0]['num_ad_blocks'] : count($adsContent);
                $count = count($rightContent) > $adsCount ? count($rightContent) : $adsCount;
                for ($i = 0; $i < $count; $i++) {
                    if ($i < $adsCount) {
                        ?>
                        <div class="add-box">
                            <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                        </div>
                        <?php
                    }
                    if (isset($rightContent[$i]) && !empty($rightContent[$i])) {
                        if ($this->getAuth() === false && $rightContent[$i]['id'] == '6' && $rightContent[$i]['pos'] == '3') {
                            echo $rightContent[$i]['content'];
                        } else if ($rightContent[$i]['id'] != '6' && $rightContent[$i]['pos'] == '3') {
                            echo $rightContent[$i]['content'];
                        } else if ($rightContent[$i]['id'] != '6' && $rightContent[$i]['pos'] != '3') {
                            echo $rightContent[$i]['content'];
                        }
                    }
                }
                ?>
            </div>
        </div>
    <?php } ?>
</div>
</div>
<script>
$(function()
{
	$('.scroll-pane').jScrollPane();
});
</script>
<?php if($content[0]['content_url'] == 'woh-shipping-terms' || $content[0]['content_url'] == 'woh-terms-of-use'){ ?>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/css3.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css" />
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/font-kiosk/stylesheet.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css" />
<?php } ?>