<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzgZNg5bknlaVsJN7CivyfvxObzBIcVGY&amp;sensor=true"></script>
<style>
    #map-canvas{height:500px!important; overflow: auto!important;}    

</style>
<?php
$script = <<<EOD
function contactusPopup(){
        $.colorbox({
            width:"730px", 
            height:"930px",
            iframe : true,
            href:"/contactus"
        });
    }
    function initialize() {
        var myLatlng = new google.maps.LatLng(40.70504,-74.01504);
        var mapOptions = {
            zoom: 18,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var contentString = '<address>'+
            '<h3>The Statue of Liberty-Ellis Island Foundation, Inc.</h3>'+
            '<p>Attention: Donor Services<br>'+
            '17 Battery Place #210<br>'+
            'New York, NY 10004-3507<br>'+
            '(212) 561-4588</p>'+
            '<p style="margin-bottom: 0; font-style: italic">We will respond as quickly as possible.</p>'+
            '</address>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 250
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'The Statue of Liberty-Ellis Island Foundation, Inc.'
        });
        infowindow.open(map,marker);
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
EOD;

$this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/contactus.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="inner-header">
    <h1>contact us</h1>
</div>
<div class="contact-outer-bg" id="contentArea">
    <div class="contact-inner-bg">
        <div class="container">
            <div class="contactus-left-section">
				<div class="top-section">
				<h2>Contact The Statue of Liberty-Ellis Island Foundation, Inc.</h2>
                <p>We welcome your comments and questions about The American Immigrant Wall of Honor &reg; and other Foundation projects.</p>
				</div>
                <div class="map clearfix">
                    
                    <div id="map-canvas">&nbsp;</div>
                </div>

                <div class="bottom-section">
                    <?php
                    if ($this->getAuth() === false) {
                        ?>
                        <div class="left-section">
                            <p>If you are already registered with SOLEIF please login and use the Case System to log a question:</p>
                            <br>
                            <div class="buttons">
                                <a class="button semibold" href="javascript:void(0);" onclick="signupPopup();">sign up</a> 
                                
                                
                                <a id="login" class="button green semibold" href='javascript:void(0);' onClick="checkUserLogin('<?php echo $this->Encrypt(SITE_URL.'/profile/'.$this->Encrypt('case')) ?>')";>login &amp; open case ticket</a>
                                
                                
                                <!--                                    <a id="login" class="button green semibold" href="http://lan.soleif/passenger-details/czoxMjoiNjAzNzM0MDIwMzEzIjs=/czo5OiJwYXNzZW5nZXIiOw==">login &amp; open case ticket</a>-->
                            </div>
                        </div>
                       
                    <?php }
                    if ($this->getAuth()) {
                        ?>
                        <div class="right">
                            <h3 class="clearfix">If you are having any problem, please use the Case System to log a question:</h3>
                            <div class="buttons">
                                <a href="<?php echo SITE_URL; ?>/profile/<?php echo $this->Encrypt('case'); ?>" id="add-woh" class="semibold button" href="javascript:void(0);">Add a Case</a></div>
                        </div>
                       
<?php }if ($this->getAuth() === false) { ?>
                        <div class="right-section">
                            <h3>If you are having a problem signing up use our simple contact form.</h3>
							<a class="button semibold" href="javascript:void(0)" onClick="contactusPopup();">use form</a>
                        </div>
<?php } ?>
                </div>

        </div>
        <div class="col5 rightsection omega">
            <?php
            if ($this->getAuth() === false) {
                echo $rightContent;
            }
            ?>
            <div class="home-add">
                <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
            </div>
        </div>
    </div>

</div>
