<?php
/**
 * This view is used to change log of cms
 * @package    Cms
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/cms/crm.cms.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
        <div class="head no-img"><span><?php echo $translator['L_CHANGE_LOG'];  ?></span></div>
        <div class="detail-section">
            <div class="grid-box">
                <table id="list"></table>
                <div id="pcrud"></div>
            </div>
        </div>
    </div>
</div>
