<?php
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slider.css?v='.$this->layout()->getVariable('cssVersion'));

$jsFilePath = $this->layout()->getVariable('jsFilePath');
$jsVersion = $this->layout()->getVariable('jsVersion');

$script = <<<EOD
setTimeout(function(){
    $(".left_arrow").on("click",function(){
        $(".lof-navigator li.active").prev("li").click();
    });
    $(".right_arrow").on("click",function(){
        $(".lof-navigator li.active").next("li").click();
    });
},1000);
EOD;
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/slider/script.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/slider/slider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/slider/jquery.ui-1.8.2.custom.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/cms/cms.addgallery.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($script)
						  ->prependScript($var);
?>
<style>
.lof-navigator-outer{height:100px!important;}    
</style>           
<div class="create-contacts">
    <div class="breadcrumb contact-breadcrumb">
       <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
        <div class="accordion-detail">
           <?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
            <div class="head no-img"><span><?php echo $translator['L_ALBUMB_BASIC_INFO']?></span></div>
           <div class="detail-section">
              <div class="common-form">
                <div class="row">
                  <label><?php echo $translator['L_ALBUMB_NAME']?> <span class="red">*</span></label>
                  <?php echo $this->formRow($form->get('albumb_name')); ?>
                </div>
                <div class="row no-padd">
                  <label class="no-padd"><?php echo $translator['L_ALBUMB_DESCRIPTION']?></label>
                   <?php echo $this->formRow($form->get('albumb_description')); ?>
                 
                </div>
              </div>
            </div>
            <div class="head no-img"><span><?php echo $translator['L_IMAGE_VIDEO_IN_ALBUMB']?></span></div>
             <div class="detail-section">
              <div class="common-form">
                   <?php 
                   if($contentFileName){?>
            <div class="row cms-gallery">
                       <div class="wrapper">
                    <div id="body_container">
                        <div id="lofslidecontent45" class="image-gallery">
                            <div class="lof-main-outer clearfix">
                              <ul class="lof-main-wapper" id="gal">
                    <?php                    
                    foreach($contentFileName as $k=>$img){
                        if($galleryFileType[$k]==2){?>
                            <li>
                                <a href="#" class="bwWrapper video">
                                    <div id="video_<?php echo $k?>"></div>
                                </a>
                                <script type="text/javascript">
                                    setPlayer("<?php echo $k; ?>", "<?php echo $imgPath; ?>", "<?php echo $physicalFileName[$k]; ?>");
                                </script>
                            </li>
                   
                      <?php  }else{?>   
                      <li> <a href="#" class="bwWrapper"><img src="<?php echo $imgPath.'/'.$physicalFileName[$k]?>" alt="" /> </a> </li>
                    <?php }
                    
                    }?>
                  </ul>
                       <div class="tuning"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/season.png" alt="" /></div>
                   </div>
                         <div class="lof-navigator-wapper">
        <div class="lof-navigator-outer">
          <ul class="lof-navigator">               
             <?php foreach($contentFileName as $k=>$img){
               if($galleryFileType[$k]==2){?>       
              <li> <a href="javascript:void(0)" class="bwWrapper"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/video-thumb.png" alt="" /></a><a class="delete_image cboxElement" href="#delete_image"  onClick="deleteImage(<?php echo $galleryImagesIds[$k]?>,<?php echo $galleryFileType[$k]?>,<?php echo $decoded_gallery_id;?>)"></a> </li>
              <?php }else{?>
              <li> <a href="javascript:void(0)" class="bwWrapper"><img src="<?php echo $imgPath.'/thumbnail/'.$physicalFileName[$k]?>" alt="" /></a><a class="delete_image cboxElement" href="#delete_image"  onClick="deleteImage(<?php echo $galleryImagesIds[$k]?>,<?php echo $galleryFileType[$k]?>,<?php echo $decoded_gallery_id;?>)"></a> </li>
             <?php }}?>
          </ul>
        </div>
      </div>         
      <div class="left_arrow"><a href="javascript:void(0)"></a></div>
     <div class="right_arrow"><a href="javascript:void(0)"></a></div>
    

                            </div>
                          </div>
                    </div>
            </div>
                  <?php }?>
              </div>
             </div>
            <div class="row common-form no-padd m-t-15">
              
               <?php echo $this->formRow($form->get('csrf')); ?>
               <?php echo $this->formRow($form->get('albumb_id')); ?>
                <?php echo $this->formRow($form->get('add_gallery')); ?>
               <?php echo $this->formRow($form->get('remove')); ?>
            </div>
        <?php echo $this->form()->closeTag(); ?>
        </div>
      </div>

<div style='display:none'>
    <div id='delete_image' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_IMAGE_MESSAGE'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_image" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_image" class="green-btn">
        </div>
    </div>
</div>

