<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/cms.searchgallery.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Albums</h2>
    <div class="breadcrumb ">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text"><?php echo $translator['L_SEARCHY_GALLERY_BY'] . ' <a href="/create-crm-gallery">' . $translator['L_CREATE_NEW_GALLERY'] . '</a>.' ?>
    </p>

    <div class="accordion-detail">
<?php
if (!empty($messages)) {
    foreach ($messages as $message) {
        echo '<div id="success_message" class="success-msg">';
        echo "<div>" . $message . '</div>';
        echo '</div>';
    }
}
?>  
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_ALBUMBS'] ?></span></div>
        <?php
        $form = $this->searchForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ALBUMB_NAME'] ?></label>
<?php echo $this->formRow($form->get('albumb_name')); ?>
                        <?php echo $this->formRow($form->get('search')); ?>  
                    </div>

                </div>
            </div>
            </form>
        </div>
        <div class="grid-section">
            <div class="grid-box" id="gview_list">
                <table id="list"></table>
                <div id="pcrud"></div>
                <br><br>
            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_content' class="pop-container ">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>