<?php
/**
 * This view is used to get list of content type for admin
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$content = $this->cmsType;
$this->inlineScript()->captureEnd();
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_CMS']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="cms-section">
        <ul>
            <?php
            for ($i = 0; $i < sizeof($content); $i++) {
                if (isset($content[$i]) && !empty($content[$i])) {
                    if (unserialize(base64_decode($content[$i]['content_type_id'])) != '9' && unserialize(base64_decode($content[$i]['content_type_id'])) != '10' && unserialize(base64_decode($content[$i]['content_type_id'])) != '12' && unserialize(base64_decode($content[$i]['content_type_id'])) != '13' && unserialize(base64_decode($content[$i]['content_type_id'])) != '14') {
                        ?>

                        <li><strong><a href = "create-crm-content/<?php echo $content[$i]['content_type_id']; ?>"><?php echo $content[$i]['content_type']; ?></a></strong><span><?php echo $content[$i]['content_type_description']; ?></span></li>
                        <?php
                    }
                }
                $i++;
                if (isset($content[$i]) && !empty($content[$i])) {
                    if (unserialize(base64_decode($content[$i]['content_type_id'])) != '9' && unserialize(base64_decode($content[$i]['content_type_id'])) != '10' && unserialize(base64_decode($content[$i]['content_type_id'])) != '12' && unserialize(base64_decode($content[$i]['content_type_id'])) != '13' && unserialize(base64_decode($content[$i]['content_type_id'])) != '14') {
                        ?>
                        <li class = "odd"><strong><a href = "create-crm-content/<?php echo $content[$i]['content_type_id']; ?>"><?php echo $content[$i]['content_type']; ?></a></strong><span><?php echo $content[$i]['content_type_description']; ?></span></li>
                        <?php
                    }
                }
            }
            ?>
        </ul>

    </div>

</div>