<?php
$translator = $jsLangTranslate;

$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slider.css?v='.$this->layout()->getVariable('cssVersion'));
$jsFilePath = $this->layout()->getVariable('jsFilePath');
$jsVersion = $this->layout()->getVariable('jsVersion');
$script = <<<EOD
setTimeout(function(){
            var divWidth = $(".wrapper").width();
            if(divWidth == 960){
                var script = document.createElement( 'script' );
                script.type = 'text/javascript';
                script.src = "$jsFilePath/js/slider/script.js?v=$jsVersion";               
                $('head')[0].appendChild(script);
                
                $(".left_arrow").click(function(){
                        $(".lof-navigator li.active").prev("li").click();
                });
                $(".right_arrow").click(function(){  
                        $(".lof-navigator li.active").next("li").click();
                });
            }
        },1000);
EOD;
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/slider/slider.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/slider/jquery.ui-1.8.2.custom.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.crmsearchuser.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($script)
						  ->prependScript($var);
?>
<div class="create-contacts">
    <div class="breadcrumb contact-breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_ALBUMB_BASIC_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="view-row no-padd">
                    <div class="col6">
                        <strong><?php echo $translator['L_ALBUMB_NAME'] ?></strong></br>
                        <span class="text"><?php echo $searchResult['gallery_name'] ?></span>
                    </div>
                    <div class="col6">
                        <strong><?php echo $translator['L_ALBUMB_DESCRIPTION'] ?></strong></br>
                        <span class="text w-90"><?php echo $searchResult['gallery_description'] ?></span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_IMAGE_VIDEO_IN_ALBUMB'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php if ($contentFileName) { ?>
                    <div class="wrapper">
                        <div id="body_container">
                            <div id="lofslidecontent45" class="image-gallery">
                                <div class="lof-main-outer clearfix">
                                    <ul class="lof-main-wapper" id="gal">
                                        <?php
                                        foreach ($contentFileName as $k => $img) {
                                            if ($galleryFileType[$k] == 2) {
                                                ?>
                                                <li>
                                                    <a href="#" class="bwWrapper video">
                                                        <div id="video_<?php echo $k ?>"></div>
                                                    </a>
                                                    <script>
                                                        setPlayer("<?php echo $k ?>", "<?php echo $imgPath; ?>", "<?php echo $physicalFileName[$k]; ?>");                                                        
                                                     </script>
                                                </li>

                                            <?php } else { ?>   
                                                <li> <a href="#" class="bwWrapper"><img src="<?php echo $imgPath . '/' . $physicalFileName[$k] ?>" alt="" /> </a> </li>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </ul>
                                    <div class="tuning"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/season.png" alt="" /></div>
                                </div>
                                <div class="lof-navigator-wapper">
                                    <div class="lof-navigator-outer">
                                        <ul class="lof-navigator">               
                                            <?php
                                            foreach ($contentFileName as $k => $img) {
                                                if ($galleryFileType[$k] == 2) {
                                                    ?>       
                                                    <li> <a href="javascript:void(0)" class="bwWrapper"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/video-thumb.png" alt="" /></a> </li>
                                                <?php } else { ?>
                                                    <li> <a href="javascript:void(0)" class="bwWrapper"><img src="<?php echo $imgPath . '/thumbnail/' . $physicalFileName[$k] ?>" alt="" /> </a> </li>
                                                    <?php
                                                }
                                            }
                                            ?>
                                        </ul>
                                    </div>
                                </div>         
                                <div class="left_arrow"><a href="#"></a></div>
                                <div class="right_arrow"><a href="#"></a></div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>