<?php
/**
 * This page is used for case detail information
 * @package    Case_CaseController_getCaseDetailAction
 * @author     Icreon Tech - DT
 */

$translator = $this->jsLangTranslate;

$var = '';

if(is_array($this->jsLangTranslate))
{
	foreach ($jsLangTranslate as $key => $val) {
	    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
	}
}
$var .=' var id="'.$id.'";';
$var .=' var moduleName="'.$moduleName.'";';
$var .=' var mode="'.$this->mode.'";';


$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/jwplayer/jwplayer.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/cms/cms.details.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="create-contacts case">
        <h2><?php echo $translator['L_GALLERY'];?></h2>
        <div class="accordion-detail">
                                <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg" style="margin-top:25px!important">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
            <div id="pageAction">
              <ul class="edit-link m-t-20">
                <li><a href="javascript:void(0);" onclick="viewCrmGalleryDetails()" class="active" id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" onclick="editCrmGalleryDtails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="/upload-crm-gallery-content/<?php echo $id?>" onclick="editCrmGalleryDtails()" id="tab-3">Update Gallery</a></li>
                <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-6"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
              </ul>
            </div>
            <div id="galleryContent"></div>
        </div>
     </div>
