<?php
$script = <<<EOD
$(function()
    {
        $('.scroll-pane').jScrollPane();
        $('.hint-box').hide();
        $('.help').hover( 
        function() {
            $('.hint-box',$(this)).toggle();
        });
		$('.scroll-pane').jScrollPane();
        $('.slideshow').cycle({				  
            fx:'scrollHorz',
            next:'.next',
            prev:'.preview',
            speed:400, 
            timeout:  0,
            pager:  '#nav' 
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script);

if(isset($pageContent[0]['page_title']) and trim($pageContent[0]['page_title']) != "") { $this->headTitle(trim($pageContent[0]['page_title'])); }
if(isset($pageContent[0]['page_description']) and trim($pageContent[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($pageContent[0]['page_description'])); }
if(isset($pageContent[0]['page_abstract']) and trim($pageContent[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($pageContent[0]['page_abstract'])); }
if(isset($pageContent[0]['page_keywords']) and trim($pageContent[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($pageContent[0]['page_keywords'])); }
$this->headMeta();
?>
<?php
$patternGallery = "/{gallery}(.*?){\/gallery}/";
$patternTabbed = "/{tabbed}(.*?){\/tabbed}/";
preg_match_all($patternTabbed, $pageContent[0]['description'], $tabbedGallery);
if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
    foreach ($tabbedGallery[0] as $k => $v) {
        $pageContent[0]['description'] = str_replace($v, '', $pageContent[0]['description']);
    }
}
preg_match_all($patternGallery, $pageContent[0]['description'], $gallery);
if (isset($gallery) && !empty($gallery)) {
    foreach ($gallery[0] as $k => $v) {
        $pageContent[0]['description'] = str_replace($v, '', $pageContent[0]['description']);
    }
}
?>
<div id="details">
    <?php
    if (file_exists($fileRelativePath . 'cms/' . $pageContent[0]['uploaded_file']) && isset($pageContent[0]['uploaded_file']) && !empty($pageContent[0]['uploaded_file'])) {
        ?>
        <div class="img-box">
            <img src="<?php echo $filePath . 'cms/' . $pageContent[0]['uploaded_file']; ?>"  alt="">
        </div>
    <?php } ?>
    <div class="content-box">
        <div  class="scroll-pane heritage-scroll">
            <h1><?php echo $pageContent[0]['content_title']; ?></h1>
            <h3><?php echo $pageContent[0]['short_description']; ?></h3>
            <p><?php echo strip_tags($pageContent[0]['description'], '<a><p><br><img>'); ?></p>
        </div>


    </div>
</div>
<div id="gallery" style="display:none">

</div>
<div id="video" class="video" style="display:none">
    <?php
    $videoFlag = $pageContent[0]['url'];
    if (!isset($videoFlag) || empty($videoFlag)) {
        echo '<label class="error">No video exist.</label>';
        $videoFlag = '1';
    } else {
        if (strpos($pageContent[0]['url'], 'youtube.com') !== false) {
            $video = explode('?v=', $pageContent[0]['url']);
            echo '<iframe width="487" height="274" src="//www.youtube.com/embed/' . $video[count($video) - 1] . '" frameborder="0"></iframe>';
            $videoFlag = '1';
        } else if (strpos($pageContent[0]['url'], 'youtu.be') !== false) {
            $video = explode('/', $pageContent[0]['url']);
            echo '<iframe width="487" height="274" src="//www.youtube.com/embed/' . $video[count($video) - 1] . '" frameborder="0"></iframe>';
            $videoFlag = '1';
        } else if (strpos($pageContent[0]['url'], 'vimeo.com') !== false) {
            $video = explode('/', $pageContent[0]['url']);
            echo '<iframe src="//player.vimeo.com/video/' . $video[count($video) - 1] . '?byline=0&amp;portrait=0&amp;badge=0" width="500" height="281" frameborder="0"></iframe>';
            $videoFlag = '1';
        }
    }
    ?>
    <input type="hidden" value="<?php echo $videoFlag; ?>" id="video_flag">
</div>
<!--- #####
<ul>
    <li><a href="javascript:void(0)" id="show-details"><img src="images/heritage-awards/nav-img2.png" alt=""></a></li>
    <li><a href="<?php echo $pageContent[0]['url']; ?>" target="blank" id="show-video"><img src="images/heritage-awards/nav-img4.png" alt=""></a></li>
</ul> -->
