<?php
/**
 * This view is used to show view fa content
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

$script = <<<EOD
$(function()
    {
        $('.scroll-pane').jScrollPane();
        $('.scroll-pane1').jScrollPane();
        $('.hint-box').hide();
        $('.help').hover( 
        function() {
            $('.hint-box',$(this)).toggle();
        } );
    });
EOD;

echo $this->inlineScript()->prependScript($script)
        ->prependScript($var);

$pageContent = $this->searchResult;
?>
<?php
$patternGallery = "/{gallery}(.*?){\/gallery}/";
$patternTabbed = "/{tabbed}(.*?){\/tabbed}/";
if (isset($pageContent) && !empty($pageContent)) {
    ?>
    <ul>
        <?php
        $i = 0;
        foreach ($pageContent as $key) {
            preg_match_all($patternTabbed, $key['description'], $tabbedGallery);
            if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                foreach ($tabbedGallery[0] as $key1 => $val1) {
                    $key['description'] = str_replace($val1, ' ', $key['description']);
                }
            }
            preg_match_all($patternGallery, $key['description'], $gallery);
            if (isset($gallery) && !empty($gallery)) {
                foreach ($gallery[0] as $key1 => $val1) {
                    $key['description'] = str_replace($val1, ' ', $key['description']);
                }
            }
            $passengerLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('passenger');
            $shipLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('ship');
            $manifestLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('manifest');
            $loginPassengerLink = $this->Encrypt($passengerLink);
            $loginShipLink = $this->Encrypt($shipLink);
            $loginManifestLink = $this->Encrypt($manifestLink);
            ?>
            <li <?php if ($i % 2 == 1) { ?> class='last' <?php } ?>>
                <div class = "img-active-detail">
                    <?php
                    if ($this->getAuth() === false) {
                        ?>
                        <div class = "img-detail-record">
                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/passenger-record.png"></a>
                        </div>
                        <div class = "img-detail-record">
                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginShipLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-image.png"></a>
                        </div>
                        <div class = "img-detail-record">
                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginManifestLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-manifest.png"></a>
                        </div>
                        <?php
                    } else {
                        ?>
                        <div class = "img-detail-record">
                            <a href="<?php echo $passengerLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/passenger-record.png"></a>
                        </div>
                        <div class = "img-detail-record">
                            <a href="<?php echo $shipLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-image.png"></a>
                        </div>
                        <div class = "img-detail-record">
                            <a href="<?php echo $manifestLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-manifest.png"></a>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <?php
                if (file_exists($fileRelativePath . 'cms/' . $key['uploaded_file']) && isset($key['uploaded_file']) && !empty($key['uploaded_file'])) {
                    ?>
                    <img src = "<?php echo $filePath; ?>cms/<?php echo $key['uploaded_file']; ?>">
                <?php } ?>
                <div class = "arrival-image-content">
                    <?php
                    if (strlen($key['name']) > 20) {
                        ?>
                        <div class="scroll-pane1 full" style=" height:200px;">
                        <?php } ?>
                        <h1><?php echo $key['content_title']; ?></h1>
                        <span><?php echo $key['fa_claim_to_fame']; ?></span>
                        <?php if ($key['content_date'] != '' && $key['content_date'] != '0000-00-00 00:00:00') {
                            ?>
                            <div class = "ac-box">
                                <h2>Date of ARRIVAL</h2>
                                <p><?php echo $this->Dateformatalpha($key['content_date'], 'displaymonthformat'); ?></p>
                            </div>
                        <?php } ?>
                        <div class = "ac-box">
                            <h2>Passenger Record</h2>
                            <p><?php if (isset($key['url']) && !empty($key['url'])) {
                            ?>
                                    <a href="<?php echo $key['url']; ?>" target="blank"><?php } ?><?php echo (isset($key['name']) && !empty($key['name'])) ? $key['name'] : $key['content_title']; ?>
                                    <?php if (isset($key['url']) && !empty($key['url'])) {
                                        ?></a><?php } ?></p>
                        </div>
                        <?php
                        if (strlen($key['name']) > 30) {
                            ?>
                        </div>
                    <?php } ?>
                </div>  
                <a href="javascript:void(0)" class="help">
                    <div class="hint-box">
                        <div class="scroll-pane">
                            <p><?php echo strip_tags($key['description'], '<a>'); ?></p>
                        </div>
                    </div>
                </a>
            </li>
            <?php
            $i++;
        }
        ?>
    </ul>
    <?php
} else {
    ?>
    <div class="white-bg">
        <span class="no-record left">No Record Found</span>
    </div>
    <?php
}
?>    

