<?php
/**
 * This view is used to show view fa content
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
 
$galleryId = isset($gallery['id'][1])?$gallery['id'][1]:'';
 $galleryThumb = isset($gallery['thumb'][1])?$gallery['thumb'][1]:'';
 if($galleryId!=''){
 $script = <<<EOD
$(function() {
    var galleryId = $galleryId;
    var thumb = $galleryThumb;
    myfunction(galleryId,thumb);
})

function myfunction(galleryId,thumb){
    $.ajax
    ({
        type: 'POST',
        data:{
            galleryId:galleryId,
            thumb: thumb
        },
        url: '/insert-gallery-document',
        success: function(response)
        {
            $("#gallery").html(response);
        }
    }); 
}
EOD;
}else{
	$script = '';
}
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery-1.9.1.min.js?v='.$this->layout()->getVariable('jsVersion'));
						  
$pageContent = $this->searchResult;
if(isset($pageContent[0]['page_title']) and trim($pageContent[0]['page_title']) != "") { $this->headTitle(trim($pageContent[0]['page_title'])); }
if(isset($pageContent[0]['page_description']) and trim($pageContent[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($pageContent[0]['page_description'])); }
if(isset($pageContent[0]['page_abstract']) and trim($pageContent[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($pageContent[0]['page_abstract'])); }
if(isset($pageContent[0]['page_keywords']) and trim($pageContent[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($pageContent[0]['page_keywords'])); }
$this->headMeta();
?>
<?php
if(file_exists($fileRelativePath . 'cms/' . $pageContent[0]['uploaded_file']) && isset($pageContent[0]['uploaded_file']) && !empty($pageContent[0]['uploaded_file'])){
?>
<div class="center">
    <img src="<?php echo $filePath . 'cms/' . $pageContent[0]['uploaded_file']; ?>" alt="peopling">
</div>
<?php } ?>
<div class="float-left">
    <label class="float-left"><?php echo stripslashes($pageContent[0]['content_title']); ?></label>
    <div class="float-left">
        <?php echo stripslashes($pageContent[0]['description']); ?>
    </div>
</div>


