<?php
/**
 * This view is used for viewing sponsors details page
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(function() {
        $('.slider').each(function() {
            $(this).cycle({
                fx: 'scrollHorz',
                speed: 400,
                timeout: 0,
                next: $(this).prev(),
                prev: $(this).prev().prev()
            });
        });        
    });    
    function displaySlider(id,key){
        $("div[id^='slide_"+key+"']").hide();
        $("#slide_"+key+"_"+id).show();
    }
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);

$filePath = $this->filePath;
$fileRelativePath = $this->fileRelativePath;
if(isset($pageContent[0]['page_title']) and trim($pageContent[0]['page_title']) != "") { $this->headTitle(trim($pageContent[0]['page_title'])); }
if(isset($pageContent[0]['page_description']) and trim($pageContent[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($pageContent[0]['page_description'])); }
if(isset($pageContent[0]['page_abstract']) and trim($pageContent[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($pageContent[0]['page_abstract'])); }
if(isset($pageContent[0]['page_keywords']) and trim($pageContent[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($pageContent[0]['page_keywords'])); }
$this->headMeta();
?>
<div class="detail-description-section">
    <img src="<?php echo $filePath; ?>cms/<?php echo $pageContent[0]['uploaded_file']; ?>" alt="" class="float-left images">
    <a href="javascript:void(0)" onclick="show_main_content()" class="button semibold float-right">BACK</a>
    <h1><?php echo $pageContent[0]['content_title']; ?></h1>

    <?php echo $pageContent[0]['description']; ?>
    <p><a href="<?php echo $pageContent[0]['url']; ?>"><?php echo $pageContent[0]['url']; ?></a><p>
</div>

