<?php
/**
 * This view is used to show view timeline content
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
if (isset($pageContent) && !empty($pageContent)) {
    foreach ($pageContent as $key => $val) {
        ?>
        <div class="left-side"><?php echo $val['content_title']; ?></div>
        <div class="right-side">
            <?php
            if (isset($val['uploaded_file']) && !empty($val['uploaded_file'])) {
                ?>
                <div class="img-box"><img src="<?php echo $filePath . 'cms/' . $val['uploaded_file']; ?>" alt=""></div>
                <?php } ?>
                <?php echo $val['description']; ?>
        </div>
    <?php
    }
} else {
    echo '<div class="left-side"></div><div class="right-side"><label class="error">No record exist.</label></div>';
}
?>