<?php
/**
 * This view is used to list cms pages for admin
 * @package    CMS
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/addCms.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_CMS']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <?php
    if (!empty($messages)) {
        foreach ($messages as $message) {
            echo '<div id="success_message" class="success-msg row">';
            echo "<div>" . $message . '</div>';
            echo '</div>';
        }
    }
    ?> 

    <p class="search-text"><?php echo $translator['L_SEARCH_CMS_TEXT']; ?></p>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_CMS']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PAGE_TITLE']; ?></label>
                        <?php echo $this->formRow($form->get('title')); ?>
                    </div>   
                    <div class="col1">
                        <label><?php echo $translator['L_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('type')); ?>
                    </div>
                </div>                
            </div>
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                    
                </div>
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchpagebutton')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div class="detail-section1 common-form">
        <div class="col1">
            <label><?php echo $translator['ACTIONS']; ?></label>
            <?php echo $this->formRow($form->get('publish')); ?>

        </div>
        <div class="col1">
            <label>&nbsp;</label>
            <?php echo $this->formRow($form->get('updatebutton')); ?>
            <label class="right"><a class="link" href = "javascript: void(0)" onclick="viewMenu();"><?php echo $translator['TREE_VIEW']; ?></a></label>
        </div> 
        
    </div>
</div>

<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_content' class="pop-container ">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>