<?php 
$script = <<<EOD
$(function() {
        $('.slider').cycle({				  
            fx:'scrollHorz',
            next:'.next',
            prev:'.prev',
            speed:400, 
            timeout:0
        });
    });
EOD;
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/select2-front.css?v='.$this->layout()->getVariable('cssVersion'))
					  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/slider-front.css?v='.$this->layout()->getVariable('cssVersion'));
					  
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.cycle.all.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="inner-section">
    <div class="slider-section"> <a href="#" class="prev"></a> <a href="#" class="next"></a>
        <div class="slider">
            <?php
            foreach ($contentFileName as $key => $val) {
                ?>
                <div class="sliderdiv"><img src="<?php echo $imgPath . '/' . $physicalFileName[$key] ?>" alt=""></div>
            <?php } ?>
        </div>
    </div>
</div>