<?php
/**
 * This view is used to insert gallery in cms content for admin
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/insertGallery.js?v='.$this->layout()->getVariable('jsVersion'));

$form = $this->insertGallery;
$form->prepare();
echo $this->form()->openTag($form);
?>
<style>
    #thumbnails{width:293px}   
</style>
<div class="pop-container ">
    <div class="create-contacts common-form">
        <h2><?php echo $translator['L_SELECT_GALLERY']; ?></h2>
        <div class="row">
            <label><?php echo $translator['L_SELECT_GALLERY']; ?></label>
            <?php echo $this->formRow($form->get('gallery')); ?>
        </div>
        <div class="row">
            <label class="no-padd"><?php echo $translator['L_THUMB_VISIBLE']; ?></label>
            <?php echo $this->formRow($form->get('thumbnails')); ?>
        </div>
        <div class="row">
            <label>Is tabbed </label>
            <?php echo $this->formRow($form->get('is_tabbed')); ?>
        </div>
        <div class="row">
            <label></label>
            <?php echo $this->formRow($form->get('insert_gallery')); ?>
        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>