<?php
/**
 * This view is used for famous arrival category listing
 * @category   Zend
 * @package    cms
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/cms/add.facategory.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div style="padding:20px; background:#e9e9e9; float:left;">
    <div class="common-form create-contacts" >
        <h3><?php echo $translator['MANAGE_CATEGORY']; ?></h3>
        <div class="row">
            <table width="100%" class="m-t-20 table-bh">
                <?php
                foreach ($categoryList as $key) {
                    ?>
                    <tr>
                        <td style="vertical-align:top;"><span class="exitvalue"><?php echo $key['fa_category_name']; ?></span></td>
                        <td><a href="javascript:void(0)" class="save-btn right" onclick="editCategory('<?php echo addslashes($key['fa_category_name']); ?>',<?php echo $key['fa_category_id'] ?>,'<?php echo $key['fa_category_image'] ?>')">Edit</a></td>
                    </tr>
                <?php } ?>

            </table>
        </div>

        <?php
        $form = $this->categoryFrom;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="row">
            <label><?php echo $translator['NAME']; ?></label>
            <label><?php echo $this->formRow($form->get('name')); ?></label>
        </div>

        <div class="row">
            

            <div class="row common-form p-b-20">
                <label><?php echo $translator['IMAGE']; ?></label>
                <?php echo $this->formRow($form->get('id')); ?>
                <?php echo $this->formRow($form->get('img_name')); ?>
                <?php echo $this->formRow($form->get('old_image')); ?>
                <?php echo $this->formRow($form->get('Image')); ?>
                <div id="filemessage"></div>

            </div>
            <div class="row">
                <?php echo $this->formRow($form->get('save')); ?>
                <span class="m-l-10 left"><?php echo $this->formRow($form->get('cancel')); ?></span>
            </div>
            <?php echo $this->form()->closeTag(); ?>


        </div>
    </div>