<?php
/**
 * This view is used for dragable menu listing
 * @category   Zend
 * @package    cms
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var cmsJsonStr = ' . $this->cmsJsonStr . ';';
echo $var;
$this->inlineScript()->captureEnd();
echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/img/favicon.ico'))->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jqtree.css?v=' . $this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/cms.menu.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tree.jquery.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="pop-container">
    <h3><?php echo $translator['SELECT_MENU_ITEM']; ?></h3>
    <div class="popup-form create-contacts common-form">
        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        } else {
            echo '<div id="success_message" class="success-msg" style="display:none;"></div>';
        }
        ?>
        <div id="tree1"></div>
        <?php
        $form = $this->menuForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="row common-form m-t-20 p-b-20">
            <?php echo $this->formRow($form->get('save')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>