<?php
/**
 * This view is used for viewing sponsors details page
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
//echo $var;
$this->inlineScript()->captureEnd();
$content = $this->content;
$filePath = $this->filePath;
$fileRelativePath = $this->fileRelativePath;
if(isset($content[0]['page_title']) and trim($content[0]['page_title']) != "") { $this->headTitle(trim($content[0]['page_title'])); }
if(isset($content[0]['page_description']) and trim($content[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($content[0]['page_description'])); }
if(isset($content[0]['page_abstract']) and trim($content[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($content[0]['page_abstract'])); }
if(isset($content[0]['page_keywords']) and trim($content[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($content[0]['page_keywords'])); }
$this->headMeta();
?>
<div class="inner-header">
  <h1><?php echo $content[0]['content_type']; ?></h1>
</div>
<section class="main">
  <div class="container">
    <div class="col11 sponsors alpha">
      
     <div class="block wrapper">
       <div class="content detail-description-section clearfix">
        <img src="<?php echo $filePath; ?>cms/<?php echo $content[0]['uploaded_file']; ?>" alt="" class="float-left images">
          <a onclick="history.go(-1);" class="button semibold float-right">BACK</a>
         <h1><?php echo $content[0]['content_title']; ?></h1>
        
         <?php echo $content[0]['description']; ?>
         <p><a href="<?php echo $content[0]['url']; ?>"><?php echo $content[0]['url']; ?></a><p>
       </div>
      </div>
    </div>
    <div class="col5 rightsection omega">
      <?php
            $count = count($rightContent) > count($adsContent) ? count($rightContent) : count($adsContent);
            $addCount = count($adsContent);
            for ($i = 0; $i < $count; $i++) {
                if ($i < $addCount) {
                    ?>
                    <div class="home-add">
                        <div class="advertise">
                            <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                        </div>
                    </div>
                    <?php
                }
                if (isset($rightContent[$i]) && !empty($rightContent[$i])) {
                    if ($this->getAuth() === false && $rightContent[$i]['id'] == '6') {
                        echo $rightContent[$i]['content'];
                    } else if ($rightContent[$i]['id'] != '6') {
                        echo $rightContent[$i]['content'];
                    }
                }
            }
            ?>

    </div>
  </div>
</section>
