<?php
/**
 * This view is used to view cms content
 * @package    Cms
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var PAGEID = "' . $this->pageId . '";';
$var .= 'var ID = "' . $this->id . '";';
$var .= 'var LOGID = "' . $this->logId . '";';
$var .= 'var mode = "' . $this->mode . '";';

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'))
					      ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/editCms.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($var);
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_CMS']; ?></h2>    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="javascript:void(0);" onclick="viewCmsDetails()" id="tab-1"><?php echo $translator['L_VIEW']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editCmsDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-3"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="cmsContent"></div>
    </div>
</div>