<?php
/**
 * This view is used to show view page of cms content for admin
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

if (isset($pageContent[0]) && !empty($pageContent[0])) {
    $var .= 'var timelineId = "' . $pageContent[0]['content_id'] . '";';
}

$script = <<<EOD
$(function() {
        $('.slider').each(function() {
            $(this).cycle({
                fx: 'scrollHorz',
                speed: 400,
                timeout: 0,
                next: $(this).prev(),
                prev: $(this).prev().prev()
            });
        });
		$(".tab-section ul li").click(function() {
            $(".tab-section ul li").removeClass('active');
            var curRel = $('a',$(this)).attr('rel');
            $(this).addClass('active');
            $(curRel).show();           
        });
        $('#more').click(function(){
            $('#read').show();
            $('#more').hide();
        });
        $('#less').click(function(){
            $('#read').hide();
            $('#more').show();
        });
		$('.scroll-pane').jScrollPane();
                $('.scroll-pane1').jScrollPane();
        $('.hint-box').hide();
        $('.help').hover( 
        function() {
            $('.hint-box',$(this)).toggle();
        } );
    });    
    function displaySlider(id,key){
        $("div[id^='slide_"+key+"']").hide();
        $("#slide_"+key+"_"+id).show();
    }
EOD;

echo $this->headTitle($content[0]['page_title']);

$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/slider-front.css?v=' . $this->layout()->getVariable('cssVersion'))
        ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/select2-front.css?v=' . $this->layout()->getVariable('cssVersion'));

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jwplayer/jwplayer.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/select2.min.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/cms/view.cms.content.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/index.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.cycle.all.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($script)
        ->prependScript($var);

$content = $this->content;
$pageContent = $this->pageContent;
$filePath = $this->filePath;
$fileRelativePath = $this->fileRelativePath;

if(isset($content[0]['page_title']) and trim($content[0]['page_title']) != "") { $this->headTitle(trim($content[0]['page_title'])); }
if(isset($content[0]['page_description']) and trim($content[0]['page_description']) != "") { $this->headMeta()->appendName('description', trim($content[0]['page_description'])); }
if(isset($content[0]['page_abstract']) and trim($content[0]['page_abstract']) != "") { $this->headMeta()->appendName('abstract', trim($content[0]['page_abstract'])); }
if(isset($content[0]['page_keywords']) and trim($content[0]['page_keywords']) != "") { $this->headMeta()->appendName('keywords', trim($content[0]['page_keywords'])); }
$this->headMeta();
?>
<div class="inner-header">
    <h1><?php echo $content[0]['content_title']; ?></h1>
</div>
<section class="main">
    <div id="contentArea" class="cms-outer-bg">
        <div class="cms-inner-bg">
            <div class="container">
                <?php
                $patternGallery = "/{gallery}(.*?){\/gallery}/";
                $patternTabbed = "/{tabbed}(.*?){\/tabbed}/";
                //asd($content[0]['page_content_id']);
                switch ($content[0]['page_content_id']) {
                    case '2':
                        ?>
                        <div class="board-Of-directors-left content-layout-left">
                            <?php echo $content[0]['description']; ?>
                            <h3><?php echo $content[0]['content_title']; ?></h3>
                            <?php
                            foreach ($pageContent as $key) {
                                ?>                            
                                <div class="detail-row">
                                    <div class="left-detail"><h4><?php echo $key['content_title']; ?></h4><?php echo $key['designation']; ?></div>
                                    <div class="right-detail"><strong>Company</strong><?php echo $key['company_name']; ?></div>
                                </div>
                            <?php } ?>
                        </div>

                        <?php
                        break;
                    case '3':
                        ?>
                        <div class="press-main-container">
                            <div class="annualreport-left" >
                                <?php
                                foreach ($pageContent as $key) {
                                    ?>
                                    <div class="block">
                                        <div class="press-image-content">
                                            <h1><?php echo $key['content_title']; ?></h1>
                                            <p><?php echo $key['short_description']; ?></p>
                                            <?php
                                            if (file_exists($fileRelativePath . 'cms/' . $key['uploaded_file']) && isset($key['uploaded_file']) && !empty($key['uploaded_file'])) {
                                                ?><div class="pdf-box">
                                                    <a href="/download-file/<?php echo $key['uploaded_file']; ?>" target="_blank">Download PDF</a> 
                                                    <span><?php echo filesize($fileRelativePath . "cms/" . $key['uploaded_file']); ?> KB</span> 
                                                </div>
                                            <?php } ?>
                                        </div>
                                    </div>      
                                    <?php
                                }
                                ?></div> 
                        </div>
                        <?php
                        break;
                    case '4':
                        ?>
                        <div class="press-left-section">
                            <?php
                            foreach ($pageContent as $key) {
                                preg_match_all($patternTabbed, $key['description'], $tabbedGallery);
                                if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                    foreach ($tabbedGallery[0] as $key1 => $val) {
                                        $key['description'] = str_replace($val, ' ', $key['description']);
                                    }
                                }
                                preg_match_all($patternGallery, $key['description'], $gallery);
                                if (isset($gallery) && !empty($gallery)) {
                                    foreach ($gallery[0] as $key1 => $val) {
                                        $key['description'] = str_replace($val, ' ', $key['description']);
                                    }
                                }
                                ?>
                                <div class="detail-box">
                                    <?php
                                    /* if (file_exists($fileRelativePath . 'cms/' . $key['uploaded_file']) && isset($key['uploaded_file']) && !empty($key['uploaded_file'])) {
                                      ?>
                                      <div class="img-box"> <img src="<?php echo $filePath; ?>cms/<?php echo $key['uploaded_file']; ?>"></div>
                                      <?php }
                                     */
                                    ?>

                                    <div class="right-content">
                                        <h3>
                                            <span><?php echo $this->Dateformatalpha($key['content_date'], 'displaymonthformat'); ?>&nbsp;-&nbsp;</span> 
                                            <?php
                                            /*                                            if (strlen($key['content_title']) > 75) {
                                              ?>
                                              <a class="read-more blue" href="///<?php echo (isset($key['content_url']) && !empty($key['content_url'])) ? $key['content_url'] : 'javascript:void(0)'; ?>"><?php echo substr($key['content_title'], 0, 75) . ".."; ?></a>
                                              <?php
                                              } else {
                                             * 
                                             */
                                            ?>
                                            <a class="read-more blue" 
                                            <?php
                                            if (isset($key['content_url']) && !empty($key['content_url'])) {
                                                echo 'href="/' . $key['content_url'] . '">';
                                            } else {
                                                echo ">";
                                            }
                                            ?><?php echo $key['content_title']; ?></a>
                                               <?php
//                                               }
                                               ?>                                            
                                        </h3>

                                        <?php
                                        /* if (strlen(strip_tags($key['description'],'<a><p><br>')) > 230) {
                                          ?>
                                          <p><?php echo substr(strip_tags($key['description'],'<a><p><br>'), 0, 230) . ".."; ?></p>
                                          <?php
                                          if (isset($key['content_url']) && !empty($key['content_url'])) {
                                          echo '<p><a href="/' . $key['content_url'] . '">Read more</a></p>';
                                          }
                                          } else {
                                          ?>
                                          <p><?php echo strip_tags($key['description'],'<a><p><br>') ?></p>
                                          <?php
                                          } */
                                        ?>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>				
                        <?php
                        break;
                    case '5':
                        ?>
                        <div class="sponsor-page">
                            <div class="left-section-sponsor content-layout-left">
                                <div class="sponsor-content">
                                    <div id="sponser_content_main">
                                        <?php
                                        if (isset($pageContent) && !empty($pageContent)) {
                                            $i = 1;
                                            foreach ($pageContent as $key => $val) {
                                                preg_match_all($patternTabbed, $val['description'], $tabbedGallery);
                                                if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                                    foreach ($tabbedGallery[0] as $key1 => $val1) {
                                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                                    }
                                                }
                                                preg_match_all($patternGallery, $val['description'], $gallery);
                                                if (isset($gallery) && !empty($gallery)) {
                                                    foreach ($gallery[0] as $key1 => $val1) {
                                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                                    }
                                                }
                                                ?>
                                                <div class="detail-box <?php
                                if ($i % 3 == 0) {
                                    echo "last";
                                }
                                                ?>">
                                                         <?php
                                                         if (file_exists($fileRelativePath . 'cms/' . $val['uploaded_file']) && isset($val['uploaded_file']) && !empty($val['uploaded_file'])) {
                                                             ?>
                                                        <div class="logo"><img src="<?php echo $filePath; ?>cms/<?php echo $val['uploaded_file']; ?>"></div>
                                                    <?php } ?>
                                                    <p>
                                                        <?php
                                                        if (strlen($val['content_title']) > 35) {
                                                            echo substr($val['content_title'], 0, 35) . "..";
                                                        } else {
                                                            echo $val['content_title'];
                                                        }
                                                        ?>
                                                    </p>
                                                    <div class="hover">
                                                        <a href="/<?php echo $val['content_url']; ?>"><h2>
                                                                <?php
                                                                if (strlen($val['content_title']) > 35) {
                                                                    echo substr($val['content_title'], 0, 35) . "..";
                                                                } else {
                                                                    echo $val['content_title'];
                                                                }
                                                                ?></h2></a>
                                                        <p><?php
                                                if (strlen(strip_tags($val['description'], '<a>')) > 100) {
                                                    echo substr(strip_tags($val['description'], '<a>'), 0, 100) . "..";
                                                } else {
                                                    echo strip_tags($val['description'], '<a>');
                                                }
                                                                ?></p>
                                                        <p><a href="<?php echo $val['url']; ?>"><?php echo $val['url']; ?></a></p>
                                                        <a href="javascript:void(0)" onclick="viewSponser(<?php echo $val['content_id']; ?>)" class="view-detail">View Detail</a>
                                                    </div>
                                                </div>                                                       
                                                <?php
                                                $i++;
                                            }
                                        }
                                        ?>
                                    </div>
                                    <div id="sponser_content">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <?php
                        break;
                    case '8' :
                        ?>
                        <script type="text/javascript">
                            $(function(){
                                $('.slideshow').each(function() {
                                    var $this = $(this);
                                    $this.cycle({				  
                                        fx:'scrollHorz',
                                        next:$this.parent().prev(),
                                        prev:$this.parent().prev().prev(),
                                        speed:400, 
                                        timeout:  0,
                                        pager:  '#nav' 
                                    });                                                             
                                });
                            });
                        </script>
                        <div class="famous-wrapper">
                            <div class="famous-main-container">
                                <div class="famous-tab-box">
                                    <div class="tab-box-content content-layout-left">                                        
                                        <?php echo stripslashes($content[0]['description']); ?>
                                    </div> 


                                    <div class="inner-section">
                                        <ul>
                                            <?php
                                            $i = 0;
                                            foreach ($searchCat as $key) {
                                                echo "<li><a id='cat_" . $key['fa_category_id'] . "' onclick=fa_category('" . $this->Encrypt($key['fa_category_id']) . "','" . $key['fa_category_id'] . "','" . $key['fa_category_name'] . "') href='javascript:void(0)' class='";
                                                if ($i == 0) {
                                                    echo "active";
                                                }
                                                echo "'><div  class='content-tabs'>" . $key['fa_category_name'] . "</div></a></li>";
                                                $i++;
                                            }
                                            ?>
                                        </ul>

                                    </div>
                                </div>
                                <div class="arrivals-container" id="fa-data">
                                    <ul>
                                        <?php
                                        $i = 0;
                                        foreach ($pageContent as $key) {
                                            preg_match_all($patternTabbed, $key['description'], $tabbedGallery);
                                            if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                                foreach ($tabbedGallery[0] as $key1 => $val1) {
                                                    $key['description'] = str_replace($val1, ' ', $key['description']);
                                                }
                                            }
                                            preg_match_all($patternGallery, $key['description'], $gallery);
                                            if (isset($gallery) && !empty($gallery)) {
                                                foreach ($gallery[0] as $key1 => $val1) {
                                                    $key['description'] = str_replace($val1, ' ', $key['description']);
                                                }
                                            }
                                            $passengerLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('passenger');
                                            $shipLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('ship');
                                            $manifestLink = '/passenger-details/' . $this->Encrypt($key['fa_passenger_id']) . '/' . $this->Encrypt('manifest');
                                            $loginPassengerLink = $this->Encrypt($passengerLink);
                                            $loginShipLink = $this->Encrypt($shipLink);
                                            $loginManifestLink = $this->Encrypt($manifestLink);
                                            ?>
                                            <li <?php if ($i % 2 == 1) { ?> class='last' <?php } ?>>
                                                <div class = "img-active-detail">
                                                    <?php
                                                    if ($this->getAuth() === false) {
                                                        ?>
                                                        <div class = "img-detail-record">
                                                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginPassengerLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/passenger-record.png"></a>
                                                        </div>
                                                        <div class = "img-detail-record">
                                                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginShipLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-image.png"></a>
                                                        </div>
                                                        <div class = "img-detail-record">
                                                            <a href="javascript:void(0)" onClick="checkUserLogin('<?php echo $loginManifestLink ?>');"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-manifest.png"></a>
                                                        </div>
                                                        <?php
                                                    } else {
                                                        ?>
                                                        <div class = "img-detail-record">
                                                            <a href="<?php echo $passengerLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/passenger-record.png"></a>
                                                        </div>
                                                        <div class = "img-detail-record">
                                                            <a href="<?php echo $shipLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-image.png"></a>
                                                        </div>
                                                        <div class = "img-detail-record">
                                                            <a href="<?php echo $manifestLink ?>"><img src = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/passenger-search/ship-manifest.png"></a>
                                                        </div>
                                                        <?php
                                                    }
                                                    ?>
                                                </div>
                                                <?php
                                                if (file_exists($fileRelativePath . 'cms/' . $key['uploaded_file']) && isset($key['uploaded_file']) && !empty($key['uploaded_file'])) {
                                                    ?>
                                                    <img src = "<?php echo $filePath; ?>cms/<?php echo $key['uploaded_file']; ?>">
                                                <?php } ?>
                                                <div class = "arrival-image-content">
                                                    <?php
                                                    if (strlen($key['name']) > 20) {
                                                        ?>
                                                        <div class="scroll-pane1 full" style=" height:200px;">
                                                        <?php } ?>
                                                        <h1><?php echo $key['content_title']; ?></h1>
                                                        <span><?php echo $key['fa_claim_to_fame']; ?></span>
                                                        <?php if ($key['content_date'] != '' && $key['content_date'] != '0000-00-00 00:00:00') {
                                                            ?>
                                                            <div class = "ac-box">
                                                                <h2>Date of ARRIVAL</h2>
                                                                <p><?php echo $this->Dateformatalpha($key['content_date'], 'displaymonthformat'); ?></p>
                                                            </div>
                                                        <?php } ?>
                                                        <div class = "ac-box">
                                                            <h2>Passenger Record</h2>
                                                            <p><?php if (isset($key['url']) && !empty($key['url'])) {
                                                            ?>
                                                                    <a href="<?php echo $key['url']; ?>" target="blank"><?php } ?><?php echo (isset($key['name']) && !empty($key['name'])) ? $key['name'] : $key['content_title']; ?>
                                                                    <?php if (isset($key['url']) && !empty($key['url'])) {
                                                                        ?></a><?php } ?></p>
                                                        </div>
                                                        <?php
                                                        if (strlen($key['name']) > 30) {
                                                            ?>
                                                        </div>
                                                    <?php } ?>
                                                </div>  
                                                <a href="javascript:void(0)" class="help">
                                                    <div class="hint-box">
                                                        <div class="scroll-pane">
                                                            <p><?php echo strip_tags($key['description'], '<a>'); ?></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <?php
                                            $i++;
                                        }
                                        ?>
                                    </ul>
                                </div>
                                <div class="famous-tab-box no-margin clearfix">
                                    <div class="tab-box-content">
                                        <p>
                                            If you know the details for another U.S President or other Ellis Island immigrant worthy of consideration for this list, please contact us with passenger name, date of arrival, name of ship and other details.<br>
                                            <br>
                                            <a href="/contact-us" class="button">Contact Us</a>
                                            <br><br>
                                            <strong>Credits:</strong><br>
                                            Presidential Portraits from <a href="http://www.whitehouse.gov" target="blank">www.whitehouse.gov </a>.

                                        </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <?php
                        break;
                    case '9' :
                        ?>
                        <div class="heritage-awards-left">
                            <div class="banner-section">
                                <div class="content">
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/heritage-awards/heritage-banner-icon.png" alt=""></div>
                                    <h2>
                                        <span>The Ellis Island</span><br>
                                        Family Heritage Awards
                                    </h2>
                                </div>

                            </div>
                            <div class="inner-detail">
                                <?php
                                echo stripslashes($content[0]['description']);
                                foreach ($pageContent as $key => $val) {
                                    if ($val['content_type_id'] == 11) {
                                        $awardWinner[] = $val;
                                    } else {
                                        $cat[] = $val;
                                    }
                                }
                                ?>
                                <div class="detail-section">
                                    <?php
                                    foreach ($cat as $key => $val) {
                                        ?>
                                        <div class="year-detail-box">
                                            <div class="left-detail">
                                                <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/heritage-awards/h-icon.png" alt="">
                                                <h3><?php echo $val['content_year']; ?></h3>
                                            </div>
                                            <div class="right-section">
                                                <div class="icon"></div>
                                                <ul>
                                                    <?php
                                                    foreach ($awardWinner as $key1 => $val1) {
                                                        if ($val['content_year'] == $val1['content_year']) {
                                                            ?>    

                                                            <li>
                                                                <?php
                                                                if (file_exists($fileRelativePath . 'cms/' . $val1['uploaded_file']) && isset($val1['uploaded_file']) && !empty($val1['uploaded_file'])) {
                                                                    ?>
                                                                    <img src="<?php echo $filePath . 'cms/' . $val1['uploaded_file']; ?>" alt="">
                                                                <?php } ?>
                                                                <div class="text">
                                                                    <strong><?php echo $val1['content_title']; ?> </strong>
                                                                    <em><?php echo $val1['short_description']; ?></em>
                                                                </div>
                                                            </li>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                                </ul>
                                                <a href="<?php echo $val['content_url']; ?>" class="btn"></a>
                                            </div>
                                        </div>


                                        <?php
                                    }
                                    ?>
                                </div>
                            </div>    
                        </div>
                        <?php
                        break;
                    case '10' :
                        ?>
                        <script type="text/javascript">
                            $(function(){
                                $('.slideshow').each(function() {
                                    var $this = $(this);
                                    $this.cycle({				  
                                        fx:'scrollHorz',
                                        next:$this.parent().prev(),
                                        prev:$this.parent().prev().prev(),
                                        speed:400, 
                                        timeout:  0,
                                        pager:  '#nav' 
                                    });                                                             
                                });
                            });
                        </script>
                        <div class="heritage-awards-left">
                            <div class="banner-section">
                                <div class="content mar-top">
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/heritage-awards/heritage-banner-icon.png" alt=""></div>
                                    <h2><?php echo $content[0]['content_title']; ?></h2>
                                </div>
                                <div class="slider-top">
                                    <a href="javascript:void(0)" class="preview"></a>
                                    <a href="javascript:void(0)" class="next"></a>
                                    <div class="inner-section">
                                        <div class="slideshow">
                                            <?php
                                            $i = 0;
                                            foreach ($pageContent as $key1 => $val1) {
                                                if ($val1['content_year'] == $content[0]['content_year']) {
                                                    if ($i % 3 == 0 || $i == 0) {
                                                        ?>
                                                        <ul>
                                                        <?php } ?>
                                                        <li <?php
                                        if ($i % 3 == 2) {
                                            echo 'class="last"';
                                        }
                                                        ?>> <?php
                                            if (file_exists($fileRelativePath . 'cms/' . $val1['uploaded_file']) && isset($val1['uploaded_file']) && !empty($val1['uploaded_file'])) {
                                                            ?><div class="img-box"><img src="<?php echo $filePath . 'cms/' . $val1['uploaded_file']; ?>" alt=""></div>
                                                            <?php } ?>
                                                            <div class="text-box">
                                                                <strong><?php echo $val1['content_title']; ?></strong>
                                                                <em><?php echo $val1['short_description']; ?></em>
                                                            </div>
                                                        </li>
                                                        <?php if ($i % 3 == 2) { ?>
                                                        </ul>                      
                                                    <?php } ?>
                                                    <?php
                                                    $i++;
                                                }
                                            }
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-detail">
                                <?php echo $content[0]['description']; ?>
                                <div class="btm-slider">
                                    <div class="top-nav">
                                        <div class="left-side">
                                            <ul>
                                                <?php
                                                $i = 0;
                                                foreach ($pageContent as $key1 => $val1) {
                                                    if ($val1['content_year'] == $content[0]['content_year']) {
                                                        ?>    
                                                        <li id="member_<?php echo $val1['content_id']; ?>" <?php
                                        if ($i == 0) {
                                            echo 'class="active"';
                                        }
                                                        ?>>
                                                            <a href="javascript:void(0)" onclick="showContent(<?php echo $val1['content_id']; ?>)">
                                                                <?php
                                                                if (file_exists($fileRelativePath . 'cms/' . $val1['uploaded_file']) && isset($val1['uploaded_file']) && !empty($val1['uploaded_file'])) {
                                                                    ?>                                                               
                                                                    <img src="<?php echo $filePath . 'cms/' . $val1['uploaded_file']; ?>" alt="">
                                                                    <?php
                                                                } else {
                                                                    $imageFilePath = $this->layout()->getVariable('imageFilePath');
                                                                    echo '<img src="' . $imageFilePath . '/images/72x72.jpg">';
                                                                }
                                                                ?>
                                                            </a></li>
                                                        <?php
                                                        $i++;
                                                    }
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                        <div id="member_video" class="right-side">
                                            <ul>
                                                <li><a href="javascript:void(0)" id="show-details"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/heritage-awards/nav-img2.png" alt=""></a></li>
                                                <!--- <li><a href="javascript:void(0)" id="show-gallery"><img src="images/heritage-awards/nav-img3.png" alt=""></a></li> -->
                                                <li><a href="javascript:void(0)" id="show-video"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/heritage-awards/nav-img4.png" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="heritage-content" class="inner-detail-section">
                                        <?php
                                        foreach ($pageContent as $key1 => $val1) {
                                            preg_match_all($patternTabbed, $val1['description'], $tabbedGallery);
                                            if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                                foreach ($tabbedGallery[0] as $k => $v) {
                                                    $val1['description'] = str_replace($v, '', $val1['description']);
                                                }
                                            }
                                            preg_match_all($patternGallery, $val1['description'], $gallery);
                                            if (isset($gallery) && !empty($gallery)) {
                                                foreach ($gallery[0] as $k => $v) {
                                                    $val1['description'] = str_replace($v, '', $val1['description']);
                                                }
                                            }
                                            if ($val1['content_year'] == $content[0]['content_year']) {
                                                ?>
                                                <div id="details">
                                                    <?php
                                                    if (file_exists($fileRelativePath . 'cms/' . $val1['uploaded_file']) && isset($val1['uploaded_file']) && !empty($val1['uploaded_file'])) {
                                                        ?>
                                                        <div class="img-box">
                                                            <img src="<?php echo $filePath . 'cms/' . $val1['uploaded_file']; ?>"  alt="">
                                                        </div>
                                                    <?php } ?>
                                                    <div class="content-box">
                                                        <div  class="scroll-pane heritage-scroll">
                                                            <h1><?php echo $val1['content_title']; ?></h1>
                                                            <h3><?php echo $val1['short_description']; ?></h3>
                                                            <p><?php echo strip_tags($val1['description'], '<a><p><br><img>'); ?></p>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div id="gallery" style="display:none">

                                                </div>
                                                <div id="video" class="video"  style="display:none;">
                                                    <?php
                                                    $videoFlag = $val1['url'];
                                                    if (!isset($videoFlag) || empty($videoFlag)) {
                                                        echo '<label class="error">No video exist.</label>';
                                                        $videoFlag = '1';
                                                    } else {
                                                        if (strpos($val1['url'], 'youtube.com') !== false) {
                                                            $video = explode('?v=', $val1['url']);
                                                            echo '<iframe width="487" height="274" src="//www.youtube.com/embed/' . $video[count($video) - 1] . '" frameborder="0"></iframe>';
                                                            $videoFlag = '1';
                                                        } else if (strpos($val1['url'], 'youtu.be') !== false) {
                                                            $video = explode('/', $val1['url']);
                                                            echo '<iframe width="487" height="274" src="//www.youtube.com/embed/' . $video[count($video) - 1] . '" frameborder="0"></iframe>';
                                                            $videoFlag = '1';
                                                        } else if (strpos($val1['url'], 'vimeo.com') !== false) {
                                                            $video = explode('/', $val1['url']);
                                                            echo '<iframe src="//player.vimeo.com/video/' . $video[count($video) - 1] . '?byline=0&amp;portrait=0&amp;badge=0" width="500" height="281" frameborder="0"></iframe>';
                                                            $videoFlag = '1';
                                                        }
                                                    }
                                                    ?>
                                                    <input type="hidden" value="<?php echo $videoFlag; ?>" id="video_flag">
                                                </div>
                                                <?php
                                                break;
                                            }
                                        }
                                        ?>
                                    </div>

                                </div>
                            </div>
                        </div>                                
                        <?php
                        break;
                    case '12':
                        ?>

                        <div class="foundation-left">
                            <div class="block">
                                <div class="clearfix">
                                    <?php
                                    if (file_exists($fileRelativePath . 'cms/' . $content[0]['uploaded_file']) && isset($content[0]['uploaded_file']) && !empty($content[0]['uploaded_file'])) {
                                        ?>
                                        <img src="<?php echo $filePath . 'cms/' . $content[0]['uploaded_file']; ?>" alt="genealogy" class="float-right">
                                    <?php } ?>
                                    <p><?php echo stripslashes($content[0]['description']); ?></p>
                                </div>
                            </div>

                            <?php
                            foreach ($pageContent as $key => $val) {
                                preg_match_all($patternTabbed, $val['description'], $tabbedGallery);
                                if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                    foreach ($tabbedGallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                preg_match_all($patternGallery, $val['description'], $gallery);
                                if (isset($gallery) && !empty($gallery)) {
                                    foreach ($gallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                ?>
                                <div class="block clearfix">
                                    <div class="genealogy-section">
                                        <?php
                                        if (file_exists($fileRelativePath . 'cms/' . $val['uploaded_file']) && isset($val['uploaded_file']) && !empty($val['uploaded_file'])) {
                                            ?>
                                            <img src="<?php echo $filePath . 'cms/' . $val['uploaded_file']; ?>" alt="genealogy-1" class="float-left margin-to-right margin-top-bottom">
                                        <?php } ?>
                                        <a href="<?php echo $val['content_url']; ?>" class="button semibold float-right margin-top-bottom ">GO</a>
                                        <h2 class="margin-top-bottom"><?php echo $val['content_title']; ?></h2>

                                        <p><?php echo substr(strip_tags($val['description']), 0, 200); ?></p>
                                    </div>
                                </div>
                                <?php
                            }
                            ?>
                        </div>

                        <?php
                        break;
                    case '13':
                        ?>

                        <div class="foundation-left">
                            <div class="block">
                                <div class="content clearfix">
                                    <?php
                                    if (file_exists($fileRelativePath . 'cms/' . $content[0]['uploaded_file']) && isset($content[0]['uploaded_file']) && !empty($content[0]['uploaded_file'])) {
                                        ?>
                                        <img src="<?php echo $filePath . 'cms/' . $content[0]['uploaded_file']; ?>" alt="genealogy" class="float-right">
                                    <?php } ?>
                                    <p><?php echo stripslashes($content[0]['description']); ?></p>
                                </div>
                            </div>
                            <?php
                            foreach ($pageContent as $key => $val) {
                                preg_match_all($patternTabbed, $val['description'], $tabbedGallery);
                                if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                    foreach ($tabbedGallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                preg_match_all($patternGallery, $val['description'], $gallery);
                                if (isset($gallery) && !empty($gallery)) {
                                    foreach ($gallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                ?>
                                <div class="block clearfix">
                                    <div class="content">
                                        <div class="genealogy-section">
                                            <?php
                                            if (file_exists($fileRelativePath . 'cms/' . $val['uploaded_file']) && isset($val['uploaded_file']) && !empty($val['uploaded_file'])) {
                                                ?>
                                                <img src="<?php echo $filePath . 'cms/' . $val['uploaded_file']; ?>" alt="genealogy-1" class="float-left margin-to-right margin-top-bottom">
                                            <?php } ?>
                                            <a href="<?php echo $val['content_url']; ?>"><h2 class="margin-top-bottom"><?php echo $val['content_title']; ?></h2></a>

                                            <p><?php echo substr(strip_tags($val['description']), 0, 200); ?></p>
                                        </div>
                                    </div>
                                </div>
                                <?php
                            }
                            ?>
                        </div>

                        <?php
                        break;
                    case '14':
                        ?>
                        <div class="foundation-left">
                            <div class="block">
                                <div class="content clearfix">
                                    <?php
                                    if (file_exists($fileRelativePath . 'cms/' . $content[0]['uploaded_file']) && isset($content[0]['uploaded_file']) && !empty($content[0]['uploaded_file'])) {
                                        ?>
                                        <img src="<?php echo $filePath . 'cms/' . $content[0]['uploaded_file']; ?>" alt="genealogy" class="float-right">
                                    <?php } ?>
                                    <p><?php echo stripslashes($content[0]['description']); ?></p>
                                </div>
                            </div>
                            <?php
                            foreach ($pageContent as $key => $val) {
                                preg_match_all($patternTabbed, $val['description'], $tabbedGallery);
                                if (isset($tabbedGallery) && !empty($tabbedGallery) && (count($tabbedGallery[0]) > 0)) {
                                    foreach ($tabbedGallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                preg_match_all($patternGallery, $val['description'], $gallery);
                                if (isset($gallery) && !empty($gallery)) {
                                    foreach ($gallery[0] as $key1 => $val1) {
                                        $val['description'] = str_replace($val1, ' ', $val['description']);
                                    }
                                }
                                ?>
                                <div class="block clearfix">
                                    <div class="content">
                                        <div class="genealogy-section">
                                            <?php
                                            if (file_exists($fileRelativePath . 'cms/' . $val['uploaded_file']) && isset($val['uploaded_file']) && !empty($val['uploaded_file'])) {
                                                ?>
                                                <img src="<?php echo $filePath . 'cms/' . $val['uploaded_file']; ?>" alt="genealogy-1" class="float-left margin-to-right margin-top-bottom">
                                                <h2 class="margin-top-bottom"><?php echo $val['content_title']; ?> 
                                                    <a href="/download-file/<?php echo $val['uploaded_file']; ?>" target="_blank" class="button semibold float-right margin-top-bottom">DOWNLOAD</a> 
                                                </h2>
                                            <?php } ?>
                                            <p><?php echo strip_tags($val['description']); ?></p>
                                        </div>
                                    </div>
                                </div>
                            <?php }
                            ?>
                        </div>
                        <?php
                        break;
                    case '16':
                        ?>
                        <div class="foundation-left">
                            <div class="inner-detail">
                                <?php echo stripslashes($content[0]['description']); ?>
                                <div class="center" >
                                    <?php
                                    foreach ($pageContent as $key => $val) {
                                        ?><a onclick="peopling_content('<?php echo $this->Encrypt($val['content_id']); ?>')" class="button go"><?php echo $val['content_title']; ?></a>&nbsp;
                                        <?php
                                    }
                                    ?>
                                </div>
                                <br>
                                <div id="peopling_content">
                                    <?php
                                    if (file_exists($fileRelativePath . 'cms/' . $content[0]['uploaded_file']) && isset($content[0]['uploaded_file']) && !empty($content[0]['uploaded_file'])) {
                                        ?>
                                        <div class="center">                                        
                                            <img src="<?php echo $filePath . 'cms/' . $content[0]['uploaded_file']; ?>">
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <?php
                        break;
                    case '17':
                        ?>
                        <!--starts left section-->
                        <div class="timeLine content-layout-left">
                            <div class="top-slider">
                                <div class="inner-sectoin">
                                    <div class="slideshow">
                                        <ul>
                                            <li id="timeline_1600" class="active"><a href="javascript:void(0)" onclick="getTimeline('1600')">1600</a></li>
                                            <li id="timeline_1700"><a href="javascript:void(0)" onclick="getTimeline('1700')">1700</a></li>
                                            <li id="timeline_1800"><a href="javascript:void(0)" onclick="getTimeline('1800')">1800</a></li>
                                            <li id="timeline_1900"><a href="javascript:void(0)" onclick="getTimeline('1900')">1900</a></li>
                                            <li id="timeline_2000"><a href="javascript:void(0)" onclick="getTimeline('2000')">2000</a></li>                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="timeline-content_1">                                        
                            </div>
                        </div>                                                
                        <?php
                        break;
                    case '18':
                        ?>
                        <!--starts left section-->
                        <div class="timeLine content-layout-left">
                            <div class="top-slider">
                                <div class="inner-sectoin">
                                    <div class="slideshow">
                                        <ul>
                                            <li id="timeline_1600" class="active"><a href="javascript:void(0)" onclick="getSolTimeline('1600')">1600</a></li>
                                            <li id="timeline_1700"><a href="javascript:void(0)" onclick="getSolTimeline('1700')">1700</a></li>
                                            <li id="timeline_1800"><a href="javascript:void(0)" onclick="getSolTimeline('1800')">1800</a></li>
                                            <li id="timeline_1900"><a href="javascript:void(0)" onclick="getSolTimeline('1900')">1900</a></li>
                                            <li id="timeline_2000"><a href="javascript:void(0)" onclick="getSolTimeline('2000')">2000</a></li>                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="timeline-content_2">                                        
                            </div>
                        </div>
                        <?php
                        break;
                }
                if ($content[0]['page_content_id'] != 8) {
                    ?>

                    <div class="col5 rightsection omega">
                        <?php
                        $count = count($rightContent) > count($adsContent) ? count($rightContent) : count($adsContent);
                        for ($i = 0; $i < $count; $i++) {
                            if (isset($adsContent[$i]) && !empty($adsContent[$i])) {
                                ?>
                                <div class="home-add">
                                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                                </div>
                                <?php
                            }
                            if (isset($rightContent[$i]) && !empty($rightContent[$i])) {
                                if ($this->getAuth() === false && $rightContent[$i]['id'] == '6') {
                                    echo $rightContent[$i]['content'];
                                } else if ($rightContent[$i]['id'] != '6') {
                                    echo $rightContent[$i]['content'];
                                }
                            }
                            ?>
                            <?php
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</section>