<?php
/**
 * This view is used to view cms for admin
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var ID = "' . $this->id . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/addCms.js?v='.$this->layout()->getVariable('jsVersion'));
$searchType = $this->searchType;
$searchResult = $this->searchResult;
//asd($searchResult);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb m-t-51">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['BASIC_INFORMATION']; ?></span></div>
        <div class="common-form">
            <div class='view-row'><div class='col6'><strong>
                        Title
                    </strong><br>
                    <?php echo $searchResult[0]['content_title']; ?>
                </div></div>
            <?php if(isset($searchResult[0]['short_description']) && !empty($searchResult[0]['short_description'])){ ?>
            <div class='view-row'><div class='col'><strong>
                        Short Description
                    </strong><br>
                    <?php echo $searchResult[0]['short_description']; ?>
                </div></div>
            <?php } ?>
            <div class='view-row'><div class='col'><strong>
                        Description
                    </strong><br>
                    <?php echo $searchResult[0]['description']; ?>
                </div></div>
            <div class='view-row'><div class='col6'><strong>

                    </strong><br>
                    <?php
                    if ($searchResult[0]['is_publish'] == 1) {
                        ?>
                        <input type="checkbox" name="Published" checked="checked" disabled="disabled">Published</input>
                        <?php
                    } else {
                        ?>
                        <input type="checkbox" name="Published" disabled="disabled">Published</input>
                    <?php } ?>
                </div></div>
            <?php
            if (isset($searchMenu[0]['menu']) && !empty($searchMenu[0]['menu'])) {
                ?>
                <div class='view-row'><div class='col6'><strong>
                            Menu Link Title
                        </strong><br>
                        <?php echo $searchMenu[0]['menu']; ?>
                    </div></div>
            <div class='view-row'><div class='col6'><strong>
                           Parent Menu Item
                        </strong><br>
                        <?php echo $searchMenu[0]['parent']; ?>
                    </div></div>
            <?php } ?>
            <div class='view-row'><div class='col6'><strong>
                        Updated By
                    </strong><br>
                    <?php echo $searchResult[0]['modified_user']; ?>
                </div></div>
            <div class='view-row'><div class='col6'><strong>
                        Updated On
                    </strong><br>
                    <?php echo $this->Dateformatalpha($searchResult[0]['modified_date'],'dateformatampm'); ?>
                </div></div>
        </div>

    </div>
</div>