<?php
/**
 * This file is used to load when click on edit tab in activity detail page
 * @package    Activity
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/activity/activity.activity.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
$form = $this->create_activity_form;
$form->setAttributes(array(
    'id' => 'edit_activity',
    'name' => 'edit_activity',
    'action' => $this->url('editActivity', array('action' => 'edit-activity'))
        )
);
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('activity_id')); 
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_ACTIVITY_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['L_WITH_CONTACT']; ?><span class="red">*</span></label>
                <input type="hidden" name="mode" value="edit" id="mode">
                <?php echo $this->formRow($form->get('contact_name')); ?>
                <?php echo $this->formRow($form->get('contact_name_id')); ?>

                <div class="row m-t-10">
                    <label>&nbsp;</label>
                    <label class="auto">OR</label>
                    <a class="link m-t-8 left m-l-20" onclick="createContact();" href="javascript:void(0);"><?php echo $translator['L_CREATE_NEW_CONTACT']; ?></a>
                </div>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_ACTIVITY_TYPE']; ?><span class="red">*</span></label>
                <?php
                echo $this->formRow($form->get('activity_type_id'));
                foreach ($activityTypeDesc AS $key => $val) {
                    if (isset($val) && !empty($val))
                        echo "<div class='activity_type_id" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                }
                ?>
            </div>
        </div>
        <div class="row1">            
            <div class="col1">
                <label><?php echo $translator['L_ASSIGNED_BY']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('assigned_by_crm_user')); ?>
                <?php echo $this->formRow($form->get('assigned_by_crm_user_id')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_ASSIGN_TO']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('assigned_to_crm_user')); ?>
                <?php echo $this->formRow($form->get('assigned_to_crm_user_id')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_SUBJECT']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('activity_subject')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_LOCATION']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('activity_location')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_DATE']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('activity_date')); ?>
                <label class="auto">Time</label>
                <?php echo $this->formRow($form->get('activity_time')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_DURATION']; ?></label>
                <?php echo $this->formRow($form->get('activity_duration')); ?>
                <span class="age-year"><?php echo $translator['L_TOTAL_TIME_SPENT']; ?></span> </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_STATUS']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('activity_status_id')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_PRIORITY']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('activity_priority_id')); ?>
            </div>
        </div>
        <div class="row no-padd">
            <label><?php echo $translator['L_DETAILS']; ?></label>
            <?php echo $this->formRow($form->get('activity_detail')); ?>
        </div>
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['L_RELATED_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row1">
            <?php
            $activitySourceTypeId = $form->get('activity_source_type_id')->getValue();
            ?>
            <div class="col1">
                <label><?php echo $translator['L_SOURCE_TYPE']; ?></label>
                <?php echo $this->formRow($form->get('activity_source_type_id')->setAttribute('onChange','changeSourceType(this.value,\''.$crm_user_id.'\',\''.$user_session_id.'\')')); ?>
            </div>
         </div>
        <div class="row1" id="source_look_2" style="display:none;">
            <div class="mar-top-5 width-453">
                <h3 class="left">Related Opportunities</h3>
                <div id="pageAction" class="right m-t-5">
                    <ul class="edit-link">
                        <li><a href="javascript:void(0);" onClick="getOpportunity();">Select Opportunities</a>
                    </ul>
                </div>                        
            </div>
        </div>
        <div class="row1" id="source_look_3" style="display:none;">
            <div class="mar-top-5 width-453">
                <h3 class="left">Related Pledges</h3>
                <div id="pageAction" class="right m-t-5">
                    <ul class="edit-link">
                        <li><a href="javascript:void(0);" onClick="getPledges();">Select Pledge</a>
                    </ul>
                </div>                        
            </div>
        </div>
        <div class="row1" id="source_look_4" style="display:none;">
            <div class="mar-top-5 width-453">
                <h3 class="left">Related Cases</h3>
                <div id="pageAction" class="right m-t-5">
                    <ul class="edit-link">
                        <li><a href="javascript:void(0);" onClick="getCases();">Select Case</a>
                    </ul>
                </div>                        
            </div>
        </div>
        <div class="row1 drawGrid">
            <div class="grid-box gview_list" id="gview_list">
                <table id="list_case"></table>
                <div id="listcaserud"></div> 
            </div>
        </div>
        <div class="row1 common-form" id="selectcancel" style="display:none;">
            <div class="col1"><?php echo $this->formRow($form->get('selectsource')); ?><?php echo $this->formRow($form->get('cancelsource')); ?></div>
        </div>
        <div class="row drawGrid" id="tmpactlist">
            <div id="success_message" class="success-msg" style="display:none;">
                <div>Source deleted successfully</div>
            </div>
            <div class="grid-box gview_tmplist" id="gview_list">
                    <table id="list_tmpcase"></table>
                    <div id="listtmpcaserud"></div> 
            </div>
        </div>
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['L_ATTACHMENTS']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <?php
        for ($i = 1; $i <= $this->number_of_attachment; $i++) {
            ?>

            <div class="row <?php echo ($this->number_of_attachment == $i) ? 'no-padd' : ''; ?>">
                <div class="col1 attachment">
                    <label><?php echo $translator['L_ATTACH_FILE']; ?></label>
                    <div  class="customfile-container">
                        <?php echo $this->formRow($form->get('file_name_' . $i)); ?>
                        <?php echo $this->formRow($form->get('file_name_hidden_' . $i)); ?>
                        <?php echo $this->formRow($form->get('file_name_attachment_' . $i)); ?>
                    </div>
                    <div class="full m-t-5">
                        <label class="no-padd">&nbsp;</label>
                        <div id="file_name_msg_<?php echo $i; ?>"></div>
                    </div>
                    <?php if ($i == 1) {
                        ?>
                        <span class="age-year auto">Browse to the file you want to upload. You can have a maximum of 3 attachment(s). Each file must be less than 2 MB in size.</span>
                    <?php } ?>
                </div>
                <div class="col1 private">
                    <?php echo $this->formRow($form->get('is_private_' . $i)); ?>
                    <label for="is_private_<?php echo $i; ?>" class="text check"><?php echo $translator['L_PRIVATE']; ?></label>
                </div>
                <?php if (isset($activity_attachment_detail[$i - 1])) {
                    ?>
                    <div class="icon-group" id="file_block_<?php echo $activity_attachment_detail[$i - 1]['activity_attachment_id']; ?>">
                        <a href="javascript:void(0);" class="doc-link"></a>
                        <?php //echo $activity_attachment_detail[$i - 1]['file_name'];  ?>
                        <a href="/download-activity-file/<?php echo $activity_attachment_detail[$i - 1]['file_name']; ?>" class="link" target="_blank">Download</a>
                        <span><a href="#delete_activity_attachment" onclick="removeAttachment(<?php echo $activity_attachment_detail[$i - 1]['activity_attachment_id']; ?>,<?php echo $i; ?>)" class="delete_attachment link">Remove</a></span>
                    </div>
                <?php } ?>
            </div>
            <?php
        }
        ?>
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['L_SCHEDULE_FOLLOW_UP']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <label class="no-padd"><?php echo $translator['L_SCHEDULE_FOLLOW_UP_ACTIVITY']; ?></label>
            <span class="left">
                <?php echo $this->formRow($form->get('follow_up_activity_type_id')); ?></span>
            <label class="auto">on</label>
            <?php echo $this->formRow($form->get('follow_up_activity_date')); ?>
            <label class="auto"><?php echo $translator['L_TIME']; ?></label>
            <?php echo $this->formRow($form->get('follow_up_activity_time')); ?>
        </div>
        <div class="col1">
            <label><?php echo $translator['L_SUBJECT']; ?></label>
            <?php echo $this->formRow($form->get('follow_up_activity_subject')); ?>
        </div>
    </div>
</div>
<div class="common-form">
    <div class="col1  m-t-20 p-b-20">
        <?php echo $this->formRow($form->get('saveactivity')); ?>
        <?php echo $this->formRow($form->get('cancel')); ?>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>

<div style='display:none'>
    <div id='delete_activity_attachment' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT_ATTACHMENT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_attachment" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_attachment" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_temp' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure, you want to delete this source?</h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>