<?php
/**
 * This file is used for get activities listing
 * @package    Activity
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/activity/search.activity.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <h2><?php echo $translator['L_ACTIVITIES']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20">Search Activities by filling the following filters, or just do a blank search for the full Activity list. If you do not find the Activity you seek, you can <a href="<?php echo $this->url('addActivity', array('action' => 'addActivity')); ?>">Create New Activity</a>. Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.</p>

    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_ACTIVITIES']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SOURCE']; ?></label>
                        <?php echo $this->formRow($form->get('activity_source_type_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ACTIVITY_TYPE']; ?></label>
                        <?php
                        echo $this->formRow($form->get('activity_type_id'));
                        foreach ($activityTypeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='activity_type_id" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGN_TO']; ?></label>
                        <?php echo $this->formRow($form->get('assigned_to_crm_user')); ?>
                        <?php echo $this->formRow($form->get('assigned_to_crm_user_id')); ?>

                    </div>
                    <div class="col1 right">
                         <label><?php echo $translator['L_SUBJECT']; ?></label>
                        <?php echo $this->formRow($form->get('activity_subject')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">         
                        <label><?php echo $translator['L_ASSIGNED_BY']; ?></label>
                        <?php echo $this->formRow($form->get('assigned_by_crm_user')); ?>
                        <?php echo $this->formRow($form->get('assigned_by_crm_user_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_WITH']; ?></label>
                        <?php echo $this->formRow($form->get('user')); ?>
                        <?php echo $this->formRow($form->get('user_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DATE_RANGE']; ?></label>
                        <?php echo $this->formRow($form->get('added_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($form->get('added_date_from')); ?>
                        <img alt="" class="left" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg">
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('added_date_to')); ?>
                        <img alt="" class="left" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg">
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchactivitybutton')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>

            <div class="right col1" style="width:auto">
                <?php
                $save_search_form = $this->search_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <?php //echo $this->formRow($save_search_form->get('deletebutton'));  ?>
                <a href="#delete_activity_saved_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                <label id="search_msg" class="error" style="display:none;"></label>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
        <p>

            Below are the records that match the search criteria you entered. If you do not find the Activity you seek, try
            <a href="<?php echo $this->url('addActivity', array('action' => 'addActivity')); ?>">Create New Activity</a>.</p>
    </div>
    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box" id="gview_list">
        <table id="list_activity"></table>
        <div id="listactivityrud"></div>
    </div>
</div>


<div style='display:none'>
    <div id='delete_activity_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ACTIVITY_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_activity" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_activity" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_activity_saved_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
