<?php
/**
 * This file is used for get activity detail
 * @package    Activity
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .='var activity_id=\'' . $this->activity_id . '\';';
$var .='var encrypt_activity_id=\'' . $this->encrypt_activity_id . '\';';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';

echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/activity/activity.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts create-group">
    <h2>
        <?php echo $translator['L_ACTIVITIES']; ?>
        <?php if(isset($activity_data['USER']) and trim($activity_data['USER']) != "") { echo '<div class="user-name-top">'.trim($activity_data['USER']).'</div>'; } ?>
    </h2>
    <div class="accordion-detail m-t-10">
        <div id="pageAction">
            <ul class="edit-link">
                <li><a href="javascript:void(0);" class="active" id="tab-1" onclick="getActivityDetail()"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-2" onclick="editActivityDetails()"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-3" onclick="viewChangeLog()"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
            </ul>
        </div>
        <div id="activityContent"></div>
    </div>
</div>