<?php
/**
 * This file is used for get contact activities listing for tabs
 * @package    Activity
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var encrypted_user_id= "' . $encrypted_user_id . '";';
$var .= 'var encrypted_source_id= "' . $encrypted_source_id . '";';
$var .= 'var encrypted_activity_source_id= "' . $encrypted_activity_source_id . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/activity/search.activity.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="create-contacts">
    <?php
    $form = $this->form;
    $sourceType = $form->get('activity_source_type_id')->getValue();
    if ($sourceType == 1)
        $breadCrumbClass = "contact-breadcrumb";
    elseif ($sourceType == 3)
        $breadCrumbClass = "position-ab m-t-51 case";
    else
        $breadCrumbClass = "m-t-51";
    ?>
    <div class="breadcrumb <?php echo $breadCrumbClass; ?>">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <p class="search-text <?php if ($sourceType != 3) { ?>m-t-20<?php } ?>">Search Activities by filling the following filters, or just do a blank search for the full Activity list. If you do not find the Activity you seek, you can <a href="<?php echo '/create-activity/' . $encrypted_user_id . '/' . $encrypted_source_id . '/' . $encrypted_activity_source_id; ?>">Create New Activity</a> .</p>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_ACTIVITIES']; ?></span></div>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        echo $this->formRow($form->get('activity_source_type_id'));
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ACTIVITY_TYPE']; ?></label>
                        <?php
                        echo $this->formRow($form->get('activity_type_id'));
                        foreach ($activityTypeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='activity_type_id" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                        <?php echo $this->formRow($form->get('activity_source_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ASSIGN_TO']; ?></label>
                        <?php echo $this->formRow($form->get('assigned_to_crm_user')); ?>
                        <?php echo $this->formRow($form->get('assigned_to_crm_user_id')); ?>

                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DATE_RANGE']; ?></label>
                        <?php echo $this->formRow($form->get('added_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($form->get('added_date_from')); ?>
                        <img alt="" class="left" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg">
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('added_date_to')); ?>
                        <img alt="" class="left" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGNED_BY']; ?></label>
                        <?php echo $this->formRow($form->get('assigned_by_crm_user')); ?>
                        <?php echo $this->formRow($form->get('assigned_by_crm_user_id')); ?>

                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchactivitybutton')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>

    </div>
</div>
<div class="grid-section">
    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box" id="gview_list">
        <table id="list_contact_activity"></table>
        <div id="listcontactactivityrud"></div>
    </div>
</div>


<div style='display:none'>
    <div id='delete_activity_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ACTIVITY_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_activity" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_activity" class="green-btn">
        </div>
    </div>
</div>
