<?php
/**
 * This file is used for view activity detail on ajax call
 * @package    Activity
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/activity/view.activity.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_ACTIVITY_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_ACTIVITY_TYPE']; ?> </label>
                <span class="view-text"><?php echo $activity_data['activity_type']; ?></span>
                <input type="hidden" id="activity_id" name="activity_id" value="<?php echo $this->Encrypt($activity_id);?>">
                <input type="hidden" id="user_id" name="activity_id" value="<?php echo $this->Encrypt($activity_data['user_id']);?>">
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_ASSIGNED_BY']; ?> </label>
                <span class="view-text"><?php echo $activity_data['crm_email_id']; ?></span>
            </div>

        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CONTACT_NAME']; ?> </label>
                <span class="view-text"><?php echo (!empty($activity_data['USER'])) ? $activity_data['USER'] : $activity_data['company_name']; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_ASSIGN_TO']; ?> </label>
                <span class="view-text"><?php echo $activity_data['assigned_to_crm_user']; ?></span>
            </div>

        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo nl2br($translator['L_SUBJECT']); ?> </label>
                <span class="view-text"><?php echo $activity_data['activity_subject']; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_LOCATION']; ?> </label>
                <span class="view-text"><?php echo $activity_data['activity_location']; ?></span> 
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_DATE']; ?> </label>
<?php
        $dateTimeArr = explode(' ', $this->Dateformatalpha($activity_data['activity_date_time'], 'dateformatampm'));
?>
                <span class="view-text"><?php echo ($dateTimeArr[0] == 0) ? 'N/A' : $dateTimeArr[0]; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_TIME']; ?> </label>
                <span class="view-text"><?php echo ($dateTimeArr[1] == 0) ? 'N/A' : $dateTimeArr[1] . " " . $dateTimeArr[2]; ?></span>
            </div>

        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo $translator['L_DURATION']; ?> </label>
                <span class="view-text"><?php echo empty($activity_data['activity_duration']) ? 'N/A' : $activity_data['activity_duration']; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_STATUS']; ?> </label>
                <span class="view-text"><?php echo $activity_data['activity_status']; ?></span> 
            </div>
        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo nl2br($translator['L_DETAILS']); ?> </label>
                <span class="view-text details-text"><?php echo empty($activity_data['activity_detail']) ? "N/A" : $activity_data['activity_detail']; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_PRIORITY']; ?></label>
                <span class="view-text"><?php echo $activity_data['activity_priority']; ?></span>

            </div>
        </div>

    </div>
</div>
<div class="head no-img"><span><?php echo $translator['L_RELATED_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <?php
        if (!empty($activity_data['activity_source_type_id'])) {
        ?>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_SOURCE_TYPE']; ?> </label>
                <span class="view-text"><?php echo empty($activity_data['activity_source_type']) ? 'N/A' : $activity_data['activity_source_type']; ?></span>
                <input type="hidden" id="activity_source_type_id" name="activity_source_type_id" value="<?php echo $activity_data['activity_source_type_id'];?>">
            </div>
        </div>
        <div class="row drawGrid">
            <div class="grid-box gview_list" id="gview_list">
                <table id="list_case"></table>
                <div id="listcaserud"></div> 
            </div>
        </div>
        <?php } ?>
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['L_ATTACHMENTS']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
<?php
                if (!empty($activity_attachment_data)) {
                    foreach ($activity_attachment_data as $attachment) {
?>
                        <div class="row">
                            <div class="col1 download-text">
<?php //echo $attachment['file_name'];   ?>
                                <a href="javascript:void(0);" class="doc-link"></a>
                                <a href="/download-activity-file/<?php echo $attachment['file_name']; ?>" target="_blank" class="link">Download</a>
                    </div>




                </div>
<?php
                    }
                }
?>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_SCHEDULE_FOLLOW_UP']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label class="no-padd"><?php echo $translator['L_SCHEDULE_FOLLOW_UP_ACTIVITY']; ?></label>
                        <span class="view-text"><?php echo (empty($activity_data['follow_activity_type'])) ? 'N/A' : $activity_data['follow_activity_type']; ?></span> </div>
                    <div class="col1 right">
                        <label>On</label>
<?php
                // asd($activity_data);
                if (isset($activity_data['follow_up_activity_date']) && !empty($activity_data['follow_up_activity_date']) && $activity_data['follow_up_activity_date'] != '0000-00-00 00:00:00')
                    $followUpActDateArr = explode(' ', $this->Dateformatalpha($activity_data['follow_up_activity_date'], 'dateformatampm'));
                else {
                    $followUpActDateArr[0] = 0;
                    $followUpActDateArr[1] = 0;
                }
?>

                <span class="view-text"><?php echo ($followUpActDateArr[0] == 0) ? 'N/A' : $followUpActDateArr[0]; ?></span> </div>
        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo $translator['L_TIME']; ?></label>
                <span class="view-text"><?php echo ($followUpActDateArr[1] == 0) ? 'N/A' : $followUpActDateArr[1] . " " . $followUpActDateArr[2]; ?></span> </div>
            <div class="col1 right">
                <label><?php echo $translator['L_SUBJECT']; ?></label>
                <span class="view-text"><?php echo (trim($activity_data['follow_up_activity_subject']) == '') ? 'N/A' : nl2br($activity_data['follow_up_activity_subject']); ?></span> </div>
        </div>
    </div>
</div>