<?php
/**
 * This view is used to create campaign for admin
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/create.rma.js?v='.$this->layout()->getVariable('jsVersion'));

?>

<div class="create-contacts">
    <h2><?php echo $translator['L_RMA']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->create_rma_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_RMA']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['TRANSACTION']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('transaction_id')); ?>                        
                    </div>
                    <div class="col1"><label class="right"><a class="link" href="javascript:void(0)" onclick="window.open('/crm-transactions','popUpWindow','height=' + screen.height + ',width=' + screen.width + ',left=300,top=300,resizable=yes,scrollbars=yes')">Search Transaction</a></label></div>
                    
                </div>
            </div>
        </div>
        <div id="product_content"></div>

        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
