<?php
/**
 * This view is used to create campaign for admin
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var rma_id = "' . $rma_id . '";';

$script = <<<EOD
$(function(){
        $("select.e1").select2();
    });
EOD;

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/edit.rma.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($script)
						  ->prependScript($var);
?>
<style>
    .relative{float: none}
</style>
<div class="accordion-detail">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <?php
    $form = $this->createRmaForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
	<input type="hidden" name="transaction_status_id" id="transaction_status_id" value="<?php echo $searchResult['transaction_status_id'] ?>">
	<input type="hidden" name="old_rma_action_id" id="old_rma_action_id" value="<?php echo $searchResult['rma_action_id'] ?>">
    <div class="head no-img"><span><?php echo $translator['L_RMA']; ?></span></div>
    <div class="detail-section">
        <div class="common-form transaction">
            <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh associate-people">
                <tr>
                    <th><?php echo $translator['PRODUCT']; ?></th>
                    <th><?php echo $translator['SKU']; ?></th>
                    <th><?php echo $translator['SHIPPED_QTY']; ?></th>
                    <th><?php echo $translator['PRODUCT_QTY']; ?></th>
                    <th><?php echo $translator['RETURNED_QUANTITY']; ?></th>
                    <th><?php echo $translator['REASON_TO_RETURN']; ?></th>
                    <th><?php echo $translator['ITEM_CONDITION']; ?></th>
                    <th><?php echo $translator['SHIPPING_RETURN']; ?></th>
                </tr>

                <?php $recCount = count($searchProduct);
                
                foreach ($searchProduct as $key) {
                $shippingTaxHandling = $key['product_tax'] + $key['product_shipping'] + $key['product_handling'];
                    ?>
                    <tr>
                        <td>
                        <?php 
                        switch ($key['tra_pro']) {
	                        case 'don' :
	                        case 'bio' :
	                        case 'fof' :
	                        case 'woh' :
                                echo '<strong>'.$key['product_name']. "</strong>"; 
                                 if (isset($key['item_name']) && !empty($key['item_name'])) {
                                        echo $key['item_name'].'<br>';
                                    }
                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                        echo $key['option_name'];
                                    }                                 
                            break;    
                        case 'pro' :
                        switch ($key['product_type']) {
                                    case '5' :
                                                echo " <strong>" . $key['product_name'];
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name'];
                                                }
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<br>Passenger Name: " . $key['item_name'];
                                                }
                                                echo '</strong>';
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Passenger Id: " . $key['item_id'] . "</strong>";
                                                }
                                               // echo "<strong>Size: " . $key['option_name'] . " </strong>";
                                    break;
                                case '7' : 
                                                     $productName = $key['product_name'];
                                                    if (isset($key['manifest_info']) && !empty($key['manifest_info']))
                                                        $productName.= ' : ' . $key['manifest_info'];

                                                    echo "<strong>".$productName . "</strong>";

                                                   // echo "<br><strong>" . $key['option_name']."</strong>";
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate =$this->Dateformatalpha($key['item_info'],'calender');
                                                else
                                                    $arrivalDate = 'N/A';

                                               // if (isset($key['item_name']) && !empty($key['item_name'])) {

                                                    if (strlen($key['item_id'])<12) {
                                                        echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                    } else {
                                                        echo "<strong>Passenger Name : " . $key['item_name'] . "</strong>";
                                                        echo "<strong>Passenger ID : " . $key['item_id'] . "</strong>";
                                                    }
													if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                        echo "<strong>Ref Line : " . $key[0]['REF_PAGE_LINE_NBR'] . "</strong>";
                                                    }
                                                    if (isset($key[0]['SHIP_NAME']) && !empty($key[0]['SHIP_NAME'])) {
                                                        echo "<strong>Ship Name : " . $key[0]['SHIP_NAME'] . "</strong>";
                                                    }
                                                    if (!isset($key[0]['REF_PAGE_LINE_NBR']) || empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                        echo "<strong>Ship Id : " . $key[0]['item_id'] . "</strong>";
                                                    }                                                        
                                                    if (isset($key[0]['SHIP_ID']) && !empty($key[0]['SHIP_ID'])) {
                                                        echo "<strong>Ship Id : " . $key[0]['SHIP_ID'] . "</strong>";
                                                    }
                                                    echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                                //}

                                break;
                                case '8' :
                                                echo "<strong>".$key['product_name'];
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name']; 
                                                }
                                                echo "</strong>";
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                } 
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Ship Id : " . $key['item_id'] . "</strong>";
                                                }
                                                
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate = $this->Dateformatalpha($key['item_info'],'calender');
                                                else
                                                    $arrivalDate = 'N/A';                                                
                                                echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                break;                
                                default :
                                              echo '<strong>'.$key['product_name'] . "</strong>" . $key['option_name'];  
                                            echo  $key['item_name'];
                            }
                        }                                                                      
                        ?>
                        
                        </td>
                        
                        
                        <td><?php echo $key['product_sku']; ?></td>
                        <td><div class="relative"><?php echo (!empty($key['qty_shipped']))?$key['qty_shipped']:'N/A'; ?></div></td>
                        <td><div class="relative"><?php echo $key['num_quantity']; ?></div></td>
                        <td><div class="relative">
                        <?php 
                        if($searchResult['rma_action_id'] == 3)
                            echo $this->formRow($form->get('returned_qty[]')->setAttributes(array('value' => $key['qty_returned'],'readonly'=>'readonly'))); 
                        else    
                            echo $this->formRow($form->get('returned_qty[]')->setAttributes(array('value' => $key['qty_returned']))); 
                            
                        ?></div></td>
                        <td><div class="relative left-p-none">
                        <?php 
                        if($searchResult['rma_action_id'] == 3)
                            echo $this->formRow($form->get('returned_reason[]')->setAttributes(array('value' => $key['reason_to_return'],'readonly'=>'readonly')));
                        else    
                            echo $this->formRow($form->get('returned_reason[]')->setAttributes(array('value' => $key['reason_to_return'])));
                         
                         ?></div></td>
                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')->setAttributes(array('value' => $key['rma_item_status_id'],$readonly))); ?></div></td>
                        <td><div class="relative">
                        <?php if(!empty($shippingTaxHandling) && $shippingTaxHandling>0)
                        {
                        ?>        
                            <input type="checkbox" value="1" <?php if($key['is_shipping_return'] == 1) echo 'checked';?> id="is_ship_return" name="is_ship_return[<?php echo $key['transaction_product_id'] ?>]" onClick="checkStatus(this);">
                        <?php
                        }
                        ?>        
                                
                            </div>
                        </td>
                        <?php echo $this->formRow($form->get('rma_product_id[]')->setAttributes(array('value' => $key['rma_product_id']))); ?>
                        <?php echo $this->formRow($form->get('returned_orignal_qty[]')->setAttributes(array('value' => $key['qty_returned']))); ?>
                        <!--<input type="hidden" id="is_ship_return" name="is_ship_return[<?php //echo $key['product_id'] ?>]" value="<?php //echo $key['is_shipping_return'] ?>">-->
                        <input type="hidden" id="transaction_id" name="transaction_id[]" value="<?php echo $key['transactionId'] ?>">
                         <input type="hidden" id="product_id" name="product_id[]" value="<?php echo $key['transaction_product_id'] ?>">
                        
                        <?php
	                        echo $this->formRow($form->get('product_tax[]')->setValue($key['product_tax']));
		                    echo $this->formRow($form->get('product_shipping[]')->setValue($key['product_shipping']));
		                    echo $this->formRow($form->get('product_handling[]')->setValue($key['product_handling']));
		                    echo $this->formRow($form->get('product_total_qty[]')->setValue($key['num_quantity']));
		                    echo $this->formRow($form->get('product_discount[]')->setValue($key['product_discount']));  
							echo $this->formRow($form->get('product_amount[]')->setValue($key['product_price']));    
							echo $this->formRow($form->get('transaction_product_type[]')->setValue($key['transaction_product_type']));  
							echo $this->formRow($form->get('transaction_product_id[]')->setValue($key['transaction_product_id']));  

							echo $this->formRow($form->get('qty_shipped[]')->setValue($key['qty_shipped']));  
                        ?>
                    </tr>
                    
                    <?php
                                                      
					//echo $this->formRow($form->get('product_amount[]')->setValue($key['product_price']));                                       
                    
                }
                ?>
                
                <?php echo $this->formRow($form->get('rma_id')->setAttributes(array('value' => $searchProduct[0]['transaction_rma_id']))); ?>
            </table>
        </div>
        <div class="common-form row transaction">
            <div><label class="m-t-10"><?php echo $translator['L_STATUS']; ?></label>
                <label><?php echo $this->formRow($form->get('rma_action')); ?></label></div>
        </div>
        <div class="common-form transaction associate-people" style="display:none;" id="rma_status_div">
           <label class="m-t-15">&nbsp;</label>  
            <div class="col2">
                <label class="">Method</label><?php echo $this->formRow($form->get('rma_status')); ?>
            </div>
            <div id="bank_name_div" class="col2">
                <label class=""><?php echo $translator['BANK_NAME']; ?></label><?php echo $this->formRow($form->get('bank_name')); ?>
            </div>
            <div id="check_no_div" class="col2">
                <label class=""><?php echo $translator['CHECK_NO']; ?></label><?php echo $this->formRow($form->get('check_no')); ?>
            </div>
            <div id="transaction_div" class="col2">
                <label  class=""><?php echo $translator['TRANSACTION']; ?></label><?php echo $this->formRow($form->get('transaction')); ?>
            </div>   
             
            <div id="amount_div" class="col2">
                <label class=""><?php echo $translator['AMOUNT']; ?></label><?php echo $this->formRow($form->get('amount')->setAttributes(array('readonly'=>'readonly'))); ?>
                <label class="">Shipping</label>
                <?php 
               // if($refund_shipping=='' || $refund_shipping=='0' || $refund_shipping=='0.00')
                    echo $this->formRow($form->get('refund_shipping')->setAttributes(array('readonly'=>'readonly'))); 
                //else
                //    echo $this->formRow($form->get('refund_shipping')); 
                ?>
                <label class="">Tax</label>
                <?php 
                //if($refund_tax=='' || $refund_tax=='0' || $refund_tax=='0.00')
                    echo $this->formRow($form->get('refund_tax')->setAttributes(array('readonly'=>'readonly')));
                //else     
                //    echo $this->formRow($form->get('refund_tax'));
                ?>
            </div>

        </div>
    </div>
    <div id="product_content"></div>
    
<div class="accordion-detail">
    <div class="head no-img"><span>Notes</span></div>
    <div class="detail-section">
        <div class="common-form transaction note">
            <div id="notesdiv">
                <?php
                if ($this->notes !== false) {
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    foreach ($notes as $key => $val) {
                    
                    if(($val['note_private'] == 'Private' && $val['note_user'] == $userId) || $val['note_private'] =="")
                        {
                        
                        if ($counterAlternate == 0) {
                            $classAlternate = 'alterbg';
                            $counterAlternate = $counterAlternate + 1;
                        } else {
                            $classAlternate = 'alterbg alterbg-none';
                            $counterAlternate = 0;
                        }
                        ?>
                        <div class="row <?php echo $classAlternate; ?>">
                            <strong class="right bold m-b-10 aright">
                                <?php
                                if ($val['note_user'] == $userId) {
                                    if (isset($val['note_private']) and trim($val['note_private']) != "") {
                                        ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" checked="checked" /> <?php
                                    } else {
                                        ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" /> <?php
                                    }
                                    echo "Private";
                                }
                                if ($val['note_user'] != $userId) {
                                    if (isset($val['note_private']) and trim($val['note_private']) != "") {
                                        echo "Private";
                                    }
                                }
                                ?>
                            </strong>
                            <p class="text"><?php echo $val['note']; ?></p>
                            <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($val['added_date'], 'dateformatampm'); ?> by <?php echo $val['name']; ?></p>
                        </div>
                        <?php
                        }
                    }
                }
                ?>
            </div>
            <div class="row">
                <strong class="private check-abhi"><?php echo $this->formRow($form->get('notify_note')); ?>Private</strong>
                <label>Note</label>
                <?php echo $this->formRow($form->get('note')); ?>
            </div>

        </div>
    </div>
</div>    
    
    <div class="common-form">
        <div class="col1  m-t-20">
            <?php echo $this->formRow($form->get('savebutton')->setValue('Update')); ?>
            <?php echo $this->formRow($form->get('cancelbutton')); ?>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>
<script>
function checkStatus(obj) {
	if($("#old_rma_action_id").val()==3 || $("#old_rma_action_id").val()==6)
	{   
		if(obj.checked == false) 
			obj.checked = true;
		else
			obj.checked = false;;
	}
}
/*
	var recCount = '<?php echo $recCount ?>';
var obj;
 function EditRmaShiping(tpId,obj) {
    var shippingAmount = 0;
    var taxAmount = 0;
	$("input[name='product_shipping[]']").each(function(){
        shipping = $("input[name='product_shipping[]']").val();
        handling = $("input[name='product_handling[]']").val();
        product_tax = $("input[name='product_tax[]']").val();
        returnQty = $("input[name='returned_orignal_qty[]']").val();
        totalQty = $("input[name='product_total_qty[]']").val();
        
        if($("input[name='is_ship_return["+tpId+"]']").is(":checked")){
            shippingAmount = shippingAmount + (shipping/totalQty)*obj.value+(handling/totalQty)*obj.value;
            taxAmount = taxAmount + (product_tax/totalQty)*obj.value;
        }
        
     
	});
	$("#refund_shipping").val(shippingAmount.toFixed(2));
	$("#refund_tax").val(taxAmount.toFixed(2));

	}

*/
</script>
