<?php
/**
 * This view is used to create campaign for admin
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.rma.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
     <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2>RMA</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20">RMA refers to Return Merchandise Authorization. You can search RMA by filling the following filters, or just do a blank search for the full RMA list. If you do not find the RMA you seek, you can <a href="/create-rma">Create New RMA. </a><br>
        Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list. </p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span>Search RMA</span></div>
        <?php
        $form = $this->search_rma_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label>RMA </label>
                        <?php echo $this->formRow($form->get('rma')); ?>
                    </div>
                    <div class="col1 right">
                        <label>Name or Email</label>
                        <?php echo $this->formRow($form->get('name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Transaction #</label>
                        <?php echo $this->formRow($form->get('transaction_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label>Method</label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                </div>
				<div class="row">
                    <div class="col1">
                        <label>Status </label>
                        <?php echo $this->formRow($form->get('action')); ?>
                    </div>
                    <div class="col1 right">
                        &nbsp;
                    </div>
                </div>                
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
        <div class="detail-section1 common-form">
            <div class="col1">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>

                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="right">
                <?php
                $save_form = $this->saveSearchRmaForm;
                $save_form->prepare();
                echo $this->form()->openTag($save_form);
                ?>
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?> </label>
                <?php echo $this->formRow($save_form->get('save_search_as')); ?>
                <?php echo $this->formRow($save_form->get('search_id')); ?>
                <?php echo $this->formRow($save_form->get('savesearch')); ?>
                <a href="#delete_search" id="deletebutton" style="display:none;" class="delete_search save-btn m-l-5" onClick="deleteSearch();"><?php echo $translator['DEL']; ?></a>
                <span id="search_msg"></span>    
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the RMA you seek, try <a href="/create-rma">Create New RMA</a>.</p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>

    </div>
</div>
<div style='display:none'>
    <div id='delete_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_SEARCH_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>