<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$script = <<<EOD
$(function(){
        $("select.e1").select2();
        $("checkbox.e2").select2();
    });
EOD;

echo $this->inlineScript()->prependScript($script)
                          ->prependScript($var);

$transactionProduct = $this->searchProduct;
?>
<?php
//asd($transactionProduct);
$form = $this->createRmaForm;
$form->prepare();
?>
<style>
    .relative{float: none}
</style>
<?php
if ($count > 0 && $countforRma>0) {
    ?>
    <div class="detail-section">
        <div class="common-form transaction">
            <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh associate-people">
                <tr>
                    <th><?php echo $translator['PRODUCT']; ?></th>
                    <th><?php echo $translator['SKU']; ?></th>
                    <th><?php echo $translator['SHIPPED_QTY']; ?></th>
                    <th><?php echo $translator['PRODUCT_QTY']; ?></th>
                    <th><?php echo $translator['RETURNED_QUANTITY']; ?></th>
                    <th><?php echo $translator['REASON_TO_RETURN']; ?></th>
                    <th><?php echo $translator['ITEM_CONDITION']; ?></th>
                    <th><?php echo $translator['SHIPPING_RETURN']; ?></th>
                </tr>
                <?php
               // asd($transactionProduct);
                foreach ($transactionProduct as $key) {
                    $shippingTaxHandling = $key['shipping'] + $key['product_tax'] + $key['handling'];
                    switch ($key['tra_pro']) {
                        case 'don' :
                        case 'bio' :
                        case 'fof' :
                        case 'woh' :
                            ?>
                            <tr>
                                <td><div class="relative"><?php echo '<strong>'.$key['product_name'] . "</strong>" . $key['option_name']; ?></div></td>
                                <td><div class="relative"><?php echo (isset($key['product_sku']) && !empty($key['product_sku'])) ? $key['product_sku'] : "N/A"; ?> </div></td>
                                <td><div class="relative"><?php echo (!empty($key['shippedQty']))?$key['shippedQty']:'N/A'; ?></div></td>
                                <td><div class="relative"><?php echo $key['product_quantity']; ?></div></td>
                                <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_qty[]')); ?></div></td>
                                <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_reason[]')); ?></div></td>
                                <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')); ?></div></td>
                                <td><div class="relative">
                                <?php if(!empty($shippingTaxHandling) && $shippingTaxHandling>0)
                                {
                                ?>
                                    <input type="checkbox" checked="checked" value="1" id="is_ship_return" name="is_ship_return[<?php echo $key['product_id'] ?>]">
                                <?php
                                }
                                ?>
                                
                                <?php //echo $this->formRow($form->get('is_ship_return[]')); ?></div></td>
                            </tr>                                        
                            <?php
                            break;
                        case 'pro' :
                            switch ($key['product_type']) {
                                case '5' :
                                    ?>
                                    <tr>
                                        <td><div class="relative"><?php
                                                echo " <strong>" . $key['product_name'];
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name'];
                                                }
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<br>Passenger Name: " . $key['item_name'];
                                                }
                                                echo '</strong>';
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Passenger Id: " . $key['item_id'] . "</strong>";
                                                }
                                               // echo "<strong>Size: " . $key['option_name'] . " </strong>";
                                                ?>
                                            </div></td>
                                        <td><div class="relative"><?php echo (isset($key['product_sku']) && !empty($key['product_sku'])) ? $key['product_sku'] : "N/A"; ?> </div></td>
                                        <td><div class="relative"><?php echo $key['shippedQty']; ?></div></td>
                                        <td><div class="relative"><?php echo $key['product_quantity']; ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_qty[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_reason[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')); ?></div></td>
                                        <td><div class="relative">
                                        <?php if(!empty($shippingTaxHandling) && $shippingTaxHandling>0)
		                                {
		                                ?>
                                            <input type="checkbox" checked="checked" value="1" id="is_ship_return" name="is_ship_return[<?php echo $key['product_id'] ?>]">
                                        <?php
                                        }
                                        ?>
                                        <?php //echo $this->formRow($form->get('is_ship_return[]')); ?></div></td>
                                    </tr>                                                     
                                    <?php
                                    break;
                                case '7' :
                                    ?>
                                    <tr>
                                        <td><div class="relative"><strong><?php
                                                    $productName = $key['product_name'];
                                                    if (isset($key['manifest_info']) && !empty($key['manifest_info']))
                                                        $productName.= ' : ' . $key['manifest_info'];

                                                    echo $productName . "</strong>";

                                                   // echo "<br><strong>" . $key['option_name'];
                                                    ?></strong>
                                                <?php
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                else
                                                    $arrivalDate = 'N/A';


                                                    //if (isset($key['item_name']) && !empty($key['item_name'])) {

                                                    if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                        echo "<strong>Passenger Name : " . $key['item_name'] . "</strong>";
                                                        echo "<strong>Passenger ID : " . $key['item_id'] . "</strong>";
                                                    } else {
                                                        echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                        
                                                    }
	                                                if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
	                                                    echo "<strong>Ref Line : " . $key[0]['REF_PAGE_LINE_NBR'] . "</strong>";
	                                                }
                                                    if (isset($key[0]['SHIP_NAME']) && !empty($key[0]['SHIP_NAME'])) {
                                                        echo "<strong>Ship Name :" . $key[0]['SHIP_NAME'] . "</strong>";
                                                    }
                                                    if (!isset($key[0]['REF_PAGE_LINE_NBR']) || empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                        echo "<strong>Ship Id : " . $key[0]['item_id'] . "</strong>";
                                                    }   
                                                    if (isset($key[0]['SHIP_ID']) && !empty($key[0]['SHIP_ID'])) {
                                                        echo "<strong>Ship Id : " . $key[0]['SHIP_ID'] . "</strong>";
                                                    }                                                
                                                
                                                    echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                               // }
                                                ?>
                                            </div></td>
                                        <td><div class="relative"><?php echo (isset($key['product_sku']) && !empty($key['product_sku'])) ? $key['product_sku'] : "N/A"; ?> </div></td>
                                        <td><div class="relative"><?php echo $key['shippedQty']; ?></div></td>
                                        <td><div class="relative"><?php echo $key['product_quantity']; ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_qty[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_reason[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')); ?></div></td>
                                        <td><div class="relative">
                                        <?php if(!empty($shippingTaxHandling) && $shippingTaxHandling>0)
		                                {
		                                ?>
                                            <input type="checkbox" checked="checked" value="1" id="is_ship_return" name="is_ship_return[<?php echo $key['product_id'] ?>]">
                                        <?php
                                        }
                                        ?>
                                        <?php //echo $this->formRow($form->get('is_ship_return[]')); ?></div></td>
                                    </tr> 
                                    <?php
                                    break;
                                case '8' :
                                    ?>
                                    <tr>
                                        <td><div class="relative"><?php echo "<strong>".$key['product_name'] ?>
                                                <?php
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name'] . "</strong>";
                                                }
                                                echo "</strong>";
                                                 if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                }
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Ship Id : " . $key['item_id'] . "</strong>";
                                                }
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate = $this->Dateformatalpha($key['item_info'],'calender');
                                                else
                                                    $arrivalDate = 'N/A';                                                
                                                echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                                ?>
                                            </div></td>
                                        <td><div class="relative"><?php echo (isset($key['product_sku']) && !empty($key['product_sku'])) ? $key['product_sku'] : "N/A"; ?> </div></td>
                                        <td><div class="relative"><?php echo $key['shippedQty']; ?></div></td>
                                        <td><div class="relative"><?php echo $key['product_quantity']; ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_qty[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_reason[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')); ?></div></td>
                                        <td><div class="relative">
                                        <?php if(!empty($shippingTaxHandling) && $shippingTaxHandling>0)
		                                {
		                                ?>
                                            <input type="checkbox" checked="checked" value="1" id="is_ship_return" name="is_ship_return[<?php echo $key['product_id'] ?>]">
                                        <?php
                                        }
                                        ?>    
                                        <?php //echo $this->formRow($form->get('is_ship_return[]')); ?></div></td>
                                    </tr>                                                     

                                    <?php
                                    break;
                                default :
                                    ?>

                                    <tr>
                                        <td><div class="relative"><?php echo '<strong>'.$key['product_name'] . "</strong>" . $key['option_name']; ?>
                                                <?php
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ":<label>SIZE " . $key['option_name'] . "</label>";
                                                }
                                                echo "</strong>";
                                                if (isset($key[0]['SHIPID']) && !empty($key[0]['SHIPID'])) {
                                                    echo "<strong>Ship Id : " . $key[0]['SHIPID'] . "</strong>";
                                                }
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                }
                                                ?>
                                            </div></td>
                                        <td><div class="relative"><?php echo (isset($key['product_sku']) && !empty($key['product_sku'])) ? $key['product_sku'] : "N/A"; ?> </div></td>
                                        <td><div class="relative"><?php echo $key['shippedQty']; ?></div></td>
                                        <td><div class="relative"><?php echo $key['product_quantity']; ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_qty[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('returned_reason[]')); ?></div></td>
                                        <td><div class="relative left-p-none"><?php echo $this->formRow($form->get('item_condition[]')); ?></div></td>
                                        <td><div class="relative">
                                        <input type="checkbox" checked="checked" value="1" id="is_ship_return" name="is_ship_return[<?php echo $key['product_id'] ?>]">
                                        <?php //echo $this->formRow($form->get('is_ship_return[]')); ?></div></td>
                                    </tr> 

                                    <?php
                                    break;
                            }
                    }
                    //$totalRefundPrice = ($key['product_price'] - $key['product_discount']) + $key['product_tax'] + $key['shipping'] + $key['handling'];
                    
                    //echo $this->formRow($form->get('total_refund_amount[]')->setValue($key['product_price'] - $key['product_discount']));
                    echo $this->formRow($form->get('product_tax[]')->setValue($key['product_tax']));
                    echo $this->formRow($form->get('product_shipping[]')->setValue($key['shipping']));
                    echo $this->formRow($form->get('product_handling[]')->setValue($key['handling']));
                    echo $this->formRow($form->get('product_total_qty[]')->setValue($key['product_quantity']));
                    echo $this->formRow($form->get('product_discount[]')->setValue($key['product_discount']));
                    echo $this->formRow($form->get('product_amount[]')->setValue($key['product_price']));
                    
                    //echo $this->formRow($form->get('product_amount[]')->setValue($key['product_price'] - number_format($key['product_discount']/$key['product_quantity'], 4, '.', '')));
                    echo $this->formRow($form->get('shipment_id[]')->setValue($key['shipment_id']));
                    echo $this->formRow($form->get('product_id[]')->setValue($key['product_id']));
                    echo $this->formRow($form->get('product_type[]')->setValue($key['product_type_id']));
                    echo $this->formRow($form->get('transaction_product_id[]')->setValue($key['id']));
                    echo $this->formRow($form->get('transaction_product_type[]')->setValue($key['tra_pro']));

                }
                ?>
            </table>
        </div>
    </div>
	<div class="accordion-detail">
	    <div class="head no-img"><span>Notes</span></div>
	    <div class="detail-section">
	        <div class="common-form transaction note">
	            <div class="row">
	                <strong class="private check-abhi"><?php echo $this->formRow($form->get('notify_note')); ?>Private</strong>
	                <label>Note</label>
	                <?php echo $this->formRow($form->get('note')); ?>
	            </div>
	
	        </div>
	    </div>
	</div>    
        <div class="common-form">
            <div class="col1  m-t-20">
                <?php echo $this->formRow($form->get('savebutton')); ?>
                <?php echo $this->formRow($form->get('cancelbutton')); ?>
            </div>
        </div>    
 <?php }
    else {
    ?>
    <div class="detail-section">
        <div class="common-form transaction">
            <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh associate-people">
                     <tr><td align="center"><strong>RMA for this transaction is already created.</strong></td></tr>
            </table>         
        </div>
    </div>            
    <?php
    }
 ?>
  
