<?php
/**
 * This view is used to view rma
 * @package    RMA
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var encrypt_rma_id="' . $rma_id . '";';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.rma.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>
        <?php echo $translator['L_RMA']; ?>
       
        <?php if(isset($rmaDecryptId) and trim($rmaDecryptId) != "") { echo '<div class="user-name-top">RMA # :'.trim($rmaDecryptId).'</div>'; }  ?>
    </h2>
    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="javascript:void(0);" onclick="getRmaDetail()"  id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
            <?php
                if($searchResult['rma_action_id']!=5) {
            ?>  
            <li><a href="javascript:void(0);" onclick="editRmaDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
            <?php
                }
            ?>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-3"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="rmaContent"></div>
    </div>
</div>