<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .='var tableName = "' . $this->Encrypt($tableName) . '";';
$var .='var tableField = "' . $this->Encrypt($tableField) . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add.note.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<div class="accordion-detail">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_REQUEST_DETAILS']; ?></span></div>
    <div class="detail-section">
        <div class="common-form transaction">
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_RMA']; ?> # </label>
                    <label class="bold"><?php echo $searchResult['transaction_rma_id']; ?></label>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['TRANSACTION']; ?> # </label>
                    <label class="bold"><?php echo $searchResult['transaction_id']; ?></label>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_NAME']; ?></label>
                    <label class="bold"><?php echo $searchResult['first_name']; ?></label>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_EMAIL']; ?></label>
                    <label class="bold"><?php echo $searchResult['email_id']; ?></label>
                </div>
            </div>
            <?php
            if($searchResult['rma_action_id'] == 5 || $searchResult['rma_action_id'] == 3) {
            ?>
				<div class="row">
	                <div class="col1">
	                    <label>Refund Amount</label>
	                    <label class="bold"><?php echo '$'.$this->Currencyformat($searchResult['rma_refund_amount']+$searchResult['rma_refund_shipping']+$searchResult['rma_refund_tax']); ?></label>
	                </div>
	                <?php
	                if($searchResult['rma_action_id'] == 5) {
	                ?>
	                <div class="col1 right">
	                    <label>Method</label>
	                    <label class="bold"><?php echo $searchResult['rma_status']; ?></label>
	                </div>
	                <?php
	                }
	                else {
	                ?>
	                <div class="col1 right">
	                    <label>Status</label>
	                    <label class="bold"><?php echo $searchResult['rma_action']; ?></label>
	                </div>	                
	                <?php
	                }
	                ?>
	            </div>            
            <?php
               if($searchResult['rma_status_id'] == 1) {
            ?>
	            
				<div class="row">
	                <div class="col1">
	                    <label>Bank Name</label>
	                    <label class="bold"><?php echo $searchResult['refund_bank_name']; ?></label>
	                </div>
	                <div class="col1 right">
	                    <label>Check No.</label>
	                    <label class="bold"><?php echo $searchResult['refund_cheque_no']; ?></label>
	                </div>
	            </div>            
            <?php
                }
                else if($searchResult['rma_status_id'] == 2) {
                ?>
				
				<div class="row">
	                <div class="col1">
	                     <label>Bank Name</label>
	                    <label class="bold"><?php echo $searchResult['refund_bank_name']; ?></label>
	                </div>
	                <div class="col1 right">
	                   <label>Transaction No.</label>
	                    <label class="bold"><?php echo $searchResult['refund_transaction_id']; ?></label>
	                </div>
	            </div>                   
                <?php
                }
                else if($searchResult['rma_status_id'] == 3) {
                ?>
				<div class="row">
	                <div class="col1">
	                     <label>Transaction No.</label>
	                    <label class="bold"><?php echo $searchResult['refund_transaction_id']; ?></label>
	                </div>
	            </div>                   
                <?php
                }
            }
            else {
            ?>
				<div class="row">
	                <div class="col1">
	                    <label>Amount</label>
	                    <label class="bold"><?php echo '$'.$this->Currencyformat($searchResult['rma_refund_amount']+$searchResult['rma_refund_shipping']+$searchResult['rma_refund_tax']); ?></label>
	                </div>
	            </div>              
            <?php
            }
            ?>
        </div>
    </div>
</div>
<div class="accordion-detail">
    <div class="head no-img"><span><?php echo $translator['L_RMA_DETAILS']; ?></span></div>
    <div id="product_content">
        <div class="detail-section">
            <div class="common-form transaction">
                <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh">
                    <tr>
                        <th><?php echo $translator['PRODUCT']; ?></th>
                        <th><?php echo $translator['SKU']; ?></th>
                        <th><?php echo $translator['SHIPPED_QUANTITY']; ?></th>
                        <th><?php echo $translator['PRODUCT_QTY']; ?></th>
                        <th><?php echo $translator['RETURNED_QUANTITY']; ?></th>
                        <th><?php echo $translator['REASON_TO_RETURN']; ?></th>
                        <th><?php echo $translator['ITEM_CONDITION']; ?></th>
                        <th><?php echo $translator['SHIPPING_RETURN']; ?></th>
                    </tr>

                    <?php
                    
                    foreach ($searchProduct as $key) {
                        ?>
                        <tr>
                            <td>
                            <?php 
                        switch ($key['tra_pro']) {
	                        case 'don' :
	                        case 'bio' :
	                        case 'fof' :
	                        case 'woh' :
                                 echo '<strong>'.$key['product_name']. "</strong>";
                                 if (isset($key['item_name']) && !empty($key['item_name'])) {
                                        echo $key['item_name'].'<br>';
                                    }
                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                        echo $key['option_name'];
                                    }    
                            break;    
                        case 'pro' :
                        switch ($key['product_type']) {
                                    case '5' :
                                                echo " <strong>" . $key['product_name'];
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name'];
                                                }
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<br>Passenger Name: " . $key['item_name'];
                                                }
                                                echo '</strong>';
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Passenger Id: " . $key['item_id'] . "</strong>";
                                                }
                                               // echo "<strong>Size: " . $key['option_name'] . " </strong>";
                                    break;
                                case '7' : 
                                                    $productName = $key['product_name'];
                                                    if (isset($key['manifest_info']) && !empty($key['manifest_info']))
                                                        $productName.= ' : ' . $key['manifest_info'];

                                                    echo "<strong>".$productName . "</strong>";

                                                   // echo "<br><strong>" . $key['option_name']."</strong>";
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate =$this->Dateformatalpha($key['item_info'],'calender');
                                                else
                                                    $arrivalDate = 'N/A';

                                               // if (isset($key['item_name']) && !empty($key['item_name'])) {

                                                    if (strlen($key['item_id'])<12) {
                                                        echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                    } else {
                                                        echo "<strong>Passenger Name : " . $key['item_name'] . "</strong>";
                                                         echo "<strong>Passenger ID : " . $key['item_id'] . "</strong>";
                                                    }
                                                    
													if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                            echo "<strong>Ref Line : " . $key[0]['REF_PAGE_LINE_NBR'] . "</strong>";
                                                    }
                                                        if (isset($key[0]['SHIP_NAME']) && !empty($key[0]['SHIP_NAME'])) {
                                                            echo "<strong>Ship Name : " . $key[0]['SHIP_NAME'] . "</strong>";
                                                        }                                                    
                                                    if (isset($key[0]['SHIP_ID']) && !empty($key[0]['SHIP_ID'])) {
                                                            echo "<strong>Ship Id : " . $key[0]['SHIP_ID'] . "</strong>";
                                                        }
                                                    echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                                //}

                                break;
                                case '8' :
                                                echo "<strong>".$key['product_name'];
                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                    echo ": " . $key['option_name']; 
                                                }
                                                echo "</strong>";
                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                    echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                } 
                                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                    echo "<strong>Ship Id : " . $key['item_id'] . "</strong>";
                                                }
                                                
                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                    $arrivalDate = $this->Dateformatalpha($key['item_info'],'calender');
                                                else
                                                    $arrivalDate = 'N/A';                                                
                                                echo "<strong>Arrival Date: " . $arrivalDate . "</label></strong>";
                                break;                
                                default :
                                              echo '<strong>'.$key['product_name'] . "</strong>" . $key['option_name'];  
                                            echo  $key['item_name'];
                            }
                        }                                                                      
                        ?>
                            
                            </td>
                            <td><?php echo $key['product_sku']; ?></td>
                            <td><?php echo (!empty($key['qty_shipped']))?$key['qty_shipped']:'N/A'; ?></td>
                            <td><?php echo $key['num_quantity']; ?></td>
                            <td><?php echo $key['qty_returned']; ?></td>
                            <td><?php echo $key['reason_to_return']; ?></td>
                            <td><?php echo $key['rma_item_status']; ?></td>
                            <td><?php echo $key['shipping_return']; ?></td>
                        </tr>
                        <?php
                    }
                    ?>

                </table>
            </div>
        </div>

    </div>
</div>
<div class="accordion-detail">
    <div class="head no-img"><span>Notes</span></div>
    <div class="detail-section">
        <div class="common-form transaction note">
            <div id="notesdiv">
                <?php
                if ($this->notes !== false) {
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    foreach ($notes as $key => $val) {
                        if(($val['note_private'] == 'Private' && $val['note_user'] == $userId) || $val['note_private'] =="")
                        {
	                        if ($counterAlternate == 0) {
	                            $classAlternate = 'alterbg';
	                            $counterAlternate = $counterAlternate + 1;
	                        } else {
	                            $classAlternate = 'alterbg alterbg-none';
	                            $counterAlternate = 0;
	                        }
	                        ?>
	                        <div class="row <?php echo $classAlternate; ?>">
	                            <strong class="right bold m-b-10 aright">
	                                <?php
	                                if ($val['note_user'] == $userId) {
	                                    if (isset($val['note_private']) and trim($val['note_private']) != "") {
	                                        ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" checked="checked" /> <?php
	                                    } else {
	                                        ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" /> <?php
	                                    }
	                                    echo "Private";
	                                }
	                                if ($val['note_user'] != $userId) {
	                                    if (isset($val['note_private']) and trim($val['note_private']) != "") {
	                                        echo "Private";
	                                    }
	                                }
	                                ?>
	                            </strong>
	                            <p class="text"><?php echo $val['note']; ?></p>
	                            <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($val['added_date'], 'dateformatampm'); ?> by <?php echo $val['name']; ?></p>
	                            
	                        </div>
	                        <?php
                        }
                        
                    }
                }
                ?>
            </div>
            <?php
            $rmaNotesForm = $this->rmaNotesForm;
            $rmaNotesForm->prepare();
            echo $this->form()->openTag($rmaNotesForm);
            echo $this->formRow($rmaNotesForm->get('transaction_id'));
            ?>
            <div class="row">
                <strong class="private check-abhi"><?php echo $this->formRow($rmaNotesForm->get('notify_note')); ?>Private</strong>
                <label>Note</label>
                <?php echo $this->formRow($rmaNotesForm->get('note')); ?>
            </div>
            <div class="row">

                <?php echo $this->formRow($rmaNotesForm->get('postnote')); ?>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?> 
        </div>
    </div>
</div>