<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php
$translator = $jsLangTranslate;
$i = 0;
$auth = $this->getAuth();    
foreach ($oralHistories as $key => $val) {
    ++$i;
    ?>
    <li <?php if($i!=0 && $i%3==0){ ?> class="last"<?php } ?>>
		<?php 
        if ($loggedInUserId != '' && $val['typeid'] == '2' && $val['passenger_id'] != '' && !is_null($val['passenger_id'])) { 
        ?>
        <div class="black-box" id="shipDetailDiv<?php echo $key ?>" style="display:none;">
			<a class="i-blue-icon" onmouseover="showShipDetailsSummary('<?php echo $key ?>');" onmouseout="hideShipDetailsSummary('<?php echo $key ?>');"></a>
			<div class="row">
				<div class="col1">
					<strong><?php echo $translator['TOPIC'] ?></strong>
					<?php
					if ($val['topicname'] != '') {
						echo $val['topicname'];
					} else {
						echo 'N/A';
					}
					?>
				</div>
				<div class="col1">
					<strong><?php echo $translator['FIRST_NAME'] ?></strong>
					<?php echo $val['firstname']; ?>
				</div>
				<div class="col1">
					<strong><?php echo $translator['LAST_NAME'] ?></strong>
					<?php echo $val['lastname']; ?>
				</div>
			</div>
			<div class="row">
				<div class="col1">
					<strong><?php echo $translator['MARITAL_STATUS'] ?></strong>
					<?php
					if (is_null($val['PRIN_MARITAL_STAT']) || $val['PRIN_MARITAL_STAT'] == '') {
						echo 'N/A';
					} else {
						echo $val['PRIN_MARITAL_STAT'];
					}
					?>
				</div>
				<div class="col1">
					<strong><?php echo $translator['GENDER'] ?></strong>
					<?php
					if (is_null($val['PRIN_GENDER_CODE']) || $val['PRIN_GENDER_CODE'] == '') {
						echo 'N/A';
					} else {
						echo $val['PRIN_GENDER_CODE'];
					}
					?>
				</div>
				<div class="col1">
					<strong><?php echo $translator['AGE_AT_ARRIVAL'] ?></strong>
					<?php
					if (is_null($val['PRIN_AGE_ARRIVAL']) || $val['PRIN_AGE_ARRIVAL'] == '') {
						echo 'N/A';
					} else {
						echo $val['PRIN_AGE_ARRIVAL'];
					}
					?>
				</div>
			</div>
            <div class="row">
                <div class="col1">
                    <strong><?php echo $translator['YEAR_OF_BIRTH'] ?></strong>
                    <?php
                    if (is_null($val['BIRTH_YEAR']) || $val['BIRTH_YEAR'] == '' || $val['BIRTH_YEAR'] == '0000') {
                        echo 'N/A';
                    } else {
                        echo $val['BIRTH_YEAR'];
                    }
                    ?>
                </div>
                <div class="col1">
                    <strong><?php echo $translator['ETHNICITY'] ?></strong>
                    <?php
                    if (is_null($val['ethnicity']) || $val['ethnicity'] == '') {
                        echo 'N/A';
                    } else {
                        echo $val['ethnicity'];
                    }
                    ?>
                </div>
                <div class="col1">
                    <strong><?php echo $translator['LAST_PLACE_OF_RESIDENCE'] ?></strong>
                    <?php
                    if (is_null($val['PRIN_PLACE_RESI']) || $val['PRIN_PLACE_RESI'] == '') {
                        echo 'N/A';
                    } else {
                        echo $val['PRIN_PLACE_RESI'];
                    }
                    ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <strong><?php echo $translator['PASSENGER_ID'] ?></strong>
                    <?php
                    if (is_null($val['passenger_id']) || $val['passenger_id'] == '') {
                        echo 'N/A';
                    } else {
                        echo $val['passenger_id'];
                    }
                    ?>
                </div>
                <div class="col1">
                    <strong><?php echo $translator['DATE_OF_ARRIVAL'] ?></strong>
                    <?php
                    if (is_null($val['DATE_ARRIVE']) || $val['DATE_ARRIVE'] == '' || $val['DATE_ARRIVE'] == '0000-00-00') {
                        echo 'N/A';
                    } else {
                        echo $this->Dateformatalpha($val['DATE_ARRIVE'], 'displaymonthformat');
                    }
                    ?>
                </div>
                <div class="col1">
                    <strong><?php echo $translator['SHIP_OF_TRAVEL'] ?></strong>
                    <?php
                    if (is_null($val['SHIP_NAME']) || $val['SHIP_NAME'] == '') {
                        echo 'N/A';
                    } else {
                        echo $val['SHIP_NAME'];
                    }
                    ?>
                </div>
            </div>
		</div>
		<a class="i-icon" href="javascript:void(0);" onmouseover="showShipDetailsSummary('<?php echo $key ?>');" onmouseout="hideShipDetailsSummary('<?php echo $key ?>');"></a>
		<?php 
        }
        ?>
		<div class="output-frame">
			<div class="detail-top">
				<h1><?php echo $val['lastname']; ?>, <?php echo $val['firstname']; ?></h1>
				<div class="output-bottom-text"><?php echo ($val['typename']!='')?$val['typename']:'N/A'; ?></div>
			</div>
			<div class="detail-mid-frame">
				<div class="detail-mid-leftbox">
					<h2>Country</h2>
					<p><?php echo ($val['countryname']!='')?$val['countryname']:'N/A'; ?></p>
				</div>
				<div class="detail-mid-rightbox">
					<h2>Ship of travel</h2>
					<p><?php echo ($val['SHIP_NAME']!='')?$val['SHIP_NAME']:'N/A'; ?></p>
				</div>
			</div>
			<div class="detail-bottom-show">
			
			</div>
			<div class="detail-bottom-active oral-history">
			  <div class="active-detail-section">
				<?php 
				if ($val['typeid'] == '2' && $val['passenger_id'] != '' && !is_null($val['passenger_id'])) {
				?>
				<a class="passenger-icon" href='/passenger-details/<?php echo $this->Encrypt($val['passenger_id']); ?>/<?php echo $this->Encrypt('passenger'); ?>'>&nbsp;<span class="tool-tip">Passenger Record<span class="arrow">&nbsp;</span></span></a>
				<a class="ship-icon" href='/passenger-details/<?php echo $this->Encrypt($val['passenger_id']); ?>/<?php echo $this->Encrypt('ship'); ?>'>&nbsp;<span class="tool-tip">Ship Image<span class="arrow">&nbsp;</span></span></a>
				<a class="minifest-icon" href='/passenger-details/<?php echo $this->Encrypt($val['passenger_id']); ?>/<?php echo $this->Encrypt('manifest'); ?>'>&nbsp;<span class="tool-tip">Ship Manifest<span class="arrow">&nbsp;</span></span></a>
				<?php 
				}
				?>
				<?php 
				if ($val['McCartItem'] != '' && file_exists($oral_history_assets_upload_dir.'audio/'.$val['McCartItem'].'.MP3')) {
					$audioFile = $this->Encrypt($oral_history_assets.'audio/'.$val['McCartItem'].'.MP3');
					if (isset($auth->user_id) && $auth->user_id != '') {
				?>	
					<a class="audio" href="javascript:void(0);" onClick="getOralHistoryFile('audio','<?php echo $audioFile;?>');">&nbsp;<span class="tool-tip">Audio<span class="arrow">&nbsp;</span></span></a>
				<?php
					}else{								
				?>
					<a class="audio" href="javascript:void(0);" onClick="checkUserLogin('<?php echo $this->Encrypt('/oral-history-audio/'.$audioFile).'@@rd';?>','<?php echo $audioFile; ?>','/oral-history-audio');">&nbsp;<span class="tool-tip">Audio<span class="arrow">&nbsp;</span></span></a>

				<?php 
					}
				} 
				?>
				<?php if ($val['FileName'] != '' && file_exists($oral_history_assets_upload_dir.'text-transcript/'.$val['FileName'])) { 
					$textFile = $this->Encrypt($oral_history_assets_upload_dir.'text-transcript/'.$val['FileName']);
					if (isset($auth->user_id) && $auth->user_id != '') {
				?>
					<a class="text" onClick="getOralHistoryFile('text','<?php echo $textFile;?>');" href="javascript:void(0);">&nbsp;<span class="tool-tip">Text Transcript<span class="arrow">&nbsp;</span></span></a>
				<?php }else{ ?>
					<a class="text" href="javascript:void(0);" onClick="checkUserLogin('<?php echo $this->Encrypt('/oral-history-text/'.$textFile).'@@rd';?>','<?php echo $textFile; ?>','/oral-history-text');">&nbsp;<span class="tool-tip">Text Transcript<span class="arrow">&nbsp;</span></span></a>
				<?php 
					}
				}
				?>
			  </div>
			</div>
		</div>
	</li> 
    <?php
    }
    if (count($oralHistories) >= $limit){
   ?>
	<div class="full" id="load_more-<?php echo $page ?>">
		<div id="loadingDiv-<?php echo $page ?>" class="load-more-button">
			<input name="" type="button" value="Load more" class="load-more-btn button" onclick="loadMore('<?php echo $sort_field; ?>', '<?php echo $sort_order; ?>', '<?php echo $limit; ?>', '<?php echo $start_index; ?>');">
		</div>
	</div>
	<?php 
    }
	?>