<?php
$var = '';
$this->inlineScript()->captureStart();
$translator = $jsLangTranslate;
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var.=" var passengerId = '" . $passengerId . "';";
echo $var;
$this->inlineScript()->captureEnd();
?>
<div id="container">
<?php 
echo $this->partial('/passenger/oralhistory/oral-history-list-block.phtml', array("searchResultArray" => $oralHistories, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'sort_field' => $sort_field, 'sort_order' => $sort_order, 'page' => $page, 'translator' => $translator, 'start_index' => $start_index, 'limit' => $limit, 'total_oral_histories' => $total_oral_histories,'oral_history_assets' => $oral_history_assets, 'oral_history_assets_upload_dir' => $oral_history_assets_upload_dir));
?>
</div>
<script>
    $(window).data('ajaxready', true).scroll(function(e) {
        var spy;
        var container = $('#container');

        if ($(window).data('ajaxready') == false)
            return;
        var WindowHeight = $(window).height();
        if($(window).scrollTop() > $(document).height() - $(window).height() - 200) {
            $(window).data('ajaxready', false);

            var page = parseInt($("#page").val());
            /*$('#sort_field').val(sort_field);
             $('#sort_order').val(sort_order);
             $('#limit').val(limit);
             $('#start_index').val(start_index);*/

            /*if($("#loadingDiv"+'-'+page))
             $("#loadingDiv"+'-'+page).html('Loading.....'); */

            $("#page").val(page + 1);
            if($("#loadingDiv" + '-' + page))
				$("#loadingDiv" + '-' + page).append('<div class="loader-class"><img src ="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/loading.gif"></div>');
            $.ajax
                    ({
                        type: 'POST',
                        cache: true,
                        data: {
                            searchString: $("#OralHistory").serialize(),
                            sort_field: $('#sort_field').val(),
                            sort_order: $('#sort_order').val(),
                            limit: $('#limit').val()
                        },
                        url: '/more-oral-histories',
                        success: function(response)
                        {
                            $("#loadingDiv" + '-' + page).html('');
                            $("#lastDiv").append(response);
                            $(window).data('ajaxready', true);
                            $("#load_more" + '-' + page).html('');
                        }

                    });
        }
    });
</script>