<div class="oral-history-audio-file">
<h3>Audio</h3>
 <p>
	<script>
	parent.$.colorbox.resize({width:"600px",height:"300px"});
	</script>
	<audio controls>
	  <source src="<?php echo $filePath;?>" type="audio/mpeg">
	  <embed height="100%" width="100%" src="<?php echo $filePath;?>">
	</audio>
  </p>
</div>
