<div class="oral-history-text-file">
<h3>Text Transcript</h3>
<div class="scroll"> 
 <p>
	<?php 
	//echo file_get_contents($filePath);
	echo $contents;
	?>
	<script>
	parent.$.colorbox.resize({width:"800px",height:"500px"});
	</script>
  </p>
  </div>
</div>