<?php
/**
 * This view is for oral history library
 * @package    Document
 * @author     Icreon Tech - SK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>
<script><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/oralhistory/search.oralhistory.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<?php 
if(isset($saved_search_id) && $saved_search_id!=''){
?>
<script>
viewSavedSearch('<?php echo $saved_search_id; ?>');
</script>
<?php } ?>
<script type="text/javascript">
    $(function()
    {
        $('.scroll-pane').jScrollPane();
        $(".common-savesearch .dropdown").hide();
        $("select").select2();
    });
</script>
<div class="inner-header">
    <h1>Oral History</h1>
</div>
<!--starts passenger-search-->
<section class="foundation-outer-bg" id="contentArea">
    <div class="foundation-inner-bg">
        <div class="foundation-result-bg">
            <div class="center-wrapper"> 
                <?php
                $form = $this->form;
                $form->prepare();
                echo $this->form()->openTag($form);
                ?> 
                <div class="fr-detail-section">
                    <h1>Oral History Library</h1>
                    <div class="right">
                        <?php echo $this->formRow($form->get('first_name')); ?>
                        <input type="hidden" name="page" id="page" value="<?php echo $page ?>">
                        <input type="hidden" name="sort_field" id="sort_field" value="<?php echo $sort_field; ?>">
                        <input type="hidden" name="sort_order" id="sort_order" value="<?php echo $sort_order; ?>">
                        <input type="hidden" name="start_index" id="start_index" value="<?php echo $start_index; ?>">
                        <input type="hidden" name="limit" id="limit" value="<?php echo $limit; ?>">
                        <input type="hidden" id="type" name="type" value="">
                        <?php echo $this->formRow($form->get('last_name')); ?>
                        <div class="oral-select"><?php echo $this->formRow($form->get('country')); ?></div>
                        <div class="oral-select"><?php echo $this->formRow($form->get('topic')); ?></div>
                        <input type="submit" value="" class="fr-arrow button" id="search" name="searchbutton">
                    </div>
                </div>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
        <div class="center-wrapper"> 
            <div class="passenger-search-result">
                <div class="search-result-box"><h1>Search Results</h1></div>
                <div class="search-result-box right-form">
                    <?php
                    $auth = $this->getAuth();
                    if (isset($auth->user_id) && $auth->user_id != '') {
                        ?>
                        <div class="search-save none">
                            <?php if (!empty($saved_searches)) { ?>
                                <span>Saved Searches</span>
                                <div class="common-savesearch"> 
                                    <div class="dropdown">
                                        <div class="<?php if (count($saved_searches) > 3) { ?>scroll-pane featured-scroll <?php } ?>">

                                            <ul>
                                                <?php
                                                foreach ($saved_searches as $key => $value) {
                                                    ?>
                                                    <li>
                                                        <a class="line-blue" href="javascript:void(0);" onClick="viewSavedSearch('<?php echo $value['search_id']; ?>');"><span><?php echo $value['title']; ?></span></a>
                                                        <a href="#deletesearch" class="deletesearch line-blue" onClick="deleteSaveSearch('<?php echo $value['search_id']; ?>');">
                                                            <div class="sn-close"></div>
                                                        </a>
                                                        <a class="line-blue" href="javascript:void(0);" onClick="viewSavedSearch('<?php echo $value['search_id']; ?>');">
                                                            <div class="sn-search"></div>
                                                        </a>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <form action="" method="post" name="save_search" id="save_search" novalidate="novalidate" style="display:none;">
                            <input name="save_search_as" type="text" id="save_search_as" value="" class="button" placeholder="Save this search">
                            <?php if ($maxSearchCountPS == '0') { ?>
                                <a href="#notallow" class="notallow" onClick="validitycheck('notallow');"><div class="savesearch button"> </div></a>
                            <?php } elseif ($maxSearchCountPS != '0' && count($saved_searches) >= $maxSearchCountPS) { ?>
                                <a href="#exceed" class="exceed" onClick="validitycheck('exceed');"><div class="savesearch button"> </div></a>
                            <?php } else { ?>
                                <div class="savesearch button" id="savesearch"> </div>
                            <?php } ?>
                        </form>                    
                    <?php } ?>
                    <span id="sortlabel" style="display:none;">Sort By</span>
                    <div class="sort-by-pass" style="display:none;">
                        <select name="sortbyfield" id="sortbyfield" >
                            <option value="names.lastname">Last Name</option>
                            <option value="names.firstname">First Name</option>
                            <option value="perscountry.countryname">Country</option>
                        </select>
                    </div>
                    <div class="sort-by-pass last" style="display:none;">
                        <select name="sortorderfield" id="sortorderfield"  >
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="center-wrapper" id="typediv" style="display:none;"> 
            <div class="ohistory-matches-box">
                <?php
                foreach ($types as $typeid => $typename) {
                    if ($typeid == ' ')
                        $typeid = '';
                    ?>
                    <div id="types<?php echo $typeid; ?>" class="ohistory-match-box button <?php if ($typeid == '') { ?>active<?php } ?>" onclick="searchTypeResult('<?php echo $typeid; ?>');"><?php echo $typename; ?></div>
                <?php } ?>
            </div>
        </div>

        <div class="center-wrapper"> 

            <div class="passenger-search-output" id="searchResult">
                <div id="container"><?php
                    echo $this->partial('/passenger/oralhistory/oral-history-list-block.phtml', array("searchResultArray" => $oralHistories, 'loggedInUserId' => $loggedInUserId, 'limit' => $limit, 'sort_field' => $sort_field, 'sort_order' => $sort_order, 'page' => $page, 'translator' => $translator, 'start_index' => $start_index, 'limit' => $limit, 'total_oral_histories' => $total_oral_histories,'oral_history_assets' => $oral_history_assets, 'oral_history_assets_upload_dir' => $oral_history_assets_upload_dir));
                    ?></div>
            </div>

        </div>

    </div>
    <div style='display:none'>
        <div id='deletesearch' class="inner-popup-detail">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h1>Remove Search</h1>
            <p>Are you sure you want to delete record?</p>
            <input type="button" value="Remove" name="yes" id="yes" class="button semibold">
            <input type="button" value="Cancel" name="no" id="no" class="button semibold green">

        </div>
    </div>
    <div style="display:none">
        <div id="loginsignup" class="pop-container">
            <h2>Please login or Register to Continue</h2>
            <p>In order to view these other features, please login or register.</p>
            <div align="center">
                <div class="button-row" style="display:inline;">
                    <input type="button" value="Cancel" name="Cancel" id="cancel"  class="button">
                </div>
                <div class="button-row" style="display:inline;">
                    <input type="button" value="Login" name="Login" id="login" class="button">
                </div>
                <div class="button-row" style="display:inline;">
                    <input type="button" value="Register" name="Signup" id="register" class="button">
                </div>
            </div>
        </div>
    </div>
    <div  style="display:none;">
        <div id="exceed"  class="inner-popup-detail">
            <p>Based on your membership level you have exceeded your saved search limit.</p>
            <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
            <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
            <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
        </div>
    </div>
    <div  style="display:none;">
        <div id="notallow"  class="inner-popup-detail">
            <p>You have not allowed to save searches.</p>
            <p><a href="/member-benefit">Become a member</a> to get save search access.</p>
            <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
        </div>
    </div>
</section>
<!--passenger-search ends-->
<script>
    $(window).data('ajaxready', true).scroll(function(e) {
        var spy;
        var container = $('#container');

        if ($(window).data('ajaxready') == false)
            return;
        var WindowHeight = $(window).height();
        if ($(window).scrollTop() > $(document).height() - $(window).height() - 200) {
            $(window).data('ajaxready', false);

            var page = parseInt($("#page").val());
            $("#page").val(page + 1);
            
			if($("#loadingDiv" + '-' + page))
				$("#loadingDiv" + '-' + page).append('<div class="loader-class"><img src ="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/loading.gif"></div>');
            $.ajax
                    ({
                        type: 'POST',
                        cache: true,
                        data: {
                            searchString: $("#OralHistory").serialize(),
                            sort_field: $('#sort_field').val(),
                            sort_order: $('#sort_order').val(),
                            limit: $('#limit').val()
                        },
                        url: '/more-oral-histories',
                        success: function(response)
                        {
                            $("#loadingDiv" + '-' + page).html('');
                            $("#lastDiv").append(response);
                            $(window).data('ajaxready', true);
                            $("#load_more" + '-' + page).html('');
                        }

                    });
        }
    });

    function showShipDetailsSummary(id)
    {
        $("#shipDetailDiv" + id).show();
    }
    function hideShipDetailsSummary(id)
    {
        $("#shipDetailDiv" + id).hide();
    }
</script>