<?php
/**
 * This page is use for crm login
 * @package    User_LoginController_crmLoginAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var refererPath = "' . $refererUrl . '"';
echo $var;
echo $this->inlineScript()->captureEnd();
echo $this->headScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
echo $this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/crm.user.login.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="login-page">
    <h1 class="logo m-b-40"><a href="#"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/login-logo.jpg" alt=""></a></h1>
    <div class="detail-box">
        <h3>Administrator Login</h3>
        <?php
        if (!empty($this->messages)) {
            echo '<div id="error_message" class="error-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        } else {
            echo '<div id="error_message" class="error-msg" style="display:none;"></div>';
        }
        ?>
        
<?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('crm', array('action' => 'crmLogin')));
        $form->prepare();
        echo $this->form()->openTag($form);
?>
        <div class="row"> <span class="input-bg-email">
<?php echo $this->formRow($form->get('user_name')); ?>
            </span> </div>
        <div class="row"> <span class="input-bg-pass">
<?php echo $this->formRow($form->get('password')); ?>
            </span> <a href="/crm-forgot" class="link">Reset Password?</a> </div>
<?php echo $this->formRow($form->get('submit')); ?>
            <?php
            echo $this->form()->closeTag();
            ?>
    </div>
</div>
<?php 
$isTimezoneSessionSet = $this->layout()->getVariable('isTimezoneSessionSet');
if(isset($isTimezoneSessionSet) && $isTimezoneSessionSet === 0)
{    
?>
<script type='text/javascript'>
    var visitortime = new Date();
	var visitortimezone = -visitortime.getTimezoneOffset();
       
        $.ajax
        ({
            type: 'POST',
            data:{
                visitortimezone:visitortimezone
            },
            url: '/set-user-timezone',
            success: function(response)
            {
                //$("#gallery").html(response);
            }
        }); 
</script>
<?php 
}
?>