<?php
/**
 * This page is use for forgot password
 * @package    User_LoginController_crmForgotAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var ='';
$this->inlineScript()->captureStart();

foreach($jsLangTranslate as $key=>$val){
    $var .= 'var '.$key .'= "'.$this->translate("$val").'";';
}
echo $var ;
$this->inlineScript()->captureEnd() ; 
$this->headScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/crm.user.forgot.js?v='.$this->layout()->getVariable('jsVersion'));

?>
<div id="forgot-password">
<div class="create-contacts">
        <div class="accordion-detail">
            <h1 class="logo"><a href="#"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/login-logo.jpg" alt=""></a></h1>
          <div class="head no-img"><span><?php echo $translator['L_FORGOT_PASSWORD']; ?></span></div>
          <div id="error_message" class="error-msg" style="display:none;"></div>
          <div id="success_message" class="success-msg error" style="display:none;"></div>
            <?php
            $form = $this->form;
            $form->setAttribute('action', $this->url('crm-forgot-password', array('action' => 'crmForgot')));
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="detail-section">
              <div class="common-form" style="padding:0 12px; width:auto;">
                <div class="row">
                  <p class="text">Please enter the email address provided by you at the time of registration.</p>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_EMAIL']; ?>: </label>
                    <?php echo $this->formRow($form->get('email_id'));?>
                   
                </div>
				<div class="row"><label>&nbsp;</label> <?php echo $this->formRow($form->get('submit'));?></div>
                <div class="row">
                  <p class="text m-t-10 left"> Please add my-login-request@ellisisland.org to your address book or safe list to ensure that you receive this email.</p>
                </div>
              </div>
            </div>
             <?php
            echo $this->form()->closeTag();
            ?>
        </div>
 </div>
 </div>


