<?php
/**
 * This file is used to get forgot password
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="inner-popup-detail forgetPassword">
    <h1>Reset Password</h1>
    <p>
        Please enter the email address you provided when you registered below to be reminded of your password.
    </p>

    <div id="error_message" class="error"></div>
    <div id="success_message" class="success-msg"></div>


    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('forgot-password', array('forgot' => 'forgot')));
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('csrf'));
    ?>
    <div class="form-sep">
	<label><?php echo $translator['L_EMAIL']; ?></label>
	<?php echo $this->formRow($form->get('email_id')); ?><?php echo $this->formRow($form->get('submit')); ?>
	</div>
    
    <?php
    echo $this->form()->closeTag();
    ?>

    <p class="bottom">
        <!--
        Please add <a href="mailto:webmaster@libertyellisfoundation.org">webmaster@libertyellisfoundation.org</a> to your address book or 
        safe list to ensure that you receive this email. If you continue to have problems, please call us at (212)561-4588 or use the 
        <a href="javascript:void(0);" onclick="goToContactPage();">Contact us</a> Form.
        -->
        If you don't receive this email, please check your Spam and Junk Folders and be sure to add 
        <a href="mailto:webmaster@libertyellisfoundation.org">webmaster@libertyellisfoundation.org</a> to your address book or safe list to ensure that you receive 
        this and all future emails from us. If you continue to have problems, please call us at (212)561-4588 or use 
        the <a href="javascript:void(0);" onclick="goToContactPage();">Contact us</a> feature.
        
    </p>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
function goToContactPage(){
    parent.window.location.href='/contact-us';
}
EOD;
$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.forgot.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>