<?php
/**
 * This file is used to get login
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$flagShowHideDiv = "1";
if (isset($fbMessages)) {
    if(isset($fbMessages['user']) and isset($fbMessages['flag_status_tacv']) and trim($fbMessages['user']) != "" and trim($fbMessages['flag_status_tacv']) != ""  and trim($fbMessages['flag_status_tacv']) == "2") {
      $flagShowHideDiv = "0";
    }
}
 

$translator = $jsLangTranslate;
$this->inlineScript()->captureStart();
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$var .= 'var refererPath = "' . $refererUrl . '";';
$var .= 'var isLoginPopup = "' . $isLoginPopup . '";';
$var .= 'var isRedirectPopup = "' . $isRedirectPopup . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.login.js?v='.$this->layout()->getVariable('jsVersion'));
?>


<script>
 
        
        <?php
        if (isset($fbMessages) and $flagShowHideDiv == "1") {
            if ($fbMessages['status'] == 'success') {
                if($facebookReferPath==''){
                    $facebookReferPath = '/profile';
                }
                ?>
                     $(function() {
                        $("#cboxContent").hide();                        
                        window.location.href = '<?php echo $facebookReferPath;?>';
                     });
                <?php
            }            
        }
        ?>
 

function popupwindow(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 
</script>
<style>
    .fb_msg{
        margin-top: 10px;
        font-size: 14px;
    }
</style>
<?php 
if(empty($isLoginPopup)) {
?>
<div class="inner-header">
    <h1>Login</h1>
</div>
<section class="main login-page-bg">
    <div class="container">
       
    </div>
</section>
<?php } ?>

    <div id='login-popup-div' class="loginAccount">
		<div id="login-b1" class="head">
                <h1>Login</h1>
				
				<div>
					<?php
		            if (isset($fbMessages)) {
		                if ($fbMessages['status'] == 'error') {
		                    echo "<span id='error_message' class='login-error full'>" . $fbMessages['message'] . "</span>";
		                }
		            } else {
		                echo '<span id="error_message" class="login-error full"></span>';
		            }
		            ?>
	            </div>
			</div>
	<div id="login-b2" class="left-col">
    <?php
            $form = $this->form;
            $form->setAttribute('action', $this->url('login', array('action' => 'login')));
            $form->prepare();
            echo $this->form()->openTag($form);
    ?>   
		
			
			<!--<div class="left-side"><?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?><a href="javascript:void(0);" onclick="popupwindow('<?php echo $fbLoginUrl; ?>','FacebookLogin','840','440');" class="float-right" target="_top"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/login-fb-icon.jpg" class="float-right"></a><?php } ?>
                            <div class="fb_msg">
                                <br>
                                Returning customer &nbsp;<a href="javascript:void(0)" onclick=javascript:parent.location.href="<?php echo SITE_URL;?>/beta#login">See Login Details</a>
                                <div>
                                If this is your first time logging into our 
                                new site, you will need to Reset your Password 
                                to use with your existing account. Please use the email address that 
                                was previously associated with your account.
                                <br><br>
                                Thank you for your patience!
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="login-detail"> -->
                        <div class="left-side">
            <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>            
			<div class="or"></div>
                        <div class="or-right"></div>
			<?php } ?>
			
			
            <div class="form-sep">
                <label><?php echo $translator['L_USERNAME_EMIAL']; ?></label><?php echo $this->formRow($form->get('user_name')); ?>
            </div>
            <div class="form-sep">
                <label><?php echo $translator['L_PASSWORD']; ?></label><?php echo $this->formRow($form->get('password')); ?>
            </div>
            <div class="form-sep">
                <?php echo $this->formRow($form->get('rememberme')); ?>
                Remember Me
               
            </div>
            <div class="form-sep">
			
                <?php echo $this->formRow($form->get('submit')); ?>
                
                <?php
                echo $this->form()->closeTag();
                ?>
               
            </div>
			<div class="form-sep">
			<!-- <div class="forget"><a href="javascript:void(0);" onclick="forgotPopup();">Reset Password</a></div> -->
			</div>
		</div>
       </div>
	   <div id="login-b3" class="right-side">
           <div class="create-account"><span>New user</span><a href="javascript:void(0);" <?php if(isset($this->refererUrlNp) and trim($this->refererUrlNp) != "" and trim($this->refererUrlNp) != "0") { ?> onclick="signupPopupReferal('<?php echo trim($this->refererUrlNp); ?>');" <?php } else { ?> onclick="signupPopup();" <?php } ?> class="button white-text">Create a Free Account</a></div>    
               
	   <h2>login to</h2>
	   <ul>
	    <li>Search the Passenger Records Archives</li>
	   <li>Search the Wall of Honor</li>
	   <li>Search the Flag of Faces</li>
	   <li>Make a Donation</li>
	   </ul>
	   
	   </div>
        
        <div id="termsAndConditionSection" style="display:none;"  class="termConditionPopup">
            <?php
                  $formTAC = $this->termsAndConditionForm;
                  $formTAC->setAttribute('id', 'loginTermsAndCondition');
                  $formTAC->setAttribute('name', 'loginTermsAndCondition');
                  $formTAC->prepare();
                  echo $this->form()->openTag($formTAC);
          ?>  
              <h2><?php echo $titleTAC; ?></h2>
              <div class="content-box"><?php echo $descriptionTAC; ?></div>
             <?php 
                  echo $this->formRow($formTAC->get('is_popup'));
                  echo $this->formRow($formTAC->get('is_fb'));
                  echo $this->formRow($formTAC->get('referpath'));
                  echo $this->formRow($formTAC->get('facebook_id'));
                  echo $this->formRow($formTAC->get('fb_email_id'));
                  echo $this->formRow($formTAC->get('user_id'));
                  echo $this->formRow($formTAC->get('terms_and_condition')); 
              ?>                 
              <div class="btn-row"><?php echo $this->formRow($formTAC->get('submit'));  ?></div>
              <?php
               echo $this->form()->closeTag();
              ?>
      </div>
    </div>


<!-- N- Start -->
<?php if (strpos($_SERVER['HTTP_REFERER'], "search-woh") === false) {  ?>
<div style='display:none;'>
    <div id='addedToCartWoh' class="inner-popup-detail">
        <h1>Add To Cart</h1>
        <p>Item has been added to your cart.</p>
        <input type="button" value="Continue" name="close" class="button green semibold" onclick="javascript:parent.$.colorbox.close();">
        <a href="<?php if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/checkout" onClick="disableCheckoutButton('CHECKOUT_BUTTON5')">
        <input type="button" value="Checkout" name="checkout" id="CHECKOUT_BUTTON5"  class="button semibold"></a> 
    </div>
</div> 
<?php } ?>
<!-- N - End -->
<?php 
$isTimezoneSessionSet = $this->layout()->getVariable('isTimezoneSessionSet');
if(isset($isTimezoneSessionSet) && $isTimezoneSessionSet === 0)
{    
?>
<script type='text/javascript'>
    var visitortime = new Date();
	var visitortimezone = -visitortime.getTimezoneOffset();
       
        $.ajax
        ({
            type: 'POST',
            data:{
                visitortimezone:visitortimezone
            },
            url: '/set-user-timezone',
            success: function(response)
            {
                //$("#gallery").html(response);
            }
        }); 
</script>
<?php 
}
?>
