<?php
/**
 * This file is used for set password
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
echo $this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.forgot.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.forgot.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>


<script>
    $(function() {        
        $.colorbox({
            width:"600px",
            href:"#set-password-popup",
            height:"460px",
            inline: true
        });
    });
    function forgotPopup(){
        parent.$.colorbox({
             width:"655px",
             height:"475px",
             iframe:true,
             href:"/forgot"
        });
    }
</script>
<style>
     .help { margin-right: 68% !important; margin-top: 1px !important; float: right !important; }
</style>

<div class="inner-header">
    <h1>Reset Password</h1>
</div>
<section class="main">
    <div class="container">
        <div class="block col11 form alpha">
            <div class="content" style="height: 180px !important;">

            </div>
        </div>
    </div>
</section>

<div style='display:none'>
    <div id='set-password-popup' class="inner-popup-detail login-detail">
        
        <div id="success_message" class="success-msg"></div>

        <?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('password-reset', array('action' => 'set-password')));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('code'));
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="form-sep"><label><?php echo $translator['L_EMAIL']; ?></label><?php echo $this->formRow($form->get('email_id')); ?></div>
        <div class="form-sep password-col">
            <label><?php echo $translator['L_NEW_PASSWORD']; ?>
              <div class="help">
                <div class="help-tooltip">
                 <ul>
                  <li>Password must contain at least 1 alphabet and 1 number.</li>
                  <li>Password must be at least 6 characters long.</li>
                 </ul>   
                <span class="arrow"></span>
               </div>
            </div>
            </label>
            <?php echo $this->formRow($form->get('password')); ?>
          
        </div>
        <div class="form-sep"><label><?php echo $translator['L_CONFIRM_PASSWORD']; ?></label><?php echo $this->formRow($form->get('password_conf')); ?></div>
        <div class="form-sep"><?php echo $this->formRow($form->get('submit')); ?></div>
        <?php
        echo $this->form()->closeTag();
        ?>
        
        <div id="error_message" class="error"></div>
    </div>
</div>

