<?php
/**
* This file is used to set crm user password
* @package    User
* @author     Icreon Tech - DT
*/
$translator = $jsLangTranslate;
$var ='';
$this->inlineScript()->captureStart();

foreach($jsLangTranslate as $key=>$val){
    $var .= 'var '.$key .'= "'.$this->translate("$val").'";';
}
echo $var ;
$this->inlineScript()->captureEnd() ; 
$this->headScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/crm.user.forgot.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<style>
label.error, span.error{top:-22px; left:0px}
.help {margin-top: 6px; position: relative; background: url(<?php echo $this->layout()->getVariable('jsFilePath'); ?>/img/help-icon.png) no-repeat right 0; padding-right: 8px; width:25px; height:25px; float:left }
.help .help-tooltip { background: #fafbfb; border: 1px solid #a8a3a3; display: none; float: left; font-weight: normal; left: 45px; padding: 5px 7px; position: absolute; top: -2px; width: 300px; font-size: 13px; line-height: 15px; font-size:12px;}
.help:hover .help-tooltip{display:block}
.help .help-tooltip .arrow { width: 7px; height: 11px; float: left; position: absolute; left: -7px; top: 5px; background: url(<?php echo $this->layout()->getVariable('jsFilePath'); ?>/img/yellow-arrow.png) 0 0;}
.help .help-tooltip ul { list-style-image: url("<?php echo $this->layout()->getVariable('jsFilePath'); ?>/images/bullet.png"); }
.help .help-tooltip ol, .help .help-tooltip ul { line-height: 2; margin: 5px 0 10px 20px; }
.password-col input[type="password"]{ width: 340px !important; }

</style>
<div class="login-page">
    <h1 class="logo m-b-40"><a href="#"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/login-logo.jpg" alt=""></a></h1>
    <div class="detail-box">
      <h3><?php echo $translator['L_RESET_PASSWORD']; ?></h3>
      <div id="error_message" class="error-msg" style="display:none;"></div>
        <div id="success_message" class="success-msg" style="display:none;"></div>
      <?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('crm-password-reset', array('action' => 'setCrmPassword')));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('code'));
      ?>
        <div class="row">
        <label><?php echo $translator['L_EMAIL']; ?></label>
        <?php echo $this->formRow($form->get('email_id'));?>
         </div>
        <div class="row password-col">
        <label><?php echo $translator['L_PASSWORD']; ?></label>
          <?php echo $this->formRow($form->get('password'));?>
            <div class="help">
                <div class="help-tooltip">
                 <ul>
                  <li>Password must contain at least 1 alphabet and 1 number.</li>
                  <li>Password must be at least 6 characters long.</li>
                 </ul>   
                <span class="arrow"></span>
               </div>
            </div>
         </div>
        <div class="row">
        <label><?php echo $translator['L_CONFIRM_PASSWORD']; ?></label>
        <?php echo $this->formRow($form->get('password_conf'));?>
         </div>
         <?php echo $this->formRow($form->get('submit'));?>
      <?php
        echo $this->form()->closeTag();
      ?>
    </div>
  </div>
