<?php
/**
 * This view is used to create category
 * @category   Zend
 * @package    passenger
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/products.category.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_PRODUCT']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->setAttributes(array('name' => 'create-product-category', 'id' => 'create-product-category'));
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_CATEGORY_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CAREGORY_NAME'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('category_name')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_PARENT_CATEGORY'] ?></label>
                        <?php echo $this->formRow($form->get('parent_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_DESCRIPTION'] ?><span class="red">*</span>:</label>
                    <?php echo $this->formRow($form->get('category_description')); ?>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('save')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>