<?php
/**
 * This view is used to add the attributes to the products
 * @package    product
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->attributesForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span>Attribute</span></div>
        <div class="detail-section">Select the attributes you want to add and submit the form. You may add more attributes here.
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <span class="checkbox-label"><?php echo $this->formRow($form->get('productAttributes')); ?></span>
                    </div>

                    <div class="row no-padd">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($form->get('save')); ?>
                        <?php echo $this->formRow($form->get('cancel')); ?>
                    </div>
                </div>
            </div>

        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <script>
        //$(".e4").customInput();
    </script>      