<?php
/**
 * This view is used to search passenger for admin
 * @package    Product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/product.product.js?v='.$this->layout()->getVariable('jsVersion'));
//$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?><script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/upload.docs.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript">
    $($(".address-checkbox")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            var id_name = '';

            if (input.attr('id') == 'undefined' || input.attr('id') == '' || input.attr('id') == undefined || input.attr('id') == null) {
                console.log("in");
                id_name = input_class['1'] + '_' + i;
            } else {
                console.log("out");
                id_name = input.attr('id');
            }
            input.attr({'id': id_name});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': id_name}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".address-checkbox").customInput();
	

</script>


<div class="create-contacts">
    <h2><?php echo $translator['L_PRODUCT'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_PRODUCT_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_TYPE'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('product_type')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_NAME'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SKU'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('sku')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_DESCRIPTION'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('description')); ?></div>

                </div>
 
                <div class="row rel-auto-error">    
                        <label class="pad-top-5"><?php echo $translator['L_AVAILABLE'] ?><span class="red">*</span></label>
                        <span class="checkbox-label-product"><?php echo $this->formRow($form->get('available')); ?> </span>    
                </div>                
                
                 <div class="row">   
				<label>&nbsp;</label>				 
                 <div class="col15">               
	                <div class="row checkbox-label-multipale" id="stock_Div">
	                    <div class="col6 left">
	                        <?php echo $this->formRow($form->get('in_stock')); ?>
	                        <label for="in_stock" class="text check">&nbsp;<?php echo $translator['L_IN_STOCK']; ?></label> 
	                    </div>
	                </div>
	                <div class="row">    
	                    <div id="in_Stock_div" style="display:none; width:auto;">
	                        <div class="col7 rel-auto-error">
	                            <label><?php echo $translator['L_STOCK']; ?></label>
	                            <?php echo $this->formRow($form->get('in_Stock_units')); ?>
	                        </div>
	                        <div class="col6 rel-auto-error">
	                            <label><?php echo $translator['L_THRESHOLD']; ?></label>
	                            <?php echo $this->formRow($form->get('threshold')); ?>
	                        </div>
	                    </div>
	                </div>                 
                </div>
                <div class="col15">
		                <div class="row checkbox-label-multipale" id="ellis_stock_Div">
		                    <div class="col6 left">
		                        <?php echo $this->formRow($form->get('in_ellis_stock')); ?> 
		                        <label for="in_stock" class="text check">&nbsp;<?php echo $translator['L_IN_STOCK']; ?></label> 
		                    </div>
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('is_pickup')); ?>
		                        <label for="is_pickup" class="text check"><?php echo $translator['IS_PICKUP']; ?></label>
		
		                    </div>
		                </div>
		                <div class="row">    
		                    <div id="ellis_in_Stock_div" style="display:none; width:auto;">
		                        <div class="col7 rel-auto-error">
		                            <label><?php echo $translator['L_STOCK']; ?></label>
		                            <?php echo $this->formRow($form->get('total_in_ellis_stock')); ?>
		                        </div>
		                        <div class="col6 rel-auto-error">
		                            <label><?php echo $translator['L_THRESHOLD']; ?></label>
		                            <?php echo $this->formRow($form->get('ellis_product_threshold')); ?>
		                        </div>
		                    </div>
		                </div>   
		            </div>                 
                </div>                              
                               
                <div class="row">
                    <div class="col18 uploadMoreProductImages">
                        <label><?php echo $translator['L_ADD_NEW_FILE'] ?></label>
                        <div id="load_upload" class="left">
                            <?php $i = 0; ?>
                            <div class="upload_container_0 row no-padd" id="upload_container_0">
                                <div class="full m-t-15 addfile">
                                    <?php echo $this->formRow($form->get('uplaodFile')->get('file_name0')); ?> 
                                    <?php echo $this->formRow($form->get('uplaodFile')->get('file_name_value[]')); ?>                                
                                    <a id="add_new_file" class="plus m-l-10" href="javascript:void(0)"></a>
                                </div>
                                <div class="full">
                                    <div class="">
                                        <div id="filemessage_<?php echo $i; ?>"></div>                                 
                                    </div> 
                                    <?php $i++; ?>
                                </div>
                            </div>                                                            
                            <div id="upload_count_div" style="display:none;"><?php echo $i; ?></div>
                        </div>
                        <div class="col1 right">
                        <label><?php echo $translator['L_SHIPPING_DESCRIPTION'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('shipping_description')); ?></div>
                    </div>
                </div>
               

            </div>
        </div>
        <div id="categoryHeading" style="display:none;">
        <div class="head no-img" ><span><?php echo $translator['L_CATEGORY_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_CATEGORY'] ?></label>
                        <?php echo $this->formRow($form->get('product_category')); ?>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_DETAILED_INFO'] ?></span></div>
        <div class="detail-section detailed-information">
            <div class="common-form">
                <div class="row">
                    <div class="col6">
                        <label><?php echo $translator['L_LIST_PRICE'] ?></label>
                        <?php echo $this->formRow($form->get('list_price')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_COST'] ?></label>
                        <?php echo $this->formRow($form->get('cost')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_SELL_PRICE'] ?><span class="red" id="required" style="display:none;">*</span></label>
                        <?php echo $this->formRow($form->get('sell_price')); ?>
                    </div>
                </div>
                <div class="row checkbox-label-multipale">
                    <div class="col6">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('membership_discount')); ?>
                        <label for="membership_discount" class="text check"><?php echo $translator['L_MEMBERSHIP_DISCOUNT']; ?></label> 
                    </div>
                    <div id="featured_Div">
                        <div>
                            <div class="col6">
                                <label>&nbsp;</label>
                                <?php echo $this->formRow($form->get('featured')); ?>
                                <label for="featured" class="text check"><?php echo $translator['L_FEATURED']; ?></label> 
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row no-padd checkbox-label-multipale">
		            <div style="float:left;">        
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('is_texable')); ?>
		                        <label for="is_texable" class="text check"><?php echo $translator['L_IS_TAXABLE']; ?></label> 
		
		                    </div>
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('is_refundable')); ?>
		                        <label for="is_refundable" class="text check"><?php echo $translator['L_REFUNDABLE']; ?></label> 
		
		                    </div>
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('is_promotional')); ?>
		                        <label for="is_promotional" class="text check"><?php echo $translator['L_PROMOTIONAL']; ?></label> 
		                    </div>
		                    
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('product_transaction_type')); ?>
		                        <label for="product_transaction_type" class="text check"><?php echo $translator['IS_DONATION']; ?></label>
		                    </div>
                    </div>    
                    <div id="is_shippable_block" style="float:left;">    
		                    <div class="col6">
		                        <label>&nbsp;</label>
		                        <?php echo $this->formRow($form->get('is_shippable')); ?>
		                        <label for="is_shippable" class="text check"><?php echo $translator['IS_SHIPPABLE']; ?></label>
		                    </div>
		                                        
		                    <span class="col6 shipping_cost_label">
			                        <label>&nbsp;</label>
			                        <?php echo $this->formRow($form->get('shipping_cost')); ?>
			                        <label for="shipping_cost" class="text check"><?php echo $translator['IS_SHIPPABLE_FREE']; ?></label>
		                    </span>                    
                    </div>
                    
                </div>
                <div id="measurement_Div">
                    <div class="row no-padd">

                        <div class="col6">
                            <label><?php echo $translator['L_WEIGHT'] ?> (lbs)<span class="red" id="weightLabel" style="display:none;">*</span></label>
                            <?php echo $this->formRow($form->get('weight')); ?>

                        </div>
                    </div>

                    <div class="row no-padd">
                        <div class="col6">
                            <label><?php echo $translator['L_LENGTH'] ?></label>
                            <?php echo $this->formRow($form->get('length')); ?>

                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_WIDTH'] ?></label>
                            <?php echo $this->formRow($form->get('width')); ?>

                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_HEIGHT'] ?></label>
                            <?php echo $this->formRow($form->get('height')); ?>

                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_UNIT'] ?></label>
                            <?php echo $this->formRow($form->get('unit')); ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_GL_CODE_INFO'] ?></span></div>
        <div class="detail-section detailed-information">
            <div class="common-form">
                <div class="row">
                    <div class="col6">
                        <label><?php echo $translator['L_GL_CODE'] ?></label>
                        <?php echo $this->formRow($form->get('gl_code_value')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_PROG_CODE'] ?></label>
                        <?php echo $this->formRow($form->get('prog_code_value')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_DEPARTMENT'] ?></label>
                        <?php echo $this->formRow($form->get('department')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_DESIGNATION'] ?></label>
                        <?php echo $this->formRow($form->get('designation')); ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_ALLOCATION'] ?></label>
                        <?php echo $this->formRow($form->get('allocation')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col6">
                        <?php echo $this->formRow($form->get('is_restriction')); ?>
                        <label for="is_restriction" class="text check">&nbsp;<?php echo $translator['L_RESTRICTED']; ?></label>
                    </div>
                </div>
            </div>
        </div>
        <div id="additional_products_div" style="display:none;">
            <div class="head no-img"><span><?php echo $translator['L_ADDITIONAL_PRODUCT'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_DUPLICATE_CERTIFICATE'] ?></label>
                            <?php echo $this->formRow($form->get('additional_product_1')); ?>
                        </div>
                        <div class="col1">
                            <label><?php echo $translator['L_BIO_CERTIFICATE'] ?></label>
                            <?php echo $this->formRow($form->get('additional_product_2')); ?>
                        </div>
                    </div>
                    <div class="row no-padd">
                        <div class="col1">
                            <label><?php echo $translator['L_PERSONALIZED_PANEL'] ?></label>
                            <?php echo $this->formRow($form->get('additional_product_3')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="relatedProductDiv" class="no-padd" style="display:none;">
        <div class="head no-img"><span><?php echo $translator['L_RELATED_PRODUCT'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_NAME'] ?></label>
                            <?php echo $this->formRow($form->get('product_name')); ?>
                            <?php echo $this->formRow($form->get('product_id')); ?>
                            <a href="javascript:void(0);" id="addbutton" style="display:none;" class="plus"></a>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_SELECT_PRODUCT'] ?></label>
                        <?php //echo $this->formRow($form->get('select_product'));  ?>
                        <div class="select_product_div"><ul id="select_product">
                            </ul></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row common-form m-t-20 p-b-20">
            <?php echo $this->formRow($form->get('save')); ?>
            <a href="/crm-products"><?php echo $this->formRow($form->get('cancel')); ?></a>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>   </div>
	
	<script>
	setTimeout(function(){
	   $('.is_pickup').parent().hide();
	   $('#available_1').change(function(){	 
			if($('#available_1').is(":checked") == true){ 
				$('.is_pickup').parent().show();
			}
			else{
				$('.is_pickup').parent().hide();
			}				
		});
	}, 1000);
	$(document).ready(function(){ 
		$('#available_1').change(function(){	 
			if($('#available_1').is(":checked") == true){ 
				$('.is_pickup').parent().show();
			}
			else{ 
				$('.is_pickup').parent().hide();
			}				
		});
	});
</script>


