<?php
/**
 * This view is used to add product attribute
 * @category   Zend
 * @package    product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/product.attribute.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_PRODUCT']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_ATTRIBUTE_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name')); ?> 
                        </div>
                    <div class="col1">
                        <label><?php echo $translator['L_LABEL']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('label')); ?> 
                        </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_HELP_TEXT']; ?></label>
                        <?php echo $this->formRow($form->get('helpText')); ?> 
                        </div>
                    <div class="col1">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('makeRequired')); ?>
                        <label for="makeRequired" class="text check"><?php echo $translator['L_MARK_AS_REQUIRED']; ?></label>

                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_DISPLAY_TYPE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('displayType')); ?> 
                        </div>
                </div>
            </div>
        </div>
        <div class="row common-form m-t-20">
            <?php echo $this->formRow($form->get('id')); ?> 
            <?php echo $this->formRow($form->get('save')); ?> 
            <?php echo $this->formRow($form->get('cancel')); ?> 

        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>