<?php
/**
 * This view is used to product attributes
 * @package    Logs
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
?>
<script>
    var id = '<?php echo $this->id ?>';
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/manageproduct.attributes.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">

    <div class="accordion-detail">
        <div class="breadcrumb m-t-51">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['CHANGE_LOG']; ?></span></div>
        <div class="detail-section">
            <div class="grid-box">
                <table id="list"></table>
                <div id="pcrud"></div>
            </div>
        </div>
    </div>
</div>
