<?php
/**
 * This view is used to add the attributes to the products
 * @package    product
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/crm.attach.product.attribute.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->attributesForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span>Add Attribute</span></div>

        <?php
        if ($this->recCount > 0) {
            ?>
            <div class="detail-section"><div class="row"><label class="auto no-padd">Select the attributes you want to add and submit the form. You may add more attributes <a href="/create-product-attribute">here</a>.</label></div>

                <div class="common-form">
                    <div class="row">

                        <div class="full">

                            <span class="checkbox-label">
                                <?php echo $this->formRow($form->get('id')); ?>
                                <?php echo $this->formRow($form->get('productAttributes')); ?></span>

                        </div>

                   
                    </div>
                </div>


            </div>
			     <div class="row no-padd m-t-5 common-form">
                           
                            <?php echo $this->formRow($form->get('save')); ?>
                            <?php echo $this->formRow($form->get('cancel')); ?>
                        </div>
            <?php
        } else {
            
            ?>
			<div class="detail-section"><span class="no-record-msz full no-padd">No attributes to attach</span>
			</div>
            <div class="common-form">
                <div class="row m-t-10">
                    <div class="row no-padd">
                        <?php echo $this->formRow($form->get('cancel')); ?>
                    </div>
                </div>
            </div>
            <?php
        }
        ?>   
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <script>
        //$(".e4").customInput();
    </script>      