<?php
/**
 * This view is used to search passenger for admin
 * @category   Zend
 * @package    passenger
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/products/products.category.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <h2>Product</h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="#"><?php echo $translator['L_DASHBOARD'] ?></a></li>
            <li><?php echo $translator['L_SYMBOL'] ?></li>
            <li><a href="#"><?php echo $translator['L_MANAGE_CATEGORY'] ?></a></li>
            <li><?php echo $translator['L_SYMBOL'] ?></li>
            <li><a href="#"><?php echo $translator['L_DONATION'] ?></a></li>
            <li><?php echo $translator['L_SYMBOL'] ?></li>
            <li><a href="#" class="active">Edit</a></li>
        </ul>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->form;

        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_CATEGORY_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CAREGORY_NAME'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('category_name')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_PARENT_CATEGORY'] ?></label>
                        <?php echo $this->formRow($form->get('parent_category')); ?>
                    </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_DESCRIPTION'] ?><span class="red">*</span>:</label>
                    <?php echo $this->formRow($form->get('description')); ?>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('save')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>