<?php
/**
 * This view is used to edit the crm product
 * @package    Product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
?><script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/product.product.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/select2.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script>
    $(document).ready(function() {
        var isChecked = '<?php echo $this->in_stock ?>';
        if (isChecked == 1)
        {
            $("#in_Stock_div").show();
            $('#editProduct [name="in_stock"]').prop("checked",true);

        }
        else
        {
            if($('#available_0').is(":checked")==false){ 
                $("#stock_Div").hide();
            }        
            $("#in_Stock_div").hide();
            $('#editProduct [name="in_stock"]').prop("checked",false);
        } 
           
        var isEllisChecked = '<?php echo $this->in_ellis_stock ?>';
        if (isEllisChecked == 1)
        {
            $("#ellis_in_Stock_div").show();
            $('#editProduct [name="in_ellis_stock"]').prop("checked",true);
        }
        else
        {
            if($('#available_1').is(":checked")==false){ 
                $("#ellis_stock_Div").hide();
            }        
            $("#ellis_in_Stock_div").hide();
            $('#editProduct [name="in_ellis_stock"]').prop("checked",false);
        }            
    });
  
</script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
//  asd($form);
?>
<div class="accordion-detail">

    <div class="head no-img"><span><?php echo $translator['L_PRODUCT_INFO'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_TYPE'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('product_type')); ?>

                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_NAME'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('name')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_SKU'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('sku')); ?>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_DESCRIPTION'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('description')); ?>
                </div>
            </div>

            <div class="row">
                <div class="col1 left">
                    <label><?php echo $translator['L_SHIPPING_DESCRIPTION'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('shipping_description')); ?></div>

                <div class="col1 right">
                    <label><?php echo $translator['L_STATUS'] ?></label>
                    <?php echo $this->formRow($form->get('status')); ?>

                </div>   

            </div>

           <div class="row rel-auto-error">              
               <label><?php echo $translator['L_AVAILABLE'] ?><span class="red">*</span></label>
                <span class="checkbox-label-product"><?php echo $this->formRow($form->get('available')); ?>
                </span>                             
            </div>
            <div class="row">
			<label>&nbsp;</label>
                <div class="col15">    			
                    <div class="row checkbox-label-multipale" id="stock_Div">
                        <div class="col6 left">
                            <?php echo $this->formRow($form->get('in_stock')); ?>
                            <label for="in_stock" class="text check"><?php echo $translator['L_IN_STOCK']; ?></label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="in_Stock_div" style="display:none;">
                            <div class="col7 rel-auto-error">
                                <label><?php echo $translator['L_STOCK']; ?></label>
                                <?php echo $this->formRow($form->get('in_Stock_units')); ?>
                            </div>
                            <div class="col6 rel-auto-error">
                                <label><?php echo $translator['L_THRESHOLD']; ?></label>
                                <?php echo $this->formRow($form->get('threshold')); ?>
                            </div>
                        </div>
                    </div>                			
                </div>  			
                <div class="col15 left-p-none">    			
                    <div class="row checkbox-label-multipale" id="ellis_stock_Div">
                        <div class="col6 left">
                            <?php echo $this->formRow($form->get('in_ellis_stock')); ?> 
                            <label for="in_stock" class="text check">&nbsp;<?php echo $translator['L_IN_STOCK']; ?></label> 
                        </div>
                        <div class="col6">
		                    <label>&nbsp;</label>
		                    <?php echo $this->formRow($form->get('is_pickup')); ?>
		                    <label for="is_refundable" class="text check"><?php echo $translator['IS_PICKUP']; ?></label>
		                </div>
                    </div>
                    <div class="row">    
                        <div id="ellis_in_Stock_div" style="display:none; width:auto;">
                            <div class="col7 rel-auto-error">
                                <label><?php echo $translator['L_STOCK']; ?></label>
                                <?php echo $this->formRow($form->get('total_in_ellis_stock')); ?>
                            </div>
                            <div class="col6 rel-auto-error">
                                <label><?php echo $translator['L_THRESHOLD']; ?></label>
                                <?php echo $this->formRow($form->get('ellis_product_threshold')); ?>
                            </div>
                        </div>
                    </div>   
                </div>  
            </div>

            <div class="row">
                <div class="col12 uploadMoreProductImages">
                    <label><?php echo $translator['L_ADD_NEW_FILE'] ?></label>
                    <div id="load_upload" class="left">
                        <?php $i = 0; ?>
                        <div class="upload_container_0 row no-padd" id="upload_container_0">
                            <div class="full m-t-15 addfile">
                                <?php echo $this->formRow($form->get('uplaodFile')->get('file_name0')); ?> 
                                <?php echo $this->formRow($form->get('uplaodFile')->get('file_name_value[]')); ?>
                                <a id="add_new_file" class="plus m-l-10" href="javascript:void(0)"></a> 
                            </div>
                            <div class="full">
                                <div class="">
                                    <div id="filemessage_<?php echo $i; ?>"></div>
                                </div>
                                <?php $i++; ?>
                            </div>                     
                        </div>
                        <div id="upload_count_div" style="display:none;"><?php echo $i; ?></div>
                    </div>
                </div>
            </div>
             <div class="row">
                <?php
                if (!empty($this->imageArray)) {
                    foreach ($this->imageArray['values'] as $k => $val) {
                        $key = trim($val['id']);
                        $option = array($key => 'Default');
                        if ($val['isDefault'] == 1)
                            $optionVal = $key;
                        else
                            $optionVal = '';
                        ?>
                        <div class="row checkbox-label-multipale" id="image_div_<?php echo $key ?>">
                            <label>&nbsp;</label>
                            <div class="col8">
                                &nbsp;&nbsp;&nbsp;<img src="<?php echo str_replace("/product", "/product", $this->image_path) . trim($val['imageName']) ?>">
                                <?php
                                echo '<span class="left">';
                                $this->formRow($form->get('default_image')->setAttribute('options', $option));
                                echo '</span>';
                                echo $this->formRow($form->get('default_image')->setAttribute('value', $optionVal));
                                echo $this->formRow($form->get('image_id[]')->setAttribute('value', $key));

                                echo $this->formRow($form->get('removeImage' . $key));
                                ?>
                                <?php //echo $this->formRow($form->get('uplaodFile')->get('file_name_value[]')->setAttribute('value',trim($val['imageName']))); ?>
                            </div></div>
                        <?php
                    }
                }
                ?>
            </div>

               
        </div>
    </div>         
    <div id="categoryHeading" style="display:none;">
        <div class="head no-img" ><span><?php echo $translator['L_CATEGORY_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_CATEGORY'] ?></label>
                        <?php echo $this->formRow($form->get('product_category')); ?>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_DETAILED_INFO'] ?></span></div>
    <div class="detail-section detailed-information">
        <div class="common-form">
            <div class="row">
                <div class="col6">
                    <label><?php echo $translator['L_LIST_PRICE'] ?></label>
                    <?php echo $this->formRow($form->get('list_price')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_COST'] ?></label>
                    <?php echo $this->formRow($form->get('cost')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_SELL_PRICE'] ?><span class="red" id="required" style="display:none;">*</span></label>
                    <?php echo $this->formRow($form->get('sell_price')); ?>
                </div>
            </div>
            <div class="row checkbox-label-multipale">
                <div class="col6">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('membership_discount')); ?>
                    <label for="membership_discount" class="text check"><?php echo $translator['L_MEMBERSHIP_DISCOUNT']; ?></label>
                </div>
                <div id="featured_Div">
                    <div class="col6">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('featured')); ?>
                        <label for="featured" class="text check"><?php echo $translator['L_FEATURED']; ?></label>
                    </div>
                </div>
            </div>

            <div class="row no-padd checkbox-label-multipale">
            <div style="float:left;">
                <div class="col6">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('is_texable')); ?>
                    <label for="is_texable" class="text check"><?php echo $translator['L_IS_TAXABLE']; ?></label>

                </div>
                <div class="col6">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('is_refundable')); ?>
                    <label for="is_refundable" class="text check"><?php echo $translator['L_REFUNDABLE']; ?></label>

                </div>
                <div class="col6">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('is_promotional')); ?>
                    <label for="is_promotional" class="text check"><?php echo $translator['L_PROMOTIONAL']; ?></label>
                </div>

                <div class="col6">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('product_transaction_type')); ?>
                    <label for="product_transaction_type" class="text check"><?php echo $translator['IS_DONATION']; ?></label>
                </div>
				</div>	
                <div id="is_shippable_block" style="float:left;">
		                <div class="col6">
		                    <label>&nbsp;</label>
		                    <?php echo $this->formRow($form->get('is_shippable')); ?>
		                    <label for="is_shippable" class="text check"><?php echo $translator['IS_SHIPPABLE']; ?></label>
		                </div>                
		                <div class="col6">
			                <label>&nbsp;</label>
			                <?php echo $this->formRow($form->get('shipping_cost')); ?>
			                <label for="shipping_cost" class="text check"><?php echo $translator['IS_SHIPPABLE_FREE']; ?></label>
		                </div>    
		        </div>            
                             
            </div>
            <div id="measurement_Div">
                <div class="row no-padd">

                    <div class="col6">
                        <label><?php echo $translator['L_WEIGHT'] ?> (lbs)<span class="red" id="weightLabel" style="display:none;">*</span></label>
                        <?php echo $this->formRow($form->get('weight')); ?>

                    </div>
                </div>

                <div class="row no-padd">
                    <div class="col6">
                        <label><?php echo $translator['L_LENGTH'] ?></label>
                        <?php echo $this->formRow($form->get('length')); ?>

                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_WIDTH'] ?></label>
                        <?php echo $this->formRow($form->get('width')); ?>

                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_HEIGHT'] ?></label>
                        <?php echo $this->formRow($form->get('height')); ?>

                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_UNIT'] ?></label>
                        <?php echo $this->formRow($form->get('unit')); ?>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_GL_CODE_INFO'] ?></span></div>
    <div class="detail-section detailed-information">
        <div class="common-form">
            <div class="row">
                <div class="col6">
                    <label><?php echo $translator['L_GL_CODE'] ?></label>
                    <?php echo $this->formRow($form->get('gl_code_value')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_PROG_CODE'] ?></label>
                    <?php echo $this->formRow($form->get('prog_code_value')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_DEPARTMENT'] ?></label>
                    <?php echo $this->formRow($form->get('department')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_DESIGNATION'] ?></label>
                    <?php echo $this->formRow($form->get('designation')); ?>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_ALLOCATION'] ?></label>
                    <?php echo $this->formRow($form->get('allocation')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col6">
                    <?php echo $this->formRow($form->get('is_restriction')); ?>
                    <label for="is_restriction" class="text check">&nbsp;<?php echo $translator['L_RESTRICTED']; ?></label>
                </div>
            </div>
        </div>
    </div>            
    <div id="additional_products_div" style="display:none;">
        <div class="head no-img"><span><?php echo $translator['L_ADDITIONAL_PRODUCT'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DUPLICATE_CERTIFICATE'] ?></label>
                        <?php echo $this->formRow($form->get('additional_product_1')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_BIO_CERTIFICATE'] ?></label>
                        <?php echo $this->formRow($form->get('additional_product_2')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_PERSONALIZED_PANEL'] ?></label>
                        <?php echo $this->formRow($form->get('additional_product_3')); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="relatedProductDiv" class="no-padd" style="display:none;">
    <div class="head no-img"><span><?php echo $translator['L_RELATED_PRODUCT'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_NAME'] ?></label>
                        <?php echo $this->formRow($form->get('product_name')); ?>
                        <?php echo $this->formRow($form->get('product_id')); ?>
                        <a href="javascript:void(0);" id="addbutton" style="display:none;"  class="plus"></a>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_SELECT_PRODUCT'] ?></label>
                    <?php //echo $this->formRow($form->get('select_product'));  ?>
                    <div class="select_product_div"><ul id="select_product">
                            <?php
                            if ($this->relatedProductResult) {

                                foreach ($this->relatedProductResult as $k => $val) {
                                    ?>
                                    <li id=<?php echo $val['related_product_id'] ?>><?php echo $val['product_name'] ?>
                                        <input type='hidden' name='related_product_id[]' value=<?php echo $val['related_product_id'] ?>>
                                        <span onClick=$('#<?php echo $val['related_product_id'] ?>').remove();>x</span></li>
                                    <?php
                                }
                            }
                            ?>
                        </ul></div>


                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="row common-form m-t-20 p-b-20">
        <?php echo $this->formRow($form->get('product_id')); ?>
        <?php //echo $this->formRow($form->get('encrypt_product_id')); ?>
        <?php echo $this->formRow($form->get('save')); ?>
        <?php echo $this->formRow($form->get('save_continue')); ?>
        <?php echo $this->formRow($form->get('cancel')); ?>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>
<script>
    setTimeout('$(".e3").customInput();',"500");
    setTimeout('$(".e4").customInput();',"500");

    $("#product_type").select2();
    $("#additional_product_1").select2();
    $("#additional_product_2").select2();
    $("#additional_product_3").select2();
    $("#product_category").select2();
    $("#status").select2();
    $("#unit").select2();
    $("#product_category").select2();

	setTimeout(function(){
	   $('.is_pickup').parent().hide();
	   $('#available_1').change(function(){	 
			if($('#available_1').is(":checked") == true){ 
				$('.is_pickup').parent().show();
			}
			else{
				$('.is_pickup').parent().hide();
			}				
		});
		if($('#available_1').is(":checked") == true){ 
			$('.is_pickup').parent().show();
		}
		else{
			$('.is_pickup').parent().hide();
		}
	}, 1000);
	$(document).ready(function(){ 
		$('#available_1').change(function(){	 
			if($('#available_1').is(":checked") == true){ 
				$('.is_pickup').parent().show();
			}
			else{
				$('.is_pickup').parent().hide();
			}				
		});
	});
</script>



