<?php
/**
 * This view is used to edit product attribute option
 * @category   Zend
 * @package    product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var ATTRIBUTE_ID="' . $this->attributeId . '";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/product.attribute.option.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Product</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['ADD_OPTION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name')); ?> 
                         </div>
                </div>
                <div class="row">
                    <h3 class="text-bold no-padd"><?php echo $translator['DEFAUL_ADJUSTMENTS']; ?></h3>
                    <span class="text"><?php echo $translator['DEFAULT_TEXT']; ?></span> </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['COST']; ?></label>
                        <?php echo $this->formRow($form->get('cost')); ?> 
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['PRICE']; ?></label>
                        <?php echo $this->formRow($form->get('price')); ?> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row common-form m-t-15">
            <?php echo $this->formRow($form->get('id')); ?> 
            <?php echo $this->formRow($form->get('save')); ?> 
            <?php echo $this->formRow($form->get('cancel')); ?> 
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
