<?php
/**
 * This view is used to list product attribute
 * @category   Zend
 * @package    product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
if (isset($this->attributeId) && !empty($this->attributeId)) {
    $attribute = $this->attributeId;
}
$this->inlineScript()->captureStart();
foreach ($translator as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var ATTRIBUTE_ID="' . $attribute . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/product.attribute.option.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
   <h2 class="common-form"> 
       <?php echo $translator['L_PRODUCT']; ?>
       <?php if(isset($prodAttrName) and trim($prodAttrName) != "") { echo '<div class="user-name-top">'.trim($prodAttrName).'</div>'; }  ?>
   </h2>
    <!-- <h2 class="common-form"><?php // echo $translator['L_PRODUCT']; ?>  <a href='/create-product-attribute-option/<?php //echo $attribute; ?>'  class="plus right"></a></h2> -->
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?> 
        <div class="full">
            <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT'].$attribute.$translator['HEADER_TEXT1']; ?></p>
        </div>
    </div>
</div>
<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_attribute_option' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
