<?php
/**
 * This view is used to display product
 * @package    Product
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

?>
<?php //asd($productlist);     ?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/shop.kiosk.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/slimbox2.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('cssFilePath') ?>/css/slimbox2.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" />

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/scrollingTop.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script>
/*
$(document).ready(function() {      
	var location = window.location.href.split("#");
	window.location.hash = eval(location[1]);    
	});*/
</script>
<div class="inner-header">
    <h1>Kiosk Fee</h1>
</div>

<div class="cms-outer-bg" id="contentArea">
<a id="toTop" class="shopBacktoTop">Back To Top</a>
<!--<a href="javascript:moveToUpDown('Down');" class="shopBacktoBottom">Back To Bottom</a>-->
    <div class="cms-inner-bg">
        <div class="container">
            <div class="block col3 ship-left-nav" style="display:none">
                <input type="hidden" name="page" id="page" value="1"/>
                <input type="hidden" name="categoryid" id="categoryid" value=""/>
                <input type="hidden" name="product_id" id="product_id" value="<?php echo $productId ?>"/>
                <ul class="shop-products">
                   
                    <li class="categorylinkli"><a href="javascript:void(0)" id="<?php echo $this->encrypt(0)?>" class="firstClass categorylink" >Featured Gifts</a></li>
                    <?php
                    //asd($category);
                    foreach ($category as $key => $categoryname) {
                        $plusSign = '';
                        if (!empty($categoryname['children'])) {
                            $plusSign = '<small class="plusCat"></small>';
                        }
                        $firstClass = '';
                        if($key == 0)
                           // $firstClass = 'firstClass';
                        ?>
                        <li class="categorylinkli"><?php echo $plusSign; ?><a href="javascript:void(0)" id="<?php echo $categoryname['id'] ?>" class="<?php echo $firstClass ?> categorylink" ><?php echo $categoryname['label']; ?></a>
                            <?php
                            if (!empty($categoryname['children'])) {
                                echo "<ul class='sub-menu' style='display:none;'>";
                                foreach ($categoryname['children'] as $childrenData) {
                                    ?>
                                <li><a href="javascript:void(0)" id="<?php echo $childrenData['id'] ?>" class="categorylinksub1" ><?php echo $childrenData['label']; ?></a>

                                    <?php
                                    if (!empty($childrenData['children'])) {
                                        echo "<ul class='sub-menu-menu'>";
                                        foreach ($childrenData['children'] as $subchildrenData) {
                                            ?>
                                        <li><a href="javascript:void(0)" id="<?php echo $subchildrenData['id'] ?>" class="categorylinksub1" ><?php echo $subchildrenData['label']; ?></a></li>
                                        <?php
                                    }
                                    echo "</ul>";
                                }
                                ?>
                                </li>
                                <?php
                            }
                            echo "</ul>";
                        }
                        ?>
                        </li>
                        <?php
                    }
                    ?>
                        <li class="green"><a href="/passenger">Passenger Documents</a></li>
                        <li class="green"><a href="/wishlist">Wishlist</a></li>
                        <li class="green"><a href="/online-store-terms">Shop Terms</a></li>
                </ul>

            </div> 
            <div class="block col8 shop-page" id="productlist">

            </div>
            <div class="col5 rightsection omega">
                <?php
                if ($this->getAuth() === false) {
                    ?>
                    <div class="block white-bg m-t-none m-b-30">
                        <div class="content">
                            <h1>have an account?</h1>
                            <p>Create a free account to search for family arrival records and learn more about Lady Liberty and Ellis Island.</p>
                            <h3>BE A PART OF HISTORY!</h3>
                            <a class="button green" href="javascript:void(0);" onClick="checkUserLogin('0');" >Login</a> <a class="button" href="javascript:void(0);" onclick="signupPopup();">Join us!</a> </div>
                    </div>
                    <?php
                }
                ?>
                <div class="block m-t-none m-b-30">
                    <div class="advertise">
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
     getProductFront();
</script>

<script>

    var noMoreData=0;
    var moreCnt = 1;
    /*$(window).data('ajaxready', true).scroll(function(e) {
        if ($(window).data('ajaxready') == false) return;
        var WindowHeight = ($(window).height() + 300); 
        if($(window).scrollTop() >= $(document).height() - WindowHeight && !noMoreData){
            $(window).data('ajaxready', false);
            var page = parseInt($("#page").val());
            $("#page").val(page+1);
            $("#load_more_"+page).append('<div class="loader-class"><img src ="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/loading.gif"></div>');
            $.ajax
            ({
                type: 'POST',
                cache: true,
                data: {
                    page:$("#page").val(),
                    product_id:$("#product_id").val(),
                    categoryid:$("#categoryid").val(),
                    moreCnt:moreCnt
                },
                url: '/get-kiosk-shop-product-lists',
                success: function(response)
                {   moreCnt++;
                    if(response=='norecord')
                    {
                        noMoreData=1;
                    }
                    else
                    {
                        var page = $("#page").val() - 1;
                        $("#load_more_"+page).hide();
                        $("#productlist").append(response);
                        $(window).data('ajaxready', true);
                    }
                    
                }
                 
            });
        }
    });*/
    function loadMore(){
        var page = parseInt($("#page").val());
        $("#page").val(page+1);
        $("#load_more_"+page).append('<div class="loader-class"><img src ="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/loading.gif"></div>');
        $.ajax
        ({
            type: 'POST',
            cache: true,
            data: {
                page:$("#page").val(),
                product_id:$("#product_id").val(),
                categoryid:$("#categoryid").val(),
                moreCnt:moreCnt
            },
            url: '/get-kiosk-shop-product-lists',
            success: function(response)
            {
                moreCnt++;
                if(response=='norecord')
                {
                    noMoreData=1;
                }
                else
                {
                    var page = $("#page").val() - 1;
                    $("#load_more_"+page).hide();
                    $("#productlist").append(response);
                    $(window).data('ajaxready', true);
                }
                    
            }                 
        });
    }
    function showLargeImage(imageVal)
    {
	        $.colorbox({
	        width: "700px",
	        href: '/product-large-image/'+imageVal,
	        height: "700px",
	        opacity: 0.50,
	        inline: false
    });
    }
    $(document).ready(function(){
        if($.trim($("#product_id").val()) == "") { $(".firstClass").click(); }
    });    
</script>