<?php
/**
 * This view is used to search Product for admin
 * @package    Product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/product.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2><?php echo $translator['L_HEADING']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['L_HEADING_CONTENT']; ?><a href="/create-crm-product"><?php echo $translator['L_HEADING_CONTENT2']; ?></a><?php echo $translator['L_HEADING_CONTENT3']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_PRODUCT']; ?></span></div>
        <?php
        $form = $this->searchProductForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_Product_Type']; ?></label>
                        <?php echo $this->formRow($form->get('productType')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_Name']; ?></label>
                        <?php echo $this->formRow($form->get('productName')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SKU']; ?></label>
                        <?php echo $this->formRow($form->get('productSku')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CATEGORY']; ?></label>
                        <?php echo $this->formRow($form->get('productCategory')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SELL_PRICE']; ?></label>
                        <label class="auto"><?php echo $translator['L_FROM']; ?></label><?php echo $this->formRow($form->get('sellPriceFrom')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('sellPriceTo')); ?>
                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <div class="col6">
                            <label for="promotional" class="check"><?php echo $translator['L_PROMOTIONAL']; ?></label>
                            <?php echo $this->formRow($form->get('promotional')); ?>

                        </div>
                        <div class="col6">
                            <label for="featured" class="check"><?php echo $translator['L_FEATURED']; ?></label>
                            <?php echo $this->formRow($form->get('featured')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_AVAILABLE']; ?></label>
                        <?php echo $this->formRow($form->get('available')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <?php
            $saveSearchProductForm = $this->saveSearchProductForm;
            $saveSearchProductForm->prepare();
            echo $this->form()->openTag($saveSearchProductForm);
            ?>

            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($saveSearchProductForm->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?> </label>
                <?php echo $this->formRow($saveSearchProductForm->get('search_name')); ?>
                <?php echo $this->formRow($saveSearchProductForm->get('search_id')); ?>
                <?php echo $this->formRow($saveSearchProductForm->get('savebutton')); ?>
                <a href="#delete_product_search" id="deletebutton" style="display:none;" class="delete_product save-btn m-l-5" onClick="deleteRecord();"><?php echo $translator['DELETE']; ?></a>
                <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
        </form>
    </div>
</div>

<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
        <p><?php echo $translator['L_CREATE_PRODUCT_MSG']; ?> <a href="/create-crm-product"><?php echo $translator['L_CREATE_NEW_PRODUCT']; ?></a>.</p>
    </div>
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
</p>
</div>
</div>
<div style='display:none'>
    <div id='delete_product_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_product' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_PRODUCT_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_product" class="green-btn">
        </div>
    </div>
</div>