<?php
/**
 * This view is used to product
 * @package    product
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="'.$mode.'";';
echo $var;

$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail" >

    <div class="head no-img"><span><?php echo $translator['L_PRODUCT_INFO'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_PRODUCT_TYPE'] ?></label>
                    <span class="view-text"><?php echo $this->param['product_type'] ?></span> </div>
                <div class="col1">
                    <label><?php echo $translator['L_NAME'] ?></label>
                    <span class="view-text"><?php echo stripslashes($this->param['product_name']) ?></span> </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_DESCRIPTION'] ?></label>
                    <span class="view-text"><?php echo nl2br(stripslashes($this->param['product_description'])) ?> </span> </div>
                <div class="col1">
                    <label><?php echo $translator['L_SHIPPING_DESCRIPTION'] ?></label>
                    <span class="view-text"><?php echo nl2br(stripslashes($this->param['shipping_description'])) ?> </span> </div>                    

            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_AVAILABLE'] ?></label>
                    <?php foreach ($this->param['is_available'] as $val) {
                    ?>
                        <div class="col2"> <span class="view-text"><?php echo $val ?></span> </div>
                    <?php } ?>
                </div>
                <div class="col1">
                    <label><?php echo $translator['L_SKU'] ?></label>
                    <span class="view-text"><?php echo $this->param['product_sku'] ?></span> </div>
            </div>
               <div class="row no-padd" id="stock_Div">

                <?php
                        if ($this->param['in_stock'] == 1) {
                ?>
                            <div id="in_Stock_div" style="display:<?php echo ($this->param['in_stock'] == 1) ? 'block;' : 'none;' ?>">
                                <div class="col6">
                                    <label><?php echo $translator['L_STOCK']; ?> (Web)</label>
                                    <span class="view-text"><?php echo (isset($this->param['total_in_stock']) && !empty($this->param['total_in_stock']))?$this->param['total_in_stock']:'N/A'; ?></span>
                                </div>
                                <div class="col6">
                                    <label><?php echo $translator['L_THRESHOLD']; ?> (Web)</label>
                                    <span class="view-text"><?php echo (isset($this->param['product_threshold']) && !empty($this->param['product_threshold']))?$this->param['product_threshold']:'N/A'; ?></span>
                                </div>
                            </div>
                <?php
                        }
                ?>
                
				<?php
                        if ($this->param['in_ellis_stock'] == 1) {
                ?>
                            <div id="in_Stock_div" style="display:<?php echo ($this->param['in_ellis_stock'] == 1) ? 'block;' : 'none;' ?>">
                                <div class="col6">
                                    <label><?php echo $translator['L_STOCK']; ?> (Ellis Island)</label>
                                    <span class="view-text"><?php echo (isset($this->param['total_in_ellis_stock']) && !empty($this->param['total_in_ellis_stock']))?$this->param['total_in_ellis_stock']:'N/A'; ?></span>
                                </div>
                                <div class="col6">
                                    <label><?php echo $translator['L_THRESHOLD']; ?> (Ellis Island)</label>
                                    <span class="view-text"><?php echo (isset($this->param['ellis_product_threshold']) && !empty($this->param['ellis_product_threshold']))?$this->param['ellis_product_threshold']:'N/A'; ?></span>
                                </div>
                            </div>
                <?php
                        }
                ?>                
                
                
                    </div>
            <div class="row ">
                <div class="full">
                    <label><?php echo $translator['L_UPLOADED_IMAGE'] ?></label>
                    <?php
                    $defaultImg = explode(',', $this->param['default_image']);
                    $defaultImg = array_unique($defaultImg);

                    $defImg = '';
                    if ($this->param['default_image'] != '') {
                        foreach ($defaultImg as $k2 => $val2) {
                            if (trim($val2) == '1')
                                $defImg = $k2;
                        }
                    }
                    ?>                
                    <?php
                    $productImageArray = array_unique($this->param['product_image']);

                    foreach ($productImageArray as $k => $val) {
                        $defaultImage = '';
                        if ($k == $defImg && $productImageArray != '')
                            $defaultImage = 'Default Image';
                    ?>
                        <div class="col5 m-r-10">
                        <?php if ($val != '') {
                        ?>
                            <img src="<?php echo $this->image_path . 'product/thumbnail/' . trim($val) ?>" alt="" class="left">
                        <?php } ?>
                        <span class="text-bold"><?php echo $defaultImage; ?></span>
                    </div>

                    <?php } ?>
                </div>
            </div>
            
         <?php if($this->param['product_type_id']=="1") { ?>
        <div class="row ">
            <div class="full">
                <label>Product Url</label>
                <span class="view-text"><?php echo SITE_URL.'/shop/'.$this->Encrypt(0).'/'.$this->Encrypt($this->param['product_id']); ?></span>    
            </div>
        </div>
        <?php } ?>

        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_CATEGORY_INFO'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="col1">
                    <label><?php echo $translator['L_CATEGORY'] ?></label>
                    <span class="view-text"><?php
                    if (!empty($this->param['category_name']))
                        echo $this->param['category_name'];
                    else
                        echo "No Category Assigned";
                    ?></span> </div>
            </div>
        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_DETAILED_INFO'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="col6">
                    <label><?php echo $translator['L_LIST_PRICE'] ?></label>
                    <span class="view-text"><?php echo $this->param['product_list_price'] ?></span></div>
                <div class="col6">
                    <label><?php echo $translator['L_COST'] ?></label>
                    <span class="view-text"><?php echo $this->param['product_cost'] ?></span> </div>
                <div class="col6">
                    <label><?php echo $translator['L_SELL_PRICE'] ?></label>
                    <span class="view-text"><?php echo $this->param['product_sell_price'] ?></span></div>
            </div>
            <div class="row no-padd">
                <div class="col6">
                    <label for="membership_discount"><?php echo $translator['L_MEMBERSHIP_DISCOUNT'] ?></label>
                    <?php
                        if ($this->param['is_membership_discount'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>
                    <div id="featured_Div">
                        <div class="col6">
                            <label for="featured"><?php echo $translator['L_FEATURED']; ?></label>
                        <?php
                        if ($this->param['is_featured'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                        ?>
                    </div>
                </div>
                <div class="col6">
                    <label><?php echo $translator['L_PROMOTIONAL']; ?></label> 
                    <?php
                        if ($this->param['is_promotional'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>
                </div>
 

                    <div class="row no-padd">
                        <div class="col6">
                            <label><?php echo $translator['L_CAP_IS_TAXABLE'] ?></label>
                    <?php
                        if ($this->param['is_taxable'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_REFUNDABLE']; ?></label>
                    <?php
                        if ($this->param['is_refundable'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['IS_PICKUP']; ?></label>
                    <?php
                        if ($this->param['is_pickup'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>

                    <div class="col6">
                        <label><?php echo $translator['IS_DONATION']; ?></label>
                    <?php
                        if ($this->param['product_transaction_type'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>    
                    <div class="col6">
                        <label><?php echo $translator['IS_SHIPPABLE']; ?></label>
                    <?php
                        if ($this->param['is_shippable'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>
                    
                    <div class="col6">
                        <label><?php echo $translator['IS_SHIPPABLE_FREE']; ?></label>
                    <?php
                        if ($this->param['shipping_cost'] == 1)
                            echo '<span class="view-text">Yes</span>';
                        else
                            echo '<span class="view-text">No</span>';
                    ?>
                    </div>                    
                    
                </div>
                <div id="measurement_Div" style="display:<?php echo ($this->param['product_type_id'] == 1) ? 'block;' : 'block;' ?>">
                    <div class="row no-padd">

                        <div class="col6">
                            <label><?php echo $translator['L_WEIGHT'] ?></label>
                            <span class="view-text"> <?php echo $this->param['product_weight']; ?></span>

                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_WIDTH'] ?></label>
                            <span class="view-text"> <?php echo $this->param['product_width']; ?></span>

                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_HEIGHT'] ?></label>
                            <span class="view-text"><?php echo $this->param['product_height']; ?></span>
                        </div>
                        <div class="col6">
                            <label><?php echo $translator['L_UNIT'] ?></label>
                            <span class="view-text"><?php echo $this->param['product_unit']; ?></span>
                        </div>
                    </div>
                    <div class="row no-padd">
                        <div class="col6">
                            <label><?php echo $translator['L_LENGTH'] ?></label>
                            <span class="view-text"><?php echo $this->param['product_length']; ?></span>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_GL_CODE_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">

                <div class="row no-padd">

                    <div class="col6">
                        <label><?php echo $translator['L_GL_CODE'] ?></label>
                        <span class="view-text"> <?php echo (!empty($this->param['gl_code_value'])) ? $this->param['gl_code_value'] : 'N/A'; ?></span>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_PROG_CODE'] ?></label>
                        <span class="view-text"> <?php echo (!empty($this->param['prog_code_value'])) ? $this->param['prog_code_value'] : 'N/A'; ?></span>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_DEPARTMENT'] ?></label>
                        <span class="view-text"> <?php echo (!empty($this->param['department'])) ? $this->param['department'] : 'N/A'; ?></span>

                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_DESIGNATION'] ?></label>
                        <span class="view-text"><?php echo (!empty($this->param['designation'])) ? $this->param['designation'] : 'N/A'; ?></span>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_ALLOCATION'] ?></label>
                        <span class="view-text"><?php echo (!empty($this->param['allocation'])) ? $this->param['allocation'] : 'N/A'; ?></span>
                    </div>
                    <div class="col6">
                        <label><?php echo $translator['L_RESTRICTED'] ?></label>
                        <span class="view-text"><?php echo ($this->param['is_restriction'] == '1') ? 'Yes' : 'No'; ?></span>
                    </div>
                </div>

            </div>
        </div>
        <div id="additional_products" style="display:<?php echo ($this->param['product_type_id'] == 6) ? 'block;' : 'none;' ?>">
            <div class="head no-img"><span><?php echo $translator['L_ADDITIONAL_PRODUCT'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_DUPLICATE_CERTIFICATE'] ?></label>
                            <span class="view-text"><?php
                        if (isset($this->param['additional_product_1']) && !empty($this->param['additional_product_1']))
                            echo $this->wallOfHonorAdditionalProductsArray[$this->param['additional_product_1']];
                    ?></span>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_BIO_CERTIFICATE'] ?></label>
                        <span class="view-text"><?php
                            if (isset($this->param['additional_product_2']) && !empty($this->param['additional_product_2']))
                                echo $this->wallOfHonorAdditionalProductsArray[$this->param['additional_product_2']];
                    ?></span>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_PERSONALIZED_PANEL'] ?></label>
                        <span class="view-text"><?php
                            if (isset($this->param['additional_product_3']) && !empty($this->param['additional_product_3']))
                                echo $this->wallOfHonorAdditionalProductsArray[$this->param['additional_product_3']];
                    ?></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_RELATED_PRODUCT'] ?></span></div>
    <div class="detail-section">
        <div class="common-form">         
            <?php
                            if (count($this->relatedProductArray) > 0) {
                                foreach ($this->relatedProductArray as $val) {
            ?>
                                    <div class="row1">
                <?php echo stripslashes($val['product_name']); ?>
                                </div>
            <?php
                                }
                            } else {
                                echo "No Related Product";
                            }
            ?>
        </div>
    </div>
</div>
