
<script type="text/javascript">
    //
    
    function displaypopclick(pid){
        $(document).ready(function() {
       
            $('.fancybox-thumbs'+pid).fancybox({
                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,
                nextClick : false,
                mouseWheel : true,                                                    
                afterClose:function(){
                    $(".fancybox-thumbs"+pid).hide();
                }
            });    
        });  

        displaypop(pid);
        $('.fancybox-thumbs'+pid).click(); 
        $("a[rel^='lightbox']").slimbox({});
    }
    
    function displaypop(pid)
    {
        $(".fancybox-thumbs"+pid).show();
    }
    $(document).ready(function() {        
        $(document).on('click',".thumbsdisplay",function(){
            var pid = $(this).attr('id');
            $('.fancybox-thumbs'+pid).click(); 
        });
        
        $("a[rel^='lightbox']").slimbox({});
        
        
    });   
    
</script>
<style>
    #lbNumber{
        display:none;
    }
</style>
<div class="white-bg left">

    <div id="contentMainCategory" class="shopSpecialName" style="display:none;">
        <?php
        echo (isset($this->titleCategory1) and trim($this->titleCategory1) != "") ? "<h2>" . trim($this->titleCategory1) . "</h2>" : "";
        echo (isset($this->descriptionCategory1) and trim($this->descriptionCategory1) != "") ? "<p>" . trim($this->descriptionCategory1) . "</p>" : "";
        ?>
    </div>
    <?php
    if ($moreCnt == 0) {
        ?>

        <div id="contentMainCategoryFeatured" class="shopSpecialName">
            <h2>FEATURED GIFTS</h2>
            <p>Some of our most popular gifts.</p>
        </div>
    <?php } ?>


    <div id="contentSubCategory" class="shopPurchase" style="display:none;">
        <?php
        echo (isset($this->titleCategory2) and trim($this->titleCategory2) != "") ? "<h2>" . trim($this->titleCategory2) . "</h2>" : "";
        echo (isset($this->descriptionCategory2) and trim($this->descriptionCategory2) != "") ? "<p>" . trim($this->descriptionCategory2) . "</p>" : "";
        ?>
    </div>	
    <?php
    $path = $upload_file_path['assets_url'] . 'product/thumbnail/';
    $largePath = $upload_file_path['assets_url'] . 'product/';
    if (!empty($productlist)) {
        $totalProduct = count($productlist);
        $i = 1;
        foreach ($productlist as $productvalues) {
            ?>
            <div class="product-row<?php
        if ($totalProduct == $i) {
            echo '';
        }
            ?>">
                <div class="image-col">

                    <?php
                    $images = explode(",", $productvalues['image_name']);
                    $defaultflag = explode(",", $productvalues['defaultflag']);
                    if (!empty($images)) {
                        $key = array_search(1, $defaultflag); // $key = 2;
                        $imageName = $images[$key];
                    }

                    if (!empty($imageName)) {
                        $imgSrc = $path . $imageName;
                        $largeImageSrc = $largePath . $imageName;
                    } else {
                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/no-image-cart.jpg';
                    }

                    if (!empty($imageName)) {
                        ?>
                        <a style="cursor: pointer;" <?php if (!empty($images) and count($images) > 1) { ?> onclick="return displaypopclick('<?php echo $productvalues['product_id'] ?>');" <?php } else { ?> href="<?php echo $largeImageSrc; ?>" alt="" value="" rel="lightbox" <?php } ?>><img src="<?php echo $imgSrc; ?>" /></a>
                        <a style="cursor: pointer;" <?php if (!empty($images) and count($images) > 1) { ?> onclick="return displaypopclick('<?php echo $productvalues['product_id'] ?>');" <?php } else { ?> href="<?php echo $largeImageSrc; ?>" alt="" value="" rel="lightbox" <?php } ?> class="view-more-img">View more</a>
                        <?php
                    } else {
                        if (!empty($images) and count($images) > 1) {
                            ?> 
                            <a  style="cursor: pointer;" onclick="return displaypopclick('<?php echo $productvalues['product_id'] ?>');"><img src="<?php echo $imgSrc; ?>" /></a>
                            <a  style="cursor: pointer;" onclick="return displaypopclick('<?php echo $productvalues['product_id'] ?>');" class="view-more-img">View more</a>
                        <?php } else { ?>
                            <img src="<?php echo $imgSrc; ?>" />                        
                            <?php
                        }
                    }
                    ?>

                </div>
                <div class="title">

                    <h3><?php echo $productvalues['product_name'] ?></h3>

                    <div class="col12">
                        <div class="price">
                            <strong>Price</strong>
                            <span> $<?php echo $productvalues['product_sell_price'] ?></span>
                        </div>
                        <?php
                        //echo $discount;
                        if (!empty($discount) && !empty($productvalues['is_membership_discount'])) {
                            ?>
                            <div class="row member-price">
                                <strong class="cl">Member Price </strong><span> $<?php
                $calDiscount = ($productvalues['product_sell_price'] * $discount) / 100;
                $price = $productvalues['product_sell_price'] - $calDiscount;
                echo $this->Currencyformat($price);
                            ?></span>
                            </div>
                        <?php } ?>
                    </div>




                                                            <!--<p>Celebrate the 125th anniversary of Lady Liberty with this Statue of Liberty Barbie collectible! Part of Mattels Dolls of the World Landmark Collection, she stands 11.5 inches tall and has blonde hair with blue eyes. The Statue of Liberty is one of the most visited and beloved landmarks in the world, and this collection transforms her with a stunning gown!</p>-->
                </div>

                <div class="row">
                    <p><?php echo $productvalues['product_description'] ?></p>
                </div>

                <?php
                if (!empty($images)) {
                    if (count($images) > 1) {
                        ?>
                        <div class="row images">
                            <a style="display:none;" href="javascript:void(0)" class="thumbsdisplay" id="<?php echo $productvalues['product_id'] ?>" onclick="displaypop('<?php echo $productvalues['product_id'] ?>')" >click to see more images</a>
                            <?php
                            foreach ($images as $imName) {
                                if (isset($imName) and trim($imName) != "") {
                                    $imthumb = $path . $imName;
                                    $imthumbBig = $upload_file_path['assets_url'] . 'product/' . $imName;
                                    ?>
                                    <a class="fancybox-thumbs<?php echo $productvalues['product_id'] ?>" style="display:none"  data-fancybox-group="thumb" href="<?php echo $imthumbBig; ?>"><img src="<?php echo $imthumb; ?>" alt="" /></a>
                                    <?php
                                }
                            }
                            ?>
                        </div>
                        <?php
                    }
                }
                ?>
                <div class="row qtyRow">
                    <strong>Qty</strong>
                    <input type="text" value="1" name="quantity_<?php echo $productvalues['product_id'] ?>" id="quantity_<?php echo $productvalues['product_id'] ?>"  />
                    <label class="error errorlabel" id="quantityerror_<?php echo $productvalues['product_id'] ?>" style="display:none" for="quantity_<?php echo $productvalues['product_id'] ?>" generated="true">Please enter quantity.</label>

                        <a class="button pink" href="javascript:void(0)" onclick="addtocart('<?php echo $productvalues['product_id'] ?>')">Add to cart</a>   
                  
                    <?php
                    if ($this->getAuth() === false) {
                        ?>
                        <!--<a class="button green" href="javascript:void(0)" onClick="checkUserLogin('<?php //echo $this->Encrypt("/add-to-wishlist~~" . $productvalues['product_id']) . "@@rd" ?>', '<?php //echo $productvalues['product_id'] ?>','/add-to-wishlist');">Add to wishlist</a>-->   
                        <?php
                    } else {
                        ?>
                        <!--<a class="button green" href="javascript:void(0)" onclick="addtowishlist('<?php //echo $productvalues['product_id'] ?>')">Add to wishlist</a>-->
                        <?php
                    }
                    ?>





                </div>
            </div>
            <?php
            $i++;
        }
        if ($countResult > $record) {
            echo '<div id="load_more_' . $page . '" class="shop-loader"><div id="loadingDiv-1" class="load-more-button"><a href="javascript:void(0);" onclick="loadMore()"><input name="" type="button" value="Load more" class="load-more-btn button"></a></div></div>';
        }
    } else {
        if ($countResult == 0 && ($page == 1 || empty($page)))
            echo "<div class='no-record'>No products available</div>";
    }
    ?>
</div>