<?php
/**
 * This view is used to search passenger for admin
 * @category   Zend
 * @package    passenger
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var categoriesJsonStr = ' . $categoriesJsonStr . ';';
$var .= 'var editCategoryId = "' . $editCategoryId . '";';
echo $var;

$this->inlineScript()->captureEnd();
echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/img/favicon.ico'))->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jqtree.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/products.category.list.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tree.jquery.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<script type="text/javascript">
    $(document).ready(function(){
        $("#colorbox").click(function(e){
            if(!$(e.target).hasClass('select2-chosen') && !$(e.target).parent().hasClass('select2-arrow'))
            {
                $(".select2-drop").css('display','none');
                $("#s2id_new_category_id").removeClass('select2-dropdown-open select2-drop-above');
            }
        })
    })
</script>

<div class="create-contacts common-form">
    <h2><?php echo $translator['L_PRODUCT']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="text m-t-15 left search-text">Manage the Product Category using adding new category, edit and delete existing categories functions, as well as drag and drop category names in below table to organize the hierachy tree. If you do not find the category you seek, you can <a href="<?php echo $this->url('create-product-category', array('action' => 'addProductCategory')); ?>">Create New Category</a>.</p>
    <div class="manage-category-detail">
        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        } else {
            echo '<div id="success_message" class="success-msg" style="display:none;"></div>';
        }
        ?>
        <div class="head no-img">
            <span><?php echo $translator['L_NAME']; ?></span>
            <span class="right m-r-20"><?php echo $translator['L_OPERATIONS']; ?></span>
        </div>
		<div class="detail-section">
        <div id="tree1"></div></div>
        <div style='display:none'>
            <div id='delete_category_box' class="pop-container">
                <?php
                $form = $this->deleteCategoryForm;
                $form->prepare();
                echo $this->form()->openTag($form);
                echo $this->formRow($form->get('category_id'));
                ?>
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_CATEGORY_ALERT']; ?></h2>
                <p>
                    <span class="red">*</span> Delete category might delete all the child catagories included in it !
                </p>
                <p>
                    <?php echo $this->formRow($form->get('is_move')); ?>  <label class="check" for="is_move">Move Product(s) under this category to other category</label>
                </p>
                <p id="new_category_div" style="display:none;">

                    <?php echo $this->formRow($form->get('new_category_id')); ?>
                </p>
                <div class="button-row">
                    <?php echo $this->formRow($form->get('yes_delete_category')); ?>
                    <?php echo $this->formRow($form->get('no_delete_category')); ?>
                </div>
                <?php
                    echo $this->form()->closeTag();
                ?>
            </div>
        </div>
    </div>
</div>