<?php
/**
 * This view is used to product attributes, options
 * @package    Product
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
?>
<script>
    var id = '<?php echo $this->id ?>';
</script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/manageproduct.option.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb m-t-51">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <?php
        
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        $form = $this->manageProductForm;
        $form->prepare();
        echo $this->form()->openTag($form);        
        ?> 
        <div class="head no-img"><span><?php echo $translator['OPTIONS'] ?></span></div>
            <div class="detail-section common-form"> 
			Use the check boxes to enable options for attributes and the radio buttons to specify the default option. Attributes with no enabled options will be displayed as text fields.
			<br><br>The cost and price fields will make adjustments against the original product, so you may enter positive or negative amounts here, or enter 0 if the option should make no adjustment.
				<br><br><br><br><br>
                <div class="grid-box">
                <?php 
                if(count($this->attributeResult)>0)
                {

                    foreach($this->attributeResult as $key=>$val)
                    { 
                       if(isset($this->optionResultArray[$val['attribute_id']]))
                            {  
                    
                ?>
                    <table cellpadding="0" cellspacing="0" width="100%" class="edit-option-page ">
                        <tr><td><strong><?php echo $val['attribute_name']?></strong></td></tr>
                        <tr><td>
                            <table width="100%">
                            <tr>
							<td><strong><?php echo $translator['OPTIONS'] ?></strong></td>
							<td><strong><?php echo $translator['DEFAULT'] ?></strong></td>
							<td><strong><?php echo $translator['COST'] ?></strong></td>
							<td><strong><?php echo $translator['PRICE'] ?></strong></td></tr>
                            <?php
                           
                                foreach($this->optionResultArray[$val['attribute_id']] as $optKey=>$optVal)
                                {
                                    $option_cost = '';
                                    $option_price = '';
                                    $checked = '';
                                    $isdefault = '';
                                    
                                    if(key_exists($optVal['attribute_option_id'],$this->attributeOptionResult))
                                    {
                                        $option_cost = $this->attributeOptionResult[$optVal['attribute_option_id']]['option_cost'];
                                        $option_price = $this->attributeOptionResult[$optVal['attribute_option_id']]['option_price'];
                                        $checked = 'checked';

                                        if($this->attributeOptionResult[$optVal['attribute_option_id']]['is_default'] == 1)
                                            $isdefault = 'checked';
                                    }
                                    else
                                    {
                                        $option_cost = $optVal['option_cost'];
                                        $option_price = $optVal['option_price'];
                                        $checked = '';
                                        $isdefault = '';
                                    }
                            ?>
				                        <tr>
				                            <td width="25%"><div><input type="checkbox" class="e4" name="attribute_option[]" id="attribute_option" value="<?php echo $val['attribute_id'].'^^'.$optVal['attribute_option_id'] ?>" <?php echo $checked; ?>><label class="check" for="attribute_option"><?php echo $optVal['option_name']?></label></div></td>
				                            
				                            <td width="25%"><div><input type="radio" class="e4" id="<?php echo $val['attribute_id'].'^^'.$optVal['attribute_option_id'] ?>" name="is_default_<?php echo $val['attribute_id'] ?>" value="<?php echo $optVal['attribute_option_id']?>" <?php echo $isdefault; ?>><label class="auto">&nbsp;</label></td>
				                            <label for="<?php echo $val['attribute_id'].'^^'.$optVal['attribute_option_id'] ?>">
				                            <td width="25%"><input class="width-200" type="text" name="cost_<?php echo $optVal['attribute_option_id']?>" value="<?php echo $option_cost ?>" maxlength="10"><div></td>
				                            
				                            <td width="25%"><input class="width-200" type="text" name="price_<?php echo $optVal['attribute_option_id']?>" value="<?php echo $option_price ?>" maxlength="10"></td>
				                        </tr>
	                            
	                            <?php
	                            }
	                            ?>
	                        </table>    
                        </td></tr>
                    </table>
                <?php
                        }
                  }
                }
                else
                {
                    echo "<span class='no-record-msz full no-padd'>".$translator['ADD_ATTRIBUTE_OPTION']."</span><br><br><br><br>";
                }
                ?>    
                </div>
            </div>
            <div class="common-form">
                <div class="row">
                    <div class="row m-t-10">
                     <?php 
                        if(count($this->attributeResult)>0)
                        {
                            echo $this->formRow($form->get('save')); 
                        }
                    ?>
                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
    </div>
</div>