<?php
/**
 * This view is used to sort order of category products
 * @package    Product
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jqtree.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/products.category.product.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tree.jquery.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v=' . $this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_PRODUCT'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div>
        <div id="success_message" class="success-msg" style="display: none"></div>
        <div class="head no-img">
            <span><?php echo $translator['L_PRODUCT']; ?></span>
        </div>
        <div class="detail-section">
            <?php
            $form = $this->selectProductForm;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form"> 
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_CATEGORY'] ?></label>
                        <?php echo $this->formRow($form->get('category_id')); ?>
                    </div>
                </div>
            </div>

            <?php
            echo $this->form()->closeTag();
            ?>
            <div id="tree1"></div>
        </div>
    </div>
</div>
</div>