<?php
/**
 * This view is used to product attributes
 * @package    Product
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
?>
<script>
    var id = '<?php echo $this->id ?>';
</script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/manageproduct.attributes.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb m-t-51">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
                
        $form = $this->manageProductForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?> 
        <div class="head no-img"><span><?php echo $translator['ATTRIBUTE'] ?></span></div>
            <div class="detail-section">
            <?php echo $translator['ATTRIBUTE_LABLE_MSG'];?>
            <span class="common-form m-b-10"><a class="save-btn right" href="javascript:void(0)" onClick="addProcudtAttributes();"><?php echo $translator['ADD_ATTRIBUTE'] ?></a></span>
                <div class="grid-box full">
                    <table id="list"></table>
                    <div id="pcrud"></div>
                </div>
            </div>
            <div class="common-form">
                <div class="row">
                    <div class="row m-t-10">                      
                        <?php echo $this->formRow($form->get('save')); ?>
                        <?php echo $this->formRow($form->get('save_continue')); ?>
                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
    </div>
</div>