<?php
/**
 * This file is used for upload file
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

$uploadForm = $this->uploadForm;
$uploadForm->prepare();
?>
<script>
    var counter = <?php echo json_encode($param['counter']); ?>;
    var container = <?php echo json_encode($param['container']); ?>;
    /*$('.' + container + '' + counter).append($("<a class='minus m-l-10' onclick=remove_dynamic_contacts('." + container + '' + counter + "','" + counter + "')>", {
     href: "javascript:void(0)",
     id: "remove"
     }));*/
</script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/upload.docs.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="full m-t-15 addfile">
    <?php echo $this->formRow($uploadForm->get('file_name0')); ?>

    <?php echo $this->formRow($uploadForm->get('file_name_value[]')); ?>
    <a  class="minus m-l-10" onclick="remove_dynamic_contacts('.upload_container_<?php echo $param['counter']; ?>', '<?php echo $param['counter']; ?>')"></a>
    <a id="add_new_file" class="plus m-l-10" href="javascript:void(0)"></a>
</div>
<div class="full">
    <div class="">

        <div id="filemessage_<?php echo $param['counter']; ?>"></div>
    </div>
</div>




