<?php
/**
 * This view is used to view crm ship for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var product_id="' . $product_id . '";';
$var .=' var id="' . $id . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/product/crm.view.product.js?v='.$this->layout()->getVariable('jsVersion'));


?>

<div class="create-contacts">
    <h2>
      <?php echo $translator['PRODUCT_HEADING']; ?>
      <?php if(isset($productName) and trim($productName) != "") { echo '<div class="user-name-top">'.trim($productName).'</div>'; }  ?>
    </h2>
    <div class="accordion-detail  m-t-20">
        <div id="pageAction">
            <ul class="edit-link">
                <li><a id="tab-1" href="javascript:void(0);" onClick="viewCrmProductDetails();"><?php echo $translator['DETAILS']; ?></a></li>
                <li><a id="tab-2" href="javascript:void(0);" onClick="editCrmProductDetails();"><?php echo $translator['EDIT']; ?></a></li>
                <li><a id="tab-4" href="javascript:void(0);" onClick="editAttributes();"><?php echo $translator['EDIT_ATTRIBUTES']; ?></a></li>
                <li><a id="tab-5" href="javascript:void(0);" onClick="editAttributeOptions();"><?php echo $translator['EDIT_OPTIONS']; ?></a></li>
                <li><a id="tab-3" href="javascript:void(0);" onClick="viewChangeLog();"><?php echo $translator['CHANGE_LOG']; ?></a></li>
            </ul>
        </div>
        <div id="productContent"></div> 


    </div>
</div>