﻿
.page {
	max-width:95%;
	width:960px;
	margin:0 auto;
}
.demowrap {
	border: 4px solid #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	display:block;
}
.demowrap img {
	width:100%; 
}
.left {
	width:40%;
	float:left;
}
.right {
	width:55%;
	float:right;
	color:#333;
	text-shadow:1px 1px 0 #fff;
}
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
 *zoom: 1;
}
.info {
	text-indent:1em;
}
.box {
	margin-bottom:40px;
}
#option ul {
	list-style:square;
	line-height:2em;
}
#option b {
	color:#333;
	padding:0 5px;
	text-shadow:1px 1px 0 #fff;
}
#option i {
	color:#F30;
	margin-left:5px;
}


.slider-box{width:628px!important; float:left;}
.slider-box .left{width:100%; float:left; position: relative;}
.slider-box .demowrap{ width:80%; float:left; height:630px;}
.slider-box .image-box{border: 0 none; display: table-cell; float: left; height: 580px; margin: 0; width: 610px;}
.slider-box .demowrap img{max-height:570px; line-height: 580px;max-width: 604px !important; }
.slider-box .elastislide-wrapper{width:20%; float:right; margin-top:30px; max-width: 117px !important}
.slider-box .elastislide-carousel{width:100%; float:left; height:505px!important;}
.elastislide-carousel ul li{margin: 9px 0!important; width:88%!important;}
.elastislide-prev{position:absolute; left: 44px; top:-25px; background:url(../arrow-top.png); width:25px; height:14px; font-size:0px; line-height:0px; cursor:pointer;}
.elastislide-next{position:absolute; left: 44px; bottom:-43px; background:url(../arrow-btm.png); width:25px; height:14px; font-size:0px; line-height:0px; cursor:pointer;}

#sliderDiv_overlay, #sliderDiv { background: none repeat scroll 0 0 #1F1F1F; height: 660px; left: 0; opacity: 0.4; position: absolute; top: 0; width: 782px; z-index: 9;}
.slider-section #sliderDiv_overlay img, #sliderDiv img { left: 50%; position: absolute; top: 50%;}

.shipoverlay{background:#ccc; position: absolute; top: 0; left:0px; height:640px; float:left; z-index:123456; width:81%; cursor:pointer}
#sliderDiv{width:618px}


#sliderDiv_overlay2 { background:url(../search.png) no-repeat center center; height: 580px; left: 5; opacity: 0.5; position: absolute; top: 20; width: 900px; z-index:2;}


