<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
       
			
        $('.donate-button').click(function(){
            $('.donate-button').removeClass('active');
            $(this).addClass('active');
        });
		
        $('.yes-btn').click(function(){
            $('.yes-btn').removeClass('active');
            $(this).addClass('active');
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/donation.checkout.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.creditCardValidator.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-header">
    <h1>Donate Now</h1>
</div>
<section class="main">
    <div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
<div class="container">
<div class="checkOut-page donate-step-2 donate-page">
<div class="left-section">
		<div class="shipping-section donate-form">
		<div class="donation-messgae">You are about to donate  <?php echo "$".$this->Currencyformat($amount) ?> towards the foundation</div>
		</div>
            <?php
            $form = $this->donationCheckoutForm;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
		<div class="shipping-section donate-form">
		<h2 class="form-heading">Billing Information<br> <span style="float:left;">Please enter your Billing Address and Payment information below</span> </h2>
		  <input type="hidden" value="<?php echo $location;?>" id="billing_addressinfo_location" name="billing_addressinfo_location">
		  <input type="hidden" value="<?php echo $addressInformationId;?>" id="billing_address_information_id" name="billing_address_information_id">
		  
		  <input type="hidden" value="<?php echo $amount ?>" id="amount" name="amount">
		  <input type="hidden" value="<?php echo $inHonoree ?>" id="inHonoree" name="inHonoree">
		  <input type="hidden" value="<?php echo $honorMemoryName ?>" id="honorMemoryName" name="honorMemoryName">
		  <input type="hidden" value="<?php echo $companyName ?>" id="companyName" name="companyName">
		  <input type="hidden" value="<?php echo $companyId ?>" id="companyId" name="companyId">
		  <input type="hidden" value="<?php echo $userId ?>" id="userId" name="userId">
		  
		  
		  <div class="row">
		   
			<div class="col1">
			  <label>First Name:<span>*</span></label>
                            <?php echo $this->formRow($form->get('first_name')); ?>
			</div>
			<div class="col1">
			  <label>Last Name:<span>*</span></label>
                           <?php echo $this->formRow($form->get('last_name')); ?>
			</div>
		  </div>
                  <?php if(empty($userId)){ ?>
		  <div class="row">
		   
			<div class="col1">
			  <label>Email Address<span>*</span></label>
                           <?php echo $this->formRow($form->get('email_id')); ?>
                          <label id="email_exits_msg"  class="error" style="display:none;"><?php echo $translator['EMAIL_ID_ALREADY']; ?></label>
                          <label id="email_exits_red"  class="error" style="display:none;"></label>
                          <label id="email_exits_green" class="error" style="display:none;"></label>
			</div>
			<div class="col1">
			  <label>Confirm Email Address<span>*</span></label>
                           <?php echo $this->formRow($form->get('confirm_email_id')); ?>
                          <label id="confrm_email_green" class="error" style="display:none;"></label>
                           <label id="confrm_email_red" class="error" style="display:none;"></label>
			</div>
		  </div>
                  <?php } ?>
		  <div class="row">
			<div class="col1">
			  <label>address 1:<span>*</span></label>
                           <?php echo $this->formRow($form->get('address_1')); ?>
			</div>
			<div class="col1">
			  <label>address 2:</label>
                           <?php echo $this->formRow($form->get('address_2')); ?>
			</div>
		   
		  </div>
		   <div class="row">
			<div class="col1">
			  <label>Postal Code:<span>*</span></label>
                           <?php echo $this->formRow($form->get('zipcode')); ?>
			</div>
			<div class="col1">
			  <label>City:<span>*</span></label>
                           <?php echo $this->formRow($form->get('city')); ?>
			</div>
		   
		  </div>
		  <div class="row">
		   <div class="col1">
			  <label>Country:<span>*</span></label>
                          <?php echo $this->formRow($form->get('country')); ?>
			</div>
		   <div class="col1">
			  <label>State:<span>*</span></label>
                            <?php echo $this->formRow($form->get('state')); ?>
                            <span id="other_state" style="display:none"><?php echo $this->formRow($form->get('state_id')); ?></span>
			</div>
		  </div>
		</div>
		<div class="shipping-section donate-form card-details">
		
		  <div class="row">
			<div class="col1">
			  <label>Card Number:<span>*</span></label>
                           <?php echo $this->formRow($form->get('credit_card_number')); ?>
			</div>
			<div class="col1">
			  <label>Security Code:<span>*</span></label>
                          <?php echo $this->formRow($form->get('credit_card_code')); ?>
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  <label>Expiration Date:<span>*</span></label>
                          <?php echo $this->formRow($form->get('credit_card_exp_month')); ?>
                 <label id="anyErrorIndication"></label>         
			</div>
			
			<div class="col1"><label>&nbsp;</label><?php echo $this->formRow($form->get('credit_card_exp_year')); ?> </div>
		  </div>
		  <div class="row">
			<div class="form-sep"> 
                            <?php echo $this->formRow($form->get('subscribe_newsletter')); ?>Yes! I would like to Subscribe to the Free monthly Newsletter
                        </div>
			</div>
		  </div>
		  <div id="error_msg"></div>
    <div><?php echo $this->formRow($form->get('submit')); ?></div>
    
    
     <?php echo $this->form()->closeTag(); ?>
	</div>
	
	
			<div class="<?php if($this->getAuth() === false){ ?> right-section donate-now <?php } else { ?> common-right-section <?php } ?>" >
			
			<?php if(empty($userId)) {?>
			<form name="loginfrm" id="loginfrm" method="post" action=""> 
				<h2>Returning customer</h2>
				<div class="inner"><a>See login Details</a>
				<p>If this is your first time logging into our new site, you will need to Reset your Password to use with your existing account. Please use the email address that was previously associated with your account. </p>
				<p>Thank you for your patience !</p>
				<div class="full"><a href="javascript:void(0);" onclick="popupwindow('<?php echo $fbLoginUrl; ?>','FacebookLogin','840','440');" class="facebook" target="_top"><img class="" src="/images/login-fb-icon.jpg"></a></div>
					<div class="login-detail">
							<div class="or"></div>
							<div id="login-b1" class="head">
								<div>
									<?php
						            if (isset($fbMessages)) {
						                if ($fbMessages['status'] == 'error') {
						                    echo "<span id='error_message' class='login-error full'>" . $fbMessages['message'] . "</span>";
						                }
						            } else {
						                echo '<span id="error_message" class="login-error full"></span>';
						            }
						            ?>
					            </div>
							</div>							
							  <div class="form-sep">
							    <label>Email</label>
							    <input type="text" value="" name="user_name" id="user_name">
							  </div>
							  <div class="form-sep">
							    <label>Password</label>
							    <input type="password" value="" name="password" id="password">
							  </div>
							  <div class="form-sep">
							    <input type="hidden" value="0" name="rememberme">
							    <input type="checkbox" value="1" name="rememberme">
							    Remember Me </div>
							  <div class="form-sep">
							    <input type="submit" value="Login" class="button green" id="submitbutton" name="submit">
							    
							  </div>
					</div>
				</div>
				</form>	
				<?php } else { ?>

                
                <div class="home-add"> 
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
				<?php
				}
				?>
			</div>
		
	
</div>
</div>
</div>
</div>
</Section>
<?php
	$refPath = $this->Encrypt('checkout-donate');
?>
<script>
var refererPath = '<?php echo $refPath ?>';

function popupwindow(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 

</script>