<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
       
		
        $('.donate-button').click(function(){
            $('.donate-button').removeClass('active');
            $(this).addClass('active');
        });
		
        $('.yes-btn').click(function(){
            $('.yes-btn').removeClass('active');
            $(this).addClass('active');
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);


?>
    <?php
            $descriptionFB0 = $first_name.' '.$last_name.' has done a Dotaion for Ellis Foundation';
            $descriptionFB = sprintf("You can also donation from here %s.",DOMAIN_NAME.'/donate');
            $fbArr = array($this->serverUrl().'/donate',$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($descriptionFB0),'&nbsp;',addslashes($descriptionFB),$facebookAppId);
            
    ?>
<div class="inner-header">
    <h1>Donation Confirmation</h1>
</div>
<section class="main">
    <div id="contentArea" class="cms-outer-bg">
        <div class="cms-inner-bg">
    <div class="container">
<div class="checkOut-page donation-conform">
	<div class="left-section">

	<form name="donateFrm" id="donateFrm" method="post" action="">
            <input type="hidden" value="<?php echo $isMember; ?>">
		<div class="shipping-section donate-form">
		<h2>You've Been Generous</h2>
		<div class="donation-messgae">Thank you for your Donation towards the Liberty Ellis Foundation !</div>
		<div class="row user">
			<div class="col1">
			  <label style="text-transform:none;">Confirmation will be sent to <a href="mailto:<?php echo $email_id ?>" style="text-transform:none;"> <?php echo $first_name.' '.$last_name ?> < <?php echo $email_id ?>></a> </label>
			<a class="float-right" href="javascript:void(0);" style="cursor:pointer;" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');">
                <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/quizzes-share.png" alt="Share on Facebook" title="Share on Facebook">
            </a>
			</div>
                     <?php if( $isMember !="Yes") {?>
			<div class="col1">
			  <div class="form-sep"> <input type="checkbox" name="agree" id="agree" value="1" style="float:left;"><div style="float:left;margin-left:5px;">Yes ! I would like to become a Registered User and I accept all the <a href="/terms-of-use" target="_blank">Terms and Conditions</a>. 
			    <br>As a registered user you will have full access to our website.</div></div>
			</div>
                     <?php } ?>
		  </div>
                   <?php if($isMember !="Yes") {?>
				   <div class="payment-conformaton"> 
		 <div class="row" id="confirm_user1" style="display:none;">
			<div class="col1">
			  <label>Password <span>*</span></label>
			  <input type="password" class="width-222" id="password" name="password">
			</div>
			<div class="col1">
			  <label>Confirm Password<span>*</span></label>
			  <input type="password" class="width-222" id="cnf_password" name="cnf_password">
			</div>
		  </div>
		  <div class="row" id="confirm_user2" style="display:none;">
			<div class="col1">
			  <label>Security Question <span>*</span></label>
                          <select name="security_question_id" id="security_question_id">
                           <option selected="selected" value="">Select Security Question</option>
                          <?php  foreach($secQuestionList as $id => $que) { ?>
                           <option value="<?php echo $id;?>"><?php echo $que;?></option>
                           <?php } ?>
                           </select>
			</div>
			<div class="col1">
			  <label>Security Answer <span>*</span></label>
			  <input type="text" class="width-222" id="security_answer" name="security_answer">
			</div>
		  </div> 
		  </div>
                 <?php } ?>
		</div>
            <!--</form>
            <form name="donateNotifyFrm" id="donateNotifyFrm" method="post" action=""> -->
		<div class="shipping-section padd-l-0">
		<h2 class="form-heading">Would you like to notify anyone else about this donation ?</h2>
		 <div class="row">
			<div class="col1">
			  <label>First Name</label>
			  <input type="text" class="width-222 first_name" id="first_name_1" name="first_name[]">
			</div>
			<div class="col1">
			  <label>Last Name</label>
			  <input type="text" class="width-222" id="last_name_1" name="last_name[]">
			</div>
			<div class="col1">
			  <label>Email Address</label>
			  <input type="text" class="width-222 email_id" id="email_1" name="email[0]">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  
			  <input type="text" class="width-222" id="first_name_2" name="first_name[]">
			</div>
			<div class="col1">
			  
			  <input type="text" class="width-222" id="last_name_2" name="last_name[]">
			</div>
			<div class="col1">
			  
			  <input type="text" class="width-222 email_id" id="email_2" name="email[1]">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  
			  <input type="text" class="width-222" id="first_name_3" name="first_name[]">
			</div>
			<div class="col1">
			  
			  <input type="text" class="width-222" id="last_name_3" name="last_name[]">
			</div>
			<div class="col1">
			 
			  <input type="text" class="width-222 email_id" id="email_3" name="email[2]">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  
			  <input type="text"  class="width-222" id="first_name" name="first_name[]">
			</div>
			<div class="col1">
			  
			  <input type="text" class="width-222" id="last_name" name="last_name[]">
			</div>
			<div class="col1">
			 
			  <input type="text" class="width-222 email_id" id="email_4" name="email[3]">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  
			  <input type="text"  class="width-222" id="first_name" name="first_name[]">
			</div>
			<div class="col1">
			  
			  <input type="text" class="width-222" id="last_name" name="last_name[]">
			</div>
			<div class="col1">
			 
			  <input type="text" class="width-222 email_id" id="email_5" name="email[4]">
			</div>
		  </div>
                <div class="row center"><button type="submit" class="button">Submit</button></a></div>
		</div> 
		
	</form>
	</div>
	<div class="common-right-section" >
                <div class="home-add"> 
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
            </div>
</div>
<section>
<script>
$(function(){

$("#agree").on("click",function(){
   $("#confirm_user1").hide();
   $("#confirm_user2").hide();
   
  if($("#agree").is(":checked")){
   $("#confirm_user1").show();
   $("#confirm_user2").show();
  }else{
   $("#confirm_user1").hide();
   $("#confirm_user2").hide();
  }
});
$.validator.
addMethod("alphanumeric", function(value, element) {
    return this.optional(element) || /^(?=.*\d)(?=.*[a-z]).{6,25}$/i.test(
        value)
}, "Please enter valid Password");


jQuery.validator.addMethod("emailtype", function(value, element) {
    return this.optional(element) || /^([\w-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/.test(value)
	
	}, "Please enter valid Email");
	
$("#donateFrm").validate({
rules: {
    password: {
        required: function(){
                        if($("#agree").is(":checked")){return true;}else {return false;}
                    }, 
        minlength: 6, 
        maxlength: 25, 
        alphanumeric: true
    }, 
    cnf_password: {
        required: function(){
                         if($("#agree").is(":checked")){return true;}else {return false;}
                    }, 
        equalTo: "#donateFrm #password"
    },
    security_question_id: {
        required: function(){
                         if($("#agree").is(":checked")){return true;}else {return false;}
                    },
    },
    security_answer: {
        required: function(){
                         if($("#agree").is(":checked")){return true;}else {return false;}
                    },
    },
	'email[0]': {
       emailtype: true,
	   },
	'email[1]': {
       emailtype: true,
	   },
	'email[2]': {
       emailtype: true,
	   },
	'email[3]': {
       emailtype: true,
	   },
	 'email[4]': {
       emailtype: true,
	   },
	
  
    
}, 
messages: {
    password: {
        required: "Please enter Password.",
        minlength: "Password must be 6 character long. Please try again.",
        maxlength: "Password must not be 25 character long. Please try again.", 
        alphanumeric: "Password must be Alphanumeric. Please try again."
    }, 
    cnf_password: {
        required: "Please enter Confirm Email.",
        equalTo: "Please enter Confirm Password."
    },
    security_question_id: {
        required: "Please select Security Question."
    },
    security_answer: {
        required: "Please enter Security Answer."
    },
	'email[0]': {
        emailtype: "Please enter valid Email."
    },
	'email[1]': {
        emailtype: "Please enter valid Email."
	   },
	'email[2]': {
       emailtype: "Please enter valid Email."
	   },
	'email[3]': {
       emailtype: "Please enter valid Email."
	   },
	 'email[4]': {
        emailtype: "Please enter valid Email."
	   },
	
 }
});
/*
jQuery.validator.addMethod("lettersandapostropheonly", function(value, element) {
    return this.optional(element) || /^[a-z '\-]+$/i.test(value)}, "Invalid Name");
*/
//**

jQuery.validator.addMethod("lettersandapostropheonly", function(value, element) {
    return this.optional(element) || /^[a-z '\-]+$/i.test(value)}, "Invalid Name");

	/*
    $("#donateFrm .first_name").each(function(){
    $(this).rules("add",{
            minlength: 3, 
            maxlength: 50, 
            lettersandapostropheonly: true,
            messages : {
                minlength:"Please enter minimum 3 charater",
                maxlength:"Please enter maximum 50 charater",
                lettersandapostropheonly : "Please enter valid name",

            }
        });

    });
    
     $("#donateFrm .last_name").each(function(){
    $(this).rules("add",{
            minlength: 3, 
            maxlength: 50, 
            lettersandapostropheonly: true,
            messages : {
                minlength:"Please enter minimum 3 charater",
                maxlength:"Please enter maximum 50 charater",
                lettersandapostropheonly : "Please enter valid name",

            }
        });

    });
    
    
     $("#donateFrm .email_id").each(function(){
    $(this).rules("add",{
            emailtype: true,
            messages : {
                emailtype:"Please enter valid email",
            }
        });

    });*/
//**

    });
    

</script>