
/*Stylesheet for about-foundation */
.cms-outer-bg, .foundation-outer-bg
	width: 100%
	float: left
	/*background: url(../images/foundation/main-foundation-bg.jpg) no-repeat center 0*/
	background-size: 100% auto
	min-width: 1212px

.cms-inner-bg, .foundation-inner-bg
	width: 100%
	float: left
	background: url(../images/foundation/foundation-bg.png) repeat 0 0
	min-height: 700px
	padding-bottom: 30px
	min-width: 1212px

.foundation-result-bg
	width: 100%
	float: left
	background: url(../images/passenger-search/psr-bg.png) repeat 0 0
	min-height: 126px
	.fr-detail-section
		padding: 25px 0px 0px 0px 
		h1
			float: left
			font-size: 38px
			margin: 0
			color: $white
			font-family: $headings
			text-transform: uppercase
			margin: 0px
			padding-top: 10px
			
		input[type="text"], select
			background: #1d2320
			border: none
			font-size: 20px
			color: #ccc
			font-family: $bodyfont
			font-weight: 200
			width: 163px
			height: 60px
			padding: 0px 15px
			margin: 0px
			line-height: 60px
			font-style: normal
			box-shadow: none
			text-transform: none
			cursor: text
			float: left
			&:hover, &:focus, &:active
				background: $blue
				color: $white
		select
			font-size: 20px
			color: rgba(255,255,255,0.3)
			font-family: $bodyfont
			font-weight: 200
			background: #1d2320
			width: 163px
			height: 60px
			padding: 0px 15px
			margin: 0px
			line-height: 60px
			font-style: normal
			box-shadow: none
			text-transform: none
			cursor: text
			float: left
			&:hover, &:focus, &:active
				background: $blue
				color: $white

		.fr-arrow
			width: 60px
			height: 60px
			background: url(../images/passenger-search/arrow.png) center center no-repeat
			background-color: #5496c9
			cursor: pointer
			float: left
			margin: 0px
			padding: 0px
			&:hover, &:focus, &:active
				background: url(../images/passenger-search/arrow.png) center center no-repeat
				background-color: #2871a9	
		span
			width: 100%
			text-align: left
			line-height: 30px
			padding: 0px
			font-family: $bodyfont
			color: $white
			font-size: 18px
			font-weight: 300
			margin-left: 400px
			cursor: pointer
			strong
				font-size: 22px
				verticle-align: baseline
			a
				color: adjust-lightness($white, -25%)
			a:hover
				color: $white

.foundation-left
	width: 756px
	float: left
	margin: 29px 0px 37px 0px
	background: $white
	min-height: 654px
	padding: 15px 35px 24px 35px
	position: relative
	&.foundation-full
		width: 955px
	.story-section
		width: 100%
		display: inline-block
		p 
			margin-top: 0
	ul.gift-content
		width: 100%
		float: left
		list-style: none
		margin: 0
		padding: 0
		li 
			width: 100%
			float: left
			padding: 0
			margin-top: 20px
			img 
				margin-right: 15px
			h3 
				color: #5496c9
	h1
		font-family: $bodyfont
		font-size: 22px
		font-weight: 400
		color: $blue
		text-align: left
		text-transform: none
		margin: 0px
	p, li
		font-family: $bodyfont
		font-size: 18px
		font-weight: 200
		color: $black
		line-height: 26px
		text-align: left
		strong, b
			font-weight: 500
			color: #5496c9
		a
			text-decoration: underline
	ol
		li
			margin-bottom: 15px
	.faq-search-section
		width: 100%
		min-height: 100px
		margin: 0px 0px 25px 0px
		padding: 0px
		.faq-search-box
			width: 50%
			min-height: 100px
			float: left
			label
				width: 100%
				font-family: $bodyfont
				font-size: 22px
				line-height: 40px
				font-weight: 300
				color: #1f1f1f
				text-align: left
				text-transform: none
				padding: 0px 0px
				margin: 0px
				
			input[type="text"], select
				background: #eaeaea
				border: none
				font-size: 18px
				color: #b1b1b1
				font-family: $bodyfont
				font-weight: 200
				width: 285px
				height: 50px
				padding: 0px 15px
				line-height: 50px
				font-style: italic
				box-shadow: none
				float: left
				cursor: text
				text-transform: none
				&:hover, &:focus
					background: $blue
					color: $white
			&:last-child
				label
					margin-left: 16px
			select
				background: #eaeaea url(../images/foundation/faq-select.png) no-repeat right center
				border: none
				font-size: 20px
				color: #b1b1b1
				font-family: $bodyfont
				font-weight: 200
				width: 300px
				height: auto !important
				padding: 11px 15px 11px 15px
				margin-left: 15px
				line-height: 17px !important
				font-style: normal
				box-shadow: none
				float: left	
				cursor: pointer
				text-transform: none
				&:hover, &:focus
					background: $blue url(../images/foundation/faq-select-active.png) no-repeat right center
					color: $white 
			.faq-arrow
				width: 50px
				height: 50px
				background: url(../images/passenger-search/arrow.png) center center no-repeat
				background-color: $blue
				cursor: pointer
				float: left
				margin: 0px
				padding: 0px
				&:hover, &:focus
					background: url(../images/passenger-search/arrow.png) center center no-repeat
					background-color: #2871a9

/*Stylesheet for about-foundation right section*/	
.foundation-right
	width: 312px
	float: right
	margin: 0px 0px 30px 0px
	background: $white
	padding: 24px 24px 24px 24px
	border: 0!important
	&.border
		border: 1px solid $border
		wight: 310px
	h1
		font-family: $headings
		font-size: 28px
		font-weight: 400
		color: $black
		text-align: left
		text-transform: uppercase
		padding: 0px 0px
		margin: 0px
	h2	
		font-family: $bodyfont
		font-size: 25px
		font-weight: 600
		color: $black
		text-align: left
		text-transform: none
		padding: 0px 0px
		margin: 0px
		text-transform: uppercase
	p
		font-family: $bodyfont
		font-size: 20px
		font-weight: 200
		color: $black
		line-height: 25px
		margin-bottom: 15px
		padding: 0px 0px
		text-align: left
	.btn-green
		font-size: 16px
		float: left
		text-transform: uppercase
		font-weight: 600
		padding: 10px 25px
		margin-right: 10px
		margin-top: 25px
		color: $white
		text-align: center
		background: $green
		&:hover, &:active
			background: $blue
	.btn-blue
		font-size: 16px
		float: left
		text-transform: uppercase
		font-weight: 600
		padding: 10px 20px
		margin-top: 25px
		color: $white
		text-align: center
		background: $blue
		&:hover, &:active
			background: #2871a9

/*Stylesheet for blog left section*/	
.blog-left
	width: 756px
	float: left
	margin: 29px 0px 37px 0px
	background: $white
	min-height: 654px
	padding: 15px 35px 24px 35px
	position: relative	
	.blog-content
		width: 100%
		margin-bottom: 30px
		border-bottom: 1px solid #e5eaec
		padding: 15px 0px 35px 0px
		clear: both
		.quiz-about
			width: 450px
			float: left
			margin-left: 25px
		#search_quiz
			margin-top: 25px
			float: left
		label
			font-weight: 400
		h1
			font-family: $bodyfont
			font-size: 40px
			font-weight: 200
			color: $blue
			text-align: left
			text-transform: none
			padding: 0px 0px
			margin: 0 0 17px 0
		.blog-top-row
			background: #eff2f4
			padding: 10px 15px
			float: left
			width: 725px
			margin-bottom: 27px
			.span-by
				float: left
				color: #5f5f5f
				font-weight: 100
				font-family: $bodyfont
				font-size: 16px
				line-height: 20px
				strong
					font-weight: 600
			.span-date
				float: right
				color: #7c7c7c
				font-weight: 300
				font-family: $bodyfont
				font-size: 22px
				height: 30px
				line-height: 30px
				padding-left: 30px
				margin-top: 5px
				background: url(../images/foundation/span-date.png) no-repeat left center

		.blog-content-frame
			width: 100%
			min-height: 241px
			margin: 0px
			padding: 0px 0px
			clear: both
			.blog-image-box
				width: 338px
				height: 247px
				float: left
				margin-right: 40px
				margin-top: 6px
				img 
					width: 338px
					height: 241px
			.blog-image-content
				width: 368px
				min-height: 248px
				padding: 0px
				float: left
				position: relative
				p
					font-family: $bodyfont
					font-size: 20px
					font-weight: 300
					color: #35434e
					line-height: 30px
					padding: 0px 0px
					margin: 0px
					text-align: left
				.blog-btn-green
					font-size: 16px
					float: left
					text-transform: uppercase
					font-weight: 600
					padding: 10px 25px
					margin-right: 10px
					margin-top: 10px
					color: $white
					text-align: center
					background: $green
					position: absolute
					bottom: 0px
					&:hover, &:active
						background: $blue
.blog-right
	float: right
	width: 36px

/*Stylesheet for blog right section*/			
.blog-right-search
	width: 316px
	height: 50px
	float: right
	margin: 29px 0px 0px 0px
	background: url(../images/family-top-bg.png) repeat 0 0
	padding: 24px 20px 30px 24px
	position: relative
	form 
		float: left
		width: 100%
		position: relative
	input[type="text"], select
		background: #33393c
		border: none
		font-size: 18px
		color: #8e9497
		font-family: $bodyfont
		font-weight: 200
		width: 229px
		height: 53px
		padding: 0px 15px
		margin-right: 0px
		line-height: 53px
		font-style: normal
		box-shadow: none
		float: left
		cursor: text
		text-transform: none
		&:hover, &:focus
			background: $blue
			color: $white
	label
		&.error
			position: absolute
			left: 0px
			bottom: -23px
	.blog-arrow
		width: 53px
		height: 53px
		background: url(../images/passenger-search/arrow.png) center center no-repeat
		background-color: $blue
		cursor: pointer
		float: left
		margin: 0px
		padding: 0px
		&:hover, &:active
			background: url(../images/passenger-search/arrow.png) center center no-repeat
			background-color: #2871a9


.blog-right-section
	width: 312px
	float: right
	margin: 0px 0px 0px 0px
	background: $white
	padding: 24px 24px 24px 24px
	h1
		font-family: $headings
		font-size: 26px
		font-weight: 400
		color: $black
		text-align: left
		text-transform: uppercase
		padding: 0px 0px
		margin: 0px 0px 20px 0px
	h2
		font-family: $headings
		font-size: 26px
		font-weight: 400
		color: $black
		text-align: left
		text-transform: uppercase
		padding: 20px 0px 0px 0px
		margin: 0px 0px 20px 0px
		border-top: 1px solid #e5eaec
		width: 100%	
		
	.right-section-frame
		width: 100%
		min-height: 67px
		padding: 0px
		margin-bottom: 40px
		.frame-image
			width: 67px
			height: 67px
			float: left
			margin-right: 10px
			padding: 0px
			border-radius: 50px
			overflow: hidden
			img
				max-width: 100px
				max-height: 100px

		.frame-image-content
			width: 235px
			min-height: 67px
			float: right
			padding: 0px
			margin: 0px
			h1
				font-family: $bodyfont
				font-size: 20px
				font-weight: 200
				line-height: 30px
				color: $blue
				text-align: left
				text-transform: none
				padding: 0px 0px
				margin: 0px
			p
				float: left
				color: #999999
				font-weight: 100
				font-family: $bodyfont
				font-size: 12px
				padding: 0px
				margin: 0px 0px 6px 0px
				line-height: 12px
				strong
					font-weight: 600
					color: #5f5f5f
	ul
		list-style-image: none
		float: left
		margin: 0px
		li
			float: left 
			width: 100%
			border-bottom: 1px solid #dcdfe0
			padding: 0
			&.active
				a
					color: #2871a9
					font-weight: 600
			a
				font-size: 20px
				color: #5496c9
				float: left
				padding: 16px 0 16px 27px
				width: 285px
				line-height: 20px
				font-weight: 400
				word-break: break-all
				background: url(../images/Blog-arrow.gif) no-repeat 7px 19px
			&:last-child
				border: 0px
				a
					padding-bottom: 0px
			&:first-child
				a
					padding-top: 0px
					background-position: 7px 3px
				


/*Stylesheet for press page*/	
.press-main-container
	width: 100%
	padding: 0px
	margin: 0px
	ul
		width: 100%	
		padding: 55px 0px
		margin: 0px 0px	
		li
			width: 560px
			height: 176px
			display: block
			float: left
			margin: 0px 0px 30px 30px
			padding: 0px
			background: #f0f1f2
			list-style-type: none
			cursor: default
			img
				width: 157px
				height: 176px
				float: left
			.blue
				color: $blue
				
    			

			.press-image-content
				width: 363px
				min-height: 136px
				float: right
				padding: 10px 20px
				margin: 0px
				h1
					font-family: $bodyfont
					width: 100%
					font-size: 30px
					line-height: 30px
					font-weight: 200
					color: #bdbebf
					text-align: left
					text-transform: none
					margin: 0px
					padding: 0px
				span
					font-family: $bodyfont
					width: 100%
					font-size: 18px
					line-height: 18px
					font-weight: 300
					color: #bdbebf
					text-align: left
					text-transform: none
					margin: 0px
					padding: 0px
					.boardtext
						font-size: 20px
						line-height: 30px
						font-weight: 300
				p
					float: left
					color: #bdbebf
					font-weight: 200
					font-family: $bodyfont
					font-size: 15px
					padding: 0px
					margin-top: 10px
					line-height: 18px

				.board-content-box
					width: 100%
					min-height: 60px
					margin-top: 25px
					padding-top: 15px
					border-top: 1px solid #d7e0e7
					h2
						font-family: $headings
						width: 100%
						font-size: 17px
						line-height: 25px
						font-weight: 200
						color: #bdbebf
						text-align: left
						text-transform: uppercase
						margin: 0px
						padding: 0px
					h3
						color: #bdbebf
						font-weight: 200
						font-family: $bodyfont
						font-size: 18px
						padding: 0px
						margin: 0px
						line-height: 20px
						text-transform: none

			&:hover
				background: $white
				-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				h1
					color: $blue
				span
					color: #494848
				p
					color: #83898d
				.board-content-box
					h2
						color: #35434e
					h3
						color: #83898d



/*Stylesheet for FAMOUS ARRIVALS*/
.famous-main-container
	width: 100%
	padding: 0px
	margin: 0px
	.famous-tab-box
		width: 100%
		min-height: 280px
		padding: 0px
		margin: 45px 0px 
		&.no-margin
			margin: 15px 0 0!important
			min-height: auto
		.tab-box-content
			width: 100%
			min-height: 190px
			background: url(../images/foundation/famous-bg.png) 0 0
			padding: 20px 0px
			margin: 0px
			p
				float: left
				color: #adb0b1
				font-weight: 200
				font-family: $bodyfont
				font-size: 18px
				font-style: italic
				line-height: 20px
				padding: 0px 40px
				margin-bottom: 20px 
				

				
	.arrivals-container
		width: 100%
		padding: 0px
		margin: 0px
		ul
			width: 100%	
			padding-bottom: 50px
			margin: 0px 0px	
			li
				width: 560px
				height: 225px
				display: block
				float: left
				margin: 0px 30px 30px 0
				padding: 0px
				background: #e7eaeb  url(../images/passenger-search/i-grey.png) no-repeat top right
				list-style-type: none
				position: relative
				&.last 
					margin-right: 0
					float: right
				img
					width: 197px
					height: 226px
					float: left
					position: absolute
					z-index: 999

				.img-active-detail
					width: 197px
					height: 45px
					background: rgba(0, 0, 0, 0.8)
					padding: 0px
					float: left
					margin: 0px
					display: block
					position: absolute
					padding: 0px
					margin-top: 181px
					z-index: 2000
					.img-detail-record
						width: 62px
						height: 45px
						float: left
						img
							width: 27px
							height: 28px
							padding: 7px 20px

				.arrival-image-content
					width: 323px
					min-height: 206px
					float: right
					padding: 10px 20px
					margin: 0px
					.ac-box
						width: 100%
						min-height: 50px
						padding: 0px
						margin-top: 15px
					span
						text-transform: none
						color: #35434e
						font-size: 20px
						font-weight: 200
						padding: 0px 0px 0px 0px
						margin: 0px 0px 0px 0px 
						line-height: 20px
						font-family: $bodyfont
					h1
						font-family: $bodyfont
						color: rgba(53,67,78,0.7)
						font-size: 30px
						line-height: 30px
						font-weight: 300
						padding: 0px 0px 0px 0px
						margin: 0px 0px 0px 0px
						text-align: left
						width: 100%
						text-transform: none
					h2
						text-transform: uppercase
						color: rgba(53,67,78,0.7)
						font-size: 17px
						margin: 0px
						padding: 0px
						font-weight: 400
						font-family: $headings
					p
						text-transform: none
						color: #35434e
						font-size: 22px
						font-weight: 200
						padding: 0px
						margin: 0px 
						line-height: 24px
						font-family: $bodyfont
						a 	
							color: #35434e
				a.help
					position: absolute
					right: 0px
					top: 0px
					height: 46px
					width: 42px
					.hint-box
						position: absolute
						top: 0px
						left: -518px
						padding: 20px
						height: 186px
						width: 520px
						z-index: 99999
						cursor: default
						background: #fff url(../images/passenger-search/i-blue-icon.png) no-repeat top right
						p
							margin: 0px
							line-height: 28px
						.scroll-pane
							height: 186px
							width: 520px !important
							

				&:hover
					background: $white url(../images/passenger-search/i-active.png) no-repeat top right
					-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
					-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
					box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
					h1
						color: $blue
					h2
						color: $black
					p
						color: $black
						a 
							color: $black
					span
						color: $black
					


/*Stylesheet for ORAL HISTORY*/
.ohistory-matches-box
	width: 100%
	padding: 0px
	float: left
	.ohistory-match-box
		height: 54px
		padding: 0 40px
		background-color: rgba(32,29,24,0.5)
		border: none
		font-size: 16px
		color: $white
		text-align: center
		font-family: $headings
		font-weight: 400
		text-transform: uppercase
		margin-bottom: 20px
		line-height: 52px
		font-style: normal
		box-shadow: none
		float: left
		cursor: pointer
		&:hover, &:focus, &.active
			background: $blue
#quiz_records
	.right-detail
		.question, h1
			float: left
			width: 100%
		.question
			font-weight: 400
		ul
			list-style-image: none
			margin: 0px
			li
				float: left
				width: 100%
				padding: 0
				strong
					font-weight: 400

#search_quiz
	select
		width: 230px
	#quiz_title
		width: 210px

.earthcam
	.tab-section
		ul
			list-style-image: none
			margin: 0 0 10px 0
			float: left
			width: 100%
			padding: 0
			text-align: center
			li
				float: none
				display: inline-block
				margin: 0 4px 4px 0
				padding: 0
				font-size: 17px
				font-weight: 600
				a
					padding: 5px 10px
					background: #5496c9
					color: #fff
					float: left
					text-decoration: none
					+transition-property(all)
					+transition-duration(.5s)
					+transition-timing-function(ease-in)
					&:hover
						background-color: adjust-lightness($blue, -10%)
	.detail-box
		float: left

.ship-left-nav
	width: 203px
	float: left
	ul
		width: 203px
		margin: 0
		padding: 0
		float: left
		list-style: none
		li
			width: 100%
			border: 0px
			float: left
			padding: 0
			position: relative
			margin-bottom: 4px
			background: #5496c9
			small
				position: absolute
				right: 15px
				top: 15px
				width: 14px
				height: 15px
				z-index: 123
				background: url(../images/shop-nav.png) no-repeat 0 0
				cursor: pointer
				float: left
				&.removeCat
					background: url(../images/shop-nav.png) no-repeat left -62px
			a 
				font-size: 20px
				line-height: 22px
				color: #fff
				width: 188px
				float: left
				padding: 12px 0 10px 15px
				&:hover
					background: #5496c9
					color: #fff 
				&.selected-menu
					background: #2871a9
				 
			.sub-menu
				width: 202px
				float: left
				background: #eaeef0
				li
					background: none
				a
					background: none
					font-size: 16px
					color: #84939a
					float: left
					font-weight: 500
					&:hover, &.active
						color: #323c41
				.sub-menu-menu
					li
						background: none
					a
						width: 173px
						float: left
						padding: 12px 0 10px 30px
						&:hover, &.active
							color: #323c41





.history-white-bg
	width: 96%
	float: left
	background: #fff
	padding: 2%
	min-height: 400px
	margin-bottom: 30px
	h3
		width: 100%
		float: left
		text-align: center
		margin-top: 10%
		&.red 
			color: red

.delete_cart_product
	width: 32px
	height: 30px
	float: left
	background: url(../images/delete-icon3.png) no-repeat 0 0


.famous-wrapper
	width: 1160px
	margin: 0 auto 