/*Stylesheet for Annual Report*/

$blue: #5496c9
.annualreport-left
	background: none
	padding: 0 
	width: 826px
	margin: 30px 0 37px
	float: left
	.block
		padding: 30px
		background: #fff
		border-bottom: 1px solid #dcdcdc
		margin: 0
		h1
			margin: 0px
			font-size: 22px
			color: #1f1f1f
		p 
			color: #7c7c7c
			font-size: 18px
			line-height: 26px
			margin: 10px 0 25px

		.pdf-box
			width: 176px
			background: url(../images/pdf-img.jpg) no-repeat 0 0
			display: inline-block
			padding-left: 40px
			cursor: pointer
			a 
				font-size: 18px
				line-height: 18px
				color: #5496c9
				font-weight: 500
				text-transform: uppercase
				float: left
				width: 100%
			span
				font-size: 14px
				line-height: 14px
				color: #ababab
				float: left
				width: 100%
			

			
