.center-text
	text-align: center

.steps

	ul
		position: relative
		list-style: none
		margin: 0
		border: 1px solid $border
		overflow: hidden
		margin-top: 30px
		li
			float: left
			color: $black
			width: 221.60px
			padding: 0px 0px 20px 80px
			display: block
			border-left: 1px solid $border
			background: url("../images/checkout-sprite.png") no-repeat
			background-color: #fff
			&:first-of-type
				border: none
			.step-number
				display: block
				font-weight: 600
				font-size: 17px
				position: relative
				top: 12px
				text-transform: uppercase	
			
		.first
			background-position: 20px 6px
			&.active
				background-position: 20px -450px
				background-color: $blue
				color: $white
		.second
			background-position: 20px -87px
			&.active
				background-position: 20px -568px
				background-color: $blue
				color: $white
		.third
			background-position: 20px -195px
			&.active
				background-position: 20px -693px
				background-color: $blue
				color: $white
		.fourth
			background-position: 20px -320px
			&.active
				background-position: 20px -822px
				background-color: $blue
				color: $white


.checkout-1
	margin-bottom: 400px
	.address-file
		margin-bottom: 10px
		select
			width: 80%	
			margin-left: 10px
	.new-address
		.field-section
			margin-left: 26px
			margin-top: 10px
			input[type="text"]
				width: 59%
				margin-bottom: 20px
			select
				width: 62%
				margin-bottom: 20px
	
	.next-step
		float: right
		margin-bottom: 20px
	

.checkout-3
	margin-bottom: 460px
	.info
		.address-section
			
			width: 40%
			float: left
			address
				margin-bottom: 22px
			label
				display: inline
				margin-right: 5px
		
		.payment-info
			overflow: hidden
			float: left
			margin-bottom: 20px
			margin-left: 115px
			p, img, a
				float: left
			p
				margin: 10px
		.bill-address
			@extend .payment-info
			p
				margin-left: 0
			a
				margin-left: 30px

		.records
			width: 94%
			.record-wrapper
				overflow: hidden
				.price
					//overflow: hidden
					display: block
					float: left
					img
						float: left
					ul
						list-style: none
						float: left
						margin-top: 0
						label
							display: inline
				.price-change
					float: right
					display: block
					margin-top: 45px
					.button
						margin-left: 20px
.rightpart
	ul
		margin: 0
		line-height: 21px
		list-style: none
		label
			display: inline-block
		.line
			float: right
			padding-left: 214px
			margin: 5px 0
		.amount-holder
			width: 105px
			display: inline-block
			float: right
			.amount
				float: right
	#total
		text-transform: uppercase
		font-weight: 600
		text-align: center

.ship-method-section
	label
		display: inline-block
		margin-bottom: 10px
	a
		font-style: italic
		font-size: 14px
		margin-left: 5px

.address-file.ship_method, .address-file
	label.error
		width: 100%
		line-height: 20px
		float: left
.select-existing-creditcard, .select-address
	select
		width: 80% !important



.new-credit-card
	label.error
		width: 100%
		float: left

#add_cart
	figure
		width: 80px
		float: left
		img
			max-width: 80px
			float:left
	small
		padding: 0 0 0 15px
		font-size: 18px
		label
			font-weight: bold
			float: left
			padding-right: 4px
.checkout-step-3
	.bill-address
		margin-left: 0px !important
		p
			width: 100% !important
		.button
			margin-left: 0px !important
			clear: both !important

.new-address-billing
	select
		width: 96%

