.donate-page
	margin-top: 30px
	width: 100%
	float: left

	.left-section-donate
		width: 828px
		float: left
		background: $grey
		position: relative

		.banner-donate
			width: 100%
			float: left
			height: 273px
			background: url(../images/donate-now.png) no-repeat 0 0
			position: relative			
			.donate-text
				width: 100%
				margin-top: 85px
				text-align: center
				color: $white
				h2
					margin-bottom: 0
					font-size: 40px
					font-weight: 600
					text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5)
				p
					font-size: 18px
					margin: 0
					font-style: italic
					padding: 0 123px
					span
						font-weight: 600
			.donate-text-band
				width: 100%
				height: 80px
				margin-top: 33px
				background: url(../images/sponsor-page/donate-banner-bg.png) repeat-x
				input[type="text"], select
					background: #18131d
					border: none
					font-size: 32px
					color: $white
					font-family: $bodyfont
					font-weight: 200
					font-style: italic
					width: 214px
					height: 36px
					padding: 5px 10px
					margin-right: 30px
					font-style: normal
					box-shadow: none
					margin-top: 18px
					text-transform: none
					cursor: text
					&:hover, &:focus
						background: $blue

				span
					font-size: 24px
					font-weight: 200
					color: $white
					font-family: $bodyfont
					margin: 0px 10px 0px 50px	

		.donate-content
			width: 656px
			float: left
			border: 1px solid #e0e0e0
			padding: 30px 85px 0 
			.on-behalf
				width: 594px
				background: #b9e0cd
				float: left
				padding: 30px 30px 35px 30px
				.left-section
					width: 289px
					float: left
				h3
					font-size: 20px
					float: left
					color: #050504
					width: 100%
					line-height: 22px
				.row
					width: 100%
					float: left
					margin-bottom: 13px

				.on-behalf-text
					width: 100%
					float: left
					p
						font-size: 22px
						color: $black
						font-family: $bodyfont
						font-weight: 500
						padding-top: 10px
						float: left
					.button-box
						width: 98%
						height: 40px
						background: $white
						border: 1px solid #e0e0e0
						-webkit-border-radius: 30px
						-moz-border-radius: 30px
						border-radius: 30px
						padding: 3px .5%
						margin-top: 30px
						float: left
						ul 
							width: 100%
							float: left
							list-style: none
							margin: 0
							padding: 0
							li 
								width: 33%
								float: left
								padding: 0
						.donate-button
							height: 40px
							width: 33%
							text-align: center
							float: left
							background: $white
							border: none
							-webkit-border-radius: 30px
							-moz-border-radius: 30px
							border-radius: 30px
							text-align: center
							font-family: $bodyfont
							font-size: 17px
							font-weight: 400
							color: $black
							margin: 0px
							cursor: hand
							line-height: 40px
							text-transform: none
							outline: none
							+transition-property(all)
							+transition-duration(.5s)
							+transition-timing-function(ease-in)
							&:hover, &.active
								color: $white
								background-color: adjust-lightness(#5496c9, -10%)
					.donate-search
						input[type="text"]
							text-transform: none
							background: $white
							border: 0px
							font-size: 25px
							font-style: normal
							color: $black
							font-family: $bodyfont
							font-weight: 200
							width: 575px
							height: 45px
							line-height: 45px
							padding: 3px 10px
							box-shadow: none
							margin-top: 30px
							cursor: text
							+transition-property(all)
							+transition-duration(.5s)
							+transition-timing-function(ease-in)
							&.amount
								width: 268px
								margin-top: 24px
								font-size: 20px
							&:hover, &:focus
								background-color: adjust-lightness($blue, -10%)
								color: $white

			.donate-form-details
				width: 514px
				background: $white
				float: left
				margin-bottom: 74px
				padding: 40px 40px 25px 100px 
				.full
					.add 
						margin: 25px 0 0 5px
					.remove 
						margin: 25px 0 0 5px
				h2
					font-family: $bodyfont
					font-size: 20px
					font-weight: 400
					color: $black
					float: left
					line-height: 20px
					text-transform: none

				.yes-btn-box
					width: 130px
					height: 40px
					background: #f2f2f2
					border: 0
					-webkit-border-radius: 30px
					-moz-border-radius: 30px
					border-radius: 30px
					margin: 0px 0px 0px 0px
					padding: 3px 5px 3px 5px
					clear: both
					ul 
						width: 100%
						float: left
						list-style: none
						margin: 0
						padding: 0
						li 
							width: 50%
							float: left
							padding: 0

					.yes-btn
						height: 40px
						width: 65px 
						text-align: center
						float: left
						background: #f2f2f2
						border: none
						-webkit-border-radius: 30px
						-moz-border-radius: 30px
						border-radius: 30px
						text-align: center
						font-family: $bodyfont
						font-size: 17px
						font-weight: 400
						color: $black
						margin: 0px
						cursor: hand
						line-height: 40px
						text-transform: none
						outline: none
						+transition-property(all)
						+transition-duration(.5s)
						+transition-timing-function(ease-in)
						&:hover, &.active
							color: $white
							background-color: adjust-lightness(#5496c9, -10%)
				.company-text
					font-weight: 400
					font-size: 18px
					font-family: $bodyfont
					margin-top: 20px

				.company-search
					input[type="text"], select
						background: #f2f2f2
						border: 0
						font-size: 17px
						font-style: normal
						color: $black
						font-family: $bodyfont
						font-weight: 200
						width: 200px
						height: 40px
						padding: 3px 10px 3px 10px
						box-shadow: none
						margin-top: 10px
						margin-bottom: 30px
						cursor: text
						float: left
						text-transform: none
						&:hover, &:focus
							background: $blue
							color: $white

				.form-box-donate
					width: 530px
					margin: 0px 0px
					padding: 5px 0px
					clear: both
					.form-box-heading
						font-family: $bodyfont
						font-size: 22px
						font-weight: 600
						color: $black
						float: left
						width: 100%
						margin: 0px
					.form-box-email
						font-family: $bodyfont
						font-weight: 400
						color: #a2a2a2
						float: left
						font-size: 17px
						margin-bottom: 20px
						padding: 0px
						width: 100%
						a 
							color: #a2a2a2
						a:hover
							color: $blue
							text-decoration: none
					.form-box-bg
						width: 425px
						height: 45px
						background: #f2f2f2
						margin-top: 20px
						margin-bottom: 13px
						padding: 0px
						clear: both
						float: left
						position: relative
						label.error
							position: absolute
							left: 0
							bottom: -30px
							font-size: 13px!important
							line-height: 14px!important
							width: 203px
							&:last-child
								right: 0!important
								left: auto
								position: absolute
							&.email_error
								left: 0!important
								bottom: -20px!important


						input[type="text"], select
							background: url(../images/sponsor-page/first-name.png) 10px 15px no-repeat
							border: none
							font-size: 17px
							font-style: normal
							color: #c0c0c2
							font-family: $bodyfont
							font-weight: 400
							width: 170px
							height: 39px
							padding: 3px 10px 3px 40px
							box-shadow: none
							line-height: 39px
							cursor: text
							float: left
							text-transform: none
							&:hover, &:focus
								background: $blue url(../images/sponsor-page/first-name-active.png) 10px 15px no-repeat
								color: $white
							&.large
								width: 375px
						input[value="Last Name"], select
							background: #f2f2f2
							border: none
							font-size: 17px
							font-style: normal
							color: #c0c0c2
							font-family: $bodyfont
							font-weight: 400
							width: 173px
							height: 39px
							padding: 3px 10px 3px 20px
							box-shadow: none
							line-height: 39px
							float: left	
							cursor: text
							text-transform: none
							&:hover, &:focus
								background: $blue
								color: $white

						input[type="email"], select
							background: url(../images/sponsor-page/email.png) 10px 17px no-repeat
							font-size: 17px
							font-style: normal
							border: none
							color: #c0c0c2
							font-family: $bodyfont
							font-weight: 400
							width: 375px
							height: 39px
							line-height: 39px
							padding: 3px 10px 3px 40px
							box-shadow: none
							float: left
							cursor: text
							text-transform: none
							&:hover, &:focus
								background: $blue url(../images/sponsor-page/email-active.png) 10px 17px no-repeat
								color: $white

					.form-box-btn
						font-size: 17px
						float: left
						font-weight: 400
						padding: 8px 17px
						border: 2px solid #cccccc
						color: #7f7f7f
						text-align: center
						margin-top: 20px
						background: none
						text-transform: none
						&:hover, &:active
							background: $blue
							color: $white
							border-color: $blue
				.cart-btn
					font-size: 16px
					text-transform: uppercase
					font-weight: 600
					color: $white
					margin: 50px 0px 60px 160px
					float: left
					font-family: $bodyfont
					text-align: left
					background: url(../images/sponsor-page/add-to-cart.png) 13px 10px no-repeat
					background-color: $blue
					padding: 10px 20px 10px 45px
					clear: both
					border: none
					cursor: pointer
					&:hover, &:active
						background: #2871a9 url(../images/sponsor-page/add-to-cart.png) 13px 10px no-repeat
						

						

	










			