.mar-none
	margin: 0!important
.family-outer-bg
	width: 100%
	float: left
	background: url(../images/family-main-bg.jpg) repeat-y center 0
	background-size: 100%
	min-width: 1212px
	.wrapper
		max-width: 1160px
		margin: 0 auto

.family-inner-bg
	width: 100%
	float: left
	background: url(../images/family-bg.png) repeat 0 0
	min-width: 1212px
	min-height: 884px
	.featured-result-search
		width: 100%
		float: left
		margin-top: 29px
		font-size: 22px
		font-family: $bodyfont
		text-transform: none
		font-weight: 300
		.featured-result-icon
			min-width: 200px
			height: 43px
			float: right
			color: $white
			line-height: 43px
			padding: 0px
			margin-right: 20px
			.ss-icon-box
				width: 43px
				height: 43px
				margin-left: 10px
				padding: 0px
				float: right
				cursor: pointer
				background: $blue url(../images/passenger-search/psr-save-search1.png) center center no-repeat
				ul, li
					display: none
				&:hover, &:active
					background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
					background-color: #232e36
					ul
						width: 270px
						min-height: 186px
						background: #232e36
						margin: 43px 0px 0px -247px
						padding: 10px 0px 10px 20px
						position: absolute
						z-index: 9999
						float: left
						li
							width: 250px
							height: 44px
							border-bottom: 1px solid #2f3a3e
							display: block
							margin: 0px
							padding: 0px
							float: left
							&:last-of-type
								border-bottom: none
							span
								float: left
								width: 180px
								height: 44px
								line-height: 44px
								color: rgba(255, 255, 255, 0.5)
								font-family: $bodyfont
								font-size: 20px
								font-weight: 300
								text-align: left
								text-transform: none
								margin: 0px
								padding: 0px
							.sn-close
								width: 35px
								height: 44px
								float: right
								background: url(../images/passenger-search/close-grey.png) right center no-repeat
							.sn-search
								width: 35px
								height: 44px
								float: right
								background: url(../images/passenger-search/search-grey.png) center center no-repeat
							&:hover, &:active
								span
									color: $white
								.sn-close
									background: url(../images/passenger-search/close-white.png) right center no-repeat
								.sn-search
									background: url(../images/passenger-search/search-white.png) center center no-repeat
			


.family-top-bg
	width: 100%
	float: left
	background: url(../images/family-top-bg.png) repeat 0 0
	min-height: 116px
	.detail-section
		padding: 35px 32px 0 
		position: relative
		label.error
			position: absolute
			left: 34%
			top: 78px
		h1
			float: left
			font-size: 42px
			margin: 0
			color: $white
			font-family: $headings
			text-transform: capitalize
			margin-right: 25px
		input[type="text"]
			background: none
			border: none
			border-bottom: 2px solid #e1e9f1
			font-size: 20px
			color: $white
			font-family: $bodyfont
			width: 260px
			padding: 5px
			margin-right: 30px
			font-style: normal
			box-shadow: none
			margin-top: 4px
			float: left
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&.small
				width: 130px
				margin: 4px 15px 0 0
			&:focus
				background-color: adjust-lightness($blue, -10%)
		.button
			font-size: 19px
			font-weight: 400
			float: right
			&.mar-right
				margin-right: 10px
			&.mar-left
				margin-left: 10px
		span
			color: $white
			font-weight: bold
			font-family: $bodyfont
			float: left

.saved-records
	font-size: 20px
	color: #5b646c
	float: left
	background: url(../images/drop-down.png) no-repeat right 0
	text-transform: capitalize
	font-weight: 400
	padding: 8px 55px 10px 10px
	&.white 
		color: $white
		&:hover, &.active
			color: $white
	&:hover
		color: #5b646c
	&.active
		color: #5b646c
		background: url(../images/drop-down.png) no-repeat right bottom



.family-story-left
	width: 802px
	float: left
	margin: 29px 0 37px 32px
	background: $white
	min-height: 654px
	padding: 24px
	position: relative
	.top-section
		width: 100%
		float: left
		margin-bottom: 34px
		form
			float: left
		.back
			font-size: 20px
			float: left
			margin-right: 5px
			background: #91c1aa url(../images/main-sprite.png) no-repeat 0 -140px
			text-transform: capitalize
			font-weight: 400
			padding-left: 35px
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&:hover
				background-color: adjust-lightness(#5496c9, -10%)

		.save-search
			font-size: 18px
			color: #1d2429
			float: right
			margin-left: 13px
			position: relative
			text-transform: capitalize
			font-weight: 300
			width: 240px
			.plus-btn
				width: 44px
				height: 43px
				background: url(../images/main-sprite.png) no-repeat right -238px
				float: right
				border: 0
				cursor: pointer
			input[type="text"]
				background: #EAECED
				box-shadow: none
				border: 0
				margin: 0
				float: left
				font-style: normal
				font-size: 18px
				color: #1D2429
				padding: 10px
				width: 176px

			label
				&.error
					position: absolute
					top: 40px
					left: 0px


	.scroll-box
		width: 100%
		float: left
		overflow: auto
		height: 576px

	.left-detail
		width: 206px
		float: left
		position: relative
		text-align: center
		background: url(../images/family-line.png) center repeat-y 
		img 
			border-radius: 100px
		.video-img
			width: 202px
			height: 202px
			position: relative
			float: left
			margin-bottom: 30px
			&.last
				margin-bottom: 0
			.img
				border: 2px solid #5496c9
				width: 202px
				height: 202px

			.icon
				width: 50px
				height: 50px
				position: absolute
				right: 10px
				top: 150px
		.small-img
			width: 115px
			height: 115px
			position: relative
			float: left
			margin-bottom: 30px
			margin-left: 42px
			&.last
				margin-bottom: 0
			img
				width: 115px
				height: 115px
				float: left
				&.videoicon
					width: auto
					height: auto
					position: absolute
					right: -5px
					bottom: 0
				

		.full
			width: 100%
			float: left	
			&.m-t-10
				margin-top: -7px
			&.m-t-20
				margin-top: -20px
		p	
			width: 100%
			float: left
			font-style: italic
			margin: 0
			font-size: 14px
			line-height: 16px
			padding-bottom: 5px
			background: #fff

	.right-detail
		width: 540px
		float: right
		margin-left: 35px
		h2
			font-size: 40px
			color: #5496c9
			margin: 0
			font-family: $bodyfont
			font-weight: 300
			text-transform: capitalize
			line-height: 42px
			margin-bottom: 5px
		span
			font-size: 24px
			color: #35434e
			line-height: 22px
			strong
				font-weight: 400
		p
			font-size: 20px
			color: #35434e
			line-height: 30px

		img 
			float: left
			margin: 0 15px 15px 0
			max-width: 100% 



.family-story-right
	width: 229px
	float: right
	margin: 29px 32px 37px 0
	background: url(../images/family-top-bg.png) repeat 0 0
	min-height: 655px
	padding: 24px 24px 24px 24px

	.top-box
		width: 187px
		float: left
		background: #91c1aa
		padding: 18px 21px 23px 
		margin-bottom: 20px
		color: $white
		h3
			font-size: 22px
			line-height: 28px
			font-weight: 400
			margin: 0
		p
			font-size: 15px
			line-height: 21px
			font-weight: 300
		.btn
			width: 149px
			font-size: 16px
			float: left
			text-transform: uppercase
			font-weight: 400
			padding: 8px 17px
			border: 2px solid $white
			color: $white
			text-align: center
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&:hover
				background-color: adjust-lightness(#353435, -10%)
	.middle-box
		width: 187px
		float: left
		background: #5496c9
		padding: 18px 21px 23px 
		margin-bottom: 20px
		color: $white
		p
			font-size: 15px
			line-height: 21px
			font-weight: 300
			margin-top: 0
		.btn
			width: 149px
			font-size: 16px
			float: left
			text-transform: uppercase
			font-weight: 400
			padding: 8px 17px
			border: 2px solid $white
			color: $white
			text-align: center
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&:hover
				background-color: adjust-lightness(#2871a9, -10%)
	.bottom-box
		width: 193px
		float: left
		border: 2px solid #d7dde1
		padding: 15px 15px 11px 17px
		h3
			font-size: 22px
			line-height: 24px
			font-weight: 400
			margin: 0 0 20px 0
			color: $white
		ul
			margin: 0
			list-style: none
			li
				float: left 				
				margin-bottom: 7px
				cursor: pointer
				line-height: normal
				padding: 0
				background: none!important
				height: auto!important
				width: 100%!important
				strong
					width: 100%
					float: left
				a
					color: #5b646c
					background: #c4d1da
					float: left
					width: 183px
					padding: 8px 0 8px 10px
				a:hover 
					background: $white
					color: #2f3438

				a.passenger_icon
					color: #5b646c
					background: #c4d1da
					float: left
					width: 183px
					padding: 8px 0 8px 10px
				a.passenger_icon:hover 
					background: $white url(../images/family-icon1.png) no-repeat right center
					color: #2f3438



#save-search
	position: relative
	float: left
	.dropdown
		width: 270px
		background: url(../images/drop-bg.png) no-repeat 0 0
		padding: 10px 0px 5px 20px
		position: absolute
		z-index: 9999
		float: left
		right: 0
		margin: 0	
		top: 41px
		
	ul
		width: 100%
		float: left
		margin: 0
		padding: 0
					
		li
			width: 250px
			border-bottom: 1px solid #2f3a3e!important
			display: block
			margin: 0px
			padding: 13px 0
			float: left
			cursor: pointer
			height: auto!important
			background: none!important
			&:last-of-type
				border-bottom: none
			span
				float: left
				width: 180px
				line-height: 44px
				color: rgba(255, 255, 255, 0.5)
				font-family: $bodyfont
				font-size: 18px
				line-height: 18px!important
				font-weight: 300
				text-align: left
				text-transform: none
				margin: 0px
				padding: 0px
			.sn-close
				width: 16px
				height: 16px
				float: right
				background: url(../images/passenger-search/close-grey.png) right center no-repeat
				margin-left: 20px
				&:hover
					background: url(../images/passenger-search/close-white.png) right center no-repeat
			.sn-search
				width: 18px
				height: 18px
				float: right
				background: url(../images/passenger-search/search-grey.png) center center no-repeat
				&:hover
					background: url(../images/passenger-search/search-white.png) center center no-repeat	
			&:hover, &.active
				span
					color: $white
				
						



