.featured-search
	width: 100%
	min-height: 100px
	margin: 0px
	clear: both
	.featured-search-box
		width: auto
		float: left
		padding-top: 35px
		margin: 0px
		padding-right: 6px
		&.right
			float: right
		#save_search
			float: left	
			position: relative
			margin-left: 8px
			label 
				&.error
					position: absolute
					left: 0
					bottom: -22px
		h1
			font-size: 36px
			color: $white
			font-family: $headings
			text-align: left
			font-weight: 200
			line-height: 50px
			text-transform: none
			padding: 0px
			margin: 0px
		.featured-subtext 
			font-size: 20px
			color: $white
			font-family: $bodyfont
			text-align: left
			font-weight: none
			line-height: 20px
			padding: 4px 0 0
			margin: 0px	

		.featured-savesearch
			width: 43px
			height: 43px
			background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
			background-color: $blue
			cursor: pointer
			float: left
			margin: 0px 15px 0px 0px
			padding: 0px
			ul, li
				display: none
			&:hover, &.active
				background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
				background-color: #1a2829
				ul
					width: 270px
					min-height: 186px
					background: #1a2829
					margin: 43px 0px 0px -247px
					padding: 10px 0px 10px 20px
					position: absolute
					z-index: 9999
					float: left
											

					li
						width: 250px
						height: 44px
						border-bottom: 1px solid #2f3a3e
						display: block
						margin: 0px
						padding: 0px
						float: left
						&:last-of-type
							border-bottom: none
						span
							float: left
							width: 180px
							height: 44px
							line-height: 44px
							color: rgba(255, 255, 255, 0.5)
							font-family: $bodyfont
							font-size: 20px
							font-weight: 300
							text-align: left
							text-transform: none
							margin: 0px
							padding: 0px
						.sn-close
							width: 35px
							height: 44px
							float: right
							background: url(../images/passenger-search/close-grey.png) right center no-repeat
						.sn-search
							width: 35px
							height: 44px
							float: right
							background: url(../images/passenger-search/search-grey.png) center center no-repeat
						&:hover, &.active
							span
								color: $white
							.sn-close
								background: url(../images/passenger-search/close-white.png) right center no-repeat
							.sn-search
								background: url(../images/passenger-search/search-white.png) center center no-repeat	
		.featured-saved-this
			background: rgba(11,11,11,0.5)
			border: none
			font-size: 17px
			color: adjust-lightness($white, -25%)
			font-family: $bodyfont
			font-weight: 200
			min-width: 188px
			height: 43px
			padding: 0px 15px
			margin-right: 0px
			line-height: 43px
			font-style: normal
			box-shadow: none
			float: left
			cursor: text
			text-transform: none	
			&:hover, &:focus
				background: $blue
				color: $white
		.featured-plus-icon
			width: 43px
			height: 43px
			background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
			background-color: $blue
			cursor: pointer
			float: left	
			margin-right: 15px
			padding: 0px
			&:hover, &:focus
				background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
				background-color: #2871a9

		span
			float: left
			line-height: 43px
			padding: 0px 10px 0px 0px
			font-family: $bodyfont
			color: $white
			font-size: 20px
			font-weight: 400
		.featured-dropdown
			width: 172px
			height: 43px
			float: left
			line-height: 43px
			color: $white
			font-weight: 400
			font-family: $bodyfont
			font-size: 20px
			margin: 0px 0 0 8px
			padding: 0px 15px
			cursor: pointer
			background: $green url(../images/foundation/email-arrow.png) no-repeat 172px 19px
			position: relative
			.drop-down				
				width: 370px
				min-height: 272px
				background: rgba(11,11,11,0.9)
				padding: 20px 20px 10px 20px
				position: absolute
				right: 0
				top: 43px
				z-index: 9999
				float: left

			
				ul
					width: 100%
					float: left
					margin: 0
					padding: 0
					
					
					li
						width: 370px
						height: 64px
						border-bottom: 1px solid #727d85
						display: block
						margin: 0px
						padding: 10px 0px 10px 0px
						float: left
						-moz-transition: all .4s ease
						-webkit-transition: all .4s ease
						-ms-transition: all .4s ease
						transition: all .4s ease
						&:last-of-type
							border-bottom: none
						img
							width: 64px
							height: 64px
							float: left
							margin: 0px 15px 0px 0px
							padding: 0px 0px
							border-radius: 50%
							overflow: hidden
							position: relative
							border: 0
						span
							width: 187px
							min-height: 45px
							float: left
							margin: 0px 0px
							padding: 8px 0px 0px 0px
							color: rgba(147, 161, 173, 0.7)
							font-size: 17px
							line-height: 20px
							text-align: left
							font-weight: 200
							font-family: $bodyfont
						.sfs-view-detail
							display: none
						&:hover, &.active
							span
								color: $white
							.sfs-view-detail
								width: 92px
								height: 36px
								float: right
								margin: 0px 0px 0px 5px
								padding: 28px 0px 0px 0px
								color: #727d85
								font-size: 14px
								line-height: 14px
								font-weight: 200
								font-family: $bodyfont
								text-align: center
								cursor: pointer
								text-transform: none
								display: block
								background: url(../images/foundation/sfs-view-detail.png) no-repeat top center
								&:hover, &.active
									background: url(../images/foundation/sfs-view-detail-active.png) no-repeat top center
									color: $white

			&:hover, &.active
				background: url(../images/foundation/email-arrow.png) no-repeat 172px 19px
				background-color: rgba(11,11,11,0.9)		



.featured-result-container
	width: 100%
	padding: 0px
	margin: 0px
	float: left
	ul
		width: 100%	
		float: left
		margin: 0px 0px	
		li
			width: 562px
			height: 226px
			display: block
			float: left
			margin: 0px 30px 30px 0px
			padding: 0px
			background: #e2e5e7
			list-style-type: none
			-webkit-transition: all .4s ease
			-moz-transition: all .4s ease
			-ms-transition: all .4s ease
			transition: all .4s ease
			&.last
				margin-right: 0px
			img
				width: 197px
				height: 226px
				float: left
			.featured-image-content
				width: 325px
				min-height: 136px
				float: right
				padding: 10px 20px
				margin: 0px
				h1
					font-family: $bodyfont
					width: 100%
					font-size: 30px
					line-height: 30px
					font-weight: 200
					color: #93989a
					text-align: left
					text-transform: none
					margin: 0px
					padding: 0px
					word-wrap: break-word
					span.button
						display: none
						padding: 0!important
						font-size: 16px!important

				.fic-subtext
					font-family: $bodyfont
					width: 100%
					font-size: 20px
					line-height: 26px
					font-weight: 300
					color: #93989a
					text-align: left
					text-transform: none
					margin: 0px
					padding: 0px
					strong
						font-weight: 600

				.featured-content-box
					width: 100%
					min-height: 60px
					margin-top: 35px
					padding-top: 15px
					border-top: 1px solid #d7e0e7
					h2
						font-family: $headings
						width: 100%
						font-size: 16px
						line-height: 25px
						font-weight: 200
						color: #93989a
						text-align: left
						text-transform: uppercase
						margin: 0px
						padding: 0px
					h3
						color: #93989a
						font-weight: 200
						font-family: $bodyfont
						font-size: 18px
						padding: 0px
						margin: 0px
						line-height: 20px
						text-transform: none

			&:hover
				background: $white
				-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				h1
					color: $blue
					span.button
						width: 85px!important
						height: 30px!important
						line-height: 30px
						color: $white
						background: $green
						font-family: $bodyfont
						font-weight: 400
						text-align: center
						text-transform: none
						float: right!important
						padding: 0!important
						margin: 0px!important
						display: block
						&:hover
							background: $blue
				.fb-icon
					width: 27px
					height: 30px
					float: right
					margin-right: 3px
					background: url(../images/family-fb-icon.jpg) 0 0 no-repeat
				.fic-subtext
					color: #494848
				.featured-content-box
					h2
						color: #35434e
					h3
						color: #83898d
	.featured-load-more
		font-size: 20px
		text-transform: uppercase
		font-weight: 400
		color: $white
		font-family: $bodyfont
		margin-left: 40%
		text-align: left
		background: url(../images/passenger-search/down-arrow.png) 140px center no-repeat
		background-color: $green
		padding: 15px 50px 15px 30px
		clear: both
		border: none
		cursor: pointer
		&:hover, &:focus, &.active
			background: url(../images/passenger-search/down-arrow.png) 140px center no-repeat
			background-color: $blue

.shared-family-stories
	width: 660px
	min-height: 500px
	padding-top: 120px
	margin: 0px auto
	h1
		width: 100%
		font-size: 73px
		font-family: $headings
		font-weight: 400
		text-align: center
		line-height: 80px
		color: $white
		margin-top: 30px
		padding: 0px
		text-transform: none
	.sfs-subtext
		width: 100%
		color: $white
		text-align: center
		font-weight: 300
		font-size: 27px
		font-family: $bodyfont
		line-height: 32px
		margin: 20px 0px 100px 0px
		padding: 0px
		font-style: italic
		text-transform: none
	input[type="text"], select
		background: none
		border: none
		font-size: 32px
		color: rgba(255, 255, 255, 0.6)
		font-family: $bodyfont
		font-weight: 200
		width: 270px
		height: 70px
		padding: 0px 15px
		margin-left: 30px
		line-height: 70px
		font-style: normal
		box-shadow: none
		float: left
		cursor: text
		background: none
		text-transform: none
		border-bottom: 2px solid $white
		&:hover, &:focus
			color: $white
		&.lastname
			background: url(../images/foundation/star-lastname.png) no-repeat 0px 20px
		&.sfs-email
			width: 598px
			margin: 50px 0px 50px 30px
			clear: both


	.sfs-search-btn
		width: 178px
		height: 60px
		padding: 0px 0px
		margin: 0px 40%
		line-height: 60px
		color: $white
		font-size: 28px
		font-weight: 400
		font-family: $bodyfont 
		text-align: center
		background: $blue
		border: none
		text-transform: uppercase
		&:hover
			background: #2871a9


.m-none
	margin: 0px!important