footer
	clear: both
	color: $white
	background: $mdgrey
	margin-top: 30px
	min-width: 1212px
	.container
		padding: 20px 30px 12px
	a
		color: $white
		text-transform: uppercase
		&:hover
			color: $white
			text-decoration: underline
	ul
		margin-left: 0
		
		li
			display: inline-block
			float: left
			margin: 0 20px 0 0
			font-size: 15px
			font-family: $bodyfont
			padding-left: 0px
			&:hover
				opacity: 0.8
   			

	.add-box
		width: 722px
		height: 122px
		float: left
		margin-top: 28px
			
	.copyright
		clear: both
		background: $dkgrey
		padding: 12px 0 10px
		font-size: 16px
		font-family: $bodyfont
		span 
			float: right
			font-size: 15px
			a 
				text-decoration: underline
				color: #fff
				text-transform: none
				&:hover
					text-decoration: none		
		.container
			padding: 0px

	.social-section
		width: 299px
		float: right
		margin-right: 60px
		text-align: center


		ul
			width: 100%
			float: left
			text-align: center
			margin: 0

			li
				display: inline-block
				margin: 0 5px 0 0
				list-style: none
				float: none

				a
					width: 45px
					height: 45px
					float: left

					&.facebook
						background: url(../images/f-icon.jpg) no-repeat 0 0

					&.twitter
						background: url(../images/t-icon.jpg) no-repeat 0 0

					&.youtube
						background: url(../images/y-icon.jpg) no-repeat 0 0

	em
		font-size: 15px
		list-height: 19px
		float: left
		font-style: italic
		margin: 0px 0 10px