.outer-header
	width: 100%
	+box-shadow($dkgrey 0 0 15px)
	background: $white url(../images/header-title-bg.jpg) repeat-x 0 0
	position: relative
	z-index: 99999
	min-width: 1212px

.header
	width: 1212px
	margin: 0px auto
	padding: 0px
	position: relative
	z-index: 12

	.logo
		float: left
		background: transparent url(../images/logo.png) no-repeat 0 0
		height: image-height('logo.png')
		width: image-width('logo.png')
		text-indent: -119988px
		margin: 20px 30px 20px 0px



.donate 
	font-size: 19px
	font-weight: bold
	color: $blue
	float: right
	text-transform: uppercase
	margin: 33px 0px 0 0
	font-family: $headings
	border: 2px solid #e4e4e4
	
	height: 32px
	padding: 7px 25px 0
	&:hover
		color: #2871a9	



/*cart*/

.cart-items 
	width: 45px
	height: 20px
	display: inline-block
	background: url(../images/cart-icon.png) no-repeat 0 0
	position: relative
	margin-right: 20px
	margin-top: 3px
	padding-bottom: 5px
	z-index: 99
	float: right

	.cart-listing
		display: none
		position: absolute
		top: 22px
		left: -13px
		background-color: #fff
		margin: 0
		-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.39)
		-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.39)
		box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.39)
		width: 362px
		.content
			padding: 0!important
		.btn-row
			padding: 20px 0 20px 20px
			float: left
		.button
			font-weight: 600
			font-size: 17px
			padding: 9px 13px
			&.green
				margin-left: 7px
		ul
			width: 312px
			list-style: none
			margin: 0 0 20px 0
			float: left
			padding: 20px
			li
				border-bottom: 1px solid #d7d7d7
				overflow: hidden
				padding: 0px 0 10px 0
				margin-bottom: 14px
				color: #000
				h3 
					font-size: 15px
					color: #1f1f1f
					padding-bottom: 7px
					a 
						color: #1f1f1f
				.image
					float: left
					margin-right: 11px
					width: 55px
					height: 50px

					img 
						max-width: 55px
						max-height: 50px
				.left
					float: left
					width: 241px
					line-height: 13px
					margin-bottom: 5px
					.title
						padding-bottom: 7px
						font-size: 14px
						line-height: 17px
					.size
						span
							color: 1f1f1f
							font-weight: normal
							width: 122px
							float: left
							padding-top: 3px
						a
							background: transparent url(../images/cart-size-img.png) no-repeat 0 0
							width: 17px
							height: 17px
							float: left
							margin-right: 8px
							&.close
								background-position: right 0
								margin-right: 0
						.price 
							font-weight: 600
							font-size: 20px
							float: right
							padding-top: 2px
				.sub-total
					font-size: 20px
					padding: 5px 0
					span
						font-weight: 700
						float: right




	
	.items 
		background: #dc2b51
		font-size: 11px
		line-height: 20px
		font-weight: 400
		color: #fff!important
		font-weight: normal
		cursor: pointer
		position: absolute
		right: 38px
		top: -5px
		padding: 0 8px
		webkit-border-radius: 50% 
		-moz-border-radius: 50%
		border-radius: 50%
		
	&:hover 
		.cart-listing
			display: block






.main-loader
	width: 100%
	float: left
	height: 100%
	background: #000
	display: none
	position: absolute
	left: 0px
	top: 0px
	z-index: 123456
	opacity: 0.6 
	filter: alpha(opacity=40)
	img
		position: absolute
		left: 49%
		top: 49%
.royalSlider
	z-index: 99


.passSearch
	float: right
	margin: 33px 0 0 18px