.myfile-page
	margin-top: 30px
	width: 100%
	float: left

	.left-section
		width: 828px
		float: left
		background: #fff
		position: relative


		.banner-section
			width: 100%
			float: left
			height: 241px
			background: url(../images/myfile-banner.jpg) no-repeat 0 0
			position: relative
			a
				&.manage
					width: auto
					float: right
					margin: 11px 22px 0 0
					font-size: 17px
					color: $white
					font-family: $bodyfont
					font-weight: 600
					background: #402f25 url(../images/main-sprite.png) no-repeat 0 -92px
					padding: 10px 14px 10px 40px
					text-transform: uppercase
					+transition-property(all)
					+transition-duration(.5s)
					+transition-timing-function(ease-in)
					&:hover
						background-color: adjust-lightness(#000, -10%)
				&.fileclose
					width: auto
					float: right
					margin: 11px 22px 0 0
					font-size: 17px
					color: $white
					font-family: $bodyfont
					font-weight: 600
					background: #402f25
					padding: 10px 20px 10px 20px
					text-transform: uppercase
					+transition-property(all)
					+transition-duration(.5s)
					+transition-timing-function(ease-in)
					&:hover
						background-color: adjust-lightness(#000, -10%)
			.knob-container
				width: 80%
				height: 241px
				mrgin: 0px
				padding: 0px
				float: left
				.knob
					width: 215px
					height: 241px
					float: left
				.knob-text
					width: 360px
					height: 161px
					float: left
					margin: 0px
					padding-top: 80px
					h1
						font-family: $headings
						font-weight: 400
						font-size: 26px
						text-align: left
						line-height: 30px
						color: $white
						text-transform: uppercase
						margin: 0px
						padding: 0px
					p
						font-family: $bodyfont
						font-weight: 300
						font-size: 22px
						text-align: left
						line-height: 30px
						color: $white
						text-transform: none
						margin: 0px
						padding: 0px
						strong
							font-weight: 400
					span
						font-family: $bodyfont
						font-weight: 200
						font-size: 16px
						text-align: left
						line-height: 18px
						color: $white
						font-style: italic
						text-transform: none
						margin-top: 15px
						padding: 0px




			.name-detail
				width: 650px
				float: left
				position: absolute
				left: 55px
				top: 25px
				.img
					float: left
					width: 150px
					height: 150px
					line-height: 150px
					margin-right: 58px
					overflow: hidden
					border-radius: 50%
					webkit-border-radius: 50%
					moz-border-radius: 50%
					text-align: center
					background: #fff
					img

						float: none
						max-width: 150px
						max-height: 150px
						vertical-align: middle
						
						

				.text-box
					width: 420px
					float: left
					margin-top: 12px
					h2
						color: $white
						margin-bottom: 0
					p
						font-size: 17px
						margin: 0
						color: #e5ccae
						font-weight: 400

			.bottom-detail
				width: 100%
				background: #644937
				height: 66px
				float: left
				margin-top: 119px
				ul
					float: right
					margin: 0px
					list-style: none
					li
						width: auto
						float: left
						padding: 14px 0 0 0
						font-size: 14px
						color: #9e8668
						font-weight: 700
						line-height: normal
						text-transform: uppercase
						margin-right: 40px
						span
							clear: both
							float: left
						
						strong
							font-size: 20px
							color: $white
							font-weight: 300
							clear: both
							float: left

		.edit-file-filter-box
			width: 100%
			height: 152px
			float: left
			padding: 0px 0px
			background:  #402f25
			ul
				width: 100%
				height: 112px
				padding: 20px 15px
				margin: 0px 0px
				li
					float: left
					width: 100px
					display: block
					list-style-type: none
					text-align: center
					cursor: pointer
					padding: 0
					a
						float: left
						width: 100px
						padding: 80px 0px 0px 0px
						margin: 0px
						color: #9e8668
						font-size: 14px
						line-height: 18px
						text-transform: uppercase
						font-weight: 200
						background: url(../images/foundation/edit-file-filter.png) no-repeat center 10px


						&:hover, &.active
							background: url(../images/foundation/edit-file-filter-active.png) no-repeat center 10px
							color: $white
		.edit-inner-padd
			width: 93.8%
			float: left
			padding: 20px 3% 0
			border: 1px solid #e0e0e0
			border-top: 0px
			min-height: 823px

						

		.editmyfile-container
			width: 826px
			float: left
			margin: 0px
			padding: 0px
			border: 1px solid #e0e0e0
			border-top: 0px
			.editmyfile-information
				width: 768px
				margin: 0px
				padding: 10px 30px
				h1
					font-family: $headings
					font-weight: 600
					font-size: 22px
					text-align: left
					line-height: 40px
					color: $black
					text-transform: uppercase
					margin: 0px
					padding: 0px
				h2
					color: #545454
					font-family: $bodyfont
					font-weight: 600
					font-size: 16px
					text-align: left
					line-height: 25px
					text-transform: none
					margin: 0px
					padding: 0px
					strong
						width: 13px
						height: 25px
						font-size: 17px
						font-weight: 400
						font-family: $bodyfont
						color: red
						vertical-align: top
						margin: 0px
						padding: 0px
				

				.upload-img
					width: 100%
					min-height: 130px
					margin: 0px 0px
					padding: 30px 0px
					border-bottom: 1px solid #e0e0e0
					img
						max-width: 130px
						max-height: 130px
						float: left
						margin-right: 30px
						padding: 0px
						cursor: pointer
					.img-browse-text
						width: 600px
						min-height: 130px
						float: right
						margin: 0px 
						padding: 0px
						.profile-pic
							background: none
							border: 1px solid #ebebeb
							font-size: 16px
							color: #989898
							font-family: $bodyfont
							font-weight: 100
							width: 455px
							height: 42px
							padding: 0px 15px
							margin: 5px 0px
							line-height: 44px
							font-style: normal
							box-shadow: none
							cursor: inherit
							display: block
							float: left
							text-transform: none
							&:hover, &:focus
								background: #b9a996
								color: $white
								borde-color: #b9a996
						.browse-btn
							background: #b9a996
							border: none
							font-size: 17px
							color: $white
							font-family: $bodyfont
							font-weight: 400
							width: auto
							height: 44px
							padding: 0px 20px
							margin: 5px 0px
							line-height: 44px
							font-style: normal
							box-shadow: none
							float: left
							cursor: pointer
							text-transform: uppercase
							&:hover, &:focus
								background: #83725f
								color: $white	
						.browse-btn-text
							color: #9c9c9c
							font-size: 13px
							line-height: 16px
							font-style: italic
							text-transform: none
							font-family: $bodyfont
							font-weight: 200
							text-align: left
							float: left
							margin: 7px 0px	
							padding: 0px 0px
			.editother-information
				width: 768px
				margin: 0px 0px
				padding: 0px 30px
				h2
					color: #545454
					font-family: $bodyfont
					font-weight: 600
					font-size: 16px
					text-align: left
					line-height: 25px
					text-transform: none
					margin: 0px
					padding: 0px
					strong
						width: 13px
						height: 25px
						font-size: 17px
						font-weight: 400
						font-family: $bodyfont
						color: red
						vertical-align: top
						margin: 0px
						padding: 0px
				.edit-info-btn
					background: #b9a996
					border: none
					font-size: 17px
					color: $white
					font-family: $bodyfont
					font-weight: 400
					width: auto
					height: 44px
					padding: 0px 20px
					margin: 0px 0px
					line-height: 44px
					font-style: normal
					box-shadow: none
					float: left
					cursor: pointer
					text-transform: uppercase
					&:hover, &:focus
						background: #83725f
						color: $white	
				.myfile-edit-detail
					width: auto
					min-height: 70px
					float: left
					margin: 30px 0px 0px 20px 
					padding: 0px 0px
					&.lnone 
						margin-left: 0
					&.width-250
						width: 220px
						label
							color: #545454
							font-weight: 500
						
					&.new-edit
						margin: 30px 0px 0px 0px
					.edit-age-box
						width: 330px
						float: left
						margin: 0px 
						height: 42px
						float: left
						label
							line-height: 42px
							font-family: $bodyfont
							font-size: 17px
							line-height: 42px
							color: #666666
							font-weight: 100
							padding-right: 70px
							text-transform: none
							font-style: normal
							display: inline block
							float: left
							&:hover, &:focus
								color: $black

					input[type="text"]
						background: #fff
						border: 1px solid #ebebeb
						font-size: 16px
						color: #989898
						font-family: $bodyfont
						font-weight: 100
						height: 42px
						padding: 0px 15px
						margin: 0px 0px
						line-height: 42px
						font-style: italic
						box-shadow: none
						cursor: inherit
						display: block
						float: left
						text-transform: none
						&.edit-title
							width: 130px
						&.edit-firstname
							width: 247px
						&.middle-initial
							width: 127px
						&.edit-lastname
							width: 247px
						&.edit-suffix
							width: 232px
						&.edit-email		
							width: 280px
						&#security_question
							width: 329px
							label
								color: $blue
								text-transform: none
								font-style: italic
								font-weight: 200
								font-family: $bodyfont
								font-size: 17px
								line-height: 35px
								text-decoration: underline
								text-align: left
								margin: 0px
								padding: 5px 0px 0px 0px
						&.edit-confirm-email
							width: 232px
						&.edit-username
							width: 525px
						&.edit-will-become
							width: 335px
						&.edit-postal-code
							width: 328px
						&.edit-security
							width: 145px
						&:hover, &:focus
							background: #b9a996
							color: $white
							borde-color: #b9a996	

				.myfile-edit-blue
					background: $blue
					border: none
					font-size: 20px
					color: $white
					font-family: $bodyfont
					font-weight: 400
					width: auto
					height: 44px
					padding: 0px 20px
					margin-left: 22%
					margin-top: 20px
					line-height: 44px
					font-style: normal
					box-shadow: none
					float: left
					cursor: pointer
					text-transform: uppercase
					margin-bottom: 20px
					&:hover, &.active
						background: #2871a9
						color: $white	
					&.edit-green
						background: $green
						margin-left: 20px
						margin-right: 20px
						&:hover, &.active
							background: $blue
							margin-left: 20px



				



					



		.tab-detail-section
			width: 100%
			float: left

			.tab-nav
				width: 100%
				float: left
				height: 65px
				background: #402f25
				ul
					list-style: none
					margin: 0
					display: table
					width: 100%
					margin: 11px 0 0 0
					li						
						line-height: normal
						text-transform: uppercase
						text-align: center
						display: table-cell
						height: 54px
						vertical-align: middle
						line-height: 16px
						padding: 0
						a
							color: #9e8668
							font-size: 15px						
							font-weight: 400
							display: table-cell
							height: 54px
							vertical-align: middle
							line-height: 16px
							+transition-property(all)
							+transition-duration(.5s)
							+transition-timing-function(ease-in)
							padding: 0 15px

							&:hover
								background-color: adjust-lightness(#937b60, -10%)
								color: $white
																		
							&.active
								background: $white
								color: $black
								
									

			.main-detail
				width: 786px
				float: left
				padding: 25px 20px 30px
				min-height: 928px
				border: 1px solid #e0e0e0
				border-top: 0

				.sub-nav
					width: 100%
					float: left
					ul
						float: left
						margin: 0
						list-style: none
						width: 100%
						li
							float: left
							font-size: 17px
							color: #9e8668
							font-weight: 400
							line-height: normal
							text-transform: uppercase
							font-family: $bodyfont
							margin-right: 5px
							padding: 0
							width: 24.3%
							a
								float: left
								background: $white
								border: 1px solid $border
								color: #a3a3a3												
								padding: 0
								width: 100%
								text-align: center
								padding: 13px 0
								+transition-property(all)
								+transition-duration(.5s)
								+transition-timing-function(ease-in)
								&:hover, &.active
									background: #5496c9
									color: $white
									border: 1px solid #5496c9
									background-color: adjust-lightness(#5496c9, -10%)

				.line-container
					width: 100%
					float: left
					background: url(../images/my-line.png) repeat-y 23px 0
					margin-top: 10px
					padding-top: 11px


				.detail-box
					width: 675px
					float: right
					position: relative
					border: 1px solid #e0e0e0
					background: $white
					border-radius: 5px
					-webkit-border-radius: 5px
					-moz-border-radius: 5px
					margin-bottom: 28px
					padding: 13px 14px 10px 26px
					.plus
						position: absolute
						bottom: 0
						right: 0
						width: 37px
						height: 36px
						background: url(../images/my-plus.png) no-repeat 0 0
					.minus 
						position: absolute
						bottom: 0
						right: 0
						width: 37px
						height: 36px
						background: url(../images/minus.png) no-repeat 0 0

					&.last
						margin-bottom: 0
					.icon
						position: absolute
						left: -72px
						top: 0
						.arrow
							margin: 14px 0 0 10px
					.top-row
						width: 100%
						float: left
						h2
							float: left
							margin: 5px 0
							font-size: 20px
						span
							font-size: 16px
							float: right
							margin: 9px 6px 0 0

						.become
							width: auto
							float: right
							font-size: 17px
							color: $white
							font-family: $bodyfont
							font-weight: 600
							background: $green
							padding: 10px 14px
							text-transform: uppercase
							+transition-property(all)
							+transition-duration(.5s)
							+transition-timing-function(ease-in)
							&:hover
								background-color: adjust-lightness($blue, -10%)
					.pageing
						padding-bottom: 20px
						width: 100%
						float: left
						ul
							list-style: none
							margin: 0
							width: 100%
							li
								float: left
								font-size: 16px
								color:  #797878
								padding: 0 4px 0 0
								line-height: 17px
								a
									color: #797878
								strong
									color: $black
					.row-sep
						width: 100%
						float: left
						
						strong
							font-size: 20px
							color: #5d5d5d
							width: 100%
							float: left
							font-weight: normal
							position: relative
							small
								position: absolute
								left: -22px
								top: 5px
								width: 18px
								height: 18px
								background: #eae9e9
						span
							font-size: 17px
							color: #b2b2b2
							width: 100%
							float: left
							font-weight: normal
							padding-bottom: 18px
						.link
							font-size: 20px
							text-decoration: none
							font-weight: 600
						.col-left
							width: 354px
							float: left
							padding-bottom: 30px
						.col-right
							width: 280px
							float: left
							padding-bottom: 30px
				.cart-box
					width: 666px
					float: right
					border: 1px solid #e0e0e0
					background: #f8f8f8
					border-radius: 0px 0px 5px 5px
					-webkit-border-radius: 0px 0px 5px 5px
					-moz-border-radius: 0px 0px 5px 5px
					margin-top: -4px
					position: relative
					padding: 19px 14px 20px 35px
					.ship-cart
						width: 70%
						float: left
						margin-bottom: 10
						input
							margin: 8px 10px 0 0
						span
							width: 70px
							float: left	
					.left-text
						float: left
						margin-top: 13px
					span
						float: left
						font-size: 20px
						color: #050504
						font-weight: 300
						font-family: $bodyfont
						padding: 12px 0 0 10px
					input
						width: 28px
						float: left
						text-align: center
						margin: 8px 15px 0 50px
						&.mar-left-25
							margin-left: 25px
					strong
						color: #1f1f1f
						float: left
						padding-top: 12px
						font-size: 20px
						font-weight: 600
						small
							font-weight: 400
					.pink
						font-size: 17px
						font-weight: bold
						float: right
						background: url(../images/add-btn.png) no-repeat 129px 17px $pink
						padding-right: 30px
						+transition-property(all)
						+transition-duration(.5s)
						+transition-timing-function(ease-in)
						width: auto
						margin: 7px 0 0
						&:hover
							background-color: adjust-lightness(#353435, -10%)






								

.common-detail-section
	&.large
		padding-right: 0
		width: 97%
	&.full
		padding: 0 
		width: 100%
		width: 94%
		float: left
		padding: 0 3%
	.mar-t-b
		margin: 17px 0 15px

	.button
		font-size: 17px
		color: #fff!important
		background: #91c1aa
		&:hover
			background: #5496c9
			color: #fff
	h1
		font-size: 22px
		color: #050504
		margin: 0
	.top-detail
		width: 100%
		float: left
		margin: 10px 0 10px
		h1	
			margin-top: 10px!important
		&.margin-none
			margin-top: 0
		h3
			float: left
			color: #545454
			font-size: 17px
			margin: 0
			font-weight: 500
			line-height: 18px
			strong
				color: red
			em
				font-style: italic
				font-size: 13px
				color: #9c9c9c
				font-weight: normal
	.box
		width: 100%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		margin-bottom: 9px
		p.pad-10
			padding: 15px
			margin: 0
		table
			width: 100%
			border: 0
			tr 
				border-bottom: 1px solid #e0e0e0
				&:hover
					background: #f8f8f8
				&:last-child
					border-bottom: 0
			th
				font-size: 16px
				line-height: 18px
				color: #959595
				border: 0
				font-weight: 600
				text-transform: none
				vertical-align: middle
				padding: 10px 15px
				text-transform: capitalize
				background: #f8f8f8
			td
				background: none
				font-size: 18px
				line-height: 20px
				font-weight: normal
				color: #545454
				border: 0
				padding: 10px 15px
				text-transform: none
				vertical-align: middle
				a 
					color: $blue
					&:hover
						color: #2871a9
				&.fof-img
					max-width: 44px
					img
						max-width: 44px
						max-height: 33px
				.right
					img
						float: left
	.box1
		width: 96%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		margin-bottom: 12px
		padding: 1.5% 2%
		table
			width: 100%
			border: 0


			th
				padding: 0
				background: none
				font-size: 24px
				line-height: 27px
				color: #402f25
				border: 0
				font-weight: 300
				text-transform: none
				vertical-align: top
			td
				padding: 0
				background: none
				border: 0
				text-transform: none
				vertical-align: middle
				font-size: 17px
				color: #b2b2b2
				font-weight: 400
				line-height: normal
				.valign
					vertical-align: bottom
				span
					color: #5d5d5d
					&.right
						a
							text-decoration: none
					a
						color: #5496c9
						text-decoration: underline
				.img-box
					img
						margin-right: 8px
	.add-to-cart-btn
		width: 100%
		float: left
		margin: 20px 0 40px
	.box2
		width: 96%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		margin-bottom: 13px
		padding: 1.5% 2%
		table
			width: 100%
			border: 0


			th
				padding: 0
				background: none
				font-size: 17px
				line-height: 18px
				color: #b2b2b2
				border: 0
				text-transform: none
				vertical-align: top
			td
				padding: 0
				background: none
				font-size: 24px
				line-height: 28px
				font-weight: 300
				color: #402f25
				border: 0
				text-transform: none
				vertical-align: middle
				span
					font-size: 20px
					color: #070707
					font-weight: 400
				input[type="text"]
					width: 50px
					font-size: 18px
					color: #9e9e9e
					font-style: normal
					margin-right: 5px




	.form-section
		width: 100%
		float: left
		margin: 10px 0
		label
			font-size: 17px
			color: #545454
			font-weight: normal
			text-transform: none
			padding-bottom: 3px
			strong
				color: red
		.form-sep
			width: 100%
			float: left
			padding-bottom: 15px
			.col-left
				width: 48%
				float: left
			.checkbox
				width: 100%
				float: left
				label
					width: 40%
					float: left
			.col-right
				width: 48%
				float: right
		input[type="text"],select
			width: 94%
			box-shadow: 0!important
			font-style: normal
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&:hover, &:focus
				color: #fff
				background-color: adjust-lightness(#b9a996, -10%)


.no-record
	color: #e04163
	font-size: 20px
	float: left
	background: url(../images/norecord-icon.png) no-repeat 0 0
	padding-left: 32px
	margin: 5px 0


.add
	width: 38px
	height: 38px
	background: url(../images/add-remove.png) no-repeat 0 0!important
	border: 0px
	float: left
	cursor: pointer
	margin-right: 5px

.remove
	width: 38px
	height: 38px
	background: url(../images/add-remove.png) no-repeat right 0!important
	border: 0px
	float: left
	cursor: pointer
	margin-right: 5px



.survey-page
	width: 94%
	float: left
	padding: 0 3%
	border: 1px solid #e9e9e9
	border-top: 0px
	h2
		font-family: 22px
	.field-row
		width: 96%
		padding: 2%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		margin-bottom: 13px
		.heading
			font-size: 17px
			color: #b2b2b2
			font-weight: 500
			width: 100%
			float: left
			padding-bottom: 10px
		label
			width: 110px
			float: left
			font-weight: 400
			color: #5d5d5d
			font-size: 20px
			text-transform: none

	.field-row1
		width: 96%
		padding: 2%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		margin-bottom: 13px
		.heading
			font-size: 17px
			color: #b2b2b2
			font-weight: 500
			width: 100%
			float: left
			padding-bottom: 10px
		label
			width: 96%!important
			display: inline!important
			float: left
			font-weight: 400
			color: #5d5d5d
			font-size: 20px
			text-transform: none
		input[type="checkbox"]
			float: left
			margin: 5px 8px 0 0
			padding: 0
		.row
			width: 100%
			float: left
			padding-bottom: 10px


.myfile-content
	.file-wrapper
		width: 100%
		float: left
		padding-bottom: 22px
		margin-bottom: 21px
		border-bottom: 1px solid #e9e9e9
		h1
			font-size: 22px
			margin: 0
			color: #000
			float: left
			padding-top: 7px
		.sub-head
			float: left
			width: 100%
			font-weight: 400
			color: #B2B2B2
		p
			font-size: 17px
			margin: 10px 0 0
			font-weight: 400
			line-height: 21px
			color: #959595
			float: left
			width: 100%
		a.link
			float: right
			background: $green
			font-size: 18px
			color: #fff
			text-transform: uppercase
			padding: 8px 0px
			text-align: center
			width: 180px
			font-weight: 500
			cursor: pointer
			+transition-property(all)
			+transition-duration(.5s)
			+transition-timing-function(ease-in)
			&:hover
				background-color: adjust-lightness($blue, -10%)


.preferences-page
	width: 94%
	float: left
	padding: 0 3%
	border: 1px solid #E0E0E0
	border-top: 0
	min-height: 826px
	h2
		font-family: 22px
	.field-row
		width: 96%
		padding: 2%
		float: left
		border: 1px solid #e0e0e0
		background: #fff
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		margin-bottom: 13px
		strong
			font-size: 20px
			font-weight: 400
			color: #5d5d5d
		p
			font-size: 17px
			font-weight: 400
			color: #b2b2b2
			margin: 10px 0
		.radio-btn
			width: 110px
			float: left
			font-weight: 400
			color: #5d5d5d
			font-size: 20px

.member-doner
	width: 100%
	padding: 3% 0
	float: left
	border: 1px solid #e0e0e0
	background: #fff
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	margin: 15px 0
	.donor
		width: 200px
		float: left
		border-right: 1px solid #dbdbdb
		margin-left: 30px
		padding-right: 30px
		text-align: center
		&.last
			padding-right: 0
			border: 0
		h1
			font-size: 44px
			color: #5496c9
			margin: 0
			font-family: $headings
			font-weight: bold
		h2
			font-size: 28px
			line-height: 30px
			color: #5496c9
			margin: 0
			font-weight: 300
			font-family: $bodyfont
		h3
			font-size: 30px
			line-height: 61px
			color: #e04163
			margin: 0
			font-weight: 300
			font-family: $bodyfont
			strong
				font-family: $headings	
		.button
			font-size: 15px!important
			padding: 9px 10px




.inner-popup-detail
	padding: 20px
	.error
		color: #E04163
		font-size: 15px 
	.red
		color: red
	textarea
		width: 97%
		background: #f0f0f0
		box-shadow: none
	input[type="text"],input[type="password"], select
		background: #f0f0f0
		box-shadow: none
		font-style: normal
		border: 1px solid #f0f0f0 
		&.error
			border: 1px solid #E04163

	h1
		font-size: 25px
		margin: 0
		color: #1f1f1f
		padding-bottom: 10px
	p, .row
		font-size: 18px
		margin: 10px 0 15px
		color: #888888
	label
		font-size: 19px
		color: #5d5d5d
		text-transform: none
		font-weight: 400!important
		span
			color: #E04163
	.captcha-row
		width: 100%
		float: left
		margin-top: 30px
		#captcha-image
			float: left
			margin-right: 50px
			margin-top: -20px
		#captcha
			width: 289px
			float: right
	.btn-row
		width: 100%
		float: left
		text-align: center
		margin-top: 10px
		.button
			background-color: #5496c9
			font-size: 20px
	
	.flag-section
		float: left
		width: 100%
		margin-bottom: 30px
		.detail-section
			float: left
			padding-left: 25px
			font-size: 20px
			width: 500px
			.row
				width: 100%
				float: left
				padding-bottom: 15px
				font-size: 17px
				label
					width: 200px
					float: left
					font-size: 20px


.form-sep
	width: 100%
	float: left
	padding-bottom: 15px
	#transaction_id
		width: 60px





.member-benefits
	background: #fff
	h1
		font-size: 28px
		color: #050504
		margin: 0
	p 
		font-size: 18px
		color: #565656
		line-height: 28px
		a 
			color: #e04163
			text-decoration: underline
			&:hover
				text-decoration: none 
	ul.benefits
		width: 100%
		float: left
		margin: 0
		padding: 0
		list-style: none
		li 
			width: 53%
			float: left
			background: url(../images/benefits-icon.png) no-repeat 0 8px!important
			padding-left: 3%
			font-size: 17px
			line-height: 20px
			color: #565656
			font-weight: 400
			margin-bottom: 20px
			&:nth-child(1), &:nth-child(3)
				width: 40%
			

	.button.green
		font-weight: normal
		display: inline-block
		padding: 9px 15px
		text-align: center
		margin: 25px 0
	.main-detail
		width: 100%
		float: left	
		margin-bottom: 15px
		background: url(../images/member-bg.jpg) repeat-y 0 0
	.detail-box 
		float: left 
		width: 49.5%!important
		border-left: 0px
		text-align: center
		&.second
			.head
				background: #91c1aa
		h4	
			width: 96%
			float: left
			border-bottom: 1px solid #e6e6e6
			font-size: 18px
			line-height: 21px
			color: #7d7d7d
			padding: 18px 0
			margin: 0 2%
			min-height: 68px
			strong 
				font-size: 20px
				font-weight: bold
		h5 
			width: 92%
			float: left
			font-size: 18px
			font-weight: 200
			line-height: 21px
			color: #5496c9	
			padding: 20px 0
			min-height: 80px
			margin: 0 4%
			&.green
				color: #91c1aa
			&.single-line
				color: #91c1aa
				padding: 47px 0 20px
				min-height: 55px	
		p	
			width: 84%
			float: left
			font-size: 15px
			line-height: 20px
			color: #7d7d7d
			font-weight: 400
			padding: 18px 0
			margin: 0 8%
			text-align: left
			margin-bottom: 0
			border-bottom: 1px solid #e6e6e6
			small		
				float: left
				font-size: 15px
				color: #7d7d7d
				width: 93%
				font-weight: 100
				padding-left: 7%

		.head 
			width: 100%
			float: left
			color: #fff
			background: #5496c9	
			padding: 20px 0 10px
			h1 
				color: #fff
				line-height: normal
				margin: 0
				font-size: 24px
				line-height: 28px
			h3 
				font-size: 24px
				line-height: 28px
				font-weight: 100

	.footer-detail
		width: 100%
		float: left
		padding: 10px 0
		h1
			font-size: 26px
			float: left
			color: #3a3a3a
			margin-bottom: 8px
		ul 
			list-style: none
			margin: 0
			padding: 0
			&.right 
				float: right
			li 
				float: left
				font-size: 14px
				line-height: 18px
				color: #5496c9
				padding-right: 10px
				padding-left: 0
				a 
					color: #5496c9 
					text-decoration: underline
					&:hover
						text-decoration: none
	.blue-box
		color: #2a2a2a
		font-weight: 500
		background: #f5f5f5
		font-size: 20px
		margin: 10px 0
		padding: 10px 15px
		font-weight: 200
		strong
			font-size: 34px
			font-weight: 200
			color: #5496c9





#fhAddDiv, #updateUserFamilyHistory

	label
		font-size: 17px
		color: #545454
		font-weight: 600
		text-transform: none
	input[type="text"],input[type="file"]
		width: 220px

.country-pass
	select
		width: 140px
		float: left

.associated-table
	th, td 
		padding: 12px 5px

.family-right-box
	.box-tab
		width: 100%
		float: left
		margin-bottom: 15px
		p 
			width: 100%
			margin: 5px 0
			float: left
			font-weight: bold
		img 
			text-align: center
			width: 100%


.m-fb-icon
	width: 43px
	height: 30px
	background: url(../images/f-n-icon.png) no-repeat 0 0!important
	float: left
	margin-right: -8px
	position: relative

#date_sorting
	color: $black

.common-detail-section
	.box1
		table
			td
				.img-box
					.productcount
						float: left
						position: relative
						span
							padding: 1px 3px
							background: #90c1ab
							color: #fff
							font-size: 12px
							position: absolute
							bottom: 10px
							left: 5px
							border-radius: 2px
							line-height: 14px
						div
							margin-top: 15px
						.not-available
							width: 72px
							height: 17px
							position: absolute
							left: 0
							bottom: 9px
							background: url(../images/not-available.png) no-repeat center 0!important

.border-btm-my-file
	border-bottom: 1px solid #E0E0E0
	#update_password
		margin-top: 20px


#add_to_cart_manifest_more, #add_to_cart_woh
	font-size: 17px
	font-weight: bold
	float: right
	background: url(../images/add-btn.png) no-repeat 129px 17px $pink
	padding: 9px 30px 9px 20px
	+transition-property(all)
	+transition-duration(.5s)
	+transition-timing-function(ease-in)
	width: auto
	margin: 7px 0 0
	&:hover
		background-color: adjust-lightness(#353435, -10%)


.wid-78
	width: 78px
	float: right