/*Stylesheet for passenger-search-result*/
.passenger-result-bg
	width: 100%
	float: left
	background: url(../images/passenger-search/psr-bg.png) repeat 0 0
	min-height: 136px

	.psr-detail-section
		padding: 25px 0px 0px 0px 
		position: relative
		.left-side
			width: 400px
			float: left
		.right-section
			width: 724px
			float: right
			position: relative
			label
				&.error
					position: absolute
					left: 268px
					bottom: 0
					color: #fff!important
		.narrow-detail-section
			width: 725px
			float: left
			position: absolute
			left: 0px
			top: 65px
			z-index: 12345
			.range-slider-box
				width: 80px!important
				margin-right: 10px
				margin-left: 14px
			.narrow-search-box
				margin-top: 46px

		h1
			float: left
			font-size: 46px
			margin: 0
			color: $white
			font-family: $headings
			text-transform: uppercase
			margin: 0px
			width: auto
		.question
			font-size: 18px
			color: $white
			font-family: $bodyfont
			text-align: center
			padding: 5px 0 5px 0 
			background: url(../images/passenger-search/question-icon.png) 0 8px no-repeat
			float: left
			margin-top: 5px
			a 
				color: $white
				float: left
				padding-left: 25px
				&:hover
					text-decoration: underline

		input[type="text"], select
			background: rgba(11,11,11,0.7)
			border: none
			font-size: 20px
			color: $white
			font-family: $bodyfont
			font-weight: 200
			min-width: 238px
			height: 60px
			padding: 0px 15px
			margin-right: 0px
			line-height: 60px
			font-style: normal
			box-shadow: none
			text-transform: none
			cursor: text
			float: left
			+transition-property(all)
			+transition-duration(.8s)
			+transition-timing-function(ease-in)
			&#last_name
				width: 293px
				margin-left: 3px
			&.large-input
				width: 564px
			&:hover, &:focus, &.active
				background: adjust-lightness($blue, -10%)
				
		.psr-input
			width: 300px
			margin-left: 3px
			text-transform: none
			background: #1d2320
			border: none
			font-size: 20px
			color: $white
			font-family: $bodyfont
			font-weight: 200
			height: 60px
			padding: 0px 15px
			line-height: 60px
			font-style: normal
			box-shadow: none
			cursor: text
			float: left
			&:hover, &:focus, &.active
				background: $blue
		#searchButton
			width: 60px
			height: 60px
			background: url(../images/passenger-search/arrow.png) center center no-repeat
			background-color: #5496c9
			cursor: pointer
			float: left
			margin: 0px
			padding: 0px
			&:hover, &:focus, &:active
				background: url(../images/passenger-search/arrow.png) center center no-repeat
				background-color: #2871a9

		.psr-filter
			width: 60px
			height: 28px
			background: url(../images/passenger-search/psr-filter.png) center 13px no-repeat
			background-color: $green
			cursor: pointer
			float: right
			margin: 0px 0px 0px 8px
			padding: 32px 0 0
			text-align: center
			a 
				font-size: 12px
				line-height: 15px
				color: $white
				font-family: $headings
			&:hover, &:focus, &:active
				background: url(../images/passenger-search/psr-filter.png) center 13px no-repeat
				background-color: #5496c9
			&.black
				background: url(../images/passenger-search/psr-filter.png) center 13px no-repeat
				background-color: #121719
		a.narrow-search
			margin-top: 11px
			padding: 0px
			font-family: $bodyfont
			font-size: 22px
			font-weight: 300
			cursor: pointer
			float: left
			color: $white
			background: url("../images/passenger-search/narrow-search.png") no-repeat scroll 0 4px
			padding-left: 22px
			&:hover
				color: $white
			&.active
				background: url("../images/passenger-search/narrow-search.png") no-repeat scroll 0 -25px
				color: $white
.passenger-search-result
	width: 100%
	height: 70px
	margin: 0px
	clear: both
	.search-result-box
		width: auto
		float: left
		padding-top: 25px
		padding-bottom: 25px
		margin: 0px
		.search-save
			float: left
			margin-right: 10px
			&.none
				margin-right: 0
		#SaveSearchTitleList
			float: left
			width: 328px
			position: relative
			label
				&.error
					position: absolute
					left: 0
					bottom: -25px
					color: #fff!important
		&.right-form
			float: right
			#save_search 
				float: left
				position: relative
				label
					&.error
						position: absolute
						left: 0
						bottom: -21px
		h1
			font-size: 30px
			color: $white
			font-family: $headings
			text-align: left
			font-weight: none
			line-height: 30px
			text-transform: none
			padding: 0px
			margin: 0px
		input[type="text"], select
			background: rgba(11,11,11,0.5)
			border: none
			font-size: 20px
			color: adjust-lightness($white, -25%)
			font-family: $bodyfont
			font-weight: 200
			width: 185px
			height: 43px
			padding: 0px 15px
			margin-right: 0px
			line-height: 43px
			font-style: normal
			box-shadow: none
			text-transform: none
			float: left	
			cursor: text
			&:hover, &:focus
				background: $blue
				color: $white

		.savesearch
			width: 43px
			height: 43px
			background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
			background-color: $blue
			cursor: pointer
			float: left	
			padding: 0px
			margin: 0px
			&:hover, &:focus, &:active
				background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
				background-color: #2871a9
		.savesearch-next
			width: 43px
			height: 43px
			background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
			background-color: $blue
			cursor: pointer
			float: left
			margin:	0px 0px 0px 8px
			padding: 0px
			ul, li
				display: none
			&:hover, &:active
				background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
				background-color: #1a2829
				ul
					width: 270px
					mix-height: 186px
					background: #1a2829
					margin: 43px 0px 0px -247px
					padding: 10px 0px 10px 20px
					position: absolute
					z-index: 9999
					float: left
					display: block
					

					li
						width: 250px
						height: 44px
						border-bottom: 1px solid #2f3a3e
						display: block
						margin: 0px
						padding: 0px
						float: left
						&:last-of-type
							border-bottom: none
						span
							float: left
							width: 180px
							height: 44px
							line-height: 44px
							color: rgba(255, 255, 255, 0.5)
							font-family: $bodyfont
							font-size: 18px
							font-weight: 300
							text-align: left
							text-transform: none
							margin: 0px
							padding: 0px
						.sn-close
							width: 35px
							height: 44px
							float: right
							background: url(../images/passenger-search/close-grey.png) right center no-repeat
						.sn-search
							width: 35px
							height: 44px
							float: right
							background: url(../images/passenger-search/search-grey.png) center center no-repeat
						&:hover, &:active
							span
								color: $white
							.sn-close
								background: url(../images/passenger-search/close-white.png) right center no-repeat
							.sn-search
								background: url(../images/passenger-search/search-white.png) center center no-repeat

		span
			float: left
			line-height: 43px
			padding: 0px 15px 0px 20px
			font-family: $bodyfont
			color: $white
			font-size: 20px
			font-weight: 400
		select
			background-color: rgba(11,11,11,0.5)
			border: none
			font-size: 16px
			color: adjust-lightness($white, -25%)
			font-family: $bodyfont
			font-weight: 200
			min-width: 150px
			height: 43px
			padding: 0px 10px
			margin-right: 0px
			line-height: 43px
			font-style: normal
			box-shadow: none
			float: left
			text-transform: none
			cursor: pointer
			&:hover, &:focus
				background-color: $blue
				color: $white

.passenger-matches-box
	width: 95%
	padding: 0px 0 0 5%
	float: left
	&.oralhistory
		width: 100%
		padding: 0px 
		float: left
	.match-box
		height: 54px
		background-color: rgba(11,11,11,0.5)
		border: none
		font-size: 14px
		color: $white
		font-family: $headings
		font-weight: 400
		text-transform: uppercase
		padding: 0px 10px
		margin-bottom: 10px
		line-height: 55px
		font-style: normal
		box-shadow: none
		float: left
		cursor: pointer
		a 
			color: $white
		span
			width: auto
			padding: 0px
			color: $white
			font-size: 16px
			font-weight: none
			text-align: center
			border-radius: 25px
			font-family: $headings
			background: #6a8283
			padding: 0 8px
			margin: 15px 0 15px 8px
		&:hover, &:focus, &.active
			background: $blue
			span
				background: #fff
				color: $black

.passenger-search-output
	width: 100%
	padding: 0px
	margin: 0px	
	float: left

	ul
		width: 100%	
		padding: 0px
		margin: 15px 0px	
		li
			width: 367px
			height: 216px
			display: block
			float: left
			margin: 0px 25px 25px 0px
			padding: 0px
			background: #fff 
			overflow: hidden
			list-style-type: none
			position: relative
			&.last 
				margin-right: 0
			&:last-of-type
				margin: 0px 0px 25px 0px
			.i-icon 
				width: 44px
				height: 46px
				position: absolute
				right: 0
				top: 0
				background: url(../images/passenger-search/i-grey.png) no-repeat top right
			.black-box
				width: 350px
				float: left
				min-height: 216px
				background: #000
				position: absolute
				left: 0
				top: 0
				z-index: 1234
				padding-left: 17px
				.i-blue-icon	
					width: 44px
					height: 46px
					position: absolute
					right: 0
					top: 0
					z-index: 1234
					background: url(../images/passenger-search/i-blue-icon.png) no-repeat right top
				.row
					width: 100%
					float: left
					margin-top: 28px
					&.mar-btm-10
						margin: 10px 0 0 0
					.col1
						width: 33%
						float: left
						font-size: 14px
						line-height: 16px
						color: #fff
						margin: 0
						strong
							width: 100%
							float: left
							color: #a7abac
							font-weight: 400
					.col2
						width: 50%
						float: left
						font-size: 14px
						line-height: 16px
						color: #fff
						margin: 0
						&.full
							width: 98%
						strong
							width: 100%
							float: left
							color: #a7abac
							font-weight: 400
					.col3
						width: 40%
						float: left
						font-size: 14px
						line-height: 16px
						color: #fff
						margin: 4% 0 0 10%
						&.full
							width: 98%
						strong
							width: 100%
							float: left
							color: #a7abac
							font-weight: 400 
					.col4
						width: 80%
						float: left
						font-size: 14px
						line-height: 16px
						color: #fff
						margin: 0 0 0 10%
						a 
							color: $white



	
			.output-frame
				width: 100%
				margin: 0px
				padding: 0px
				clear: both
				h1
					font-family: $bodyfont
					color: rgba(53,67,78,0.8)
					font-size: 30px
					font-weight: 300
					margin: 20px 24px 0px 24px
					line-height: 30px
					padding: 0px
					text-align: left
					text-transform: none
				h2
					text-transform: uppercase
					color: rgba(53,67,78,0.8)
					font-size: 17px
					margin: 0px
					padding: 0px 0px 0px 24px 
					font-weight: 400
					font-family: $headings
				p
					text-transform: none
					color: rgba(53,67,78,0.8)
					font-size: 21px
					font-weight: 200
					padding: 0px 0px 0px 24px
					margin: 0px 
					line-height: 22px
					font-family: $bodyfont
				.detail-top
					width: 100%
					margin: 0px
					padding: 0px
					float: left
					min-height: 90px
				.detail-mid-frame
					width: 100%
					min-height: 70px
					margin: 0px
					float: left
					
					.detail-mid-leftbox
						width: 40%
						min-height: 70px
						float: left
					.detail-mid-rightbox
						width: 60%
						min-height: 70px
						float: right
				.detail-bottom
					width: 100%
					height: 54px
					background: #d8e0e1
					padding: 0px
					margin: 0px
					text-align: left
					.output-bottom-text
						line-height: 54px
						font-family: $bodyfont
						color: rgba(53,67,78,0.8)
						font-size: 18px
						padding: 0px 24px
						font-weight: 100
						text-align: left
						span
							font-weight: 700
				.output-bottom-text
					width: 87%
					padding: 0px
					margin: 0px
					text-align: left
					line-height: 20px
					font-family: $bodyfont
					color: #7e8387
					font-size: 16px
					padding: 0px 24px
					margin-top: 2px
					span 
						font-weight: bold
			.detail-bottom-active
				width: 367px
				height: 54px					
				padding: 12px 0 0
				margin: 0
				float: left
				border-top: 1px solid #d3d3d3
				a.passenger-icon
					float: left
					color: #757577
					font-size: 14px
					line-height: 15px
					background: url(../images/icon/passenger.png) no-repeat 0 center
					padding-left: 40px
					width: 68px
					margin-left: 25px
					&:hover
						color: #262729	
						background: url(../images/icon/passenger-hover.png) no-repeat 0 center
				a.ship-icon
					float: left
					color: #757577
					font-size: 14px
					line-height: 15px
					background: url(../images/icon/ship-image.png) no-repeat 0 center
					padding-left: 30px
					width: 45px
					margin-left: 20px
					&:hover
						color: #262729	
						background: url(../images/icon/shipimagehover.png) no-repeat 0 center
				a.minifest-icon
					float: left
					color: #757577
					font-size: 14px
					line-height: 15px
					background: url(../images/icon/minifest.png) no-repeat 0 center
					padding-left: 25px
					width: 45px
					margin-left: 30px
					&:hover
						color: #262729	
						background: url(../images/icon/minifest-hover.png) no-repeat 0 center
				a.shipline-icon
					float: left
					color: #757577
					font-size: 14px
					line-height: 15px
					background: url(../images/icon/ship-line.png) no-repeat 0 center
					padding-left: 28px
					width: 45px
					margin-left: 30px
					&:hover
						color: #262729	
						background: url(../images/icon/ship-line-hover.png) no-repeat 0 center


					

			&:hover
				background: #fff 
				-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				h1
					color: $blue
				h2
					color: $black
				p
					color: $black
				.i-icon 
					width: 44px
					height: 46px
					position: absolute
					right: 0
					top: 0
					background: url(../images/passenger-search/i-active.png) no-repeat top right

					

							
					.active-detail-section
						text-transform: none
						width: 100%
						height: 54px
						color: $white
						font-size: 14px
						text-align: center
						font-weight: 300
						font-family: $bodyfont
						background: #9ebba3
						position: absolute
						z-index: 999
						left: 0
						bottom: 0
						display: none
						a 
							color: $white
						.passenger-record
							width: 111px
							float: left
							padding-left: 10px 
							padding-top: 27px
							margin: 0px 
							background: url(../images/passenger-search/passenger-record.png) no-repeat top center
							&:hover
								color: #f9e7d2

							
						.ship-image
							width: 111px
							float: left
							padding-left: 10px 
							padding-top: 27px
							margin: 0px 
							background: url(../images/passenger-search/ship-image.png) no-repeat top center
							&:hover
								color: #f9e7d2
						.ship-menifest
							width: 111px
							float: left
							padding-left: 10px 
							padding-top: 27px
							margin: 0px 
							background: url(../images/passenger-search/ship-manifest.png) no-repeat top center
							&:hover
								color: #f9e7d2
								
						.shipline
							width: 111px
							float: left
							padding-left: 10px 
							padding-top: 27px
							margin: 0px 
							background: url(../images/passenger-search/shipline-image.png) no-repeat top center
							&:hover
								color: #f9e7d2
								
						.oh-records
							float: left
							padding: 25px 13px 0px 13px
							margin: 0px 
							margin: 0px 
							background: url(../images/passenger-search/passenger-record.png) no-repeat top center
							&:hover
								color: #f9e7d2
								
						.oh-ship
							float: left
							padding: 25px 13px 0px 13px
							margin: 0px 
							margin: 0px 
							background: url(../images/passenger-search/ship-image.png) no-repeat top center
							&:hover
								color: #f9e7d2
						.oh-shipmenifest
							float: left
							padding: 25px 13px 0px 13px
							margin: 0px 
							margin: 0px 
							background: url(../images/passenger-search/ship-manifest.png) no-repeat top center
							&:hover
								color: #f9e7d2
								
						.oh-audio
							float: left
							padding: 25px 13px 0px 13px
							margin: 0px 
							margin: 0px 
							background: url(../images/passenger-search/audio-image.png) no-repeat top center
							&:hover
								color: #f9e7d2
						.oh-text
							float: left
							padding: 25px 13px 0px 13px
							margin: 0px 
							margin: 0px 
							background: url(../images/passenger-search/text-image.png) no-repeat top center
							&:hover
								color: #f9e7d2
								
						.ship-line
							width: 111px
							float: left
							padding-left: 10px 
							padding-top: 27px
							margin: 0px 
							background: url(../images/passenger-search/ship-line-img.png) no-repeat center 10px
							&:hover
								color: #f9e7d2
								
				.detail-bottom
					display: none

	.load-more-btn
		font-size: 20px
		text-transform: uppercase
		font-weight: 400
		color: $white
		font-family: $bodyfont
		margin-left: 40%
		text-align: left
		background: url(../images/passenger-search/down-arrow.png) 140px center no-repeat
		background-color: $green
		padding: 15px 50px 15px 30px
		clear: both
		border: none
		cursor: pointer
		&:hover, &:focus, &.active
			background: url(../images/passenger-search/down-arrow.png) 140px center no-repeat
			background-color: $blue

.load-more-button
	width: 100%
	float: left
	position: relative
	margin-bottom: 20px
	.loader-class
		position: absolute
		left: 47%
		top: 15px




