/*Stylesheet for passenger-records*/
.ps-records-left
	width: 826px
	float: left
	margin: 29px 0px 37px 0px
	min-height: 273px
	padding: 0px
	position: relative
	.ps-record-top
		width: 100%
		min-height: 273px
		margin: 0px 0px 26px 0px
		padding: 0px 
		.psr-detail-box
			width: 100%
			min-height: 161px
			margin-bottom: 57px
			padding: 0px 
			.psr-left
				width: 242px
				min-height: 117px
				float: left
				margin-right: 24px
				padding: 22px
				background: $white
				h1
					font-family: $bodyfont
					color: $blue
					font-size: 36px
					line-height: 36px
					font-weight: 300
					margin: 0px
					padding: 0px
					text-align: left
					width: 100%
					text-transform: none
				h2
					text-transform: uppercase
					color: #35434e
					font-size: 17px
					line-height: 17px
					margin: 35px 0px 0px 0px
					padding: 0px
					font-weight: 400
					font-family: $headings
				p
					text-transform: none
					color: #35434e
					font-size: 22px
					line-height: 22px
					font-weight: 200
					padding: 0px
					margin: 0px 
					font-family: $bodyfont

			.psr-right
				width: 516px
				min-height: 161px
				float: right
				padding: 0px 
				margin: 0px
				background: $white
				img
					float: left
					width: 161px
					height: 161px
					margin: 0px 
					padding: 0px
				.psr-img-detail
					width: 315px
					height: 131px
					float: right
					margin: 0px
					padding: 15px 20px
					h2
						text-transform: uppercase
						color: #35434e
						font-size: 17px
						line-height: 17px
						margin: 0px 0px 0px 0px
						padding: 0px
						font-weight: 400
						font-family: $headings
					p
						text-transform: none
						color: #35434e
						font-size: 22px
						line-height: 22px
						font-weight: 200
						padding: 0px
						margin: 0px 
						font-family: $bodyfont
					.img-detail-top
						width: 100%
						min-height: 52px
						margin: 0px 0px 0px 0px
						padding: 0px 0px 0px 0px
						.span-left
							width: 156px
							float: left
							margin: 0px
							padding: 0px
						.span-right
							width: 140px
							float: right
							margin: 0px
							padding-left: 15px
					.img-detail-bottom
						width: 100%
						min-height: 52px
						margin-top: 30px
						padding: 0px

		.psr-switchtabs
			width: 100%
			height: 52px
			margin: 0px
			padding: 0px				
			.switchtabs-box
				min-width: 165px
				height: 52px
				text-align: center
				line-height: 52px
				font-family: $headings
				font-size: 16px
				color: $white
				text-transform: uppercase
				cursor: pointer
				font-weight: 400
				background-color: rgba(11,11,11,0.5)
				float: left
				&:hover, &:active
					background: $blue


	.ps-record-bottom
		width: 756px
		min-height: 800px
		background: $white
		margin: 0px
		padding: 25px 35px
		.psr-bottom-text
			p
				text-transform: none
				color: #35434e
				font-size: 20px
				line-height: 28px
				font-weight: 200
				padding: 0px
				margin-bottom: 20px 
				font-family: $bodyfont
		.psr-heading-box
			width: 100%
			height: 44px
			margin: 0px
			padding: 0px
			h1
				font-family: $headings
				color: #1f1f1f
				font-size: 30px
				line-height: 44px
				font-weight: 300
				margin: 0px
				padding: 0px
				text-align: left
				text-transform: none
				float: left
			span
				width: 150px
				height: 44px
				line-height: 44px
				font-weight: 600
				font-family: $bodyfont
				font-size: 17px
				color: $white
				margin: 0px
				padding: 0px 15px
				text-transform: uppercase
				text-align: text
				cursor: pointer
				float: right
				background: $blue url(../images/passenger-search/psr-plus.png) 150px 15px no-repeat
				&:hover, &:focus
					background: #2871a9 url(../images/passenger-search/psr-plus.png) 150px 15px no-repeat		

		.psr-records-section
			width: 100%
			min-height: 560px
			margin-top: 20px
			padding: 0px
			border-top: 2px solid #e0e0e0
			.records-section-box
				width: 100%	
				min-height: 49px
				border-bottom: 1px solid #f1f1f1
				.section-box-left
					min-width: 260px
					min-height: 49px
					line-height: 49px
					font-family: $headings
					color: #1f1f1f
					font-size: 15px
					font-weight: 400
					margin: 0px
					padding: 0px
					text-align: left
					text-transform: uppercase
					float: left
				.section-box-right
					min-width: 350px
					min-height: 49px
					line-height: 49px
					font-family: $bodyfont
					margin: 0px
					padding: 0px
					text-align: left
					ttext-transform: none
					color: #35434e
					font-size: 20px
					font-weight: 200
					float: left

.ps-records-right
	width: 312px
	float: right
	margin: 29px 0px 0px 0px
	background: $white
	padding: 24px 24px 24px 24px
	h1
		font-family: $headings
		font-size: 28px
		line-height: 45px
		color: #050504
		font-weight: 400
		text-align: left
		text-transform: none
		margin: 0px 0px 0px 0px
		padding: 0px 0px 0px 0px
	p
		font-family: $bodyfont
		font-size: 18px
		color: #050504
		font-weight: 200
		text-align: left
		line-height: 20px
		margin: 0px 0px 10px 0px
		padding: 0px 0px 0px 0px
		clear: both
		a
			color: $blue
			font-weight: 600
			text-transform: uppercase
		a:hover
			color: #2871a9
	h2
		font-family: $bodyfont
		font-size: 20px
		color: #464646
		text-transform: none
		font-weight: 600
		text-align: left
		margin: 0px 0px 5px 0px
		padding: 0px 0px 0px 0px

	.price-div
		font-family: $bodyfont
		width: 100%
		color: #050504
		text-align: left
		float: left
		font-size: 16px
		font-weight: 600
		margin: 0px
		padding: 0px
		span
			color: $green
	.ps-add-crt
		width: 140px
		font-weight: 800
		font-family: $bodyfont
		font-size: 17px
		color: $pink
		margin-top: 10px
		padding: 5px 0px
		text-transform: uppercase
		text-align: left
		cursor: pointer
		background: $white url(../images/passenger-search/ps-record-arrowpink.png) 105px 10px no-repeat
		&:hover, &:focus
			background: $white url(../images/passenger-search/ps-record-arrowblack.png) 105px 10px no-repeat
			color: #353435			

	input[type="text"], select
		background: $white
		border: 1px solid #e0e0e0
		font-size: 20px
		color: #050504
		font-family: $bodyfont
		font-weight: 200
		width: 66px
		height: 44px
		padding: 0px 15px
		margin: 40px 0px 0px 0px
		line-height: 44px
		font-style: italic
		box-shadow: none
		float: left
		cursor: text
		text-transform: none
		&:hover, &:focus
			background: $blue
			color: $white
	img
		width: 300px
		height: 153px
		float: left
		margin: 15px 0px 20px 0px 
		padding: 0px
	.ps-records-btn
		width: 140px
		height: 44px
		line-height: 44px
		font-weight: 600
		font-family: $bodyfont
		font-size: 17px
		color: $white
		margin: 40px 0px 0px 10px
		padding: 0px 15px
		text-transform: uppercase
		text-align: left
		cursor: pointer
		background: $pink url(../images/passenger-search/ps-record-arrow.png) 120px 17px no-repeat
		&:hover, &:focus
			background: #353435 url(../images/passenger-search/ps-record-arrow.png) 120px 17px no-repeat



#ethnicity_list
	p 
		width: 100%
		float: left
		margin-bottom: 15px
	label
		width: 33%
		float: left
		.ethnicityCls
			margin: 0 10px!important
			





/*strats Passenger Record */
.passenger-desc 
	padding-bottom: 25px
	margin-bottom: 25px
	border-bottom: 1px solid #e0e0e0
	overflow: hidden
	width: 100%

	p 
		font-size: 15px
		color: #e04163
		line-height: 20px

	ul 
		list-style: none
		margin: 0
		float: left

		li
			font-size: 19px
			line-height: 27px
			strong 
				text-transform: uppercase
				padding-right: 15px

	.button.green
		margin-top: 15px

.listing 
	p 
		font-size: 20px
		color: #1f1f1f
	ul 
		list-style: none
		margin: 20px 0

		li 
			padding-bottom: 25px
			margin-bottom: 25px
			border-bottom: 1px solid #e0e0e0
			overflow: hidden

			.image 
				width: 120px
				height: 120px
				background-color: #d6d6d6
				float: left
				margin-right: 20px

			.detail
				padding-left: 140px
				width: 70%
				h2 
					line-height: 28px
					padding-right: 25px
				h3
					font-size: 20px
					color: 464646
					margin-bottom: 0
					line-height: 24px

				.price-section
					width: 400px
					float: left
					.row
						width: 100%
						float: left
						margin-bottom: 7px
					input[type="text"]
						width: 50px
						border: 0
						text-align: center
						background: #d6d6d6

				.button.pink
					float: right
					&:hover 
						background-color: #CD2146


.back-search
	font-size: 20px
	float: left
	color: $black
	font-style: italic
	font-family: $bodyfont
	background: transparent url(../images/blue-arrow-left.png) no-repeat 10px 6px
	padding-left: 26px
	margin-top: 4px
	font-weight: 400
	position: absolute
	left: 0
	top: 0
	&:hover
		color: $black
		text-decoration: underline



.name-detail
	min-height: 154px
	.content
		padding: 0!important
     
		.col-detail
			padding: 15px 20px 20px 20px
			float: left
			font-size: 22px
			color: #35434e
			font-family: $bodyfont
			font-weight: 300
			width: 146px
			&.none
				border: 0
			label
				font-size: 16px
				line-height: 25px
				color: #35434e
				font-weight: 300
				font-family: $headings
				text-transform: uppercase
		.name
			font-size: 36px
			line-height: 40px
			color: #5496c9
			font-weight: 300
			font-family: $bodyfont
			padding: 15px 0 15px 20px
			float: left
			width: 500px


.ship-detail
	min-height: 154px
	.content
		padding: 0!important
		img.float-left
			height: 154px
     
		.col-detail
			padding: 15px 25px 0px 15px
			float: left
			font-size: 22px
			color: #35434e
			font-family: $bodyfont
			font-weight: 300
			height: auto!important
			height: 62px
			width: 170px
			&.large
				width: 300px
				img
					vertical-align: bottom
					margin-bottom: -6px
			&.none
				border: 0
			label
				font-size: 16px
				line-height: 20px
				color: #35434e
				font-weight: 300
				font-family: $headings
				text-transform: uppercase
				

.donate-box
	h1
		font-size: 32px 
		color: #050504
		text-transform: capitalize
		font-weight: 300
		margin: 0
	p
		font-size: 18px
		margin: 10px 0 15px
		color: #050504
		line-height: 21px
	input[type="text"]
		margin-right: 10px
		width: 80px
		padding: 8px 10px
		background: #fff
		font-size: 17px
		color: #050504


.suggest-box
	p
		font-size: 20px
		color: #464646
		margin: 20px 0 15px
	.text-full
		width: 100%
		float: left
	.price
		color: #464646
		font-size: 16px
		line-height: 18px

	.mem-price
		color: #91c1aa
		font-size: 16px
		line-height: 18px
		margin-bottom: 15px

	.blue
		background: none!important

	.add-input
		width: 30px
		margin-right: 18px
		text-align: center


.annotations-detail
	.top-detail
		background: #f0f2f4
		padding: 20px
		margin-bottom: 20px
	p
		font-size: 18px
		line-height: 24px
		color: #1f1f1f
		margin: 0

	h1
		margin-top: 5px

	ul
		width: 100%
		float: left
		margin: 24px 0 0
		li
			width: 100%
			float: left
			border-bottom: 1px solid #e0e0e0
			list-style: none
			font-size: 20px
			color: #1f1f1f
			font-family: $bodyfont
			font-weight: 300
			&.large
				strong
					width: 480px
					margin-right: 10px
			label 
				margin-top: 15px!important
			
			strong
				width: 250px
				font-size: 18px
				font-weight: 500
				float: left
				color: #1f1f1f
				text-transform: uppercase
				padding: 9px 0
				&.border-right
					border-right: 1px solid #e0e0e0
					padding-bottom: 13px	
				&.center
					text-align: center
			span
				width: 315px
				float: left
				border-left: 1px solid #e0e0e0
				padding: 9px 0 9px 10px
				&.bnone
					border: 0

			input[type="text"]
				width: 260px 
				float: left
				margin: 9px 0
				&.wid-70
					width: 70px
				&.wid-120
					width: 120px
	small
		font-size: 17px
	.check-row
		font-size: 16px
		padding: 8px 0
		float: left
		width: 100%

	.semibold
		margin-left: 3px




.passenger-detail
	min-height: 1280px
	.purchase-detail
		width: 528px
		float: left
		p
			font-size: 20px
			line-height: 26px
			margin: 10px 0 0


	.add-cart
		width: 100%
		float: left
		margin: 25px 0 30px
		label
			width: 187px
			float: left
			font-size: 20px
			font-weight: 600
			margin-top: 10px
			span
				width: 104px
				float: left
				font-weight: 300
				color: $black

	.annotattions-detail
		width: 100%
		float: left
		margin-top: 28px
		border-top: 1px solid $border
		padding-top: 30px
		h1
			margin: 0
		h3
			font-size: 20px
			margin-top: 10px
		p
			margin: 0 0 30px
			font-size: 20px

	.add-btn
		margin-left: 30px
		margin-bottom: 15px

	.pass-record
		width: 767px
		float: left
		height: 584px
		background: transparent url(../images/pass-record.jpg) no-repeat 0 0
		ul
			width: 400px
			float: left
			margin: 202px 0 0 239px
			list-style: none
			
			li
				width: 100%
				float: left
				font-size: 19px
				line-height: 22px
				color: $black
				font-weight: 600
				padding: 0px
				margin: 0





.ship-manifest
	min-height: 1250px
	h1
		margin-bottom: 20px
	.c-pink
		font-size: 14px
		color: #686868
		font-style: italic
		float: left
		width: 80%
		strong
			color: $pink
			font-style: normal

	.top-section
		.outer-img-bg
			float: left
			background: #5a666d
			padding: 33px 10px 40px 23px
			margin-right: 18px
		.img-box
			width: auto
			float: left
			color: #fff
			position: relative
			width: 134px
			margin-right: 20px
			img 
				width: 120px
				height: 120px
				float: left
				border: 7px solid #fff
				&.Active 
					border: 7px solid #91c1aa
			.blue-checkbox
				position: absolute
				left: 0
				top: 0
			span
				width: 80%
				float: left
				text-align: center
			

		.price
			float: left
			font-size: 20px
			font-weight: 300
			color: $black
			padding-bottom: 7px
			strong
				font-size: 17px
				font-weight: 700
				float: left
				width: 387px
				text-transform: uppercase

		.radio-row
			font-size: 17px
			font-weight: 300
			padding-top: 8px
			float: left
			margin: 0

	.btm-row
		width: 100%
		float: left
		margin: 10px 0 5px
		label
			width: 162px
			float: left
			font-size: 17px
			color: $black
			font-weight: 600
			text-transform: capitalize

	p
		font-size: 14px
		font-weight: 300
		color: #2b2b2b
		float: left
		margin: 0
		line-height: 20px
		strong
			font-weight: 600

	.slider-section
		width: 100%
		float: left
		position: relative
		overflow: hidden!important
		border: 1px solid $border
		margin-bottom: 20px
		.slider-box
			width: 100%
			float: left 
			.elastislide-carousel
				height: 575px!important
						
				ul
					li 
						position: relative
						a 
							border: 4px solid #e7e7e7
							box-shadow: none
						span
							position: absolute
							left: 5px
							bottom: 0
							font-size: 13px
							color: #fff
							text-align: center
							background: #5496C9
							display: block
						img
							width: 100%
			.elastislide-vertical
				padding: 0!important
				margin-right: 30px
			.elastislide-next
				bottom: -113px!important
			.demowrap
				overflow: hidden!important
				border: 0px!important
				img
					max-height: 540px!important
			.semibold
				position: absolute
				left: 55%
				top: 15px
				z-index: 12345
				height: 42px
				float: left
				background: url(../images/mini-plus.png) no-repeat 0 bottom #e04163
				padding: 6px 17px 6px 42px

			
				





.ship-information
	min-height: 1250px
	.top-section
		width: 100%
		float: left
		margin: 15px 0 10px
		.img-box
			width: 564px
			float: left
			height: 352px

		.right-section
			width: 387px
			float: left
			margin-left: 25px 
			margin-top: 7px
			.row
				width: 100%
				float: left
				padding-bottom: 15px
				font-size: 20px
				span
					width: 69px
					float: left
					padding-left: 16px
				input
					margin-top: 6px
			p
				font-size: 20px
				width: 50%
				float: left
				a
					text-decoration: underline
					color: $blue
					&:hover
						text-decoration: none
				strong
					text-transform: uppercase
					font-size: 17px

			.button 
				margin: 15px 10px 0px 0px
	p
		font-size: 20px
		margin-top: 0
		&.small
			font-size: 14px
			line-height: 20px
	h3
		font-size: 20px
		margin-bottom: 0


.agree-row
	position: relative
	margin-bottom: 10px
	label
		&.error
			position: absolute 
			top: 27px

.tabs 
	&.passenger-tab
		border: 1px solid #E0E0E0
		border-bottom: 0px
		width: 822px !important
		padding-bottom: 15px


.passenger-table
	.content
		width: 100%
		table
			tr
				td
					padding: 10px 5px 5px
					border: 0px
					.help-icon
						float: left
						margin: 3px 5px 0 0
					.action-col
						a
							margin-right: 10px

				th
					padding: 10px 5px 10px
					border-left: 0px
					border-right: 0px
					border-top: 0px
					color: #000
					font-size: 15px
					a
						color: #000
						font-size: 15px


				&.border-bottom
					td
						border-bottom: 1px solid #E0E0E0
						padding: 0px 5px 5px




.add-fof-image
	border: 0px
	td
		border: 0px
		padding-right: 4px
		padding-left: 4px

#annotationCorrection
	li


		.pre, .next
			background: url(../images/main-sprite.png) no-repeat scroll 0px -158px 
			height: 20px
			width: 15px
			color: transparent
			padding-left: 40px
		.next
			background: url(../images/main-sprite.png) no-repeat scroll 58px -193px 
			padding-right: 40px


#passenger
	.add-cart.passenger-record
		.left
			float: left
			width: 300px
			label
				span
					width: auto
					&.value
						width: 105px
		.right
			.button.float-right
				float: left !important
				margin-left: 5px
			.button
				float: left


/*strats tab section */
.tabs
	margin: 30px 0 0
	background: url(../images/tab-bg.png) repeat 0 0
	width: 100%
	float: left
	display: table


	li
		list-style: none
		display: table-cell
		text-align: center
		vertical-align: middle
		padding: 0
		&.width33
			width: 33%
		&.width20
			width: 20%
		a
			text-transform: uppercase
			word-wrap: break-word
			font-size: 16px
			line-height: 20px
			color: $white
			display: block
			cursor: pointer
			text-align: center
			padding: 14px 0px
			font-weight: 400
			font-family: $headings
			+transition-property(all)
			+transition-duration(.3s)
			+transition-timing-function(ease-in)
		
		a:hover
			background-color: adjust-lightness($blue, -10%)
		
		.active
			background-color: adjust-lightness($blue, -10%)


.sub-tabs
	margin: 10px 0 15px
	width: 100%
	float: left

	li
		list-style: none
		float: left
		padding: 0
		line-height: 20px
		border-right: 1px solid $border
		&.last
			border-right: 0px

		&:first-of-type
			border-left: none
		a
			font-weight: bolder
			text-transform: uppercase
			word-wrap: break-word
			font-size: 15px
			line-height: 14px
			color: $black
			display: block
			height: 14px
			text-align: center
			padding: 9px 15px
			font-weight: 400
		
		a:hover
			background: $grey
		.active
			background: $grey





		
		

.passenger-record-design
	padding-bottom: 20px
	p 
		color: #1f1f1f
	.block
		border: #fff 
		background: #fff
		&.none
			border: 0
			background: none
	.jcarousel-container-horizontal
		width: 93.3%!important
		background: #f0f2f4!important
		border: none!important
		border-radius: 0px!important
		margin-bottom: 10px
		ul
			margin: 0
			padding: 0
			width: 100%
			float: left
			li 
				width: 80px
				float: left
				margin-right: 20px
				position: relative
				height: 135px
				overflow: height
				.blue-checkbox
					position: absolute
					left: 5px
					top: -6px
				img 
					width: 80px
					height: 100px
					float: left
					border: 5px solid #fff
					overflow: height
					&.active
						border: 5px solid #91c1aa
				span
					width: 100%
					float: left
					text-align: center
					color: #6e6e6e

		
	.manifest-top-section
		background: #f2f2f2
		float: left
		margin-bottom: 30px
		border: 1px solid #d3d2d2
		width: 99.9%
		.top-section
			width: 100%
			float: left
			background: #fff
			h1
				margin: 15px 0 15px 20px
				line-height: auto
				float: left
				width: auto
			.fb-icon
				float: right
				padding: 18px 18px 0
				min-height: 45px
		.mid-detail-row
			width: 100%
			float: left
			.left-side
				float: left
				padding: 10px 0 15px 19px
				.cart 
					border-right: 1px solid #dae1e7
					float: left
					font-size: 20px
					font-family: $headings
					padding: 10px 10px 7px 0
					text-transform: uppercase
				.shipname 
					float: left
					font-size: 18px
					color: #1f1f1f
					padding: 10px 0px 0 13px
			.right-side
				float: right
				margin: 12px 19px 0 0
				.checkout-btn
					float: left
					font-size: 16px
					color: #ffffff
					text-transform: uppercase
					background: #5496c9
					+transition-property(all)
					+transition-duration(.5s)
					+transition-timing-function(ease-in)
					&:hover
						background-color: adjust-lightness(#2871a9, -10%)
					a 
						color: #fff
					small
						float: right
						background: #e04163
						margin: 8px 10px 8px 7px
						-webkit-border-radius: 100%
						-moz-border-radius: 100%
						border-radius: 100%
						padding: 0 8px
						font-weight: 400
					span 
						font-size: 16px
						float: left						
						font-weight: 400
						padding: 9px 0 0 14px
				.detail-btn
					float: right
					margin-left: 14px
					font-size: 16px
					color: #676666
					background: url(../images/openClose.png) no-repeat right 0 #cdcdcd
					height: 21px
					padding: 9px 40px 11px 13px
					cursor: pointer
					text-transform: uppercase
					font-weight: 600
					a
						color: #676666
					&.active
						background: url(../images/openClose.png) no-repeat right bottom #cdcdcd
					


	.slider-box
		width: 100%
		float: left
		position: relative
		.image-box
			width: 900px
			height: 540px
			float: left
			margin: 74px 0 0 19px
			#image
				max-width: 900px!important


#additional-image-heading
	font-size: 19px
	color: #1f1f1f
	font-family: $headings
	font-style: none
	font-weight: 500

#manifestPriceDetail
	float: right
	width: 740px
	margin-right: 20px
	&.single-image
		width: 900px
	.row
		width: 100%
		float: left
		border-bottom: 1px solid #dfdfdf
		padding: 13px 0
	
		span 
			font-size: 17px
			float: left
			color: #1f1f1f
			padding-top: 4px
		strong 
			font-size: 26px
			float: right
			color: #1f1f1f
			font-weight: 300
			padding-right: 8px
	.total
		width: 98%
		float: left
		background: #91c1aa
		padding: 13px 1% 13px
		text-align: right
		font-size: 30px
		color: #fff
		font-weight: 500
		margin-bottom: 10px
		span 
			font-size: 18px
			float: left
			font-weight: bold


.manifest-outer-namelist
	width: 1172px
	float: left
	padding: 25px 20px
	background: #e4e4e4
	.block
		margin-top: 0

.manifest-img-list
	width: 97%
	float: left
	margin: 0 1.5% 1.5%
	background: #fff
	border: 1px solid #d7dee3
	table
		width: 100%
		border: 0		
		background: #fff
		float: left
		&.blue
			background: #e9f3fb

		tr 
			border-bottom: 1px solid #dae1e7
			float: left
			width: 97%
			padding: 1.5%	
		th , td
			border: 0
			padding: 0
			width: 100%
			float: left
			.first-img
				float: left
				max-width: 80px
				max-height: 72px
				border: 1px solid #c3c3c3
				margin-right: 17px
			.right-side
				float: right
				font-size: 24px
				color: #636363
				line-height: 33px
				margin-top: 18px
				.close 
					float: right
					width: 34px
					height: 33px
					background: url(../images/mini-close.jpg) no-repeat 0 0
					margin-left: 8px

			.name-section
				float: left
				font-size: 16px
				line-height: 20px
				color: #35434e
				strong
					font-weight: bold
					text-transform: uppercase
				small 
					font-size: 15px
					color: #9f9f9f
	.total-amount
		float: right
		font-size: 38px
		line-height: 38px
		color: #e04163
		padding: 22px 20px 22px 0
		strong
			font-size: 22px

	.checkout-btn-btm
		width: 100%
		float: left
		background: $blue
		text-align: center
		font-size: 16px
		text-transform: uppercase
		padding: 12px 0 
		+transition-property(all)
		+transition-duration(.5s)
		+transition-timing-function(ease-in)
		cursor: pointer
		&:hover
			background-color: adjust-lightness(#2871a9, -10%)	
		a 
			color: $white
			font-weight: 500
			
.elastislide-wrapper
	nav
		border: 0px!important



.slider-checkbox
	position: absolute
	right: 49%
	top: 33px
	z-index: 12345
	padding: 6px 17px 6px 42px
	height: 29px
	cursor: pointer
	+transition-property(all)
	+transition-duration(.5s)
	+transition-timing-function(ease-in)
	float: left
	background: url(../images/mini-plus.png) no-repeat 0 0 #5496c9 
	&:hover
		background-color: adjust-lightness(#4282bb, -10%)
