/*Stylesheet for passenger search*/
.center-wrapper
	width: 1151px
	margin: 0 auto


.contact-outer-bg
	width: 100%
	float: left
	background: url(../images/contact-bg.jpg) no-repeat center 0
	background-size: 100%
	min-width: 1212px

.contact-inner-bg
	width: 100%
	float: left
	background: url(../images/contact-inner-bg.png) repeat 0 0


	
.passenger-outer-bg
	width: 100%
	float: left
	background: url(../images/main-passenger-search-bg.jpg) repeat-y center 0
	background-size: 100%
	min-width: 1212px

.passenger-inner-bg
	width: 100%
	float: left
	background: url(../images/passenger-search-bg.png) repeat 0 0
	min-width: 1212px
	&.narrow-dropdown
		min-height: 10px
		background: none
		min-width: 700px
		ul#nav
			bottom: 65px!important
		.inner-section
			padding-top: 0!important
			.passenger-filter
				background: #121719!important
				position: relative
				padding-top: 30px!important
				.strip
					width: 60px
					height: 6px 
					position: absolute
					right: 0
					top: -5px
					background: #121719
				.close
					width: 18px
					float: left
					height: 18px
					position: absolute
					right: 10px
					top: 10px
					background: url(../images/passenger-search/popup-close.png) repeat 0 0

	.save-search
		width: 100%
		float: left
		margin-top: 29px
		font-size: 22px
		font-family: $bodyfont
		text-transform: none
		font-weight: 300
		.saved-search-icon
			min-width: 200px
			height: 43px
			float: right
			color: $white
			line-height: 43px
			padding: 0px
			margin-right: 20px
			span
				float: left

			.ss-icon-box
				width: 43px
				height: 43px
				margin-left: 10px
				padding: 0px
				float: right
				cursor: pointer
				background: $green url(../images/passenger-search/psr-save-search1.png) center center no-repeat
				ul, li
					display: none
				&:hover, &:active
					background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
					background-color: #1a2829
					ul
						width: 270px
						mix-height: 186px
						background: rgba(11, 11, 11, 0.7)
						margin: 43px 0px 0px -247px
						padding: 10px 0px 10px 20px
						position: absolute
						z-index: 9999
						float: left
						

						li
							width: 250px
							height: 44px
							border-bottom: 1px solid #2f3a3e
							display: block
							margin: 0px
							padding: 0px
							float: left
							&:last-of-type
								border-bottom: none
							span
								float: left
								width: 180px
								height: 44px
								line-height: 44px
								color: rgba(255, 255, 255, 0.5)
								font-family: $bodyfont
								font-size: 20px
								font-weight: 300
								text-align: left
								text-transform: capitalize
								margin: 0px
								padding: 0px
							.sn-close
								width: 35px
								height: 44px
								float: right
								background: url(../images/passenger-search/close-grey.png) right center no-repeat
							.sn-search
								width: 35px
								height: 44px
								float: right
								background: url(../images/passenger-search/search-grey.png) center center no-repeat
							&:hover, &:active
								span
									color: $white
								.sn-close
									background: url(../images/passenger-search/close-white.png) right center no-repeat
								.sn-search
									background: url(../images/passenger-search/search-white.png) center center no-repeat
			
	.small-wrapper
		width: 726px
		margin: 0 auto
		.inner-section
			width: 100%
			float: left
			padding-top: 107px
			&.min-height
				min-height: 550px

			.top-section
				h1
					width: 100%
					float: left
					font-size: 73px
					color: $white
					font-family: $headings
					text-align: center
					margin: 0
					line-height: 76px
				span
					width: 100%
					float: left
					font-size: 22px
					color: $white
					font-family: $bodyfont
					text-align: center
					padding-bottom: 25px
					&.no-padd
						padding: 0
				.question
					font-size: 18px
					color: $white
					font-family: $bodyfont
					text-align: center
					padding: 6px 0 6px 0px 
					background: url(../images/passenger-search/question-icon.png) 0 8px no-repeat
					float: left
					margin-left: 222px
					a 
						color: $white
						float: left
						padding-left: 25px
						&:hover 
							text-decoration: underline


			.passenger-search
				width: 724px
				height: 84px
				margin: 0px auto
				background: rgba(11, 11, 11, 0.7)
				clear: both	
				position: relative
				&.ship-form
					label
						&.error
							left: 0
							color: #fff!important
				label
					&.error
						width: auto
						position: absolute
						left: 320px
						bottom: -25px
						color: #fff!important
				input[type="text"], select
					background: none
					border: none
					font-size: 28px
					color: #889191
					font-family: $bodyfont
					font-weight: 200
					width: 290px
					height: 70px
					padding: 7px 15px
					margin-right: 10px
					line-height: 70px
					font-style: normal
					box-shadow: none
					float: left
					cursor: text
					text-transform: none
					margin: 0
					+transition-property(all)
					+transition-duration(.8s)
					+transition-timing-function(ease-in)
					&.large-input
						width: 610px
					&:hover, &:focus
						color: $white
						background-color: adjust-lightness($blue, -10%)

				#submitbutton
					width: 84px
					height: 84px
					background: url(../images/passenger-search/arrow.png) center center no-repeat
					background-color: $blue
					cursor: pointer
					float: right
					margin: 0px
					padding: 0px
					&:hover, &:active
						background: url(../images/passenger-search/arrow.png) center center no-repeat
						background-color: #2871a9


			.narrow-search		
				width: 100%
				float: left
				padding: 0px
				margin-bottom: 10px
				font-family: $bodyfont
				font-size: 22px
				font-weight: 300
				cursor: pointer
				margin-top: 15px
				outline: none
				a 
					float: left
					text-decoration: none
					background: url(../images/passenger-search/narrow-search.png) 0 4px no-repeat
					color: $white
					padding-left: 25px
					&.active
						background: url(../images/passenger-search/narrow-search.png) 0 -25px no-repeat
			.narrow-search-box
				width: 725px
				min-height: 377px
				background: #121719
				margin-top: 15px
				margin-bottom: 25px
				float: left
				position: relative
				.inner-detail
					float: left
					margin: 40px 0 0 50px
				.left_arrow
					position: absolute
					left: 17px
					top: 170px
					width: 14px
					height: 35px
					background: url(../images/passenger-search/arrow-left.png) 0 0 no-repeat
					z-index: 1234
					cursor: pointer
					outline: none
				.right_arrow
					position: absolute
					right: 17px
					top: 170px
					width: 14px
					height: 35px
					background: url(../images/passenger-search/arrow-right.png) 0 0 no-repeat
					z-index: 1234
					cursor: pointer
					outline: none
					padding: 0
				ul#nav
					margin: 0
					padding: 0
					text-align: center
					width: 100%
					position: absolute
					bottom: 18px
					left: 0
					a 
						width: 13px
						height: 11px
						display: inline-block
						background: url(../images/passenger-search/slider-arrow.png) 0 0 no-repeat
						font-size: 0
						line-height: 0
						margin: 0 5px
						padding: 0
						outline: none
						float: none
						&.activeSlide
							background: url(../images/passenger-search/slider-arrow.png) 0 bottom no-repeat
				.close
					width: 18px
					height: 18px
					position: absolute
					right: 23px
					top: 23px
					padding: 0
					background: url(../images/passenger-search/popup-close.png) no-repeat 0 0
					outline: none
				.refresh
					width: 19px
					height: 22px
					position: absolute
					left: 19px
					top: 21px
					background: url(../images/passenger-search/loading.png) no-repeat 0 0
					outline: none
				.black-bg
					width: 36px
					height: 14px
					position: relative
					z-index: 2
					left: 52px
					bottom: 14px
					background: url(../images/passenger-search/black-top.png)
			.narrow-container
				width: 654px
				float: left
				.shipsearchspace
					width: 100%
					float: left
					margin-bottom: 20px
				
				.container-content
					width: 260px
					height: 265px
					float: left
					padding: 0px 10px 0px 50px
					margin: 0px
					border-right: 1px solid #829391
					h2
						font-family: $bodyfont
						font-size: 24px
						font-weight: 400
						color: $white
						text-transform: none
						text-align: left
						padding: 0px
						margin: 0px
						width: 100%
					

					.content-filter-nav
						line-height: 20px
						font-weight: 200
						font-family: $bodyfont
						cursor: pointer
						float: left
						margin: 20px 0 0
						width: 100%
						list-style: none
						li
							margin-right: 55px
							float: left

					.content-filter-nav-extra
						line-height: 20px
						font-weight: 200
						font-family: $bodyfont
						cursor: pointer
						float: left
						margin: 0
						list-style: none
						li
							margin-right: 55px
							margin-top: 20px
							float: left
					
									
			

				.step-two
					min-width: 178px
					padding: 10px 0px
					text-align: center
					float: left
					h2
						font-family: $bodyfont
						font-size: 22px
						font-weight: 400
						color: $white
						text-transform: none
						padding: 0px
						margin-bottom: 20px
						width: 100%
					.range-slider-box
						width: 80px
						margin-right: 7px
						margin-left: 15px
						margin-top: 10px 
						float: left
					.slider-input
						width: 50px
						height: 25px
						float: left	
						input[type="text"], select
							background: none
							text-align: center
							border: none
							font-size: 18px
							color: #acc1be
							font-family: $bodyfont
							font-weight: 200
							width: 50px
							min-width: 50px
							height: 25px
							margin: 0px
							padding: 0px
							line-height: 25px
							font-style: normal
							box-shadow: none
							float: left
				.step-three
					input[type="text"], select
						background: adjust-lightness(#64777e, -25%)
						border: none
						font-size: 17px
						color: $white
						font-family: $bodyfont
						font-weight: 200
						width: 180px
						min-width: 180px
						height: 60px
						padding: 0px 10px!important
						margin-right: 3px
						margin-bottom: 15px
						line-height: 60px
						font-style: normal
						box-shadow: none
						float: left
						text-transform: none
						cursor: text
						+transition-property(all)
						+transition-duration(.5s)
						+transition-timing-function(ease-in)
						&:hover, &:focus
							background-color: adjust-lightness($blue, -10%)
							color: $white
					label
						font-size: 12px
						font-family: $bodyfont
						color: #7c888d
						font-style: italic	
						display: block
						font-weight: 100
					select	
						width: 200px
						background-color: adjust-lightness(#64777e, -25%)

					.ethnicity									
						span
							font-size: 20px
							color: #b4c0c5
							font-family: $bodyfont
							font-weight: 600
							text-align: left
							line-height: 20px
						#ethnicity_search_id
							width: 100%
							float: left
							margin-top: -15px
							strong
								font-weight: normal
							span
								float: left
								background: #ced6d9
								margin-top: 3px
								margin-right: 3px
								color: #0d1518
								font-size: 16px
								font-weight: 300
								padding: 3px 5px
								a 
									font-size: 0
									line-height: 0
									background: url(../images/ethnicity-close.jpg) no-repeat 0 0
									width: 17px
									height: 16px
									float: right
									margin-left: 15px
									margin-top: 2px

						input[type="text"], select
							background: url(../images/passenger-search/select-close.png) no-repeat 105px center
							background-color: #cdd6d9
							border: none
							font-size: 16px
							color: $black
							font-family: $bodyfont
							font-weight: 200
							width: 122px
							min-width: 122px
							height: 22px
							padding: 5px 5px
							margin-right: 10px
							line-height: 22px
							font-style: normal
							box-shadow: none
							text-transform: none
							float: left
							cursor: text
							&:hover, &:focus, &.active
								background: url(../images/passenger-search/select-close.png) no-repeat 105px center
								background-color: $blue
								color: $white

						.select-addmore
							width: 32px
							height: 32px
							float: left
							background: url(../images/passenger-search/add-more.jpg) no-repeat
							margin: 0px
							padding: 0px
							cursor: pointer
							margin-right: 5px
							&:hover, &:active
								background: url(../images/passenger-search/add-more-active.jpg) no-repeat
								
			.passenger-filter
				width: 724px
				min-height: 128px
				margin: 0px auto
				padding: 20px 0px 0px 0px
				background: rgba(11, 11, 11, 0.5)
				float: left
				clear: both
				ul
					width: 100%
					float: left
					margin: 0
					list-style: none
					li 
						float: left
						padding: 0 29px



.narrow-btn-row
	width: 94%
	float: left
	padding: 22px 3% 17px
	&.mar-top 
		margin-top: 20px!important
	.button
		background: #606a72
		&:hover
			background: $blue





						