.common-right-section
	width: 359px
	float: right
	.add-box
		width: 359px
		float: left
		iframe
			padding: 0
			margin: 0 0 30px
			float: left

.message-center
	width: 310px
	border: 1px solid $border
	padding: 20px 27px 10px 22px
	margin-bottom: 30px
	float: left
	&.home
		margin: 30px 27px 0 0
	ul
		margin: 0
		padding 0
		list-style: none
		li 
			border-bottom: 1px solid $border
			padding: 12px 0
			line-height: normal
			float: left
			width: 100%
			&.last
				border-bottom: 0
			span
				width: 100%
				float: left
				padding: 0 0 5px 0
				font-size: 18px
				font-weight: 400
				color: #5b5b5b
				a 
					color: #5496c9
					&:hover
						color: #2871a9
				small
					background: url(../images/arrow-b.png) no-repeat 0 0
					width: 10px
					height: 10px
					display: inline-block
					margin-left: 5px
					cursor: pointer


				
.announcemets-right
	margin-top: 30px

