/* v1.0.3 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider 
	width: 600px
	height: 400px
	position: relative
	direction: ltr

.royalSlider > * 
	float: left



.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl 
	-webkit-backface-visibility: hidden
	-webkit-transform: translateZ(0)

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer 
	-webkit-transform: none


.rsOverflow 
	width: 100%
	height: 576px!important
	position: relative
	overflow: hidden
	float: left
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	

.rsVisibleNearbyWrap 
	width: 100%
	height: 100%
	position: relative
	overflow: hidden
	left: 0
	top: 0
	-webkit-tap-highlight-color:rgba(0,0,0,0)

.rsVisibleNearbyWrap .rsOverflow 
	position: absolute
	left: 0
	top: 0


.rsContainer 
	position: relative
	width: 100%
	height: 100%
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	text-align: center
	


.rsArrow,
.rsThumbsArrow 
	cursor: pointer


.rsThumb 
	float: left
	position: relative



.rsArrow,
.rsNav,
.rsThumbsArrow 
	opacity: 1
	-webkit-transition:opacity 0.3s linear
	-moz-transition:opacity 0.3s linear
	-o-transition:opacity 0.3s linear
	transition:opacity 0.3s linear

.rsHidden 
	opacity: 0
	visibility: hidden
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear
	transition:visibility 0s linear 0.3s,opacity 0.3s linear



.rsGCaption 
	width: 100%
	float: left
	text-align: center


/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen 
	position: fixed !important
	height: auto !important
	width: auto !important
	margin: 0 !important
	padding: 0 !important
	z-index: 2147483647 !important
	top: 0 !important
	left: 0 !important
	bottom: 0 !important
	right: 0 !important


.royalSlider .rsSlide.rsFakePreloader 
	opacity: 1 !important
	-webkit-transition: 0s
	-moz-transition: 0s
	-o-transition:  0s
	transition:  0s
	display: none


.rsSlide 
	position: absolute
	left: 0
	top: 0
	display: block
	overflow: hidden
	
	height: 100%
	width: 100%

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide 
	height: auto


.rsContent 
	width: 100%
	height: 100%
	position: relative


.rsPreloader 
	position: absolute
	z-index: 0


.rsNav 
	-moz-user-select: -moz-none
	-webkit-user-select: none
	user-select: none

.rsNavItem 
	-webkit-tap-highlight-color: rgba(0,0,0,0.25)


.rsThumbs 
	cursor: pointer
	position: relative
	overflow: hidden
	float: left
	z-index: 22

.rsTabs 
	float: left
	background: none !important

.rsTabs,
.rsThumbs 
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: rgba(0,0,0,0)




.rsABlock 
	left: 0
	top: 0
	position: absolute
	z-index: 15
	-webkit-backface-visibility: hidden



.sliderImage img 
	margin: 0 -50%
	min-height: 573px

.slider-content 
	width: 100% 
	float: left 
	position: absolute 
	left: 0px 
	top: 0px 
	text-align: center
	background: url(../images/slider-shadow.png) 0 bottom repeat-x
	height: 296px
	padding-top: 280px
	z-index: 1234

.slider-content h1 
	font-size: 55px 
	color: #91c1aa
	text-shadow: 1px 1px 1px #000

.slider-content h1.blue 
	color: #5496c9

.slider-content h1.cerise-red
	color: #e04163

.slider-content h1.french-rose
	color: #f04d70

.slider-content p
	width: 50% 
	margin: 0 auto 20px
	font-size: 20px
	color: #fff 


.rsDefault.rsVer .rsArrowLeft 
	top: 0
	left: 0 
	background: url(../images/arrowPrev.png) 0 0 no-repeat
.rsDefault.rsVer .rsArrowRight  
	bottom: 0  
	left: 0
	background: url(../images/arrowNext.png) 0 0 no-repeat

.rsDefault.rsHor .rsArrowLeft  
	left: 0px 
	top: 50% 
	background: url(../images/arrowPrev.png) 0 0 no-repeat 
	margin-top: -21px

.rsDefault.rsHor .rsArrowRight  
	right: 0 
	top: 50% 
	background: url(../images/arrowNext.png) 0 0 no-repeat 
	margin-top: -21px

.rsArrow.rsArrowRight.rsArrowDisabled 
	background: url(../images/arrowNextDisable.png) 0 0 no-repeat

.rsArrow.rsArrowLeft.rsArrowDisabled 
	background: url(../images/arrowPrevDisable.png) 0 0 no-repeat

.rsArrow,
.rsNav,
.rsThumbsArrow 
	opacity: 1
	-webkit-transition: opacity 0.3s linear
	-moz-transition: opacity 0.3s linear
	-o-transition: opacity 0.3s linear
	transition: opacity 0.3s linear


.rsHidden 
	opacity: 0
	visibility: hidden
	-webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear
	-moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear
	-o-transition: visibility 0s linear 0.3s,opacity 0.3s linear
	transition: visibility 0s linear 0.3s,opacity 0.3s linear

.rsDefault .rsArrow 
	height: 100%
	width: 60px
	position: absolute
	display: block
	cursor: pointer
	z-index: 21

.rsDefault.rsVer .rsArrow 
	width: 100%
	height: 43px
	
