.sponsor-page
	margin-top: 30px
	width: 828px
	float: left

	.left-section-sponsor
		width: 828px
		float: left
		background: $grey
		position: relative

		.banner-sponsor
			width: 100%
			float: left
			height: 273px
			background: url(../images/sponsors-bg.png) no-repeat 0 0
			position: relative			
			.sponsor-text
				width: 100%
				margin-top: 80px
				text-align: center
				color: $white
				h2
					margin-bottom: 0
					font-size: 40px
					font-weight: 600
					text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5)
				p
					font-size: 17px
					font-weight: 400
					margin: 0
					font-style: italic
					padding: 0 30px
					color: $white


		.sponsor-content
			width: 826px
			min-height: 500px
			float: left
			border: 1px solid #e0e0e0
			background: url(../images/sponsors-bg1.jpg) repeat-y center 0

			.detail-box
				width: 275px
				float: left
				border-right: 1px solid #e0e0e0
				border-bottom: 1px solid #e0e0e0
				min-height: 276px
				text-align: center
				position: relative
				&:hover .hover
					display: block
				&.last
					border-right: 0
					width: 274px
				&:nth-child(3), &:nth-child(6), &:nth-child(9)
					border-right: 0
					width: 274px
				.logo 
					width: 100%
					float: left
					padding: 40px 0 20px
					min-height: 128px
					img 
						max-width: 160px
				p
					font-size: 14px
					color: #686868
					line-height: 20px
					width: 86%
					float: left
					padding: 0 7%
					margin: 0
				.hover
					width: 86%
					height: 90%
					float: left
					background: url(../images/sponsor-page/hover-bg.png) repeat 0 0px
					display: none
					position: absolute
					left: 0
					top: 0
					text-align: left
					padding: 5% 7%
					h2 
						color: #fff
						font-size: 30px
						line-height: 33px
						margin: 0 0 10px
					p 
						text-align: left
						color: #fff
						padding: 0
						margin: 0 0 10px 0
						a 
							color: #fff
					.view-detail
						width: 100%
						float: left
						text-align: center
						font-size: 18px
						color: $white
						background: url(../images/sponsor-page/view-more.png) no-repeat center 0px
						padding: 45px 0 0 0

			.detail-description-section
				width: 786px
				float: left
				padding: 20px
				img 
					float: left
					margin-right: 25px
				h1	
					margin-top: 0
					font-size: 24px







