/*Stylesheet for wall of honor*/
.full
	width: 100%
	float: left

.woh-outer-bg
	width: 100%
	float: left
	background: url(../images/main-woh-bg.jpg) repeat-y center 0
	background-size: 100% 100%
	position: relative

	.wrapper
		max-width: 1028px
		margin: 0 auto
		width: 1028px

.woh-inner-bg
	width: 100%
	float: left
	background: url(../images/woh-bg.png) repeat 0 0!important
	min-height: 900px


	.wall-of-honor-bg
		width: 100%
		min-height: 138px
		float: left
		background: url(../images/passenger-search/woh-bg.png) repeat 0 0
		.woh-detail-section
			padding: 25px 0px 0px 0px
			float: left 
			.leftarea-box
				width: 31%
				margin: 0px
				padding: 0px 
				float: left
				h1
					float: left
					font-size: 45px
					margin: 0px
					padding: 0px
					color: $white
					font-family: $headings
					text-transform: uppercase
					text-shadow: 0px 0px 2px rgba(150, 150, 150, 1)
				span
					width: 100%
					font-family: $bodyfont
					color: $white
					font-size: 18px
					font-weight: 400
					float: left
					letter-spacing: 2px
					text-shadow: 0px 0px 2px rgba(150, 150, 150, 1)
					padding: 0px
					margin: 0px
				.question
					font-size: 18px
					color: $white
					font-family: $bodyfont
					text-align: center
					padding: 2px 0 6px 0px 
					background: url(../images/passenger-search/question-icon.png) 0 5px no-repeat
					float: left
					a 
						color: $white
						float: left
						padding-left: 25px
						&:hover 
							text-decoration: underline

				

			.rightarea-box
				width: 68.1%
				margin: 0px
				padding: 0px 
				float: right
				position: relative
				.or 
					width: auto
					float: left
					font-size: 14px
					color: #fff
					padding: 22px 7px 0
				.error
					width: auto
					min-height: 17px
					padding: 2px 35px
					margin: -24px 0px 0px 0px
					background: url(../images/foundation/errormsg.png) no-repeat 10px center 
					color: $pink
					font-family: $bodyfont
					font-weight: 600
					font-size: 12px
					line-height: 17px
					position: absolute
					z-index: 9999
										
				input[type="text"], select
					background: #5f676b
					border: none
					font-size: 16px
					color: adjust-lightness($white, -40%)
					font-family: $bodyfont
					font-weight: 200
					width: 203px
					height: 41px
					padding: 0px 15px
					margin: 0px
					line-height: 41px
					font-style: normal
					box-shadow: none
					float: left
					cursor: text
					text-transform: none
					&:hover, &:focus
						background: $blue
						color: $white
					&.woh-input	
						width: 121px
						margin: 15px 0px 0px 0px
					&.woh-input1	
						width: 66px
						margin: 15px 14px 0px 0px
					&.country	
						width: 289px
						margin: 15px 12px 0px 0px
			
				small
					color: $white
					font-size: 18px
					font-weight: 400
					height: 41px
					margin: 0px
					padding: 0px
					float: left
					vertical-align: text-top
					position: absolute
					left: 237px
					top: 0
				.find-btn
					font-size: 20px
					text-transform: uppercase
					font-weight: 400
					height: 41px
					line-height: 41px
					color: $white
					width: 76px
					font-family: $headings
					text-align: center
					background-color: $pink
					padding: 0px 0px
					margin-top: 15px
					float: left
					border: none
					cursor: pointer
					&:hover
						background-color: $blue

	.woh-search-result
		width: 100%
		height: 70px
		margin: 0px
		clear: both
		.woh-search-result-box
			width: auto
			float: left
			padding-top: 30px
			padding-bottom: 25px
			margin: 0px
			.save-search-error
				float: left
				width: 263px
				label.error
					color: $white!important
			&.right
				float: right
				position: relative

			.success-msg
				color: #91c1aa
				font-size: 17px
				background: url(../images/sucess-icon.png) 0 0 no-repeat
				padding-left: 35px
				margin-bottom: 4px
				position: absolute
				left: 0
				top: -5px
				width: 312px
			form
				float: left
				width: auto
			h1
				font-size: 30px
				color: $white
				font-family: $headings
				text-align: left
				font-weight: 200
				line-height: 30px
				text-transform: none
				padding: 0px
				margin: 0px
				a 
					color: $white
					padding-right: 30px
					

			.records 
				font-size: 18px
				color: $white
				font-family: $bodyfont
				text-align: left
				font-weight: none
				line-height: 20px
				padding: 4px 0 0
				margin: 0px
				img
				a 
					border: none
			input[type="text"], select
				background: #5f676b
				border: none
				font-size: 17px
				color: adjust-lightness($white, -25%)
				font-family: $bodyfont
				font-weight: 200
				min-width: 188px
				height: 43px
				padding: 0px 15px
				margin-right: 0px
				line-height: 43px
				font-style: normal
				box-shadow: none
				float: left
				cursor: text
				text-transform: none	
				&:hover, &:focus
					background: $blue
					color: $white
			.woh-savesearch
				width: 43px
				height: 43px
				background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
				background-color: $blue
				cursor: pointer
				float: left	
				margin: 0px
				padding: 0px
				&:hover, &:focus
					background: url(../images/passenger-search/psr-save-search.png) center center no-repeat
					background-color: #2871a9

			.woh-savesearch-next
				width: 43px
				height: 43px
				background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
				background-color: $blue
				cursor: pointer
				float: left
				margin: 0px 0px 0px 15px
				padding: 0px
				position: relative
				ul, li
					display: none
				&:hover, &:active
					background: url(../images/passenger-search/psr-save-search1.png) center center no-repeat
					background-color: rgba(11, 11, 11, 0.9)
					ul
						width: 270px
						background: rgba(11, 11, 11, 0.9)
						padding: 10px 0px 10px 20px
						position: absolute
						z-index: 9999
						float: left
						right: 0
						top: 38px
						

						li
							width: 250px
							border-bottom: 1px solid #2f3a3e
							display: block
							margin: 0px
							padding: 0px
							float: left
							&:last-of-type
								border-bottom: none
							span
								float: left
								width: 180px
								line-height: 24px
								color: rgba(255, 255, 255, 0.5)
								font-family: $bodyfont
								font-size: 20px
								font-weight: 300
								text-align: left
								text-transform: none
								margin: 0px
								padding: 8px 0
							.sn-close
								width: 30px
								height: 44px
								float: right
								background: url(../images/passenger-search/close-grey.png) right center no-repeat
							.sn-search
								width: 35px
								height: 44px
								float: right
								background: url(../images/passenger-search/search-grey.png) center center no-repeat
							&:hover, &:active
								span
									color: $white
								.sn-close
									background: url(../images/passenger-search/close-white.png) right center no-repeat
								.sn-search
									background: url(../images/passenger-search/search-white.png) center center no-repeat	
			span
				float: left
				line-height: 43px
				padding: 0px 15px 0px 0px
				font-family: $bodyfont
				color: $white
				font-size: 20px
				font-weight: 400
			select
				background: url(../images/passenger-search/psr-select-bg.png) right center no-repeat
				background-color: rgba(11,11,11,0.5)
				border: none
				font-size: 16px
				color: adjust-lightness($white, -25%)
				font-family: $bodyfont
				font-weight: 200
				min-width: 150px
				height: 43px
				padding: 0px 0px 0px 10px
				margin-right: 15px
				line-height: 43px
				font-style: normal
				box-shadow: none
				float: left
				cursor: pointer
				text-transform: none
				&:hover, &:focus
					background: url(../images/passenger-search/psr-select-bg.png) right center no-repeat
					background-color: $blue
					color: $white

	.woh-search-output
		width: 100%
		padding: 0 0 20px 0
		margin: 0px	
		float: left
		.loading
			font-weight: 600
			color: $white
			font-size: 18px
		ul
			width: 100%	
			padding: 0px
			margin: 4px 0px
			float: left	
			li
				width: 323px
				height: 317px
				display: block
				float: left
				margin: 0px 29px 30px 0px
				padding: 0px
				list-style-type: none
				position: relative
				background:  #fff
				overflow: hidden
				-moz-transition: all .4s ease
				-webkit-transition: all .4s ease
				-ms-transition: all .4s ease
				transition: all .4s ease
				&.last
					margin-right: 0
				&:last-of-type
					margin: 0px 0px 30px 0px	
				.i-frame
					width: 44px
					height: 46px
					float: right
					margin-left: 279px
					padding: 0px
					position: absolute
					z-index: 1000
				.fb-icon
					position: absolute
					right: 10px
					top: 10px
					

					
				.woh-search-frame
					width: 100%
					margin: 0px
					padding: 0px
					clear: both
					.woh-content-frame
						width: 293px
						padding: 25px 15px 0
						margin: 0px
						float: left
						.woh-span
							&.top 
								min-height: 70px
							width: 100%
							min-height: 57px
							padding: 0px
							h1
								font-family: $headings
								color: #a0a0a0
								font-size: 22px
								line-height: 24px
								font-weight: 600
								margin: 0px
								padding: 0px
								text-align: left
								width: 100%
								text-transform: uppercase
								word-wrap: break-word
							h2
								text-transform: uppercase
								color: #686868
								font-size: 17px
								line-height: 17px
								margin: 0px
								padding: 0px
								font-weight: 600
								font-family: $headings
							p
								text-transform: none
								color: #6f6f6f
								font-size: 17px
								line-height: 22px
								font-weight: 400
								padding: 0px
								margin: 0px 
								font-family: $bodyfont

				
						
						

				&:hover
					background: #fff
					-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
					-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
					box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)

					.woh-search-frame
						.woh-content-frame
							.woh-span
								
								h1
									color: #5496c9
								h2
									color: #020303
								p
									color: #6f6f6f
				.bottom-icon
					width: 100%
					min-height: 42px
					padding-top: 8px
					float: left
					border-top: 1px solid #ddd
					a.certificate
						float: left
						font-size: 14px
						font-weight: 400
						color: #747474
						background: url(../images/icon/certificate.png) no-repeat center 0
						margin-left: 19px
						padding-top: 14px
						transition: background-color 0.9s ease
						cursor: pointer
						&:hover
							color: #1c1c1a
							background: url(../images/icon/certificate-hover.png) no-repeat center 0
					a.panel
						float: left
						font-size: 14px
						font-weight: 400
						color: #747474
						background: url(../images/icon/panel.png) no-repeat center 0
						margin-left: 23px
						padding-top: 14px
						transition: background-color 0.9s ease
						cursor: pointer
						&:hover
							color: #1c1c1a
							background: url(../images/icon/panel-hover.png) no-repeat center 0
					a.bio-certificate
						float: left
						font-size: 14px
						font-weight: 400
						color: #747474
						background: url(../images/icon/bio-certificate.png) no-repeat center 0
						margin-left: 28px
						padding-top: 14px
						transition: background-color 0.9s ease
						cursor: pointer
						&:hover
							color: #1c1c1a
							background: url(../images/icon/bio-certificate-hover.png) no-repeat center 0
					a.photo
						float: left
						font-size: 14px
						font-weight: 400
						color: #747474
						background: url(../images/icon/photo.png) no-repeat center 0
						margin-left: 25px
						padding-top: 14px
						transition: background-color 0.9s ease
						cursor: pointer
						&:hover
							color: #1c1c1a
							background: url(../images/icon/photo-hover.png) no-repeat center 0

				.woh-bottom-active
					width: 323px
					padding: 0px
					margin: 0px
					z-index: 999
					.active-woh-detail
						text-transform: none
						width: 100%
						height: 50px
						color: $white
						font-size: 14px
						text-align: center
						font-weight: 400
						font-family: $bodyfont
						display: none
						height: 50px
						position: absolute
						background: #91c1aa
						left: 0
						bottom: 0
						.woh-panel
							float: left
							padding: 22px 11px 0px 11px
							margin: 0px 
							background: url(../images/foundation/woh-panel.png) no-repeat top center
							cursor: pointer
							&:hover
								color: #f9e7d2
						.woh-photo
							float: left
							padding: 22px 11px 0px 11px
							margin: 0px 
							background: url(../images/foundation/woh-photo.png) no-repeat top center
							cursor: pointer
							&:hover
								color: #f9e7d2
						.woh-bio
							float: left
							padding: 22px 11px 0px 11px
							margin: 0px 
							background: url(../images/foundation/woh-bio.png) no-repeat top center
							cursor: pointer
							&:hover
								color: #f9e7d2
						.woh-crt
							float: left
							padding: 22px 11px 0px 11px
							margin: 0px 
							background: url(../images/foundation/woh-certificate.png) no-repeat top center
							cursor: pointer
							&:hover
								color: #f9e7d2

		.woh-loadmore-btn
			font-size: 20px
			text-transform: uppercase
			font-weight: 400
			color: #828383
			font-family: $bodyfont
			margin: 0px 0px 0px 34%
			padding: 0px
			width: 323px
			height: 40px
			text-align: center
			background-color: #f5f5f5
			clear: both
			border: none
			cursor: pointer
			&:hover, &:focus
				background-color: $blue
				color: $white


/*Stylesheet for wall of honor about*/
.woh-about-contentbox
	width: 950px
	padding: 0px
	margin: 50px auto
	.woh-about-filterbox
		width: 950px
		min-height: 228px
		margin-top: 67px
		float: left
		background: $white
		.top-section
			width: 870px
			padding: 25px 40px 40px 40px
			float: left
			background: #f6f7f8
		h1
			font-family: $headings
			font-size: 30px
			line-height: 40px
			color: $blue
			margin: 0px 
			padding: 0px
			font-weight: 600
			text-transform: uppercase
		p
			font-family: $bodyfont
			font-size: 16px
			line-height: 18px
			color: #454b50
			margin: 0px 
			padding: 0px
			font-weight: 100
			font-style: italic
		ul
			width: 100%
			padding: 10px 0 30px 40px
			float: left
			margin: 0px
			li
				float: left
				width: 145px
				min-height: 40px
				display: block
				padding: 90px 0px 0px 0px
				margin: 0px
				list-style-type: none
				cursor: pointer
				font-size: 17px
				background: url(../images/foundation/woh-filter-grey.png) no-repeat center 30px
				&.active
					background: url(../images/foundation/woh-filter-active.png) no-repeat center 30px
					p
						color: #1e1f21
				&.complete
					background: url(../images/foundation/woh-filter-darkgrey.png) no-repeat center 30px
					p
						color: #1e1f21
				.chk-right
					width: 29px
					height: 29px
					float: right
					padding: 0px
					margin: -60px 33px 0px 0px 
					position: relative
					background: url(../images/foundation/woh-chk-grey.png) top center no-repeat
					&:hover, &.active
						background: url(../images/foundation/woh-chk-green.png) top center no-repeat
				span
					font-size: 30px
					color: $white
					text-align: center
					padding: 0px 0px
					margin: -61px 57px
					position: absolute
					font-weight: 300
					font-family: $bodyfont
					text-transform: none
					z-index: 6
				p
					color: #c1c9d3
					font-size: 16px
					line-height: 20px
					font-weight: 300
					text-align: center
					font-family: $bodyfont
					font-style: normal
					text-transform: none
				&:hover, &.active
					background: url(../images/foundation/woh-filter-active.png) no-repeat center 30px
					p
						color: #1e1f21
				&.visited
					background: url(../images/foundation/woh-filter-darkgrey.png) no-repeat center 30px
					p
						color: #5f676b
					

						
	.filter-box-content
		width: 885px
		min-height: 575px
		padding: 30px 30px 50px 35px
		margin: 0px 0 30px 0	
		float: left
		background: url(../images/passenger-search/woh-bg.png) repeat 0 0
		.checkbox-content
			label
				font-weight: 300
				font-size: 20px
				text-transform: none
			input[type="checkbox"]
				float: left
				margin: 5px 10px 0 0	
		.black-top-bg
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 52px
			bottom: 44px
			background: url(../images/foundation/black-top.png)	
		.black-top-bg2
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 211px
			bottom: 44px
			background: url(../images/foundation/black-top.png)	
		.black-top-bg3
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 354px
			bottom: 44px
			background: url(../images/foundation/black-top.png)	
		.black-top-bg4
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 500px
			bottom: 44px
			background: url(../images/foundation/black-top.png)
		.black-top-bg5
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 645px
			bottom: 44px
			background: url(../images/foundation/black-top.png)
		.black-top-bg6
			width: 36px
			height: 14px
			position: relative
			z-index: 2
			left: 795px
			bottom: 44px
			background: url(../images/foundation/black-top.png)			

		h1		
			color: $white
			font-size: 24px
			font-weight: 100
			text-align: center
			font-family: $bodyfont
			font-style: italic
			padding: 0px 30px
			margin: 0px 0px 40px 0px
			text-transform: none
		h3		
			color: $white
			font-size: 18px
			font-weight: 100
			text-align: left
			font-family: $bodyfont
			font-style: italic
			margin: 0px 0px 40px 0px
			text-transform: none
		h4		
			color: $white
			font-size: 28px
			font-weight: 200
			text-align: left
			font-family: $bodyfont
			font-style: normal
			margin: 0px 0px 20px 0px
			text-transform: none
			&.padd-left
				margin-left: 40px
		h5		
			color: $white
			font-size: 18px
			font-weight: 200
			text-align: left
			font-family: $bodyfont
			font-style: normal
			margin: 0px 0px 25px 0px
			text-transform: none
			width: 100%
			float: left
			.left
				width: 300px
				float: left
		p		
			color: $white
			font-size: 20px
			font-weight: 100
			text-align: left
			font-family: $bodyfont
			font-style: normal
			padding: 0px 0px
			text-transform: none
			margin: 5px 0
			span
				color: $pink
				font-weight: 400
		.crt-copy
			width: 114px
			height: 49px
			line-height: 49px
			text-align: center
			color: $white
			font-size: 18px
			font-weight: 400
			font-family: $bodyfont
			padding: 0px
			float: left
			font-style: normal
			background: #5f676b
			text-transform: none
			cursor: text
			border: none
			margin-top: 15px
			&:hover, &:focus
				background: $blue
				color: $white
		.crt-copy-btn
			width: 127px
			height: 50px
			line-height: 50px
			text-align: center
			color: $white
			font-size: 20px
			font-weight: 400
			font-family: $bodyfont
			margin: 40px 40% 0px 0%
			padding: 0px
			font-style: normal
			background: $blue
			text-transform: uppercase
			border: none
			&:hover, &:focus
				background: #2871a9
		#submitorder
			font-size: 20px
			margin-top: 40px

		.crt-green-btn
			width: 127px
			height: 43px
			line-height: 43px
			text-align: center
			color: $white
			font-size: 16px
			font-weight: 400
			font-family: $bodyfont
			margin: 0px 0px 0px 0px
			padding: 0px
			font-style: normal
			background: $green
			text-transform: uppercase
			border: none
			float: left
			&:hover, &:focus
				background: $blue
		.content-block
			width: 285px
			min-height: 450px
			float: left
			margin-right: 10px
			background: $white
			cursor: pointer
			position: relative
			&:hover, &.active
				width: 305px
				margin-right: 0
				margin-left: -10px
				position: relative
				z-index: 1234
				min-height: 470px
				margin-top: -10px
				position: relative
				z-index: 12345
			h1
				width: 100%
				height: 74px
				background: #acb0b6
				padding: 5px 0px 0px 0px
				margin: 0px
				text-align: center
				font-size: 30px
				line-height: 30px
				color: $white
				font-family: $bodyfont
				font-weight: 100
				font-style: normal
			h2
				width: 255px
				height: 18px
				padding: 24px 15px
				margin: 0px
				text-align: left
				font-size: 15px
				color: #575b61
				font-family: $bodyfont
				font-weight: 400
				text-transform: none
			p
				padding: 20px 30px 20px 30px
				margin: 0px
				text-align: center
				font-size: 11px
				line-height: 12px
				color: #afb7c0
				font-style: italic
				font-family: $bodyfont
				font-weight: 300
			ul
				width: 255px
				padding: 0px 15px
				margin: 0px
				list-style-type: none
				li
					display: block
					width: 210px
					text-align: left
					font-size: 15px
					line-height: 17px
					color: #78797b
					font-family: $bodyfont
					font-weight: 400
					padding: 10px 0px 10px 45px 
					border-bottom: 1px solid #dddfe2
					background: url(../images/foundation/woh-box-bullet.png) no-repeat 0 0
					cursor: pointer
					&:last-of-type
						border-bottom: none
					&:hover, &.active
						color: $white
						background: url(../images/foundation/woh-box-bullet-active.png) no-repeat 0 0 #5d9bcc

			.dollar-space
				min-width: 33px
				height: 25px 
				float: left
				background: #cdd1d5
				padding-left: 10px
				font-size: 15px
				line-height: 25px
				color: #78797b
				font-family: $bodyfont
				font-weight: 400
				position: absolute
				bottom: 0px
				left: 0
				&.price-cut
					overflow: line-through
				span
					width: 16px
					height: 25px
					float: left
					position: absolute
					bottom: 0px
					right: -16px
					background: url(../images/foundation/dollar-bg.png) no-repeat top left
			.left
				position: absolute
				left: 80px
				bottom: 0

			&:hover, &.active
				-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				-moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)
				box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.81)

				h1
					background: #e04163
					color: $white
				.dollar-space
					background: #e04163
					color: $white
				span
					background: url(../images/foundation/dollar-bg-blue.png) no-repeat top left

/*Stylesheet for wall of honor about add name*/
.error-msg
	min-width: 800px
	min-height: 26px
	padding: 0px 35px
	margin: 0px 0px 30px 20px
	background: url(../images/foundation/error.png) no-repeat center left
	color: $pink
	font-family: $bodyfont
	font-weight: 400
	font-size: 18px
	line-height: 29px
.and-center
	font-weight: 700!important



.btc-box
	width: 270px
	padding-left: 15px
	margin-bottom: 20px
	float: left
	&.large
		width: 100%
		float: left
	#is_usa
		margin: 11px 5px 0 0
		padding: 0
	.btc-disc
		width: 100%
		min-height: 47px
		margin: 0px!important
		padding-top: 56px
		color: rgba(180, 196, 204, 0.7)!important
		font-size: 12px!important
		font-style: italic!important
		font-family: $bodyfont
		font-weight: 400
		text-transform: none
		line-height: 14px
		
	h2
		width: 100%
		padding: 0px 0px
		margin: 0px
		text-align: left
		font-size: 20px
		line-height: 35px
		color: $white
		font-family: $bodyfont
		font-weight: 300
		text-transform: none
		span
			font-style: italic
			color: #E04163

	input[type="text"], select
		background: #5f676b
		border: none
		font-size: 16px
		color: adjust-lightness($white, -25%)
		font-family: $bodyfont
		font-weight: 200
		min-width: 241px
		height: 49px
		padding: 0px 15px
		margin: 0px
		line-height: 49px
		font-style: normal
		box-shadow: none
		float: left
		cursor: text
		text-transform: none
		+transition-property(all)
		+transition-duration(.5s)
		+transition-timing-function(ease-in)	
		&:hover, &:focus
			background-color: adjust-lightness($blue, -10%)
			color: $white			
	select
		width: 271px
		height: 49px
		line-height: 49px
		color: $white	
		background: #5f676b
		float: left
.btc-btn
	width: 127px
	height: 50px
	line-height: 50px
	text-align: center
	color: $white
	font-size: 20px
	font-weight: 400
	font-family: $bodyfont
	margin: 0px 40% 0px 40%
	padding: 0px
	font-style: normal
	background: $blue
	text-transform: uppercase
	border: none
	&:hover, &:focus
		background: #2871a9

		



/*Stylesheet for wall of honor visiting*/
.woh-visiting-section
	width: 870px
	min-height: 700px
	padding: 45px 40px 40px 40px
	margin-top: 190px
	background: $white	
	h1
		font-family: $headings
		width: 100%
		font-size: 30px
		line-height: 40px
		color: $blue
		margin: 0px 
		padding-bottom: 25px
		border-bottom: 1px solid #ced2d5
		font-weight: 600
		text-transform: uppercase
	img
		width: 100%
		height: 311px
		float: left
		margin-top: 30px
		padding: 0px
	.visiting-section-content
		width: 100%
		min-height: 252px
		margin: 0px
		padding: 0px
		.vsc-left
			width: 60%
			height: 252px
			float: left
			margin: 0px
			padding: 20px 0px
			background: #e6eaed
			overflow: auto
			overflow-x: hidden
			h2
				color: #202224
				font-family: $bodyfont
				font-size: 25px
				line-height: 30px
				margin: 0px
				padding: 0px 20px 
				font-weight: 300
				text-transform: none
				font-style: italic
			p
				color: #454b50
				font-family: $bodyfont
				font-size: 18px
				line-height: 25px
				margin: 0px
				padding: 0px 20px 
				font-weight: 200
				text-transform: none
				font-style: none

		.vsc-right
			width: 40%
			min-height: 262px
			float: right
			margin: 0px
			padding: 15px 0px
			background: $green
			h2
				color: $white
				font-family: $bodyfont
				font-size: 27px
				line-height: 34px
				margin: 0px auto
				padding: 0px 20px 10px 20px 
				font-weight: 300
				text-transform: none
				font-style: italic
				width: 75%
				border-bottom: 1px solid $white
			span
				margin-top: 25px
				min-width: 255px
				min-height: 54px
				padding: 0px 20px
				float: left
			p
				color: $white
				font-family: $bodyfont
				font-size: 18px
				line-height: 24px
				margin: 0px
				padding: 0px
				font-weight: 300
				text-transform: uppercase
				font-style: none
				a
					color: $white
					text-decoration: underline
				a:hover
					color: $pink
					text-decoration: underline
				strong
					font-weight: 400
					font-family: $headings		


/*Stylesheet for wall of honor visiting*/
.woh-about-slide
	width: 870px
	min-height: 650px
	padding: 45px 40px 40px 40px
	margin-top: 190px
	background: #eff0f1
	.about-slide-top
		width: 100%
		min-height: 70px
		border-bottom: 1px solid #ced2d5
		margin: 0px
		padding: 0px
		h1
			font-family: $headings
			font-size: 30px
			line-height: 70px
			color: $blue
			margin: 0px 
			padding: 0px
			font-weight: 600
			float: left
			text-transform: uppercase
		span
			width: 320px
			height: 48px
			float: right
			padding: 0px
			margin: 0px
			.slide-white-text
				width: 183px
				height: 40px
				margin: 0px
				padding: 4px 10px
				float: left
				background: $white
				p
					font-family: $bodyfont
					color: #2d3236
					font-size: 20px
					font-weight: 200
					line-height: 20px
					text-transform: none
					margin: 0px
					padding: 0px
					strong
						font-weight: 600
						font-size: 20px
						color: $black
			.slide-search-btn
				width: 65px
				height: 48px
				line-height: 48px
				color: $white
				font-size: 16px
				font-weight: 400
				text-transform: uppercase
				text-align: left
				padding: 0px 0px 0px 35px
				margin: 0px
				float: left
				cursor: pointer
				background: $green url(../images/foundation/woh-about-search.png) no-repeat 10px center
				&:hover, &:active
					background: $blue url(../images/foundation/woh-about-search.png) no-repeat 10px center
	.about-slide-bottom
		width: 100%
		height: 550px
		margin-top: 30px
		padding: 0px
		overflow: auto
		overflow-x: hidden
		h1
			color: #202224
			font-family: $bodyfont
			font-size: 27px
			line-height: 35px
			margin: 0px
			padding: 0px 0px 
			font-weight: 300
			text-transform: none
			font-style: italic
		p
			color: #454b50
			font-family: $bodyfont
			font-size: 20px
			line-height: 28px
			margin: 0px
			padding: 0px 0px 
			font-weight: 200
			text-transform: none
			font-style: none
		img
			float: left
			padding: 0px
			margin: 0px 20px 20px 0px




.form-row
	width: 100%
	float: left



.white-bg-detail
	width: 96%
	float: left
	background: #fff
	min-height: 530px
	padding: 3% 2%
	color: #E04163
	strong
		font-weight: 600



label.error
	color: #E04163	
	font-weight: normal
	text-transform: none

#fli4Form
	.left-detail
		width: 350px
		float: left
		.img-box
			width: 311px
			height: 211px
			border: 2px solid #5496c9
			display: table-cell
			text-align: center
			line-height: 211px
			float: left
			img
				vertical-align: middle
				

	.right-detail
		width: 530px
		float: left

.pad-left
	padding-left: 15px
	float: left

.strong
	font-weight: 700!important


.additional-plus
	width: 100%
	float: left
	.btc-box
		width: 240px
		float: left
		padding: 0 15px 0 0
		min-height: 20px
		margin-bottom: 10px
		&.none
			margin-bottom: 0
		h2
			line-height: auto
		input
			min-width: 211px
			float: left
	.plus-box 
		float: right
		margin-top: 6px


.price-cut
	text-decoration: line-through 
	font-weight: 500

.for-error-full
	width: 100%
	float: left
	.error
		width: 100%
		float: left

.mar-left-15
	margin-left: 15px



.cart-main-bg
	width: 100%
	float: left
	background: url(../images/cart-main-bg.png) repeat 0 0
	padding-bottom: 30px





.woh-list-view
	width: auto
	float: right
	a.list-view
		width: 44px
		float: left
		height: 43px
		margin-left: 8px
		background: url(../images/passenger-search/woh-viewList.png) repeat 0 0
		+transition-property(all)
		+transition-duration(.5s)
		+transition-timing-function(ease-in)
		cursor: pointer
		&:hover, &.active
			background-image: $blue url(../images/passenger-search/woh-viewList.png) no-repeat 0 bottom	
			background-color: adjust-lightness($blue, -10%)
			
	a.grid-view
		width: 44px
		float: left
		height: 43px
		margin-left: 15px
		background: url(../images/passenger-search/woh-viewList.png) repeat right 0
		+transition-property(all)
		+transition-duration(.5s)
		+transition-timing-function(ease-in)
		cursor: pointer
		&:hover, &.active
			background-image: $blue url(../images/passenger-search/woh-viewList.png) no-repeat right bottom
			background-color: adjust-lightness($blue, -10%)
			