/*=============================
	Name: SOLEIF
	Date: July. 2013
	Description: SOLEIF
	Version: 2.0
	Author: Icreon
	Autor URI: Icreon.com
==============================*/

/*
Import css
=======================*/
@import "reset.css";
@import "elements.css";
@import "select2.css";



/*
Default styles here
=======================*/
p{}
.left{float:left;}
.right{float:right!important;}
.full{float:left; width:100%;}
.curv{float:left; width:100%;}
.curv {float:left}
.clear{clear:both;}



/*
Standard background-colors
===========================*/
$cocoa-brown:#261817;
$zeus:#2f2a20;
$soya-bean:#645E50;
$napa:#ada495;
$mine-shaft:#2f2f2f;
$alabaster:#f8f8f8;
$alto:#d5d5d5;
$foggy-gray:#CCC6B8;
$pampas:#efece4;
$guardsman-red:#c00404;
$supernova:#ffcc01;
$shadow-green:#91c1ab;
$acapulco:#7dad97;
$danube:#5496ca;
$wild-sand:#f4f4f4;
$flamingo:#f36523;
$soya-bean:#645e50;
$napa:#ada495;
$tree-poppy:#f7941d;
$valencia:#d33f3f;
$green-haze:#00a652;
$amaranth:#e62753;
$white:#ffffff;

/*
Standard hover-colors
===========================*/
$shadow-green-hover:#7dad97;
$danube-hover:#2d6c9e;
/*
Standard font colors
===========================*/
$white-text:#ffffff;
$silver-text:#a5a5a5;
$head-text:#454545;
$scorpion-text:#636161;
$gry-text:#5d5757;
$gry-border:#e1e1e1;
$black-text:#000000;
/*
Fonts
=========================================*/
$open_sansbold: 'open_sansbold';
$open_sansitalic: 'open_sansitalic';
$open_sansregular: 'open_sansregular';
$open_sanssemibold: 'open_sanssemibold';
$open_sanslight: 'open_sanslight';
$open_sansextrabold: 'open_sansextrabold';
.relative{position: relative;}
.cursor-default{cursor: default !important;}
.txt-decoration-underline{text-decoration:underline !important;}

/*
starts header
=========================================*/
.outer-wrapper{width:100%; float: left;}
#header{width: 100%; float: left; background:url('../img/header-bg.jpg') repeat-x 0 0; height: 140px;
.logo{width:632px; float:left; height:69px; margin:35px 0 30px 20px;}
.right-detail{width:auto; float:right; margin:32px 14px 0 0;
figure{width: 72px; float: left; height:72px; margin-right:17px; border:2px solid #8c8f8c;
img{width:72px; float:left; height:72px;}}
span{font-size:16px; line-height:18px; color:$silver-text; font-family: $open_sansregular;
strong{color:$scorpion-text;  font-family:$open_sanssemibold;}}
ul{list-style: none; margin-top:21px; display: block;
li{float: left;
&.fist{ float: left; position: relative;
small{width:22px; height:18px; float:left;  background:$amaranth; text-align: center; color:$white-text; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; position: absolute; right: 4px; top:-9px;}
a{width:36px; float:left; height:28px; margin-right:10px; background:$shadow-green; text-align: center; padding-top: 8px;
&:hover{ background:$shadow-green-hover;}}}
&.last{float: left;
a{width:91px; float:left; height:27px; padding-top:9px;  background:$danube; font-size:15px; line-height:17px; font-family:'open_sansregular'; color:$white-text; text-align: center; text-transform: uppercase; text-decoration: none;
&:hover{background:$danube-hover;}
}}
}}}}




/*
starts footer
=========================================*/
#footer{width:100%; float:left; height:65px; background:$mine-shaft; /*left: 0px; bottom: 0px; position: fixed;*/ margin-bottom: -65px;
p{font-size:15px; font-weight:normal; color:$white-text; font-family:$open_sanslight; float:left; padding:25px 0 0 25px;}
span{font-size:13px; font-weight:normal; color:$white-text; font-family:$open_sanslight; float:right; padding:25px 25px 0 0px;
a{text-decoration: underline; color: #fff; &:hover{text-decoration:none;}}
}
}

#forgot-password{width:620px; margin:180px auto;
.create-contacts{margin-bottom:401px;}
}
/*
Login Page
=========================================*/
.border-top{ border-top:5px solid $mine-shaft;}
.login-page{width:518px; margin:160px auto 0;
.error-msg{background: none; padding-left: 0px;}
.logo{width:auto; float: left; height: 55px;}
.detail-box{width:388px; float: left; border:1px solid $gry-border; background:#e9e9e9; padding:40px 66px 48px 62px; margin-bottom:300px;
h3{display: block; font-size:24px; line-height:27px; font-family:"Georgia"; padding-bottom: 25px; color:$head-text;}
form{width: 100%; float:left;}
.row{width:100%; float: left; padding-bottom:20px;}
.input-bg-email{width: 300px; float: left; height:22px; background: $white url('../img/sprite.png') repeat-x 0 0; padding:13px 18px 15px 70px; }
.input-bg-pass{width: 300px; float: left; height:22px; background: $white url('../img/sprite.png') repeat-x 0 -70px; padding:13px 18px 15px 70px; }
input{width: 100%; float: left; background:none; font-size:17px; line-height: 19px; color: $head-text; font-family:$open_sansregular; border:0;}
input.reset{background: #fff; font-size: 13px; margin-top: 5px; width:374px; padding:9px 7px;}
.link{float: right; font-size:13px; color: #fd0e0e; font-family:$open_sansregular; padding-top:7px; 
&:hover{text-decoration:none;}}
.checkbox{float:left; width: auto; margin-right:8px;}
.radio{float:left; width: auto; margin-right:8px;}
label{float: left; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular; }
.button{width: 100%; float: left; height:50px; background:$danube; text-align: center; font-size:24px; line-height: 17px; cursor: pointer; color: $white-text; font-family:$open_sanssemibold;
&:hover{background:$danube-hover;}
 }
}}



/*
Left Container
=========================================*/
.fnone{float: none!important}
.body-container{width:100%; float:left; padding-bottom: 65px; background:url('../img/left-bg.jpg') repeat-y 0 0;}
#left-section{width:197px; float:left;  background:url('../img/left-bg.jpg') repeat-y 0 0; min-height:800px; height:auto!important; height:800px;
ul{width: 100%; float: left; list-style:none;
&.sub-menu{width: 100%; float: left; background:url('../img/menu-normal.jpg') repeat-y 0 0; display: none;
li{float: left; width:100%; border-top: 1px solid #c8c8c8; font-size: 12px; line-height: 14px; color:$scorpion-text; font-family:$open_sansregular;
&.last{border-bottom: 0px;}
a{text-decoration: none; width: 127px; float: left; text-decoration: none; color:$scorpion-text; padding:14px 0 13px 70px; background:url('../img/m-icon.png') no-repeat 56px center;
&:hover{background:$white url('../img/m-hover.png') repeat-y 0 center;}
&.active{background:$white url('../img/m-hover.png') repeat-y 0 center;}
}}}

li{float: left; border-bottom: 1px solid #e0e0e0; font-size: 15px; line-height: 17px; color:$scorpion-text; font-family:$open_sansregular;
a{width: 142px; float: left; text-decoration: none; color:$scorpion-text; padding:15px 0 17px 55px; background:url('../img/menu-icon.png') repeat-y 0 0;

&.dashboard{background:url('../img/menu-icon.png') repeat-y 17px 0px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px 0px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px 0px;}}

&.contacts{background:url('../img/menu-icon.png') repeat-y 17px -51px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -51px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -51px;}}

&.cases{background:url('../img/menu-icon.png') repeat-y 17px -97px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -97px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -97px;}}

&.pledges{background:url('../img/menu-icon.png') repeat-y 17px -149px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -149px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -149px;}}

&.leads{background:url('../img/menu-icon.png') repeat-y 17px -198px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -198px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -198px;}}

&.campaigns{background:url('../img/menu-icon.png') repeat-y 17px -248px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -248px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -248px;}}

&.activities{background:url('../img/menu-icon.png') repeat-y 17px -298px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -298px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -298px;}}

&.products{background:url('../img/menu-icon.png') repeat-y 17px -347px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -347px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -347px;}}

&.transactions{background:url('../img/menu-icon.png') repeat-y 17px -400px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -400px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -400px;}}

&.documents{background:url('../img/menu-icon.png') repeat-y 14px -448px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 14px -448px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 14px -448px;}}

&.cms{background:url('../img/menu-icon.png') repeat-y 17px -499px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -499px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -499px;}}

&.users{background:url('../img/menu-icon.png') repeat-y 17px -547px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -547px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -547px;}}

&.promotions{background:url('../img/menu-icon.png') repeat-y 17px -600px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -600px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -600px;}}

&.settings{background:url('../img/menu-icon.png') repeat-y 17px -647px ;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -647px ;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -647px ;}}

&.reports{background:url('../img/menu-icon.png') repeat-y 17px -699px;
&:hover{background:$white url('../img/menu-icon.png') repeat-y 17px -699px;}
&.active{background:$white url('../img/menu-icon.png') repeat-y 17px -699px;}}

}}}}



/*
Right Container
=========================================*/
#right-section{float: none; margin-left:212px; margin-right: 14px; padding-top: 10px; position: relative;
h2{display: block; font-size:36px; line-height:40px; font-family:"Georgia"; padding-bottom: 10px; color:$head-text; font-weight: normal;}
h3{display: block; font-size:22px; line-height:26px; font-family:"Georgia"; padding:5px 0px; color:$head-text; font-weight: normal;}
.search-text{font-size:13px; line-height:18px; font-family:$open_sansregular; color:$gry-text; font-weight:normal; float: left;
a{color: $danube;
&:hover{text-decoration:none;}}}
}

.breadcrumb{width:100%;float:left; padding-bottom:10px; font-size: 13px; line-height:15px; font-family:$open_sansregular; color:#726c6c;
	&.case{width:50%;}
&.contact-breadcrumb{width:100%; float:left; position: absolute; left:0px; top: 59px;}
a{text-decoration:underline; color:$danube; padding-right:2px; 
&:hover{text-decoration:none;}
}	
ul{width:100%; float: left; list-style:none;
li{float: left; font-size: 13px; line-height:15px; font-family:$open_sansregular;  margin-right:4px;
a{text-decoration:none; color:#726c6c;
&:hover{color:#726c6c;}
&.active{color:$danube; text-decoration:underline;
&:hover{text-decoration:none;}
}}}}}




/*
Create Contacts
=========================================*/
.link{font-size:13px; line-height: 16px; color:$danube; font-family:$open_sansregular; text-decoration: underline; cursor: pointer;
&:hover{text-decoration:none;}}
.contact-photo{position:relative; .photo{position:absolute; left:0px; top:0px; img{width: 150px; height: 160px; float:left;}}}
.create-contacts{width: 100%; float: left;
.communication .select2-container{ width:270px}
.communication input[type="text"]{ width:237px}
.select2-container-multi { background:white; min-height: 30px; padding: 5px 0 0 5px; border: 1px solid #b0b0b0}
.view-contact-bg{width:100%; float: left; background:#f5f4f4;
.inner-padding{padding:.5%; float:left; width: 99%}}

.accordion-detail{width:100%; float: left;}
.detail-row{margin-bottom:16px; width:100%; float:left;}
.head{width: 100%; float: left;  font-size:18px; line-height: 21px; color:$white-text; font-family:$open_sanssemibold; height: 40px; margin-top:15px; cursor: pointer; background:$danube url('../img/menu-icon.png') repeat-y right -795px;
&.active{background:$danube url('../img/menu-icon.png') repeat-y right -848px;}
&.no-img{background:$danube;}
span{float: left; padding:9px 0 0 18px;}	
}
.detail-section.white-bg{width:96.9%; float: left; background:$white; padding: 1.5%; border: 1px solid $gry-border; border-top:0px;}
.detail-section1{width:97%; float: left; background:#dde0e3; padding:.6% 1.5%;}
.detail-section{width:97%; float: left; background:#f5f4f4; padding: 1.5%;}
.row, .view-row{width:100%; float: left; padding-bottom:15px;
	&.alterbg{padding:1%; width:98%; background: #E6E6E6; margin-bottom: 10px;
		strong{font-weight: bold !important; color:#595959 !important}
p{padding-bottom:10px;  clear: both;}
	}
&.alterbg-none{padding:1%; width:98%; margin-bottom: 10px; background:none;
p{padding-bottom:10px;}
strong{font-weight: bold !important; color:#595959 !important}
}
&.padd-15{padding-bottom:15px;}
&.no-padd{padding-bottom:0px;}
}
.row1{width:100%; float: left; padding-bottom:15px;}
.row3{width:100%; float: left; min-height: 38px; height: auto!important; height:38px;}
.view-row{width:100%; float: left; padding-bottom:16px; font-size: 14px; line-height:23px; color:#636161;  font-family:$open_sansregular; word-wrap: break-word;
strong{font-size:15px; line-height:20px;  color:#373232; font-family: $open_sansregular}
span{color:#373232; }
 }
.text{font-size:13px; line-height:19px; color:$head-text; font-family:$open_sansregular;
strong{font-weight:bold;}
&.w-90{width:90%; float: left;}}
.text-large{font-size:15px; line-height:19px; color:$head-text; font-family:$open_sansregular;}
.age-year{font-size:11px; line-height:16px; color:$head-text; font-family:$open_sansregular; font-style: italic; padding-left: 144px; width: 50%; float: left;
&.pad-l-190{padding-left:190px; width: 80%}
&.auto{width: auto;}}
.text-bold{font-size:14px; line-height:19px; color:#393939; font-family:$open_sanssemibold; width: 100%; float: left; padding-bottom:13px; word-wrap:break-word;}
.exitvalue{font-size:13px; line-height:19px; color:$head-text; font-family:$open_sansregular; padding-top:8px; float:left;}
.view-text{font-size:13px; line-height:19px; color:$black-text; font-family:$open_sansregular; padding-top:8px; float:left;
&.width-50{width: 50%;}}
label{width:144px; float: left; font-size:14px; line-height: 16px; color:$scorpion-text; font-family:$open_sansregular; padding: 9px 0px;
small{color:red;}
&.pad-top-5{padding-top:5px;}
&.width-190{width:190px;}
&.width-90{width:90px;}
&.width-110{width:100px;}
&.radio{width:auto; font-size:13px; line-height:19px; color:$head-text; font-family:$open_sansregular; padding:2px 4px 7px 27px!important;}
&.check{width:auto; font-size:13px; line-height:19px; color:$head-text; font-family:$open_sansregular; padding:1px 5px 7px 30px!important;}			
&.auto{width: auto; padding: 9px 4px 0;}}
.col1{width:45%; float:left;}
.col2{width:20%; float:left;}
.col3{width:16%; float:left;}
.col4{width:30%; float:left;}
.col5{width:10%; float:left;}
.col6{width:24%; float:left;}
.col7{width:40%; float:left;}
.col8{width:33%; float:left;}
.col11{width:11%; float:left;}
.col12{width:55%; float:left;}
.col13{width:49%; float:left;}
.col14{width:15%; float:left;}
.col15{width:31%; float:left;}
a.add-address, a.delete-address{width:auto; float:left; height:26px; background:$danube url('../img/sprite.png') no-repeat 0 -246px; font-size:15px; line-height:17px; color:$white-text; text-decoration:none; font-family:$open_sanssemibold; text-transform: uppercase; padding:8px 15px 0 49px; cursor: pointer;
&:hover{background-color:$danube-hover}
&:focus{outline: 1px dotted #ccc;}}
a.delete-address{background:#91c1ab url('../img/sprite.png') no-repeat 0 -281px;
&:hover{background-color:#71ac91}
&:focus{outline: 1px dotted #ccc;}
}

ul.tags{width: 100%; float:left; list-style:none; margin-bottom: 15px;
li{float:left; margin-right:10px; font-size:13px; line-height:16px; font-family:$open_sansitalic; background: #dde0e3;   
a{text-decoration: none; float: left; color: $head-text; background: #dde0e3 url('../img/sprite.png') no-repeat right -282px; padding:6px 34px 6px 8px;}
}}
.basic-text{float: left; font-size:13px; color:#6f6f6f; font-family:$open_sansregular; padding: 10px 0 0 20px;
a{color:$danube; &:hover{text-decoration:none;}}}
a.doc-link{width:34px; height:34px; float: left; background:$shadow-green url('../img/sprite.png') no-repeat 7px -620px;
&:hover{background:$shadow-green-hover url('../img/sprite.png') no-repeat 7px -620px;}}

ul.edit-link{float: right; list-style: none; 
li{float:left; font-size:13px; line-height:19px; color:$head-text; font-family:$open_sansregular; margin-left:2px; margin-bottom:2px;
a{text-decoration: none; color:$white; background:$danube; padding: 4px 6px; float: left;
&:hover{background:$danube-hover;}
&.active{background:$danube-hover;}
}}}
}

 /*
====================== 
Note Tab
=========================================*/
.note-tab{width:100%; float:left; margin-top:20px;
ul{width: 100%; float:left; list-style: none;
li{float:left; width:auto; margin-right:5px;
a{float:left; text-decoration: none;  background:#ced1d3; color:#373232; font-size:16px; line-height:20px;  font-family:$open_sansregular; padding:10px 16px;
&.active{ background:#f5f4f4; }}}
}}


 /*
====================== 
Fommon form
=========================================*/
.e1, .select2-results{font-family: $open_sansregular;}
.common-form{width: 100%; float: left;
img{max-width: 100%;}
.save-btn{width: auto; float:left; font-size:15px; line-height:35px; text-decoration: none; border:0px; background:$danube; color:$white-text; height:34px; cursor: pointer; font-family:$open_sansregular; padding: 0 14px; text-transform: uppercase;
&:hover{background:$danube-hover; }
&:focus{outline: 1px dotted #ccc;}}
.cancel-btn{width:auto; float:left; font-size:15px; text-transform:uppercase; text-decoration: none; line-height: 35px; border:0px; background:$shadow-green; color:$white-text; height:34px; cursor: pointer;padding: 0 15px;
&:hover{background:$shadow-green-hover; }
&:focus{outline: 1px dotted #ccc;}}
.search-btn{width:auto; float:left; font-size:15px; line-height: 18px; border:0px; background:$danube url('../img/sprite.png') no-repeat left -316px; text-decoration: none; color:$white-text; height:16px; cursor: pointer; font-family:$open_sansregular; padding:11px 14px 11px 50px; text-transform: uppercase;
&:hover{background:$danube-hover url('../img/sprite.png') no-repeat left -316px;; }
&:focus{outline: 1px dotted #ccc;}}

.remove{width:auto; float:left; font-size:15px; line-height: 18px; border:0px; background:$danube; text-decoration: none; color:$white-text; height:16px; cursor: pointer; font-family:$open_sansregular; padding:11px 14px 11px 14px; text-transform: uppercase;
&:hover{background:$danube-hover;}
&:focus{outline: 1px dotted #ccc;}}

input.search-btn{ height: auto; padding: 8px 14px 8px 50px}
a.plus{width: 34px; float: left; height: 34px; background:url('../img/sprite.png') no-repeat 0 -143px;
&:hover{background-position:-34px -143px;}
&:focus{outline: 1px dotted #ccc;}}
a.minus{width: 34px; float: left; height: 34px; background:url('../img/sprite.png') no-repeat 0 -187px; cursor: pointer;
&:hover{background-position:-34px -187px;}
&:focus{outline:1px dotted #ccc;}}
form{width:100%; float:left;}
fieldset{width:100%; float:left;}
.readonly-text{background:#DDE0E3!important; cursor: default; }
input[type="text"], input[type="file"], input[type="password"]{background-color:$white; border:1px solid #b0b0b0; font-size:13px; line-height:16px; color:#373232; float: left; width:295px; padding:8px 7px; font-family:$open_sansregular;
&.width-190{width:190px;}
}
input.width-272{width:272px;}
input.width-250{width:250px;}
input.width-260{width:260px!important;}
input.width-97{width:92px;}
input.width-130{width:130px;}
input.width-155{width:155px;}
input.width-200{width:200px;}
input.width-210{width:210px;}
input.width-134{width:134px;}
input.width-120{width:120px;}
input.width-124{width:124px;}
input.width-125{width:125px;}
input.width-500{width:500px;}
input.width-600{width:599px;}
input.width-80{width:79px;}
input.width-108{width:108px;}
input.width-106{width:106px;}
input.width-310{width:310px!important;}
input.width-386{width:386px!important;}
input.width-295{width:295px!important;}
input.width-17{width:7%!important;}
input.width-14{width:7%!important;}
input.none{background: none!important;}
.checkbox{float:left; margin:2px 7px 0 0; width:auto; padding:0px; width: 15px; height: 15px;}
.radio{float:left; margin:2px 7px 0 0; width:auto; padding:0px; width: 15px; height: 15px;}
textarea{background:$white; border:1px solid #b0b0b0; font-size:13px; line-height:15px; color:#373232; float: left; padding:1%; font-family:$open_sansregular; width:83%;}
textarea.width-90{width:83%;height:90px;}
textarea.width-250{width:83%;height:250px;}
textarea.width-60{width:60%;height:60px;}
textarea.width-65{width:65%;height:60px;}
textarea.width-87{width:87%;height:90px;}
textarea.width-300{width:300px;height:70px;}
.search-input-bg{background:$white; height:22px; border:1px solid #b0b0b0;  float: left; width: 295px; padding:6px 7px; font-family:$open_sansregular;
input{width:278px; float:left; background:none; border:0px; padding: 0px; font-size:13px; line-height:16px; color:#373232;}
.search-btn{width:22px; height:22px; float: right; border:0px; background:url('../img/sprite.png') no-repeat 0 -581px;}
}}

#contact-hideshow{display: none; width:100%; float:left;}
 

/*********************
Get contact page css
*****************************/
.create-contacts.get-contact{ 
input.calendar-input{ width:125px;}
.select2-container-multi{background:$white; min-height:30px; padding:5px 0 0 5px; border: 1px solid #b0b0b0}
.row.no-padd{ padding:10px 0px 0px 0px !important }
.row.no-padd .basic-text{padding:10px 14px 0 20px; background:url(../img/sprite.png) no-repeat right -402px;}
.col1{position: relative;}
}
.search-row{
.select2-container{ width:300px}
input[type="text"]{ width:220px}
.save-btn{ position: absolute; left:367px; top:0px;}
}
.search-row-2{
.select2-container{ width:300px}
input[type="text"]{ width:220px}
.width-155, .width-108{width: 123px!important}
}

  /*********************
Create Group page css
*****************************/
.select2-container{ width:310px;}
.create-contacts.create-group{ 
.select2-container{ width:310px;}
input.calendar-input{ width:90px;}
.select2-container-multi{background:$white; min-height:30px; padding:5px 0 0 5px; border: 1px solid #b0b0b0}
textarea{ width:83%; height:100px;}
#promotion_description{ width:65%; height:85px;}
#country{ width:310px; height:90px; border:1px solid #ccc;}
}
  /*********************
case page css
*****************************/
.create-contacts.case{
.search-input-bg { width:300px;
input[type="text"]{ width:270px}}
textarea{ width:294px; padding:10px;}
.select2-container{ width:315px}
input.width-97{ width:92px !important;}
input.width-128{ width:126px !important;}
.div-tab-reply, .div-tab-note{
textarea{ width:98%; padding: 1%}

}
}


/*********************
	Create new contact popup
*****************************/
.create-new-contact-popup{
input[type="text"]{width: 294px !important}
label.error{left:0px; top:-2px;}
}


/*********************
Common Grid Heading
*****************************/
.grid-section{width:100%; float:left; margin-top:10px;
.label1{width: 21px; height: 21px; float:left;}
.label2{width: 21px; height: 21px; float:left; background:#d43f41;}
.label3{width: 21px; height: 21px; float:left; background:#3979ab;}
.top-section{width: 100%; float: left; padding-bottom:9px;
.col1{width:20%; float:left;}

label{float:left; font-size:14px; line-height:17px; color:$scorpion-text; padding:2px 24px 0 0; color:$scorpion-text; font-family:$open_sansregular;}
a.link, .link{width:34px; height:34px; float: right; background:$shadow-green url('../img/sprite.png') no-repeat 0 -367px;
&:hover{background:$shadow-green-hover url('../img/sprite.png') no-repeat 0 -367px;}}}
.search-results{width:98%; float:left; background:#efeded; padding:.5% 1%;
h3{font-size:17px; line-height:21px; color:$gry-text; font-family:$open_sanssemibold; }
p{font-size:13px; line-height:17px; color:#8a8888; font-family:$open_sansitalic;
a{color:$danube; &:hover{text-decoration:none;}}}}
.grid-box{width:100%; float:left; font-family:$open_sansregular;}
}
#gview_list tr.jqgrow td{ overflow: visible; z-index: 9;}
#gview_list tr.jqgrow td .action-col{ width:auto; position: relative;}
#gview_list tr.jqgrow td a.view-icon, 
#gview_list tr.jqgrow td a.rma-slip, 
#gview_list tr.jqgrow td a.edit-icon, 
#gview_list tr.jqgrow td a.delete-icon, 
#gview_list tr.jqgrow td a.archiv-icon, 
#gview_list tr.jqgrow td a.search-grid,
#gview_list tr.jqgrow td a.add-icon, 
#gview_list tr.jqgrow td a.option_icon, 
#gview_list tr.jqgrow td a.save-icon,
#gview_list tr.jqgrow td a.cancel-icon,
#gview_list tr.jqgrow td a.stats-icon, 
#gview_list tr.jqgrow td a.create-grid,
#gview_list tr.jqgrow td a.receipt_icon,
#gview_list tr.jqgrow td a.lock-icon,
#gview_list tr.jqgrow td a.unlock-icon,
#gview_list tr.jqgrow td a.batch-icon,
#gview_list tr.jqgrow td .plus-sign a{font-size: 0px; float: left; position: relative;}
#gview_list tr.jqgrow td a.view-icon{ width:23px; height: 12px; background:url('../img/sprite.png') no-repeat -168px -187px; margin-top: 2px; }
#gview_list tr.jqgrow td a.edit-icon{width:16px; height: 16px; background:url('../img/sprite.png') no-repeat -209px -187px; margin-left:10px;}
#gview_list tr.jqgrow td a.delete-icon{height: 16px; width:16px; background:url('../img/sprite.png') no-repeat -247px -187px; margin-left:13px;}
#gview_list tr.jqgrow td a.archiv-icon{height:16px; width:16px; background:url('../img/sprite.png') no-repeat 0px -776px; margin-left:13px;}
#gview_list tr.jqgrow td a.add-icon{height:18px; width:18px; background:url('../img/sprite.png') no-repeat 0px -811px; margin-left:13px;}
#gview_list tr.jqgrow td a.receipt_icon{width:20px; height: 24px; background:url('../img/sprite.png') no-repeat -132px -144px; margin-left:10px;}
#gview_list tr.jqgrow td a.option_icon{width:17px; height:16px; background:url('../img/sprite.png') no-repeat 0 -1035px; margin-left:10px;}

#gview_list tr.jqgrow td .blue-icon a.view-icon{background-position: -207px -150px;}
#gview_list tr.jqgrow td .blue-icon a.edit-icon{background-position: -249px -150px;}
#gview_list tr.jqgrow td .blue-icon a.delete-icon{background-position: -287px -150px;}


#gview_list tr.jqgrow td a.search-grid{width:14px; height:14px; background:url('../img/grid-seach.png') no-repeat 0 0; margin-right:10px;}
#gview_list tr.jqgrow td a.create-grid{width:14px; height:14px; background:url('../img/grid-create.png') no-repeat 0 0; margin-right:10px;}


#gview_list tr.jqgrow td a.stats-icon{width:17px; height:15px; background:url('../img/statisics-icon.png') no-repeat 0 0; margin-right:10px;}

#gview_list tr.jqgrow td a.save-icon{height: 17px; width:16px; background:url('../img/sprite.png') no-repeat 0 -1077px; margin-left:13px;}
#gview_list tr.jqgrow td a.cancel-icon{height: 16px; width:16px; background:url('../img/sprite.png') no-repeat 0 -1116px; margin-left:13px;}


#gview_list tr.jqgrow td a.lock-icon{height: 23px; width:17px; background:url('../img/lock-icon.png') no-repeat 0 0; margin-left:13px;}
#gview_list tr.jqgrow td a.unlock-icon{height: 23px; width:17px; background:url('../img/unlock.png') no-repeat 0 0; margin-left:13px;}
#gview_list tr.jqgrow td a.batch-icon{height: 22px; width:22px; background:url('../img/batch-icon.png') no-repeat 0 0; margin-left:13px;}


#gview_list tr.jqgrow td .plus-sign a, #gview_list tr.jqgrow td .archive{width:14px; height:14px; float:left; background:url('../img/plus.png') no-repeat 0px 0; margin-right:5px;}
#gview_list tr.jqgrow td .archive{ height:18px; width:18px; background:url('../img/archive-done-icon.png') no-repeat 0px 0; margin-left:5px;}

#gview_list .ui-jqgrid-bdiv{height:500px !important;}

/*************************
    Create contact page
*****************************/
.create-contacts.create-contact-page{
	#website{ width:295px;}
.row{
input[type="text"]{background-color:$white; border:1px solid #b0b0b0; font-size:13px; line-height:15px; color:#373232; float: left; padding:8px 7px; font-family:$open_sansregular;}
.select2-container{ width:310px}
#phoneno_div{  width: 345px; float: left;
.col1{ width:100%;
.row{ width:100%;
label{ padding:9px 0 10px;}
}}}
}
#load_education{
> div{ width:97%; float: left; }
.select2-container{ width:80% }
input[type="text"]{width:75%}
}
#load_upload{
> div{ width:97%; float: left; }
label{ padding:9px 0px 10px !important}
}
.width-272{ width:276px;}
.phone-row{ float: left;
.ext{
input{ width:92px; background:$white; border:0px; font-size:13px; line-height:15px; color:#373232; float: left; padding:8px 7px; font-family:$open_sansregular;}
label.auto{ padding:9px 15px 0 }
}
}
.communication{
.select2-container{ width: 250px;}
}
input.phone_no{ width:148px;}
}

 
/*********************
	tool tip page css
*****************************/
.tooltip{ float: left; width: auto; line-height: 14px; padding:2px 8px; color:#fff; font-family: 'open_sansregular'; font-size: 12px; background:#636161; white-space: nowrap; position: absolute; top:-15px; left:-5px; text-transform: uppercase; z-index: 999; display: none;
span{ float: left; width: 12px; height:7px; background:url(../img/sprite.png) no-repeat -140px -187px; position: absolute; bottom:-7px; left:10px;}}
#gview_list tr.jqgrow td a.create-grid:hover .tooltip, 
#gview_list tr.jqgrow td a.view-icon:hover .tooltip,
#gview_list tr.jqgrow td a.rma-slip:hover .tooltip, 
#gview_list tr.jqgrow td a.edit-icon:hover .tooltip, 
#gview_list tr.jqgrow td a.delete-icon:hover .tooltip,
#gview_list tr.jqgrow td a.archiv-icon:hover .tooltip,
#gview_list tr.jqgrow td a.add-icon:hover .tooltip,
#gview_list tr.jqgrow td a.option_icon:hover .tooltip,
#gview_list tr.jqgrow td .plus-sign a:hover .tooltip,
#gview_list tr.jqgrow td a.save-icon:hover .tooltip,
#gview_list tr.jqgrow td a.cancel-icon:hover .tooltip,
#gview_list tr.jqgrow td a.stats-icon:hover .tooltip,
#gview_list tr.jqgrow td a.search-grid:hover .tooltip,
#gview_list tr.jqgrow td a.lock-icon:hover .tooltip,
#gview_list tr.jqgrow td a.unlock-icon:hover .tooltip,
#gview_list tr.jqgrow td a.batch-icon:hover .tooltip,
{ display: block;}


.new-case{float: left; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular; padding:6px 20px 5px 36px; background:url(../img/sprite.png) no-repeat 0px -1170px; }
.urgent-case{float: left; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular; padding:6px 20px 5px 36px; background:url(../img/sprite.png) no-repeat 0px -1224px; }


/*********************
Revenue Goal Section
*****************************/
.revenue-section{width:96%; float:left; background:#f3f3f3;  padding:2%; margin-bottom: 30px; border:1px solid #e0e0e0;
.white-bg{width: 100%; float: left; background:url(../img/progressbar.png) repeat-x 0 0; height:15px; position: relative;
span{float: left; height: 15px; background:url(../img/progressbar-active.png) repeat-x 0 0;}
.value{background:#e62753; border-radius:5px; color:#fff; padding:6px 10px; float: left; position: absolute; top:-40px; font-size:16px;
span{background:url(../img/arrow-pink.png) no-repeat 0 0; width: 11px; height:9px; position: absolute; bottom:-9px; left: 10px;}
}
}
.row{width:100%; float: left; padding:0; font-size: 15px; line-height: 17px; font-family:$open_sansregular; color:#636161; font-size:20px;
.col-right{float: right; width:auto;}
strong{font-family: $open_sanssemibold}
}

}



/**********************
   common buttons
*******************************/
.blue-btn{width:auto; float:left; font-size:15px; text-transform:uppercase; line-height: 18px; border:0px; background:$shadow-green; color:$white-text; height:34px; cursor: pointer;padding: 0 15px;
&:hover{background:$shadow-green-hover; }}
.green-btn{width: auto; float:left; font-size:15px; line-height: 18px; border:0px; background:$danube; color:$white-text; height:34px; cursor: pointer; font-family:$open_sansregular; padding: 0 15px; text-transform: uppercase;
&:hover{background:$danube-hover; }}


/**********************
   Campaign Information
*******************************/
.add-group{
select{float: left; height: 130px;width:310px; border:1px solid #b0b0b0;}
.button-col{ float: left; width:140px; padding: 0 55px;
.save-btn{ padding:0px 32px; margin-bottom:10px;}
}}

.campaign-popup-detail{width:100%; float:left; min-height:285px; height: auto!important; height:285px; background: #f5f4f4; position: relative;
.msg-box{width:100%; float:left; background:#efeded; border-bottom: 1px solid #fff; font-size:14px; line-height:16px; color:#817474; position:absolute; left:0px; top:0px;  font-family:$open_sansregular; padding: 12px 0 11px;
span{float: left; background:url(../img/copied-icon.png) no-repeat 0px 0px; margin-left:17px; padding:7px 0 7px 43px;}
}
h4{font-size:14px; line-height:17px; color:$mine-shaft; float: left; padding:75px 0 12px; font-family:$open_sansregular; font-weight: normal; border-bottom: 1px solid #e0e0e0; width:94%; margin:0 3% 10px 3%;}
h5{font-size:14px; line-height:16px; color:#636161; float: left; padding:4px 0; font-family:$open_sansregular; width:94%; margin:0 3%;
strong{width:70px; float:left; color:#3c3c3c;}
span.icon{float: right; width: 45%;}}

}

.radio-que{
.blank-col{width:144px; float: left;}
label{ width: auto !important; margin-right: 20px;}
}
/**********************
   Campaign Information
*******************************/
.tax-receipt{
.print{ float: right; margin:10px 65px 0 0 ;}

}

/**********************
   Leade page
*******************************/
#create-lead{
.search-input-bg{ width:296px;
input[type="text"]{width:270px;}}
textarea{height: 90px;}
}

/**********************
   Create Crm Annotation Correction
*******************************/
.create-contacts.create-crm-annotation-correction{
.search-input-bg{width:40%;
input[type="text"]{width:98% !important}}
#search_annotation{
input[type="text"]{width:40%}}
.select2-container{width:43%}
#annotation{
input[type="text"]{width:70%; background:$white; border:0px; font-size:13px; line-height:15px; color:#373232; float: left; padding:8px 7px; font-family:$open_sansregular;}
#annotation_form{ 
input[type="text"]{width:300px}
textarea{width:300px; height:90px}
}}
}

/**********************
    Development
*******************************/
 #job_history_div{
.search-input-bg{ width:250px;
input[type="text"]{ width: 225px;}}}

#organization_div{
input[type="text"]{ width:70%}
.select2-container{width:70%;}
}

.development-input-size{
input[type="text"]{ width:50%;}
}

.upload-img-input{
input[type="text"],input[type="file"]{ width:50%!important;}
}

#annotation{
	#note{width:60%; height:60px;}
	input{width: auto!important; margin-right: 15px;
		&.search-btn{width:22px !important; margin:0px }
	}
	.select-w-150{width:162px !important;}
	} 


/**********************
    Create group
*******************************/
.change-detail-bg{width:97.8%; float:left; background: #f2f3f5; padding: 1%; margin-bottom:10px; border: 1px solid #e1e1e1;}
.change-form-bg{width:99%; float:left; background: #dde1e4; margin-bottom:10px; padding: .5%;
.custom-checkbox{margin-right: 9px!important;}
.checkbox-auto label{font-size: 13px!important;}
.plus{float: right!important;}
.minus{float: right!important;}
}
.group-info-row{
.col8{ 
.select2-container-multi{width:47%;}
input[type="text"]{width:47%}
}}

/**********************
    Ship basic info
*******************************/
.create-contacts.ship-basic-info{
.select2-container{width:52%;}
input[type="text"]{width:50%}
}


.detailed-information{
.select2-container{width:82%;}
input[type="text"]{width:80%}
label{width:216px;}
.common-form{
.row{
.col6{position: relative;
label.error, span.error{left: 0px; top:-9px;}
}
}
}
}


.no-record{color:#FF0000;  font-size:20px; padding:60px 0 0; text-align:center;}
/**********************
    icon bg
*******************************/
.cal-icon{background:url('../img/cal.jpg') no-repeat right 0; }
.search-icon{background:url('../img/s-icon.jpg') no-repeat right 0; }
.time-icon{background:url('../img/clock-icon.jpg') no-repeat right 0; }
.color-pic{background:url('../img/color-pic.jpg') no-repeat right 0; }
.search-icon.search-icon-bg{padding-right: 33px!important;}
.checkbox-label-product label{width: auto!important;}
.checkbox-label-product .custom-checkbox{width:31%;}

.checkbox-label label{width: auto!important;}
.checkbox-label .custom-checkbox{width: 30%;}
.checkbox-auto label{width: auto!important; padding-right: 10px !important;}
.checkbox-auto .custom-checkbox{width:auto; margin-right:14px;}
.radio-label label{margin-right: 15px!important; width: auto!important}
.website-check{width: 100%!important; float:left!important; position: relative;}
.website-check .m-l-20{position: absolute; left:453px; top: 0px;}

#otherAnswer span{float: left; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular; width: 100%; float: left; padding-bottom: 4px; }

.shipping-check .custom-radio{margin-left: 15px; margin-top: 5px; position: relative;}
.shipping-check .custom-radio label{width: auto;}
.shipping-check .custom-radio .error{left: 0!important}

.shipping-check1 label{margin-left: 15px; margin-top: 5px; position: relative; width: auto;}
/**********************
Manage-Category 
*******************************/
.manage-category-detail{width:100%; float:left;
.accordion-section{width:100%; float:left; background:#f5f4f4;
.right{float: right; padding:13px 0 0 0; width:125px;
}}}



/**********************
main loader
*******************************/
.main-loader{width:100%; float:left; height:100%; background:#000; display: none; position: absolute; left: 0px; top:0px; z-index: 12345; opacity:0.4; filter:alpha(opacity=40);
img{position: absolute; left: 49%; top: 49%;}
}



.select_product_div{width:306px; float: left; background:white; 
ul{width: 100%; float: left; height: 150px; overflow: auto; border:1px solid #e0e0e0; overflow-x:hidden;
li{width:98%; float:left; padding:1%;
span{padding-left:5px; font-size:13px; line-height: 16px; color:$danube; cursor:pointer; font-family:$open_sansregular; font-weight: bold;}
}}}

.flip-div{width:100%; float: left; position: relative; height:850px;
.col-fist{width:24%; float: left; position: absolute; left: 0px; top: 0px;}
.col-sec{width:24%; float: left; position: absolute; left: 24%; top: 0px;}
.col-thrd{width:24%; float: left; position: absolute; left:48%; top: 0px;}
.col-for{width:24%; float: left; position: absolute; left:72%; top: 0px;}
.left-to-right{width:24%; float: left; position: absolute; left:72%; top: 0px;}
.right-to-left{width:24%; float: left; position: absolute; left:24%; top: 0px;}
}


/**********************
Setting Dropdown Page
*******************************/
.setting-dropdown-page{width:100%; float:left; margin-top:10px;
ul{width:100%; float:left;
li{float: left; border-bottom:1px solid white; border-right:1px solid white; background:#f3f3f3; width:19.8%; text-align: center; padding: 18px 0;
&.active{background:white; border: 2px solid $danube; padding:18px 0 15px; width:19.6%;}	
a{font-size:16px; line-height: 18px; color:$head-text; text-decoration: none; font-family:open_sansbold;  
}}}}


.setting-popup{width:700px; float:left; margin: 15px 0 0 27px; 
#gview_list .ui-jqgrid-bdiv{height:230px!important;}
h3{font-size:18px; line-height:22px; color:$gry-text; font-family:$open_sanssemibold; margin-bottom:15px;}
.top-detail{width:660px; float:left; padding:15px 20px 0; background:#f5f4f4;}
.btm-detail{width:660px; float:left; padding:15px 20px 0; background:#efeded; border-top:1px solid #fff;}
.col-box{width:33%; float:left;}
.line{width: 100%; float:left; border-bottom:1px solid #e0e0e0; padding-bottom:10px;}
label{float: left; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular; width: 100%; padding-bottom:5px;}
.row{width:100%; float:left; padding:15px 0;}
}


/**********************
Cms-page
*******************************/
.cms-section{width:100%; float:left; margin-top:15px;
ul{width:100%; float: left; list-style: none;
li{ width:98.5%; float:left; padding: 16px 0 14px 1%; border-left: 3px solid #5496ca; border-bottom:1px solid #fff; background:#efeded; font-family:$open_sansregular;
&.odd{background:#f2f1f1;}
strong{width:100%; float:left; font-size:14px;  padding-bottom: 4px;
a{text-decoration: none; color:$head-text; &:hover{text-decoration:underline;}}}
span{font-size:13px; color:#726c6c;}
}}}





/**********************
Error-page
*******************************/
.error-page{width:100%; float:left; padding:415px 0 250px; background:url('../img/error-bg.jpg') no-repeat center 0;
&.other{background:url('../img/error-bg1.jpg') no-repeat center 0;}
.center-wrapper{width: 100%; float: left; text-align: center; margin-top:-150px; margin-bottom: 70px; p{text-align: center;} .go-btn{margin: 0px;} }
.wrapper{width:735px; margin: 0 auto;}
.row1{width:100%; float: left; padding:50px 0 0;}
p{width:100%; float:left;  font-size:18px; line-height:22px; font-family:$open_sansregular; font-weight:normal; color:#637281; text-align: right;}
.go-btn{width: auto; display:inline-block; font-size:18px; margin-left:350px; line-height:40px; text-decoration: none; border:0px; background:$danube; color:$white-text;  cursor: pointer; font-family:$open_sansregular; padding: 0 14px; text-transform: uppercase;
&:hover{background:$danube-hover; }}
}


/**********************
Edit Option Page 19.09.2013 
*******************************/
.member-bg{width:96%; float: left; background: #e9e9e9; padding:1% 2%;
label.save-search{ left: 0; position: absolute; top: 34px;}
}
.edit-option-page{width: 100%;
tr{width: 100%; font-size: 15px;
td{padding:5px; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular;
strong{font-weight: bold;}
}}}


/**********************
Role Permission 23.09.2013 
*******************************/
.role-permission-detail{width:100%; float: left;
tr{width:100%; font-size:13px; line-height: 15px; color: $head-text; font-family:$open_sansregular;
th{background:#efeded; border: 1px solid #dde0e3; padding:10px 5px; font-weight: bold;}
td{border: 1px solid #dde0e3; padding:5px;}
}}


/*************************
    Passenger Bulk Slider
*****************************/
#sliderDiv {
.sliderDiv-center{ width:900px; margin:auto; position: relative;
.prev{left: 0; position: absolute; top: 63px;}
.next{right: 0; position: absolute; top: 63px;}
.sliderDiv-inner{ margin-left: 30px; overflow: hidden; height:125px}
.anyClass{width:840px !important; }
}}


/*************************
    Activity
*****************************/
.icon-group{width:115px; float: left;
a{margin-left: 7px;}}
.col1{
&.attachment{ width:60%;}
&.private{ width:20%;}
}

#new_category_div .select2-container.select-w-320{border:1px solid #e9e9e9}


#flip-contact{ 
	.row{margin-bottom: 15px; padding:5px 0px; background:/*url('../img/blue-bg.gif') repeat-y 0 0*/ #D6D6D6}
.col6{ min-height: 30px; line-height: 30px; width: 22%; padding: 0 1%;
.row{min-height: 30px; line-height: 30px; background: none;}
.custom-checkbox label{width:0px; padding: 4px 0 4px 23px !important}
&.merge-checkbox{margin-left: 30px; width: 150px;}
}}

.ui-inline-edit, .ui-inline-save{width:30px;}
.cancel-ser-ccounts{
.names{ width:530px !important}}

.setting-popup .relative label.error{left:0px;}
.add-pledge .relative label.error{left:0px;}

/*************************
    Block css
*****************************/
.common-form{
&.block{
input.width-104 {width:104px !important;}
input.width-128 {width:128px !important;}
.content-col{width:84%}
}
}



.associate-people{
.select2-container{width:75%;}
input[type="text"]{width:70%}
}



/*************************
Create Transaction 09/11/13
*****************************/
.url-text{font-size: 14px; padding: 9px 10px 0 0; font-family:$open_sansregular; float:left; }

.family-edit{float:left; width:16px; height: 16px; margin-right: 15px; background:url('../img/sprite.png') no-repeat -209px -187px;}
.family-delete{float:left; width:16px; height: 16px; margin-right: 15px; background:url('../img/sprite.png') no-repeat -247px -187px;}
.family-save{float:left; width:16px; height: 16px; margin-right: 15px; background:url('../img/sprite.png') no-repeat 0px -1077px;}

.common-table{width:100%;  border:1px solid #e0e0e0;  font-family:$open_sansregular; font-size: 15px;
tr{
th{padding:8px; background:#e9e9e9; border-right:1px solid #e0e0e0; border-bottom:1px solid#e0e0e0; font-weight:bold; text-align: left}
td{padding:8px;}
}
&.with-border{
td{border:1px solid #e0e0e0;
label{padding:3px 0;}
}}}
.dl-by-sample{float:left; width:200px; margin-left:20px;
.grid-section{ margin:0px;
.top-section{width:35px;}}
span{ float: left; padding:10px 0 0 5px }
}

/*************************
Choices
*****************************/
.choices{ float: left; width: 100%;
li{color:#636161; font-size: 14px; width:470px; padding-left: 30px; margin-bottom: 10px;
&.checked{background:url(../img/check-green.png) no-repeat 5px 3px; }

 }
}

.added-que{list-style-type: decimal; padding:0% 2%; width:96%; float: left;
li{float:left; width:100%; font-family: "open_sansregular"; font-size: 14px; padding: 9px 0px;
label{padding:0px; width:95%;}
.action{ float: left; width: auto;
a{ float: left; margin-right: 10px; background:url("../img/sprite.png") no-repeat -209px -187px; width: 16px; height:16px; text-decoration: none;
&.delete{ background-position:-247px -187px;}
}}
}
&.header{font-weight: bold; list-style-type:none; }
}

/*************************
Add edit delete save button
*****************************/
.action{
a{ float: left; margin-right: 10px; background:url("../img/sprite.png") no-repeat -209px -187px; width: 16px; height:16px; text-decoration: none; position: relative;
&.eitd-icon-bt{ background-position:-209px -187px;}
&.delete-icon-bt{ background-position:-247px -187px;}
&.save-icon-bt{ background-position:0px -1078px;}
&:hover .tooltip{display: block;}
}

}
/*************************
 	Transaction
*****************************/
.transaction{
	.row{
		.bold{color:#000; font-weight: normal !important;}
		.t-box{ width:22%; margin-right: 3%; float: left; background: #fff; 
			.header{background: #5496ca; padding: 3%; width:94%; float: left; color:#fff; font-size: 18px; font-family: $open_sanssemibold}
			.inner{padding: 3%; width:94%; float: left;min-height:120px;
				.center{text-align: center;}
				strong{float: left; font-weight: normal; font-size: 14px; font-family: $open_sanssemibold;
					span{font-family: $open_sansregular;}
			}
				label{float: left; width: 100%;}
			}
		}
		&.sab-totle{
			.left{ float: right; font-family: $open_sanssemibold; font-size: 14px; text-align:right; margin-right: 20px}
			.right{ float: right; font-family: $open_sanssemibold; font-size: 14px; width: 90px; text-align:left}
			.align-right{text-align: right;}
		}
	}
	&.note{	
		.private{ float: right; font:normal 16px/18px $open_sanssemibold; margin-bottom: 10px; clear: both; }
		.date{ float: right; width: auto; font-size: 14px; margin-bottom: 15px;
			strong{float: left; font-weight: normal; font-size: 16px; font-family: $open_sanssemibold; margin-right:5px;}
		}
		textarea{width:98%;}

	}
}
.width-100{width:100% !important;}

/*************************
 	Table Common
*****************************/
.table-bh{
	tr{	
		th{border:1px solid #999; border-collapse: collapse; padding: 8px; vertical-align: middle; background: #ccc; font-family: $open_sanssemibold; font-size:15px; color:#000}
		td{border:1px solid #ccc; border-collapse: collapse; padding: 8px; vertical-align: middle;
			.dollar{float:left; font-size:14px; font-family: $open_sanssemibold;}
			.price{float:right; font-size:14px; font-family: $open_sanssemibold;}
			.action{ float: right; width: 100px;
				a{ font-family:$open_sansregular; color:#5496CA; display: block; margin-bottom: 4px; width:100px; height:100%; background: none;  }
			}
			.left{ float: left; width:240px; padding:0px!important; 
			.link{ width:100%; float:left;}
			}
			strong{font-family: $open_sanssemibold; display:block; font-size: 14px; width: auto!important; word-wrap: break-word; }
		}
		
	}
}

/*************************
 	Table Common
*****************************/
.uploadMoreProductImages{
	#load_upload{width:72%;
		.fileUploadAddMore{width:295px;}
	}
}

/*************************
 Transaction page photo popoup
*****************************/
.image-box
	{
		float: left;
    	height: 250px;
    	margin: 0px 20px 30px;
    	width: 250px;
    	border: 1px solid #DFDFDF;
    	display: table-cell;
    	line-height: 247px;
    	text-align: center;
    	vertical-align: middle;
    	img
    		{ 
    			max-width:250px; 
    			max-height: 230px;
    			line-height: 250px;
    			vertical-align: middle;
    			text-align: center;
    		}
    }
/*************************
 Create contact page 
*****************************/
 .contact-repeat-row{

	.phone-label{width:auto; float:left; 
	label{float: left; font-size:13px; line-height: 15px; color: #636161; font-family:$open_sansregular; padding:0 0 5px 0!important; width: auto!important;
	&.type{padding-left:144px !important; }
	&.country{padding-left:141px !important; }
	&.area{padding-left:50px !important; }
	&.phone{padding-left:48px !important; }
	&.extension{padding-left:70px !important;}
	}}

	input.width-125{width:95px !important;}
	input.phone_no{width:130px !important;}
  }

 #corp_load_address_section, #load_address_section	{
 	.col1{width: 49%}
 }

.lead-details{
	label{width:175px; margin-right:20px;
		&.auto{ width:auto ;}
		&.auto-email{width:auto ;}
	}
}

.woh-assigned{
	.custom-radio{
		label{width:auto !important; margin-right: 30px}
}
}
#num_quantity{width:151px;}
.amount-col{ float: left; width:100%; margin-left:17px;}

.woh{
	.auto-label{
		label{width:250px}
			
			}
.option{
	a{ clear: both;
    float: left;
    margin-bottom: 10px;
    margin-left: 22px; }
}
}
.duplicate-products
{
input[type="text"]{width:150px;}
}

.create-contacts{
	.deepak{
		.col4{ margin-right:25px; width: 31%;
			input[type="text"]{ width: 200px;}
			select{width: 214px;}
		}
	}
}
#search_passenger{
	.col4{width: 31%;}
	#passenger_id{width:200px;}
}
#passenger_document{
	.qty{
		input{width:200px;}
	}
}
.manifestBlock-slider{
	#manifestPriceDetail{
		float: right;
		width: 450px;
	}
	float: right;
	width: 70%;
	.top-section{
		width: 315px;
		.img-box{float: left; margin-right: 10px}
	}
	h1{float: left;
	    font-size: 20px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    width: 100%;}
}
#additionalImageDiv{ float: left; margin: 15px 0px; width: 100%;}
.no-record-found{ color: #FF0000; font-size: 15px; text-align: center; padding:50px 0px}

.pass-record{
	background:url("../img/pass-record.jpg") no-repeat 0 0;
	width:767px;
	height: 584px;
	ul{
		float: left;
	    margin-left: 170px;
	    margin-top: 160px;
	    width: 500px;
	li{float: left; width: 100%; padding-bottom: 7px;
		label{float: left; font-size: 15px; width: 200px; font-weight: bold; margin-right: 10px;
			&.auto{width:auto; font-weight: normal; margin:0px;}
		}}
	}
}


/*************************
 	Available Dashlets
*****************************/
.configure-dashboard{width: 98%; float: left; background: #f8f8f8; margin-top: 10px; padding: 1%;
p{width: 100%; float: left; padding:0px 0 20px 0px;  font-size: 14px; color: #726C6C; font-family:'open_sansregular';}
}
.configure-section{width: 100%; margin: 0 auto; 
.main-section{width: 98%; float: left; border: 1px solid #E0E0E0;  background: #f1f1f1; padding: 1%;}
.main-section-bottom{width: 100%; margin:0 auto;
.inner-section{width: 98%; float: left; background: #dedddd; border: 1px solid #cecccc; padding: 1%;  margin-top:20px;
.border{border-right: 1px solid #CECCCC;}
 }
}

.col-box{width: 33%; float: left;}
h3{width: 100%; float: left; font-size: 15px!important; padding: 0; font-weight: bold!important; font-family:'open_sansregular'!important;}
.detail-box{width:98% !important; float: left; border: 0!important; max-height: 320px; overflow: auto;
.tooltip-help{right: 35px!important; top: -14px!important;
.arrow{position:absolute!important; left:220px!important; top: 20px!important; height:11px!important;  background:url("../img/close-r.png") no-repeat 0 0!important;}
}
.row{width: 100%; float: left; padding-bottom: 10px;}
.box{width: 94%; max-width:500px;  padding: 15px 5px 15px 10px; cursor: -moz-grab;  float: left; margin:0 0px 10px 0px;  background: #5496ca; border: 1px solid #fff; color: #fff; font-weight: bold; font-size:14px; line-height:20px;  font-family:'open_sansregular'; img{vertical-align: middle;} 
strong{width: 66%; float: left; }
a{text-decoration: underline; color: #fff; font-size:13px; font-weight: normal;}}
}

.detail-box-btm{width:49%; float: left;
p{float: left; padding:0 0 10px 0; font-weight: normal; color: #726C6C; font-family:'open_sansregular'; font-weight: bold;}
.row{width: 100%; float: left; padding-bottom: 10px;}
.box{width: 94%; padding: 10px 10px; float: left; background: #5496ca; border: 1px solid #fff; color: #fff; font-weight: bold; font-size:14px; line-height:20px;  margin-bottom:10px;  font-family:'open_sansregular'; a{color:#fff; font-size:13px; font-weight: normal; } img{vertical-align: middle;}
&.last{margin:0px;}
.right{float: right!important}
.close{width:12px; height:10px; margin-top:5px; float:right; background:url("../img/sprite.png") no-repeat 0 -417px;}
}}}



.left-p-none{
 	span.error{left: 0!important}
 	label.error{left: 0!important}
}

.pay-label label{width: auto; margin-right: 10px;}
.payment_error{font-size:14px; color:red; font-family: $open_sansitalic;}

#s2id_rma_status{width:200px!important}
.down-text{font-size: 13px; float: left; font-family: 'open_sansregular'; margin: 5px 10px 0 0;}

.campaigns-input{
.select2-container{width:49%;}
input[type="text"]{width:47%}	
}

.expiry-date{
.mm{width: 20px; float: left; margin-top: 7px;}
.full{width: 100%; float: left; padding-bottom: 10px;}
.select2-choice, .select2-container{width: 280px!important; float: right;}
} 
.trans-grid input{width: auto!important; float: none!important;}
.no-record-error{ color: #FF0000; font-size: 15px; padding-bottom: 5px;}


/*************************
Dashboard Page
*************************/
.dashboard-page{width: 100%; float: left;
.search-pannel{width: 98%; float: left; padding: 10px 1%; background:#E9E9E9;}
.top-section{width:100%; float:left; padding-bottom:13px;
h2{padding-bottom:0px!important; width:auto;}
span{ font-size:14px; color:$silver-text; font-family:'open_sansregular';}
a.refresh{width:46px; float:right; height:46px; background:url("../img/sprite.png") no-repeat 0 -1372px; margin-left:10px; position: relative; &:hover{opacity:0.9;}
.tooltip{left: -92px; top: -25px; span{left:105px!important;}}
&:hover .tooltip{display: block!important;}
}
a.configure{width:auto; float:right; height:16px; background:#91c1ab url("../img/sprite.png") no-repeat 0 -1299px; padding: 15px 17px 15px 59px; text-transform: uppercase; text-decoration: none; color:$white;
font-size: 15px; font-family:'open_sansregular'; &:hover{background:#7dad97 url("../img/sprite.png") no-repeat 0 -1299px;}}
}

.dash-breadcrumb{width: 100%; float: left; background:#f3f3f3; height:36px;
ul{float:left; list-style:none;
li{float: left; font-size:13px; color:#726c6c; font-family:'open_sansregular'; height:36px; background:url("../img/b-arrow.png") no-repeat right 0;
a{text-decoration:none; color:#726c6c}
span{float: left; background:url("../img/menu-icon.png") no-repeat 8px -7px; padding:10px 35px 5px 35px;}
}
}}

.calendar-section{width: 100%; float: left; margin:20px 0;
ul{width:100%; float:left; list-style:none;
li{width:13.2%; float: left; margin-right: 1.2%; position: relative; background: #5496ca; min-height: 155px;
a{text-decoration: none;}
&.box1{background:#f36523; strong{background: #d85315;}}
&.box2{background:#852b99; strong{background: #741d88;}}
&.box3{background:#27a9e3; strong{background: #2195c9;}}
&.box4{background:#f7941d; strong{background: #d57a0c;}}
&.box5{background:#d33f3e; strong{background: #bf2928;}}
&.box6{background:#00a652; margin-right: 0px; strong{background: #078545;}}
.img-box{width: 100%; float: left; padding:35px 0 4px; text-align: center;}
strong{width:auto; height:28px; position:absolute; right:0px; top:0px; background: #3979ab; padding: 8px 13px 0; text-align: center; font-size: 14px; font-weight: bold; font-family:'open_sanssemibold'; color: #fff; }
span{width:auto; float: left; font-size: 16px; line-height: 20px; font-family:'open_sansregular'; color: #fff; padding-left:15px;}
}
}}

.left-box{width:49%; float:left;}
.right-box{width:49%; float:right;}
.detail-box{width: 100%; float: left; min-height:300px; border:1px solid #e1e1e1; margin-bottom: 20px;
.inner-section{font-family:'open_sansregular'; font-size:14px; line-height:18px; color:#454545; width:100%; float:left;

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{/*background:#f4f4f4; color:#454545;*/}
.ui-jqgrid-bdiv{height: 235px!important;}
.ui-jqgrid tr.ui-row-ltr td{border:1px solid #e5e5e5!important; white-space: pre-wrap; word-wrap: break-word;}
.ui-jqgrid .ui-pg-table td{ padding: 3px 0;}
.ui-jqgrid tr.jqgrow td, .ui-jqgrid .ui-jqgrid-htable th{padding:5px 2px;}
.ui-jqgrid-htable th:hover{color: #fff;}
.ui-jqgrid .ui-jqgrid-btable{margin-top:-1px;}
.ui-pg-input{padding: 1px 5px!important;}
.action-last .ui-jqgrid-sortable{ cursor: pointer!important}
}
.head{width:100%; float: left; background:#e9e9e9;  border-bottom:1px solid #e1e1e1; 
span{font-size:17px; line-height:20px; color:#454545; float:left; padding:14px 0 16px 2%; font-family:'open_sansregular';}
ul{float: right; list-style: none;
li{float:left; border-left:1px solid #d9d8d8; height: 50px; width: 50px; position: relative;
a{text-decoration: none;}
.tooltip{top:-20px; span{padding: 0px}}
&:hover .tooltip{display: block;}
&.none{border:0px;}

&.viewall a{width:50px; float: left; height:50px; background:url("../img/viewall-icon.png") no-repeat 0 0; &:hover{background-position:0 bottom;}}
&.search a{width:50px; float: left; height:50px; background:url("../img/dashbord-nav.png") no-repeat right top; &:hover{background-position:right bottom;}}
&.close a{width:50px; float: left; height:50px; background:url("../img/dashbord-nav.png") no-repeat left top; &:hover{background-position:left bottom;}}
}}
}}}


.transaction-table{
	.table-bh tr td{
		.left{width: auto;}
		.select2-container{width:250px;}
		.relative{
			strong{width:200px;
				.error{left:0px;}
			}
		} 
	} 
}

.relative.left-0 .error{left:0px !important;}
.user-name-top{float:right; font-size: 25px; text-transform : capitalize}

 

.table-bh.tra-view{
	.left{
		label{float:none; padding:0px;}
		strong{
		float:left; width: auto!important;
		label{float:none; padding:0px;}

	}
}} 

#lofslidecontent451{
.lof-main-outer{height:510px; 
li{height:470px;padding:20px 0px;
	img{max-height: 450px}
p{line-height:16px; float:left; width:100%; text-align: center;}
}}
.lof-navigator-outer{height:105px}
}

.transaction .row .t-box .inner.payment strong{width:100%;
label{float:none; width:auto;}
}

.configure-section .detail-box .box{
.help-tooltip{position: relative;
.tooltip-help{background:#6f6f6f; color: #fff; display: none; font-weight: normal; padding: 10px; position: absolute; right: -188px; top: -69px; width: 200px; 
.arrow{background:url("../img/close.png") no-repeat left top; height: 8px; width: 11px; position: absolute; bottom:-6px; left: 10px;}
}
&:hover .tooltip-help{display: block;}
}
}

.shipping-information-row{
	label.error{position: absolute !important; left:0px !important;}
}
.transaction-shipment-table{
	td{ vertical-align: top;
		strong, span{padding-bottom:9px; display: block;}
	}
}
.transaction-shipment-table{
	.left{padding-bottom:10px; clear: both; width: auto !important;
		strong{padding:0px; width: auto !important; clear: both;
			label{width: auto !important; float: none;}
		}
	}
	.total{white-space: nowrap;}
}
.checkbox-label-multipale{ 
	.custom-checkbox{width:200px;
	label{width: auto !important;}}
	.custom-radio{
	label{width: auto !important;}
	}
	
}

/*************************
	Transaction Print Css
*************************/
#print-transaction-inner .dn{display: none !important;}
#print-transaction-inner .transaction .row .t-box{width:30%; margin-right:1%}
#print-transaction-inner .transaction .row .t-box.transaction-details{width:38%}
#print-transaction-inner .transaction-details .row .t-box span{font-family:"open_sansregular"}
#print-transaction-inner .transaction .row .t-box.transaction-details label{width:auto}
#print-transaction-inner .create-contacts label{font-size:13px; width:auto}
#print-transaction-inner .transaction-details .inner .row{ padding-bottom:10px;}
#print-transaction-inner .transaction-details .inner .row label{ padding:0px;}
#print-transaction-inner .transaction .row .t-box .header{padding:10px 0; background:none; color:#000}
#print-transaction-inner .transaction .row .t-box .inner{width:100%; padding:0px;}
#print-transaction-inner .transaction .row .t-box .inner strong{font-size:15px; width:auto}
#print-transaction-inner .transaction-invoice .row{ padding-bottom:10px;}
#print-transaction-inner .transaction-invoice .row label{ padding:0px}
#print-transaction-inner .transaction .row .t-box .inner 
#print-transaction-inner .row label.width-100{width: 100%}
#print-transaction-inner .row.transaction-invoice-addess strong span{padding-top:5px; font-size: 13px; float:left; width: 100%}
#print-transaction-inner .transaction .head{height:auto; background:none; color:#000; margin:0px;}
#print-transaction-inner .transaction .head.m-t-25{margin-top:25px;}
#print-transaction-inner .transaction .head.m-t-100{margin:25px 0 10px;}
#print-transaction-inner .transaction .head span{ padding:0px;}
#print-transaction-inner .transaction-summary .row{padding-bottom:0px;}
#print-transaction-inner .latter-name label{font-size:18px; width:auto; padding-bottom: 0px}
.pop-container .row input[type="text"], .pop-container .row textarea { color: #373232; float: left; font-family: "open_sansregular";font-size: 13px;width: 311px;}
.pop-container .row input[type="text"].width_200{width: 200px!important;}
.pop-container .row { float: left; margin-bottom: 15px; padding: 0 !important; width: 100%; }
.pop-container .row label { float: left; font-size: 14px; line-height: 16px; padding: 9px 0; width: 144px;}
.pop-container .row label { margin-bottom: 10px; }
.pop-container h3 { font-size: 28px; line-height: 32px; padding-bottom: 20px; }
.pop-container p {padding-bottom: 15px; }
.view-certificat-small label{width:100% !important; text-align: center; font-size: 15px;}
.view-certificat-small label.name{font-size:25px; font-weight: bold; }


#gview_list tr.jqgrow td .label1{float: none; display: inline-block;}
#gview_list tr.jqgrow td .plus-sign{display:inline-block;}




.info-text{font-size: 12px !important; font-style: italic; padding: 5px 0 0 17px !important; background:url("../img/info-icon.png") no-repeat left 5px; font-style: italic; font-size: 12px;}
.download-text a.link{float:left; margin: 9px 0 0 10px}
.breadcrumb.m-t-51.case{ margin-top: 6px !important}
.order_columns{
	.right{
.select2-container{float: left; width:230px;}
}
}

.add-transaction{
	.row{
		input[type="text"]{width:45%;}
		.select2-container{width:48%;}
	}
}
.breadcrumb.position-ab{position: absolute; top:-30px;}
.rel-auto.two-line-error{
		label.error{width:70px !important; top:-64px; left: 1px !important;}
		.width-125{width:79px !important;}
		.width-80{width:79px !important;}
		.width-155{width:115px !important;}
	}
.phone-label.phone-label-transaction{
	.country{width:114px }
	.area{width:108px;}
	.phone{width:132px;}
}



/*************************
	Dashlet Setting Popup
*************************/
.dashlet-setting{width: 98%; float: left; padding: 1%;
h2{display: block; font-size:18px; line-height:22px; font-family:"Georgia"; color:$head-text; font-weight: normal;}
#gview_list .ui-jqgrid-bdiv{height: 410px!important; margin-bottom: 20px;}
#gview_list tr.jqgrow td > div{position:relative!important;}
label.error, span.error{background: none!important; top:-24px!important; left: -14px; color: red!important; text-transform: none; padding-bottom: 0!important}
.save-btn{margin-right: 10px;}
input[type="text"]{width: 127px!important; background: #f1f1f1!important;}
}


a.show-dashlet{font-size:0px; line-height:0; float: right; background:url("../img/configure.png") no-repeat -6px 0; width:34px; height: 22px; margin-left:3px; margin-right: 3px;}
a.hide-dashlet{font-size:0px; line-height:0; float: right; background:url("../img/configure.png") no-repeat -46px 0; width:34px; height: 22px; margin-left:3px;}
a.config-dashlet{font-size:0px; line-height:0; float: right; background:url("../img/configure.png") no-repeat -86px 0; width:34px; height: 22px; margin-left:3px;}

.view-right-text{float: right; padding: 9px 40px 0 0; font-size: 15px; text-decoration: none; color: #fff;  font-family: "open_sansregular";  
text-decoration: underline; &:hover{text-decoration: none;} &.left{float: left!important; padding-left: 15px;}}

.prevnext{
	border-top: 1px solid #CCC;  float:left;  margin-top:10px; padding-top: 8px;  width:100%;
	a{color: #373232; font-weight: bold; font-size: 17px; &:hover{text-decoration: none;}}
}

.trans-popup-table{width:100%;   font-family:$open_sansregular; font-size: 15px;
table{border:1px solid #e0e0e0;
tr{
th{padding:10px 8px; background:#5496CA; border-right:1px solid #e0e0e0; color: #fff; border-bottom:1px solid#e0e0e0; text-transform: capitalize; font-weight:normal; text-align: left}
td{padding:8px; border-right:1px solid #e0e0e0; border-bottom:1px solid#e0e0e0;}
}
}}



.coupons-tooltip{float: left;	position: relative;
&:hover .tooltip{display: block;}
.tooltip{position: absolute; display:none; left:0; top:-30px; min-width:150px; background:#454545; padding:10px; color:#fff; text-transform: none; a{ color: #fff; }
small{width: 16px; height: 10px; background:url("../img/tool-btm-arrow.png ") no-repeat 0px 0; position: absolute; left: 40px; bottom: -8px;}
}

}



.text-passenger-section{float: right; margin: 15px 0; border: 1px solid #ccc; padding: 10px; width: 575px; 
table{width: 100%; vertical-align:top;
tr{width: 100%; 
th{font-weight: bold; text-align:left;}}
}
input[type="button"]{margin-right: 5px; width: 38px; float: left;
&#display{width: auto;}
}
input[type="text"]{width: auto; display: inline-block; text-align: center; font-size:14px; margin-right: 5px; line-height:16px; text-decoration: none; border: 1px solid #ccc!important; color:#000; height:22px; font-family:$open_sansregular; padding: 0 10px; text-transform: uppercase;}
.select-w-150{width:60px!important; border: 0!important}
.select-div{border:1px solid #ccc; float:left;  margin-right: 4px; }
}

.auto-suggest-loading{background:url("../img/loading.gif") no-repeat right 0;}

.for-input-border input{border: 1px solid #ccc!important; width: 96%!important}


#upload-photo-section-backend{width: auto;}
#upload-photo-section-backend h1, #upload-photo-section-backend p, #upload-photo-section-backend .btn-row{display:none;}
#upload-photo-section-backend #canvas_container{position: inherit; left:0; top:0;}
#upload-photo-section-backend .photo-section{margin-top:0;}
#upload-photo-section-backend #pxn8_canvas{width:auto!important;}
#photo-correction-backend-nav{position: inherit; float:left; width:100%;}
#photo-correction-backend-nav ul{width:100%; float:left;}
#photo-correction-backend-nav ul li{width:auto!important; float: left; margin-right:5px;}

.previw-detail-box{width: 520px; float: left; margin-left: 25px; .scroll{width: 550px; height: 570px; overflow: auto; background: #1d1d1d; position: relative; }}
.previw-text{width: 89%; float: left; text-align: center; font-size: 16px; font-weight: bold; margin-bottom: 20px;}
.readonly{color:#373232!important}

.for-coupons-tooltip{width: 100%; float: left;
.coupons-tooltip{width: auto; margin-right: 35px;}
}

.add-product-cart-grid{
#gview_list .ui-jqgrid-bdiv{height: auto!important;}
.no-record-msz{padding: 10px 0!important;}
}

.ques-image{width: 185px; float: left;}
.ques-image img{max-width: 185px; max-height: 185px; float: left; margin-right: 10px}


#gview_list tr.jqgrow td .plus-sign.top{float: left; margin-top:3px;}


.revenue-section {
.green-bg {width: 100%;  float: left;  background: url(../img/progressbar-green.png) repeat-x 0 0;  height: 15px;   position: relative;}
.green-bg span {float: left;  height: 15px;   background: url(../img/progressbar-active.png) repeat-x 0 0;}
.green-bg .value {background: #e62753;   border-radius: 5px;  color: #fff; white-space:nowrap;  padding: 0px 6px;   float: left;   position: absolute;   top: -42px;   font-size: 16px;   width: 58x;   line-height: 30px;}
.green-bg .value span {    background: url(../img/arrow-pink.png) no-repeat 0 0;    width: 20px;   height: 9px;   position: absolute;   bottom: -9px;    right: 0px;}}


.fof-image-main-section{width: 100%; float: left; background:#2a2a2a;}
.fof-image-main-section .step2{width:100%; float:left; margin-top:10px;}
.fof-image-main-section .step2 p{font-size:12px; margin-top: 110px; line-height:18px; font-style:italic; color:#fff; width:94%; text-align: center; padding: 0 3%; float:left; padding-bottom:10px;  text-align:center}
.fof-image-main-section .step2 .img-box{float:left; width: 100%; }
.fof-image-main-section .step2 .img-box img{/*max-width:604px; max-height:410px;*/}
.fof-image-main-section .step2 .button-row{width:89%; float:left; text-align:center; margin-top:32px; padding: 0 3% 0 8%}
.fof-image-main-section .step2 .button-row .button{font-size:16px; margin:0 2px;}
.fof-image-main-section #canvas_container{position: inherit; left: 0; top: 0;}
#UploadUserFofImageIframe{background: #2a2a2a; height: 769px;}

.photo-caption-section{float:left; position:relative; width:420px!important; text-align: center; background:#2A2A2A; margin-left: 75px;}
.photo-caption-section img{/*max-width:420px!important; max-height:415px!important; text-align: center;*/}
.photo-caption-section .tag-name{width:100%; float:left; position:absolute; left:0; bottom:0; background:url(../images/fof-tag-bg.png) repeat 0 0; text-align:center; padding:12px 0;}
.photo-caption-section .tag-name a{text-decoration:underline; color:#fff; text-transform:uppercase; font-weight:400; cursor:pointer}
.photo-caption-section a.close{float:right; font-size:22px; color:#fff; position:absolute; left:10px; top:0px; cursor:pointer; font-weight:bold;}


.crop-nav{width:100%; float:left; background:#1d1d1d; margin-top: 5px; position: absolute; left:0px; top:20px;}
.crop-nav ul{ float:left; list-style:none; margin:17px 0 0 10px; width: 95%}
.crop-nav ul li{float:left; width:80px; margin-bottom:15px; padding:0; position:relative}
.crop-nav ul li .tooltip{width:auto; position:absolute; left:0; top:-35px; font-size:14px; line-height:15px; padding:5px; color:#fff; background:#2871a9; display:none; white-space:nowrap; border:1px solid #2871a9;}
.crop-nav ul li .tooltip small{width:12px; height:10px; position:absolute; left:15px; bottom:-10px; background:url(../images/fof-tooltip-arrow.png) no-repeat 0 0}
.crop-nav ul li:hover .tooltip{display:block;}
.crop-nav ul li.crop-photo a{background:url(../images/fof-image-nav.png) no-repeat 0 0; width:50px; float:left; height:30px;}
.crop-nav ul li.crop-photo a:hover, .crop-nav ul li.crop-photo a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px 0;}

.crop-nav ul li.rotate a{background:url(../images/fof-image-nav.png) no-repeat 0 -70px; width:50px; float:left; height:30px;}
.crop-nav ul li.rotate a:hover, .crop-nav ul li.rotate a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px -70px;}

.crop-nav ul li.auto-colour a{background:url(../images/fof-image-nav.png) no-repeat 0 -135px; width:50px; float:left; height:39px;}
.crop-nav ul li.auto-colour a:hover, .crop-nav ul li.auto-colour a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px -135px;}

.crop-nav ul li.fix-redeye a{background:url(../images/fof-image-nav.png) no-repeat 0 -211px; width:50px; float:left; height:30px;}
.crop-nav ul li.fix-redeye a:hover, 
.crop-nav ul li.fix-redeye a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px -211px;}

.crop-nav ul li.redo a{background:url(../images/fof-image-nav.png) no-repeat 0 -282px; width:50px; float:left; height:30px;}
.crop-nav ul li.redo a:hover, 
.crop-nav ul li.redo a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px -282px;}


.crop-nav ul li.undo a{background:url(../images/fof-image-nav.png) no-repeat 0 -352px; width:50px; float:left; height:30px;}
.crop-nav ul li.undo a:hover, .crop-nav ul li.undo a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px -352px;}

.crop-nav ul li.reset a{background:url(../images/fof-image-nav.png) no-repeat 0 bottom; width:50px; float:left; height:30px;}
.crop-nav ul li.reset a:hover, .crop-nav ul li.reset a.active{ background:url(../images/fof-image-nav.png) no-repeat -121px bottom;}


#peoplePhotoBox{background: #fff; border: 1px solid #B0B0B0; padding: 2px 0 5px 5px; float: left; width: 300px; min-height: 25px;}

#peoplePhotoBox .tages{float:left; font-size:14px;  color:#2a2a2a; font-weight:400; padding:7px 5px 7px 10px; background:#DBDBDB; margin:5px 5px 0px 0}
#peoplePhotoBox .tages a{ width:12px; height:10px; float:right; background:url(../images/fof-img-icon3.png) no-repeat 115px 17px; margin-left:10px; color:#2a2a2a; cursor:pointer;}
.main-loader-crm{height: 99% !important; left: 74px !important; width: 77% !important}

.drawGrid #gview_list .ui-jqgrid-bdiv{height: 282px!important; overflow-x:hidden!important;}
.drawGrid input[type="text"]{float: none; font-size: 0.8em;} 


.forErrorMsg label.error{top: 0!important}

.url-error{position: relative; float: left;}	
.url-error label.error{left: 0px!important}
.tracking-no{color:#5496ca!important}
.cms-edit-img-width{ float:left; width:90%!important; margin-left: 144px; img{max-width: 90%;}}

.textareWidthFull{width:93%!important; float:left;}
.date_to_error{left:325px!important;}


#span_fof_people_in_photo .tages{float:left; font-size:14px;  color:#2a2a2a; font-weight:400; padding:7px 5px 7px 10px; background:#DBDBDB; margin:5px 5px 0px 0}
#span_fof_people_in_photo .tages a{ width:12px; height:10px; float:right; background:url(../images/fof-img-icon3.png) no-repeat 115px 17px; margin-left:10px; color:#2a2a2a; cursor:pointer;}

.pop-container.edit{width: 98%; padding: 30px 1% 0}

.link-underline{text-decoration: underline; color:#5496ca!important;}



.create-contacts .view-text table{background: #fff!important}

#caseContent .detail-section .common-form form#case_reply textarea#reply, #caseContent .detail-section .common-form form#case_note textarea#note {height: 180px !important; }