/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 

/*Variables

$black: #1f1f1f
$white: #ffffff
$border: #e0e0e0
$pink: #e04163
$blue: #5496c9
$green: #91c1aa
$grey: #f8f8f8
$dkgrey: #2f2f2f
$mdgrey: #494848

/*Variables


/* Fonts
$headings: 'Oswald', 'Impact', sans-serif
$bodyfont: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif


/*Import CSS Files
@import 'susy'
@import compass/reset
@import compass/css3
@import royalslider
@import header
@import footer
@import passenger-search.sass
@import passenger-search-result.sass
@import wall-of-honor.sass
@import about-foundation.sass
@import passenger-records.sass
@import myfile.sass
@import sponsor.sass
@import donate.sass
@import right-section.sass
@import family-history.sass
@import	featured-records.sass
@import	common-class.sass
@import css3.css
@import annualreport
@import fof-add-image.css
@import checkout




/*Import CSS Files



/*clearfix for managing floating child elements*/
.clearfix:after 
	content: "."
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0


 
.clearfix 
	display: inline-block

 
html[xmlns] .clearfix 
	display: block

 
* html .clearfix 
	height: 1%



/*clearfix

/*common*/
.float-none 
	float: none !important

.float-left 
	float: left !important

.float-right 
	float: right !important

.overflow
	overflow: hidden

.txt-align-rgt
	text-align: right !important

.txt-align-lft
	text-align: left !important

.txt-align-center
	text-align: center !important
/*common

/*GRID 
$total-columns: 16
$column-width: 48px
$gutter-width: 30px
$grid-padding: 20px
$show-grid-backgrounds: false
$container-width: 1252px


/*GRID


/* layout */
body
	font-size: 18px	
	font-family: $bodyfont
	font-weight: 300
	color: $black
	line-height: 25px
	background: $white
	margin: 0
	
.container
	+container
	margin: 0 auto
	padding: 0
	@include susy-grid-background

strong
	font-weight: 600

h1,
h2
	font-family: $headings
	margin: 10px 0
	text-transform: uppercase

h1
	font-size: 28px
	font-weight: 400
	line-height: 1.2

h2
	font-size: 25px
	line-height: 1.5
	strong
		font-weight: 400

h3
	font-size: 18px
	font-weight: 500
	line-height: 1.5
	margin-bottom: 5px
	
p
	margin: 15px 0 20px

a
	color: #5496c9
	text-decoration: none
	&:hover
		color: #2871a9
		
label
	font-size: 15px
	font-weight: 600
	text-transform: capitalize
	display: block
	
input[type=text],
input[type=email],
input[type=password],
input[type=file],
select,
textarea
	background: $white
	border: 1px solid $border
	color: $black
	font-family: $bodyfont
	font-size: 15px
	font-weight: 300
	line-height: 1.2
	padding: 8px 10px
	

input[type=radio],
input[type=checkbox]
	line-height: 2
	
.button
	border: none
	background: $blue
	color: $white
	cursor: pointer
	font-family: $bodyfont
	font-size: 15px
	font-weight: 400
	text-transform: uppercase
	padding: 9px 20px
	+transition-property(all)
	+transition-duration(.5s)
	+transition-timing-function(ease-in)
	&.semibold
		font-weight: 600
		font-size: 17px
	&:hover
		background-color: adjust-lightness($blue, -10%)
		color: $white
	&.pink
		background: $pink
		&:hover
			background: #353435
	&.green
		background: $green
		&:hover
			background: $blue
	&.outline
		background: transparent
		border: 1px solid $white
		&:hover
			background: $blue
			border: none

.disable-button
	border: none
	background: #979595
	color: $white
	cursor: pointer
	font-family: $bodyfont
	font-size: 15px
	font-weight: 400
	text-transform: uppercase
	padding: 9px 20px
	+transition-property(all)
	+transition-duration(.3s)
	+transition-timing-function(ease-in)
	&:hover
		background: #979595	

	
	
hr
	border: none
	border-top: 1px solid $border
	margin: 20px 0
	
ol,
ul
	margin: 5px 0 10px 20px
	line-height: 2
	li
		padding-left: 5px 
	
ol
	list-style: decimal

ul
	list-style-image: url(../images/bullet.png)
	
table
	border: 1px solid $border
	th,
	td
		padding: 12px 20px
		border: 1px solid $border
	td
		font-weight: 300
	th
		background: $grey
		font-weight: 400
		text-transform: uppercase
		font-size: 14px


table.table-2
	border: none
	th,
	td
		padding: 12px 20px
		border: none
		border-bottom: 1px solid $border
	td
		font-weight: 300
		img
			vertical-align: middle
	th
		background: transparent
		font-weight: 400
		text-transform: uppercase
		font-size: 14px

		
dl
	border-top: 1px solid $border
	padding: 15px 0
	&:last-of-type
		border-bottom: 1px solid $border
		margin-bottom: 20px
	&:first-of-type
		margin-top: 20px
	dt
		@extend h2
		margin: 0
	dd
		@extend p
		margin: 0
		
fieldset
	background: $grey
	border-top: 1px solid $border
	padding: 20px 35px
	margin: 15px -30px
	legend
		@extend h3
		margin-top: 0
		float: left
		clear: right
		width: 100%
		
.more
	color: adjust-lightness($pink, -5%)
	font-weight: 600
	background: transparent url(../images/pink-arrow.png) no-repeat 100% 50%
	padding: 0 11px 0 0
	text-transform: uppercase
	font-size: 16px
	&:hover
		color: adjust-lightness($pink, -12%)
	&.blue
		color: $blue
		background: transparent url(../images/blue-arrow.png) no-repeat 100% 50%
		&:hover
			color: adjust-lightness($blue, -12%)
	
pre
	word-wrap: break-word
	background: adjust-lightness($border, 4%)
	border: 1px solid $border
	padding: 15px
	font-family: Courier, mono
	font-size: 13px
	line-height: 1.5
	margin: 15px 0
	p
		margin: 0
		
blockquote
	margin: 20px 0
	font-size: 25px
	font-style: italic
	font-weight: 400
	line-height: 1.4
	.author
		font-size: 17px
		font-weight: 300

.page-top
	background: $black
	color: $white
	padding: 5px 0px
	font-size: 14px
	a
		color: $white
		&:hover
			text-decoration: underline
	.announcement
		display: inline-block
	.links
		float: right
		a
			margin-left: 20px

.col1
	+span-columns(1)

.col2
	+span-columns(2)

.col3
	+span-columns(3)

.col4
	+span-columns(4)
		
.col5
	+span-columns(5)

.col6
	+span-columns(6)

.col7
	+span-columns(7)

.col8
	+span-columns(8)

.col9
	+span-columns(9)

.col10
	+span-columns(10)

.col11
	+span-columns(11)

.col12
	+span-columns(12)

.col13
	+span-columns(13)

.col14
	+span-columns(14)

.col15
	+span-columns(15)

.col16
	+span-columns(16)
	
.omega
	+omega

.block
	+box-sizing(border-box)
	border: 1px solid $border
	margin-top: 30px
	.image
		max-width: 100%
	.content
		padding: 20px 20px 30px		
	h2
		margin-top: 0
		
.pass-search,
.member,
.visit
	height: 365px




.build,
.featured
	min-height: 515px
	h1
		color: #454545


.visit p, .visit h2
	margin: 0

.member h3
	margin: 0 0 30px 0

.member 
	.button
		margin-right: 17px

.pass-search
	background: url(../images/home-left-bg.jpg) no-repeat 0 0
	color: $white
	h1
		margin-bottom: 0
	p 
		margin-top: 0
		margin-bottom: 30px

	.button
		background: #1f1f1f
		width: 393px
		background-image: none
		font-size: 20px
		padding: 11px 0
		margin-top: 50px
		&:hover
			background: #000
	input[type="text"]
		width: 249px
		border: 0
		background: url(../images/home-input-bg.png) repeat 0 0
		font-size: 16px
		color: #7c868d
		font-style: normal
		font-weight: 600
		padding: 15px 12px
		+transition-property(all)
		+transition-duration(.8s)
		+transition-timing-function(ease-in)
		&.small
			width: 92px
		&:hover, &:focus
			color: #000
			background-color: adjust-lightness($white, -10%)



.shop
	height: 405px
	h1
		color: #454545

	ul
		margin: 16px 0 0 
		float: left
		width: 780px
		li
			width: 250px
			margin-right: 53px
			list-style: none
			padding: 0
			float: left

			&.last
				margin-right: 0
				width: 170px
				

			p
				margin: 0px

			strong
				font-weight: bold
				color: #464646
				font-size: 14px
				line-height: 20px
				display: block
				span
					color: #91c1aa


.home-add
	margin-bottom: 30px



.inner-header
	width: 100%
	float: left
	height: 74px
	text-align: center
	background: #f5f5f5 url(../images/inner-header-bg.jpg) no-repeat center bottom
	padding-top: 25px
	min-width: 1212px




.passenger-tooltip
	position: relative
	.tooltip
		width: 500px
		float: left
		background: $white
		padding: 20px
		border: 3px solid $border
		position: absolute
		left: 18px
		top: 9px
		z-index: 1234



.left-menu
	float: left
	margin: 0px
	list-style-image: none
	li
		float: left
		width: 100%
		border-bottom: 1px solid #ccc
		padding: 0
		
		.sub-menu
			float: left
			margin: 0px
			list-style-image: none
			li
				padding: 0
				background: #e4e5e6
				&.first
					border-top: 1px solid #ccc
				a
					padding: 0 0 0 15px	
						
		&.last
			border: none
		a
			padding: 8px 0px 8px 15px
			float: left
			color: #1F1F1F
			float: left
			width: 185px
			&:hover
				color: #fff
				background: #5496c9

.shop-page
	.product-row
		float: left
		padding: 24px 20px 25px 25px
		background: #fff
		border-bottom: 1px solid #ebebeb

		.image-col
			float: left
			width: 168px
			height: 128px
			border: 1px solid #ccc
			margin-right: 15px
			line-height: 120px
			text-align: center
			position: relative
			img
				max-width: 166px
				max-height: 126px
				vertical-align: middle
			.view-more-img
				width: 136px
				height: 21px
				padding: 5px 0 0 32px
				position: absolute
				left: 0
				bottom: 0
				font-size: 13px
				color: #fff
				line-height: normal
				font-weight: bold
				text-align: left
				background: url(../images/view-more-img.png) no-repeat 0 0

		.right-side
			width: 375px
			float: left		
		.title
			float: left
			width: 360px 
			.price 
				font-size: 20px
				color: #6d6d6d
				font-weight: 300
				padding-bottom: 5px
				strong 
					font-weight: 500
			.member-price
				strong
					font-size: 22px
					color: #6e6e6e
					font-weight: 300
				span 
					font-size: 22px
					color: #e04163
					font-weight: bold

			h3
				font-size: 24px 
				color: #5496c9
				font-weight: 300
				margin: 0 0 15px 0
				line-height: 25px
				
		p 
			font-size: 18px
			line-height: 26px
			color: #404040
			width: 100%
			float: left
		.row
			width: 100%
			float: left
			margin-bottom: 10px
			strong
				font-size: 17px
				color: #3f484a
				font-weight: 600
			
				

			input[type="text"]
				width: 30px
				background: none
				border: 1px solid #e1e0e0
				font-size: 16px
				color: #3f484a
				font-style: normal
				margin-right: 10px
				text-align: center
				margin-left: 5px
			.pink 
				background: #e04163 url(../images/add-btn.png) no-repeat 110px 14px
				padding-right: 30px
				margin-right: 10px
				padding: 10px 30px 10px 20px
				&:hover
					background: #353435 url(../images/add-btn.png) no-repeat 110px 14px
			.green
				background: #b0bbc2
				padding: 10px 20px
				+transition-property(all)
				+transition-duration(.5s)
				+transition-timing-function(ease-in)
				&:hover
					background-color: adjust-lightness($blue, -10%)

			.m-b-10
				margin-bottom: 10px
				float: left

	.last
		border: none
		padding: 0px
.press
	.detail-description-section
		background: #fff
		img
			padding-right: 20px

.bod
	margin-bottom: 30px
	.board-director
		background: #fff
		padding: 20px
		img
			padding-right: 20px


.search_fof
	h1
		font-family: $headings
.white-bg
	background: #fff !important
.white-text
	color: #fff !important
.foundation-left
	img.float-right
		margin-left: 15px
	img.float-left
		margin-right: 15px
.cms-outer-bg
	&.woh-outer-bg
		background: #60A4D3 url(../images/main-woh-bg.jpg) no-repeat  center 0 / 100% auto
	&.background-none
		background: none
		.cms-inner-bg
			background: none
	&.family-heritage-awards
		.detail-section
			.left
				margin-right: 15px





/*********** cart page css****************/
.block.shopping-cart
	border: 0px
.cart-box
	padding: 25px 25px
	float: left
	width: 772px
	position: relative
	background: #fff
	border-bottom: 1px solid #dcdcdc
	&.wishlist
		width: 94%
		padding: 2% 3%
		background: #272f32!important
		margin-top: 10px

	.close-button
		float: left
		width: 34px
		height: 33px
		background: url(../images/cart-close.png) no-repeat  0 0
		position: absolute
		top: 25px
		right: 25px

	.img-col
		float: left
		width: 168px
		height: 128px
		border: 1px solid #ccc
		margin-right: 15px
		line-height: 125px
		text-align: center
		img
			max-width: 166px
			max-height: 126px
			vertical-align: middle
	.right-col
		float: left
		width: 586px
		position: relative

		h2
			font-weight: 300
			font-size: 28px
			font-family: $bodyfont
			color: #5496c9
			text-transform: capitalize
			line-height: 32px
			height: 62px
			word-wrap: break-word
			margin-right: 35px
			span
				font-size: 22px

		.product-name, .qty, .price, .date
			margin-right: 15px
			float: left
			strong
				font-size: 14px
				text-transform: uppercase
				color: #35434e 
				font-family: $headings
				font-weight: 300
			p
				font-size: 16px
				color: #35434e
				text-transform: capitalize
				margin: 0px
		.product-name
			width: 220px
		.date 
			width: 100px
			float: left	
		.qty
			width: 40px
			input[type="text"]
				width: 25px
				padding: 2px 5px
				
		.price
			font-size: 36px
			color: #e04163
			font-weight: 300
			margin: 14px 0 0
			width: 180px
			text-align: right
			float: right
			line-height: 34px
			word-wrap: break-word
	&.button-row
		border: 0
		background: rgba(0, 0, 0, 0.6)
		.pink
			&:hover
				background: #d7264c
		.grand-total
			padding: 10px 0 20px
			margin-bottom: 20px
			float: left
			width: 100%
			span, .total
				color: #fff
				float: right
				font-size: 40px
				line-height: 36px
			span
				font-size: 26px
				margin-right: 15px
				line-height: 20px
				margin-top: 15px
/******************************************/

.fof-Search
	
	h1
		font-family: $bodyfont
	.form-sep
		color: #b8b4b4
		font-size: 18px
		font-style: italic
		text-shadow: none
		padding: 0
		margin: 0




/****************Error Msg**************************/

label
	&.error
		color: #E04163!important
		font-size: 15px!important 
		font-weight: normal
input[type="text"],input[type="password"], ,input[type="textarea"]
	&.error
		border: 1px solid #E04163

.success-msg, .success_message
	float: left
	background: url(../images/sucess-icon.png) no-repeat 0 0!important
	font-size: 17px
	color: #91c1aa!important
	padding-left: 35px
	margin: 7px 0

#lbBottom
	padding-top: 14px
	.fof-light-name
		font-size: 36px
		line-height: 42px
		font-weight: 300
		float: left
		width: 100%
		font-family: $headings
	#lbCaption
		float: left
		margin: 0px
		width: 100%
.fof-popup .fof-Search #search_name
	font-family: $bodyfont !important
	font-weight: 300 !important







