<style>
   .create-contacts .row{padding-bottom: 30px}
</style>
<?php
/**
 * This page is use for create crm user
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.addkiosk.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<!--left section ends-->
    <!--starts right  section-->
   
    <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
    <div class="add-kiosk-popup pop-container">
    	<h3><?php echo "Create KIOSK"; ?></h3>
      <div class="common-form">
       		<div class="row">
                <label class="width-120"><?php echo $translator['L_KIOSK_NAME'] ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('kiosk_name')); ?>
            </div>
    	    <div class="row">
        	<label class="width-120"><?php echo $translator['L_KIOSK_IP'] ?><span class="red">*</span></label>
           <?php echo $this->formRow($form->get('kiosk_ip')); ?>
        </div>
        <div class="row">
                  <div class="col1">
                    <label class="width-120"><?php echo $translator['L_STATUS'] ?><span class="red">*</span></label>
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('status')); ?>
                    </span> </div>
          </div>
          <div class="row">
                  <div class="col1">
                    <label class="width-120"><?php echo $translator['L_KIOSK_SHUTOFF_TIME'] ?><span class="red">*</span></label>
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('kiosk_shutoff')); ?>
                    </span><span class="rel-auto"><?php echo $this->formRow($form->get('kiosk_shutoff_time')); ?></span><?php echo $this->formRow($form->get('kiosk_shutoff_time_list')); ?>  </div>
                  
                </div>
            <div class="row">
             <label class="width-120"><?php echo $translator['L_KIOSK_CAPACITY'] ?><span class="red">*</span></label>
             <?php echo $this->formRow($form->get('kiosk_capacity')); ?>
            </div>
 		   <div class="row">
                  <div class="col1">
                     <label class="width-120"><?php echo $translator['L_KIOSK_WHEELCHAIR'] ?><span class="red">*</span></label>
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('kiosk_wheelchair')); ?>
                    </span>
                  </div>
                  
                </div>
            <div class="row">
                  <div class="col1">
                     <label class="width-120"><?php echo $translator['L_KIOSK_ADS'] ?><span class="red">*</span></label>
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('koisk_ads')); ?>
                    </span> 
                  </div>
                  
            </div>
            <div class="row">
                  <div class="col1">
                     <label class="width-120"><?php echo $translator['L_KIOSK_NOTE'] ?><span class="red">*</span></label>
                      <?php echo $this->formRow($form->get('kiosk_note')); ?>
                 </div>
                  
            </div>
            <div class="row">
                <label class="width-120">&nbsp;</label>
                <!--<input id="cboxclose" class="save-btn m-r-5" type="button" value="Cancel" name="cancelbutton">-->
                <input id="submitbutton" class="save-btn m-r-5" type="submit" value="Save" name="submit" readonly=readonly>
                 <?php //echo $this->formRow($form->get('csrf')); ?>
            </div>
           </div>
     </div>
       <?php echo $this->form()->closeTag(); ?>
    