<?php
/**
 * This file is used for login
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<div>
	<div class="passenger-text">
		<h2>passenger SEARCH</h2>
		<h3>Explore our vast database of over 51 million passenger records...</h3>
		<div class="link m-b-43"><a href="/about-passenger-search">Need more information? Click here.</a></div>
	</div>
	
	<div class="menu-selection">
	<ul>
		<?php
			if($passengerModuleStatus == 1) {
		?>
		<li class="passenger"><a href="/passenger">
		<strong>Passenger Search</strong>
		<span>Search over 51 million<br> passenger records...</span>
		</a>
		</li>
		
		<?php
		}
		?>
		<?php
			if($shopModuleStatus == 1) {
		?>
		<li class="gift-shop">
		<a href="/shop">
		<strong>Gift Shop</strong>
		<span>&nbsp;<br>&nbsp;</span>
		</a>
		</li>
		
		<?php
		}
		?>		
			
	</ul>
	</div>
		
</div>	
		


