<?php 
/*$isTimezoneSessionSet = $this->layout()->getVariable('isTimezoneSessionSet');
if(isset($isTimezoneSessionSet) && $isTimezoneSessionSet === 0)
{*/    
?>
<script type='text/javascript'>
    var visitortime = new Date();
	var visitortimezone = -visitortime.getTimezoneOffset();
       
        $.ajax
        ({
            type: 'POST',
            data:{
                visitortimezone:visitortimezone
            },
            url: '/set-user-timezone',
            success: function(response)
            {
                //$("#gallery").html(response);
            }
        }); 
</script>
<?php 
//}
?>
<?php
/**
 * This file is used for login
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/crm.css?v='.$this->layout()->getVariable('cssVersion'));
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.login.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<?php
			$form = $this->kioskLogin;
			$form->setAttribute('id', 'login_frm');
			$form->setAttribute('name', 'login_frm');
			$form->prepare();
			echo $this->form()->openTag($form);
?>
<div >
		<div id="step1" id="step1">
		<div class="passenger-text">
			<h2>passenger SEARCH</h2>
			<h3>Explore our vast database of over 51 million passenger records...</h3>
			<div class="link m-b-70"><a href="/about-passenger-search">Need more information?  Click here.</a></div>
			</div>
		
				<div class="outer-login">
			<div class="logintimer-new" style="display:none;" id="next_login_session">
				<div class="text">Your session will start in  <span id="showCntTimer" class="timer"></span> minutes</div>
			</div>
			<div class="logintimer-new" style="display:none" id="login_session_available">
				<div class="text" style="color:green !important;">Your session is started now. Please login.</div>
			</div>
				<div class="login-box">
					<h4>RESEARCH SESSION LOGIN</h4>	
					<div class="form-section">
					<label id="error_message" class="error"></label>
						<div class="row"  style="font-family:consolas;font-size:17px;"><?php echo $this->formRow($form->get('confirmation_code')); ?></div>
						<div class="row"><?php echo $this->formRow($form->get('email_id')); ?></div>
					
					<input type="submit" value="Start Session" class="blue-btn start" id="submitbutton" name="submit">
					
				</div>
				
				<span></span>
				</div>
				<div class="login-btm-link">
				Don't have a confirmation code? See an AFIHC representative for assistance.		
				</div>
				
				</div>
		
		
		
				
				

		</div>
	</div>
<?php echo $this->form()->closeTag(); ?>


<script>
    idleTimer = null;
    idleState = false;
    idleWait = 60000;
    var sendReqAgain = true;
    
    $(document).ready(function () {
        nextloginsession();
        
        window.setInterval(function(){
            nextloginsession();
        }, 10000);
    });
    function nextloginsession()
    {
        if(sendReqAgain == true)
        {
            $.ajax({
                type: "POST",
                url:'/kiosk-next-login-session',
                dataType : 'text',   //you may use jsonp for cross origin request
                
                success: function(responseData) {
                        var jsonObj=jQuery.parseJSON(responseData);
                        if(jsonObj.status == 'success')
                        {
                            if(jsonObj.isloginSessionAvailable == false)
                            {
                                $("#next_login_session").hide();
                                $("#login_session_available").hide();
                            }
                            else
                            {
                                setLoginSessionMessage(jsonObj.loginTimeLeft);
                            }
								
                        }
                },
            });
        }
    }
    function setLoginSessionMessage(loginTime)
    {
        if(loginTime > 0)
        {
            $("#login_session_available").hide();
            sendReqAgain = false;
            
        }
        var counter = parseInt(loginTime);
        
            var interval = setInterval(function() {
                    
                    counter--;
                    if(counter >=0){
                        
                        var days=Math.floor(counter / 86400);
                        // After deducting the days calculate the number of hours left
                        var hours = Math.floor((counter - (days * 86400 ))/3600)
                        // After days and hours , how many minutes are left
                        var minutes = Math.floor((counter - (days * 86400 ) - (hours *3600 ))/60)
                        // Finally how many seconds left after removing days, hours and minutes.
                        var secs = Math.floor((counter - (days * 86400 ) - (hours *3600 ) - (minutes*60)))

                        var x = pad(minutes) + ":"  + pad(secs);
						$("#next_login_session").show();            
                        $('#showCntTimer').html(x);
                        //return false;
                    }else
                    {
                        //alert(counter);
                        sendReqAgain = true;
                        $("#next_login_session").hide();
                        $("#login_session_available").show();
                        clearInterval(interval);
                        //window.location.href = "/kiosk-login";
                    }
            }, 1000); 
            setTimeout(function () { 
            //window.location.href = "/kiosk-login";

            idleState = true; }, idleWait);
    }
</script>



