<?php
//asd("phtml");
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/crm.css?v='.$this->layout()->getVariable('cssVersion'));
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.kiosk.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_KIOSK'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        <div id="successRow" class="success-msg row" style="display:none;"></div>

        <div class="head no-img"><span><?php echo $translator['L_KIOSK_MANAGEMENT'] ?></span></div>
        <?php
        $kioskForm = $this->kioskForm;
        $kioskForm->prepare();
        echo $this->form()->openTag($kioskForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row"> <a href="/kiosk-module-management" class="save-btn m-r-10">Assign Modules</a> <a href="javascript:void(0);" onclick="createKiosk();" class="cancel-btn">Add Kiosk</a> </div>
                
                <div class="row">
                    <div class="col1 radio-label">
                        <?php echo $this->formRow($kioskForm->get('status')); ?>
                    </div>
                    
                    <div class="col1 right">
                        
                        <?php echo $this->formRow($kioskForm->get('name_or_ip')); ?>
                    </div>

                </div>
                <div class="row">
                    <div class="col1 right">
                       
                        <?php echo $this->formRow($kioskForm->get('submit')); ?>
                    </div>
                </div>

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
       

    </div>
</div>
<div class="grid-section">
   <!-- <div class="search-results">
       <h3><?php echo $translator['L_SEARCH_RESULT'] ?></h3> 
        <p><?php echo $translator['L_BELOW_RECORDS_MATCHES_CRITERIA'] ?>
            <a href="create-crm-user"><?php echo $translator['L_CREATE_NEW'] ?></a></p>
    </div>-->   
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
        <div class="kiosk-btm-grid">
          <label><img alt="" src="img/available.png">Available</label>
          <label><img alt="" src="img/not-available.png">Not Available</label>
        </div>    
</div>

<div style='display:none'>
    <div id='delete_crm_user_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this search?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_DELETE_CRM_USER'] ?></h2>

        <div class="button-row">         

        </div>
    </div>
</div>
