<?php
/**
 * This file is used for login
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<div>
	
		<h2 class="woh-top-heading">Wall Of Honor</h2>
		<div class="wall-of-honor-text">
		<p>The American Immigrant Wall of Honor&reg; is a special monument that has been created at Ellis Island to honor individuals and families who have immigrated to America.</p>
		<p>Through donations made by friends and family, names of individuals and families are inscribed on The Wall of Honor at Ellis Island.</p>
		</div>
	
	<div class="menu-selection no-mar wall-min-height">
	<ul>
		<li class="search-img"><a href="/search-woh"></a></li>
		<?php
			if($addNameOnWall==1) {
		?>
		<li class="add-img"><a href="/add-woh"></a></li>			
		<?php
			}
		?>
		
	</ul>
	</div>
		
</div>	
		


