<?php
/**
 * This page is use for create questions for quiz
 * @package    Quiz
 * @author     Icreon Tech - KK
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));

//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/quiz/crm.quiz.questions.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.questions.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.questions.edit.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="create-contacts create-group">
    <h2><?php echo $translator['ADD_QUESTIONS']; ?></h2>
    <!-- Create group div start here -->
    <?php
    $form = $this->question_form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div id="create_group_div">
        <div class="breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="accordion-detail m-t-10">
             <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?> 
            <div class="head no-img"><span><?php echo $quiz_data['quiz_title']; ?></span></div>
            <div id="error_message"></div>
            <div id="success_message"></div>
            <div class="detail-section">
                <div class="common-form block">
                    <div class="row" id="ck-editor">
                        <label><?php echo $translator['QUESTION']; ?><span class="red">*</span></label>
                        <span class="left">
                        <?php echo $this->formRow($form->get('quiz_question')); ?>
                            <label for="quiz_question" id="quiz_question_error" style="display:none" generated="true" class="error"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION'] ?></label>
                            </span>
                        <?php echo $this->formRow($form->get('quiz_id_hidden')); ?>
                        <?php echo $this->formRow($form->get('quiz_id_encrypted_hidden')); ?>
                        <?php echo $this->formRow($form->get('correct_index')); ?>
                        
                        
                        <?php //echo $this->formRow($form->get('question_choice[]')); ?>
                        

                    </div>
                    <div class="row">
                        <label><?php  $i = 0; echo $translator['ANSWERS']; ?><span class="red"></span></label>
                        <div  style="padding-bottom:10px;"><?php echo $translator['ADD_CHOICES']?></div>
                        <?php echo $this->formRow($form->get('quiz_question_choice')); ?><a href="javascript:void(0)" id="add_choices" class="save-btn m-l-10">Add</a>
                        <label for="quiz_question_choice" id="quiz_question_choice_text" generated="true" class="error" style="display: none;"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION_CHOICE'] ?></label>
                        
                        <?php //$i++; ?>   
                         <div id="count_div" style="display:none;"><?php echo $i; ?></div>
                        
                         
                         
                    </div>
                    <div id="choice_div">
                    <div class="row">
                        <label>&nbsp;</label>
                        
                  <div class="col11"><span class="text-bold">Actions </span></div>
                  <div class="col7"><span class="text-bold">Options</span></div>
                  <div class="col11 error-msg-left"><span class="text-bold">Correct</span><label for="quiz_correct_option_edit" id="quiz_correct_option_edit" style="display:none;position: relative !important" generated="true" class="error"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION_CORRECT_OPTION'] ?></label></div>
                  
                </div>
                    </div>
                     <div class="row1">
                        <label>&nbsp;</label>
                  <div class="col11"><?php echo $translator['RANDOMIZED_ORDER'];?></div>
                  <div class="col11"> <?php echo $this->formRow($form->get('is_randomized')); ?></div>
                   <label for="is_randomized" class="check">&nbsp;</label>
                  <div class="col11"></div>
                  
                </div>
                    
                    
                    <div class="row ">
                        <label class="no-padd">&nbsp;</label>
                        <!--<a class="add-address" href="#">Add Another Question</a>-->
                         <?php echo $this->formRow($form->get('add_another_question')); ?>
                    </div>
                    <div class="success-msg" id="success_message_edit_question" style="display:none" ></div>
             <div style='display:none'>
            <div id='delete_quiz_question' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_QUIZ_ALERT_QUESTION']; ?></h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete_quiz_question" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete_quiz_question" class="green-btn">
                </div>
            </div>
        </div>
                  
                </div>
            </div>
			  <div id="quizQuestionsAnswers"></div>
			
					<div class="row no-padd m-t-10 common-form">                     
                        <?php echo $this->formRow($form->get('save_question')); ?>
                          <?php echo $this->formRow($form->get('saveandpublish')); ?>
                          <?php echo $this->formRow($form->get('quizpreview')); ?>
                        <?php echo $this->formRow($form->get('cancelbutton')); ?>
                    </div>
        </div>
    </div>
    
    
    <?php echo $this->form()->closeTag(); ?>
</div>
<script type="text/javascript">
    $(function(){
        $(".e2").customInput();
    });

    
</script>
<script>
    showQuestionsGridQuestions('<?php echo $encrypt_quiz_id ?>');
    </script>