<?php
/**
 * This page is use for create questions for quiz
 * @package    Quiz
 * @author     Icreon Tech - KK
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/quiz/crm.quiz.questions.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script>
    tinymce.init({
        mode: "specific_textareas",
        editor_selector: "myTextEditor",
        plugins: [
            "link charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste jbimages"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages",
        height: 300,
        menubar: false,
        width: '100%'
    });
</script>

<div class="create-contacts create-group">
    
    <!-- Create group div start here -->
    <?php
    $form = $this->question_form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div id="create_group_div">
       
        <div class="accordion-detail m-t-10">
            <?php
            if (!empty($messages)) {
                foreach ($messages as $message) {
                    echo '<div id="success_message" class="success-msg">';
                    echo "<div>" . $message . '</div>';
                    echo '</div>';
                }
            }
            ?> 
            <div class="head no-img"><span><?php echo $translator['EDIT_QUESTIONS']; ?></span></div>
            <div id="error_message"></div>
            <div id="success_message"></div>
            <div class="detail-section">
                <div class="common-form block">
                    <div class="row" id="ck-editor">
                        <label><?php echo $translator['QUESTION']; ?><span class="red">*</span></label>
                        <span class="left">
                            <?php echo $this->formRow($form->get('quiz_question_edit')); ?>
                            <label for="quiz_question_edit" id="quiz_question_edit_error" style="display:none" generated="true" class="error"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION'] ?></label>
							<label for="quiz_question_edit" id="quiz_question_edit_exceed" style="display:none" generated="true" class="error"><?php echo $translator['QUIZE_LENGTH_EXCEED'] ?></label>
                        </span>
                        <?php echo $this->formRow($form->get('quiz_id_hidden')); ?>
                        <?php echo $this->formRow($form->get('quiz_id_encrypted_hidden')); ?>
                        <?php echo $this->formRow($form->get('question_id_encrypted')); ?>

                        <?php echo $this->formRow($form->get('correct_index')); ?>


                        <?php //echo $this->formRow($form->get('question_choice[]'));  ?>


                    </div>
                    <div class="row">
                        <label><?php $i = 0;
                        echo $translator['ANSWERS'];
                        ?><span class="red"></span></label>
                        <div  style="padding-bottom:10px;"><?php echo $translator['ADD_CHOICES'] ?></div>
                        <?php echo $this->formRow($form->get('quiz_question_choice_edit')); ?><a href="javascript:void(0)" id="add_choices_question" class="save-btn m-l-10">Add</a>
                        <label for="quiz_question_choice_edit" id="quiz_question_choice_edit_message" generated="true" class="error" style="display: none;"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION_CHOICE'] ?></label>

                        <?php //$i++;  ?>   




                    </div>
                    <div id="choice_div_edit">
                        <div class="row1">

                            <label>&nbsp;</label>
                            <div class="col11"><span class="text-bold">Actions </span></div>
                            <div class="col7"><span class="text-bold">Options</span></div>
                            <div class="col11 error-msg-left"><span class="text-bold">Correct</span><label for="quiz_question_correct_option_edit" id="quiz_question_correct_option_edit" style="display:none;position: relative !important;" generated="true" class="error rel"><?php echo $translator['PLEASE_ENTER_QUIZ_QUESTION_CORRECT_OPTION'] ?></label></div>

                        </div>
                        <?php
                        $quizquestion = $quiz_data[$quiz_id]['quizQuestion'][$question_id];

                        $correctoptionid = $quizquestion['correct_option_id'];
                        $i = 0;
                        foreach ($quizquestion['option'] as $optionKey => $optionData) {
                            ?>
                            <div class="row1">
                                <label>&nbsp;</label>
                                <div class="col11 action">
                                    <a id="edit_<?php echo $i ?>" class="edit_q link oldedit eitd-icon-bt" href="javascript:void(0)">&nbsp;
                                        <div class="tooltip">Edit<span></span></div>
                                    </a>&nbsp;&nbsp;
                                    <a href="javascript:void(0)" class="delete_q link delete-icon-bt">&nbsp;
                                        <div class="tooltip">Delete<span></span></div>
                                    </a> 
                                </div>
                                <div id="choice_question_<?php echo $i ?>" class="col7 rel-auto">
                                    <span class="text-bold m-r-20" id="choicetext_question_<?php echo $i ?>"><?php echo $optionData['option_title'] ?></span>
                                    <input type="hidden" value="<?php echo $optionData['option_title'] ?>" name="question_choice[]" id="question_choice_<?php echo $i ?>"> 
                                </div>
                                <div class="col11">
                                    <span class="text-bold">
                                        <input type="radio" class="e3 correct_choice_ans_question option_selection" value="<?php echo $optionKey; ?>" name="correct_choices[]" id="correct_choice_count_edit_<?php echo $i ?>" <?php if ($correctoptionid == $optionKey) {
                            echo "checked";
                        } ?>>
                                        <label class="redio" for="correct_choice_count_edit_<?php echo $i ?>">&nbsp;</label>
                                    </span>
                                </div>
                            </div>
                            <?php
                            $i++;
                        }
                        $i++
                        ?>
                    </div>
                    <div class="row1">
                        <div id="count_div_question" style="display:none;"><?php echo $i; ?></div>
                        <?php echo $this->formRow($form->get('correct_index_question')); ?>
                        <?php echo $this->formRow($form->get('choice_type')); ?>
                        <?php echo $this->formRow($form->get('all_choice')); ?>
<?php echo $this->formRow($form->get('all_choice_remain')); ?>
<?php echo $this->formRow($form->get('question_id')); ?>



<?php //echo $this->formRow($form->set(array('value'=>'12')));  ?>
                        <label>&nbsp;</label>
                        <div class="col11"><?php echo $translator['RANDOMIZED_ORDER']; ?></div>
                        <div class="col11"> <?php echo $this->formRow($form->get('is_randomized_question')); ?></div>
                        <label for="is_randomized_question" class="check">&nbsp;</label>
                        <div class="col11"></div>

                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('save_question_edit')); ?>

                    </div>







                </div>
            </div>

        </div>
    </div>


<?php echo $this->form()->closeTag(); ?>
</div>
<script type="text/javascript">
    $(function(){
        $(".e2,.e3").customInput();
    });

    
</script>
