<?php
    $translator = $this->jsLangTranslate;
    $var = '';
    $this->inlineScript()->captureStart();
    if(is_array($this->jsLangTranslate))
    {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
    $var .= 'var quiz_id = "'. $quiz_id. '";';     
    $var .=' var encrypt_quiz_id="'.$encrypt_quiz_id.'";';
    $var .=' var encrypted_source_type_id="'.$encrypted_source_type_id.'";';
    $var .=' var module_name="'.$module_name.'";';
    $var .=' var mode="'.$mode.'";';    
    echo $var;
    $this->inlineScript()->captureEnd() ;
    $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/quiz/quiz.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.validate.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/tinymce/tinymce.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
    <div class="create-contacts">
        <h2><?php echo $translator['L_QUIZES'];?></h2>
        
       <div class="accordion-detail  m-t-20">
        <ul class="edit-link">
            <li><a onclick="getQuizDetail()" id="tab-1" href="javascript:void(0);" class="active"><?php echo $translator['L_DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editQuizDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="quizQuestionsDetails()" id="tab-2"><?php echo $translator['L_QUESTIONS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-2"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>            
        <div class="accordion-detail">
            <div id="quizContent"></div>
        </div>
       </div>  
    </div>