<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.edit.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">
    <div class="breadcrumb m-t-51"> 
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['QUIZZES']; ?></span></div>        
        <?php
        $form = $this->createQuizForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <?php echo $this->formRow($form->get('quiz_id')); ?> 
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('quiz_title')); ?> 
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_STATUS']; ?><span class="red">*</span></label>          
                        <?php echo $this->formRow($form->get('is_published')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1 "> 
                        <label><?php echo $translator['TAGLINE']; ?><span class="red">*</span></label>          
                        <?php echo $this->formRow($form->get('quiz_tagline')); ?>
                    </div>
                    <div class="col1 right" >
                        <label><?php echo $translator['MAIN_CATEGORY']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('main_category_id'));
                        foreach ($categoryDesc AS $key1 => $val1) {
                            if (isset($val1) && !empty($val1))
                                echo "<div class='main_category_id" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1 add-group">
                        <label class="no-padd"><?php echo $translator['ADDITIONAL_CATEGORIES']; ?><span class="red"></span></label>
                        <?php echo $this->formRow($form->get('additional_category')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['EXPIRATION_DATE_TIME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('expiration_date')); ?>
                        <?php echo $this->formRow($form->get('expiration_time')); ?>
                    </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['BRIEF_DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($form->get('brief_description')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['FULL_DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($form->get('full_description')); ?>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['AVAILABILITY']; ?><span class="red">*</span></label>
                        <span class="label-checkbox">
                            <?php echo $this->formRow($form->get('avail_member')); ?>
                            <label for="avail_member" class="check"><?php echo $translator['MEMBER']; ?></label>
                            <?php echo $this->formRow($form->get('avail_non_member')); ?>
                            <label for="avail_non_member" class="check"><?php echo $translator['NON_MEMBER']; ?></label>
                            <?php echo $this->formRow($form->get('avail_anonymous')); ?>
                            <label for="avail_anonymous" class="check"><?php echo $translator['ANONYMOUS']; ?></label>
                        </span>
                    </div>
                    <div class="right radio-label m-r-80">                      
                        <?php echo $this->formRow($form->get('is_featured')); ?>
                        <label for="is_featured" class="check"><?php echo $translator['FEATURED']; ?></label>
                        <?php echo $this->formRow($form->get('is_retakeble_quiz')); ?>
                        <label for="is_retakeble_quiz" class="check"><?php echo $translator['RETAKABLE_QUIZ']; ?></label>
                        <?php echo $this->formRow($form->get('enable_answers')); ?>
                        <label for="enable_answers" class="check"><?php echo $translator['ENABLE_ANSWERS']; ?></label>
                    </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['MAIN_IMAGE']; ?></label>
                    <?php echo $this->formRow($form->get('main_image')); ?>
                    <?php echo $this->formRow($form->get('main_image_hidden')); ?>
                    <?php echo $this->formRow($form->get('new_image_hidden')); ?>
                    <div class="full m-t-5">
                        <label>&nbsp;</label>
                        <div id="main_image_msg"></div>
                        <br>
                        <?php
                        if ($quiz_image_path != '') {
                            ?>
                            <img src="<?php echo $quiz_image_path ?>" alt="" class="left">
                        <?php } ?>
                    </div>
                </div>
                <div class="accordion-detail">
                    <div class="head no-img"><span><?php echo $translator['DEMOGRAPHICS']; ?></span></div>
                    <div class="detail-section">
                        <div class="common-form quizzes-create demographics">
                            <div class="row">
                                <div class="col1">
                                    <label style="width:200px !important"><?php echo $translator['AVAILABILITY_DEMO']; ?></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col1">
                                    <span class="label-checkbox">
                                        <?php echo $this->formRow($form->get('avail_member_demo')); ?>
                                        <label for="avail_member_demo" class="check"><?php echo $translator['MEMBER']; ?></label>
                                        <?php echo $this->formRow($form->get('avail_non_member_demo')); ?>
                                        <label for="avail_non_member_demo" class="check"><?php echo $translator['NON_MEMBER']; ?></label>
                                        <?php echo $this->formRow($form->get('avail_anonymous_demo')); ?>
                                        <label for="avail_anonymous_demo" class="check"><?php echo $translator['ANONYMOUS']; ?></label>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col5">
                                    <label><?php echo $translator['ENABLE']; ?></label>
                                </div>
                                <div class="col1">
                                    <label class="auto"><?php echo $translator['DEMOGRAPHICS']; ?></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col5">
                                    <?php echo $this->formRow($form->get('gender')); ?>
                                    <label for="gender" class="check">&nbsp;</label>
                                </div>
                                <div class="col1">
                                    <label class="auto"><?php echo $translator['YOUR_GENDER']; ?> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col5">
                                    <?php echo $this->formRow($form->get('grade_or_class')); ?>
                                    <label for="grade_or_class" class="check">&nbsp;</label>
                                </div>
                                <div class="col1">
                                    <label class="auto"><?php echo $translator['YOUR_GRADE_CLASS']; ?> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col5">
                                    <?php echo $this->formRow($form->get('born_place')); ?>
                                    <label for="born_place" class="check">&nbsp;</label>
                                </div>
                                <div class="col1">
                                    <label class="auto"><?php echo $translator['BORN_US']; ?> </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col5">
                                    <?php echo $this->formRow($form->get('residence_place')); ?>
                                    <label for="residence_place" class="check">&nbsp;</label>
                                </div>
                                <div class="col1">
                                    <label class="auto"><?php echo $translator['LIVE_US']; ?> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="common-form">
            <div class="col1  m-t-20">
                <?php
                // echo $this->formRow($form->get('csrf'));
                echo $this->formRow($form->get('updatebutton'));
                ?>
                <?php echo $this->formRow($form->get('updateandpublish')); ?>
                <?php echo $this->formRow($form->get('previewbutton')); ?>
                <?php echo $this->formRow($form->get('cancelbutton')); ?>
            </div>
        </div>

        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>