<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php
$image = $quizData['main_image'];
if (!empty($image)) {
    $imagepath = $file_upload_path['assets_url'] . 'quiz/large/' . $image;
} else {
    $imagepath = $this->layout()->getVariable('imageFilePath')."/images/quiz-1.png";
}
?>


<?php
//asd($login_user_detail);
$user_id = isset($login_user_detail->user_id) ? $login_user_detail->user_id : '';
if (!empty($userresult)) {
    $quiz_user_id = $userresult[0]['user_quiz_id'];
    $played = $userresult[0]['num_played'];
    $total_questions = $quizData['total_questions'];
    if ($played == $total_questions) {
        if ($countQuizDemoAttempt[0]['total_counter'] == count($demoQuestion)) {
            
        } else if ($countQuizDemoAttempt[0]['total_counter'] <= count($demoQuestion)) {

            $demoindex = isset($countQuizDemoAttempt[0]['total_counter']) ? $countQuizDemoAttempt[0]['total_counter'] : 0;
            $incr_demo = $demoindex + 1;
            ?>
            <script>
                $.ajax
                ({
                    type: 'POST',
                    data: {
                        start_index:'<?php echo $demoindex; ?>',
                                       
                        quizUserId:'<?php echo $quiz_user_id; ?>',
                        start_demo:1,
                        demographic_type:1,
                        retake:1
                                        
                    },
                    url: '/quiz-play/<?php echo $encrypt_quiz_id ?>',
                    success: function(response)
                    {
                        $("#quizQuestionSection").html(response);
                        hideAjxLoader();
                        //var start_index = parseInt($("#start_index_demo").val());
                        $("#start_index_demo").val('<?php echo $incr_demo ?>');
                    }
                });
            </script>
            <?php
        }
    } else if ($played <= $total_questions) {
        $incr = $played + 1;
        ?>
        <script>
            $("#start_index").val('<?php echo $played ?>') ;
            //$("#quizUserId").val('<?php echo $quiz_user_id ?>');
                   
            showAjxLoader();
            $.ajax
            ({
                type: 'POST',
                data: {
                    start_index:'<?php echo $played ?>',
                    quizUserId:'<?php echo $quiz_user_id ?>',
                    retake:1
                                
                },
                url: '/quiz-play/<?php echo $encrypt_quiz_id ?>',
                success: function(response)
                {
                    $("#quizQuestionSection").html(response);
                    hideAjxLoader();
                    var start_index = parseInt($("#start_index").val());
                    $("#start_index").val('<?php echo $incr; ?>');
                }
            });




        </script>
        <?php
    }
}
?>
<div class="inner-header">
    <h1>quiz</h1>
</div>
<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="col11 quiz alpha">
                <div class="white-bg">
                    <div class="quiz-details block">
                        <div class="content clearfix"> <img src="<?php echo $imagepath; ?>" alt="" class="float-left">

                            <div class="quiz-about"> <span id="total-questions" class="float-right"><?php echo $quizData['total_questions']; ?> <?php echo $translator['QUESTIONS']; ?></span>
                                <h2><?php echo $quizData['quiz_title']; ?></h2>
                                <ul>
                                    <li>
                                        <label><?php echo $translator['ADDED']; ?></label>
                                        <?php echo $this->Dateformatalpha($quizData['added_date'], 'displaymothdateyear') ?>
                                        <label>in</label>
                                        <?php echo $quizData['category_name']; ?> </li>
                                    <li>
                                        <label><?php echo $translator['AVAILABLE_TO']; ?></label>
                                        <?php
                                        $quizAvail = explode(",", $quizData['availability']);
                                        if (empty($quizAvail) || in_array('3', $quizAvail)) {
                                            echo "All";
                                        } elseif (in_array('2', $quizAvail)) {
                                            echo "Registered Only";
                                        } elseif (in_array('1', $quizAvail)) {
                                            echo "Members Only";
                                        }
                                        ?>  </li>
                                    <li>
                                        <label><?php echo $translator['EXPIRES']; ?></label>
                                        <?php echo $this->Dateformatalpha($quizData['expiration_date'], 'displaymonthformattime') ?> </li>

                                    <li>
                                        <label><?php echo $translator['L_ADDTNL_CATEGORY']; ?>:</label>
                                        <?php echo $quiz_addtnl_category; ?> </li>
                                    <input type="hidden" name="total_question" id="total_question" value="<?php echo $quizData['total_questions']; ?>" />
                                    <input type="hidden" name="start_index" id="start_index" value="0" />
                                    <input type="hidden" name="start_index_demo" id="start_index_demo" value="0" />

                                    <input type="hidden" name="encrypt_quiz_id" id="encrypt_quiz_id" value=" <?php echo $encrypt_quiz_id; ?>" />

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="quiz-description block" id="quizQuestionSection">
                        <div class="content clearfix">
                            <h1>  <?php echo $quizData['quiz_tag_line']; ?></h1>
                            <p><?php echo $quizData['full_description']; ?></p>
                            <?php
//if($quizData['is_retakeble_quiz'] == '1' && empty($quiz_data['userresult']))
//{
// }

                            if (!empty($userresult) && $quizData['is_retakeble_quiz'] != '1') {
                                $class = "cannottake";
                                $hash = "#nottake";
                            } else {
                                if ($quizData['expiredtext'] == 'notexpired') {
                                    $class = "begin_quiz";
                                    $hash = "javascript:void(0)";


                                    if (empty($quizAvail) || in_array('3', $quizAvail)) {
                                        if (empty($login_user_detail->user_id)) {
                                            $class = "notrequirelogin";
                                            $hash = "#quiz_notrequire_login";
                                        }
                                    } elseif (in_array('2', $quizAvail)) {
                                        if (empty($login_user_detail->user_id)) {
                                            $class = "requirelogin";
                                            $hash = "#quiz_require_login";
                                        }
                                    } elseif (in_array('1', $quizAvail)) {
                                        if (empty($login_user_detail->user_id)) {
                                            $class = "requireloginmember";
                                            $hash = "#quiz_require_login_member";
                                        } else {
                                            $member = $login_user_detail->user_membership_id;
                                            //$member = '';
                                            if (empty($member)) {
                                                $class = "requiremember";
                                                $hash = "#quiz_require_member";
                                            }
                                        }
                                    }
                                } elseif ($quizData['expiredtext'] == 'expired') {
                                    $class = "expired";
                                    $hash = "#quiz_expired";
                                }
                            }
                            ?>
                            <div class="link-holder"> <a href="<?php echo $hash ?>" class="semibold button pink <?php echo $class ?> " id="<?php echo $encrypt_quiz_id; ?>"><?php echo $translator['BEGIN_QUIZ'] ?></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col5 rightsection omega">
                <div class="home-add">
                    <div class="advertise"> 
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='nottake' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['QUIZ_NO_LONGER_AVAIL']; ?></h2>
        <p><?php echo $translator['QUIZ_ALREADY_TAKEN']; ?></p>

        <div class="button-row">
            <input type="button" value="Close" name="Close" id="close1" class="button semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='quiz_expired' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['QUIZ_NO_LONGER_AVAIL']; ?></h2>
        <p><?php echo $translator['QUIZ_EXPIRED_MESSAGE']; ?></p>

        <div class="button-row">
            <input type="button" value="Close" name="Close" id="close1" class="button semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='quiz_require_login' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['LOGEED_IN_ONLY']; ?></h2>
        <p><?php echo $translator['ONLY_LOGGEDIN_REGISTER']; ?></p>

        <div>
            <input name="login" id="login" type="button" class="button green semibold" value="Login">
            <input name="register" id="register" type="button" class="button green semibold" value="Register">

            <input type="button" style="float:right" value="Close" name="Close" id="close2" class="button semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='quiz_require_member' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['MEMBER_ONLY_QUIZ']; ?></h2>
        <p><?php echo $translator['UPGRADE_MEMBER']; ?></p>

        <div class="button-row">
             <!--<input name="login2" id="login2" type="button" class="button green semibold" value="Login">-->


            <input type="button" style="float:right" value="Close" name="Close" id="close3" class="button semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='quiz_require_login_member' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['MEMBER_ONLY_QUIZ']; ?></h2>
        <p><?php echo $translator['UPGRADE_MEMBER']; ?></p>

        <div>
            <input name="login1" id="login1" type="button" class="button green semibold" value="Login">
            <input name="register1" id="register1" type="button" class="button green semibold" value="Register">

            <input type="button" style="float:right" value="Close" name="Close" id="close" class="button semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='quiz_notrequire_login' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['NOT_LOGGED_IN']; ?></h2>
        <p><?php echo $translator['QUIZ_OPEN_TO_ALL']; ?></p>

        <div>
            <input name="login1" id="login3" type="button" class="button green semibold" value="Login">
            <input name="register1" id="register2" type="button" class="button green semibold" value="Register">

            <input type="button" style="float:right" value="Continue to Quiz without login" name="Close" id="<?php echo $encrypt_quiz_id; ?>" class="button semibold continue">
        </div>
    </div>
</div>



