<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/quiz/crm.quiz.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/quiz/search.quiz.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.timepicker.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery.timepicker.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['QUIZES']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT']; ?></p>
    <div class="accordion-detail m-t-20">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['SEARCH_CAMP']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $form = $this->search_quiz_form;
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?></label>
                        <?php echo $this->formRow($form->get('quiz_title')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['CATEGORY']; ?></label>
                        <?php
                        echo $this->formRow($form->get('main_category_id'));
                        foreach ($categoryDesc AS $key1 => $val1) {
                            if (isset($val1) && !empty($val1))
                                echo "<div class='main_category_id" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                        }
                        ?>
                        <?php // echo $this->formRow($form->get('campaign_code_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['EXPIRATION_DATE']; ?></label>
                        <?php echo $this->formRow($form->get('added_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($form->get('start_date')); ?>
                        <img alt="" class="left" onclick="focusTextBox('start_date')" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/cal.jpg">
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('end_date')); ?>
                        <img alt="" class="left" onclick="focusTextBox('end_date')" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/cal.jpg">
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['AVAILABILITY']; ?></label>
                        <span class="label-checkbox">



                            <?php echo $this->formRow($form->get('avail_member')); ?>
                            <label for="avail_member" class="check"><?php echo $translator['MEMBER']; ?></label>




                            <?php echo $this->formRow($form->get('avail_non_member')); ?>
                            <label for="avail_non_member" class="check"><?php echo $translator['NON_MEMBER']; ?></label>



                            <?php echo $this->formRow($form->get('avail_anonymous')); ?>
                            <label for="avail_anonymous" class="check"><?php echo $translator['ANONYMOUS']; ?></label>
                        </span>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('quiz_status')); ?>
                        <?php // echo $this->formRow($form->get('campaign_code_id')); ?>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['FEATURED']; ?></label>
                        <?php echo $this->formRow($form->get('is_featured')); ?>
                        <label for="is_featured" class="check">&nbsp;</label>
                    </div>
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>
                        <?php //echo $this->formRow($form->get('searchbuttonquiz')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('searchbuttonquiz')); ?>

                    </div>
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>

                    </div>
                </div>


                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

        <!-- <div class="detail-section1 common-form search-row-2">
             <div class="left">
                 <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>
 
        <?php echo $this->formRow($form->get('saved_search')); ?>
 
             </div>
             <div class="right col1" style="width:auto">
        <?php
        // $save_form = $this->save_search_campaign_form;
        //$save_form->prepare();
        //echo $this->form()->openTag($save_form);
        ?>
                 <label><?php //echo $translator['L_SAVE_SEARCH_AS'];  ?> </label>
        <?php //echo $this->formRow($save_form->get('save_search_as')); ?>
        <?php //echo $this->formRow($save_form->get('search_id')); ?>
        <?php //echo $this->formRow($save_form->get('savesearch')); ?>
                 <a href="#delete_campaign_search" id="deletebutton" style="display:none;" class="delete_campaign_search save-btn m-l-5" onClick="deleteSearch();"><?php echo $translator['DEL']; ?></a>
                 <span id="search_msg"></span>    
        <?php
        // echo $this->form()->closeTag();
        ?>
             </div>
         </div>-->
        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $save_search_form = $this->save_search_quiz_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <a href="#delete_quiz_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
    </div>
</div>



<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['SEARCH_RESULTS'] ?> :</h3>
        <p><?php echo $translator['SEARCH_RESULTS_TEXT'] ?> </p>
    </div>
    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box" id="gview_list">
        <table id="list_quizzes"></table>
        <div id="listquizzerud"></div>
    </div>

    <div style='display:none'>
        <div id='delete_quiz_content' class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2><?php echo $translator['DELETE_QUIZ_ALERT']; ?></h2>
            <div class="button-row">
                <input type="button" value="Yes" name="yes" id="yes_delete_quiz" class="blue-btn m-r-10">
                <input type="button" value="No" name="no" id="no_delete_quiz" class="green-btn">
            </div>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_quiz_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_SEARCH_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>