<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/jquery.jqplot.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/jqplot.plugins.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/excanvas.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/plugins/jqplot.canvasTextRenderer.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/plugins/jqplot.canvasAxisLabelRenderer.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/plugins/jqplot.canvasAxisTickRenderer.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jQplot/jquery.jqplot.css" media="all" />

<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/tabs.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script>
    $(document).ready(function(){
        barChartMonth();
		
       
    });

    function barChartMonth()
    {   
        var ticks = <?php echo $graphticks ?>;
        $.jqplot ('monthlyChart', [<?php echo $graphResultencode ?>],
        {
            //title: '<?php echo "Total" ?>',
            series:[{renderer:$.jqplot.BarRenderer},{color:'#40AAD4'}],
            seriesColors:<?php echo $colorarray; ?>,
            //series:[{color:'#40AAD4'}],
            seriesDefaults:{
                renderer:$.jqplot.BarRenderer,
                pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
                rendererOptions: {fillToZero: true, varyBarColor: true}
            },
            axes: {
                xaxis: {
                    renderer:$.jqplot.CategoryAxisRenderer,
                    ticks: ticks,
                    label:'<span  class="dashboard-graph"><?php echo "Total Number of questions answered correctly"; ?></span>'
					
                },
                yaxis: {
                    showTicks: false,		
                    min:0,
                    tickOptions: {
                        formatString: "%d%",
                        angle: -30
                    },
                    rendererOptions: {
                        forceTickAt0: false
                    }
                }
            },
            highlighter: {
                show: false,
                // showLabel: true,
                showMarker:false,
                tooltipAxes: 'y',
                sizeAdjust: 1 ,
                tooltipLocation : 'ne'
            },
            cursor: {
                show: false
            }
            
        }		
    );	
    }	

</script>

<?php $quizData = $quiz_data[0]; ?>
<?php
$image = $quizData['main_image'];
if (!empty($image)) {
    $imagepath = $file_upload_path['assets_url'] . 'quiz/large/' . $image;
} else {
    $imagepath = "<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/quiz-1.png";
}
?>
<div class="inner-header">
    <div class="container class-relative"> <a href="/quizzes" class="back-search"><?php echo $translator['BACK_TO_QUIZZES']; ?></a>
        <h1><?php echo $translator['QUIZ_T']; ?></h1>
    </div>
</div>
<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="col11 quiz alpha">
				<div class="white-bg">
                <div class="quiz-details block">
                    <div class="content clearfix"> 
                        <div class="quiz-img-box"><img src="<?php echo $imagepath; ?>" alt="" class="left"></div>
						<div class="quiz-about">
                        <h1><?php echo $quizData['quiz_title']; ?></h1>
                        <h3><?php echo $quizData['brief_description']; ?></h3>
                        <span><?php echo $translator['ADDED']; ?> <strong><?php echo $this->Dateformatalpha($quizData['added_date'], 'displaymothdateyear') ?></strong> in <strong>  <?php echo $quizData['category_name']; ?></strong></span>
                        <p><?php echo $quizData['full_description']; ?></p>
                     
                        <?php
                        if (!empty($quiz_data['userresult'])) {
                            ?>
                            <p><strong><?php echo $translator['YOU_ANSWERED']; ?> <?php echo $quiz_data['userresult'][0]['num_correct'] . ' of  ' . $quizData['total_questions'] ?> questions correctly along with <?php echo $graphResult[$quiz_data['userresult'][0]['num_correct']] . '% of responders'; ?>.</strong></p>
                            <?php
                        } else {
                            echo "<p style='width:600px'></p>";
                        }

					?>
                         </div>
						<div class="full">
						<?php
						//is_retakeble_quiz
                        if ($quiz_data[0]['is_retakeble_quiz'] == '1' && !empty($quiz_data['userresult'])) {
						
                            ?>
                            <a href="#" onclick="viewquiz('<?php echo $encrypt_quiz_id ?>')" class="button semibold float-left"><?php echo $translator['TAKE_AGAIN']; ?></a>
                            <?php
                        }

                        if (!empty($quiz_data['userresult'])) {
                            ?>

							

                           <!-- <img src="/images/quize-f.jpg" class="float-right" alt="">-->
                            <!--
                            <a class="float-right" href="javascript:void(0);" 
                               onclick="
                                       window.open(
                                       'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                                       'facebook-share-dialog', 
                                       'width=626,height=436'); 
                                       return false;">
                                <img src="<?php //echo $this->layout()->getVariable('imageFilePath'); ?>/images/quize-f.jpg">
                            </a>
                            -->
                        <?php } ?>
	</div>
                    </div>
                </div>
                <div class="quiz-description block">
				<div class="content">
                    <ul class="tabs mar-none">
                        <li><a class="" href="#overall-score">Overall Score</a></li>
                        <?php
                        if (!empty($quiz_user_id) || !empty($quiz_data['userresult'])) {
                            ?>
                            <li><a class="" href="#question">Question By Question</a></li>
                            <li class="last"><a class="" href="#demographic">Demographic Breakdowns</a></li>
                        <?php } ?>
                    </ul>
					</div>
                    <div id="overall-score">
                        <div class="content">
                            <p><!--Your score is better than 56% of responders and below 32%--></p>
                            <p><strong></strong></p>

                            <?php ?>
                            <div id="monthlyChart" style="height: 500px; width: 600px; position: relative;" class="chart_flw" title=""></div>
                        </div>
                    </div>

                    <?php
                    if (!empty($quiz_user_id) || !empty($quiz_data['userresult'])) {
                        ?>
                        <div id="question">
                            <div class="content clearfix" >
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <th>Question</th>
                                        <th>Result</th>
                                        <th>Your Answer</th>
                                        <th>All Americans, % Correct</th>
                                    </tr>
                                    <?php
                                    //asd($quizResultQuestionByQuestion);
                                    foreach ($quizResultQuestionByQuestion as $answers) {
                                        ?>
                                        <tr>
                                            <td><?php echo $answers['question_title'] ?></td>
                                            <td><?php
                                if ($answers['is_correct'] == '1') {
                                    echo "<span style='color:#47B447'>Correct</span>";
                                } else {
                                    echo "<span style='color:#CF6060'>In Correct</span>";
                                }
                                ?></td>
                                            <td><?php
                                if ($answers['is_correct'] == '1') {
                                    echo $answers['choosed_title'];
                                } else {

                                    echo "You Answered " . $answers['choosed_title'];
                                    if ($quizData['enable_answers'] == '1')
                                        echo "<br><br>The correct Answer is  " . $answers['correct_title'];
                                }
                                        ?></td>
                                            <td><?php
                                        $correctPer = round(($answers['questions_correct'] / $answers['question_played']) * 100);
                                        $incorrectper = 100 - $correctPer;
                                        ?>
                                                <div style="width:200px;">
                                                    <div style="float:left;width:<?php echo $correctPer ?>%;background-color:#47B447">&nbsp;</div>
                                                    <div style="background-color:#CF6060;float:left;width:<?php echo $incorrectper; ?>%">&nbsp;</div>

                                                </div>
                                        <?php echo $correctPer; ?>%
                                            </td>
                                        </tr>
    <?php } ?>
                                </table>
                            </div>
                        </div>
                        <div id="demographic">
                            <div class="content clearfix" style="overflow: auto;width: 740px;">
                                <table cellpadding="0" cellspacing="0" width="100%" >
                                    <tr>

                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <?php
                                        foreach ($newdemoArray as $demodata) {
                                            echo "<td colspan=" . count($demodata['questionOptionArray']) . ">" . $demodata['question_title'] . " </td>";
                                        }
                                        ?>

                                    </tr>
                                    <tr>

                                        <td>&nbsp;</td>
                                        <td>You</td>
                                        <?php
                                        foreach ($newdemoArray as $demodata) {
                                            foreach ($demodata['questionOptionArray'] as $option) {
                                                echo "<td>" . $option . " </td>";
                                            }
                                        }
                                        ?>

                                    </tr>
                                    <?php
                                    // asd($quizResultQuestionByQuestion,true);
                                    // asd($newdemoArray);
                                    foreach ($quizResultQuestionByQuestion as $answers) {
                                        ?>

                                        <tr>

                                            <td><?php echo $answers['question_title'] ?></td>
                                            <td><?php
                                        if ($answers['is_correct'] == '1') {
                                            echo "<span style='color:#47B447'>Correct</span>";
                                        } else {
                                            echo "<span style='color:#CF6060'>In Correct</span>";
                                        }
                                        ?></td>
                                            <?php
                                            foreach ($newdemoArray as $demodata) {
                                                //echo $demodata['quiz_question_id'];
                                                foreach ($demodata['questionOptionArray'] as $key => $option) {
                                                    //$demoArray[$answers['quiz_question_id']][$key];

                                                    $count = isset($demoArray[$demodata['quiz_question_id']][$key]) ? $demoArray[$demodata['quiz_question_id']][$key]['total_counter'] : 0;
                                                    echo "<td>" . $count . "</td>";
                                                }
                                            }
                                            ?>

                                        </tr>
    <?php } ?>


        <!-- <tr>
            <th>Question</th>
            <th>Result</th>
            <th>Your Answer</th>
            <th>All Americans, % Correct</th>
        </tr>
        <tr>
            <td>Question</td>
            <td>Result</td>
            <td>Your Answer</td>
            <td>All Americans, % Correct</td>
        </tr>-->
                                </table>
                            </div>
                        </div>
<?php } ?>
                </div>
			</div>
		   </div>
            <div class="col5 rightsection omega">
                <div class="home-add">
                    <div class="advertise"> 
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

