<?php
    $translator = $this->jsLangTranslate;
    $var = '';
    $this->inlineScript()->captureStart();
    if(is_array($this->jsLangTranslate))
    {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
     echo $var;
    $this->inlineScript()->captureEnd() ;
    $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/quiz/crm.quiz.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.questionsDetails.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script><script>
    $(function(){$('input').customInput();});
    showQuestionsGrid(encrypt_quiz_id);
</script>
    <div class="breadcrumb m-t-51"> 
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_QUIZ_INFO'];?></span></div>
            <div class="detail-section white-bg" >
              <div class="common-form">
                <div class="view-row">
                  <div class="col1"> <strong><?php echo $translator['L_TITLE'];?></strong><br>
                    <?php echo $quiz_data[$quiz_id]['detail']['quiz_title']; ?> </div>
                  <div class="col1 right"> <strong><?php echo $translator['L_STATUS'];?></strong><br>
                    <?php echo $quiz_data[$quiz_id]['detail']['is_published'] == 1 ? 'Published' : 'Un Published'; ?> </div>
                </div>
                <div class="view-row">
                  <div class="col1"> <strong><?php echo $translator['L_TAGLINE'];?></strong><br>
                    <?php echo $quiz_data[$quiz_id]['detail']['quiz_tag_line']; ?> </div>
                  <div class="col1 right"> <strong><?php echo $translator['L_MAIN_CATEGORY'];?></strong><br>
                    <?php echo $quiz_data[$quiz_id]['detail']['category_name']; ?> </div>
                </div>
                <div class="view-row">
                  <div class="col1"> <strong><?php echo $translator['L_ADDTNL_CATEGORY'];?></strong><br>
                    <?php echo $quiz_addtnl_category; ?> </div>
                  <div class="col1 right"> <strong><?php echo $translator['L_EXP_DATE_TIME'];?></strong><br>
                    <?php echo $this->Dateformatalpha($quiz_data[$quiz_id]['detail']['expiration_date'],'dateformatampm'); ?> </div>
                </div>
                <div class="view-row">
                  <div class="col1"> <strong><?php echo $translator['L_BRIEF_DESC'];?></strong><br>
                    <?php echo $quiz_data[$quiz_id]['detail']['brief_description']; ?> </div>
                </div>
                <div class="view-row"> <strong><?php echo $translator['L_FULL_DESC'];?></strong><br>
                  <?php echo $quiz_data[$quiz_id]['detail']['full_description']; ?> </div>
                <div class="view-row checkbox-auto">
                  <div class="full m-b-15"><strong><?php echo $translator['L_AVAILABILITY'];?></strong></div>
                  <input name="" disabled  <?php echo strpos($quiz_data[$quiz_id]['detail']['availability'], '1')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="check-1" value="">
                  <label class="check" for="check-1"><?php echo $translator['L_MEMBER'];?></label>
                  <input name="" disabled <?php echo strpos($quiz_data[$quiz_id]['detail']['availability'], '2')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="check-2" value="">
                  <label class="check" for="check-2"><?php echo $translator['L_NON_MEMBER'];?></label>
                  <input name="" disabled <?php echo strpos($quiz_data[$quiz_id]['detail']['availability'], '3')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="check-3" value="">
                  <label class="check" for="check-3"><?php echo $translator['L_ANONYMOUS'];?></label>
                  <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['is_featured'] == 1 ? 'Checked' : ''; ?> type="checkbox" id="check-4" value="">
                  <label class="check" for="check-4"><?php echo $translator['L_FEATURED'];?></label>
                  <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['is_retakeble_quiz'] == 1 ? 'Checked' : ''; ?> type="checkbox" id="check-5" value="">
                  <label class="check" for="check-5"><?php echo $translator['L_RETAKABLE_QUIZ'];?></label>
                  <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['enable_answers'] == 1 ? 'Checked' : ''; ?> type="checkbox" id="check-6" value="">
                  <label class="check" for="check-6"><?php echo $translator['L_ENABLE_ANSWERS'];?></label>
                </div>
                <div class="view-row no-padd"> <strong><?php echo $translator['L_MAIN_IMAGE'];?></strong><br>
                    <div class="full">
                        <div class="col5">
                            <label>&nbsp;</label>
                             <?php if($quiz_image_path!='')
                    {
                        ?>
                    <img src="<?php echo  $quiz_image_path ?>" alt="" class="left">
                    <?php } ?>
                            
                            </div>
                    </div>                
                </div>
              </div>
            </div>
            
            <div id="quizQuestionsAnswers"></div>
            
    
            <div class="head no-img"><span><?php echo $translator['DEMOGRAPHICS'];?></span></div>
            <div class="detail-section white-bg" >
              <div class="common-form">
                  <div class="row">
                      
                        <div class="view-row checkbox-auto">
                  <div class="full m-b-15"><strong><?php echo $translator['AVAILABILITY_DEMO'];?></strong></div>
                  <input name="" disabled  <?php echo strpos($quiz_data[$quiz_id]['detail']['demographic_availability'], '1')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="avail_member_demo" value="">
                  <label class="check" for="avail_member_demo"><?php echo $translator['L_MEMBER'];?></label>
                  <input name="" disabled <?php echo strpos($quiz_data[$quiz_id]['detail']['demographic_availability'], '2')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="avail_non_member_demo" value="">
                  <label class="check" for="avail_non_member_demo"><?php echo $translator['L_NON_MEMBER'];?></label>
                  <input name="" disabled <?php echo strpos($quiz_data[$quiz_id]['detail']['demographic_availability'], '3')  ===  false ? '' : 'Checked'; ?> type="checkbox" id="avail_anonymous_demo" value="">
                  <label class="check" for="avail_anonymous_demo"><?php echo $translator['L_ANONYMOUS'];?></label>
                
                </div>
                    
                    
                     
                </div>
                <div class="view-row">
                  <div class="col2"> <strong><?php echo $translator['ENABLE'];?></strong> </div>
                  <div class="col1"> <strong><?php echo $translator['DEMOGRAPHICS'];?></strong> </div>
                </div>
                <div class="view-row">
                  <div class="col2">
                    <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['gender'] != '' ? 'Checked' : ''; ?> type="checkbox" value="" id="check-7">
                    <label for="check-7" class="check">&nbsp;</label>
                  </div>
                  <div class="col1"><?php echo $translator['YOUR_GENDER'];?></div>
                </div>
                <div class="view-row">
                  <div class="col2">
                    <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['grade_or_class'] != '' ? 'Checked' : ''; ?> type="checkbox" value="" id="check-9">
                    <label for="check-9" class="check">&nbsp;</label>
                  </div>
                  <div class="col1"> <?php echo $translator['YOUR_GRADE_CLASS'];?> </div>
                </div>
                <div class="view-row">
                  <div class="col2">
                    <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['born_place'] != '' ? 'Checked' : ''; ?> type="checkbox" value="" id="check-10">
                    <label for="check-10" class="check">&nbsp;</label>
                  </div>
                  <div class="col1"> <?php echo $translator['BORN_US'];?> </div>
                </div>
                <div class="view-row no-padd">
                  <div class="col2">
                    <input name="" disabled <?php echo $quiz_data[$quiz_id]['detail']['residence_place'] != '' ? 'Checked' : ''; ?> type="checkbox" value="" id="check-11">
                    <label for="check-11" class="check">&nbsp;</label>
                  </div>
                  <div class="col1"> <?php echo $translator['LIVE_US'];?> </div>
                </div>
              </div>
            </div>