<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="inner-header">
    <h1><?php echo $translator['QUIZ_T']; ?></h1>
</div>
<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="blog-left">
                <div class="blog-content">
                    <div class="content clearfix"> <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/quiz-1.png" alt="" class="float-left">
                        <div class="quiz-about float-left">
                            <h1><?php echo $translator['FIND_THE_RIGHT_QUIZ']; ?></h1>
                            <p><?php echo $translator['WELCOME_QUIZ']; ?></p>
                        </div>
                        <?php
                        $form = $this->search_quiz_form;
                        $form->prepare();
                        echo $this->form()->openTag($form);
                        ?>
                        <div class="form-sep mar-top-8">
                            <div class="col8">
                                <label><?php echo $translator['LOOKING_FOR_PARTICULAR']; ?>:</label>
                                <?php
                                echo $this->formRow($form->get('main_category_id'));
                                foreach ($categoryDesc AS $key1 => $val1) {
                                    if (isset($val1) && !empty($val1))
                                        echo "<div class='main_category_id" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                                }
                                ?>
                            </div>
                            <div class="col8 omega">
                                <label><?php echo $translator['EXPIRATION']; ?>:</label>
                                <?php echo $this->formRow($form->get('quiz_expired')); ?>
                            </div>
                        </div>
                        <div class="form-sep">
                            <div class="col8">
                                <label><?php echo $translator['KNOW_THENAME_OF_QUIZ']; ?>:</label> 
                                <?php echo $this->formRow($form->get('quiz_title')); ?>
                            </div>
                            <div class="col8 omega">
                                <label><?php echo $translator['QUIZ_AVAILABLE_TO']; ?>:</label> 
                                <?php echo $this->formRow($form->get('quiz_available_to')); ?>
                            </div>
                        </div>
                        <input name="search_quiz_button" id="search_quiz_button" type="button" class="button green semibold float-left" value="Search">
                        <input type="hidden" name="page" id="page" value="1"/>
                        <input type="hidden" name="sort_field" id="sort_field" value="is_featured"/>
                        <input type="hidden" name="sort_order" id="sort_order" value="desc"/>

                        <?php
                        echo $this->form()->closeTag();
                        ?>
                    </div>
                </div>
                <div class="quiz-description clearfix" id="quizlist">
                    <div class="content immigration-section"><?php //echo $limit.' of '.$totalresult;    ?>
              <div class="top-section"> <a href="javascript:void(0)" id="date_sorting" class="date">Date Added<img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/date-arrow.png" alt=""></a>
<!-- <span class="record">10 of 24 Records<?php //echo $limit*$page.' of '.$totalresult;    ?></span>
                <div class="omega col4">
                  <label>Display</label>
                  <div class="col8 omega">
                    <select name="">
                      <option>50</option>
                    </select>
                  </div>
                </div> -->
                        </div>
                        <div id="quiz_records">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col5 rightsection omega">
                <div class="home-add">
                    <div class="advertise"> 
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                    </div>
                </div>
                <div class="home-add">
                    <div class="advertise"> 
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    getquizlistFront();
</script>
<script>
    $(window).data('ajaxready', true).scroll(function(e) {
        if ($(window).data('ajaxready') == false)
            return;
        var WindowHeight = $(window).height();
        if ($(window).scrollTop() >= $(document).height() - WindowHeight) {
            $(window).data('ajaxready', false);
            var page = parseInt($("#page").val());
            $("#page").val(page + 1);
            $.ajax
            ({
                type: 'POST',
                cache: true,
                data: {
                    searchString: $("#search_quiz").serialize(),
                    page: $("#page").val()
                },
                url: '/get-quiz-list',
                success: function(response)
                {
                    $("#quiz_records").append(response);
                    $(window).data('ajaxready', true);
                }

            });
        }
    });
</script>
