<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>

<?php
if (empty($seachresult)) {
    //echo $translator['NO_RECORD_FOUND'];
} else {

    $totalresult = $resultcount['records'];
    $limit = $resultcount['limit'];
    $page = $resultcount['page'];
    ?>


    <?php
    $file_upload_path = $file_upload_path;
    // asd($seachresult);
    foreach ($seachresult as $quizData) {
        ?>
        <div class="detail-box">
		<div class="image-box">
        <?php
        $image = $quizData['main_image'];
        if (!empty($image)) {
            $imagepath = $file_upload_path['assets_url'] . 'quiz/medium/' . $image;
        } else {
			$imageFilePath = $this->layout()->getVariable('imageFilePath');
            $imagepath = $imageFilePath."/images/quize-pic.jpg";
        }
        ?>
            <img src="<?php echo $imagepath; ?>" class="float-left" alt="">
			</div>
            <div class="right-detail">
                <h1 class="clearfix"><?php echo $quizData['quiz_title']; ?></h1>
                <h3 class="clearfix"><?php echo $quizData['quiz_tag_line']; ?></h3>
                <span class="question"><?php echo $quizData['total_questions']; ?> <?php echo $translator['QUESTIONS']; ?></span>
                <ul>
                    <li class="float-left"><strong><?php echo $translator['ADDED']; ?></strong> <?php echo $this->Dateformatalpha($quizData['added_date'], 'Dateformatalpha') ?> <strong>in</strong> <?php echo $quizData['category_name']; ?></li>
                    <li class="center"><strong><?php echo $translator['AVAILABLE_TO']; ?></strong> <?php
        if (!isset($searchParam['quiz_available_to'])) {
            $searchParam['quiz_available_to'] = '0';
        }
        if ($searchParam['quiz_available_to'] == '0') {
            echo "All";
        } else if ($searchParam['quiz_available_to'] == '1') {
            echo "Logged In";
        } else if ($searchParam['quiz_available_to'] == '2') {
            echo "members Only";
        }

        //echo $quizData['availability'];
        ?></li>
                    <li class="float-right"><strong><?php echo $translator['EXPIRES']; ?></strong> <?php echo $this->Dateformatalpha($quizData['expiration_date'], 'displaymonthformattime') ?></li>
                </ul>
                <p  class="clearfix"><?php echo $quizData['brief_description']; ?></p>
            </div>
            <div class="bottom-detail">
               
                        <?php
                        $userid = isset($login_user_detail->user_id) ? $login_user_detail->user_id : '';
                        $path = $this->layout()->getVariable('imageFilePath') . '/quiz-result/' . $this->Encrypt($quizData['quiz_id']);
                        if (!empty($userid)) {
                            if (!empty($quizData['userresult'])) {
                        ?> <div class="text"><?php echo $translator['YOU_SCORED']; ?> :<strong> <?php echo $quizData['userresult'][0]['num_correct'] . ' / ' . $quizData['total_questions'] ?>!</strong></div>

                                <?php
                            }
                        }
                        ?>  
        <!--<a href="#"><img src="images/quize-f.jpg" alt=""></a>--> 




               
    <?php
      if(isset($quizData['userresult'][0]['num_correct']) and isset($quizData['total_questions']) and $quizData['total_questions'] > 0 and trim($quizData['userresult'][0]['num_correct']) != "" and $_SERVER['REMOTE_ADDR'] != $allowed_IP) {
        $scoreT = $quizData['userresult'][0]['num_correct'] . "/" . $quizData['total_questions'];               
        $fbArr = array($this->serverUrl().'/quizzes',$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',$translator['FBSHARE_TITLE2'],'&nbsp;',  sprintf($translator['FBSHARE_DESCRIPTION2'],$scoreT,DOMAIN_NAME),$facebookAppId);
    ?>
         <a class="right" href="javascript:void(0);"  onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');">
             <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/quize-f.jpg">
         </a>
     <?php } ?>
                        
                    <input name="" type="button" onclick="viewquiz('<?php echo $this->Encrypt($quizData['quiz_id']); ?>')" class="button green semibold" value="VIEW QUIZ">
                    <input name="" type="button" onclick="viewquizresult('<?php echo $this->Encrypt($quizData['quiz_id']); ?>')" class="button semibold" value="SEE RESULTS">
               
            </div>
        </div>
                <?php } ?>






    <!--<div class="pager"> <a href="" class="arrow-left"></a> <a href="" class="arrow-right"></a>
      <ul>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
      </ul>
    </div>-->
<?php } ?>
<script>
              
             
</script>