<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
?>  

<div class="accordion-detail">
    <div class="head no-img"><span><?php echo $translator['L_QUESTIONS']; ?></span></div>

    <div class="detail-section">
        <div class="common-form quizzes-create demographics">
            <!--div class="row">
                    
                 <div class="col5">
                <span class="text-bold">#</span>
              </div>
              <div class="col1">
                <span class="text-bold"></span>
              </div>
              <div class="col2">
              <span class="text-bold"></span>
              </div>
                 <div class="col2 right">
             &nbsp;         </div>
            </div-->
            <ol class="added-que header">
                <li>
                    <div class="col8"><label><?php echo $translator['L_QUESTIONS']; ?></label></div>
                    <div class="col8"><label><?php echo $translator['L_ANSWERS']; ?></label></div>

                </li>

            </ol>
            <ol class="added-que">
                <?php
                $questionsCounter = 1;
                $quizData = $quiz_data[$quiz_id];
                foreach ($quizData['quizQuestion'] as $key => $val) {
                    if (!empty($key)) {
                        $correctoption = $val['correct_option_id'];
                        ?>
                        <li  id="question_<?php echo $key; ?>" class="questiondisplay">
                            <div class="col8 ques-image"><label><?php echo $val['question']; ?></label></div>
                            <div class="col8"><a href="#show_choices_<?php echo $key; ?>" class="link show_choice_popup_<?php echo $key; ?>" onclick="show_choice_popup_edit('show_choice_popup_<?php echo $key; ?>');"><?php echo count($val['option']) . " Choices"; ?> </a>
                                <div style='display:none'>
                                    <div id='show_choices_<?php echo $key; ?>' class="pop-container">
                                        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                                        <h2><?php echo $translator['L_CHOICES']; ?></h2>
                                        <ol class="choices">
                                            <?php
                                            foreach ($val['option'] as $k => $v) {
                                                ?>
                                                <?php
                                                if ($k == $correctoption) {
                                                    $class = "checked";
                                                } else {
                                                    $class = "";
                                                }
                                                ?>
                                                <li class="<?php echo $class; ?>">

                                                    <?php echo $v['option_title']; ?>
                                                </li>
                                                <?php
                                            }
                                            ?>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="col8"><div class="action">
                                    <a href="javascript:void(0)" class="link" onclick="editQuizQuestion('<?php echo $this->Encrypt($quiz_id) ?>','<?php echo $this->Encrypt($key) ?>','<?php echo $key ?>')">&nbsp;
                                        <div class="tooltip">Edit<span></span></div></a> 
                                    <a id="question_<?php echo $key ?>" onclick="deleteQuizQuestion('<?php echo $this->Encrypt($key) ?>')" class="delete_question link delete" href="#delete_quiz_question">&nbsp; <div class="tooltip">Delete<span></span></div></a> 
                                </div></div>
                        </li>
                        <div class="onlyphtml" id="question_div_<?php echo $key; ?>"></div>
                        <?php
                        $questionsCounter++;
                    }
                }
                ?>
            </ol>
        </div>

    </div>    
</div>	
</div>
<script>
    $(".e2").customInput()
</script>
