<?php
/**
 * This view is used to search Quiz
 * @package    Quizze
 * @author     Icreon Tech - KK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/quiz/crm.quiz.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php // asd($quizQuestionArray); ?>

<div class="content clearfix">

    <?php
    if ($start_demo == '1') {
        echo "<p>Demographic Question</p>";
    }
    ?>
    <div class="question-wrapper"><input type="hidden" name="questionId" id="questionId" value="<?php echo $questionId ?>" />
        <input type="hidden" name="quizUserId" id="quizUserId" value="<?php echo $quizUserId ?>" />
        <input type="hidden" name="quizUserIdEncrypt" id="quizUserIdEncrypt" value="<?php echo $this->Encrypt($quizUserId); ?>" />
        <input type="hidden" name="demographic_type" id="demographic_type" value="<?php echo $quizQuestionArray['is_demographic_question']; ?>" />

        <div class="question-wrapper"><input type="hidden" name="correct_option" id="correct_option" value="<?php echo $this->Encrypt($quizQuestionArray['correct_option_id']) ?>" />
            <h2  class="quiz-text-img"><?php echo $quizQuestionArray['question_title'] ?></h2>  <label class="error" id="error_message" generated="true" for="error_message"></label>
            <?php
            foreach ($quizOptionArray as $optionKey => $optionValue) {
                ?>
                <div class="form-sep">
                    <input type="radio" value="<?php echo $this->Encrypt($optionKey); ?>" name="question_option" id="question<?php echo $quizQuestionArray['quiz_question_id']; ?>" class="option_radio" name="radio_button">
    <?php echo $optionValue; ?> </div>
        <?php } ?>

        </div>
        <?php
        $class = '';
        $buttonText = '';
        if ($start_demo == '1') {
            if ($totalQuestions == $question_number) {
                $class = "show-result";
                $buttonText = $translator['SHOW_RESULT'];
            } else {
                $class = "start_demo";
                $buttonText = $translator['NEXT_QUESTION'];
            }
            ?>
            <a  href="javascript:void(0)" class="button green semibold float-right <?php echo $class; ?> " id="<?php echo $encrypt_quiz_id; ?>"><?php echo $buttonText; ?></a>
            <?php
        } else {

            if ($quizData['total_questions'] > 0) {
                if ($question_number == $quizData['total_questions']) {

                    $demographic_availability = $quizData['demographic_availability'];
                    $demoArray = explode(",", $demographic_availability);


                    if (!empty($demoQuestionsDisplay)) {

                        if (empty($demoArray) || in_array('3', $demoArray) || $demographic_availability == '') {  // for All
                            $class = "start_demo";
                            $buttonText = $translator['NEXT_QUESTION'];
                        } elseif (in_array('2', $demoArray)) {   // for registered user
                            if (!empty($login_user_detail->user_id)) {
                                $class = "start_demo";
                                $buttonText = $translator['NEXT_QUESTION'];
                            } else {
                                $class = "show-result";
                                $buttonText = $translator['SHOW_RESULT'];
                            }
                        } elseif (in_array('1', $demoArray)) {   // for registered user
                            if (!empty($login_user_detail->user_id) && !empty($login_user_detail->user_membership_id)) {
                                $class = "start_demo";
                                $buttonText = $translator['NEXT_QUESTION'];
                            } else {
                                $class = "show-result";
                                $buttonText = $translator['SHOW_RESULT'];
                            }
                        }
                    } else {
                        $class = "show-result";
                        $buttonText = $translator['SHOW_RESULT'];
                    }
                    ?>
                    <a  href="javascript:void(0)" class="button green semibold float-right <?php echo $class; ?> " id="<?php echo $encrypt_quiz_id; ?>"><?php echo $buttonText ?></a>
                    <?php
                } else {
                    ?>
                    <a  href="javascript:void(0)" class="button green semibold float-right next-question" id="<?php echo $encrypt_quiz_id; ?>"><?php echo $translator['NEXT_QUESTION'] ?></a>
                    <?php
                }
            }
        }
        ?>
        <?php
        if ($start_demo == '1') {
            
        } else {
            ?>
            <p class="question-counter">Question <span class="semibold"><?php echo $question_number ?></span> of <span class="semibold"><?php echo $quizData['total_questions'] ?></span></p>
<?php } ?>


    </div>
</div>
