<?php
/**
 * This file is used for user quizes
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="common-detail-section">
    <div class="top-detail">
        <h1><?php echo $translator['H_QUIZES']; ?></h1>
        <a href="/quizzes" class="button right">Search</a>
    </div>
    <?php
    if (isset($userQuizes) && !empty($userQuizes)) { ?>
    
                <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th class="th-wdth-50"><?php echo $translator['L_NAME']; ?></th>
                            <th class="th-wdth-5"><?php echo $translator['L_RESULT']; ?></th>
                            <th class="th-wdth-15"><?php echo $translator['L_DATE']; ?></th>
							<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                            <th class="th-wdth-5"><?php echo $translator['L_SHARE']; ?></th>
							<?php } ?>
                        </tr>
                        
<?php
    foreach ($userQuizes as $val) {
            $fbArr = array($this->serverUrl().'/quiz-info/'.$this->Encrypt($val['quiz_id']),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',$translator['FBSHARE_TITLE1'],'&nbsp;',  sprintf($translator['FBSHARE_DESCRIPTION1'],$val['num_correct'] . "/" . $val['num_questions'],DOMAIN_NAME),$facebookAppId);
            ?>

                        <tr>
                            <td><a href="/quiz-info/<?php echo $this->Encrypt($val['quiz_id']); ?>"><?php echo $val['quiz_title']; ?></a></td>
                            <td><?php echo $val['num_correct'] . "/" . $val['num_questions']; ?></td>
                            <td><?php echo $this->Dateformatalpha($val['play_date'], 'calender'); ?></td>
							<?php if ($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                            <td>
                                <a href="javascript:void(0);"  onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');">
                                    <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/quizzes-share.png">
                                </a>
                            </td>
							<?php } ?>
                        </tr>
              
            <?php
        }
        ?>
          </tbody>
                </table>
            </div>
    
<?php    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
    }
    ?>
</div>