<style>
    #advance-seach .row input[type="text"], .common-form .search-input-bg { width: 45%;}
    #advance-seach .select2-container.select-w-320{width:48%}
    .common-form .search-input-bg input{width:85%}
</style>
<?php
/**
 * This view is used to create annotations and corrections for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */

$translator = $this->jsLangTranslate;
?>
<div class="create-contacts">
    <h2><?php echo $translator['ANNOTATIONS_CORRECTIONS'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">

        <div class="head no-img"><span><?php echo $translator['PAS_INFORMATION'] ?></span></div>
        <div class="detail-section common-form">
            <div class="common-form">
                <div>
                    <?php
                    $form = $this->search_annotation_form;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="row">

                        <div class="col1">
                            <label><?php echo $translator['PASSENGERS_ID'] ?></label>
                                <?php echo $this->formRow($form->get('passenger_id')); ?>
                        </div>

                    </div>
                    <div id="advance-seach" style="display:none;">
                        <div class="row">
                            <div class="col8">
                                <label><?php echo $translator['ANNO_FIRST_NAME'] ?></label>
                                <?php echo $this->formRow($form->get('first_name')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ANNO_LAST_NAME'] ?></label>
                                <?php echo $this->formRow($form->get('last_name')); ?>

                                <div class="row m-t-5 no-padd">
                                    <label>&nbsp;</label>
                                    <div class="checkbox-auto">
                                        <div style="width:50%; float:left;">
                                            <label><input type="radio" name="search_type" class="e3" id="search_type1" value="exact"><?php echo $translator['EXACT_MATCH'] ?></label>
                                            <label><input type="radio" name="search_type" class="e3" id="search_type2" value="startwith"><?php echo $translator['START_WITH'] ?></label>
                                            <label><input type="radio" name="search_type" class="e3" id="search_type3" value="soundlike"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ANNO_YEAR_OF_BIRTH'] ?></label>
                                <?php echo $this->formRow($form->get('birth_year')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label><?php echo $translator['ANNO_CURRENT_AGE_RANGE'] ?></label>
                                <?php echo $this->formRow($form->get('current_age_range')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ANNO_MARITAL_STATUS'] ?></label>
                                <?php echo $this->formRow($form->get('marital_status')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ANNO_GENDER'] ?></label>
                                <?php echo $this->formRow($form->get('gender')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label><?php echo $translator['YEAR_OF_ARRIVAL'] ?></label>
                                <?php echo $this->formRow($form->get('arrival_year')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['MONTH_OF_ARRIVAL'] ?></label>
                                <?php echo $this->formRow($form->get('arrival_month')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['DAY_OF_ARRIVAL'] ?></label>
                                <?php echo $this->formRow($form->get('arrival_day')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label class="no-padd"><?php echo $translator['LAST_PLACE'] ?></label>
                                <?php echo $this->formRow($form->get('last_residence')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['PORT_OF_DEPARTURE'] ?></label>
                                <?php echo $this->formRow($form->get('dept_port')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ARRIVAL_PORT'] ?></label>
                                <?php echo $this->formRow($form->get('arrival_port')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label class="no-padd"><?php echo $translator['ANNO_ETHNICITY'] ?></label>
                                <?php echo $this->formRow($form->get('ethnicity')); ?>
                            </div>
                            <div class="col8">
                                <label><?php echo $translator['ANNO_SHIP'] ?></label>
                                <div class="search-input-bg">
                                    <?php echo $this->formRow($form->get('ship')); ?>
                                    <input name="" type="button" class="search-btn" />
                                </div>
                            </div>
							<div class="col8">
                                <label><?php echo $translator['PLACE_OF_BIRTH'] ?></label>
                                <?php echo $this->formRow($form->get('place_of_birth')); ?>
                            </div>                            
                        </div>
                    </div>
                    <?php
                    if ($annotation_correction_id != '') {
                        
                    } else {
                        ?>

                        <div class="row">
                            <label class="no-padd">&nbsp;</label>
                            <!-- <a class="search-btn" href="javascript:void(0);" id="search_but">SEARCH</a>-->
                            <input type="submit" value="SEARCH" class="search-btn" id="SEARCH" name="SEARCH"> 
                            <span class="basic-text"><a href="javascript:void(0);"><?php echo $translator['ANNO_ADVANCE_SEARCH'] ?></a></span> </div>


                        <?php
                    }
                    echo $this->form()->closeTag();
                    ?>
                </div>
                <div class="row">
                    <div class="grid-box">
                        <table id="list"></table>
                        <div id="pcrud"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="annotaion_correction_frm">
        </div>	
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>

</div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$mode = isset($mode) ? $mode : '';
$passenger_id = isset($passenger_id) ? $passenger_id : '';
$passenger_id_encrypt = isset($passenger_id_encrypt) ? $passenger_id_encrypt : '';
$pageAction = isset($pageAction) ? $pageAction : '';

$script = <<<EOD
var annotation_correction_id = "$annotation_correction_id";
    var mode = "$mode";
    var passenger_id = "$passenger_id";
    var passenger_id_encrypt = "$passenger_id_encrypt";
    var act = "$pageAction";
EOD;

$this->inlineScript()->prependScript($var)
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/annotation.js?v='.$this->layout()->getVariable('jsVersion'))		 
					 ->prependScript($script);
?>