<?php
/**
 * This view is used to create annotations and corrections for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/annotation.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2>Annotations &amp; Corrections</h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li>&rsaquo;&rsaquo;</li>
            <li><a href="#" class="active">Create</a></li>
        </ul>
    </div>
    <div class="accordion-detail">

        <div class="head no-img"><span>Passenger Information</span></div>
        <div class="detail-section">
            <div class="common-form">
                <div>
                    <?php
                    $form = $this->search_annotation_form;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="row">
                        <div class="col8">
                            <label>Contact Name</label>
                            <div class="search-input-bg">
                                <?php echo $this->formRow($form->get('contact_name')); ?>
                                <input name=""  type="button" class="search-btn">
                            </div>
                            <span class="age-year">Please enter "Adam"and click</span> </div>
                        <div class="col8">
                            <label>Passengers ID</label>
                            <div class="search-input-bg">
                                <?php echo $this->formRow($form->get('passenger_id')); ?>
                                <input name="" type="button" class="search-btn">
                            </div>
                            <span class="age-year">Please enter "PID34578"and click</span> </div>
                        <div class="col8">
                            <label>Type </label>
                            <?php echo $this->formRow($form->get('type')); ?>
                        </div>
                    </div>
                    <div id="advance-seach" style="display:none;">
                        <div class="row">
                            <div class="col8">
                                <label>First Name (Init.)</label>
                                <?php echo $this->formRow($form->get('first_name')); ?>
                            </div>
                            <div class="col8">
                                <label>Last Name</label>
                                <?php echo $this->formRow($form->get('last_name')); ?>
                            </div>
                            <div class="col8">
                                <label>Year of Birth </label>
                                <?php echo $this->formRow($form->get('birth_year')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label>Current Age Range</label>
                                <?php echo $this->formRow($form->get('current_age_range')); ?>
                            </div>
                            <div class="col8">
                                <label>Marital Status</label>
                                <?php echo $this->formRow($form->get('marital_status')); ?>
                            </div>
                            <div class="col8">
                                <label>Gender</label>
                                <?php echo $this->formRow($form->get('gender')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label>Year of Arrival</label>
                                <?php echo $this->formRow($form->get('arrival_year')); ?>
                            </div>
                            <div class="col8">
                                <label>Month of Arrival</label>
                                <?php echo $this->formRow($form->get('arrival_month')); ?>
                            </div>
                            <div class="col8">
                                <label>Day of Arrival</label>
                                <?php echo $this->formRow($form->get('arrival_day')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label class="no-padd">Last Place of Residence</label>
                                <?php echo $this->formRow($form->get('last_residence')); ?>
                            </div>
                            <div class="col8">
                                <label>Port of Departure</label>
                                <?php echo $this->formRow($form->get('dept_port')); ?>
                            </div>
                            <div class="col8">
                                <label>Arrival Port</label>
                                <?php echo $this->formRow($form->get('arrival_port')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
                                <label class="no-padd">Ethnicity</label>
                                <?php echo $this->formRow($form->get('ethnicity')); ?>
                            </div>
                            <div class="col8">
                                <label>Ship</label>
                                <?php echo $this->formRow($form->get('ship')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="no-padd">&nbsp;</label>
                        <a class="search-btn" href="" id="search_but">SEARCH</a> <span class="basic-text"><a href="javascript:void()">Advance Search</a></span> </div>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                </div>
                <div class="row">
                    <p class="text">Annotations supplement information in the record, telling more about the passenger's background and life in the United States.</p>
                </div>
                <?php
                $annotation = $this->annotation_form;
                $annotation->prepare();
                echo $this->form()->openTag($annotation);
                ?>
                <div class="row no-padd">
                    <div class="col8"><span class="text-bold">Fields</span></div>
                    <div class="col8"><span class="text-bold">Existing Values</span></div>
                    <div class="col8"><span class="text-bold">New Values</span></div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>First Name</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('first_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Last Name</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('last_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Nationality</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('nationality')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Last Place of Residence</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('last_residence')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Age at Arrival</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('arrival_age')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Gender at Arrival</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('gender')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Marital Status</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('marital_status')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Date of Arrival</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('arrival_date')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Ship</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('ship')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col8">
                        <label>Departure Port Name</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('port_departure')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col8">
                        <label>Line #</label>
                    </div>
                    <div class="col8"><span class="exitvalue"></span></div>
                    <div class="col8">
                        <?php echo $this->formRow($annotation->get('line')); ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="head no-img" id="annotation_head" style="display: none;" ><span>Additional Information</span></div>
        <div class="detail-section">
            <div class="common-form">
                <div id="annotation_form" style="display: none;">
                    <div class="row">
                        <div class="col1">
                            <label>Date of Birth</label>
                            <?php echo $this->formRow($annotation->get('birth_date')); ?>
                        </div>
                        <div class="col1">
                            <label>Date of Death</label>
                            <?php echo $this->formRow($annotation->get('death_date')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label>Occupation</label>
                            <?php echo $this->formRow($annotation->get('occupation')); ?>
                        </div>
                        <div class="col1">
                            <label>Spouse</label>
                            <?php echo $this->formRow($annotation->get('spouse')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label>Children</label>
                            <?php echo $this->formRow($annotation->get('children')); ?>
                        </div>
                        <div class="col1">
                            <label>Other relatives in U.S</label>
                            <?php echo $this->formRow($annotation->get('us_relatives')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label>Where settled in U.S</label>
                            <?php echo $this->formRow($annotation->get('us_residence')); ?>
                        </div>
                        <div class="col1">
                            <label>Military Experience</label>
                            <?php echo $this->formRow($annotation->get('military_experience')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label>Religious Community</label>
                            <?php echo $this->formRow($annotation->get('religious_community')); ?>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($annotation->get('save')); ?>
                    <?php echo $this->formRow($annotation->get('cancel')); ?>

                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>

    </div>
</div>