<?php
/**
 * This view is used to search annotations and corrections for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/search.annotation.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['ANNOTATION_CORRECTIONS']; ?></h2>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT1']; ?> "<?php echo $translator['SAVE']; ?>" <?php echo $translator['HEADER_TEXT2']; ?> </p>
    <div class="accordion-detail">

        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>

        <div class="head no-img"><span><?php echo $translator['SEARCH_ANNOTATIONS']; ?> </span></div>

        <div class="detail-section common-form">
            <?php
            $form = $this->search_annotation_list_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PASSENGER_ID']; ?></label>
                        <?php echo $this->formRow($form->get('passenger_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['PASSENGER_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('passenger_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['CONTACT_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('contact_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['REQUESTED_ON']; ?></label>
                        <?php echo $this->formRow($form->get('requested_on')); ?>
                    </div>
                    <div class="col1 right">
                        <span id="requested">
                            <label><?php echo $translator['FROM']; ?>:</label>
                            <?php echo $this->formRow($form->get('from_date')); ?>
                            
                            <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                            <?php echo $this->formRow($form->get('to_date')); ?>
                           
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('type')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>

        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="right col1" style="width:auto">
                <?php
                $save_form = $this->save_search_annotation_form;
                $save_form->prepare();
                echo $this->form()->openTag($save_form);
                ?>
                <label><?php echo $translator['SAVE_SEARCH_AS']; ?> </label>
                <?php echo $this->formRow($save_form->get('search_name')); ?>
                <?php echo $this->formRow($save_form->get('search_id')); ?>
                <?php echo $this->formRow($save_form->get('savebutton')); ?>
                <a onclick="deleteRecord();" class="delete_annotation_search save-btn m-l-5" style="display:none;" id="deletebutton" href="#delete_annotation_search"><?php echo $translator['DELETE']; ?></a>

                <span id="search_msg"></span>

                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">

    <div class="search-results">
        <h3><?php echo $translator['SEARCH_RESULTS']; ?></h3>
        <p><?php echo $translator['FOOTER_TEXT1']; ?> <a href="/create-crm-annotation-correction"><?php echo $translator['CREATE_NEW_CONTACT']; ?>.</a></p>
    </div>
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>

</div>

<div style='display:none'>
    <div id='delete_annotation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ANNOTATIONS_DELETE_CONFIRMATION'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_annotation_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>