<?php
/**
 * This view is used to search annotations and corrections for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/search.annotation.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['ANNOTATION_CORRECTIONS']; ?></h2>
    <div class="breadcrumb">
        <ul>
            <li><a href=javascript:void(0)><?php echo $translator['DASHBOARD']; ?></a></li>
            <li>&rsaquo;&rsaquo;</li>
            <li><a href=javascript:void(0) class="active"><?php echo $translator['LIST']; ?></a></li>
        </ul>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT1']; ?>"<a href=javascript:void(0) class="link"><?php echo $translator['SAVE']; ?></a>"<?php echo $translator['HEADER_TEXT2']; ?> </p>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['SEARCH_ANNOTATIONS']; ?> </span></div>

        <div class="detail-section">
            <?php
            $form = $this->search_annotation_list_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PASSENGER_ID']; ?></label>
                        <?php echo $this->formRow($form->get('passenger_id')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['PASSENGER_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('passenger_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['CONTACT_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('contact_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['REQUESTED_ON']; ?></label>
                        <?php echo $this->formRow($form->get('requested_on')); ?>
                    </div>
                    <div class="col1">
                        <span id="requested">
                            <label><?php echo $translator['FROM']; ?>:</label>
                            <?php echo $this->formRow($form->get('from_date')); ?>
                            <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" class="left" alt="" id="img_from">
                            <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                            <?php echo $this->formRow($form->get('to_date')); ?>
                            <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" class="left" alt="" id="img_to">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('type')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>

        <div class="detail-section1 common-form">
            <div class="col1">
                <label><?php echo $translator['SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="col1">
                <?php
                $save_form = $this->save_search_annotation_form;
                $save_form->prepare();
                echo $this->form()->openTag($save_form);
                ?>
                <label><?php echo $translator['SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_form->get('search_name')); ?>
                <?php echo $this->formRow($save_form->get('search_id')); ?>
                <?php echo $this->formRow($save_form->get('savebutton')); ?>
                <?php echo $this->formRow($save_form->get('deletebutton')); ?>
                <span id="search_msg"></span>

                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">
    <div class="top-section">
        <div class="col1 m-t-15">
            <label><?php echo $translator['MEMBERSHIP_LEVEL_1']; ?></label>
            <span class="label1"></span> </div>
        <div class="col1 m-t-15">
            <label><?php echo $translator['MEMBERSHIP_LEVEL_2']; ?></label>
            <span class="label2"></span></div>
        <a href=javascript:void(0) class="link"></a> </div>
    <div class="search-results">
        <h3><?php echo $translator['SEARCH_RESULTS']; ?></h3>
        <p><?php echo $translator['FOOTER_TEXT1']; ?> <a href=javascript:void(0)><?php echo $translator['CREATE_NEW_CONTACT']; ?>.</a></p>
    </div>
    <div class="grid-box">
        <p></p>
    </div>
</div>

