<?php
/**
 * This view is used to search passenger for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
//$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
<div class="create-contacts">
    <h2><?php echo $translator['PASSENGER']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        <!--<ul>
            <li><a href="javascript:void(0);"><?php //echo $translator['DASHBOARD'];    ?></a></li>
            <li>&rsaquo;&rsaquo;</li>
            <li><a href="javascript:void(0);" class="active"> List</a></li>
        </ul>-->
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT1']; ?> "<?php echo $translator['SAVE']; ?>" <?php echo $translator['HEADER_TEXT2']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>        

        <div class="head no-img"><span><?php echo $translator['SEARCH_PASSENGER']; ?></span></div>

        <div class="detail-section">
            <?php
            $form = $this->search_passeneger_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['PASSENGER_ID']; ?></label>
                        <?php echo $this->formRow($form->get('passenger_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['SHIP']; ?></label>
                        <div class="">
                            <?php echo $this->formRow($form->get('ship')); ?>
                        </div>	
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['FIRST_NAME_PASSENGER']; ?></label>
                        <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col1 right">    
                        <label><?php echo $translator['LAST_NAME']; ?> </label>
                        <?php echo $this->formRow($form->get('last_name')); ?>
                        <div class="row m-t-5 no-padd">
                            <label> &nbsp;</label>
                            <span class="checkbox-auto">
                                <label><input type="radio" name="search_type" class="e3" id="search_type1" value="exact"><?php echo $translator['EXACT_MATCH'] ?></label>
                                <label><input type="radio" name="search_type" class="e3" id="search_type2" value="startwith"><?php echo $translator['START_WITH'] ?></label>
                                <label><input type="radio" name="search_type" class="e3" id="search_type3" value="soundlike"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                            </span> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SERIES'] . '-' . $translator['ROLL_NUMBER']; ?> </label>
                        <?php
                        echo $this->formRow($form->get('series'));
                        echo '<label class="auto">-</label>';
                        echo $this->formRow($form->get('roll_number'));
                        ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['FRAME']; ?> </label>
                        <?php echo $this->formRow($form->get('frame')); ?>
                    </div>
                </div>
                <div class="row">

                    <div class="col1 left">
                        <label><?php echo $translator['YEAR_OF_ARRIVAL']; ?> </label>
                        <?php echo $this->formRow($form->get('arrival_year')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['MONTH_OF_ARRIVAL']; ?> </label>
                        <?php echo $this->formRow($form->get('month_arrival')); ?>
                    </div>
                </div>                

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['DAY_OF_ARRIVAL']; ?> </label>
                        <?php echo $this->formRow($form->get('day_arrival')); ?>
                    </div>
					<div class="col1 right">
                        <label><?php echo $translator['AGE_AT_ARRIVAL']; ?> </label>
                        <?php echo $this->formRow($form->get('age_at_arrival')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['YEAR_OF_BIRTH']; ?> </label>
                        <?php echo $this->formRow($form->get('birth_year')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['CURRENT_AGE_RANGE']; ?> </label>
                        <?php echo $this->formRow($form->get('current_age_range')); ?>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['GENDER']; ?> </label>
                        <?php echo $this->formRow($form->get('gender')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['MARITAL_STATUS']; ?> </label>
                        <?php echo $this->formRow($form->get('maritial_status')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PORT_OF_DEPARTURE']; ?> </label>
                        <?php echo $this->formRow($form->get('dept_port')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['ARRIVAL_PORT']; ?> </label>
                        <?php echo $this->formRow($form->get('arrival_port')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['ETHNICITY']; ?> </label>
                        <?php echo $this->formRow($form->get('ethnicity')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['LAST_PLACE_OF_RESIDENCE']; ?> </label>
                        <?php echo $this->formRow($form->get('last_residence')); ?>
						<div class="row m-t-5 no-padd">
                            <label> &nbsp;</label>
                            <span class="checkbox-auto">
                                <label><input type="radio" name="search_type_town" class="e3" id="search_type_town1" value="exact"><?php echo $translator['EXACT_MATCH'] ?></label>
                                <label><input type="radio" name="search_type_town" class="e3" id="search_type_town2" value="startwith"><?php echo $translator['START_WITH'] ?></label>
                                <label><input type="radio" name="search_type_town" class="e3" id="search_type_town3" value="soundlike"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                            </span> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PLACE_OF_BIRTH']; ?> </label>
                        <?php echo $this->formRow($form->get('place_of_birth')); ?>
                    </div>
                </div> 
                               
                <div class="row no-padd">

                    <label class="no-padd">&nbsp;</label>
                    <input name="" type="submit" class="search-btn" id="search" value="SEARCH">
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['SAVED_SEARCHES']; ?> </label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $save_search_form = $this->search_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>  


                <label><?php echo $translator['SAVE_SEARCH_AS']; ?> </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <a href="#delete_ship_search" id="deletebutton" style="display:none;" class="delete_ship save-btn m-l-5" onClick="deleteRecord();"><?php echo $translator['DELETE']; ?></a>
                <?php //echo $this->formRow($save_search_form->get('deletebutton'));  ?>
                <span id="search_msg"></span>


                <?php
                echo $this->form()->closeTag();
                ?>
            </div>

        </div>
    </div>

    <div class="grid-section">
        <div class="top-section">
            <!--<a class="link" href="javascript:void(0);"></a>--> </div>
        <div class="search-results" style="display:none;">
            <h3><?php echo $translator['SEARCH_RESULTS']; ?></h3>
            <p><?php echo $translator['FOOTER_TEXT']; ?></a></p>
        </div>
        <div class="grid-box">
            <br><br>
            <table id="list"></table>
            <div id="pcrudpassenger"></div>
            <br><br>
        </div>
    </div>
</div>


<div style='display:none'>
    <div id='delete_ship_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>