<?php
/**
 * This view is used to search ship for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.ship.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2><?php echo $translator['SHIP']; ?></h2>
<div class="breadcrumb">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT1']; ?> "<?php echo $translator['SAVE']; ?>" <?php echo $translator['HEADER_TEXT2']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['SHIP_SEARCH']; ?></span></div>


        <div class="detail-section">
            <?php
            $form = $this->search_ship_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SHIP_ID']; ?></label>
                        <?php echo $this->formRow($form->get('ship_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_SHIP_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('ship_name')); ?>
                    </div>

                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ENGINE_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('engine_type')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_BUILDER']; ?></label>
                        <?php echo $this->formRow($form->get('builder')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_YEAR_OF_ARRIVAL']; ?></label>
                        <?php echo $this->formRow($form->get('arrival_year')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_MONTH_OF_ARRIVAL']; ?></label>
                        <?php echo $this->formRow($form->get('month_arrival')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_DAY_OF_ARRIVAL']; ?></label>
                        <?php echo $this->formRow($form->get('day_arrival')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_SHIPLINE_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('shipline_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_BUILD_YEAR']; ?></label>
                        <?php echo $this->formRow($form->get('build_year')); ?>
                    </div>
                    <div class="col1 right">
                        <span id="build_requested">
                            <label><?php echo $translator['FROM']; ?></label>
                            <?php echo $this->formRow($form->get('build_from_date')); ?>
                           
                            <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                            <?php echo $this->formRow($form->get('build_to_date')); ?>
                          
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SCRAPPED_YEAR']; ?></label>
                        <?php echo $this->formRow($form->get('scrap_year')); ?>
                    </div>
                    <div class="col1 right">
                        <span id="scrap_requested">
                            <label><?php echo $translator['FROM']; ?></label>
                            <?php echo $this->formRow($form->get('scrap_from_date')); ?>
                           
                            <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                            <?php echo $this->formRow($form->get('scrap_to_date')); ?>
                            
                        </span>
                    </div>

                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <div class="col1">
                <label><?php echo $translator['SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $save_search_ship_form = $this->save_search_ship_form;
                $save_search_ship_form->prepare();
                echo $this->form()->openTag($save_search_ship_form);
                ?>
                <label><?php echo $translator['SAVE_SEARCH_AS']; ?> </label>

                <?php echo $this->formRow($save_search_ship_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_ship_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_ship_form->get('savebutton')); ?>
                <a href="#delete_ship_search" id="deletebutton" style="display:none;" class="delete_ship save-btn m-l-5" onClick="deleteRecord();"><?php echo $translator['DELETE']; ?></a>
                <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">
    <div class="top-section">
        <!--<a class="link" href="javascript:void(0);"></a>--> </div>
    <div class="search-results">
        <h3><?php echo $translator['SHIP'] . ' ' . $translator['SEARCH_RESULTS']; ?></h3>
        <p><?php echo $translator['FOOTER_TEXT']; ?></a></p>
    </div>
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>

<div style='display:none'>
    <div id='delete_ship_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>

