<?php
/**
 * This is used for edit passenger details.
 * @package    Document
 * @author     Icreon Tech -SR.
 */
$translator = $this->jsLangTranslate;
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['PASSENGER_INFORMATION']; ?></span></div>

<?php
$form = $this->edit_passeneger_form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="detail-section">
    <input type="hidden" name="ship_arrival_date_value" value="<?php echo $ship_arrival_date_value ?>" id="ship_arrival_date_value">
    <div class="common-form">
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['PASSENGER_ID']; ?> </label>
                <span class="view-text"><?php echo $ID; ?></span>
                <?php echo $this->formRow($form->get('passenger_id')); ?>
                <?php echo $this->formRow($form->get('file_name')); ?>
                <?php echo $this->formRow($form->get('data_source')); ?>
                
            </div>
            <div class="col1 right">
                <label><?php echo $translator['BATCH']; ?>  #<!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('batch')); ?>
            </div>
        </div>

        <div class="row1">

            <div class="col1">
                <label><?php echo $translator['SERIES'] . '-' . $translator['ROLL_NUMBER']; ?></label>
                <?php echo $this->formRow($form->get('roll_number')); ?>
            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['FRAME']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('frame')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['REF_LINE']; ?></label>
                <?php echo $this->formRow($form->get('ref_line')); ?>
            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['REF_PAGE']; ?></label>
                <?php echo $this->formRow($form->get('ref_page')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['DATE_ARRIVAL']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('arrival_date')); ?>

            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['LAST_NAME']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('last_name')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['FIRST_NAME']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('first_name')); ?>
            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['PRINT_AGE']; ?></label>
                <?php echo $this->formRow($form->get('print_age')); ?>
                <span class="text m-l-5 m-t-5 left">

                    <?php //echo $translator['YRS'];  ?> <?php //echo $PRINT_AGE; ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['YEAR_OF_BIRTH']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('birth_year')); ?>

            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['MARITAL_STATUS']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('maritial_status')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['NATIONALITY']; ?></label>
                <?php echo $this->formRow($form->get('nationality')); ?>
            </div>
        </div>
        <div class="row1">
            <div class="col1" id="radio-width">
                <label><?php echo $translator['GENDER']; ?><!--<span class="red">*</span>--></label>
                <span class="radio-label"><?php echo $this->formRow($form->get('gender')); ?></span>

            </div>
            <div class="col1 right">
                <label><?php echo $translator['AGE_OF_ARRIVAL']; ?></label>
                <?php echo $this->formRow($form->get('age_arrival')) . " " . $translator['YRS']; ?>
                <?php
                //if (!empty($AGE_ARRIVE)) {
                //    
                ?><span class="text m-l-5 m-t-5 left"><?php
                //echo $AGE_ARRIVE;
                //echo " " . $translator['YRS']; 
                ?></span>
                <?php //}   ?>
            </div>
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['ETHNICITY']; ?></label>
                <?php echo $this->formRow($form->get('ethnicity')); ?>
            </div>
            <div class="col1 right">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('us_citizen')); ?>
                <label class="check" for="us_citizen"><?php echo $translator['USCITIZEN']; ?></label>
            </div>
        </div>

        <div class="row1 no-padd">
            <?php
                if(isset($data_source) && !empty($data_source))
                    if($data_source == 2){
                    ?>
		            <div class="col1">
		                <label><?php echo $translator['PLACE_OF_BIRTH']; ?> </label>
		                <?php echo $this->formRow($form->get('place_of_birth')); ?>
		            </div>                   
                    <?php
                    }
                    else {
            ?>
		            <div class="col1">
		                <label><?php echo $translator['RESIDENCE']; ?></label>
		                <?php echo $this->formRow($form->get('residence')); ?>
		            </div>
            <?php
            }
            ?>
            <div class="col1 right">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('crew_member')); ?>
                <label class="check" for="crew_member"><?php echo $translator['CREWMEMBER']; ?></label>
            </div>
        </div>

        
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['ARRIVAL_DEPARTURE_DATA']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['SHIP']; ?><!--<span class="red">*</span>--></label>
                <?php echo $this->formRow($form->get('ship')); ?>
            </div>
			<div class="col1 right">
                <label><?php echo $translator['PORT_OF_DEPARTURE']; ?> </label>
                <?php echo $this->formRow($form->get('port_of_departure')); ?>
            </div>            
        </div>
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['SHIP_NAME_ISS']; ?></label>
                <?php echo $this->formRow($form->get('ship_name_iss')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['SHIP_ARRIVAL_DATE']; ?> </label>
                <?php echo $this->formRow($form->get('ship_arrival_date')); ?>

            </div>
        </div>
    </div>
    <div class="row m-t-10 common-form no-padd"><label>&nbsp;</label>
        <?php echo $this->formRow($form->get('update')); ?>
        <a href="/crm-passenger"><?php echo $this->formRow($form->get('cancel')); ?></a>
    </div>
</div>
<?php
echo $this->form()->closeTag();
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$mode = isset($mode)?$mode:'';
$var .=' var passenger_id="' . $passenger_id . '";';
$var .=' var mode="' . $mode . '";';
$var .=' var moduleName="' . $moduleName . '";';

$script = <<<EOD
$(function(){
setTimeout('showRadio()',"1000");
	
    $(".e2").customInput();
});

$($(".e3")).each(function(i){
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
			
            // get the associated label using the input's id
			
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
			
            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            if(inputType=='radio') {
                var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
                $(outerLabel).remove();
                outerLabelParent.append(input,oDiv);
            }
        }
    });
    
function showRadio()
{
$(".e3").customInput();
}    
EOD;
echo $this->inlineScript()->prependScript($script)
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.passenger.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>