<?php
/**
 * This view is used to edit passenger for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['PASSENGER']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <div class="accordion-detail">
        <ul class="edit-link">
            <li><a href="/view-crm-passenger/<?php echo $passenger_id; ?>"><?php echo $translator['DETAILS']; ?></a></li>
            <li><a href="/view-crm-passenger/<?php echo $passenger_id; ?>" class="active"><?php echo $translator['EDIT']; ?></a></li>
            <li><a href="#"><?php echo $translator['ANNOTATIONS']; ?></a></li>
            <li><a href="/passenger-change-log/<?php echo $moduleName ?>/<?php echo $passenger_id; ?>"><?php echo $translator['CHANGES_LOG']; ?></a></li>
        </ul>

        <div id="success_message"></div>


    </div>
</div>
