<?php
/**
 * This view is used to edit ship for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.ship.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['SHIP']; ?></h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="#"><?php echo $translator['DASHBOARD']; ?></a></li>
            <li>&raquo;</li>
            <li><a href="#" class="active"><?php echo $translator['EDIT']; ?></a></li>
        </ul>
    </div>
    <div class="accordion-detail">
        <ul class="edit-link">
            <li><a href="#"><?php echo $translator['DETAILS']; ?></a></li>
            <li><a href="#" class="active"><?php echo $translator['EDIT']; ?></a></li>
            <li><a href="#"><?php echo $translator['CHANGE_LOG']; ?></a></li>
        </ul>
        <?php
        $form = $this->edit_ship_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['BASIC_SHIP_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('ship_id')); ?>
                        <?php echo $this->formRow($form->get('shipline_id')); ?>
                        <label><?php echo $translator['SHIP_ID']; ?> *</label>
                        <?php echo $ship_id; ?>
                    </div>
                    <!--<div class="col1">
                        <label><?php //echo $translator['SHIPLINE'];  ?> *</label>
                        <div>
                    <?php //echo $shipline_name; ?>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['NAME_WHEN_BUILT']; ?> *</label>
                        <?php echo $this->formRow($form->get('name_when_built')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['GROSS_WEIGHT']; ?></label>
                        <?php echo $this->formRow($form->get('gross_weight')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['TONS']; ?></span> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['LENGTH']; ?><?php echo $translator['LENGTH']; ?></label>
                        <?php echo $this->formRow($form->get('length')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['FEET']; ?></span> </div>
                    <div class="col1">
                        <label><?php echo $translator['BEAM']; ?><?php echo $translator['BEAM']; ?></label>
                        <?php echo $this->formRow($form->get('beam')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['FEET']; ?></span> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['ENGINE_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('engine_type')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['NUM_SCREWS']; ?></label>
                        <?php echo $this->formRow($form->get('num_screws')); ?>
                    </div>
                </div>
                <!--<div class="row no-padd ">
                    <div class="col1">
                        <label><?php //echo $translator['SHIP_NAME'];  ?> *</label>
                <?php //echo $this->formRow($form->get('ship_name')); ?>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['BUILD_SCRAP_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['BUILD_YEAR']; ?> *</label>
                        <?php echo $this->formRow($form->get('build_year')); ?>

                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="" id="img_build_year"> </div>
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_YEAR']; ?> *</label>
                        <?php echo $this->formRow($form->get('scrapped_year')); ?>

                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="" id="img_scrapped_year"> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_COUNTRY']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_country')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['BUILDER']; ?></label>
                        <?php echo $this->formRow($form->get('builder')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['BUILD_CITY']; ?> *</label>
                        <?php echo $this->formRow($form->get('build_city')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['BUILD_COUNTRY']; ?> *</label>
                        <?php echo $this->formRow($form->get('build_country')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SERVICE_SPEED_KNOTS']; ?></label>
                        <?php echo $this->formRow($form->get('service_speed_knots')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_MONTH']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_month')); ?>
                    </div>
                </div>
                <div class="row no-padd ">
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_DAY']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_day')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-20 common-form">
            <?php echo $this->formRow($form->get('update')); ?>

            <a href="/crm-ship"><?php echo $this->formRow($form->get('cancel')); ?></a>

        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>