<?php
/**
 * This view is used to edit shipline for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
?>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>


    <div id="campaignContent">
        <div class="head no-img"><span><?php echo $translator['BASIC_SHIPLINE_INFORMATION']; ?></span></div>
        <?php
        $form = $this->edit_shipline_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['LINE_NAME_ID']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('linename_id'));
                        echo $this->formRow($form->get('line_id'));
                        echo $this->formRow($form->get('ship_id'));
                        ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['START_YEAR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('start_year')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['END_YEAR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('end_year')); ?>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['TOTAL_PASS']; ?></label>
                        <?php echo $this->formRow($form->get('total_pass')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['ASSET_ID']; ?></label>
                        <div class="search-input-bg">

                            <?php echo $this->formRow($form->get('assets_id')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['FLAG']; ?></label>
                        <?php echo $this->formRow($form->get('flag')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['HOME_CITY']; ?></label>
                        <?php echo $this->formRow($form->get('home_city')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['HOME_COUNTRY']; ?></label>
                        <?php echo $this->formRow($form->get('home_country')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('update')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
    </div>
    <?php
    echo $this->form()->closeTag();
	?>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$mode = isset($mode)?$mode:'';

$var .=' var shipline_id="' . $lineship_id . '";';
$var .=' var encrypted_shipline_id="' . $encrypted_lineship_id . '";';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.shipline.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>