<?php
/**
 * This view is used to update ship
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
//$var .=' var ship_id="' . $ship_id . '";';
//$var .=' var moduleName="' . $moduleName . '";';
//$var .=' var mode="' . $mode . '";';
//$var .=' var shiplineId="'.$shiplineId.'";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/document.shipname.update.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2>Ship Name Bulk Update</h2>
    <div class="accordion-detail">
    <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>
        <?php
        $form = $this->update_shipname_form;
        //$form->prepare();
        $form->setAttribute('id', 'update_shipname');
       // $form->setAttribute('onSubmit', 'return validateShipnameUpdate()');
        echo $this->form()->openTag($form);
        ?>
        <div id="shipContent">
            <div class="head no-img"><span>Ship Name Bulk Update</span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label class="no-padd"><?php echo $translator['OLD_SHIP_NAME']; ?></label>
                            <?php echo $this->formRow($form->get('old_ship_name')); ?>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label class="no-padd"><?php echo $translator['NEW_SHIP_NAME']; ?></label>
                            <?php echo $this->formRow($form->get('new_ship_name')); ?>
                        </div>
                    </div>
                </div>
		<div class="common-form"> 
                <div class="col1">
                    <?php echo $this->formRow($form->get('update')); ?>
                </div>
            </div>                
            </div>
            
            <?php echo $this->form()->closeTag(); ?>
        </div> 


    </div>
</div>