<?php
/**
 * This view is used to edit ship for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
?>
<div class="create-contacts ship-basic-info">
    <div class="accordion-detail">
        <?php
        $form = $this->edit_ship_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        
		<div class="breadcrumb m-t-51">
		    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
		</div>
        <div class="head no-img"><span><?php echo $translator['BASIC_SHIP_INFORMATION']; ?></span></div>
        <div class="detail-section m-t-20">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('ship_id')); ?>
                        <input type="hidden" name="LINEID" value="<?php echo $LINEID ?>">
                        <?php echo $this->formRow($form->get('oldShipName')); ?>
                        <?php echo $this->formRow($form->get('shipline_id')); ?>
                        <label><?php echo $translator['SHIP_ID']; ?></label>
                        <span class="view-text"><?php echo $ship_id; ?></span>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['SHIPLINE']; ?></label>
                        <div>
                            <span class="view-text"><?php echo $shipline_name; ?></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['NAME_WHEN_BUILT']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('name_when_built')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['GROSS_WEIGHT']; ?></label>
                        <?php echo $this->formRow($form->get('gross_weight')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['TONS']; ?></span> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['LENGTH']; ?></label>
                        <?php echo $this->formRow($form->get('length')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['FEET']; ?></span> </div>
                    <div class="col1 right">
                        <label><?php echo $translator['BEAM']; ?></label>
                        <?php echo $this->formRow($form->get('beam')); ?>
                        <span class="text m-l-10 m-t-5 left"><?php echo $translator['FEET']; ?></span> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['ENGINE_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('engine_type')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['NUM_SCREWS']; ?></label>
                        <?php echo $this->formRow($form->get('num_screws')); ?>
                    </div>
                </div>
                <div class="row no-padd ">
                    <div class="col1">
                        <label><?php echo $translator['SHIP_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('ship_name')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['BUILD_SCRAP_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['BUILD_YEAR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('build_year')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['SCRAPPED_YEAR']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('scrapped_year')); ?>

                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_COUNTRY']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_country')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['BUILDER']; ?></label>
                        <?php echo $this->formRow($form->get('builder')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['BUILD_CITY']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('build_city')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['BUILD_COUNTRY']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('build_country')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SERVICE_SPEED_KNOTS']; ?></label>
                        <?php echo $this->formRow($form->get('service_speed_knots')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['SCRAPPED_MONTH']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_month')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['SCRAPPED_DAY']; ?></label>
                        <?php echo $this->formRow($form->get('scrapped_day')); ?>
                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('is_edited_image')); ?>
                        <label class="check" for="is_edited_image"><?php echo $translator['IS_IMAGE_EDITED']; ?></label>
                    </div>
                </div>

                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('update')); ?>
                    <a href="/crm-ship"><?php echo $this->formRow($form->get('cancel')); ?></a>

                </div>

            </div>
        </div>

        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function() {
        $(".e3").customInput();
        $(".e2").customInput();
    });
EOD;
echo $this->inlineScript()->prependScript($script)
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.ship.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>