<?php
/** This is used for roll frames
 * @package    Passenger
 * @author     Icreon Tech -SR.
 */
?>
<?php
if(count($resultSet)>0)
{
?>

<div class="sliderDiv-center" style="z-index:0;">
<div class="sliderDiv-inner" style="height:140px;">
<?php
if($page==1)
	$style="display:none;";
?>
<input name="page_no" id="page_no" type="hidden" value="<?php echo $page?>">
<button class="prev" id="prev" style="cursor:pointer;<?php echo $style;?>" onClick="showMoreImage('prev')" alt="Previous" title="Previous"><<</button>
<?php
if($totalPage > $page)
{
?>
<button class="next" id="next" style="cursor:pointer;" onClick="showMoreImage('next')" alt="Next" title="Next">>></button>
<?php
}
?>
<div class="anyClass">
    <ul>
            <?php
            
                foreach($resultSet as $val)
                {
                    $fileName = '';
                    $rollNbr = '';
                    $fileName = $val['FILENAME'];
                    $folderName = substr($fileName, 0, 9);
                    //$imagePath = $this->manifestPath . $folderName . "/" . $fileName . "&S=.1"; // commented on 10 july for new image path 
                    
					$imagePathArray = array();
					$imagePathArray['fileName'] = $fileName;
					$imagePathArray['dataSource'] = '1';
					$imagePathArray['isThumb'] = '1';
					$imagePath = $this->GetManifestPath($imagePathArray);	                 
					    
                    $fileNameEncy = base64_encode(serialize($fileName));
                    $rollNbr = $folderName;
                    $frame = sprintf('%04d', $val['FRAME']);
            ?>
                    <li style="padding: 20px"><img src="<?php echo $imagePath?>" alt="" height="100" width="100" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($rollNbr) ?>','<?php echo $this->Encrypt($frame) ?>');" style="cursor:pointer;">
                    <br> <?php echo ucfirst(strtolower($fileName)); ?>
                    </li>
            <?php
            }
            ?>
 </ul>
</div>   

</div>   
   </div>    
<?php
}
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'));

$script = <<<EOD
$(function() {
    $(".anyClass").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        visible: 6,
        scroll: 5,
        speed: 500,
        circular:false,
    });
});
function showMoreImage(act)
{
	var page = $("#page_no").val();
	if(act == 'next')
	{
		$("#page_no").val(page*1+1*1)
	}
	if(act == 'prev')
	{
		if(page > 1 )
		{
			$("#page_no").val(page*1-1*1)
		}	
		
		if($("#page_no").val() == 1)
			$("#prev").hide();
		else	
			$("#prev").show();
	}		
	var page = $("#page_no").val();
	
	if($('#search_type_1').is(':checked')==true)
	{
		$.ajax
		    ({
		        type: 'POST',
		        data: {roll:$("#roll").val(), series:$("#series").val(), page:page,showSlider:'show'},
		        url: '/get-roll-frame',
		        success: function(response)
		        {
		            
		            $("#sliderDiv").html(response);
		        }
		    });	 	
	}
	else if($('#search_type_2').is(':checked')==true)
	{
		$.ajax
		    ({
		        type: 'POST',
		        data: {ship_name:$("#ship_name").val(),date_arrive:$("#arrival_date").val(),page:page,showSlider:'show'},
		        url: '/get-roll-frame',
		        success: function(response)
		        {
		            
		            $("#sliderDiv").html(response);
		        }
		    });	 		
	}	    

}

/**
 * function is used to get the Manifest Image
 * @params void
 * @return 
 * @author Icreon Tech - SR
 */

function showMainManifestImage(imageName) {
    $.colorbox({
        width: "1300px",
        height: "900px",
        iframe: true,
        href: "/show-manifest-image/" + imageName
    });
}
	/** Function to show the manifest image having Next and Previous*/
function showPassengerMoreManifestImage(seriesValue, frame) { 
        window.open("/show-manifest-more-image/" + seriesValue +"/"+frame, frame, "scrollbars=1,width=1200,height=700,resizable=true");
    }
EOD;

echo $this->inlineScript()->prependScript($script)
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/slider/jcarousellite.js?v='.$this->layout()->getVariable('jsVersion'));
?>