<?php
/**
 * This view is used to view shipline for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
?>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div id="campaignContent">
        <div class="head no-img"><span><?php echo $translator['BASIC_SHIPLINE_INFORMATION']; ?></span></div>
        <form action="" method="get">
            <div class="detail-section white-bg">
                <div class="common-form">

                    <div class="view-row">
                        <div class="col6"><strong><?php echo $translator['LINE_NAME_ID']; ?></strong><br>
                            <?php echo $searchResult['LINESHIPID']; ?> </div>
                        <div class="col6"><strong><?php echo $translator['NAME']; ?></strong><br>
                            <?php echo $searchResult['NAME']; ?></div>
                        <div class="col6">   <strong><?php echo $translator['START_YEAR']; ?></strong><br>
                            <?php echo $searchResult['STARTYEAR']; ?> </div>
                        <div class="col6"> <strong><?php echo $translator['END_YEAR']; ?></strong><br>
                            <?php echo $searchResult['ENDYEAR']; ?></div>                    
                    </div>

                    <div class="view-row">
                        <div class="col6"> <strong><?php echo $translator['TOTAL_PASS']; ?></strong><br>
                            <?php echo $searchResult['TOTALPASS']; ?></div>
                        <div class="col6"><strong><?php echo $translator['ASSET_ID']; ?></strong><br>
                            <?php echo $searchResult['ASSETID']; ?></div>
                        <div class="col6"> <strong><?php echo $translator['FLAG']; ?></strong><br>
                            <?php echo $searchResult['FLAG']; ?></div>
                        <div class="col6"> <strong><?php echo $translator['HOME_CITY']; ?></strong><br>
                            <?php echo $searchResult['HOMECITY']; ?></div>                    
                    </div>

                    <div class="view-row no-padd">
                        <div class="col6"><strong><?php echo $translator['HOME_COUNTRY']; ?></strong><br>
                            <?php echo $searchResult['HOMECOUNTRY']; ?></div>
                        <div class="col6"></div>
                        <div class="col6"></div>
                        <div class="col6"></div>                    
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<?php
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$mode = isset($mode)?$mode:'';

$var .=' var shipline_id="' . $shipline_id . '";';
$var .=' var encrypted_shipline_id="' . $encrypted_shipline_id . '";';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath'). '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/edit.shipline.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>