<?php
/**
 * This is used for annotation and correction.
 * @package    Document
 * @author     Icreon Tech -SR.
 */
$translator = $this->jsLangTranslate;
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['ANNOTATIONS_CORRECTIONS']; ?></span></div>
        <div class="detail-section">
            <div class="grid-box">
                <table id="list"></table>
                <div id="pcrud"></div>
            </div>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_annotation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ANNOTATIONS_DELETE_CONFIRMATION']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.= 'var id= "' . $passenger_id . '";';
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.passenger.annotation.js?v='.$this->layout()->getVariable('jsVersion'))
					->prependScript($var);
?>