<?php
/**
 * This is used for annotation and correction.
 * @package    Document
 * @author     Icreon Tech -SR.
 */
 if ($addEditAction == 'edit') {
    $record_id = $annotation_correction_id;
	$record_id_orignal = $annotation_correction_id_orignal;
} else {
    $record_id = $passenger_id;
	$record_id_orignal = '';
}
$passenger_id_orignal = isset($passenger_id_orignal)?$passenger_id_orignal:'';
$script = <<<EOD
var record_id = "$record_id";
var record_id_orignal = "$record_id_orignal";
var act = "$pageAction";
var addEditAction = "$addEditAction";
var passenger_id_orignal = "$passenger_id_orignal";
$(function(){
	$(".e3").customInput();
    $(".e2").customInput();
    $( "#birth_date" ).datepicker({
        changeMonth: true,
        changeYear: true
    });
    
    $( "#death_date" ).datepicker({
        changeMonth: true,
        changeYear: true
    }); 
    $( "#arrival_date" ).datepicker({
        changeMonth: true,
        changeYear: true
    });
	$("#gender,#status,#marital_status, #is_reauthorization, #type").select2();        
	$("#contact_name").focus();
	if(passenger_id_orignal)
        $("#passenger_id").val(passenger_id_orignal);
});
EOD;
echo $this->inlineScript()->prependScript($script)
					      ->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.add.annotation.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<?php
$annotation = $this->annotation_form;
$annotation->prepare();
echo $this->form()->openTag($annotation);
?>    
<?php
if(isset($annCorrResult['activity_type']) && $annCorrResult['activity_type'] == 1 || !isset($annCorrResult['activity_type']))
{
?>
	<div class="head no-img" id="annotation_head1"><span>Annotation Information</span></div>
<?php
}
if(isset($annCorrResult['activity_type']) && $annCorrResult['activity_type'] == 2)
{
?>
	<div class="head no-img" id="annotation_head1"><span>Correction Information</span></div>
<?php
}?>
	
<div class="detail-section common-form">
<div class="row">
                        <div class="col1 relative">
                        <div id="duplicate_annotation_msg" style="display:none;"></div>
                            <label>Contact Name <span class="red">*</span></label>
                            <div class="">
                                <?php echo $this->formRow($annotation->get('contact_name')); ?>
                                <?php echo $this->formRow($annotation->get('contact_name_id')); ?>
                            </div>
                        </div>
                        <div class="col1 right">
                            <label>Type </label>
                            <?php echo $this->formRow($annotation->get('type')); ?>
                        </div>                        
                        </div>                        
		    <div class="row">
		        <p class="text">

		            <?php
		                $style1="display:none;";	
		                $style2="display:none;";	
						if(isset($annCorrResult['activity_type']) && $annCorrResult['activity_type'] == 1 || !isset($annCorrResult['activity_type']))
						{
							$style1="display:block;";	
						}
						if(isset($annCorrResult['activity_type']) && $annCorrResult['activity_type'] == 2)
						{
							$style2="display:block;";	
						}?>
						
						<div id="annotation_msg" style="<?php echo $style1?>">
			                An annotation supplements information in the record, telling more about the passenger's background and life in the United States.
			            </div>
			            <div id="correction_msg" style="<?php echo $style2?>">
			                Corrections are requests for correcting the information in the record,in-case there is some mismatch between the information on the manifest and the information which is being displayed.
			            </div>
		        
		        </p>
		    </div>

    <div class="row no-padd">
        <div class="col6"><span class="text-bold">Fields</span></div>
        <div class="col6"><span class="text-bold">Existing Values</span></div>
        <div class="col1 right"><label>&nbsp;</label><span class="text-bold" style="width:auto;">New Values</span></div>
    </div>
    <div class="row">
        <div class="col6">
            <label>First Name</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PRIN_FIRST_NAME']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('first_name')); ?>
            <?php echo $this->formRow($annotation->get('user_id')); ?>
            <?php echo $this->formRow($annotation->get('annotation_correction_id')); ?>
            <?php echo $this->formRow($annotation->get('activity_type')); 
                $displayFlag = '';
                
                if(is_array($annCorrResult))
                {
                    if($annCorrResult['activity_type'] == 1)
                        $displayFlag = "style='display:none;'";        
                }    
            ?>
            
            <?php 
            if (isset($annCorrResult['first_name']) && $annCorrResult['first_name'] != '') {
                ?>
				<span id="recordApprovalDiv1" <?php echo $displayFlag; ?> class="full">
	            <label>&nbsp;</label>
	                <input type="radio" name="first_name_status" id="first_name_status_1" class="e3 left" value="1" <?php if ($annCorrResult['first_name_status'] == 1) echo 'checked'; ?>>
	                <label class="radio" for="first_name_status_1">Pending</label>
	
	                <input type="radio" name="first_name_status" id="first_name_status_2" class="e3 left" value="2" <?php if ($annCorrResult['first_name_status'] == 2) echo 'checked'; ?>>
	                <label class="radio" for="first_name_status_2">Approve</label>
	
	                <input type="radio" name="first_name_status" id="first_name_status_3" class="e3 left" value="3" <?php if ($annCorrResult['first_name_status'] == 3) echo 'checked'; ?>>
	                <label class="radio" for="first_name_status_3">Rejected</label>
                </span>
                <?php
            }
            ?>
            
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Last Name</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PRIN_LAST_NAME']); ?></span></div>
        <div class="col1 right">
		<label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('last_name')); ?>
            
            <?php
            if (isset($annCorrResult['last_name']) && $annCorrResult['last_name'] != '') {
                ?><span id="recordApprovalDiv2" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="last_name_status1" name="last_name_status" class="e3 left" value="1" <?php if ($annCorrResult['last_name_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="last_name_status1">Pending</label>


                <input type="radio" id="last_name_status2" name="last_name_status" class="e3 left" value="2" <?php if ($annCorrResult['last_name_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="last_name_status2">Approve</label>


                <input type="radio" id="last_name_status3" name="last_name_status" class="e3 left" value="3" <?php if ($annCorrResult['last_name_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="last_name_status3">Rejected</label>
</span>
                <?php
            }
            ?>
            
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Nationality</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PRIN_NATIONALITY']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('nationality')); ?>
            
            <?php
            if (isset($annCorrResult['nationality']) && $annCorrResult['nationality'] != '') {
                ?><span id="recordApprovalDiv3" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="nationality_status1" name="nationality_status" class="e3 left" value="1" <?php if ($annCorrResult['nationality_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="nationality_status1">Pending</label>

                <input type="radio" id="nationality_status2" name="nationality_status" class="e3 left" value="2" <?php if ($annCorrResult['nationality_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="nationality_status2">Approve</label>

                <input type="radio" id="nationality_status3" name="nationality_status" class="e3 left" value="3" <?php if ($annCorrResult['nationality_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="nationality_status3">Rejected</label>
</span>
                <?php
            }
            ?>
            
        </div>
    </div>
    
    <?php
    if(isset($resultSet['data_source']) && !empty($resultSet['data_source']))
    {
        if($resultSet['data_source'] == 2)
        {
        ?>
	    <div class="row">
	        <div class="col6">
	            <label>Place of Birth</label>
	        </div>
	        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PLACE_OF_BIRTH']); ?></span></div>
	        <div class="col1 right"><label>&nbsp;</label>
	            <?php echo $this->formRow($annotation->get('birth_place')); ?>
	            
	            <?php
	            if (isset($annCorrResult['birth_place']) && $annCorrResult['birth_place'] != '') {
	                ?>
	                <span id="recordApprovalDiv4" <?php echo $displayFlag; ?> class="full">
		                <label>&nbsp;</label>
		                <input type="radio" id="birth_place_status1" name="birth_place_status" class="e3 left" value="1" <?php if ($annCorrResult['birth_place_status'] == 1) echo 'checked'; ?>>
		                <label class="radio" for="birth_place_status1">Pending</label>
		
		                <input type="radio" id="birth_place_status2" name="birth_place_status" class="e3 left" value="2" <?php if ($annCorrResult['birth_place_status'] == 2) echo 'checked'; ?>>
		                <label class="radio" for="birth_place_status2">Approve</label>
		
		                <input type="radio" id="birth_place_status3" name="birth_place_status" class="e3 left" value="3" <?php if ($annCorrResult['birth_place_status'] == 3) echo 'checked'; ?>>
		                <label class="radio" for="birth_place_status3">Rejected</label>
					</span>
	                <?php
	            }
	            ?>
	        </div>
	    </div>        
        
        <?php
        }
        else
        {
    ?>
	    <div class="row">
	        <div class="col6">
	            <label>Last Place of Residence</label>
	        </div>
	        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PRIN_PLACE_RESI']); ?></span></div>
	        <div class="col1 right"><label>&nbsp;</label>
	            <?php echo $this->formRow($annotation->get('last_residence')); ?>
	            
	            <?php
	            if (isset($annCorrResult['last_residence']) && $annCorrResult['last_residence'] != '') {
	                ?>
	                <span id="recordApprovalDiv4" <?php echo $displayFlag; ?> class="full">
		                <label>&nbsp;</label>
		                <input type="radio" id="last_residence_status1" name="last_residence_status" class="e3 left" value="1" <?php if ($annCorrResult['last_residence_status'] == 1) echo 'checked'; ?>>
		                <label class="radio" for="last_residence_status1">Pending</label>
		
		                <input type="radio" id="last_residence_status2" name="last_residence_status" class="e3 left" value="2" <?php if ($annCorrResult['last_residence_status'] == 2) echo 'checked'; ?>>
		                <label class="radio" for="last_residence_status2">Approve</label>
		
		                <input type="radio" id="last_residence_status3" name="last_residence_status" class="e3 left" value="3" <?php if ($annCorrResult['last_residence_status'] == 3) echo 'checked'; ?>>
		                <label class="radio" for="last_residence_status3">Rejected</label>
					</span>
	                <?php
	            }
	            ?>
	        </div>
	    </div>
	<?php
		}
	}
	?>    
	    
    <div class="row">
        <div class="col6">
            <label>Age at Arrival</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['PRIN_AGE_ARRIVAL']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('arrival_age')); ?>
           
            <?php
            if (isset($annCorrResult['age_at_arrival']) && $annCorrResult['age_at_arrival'] != '') {
                ?> <span id="recordApprovalDiv5" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="age_at_arrival_status1" name="age_at_arrival_status" class="e3 left" value="1" <?php if ($annCorrResult['age_at_arrival_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="age_at_arrival_status1">Pending</label>

                <input type="radio" id="age_at_arrival_status2" name="age_at_arrival_status" class="e3 left" value="2" <?php if ($annCorrResult['age_at_arrival_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="age_at_arrival_status2">Approve</label>

                <input type="radio" id="age_at_arrival_status3" name="age_at_arrival_status" class="e3 left" value="3" <?php if ($annCorrResult['age_at_arrival_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="age_at_arrival_status3">Rejected</label>
               </span> <?php
            }
            ?>
            
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Gender at Arrival</label>
        </div>
        <div class="col6"><span class="exitvalue">
                <?php
                if ($resultSet['PRIN_GENDER_CODE'] == 'M')
                    echo "Male";
                else if ($resultSet['PRIN_GENDER_CODE'] == 'F')
                    echo "Female";
                else if ($resultSet['PRIN_GENDER_CODE'] == 'U' || empty($resultSet['PRIN_GENDER_CODE']))
                    echo "Unknown";
                ?>
            </span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('gender')); ?>
            
            <?php
            if (isset($annCorrResult['gender']) && $annCorrResult['gender'] != '') {
                ?><span id="recordApprovalDiv6" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="gender_status1" name="gender_status" class="e3 left" value="1" <?php if ($annCorrResult['gender_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="gender_status1">Pending</label>

                <input type="radio" id="gender_status2" name="gender_status" class="e3 left" value="2" <?php if ($annCorrResult['gender_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="gender_status2">Approve</label>

                <input type="radio" id="gender_status3" name="gender_status" class="e3 left" value="3" <?php if ($annCorrResult['gender_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="gender_status3">Rejected</label>
                </span><?php
            }
            ?>
            
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Marital Status</label>
        </div>
        <div class="col6"><span class="exitvalue">
                <?php
                if ($resultSet['PRIN_MARITAL_STAT'] == 'S')
                    echo "Single";
                else if ($resultSet['PRIN_MARITAL_STAT'] == 'M')
                    echo "Married";
                else if ($resultSet['PRIN_MARITAL_STAT'] == 'D')
                    echo "Divorced";
                else if ($resultSet['PRIN_MARITAL_STAT'] == 'W')
                    echo "Widowed";
                else if ($resultSet['PRIN_MARITAL_STAT'] == 'U' || empty($resultSet['PRIN_MARITAL_STAT']))
                    echo "Unknown";
                ?>

            </span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('marital_status')); ?>
            
            <?php
            if (isset($annCorrResult['maritial_status']) && $annCorrResult['maritial_status'] != '') {
                ?><span id="recordApprovalDiv7" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="maritial_approve_status1" class="e3 left" name="maritial_approve_status" value="1" <?php if ($annCorrResult['maritial_approve_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="maritial_approve_status1">Pending</label>

                <input type="radio" id="maritial_approve_status2" class="e3 left" name="maritial_approve_status" value="2" <?php if ($annCorrResult['maritial_approve_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="maritial_approve_status2">Approve</label>

                <input type="radio" id="maritial_approve_status3" class="e3 left" name="maritial_approve_status" value="3" <?php if ($annCorrResult['maritial_approve_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="maritial_approve_status3">Rejected</label>
</span>
                <?php
            }
            ?>
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Date of Arrival</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($this->Dateformatalpha($resultSet['DATE_ARRIVE'],'displaymothdateyear')); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('arrival_date')); ?>
			
            <?php
            if (isset($annCorrResult['arrival_date']) && $annCorrResult['arrival_date'] != '') {
                ?><span id="recordApprovalDiv8" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="arrival_date_status1" name="arrival_date_status" class="e3 left" value="1" <?php if ($annCorrResult['arrival_date_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="arrival_date_status1">Pending</label>


                <input type="radio" id="arrival_date_status2" name="arrival_date_status" class="e3 left" value="2" <?php if ($annCorrResult['arrival_date_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="arrival_date_status2">Approve</label>

                <input type="radio" id="arrival_date_status3" name="arrival_date_status" class="e3 left" value="3" <?php if ($annCorrResult['arrival_date_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="arrival_date_status3">Rejected</label>
                </span><?php
            }
            ?>
            
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Ship</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['SHIP_NAME']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('ship')); ?>
            
            <?php
            if (isset($annCorrResult['ship_name']) && $annCorrResult['ship_name'] != '') {
                ?><span id="recordApprovalDiv9" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="ship_name_status1" name="ship_name_status" class="e3 left" value="1" <?php if ($annCorrResult['ship_name_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="ship_name_status1">Pending</label>

                <input type="radio" id="ship_name_status2" name="ship_name_status" class="e3 left" value="2" <?php if ($annCorrResult['ship_name_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="ship_name_status2">Approve</label>

                <input type="radio" id="ship_name_status3" name="ship_name_status" class="e3 left" value="3" <?php if ($annCorrResult['ship_name_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="ship_name_status3">Rejected</label>
                </span><?php
            }
            ?>
        </div>
    </div>
    <div class="row">
        <div class="col6">
            <label>Departure Port Name</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['DEP_PORT_NAME']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('port_departure')); ?>
            
            <?php
            if (isset($annCorrResult['departure_port_name']) && $annCorrResult['departure_port_name'] != '') {
                ?><span id="recordApprovalDiv10" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label>
                <input type="radio" id="departure_port_name_status1" name="departure_port_name_status" class="e3 left" value="1" <?php if ($annCorrResult['departure_port_name_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="departure_port_name_status1">Pending</label>

                <input type="radio" id="departure_port_name_status2" name="departure_port_name_status" class="e3 left" value="2" <?php if ($annCorrResult['departure_port_name_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="departure_port_name_status2">Approve</label>

                <input type="radio" id="departure_port_name_status3" name="departure_port_name_status" class="e3 left" value="3" <?php if ($annCorrResult['departure_port_name_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="departure_port_name_status3">Rejected</label>
</span>
                <?php
            }
            ?>
            
        </div>
    </div>
    <div class="row no-padd">
        <div class="col6">
            <label>Line #</label>
        </div>
        <div class="col6"><span class="exitvalue"><?php echo stripslashes($resultSet['REF_PAGE_LINE_NBR']); ?></span></div>
        <div class="col1 right"><label>&nbsp;</label>
            <?php echo $this->formRow($annotation->get('line')); ?>
            
            <?php
            if (isset($annCorrResult['line_no']) && $annCorrResult['line_no'] != '') {
                ?>
                <span id="recordApprovalDiv11" <?php echo $displayFlag; ?> class="full">
            <label>&nbsp;</label><input type="radio" id="line_no_status1" name="line_no_status" class="e3 left" value="1" <?php if ($annCorrResult['line_no_status'] == 1) echo 'checked'; ?>>
                <label class="radio" for="line_no_status1">Pending</label>

                <input type="radio" id="line_no_status2" name="line_no_status" class="e3 left" value="2" <?php if ($annCorrResult['line_no_status'] == 2) echo 'checked'; ?>>
                <label class="radio" for="line_no_status2">Approve</label>

                <input type="radio" id="line_no_status3" name="line_no_status" class="e3 left" value="3" <?php if ($annCorrResult['line_no_status'] == 3) echo 'checked'; ?>>
                <label class="radio" for="line_no_status3">Rejected</label>
</span>
                <?php
            }
            ?>
        </div>
    </div>
</div>
</div>

<div class="head no-img" id="annotation_head" style="display: none;" ><span>Additional Information</span></div>
<div class="detail-section">
    <div class="common-form">
        <div id="annotation_form" style="display: none;">
            <div class="row">
                <div class="col1">
                    <label>Date of Birth</label>
					<?php echo $this->formRow($annotation->get('birth_date')); ?>

                </div>
                <div class="col1 right">
                    <label>Date of Death</label>
									<?php echo $this->formRow($annotation->get('death_date')); ?>

                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Occupation</label>
								<?php echo $this->formRow($annotation->get('occupation')); ?>
                </div>
                <div class="col1 right">
                    <label>Spouse</label>
								<?php echo $this->formRow($annotation->get('spouse')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Children</label>
								<?php echo $this->formRow($annotation->get('children')); ?>
                </div>
                <div class="col1 right">
                    <label>Other relatives in U.S</label>
								<?php echo $this->formRow($annotation->get('us_relatives')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Date of Marriage</label>
								<?php echo $this->formRow($annotation->get('date_of_marriage')); ?>
                </div>
                <div class="col1 right">
                    <label>Parent's Names</label>
								<?php echo $this->formRow($annotation->get('parent_names')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>First Time in America</label>
							<?php echo $this->formRow($annotation->get('first_time_in_us')); ?>
                </div>
            </div>            
            
            <div class="row">
                <div class="col1">
                    <label>Where settled in U.S</label>
								<?php echo $this->formRow($annotation->get('us_residence')); ?>
                </div>
                <div class="col1 right">
                    <label>Military Experience</label>
								<?php echo $this->formRow($annotation->get('military_experience')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Religious Community</label>
							<?php echo $this->formRow($annotation->get('religious_community')); ?>
                </div>
            </div>

        </div>

        <?php
        if (isset($addEditAction) && $addEditAction == 'edit') {
            ?>
            <div class="row">
                <div class="col1">
                    <label>Notes</label>
    <?php echo $this->formRow($annotation->get('note')); ?>
                </div>
            </div>

            <div class="row">
                <label>&nbsp;</label>
    <?php echo $this->formRow($annotation->get('email_send')); ?> 
                <label class="check" for="email_send">Send Email Notification to Contact</label>

            </div>

            <div class="row">
                <div class="col1">
                    <label>Status</label>
                        <?php echo $this->formRow($annotation->get('status')); ?>
                </div>
            </div>
            <?php 
            if($annCorrResult['activity_type'] == 1 && $annCorrResult['status'] == 0)
            {
            ?>
            <div class="row">
                <div class="col1">
                    <label>Is Approved</label>
                        <?php echo $this->formRow($annotation->get('is_reauthorization')); ?>
                </div>
            </div>            
            <?php
            }
            ?>

            <?php
            //if(!isset($annCorrResult['status'])) {
            ?>
            <div class="row">
                <label>&nbsp;</label>
    <?php echo $this->formRow($annotation->get('terms')); ?> 
                <label class="check" for="terms"><small class="red">*</small>I agree that all the information provided above is true and correct to the best of my knowledge.</label>

            </div>

            <?php
        }
       // }
        ?>                
        <div class="row no-padd">
            <label>&nbsp;</label>
            <?php
//if(!isset($annCorrResult['status'])) {
            echo $this->formRow($annotation->get('save'));
           // }
            ?>
            <a href="/crm-annotation-correction"><?php echo $this->formRow($annotation->get('cancel')); ?></a>

        </div>

    </div>
    <?php
    echo $this->form()->closeTag();	
	?>
              