<?php
/**
 * This is used for shipline.
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.shipline.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <h2><?php echo $translator['SHIPLINE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['SEARCH_SHIPLINE']; ?></span></div>
        <?php
        $form = $this->search_shipline_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $form = $this->search_shipline_form;
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['LINE_NAME_ID']; ?></label>
                        <?php echo $this->formRow($form->get('line_name_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['LINE_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('line_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['CITY']; ?></label>
                        <?php echo $this->formRow($form->get('city')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['COUNTRY']; ?></label>
                        <?php echo $this->formRow($form->get('country')); ?>

                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['START_YEAR']; ?></label>
                        <?php echo $this->formRow($form->get('start_year')); ?>
                    </div>
                    <div class="col1 right" id="start_year_requested">
                        <label><?php echo $translator['FROM']; ?></label>
                        <?php echo $this->formRow($form->get('start_year_date_from')); ?>

                       
                        <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                        <?php echo $this->formRow($form->get('start_year_date_to')); ?>
                         </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['END_YEAR']; ?></label>
                        <?php echo $this->formRow($form->get('end_year')); ?>
                    </div>
                    <div class="col1 right" id="end_year_requested">
                        <label><?php echo $translator['FROM']; ?></label>
                        <?php echo $this->formRow($form->get('end_year_date_from')); ?>

                      
                        <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                        <?php echo $this->formRow($form->get('end_year_date_to')); ?>

                        </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($form->get('saved_searches')); ?>
            </div>
            <div class="right col1" style="width:auto">
                <?php
                $save_search_form = $this->save_search_shipline_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>
                <label><?php echo $translator['SAVE_SEARCH_AS']; ?></label>
                <?php echo $this->formRow($save_search_form->get('save_search_as')); ?>
                <?php echo $this->formRow($save_search_form->get('savesearch')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <a href="#delete_shipline_search" id="deletebutton" style="display:none;" class="delete_shipline_search save-btn m-l-5" onClick="deleteSearch();"><?php echo $translator['DELETE']; ?></a>
                <span id="search_msg"></span> 
            </div>
        </div>

    </div>
</div>

<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_shipline_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this record?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>