<?php
/**
 * This view is used to search passenger for admin
 * @package    Document
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.bulkpassenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
<div class="create-contacts associate-people">
    <h2><?php echo $translator['PASSENGER_BULK_UPDATE']; ?></h2>
    <div class="breadcrumb">

    </div>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>         
        <input type="hidden" name="roll_list" value="" id="roll_list">
        <input type="hidden" name="roll_index" value="0" id="roll_index">
        <input type="hidden" name="frame_list" value="" id="frame_list">
        <input type="hidden" name="frame_index" value="" id="frame_index">        
        <?php
        $form = $this->search_passeneger_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['SEARCH_PASSENGER_RECORD']; ?></span></div>
        <div class="detail-section ">
            <div class="common-form">
                <div class="row checkbox-auto">

                    <?php echo $this->formRow($form->get('search_type')); ?>

                </div>
                <div class="row">
                    <div style="display:none;" id="byPassengerSearch">
                        <div class="col2">
                            <label><?php echo $translator['S_START_ID']; ?></label> <?php echo $this->formRow($form->get('start_id')); ?>&nbsp;
                        </div>  
                        <div class="col2"> 
                            <label><?php echo $translator['S_END_ID']; ?></label> <?php echo $this->formRow($form->get('end_id')); ?>
                        </div> 
                    </div>

                    <div style="display:none;" id="byTripSearch">
                        <div class="col2">
                            <label><?php echo $translator['S_SHIP_NAME']; ?></label> <?php echo $this->formRow($form->get('ship_name')); ?>&nbsp;
                        </div>  
                        <div class="col2"> 
                            <label><?php echo $translator['S_ARRIVAL_DATE']; ?></label> <?php echo $this->formRow($form->get('arrival_date')); ?>
                        </div> 
                    </div>
                    <div style="display:none;" id="bySeriesSearch" class="row">
                        <div class="col1">
                            <div class="col4" style="width:38%">
                                <label>&nbsp;<?php echo $translator['S_SERIES']; ?></label> 
                                <?php echo $this->formRow($form->get('series')); ?>
                            </div>


                            <div style="width:55%; float:left; margin-left:20px; position: relative;"><label>&nbsp;<?php echo $translator['S_ROLL']; ?></label> <?php echo $this->formRow($form->get('roll')); ?>
                                <div class="left  m-t-5">
                                    <a href="javascript:void(0);" id="previousRoll" class="left"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/minus.png"></a>

                                    <span id="roll_range" class="left m-l-10 m-r-10"></span>
                                    <a href="javascript:void(0);"id="nextRoll" class="left"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/plus.png"></a>
                                </div></div>

                        </div> 
                        <div class="left" style="position: relative;"> 
                            <label>&nbsp;<?php echo $translator['S_FRAME']; ?></label> <?php echo $this->formRow($form->get('frame')); ?>
                            <div class="full m-t-5">
                                <a href="javascript:void(0);" id="previousFrame" class="left"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/minus.png"></a>

                                <span id="frame_range" class="left  m-l-10 m-r-10"></span>
                                <a href="javascript:void(0);"id="nextFrame" class="left"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/plus.png"></a>							
                            </div>
                        </div> 
                    </div>                
                </div>

                <div class="row no-padd">
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
              </div>  
    <div class="row">  
    </div>
    <div class="detail-section" id="fileNameManifest" style="display:none;">
        <div class="common-form">
		    <div class="row">
		        <div class="col11"><label>Manifest</label></div>
		        <div class="col2"><input type="text" name="filename" value="" id="filename"></div>    
		        <div class="col2"><input type="button" name="button" class="save-btn" onClick="getManifest('showfromfile');" value="Load Image"></div>    
		    </div> 	
		</div>    
	</div>    
    
    <div class="row">          
        <div class="grid-section p-t-20" id="sliderDiv" style="text-align:center">		        
    </div></div>
    
    <div class="grid-section">
        <div class="top-section">
            <div class="grid-box">
                <br><br>
                <table id="list"></table>
                <div id="pcrudpassenger"></div>
                <br><br>
            </div>
        </div>
    </div>    

    <div class="detail-section" id="updateSection" style="display:none;">
    <h3><?php echo $translator['PASSENGER_BULK_UPDATE_LABEL']; ?></h3>
    <br>
        <?php
        $form = $this->update_passenger_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
    
        <div class="common-form">

            <div class="row">
                <div class="col8 m-r-10">
                    <label><?php echo $translator['S_SERIES'] . '-' . $translator['S_ROLL']; ?></label>
                    <?php echo $this->formRow($form->get('p_roll_no')); ?>
                </div>

                <div class="col8">
                    <label><?php echo $translator['S_FRAME']; ?></label>
                    <?php echo $this->formRow($form->get('p_frame')); ?>
                </div>
				<div class="col8">
                    <label>&nbsp;&nbsp;<?php echo $translator['LAST_NAME']; ?></label>
                    <?php echo $this->formRow($form->get('p_last_name')); ?>
                </div>                
            </div> 
            <div class="row"> 
                <div class="col8 m-r-10">
                    <label><?php echo $translator['S_SHIP_NAME']; ?></label>
                    <?php echo $this->formRow($form->get('p_ship_name')); ?>
                </div>
                <div class="col8">
                    <label><?php echo $translator['S_ARRIVAL_DATE']; ?></label>
                    <?php echo $this->formRow($form->get('p_arrival_date')); ?>
                </div>
            </div>
            <div class="row no-padd">
                <label>&nbsp;</label>
                &nbsp;<span id="errorMsg" class="m-l-20" style="color:red;display:none;"></span>
                <a href="#update_confirm" class="update_confirm"><?php echo $this->formRow($form->get('submit')); ?></a>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>

</div>
<div style='display:none'>      
    <div id='update_confirm' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONFIRM_TO_UPDATE_RECORD']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_add" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_add" class="green-btn">
        </div>
    </div>      
</div>    
