<?php
/**
 * This view is used to view shipline for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
?>     <div class="pop-container">
    <h3><?php echo $searchResult[0]['NAME']; ?></h3> 
    <div class="grid-section" >
        <div class="grid-box" id="gview_list">
            <table id="shiplist"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>
<?php
$var = '';
$var = ' var line_id="' . $id . '";';
$script = <<<EOD
/**
     * function is used to send the request for crm ship list
     * @params void
     * @return will return the all options as a string
     * @author Icreon Tech - SR
     */
    $(function() {    
        $("#shiplist").jqGrid({ 
            postData: {
                id:'<?php echo $id; ?>'
            },
            mtype: 'POST',
            url: '/get-list-lineships',
            datatype: "json", 
            sortable:true,
            colNames: ['Ship'],
            colModel: [
                {
                    name: 'Ship', 
                    index: 'SHIPNAME'
                }
            ],
            viewrecords: true, 
            sortname: 'SHIPNAME',
            sortorder: "ASC",
            rowNum:10, 
            rowList:[10,20,30], 
            pager: '#pcrud',
            viewrecords: true, 
            autowidth: true,
            shrinkToFit: true,
            caption:"",
            width:"100%",
            cmTemplate: { title: false },
        });    
        // For paging 
        $("#shiplist").jqGrid('navGrid','#pcrud',{
            reload: true,
            edit: false, 
            add: false, 
            search: false, 
            del: false
        });
        
        $('.grid-box').find('th:last').addClass("remove-last");
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);
?>