<?php
/**
 * This view is used to edit passenger for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Passengers</h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="javascript:void(0);">Dashboard</a></li>
            <li>&raquo;</li>
            <li><a href="javascript:void(0);" class="active"> Edit</a></li>

        </ul>
    </div>

    <div class="accordion-detail">
        <ul class="edit-link">
            <li><a href="#">Details</a></li>
            <li><a href="#" class="active">Edit</a></li>
            <li><a href="#">Annotations</a></li>
            <li><a href="#">Changes Log</a></li>
        </ul>
        <div class="head no-img"><span>Passenger Information</span></div>


        <div class="detail-section">
            <?php
            $form = $this->edit_passeneger_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label>Passenger ID :</label>
                        <?php echo $this->formRow($form->get('passenger_id')); ?>
                    </div>
                    <div class="col1">
                        <label>Batch # :</label>
                        <div class="search-input-bg">
                            <?php echo $this->formRow($form->get('batch')); ?>
                            <input name="" type="button" class="search-btn">
                        </div>
                        <span class="age-year">Please enter "P50192-1"and click</span> </div>
                </div>

                <div class="row1">
                    <div class="col1">
                        <label>Series :</label>
                        <?php echo $this->formRow($form->get('series')); ?>
                    </div>
                    <div class="col1">
                        <label>Roll Number :</label>
                        <?php echo $this->formRow($form->get('roll_number')); ?>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Frame :</label>
                        <?php echo $this->formRow($form->get('frame')); ?>
                    </div>
                    <div class="col1">
                        <label>Ref Line :</label>
                        <?php echo $this->formRow($form->get('ref_line')); ?>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Ref Page :</label>
                        <?php echo $this->formRow($form->get('ref_page')); ?>
                    </div>
                    <div class="col1">
                        <label>Date of Arrival :</label>
                        <?php echo $this->formRow($form->get('arrival_date')); ?>
                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="" class="left" id="img_arrival_date">
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Last Name :</label>
                        <?php echo $this->formRow($form->get('last_name')); ?>
                    </div>
                    <div class="col1">
                        <label>First Name :</label>
                        <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Print Age :</label>
                        <?php echo $this->formRow($form->get('print_age')); ?>
                        <span class="text m-l-5 m-t-5 left">(yrs)</span>
                    </div>
                    <div class="col1">
                        <label>Year Of Birth :</label>
                        <?php echo $this->formRow($form->get('birth_year')); ?>
                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="" class="left" id="img_birth_year">
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Marital Status :</label>
                        <?php echo $this->formRow($form->get('maritial_status')); ?>
                    </div>
                    <div class="col1">
                        <label>Nationality :</label>
                        <?php echo $this->formRow($form->get('nationality')); ?>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Gender :</label>
                        <?php echo $this->formRow($form->get('gender[]')); ?>
                    </div>
                    <div class="col1">
                        <label>Age Of Arrival :</label>
                        <?php echo $this->formRow($form->get('age_arrival')); ?>
                        <span class="text m-l-5 m-t-5 left">(yrs)</span>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <label>Ethnicity :</label>
                        <?php echo $this->formRow($form->get('ethnicity')); ?>
                    </div>
                    <div class="col1">
                        <?php echo $this->formRow($form->get('us_citizen')); ?>
                        <?php echo $this->formRow($form->get('crew_member')); ?>
                    </div>
                </div>

                <div class="row1">
                    <div class="col1">
                        <label>Residence :</label>
                        <?php echo $this->formRow($form->get('residence')); ?>
                    </div>
                </div>
            </div>
            <div class="head no-img"><span>Arrival/Departures Information</span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row1">
                        <div class="col1">
                            <label>Ship :</label>
                            <?php echo $this->formRow($form->get('ship')); ?>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col1">
                            <label>Ship Name ISS :</label>
                            <?php echo $this->formRow($form->get('ship_name_iss')); ?>
                        </div>
                        <div class="col1">
                            <label>Ship Arrival Date :</label>
                            <?php echo $this->formRow($form->get('ship_arrival_date')); ?>
                            <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="" class="left" id="img_ship_arrival_date">
                        </div>
                    </div>
                </div>
                <div class="row m-t-15 common-form"><label>&nbsp;</label>

                    <?php echo $this->formRow($form->get('update')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
    </div>
</div>
