<?php
/**
 * This view is used to ship passengers for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
?>    <div class="pop-container"> 
    <div class="grid-section">
        <h3>Passenger List</h3>
        <div class="grid-box" id="gview_list">
            <table id="shiplist"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div></div>
<?php
$script = <<<EOD
/**
     * function is used to send the request for  passenger list
     * @params void
     * @return will return the all options as a string
     * @author Icreon Tech - SR
     */
    $(function() {    
        $("#shiplist").jqGrid({ 
            postData: {
                ship_name:"$ship_name",
                DATE_ARRIVE:"$DATE_ARRIVE",
            },
            mtype: 'POST',
            url: '/get-ship-passenger-list',
            datatype: "json", 
            sortable:true,
            colNames: ['Ref Line #','Passenger ID','Passenger Name','Gender','Residence','Marital Status','Age on Arrival','Ethnicity'],
            colModel: [
                {
                    name: 'Ref Line #', 
                    index: 'REF_PAGE_LINE_NBR'
                },
                {
                    name: 'Passenger ID', 
                    index: 'ID'
                },
                {
                    name: 'Passenger Name', 
                    index: 'PRIN_FIRST_NAME'
                }
                ,
                {
                    name: 'Gender', 
                    index: 'PRIN_GENDER_CODE'
                }
                ,
                {
                    name: 'Residence', 
                    index: 'PRIN_PLACE_RESI'
                }
                ,
                {
                    name: 'Marital Status', 
                    index: 'PRIN_MARITAL_STAT'
                }
                ,
                {
                    name: 'Age on Arrival', 
                    index: 'AGE_ARRIVE'
                }
                ,
                {
                    name: 'Ethnicity', 
                    index: 'ethnicity'
                }
            ],
            viewrecords: true, 
            sortname: 'ID',
            sortorder: "ASC",
            rowNum:10, 
            rowList:[10,20,30], 
            pager: '#pcrud',
            viewrecords: true, 
            autowidth: true,
            shrinkToFit: true,
            caption:"",
            width:"100%",
            cmTemplate: { title: false }
        });    
        // For paging 
        $("#shiplist").jqGrid('navGrid','#pcrud',{
            reload: true,
            edit: false, 
            add: false, 
            search: false, 
            del: false
        });
        
        $('.grid-box').find('th:last').addClass("remove-last");
    });
EOD;
echo $this->inlineScript()->prependScript($script);
?>		
