<?php
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/crm.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<style>
body{min-width:1280px;}
</style>
<?php 
/**
 * This view is used to image view for admin
 * @package    Document
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;

if(isset($passengerResult[0]['data_source']))
	                    $dateSource = $passengerResult[0]['data_source'];
	                else
	                    $dateSource = $dataSource;   
?>
<script>
	var dataSourceVal = '<?php echo $dateSource ?>';
</script>
<div class="create-contacts"> 
	<div class="head no-img"><span><?php echo $translator['L_MANIFEST_IMAGE']; ?></span></div>
	<div class="detail-section white-bg">
	    <div class="common-form">
	        <div class="view-row">
	            <?php
	                
	                
	                
	                if(count($passengerResult)>0)
	                {
	            ?>
			            <div class="col6"><strong><?php echo $translator['L_PASSENGER_NAME']; ?></strong><br>
			                <?php echo stripslashes($passengerResult[0]['PRIN_FIRST_NAME'].' '.$passengerResult[0]['PRIN_LAST_NAME']) ?></div>
			            <div class="col6"> <strong><?php echo $translator['L_ARRIVAL_DATE']; ?></strong><br>
			                <?php echo $this->Dateformatalpha($passengerResult[0]['DATE_ARRIVE'],'displaymothdateyear'); ?></div>
			            <div class="col6"> <strong><?php echo $translator['L_PORT_OF_DEPARTURE']; ?></strong><br>
			                <?php echo stripslashes($passengerResult[0]['DEP_PORT_NAME']) ?></div>
			            <div class="col6"><strong><?php echo $translator['L_MANIFEST_LINE_NUMBER']; ?></strong><br>
			                <?php echo LTRIM($passengerResult[0]['REF_PAGE_LINE_NBR'],'0'); ?>
			            </div>
			            <div class="col6"><br><strong><?php echo $translator['L_MANIFEST']; ?></strong><br>
			                <a href='javascript:void(0)' style='text-decoration:underline;color: #373232;font-size: 17px;font-weight: bold;' onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($passengerResult[0]['ROLL_NBR']);?>','<?php echo $this->Encrypt($passengerResult[0]['FRAME']);?>','<?php echo $this->Encrypt($passengerResult[0]['ID']);?>');"><?php echo $passengerResult[0]['FILENAME']; ?></a>
			            </div>
	            <?php
	                }
	                else
	                {
	                ?>
	                    <div class="col6"><br><strong><?php echo $translator['L_MANIFEST']; ?></strong><br>
			                <a href='javascript:void(0)' style='text-decoration:underline;color: #373232;font-size: 17px;font-weight: bold;' onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($sessionSeriesRoll);?>','<?php echo $this->Encrypt($sesionFrame);?>','');"><?php echo $manifestSessionFileName; ?></a>
			            </div>
	                <?php
	                }
	            ?>
	            
	            <div class="full prevnext">
		            <div style="float:left;">
		                <a href='javascript:void(0)' style='text-decoration:underline;color: #373232;font-size: 17px;font-weight: bold;' onClick="showPassengerListing('<?php echo $this->encrypt($imageName) ?>')">TEXT PASSENGER LIST</a>
		            </div>
	            <div style="float:left;font-weight: bold;margin-left: 30%;">
	            <?php
	                echo $imageName;
	            ?>
	            </div>
	            <?php
 	                $form = $this->ship_manifest_form;
	                $form->prepare();
                    echo $this->form()->openTag($form);

	            ?>
				<div class="text-passenger-section" style="width:640px !important">
					<span id="error_msg" style="text-align:center;font-size: 11px; color: red; float: left; width: 100%;"></span>
					<table width="100%" cellspacing="2" cellpadding="2">
						
						<tr><th>Roll</th><th>&nbsp;</th><th>Frame</th><th>Series</th><th>Roll</th><th>Frame</th><th>&nbsp;</th></tr>
						<tr>
							<td valign="top">
								<?php echo $this->formRow($form->get('roll_no_minus_1')); ?> 
							</td>
							<td>&nbsp;</td>
							<td valign="top">
								<?php
									echo $this->formRow($form->get('frame_no_minus_1'));
									echo $this->formRow($form->get('frame_no_minus_2'));
									echo $this->formRow($form->get('frame_no_minus_3'));
									echo $this->formRow($form->get('frame_no_minus_4'));
										
								?>
							</td>
							<td valign="top">
							<div class="select-div">
									<?php
										echo $this->formRow($form->get('series_no'));
									?>
								</div>
							</td>
							<td>
								<?php echo $this->formRow($form->get('roll_no')); ?>
								<?php echo $this->formRow($form->get('frame_no_max')); ?>
								<?php echo $this->formRow($form->get('roll_no_range')); ?>
								<?php echo $this->formRow($form->get('roll_no_min')); ?>
								<?php echo $this->formRow($form->get('roll_no_max')); ?>
								<?php echo $this->formRow($form->get('passengerId')); ?>
							</td>
							<td valign="top"><?php echo $this->formRow($form->get('frame_no')); ?></td>
							<td valign="top"><span class="right" id="f_range">Frame Range(1 - <?php echo $maxFrame?>)</span></td>
						</tr>
						<tr>    
							<td><?php echo $this->formRow($form->get('roll_no_plus_1')); ?></td>
						
						<td>&nbsp;</td>
							<td><?php
									echo $this->formRow($form->get('frame_no_plus_1'));
									echo $this->formRow($form->get('frame_no_plus_2'));
									echo $this->formRow($form->get('frame_no_plus_3'));
									echo $this->formRow($form->get('frame_no_plus_4'));								
							?>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><?php echo $this->formRow($form->get('display')); ?></td>
							<td>&nbsp;</td>
						</tr>	
					</table>
				
		        <!--
	            <?php 
	                //if(($frame-1) > 0)
	                //{
	            ?>
	                <a href="javascript:void(0);" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($seriesRoll); ?>','<?php echo $this->Encrypt($frame-1)?>','<?php echo isset($passengerId)?$this->Encrypt($passengerId):""; ?>')" alt="<?php echo $translator['PREVIOUS']; ?>" title="<?php echo $translator['PREVIOUS']; ?>"><?php echo $translator['PREVIOUS']; ?></a>
	            &nbsp;&nbsp;|
	            <?php
	                //}   
	            ?>
	            &nbsp;
	                <a  href="javascript:void(0);" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($seriesRoll); ?>','<?php echo $this->Encrypt($frame+1)?>','<?php echo isset($passengerId)?$this->Encrypt($passengerId):""; ?>')" alt="<?php echo $translator['NEXT']; ?>" title="<?php echo $translator['NEXT']; ?>"><?php echo $translator['NEXT']; ?></a>
	                -->
	             </div>
	             <?php
				        echo $this->form()->closeTag();
		        ?>
	            </div>    
	        </div>
	        
	        <div class="view-row">
	        <?php
			$imagePathArray = array();
			$imagePathArray['fileName'] = $imageName;
			$imagePathArray['dataSource'] = $dateSource;
			$imagePathArray['isThumb'] = '0';
			$manifestImage = $this->GetManifestPath($imagePathArray);		        
                        
                        
                        $fileExists = false;
                        if($dateSource == 1)
                        {
                            $imageName = $this->ConvertTifToJpg($imageName);
                            $imageFolder = substr($imageName,0,9);
                            $imageRootPath = $uploadFilePath;
                            $imageRootPath = $imageRootPath . 'manifest-low/' . strtolower($imageFolder) . '/' . strtolower($imageName);                         
                            if(file_exists($imageRootPath))
                                $fileExists = true;
                        }
                        else if($dateSource == 2)
                        {
                            $imageFolderArray = explode('_', $imageName);
                            $imageFolder = $imageFolderArray[0];
                            $imageRootPath = $uploadFilePath;
                            $imageRootPath = $imageRootPath . 'manifest-low/' . $imageFolder . '/' . $imageName;                               
                            
                            if(file_exists($imageRootPath))
                                $fileExists = true;
                        }
                        
	        if($fileExists)
	        {
	        ?>
	            <img width="100%" src="<?php echo $manifestImage?>">
	        <?php
	        }
	        else
	        {
	            echo $translator['NO_IMAGE_AVALIABLE'];
	        }
	        ?>    
	        </div>
	
	    </div>
	</div>

</div>
<div id="ajx_loader" class="main-loader">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'))					 
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))					 
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'))					 
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/crm.manifest.images.js?v='.$this->layout()->getVariable('jsVersion'));
?>
