<?php 
/**
 * This view is used to image view for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
 $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'))
				  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/crm.css?v='.$this->layout()->getVariable('cssVersion'))
				  ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/crmmanifestcss.css?v='.$this->layout()->getVariable('cssVersion'));

$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
/**
 * This is used to open larger image in popup
 * @author Icreon Tech - SR
*/
    function showPassengerMoreManifestImage(seriesValue, frame, passengerId) {
    
        if(passengerId!='')
            passengerId = '/'+passengerId;
        window.open("/show-manifest-more-image/" + seriesValue +"/"+frame + passengerId, frame, "scrollbars=1,width=1200,height=700,resizable=true");
    }
EOD;
echo $this->inlineScript()->prependScript($script)
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery-1.8.3.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);

$showImageFlag = 0;

if ($manifestImageType == 'passenger') {
    
	$script1 = <<<EOD
$(function() {
            $('#zoom_01').elevateZoom({
                zoomType: "inner",
                cursor: "crosshair",
                zoomWindowFadeIn: 50,
                zoomWindowFadeOut: 75
            }); 
        });
EOD;
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.elevatezoom.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script1);

} else if ($manifestImageType == 'ship') { 

?>
<style>
/*
	.elastislide-wrapper{height:485px !important}
	#sliderDiv_overlay2{width:570px; height:500px;}
	.elastislide-carousel ul li{max-width:110px !important; max-height:none !important; margin:0px 0 10px 0 !important; float:left; }
	.elastislide-carousel ul li span{width:100%; float:left; margin-top:5px; font-family: arial; font-size: 11px;}
*/
</style>
<?php
    
echo $this->headLink()->appendStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/demo.css')
				 ->appendStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/imagezoom.css')
				 ->appendStylesheet($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/css/es-cus.css')
				 ->appendStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'));

$script2 = <<<EOD
        function showHideOverlay(val){ 
            if(val == 0)
            {
                $("#sliderDiv_overlay2").hide();
            }	
            else if(val == 1)
            {
                $("#sliderDiv_overlay2").show();
            }
        } 
        function showCenterImageName(image_name)
        {
            $("#centerImageName").html(image_name);
        }
EOD;

echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/jquery.imagezoom.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/modernizr.custom.17475.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/slider-zoom/js/jquery.elastislide.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/imageslider/jquery.carouFredSel.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script2);
}
?>


<?php 
if ($manifestImageType == 'passenger') {
    ?>
    <img id="zoom_01" src="<?php echo $imagePath; ?>" data-zoom-image="<?php echo $largeImagePath; ?>"/>
    <?php
} else if ($manifestImageType == 'ship') {
    $top = "";
    $topOverIcon = "";
    if (isset($passengerId) && $passengerId != '') {
        $top = "top:522px;";
        $topOverIcon = "top:570px;";
        $showImageFlag = 1;
       // asd($passengerResult);
        ?>
        <div class="create-contacts"> 
            <div class="head no-img"><span><?php echo $translator['PASSENGER_INFORMATION']; ?> </span>
                <?php if (count($shipManifestArray) > 0) { ?>
                    <a class="view-right-text" href="javascript:void(0);" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($passengerResult['ROLL_NBR']); ?>','<?php echo $this->Encrypt($passengerResult['FRAME']); ?>','<?php echo $this->Encrypt($passengerResult['ID']) ?>');"><?php echo $translator['VIEW_MANIFEST_IMAGE']; ?></a>
                <?php } ?>
            </div>

            <div class="detail-section white-bg">
                <div class="common-form">

                    <div class="view-row">
                        <div class="col6"><strong><?php echo $translator['PASSENGER_ID']; ?></strong><br>
                            <?php echo $passengerResult['ID'] ?></div>
                        <div class="col6"> <strong><?php echo $translator['BATCH']; ?> #</strong><br>
                            <?php echo $passengerResult['UDE_BATCH_NUMBER'] ?></div>
                        <div class="col6"> <strong><?php echo $translator['MANIFEST_IMAGE']; ?></strong><br>
                            <?php echo $passengerResult['FILENAME'] ?></div>
                        <div class="col6">&nbsp;
                        </div>
                    </div>

                    <div class="view-row">
                        <div class="col6"><strong><?php echo $translator['SERIES'] . '-' . $translator['ROLL_NUMBER']; ?></strong><br>
                            <?php echo $passengerResult['ROLL_NBR'] ?></div>
                        <div class="col6"> <strong><?php echo $translator['FRAME']; ?></strong><br>
                            <?php echo $passengerResult['FRAME'] ?></div>
                        <div class="col6">  <strong><?php echo $translator['REF_LINE']; ?> #</strong><br>
                            <?php echo LTRIM($passengerResult['REF_PAGE_LINE_NBR'], '0'); ?></div>
                        <div class="col6">  <strong><?php echo $translator['REF_PAGE']; ?> #</strong><br>
                            <?php echo $passengerResult['REF_PAGE_NBR'] ?></div>
                    </div>

                    <div class="view-row">
                        <div class="col6">  <strong><?php echo $translator['LAST_NAME']; ?></strong><br>
                            <?php echo $passengerResult['PRIN_LAST_NAME'] ?></div>
                        <div class="col6">  <strong><?php echo $translator['FIRST_NAME']; ?></strong><br>
                            <?php echo $passengerResult['PRIN_FIRST_NAME'] ?></div>
                        <div class="col6"><strong><?php echo $translator['PRINT_AGE']; ?></strong><br>
                            <?php echo $passengerResult['PRIN_AGE_ARRIVAL'] ?></div>
                        <div class="col6"> <strong><?php echo $translator['YEAR_OF_BIRTH']; ?></strong><br>
                            <?php echo $passengerResult['BIRTH_YEAR'] ?></div>
                    </div>


                    <div class="view-row">
                        <div class="col6"><strong><?php echo $translator['MARITAL_STATUS']; ?></strong><br>
                            <?php
                            if ($passengerResult['PRIN_MARITAL_STAT'] == 'S')
                                echo "Single";
                            else if ($passengerResult['PRIN_MARITAL_STAT'] == 'M')
                                echo "Married";
                            else if ($passengerResult['PRIN_MARITAL_STAT'] == 'D')
                                echo "Divorced";
                            else if ($passengerResult['PRIN_MARITAL_STAT'] == 'W')
                                echo "Widowed";
                            else if ($passengerResult['PRIN_MARITAL_STAT'] == 'U' || empty($passengerResult['PRIN_MARITAL_STAT']))
                                echo "Unknown";
                            ?></div>
                        <div class="col6"><strong><?php echo $translator['NATIONALITY']; ?></strong><br>
                            <?php echo $passengerResult['PRIN_NATIONALITY'] ?></div>
                        <div class="col6"><strong><?php echo $translator['GENDER']; ?></strong><br>

                            <?php
                            if ($passengerResult['PRIN_GENDER_CODE'] == 'M')
                                echo "Male";
                            else if ($passengerResult['PRIN_GENDER_CODE'] == 'F')
                                echo "Female";
                            else if ($passengerResult['PRIN_GENDER_CODE'] == 'U' || $passengerResult['PRIN_GENDER_CODE'] == '')
                                echo "Unknown";
                            ?>
                        </div>
                        <div class="col6"> <strong><?php echo $translator['AGE_OF_ARRIVAL']; ?></strong><br>
                            <?php echo $passengerResult['AGE_ARRIVE'] ?> </div>
                    </div>

                    <div class="view-row">
                        <div class="col6"> <strong><?php echo $translator['ETHNICITY']; ?></strong><br>
                            <?php echo (isset($passengerEthnicity[0]) && $passengerEthnicity[0] != '') ? $passengerEthnicity[0]['ethnicity'] : 'N/A'; ?></div>
                        <div class="col6"><strong><?php echo $translator['DATE_ARRIVAL']; ?></strong><br>
                            <?php echo $this->Dateformatalpha($passengerResult['DATE_ARRIVE'], 'displaymothdateyear') ?></div>
                        <div class="col6"> <strong><?php echo $translator['RESIDENCE']; ?></strong><br>

                            <?php echo $passengerResult['PRIN_PLACE_RESI'] ?> </div>
                        <div class="col6">  <strong><?php echo $translator['USCITIZEN']; ?></strong><br>
                            <?php if (!empty($passengerResult['PRIN_CITIZEN_US_IND'])) echo 'Yes'; else echo 'No'; ?></div>
                    </div>


                    <div class="view-row no-padd">
                        <div class="col6"> <strong><?php echo $translator['CREWMEMBER']; ?></strong><br>
                            <?php if (!empty($passengerResult['PRIN_CREW_SHIP_IND'])) echo 'Yes'; else echo 'No'; ?></div>
                        <div class="col6"></div>
                        <div class="col6"></div>
                        <div class="col6"></div>
                    </div>

                </div>
            </div>

            <div class="detail-section white-bg">
                <div class="common-form">

                    <div class="view-row">
                        <div class="col6"> <strong><?php echo $translator['SHIP']; ?></strong><br>
                            <?php
                            echo $passengerResult['SHIP_NAME'];
                            ?>
                        </div>
                        <div class="col6"><strong><?php echo $translator['SHIP_NAME_ISS']; ?></strong><br>
                            <?php echo $passengerResult['SHIP_NAME_ISS'] ?></div>
                        <div class="col6"> <strong><?php echo $translator['SHIP_ARRIVAL_DATE']; ?></strong><br>
                            <?php echo $this->Dateformatalpha($passengerResult['DATE_ARRIVE'], 'displaymothdateyear') ?></div>
                        <div class="col6"></div>
                    </div>

                </div>
            </div>

        </div>		
        <?php
    }

    if (count($shipManifestArray) > 0) {
        ?>
        <div class="slider-section create-contacts">
            <?php
            if ($showImageFlag == 0) {
                $top = "top:55px;";
                ?>
                <div class="head no-img"></span><a class="view-right-text" href="javascript:void(0);" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($rollNumber); ?>','<?php echo $this->Encrypt($frameNumber); ?>','');"><?php echo $translator['VIEW_MANIFEST_IMAGE']; ?></a></div>		
                <?php
                
                
            }
            ?>
            
            <div id="sliderDiv_overlay2" onMouseout="showHideOverlay(1);" onMouseover="showHideOverlay(0);" style="<?php echo $topOverIcon ?>">
            </div>
       

                            <?php
									$imagePathArray = array();
									$imagePathArray['fileName'] = $shipManifestArray[$defaultImageIndex];
									$imagePathArray['dataSource'] = $passengerResult['data_source'];
									$imagePathArray['isThumb'] = '0';
									$centerImagePath = $this->GetManifestPath($imagePathArray);	   
									$largeVal = $centerImagePath; 
									                         
			                                $largeImageExists = false;
			                                if(!empty($shipManifestArray[$defaultImageIndex]))
			                                {

											if ($passengerResult['data_source'] == 1) {
			                                        $largeImageExists = @fopen($largeVal, 'r');
			                                    } 
			                                else if ($passengerResult['data_source'] == 2) {
                                                            $imageFolderArray = explode('_', $shipManifestArray[$defaultImageIndex]);
                                                            $imageFolder = $imageFolderArray[0];
							    $imageRootPath = $uploadFilePath;
							    $imageRootPath = $imageRootPath . 'manifest/'.$imageFolder.'/'.$shipManifestArray[$defaultImageIndex];                                                            
                                                            
			                                        $largeImageExists = file_exists($imageRootPath);
			                                    }    
											}	
																				    
										if($largeImageExists)
										{
											$largeVal = $largeVal;
										} 									    
										else
										{
											$largeVal = $this->layout()->getVariable('imageFilePath'). "/images/no-image.jpg";
										}									                         
									                         
									                         
                            ?>
                            

                                <div id="c-carousel" class="minifestottherSilder">
                                    <div  id="wrapper" class="left">
										
                                        <div class="slider-box cf">
	                                        <div class="left">
											<?php
											if($largeImageExists)
												{
											?>
												<div id="carousel-left" class="carouselLoader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif"></div>
											<?php
												}
											?>
											
											
	                                            <span class="demowrap"><?php if (isset($shipManifestArray[$defaultImageIndex])) { ?>

	                                            <img id="image" src="<?php echo $largeVal?>" data-original="<?php echo $largeVal?>" height="100%" />
	                                            
	                                            <?php } ?>
	                                                <?php
	                                                $centerImageFilename = (isset($shipManifestArray[$defaultImageIndex])) ? $shipManifestArray[$defaultImageIndex] : '';
	
	                                                
	                                                ?>
	                                                <?php if (isset($shipManifestArray[$defaultImageIndex])) { ?><label for='' class="check" id="centerImageName"><?php echo $centerImageFilename ?></label><?php } ?>
	                                            </span>
											</div>
										</div>	    
										<div id="thumbs-wrapper">
											<div id="thumbs">  
										
                        <?php
                        //asd($shipManifestArray);
                        
                        foreach ($shipManifestArray as $key => $val) {
                        
                                            if (strtolower(substr($shipManifestArray[$key], -3, 3)) == 'jpg') {
                                                        $centerImageName = substr($shipManifestArray[$key], -9, 5);
                                                        $sShipImage = $shipManifestArray[$key];
                                                    } else {
                                                        $centerImageName = substr($shipManifestArray[$key], -8, 4);
                                                        $sShipImage = $shipManifestArray[$key];
                                                    }
                                                    if (strtolower(substr($shipManifestArray[$defaultImageIndex], -3, 3)) == 'jpg') {
                                                        $sShipImage = $shipManifestArray[$key];
                                                        //$shipManifestArray[$key] = substr($shipManifestArray[$key], 1);
                                                    }
                                                    
                                                    
									$imagePathArray = array();
									$imagePathArray['fileName'] = $val;
									$imagePathArray['dataSource'] = $passengerResult['data_source'];
									$imagePathArray['isThumb'] = '1';
									$thumbVal = $this->GetManifestPath($imagePathArray);	 
									                       
									$imagePathArray = array();
									$imagePathArray['fileName'] = $val;
									$imagePathArray['dataSource'] = $passengerResult['data_source'];
									$imagePathArray['isThumb'] = '0';
									$largeVal = $this->GetManifestPath($imagePathArray);	
																		                       
									$largeImageExists = false;		                       
									$imageFolderArray = explode('_', $val);
                                    $imageFolder = $imageFolderArray[0];
									$imageRootPath = $uploadFilePath;
									$imageRootPath = $imageRootPath . 'manifest/'.$imageFolder.'/'.$val;
									if ($passengerResult['data_source'] == 1) {
	                                        //$largeImageExists = @fopen($largeVal, 'r');
	                                        $largeImageExists = true;
	                                    } 
	                                else if ($passengerResult['data_source'] == 2) {
	                                        $largeImageExists = file_exists($imageRootPath);
	                                    } 
									
                            if($largeImageExists)
							{
                            ?>
                                                        
	                            <a id="<?php echo $key?>" href="#<?php echo $key?>" onClick=showCenterImage('<?php echo str_replace('\\',"/",$largeVal) ?>');showCenterImageName('<?php echo $shipManifestFilenameArray[$key] ?>','<?php echo $sShipImage ?>');><img data-original="<?php echo $largeVal ?>"/><span><?php
	                                echo $centerImageName;
	                            ?></span></a>
                                                    
                                                    
                            <?php
                            }
                        }
                        ?>
                            </div>
						<a id="prev" href="#"></a>
						<a id="next" href="#"></a>
					</div>
                    <label class=""></label>
                </div>
                </div>
         
        <?php
    } else {
        ?>
        <div class="detail-section white-bg">
            <div  class="no-record-msz"><span><?php echo 'No manifest available!' ?></span></div>
        </div>	
        <?php
    }
}
?>

<script>
		 
		var startIndex = parseInt('<?php echo (isset($defaultImageIndex) && !empty($defaultImageIndex))?$defaultImageIndex:"0" ?>');
		var itemPerSlide = 4;
			$(function() {
				$('#carousel').carouFredSel({
					responsive: true,
					circular: false,
					auto: false,
					items: {
						start:startIndex,
						visible: 1,
						width: 200,
						height: '56%'
					},
					scroll: {
						
						fx: 'directscroll',
						}
				});
			$('#thumbs').carouFredSel({
				direction: 'up',
					circular: false,
					infinite: false,
					height: '85%',
					items: {
					start:startIndex,
                        visible: 4,
                        height: '85%'
                    },
					auto: false,
					prev: '#prev',
					next: '#next',
					scroll: {
						fx: 'directscroll',
						onBefore: function() {
							
						}
					}				
	});			
				

			$('#thumbs a').click(function() {
					$('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
					$('#thumbs a').removeClass('selected');
					var spanIdArray = this.href.split('#').pop().split('_');
					$(this).addClass('selected');
					return false;
				});
				
				var nextStartIndex =startIndex+3;
				var prevStartIndex =startIndex-1;
				var nSIndex =startIndex;
				var pSIndex =startIndex;
				var element = $( "#"+nSIndex ).children();
				element.attr( 'src', element.data( 'original' ));
						
				for(var p=1; p<=10; p++)
					{
						var element = $( "#"+nSIndex ).children();
						element.attr( 'src', element.data( 'original' ));
						nSIndex =nSIndex+1;
					}
                                for(var z=1; z<=10; z++)
                                {
                                    var element = $( "#"+pSIndex ).children();
                                    element.attr( 'src', element.data( 'original' ));
                                    pSIndex =pSIndex-1;
                                }  					
					
				$("#next").click(function (){
					for(var p=1; p<=10; p++)
					{
						var element = $( "#"+nextStartIndex ).children();
						element.attr( 'src', element.data( 'original' ));
						nextStartIndex =nextStartIndex+1;
					}
				});
				
				$("#prev").click(function (){
					var element = $( "#"+prevStartIndex ).children();
					element.attr( 'src', element.data( 'original' ));
					for(var k=1; k<=10; k++)
					{
						var element = $( "#"+prevStartIndex ).children();
						element.attr( 'src', element.data( 'original' ));
						prevStartIndex =prevStartIndex-1;
					}
					nextStartIndex = startIndex;
				});	

			});
//	load the actual image
		
function showCenterImage(imgObj)
{
		$("#image").attr('src', imgObj);
		$("#image").data('original', imgObj);
			
		if($("#carousel-left"))	
			$("#carousel-left").show();
		$("#image").load(function() {
		if($("#carousel-left"))		
			$("#carousel-left").hide();
		$('#image').ImageZoom();
   });
}
   $(function() {
    //$("#sliderDiv_overlay").show();
		$('#'+startIndex).click()
		parent.$("#ajx_loader").hide();		
   });
				
</script>

