<?php
/**
 * This view is used to view crm ship for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var ship_id="' . $ship_id . '";';
$var .=' var ship_name_value="' . $shipname . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';
//$var .=' var shiplineId="'.$shiplineId.'";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $var;
$this->inlineScript()->captureEnd();
//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.ship.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.ship.view.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['SHIP']; ?></h2>

    <div class="accordion-detail  m-t-20">
        <div id="pageAction">
            <ul class="edit-link">
                <li id="tab-4">
                <?php
                if($this->imageCount>0)
                {
                ?>
                <a href="/crm-download-ship-image/<?php echo $id ?>" ><?php echo $translator['DOWNLOAD_SHIP_IMAGE']; ?></a>
                <?php
                }
                else
                {
                    echo "<a>".$translator['NO_IMAGE']."</a>";
                }
                ?>
                
                </li>
                <li><a id="tab-1" href="javascript:void(0);" onClick="viewCrmShipDetails();"><?php echo $translator['DETAILS']; ?></a></li>
                <li><a id="tab-2" href="javascript:void(0);" onClick="editCrmShipDetails();"><?php echo $translator['EDIT']; ?></a></li>
                <li><a id="tab-3" href="javascript:void(0);" onClick="viewChangeLog();"><?php echo $translator['CHANGE_LOG']; ?></a></li>
            </ul>
        </div>
        <div id="shipContent"></div> 


    </div>
</div>