<?php
/**
 * This view is used to view shipline
 * @package    Passenger
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var shipline_id="' .$shipline_id . '";';
$var .=' var encrypted_shipline_id="' . $encrypted_shipline_id . '";';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';


echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/edit.shipline.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['SHIPLINE']; ?></h2>
    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="javascript:void(0);" onclick="getShiplineDetail()" class="active" id="tab-1"><?php echo $translator['DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editShiplineDetails()" id="tab-2"><?php echo $translator['EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-3"><?php echo $translator['CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="shiplineContent"></div>
    </div>
</div>