<?php
/**
 * This view is used to view crm passenger for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var passenger_id="' . $passenger_id . '";';
$var .=' var mode="' . $mode . '";';
$var .=' var moduleName="' . $moduleName . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['PASSENGER']; ?></h2>
    <div class="accordion-detail  m-t-20">
        <ul class="edit-link">
            <li><a id="tab-1" href="javascript:void(0);" onClick="viewCrmPassengerDetails();"><?php echo $translator['DETAILS']; ?></a></li> 
            <li><a id="tab-2" href="javascript:void(0);" onClick="editCrmPassengerDetails();"><?php echo $translator['EDIT']; ?></a></li> 
            <li><a id="tab-3" href="javascript:void(0)" onClick="viewPassengerAnnotations();"><?php echo $translator['ANNOTATIONS_CORRECTION'] . ' (' . $annotationCount . ')'; ?></a></li>
            <li><a id="tab-4" href="javascript:void(0);" onClick="viewChangeLog();"><?php echo $translator['CHANGES_LOG']; ?></a></li>

        </ul>
        <div id="passengerContent"></div> 
    </div>
</div>