<?php
/** This is used for view crm passenger details.
 * @package    Document
 * @author     Icreon Tech -SR.
 */
$translator = $this->jsLangTranslate; 
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['PASSENGER_INFORMATION']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">

        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['PASSENGER_ID']; ?></strong><br>
                <?php echo $searchResult['ID'] ?></div>
            <div class="col6"> <strong><?php echo $translator['BATCH']; ?> #</strong><br>
                <?php echo $searchResult['UDE_BATCH_NUMBER'] ?></div>
            <div class="col6"> <strong><?php echo $translator['MANIFEST_IMAGE']; ?></strong><br>
                <a href="javascript:void(0)" onClick="showPassengerManifestImage('<?php echo $FILENAME ?>','<?php echo $arrival_date ?>','<?php echo $ship_name ?>','<?php echo $passenger_id ?>')" class="link"><?php echo $searchResult['FILENAME'] ?></a></div>
            <div class="col6">
                <?php
                // if (!empty($searchResult['ROLL_NBR']))
                //     echo substr($searchResult['ROLL_NBR'], 0, 4);
                ?>
            </div>
        </div>
        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['SERIES'] . '-' . $translator['ROLL_NUMBER']; ?></strong><br>
                <?php echo $searchResult['ROLL_NBR'] ?></div>
            <div class="col6"> <strong><?php echo $translator['FRAME']; ?></strong><br>
                <?php echo $searchResult['FRAME'] ?></div>
            <div class="col6">  <strong><?php echo $translator['REF_LINE']; ?> #</strong><br>
                <?php echo LTRIM($searchResult['REF_PAGE_LINE_NBR'], '0'); ?></div>
            <div class="col6">  <strong><?php echo $translator['REF_PAGE']; ?> #</strong><br>
                <?php echo $searchResult['REF_PAGE_NBR'] ?></div>
        </div>

        <div class="view-row">
            <div class="col6">  <strong><?php echo $translator['LAST_NAME']; ?></strong><br>
                <?php echo $searchResult['PRIN_LAST_NAME'] ?></div>
            <div class="col6">  <strong><?php echo $translator['FIRST_NAME']; ?></strong><br>
                <?php echo $searchResult['PRIN_FIRST_NAME'] ?></div>
            <div class="col6"><strong><?php echo $translator['PRINT_AGE']; ?></strong><br>
                <?php echo $searchResult['PRIN_AGE_ARRIVAL'] ?></div>
            <div class="col6"> <strong><?php echo $translator['YEAR_OF_BIRTH']; ?></strong><br>
                <?php echo $searchResult['BIRTH_YEAR'] ?></div>
        </div>


        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['MARITAL_STATUS']; ?></strong><br>
                <?php
                if ($searchResult['PRIN_MARITAL_STAT'] == 'S')
                    echo "Single";
                else if ($searchResult['PRIN_MARITAL_STAT'] == 'M')
                    echo "Married";
                else if ($searchResult['PRIN_MARITAL_STAT'] == 'D')
                    echo "Divorced";
                else if ($searchResult['PRIN_MARITAL_STAT'] == 'W')
                    echo "Widowed";
                else if ($searchResult['PRIN_MARITAL_STAT'] == 'U' || empty($searchResult['PRIN_MARITAL_STAT']))
                    echo "Unknown";
                ?></div>
            <div class="col6"><strong><?php echo $translator['NATIONALITY']; ?></strong><br>
                <?php echo $searchResult['PRIN_NATIONALITY'] ?></div>
            <div class="col6"><strong><?php echo $translator['GENDER']; ?></strong><br>

                <?php
                if ($searchResult['PRIN_GENDER_CODE'] == 'M')
                    echo "Male";
                else if ($searchResult['PRIN_GENDER_CODE'] == 'F')
                    echo "Female";
                else if ($searchResult['PRIN_GENDER_CODE'] == 'U' || $searchResult['PRIN_GENDER_CODE'] == '')
                    echo "Unknown";
                ?>
            </div>
            <div class="col6"> <strong><?php echo $translator['AGE_OF_ARRIVAL']; ?></strong><br>
                <?php echo $searchResult['AGE_ARRIVE'] ?> </div>
        </div>

        <div class="view-row">
            <div class="col6"> <strong><?php echo $translator['ETHNICITY']; ?></strong><br>
                <?php echo (isset($passengerEthnicity[0]) && $passengerEthnicity[0] != '') ? $passengerEthnicity[0]['ethnicity'] : 'N/A'; ?></div>
            <div class="col6"><strong><?php echo $translator['DATE_ARRIVAL']; ?></strong><br>
                <?php echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymothdateyear') ?></div>
            <?php
            if(isset($searchResult['data_source']) && !empty($searchResult['data_source'])) {
                if($searchResult['data_source'] == 2) {
            ?>
                <div class="col6"> <strong><?php echo $translator['PLACE_OF_BIRTH']; ?></strong><br>
                <?php echo $searchResult['PLACE_OF_BIRTH'] ?> </div>
	            <?php
	            }
	            else
	            {
	            ?>
	                <div class="col6"> <strong><?php echo $translator['RESIDENCE']; ?></strong><br>
	                <?php echo (isset($searchResult['PRIN_PLACE_RESI']) && !empty($searchResult['PRIN_PLACE_RESI']))?$searchResult['PRIN_PLACE_RESI']:'N/A'; ?> </div>            
	            <?php
	            }
            }
            ?>    
            <div class="col6">  <strong><?php echo $translator['USCITIZEN']; ?></strong><br>
                <?php if (!empty($searchResult['PRIN_CITIZEN_US_IND'])) echo 'Yes'; else echo 'No'; ?></div>
        </div>


        <div class="view-row no-padd">
            <div class="col6"> <strong><?php echo $translator['CREWMEMBER']; ?></strong><br>
                <?php if (!empty($searchResult['PRIN_CREW_SHIP_IND'])) echo 'Yes'; else echo 'No'; ?></div>
            <div class="col6"><br>
                </div>
            <div class="col6"></div>
            <div class="col6"></div>
        </div>

    </div>
</div>
<div class="head no-img"><span><?php echo $translator['ARRIVAL_DEPARTURE_DATA']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">

        <div class="view-row">
            <div class="col6"> <strong><?php echo $translator['SHIP']; ?></strong><br>
                <?php
                if (!empty($ship_id)) {
                    ?>
                    <a class="link" href="/view-crm-ship/<?php echo $ship_id; ?>/<?php echo $mode; ?>"><?php echo $searchResult['SHIP_NAME'] ?></a>
                    <?php
                } else {
                    if(!empty($searchResult['SHIP_NAME']))
                        echo $searchResult['SHIP_NAME'];
                    else
                        echo 'N/A';    
                }
                ?>
            </div>
            <div class="col6"><strong><?php echo $translator['SHIP_NAME_ISS']; ?></strong><br>
                <?php 
                if(!empty($searchResult['SHIP_NAME_ISS']))
                    echo $searchResult['SHIP_NAME_ISS'];
                else    
                    echo 'N/A';    
                 ?></div>
            <div class="col6"> <strong><?php echo $translator['SHIP_ARRIVAL_DATE']; ?></strong><br>
                <?php echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymothdateyear') ?></div>
            <div class="col6"><strong><?php echo $translator['PORT_OF_DEPARTURE']; ?></strong><br>
            <?php echo (isset($searchResult['DEP_PORT_NAME']) && !empty($searchResult['DEP_PORT_NAME']))?$searchResult['DEP_PORT_NAME']:'N/A' ?>
            </div>
        </div>

    </div>
</div>
<?php
$var = '';
$var .=' var ship_id="' . $ship_id . '";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
function showPassengerManifestImage(imageName, arrival_date, ship_name, passenger_id) {
		showAjxLoader();
        $.colorbox({
            width: "1200px",
            height: "900px",
            iframe: true,
            href: "/show-manifest-image/" + imageName +"/"+arrival_date+"/"+ship_name+"/"+passenger_id,
	        onComplete: function() {
			    //    hideAjxLoader();
			}
        });
    }
EOD;

echo $this->inlineScript()->prependScript($script)
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
