<?php
/**
 * This view is used to view crm ship details for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var ship_id="' . $ship_id . '";';
$var .=' var ship_name_value="' . $this->Encrypt($searchResult['NAME']) . '";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['BASIC_SHIP_INFORMATION']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">
        <div class="view-row">
            <div class="col6"><strong>

                    <?php echo $translator['SHIP_ID']; ?></strong><br>
                <?php echo $searchResult['SHIPID']; ?></div>
            <div class="col6"><strong><?php echo $translator['SHIPLINE']; ?></strong><br>
                <?php echo $searchResult['NAME']; ?></div>
            <div class="col6"><strong><?php echo $translator['NAME_WHEN_BUILT']; ?></strong><br>
                <?php echo stripslashes($searchResult['NAMEWHENBUILT']); ?></div>
            <div class="col6"><strong><?php echo $translator['LENGTH']; ?></strong><br>
                <?php echo $searchResult['FEETLONG']; ?></span><span class="m-l-5"><?php echo $translator['FEET']; ?></div>
        </div>

        <div class="view-row no-padd">
            <div class="col6"><strong><?php echo $translator['BEAM']; ?></strong><br>
                <<?php echo $searchResult['BEAM']; ?><span class="m-l-5"><?php echo $translator['FEET']; ?></div>
            <div class="col6"><strong><?php echo $translator['ENGINE_TYPE']; ?></strong><br>
                <?php echo stripslashes($searchResult['engine_type']); ?></div>
            <div class="col6"><strong><?php echo $translator['NUM_SCREWS']; ?></strong><br>
                <?php echo stripslashes($searchResult['screw_type']); ?></div>
            <div class="col6 no-padd"> <strong><?php echo $translator['SHIP_NAME_ISS']; ?></strong><br>
                <?php echo stripslashes($searchResult['SHIPNAME']); ?></div>
        </div>


    </div>
</div>
<div class="head no-img"><span><?php echo $translator['SHIP_BUILD_SCRAP_INFORMATION']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">

        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['BUILD_YEAR']; ?></strong><br>
                <?php echo $searchResult['BUILDYEAR']; ?></div>
            <div class="col6"><strong><?php echo $translator['SCRAPPED_YEAR']; ?></strong><br>
                <?php echo $searchResult['SCRAPPEDYEAR']; ?></div>
            <div class="col6"> <strong><?php echo $translator['SCRAPPED_COUNTRY']; ?></strong><br>
                <?php echo stripslashes($searchResult['SCRAPPEDINCOUNTRY']); ?></div>
            <div class="col6">  <strong><?php echo $translator['BUILD']; ?></strong><br>
                <?php echo stripslashes($searchResult['BUILDER']); ?></div>
        </div>


        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['BUILD_CITY']; ?></strong><br>
                <?php echo stripslashes($searchResult['BUILDCITY']); ?></div>
            <div class="col6"><strong><?php echo $translator['BUILD_COUNTRY']; ?></strong><br>
                <?php echo stripslashes($searchResult['BUILDCOUNTRY']); ?></div>
            <div class="col6"> <strong class="full"><?php echo $translator['SERVICE_SPEED_KNOTS']; ?></strong><br>
                <?php echo $searchResult['SERVICESPEEDKNOTS']; ?></div>
            <div class="col6"><strong><?php echo $translator['SCRAPPED_MONTH']; ?></strong><br>
                <?php
                echo $monthName = date("F", mktime(0, 0, 0, $searchResult['SCRAPPEDMONTH'], 10));
                ?></div>
        </div>


        <div class="view-row no-padd">
            <div class="col6 "><strong><?php echo $translator['SCRAPPED_DAY']; ?></strong><br>
                <?php
                if ($searchResult['SCRAPPEDDAY'] != '' && $searchResult['SCRAPPEDDAY'] != 0) {
                    echo $searchResult['SCRAPPEDDAY'];
                }
                ?></div>
            <div class="col6"><strong><?php echo $translator['IS_IMAGE_EDITED']; ?></strong><br>
                <?php
                if ($isImageEditedFlag == 1)
                    echo 'Yes';
                else
                    echo 'No';
                ?></div>
            <div class="col6"></div>
            <div class="col6"></div>
        </div>


    </div>
</div>
<div class="head no-img"><span><?php echo $translator['TRIP_INFORMATION']; ?></span></div>
<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="triplist"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<?php
//die;
?>