    .search1 input{width:60px;}
    p.chechbox{ margin:10px 0;}
    #show_advance{margin:10px 0; width:100%; text-align:center;}
    #show_advance a{color:#818181;}
    .content{height:auto !important;}
    .check2{margin:5px 0 15px 0;}
    .check2 label{ width:auto; margin-right:20px; min-width:100px; margin:5px 0; display:inline-block; font-weight:normal; text-transform:none;}
    .check3 label{  margin-right:20px; min-width:100px; margin:5px 0;  font-weight:normal; text-transform:none;}
    #searchResult .content{padding:0;}
    .ui-jqgrid .ui-jqgrid-htable { border:0px;}
    .ui-state-default.ui-jqgrid-hdiv{background:#f8f8f8;}
    .ui-state-default.ui-th-column.ui-th-ltr{font-size:11px;}
    #show_advance h3 a{background:url("../img/blue-up-down-arrow.png") right 7px no-repeat; padding-right:22px;}
    #show_advance h3 a.active{background:url("../img/blue-up-down-arrow.png") right -15px no-repeat;}
    .input-bg-none{ text-align:center; cursor: default;}
    .ui-autocomplete{width:312px!important; background:#e9e9e9; border-radius:0px;}
    .ui-autocomplete li a{ font-size:13px!important; border:0px solid #ccc !important;}
    .ui-autocomplete li a:hover{background:#5496ca;}
    /************************************/
    #gview_list .ui-jqgrid-hbox .ui-th-column, #gview_list tr.jqgrow td{font-family: arial;padding: 5px 0px !important; text-align:center}
    .ui-jqgrid .ui-pg-table td, .ui-pg-table{border:0px;}
    .ui-jqgrid .ui-jqgrid-pager .ui-pg-button:hover{background:none;}
    .ui-jqgrid .ui-pg-selbox{height:auto !important; padding:2px !important; width:50px}
    .use-filter{padding: 20px; text-align: center;}
	#ethnicityDiv{width:100%; float:left; overflow:auto; height:250px; margin:10px 0 15px;}
	#ethnicityDiv label{width:148px; float:left;}
	.plus-icon{width:19px; height:19px; float:right; background:url(../images/pas-plus.jpg) no-repeat 0 0px; margin-top:5px;}
	.minus-icon{width:19px; height:19px; float:right; background:url(../images/pas-plus.jpg) no-repeat 0 bottom; margin-top:5px;}