*{margin:0; padding:0;}
.minifestSilder{width:100%; float:left;}
.minifestSilder .semibold{position: absolute;	left: 55%;	top: 15px;	z-index: 12345;		height: 42px; 	float: left;	background: url(../images/mini-plus.png) no-repeat 0 bottom #e04163; padding: 6px 17px 6px 42px;}
html, #c-carousel {height:100%; padding:0;	margin: 0;}
#wrapper { width:100%; margin:0 auto;}
			
			
			
#carousel-wrapper {padding-bottom:10px;	position:relative; width:900px; float:left; margin-bottom:15px; height:540px!important; float:left; overflow:hidden;}
#carousel, #thumbs{overflow: hidden;}
#carousel-wrapper .caroufredsel_wrapper{width:900px!important; height:540px!important; float:left; }
#carousel-wrapper .caroufredsel_wrapper span{width:100%; height:540px!important;}
#carousel-wrapper .caroufredsel_wrapper .lazy{height:100%; width:100%; float:left;}
#carousel span, #carousel img,	#thumbs a, #thumbs img  {display: block; float: left; width:900px!important}
#carousel span, #carousel a, #thumbs span, #thumbs a {position: relative;}
#carousel img.glare, #thumbs img.glare {width: 900px!important; height: auto;}
			
#thumbs-wrapper {padding:30px 0; position: relative; float:right; width:108px; margin:10px 20px 0 0; overflow:hidden}
#thumbs-wrapper .caroufredsel_wrapper{height:558px!important;}
#thumbs a {width:100px!important; height:120px!important; overflow: hidden; border:4px solid #e7e7e7; position:relative; text-decoration:none; margin-bottom:15px;}
#thumbs a img{width:100px!important; height:78%;}
#thumbs a span{position:absolute; left:0; bottom:0; background:#5496c9; font-size:11px; line-height:17px; color:#fff; text-decoration:none; width:100%; text-align:center; padding:5px 0;}
#thumbs a:hover, #thumbs a.selected {border-color: #5496c9;}
#wrapper img#shadow {width: 100%; position: absolute; bottom: 0;}
#prev{ background: url(../images/arrow-top.png) no-repeat center 0; width:100%; height: 14px; position:absolute; left:auto; top:0; right:auto; text-align:center}
#next{background: url(../images/arrow-btm.png)no-repeat center bottom; width:100%; height: 14px; position:absolute; left:auto; bottom:0; right:auto; text-align:center}			
#prev.disabled, #next.disabled {display: none !important;}


.ui-widget-content{width:750px !important}
#sliderDiv_overlay, #sliderDiv {position: absolute;  left:1042px!important; top:30px; width: 110px; height:575px;}
#sliderDiv_overlay3{width:900px; height:605px; text-align:center; background:#ccc; position:absolute; left:20px; top:12px; z-index:123456; background:#1f1f1f; opacity:0.4}
#sliderDiv_overlay3 img{position:absolute; left:49%; top:49%;} 
			
		
#sliderDiv_overlayCrm{width:510px; height:605px; text-align:center; background:#ccc; position:absolute; left:20px; top:12px; z-index:123456; background:#1f1f1f; opacity:0.4}
#sliderDiv_overlayCrm img{position:absolute; left:49%; top:49%;} 
		
			
.elastislide-wrapper{height:485px !important}  
.elastislide-carousel ul li{max-width:110px !important; max-height:140px !important; float:left;}	
#gbox_list, #gview_list, #pcrud, .ui-state-default.ui-jqgrid-hdiv, .ui-jqgrid-bdiv, #list, .ui-jqgrid-htable{width:1163px  !important}
#gview_list .ui-jqgrid-hbox .ui-th-column, #gview_list tr.jqgrow td{font-family: arial;padding: 5px 0px !important; text-align:center}
.ui-jqgrid .ui-pg-table td, .ui-pg-table{border:0px;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button:hover{background:none;}
.ui-jqgrid .ui-pg-selbox{height:auto !important; padding:2px !important; width:50px}
.use-filter{padding: 20px; text-align: center;}
.ui-jqgrid-bdiv{height:420px !important}		
	
#sliderDiv_overlay2{width:528px!important;height:600px!important}	
.carouselLoader{position:absolute!important; left:0!important; top:0!important; background:#ccc; opacity:0.8; width:81.5%; height:640px!important; }	
.carouselLoader img{position:absolute; left:42%; top:45%;}
.slider-box{width:auto!important; float:none;}



.minifestottherSilder{width:98%; float:left; padding:2% 1%!important;}

			
			
label#centerImageName{padding-left:5px!important;}
.manifestBlock-slider #manifestPriceDetail{float:left!important; }


.jcarousel-skin-tango .jcarousel-next-horizontal{background: url(../img/smallSliderR.png)no-repeat 0 0!important;}
.jcarousel-skin-tango .jcarousel-prev-horizontal{background: url(../img/smallSliderL.png)no-repeat 0 0!important;}