/*
common css
==========================================================================*/
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, header, section, footer, aside, nav, article, figure, video, details {
  padding: 0;
  margin: 0;
}

body {
  font: 12px/16px Arial, Helvetica, sans-serif;
  color: #595959;
  height: 100%;
}

body.left-menu-bg {
  /*background:url('../img/left-bg.jpg') repeat-y 0 0;*/
  min-width: 1280px;
}

img, fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

input:focus {
  outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

.acenter {
  text-align: center !important;
}

.aright {
  text-align: right !important;
}

.aleft {
  text-align: left !important;
}

.amiddle {
  vertical-align: middle !important;
}

.font_10px {
  font-size: 10px !important;
}

.font_11px {
  font-size: 11px !important;
}

.font_12px {
  font-size: 12px !important;
}

.font_13px {
  font-size: 13px !important;
}

.font_14px {
  font-size: 14px !important;
}

.font_15px {
  font-size: 15px !important;
}

.font_17px {
  font-size: 17px !important;
}

.font_18px {
  font-size: 18px !important;
}

.font_20px {
  font-size: 20px !important;
}

.font_22px {
  font-size: 22px !important;
}

.font_24px {
  font-size: 24px !important;
}

.normal {
  font-weight: normal !important;
}

.bold {
  font-weight: bold !important;
}

.upr_txt {
  text-transform: uppercase;
}

.no-bdr {
  border: 0 !important;
}

.no-liststyle {
  list-style-type: none;
}

.no-bg {
  background: none !important;
}

.rel-auto {
  position: relative;
  float: left;
}
.rel-auto label.error, .rel-auto span.error {
  left: 20px !important;
}

.relative {
  position: relative;
  float: left;
}

.overflow-hide {
  overflow: hidden;
}

.group-relative {
  position: relative;
  float: left;
}
.group-relative .select2-container {
  margin: 0 !important;
}
.group-relative label.error {
  left: 0px !important;
  top: -36px !important;
}

#byPassengerSearch label.error, #byPassengerSearch span.error, #byTripSearch label.error, #byTripSearch span.error, #bySeriesSearch label.error, #bySeriesSearch span.error {
  left: 0px !important;
  top: -20px;
}

.rel-auto-error {
  position: relative;
  float: left;
}
.rel-auto-error label.error, .rel-auto-error span.error {
  left: 0px !important;
}

/****************************
  Font color
*********************************/
.red {
  color: #f00205 !important;
}

/****************************
  Width
*********************************/
.width100 {
  width: 100% !important;
}

.width92 {
  width: 92% !important;
}

.width90 {
  width: 90% !important;
}

.width95 {
  width: 95% !important;
}

.width85 {
  width: 85% !important;
}

.auto {
  width: auto !important;
}

/*
padding class
==========================================================================*/
.no-padd {
  padding: 0 !important;
}

.no_r_pad {
  padding-right: 0 !important;
}

.no_t_pad {
  padding-top: 0 !important;
}

.no_l_pad {
  padding-left: 0 !important;
}

.no_b_pad {
  padding-bottom: 0 !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-t-55 {
  padding-top: 55px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-t-65 {
  padding-top: 65px;
}

.p-t-70 {
  padding-top: 70px;
}

.p-t-75 {
  padding-top: 75px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-t-85 {
  padding-top: 85px;
}

.p-t-90 {
  padding-top: 90px;
}

.p-t-95 {
  padding-top: 95px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-35 {
  padding-left: 35px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-45 {
  padding-left: 45px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-l-55 {
  padding-left: 55px;
}

.p-l-60 {
  padding-left: 60px;
}

.p-l-65 {
  padding-left: 65px;
}

.p-l-70 {
  padding-left: 70px;
}

.p-l-75 {
  padding-left: 75px;
}

.p-l-80 {
  padding-left: 80px;
}

.p-l-85 {
  padding-left: 85px;
}

.p-l-90 {
  padding-left: 90px;
}

.p-l-95 {
  padding-left: 95px;
}

.p-l-100 {
  padding-left: 100px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-45 {
  padding-right: 45px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-r-55 {
  padding-right: 55px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-r-65 {
  padding-right: 65px;
}

.p-r-70 {
  padding-right: 70px;
}

.p-r-75 {
  padding-right: 75px;
}

.p-r-80 {
  padding-right: 80px;
}

.p-r-85 {
  padding-right: 85px;
}

.p-r-90 {
  padding-right: 90px;
}

.p-r-95 {
  padding-right: 95px;
}

.p-r-100 {
  padding-right: 100px;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px  !important;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.p-b-75 {
  padding-bottom: 75px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-b-85 {
  padding-bottom: 85px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.p-b-95 {
  padding-bottom: 95px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/*
margin class
==========================================================================*/
.no-mar {
  margin: 0 !important;
}

.no_r_mar {
  margin-right: 0 !important;
}

.no_t_mar {
  margin-top: 0 !important;
}

.no_l_mar {
  margin-left: 0 !important;
}

.no_b_mar {
  margin-bottom: 0 !important;
}

.m-10 {
  margin: 10px;
}

.m-t-51 {
  margin-top: -50px;
  padding-bottom: 0px !important;
}

.m-t-41 {
  margin-top: -38px;
  padding-bottom: 0px !important;
}

.m-t-71 {
  margin-top: -70px;
  padding-bottom: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-55 {
  margin-top: 55px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-65 {
  margin-top: 65px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-75 {
  margin-top: 75px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-85 {
  margin-top: 85px;
}

.m-t-90 {
  margin-top: 90px;
}

.m-t-95 {
  margin-top: 95px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-14 {
  margin-top: 14px !important;
}

#reason {
  margin-top: 14px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-r-55 {
  margin-right: 55px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-r-65 {
  margin-right: 65px;
}

.m-r-70 {
  margin-right: 70px;
}

.m-r-75 {
  margin-right: 75px;
}

.m-r-80 {
  margin-right: 80px;
}

.m-r-85 {
  margin-right: 85px;
}

.m-r-90 {
  margin-right: 90px;
}

.m-r-95 {
  margin-right: 95px;
}

.m-r-100 {
  margin-right: 100px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-55 {
  margin-bottom: 55px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-65 {
  margin-bottom: 65px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-b-85 {
  margin-bottom: 85px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.m-b-95 {
  margin-bottom: 95px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-45 {
  margin-left: 45px;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-l-55 {
  margin-left: 55px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-l-65 {
  margin-left: 65px;
}

.m-l-70 {
  margin-left: 70px;
}

.m-l-75 {
  margin-left: 75px;
}

.m-l-80 {
  margin-left: 80px;
}

.m-l-85 {
  margin-left: 85px;
}

.m-l-90 {
  margin-left: 90px;
}

.m-l-95 {
  margin-left: 95px;
}

.m-l-100 {
  margin-left: 100px;
}

.m-l-115 {
  margin-left: 115px;
  margin-top: 3px;
}

.m-l-144 {
  margin-left: 144px;
}

.width-453 {
  width: 453px;
  float: left;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype"), url("../fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.eot");
  src: url("../fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("../fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  CSS for customized radio buttons and check boxes */
/*  wrapper divs */
.custom-checkbox, .custom-radio {
  position: relative;
  float: left;
}

/* input, label positioning */
.custom-checkbox input,
.custom-radio input {
  position: absolute;
  left: 2px;
  top: 3px;
  margin: 0;
  z-index: 0;
}

.custom-checkbox label,
.custom-radio label {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 1.3em;
  padding-right: 1em;
  line-height: 1;
  padding: .3em 0 .5em 30px;
  margin: 0 0 .3em;
  cursor: pointer;
}

/* states */
.custom-checkbox label,
.custom-radio label {
  padding: 4px 0 4px 30px !important;
}

.custom-checkbox label {
  background: url(../img/check.png) no-repeat 0 0;
}

.custom-radio label {
  background: url(../img/radio.png) no-repeat 0 0;
}

.custom-checkbox label, .custom-radio label {
  background-position: 0 0;
}

.custom-checkbox label.checked {
  background-position: 0 -84px !important;
}

/*.custom-checkbox label.hover{background-position: 0 -42px!important;}
.custom-checkbox label.focus{background-position: 0 -84px!important;}*/
.custom-radio label.checked {
  background-position: 0 -84px !important;
}

/*.custom-radio label.hover{background-position: 0 -42px!important;}
.custom-radio label.focus {background-position: 0 -84px!important;}*/
.custom-checkbox label.checked,
.custom-radio label.checked {
  background-position: 0 0;
}

.custom-checkbox label.checkedHover,
.custom-checkbox label.checkedFocus {
  /*background-position: 0 bottom;*/
}

.custom-checkbox label.focus,
.custom-radio label.focus {
  outline: 1px dotted #ccc;
}

/****************************
  Error message
*********************************/
.col1, .row, .col2, .col12, .col3, .col4, col5, col6, col7 {
  position: relative;
}

label.error, span.error {
  white-space: nowrap;
  padding: 5px 10px 14px 11px !important;
  background: url(/img/error-bg.png) no-repeat 0 0px;
  color: #fff !important;
  font-size: 12px !important;
  font-family: 'open_sansregular';
  text-transform: uppercase;
  width: auto  !important;
  position: absolute;
  top: -30px;
  left: 144px;
  z-index: 999;
}

label.error span.redarrow, span.error span.redarrow {
  width: 11px;
  height: 8px;
  background: none;
  float: left;
  position: absolute;
  bottom: -8px;
  left: 10px;
}

.success-msg {
  color: #24292E;
  float: left;
  font-family: 'open_sansregular';
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  padding: 4px 0 2px 25px;
  background: url(/img/sprite.png) no-repeat left -684px;
  margin-top: 10px;
}

.error-msg {
  color: red;
  float: left;
  font-family: 'open_sansregular';
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  padding: 4px 0 2px 0px;
}

.error-msg-left label.error, .error-msg-left span.error {
  left: 0px !important;
  top: -12px !important;
}

.error-label-large label.error, .error-label-large span.error {
  left: 190px !important;
}

.file-upload-msg label.error {
  left: 0px !important;
  top: -38px !important;
}

.add-group label.error, .add-group span.error {
  left: 43%;
}
.add-group span.redarrow {
  left: 200px !important;
}

#radio-width .custom-radio label {
  width: auto;
}

hr {
  width: 100%;
  line-height: 1px;
  float: left;
  height: 1px;
  font-size: 1px;
  margin-bottom: 10inpx;
  border: 0;
  margin: 10px 0;
  background: #5496ca;
}

.plus-left .plus {
  float: left !important;
}

.payment-label-large label.error, .payment-label-large span.error {
  left: 168px !important;
  top: -26px;
}

.select2-container.select-150 {
  width: 150px !important;
  float: left;
  margin-right: 5px;
}

span.error-small {
  white-space: nowrap;
  padding: 5px 10px 14px 11px !important;
  background: url(/img/error-bg-2.png) no-repeat 0 bottom;
  color: #fff !important;
  font-size: 12px !important;
  font-family: 'open_sansregular';
  text-transform: uppercase;
  width: auto  !important;
  position: absolute;
  top: -49px;
  left: 0px;
  z-index: 999;
  width: 100px !important;
}

#error-meaasage .error {
  position: static;
  float: left;
  color: red !important;
  padding: 2px 0 2px 25px !important;
  background: url(/img/sprite.png) no-repeat 0 -739px;
}

.two-line-error label.error {
  background: url("/img/error-bg-2.png") no-repeat scroll 0 bottom rgba(0, 0, 0, 0);
  color: #FFFFFF !important;
  font-family: 'open_sansregular';
  font-size: 12px !important;
  padding: 5px 10px 14px 11px !important;
  position: absolute;
  text-transform: uppercase;
  top: -49px;
  white-space: nowrap;
  width: 290px !important;
  z-index: 999;
  white-space: pre-wrap;
}

.no-cursor {
  cursor: text !important;
}
