/* It's easier to calculate widths 
 * with border-box layout */
.customfile-container * {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font: normal 14px Arial, sans-serif; /* Global font to use ems with precision */
}

.customfile-container {
  width: auto;
  float:left;
}

.customfile-container label:first-child {
  width: 100px;
  display: block;
  margin-bottom: .5em;
  font: bold 18px Arial, sans-serif;
  color: #333;
}

.customfile-wrap {
  position: relative;
  padding: 0;
  margin-bottom: .5em;
}

.customfile-filename,
.customfile-upload { 
  margin: 0;
  padding: 0;
}

.customfile-filename {
  width: 320px;
  float:left;
  height:34px;
  padding:8px 7px;
  border:0px;
  font-size:13px;
  line-height:15px; 
  color:#373232;
  font-family:$open_sansregular;
   }


.customfile-upload {
  border:0px;
  float:left;
  width: auto;
  color: #fff;
  background: #5496ca;
  cursor:pointer;
  margin-left:10px;
  padding:8px 20px 9px;
    font-family:$open_sansregular;
	text-transform:uppercase;

  }

.customfile-upload:hover {
  background: #2d6c9e;
}
.customfile-upload::-moz-focus-inner { /* Fix firefox padding */
  padding: 0; border: 0 
}
