.file-fof { 
    width:100% !important; 
    height:100% !important; 
    position: relative !important; 
    text-align: right !important; 
    -moz-opacity:0 !important; 
    filter:alpha(opacity: 0) !important; 
    opacity: 0 !important; 
    z-index: 2 !important;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
  }
  
.photoupload-fof {
    background-image:url('/images/photoupload.jpg'); 
    height: 490px;
    width: 100%;
}
 


 
 #UploadUserFofImageIframe {
     height: 100%; 
     width: 100%; 
     overflow: hidden;
 }
 
 .black {
      height: 100%;
 }
 #cboxContent{border:0px!important;}
 
 html,body {background: none transparent !important; }
.black { opacity: 0.83; }