
#fofVerticalScroll ul li {opacity: 1.0 !important; height: 40px; }
.flage-of-faces{width:1185px !important; float:left; height:950px !important; margin-left:15px!important;}
.flage-of-faces  ul{width:37px; float:left; list-style:none; margin: 0px; padding: 0px; height:482px; overflow:visible !important;}
.flage-of-faces  ul li{width:72px; height:72px; position:relative; float:left; padding:0px; border:1px solid #000;}
.elastislide-carousel{height:960px!important;}



.flage-of-faces  ul li.gray span{background:url('../images/gray.png')!important; position:absolute; left:0; top:0;  height:72px; width:72px; z-index:1;}
.flage-of-faces  ul li.red span{background:url('../images/red.png')!important; position:absolute; left:0; top:0;  height:72px; width:72px; z-index:1;}
.flage-of-faces  ul li.blue span{background:url('../images/blue-bg.png')!important; position:absolute; left:0; top:0;  height:72px; width:72px; z-index:1; }
.flage-of-faces  ul li li{overflow:hidden;}


.img-border{ border: 2px solid yellow;} 
.carousel-wrap { height: 420px !important; }
#fofVerticalScroll{float:right; margin-right:30px; width:90px;}
#fofVerticalScroll .carousel-wrap{width:100%; float:left;}
#fofVerticalScroll .carousel-wrap ul{width:100%; float:left; text-align:center; list-style:none; margin:0px; }
#fofVerticalScroll .previous{background:url('../images/ff-top-arrow.png') no-repeat 28px 0px; font-size:0px; width:75px; height:15px; border:0px; cursor:pointer;}
#fofVerticalScroll .previous.disabled{opacity: 0.3 !important;}
#fofVerticalScroll .next{background:url('../images/ff-btm-arrow.png') no-repeat 28px 0px; font-size:0px; width:75px; height:15px; border:0px; cursor:pointer;}
#fofVerticalScroll .next.disabled{opacity: 0.3 !important;}
div.hoverscroll div.arrow.left, div.hoverscroll div.fixed-arrow.left{background:url('../images/sliderskin-l-arrow.png') no-repeat 0 225px!important; left:0px; cursor:pointer;}
div.hoverscroll div.arrow.right, div.hoverscroll div.fixed-arrow.right{background:url('../images/sliderskin-r-arrow.png') no-repeat right 225px!important; right:0px; cursor:pointer;}
.flage-of-faces .ui-widget-content{border:0px;}

ul.single-img {
    list-style: none outside none;
    margin: 22px -1px -1px;
}

.carousel-wrap ul { width: 100% !important; }

.flage-of-faces { float: left; height: 498px; width: 700px; clear:both; }
.flage-of-faces ul { float: left; height: 950px; list-style: none outside none; margin: 0; padding: 0; width: 62px; }	
.flage-of-faces-div{ float: left; height: 518px; list-style: none outside none; margin: 0; padding: 0; width: 62px; }
.elastislide-horizontal ul{max-height: 941px !important; float:left; width:200px; }
.elastislide-horizontal ul li{float:left; width:200px !important;}
.elastislide-carousel ul li a img{float:none; border:0px!important; width:100%; height:100%; }
ul#carousel{width: 100%; float: left;}
ul#carousel li a img, 
.flage-of-faces ul li a,
.flage-of-faces ul li, 
#carousel ul li.blue span, 
#carousel li.gray span,#carousel li.white span,#carousel li.red span{ }
ul#carousel li{width:72px!important; height:72!important; float:left; text-align:center; line-height:65px!important}

.li1 { max-height: 72px !important; max-width: 72px !important;  }
.ul1 { width: 100% !important;  }
.li2 {max-height: 71px !important; max-width: 71px !important;  }

ul#carousel { width:3000px !important; }

#carousel ul li.blue span, #carousel li.gray span , #carousel li.red span { background: url(../images/blue-bg.png) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

#carousel li.gray span { background: url(../images/gray.png) repeat 0 0 !important; }
#carousel li.white span { background: url(../images/white.png) repeat 0 0 !important; }
#carousel li.red span { background: url(../images/red.png) repeat 0 0 !important; }
#search_name { width:500px !important; }

.flage-of-faces  ul li li:hover{border:1px solid #fff!important;}
ul#carousel li li.white{border:1px solid #fff!important;}
ul#carousel li li img{
	/*filter: url('/js/grayscale/filters.svg#grayscale'); /* Firefox 3.5+ */
	/*filter: gray; /* IE6-9 */
	/*-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
	   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);
}

.fof-popup-wrapper{width:1212px; margin:0 auto; }
.fof-popup-top-head{width:100%; float:left; background:#3b4d5b;}

.fof-Search label.error{font-style:italic!important; position:absolute; left:0; bottom:-23px;}
.fof-Search .matches-text{bottom:-23px; color:#b8b4b4;  font-size:15px; font-style:italic;  left:0; margin:0; padding:0; position:absolute; text-shadow: none;}
.fof-popup{width:1212px; margin:0 auto; }

.fof-Search{padding:25px 0px 4px 0px; float:left; width:100%;}
.fof-Search h1{color:white; float:left; font-family: "Oswald","Impact",sans-serif; font-size:45px; line-height:47px; margin:0; padding:0; text-shadow:0 0 2px #969696; text-transform: uppercase;}
.fof-Search #search_fof{float:right; position: relative; width:815px; margin-top:-10px;}
.fof-Search #search_fof span{font-size:14px; float:left; width:100%; color:#fff; font-style:italic;}
.fof-Search #search_name{border:0px!important;float:left; font-style:italic!important; width:652px!important; line-height:22px; height:22px; font-size:18px; background:#101111; font-weight:normal; color:#6b7b7a; padding:20px 20px 18px;}
.fof-Search #submitsearch{height:60px; width:117px; text-align:center; font-size:18px; font-variant:normal; float:right; border:0!important; line-height:18px; padding:20px 0px; display:block!important;}
.elastislide-horizontal{padding:0px; background: none;}

ul#carousel li li.red:hover span,ul#carousel li li.blue:hover span, ul#carousel li li.gray:hover span, ul#carousel li li.white:hover span{background:transparent !important;}
ul#carousel li li{position: relative;}
ul#carousel li li .fof-tooltip{ 
	background:url(../images/fof-tooltip-bg.png) repeat-x 0 0; color: #FFFFFF;
    float: left;
    font-size: 13px;
    left: 30px;
    line-height: 14px;
    padding: 7px 9px 30px;
    top: -34px;
    position: absolute;
	display: none;
	z-index: 99999
}
ul#carousel li li:hover .fof-tooltip{display: block;}
ul#carousel li li:hover .fof-tooltip span{ height: 10px !important; position: absolute; top: 30px; left: 0px; background: url(../images/fof-arrow.png) no-repeat 0 0 !important; float:left; width: 15px; height: 10px;}
ul#carousel li li:hover .fof-tooltip span:hover{border: 0px}
.elastislide-horizontal nav span{left: -29px !important}


#lbNumber{display: none !important;}
.elastislide-horizontal nav span.elastislide-next{left: 1190px  !important; z-index:12345;}
 
.searchTopRow{width:100%; float:left; margin:20px 0 25px;}

.fof-name-right-section{float:right; width:340px;}
.fof-name-right-section .save-box{float:left; width:280px; position:relative}
.fof-name-right-section .save-box .save{ width:214px; float:left; cursor:default; height:27px; background:#424242; font-size:18px; color:#fff; font-weight:200; border:0px; transition: background-color 0.9s ease; cursor:pointer;}
.fof-name-right-section .save-box .save:hover{background:#2871a9;}
.fof-name-right-section .save-box .savebtn{width:44px; height:43px; background:url("../images/passenger-search/psr-save-search.png") no-repeat center center #5496C9; border:0; transition: background-color 0.9s ease; cursor:pointer;}
.fof-name-right-section .save-box .savebtn:hover{background:url("../images/passenger-search/psr-save-search.png") no-repeat center center #2871a9;}
.fof-name-right-section .save-box label.error{position:absolute; left:0; bottom:-23px; font-size:14px!important;}
.fof-name-right-section .scroll-pane{width:268px!important;}
.fof-Search .margin-top-2{width:100%; float:left; margin-bottom:15px; font-size:16px;}

.elastislide-wrapper nav{border:0!important;} 
.fof-Search .question{background: url("../images/passenger-search/question-icon.png") no-repeat 0 8px; color:white;  float:left; font-family:"Source Sans Pro","Helvetica","Arial",sans-serif; font-size:18px; padding: 5px 0;}
.fof-Search .question a{color:white; float:left; padding-left:25px;}
.fof-Search .question a:hover{text-decoration:underline;}
.fof-Search .top-left{float:left; width:300px; margin-top:-10px;}
.fof-Search .top-left h5{color:white; float:left; font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;  font-size:18px; font-weight:400; letter-spacing:2px; margin:0; padding:0; text-shadow:0 0 2px #969696; width:100%;}
