

ul.jqtree-tree,
ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree ul.jqtree_common {
    display: block;
    margin-left: 12px;
    margin-right: 0;
}
ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
    display: none;
}

ul.jqtree-tree li.jqtree_common {
    clear: both;
    list-style-type: none;
}
ul.jqtree-tree .jqtree-toggler {
    display: block;
    position: absolute;
    left: -1.5em;
    top: 30%;
    *top: 0;  /* fix for ie7 */
    font-size: 12px;
    line-height: 12px;
    font-family: arial;  /* fix for ie9 */
    border-bottom: none;
    color: #333;
}

ul.jqtree-tree .jqtree-toggler:hover {
    color: #000;
}

ul.jqtree-tree .jqtree-element {
    cursor: pointer;
}

ul.jqtree-tree .jqtree-title {
    color: #1C4257;
    vertical-align: middle;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
    margin-left: 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    background-image: url(jqtree-circle.png);
    background-repeat: no-repeat;
    height: 8px;
    width: 8px;
    position: absolute;
    top: -4px;
    left: 2px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #bdbdbe;
    height: 2px;
    padding: 0;
    position: absolute;
    top: -1px;
    left: 10px;
    width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    height:30px !important;
    border: dotted 2px #999;
    margin: 0;
    float: left;
}

ul.jqtree-tree .jqtree-element {
    width: 99%; /* todo: why is this in here? */
    *width: auto; /* ie7 fix; issue 41 */
    position: relative;
    float:left;
    padding:.5%;
    border-bottom: 1px solid #CFCFCF;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
 background:#E4E5E6;
}

ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
    outline: dashed 1px #bdbdbe;
}


#tree1{width:99%; padding-left: 1%; float:left; font-size:14px; line-height: 17px; font-family:$open_sansregular; color:$scorpion-text;}
#tree1 a.edit, #tree1 a.delete_category{width:16px; height: 16px; background:url('../img/sprite.png') no-repeat -209px -187px; margin-left:0px; float:left; padding: 0; font-size:0px; line-height:0px;}
#tree1 a.delete_category{background:url('../img/sprite.png') no-repeat -247px -187px; margin-left:10px;}
#tree1 #menu{margin-right:40px!important;}

/*
#tree1 ul{width:100%; float:left;}
#tree1 ul li{width:100%; float:left; background:#dde0e3; border-bottom:1px solid #f5f4f4; cursor:pointer; font-size:15px; line-height: 17px; font-family:$open_sansregular;}
#tree1 ul li span{float:left; padding:12px 0 12px 20px;}
#tree1 ul li ul{width:100%; float:left; border-top:1px solid #f5f4f4;}
#tree1 ul li a{text-decoration: none; color:$scorpion-text;  padding:12px 0 12px 20px; float: left;}

#tree1 ul li ul li{width:100%; float:left; background:#e9eaeb; border-bottom:1px solid #f5f4f4; cursor:pointer; color:$scorpion-text; font-size:14px; line-height:16px; font-family:$open_sansregular; }
#tree1 ul li ul li a{text-decoration: none; color:$scorpion-text; font-size:14px; line-height:16px; font-family:$open_sansregular; padding:12px 0 12px 68px; float: left;}
/*
#tree1 ul li ul li li{width:100%; float:left; border-top:1px solid #f5f4f4;}
#tree1 ul li ul li li{width:100%; float:left; background:#f5f4f4; border-bottom:1px solid #f5f4f4;  cursor:pointer; color:$scorpion-text; font-size:14px; line-height:16px; font-family:$open_sansregular;}
#tree1 ul li ul li li span{text-decoration: none;  padding:12px 0 12px 97px; float: left; background:url('../img/sprite.png') no-repeat 78px -987px;}*/
