*{margin:0; padding:0;}
.minifestSilder{width:100%; float:left;}
.minifestSilder .semibold{position: absolute;	left: 52.40%;	top:33px;	z-index: 12345;		height: 42px; 	float: left;	background: url(../images/mini-plus.png) no-repeat 0 bottom #e04163; padding: 6px 17px 6px 42px;}
html, #c-carousel {height:100%; padding:0;	margin: 0;}
#wrapper { width:100%; margin:0 auto;}
			
			
			
#carousel-wrapper {padding-bottom:10px;	position:relative; width:900px; float:left; margin-top:75px; margin-left:20px;  margin-bottom:15px; height:540px!important; float:left; overflow:hidden;}
#carousel, #thumbs{overflow: hidden;}
#carousel-wrapper .caroufredsel_wrapper{border:1px solid #ccc; width:900px!important; height:540px!important; float:left; }
#carousel-wrapper .caroufredsel_wrapper span{width:100%; height:540px!important;}
#carousel-wrapper .caroufredsel_wrapper .lazy{height:100%; width:100%; float:left;}
#carousel span, #carousel img,	#thumbs a, #thumbs img  {display: block; float: left; width:900px!important}
#carousel span, #carousel a, #thumbs span, #thumbs a {position: relative;}
#carousel img.glare, #thumbs img.glare {width: 900px!important; height: auto;}
			
#thumbs-wrapper {padding:30px 0; position: relative; float:right; width:112px; margin:10px 20px 0 0; overflow:hidden}
#thumbs-wrapper .caroufredsel_wrapper{height:558px!important;}
#thumbs a {width:100px!important; height:120px!important; overflow: hidden; border:6px solid #e7e7e7; position:relative; text-decoration:none; margin-bottom:10px;}
#thumbs a img{width:100px!important; height:78%;}
#thumbs a span{position:absolute; left:0; bottom:0; background:#5496c9; font-size:13px; line-height:17px; color:#fff; text-decoration:none; width:100%; text-align:center; padding:5px 0;}

#thumbs a:hover{border-color:yellow;}
#thumbs a:hover span{background:yellow; color:#000;}

#thumbs a.selected {border-color:#e04163;}
#thumbs a.selected span{background:#e04163;}
/*#thumbs a.selected:hover span{color:#fff;}*/

#thumbs a.selected-other{border-color:yellow;}
#thumbs a.selected-other span{background:yellow; color:#000;}

#thumbs a.default {border-color:#2c4543;}
#thumbs a.default span{background:#2c4543;}


#wrapper img#shadow {width: 100%; position: absolute; bottom: 0;}
#prev{ background: url(../images/arrow-blue-top.jpg) no-repeat center 0; width:100%; height: 16px; position:absolute; left:auto; top:0; right:auto; text-align:center}
#next{background: url(../images/arrow-blue-btm.jpg)no-repeat center bottom; width:100%; height: 16px; position:absolute; left:auto; bottom:0; right:auto; text-align:center}			
#prev.disabled, #next.disabled {display: none !important;}


.ui-widget-content{width:750px !important}
#sliderDiv_overlay, #sliderDiv {position: absolute;  left:1042px!important; top:30px; width: 110px; height:575px;}
#sliderDiv_overlay3{width:900px; height:605px; text-align:center; background:#ccc; position:absolute; left:20px; top:66px!important; z-index:123456; background:#1f1f1f; opacity:0.4}
#sliderDiv_overlay3 img{position:absolute; left:49%; top:49%;} 
			
			
	.elastislide-wrapper{height:485px !important}  
    .elastislide-carousel ul li{max-width:110px !important; max-height:140px !important; float:left;}	
    #gbox_list, #gview_list, #pcrud, .ui-state-default.ui-jqgrid-hdiv, .ui-jqgrid-bdiv, #list, .ui-jqgrid-htable{width:1163px  !important}

    #gview_list .ui-jqgrid-hbox .ui-th-column, #gview_list tr.jqgrow td{font-family: arial;padding: 5px 0px !important; text-align:center}
    .ui-jqgrid .ui-pg-table td, .ui-pg-table{border:0px;}
    .ui-jqgrid .ui-jqgrid-pager .ui-pg-button:hover{background:none;}
    .ui-jqgrid .ui-pg-selbox{height:auto !important; padding:2px !important; width:50px}
    .use-filter{padding: 20px; text-align: center;}
    .ui-jqgrid-bdiv{height:420px !important}			
			