nav {
	border-top: 1px solid #e0e0e0 !important;
}

nav ul ul {
/*	position:absolute;
	width:auto;
	border:none;
	display:none;
	z-index:9;
	-webkit-transform:translate3d(0, 0, 1);
	margin:0px;
	width:227px;
	background:url(../images/drop-arrow.png) no-repeat 0 0;
	padding-top:9px;
	margin-top:-9px;*/

	
}
nav > ul {
	display: block;
	margin: auto;
	padding: 0;
	width: 1212px;
	position:relative;
	font-size:0;
	text-align:center;
}
nav ul li {
	position:relative;
	display: inline-block;
	text-align:center;
	padding: 0;
	padding: 0;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	
}
nav ul li a.active{color:#1f1f1f;}
nav ul li a:hover{background:none;}

nav ul li li:hover {
	background:#2e7ebc
}
nav ul li:hover > a {
	color:#5496c9;
}
nav ul li a {
	padding: 17px 35px;
	color: #454545;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	cursor:default;
}



nav ul li a:hover small, nav ul li:hover > a small{float:left; height:2px; width:100%; background:#fff; position:absolute; left:0; bottom:-1px; z-index:12; float:left;}
nav ul li:nth-child(9) a:hover small{background:none;}

nav ul li:hover .drop-down{display:block;}
nav ul li div.drop-down .full{width:100%; float:left;  background:url(../images/menu-border.jpg) no-repeat center bottom; margin-bottom:5px; padding-bottom:5px;}
nav ul li div.drop-down .full:last-child{background:none;}
nav ul li div.drop-down{background:#fff; border:1px solid #e0e0e0; position:absolute; left:-1px; top:0px; padding:15px 0 10px; text-align:left; display:none;}
nav ul li div.drop-down .col-left{width:300px; float:left; padding-left:20px; }
nav ul li div.drop-down .head{width:100%; float:left; font-size:14px; color:#5496c9; text-transform:uppercase; font-weight:500; }
nav ul li div.drop-down .head a{color:#5496c9; cursor:pointer; float:left; padding:0; font-size:14px!important;}
nav ul li div.drop-down ul{width:100%; float:left; margin:0; padding:0; list-style:none;}
nav ul li div.drop-down ul li{width:50%; float:left; color:#767676; margin:8px 0; padding:0!important; text-align:left; border:0!important}
nav ul li div.drop-down ul li a{text-decoration:none; color:#767676; float:left; padding:0!important; text-transform:capitalize!important; font-size:14px!important; line-height:15px!important; cursor:pointer;}
nav ul li div.drop-down ul li a:hover{text-decoration:none; color:#000000; background:none!important}
nav ul li div.drop-down ul li:hover{background:none!important;}
nav ul ul{position:relative; margin:0; padding:0;}

nav ul li:last-child{border:0px; }
nav ul li:last-child .drop-down{right:0px!important; left:auto; position:absolute;}
nav ul li:last-child a{cursor:pointer;}
nav ul li:last-child:hover small{background:none;}

