.passenger-inner-bg .small-wrapper{width:1035px;}
.passenger-inner-bg .small-wrapper .inner-section .passenger-filter,
.passenger-inner-bg .small-wrapper .inner-section .narrow-search-box{width:100%}
.passenger-inner-bg .small-wrapper .inner-section .narrow-search-box .inner-detail{padding: 40px 0 0 50px; width: 100%; box-sizing: border-box; margin:0px;}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container{width: 985px;}
.passenger-inner-bg .small-wrapper .inner-section #step_2,
.passenger-inner-bg .small-wrapper .inner-section #step_3{margin-top:20px}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .step-three input[type="text"], 
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .step-three select,
.passenger-inner-bg .small-wrapper .inner-section .passenger-search input[type="text"], 
.passenger-inner-bg .small-wrapper .inner-section .passenger-search select{ height:auto; background:#fff; color:#000; margin-right:15px; line-height:18px; padding:10px !important; font-size:14px;}
.passenger-inner-bg .small-wrapper .inner-section .passenger-search input[type="text"]{width:215px}
.passenger-inner-bg .small-wrapper .inner-section .passenger-search select{padding:9px 10px;}
.passenger-inner-bg .small-wrapper label{color:#fff; display:inline}
.passenger-inner-bg .small-wrapper .inner-section .passenger-search{background:transparent; height:auto; width:950px; margin-top:30px;}

.passenger-inner-bg .small-wrapper .inner-section .narrow-container .container-content:first-child{padding-left:0px;}
ul.filter{ float:left; width:100%; list-style-image: none; margin-left: 44px; }
ul.filter li{ float:left; width:34%;}
h3.heading-filter{color: white; font-family: "Source Sans Pro","Helvetica","Arial",sans-serif; font-size: 24px; font-weight: 400;  margin-left: 44px; margin-top: 50px; float:left; width:100%}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .container-content{width:296px; border-right:0px; height:140px;}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .container-content .content-filter-nav li{width:100%; margin-bottom:17px;}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .container-content .content-filter-nav-extra li{margin-top:15px; margin-right:0px; width:130px;}

.scroll-pane.ethni-scroll{margin-top:30px;}

.passenger-inner-bg .small-wrapper .inner-section .top-section .question{margin-left:355px;}
.search-row{ float:left; margin-bottom:35px; margin-top:10px;}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .step-two{width:490px}
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .step-two .range-slider-box { width: 330px !important; }
.passenger-inner-bg .small-wrapper .inner-section .narrow-container .step-three .ethnicity span{ float:left; margin-top:6px}
.passenger-inner-bg .small-wrapper .inner-section .passenger-search label.error{ left: 255px; top: -25px;}
.step-three .search-row #submitbutton,
.passenger-inner-bg .small-wrapper .inner-section .passenger-search #submitbutton{ background:#5496c9 url(../images/passenger-search/arrow.png) no-repeat 78px 10px; float: left; font-size: 12px; padding: 10px 10px 8px !important;  width: 110px; font-size:15px; text-align:left }
.passenger-inner-bg .small-wrapper .inner-section .passenger-search #submitbutton:hover{background-position:78px 10px;}
.passenger-inner-bg .small-wrapper .inner-section .passenger-search .clear-search{ margin:9px 0 0 15px }