#lbOverlay { opacity: 0.8 !important; z-index: 2147483612 !important;  }
#lbCenter { z-index: 2147483647 !important; opacity: 1 !important; }
.fancybox-wrap,.fancybox-desktop,.fancybox-type-image,.fancybox-opened { z-index: 2147483647 !important; opacity: 1 !important; }
.fancybox-overlay { opacity: 1 !important; z-index: 2147483612 !important;  }