*{margin:0; padding:0;}
html{font-size: 100%; overflow-y: scroll;}
body, html, p, h1, h2, h3, h4, h5, h6, ul, ol, li, form, iframe, fieldset, dl, dt, dd, pre, figure { margin:0; padding:0;}
body{font-size:25px; background:url(../pos-img/main-bg.jpg) no-repeat center 0 #b4b4b4; background-size: 100%; font-family:'source_sans_proregular'; font-weight:normal;}
body.signup{background:#dae5e7;}
::-moz-selection {background: #6fb4ff; color: #fff; text-shadow: none; }
::selection {background: #6fb4ff; color: #fff; text-shadow: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
a {color: #005abb; text-decoration:none; cursor:pointer;}
a:visited { color: #551a8b; }
a:hover { color: #005abb; text-decoration:none; }
a:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus { outline: none!important; outline-color:#5e8ee8;}
a:hover, a:active { outline: 0; text-decoration:none; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline;}
.oldie button, .oldie input, .oldie select { vertical-align:middle;}
.oldie button { overflow: visible; }
button, input { line-height: normal; }
.oldie table button, .oldie table input { overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0;}
.oldie input[type="checkbox"], .oldie input[type="radio"] { vertical-align:top;width: 13px; height: 13px;}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea:focus, input:focus{outline:0;}
img{border:none;}
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
table { border-collapse: collapse; border-spacing: 0; }
tbody, th, tbody th, td { border:0; padding:0;}
ul, ol { margin:0 0 10px; padding: 0 0 0 40px; }
li { margin:0 0 5px;}
dl { margin:0 0 15px;}
p { margin-bottom:15px; line-height:18px;}


::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; }


/* Custom CSS End */

.fleft{float:left;}
.fright{float:right!important;}
.textcenter{text-align:center !important;}
.textleft{text-align:left !important;}
.textright{text-align:right !important;}
.no_mrg{margin:0!important;}
.no_padd{padding:0!important;}
.no_bg{background:none!important;}
.no_bdr{border:none!important;}
.cursor{cursor:pointer;}
.mar-btm-10{margin-bottom:10px;}
/* Use class="ir" for image replacement */
.ir{display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br{ display: none; }

.hidden{display: none !important; visibility: hidden;}
.none{display:none;}
.block{display:block;}

.clearfix:before, .clearfix:after{content: "\0020"; display: block; height:0; overflow:hidden;}
.clearfix:after{clear: both;}
.clearfix{zoom:1;}

a:hover{-webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out;	-o-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}

/* header section */
.wrapper{width:1110px!important; margin:0 auto; position:relative;}

.header{width:100%; float:left; height:75px; background:#494848; -moz-box-shadow: 1px 1px 3px #333; -webkit-box-shadow: 1px 1px 3px #333; box-shadow: 1px 1px 3px #333; position:relative; z-index:1234567;}
.header .top-detail{width:100%; float:left; background:#5496c9; font-size:17px; font-weight:600; color:#ffffff; text-transform:uppercase; padding:9px 0; text-align:center; line-height:18px;}
.header .top-detail a{color:#fff;}
.header .logo{width:427px; height:45px; float:left; margin:14px 0 0 20px;}
.header .start-over{float:right; margin:26px 58px 0 0; width:225px; text-align:center;}
.header .start-over span{width:100%; float:left; font-size:16px; line-height:20px; color:#bfbfbf; font-family:'oswaldbold', sans-serif; font-weight:normal;}
.header .start-over strong{width:100%; float:left; font-size:24px; line-height:28px; color:#dddddd; font-family: 'oswaldbold', sans-serif;}
.header .start-over a{color:#fff;}
.header .start-over a:hover{color:#5496c9;}
.header a.help-icon{width:53px; height:53px; background:url(../pos-img/help.png) no-repeat 0 0; position:absolute; right:5px; top:12px;}

/* footer section */
.footer{width:100%; float:left;  /*background:#2f2f2f; bottom:0; left:0; position:fixed;*/}
.footer .btm-strip{width:100%; float:left; height:38px;}
.footer .btm-strip p{float:left; font-size:16px; line-height:18px; color:#5496c9; padding-top:11px; margin:0; }
.footer .btm-strip p.mar-left{margin-left:40px;}
.footer .btm-strip p a{text-decoration:underline; color:#5496c9; text-transform:capitalize;}
.footer .btm-strip p a:hover{text-decoration:none; color:#5496c9;}
.footer .btm-strip p.fright{float:right;}


.menu-selection{width:100%; float:left; margin-top:25px; margin-bottom:200px;}
.menu-selection h1{width:100%; float:left; text-align:center; font-size:64px; line-height:63px; color:#5496c9; font-weight:900; text-transform:uppercase; font-family:'oswaldbold';}
.menu-selection h1 small{font-size:44px; line-height:46px;}
.menu-selection h3{width:100%; float:left; text-align:center; font-size:32px; line-height:36px; color:#494848; font-weight:300; margin:25px 0 45px;  font-family:'source_sans_prolight';}
.menu-selection ul{width:100%; float:left; list-style:none; margin:0; padding:0; text-align:center;}
.menu-selection ul li{text-align:center; float:none; display:inline-block; padding:0 15px; margin:0;}
.menu-selection ul li.passenger a{float:none; display:inline-block; width:445px; height:420px; background:url(../pos-img/passenger-icon.jpg) no-repeat 0 0; color:#fff; -moz-box-shadow: -1px -1px 5px #333; -webkit-box-shadow: -1px -1px 5px #333;  box-shadow: -1px -1px 5px #333;}
.menu-selection ul li.commerate a{float:none; display:inline-block;  width:445px; height:420px; background:url(../pos-img/commerate-icon.jpg) no-repeat 0 0; color:#fff; -moz-box-shadow: -1px -1px 5px #333; -webkit-box-shadow: -1px -1px 5px #333;  box-shadow: -1px -1px 5px #333}
.menu-selection ul li.passenger a:hover,.menu-selection ul li.commerate a:hover{color:#bfbfbf;}
.menu-selection ul li strong{display:inline-block; padding:244px 0 22px; font-size:43px; line-height:40px; font-weight:400;}
.menu-selection ul li span{display:inline-block; font-size:30px; line-height:37px; font-weight:400;}



.menu-selection ul li.passenger-search a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/passenger-search.jpg) no-repeat 0 0; margin-bottom:25px;}
.menu-selection ul li.wall-of-honor a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/wall-search.jpg) no-repeat 0 0; margin-bottom:25px;}


.menu-selection ul li.wall a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/wall-of-honor.jpg) no-repeat 0 0; margin-bottom:25px;}
.menu-selection ul li.make a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/make-a-donation.jpg) no-repeat 0 0; margin-bottom:25px;}
.menu-selection ul li.special a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/special-promotions.jpg) no-repeat 0 0; margin-bottom:25px;}
.menu-selection ul li.ellis a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/ellis-island-map.jpg) no-repeat 0 0; margin-bottom:25px; }

.menu-selection ul li.search-img a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/search-name-on-wall.jpg) no-repeat 0 0; margin-bottom:25px;}
.menu-selection ul li.add-img a{width:455px; height:364px; display:inline-block; background:url(../kiosk-front-img/add-name-on-wall.jpg) no-repeat 0 0; margin-bottom:25px;}







.purchase-section{width:100%; float:left; min-height:880px;}
.purchase-section ul.tab{width:100%; float:left; list-style:none; margin:0; padding:0; text-align:center;}
.purchase-section ul.tab li{font-size:24px; float:none; display:inline-block; color:#6f6f6f; text-transform:uppercase; font-weight:600; display:inline-block; color:#6f6f6f; padding:24px 40px 0; margin:0;}
.purchase-section ul.tab li a{color:#6f6f6f;}
.purchase-section ul.tab li:hover{color:#5496c9; }
.purchase-section ul.tab li.active{background:url(../pos-img/tab-arrow.png) no-repeat center top; color:#5496c9;}
.purchase-section .detail-section{float:left; width:100%; margin-top:15px; padding-bottom:45px;}
.purchase-section .detail-section h2{width:100%; float:left; text-align:center; font-size:64px; line-height:68px; color:#5496c9; margin-top:10px; font-weight:bold; text-transform:uppercase; font-family: 'oswaldbold';}
.purchase-section .detail-section h2.red{color:#e04163; font-size:60px; line-height:60px;}
.purchase-section .detail-section h2 .error-img{width:100%; float:left; text-align:center;}
.purchase-section .detail-section h3{width:100%; float:left; text-align:center; font-size:32px; line-height:36px; color:#494848; font-weight:600; margin:10px 0 0px; word-wrap: break-word; white-space: normal;}
.purchase-section .detail-section h3.mar-top{margin:0 0 25px;}
.purchase-section .detail-section .session{width:100%; float:left; text-align:center; font-size:32px; line-height:36px; color:#494848; font-weight:300; margin:0px 0 20px; font-family: 'source_sans_prolight';}
.purchase-section .detail-section .session.no-mar{margin:0;}
.purchase-section .detail-section .session span{padding:0 5px;}
.purchase-section .detail-section h4{width:100%; float:left; text-align:center; font-size:32px; line-height:36px; color:#4f4f4f; font-weight:600; margin:25px 0 0px;}
.purchase-section .click-link{width:100%; font-size:24px; line-height:26px; text-align:center; float:left; font-weight:400px; font-style:italic}
.purchase-section .click-link a{color:#e04163; text-decoration:underline;}
.purchase-section .click-link a:hover{text-decoration:none;}
.purchase-section .click-link.small{float:left; width:100%; font-size:21px; line-height:24px; color:red; font-style:normal; margin-top:5px;}
.purchase-section .note{text-align:center; float:left; width:100%; font-size:32px; line-height:36px; font-weight:400; color:#484848;}
.purchase-section .note strong{font-weight:900; font-style:italic;}
.purchase-section .detail-section p{font-size:20px; line-height:25px; margin-bottom:20px; color:#484848;}
.purchase-section ul.list{float:left; list-style:none; margin:40px 0% 0 11%; padding:0;  box-sizing: border-box;}
.purchase-section ul.list li{width:51%; float:left; margin:0; font-size:32px; line-height:34px; color:#4f4f4f; text-transform:uppercase;}
.purchase-section ul.list li strong{color:#4f4f4f; font-weight:800; width:260px; float:left; font-family: 'source_sans_probold';}
.purchase-section ul.list li.width40{width:39%;}
.purchase-section h5{float:left; font-size:20px; color:#494848; margin: 0px 0 20px 65px; font-weight:400; font-style:italic;}

.purchase-section .center-text{width:100%; float:left; font-size:24px; line-height:28px; font-weight:600; color:#494848; padding-bottom:8px; text-align:center;}
.purchase-section .center-text.mar-top-btm{margin:35px 0 30px;}
.purchase-section .center-text.blue{color:#5496c9;}
.purchase-section .center-text-large{width:100%; float:left; font-size:28px; line-height:30px; font-weight:600; color:#494848; padding-bottom:25px; text-align:center;}
.purchase-section .center-text.m-t-b{margin:10px 0 0;}

.donation-text{width:100%; float:left; font-size:45px; line-height:50px; font-weight:600; color:#494848; margin-top:45px; text-align:center; text-transform:uppercase; font-family: 'source_sans_probold';}
.donation-text.no-mar{margin:0;}
.donation-text.mar-btm{margin-bottom:65px; margin-top:5px; font-size:32px; line-height:36px;}
.donation-text.thanku{font-size:54px; color:#494848; font-weight:800; margin-bottom:40px;}

.paying-text{width:100%; float:left; font-size:24px; line-height:28px; font-weight:300; color:#494848; padding-top:25px; text-align:center;} 

.form-section{width:980px; margin:0 auto;}
.form-section .row{width:100%; float:left; margin-bottom:30px;}
.form-section .row.center{text-align:center;}
.form-section .row.center span{font-size:30px; padding-right:5px; font-weight:300;}
.form-section .row.center .error{ margin: 0 auto;  text-align: left; width: 430px;}
.form-section .row.m-b-12{margin-bottom:5px;}
.form-section input[type="text"]{width:100%; float:left; border:1px solid #999; background:#fff; box-sizing: border-box; height:64px;  font-size:32px; line-height:36px; color:#000; padding:10px 25px; font-weight:300; font-family: 'source_sans_prolight_italic';}
.form-section input[type="text"].small{width:49%;}
.form-section input[type="text"].text-capitalize{text-transform:capitalize;}
.form-section input[type="text"].billing{display:inline-block; float:none; width:430px; text-align:left;}
.form-section select{width:100%; float:left; border:1px solid #999; background:#fff; box-sizing: border-box; height:64px;  font-size:32px; line-height:38px; color:#818181; font-style:italic; padding:8px 25px; font-weight:300; font-family: 'source_sans_prolight';}
.form-section select.small{width:49%;}
.form-section input[type="text"].error, .form-section select.error{margin:0; border:1px solid red;}

.form-section .col-left{width:49%; float:left;}
.form-section .col-right{width:49%; float:right;}

.error-msg, .error{display:block; color:red; font-size:18px; line-height:22px; margin-top:5px; display:block;}

.error-icon{float:left; font-size:32px; color:#e04163; background:url(../pos-img/error-icon.png) no-repeat 0 0; padding-left:75px; text-transform:uppercase; font-weight:600; line-height:34px; margin:40px 0 0 210px; box-sizing: border-box;}
.error-icon a{color:#e04163;}
.error-icon.top{margin:0px 0 15px 210px;  padding:10px 0 18px 75px;}

.error-icon-noimg{float:left; font-size:32px; color:#e04163; text-transform:uppercase; font-weight:600; line-height:34px; margin:30px 0 20px; box-sizing: border-box; text-align:center; width:100%}


.swap-card-img{width:100%; float:left; text-align:center; margin:15px 0; padding:0; position:relative;}
.swap-card-img img{border:5px solid #5496c9;}
.swap-card-img .click{width:100%; float:left; text-align:center; position:absolute; left:0; top:45%; font-size:40px; font-weight:700; color:#5496c9; text-shadow: 1px 1px 1px #fff; }

.no-mar{margin:0!important;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-t-25{margin-top:25px;}
.m-t-30{margin-top:30px;}
.m-t-35{margin-top:35px;}
.m-t-45{margin-top:45px;}
.m-t-65{margin-top:65px;}
.m-t-60{margin-top:60px;}
.m-b-40{margin-bottom:40px!important;}
.gonextbtn{width:100%; float:left; text-align:center;}
.gonextbtn .gray-btn{width:255px; height:64px; border:3px solid #fff; display:inline-block; text-align:center; box-sizing: border-box; background:#b6b6b6; font-size:32px;  margin:0 13px; color:#fff; font-family: 'source_sans_prolight'; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out;	-o-transition:all 0.2s ease-out; transition:all 0.2s ease-out; font-weight:300;}
.gonextbtn .gray-btn:hover{ background:#9b9a9a;}
.gonextbtn .blue-btn{width:255px; height:64px; border:3px solid #fff; display:inline-block; text-align:center; box-sizing: border-box; background:#5496c9; font-size:32px; font-weight:300; margin:0 13px; color:#fff; font-family: 'source_sans_prolight'; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out;	-o-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
.gonextbtn .blue-btn:hover{background:#3a75a2;}
.gonextbtn .blue-btn.large{width:410px;}
.gonextbtn .blue-btn.large-450{width:450px;}

.gonextbtn .search-label{width:auto; border:3px solid #bdb06c; display:inline-block; text-align:center; box-sizing: border-box; background:#fff; font-size:50px; line-height:52px; font-weight:800; color:#bdb06c; font-family:'source_sans_problack'; padding:18px 34px 20px;}
.gonextbtn .search-label.not-assigned{border:2px solid #bdb06c; font-weight:normal; font-size:40px; padding:12px 25px 15px;}

.gonextbtn .accept-text{width:auto; border:2px solid #bdb06c; display:inline-block; text-align:center; box-sizing: border-box; background:#fff; font-size:30px; line-height:36px; font-weight:600; color:#bdb06c; font-family:'source_sans_probold'; padding:10px 25px;}

.outer-click-tab{width:100%; float:left; text-align:center; margin:35px 0;}
.click-tab{width:auto; background:#fff; display:inline-block; border:1px solid #979797; -webkit-border-radius:140px; -moz-border-radius:140px; border-radius:140px; font-size:22px; line-height:26px; font-weight:600; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out;	-o-transition:all 0.2s ease-out; transition:all 0.2s ease-out;}
.click-tab a{color:#a7a7a7; display:inline-block; padding:22px 50px;  -webkit-border-radius:140px; -moz-border-radius:140px; border-radius:140px;}
.click-tab a.active{background:#5496c9; color:#fff;}

.payment-form{width:550px; margin:0 auto;}
.payment-form .row{width:100%; float:left; margin-bottom:20px; }
.payment-form input[type="button"]{float:left; background:#5496c9; color:#fff; border:2px solid #fff; padding:7px 20px; font-size:25px; margin-right:10px; font-family: 'source_sans_prolight'; min-width:150px;}
.payment-form input[type="button"].gray{background:#b6b6b6;}
.payment-form input[type="button"].active{background:#3a75a2;}
.payment-form .annual-text{float:left; font-size:23px; margin-top:8px; color:#494848; width:200px;}
.main-loader {
  width: 100%;
  float: left;
  height: 100%;
  background: black;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 123456;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
.main-loader img {
  position: absolute;
  left: 49%;
  top: 49%;
}
.no-mar{margin:0!important;}
.donate-button{width:100%; float:left; margin:30px 0;}
.donate-button .btn-box{width:190px; float:left; margin-right:40px; margin-top:36px;}
.donate-button .btn-box.m-t-0{margin-top:0;}
.donate-button .btn-box.last{margin-right:0;}
.donate-button input[type="button"]{color:#fff;  font-size:42px; font-family: 'source_sans_prolight'; background:none; border:none; outline:none;}
.donate-button input[type="button"].gray{background:#b6b6b6;}
.donate-button input[type="button"].active{background:#3a75a2;}
.donate-button input[type="button"].italic{font-style:italic; padding-right:10px; }
.donate-button .outer-btn{float:left; background:#5496c9; box-sizing: border-box; color:#fff; border:3px solid #fff; font-size:42px; font-weight:300; font-family: 'source_sans_prolight'; width:190px; height:109px; text-align:center; padding-top:23px;}
.donate-button .outer-btn.active .italic{background:red; font-family: 'source_sans_probold';}

.donate-button .outer-btn.gray{background:#b6b6b6;}
.donate-button .outer-btn.active{background:red; font-weight:bold; font-family: 'source_sans_probold';}
.donate-button .outer-btn.active .save-btn{font-weight:bold; font-family: 'source_sans_probold';}


.donate-button .annual{float:left; background:#2f6e9e;  box-sizing: border-box; color:#fff; border:3px solid #fff; text-transform:uppercase; border-bottom:0; font-size:18px; text-align:center; font-weight:300; font-family: 'source_sans_prolight'; width:190px; height:37px; padding-top:5px;}
.donate-button .see{float:left; background:#2f6e9e;  box-sizing: border-box; color:#fff; border:3px solid #fff; text-transform:uppercase; border-top:0; font-size:23px; text-align:center; font-weight:300; font-family: 'source_sans_prolight'; width:190px; height:55px; padding-top:9px; text-decoration:underline; color:#fff; cursor:pointer;}
.donate-button .see:hover{text-decoration:none;}

.bullet-center{width:953px; margin:0 auto; font-size:22px; color:#484848;}
.bullet-center ul{width:100%; float:left; list-style:none; margin:0; padding:0;}
.bullet-center ul li{width:50%; float:left;  box-sizing:border-box; font-size:20px; color:#484848; background:url(../pos-img/bullet.png) no-repeat 0 10px; padding-left:2%; padding-right:5%; margin:0;}
.bullet-center .center-text{width:100%; float:left; margin:0px 0 7px 0; font-size:22px; line-height:22px; font-weight:600; padding:0; }

/**select 2**/
.kiosk-select{float:left; width:100%;}
.kiosk-select span{background:none!important; font-size:32px!important; padding:13px 0 0 20px!important; color:#000!important; font-weight:200; font-family: 'source_sans_prolight_italic';}
.kiosk-select .select2-container, .kiosk-select .select2-choice{display: block; height:64px; position:relative; white-space:nowrap; line-height:40px;  color:#000!important;  text-decoration:none; background:url(../pos-img/k-select-l.jpg) no-repeat 0 0;}
.kiosk-select .select2-arrow {display:inline-block; width:77px!important; height:64px!important; padding:0!important; position:absolute; right:0; top:0; background:url(../pos-img/k-select-r.jpg) no-repeat right 0!important;}
.kiosk-select .select2-container{width:100%;}
.kiosk-select .select2-results .select2-result-label{font-size:14px;}
ul.select2-results{margin:0; padding:0;}
.select2-drop{border:1px solid #818181!important;}

.text-capitalize{text-transform:capitalize;}

.ship-method-radio{}

.inner-header{width:100%; float:left; background:#fff; box-sizing: border-box; margin-top:20px; padding:20px;}
.inner-header h1{font-size:28px; line-height:32px; color:#5496c9; font-family: 'oswaldbold'; text-align:center; text-transform:uppercase; font-weight:400;}
.content-layout-outer{width:100%; float:left; background:#fff; box-sizing: border-box;}
.content-layout-outer p{  font-family: 'source_sans_prolight';
  font-size: 18px;
  font-weight: 200;
  color: #1f1f1f;
  line-height: 26px;
  text-align: left;}
.content-layout-outer p strong{  font-weight: 500;
  color: #5496c9;}
  
 .content-layout-left h3 {
    color: #909090;
    float: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 10px;
    width: 100%;
}
.content-layout-left h4 {
    color: #5496c9;
    float: left;
    font-size: 32px;
    font-weight:500;
    line-height: 36px;
    margin: 0 0 5px;
    width: 100%;
}
.faq-arrow {
  width: 50px;
  height: 50px;
  background: url(../images/passenger-search/arrow.png) center center no-repeat;
  background-color: #5496c9;
  cursor: pointer;
  float: left;
  margin: 0px;
  padding: 0px;
}

.faq-search-box{width:100%; float:left;}
.faq-search-box label{width:100%; float:left; color:#1f1f1f; font-size:22px; font-weight:400; margin-bottom:5px;}



/*select2-custom scroll*/
.nicescroll-rails{z-index:123456789!important}
.nicescroll-rails > div{width:45px!important; border:0!important;  border-radius:0!important; background:#999!important; display:none}



/*===============starts content layout=====================*/
.content-layout-left table{width:100%!important; border:0px!important}
.content-layout-left table th, .content-layout-left table td{border:0; padding:0; margin:0; border:0px!important}
.content-layout-left table td img{max-width:90%;}
.content-layout-left table tr{padding:5px 40px; float:left; width:100%; box-sizing:border-box;}
.content-layout-left table tr:last-child{margin-bottom:15px;}
.content-layout-left table tr tr{padding:0px!important;}
.content-layout-left table td{font-size:18px; line-height:28px; color:#575b5d; font-weight:200;} 
.content-layout-left .top-head{width:100%; float:left; position:relative; background:#5496C9;}
.content-layout-left .top-head .content-section{width:706px; float:left; padding:200px 20px 25px; text-align:center; position:absolute; left:0; top:0;}
.content-layout-left .top-head .content-section.no-img{padding-top:30px; position:inherit;}
.content-layout-left .top-head strong{font-size:37px; color:#fff; font-weight:400;}
.content-layout-left .top-head span{font-weight:200;}
.content-layout-left .top-head p{font-size:22px; line-height:26px; color:#fff; margin:10px 0 0;}
.content-layout-left .inner-section{width:742px; float:left; padding:34px 42px 20px;} 
.content-layout-left .img-box{width:340px; height:243px; float:left; position:relative; margin:0 53px 25px 0}
.content-layout-left .img-box.right{float:right; margin:0 0 25px 0px;}
.content-layout-left .img-box .text{position:absolute; left:0; bottom:0; background:url(../images/content-img-bg.png) repeat 0 0; font-size:16px; font-style:italic; color:#dedede; width:303px; padding:20px 20px 20px 17px;}
.content-layout-left h4{font-size:32px; line-height:36px; color:#5496c9; font-weight:200; margin:0 0 20px 0; width:100%; float:left;}
.content-layout-left h3{font-size:24px; line-height:30px; color:#909090; font-weight:400; margin:0px 0 10px; width:100%; float:left;}
.content-layout-left p{font-size:18px; line-height:28px; color:#575b5d; font-weight:200; margin:0 0 20px 0;}
.content-layout-left p strong{ color:#5496c9;}
.content-layout-left p em{font-weight:600; font-style:italic; color:#575b5d;}
.content-layout-left em{font-size:18px; line-height:28px; color:#575b5d; font-weight:200; font-style:italic}


h4.print-receipt{font-size:31px!important; color:red!important; font-weight:700!important; margin-top:10px;}
span.print-receipt{font-size:31px!important; color:red!important; font-weight:700!important;}

.benifit-content{width:100%; float:left;}
.benifit-content h5{font-size:20px; line-height:25px; margin:0 0 20px 0; color:#484848; font-style:normal; }
.benifit-content p{width:100%; float:left;}
.benifit-content p small{width:59%; float:left; margin-left:25%; font-size:20px;}
.benifit-content p small:first-child{margin-top:20px;}
.benifit-content .center-text.mar-top-btm{margin:20px 0 20!important;}

.benifit-content .background{background:#f1f1f1; padding:10px;}
.benifit-content .main-height{display:none;}
.benifit-content h5.single-line br{display:none;}

.creditcard-error{margin-top:10px; float:left; width:100%; color:#e04163; font-size:22px;}

.redirect-text{width:100%; float:left; text-align:center; font-size:25px; line-height:28px; color:red; font-weight:600; margin:25px 0 0px;}
