*{margin:0; padding:0;}
html{font-size: 100%; overflow-y: scroll;}
body, html, p, h1, h2, h3, h4, h5, h6, ul, ol, li, form, iframe, fieldset, dl, dt, dd, pre, figure { margin:0; padding:0;}

body.signup{background:#dae5e7;}
::-moz-selection {background: #6fb4ff; color: #fff; text-shadow: none; }
::selection {background: #6fb4ff; color: #fff; text-shadow: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
a {color: #005abb; text-decoration:none; cursor:pointer;}
a:visited { color: #551a8b; }
a:hover { color: #005abb; text-decoration:none; }
a:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus { outline: none!important; outline-color:#5e8ee8;}
a:hover, a:active { outline: 0; text-decoration:none; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline;}
.oldie button, .oldie input, .oldie select { vertical-align:middle;}
.oldie button { overflow: visible; }
button, input { line-height: normal; }
.oldie table button, .oldie table input { overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0;}
.oldie input[type="checkbox"], .oldie input[type="radio"] { vertical-align:top;width: 13px; height: 13px;}
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea:focus, input:focus{outline:0;}
img{border:none;}
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
table { border-collapse: collapse; border-spacing: 0; }
tbody, th, tbody th, td { border:0; padding:0;}

/* Custom CSS End */
