.scroll-pane
			{
				width: 100%;
				height: 570px;
				overflow: auto;
				outline:none;
			}
.scroll-pane.alert-scroll{width:510px; height:240px; float:left;}
.scroll-pane.drop-down{width:250px; height:186px; float:left;}
.scroll-pane.featured-scroll{width:264px; max-height:186px!important; float:left;}
.scroll-pane.featured-record{width:380px; max-height:250px!important; float:left;}
.scroll-pane.shipsearch{width:330px; max-height:200px!important; float:left;}
.scroll-pane.heritage-scroll{width:450px; height:280px; float:left;}
.scroll-pane.oral-history{width:765px; height:300px; float:left;}
.scroll-pane.message-scroll{width:320px; max-height:275px; float:left;}
.scroll-pane.ethni-scroll{width:100%; max-height:55px; float:left;}
.scroll-pane.ethni-scroll-popup{width:1170px!important; max-height:254px; float:left;}

.scroll-pane.search-woh-scroll{height:266px; float:left; overflow-x:hidden!important;}
.scroll-pane.search-woh-scroll .jspVerticalBar{right:5px;}
.scroll-pane.search-woh-scroll .jspVerticalBar .jspDrag{background:#5496c9;}
.scroll-pane.search-woh-scroll .jspHorizontalBar{display:none!important;}

.scroll-pane.help-scroll-page{width:1050px!important; height:746px!important; float:left;}
.scroll-pane.help-scroll-page1{width:1150px!important; height:690px!important; float:left;}
.scroll-pane.help-scroll-page2{width:1150px!important; height:690px!important; float:left;}

.scroll-pane.cart-scroll{width:1200px!important; height:640px; float:left;}

.scroll-pane.cart-order-summary{width:1210px!important; height:660px; float:left;}
.scroll-pane.cart-order-summary1{width:1210px!important; height:645px; float:left;}
.scroll-pane.cart-order-summary2{width:1210px!important; height:550px; float:left;}
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width:15px;
	height: 100%;
	
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	
	position: relative;
}

.jspDrag
{
	background: #5496c9;
	position: relative;
	top: 0;
	right: 0;
	width:15px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 6px;
}

.jspHorizontalBar .jspArrow
{
	width: 6px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
			