
.inner-popup-detail {
  padding: 20px;
}
.inner-popup-detail .red {
  color: red;
}
.inner-popup-detail textarea {
  width: 93%;
}
/*
.inner-popup-detail h1 {
	 margin:0;
 padding:0;
}
.inner-popup-detail p {
	 margin:0;
 padding:0;

}*/
.inner-popup-detail .flag-section {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.inner-popup-detail .flag-section .detail-section {
  float: left;
  padding-left: 25px;
  font-size: 20px;
  width: 500px;
}
.inner-popup-detail .flag-section .detail-section .row {
  width: 100%;
  float: left;
  padding-bottom: 15px;
  font-size: 17px;
}
.inner-popup-detail .flag-section .detail-section .row label {
  width: 200px;
  float: left;
  font-size: 17px;
}
.inner-popup-detail .trans-input {
  width: 60px;
}