html { overflow:auto !important; }
body { overflow:auto !important; background: none !important; width: 100%; height: 100%; }   
.photo-caption-section #planetmap .tagged .tagged_title{ opacity: 0 !important; }
.photo-caption-section #planetmap .tagged:hover .tagged_title{ opacity: 1 !important; }
#cboxLoadedContent{ overflow:hidden!important}
.photo-caption-section { float:left; text-align: center; width: 550px !important; height: 550px !important; } 