.lof-slidecontent, .lof-slidecontent a {color:#FFF;	}
.lof-slidecontent a.readmore{color:#58B1EA; font-size:95%;}
.lof-slidecontent{ position:relative; overflow:hidden; width:960px; float:left; height:468px; margin:0 0 0 50px;}
.lof-slidecontent .preload{	height:100%; width:100%; position:absolute;	top:0;	left:0;	z-index:100000;	text-align:center; background:#FFF}
.lof-slidecontent .preload div{	height:100%; width:100%; background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%;}
.lof-main-outer{ position:relative;	overflow:hidden; background:#f0f0f0; /*min-height:468px !important;*/ height:350px; width:600px; margin:25px auto;}

/*******************************************************/
.lof-main-item-desc{ z-index:100px;  position:absolute;	bottom:50px; left:0px; width:350px;	background:url(../img/bg_trans.png);	height:100px;/* filter:0.7(opacity:60) */padding:10px;}
.lof-main-item-desc p{ margin:0 8px; padding:8px 0}
.lof-main-item-desc h3{	padding:0; margin:0}
.lof-main-item-desc h2{	padding:0; margin:15px 0 0 0px;}
.lof-main-item-desc h3 a{ margin:0; background:#C01F25;	font-size:75%; padding:2px 3px;	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif; text-transform:uppercase; text-decoration:none}
.lof-main-item-desc h3 a:hover{	text-decoration:underline;}
.lof-main-item-desc h3 i { font-size:70%;}

/* main flash */
ul.lof-main-wapper{	overflow:hidden; background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%; margin:0;	position:absolute; overflow:hidden;}
ul.lof-main-wapper li {overflow:hidden; padding:0px; margin:0px; position:relative; width:600px; height:350px; line-height:350px; float:left }
 ul.lof-main-wapper li a{display:table-cell; height:350px; line-height:350px; text-align:center; vertical-align:middle; width:600px}
ul.lof-main-wapper li .content_row{	width:430px; float:left;}
.img_cont{ width:160px; float:left; margin-right:20px;}
.img_cont img{ border:2px #c4c4c4 solid;}
.candidate_description{ width:230px; float:left;}
.candidate_description h3{ font-family:'MyriadPro-Regular'; font-size:24px; line-height:26px; color:#fc7501; font-weight:normal; padding-bottom:5px;}
.candidate_description p{ font-family:'MyriadPro-Regular'; font-size:14px; line-height:18px; color:#27282a; font-weight:normal; padding-bottom:10px;}
.lof-opacity  li{ position:absolute; top:0; left:0;	float:inherit;}
ul.lof-main-wapper li img{ padding:0px; max-width:600px; max-height:350px; text-align:center;  vertical-align:middle}
/* item navigator */
.lof-navigator-wapper { width:941px;float:left;	position:relative; overflow:hidden;	padding:8px 10px 8px 10px; background:#ccc;}
.lof-navigator-outer{ position:relative; z-index:100; height:96px!important;	width:941px !important; overflow:hidden; color:#FFF; float:left;}
ul.lof-navigator{ top:0; padding:0;	margin:0; position:absolute; width:100%;}
ul.lof-navigator li{cursor:hand;  cursor:pointer; list-style:none; padding:0; margin-left:0px; overflow:hidden;float:left; position:relative; text-align:center; background:#fff; margin-right:10px; width:126px !important}
ul.lof-navigator li a{ display:table-cell; width:126px !important; line-height:96px; height:96px; text-align:center; vertical-align:middle;text-align:center; }
ul.lof-navigator li a.delete_image{float:left;height:18px; background: url("../img/sprite.png") no-repeat scroll -247px -187px; position: absolute; right: 3px;
top: 5px; width: 18px !important;}
ul.lof-navigator li a img{text-align:center; vertical-align:middle}
ul.lof-navigator li span.img-wrap{ display:block;}
ul.lof-navigator li span.name{ display:block; font-family:'MyriadPro-Regular'; font-size:14px; color:#333333; bottom:0; left:0; padding-top:7px; text-align:center;}
ul.lof-navigator li img{ background:#fff; padding:2px;}
ul.lof-navigator li.active span.img-wrap img, ul.lof-navigator li:hover span.img-wrap img {background:#d30026; padding:2px;-moz-box-shadow: 0px 0px 2px #d30026;-webkit-box-shadow: 0px 0px 2px #d30026;box-shadow: 0px 0px 2px #d30026;
}
ul.lof-navigator li.active span.name, ul.lof-navigator li:hover span.name {color:#fc7501;}
.lof-navigator-wapper .lof-next,  .lof-navigator-wapper .lof-previous{ display:block; width:22px; height:30px; color:#FFF; cursor:pointer;}
.lof-navigator-wapper .lof-next { float:left; text-indent:-999px; background:url(../img/arrow-left.jpg) 0 0 no-repeat; width:11px; height:20px; right:0; top:50px; position:absolute; z-index:999;}
.lof-navigator-wapper .lof-previous { float:left; text-indent:-999px; background:url(../img/arrow-right.jpg) 0 0 no-repeat; width:11px; height:20px; left:0; top:50px; position:absolute; z-index:999;}


.wrapper{width:960px; margin:0 auto; position:relative;}


.left_arrow, .right_arrow{width:57px; float:left; height:101px; position:absolute; left:0px; top:135px;cursor:pointer;  background:url(../img/slider-arrow.png) 0 0 no-repeat;}
.right_arrow{ left:inherit; right:0px; background:url(../img/slider-arrow.png) right 0 no-repeat; cursor:pointer}


.cms-gallery a.delete_image{ font-family: 'open_sansregular'; font-size:14px; line-height:17px; color:#fff; width:100%; float:left; text-decoration:none;}
.cms-gallery a.delete_image:hover{text-decoration:underline;}
.cms-gallery .lof-navigator-wapper{}