/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 99999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../images/loadingligtbox.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
	display:none !important
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/prevlabel.gif) no-repeat 0 15%; display:none;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
.fof-light-caption{float: left;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 10px;
    width: 100%;
	color: #000
	}
	
.fof-light-name{align-self: center !important;
    line-height: 27px;
    text-align: left !important;
	color: #000
	}
