      #mapper{
                border:2px solid #EEE;
                width:100px;
                height:100px;
                min-width:10px;
                min-height:10px;
                z-index:1000;
                position:absolute;
               /* top:50%;
				left:50%;
				margin:-50px 0 0 -91px;*/
                display:none;
            }

            #planetmap div{

                display:block;
                position:absolute;
            }




            #main_panel{
                margin: auto;
                padding: 10px;
                width: 1000px;
            }
            #url_panel{

            }
            
            
/*            #form_panel{
                float: left;
                background:#eee;
                border:5px solid #FFF;
                outline:1px solid #eee;
                left: 100px;
                padding: 5px;
                position: absolute;
                top: 40px;
                width: 310px;
                display:none;
                z-index:2000;
            }*/

#form_panel {
background:#fff;
    border: 5px solid #FFFFFF;
    float: left;
    left: -22px;
    padding: 1px;
    position: relative;
    top: 82px;
    z-index: 2000;
}
#form_panel .arrow{background:url(/../images/white-arrow.png) no-repeat 0 0; float:left;  width:12px; height:9px; position:absolute; top:-13px; left:45px;}
     

#showTagsId { color: #BBBBBB !important; font-size:16px; }
#showTagsId a{text-decoration:none; font-weight:600; text-transform:none !important}
#showTagsId a:hover{text-decoration:underline}

#addTagsId { color: #BBBBBB !important; font-size:16px; }
#addTagsId a{text-decoration:none; font-weight:600; text-transform:none !important}
#addTagsId a:hover{text-decoration:underline}           
            

            #form_panel input,textarea{
                padding:3px;
                background:#FFF;
                border:1px solid #CFCFCF;
                color:#000;
            }

            #image_panel{
                float:left;
                width:600px;
                position:relative;
            }
            #image_panel img{
                left:0;top:-102px;
                max-width: 600px;
                overflow: hidden;

            }


            #form_panel .label{
                float:left;
                width:80px;
                
            }

            #form_panel .field{
                float:left;
               
                
            }

            #form_panel .row{
                clear:both;
            }

            .tagged_title{
                background: #fff;
               
                color: #000;
                font-size: 12px;
                padding: 3px 7px;
                margin-top:5px;
				width:100px;
            }

/*.tagged_box {display:none !important;}*/
            #info_panel{
                padding:10px;
                margin:20px 0;
                background:#eee;
            }


            input[type='button']{
                background: none repeat scroll 0 0 #2769C4;
                border: 1px solid #CFCFCF;
                color: #FFFFFF;
                font-weight: bold;
                height: 30px;
                padding: 5px;
            }
            
            
            #form_panel input[type="text"] { width: 100px !important; font-size: 13px !important }
            
.tagged_title .arrow{background:url(/../images/white-arrow.png) no-repeat 0 0; float:left;  width:12px; height:9px; position:absolute; top:-8px; left:29px;}
.photo-popup-description{ width:540px !important; padding: 2px; max-width: 540px !important; height: auto; }
.photo-popup-description h1 { font-size: 21px !important; }
.photo-popup-description span { font-size: 18px !important; }
