.tip-yellowsimple {
	z-index:1000;
	text-align:left;
	padding:6px 10px;
	min-width:50px;
	max-width:125px;
	color:#fff;
	background-color:#5396ca;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-yellowsimple .tip-inner {
	font-size:13px;
	line-height:14px;
	color:#fff;
	font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	/*background:url(/../images/tip-yellowsimple_arrows.gif) no-repeat;*/
}
.tip-yellowsimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	/*background:url(/../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0;*/
}
.tip-yellowsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:20%;
	width:15px;
	height:10px;
	background:url(/../images/fof-arrow.png) no-repeat 0 0;
}
.tip-yellowsimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	/*background:url(/../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0;*/
}