/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:999991; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overly-bg.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; /*background:url(images/controls.png) no-repeat -101px 0;*/}
    #cboxTopRight{width:21px; height:21px; /*background:url(images/controls.png) no-repeat -130px 0;*/}
    #cboxBottomLeft{width:21px; height:21px; /*background:url(images/controls.png) no-repeat -101px -29px;*/}
    #cboxBottomRight{width:21px; height:21px; /*background:url(images/controls.png) no-repeat -130px -29px;*/}
    #cboxMiddleLeft{width:21px; /*background:url(images/controls.png) left top repeat-y;*/}
    #cboxMiddleRight{width:21px; /*background:url(images/controls.png) right top repeat-y;*/}
    #cboxTopCenter{height:21px; /*background:url(images/border.png) 0 0 repeat-x;*/}
    #cboxBottomCenter{height:21px; /*background:url(images/border.png) 0 -29px repeat-x;*/}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494; display:none !important}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{/*background:url(images/loading_background.png) no-repeat center center;*/}
        #cboxLoadingGraphic{/*background:url(images/loading.gif) no-repeat center center;*/}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; /*background:url(images/controls.png) no-repeat -75px 0;*/ width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; /*background:url(images/controls.png) no-repeat -50px 0;*/ width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*****************************
  Popup Css
**************************************/
.pop-container{ float:left; padding:30px 5% 0%; width: 90%  }

.pop-container h2, .pop-container p, .pop-container h3{font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif; font-size:18px; color:#373232; float: left;; text-align: center; width: 100%; padding-bottom: 15px;}
.pop-container h3{ font-size:28px; padding-bottom: 20px; line-height:32px;}
.pop-container p{ font-size: 15px; line-height:18px; color:#636161;  font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;}
#cboxClose{position:absolute; top:5px; right:5px; background:url(../images/popup-close.png) no-repeat 0 0; width:45px; height:45px; font-size: 0px;}
#cboxClose:hover{background:url(../images/popup-close.png) no-repeat 0 0; opacity: 0.8;}
.pop-container .button-row{ width: 135px; margin:auto;}
.pop-container .row{ float: left; width: 100%; margin-bottom: 15px; padding:0px !important;}
.pop-container .row .data{ float: left; width:45%; padding-right: 5%; font-size: 15px; line-height:18px; color:#636161;  font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;}
.pop-container .row input[type="text"], .pop-container .row textarea{ background:white; border:1px solid #DFDFDF; color: #373232; float: left; font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif; font-size: 13px; line-height: 15px; padding: 8px 7px; width: 311px;}
.pop-container .row label{ margin-bottom: 10px;}
.pop-container .row .select2-container{ border:1px solid #DFDFDF; }
.pop-container .row textarea{ height: 90px}

.pop-container .search-input-bg1{background:#fff; height:22px; border:0px;  float: left; width: 301px; padding:6px 7px; font-family:$open_sansregular; border:1px solid #DFDFDF; position:relative!important;}
.pop-container .search-input-bg1 input{width:270px!important; float:left; background:none; padding: 0px!important; font-size:13px; line-height:16px; color:#373232; border:0px!important;}
.pop-container .search-input-bg1 .search-btn{width:22px!important; height:22px; float: right; border:0px; background:url('../img/sprite.png') no-repeat 0 -581px;}
.pop-container .search-input-bg1 .search-btn:hover{background:url('../img/sprite.png') no-repeat 0 -581px;}
.pop-container .row label{width:144px; float: left; font-size:14px; line-height: 16px; color:$scorpion-text; font-family:$open_sansregular; padding: 9px 0px;}

#family_send_email table{width:770px !important; background:none!important;}
#family_send_email table tr td, #family_send_email table{ border:0px !important; padding:0px;}
#family_send_email table tr td a img{ max-width: 770px;}
#family_send_email table tr td p{text-align: left !important;}
#family_send_email .button-row{ float:left; margin-left:288px; width: 200px; margin-top: 20px;}

.sfof-close #cboxClose {background:url(../images/close-white.png) no-repeat 0 0; }




.cboxIframePos{background:url(../kiosk-front-img/main-bg.jpg) repeat-y center 0  ;  background-size: 100%; width:100%; float:left; height:100%; }
