<div class="common-form">
	<div class="row">
        <div class="col6 text-bold">&nbsp;</div>
        <div class="col6 text-bold"><span class="text" id="spanDuplicateUser"><?php echo $jsLangTranslate['DUPLICATE']; ?></span></div>
        <div class="col6 text-bold merge-checkbox">&nbsp;</div>
        <div class="col6 text-bold"><span class="text" id="spanDuplicateUser">(Original)</span></div>
    </div>
    <div class="row no-padd">
        <div class="col6 text-bold">&nbsp;</div>
        <div class="col6 text-bold"><?php echo $duplicateUserDetail['first_name'] . " " . $duplicateUserDetail['last_name']; ?> </div>
        <div class="col6 text-bold merge-checkbox">Mark All</div>
        <div class="col6 text-bold"><?php echo $userDetail['first_name'] . " " . $userDetail['last_name']; ?></div>
    </div>
    <div class="row">
        <div class="col6 text">&nbsp;</div>
        <div class="col6 text">&nbsp;</div>
        <div class="col6 text merge-checkbox">
            <input type="checkbox" name="select_all" id="select_all" class="e2 check" value=""><label for="select_all" class="">&nbsp;</label>
        </div>
        <div class="col6 text">&nbsp;</div>
    </div>

    <?php if (isset($duplicateUserDetail['title']) && $duplicateUserDetail['title'] != '') { ?>
        <div class="row">
            <div class="col6 text">Title</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['title']) && $duplicateUserDetail['title'] != '') ? $duplicateUserDetail['title'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="title" id="title"><label for="title">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['title']) && $userDetail['title'] != '') ? $userDetail['title'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>

    <?php if (isset($duplicateUserDetail['source_name']) && $duplicateUserDetail['source_name'] != '') { ?>
        <div class="row">
            <div class="col6 text">Source</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['source_name']) && $duplicateUserDetail['source_name'] != '') ? $duplicateUserDetail['source_name'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="source" id="source"><label for="source">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['source_name']) && $userDetail['source_name'] != '') ? $userDetail['source_name'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['suffix']) && $duplicateUserDetail['suffix'] != '') { ?>
        <div class="row">
            <div class="col6 text">Suffix</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['suffix']) && $duplicateUserDetail['suffix'] != '') ? $duplicateUserDetail['suffix'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="suffix" id="suffix"><label for="suffix">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['suffix']) && $userDetail['suffix'] != '') ? $userDetail['suffix'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>

    <?php if (isset($duplicateUserDetail['email_id']) && $duplicateUserDetail['email_id'] != '') { ?>
        <div class="row">
            <div class="col6 text">Email</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['email_id']) && $duplicateUserDetail['email_id'] != '') ? $duplicateUserDetail['email_id'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="email_id" id="email_id"><label for="email_id">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['email_id']) && $userDetail['email_id'] != '') ? $userDetail['email_id'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['income_range']) && $duplicateUserDetail['income_range'] != '') { ?>
        <div class="row">
            <div class="col6 text">Income Range</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['income_range']) && $duplicateUserDetail['income_range'] != '') ? $duplicateUserDetail['income_range'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="income_range" id="income_range"><label for="income_range">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['income_range']) && $userDetail['income_range'] != '') ? $userDetail['income_range'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['security_question']) && $duplicateUserDetail['security_question'] != '') { ?>
        <div class="row">
            <div class="col6 text">Security Question</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['security_question']) && $duplicateUserDetail['security_question'] != '') ? $duplicateUserDetail['security_question'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="security_question" id="security_question"><label for="security_question">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['security_question']) && $userDetail['security_question'] != '') ? $userDetail['security_question'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['gender']) && $duplicateUserDetail['gender'] != '') { ?>
        <div class="row">
            <div class="col6 text">Gender</div>
            <div class="col6 text">
                <?php
                if ($duplicateUserDetail['gender'] != '' && $duplicateUserDetail['gender'] == 1)
                    $gender = 'Male';
                else if ($duplicateUserDetail['gender'] != '' && $duplicateUserDetail['gender'] == 2)
                    $gender = 'Female';
                else
                    $gender = '&nbsp;';

                echo $gender;
                ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="gender" id="gender"><label for="gender">&nbsp;</label>
            </div>
            <div class="col6 text">                
                <?php
                if ($userDetail['gender'] != '' && $userDetail['gender'] == 1)
                    $gender = 'Male';
                else if ($userDetail['gender'] != '' && $userDetail['gender'] == 2)
                    $gender = 'Female';
                else
                    $gender = '&nbsp;';

                echo $gender;
                ?>
            </div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['marital_status']) && $duplicateUserDetail['marital_status'] != '') { ?>
        <div class="row">
            <div class="col6 text">Marital Status</div>
            <div class="col6 text"><?php
    if ($duplicateUserDetail['marital_status'] != '' && $duplicateUserDetail['marital_status'] == 1)
        $maritalStatus = 'Single';
    else if ($duplicateUserDetail['marital_status'] != '' && $duplicateUserDetail['marital_status'] == 2)
        $maritalStatus = 'Married';
    else if ($duplicateUserDetail['marital_status'] != '' && $duplicateUserDetail['marital_status'] == 3)
        $maritalStatus = 'Separated';
    else if ($duplicateUserDetail['marital_status'] != '' && $duplicateUserDetail['marital_status'] == 4)
        $maritalStatus = 'Divorced';
    else
        $maritalStatus = '&nbsp;';

    echo $maritalStatus;
        ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="marital_status" id="marital_status"><label for="marital_status">&nbsp;</label>
            </div>
            <div class="col6 text"><?php
            if ($userDetail['marital_status'] != '' && $userDetail['marital_status'] == 1)
                $maritalStatus = 'Single';
            else if ($userDetail['marital_status'] != '' && $userDetail['marital_status'] == 2)
                $maritalStatus = 'Married';
            else if ($userDetail['marital_status'] != '' && $userDetail['marital_status'] == 3)
                $maritalStatus = 'Separated';
            else if ($userDetail['marital_status'] != '' && $userDetail['marital_status'] == 4)
                $maritalStatus = 'Divorced';
            else
                $maritalStatus = '&nbsp;';

            echo $maritalStatus;
        ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['nationality']) && $duplicateUserDetail['nationality'] != '') { ?>
        <div class="row">
            <div class="col6 text">Nationality</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['nationality']) && $duplicateUserDetail['nationality'] != '') ? $duplicateUserDetail['nationality'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="nationality" id="nationality"><label for="nationality">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['nationality']) && $userDetail['nationality'] != '') ? $userDetail['nationality'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDetail['ethnicity']) && $duplicateUserDetail['ethnicity'] != '') { ?>
        <div class="row">
            <div class="col6 text">Ethnicity</div>
            <div class="col6 text"><?php echo (isset($duplicateUserDetail['ethnicity']) && $duplicateUserDetail['ethnicity'] != '') ? $duplicateUserDetail['ethnicity'] : '&nbsp;'; ?></div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2" name="ethnicity" id="ethnicity"><label for="ethnicity">&nbsp;</label>
            </div>
            <div class="col6 text"><?php echo (isset($userDetail['ethnicity']) && $userDetail['ethnicity'] != '') ? $userDetail['ethnicity'] : '&nbsp;'; ?></div>
        </div>
    <?php } ?>


    <?php if (isset($duplicateUserAdd) && !empty($duplicateUserAdd)) { ?>
        <div class="row">
            <?php
            if (isset($duplicateUserAdd) && !empty($duplicateUserAdd)) {
                echo '<div class="col6">';
                foreach ($duplicateUserAdd as $key => $val) {
                    ?>
                    <div class="row text">Address Information <?php echo $key + 1; ?></div>
                    <?php
                }
                echo '</div>';
                echo '<div class="col6">';
                foreach ($duplicateUserAdd as $key => $val) {
                    ?>               
                    <div class="row text">
                        <?php
                        $addressInfo = array();
                        if (isset($val['street_address_one']) && $val['street_address_one'] != '') {
                            $addressInfo[] = $val['street_address_one'];
                        }
                        if (isset($val['street_address_two']) && $val['street_address_two'] != '') {
                            $addressInfo[] = $val['street_address_two'];
                        }
                        if (isset($val['city']) && $val['city'] != '') {
                            $addressInfo[] = $val['city'];
                        }
                        if (isset($val['state']) && $val['state'] != '') {
                            $addressInfo[] = $val['state'];
                        }
                        if (isset($val['country_name']) && $val['country_name'] != '') {
                            $addressInfo[] = $val['country_name'];
                        }
                        if (!empty($addressInfo)) {
                            if ($val['location_type'] != '') {
                                echo $val['location_type'] . " - ";
                            }
                            echo implode(",", $addressInfo);
                            if (isset($val['zip_code']) && $val['zip_code'] != '') {
                                echo "-" . $val['zip_code'];
                            }
                            if (isset($val['location_name']) && $val['location_name'] != '') {
                                $locationType = explode(",", $val['location_name']);
                                $locName = array();
                                if (in_array(1, $locationType)) {
                                    $locName[] = 'Primary';
                                }
                                if (in_array(2, $locationType)) {
                                    $locName[] = 'Billing';
                                }
                                if (in_array(3, $locationType)) {
                                    $locName[] = 'Shipping';
                                }
                                if (!empty($locName)) {
                                    echo ", (" . implode(",", $locName) . ")";
                                }
                            }
                        }
                        ?>
                    </div>
                    <?php
                }
                echo '</div>';
                echo '<div class="col6 merge-checkbox">';
                foreach ($duplicateUserAdd as $key => $val) {
                    ?>
                    <div class="row text merge-checkbox">
                        <input type="checkbox" value="<?php echo $val['address_information_id']; ?>" class="e2 check" name="address_info[]" id="address_info_<?php echo $val['address_information_id']; ?>"><label for="address_info_<?php echo $val['address_information_id']; ?>">&nbsp;</label>
                    </div>
                    <?php
                }
                echo '</div>';
            }
            if (isset($userAdd) && !empty($userAdd)) {
                echo '<div class="col6">';
                foreach ($userAdd as $key => $val) {
                    ?>
                    <div class="row text">
                        <?php
                        $addressInfo = array();
                        if (isset($val['street_address_one']) && $val['street_address_one'] != '') {
                            $addressInfo[] = $val['street_address_one'];
                        }
                        if (isset($val['street_address_two']) && $val['street_address_two'] != '') {
                            $addressInfo[] = $val['street_address_two'];
                        }
                        if (isset($val['city']) && $val['city'] != '') {
                            $addressInfo[] = $val['city'];
                        }
                        if (isset($val['state']) && $val['state'] != '') {
                            $addressInfo[] = $val['state'];
                        }
                        if (isset($val['country_name']) && $val['country_name'] != '') {
                            $addressInfo[] = $val['country_name'];
                        }
                        if (!empty($addressInfo)) {
                            if ($val['location_type'] != '') {
                                echo $val['location_type'] . " - ";
                            }
                            echo implode(",", $addressInfo);
                            if (isset($val['zip_code']) && $val['zip_code'] != '') {
                                echo "-" . $val['zip_code'];
                            }
                            if (isset($val['location_name']) && $val['location_name'] != '') {
                                $locationType = explode(",", $val['location_name']);
                                $locName = array();
                                if (in_array(1, $locationType)) {
                                    $locName[] = 'Primary';
                                }
                                if (in_array(2, $locationType)) {
                                    $locName[] = 'Billing';
                                }
                                if (in_array(3, $locationType)) {
                                    $locName[] = 'Shipping';
                                }
                                if (!empty($locName)) {
                                    echo ", (" . implode(",", $locName) . ")";
                                }
                            }
                        }
                        ?>
                    </div>
                    <?php
                }
                echo '</div>';
            }
            ?>
        </div>
    <?php } ?>

    <?php if (isset($duplicateUserPhone) && !empty($duplicateUserPhone)) { ?>
        <div class="row">
            <?php
            if (isset($duplicateUserPhone) && !empty($duplicateUserPhone)) {
                echo '<div class="col6">';
                foreach ($duplicateUserPhone as $key => $val) {
                    ?>
                    <div class="row text">Phone Information <?php echo $key + 1; ?></div>

                    <?php
                }
                echo '</div>';
                echo '<div class="col6">';
                foreach ($duplicateUserPhone as $key => $val) {
                    ?>               
                    <div class="row text">
                        <?php
                        $phoneNo = array();
                        if (isset($val['country_code'])) {
                            $phoneNo[] = $val['country_code'];
                        }
                        if (isset($val['area_code'])) {
                            $phoneNo[] = $val['area_code'];
                        }
                        if (isset($val['phone_number'])) {
                            $phoneNo[] = $val['phone_number'];
                        }
                        if (isset($val['extension'])) {
                            $phoneNo[] = $val['extension'];
                        }
                        if (!empty($phoneNo)) {
                            echo implode("-", $phoneNo);
                            if ($val['is_primary'] == 1)
                                echo ' (Primary)';
                        }
                        ?>
                    </div>
                    <?php
                }
                echo '</div>';
                echo '<div class="col6 merge-checkbox">';
                foreach ($duplicateUserPhone as $key => $val) {
                    ?>
                    <div class="row text merge-checkbox">
                        <input type="checkbox" value="<?php echo $val['phone_contact_id']; ?>" class="e2 check" id="phone_info_<?php echo $val['phone_contact_id']; ?>" name="phone_info[]"><label for="phone_info_<?php echo $val['phone_contact_id']; ?>">&nbsp;</label>
                    </div>
                    <?php
                }
                echo '</div>';
            }
            if (isset($userPhone) && !empty($userPhone)) {
                echo '<div class="col6">';
                foreach ($userPhone as $key => $val) {
                    ?>

                    <div class="row text">
                        <?php
                        $phoneNo = array();
                        if (isset($val['country_code'])) {
                            $phoneNo[] = $val['country_code'];
                        }
                        if (isset($val['area_code'])) {
                            $phoneNo[] = $val['area_code'];
                        }
                        if (isset($val['phone_number'])) {
                            $phoneNo[] = $val['phone_number'];
                        }
                        if (isset($val['extension'])) {
                            $phoneNo[] = $val['extension'];
                        }
                        if (!empty($phoneNo)) {
                            echo implode("-", $phoneNo);
                            if ($val['is_primary'] == 1)
                                echo ' (Primary)';
                        }
                        ?>
                    </div>
                    <?php
                }
                echo '</div>';
            }
            ?>
        </div>
    <?php } ?>

    <?php if (isset($duplicateUserAlternateContact) && $duplicateUserAlternateContact['name'] != '') { ?>
        <div class="row">
            <div class="col6 text">Alternate Contact</div>
            <div class="col6 text">
                <?php echo (isset($duplicateUserAlternateContact) && $duplicateUserAlternateContact['name'] != '') ? $duplicateUserAlternateContact['name'] : '&nbsp;'; ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="alternate_contact" name="alternate_contact"><label for="alternate_contact">&nbsp;</label>
            </div>
            <div class="col6 text">
                <?php echo (isset($userAlternateContact) && $userAlternateContact['name'] != '') ? $userAlternateContact['name'] : '&nbsp;'; ?>
            </div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserAfihc) && !empty($duplicateUserAfihc)) { ?>
        <div class="row">
            <div class="col6 text">Afihc </div>
            <div class="col6 text">
                <?php
                if (isset($duplicateUserAfihc) && !empty($duplicateUserAfihc)) {
                    $afihcNames = '';
                    foreach ($duplicateUserAfihc as $val) {
                        $afihcNames .=$val['afihc_code'] . ",";
                    }
                    echo rtrim($afihcNames, ",");
                } else {
                    echo '&nbsp;';
                }
                ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="afihc" name="afihc"><label for="afihc">&nbsp;</label>
            </div>
            <div class="col6 text">
                <?php
                if (isset($userAfihc) && !empty($userAfihc)) {
                    $afihcUserNames = '';
                    foreach ($userAfihc as $val) {
                        $afihcUserNames .=$val['afihc_code'] . ",";
                    }
                    echo rtrim($afihcUserNames, ",");
                } else {
                    echo '&nbsp;';
                }
                ?>
            </div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserNotes) && !empty($duplicateUserNotes)) { ?>
        <div class="row">
            <div class="col6 text">User Notes</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="user_notes" id="user_notes"><label for="user_notes">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserDocs) && !empty($duplicateUserDocs)) { ?>
        <div class="row">
            <div class="col6 text">User Documents</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="user_docs" id="user_docs"><label for="user_docs">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserInterest) && !empty($duplicateUserInterest)) { ?>
        <div class="row">
            <div class="col6 text">Interest </div>
            <div class="col6 text">
                <?php
                $interestNames = '';
                foreach ($duplicateUserInterest as $val) {
                    $interestNames .=$val['interest_name'] . ",";
                }
                echo rtrim($interestNames, ",");
                ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="interest" name="interest"><label for="interest">&nbsp;</label>
            </div>
            <div class="col6 text">
                <?php
                if (isset($userInterest) && !empty($userInterest)) {
                    $interestNames = '';
                    foreach ($userInterest as $val) {
                        $interestNames .=$val['interest_name'] . ",";
                    }
                    echo rtrim($interestNames, ",");
                }
                ?></div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserComm) && !empty($duplicateUserComm)) { ?>
        <div class="row">
            <div class="col6 text">Communication Preferences</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="communication_pre" id="communication_pre"><label for="communication_pre">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserEducation) && !empty($duplicateUserEducation)) { ?>
        <div class="row">
            <div class="col6 text">Education</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="education" name="education"><label for="education">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserTags) && !empty($duplicateUserTags)) { ?>
        <div class="row">
            <div class="col6 text">Tags</div>
            <div class="col6 text">
                <?php
                $duplicateUserTag = '';
                foreach ($duplicateUserTags as $val) {
                    $duplicateUserTag .= $val['tag_name'] . ",";
                }
                echo rtrim($duplicateUserTag, ",");
                ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="tags" id="tags"><label for="tags">&nbsp;</label>
            </div>
            <div class="col6 text">
                <?php
                if (isset($userTags) && !empty($userTags)) {
                    $userTag = '';
                    foreach ($userTags as $val) {
                        $userTag .= $val['tag_name'] . ",";
                    }
                    echo rtrim($userTag, ",");
                }
                ?>
            </div>
        </div>
    <?php } ?>
    <?php if (isset($duplicateUserGroups) && !empty($duplicateUserGroups)) { ?>
        <div class="row">
            <div class="col6 text">Group</div>
            <div class="col6 text">
                <?php
                $groupNames = '';
                foreach ($duplicateUserGroups as $val) {
                    $groupNames .= $val['name'] . ",";
                }
                echo rtrim($groupNames, ",");
                ?>
            </div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="groups" id="groups"><label for="groups">&nbsp;</label>
            </div>
            <div class="col6 text">
                <?php
                if (isset($userGroups) && !empty($userGroups)) {
                    $userGroup = '';
                    foreach ($userGroups as $val) {
                        $userGroup .= $val['name'] . ",";
                    }
                    echo rtrim($userGroup, ",");
                }
                ?>
            </div>
        </div>
    <?php } ?>

    <?php if ($duplicateUserTransactionCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Transaction</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="transaction" id="transaction"><label for="transaction">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserActivityCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Activity</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="activity" name="activity"><label for="activity">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserCaseCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Case</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="case" name="case"><label for="case">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserRelationshipCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Relationship</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" name="realtionship" id="realtionship"><label for="realtionship">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserMembershipCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Membership</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="membership" name="membership"><label for="membership">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>    
    <?php if ($duplicateUserDevelopmentCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Development</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="development" name="development"><label for="development">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserSearchesCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Searches</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="user_searches" name="user_searches"><label for="user_searches">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
    <?php if ($duplicateUserSurveyCount > 0) { ?>
        <div class="row">
            <div class="col6 text">Survey</div>
            <div class="col6 text">&nbsp;</div>
            <div class="col6 text merge-checkbox">
                <input type="checkbox" value="1" class="e2 check" id="survey" name="survey"><label for="survey">&nbsp;</label>
            </div>
            <div class="col6 text">&nbsp;</div>
        </div>
    <?php } ?>
</div>
<?php
/**
 * This file is used to get duplicate contact info
 * @package    User
 * @author     Icreon Tech - DG
 */
 $script = <<<EOD
$(function(){
        $("#select_all").click(function () {
            $(".e2").prop('checked', $(this).prop('checked'));
            $(".e2").customInput();
        });
        $(".e2").click(function(){
            if($(".e2").length == $(".e2:checked").length) {
                $("#select_all").attr("checked", "checked");
            } else {
                $("#select_all").removeAttr("checked");
            }
            $(".e2").customInput();
        });
        $(".e2").customInput();
    });
EOD;
echo $this->inlineScript()->prependScript($script);
?>
