<?php
/**
 * This file is used to get duplicate contact
 * @package    User
 * @author     Icreon Tech - DG
 */
$var = '';
$this->inlineScript()->captureStart();
$var .= 'var rule = "' . $rule . '";';
$var .= 'var group = "' . $group . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.find-merge-rule.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></span></div>
        <div class="detail-section">
            <div id="success_message" class="success-msg" style="display: none;"></div>
            <?php
            if (!empty($this->messages)) {
                $messages = $this->messages;
                ?>
                <div id="success_message_flash" class="success-msg "><?php echo $messages[0]; ?></div>
                <?php
            }
            ?>
            <div class="common-form">
                <div class="row no-padd" id='heading'>
					<div class="col4 text-bold"><?php echo $jsLangTranslate['CONTACT1']; ?></div>
					<div class="col7 text-bold"><?php echo $jsLangTranslate['CONTACT2']; ?> <span class="text"><?php echo $jsLangTranslate['DUPLICATE']; ?></span></div>
				</div>
                <div class="row" id="<?php echo @unserialize(base64_decode($usrVal[0]['user_id'])); ?><?php echo @unserialize(base64_decode($usrVal[1]['user_id'])); ?>">
					<div class="col4">
						<div class="row no-padd">
							<label>Contact ID:</label>
							<label class="auto"><?php echo $userDetail1['contact_id'];?></label>
							<input type="hidden" name="user_id1" id="user_id1" value="<?php echo $this->Encrypt($userDetail1['user_id']);?>">
						</div>
						<div class="row no-padd"><label>First Name:</label>
						<label class="auto"><?php echo $userDetail1['first_name'];?></label></div>
						<div class="row no-padd"><label>Last Name:</label>
						<label class="auto"><?php echo $userDetail1['last_name'];?></label></div>
						<div class="row no-padd"><label>Email:</label>
						<label class="auto"><?php echo $userDetail1['email_id'];?></label></div>
					</div>
					<div class="col7">
						<div class="row no-padd">
							<label>Contact ID:</label>
							<label class="auto"><?php echo $userDetail2['contact_id'];?></label>
							<input type="hidden" name="user_id2" id="user_id2" value="<?php echo $this->Encrypt($userDetail2['user_id']);?>">
						</div>
						<div class="row no-padd"><label>First Name:</label>
						<label class="auto"><?php echo $userDetail2['first_name'];?></label></div>
						<div class="row no-padd"><label>Last Name:</label>
						<label class="auto"><?php echo $userDetail2['last_name'];?></label></div>
						<div class="row no-padd"><label>Email:</label>
						<label class="auto"><?php echo $userDetail2['email_id'];?></label></div>
					</div>
				</div>
            </div>
			<div class="common-form">
				<div class="co11">
					<h3>Are you sure, you want to merge contacts?</h3>
				</div>
				<div class="co11 left">
					<input type="button" value="Yes" name="yes" id="yes_merge" class="blue-btn m-r-10">
					<input type="button" value="No" name="no" id="no_merge" class="green-btn">
				</div>
			</div>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_dedupe_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $jsLangTranslate['H_MARK_DEDUPE']; ?></h2>
        <P><?php echo $jsLangTranslate['ARE_U_SURE_DEDUPE']; ?></P>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>