<?php
/**
 * This file is used to get duplicate contact
 * @package    User
 * @author     Icreon Tech - DG
 */
$var = '';
$this->inlineScript()->captureStart();
$var .= 'var rule = "' . $rule . '";';
$var .= 'var group = "' . $group . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.find-merge-rule.js?v='.$this->layout()->getVariable('jsVersion'));
$isRecord = false;
$count = 0;
if (!empty($getCombinations)) {
    foreach ($getCombinations as $key => $value) {
        if (!empty($value)) {
            foreach ($value as $k => $usrVal) {
                $pair1 = $usrVal[0]['user_id'] . "," . $usrVal[1]['user_id'];
                $pair2 = $usrVal[1]['user_id'] . "," . $usrVal[0]['user_id'];
                if (!empty($dedupeUsersEncrypted)) {
                    if (!in_array($pair1, $dedupeUsersEncrypted) && !in_array($pair2, $dedupeUsersEncrypted)) {
                        $isRecord = true;
                        $count++;
                    }
                } else {
                    $isRecord = true;
                    $count++;
                }
            }
        }
    }
}
?>
<div class="create-contacts">
    <h2><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></span></div>
        <div id="count_contact" style="display:none;"><?php echo $count; ?></div>
        <div class="detail-section">
            <div id="success_message" class="success-msg" style="display: none;"></div>
            <?php
            if (!empty($this->messages)) {
                $messages = $this->messages;
                ?>
                <div id="success_message_flash" class="success-msg "><?php echo $messages[0]; ?></div>
                <?php
            }
            ?>
            <div class="common-form">
                <?php
                if (!empty($getCombinations) && $isRecord) {
                    ?>
                    <div class="row no-padd" id='heading'>
                        <div class="col4 text-bold"><?php echo $jsLangTranslate['CONTACT1']; ?></div>
                        <div class="col7 text-bold"><?php echo $jsLangTranslate['CONTACT2']; ?> <span class="text"><?php echo $jsLangTranslate['DUPLICATE']; ?></span></div>
                        <div class="col4 text-bold"><?php echo $jsLangTranslate['ACTION']; ?></div>
                    </div>
                    <?php
                    foreach ($getCombinations as $key => $value) {
                        if ($value) {
                            foreach ($value as $k => $usrVal) {
                                $pair1 = $usrVal[0]['user_id'] . "," . $usrVal[1]['user_id'];
                                $pair2 = $usrVal[1]['user_id'] . "," . $usrVal[0]['user_id'];
                                if (!empty($dedupeUsersEncrypted)) {
                                    if (!in_array($pair1, $dedupeUsersEncrypted) && !in_array($pair2, $dedupeUsersEncrypted)) {
                                        ?>
                                        <div class="row" id="<?php echo @unserialize(base64_decode($usrVal[0]['user_id'])); ?><?php echo @unserialize(base64_decode($usrVal[1]['user_id'])); ?>">
                                            <div class="col4">
                                                <label><?php echo (isset($usrVal[0]['first_name']) && $usrVal[0]['first_name'] != '') ? $usrVal[0]['first_name'] . ' ' . $usrVal[0]['full_name'] : $usrVal[0]['full_name']; ?></label>
                                            </div>
                                            <div class="col7">
                                                <label><?php echo (isset($usrVal[1]['first_name']) && $usrVal[1]['first_name'] != '') ? $usrVal[1]['first_name'] . ' ' . $usrVal[1]['full_name'] : $usrVal[1]['full_name']; ?></label>
                                            </div>
                                            <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="mergeContact('<?php echo $usrVal[0]['user_id']; ?>', '<?php echo $usrVal[1]['user_id']; ?>');"><?php echo $jsLangTranslate['MERGE']; ?></a>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                } else {
                                    ?>                                    
                                    <div class="row" id="<?php echo @unserialize(base64_decode($usrVal[0]['user_id'])); ?><?php echo @unserialize(base64_decode($usrVal[1]['user_id'])); ?>">
                                        <div class="col4">
                                            <label><?php echo (isset($usrVal[0]['first_name']) && $usrVal[0]['first_name'] != '') ? $usrVal[0]['first_name'] . ' ' . $usrVal[0]['full_name'] : $usrVal[0]['full_name']; ?></label>
                                        </div>
                                        <div class="col7">
                                            <label><?php echo (isset($usrVal[1]['first_name']) && $usrVal[1]['first_name'] != '') ? $usrVal[1]['first_name'] . ' ' . $usrVal[1]['full_name'] : $usrVal[1]['full_name']; ?></label>
                                        </div>
                                        <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="mergeContact('<?php echo $usrVal[0]['user_id']; ?>', '<?php echo $usrVal[1]['user_id']; ?>');"><?php echo $jsLangTranslate['MERGE']; ?></a>
                                        </div>
                                    </div>
                                    <?php
                                }
                            }
                        }
                    }
                } else {
                    ?>
                    <div class="row no-padd">
                        <div class="col error-msg"><?php echo $jsLangTranslate['NO_PAIR']; ?></div>
                    </div>
                    <?php
                }
                ?>
            </div>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_dedupe_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $jsLangTranslate['H_MARK_DEDUPE']; ?></h2>
        <P><?php echo $jsLangTranslate['ARE_U_SURE_DEDUPE']; ?></P>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>