<?php
/**
 * This file is used for get merge rule
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.find-merge-rule.js?v='.$this->layout()->getVariable('jsVersion'))
?>
<div class="create-contacts">
    <h2><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-15"><?php echo $jsLangTranslate['DEC_FIND_MERGE']; ?></p>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $jsLangTranslate['H_FIND_MERGE']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col4 text-bold"><?php echo $jsLangTranslate['RULE']; ?></div>
                    <div class="col7 text-bold"><?php echo $jsLangTranslate['GROUP']; ?></div>
                    <div class="col4 text-bold"><?php echo $jsLangTranslate['ACTION']; ?></div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label>Name</label>
                    </div>
                    <div class="col7">
                        <?php echo $this->formRow($form->get('group_id_name')); ?>
                    </div>
                    <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userRule('<?php echo $name; ?>', 'name');">Use Rule</a></div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label class="auto no_l_pad">Name and Address 1</label>
                    </div>
                    <div class="col7">
                        <?php echo $this->formRow($form->get('group_id_address')); ?>
                    </div>
                    <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userRule('<?php echo $address; ?>', 'address');">Use Rule</a></div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label>Name and Phone</label>
                    </div>
                    <div class="col7">
                        <?php echo $this->formRow($form->get('group_id_phone')); ?>
                    </div>
                    <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userRule('<?php echo $phone; ?>', 'phone');">Use Rule</a></div>
                </div>
                <div class="row no-padd">
                    <div class="col4">
                        <label>Last Name and Address1</label>
                    </div>
                    <div class="col7">
                        <?php echo $this->formRow($form->get('group_id_last_name_address')); ?>
                    </div>
                    <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userRule('<?php echo $last_name_address; ?>', 'last_name_address');">Use Rule</a></div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label>Last Name and Phone</label>
                    </div>
                    <div class="col7">
                        <?php echo $this->formRow($form->get('group_id_last_name_phone')); ?>
                    </div>
                    <div class="col4"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userRule('<?php echo $last_name_phone; ?>', 'last_name_phone');">Use Rule</a></div>
                </div>
                <div class="row">
                    <div class="col2">
                        <label>Email</label>
                    </div>
                    <div class="col13">						
						<label class="auto">Old</label>
						<?php 
						echo $this->formRow($form->get('email_id2'));
						echo $this->formRow($form->get('user_id2'));
						?>
						<label class="auto"> -New- </label>
                        <?php 
						echo $this->formRow($form->get('email_id1')); 
						echo $this->formRow($form->get('user_id1'));
						?>
                    </div>
                    <div class="col2"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userEmailMergeRule();">Use Rule</a></div>
                </div>
                <div class="row">
                    <div class="col2">
                        <label>Contact Id</label>
                    </div>
                    <div class="col13">						
						<label class="auto">Old</label>
						<?php 
						echo $this->formRow($form->get('contact_id2'));
						echo $this->formRow($form->get('user_contact_id2'));
						?>
						<label class="auto"> -New- </label>
                        <?php 
						echo $this->formRow($form->get('contact_id1')); 
						echo $this->formRow($form->get('user_contact_id1'));
						?>
                    </div>
                    <div class="col2"><a class="link m-t-5 left" href="javascript:void(0);" onclick="userContactIdMergeRule();">Use Rule</a></div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>