<?php
/**
 * This view is used to create membership 
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$form = $this->membershipSavedSearch;
?>
<script type="text/javascript">
       $(document).ready(function(){
           $("select.e1").select2({});
       })
</script>
<div class="row" id="save_search_block_<?php echo ($totalSaveSearch+1); ?>">
    <label>&nbsp;</label>
    <?php echo $this->formRow($form->get('saved_search_in_days[]')); ?> <?php echo $this->formRow($form->get('saved_search_type[]')); ?>
    
  <a class="minus" href="javascript:void(0);" onclick="deleteNewSaveSearch(<?php echo ($totalSaveSearch+1); ?>)"></a>
  <a class="plus m-l-5" href="javascript:void(0);" onclick="addNewSaveSearch(this)" id="addMoreSaveSearch"></a>
</div>

