<?php
/**
 * This page is used for program detail information
 * @package    Setting_ProgramController_getProgramDetailsAction
 * @author     Icreon Tech - NS
 */

$translator = $this->jsLangTranslate;
echo '<script>';
$var = '';
if(is_array($this->jsLangTranslate))
{
	foreach ($jsLangTranslate as $key => $val) {
	    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
	}
}
$var .= ' var mode="'.$mode.'";';
$var .= ' var email_id="'.$email_id.'";';

echo $var;
echo '</script>';
?>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/crm.emailtemplate.detail.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
   
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/tinymce/tinymce.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts case">
	<h2><?php echo $translator['L_EMAIL_TEMPLATES'] ?></h2>
	<div class="accordion-detail">
        <div id="pageAction">
          <ul class="edit-link  m-t-25">
              <li><a href="javascript:void(0);" onclick="javascript:getEmailTemplateDetail('<?php echo $email_id;?>');" class="active" id="tab-1">View</a></li>
              <li><a href="javascript:void(0);" onclick="javascript:editEmailTemplateDetail('<?php echo $email_id;?>');" id="tab-2">Edit</a></li>
          </ul>
        </div>
        <div id="emailTemplateContent"></div>
    </div>
</div>
	 
	 