<?php
/**
 * This view is used tosave the email template
 * @package    Setting
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript"><?php echo $var;?></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/edit.emailtemplate.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() { 
        tinymce.init({
            mode : "specific_textareas",
            editor_selector : "myTextEditor",
            plugins: [
				        "link image charmap print preview anchor",
				        "searchreplace visualblocks code fullscreen",
				        "insertdatetime media table contextmenu paste"
				    ],
            toolbar: "insertfile undo redo | table styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            file_browser_callback : 'myFileBrowser',
            image_advtab: true,
            height:300,
            menubar:false,
            width:'100%'
        });
    });
    function setPlainText() {
        var isChecked = $('input[name="email_set_text"]').is(':checked');
            //alert($('input[name="email_set_text"]').is(':checked'));
            setTimeout("showHideEditor("+isChecked+")","1000");
            
     }       
     
    function showHideEditor(isChecked)
    {
			if(isChecked == true)
                tinymce.execCommand('mceRemoveEditor', true, 'email_message_body');
            else    
                tinymce.execCommand('mceAddEditor', true, 'email_message_body');    
    } 
</script>


<script type="text/javascript">
    $(document).ready(function() { 
            setTimeout("setPlainText()","1000");
    
        $("select").select2(); 
        var myjson = '<?php echo $this->moduleVariableArray ?>';

        var myjson = jQuery.parseJSON(myjson);
        $("#email_module_id").change(function (){
            $("#placeholder_variable").val('');	
			if($("#email_module_id").val()!='')
			{
	            var id = $(this).val();
	            var variable_name = String(myjson[id]);
	            var moduleArray = variable_name.split(",");
	            $("#module_variable").empty();
	            $("#module_variable").append('<option value="">Select</option>');
	            for(var i=0; i < moduleArray.length; i++)
	            {
	                var moduleValue = String(moduleArray[i]);
	                var moduleValueArray = moduleValue.split('~');
	                var options='<option value="'+moduleValueArray[1]+'">'+moduleValueArray[0]+'</option>';
	                $("#module_variable").append(options);
	            }
            }
            else
            {
                $("#module_variable").empty();
                $("#module_variable").select2();   
            }
        });
            $("#module_variable").change(function (){
                $("#placeholder_variable").val($("#module_variable").val());	
            });
            $("#insert_variable").click(function (){ 
                tinyMCE.execCommand('mceInsertRawHTML', false, $("#placeholder_variable").val());
            });
            $("#email_module_id").change();

			
    });
</script>  

<style>
.select-row .col2 .select2-container{width:95%;}
.select-row .col2 input[type="text"]{width:88%}
</style>   
<div class="create-contacts">
    <div class="breadcrumb contact-breadcrumb">
		<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->editMailTemplateForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="head no-img"><span><?php echo $translator['L_EDIT_EMAIL_TEMPLATE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php echo $this->formRow($form->get('email_id')); ?>
                <div class="row">
                    <label><?php echo $translator['L_NAME'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('email_title')); ?>
                </div>
                <div class="row">
                    <label class="no-padd"><?php echo $translator['L_DESCRIPTION'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('email_description')); ?>
                </div>
                <div class="row select-row">
                    <label><?php echo $translator['L_INSERT_VARIABLE'] ?></label>
                    <div class="col2">
                        <?php echo $this->formRow($form->get('email_module_id')); ?>
                    </div>
                    <div class="col2">
                        <?php echo $this->formRow($form->get('module_variable')); ?>
                    </div>
                    <div class="col2">
                        <?php echo $this->formRow($form->get('placeholder_variable')); ?>
                    </div>
                    <div class="col2">
                        <?php echo $this->formRow($form->get('insert_variable')); ?>
                    </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_SUBJECT'] ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('email_subject')); ?>                 
                </div>
				
				 <div class="row">
				 <label></label>
				 
                        
                        <?php echo $this->formRow($form->get('email_set_text')); ?>
                        <label class="check" for="email_set_text"><?php echo $translator['L_SET_TEXT_ONLY'] ?></label>
                    </div>
				
                <div class="row">
                    <label><?php echo $translator['L_BODY'] ?><span class="red">*</span></label>
                    <div style="margin-left:144px;"><?php echo $this->formRow($form->get('email_message_body')); ?></div>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_SEND_TEST_EMAIL'] ?></label>
                    <?php echo $this->formRow($form->get('email_address')); ?>
                    <?php echo $this->formRow($form->get('send')); ?>

                </div>
            </div>
        </div>
        <div class="row m-t-10 common-form">
            <?php echo $this->formRow($form->get('save')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<script>
     $(".e4").customInput();
 </script>     