<?php
/**
 * This view is used to create membership 
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/membership.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/colorpicker/js/colorpicker.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/colorpicker/js/eye.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/colorpicker/js/utils.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/colorpicker/js/layout.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'));
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('jsFilePath') . '/js/colorpicker/css/colorpicker.css')
?>
<script type="text/javascript">
    $(document).ready(function() {
         tinymce.init({
            mode : "specific_textareas",
            editor_selector : "myTextEditor",
            plugins: [
                "link charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages example"
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages | example",
            height:300,
            menubar:false,
            width:'100%'
        });
    });
</script>

<div class="create-contacts">
    <h2>Settings</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->membershipForm;
        $form->setAttributes(array('id', 'edit_user_membership', 'name' => "edit_user_membership"));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('membership_id'));
        ?>
        <div class="head no-img"><span><?php echo $translator['L_MEMBERSHIP_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('membership_title')); ?>
                        <span class="age-year"><span class="red">*</span>Title must be unique</span>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_LEVEL_COLOR'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('level_color')); ?>
                    </div>
                </div>
                
                <div class="row no-padd">
                    <label></label>
                    <?php echo $this->formRow($form->get('email_set_text')); ?>
                    <label class="check" for="email_set_text"><?php echo $translator['SET_PLAIN_TEXT']; ?></label>
                </div>
                
                <div class="row">
                        <label><?php echo $translator['L_DESCRIPTION'] ?></label>
                        <div style="margin-left:144px;"><?php echo $this->formRow($form->get('membership_description')); ?></div>
                </div> 
                
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['L_VALIDITY'] ?></label>
                        <?php echo $this->formRow($form->get('validity_type')); ?>
                    </div>
                    <div class="col1 right" id="financial_year_block" style="<?php echo ($form->get('validity_type')->getValue() == 1) ? 'display:block' : 'display:none'; ?>">
                        <label><?php echo $translator['L_FINANCIAL_YEAR'] ?></label>
                        <?php echo $this->formRow($form->get('validity_time_financial')); ?>
                    </div>
                    <div class="col1 right" id="validity_start_date_block" style="<?php echo ($form->get('validity_type')->getValue() == 2) ? 'display:block' : 'display:none'; ?>">
                        <label><?php echo $translator['L_START_DATE'] ?></label>
                        <?php echo $this->formRow($form->get('validity_time_year')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_MINIMUM_DONATION_AMOUNT'] ?></label>
                        <?php echo $this->formRow($form->get('minimun_donation_amount')); ?>
                    </div>
                    
                     <div class="col1 right">
                        <label for="is_active" class="checkbox-auto"><?php echo $translator['L_IS_ACTIVE'] ?></label>
                        <?php echo $this->formRow($form->get('is_active')); ?>
                    </div>
                </div>
                    <div class="row">
                        <div class="col13">
                            <div class="head no-img"><span>Pre Expiry Alert</span></div>
                            <div class="member-bg error-msg-left">
                                <div class="row">
                                    <div class="full"><label><?php echo $translator['L_FIRST_ALERT_BEFORE'] ?></label></div>
                                <?php echo $this->formRow($form->get('first_alert_before_in_days')); ?>
                                <label class="auto"><?php echo $translator['L_DAYS'] ?></label>
                            </div>
                            <div class="row">
                                <div class="full"><label><?php echo $translator['L_REPEAT_ALERT_EVERY'] ?></label></div>
                                <?php echo $this->formRow($form->get('repeat_alerts_in_days')); ?>
                                <label class="auto"><?php echo $translator['L_DAYS_FOR'] ?></label>
                                <div class="error-outer">
								<?php echo $this->formRow($form->get('repeat_alerts_in_times')); ?>
                                <label class="auto"><?php echo $translator['L_TIMES'] ?></label>
								</div>
                            </div>

                        </div>
                    </div>
                    <div class="col13 right"><div class="head no-img"><span>Post Expiry Alert</span></div>
                        <div class="member-bg error-msg-left">
                            <div class="row">
                                <div class="full"><label class="width-190"><?php echo $translator['L_RENEW_MEMBERSHIP_ALERT'] ?></label></div>
                                <?php echo $this->formRow($form->get('renew_alerts_in_days')); ?>
                                <label class="auto"><?php echo $translator['L_DAYS_FOR'] ?></label>
                                   <div class="error-outer">
								<?php echo $this->formRow($form->get('renew_alerts_in_times')); ?>
                                <label class="auto"><?php echo $translator['L_TIMES'] ?></label></div>
								</div>

                            <div class="row">
                                <div class="full"><label class="width-190"><?php echo $translator['L_COME_BACK_REQUEST'] ?></label></div>
                                <?php echo $this->formRow($form->get('come_back_request_in_days')); ?>
                                <label class="auto"><?php echo $translator['L_DAYS_AFTER_LAST_ALERT'] ?></label>

                            </div>

                        </div>



                    </div>
                </div>
            </div>



            <div class="row">
                <div class="head no-img"><span><?php echo $translator['L_BENEFITS'] ?></span></div>
                <div class="member-bg common-form">
                    <div class="row discount-row">
                        <label><?php echo $translator['L_DISCOUNT'] ?></label>
                        <?php echo $this->formRow($form->get('discount')); ?>
                                <label class="auto"><?php echo $translator['L_MODULOUS'] ?></label></div>

                            <div id="saved_search_div" class="row">
                                <div class="row no-padd">
                                    <label><?php echo $translator['L_FEATURES'] ?></label>
                                    <label>Max No. Saves</label>
                                    <label class="m-l-15">Section</label>
                                </div>
                        <?php
                                if (!empty($membershipDetail['membershipSearchIds'])) {
                                    $membershipSearchIds = explode(',', $membershipDetail['membershipSearchIds']);
                                    $savedSearchInDays = explode(',', $membershipDetail['savedSearchInDays']);
                                    $savedSearchTypeIds = explode(',', $membershipDetail['savedSearchTypeIds']);
                                    if (!empty($membershipSearchIds)) {
                                        $count = 1;
                                        $last = count($membershipSearchIds);
                                        foreach ($membershipSearchIds as $key => $searchId) {
                        ?>
                                            <div class="row" id="save_search_block_<?php echo $count; ?>">
                                                
                                                    <label><?php echo ($count == 1) ? $translator['L_SAVED_SEARCH'] : '&nbsp;'; ?></label>
                                <?php echo $this->formRow($form->get('membership_save_search')->get('saved_search_in_days[]')->setValue($savedSearchInDays[$key])); ?> <?php echo $this->formRow($form->get('membership_save_search')->get('saved_search_type[]')->setValue($savedSearchTypeIds[$key])); ?>
                                <?php if ($count != 1 || $last > 1) {
                                ?>
                                                <a href="javascript:void(0);" onclick="deleteNewSaveSearch(<?php echo $count; ?>,this)" class="minus"></a>
                                <?php } ?>
                                <?php if ($count == $last) {
                                ?>
                                                <a href="javascript:void(0);" onclick="addNewSaveSearch(this)" class="plus m-l-5"></a>
                                <?php } ?>
                                        
                                            </div>
                            <?php
                                            $count++;
                                        }
                                    }
                                } else {
                            ?>  <div class="row">
                                    <div id="save_search_block_1">
                                        <label><?php echo $translator['L_SAVED_SEARCH'] ?></label>
                                <?php echo $this->formRow($form->get('membership_save_search')->get('saved_search_in_days[]')); ?>
                                <?php echo $this->formRow($form->get('membership_save_search')->get('saved_search_type[]')); ?>
                                    <a class="plus" href="javascript:void(0);" onclick="addNewSaveSearch(this)" id="addMoreSaveSearch"></a>
                                </div>
                            </div>
                            <?php
                                }
                            ?>



                        </div>
                
                        <div class="row">
                            <label><?php echo $translator['L_SAVED_SEARCH_VALIDITY1']." ".$translator['L_SAVED_SEARCH_VALIDITY2']."&nbsp;"; ?></label>
                        <?php echo $this->formRow($form->get('saved_search_validity_in_days')); ?>
                        <?php echo $this->formRow($form->get('saved_search_validity_type')); ?>
                                <div class="full"><span class="age-year"><?php echo $translator['L_DAYS'] ?></span> </div>
                            </div>
                            <div class="row no-padd">
                                <label>&nbsp;</label>
                                <label for="is_annotation" class="checkbox-auto"><?php echo $translator['L_ANNOTATION'] ?></label>
                                <?php echo $this->formRow($form->get('is_annotation')); ?>
                                
                                <label for="is_correction" class="checkbox-auto"><?php echo $translator['L_CORRECTION'] ?></label>
                                <?php echo $this->formRow($form->get('is_correction')); ?>                                

                            </div>

                        </div>
                    </div>
                    <div class="row no-padd">
                        <div class="head no-img"><span>Family History</span></div>
                        <div class="member-bg common-form development-input-size">

                            <div class="row">
                                <div class="col1">
                                    <label><?php echo $translator['L_MAX_STORIES'] ?></label>
                            <?php echo $this->formRow($form->get('max_stories')); ?>
                            </div>
                            <div class="col1 right">
                                <label class="no-padd"><?php echo $translator['L_MAX_CHAR_STORY'] ?></label>
                            <?php echo $this->formRow($form->get('max_story_characters')); ?>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col1">
                                <label><?php echo $translator['L_MAX_PASSENGER'] ?></label>
                            <?php echo $this->formRow($form->get('max_passengers')); ?>

                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_MAX_SAVED_HISTORY'] ?></label>
                            <?php echo $this->formRow($form->get('max_saved_histories')); ?>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="row common-form m-t-10">
            <?php echo $this->formRow($form->get('save')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
                            </div>

                        </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
