<?php
/**
 * This view is used to search email template
 * @package    Setting
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/emailtemplate.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_EMAIL_TEMPLATES'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_EMAIL_TEMPLATES'] ?></span></div>
        <?php
        $form = $this->searchEmailTemplateForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_NAME'] ?></label>
                        <?php echo $this->formRow($form->get('name')); ?>
                    </div>
                </div>
               
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        
        
    </div>
</div>

<div class="grid-section">
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
</p>
</div>
</div>

<div style='display:none'>
    <div id='delete_product' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_PRODUCT_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_product" class="green-btn">
        </div>
    </div>
</div>