<?php
/**
 * This view is used to show dropdown list
 * @package    Setting
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/setting.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Settings</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div id="success_message" class="success-msg" style="dispaly:block;padding: 0 0 0 0"></div>
    <div class="head no-img"><span>Dropdown Editor</span></div>
    <div class="detail-section">
        <div class="setting-dropdown-page m-t-0">
            <?php
            $form = $this->tableListForm;
            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formRow($form->get('dropdown'));
            echo $this->form()->closeTag();
            ?>
        </div>



    </div>
    <div id="dropdown_content">
    </div>
    <?php
    foreach ($this->mstTableList as $key) {
        ?>
        <div style='display:none'>
            <?php echo $key['table_id']; ?>
            <div id='delete_content<?php echo $key['table_id']; ?>' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn"></a>
                <h2><?php echo $translator['CONF_MSG']; ?></h2>

                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes<?php echo $key['table_id']; ?>" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no<?php echo $key['table_id']; ?>" class="green-btn">
                </div>

            </div>
        </div>
    <?php }
    ?>
</div>
