<?php
/**
 * This view is used tosave the email template
 * @package    Setting
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>         
      <div class="create-contacts">
        <div class="breadcrumb contact-breadcrumb">
          <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="accordion-detail">
          <form action="" method="get">
            <div class="head no-img"><span><?php echo $translator['L_VIEW_EMAIL_TEMPLATE'] ?></span></div>
            <div class="detail-section">
              <div class="common-form">
                <div class="row">
                  <div class="col1">
                    <label><?php echo $translator['L_NAME'] ?></label>
                    <span class="view-text"><?php echo stripslashes($this->searchResult['email_title'])?></span> </div>
                  <div class="col1">
                    <label><?php echo $translator['L_DESCRIPTION'] ?></label>
                    <span class="view-text"><?php echo stripslashes($this->searchResult['email_description'])?></span> </div>
                </div>
                <div class="row no-padd">
                  <div class="col1">
                    <label><?php echo $translator['L_SUBJECT'] ?></label>
                    <span class="view-text"><?php echo stripslashes($this->searchResult['email_subject'])?></span>
                    <div class="full m-t-5">
                      <label>&nbsp;</label>

                      <?php if($this->searchResult['email_set_text'] == 1)
                                echo '<span class="view-text">Set Text Only</span>';
                        ?>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col1">
                    <label><?php echo $translator['L_BODY'] ?></label>
                    <span class="view-text"><?php 
                    echo  str_replace('{--SiteHomeURL--}',SITE_URL,stripslashes($this->searchResult['email_message_body']));?></span> </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    