<?php
/**
 * This view is used to show dropdown content
 * @package    Setting
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var MASTER_TABLE="' . $this->mstTable . '";';
$var .=' var FIELD="' . $this->field . '";';
$var .=' var FIELD2="' . $this->field2 . '";';
$var .=' var ID="' . $this->id . '";';
$var .=' var DISPLAY_NAME="' . $this->displayName . '";';
$var .=' var IDFIELD="' . $this->idField . '";';
//echo $var;
$this->inlineScript()->captureEnd();
$content = $this->contentArray;
//echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/setting.popup.js?v='.$this->layout()->getVariable('jsVersion'));
//echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.tablednd.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script>
<?php 
echo $var;
?>
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.jqGrid.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.validate.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/grid.locale-en.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/setting/setting.popup.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.tablednd.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>


<style>
    .ui-jqgrid .ui-pg-button .ui-icon-plus {display: block !important;}
</style>
<?php 
if(isset($mstTable) && !empty($mstTable)){
?>
<div class="detail-section p-t-0 p-b-0">
    <div class="row no-padd">
        <h3><?php echo $translator['NAME']; ?> - <?php echo $this->displayName; ?></h3>

        <div class="grid-section">
            <div class="grid-box dropdown-popup" id="gview_list">
                <table id="list"></table>
                <div id="pcrud"></div>
                <br><br>
            </div>
        </div>
        <div class="btm-detail">
            <div class="row common-form">
                <?php
                $form = $this->addDropdown;
                $form->prepare();
                echo $this->form()->openTag($form);
                echo $this->formRow($form->get('delId'));
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
    </div>
</div>
<?php } ?>
