<?php
/**
 * This view is used to search membership
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/membership.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts common-form">
    <h2><?php echo $translator['L_MEMBERSHIP']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text">You can create new membership by clicking <a href="<?php echo $this->url('addCrmMembership', array('action' => 'addCrmMembership')); ?>">Create New Membership</a>.</p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
    </div>
</div>

<div class="grid-section">
    <div class="grid-box">
      
        <table id="list"></table>
        <div id="pcrud"></div>
      
    </div>
</div>
<div style='display:none'>
    <div id='delete_membership_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_MEMBERSHIP_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_membership" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_membership" class="green-btn">
        </div>
    </div>
</div>