<?php
/**
 * This view is used to manage the stock notification
 * @package    Setting
 * @author     Icreon Tech - SR
 */

$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd() ;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/stock.js?v='.$this->layout()->getVariable('jsVersion'));
?>
 
 <div class="create-contacts">
        <h2><?php echo $translator['SETTING']?></h2>
        <div class="breadcrumb">
           <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <p class="search-text m-t-20"><?php echo $translator['L_MESSAGE1']?></p>
        <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>         
        
         <?php
            $form = $this->stockNotificationForm;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="head no-img"><span><?php echo $translator['L_STOCK_NOTIFICATION']?></span></div>
            <div class="detail-section">
              <div class="common-form">
                <div class="row">
                 <label class="width-190">&nbsp;</label>
                   <?php echo $this->formRow($form->get('is_send')); ?>
                  <label class="check" for='check-1'><?php echo $translator['L_MESSAGE2']?></label>
                </div>
              
                <div class="row">
                  <label class="width-190"><?php echo $translator['L_NOTIFICATION_RECIPIENTS']?></label>
                  <?php echo $this->formRow($form->get('notification_recipient')); ?>
                  
                  <span class="age-year pad-l-190"><?php echo $translator['L_MESSAGE3']?></span> </div>
                <div class="row">
                  <label class="width-190"><?php echo $translator['L_MESSAGE_SUBJECT']?></label>
                  <?php echo $this->formRow($form->get('subject')); ?>
                  <span class="age-year pad-l-190"><?php //echo $translator['L_MESSAGE3']?></span> </div>
                <div class="row no-padd">
                  <label class="width-190"><?php echo $translator['L_MESSAGE_TEXT']?></label>
                  <?php echo $this->formRow($form->get('message')); ?>
                  <span class="age-year no-padd"><?php echo $translator['L_MESSAGE4']?></span> </div>
              </div>
            </div>
            
            <div class="row common-form m-t-10">
              <?php echo $this->formRow($form->get('save')); ?>
            </div>
          
        </div>
      </div>