<?php
/**
 * This view is used to manage the gl code
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/setting/glcode.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<style>
    .create-contacts .col2{width:18%}
    .create-contacts .col2 input{width:80%}
    .create-contacts .checkbox-col{float-left;width:75px; margin-top:8px; float:left}
    .create-contacts .row.heading label, .create-contacts .row.heading .col2, .create-contacts .row.heading .checkbox-col{font-weight:bold; padding-top:0px; font-size:14px;}
    .create-contacts .row.heading .checkbox-col{margin-top:0px;}
</style>
<div class="create-contacts">
    <h2>Settings</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>         

        <?php
        $form = $this->glCodeForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_GL_CODE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form gl-code">
                <div class="row heading">
                    <label class="width-190">Type</label>
                    <div class="col2">GL Code</div>
                    <div class="col2">Department</div>
                    <div class="col2">Designation</div>
                    <div class="col2">Allocation</div>
                    <div class="checkbox-col">Restricted</div>
                </div>
                <div class="row">
                    <label class="width-190"><?php echo $translator['L_WALL_OF_HONOR'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('W_O_H')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('W_O_H_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('W_O_H_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('W_O_H_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('W_O_H_restriction')); ?></div>
                    <label class="check" for="W_O_H_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row">
                    <label class="width-190"><?php echo $translator['L_FLAG_OF_FACES'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('F_O_F')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('F_O_F_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('F_O_F_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('F_O_F_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('F_O_F_restriction')); ?></div>
                    <label class="check" for="F_O_F_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_INVENTORY'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('INV')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('INV_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('INV_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('INV_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('INV_restriction')); ?></div>
                    <label class="check" for="INV_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_UNRESTRICTED_DONCATIONS'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('UN_DON_restriction')); ?></div>
                    <label class="check" for="UN_DON_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_UNRESTRICTED_DONATIONS_MAJOR'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_M')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_M_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_M_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('UN_DON_M_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('UN_DON_M_restriction')); ?></div>
                    <label class="check" for="UN_DON_M_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_KIOSK_FEES'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('KIO_FEE')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('KIO_FEE_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('KIO_FEE_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('KIO_FEE_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('KIO_FEE_restriction')); ?></div>
                    <label class="check" for="KIO_FEE_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_PASSENGER_DOCUMENTS'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('PASS_DOC')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('PASS_DOC_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('PASS_DOC_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('PASS_DOC_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('PASS_DOC_restriction')); ?></div>
                    <label class="check" for="PASS_DOC_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <!--  <div class="row no-padd">
                     <label class="width-190"><?php //echo $translator['L_INVENTORY_PRODUCTS']     ?></label>
                <?php //echo $this->formRow($form->get('INV_PRO')); ?>
                             <span class="age-year pad-l-190">&nbsp;</span>
                         </div> -->
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_SHIPING_AND_HANDLING'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('SHI_AND_HAND')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('SHI_AND_HAND_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('SHI_AND_HAND_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('SHI_AND_HAND_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('SHI_AND_HAND_restriction')); ?></div>
                    <label class="check" for="SHI_AND_HAND_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_TAXES'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('TAX')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('TAX_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('TAX_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('TAX_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('TAX_restriction')); ?></div>
                    <label class="check" for="TAX_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_DISCOUNT'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('DISCOUNT')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('DISCOUNT_department')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('DISCOUNT_designation')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('DISCOUNT_allocation')); ?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('DISCOUNT_restriction')); ?></div>
                    <label class="check" for="DISCOUNT_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span> 
                </div>
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_REFUNDS'] ?></label>
                    <div class="col2"><?php echo $this->formRow($form->get('REFUND')); ?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('REFUND_department'));?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('REFUND_designation'));?></div>
                    <div class="col2"><?php echo $this->formRow($form->get('REFUND_allocation'));?></div>
                    <div class="checkbox-col"><?php echo $this->formRow($form->get('REFUND_restriction')); ?></div>
                    <label class="check" for="REFUND_restriction">&nbsp;</label>
                    <span class="age-year pad-l-190">&nbsp;</span>
                    <?php
                    echo $this->formRow($form->get('csrf'));
                    ?>
                </div>
                <div class="row no-padd">
                    <span class="age-year pad-l-190"> <span class="red">*</span>GL Codes are only numeric values. e.g. " 4210 "</span>
                </div>
            </div>
            <div class="row common-form m-t-10 no-padd">
                <?php echo $this->formRow($form->get('save')); ?>
                </div>

            </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
