<?php
/**
 * This file is for form of afihc
 * @package    User
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
 
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);
$script = <<<EOD
var counter = $counter;
    var container = $container;
EOD;
echo $this->inlineScript()->prependScript($script)
					      ->prependScript($var);
						  
$form_afihc = $this->form_afihc;
$form_afihc->prepare();
?>

<?php echo $this->formRow($form_afihc->get('afihc[]')); ?>
<div id="afihc_addMinus<?php echo $params['counter'] ?>" class="addMinus">
    <a  class='minus' onclick=remove_dynamic_contacts('.<?php echo $params['container'].$params['counter']; ?>','<?php echo $params['counter']; ?>')></a>
    <a class="plus m-l-5" id="new_afihc_div" href="javascript:void(0)"></a>
</div>   
