<?php
/**
 * This file is used to display all detail of user
 * @package    User
 * @author     Icreon Tech - DG
 */
$var = '';
$var .=' var tableName="' . $this->Encrypt($tableName) . '";';
$var .=' var tableField="' . $this->Encrypt($tableField) . '";';
$userType = $user_detail['user_type'];

$script = <<<EOD
$(function() {
        $('.accordion-detail .head').addClass('active');
        $(".accordion-detail .detail-section").show();
        $(".expand").click(function() {
            var te = $(this).text();
            if (te == 'Expand All')
            {
                $(this).text('Collapse All');
                $(".accordion-detail .detail-section").show();
                $('.accordion-detail .head').addClass('active');
            }
            else
            {
                $(this).text('Expand All');
                $(".accordion-detail .detail-section").hide();
                $('.accordion-detail .head').removeClass('active');
            }
        })
    });
	function showAfihc() {
        $.colorbox({
            href: '#afihc_content',
            width: "500px",
            height: "400px",
            inline: true
        });
    }
EOD;
echo $this->inlineScript()->prependScript($script)
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/lead/crm.lead.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<div class="create-contacts">
    <div class="view-contact-bg">                
        <div class="inner-padding">
            <div class="accordion-detail">
                <div class="breadcrumb contact-breadcrumb">
                    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
                </div>
                <br>
                <ul class="edit-link">
                    <li><a id="tab-15" href="javascript:void(0);" onClick="viewContactNewWindow()">New Window</a></li>
                    <li><a class="expand" href="#">Collapse All</a></li>
                </ul>
                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_CONTACT_INFOMATION']; ?></span></div>
                <div class="detail-section white-bg" style="display: none;">
                    <div class="view-row contact-photo">
                        <div class="col2 photo">
                            <?php
                            if ($user_detail['profile_image'] != '') {
                                $fileName = $uploadedFilePath . "image/thumbnail/" . $user_detail['profile_image'];
                                $filePath = $assetsUploadDir . "image/thumbnail/" . $user_detail['profile_image'];
                                if (file_exists($filePath)) {
                                    echo '<img src="' . $fileName . '">';
                                } else {
                                    echo '<img src="' . $this->layout()->getVariable('imageFilePath') . '/img/user_no_image.jpg">';
                                }
                            } else {
                                echo '<img src="' . $this->layout()->getVariable('imageFilePath') . '/img/user_no_image.jpg">';
                            }
                            ?>
                        </div>
                        <div class="col2">&nbsp;</div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_USERNAME']; ?></strong><br><?php echo isset($user_detail['username']) ? $user_detail['username'] : '&nbsp;'; ?></div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_TYPE']; ?></strong><br><?php echo isset($user_detail['type_name']) ? $user_detail['type_name'] : '&nbsp;'; ?></div>
                        <?php if ($userType == 1) { ?>
                            <div class="col2" style="word-wrap:break-word;"><strong><?php echo $jsLangTranslate['L_NAME']; ?></strong><br><?php echo isset($user_detail['title']) ? $user_detail['title'] : '&nbsp;'; ?> <?php echo isset($user_detail['first_name']) ? $user_detail['first_name'] : '&nbsp;'; ?> <?php echo isset($user_detail['middle_name']) ? $user_detail['middle_name'] : '&nbsp;'; ?> <?php echo isset($user_detail['last_name']) ? $user_detail['last_name'] : '&nbsp;'; ?> <?php echo isset($user_detail['suffix']) ? $user_detail['suffix'] : '&nbsp;'; ?></div>
                        <?php } else { ?>
                            <div class="col2" style="word-wrap:break-word;"><strong><?php echo $jsLangTranslate['L_COMPANY_NAME']; ?></strong><br><?php echo isset($user_detail['company_name']) ? $user_detail['company_name'] : '&nbsp;'; ?> </div>                            
                        <?php } ?>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_CONTACT_ID']; ?></strong><br><?php echo isset($user_detail['contact_id']) ? $user_detail['contact_id'] : '&nbsp;'; ?></div>
                    </div>

                    <div class="view-row">
                        <div class="col2">&nbsp;</div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_EMAIL']; ?></strong><br><?php echo isset($user_detail['email_id']) ? $user_detail['email_id'] : '&nbsp;'; ?></div>
                        <?php if ($userType == 1) { ?>
                        <?php } else { ?>
                            <div class="col2" style="word-wrap:break-word;"><strong><?php echo $jsLangTranslate['L_LEGAL_NAME']; ?></strong><br><?php echo isset($user_detail['legal_name']) ? $user_detail['legal_name'] : '&nbsp;'; ?> </div>
                            <div class="col2" style="word-wrap:break-word;"><strong><?php echo $jsLangTranslate['L_SIC_CODE']; ?></strong><br><?php echo isset($user_detail['sic_code']) ? $user_detail['sic_code'] : '&nbsp;'; ?> </div>
                            <?php
                        }
                        if (isset($user_detail['omx_customer_number']) && !empty($user_detail['omx_customer_number'])) {
                            ?>
                            <div class="col2" style="word-wrap:break-word;"><strong><?php echo $jsLangTranslate['L_OMX_CUSTOMER_NO']; ?></strong><br><?php echo $user_detail['omx_customer_number']; ?> </div>
                        <?php } ?>
                    </div>


                    <div class="view-row">
                        <div class="col2">&nbsp;</div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_SOURCE']; ?></strong><br><?php echo isset($user_detail['source_name']) ? $user_detail['source_name'] : null; ?></div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_ASSOCIATION']; ?></strong><br><?php echo isset($user_detail['association']) && $user_detail['association'] == 1 ? 'Account' : 'Non-Account'; ?></div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_MEMBERSHIP']; ?></strong><br><?php echo isset($user_detail['membership_title']) ? $user_detail['membership_title'] : null; ?></div>
                        <?php if ($userType == 1) { ?>
                            <div class="col2"><strong><?php echo $jsLangTranslate['L_AFHIC']; ?>#</strong><br>
                                <?php if (!empty($user_afhic)) echo $user_afhic[0]['afihc_code']; ?>
                                <?php if (!empty($user_afhic) && count($user_afhic) > 1) { ?>
                                    <a class="link p-l-15" href="javascript:void(0);" onclick="showAfihc();">View</a>
                                <?php } ?> </div>
                        <?php } ?>
                    </div>

                    <!--                    <div class="view-row ">
                                            <div class="col2">&nbsp;</div>
                                            <div class="col2"><strong>Country</strong><br><?php //echo isset($user_detail['country_name']) ? $user_detail['country_name'] : '&nbsp;';                   ?></div>
                                            <div class="col2"><strong>Zip / Postal Code</strong><br><?php //echo isset($user_detail['zip_code']) ? $user_detail['zip_code'] : '&nbsp;';                   ?></div>
                                            <div class="col2"><strong><?php //echo $jsLangTranslate['L_SUFIIX'];                   ?></strong><br><?php //echo isset($user_detail['suffix']) ? $user_detail['suffix'] : '&nbsp;';                   ?></div>
                                        </div>-->
                    <?php
                    if (!empty($user_phone_info)) {
                        ?>
                        <div class="view-row no-padd">
                            <div class="col2"><strong><?php echo $jsLangTranslate['L_PHONE_TYPE']; ?></strong></div>
                            <div class="col2"><strong><?php echo $jsLangTranslate['L_COUNTRY_CODE']; ?></strong></div>
                            <div class="col2"><strong><?php echo $jsLangTranslate['L_AREA_CODE']; ?></strong></div>
                            <div class="col2"><strong><?php echo $jsLangTranslate['L_PHONE_NUMBER']; ?></strong></div>                            
                            <div class="col2"><strong>Extension</strong></div>                            
                        </div>

                        <?php
                        foreach ($user_phone_info as $key => $val) {
                            if ($key == count($user_phone_info) - 1) {
                                $class = "";
                            } else {
                                $class = "no-padd";
                            }
                            ?>
                            <div class="view-row <?php echo $class; ?>">
                                <div class="col2">
                                    <?php
                                    if (isset($val['type']) && $val['type'] != '') {
                                        if ($val['type'] == 'home')
                                            echo "Home";
                                        else if ($val['type'] == 'cell')
                                            echo "Mobile";
                                        else if ($val['type'] == 'work')
                                            echo "Work";
                                        else if ($val['type'] == 'fax')
                                            echo "Fax";
                                        else if ($val['type'] == 'board')
                                            echo "Board";
                                        else if ($val['type'] == 'main')
                                            echo "Main";
                                        else if ($val['type'] == 'direct')
                                            echo "Direct";
                                        else
                                            echo "Others";
                                    }else {
                                        echo "&nbsp;";
                                    }
                                    ?>
                                </div>
                                <div class="col2"><?php echo (isset($val['country_code']) && $val['country_code'] != '') ? $val['country_code'] : 'N/A'; ?></div>
                                <div class="col2"><?php echo (isset($val['area_code']) && $val['area_code'] != '') ? $val['area_code'] : 'N/A'; ?></div>
                                <div class="col2"><?php echo (isset($val['phone_number']) && $val['phone_number'] != '') ? $val['phone_number'] : 'N/A'; ?></div>
                                <div class="col2">
                                    <?php
                                    echo isset($val['extension']) && $val['extension'] != '' ? $val['extension'] : 'N/A';
                                    if (isset($val['is_primary']) && $val['is_primary'] == 1) {
                                        echo " (Primary)";
                                    }
                                    ?>
                                </div>
                            </div>
                            <?php
                        }
                    }
                    ?>
                    <div class="view-row no-padd">
                        <div class="col2">&nbsp;</div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_SECURITY_QUESTION']; ?></strong></div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_SECURITY_ANSWER']; ?></strong></div>
                        <div class="col2"><strong><?php echo $jsLangTranslate['L_LOGIN_ENABLE']; ?></strong></div>

                    </div>
                    <div class="view-row no-padd">
                        <div class="col2">&nbsp;</div>
                        <div class="col2"><strong><?php echo (isset($user_detail['security_question']) && $user_detail['security_question'] != '') ? $user_detail['security_question'] : '&nbsp;'; ?></strong></div>
                        <div class="col2"><strong><?php echo (isset($user_detail['security_answer']) && $user_detail['security_answer'] != '') ? $user_detail['security_answer'] : '&nbsp;'; ?></strong></div>
                        <div class="col2"><strong><?php echo ($user_detail['is_login_enabled'] == 1) ? "Yes" : "No"; ?></strong></div>

                    </div>


                </div>
                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_STATUS']; ?></span></div>
                <div class="detail-section white-bg" style="display: none;">
                    <div class="view-row no-padd">
                        <div class="col6"><strong><?php echo $jsLangTranslate['L_STATUS']; ?></strong><br><?php echo (isset($user_detail['is_active']) && $user_detail['is_active'] == 1) ? 'Active' : 'Inactive'; ?></div>
                        <div class="col6"><strong><?php echo $jsLangTranslate['L_CREATION_DATE']; ?></strong><br><?php echo isset($user_detail['added_date']) && ($user_detail['added_date'] != '0000-00-00 00:00:00') ? $this->Dateformatalpha($user_detail['added_date'], 'dateformatampm') : null; ?></div>
                        <div class="col6"><strong><?php echo $jsLangTranslate['L_UPDATED_DATE']; ?></strong><br><?php echo isset($user_detail['modified_date']) && ($user_detail['modified_date'] != '0000-00-00 00:00:00') ? $this->Dateformatalpha($user_detail['modified_date'], 'dateformatampm') : null; ?></div>
                        <div class="col6"><strong><?php echo $jsLangTranslate['L_LOGIN_DATE']; ?></strong><br><?php echo isset($user_detail['login_date']) && ($user_detail['login_date'] != '0000-00-00 00:00:00') ? $this->Dateformatalpha($user_detail['login_date'], 'dateformatampm') : 'N/A'; ?></div>
                    </div>
                </div>
                <?php if ($userType == 1) { ?>
                    <div class="head no-padd"><span><?php echo $jsLangTranslate['L_ALTERNATE_CONTACT']; ?></span></div>
                    <?php
                    if (!empty($alternate_contact)) {
                        ?>
                        <div class="detail-section white-bg" style="display: none;">
                            <div class="view-row no-padd">
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_NAME']; ?></strong><br><?php echo isset($alternate_contact['name']) ? $alternate_contact['name'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_EMAIL']; ?></strong><br><?php echo isset($alternate_contact['email_id']) ? $alternate_contact['email_id'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_PHONE']; ?></strong><br><?php echo isset($alternate_contact['phone']) ? $alternate_contact['phone'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_RELATIONSHIP']; ?></strong><br><?php echo isset($alternate_contact['relationship']) ? $alternate_contact['relationship'] : null; ?></div>
                            </div>
                        </div>
                        <?php
                    } else {
                        echo '<div class="detail-section white-bg" style="display: none;"></div>';
                    }
                }
                ?>

                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_ADDRESS_INFORMATION']; ?></span></div>
                <?php
                if (!empty($user_address_info)) {
                    echo '<div class="detail-section white-bg" style="display: none;">';
                    foreach ($user_address_info as $val) {
                        ?>
                        <div class="change-detail-bg">
                            <div class="view-row">
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_LOCATION_TYPE']; ?></strong><br><?php echo isset($val['location_type']) ? $val['location_type'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_PRIMARY_LOC']; ?></strong><br>
                                    <?php
                                    if (isset($val['location_name']) && $val['location_name'] != '') {
                                        $locationType = explode(",", $val['location_name']);
                                        if (in_array(1, $locationType)) {
                                            echo 'Yes';
                                        } else {
                                            echo 'No';
                                        }
                                    }
                                    ?>
                                </div>
                                <div class="col6"><strong>Billing Location<?php //echo $jsLangTranslate['L_PRIMARY_LOC'];                                                 ?></strong><br>
                                    <?php
                                    if (isset($val['location_name']) && $val['location_name'] != '') {
                                        $locationType = explode(",", $val['location_name']);
                                        if (in_array(2, $locationType)) {
                                            echo 'Yes';
                                        } else {
                                            echo 'No';
                                        }
                                    }
                                    ?>
                                </div>
                                <div class="col6"><strong>Shipping Location<?php //echo $jsLangTranslate['L_PRIMARY_LOC'];                                                 ?></strong><br>
                                    <?php
                                    if (isset($val['location_name']) && $val['location_name'] != '') {
                                        $locationType = explode(",", $val['location_name']);
                                        if (in_array(3, $locationType)) {
                                            echo 'Yes';
                                        } else {
                                            echo 'No';
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                            <div class="view-row">
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_CITY']; ?></strong><br><?php echo isset($val['city']) ? $val['city'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_ADDRESS_1']; ?></strong><br><?php echo isset($val['street_address_one']) ? $val['street_address_one'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_ADDRESS_2']; ?></strong><br><?php echo isset($val['street_address_two']) ? $val['street_address_two'] : null; ?></div>

                            </div>
                            <div class="view-row no-padd">
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_STATE']; ?></strong><br><?php echo isset($val['state']) ? $val['state'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_ZIP']; ?></strong><br><?php echo isset($val['zip_code']) ? $val['zip_code'] : null; ?></div>
                                <div class="col6"><strong><?php echo $jsLangTranslate['L_COUNTRY']; ?></strong><br><?php echo isset($val['country_name']) ? $val['country_name'] : null; ?></div>
                            </div>
                        </div>

                        <?php
                    }
                    echo '</div>';
                } else {
                    echo '<div class="detail-section white-bg" style="display: none;"></div>';
                }
                ?>
                <?php if ($userType == 1) { ?>
                    <div class="head no-padd"><span><?php echo $jsLangTranslate['L_EDUCATION']; ?></span></div>
                    <?php
                    if (!empty($user_education)) {
                        echo '<div class="detail-section white-bg" style="display: none;">';
                        ?>
                        <div>
                            <div class="view-row no-padd">
                                <div class="col2"><strong><?php echo $jsLangTranslate['L_DEGREELEVEL']; ?></strong></div>
                                <div class="col2"><strong><?php echo $jsLangTranslate['L_INSTRUCTIONS']; ?></strong></div>
                                <div class="col2"><strong><?php echo $jsLangTranslate['L_ATTENDENDED_YEAR']; ?></strong></div>
                                <div class="col2"><strong><?php echo $jsLangTranslate['L_MAJORS']; ?></strong></div>
                                <div class="col2"><strong><?php echo $jsLangTranslate['L_GPA']; ?></strong></div>
                            </div>                            
                        </div>
                        <?php
                        foreach ($user_education as $key => $val) {
                            if ($key == count($user_phone_info) - 1) {
                                $class = "";
                            } else {
                                $class = "no-padd";
                            }
                            ?>
                            <div>
                                <div class="view-row <?php echo $class; ?>">
                                    <div class="col2"><?php echo isset($val['education']) ? $val['education'] : null; ?></div>
                                    <div class="col2"><?php echo isset($val['institution']) ? $val['institution'] : null; ?></div>
                                    <div class="col2"><?php echo isset($val['attended_year']) && $val['attended_year'] != '0000' ? $val['attended_year'] : null; ?></div>
                                    <div class="col2"><?php echo isset($val['majors']) ? $val['majors'] : null; ?></div>
                                    <div class="col2"><?php echo isset($val['grade_point_average']) ? $val['grade_point_average'] : null; ?></div>
                                </div>                                
                            </div>
                            <?php
                        }
                        echo '</div>';
                    } else {
                        echo '<div class="detail-section white-bg" style="display: none;"></div>';
                    }
                    ?>
                <?php } ?>
                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_COMMUNICATION_PREFERENCES']; ?></span></div>
                <?php
                if (!empty($user_communication)) {
                    ?>
                    <div class="detail-section white-bg" style="display: none;">
                        <div class="view-row">
                            <div class="col6"><strong>Email Greetings</strong><br>
                                <?php
                                if (isset($user_communication['email_heading']) && $user_communication['email_heading'] != 'Customized') {
                                    $email_heading = str_replace('{contact.first_name}', $user_detail['first_name'], $user_communication['email_heading']);
                                    $email_heading = str_replace('{contact.individual_prefix}', $user_detail['title'], $email_heading);
                                    $email_heading = str_replace('{contact.last_name}', $user_detail['last_name'], $email_heading);
                                    echo $email_heading;
                                } else if ($user_communication['email_heading'] == 'Customized') {
                                    echo $user_communication['custom_email_greeting'];
                                }
                                ?>
                            </div>
                            <div class="col6"><strong>Postal Greetings</strong><br>
                                <?php
                                if (isset($user_communication['postal_heading']) && $user_communication['postal_heading'] != 'Customized') {
                                    $postal_heading = str_replace('{contact.first_name}', $user_detail['first_name'], $user_communication['postal_heading']);
                                    $postal_heading = str_replace('{contact.individual_prefix}', $user_detail['title'], $postal_heading);
                                    $postal_heading = str_replace('{contact.last_name}', $user_detail['last_name'], $postal_heading);
                                    echo $postal_heading;
                                } else if ($user_communication['postal_heading'] == 'Customized') {
                                    echo $user_communication['custom_postal_greeting'];
                                }
                                ?>
                            </div>
                            <div class="col6"><strong>Addressee</strong><br>
                                <?php
                                if (isset($user_communication['add_heading']) && $user_communication['add_heading'] != 'Customized') {
                                    $add_heading = str_replace('{contact.first_name}', $user_detail['first_name'], $user_communication['add_heading']);
                                    $add_heading = str_replace('{contact.middle_name}', $user_detail['middle_name'], $add_heading);
                                    $add_heading = str_replace('{contact.individual_prefix}', $user_detail['title'], $add_heading);
                                    $add_heading = str_replace('{contact.last_name}', $user_detail['last_name'], $add_heading);
                                    $add_heading = str_replace('{contact.individual_suffix}', $user_detail['suffix'], $add_heading);
                                    $add_heading = str_replace('{contact.company_name}', $user_detail['company_name'], $add_heading);
                                    echo $add_heading;
                                } else if ($user_communication['add_heading'] == 'Customized') {
                                    echo $user_communication['custom_addressee'];
                                }
                                ?>
                            </div>
                            <div class="col6"><strong>Privacy</strong><br><?php
                            if (isset($user_communication['privacy']) && $user_communication['privacy'] != '') {
                                $privacy = explode(",", $user_communication['privacy']);
                                $privacyStr = '';
                                foreach ($privacy as $val) {
                                    //1=>Do not Phone, 2=>Do not email, 3=>Do not mail, 4=>Do not SMS, 5=>Do not Trade, 6=>Once a Year
                                    if ($val == '1')
                                        $privacyStr .= 'Do not Phone';
                                    if ($val == '2')
                                        $privacyStr .='Do not email';
                                    if ($val == '3')
                                        $privacyStr .='Do not mail';
                                    if ($val == '4')
                                        $privacyStr .='Do not SMS';
                                    if ($val == '5')
                                        $privacyStr .='Do not Trade';
                                    if ($val == '6')
                                        $privacyStr .='Once a Year';

                                    $privacyStr .= ',';
                                }
                                echo rtrim($privacyStr, ",");
                            }
                                ?></div>
                        </div>
                        <div class="view-row no-padd">
                            <div class="col6"><strong>Preferred Methods </strong><br><?php
                            if (isset($user_communication['preferred_method']) && $user_communication['preferred_method'] != '') {
                                $methods = explode(",", $user_communication['preferred_method']);
                                $methodsStr = '';
                                foreach ($methods as $val) {
                                    //1=>Phone, 2=>Email, 3=>Postal Mail, 4=>SMS, 5=>Fax 
                                    if ($val == '1')
                                        $methodsStr .= 'Phone';
                                    if ($val == '2')
                                        $methodsStr .='Email';
                                    if ($val == '3')
                                        $methodsStr .='Postal Mail';
                                    if ($val == '4')
                                        $methodsStr .='SMS';
                                    if ($val == '5')
                                        $methodsStr .='Fax';

                                    $methodsStr .= ',';
                                }
                                echo rtrim($methodsStr, ",");
                            }
                                ?></div>
                        </div>
                    </div>
                    <?php
                }else {
                    echo '<div class="detail-section white-bg" style="display: none;"></div>';
                }
                ?>
                <?php if ($userType == 1) { ?>
                    <div class="head no-padd"><span><?php echo $jsLangTranslate['L_DEMOGRAPHICS']; ?></span></div>
                    <div class="detail-section white-bg" style="display: none;">
                        <div class="view-row">
                            <div class="col6"><strong><?php echo $jsLangTranslate['L_GENDER']; ?></strong> <br><?php echo isset($user_detail['gender']) && $user_detail['gender'] == 1 ? 'Male' : null; ?><?php echo isset($user_detail['gender']) && $user_detail['gender'] == 2 ? 'Female' : null; ?></div>

                            <div class="col6"><strong><?php echo $jsLangTranslate['L_MARITAL_STATUS']; ?></strong><br><?php
                if (isset($user_detail['marital_status'])) {
                    if ($user_detail['marital_status'] == 1)
                        echo 'Single';if ($user_detail['marital_status'] == 2)
                        echo 'Married';if ($user_detail['marital_status'] == 3)
                        echo 'Separated';if ($user_detail['marital_status'] == 4)
                        echo 'Divorced';
                }
                else
                    echo '';
                    ?></div>
                        </div>
                        <!--
                        <div class="view-row">
                            <strong><?php //echo $jsLangTranslate['L_DO_YOU_HAVE_CHILDREN_BELOW_EIGHTINE'];               ?></strong> <?php //echo isset($user_detail['children_below_eighteen']) && $user_detail['children_below_eighteen'] == 1 ? 'Yes' : 'No';               ?>
                        </div>
                        -->
                        <div class="view-row no-padd">
                            <div class="col6"><strong><?php echo $jsLangTranslate['L_INCOME_RANGE']; ?></strong><br><?php echo isset($user_detail['income_range']) ? $user_detail['income_range'] : null; ?></div>
                            <div class="col6"><strong><?php echo $jsLangTranslate['L_NATIONALITY']; ?></strong><br><?php echo isset($user_detail['nationality']) ? $user_detail['nationality'] : null; ?></div>
                            <div class="col6"><strong><?php echo $jsLangTranslate['L_ETHINICITY']; ?></strong><br><?php echo isset($user_detail['ethnicity']) ? $user_detail['ethnicity'] : null; ?></div>
                        </div>
                    </div>
                <?php } ?>
                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_TAGS_AND_GROUPS']; ?></span></div>
                <div class="detail-section white-bg" style="display: none;">
                    <div class="view-row no-padd">
                        <div class="col1"><strong><?php echo $jsLangTranslate['L_TAGS']; ?></strong>
                            <?php
                            if (!empty($user_tag)) {
                                foreach ($user_tag as $val) {
                                    echo "<br/>" . $val['tag_name'];
                                }
                            }
                            ?>
                        </div>
                        <div class="col1"><strong><?php echo $jsLangTranslate['L_GROUPS']; ?></strong><?php
                            if (!empty($user_group)) {
                                foreach ($user_group as $val) {
                                    ?>
                                    <br><?php echo isset($val['name']) ? $val['name'] : null; ?>
                                    <?php
                                }
                            }
                            ?>
                        </div>
                    </div>

                </div>



                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_PUBLIC_DOCS']; ?></span></div>
                <?php
                if (!empty($user_document)) {
                    ?>
                    <div class="detail-section white-bg" style="display: none;">
                        <div class="view-row">
                            <strong><?php echo $jsLangTranslate['L_DESCRIPTION']; ?></strong><br>
                            <?php echo isset($user_document['description']) ? $user_document['description'] : null; ?>
                        </div>
                        <div class="view-row no-padd">
                            <strong class="row1"><?php echo $jsLangTranslate['L_UPLOADED_FILES']; ?></strong>
                            <?php
                            if (isset($user_document['uploaded_files']) && $user_document['uploaded_files'] != '') {
                                $publicDocs = explode(",", $user_document['uploaded_files']);
                                foreach ($publicDocs as $val) {
                                    ?>
                                    <div class="full m-b-5">
                                        <a class="doc-link" href="javascript:void(0);"></a>
                                        <a class="link p-l-10 p-t-5 left" href="<?php echo $uploadedFilePath . "public_doc/" . $val; ?>" target='_blank'>
                                            <?php //echo $val;      ?>View File
                                        </a>
                                    </div>
                                    <?php
                                }
                            }
                            ?>
                        </div>
                    </div>
                    <?php
                } else {
                    echo '<div class="detail-section white-bg" style="display: none;"></div>';
                }
                ?>

                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_NOTES']; ?></span></div>
                <?php if (!empty($user_notes)) { ?>
                    <div class="detail-section white-bg" style="display: none;">
                        <?php
                        $counterAlternate = 0;
                        $classAlternate = 'alterbg';
                        foreach ($user_notes as $val) {
                            if ((isset($val['is_private']) && $val['is_private'] == 1 && $viewPrivateNotePermission == 1) || (isset($val['is_private']) && $val['is_private'] == '0')) {
                                if ($counterAlternate == 0) {
                                    $classAlternate = 'alterbg';
                                    $counterAlternate = $counterAlternate + 1;
                                } else {
                                    $classAlternate = 'alterbg alterbg-none';
                                    $counterAlternate = 0;
                                }
                                ?>

                                <div class="row <?php echo $classAlternate; ?>">
                                    <strong class="right bold m-b-10 aright">
                                        <?php
                                        if ($val['added_by'] == $userId) {
                                            if (isset($val['is_private']) && $val['is_private'] == "1") {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" checked="checked" /> <?php
                        } else {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" /> <?php
                        }
                        echo "Private";
                    }
                    if ($val['added_by'] != $userId) {
                        if (isset($val['is_private']) and trim($val['is_private']) == "1") {
                            echo "Private";
                        }
                    }
                                        ?>
                                    </strong>
                                    <p class="text"><?php echo $val['note']; ?></p>
                                    <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($val['added_date'], 'dateformatampm'); ?> by <?php echo $val['crm_first_name']; ?></p>
                                </div>                           
                                <?php
                            }
                        }
                        echo '</div>';
                    } else {
                        echo '<div class="detail-section white-bg" style="display: none;"></div>';
                    }
                    ?>
                    <?php if ($userType != 1) { ?>
                        <div class="head no-padd"><span><?php echo $jsLangTranslate['L_WEBSITE']; ?></span></div>
                        <?php
                        if (!empty($user_website)) {
                            echo '<div class="detail-section white-bg" style="display: none;">';
                            foreach ($user_website as $val) {
                                ?>
                                <div>
                                    <div class="view-row">
                                        <?php
                                        if (isset($val['website_url'])) {
                                            if (strpos("http://", $val['website_url']))
                                                echo '<a target="_blank" class="link" href="' . $val['website_url'] . '">' . $val['website_url'] . '</a>';
                                            else
                                                echo '<a target="_blank" class="link" href="http://' . $val['website_url'] . '">' . $val['website_url'] . '</a>';
                                        }
                                        ?>
                                    </div>
                                </div>
                                <?php
                            }
                            echo '</div>';
                        } else {
                            echo '<div class="detail-section white-bg" style="display: none;"></div>';
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='afihc_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>        
        <h2><?php echo $jsLangTranslate['L_VIEW']; ?> <?php echo $jsLangTranslate['L_AFHIC']; ?></h2>
        <p class="aleft"><?php echo $jsLangTranslate['DES_AFHIC']; ?></p>
        <div class="row">       
            <?php
            if (!empty($user_afhic)) {
                foreach ($user_afhic as $val) {
                    echo "<div class='data'>" . $val['afihc_code'] . "</div>";
                }
            }
            ?>
            <div>
            </div>
        </div>
    </div>
</div>