<?php
/**
 * This file is used to get corporate address form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$corporate_form_address = $this->corporate_form_address;
$corporate_form_address->prepare();

?>
<div class="change-form-bg" style="width:97.5%; padding:15px">
<?php
echo $this->formRow($corporate_form_address->get('corporate_primary_location0'));
?>
    <div class="col1">
        <div class="row">
            <label><?php echo $translator['L_LOCATION_TYPE']; ?></label>
            <?php
            echo $this->formRow($corporate_form_address->get('corporate_addressinfo_location_type[]')->setAttribute('id', 'corporate_addressinfo_location_type' . $params['counter']));
            foreach ($location_typeDesc AS $key1 => $val1) {
                if (isset($val1) && !empty($val1))
                    echo "<div class='corporate_addressinfo_location_type" . $params['counter'] . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
            }
            ?>
        </div>

        <div class="row">
            <label>&nbsp;</label> 
            <div class="checkbox-auto">
                <span>
                    <label>&nbsp;</label> 
                    <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_another_contact_address[]')->setAttribute('onclick', 'loadIndividualContact(this.id, ' . ($params['counter']) . ',"corporate")')->setAttribute('id', 'corporate_address_search_contact' . ($params['counter']))); ?> 
                    <label for="corporate_addressinfo_another_contact_address" class="text check"><?php echo $translator['L_USE_OTHER_CONTACT_ADDRESS']; ?></label></span>
            </div>
        </div>
    </div>
    <div class="col1 right">

        <div class="row"><span class="checkbox-auto">
                <div>
                    <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_location_primary[]')); ?>                    
                </div>
                <div>
                    <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_location_billing[]')->setAttribute('name','corporate_addressinfo_location_billing[' . ($params['counter']) . ']')->setAttribute('id','corporate_addressinfo_location_billing' . ($params['counter']))); ?>
                    <label for="addressinfo_location_billing" class="text check"><?php echo $translator['L_BILLING_LOCATION']; ?></label> 
                </div>
                <div>
                    <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_location_shipping[]')->setAttribute('name','corporate_addressinfo_location_shipping[' . ($params['counter']) . ']')->setAttribute('id','corporate_addressinfo_location_shipping' . ($params['counter']))); ?>
                    <label for="addressinfo_location_shipping" class="text check"><?php echo $translator['L_SHIPPING_LOCATION']; ?></label>	
                </div>
            </span>
            <div id="corp_add_addMinus<?php echo $params['counter'] ?>" class="addMinus">
                <a href="javascript:void(0)" id="corp_new_address_div" class="plus m-r-5 right"> </a><a  class='minus m-r-5' onclick="remove_dynamic_address('.<?php echo $params['container'] . $params['counter']; ?>', '<?php echo $params['counter']; ?>')"></a>
            </div>            
            <div class="row checkbox-auto" id="corporate_apoid<?php echo $params['counter'] ?>" style="display:none;">
                
                    <?php echo $this->formRow($corporate_form_address->get('corporate_is_apo_po[]')->setAttribute('name','corporate_is_apo_po['.$params['counter'].']')->setAttribute('id','corporate_is_apo_po'.$params['counter'])); ?>
            </div>
        </div> 
    </div> 

    <div id="corporate_load_contact_section_<?php echo ($params['counter']); ?>" class="row" style="display:none;">
        <div class="col1 clear">            
            <label><?php echo $translator['L_SELECT_CONTACT'] ?></label>
            <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_search_contact[]')->setAttribute('id', 'corporate_address_search_contact' . ($params['counter']))); ?> 
        </div>
    </div>

    <div class="row no-padd" style="display:block" id="corporateAddressRow<?php echo $params['counter'] ?>">
	    <div class="row">
			<div class="col1"><label>Title</label>
				<?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_title[]')); ?></div>
			</div>    
		</div>	
        <div class="row">
            <div class="col1"><label>First Name</label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_first_name[]')); ?></div>
            <div class="col1 right"><label>Last Name</label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_last_name[]')); ?></div>
        </div>     
    
        <div class="row">
            <div class="col1"><label><?php echo $translator['L_ADDRESS_1'] ?></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_street_address_1[]')); ?></div>
            <div class="col1 right"><label><?php echo $translator['L_ADDRESS_2'] ?></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_street_address_2[]')); ?></div>
        </div>
        <div class="row">
            <div class="col1"><label><?php echo $translator['L_CITY'] ?></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_city[]')); ?></div>
            <div class="col1 right"><label><?php echo $translator['L_ZIP'] ?></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_zip[]')); ?></div>            
        </div>
        <div class="row no-padd">            
            <div class="col1" id="corporate_country_<?php echo $params['counter'] ?>"><label><?php echo $translator['L_COUNTRY'] ?><span class="red">*</span></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_country[]')); ?>
            </div>
            <div class="col1" id="corporate_apo_country_<?php echo $params['counter'] ?>" style="display:none;"><label><?php echo $translator['L_COUNTRY'] ?><span class="red">*</span></label>
            <?php echo $this->formRow($corporate_form_address->get('corporate_address_country_id[]')); ?>
            </div>
            <div class="col1 right" id="corporate_state_<?php echo $params['counter']; ?>"><label><?php echo $translator['L_STATE'] ?></label>
                <?php echo $this->formRow($corporate_form_address->get('corporate_addressinfo_state[]')); ?>
            </div>
            <div class="col1 right" id="corporate_usa_state_<?php echo $params['counter']; ?>" style="display: none;"><label><?php echo $translator['L_STATE'] ?></label>
                    <?php echo $this->formRow($corporate_form_address->get('corporate_address_state_id[]')); ?>
            </div>
            <div class="col1 right" id="corporate_apo_state_<?php echo $params['counter']; ?>" style="display: none;"><label><?php echo $translator['L_STATE'] ?></label>
                    <?php echo $this->formRow($corporate_form_address->get('corporate_address_state_apo[]')); ?>
            </div>
        </div>
    </div>
</div>
<?php
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter = $counter;
    var container = $container;
	$(function() {
        $("select.e1").select2();
		$(document).on('change', 'select[name="corporate_addressinfo_location_type[]"]', function() {

            if (this.value != '')
                $("." + this.id + this.value).show();
            else
                $("." + this.id + this.value).hide();
        });
    });
	$($(".address-checkbox")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            var id_name = '';
            if (input.attr('id') == 'undefined' || input.attr('id') == '' || input.attr('id') == undefined || input.attr('id') == null) {
                id_name = input_class['1'] + '_' + i;
            } else {
                id_name = input.attr('id');
            }
            input.attr({'id': id_name});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': id_name}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".address-checkbox").customInput();
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);
?>