<?php
/**
 * This page is use for create new contact in popup
 * @package    User
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.popup.contact.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<style>
.pop-container .row label{margin-bottom:0px;}
</style>
<div class="pop-container">
    <h3><?php echo $translator['L_CREATE_NEW_CONTACT']; ?></h3>
    <div class="popup-form create-contacts create-new-contact-popup">
        <?php
        $form = $this->contact_popup_form;
        $form->setAttribute('action', $this->url('createpopupcontact', array('action' => 'createpopupcontact')));
        $form->prepare();
        echo $this->form()->openTag($form); ?>
        <div class="col1">
            <div class="row"><label><?php echo $translator['L_TITLE']; ?></label><?php echo $this->formRow($form->get('title')); ?> </div>
            <div class="row"><label><?php echo $translator['L_MIDDLE_NAME']; ?></label><?php echo $this->formRow($form->get('middle_name')); ?> </div>
            <div class="row"><label><?php echo $translator['L_SUFFIX']; ?></label><?php echo $this->formRow($form->get('suffix')); ?> </div>
            <div class="common-form p-b-30 p-t-10"> <?php echo $this->formRow($form->get('savecontact')); ?></div>
        </div>

        <div class="col1 right">
            <div class="row"><label><?php echo $translator['L_FIRST_NAME']; ?><span class="red">*</span></label><?php echo $this->formRow($form->get('first_name')); ?> </div>
            <div class="row"><label><?php echo $translator['L_LAST_NAME']; ?><span class="red">*</span></label><?php echo $this->formRow($form->get('last_name')); ?> </div>
            <div class="row"><label><?php echo $translator['L_EMAIL_ADDRESS']; ?><span class="red">*</span></label><?php echo $this->formRow($form->get('email_id')); ?> </div>
        </div>



        <?php echo $this->form()->closeTag(); ?>

    </div>
</div>


