<?php
/**
 * This file is used to get education form
 * @package    User
 * @author     Icreon Tech - DG
 */
 $translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
 $container = json_encode($params['container']);
 $script = <<<EOD
var counter = $counter;
    var container = $container;
    $(function() {
        $("select.e1").select2();
    });
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);

$form_education = $this->form_education;
$form_education->prepare();
?>
<div class="row1">
    <div class="col2"><span class="text-large"><?php echo $translator['L_DEGREELEVEL'] ?></span></div>
    <div class="col2"><span class="text-large"><?php echo $translator['L_INSTRUCTIONS'] ?></span></div>
    <div class="col2"><span class="text-large"><?php echo $translator['L_ATTENDENDED_YEAR'] ?></span></div>
    <div class="col2"><span class="text-large"><?php echo $translator['L_MAJORS'] ?></span></div>
    <div class="col2"><span class="text-large"><?php echo $translator['L_GPA'] ?></span></div>
</div>
<div class="row1 no-padd">
    <div class="col2"> 
        <?php
        echo $this->formRow($form_education->get('edu_degree_level[]')->setAttribute('id', 'edu_degree_level' . $params['counter']));
        foreach ($education_desc AS $key => $val) {
            if (isset($val) && !empty($val))
                echo "<div class='edu_degree_level" . $params['counter'] . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
        }
        ?>                     
    </div>
    <div class="col2">
        <?php echo $this->formRow($form_education->get('edu_institution[]')); ?>      
    </div>
    <div class="col2">
        <?php echo $this->formRow($form_education->get('edu_attended_year[]')); ?>      
    </div>
    <div class="col2">
        <?php echo $this->formRow($form_education->get('edu_major[]')); ?>      
    </div>
    <div class="col3" style="width:12%">
        <?php echo $this->formRow($form_education->get('edu_gpa[]')); ?> </div>
    <div id="edu_addMinus<?php echo $params['counter'] ?>" class="addMinus">
        <a  class="minus m-l-5" href="javascript:void(0)" id="remove" onclick="remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>', '<?php echo $params['counter']; ?>')"></a>
        <a class="plus m-l-5" href="javascript:void(0)" id="add_new_edu"></a>
    </div>
</div>
