<?php
/**
 * This view is used to search contact for admin
 * @package    User
 * @author     Icreon Tech - AS
 */
$country_list = $this->country_list;
$company_name = $this->company_name;

$countryList = array();
for ($i = 1; $i <= count($country_list); $i++) {
    $countryList[$i]['id'] = $i;
    $countryList[$i]['value'] = $country_list[$i];
}

$companyList = array();

foreach ($company_name as $key => $val) {
    $companyList[$key]['id'] = $key;
    $companyList[$key]['value'] = $val;
}
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var newContact = "' . $newContact . '";';
$country = json_encode($countryList);
$company = json_encode($companyList);
$script = <<<EOD
var country= $country;
var company= $company;
EOD;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/search.contact.membership.package.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendScript($script)
        ->prependScript($var);
?>
<div class="create-contacts get-contact">
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <h2>Membership Package</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text">This screen allows the user to view all the Membership records that are awaiting response. <br>Search Contacts by filling the following filters, or just do a blank search for the full Contacts list. If you do not find the contact you seek, you can <a href="/create-contact">Create New Contact</a>. Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.</p>
    <div class="accordion-detail">
        <div class="head no-img"><span>Search Contacts</span></div>


        <div class="detail-section">
            <?php
            $form = $this->search_contact_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_USERNAME_EMIAL']; ?></label>
                        <?php echo $this->formRow($form->get('user_email')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PHONE']; ?></label>
                        <?php echo $this->formRow($form->get('phone')); ?>
                    </div>                
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TRANSACTION']; ?></label>
                        <?php echo $this->formRow($form->get('transaction')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CONTACT_ID']; ?></label>
                        <?php echo $this->formRow($form->get('contact_id')); ?>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_MEMBERSHIP_TITLE']; ?></label>
                        <?php echo $this->formRow($form->get('membership_title')); ?>
                    </div>
                </div>
                
                 <div class="row">
                <div class="col1">  
                    <label><?php echo $translator['L_REGISTRATION_DATE']; ?></label>
                    <?php echo $this->formRow($form->get('registration_date')); ?></div>
                    <div class="col1 right">
                        <span id="registration_date_selection" style="display:none;">
                            <label><?php echo $translator['L_FROM_DATE']; ?></label>
                            <?php echo $this->formRow($form->get('registration_date_from')); ?>                                
                            <label class="auto">-<?php echo $translator['L_TO_DATE']; ?>-</label>
                            <?php echo $this->formRow($form->get('registration_date_to')); ?>                                
                         </span>
                    </div>
                </div>
                
                <div id="contact-hideshow">

                    <div class="row">
                        <div class="col1">  <label><?php echo $translator['L_LAST_TRANSACTION']; ?></label>
                            <?php echo $this->formRow($form->get('last_transaction')); ?></div>
                        <div class="col1 right"><span id="date_selection">
                                <label><?php echo $translator['L_FROM_DATE']; ?></label>
                                <?php echo $this->formRow($form->get('from_date')); ?>                                
                                <label class="auto">-<?php echo $translator['L_TO_DATE']; ?>-</label>
                                <?php echo $this->formRow($form->get('to_date')); ?>                                
                            </span></div>
                    </div>

                    <div class="row">
                        <div class="col1"><label><?php echo $translator['L_AFHIC']; ?></label>
                            <?php echo $this->formRow($form->get('afihc')); ?></div>
                        <div class="col1 right"><label><?php echo $translator['L_MEMBERSHIP_ID']; ?></label>
                            <?php echo $this->formRow($form->get('membership_id')); ?></div>
                    </div>


                    <div class="row">
                        <div class="col1"><label><?php echo $translator['L_SOURCE']; ?></label>
                            <?php echo $this->formRow($form->get('source')); ?></div>
                        <div class="col1 right"><label><?php echo $translator['L_TYPE']; ?></label>
                            <?php echo $this->formRow($form->get('type')); ?></div>
                    </div>


                    <div class="row">
                        <div class="col1"><label class="no-padd"><?php echo $translator['L_MEMBERSHIP']; ?><br>
                                <?php echo $translator['L_PACKAGE_SHIPPED']; ?></label>
                            <?php echo $this->formRow($form->get('membership_package_shipped')); ?></div>
                        <div class="col1 right">  <span id="membership_year_section" style="display:none;">
                                <label><?php echo $translator['L_MEMBERSHIP_YEAR']; ?></label>
                                <?php echo $this->formRow($form->get('membership_year')); ?>
                            </span></div>
                    </div>
                    <div class="row">
                        <div class="col1">  <label><?php echo $translator['L_COMPANY']; ?></label>
                            <?php echo $this->formRow($form->get('company')); ?>
                            <?php echo $this->formRow($form->get('company_id')); ?></div>
                        <div class="col1 right"> <label><?php echo $translator['L_GROUPS']; ?></label>
                            <?php echo $this->formRow($form->get('groups')); ?></div>
                    </div>


                    <div class="row">
                        <div class="col1">   <label><?php echo $translator['L_ASSOCIATION']; ?></label>
                            <?php echo $this->formRow($form->get('association')); ?></div>
                        <div class="col1 right">  <label><?php echo $translator['L_ZIP']; ?></label>
                            <?php echo $this->formRow($form->get('zip')); ?></div>
                    </div>

                    <div class="row">
                        <div class="col1"> <label><?php echo $translator['L_GENDER']; ?></label>
                            <?php echo $this->formRow($form->get('gender')); ?></div>
                        <div class="col1 right"><label><?php echo $translator['L_COUNTRY']; ?></label>
                            <?php echo $this->formRow($form->get('country')); ?>
                            <?php echo $this->formRow($form->get('country_id')); ?></div>


                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_STATE']; ?></label>
                            <div id="state_text_block" style="display:none;">
                                <?php echo $this->formRow($form->get('state')); ?>
                            </div>
                            <div id="state_text_select">
                                <?php echo $this->formRow($form->get('state_select')); ?>
                            </div>
                            <div class="row p-t-10 p-b-0">
                                <label>&nbsp;</label>
                                <?php echo $this->formRow($form->get('is_usa')); ?>
                                <label for="is_usa" class="check">IS USA</label>
                            </div>

                        </div>
                        <div class="col1 right"><label><?php echo $translator['L_OMX_NUMBER']; ?></label>
                            <?php echo $this->formRow($form->get('omx_num')); ?> </div>
                    </div>
                    
                    <!-- n - start -->
                    <div class="row">
                        <div class="col1">
                                <label><?php echo $translator['MEMBERSHIP_CARDS_YEAR']; ?></label>
                                <?php echo $this->formRow($form->get('membership_cards_year')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['MEMBERSHIP_CARDS_PACKAGE']; ?></label>
                              <div class="checkbox-auto m-t-15"> <?php echo $this->formRow($form->get('membership_cards_package_shipped')); ?> </div>
                        </div>
                    </div>                    
                    <!-- n - end -->
                    
                    <div class="col1"><label><?php echo $translator['L_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?> </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                    <!--                    <a href="javascript:search_details()" class="search-btn">-->
                    <span class="basic-text"><a id="adv_search" href="javascript:void(0)"><?php echo $translator['L_ADVANCE_SEARCH']; ?></a></span> </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <div class="col1">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>

            <div class="col1 right" style="width:auto">
                <?php
                $save_search_form = $this->search_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>  

                <div >
                    <label>Save Search As </label>
                    <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                    <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                    <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                    <?php echo $this->formRow($save_search_form->get('deletebutton')); ?>
                    <span id="search_msg" class="error" style="display:none;"></span>
                    <span style="display:none;" class="success-msg clear" id="search_success_message"></span>

                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>

        </div>
        
        
  <div class="head no-img"><span><?php echo $translator['L_UPDATE_OPTION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $updateContactUserForm = $this->updateContactUserForm;
                $updateContactUserForm->prepare();
                echo $this->form()->openTag($updateContactUserForm);
                ?>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_UPDATE_OPTION'] ?></label>
                        <?php echo $this->formRow($updateContactUserForm->get('membership_package_value')); ?>
                          <a id="updateButton" class="save-btn m-l-20">Update</a>
                    </div>
                   
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
  
    </div>
</div>

<?php
if (!empty($this->messages)) {
    $messages = $this->messages;
    ?>
    <div id="success_message" class="success-msg"><?php echo $messages[0]; ?></div>
    <?php
}
?>
<div class="grid-section">

    <div class="search-results" id="searchResult">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the contact you seek, try <a href="/create-contact">Create New Contact</a>.</p>
    </div>


    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_contact_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_search_contact' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></h2>
        <div class="button-row">

            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>