<style>
    .col6.relative label.error{left:0px;}
</style>
<?php
/**
 * This page is used for get all family history listing
 * @package    Family History
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var USER_ID= "' . $this->userId . '";';
$var .= 'var max_stories= "' . $this->membershipDetail['max_stories'] . '";';
$var .= 'var max_story_characters= "' . $this->membershipDetail['max_story_characters'] . '";';
$var .= 'var max_passengers= "' . $this->membershipDetail['max_passengers'] . '";';
$var .= 'var max_saved_histories= "' . $this->membershipDetail['max_saved_histories'] . '";';

$script = <<<EOD
$(document).ready(function() {
        $('.detail-section').eq(0).show();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
        });
    });
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/familyhistory/contact.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="breadcrumb contact-breadcrumb">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
   <?php
    $form = $this->userFamilyHistoryBonus;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('user_id'));
    ?>  
    <div class="head"><span>Family History Bonus</span></div>
    <div class="detail-section">
         <div id="success_message" class="success-msg" style="display:none;"></div>
         <div class="common-form">
            <div class="view-row">
                <div class="col6"><strong>Title</strong></div>
                <div class="col6"><strong>Original</strong></div>
                <div class="col6"><strong>Bonus</strong></div>
                <div class="col6"><strong>Total</strong></div>
                <hr>
            </div>
            <div class="view-row">
                <div class="col6">
                    <p>Max Stories</p>
                </div>
                <div class="col6"><?php echo ($this->membershipDetail['max_stories'] == '') ? 0 : $this->membershipDetail['max_stories']; ?></div>
                <div class="col6 relative">
                    <?php
                    echo $this->formRow($form->get('max_stories'));
                    ?>
                </div>
                <div class="col6" id="max_stories_total">
                    <?php
                    $userMaxStory = isset($this->userFamilyHistoryBonusData[0]['max_stories']) ? $this->userFamilyHistoryBonusData[0]['max_stories'] : 0;
                    echo ($this->membershipDetail['max_stories'] + $userMaxStory);
                    ?>
                </div>
            </div>
            <div class="view-row">
                <div class="col6">
                    <p>Max. Characters for story</p>
                </div>
                <div class="col6"><?php echo ($this->membershipDetail['max_story_characters'] != '') ? $this->membershipDetail['max_story_characters'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_story_characters')); ?>
                </div>
                <div class="col6" id="max_story_characters_total">
                    <?php
                    $userMaxStoryChar = isset($this->userFamilyHistoryBonusData[0]['max_story_characters']) ? $this->userFamilyHistoryBonusData[0]['max_story_characters'] : 0;
                    echo ($this->membershipDetail['max_story_characters'] + $userMaxStoryChar);
                    ?>
                </div>
            </div>
            <div class="view-row">
                <div class="col6">
                    <p>Max. Passengers</p>
                </div>
                <div class="col6 "><?php echo ($this->membershipDetail['max_passengers'] != '') ? $this->membershipDetail['max_passengers'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_passengers')); ?>
                </div>
                <div class="col6" id="max_passengers_total">
                    <?php
                    $userMaxPass = isset($this->userFamilyHistoryBonusData[0]['max_passengers']) ? $this->userFamilyHistoryBonusData[0]['max_passengers'] : 0;
                    echo ($this->membershipDetail['max_passengers'] + $userMaxPass);
                    ?>
                </div>
            </div>
            <div class="view-row no-padd">
                <div class="col6">
                    <p>Max. Saved Histories</p>
                </div>
                <div class="col6 "><?php echo ($this->membershipDetail['max_saved_histories'] != '') ? $this->membershipDetail['max_saved_histories'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_saved_histories')); ?>
                </div>
                <div class="col6" id="max_saved_histories_total"><?php
                    $userMaxSaveHis = isset($this->userFamilyHistoryBonusData[0]['max_saved_histories']) ? $this->userFamilyHistoryBonusData[0]['max_saved_histories'] : 0;
                    echo ($this->membershipDetail['max_saved_histories'] + $userMaxSaveHis);
                    ?></div>
            </div>
            <div class="row m-t-10 common-form">
                <?php echo $this->formRow($form->get('save_user_family_history_bonus')); ?>
            </div>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
    <?php
    $form = $this->userSaveSearchBonus;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('user_id'));
    ?>  
    <div class="head"><span>Save Search Bonus</span></div>
    <div class="detail-section">
         <div id="success_message_bonus" class="success-msg" style="display:none;"></div>    
        <div class="common-form">
            <div class="view-row">
                <div class="col6"><strong>Title</strong></div>
                <div class="col6"><strong>Original</strong></div>
                <div class="col6"><strong>Bonus</strong></div>
                <div class="col6"><strong>Total</strong></div>
                <hr>
            </div>
            <?php
            //asd($searchSaveTypes,2);
            if (!empty($membershipDetail['membershipSearchIds'])) {
                $membershipSearchIds = explode(',', $membershipDetail['membershipSearchIds']);
                $savedSearchInDays = explode(',', $membershipDetail['savedSearchInDays']);
                $savedSearchTypeIds = explode(',', $membershipDetail['savedSearchTypeIds']);
                $bonusSavedSearchInDays = explode(',',$membershipDetail['bonusSavedSearchInDays']);
                $maxSavedSearchInDays = explode(',',$membershipDetail['maxSavedSearchInDays']);
                if (!empty($savedSearchTypeIds)) {
                    $count = 1;
                    $last = count($savedSearchTypeIds);
                    $i=0;
                    foreach ($savedSearchTypeIds as $key => $searchId) {
            ?> 
            <div class="view-row">
                <div class="col6" id="save_search_block_<?php echo $count; ?>">
                    <p><?php echo $searchSaveTypes[$searchId];?></p>
                </div>
                <div class="col6" id="org_days_<?php echo $count; ?>"><?php echo $savedSearchInDays[$i]; ?></div>
                <div class="col6 relative">
                    <?php
                    echo $this->formRow($form->get('bonus_saved_search')->setAttributes(array('name'=>'bonus_saved_search['.$membershipSearchIds[$i].']','id'=>'bonus_saved_search_'.$count))->setValue($bonusSavedSearchInDays[$i]));
                    ?>
                </div>
                <div class="col6" id="max_search_total_<?php echo $count; ?>">
                    <?php
                    echo $savedSearchInDays[$i]+$bonusSavedSearchInDays[$i];
                    ?>
                </div>
            </div>
            <?php             
                        $i++;$count++;
                    }
                }
            }
             ?>
            <!--<div class="view-row">
                <div class="col6">
                    <p>Max. Characters for story</p>
                </div>
                <div class="col6"><?php echo ($this->membershipDetail['max_story_characters'] != '') ? $this->membershipDetail['max_story_characters'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_story_characters')); ?>
                </div>
                <div class="col6" id="max_story_characters_total">
                    <?php
                    $userMaxStoryChar = isset($this->userFamilyHistoryBonusData[0]['max_story_characters']) ? $this->userFamilyHistoryBonusData[0]['max_story_characters'] : 0;
                    echo ($this->membershipDetail['max_story_characters'] + $userMaxStoryChar);
                    ?>
                </div>
            </div>
            <div class="view-row">
                <div class="col6">
                    <p>Max. Passengers</p>
                </div>
                <div class="col6 "><?php echo ($this->membershipDetail['max_passengers'] != '') ? $this->membershipDetail['max_passengers'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_passengers')); ?>
                </div>
                <div class="col6" id="max_passengers_total">
                    <?php
                    $userMaxPass = isset($this->userFamilyHistoryBonusData[0]['max_passengers']) ? $this->userFamilyHistoryBonusData[0]['max_passengers'] : 0;
                    echo ($this->membershipDetail['max_passengers'] + $userMaxPass);
                    ?>
                </div>
            </div>
            <div class="view-row no-padd">
                <div class="col6">
                    <p>Max. Saved Histories</p>
                </div>
                <div class="col6 "><?php echo ($this->membershipDetail['max_saved_histories'] != '') ? $this->membershipDetail['max_saved_histories'] : 0; ?></div>
                <div class="col6 relative">
                    <?php echo $this->formRow($form->get('max_saved_histories')); ?>
                </div>
                <div class="col6" id="max_saved_histories_total"><?php
                    $userMaxSaveHis = isset($this->userFamilyHistoryBonusData[0]['max_saved_histories']) ? $this->userFamilyHistoryBonusData[0]['max_saved_histories'] : 0;
                    echo ($this->membershipDetail['max_saved_histories'] + $userMaxSaveHis);
                    ?></div>
            </div>-->
        </div>
        <div class="row m-t-10 common-form">
            <?php echo $this->formRow($form->get('save_user_family_history_bonus')); ?>
        </div>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='delete_familyhistory' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>