<?php
/**
* This file is used to get user visitation
* @package    User
* @author     Icreon Tech - DG
*/
?>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
var user_id="$user_id";
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.visitation.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div id="gview_list">
            <div class="grid-box  m-t-15" >
                <table id="visitation_list"></table>
                <div id="visitation_pcrud"></div>
                <br><br>
            </div>
        </div>
    </div>
</div>