<?php
/**
* This file is used to get user searches
* @package    User
* @author     Icreon Tech - DG
*/
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
var user_id="$user_id";
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.searches.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="breadcrumb contact-breadcrumb">
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<br>
<br>
<br>
<h3 class="m-t-30"><?php echo $translator['L_PASSENGER_SEARCH']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="passenger_search_list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_PASSENGER_RECORD']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="passenger_individual_search_list"></table>
        <div id="pcrudindivdual"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_SHIP_SEARCH']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="ship_search_list"></table>
        <div id="pcrud_ship"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_SHIP_RECORD']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="ship_record"></table>
        <div id="pcrud_ship_record"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_MANIFEST_RECORD']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="manifest_record"></table>
        <div id="pcrud_manifest"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_FH_RECORD']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="fh_list"></table>
        <div id="pcrud_fh"></div>
        <br><br>
    </div>
</div>
<h3 class="m-t-30"><?php echo $translator['L_ORAL_RECORD']; ?></h3>
<div id="gview_list">
    <div class="grid-box contact-breadcrumb">
        <table id="oral_list"></table>
        <div id="pcrud_oral"></div>
        <br><br>
    </div>
</div>
<h3><?php echo $translator['L_WOH']; ?></h3>
<div id="gview_list">
    <div class="grid-box">
        <table id="wall_list"></table>
        <div id="pcrud_woh"></div>
        <br><br>
    </div>
</div>
<h3><?php echo $translator['L_FOF']; ?></h3>
<div id="gview_list">
    <div class="grid-box">
        <table id="fof_list"></table>
        <div id="pcrud_fof"></div>
        <br><br>
    </div>
</div>