<?php
/**
 * This file is used for conatct phone number form
 * @package    User
 * @author     Icreon Tech - DG
 */

$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);
$divid = json_encode($params['divid']);

$script = <<<EOD
var counter= $counter;
    var container= $container;
	if(counter==1){
        $('#contact_individual [name="continfo_primary[]"]').prop("checked",false);
        
        $('#contact_individual [name="continfo_primary[]"]').each(function( index) {
            if(index==0){
                $('#continfo_primary0').prop("checked",true);
            }
        });
    }
    
    var divid= $divid; 
    $('#'+divid).show();
    $(function(){
        $("select.e1").select2();
    });
	$(document).ready(function() {
        $($(".phone-radio")).each(function(i){
            if($(this).is('[type=checkbox],[type=radio]')){
                var input = $(this);
                var input_class = input.attr('class').split(" ");
                var id_name = '';
            
                if(input.attr('id')=='undefined' || input.attr('id')=='' || input.attr('id')==undefined || input.attr('id')==null) {
                    id_name = input_class['1']+'_'+i;
                } else {
                    id_name = input.attr('id');
                }
                input.attr({'id':id_name});            
                // get the associated label using the input's id
			
                var label = $('label[for='+input.attr('id')+']');
                var outerLabel = input.parent();
                var outerLabelParent = input.parent().parent();
			
                //get type, for classname suffix 
                var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
                var oDiv = $(document.createElement('label')).attr({'for':id_name}).html($(outerLabel).text());
                $(outerLabel).remove();
                outerLabelParent.append(input,oDiv);
            }
        });
        $(".phone-radio").customInput();
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);
						  
$form_phone = $this->form_phone;
$form_phone->prepare();
?>
<div class="row no-padd contact-repeat-row no-padd phone-row">
    <div class="phone-label">
        <label class="type"><?php echo $translator['L_TYPE']; ?></label>
        <label class="country"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
        <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
        <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
        <label class="extension">Extension</label>
    </div>
    <div class="row no-padd">
        <label>&nbsp;</label>
        <span class="m-r-20 left"><?php echo $this->formRow($form_phone->get('phone_type[]')); ?></span>
        <span class="rel-auto-error"><?php echo $this->formRow($form_phone->get('country_code[]')); ?></span>
        <span class="rel-auto-error"><?php echo $this->formRow($form_phone->get('area_code[]')); ?></span>
        <span class="rel-auto-error"><?php echo $this->formRow($form_phone->get('phone_no[]')); ?></span>
        <span class="rel-auto-error"><?php echo $this->formRow($form_phone->get('extension[]')); ?></span>
        <div class="check-col m-t-5 left radio-label" id="primary_Div">
            <?php echo $this->formRow($form_phone->get('continfo_primary[]')); ?>
        </div>
        <div id="phone_addMinus<?php echo $params['counter']; ?>" class="addMinus">
         <a  class='minus m-r-5' href="javascript:void(0)" id="remove" onclick="remove_dynamic_contacts('.<?php echo $params['container'].$params['counter']; ?>','<?php echo $params['counter']; ?>','individual')"></a>
        <a class="plus" href="javascript:void(0);" id="new_phoneno_div"></a>
        </div>
<!--        <a href="javascript:void(0);" class="plus" onclick="addNewPhone(this);" id="new_phoneno_div"></a>-->
    </div>
</div>