<?php
/**
 * This file is used for upload file
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter= $counter;  
    var container= $container;
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/upload.docs.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);

$form_upload_form = $this->form_upload_form;
$form_upload_form->prepare();
?>
<div class="row no-padd">
    <label  <?php if (isset($params['flag'])) { ?> class="no-padd" <?php } ?>></label>
    <?php echo $this->formRow($form_upload_form->get('cor_publicdocs_upload0')); ?>
	<div id="corp_upload_addMinus<?php echo $params['counter'] ?>" class="addMinus">
        <a  class='minus' href="javascript:void(0)" id="remove" onclick="remove_dynamic_contacts('.<?php echo $params['container'].$params['counter']; ?>','<?php echo $params['counter']; ?>')"></a>
        <a id="corporate_foundation_add_new_file" class="plus m-l-5" href="javascript:void(0)"></a>
    </div>
    <div class="row no-padd">
	<label style="padding:0px !important">&nbsp;</label>  <div id="cor_filemessage_<?php echo $params['counter']; ?>"></div></div>
</div>
       
  
    <?php echo $this->formRow($form_upload_form->get('cor_publicdocs_upload_file0')); ?>
    
</div>
