<?php
/**
 * This file is used to display all the tab of user detail
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$var = '';
$this->inlineScript()->captureStart();
$var .=' var user_id="' . $user_id . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';
$var .=' var encrypted_contact_name_id="' . $user_id . '";';
$var .=' var encrypted_source_type_id="' . $activityForContact . '";';
$var .=' var encryptView ="'.$encryptView.'";';
$var .=' var source ="'.$source.'";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/conact.view.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>
        <?php echo $jsLangTranslate['L_CONTACTS']; ?>
        <div class="user-name-top"><?php echo $contactName; ?></div>
    </h2>


    <ul class="edit-link m-t-25">
        <li><a id="tab-1" href="javascript:void(0);" onClick="viewContact();">Details</a></li>
        <li><a id="tab-2" href="javascript:void(0);" onClick="editContact();">Edit</a></li>
        <li><a id="tab-3" href="javascript:void(0);" onClick="getContactLeads('<?php echo $user_id; ?>');">Lead (<?php echo $leadCount; ?>)</a></li>
        <li><a id="tab-4" href="javascript:void(0);" onClick="userTransaction();">Transactions (<?php echo $transactionCount; ?>)</a> </li>
        <li><a id="tab-5" href="javascript:void(0);" onClick="userCampaign();">Campaign (<?php echo $campaignCount; ?>)</a></li>
        <li><a id="tab-6" href="javascript:void(0);" onClick="userSurvey();">Survey</a></li>
        <li><a id="tab-7" href="javascript:void(0);" onClick="userSaveSearch();">Saved Searches</a></li>
        <li><a id="tab-8" href="javascript:void(0);" onClick="userDevelopment();">Development</a></li>
        <li><a id="tab-9" href="javascript:void(0);" onclick="getContactActivityDetail()" >Activities (<?php echo $activityCount; ?>)</a></li>
        <li><a id="tab-10" href="javascript:void(0);" onclick="getContactFamilyHistoryDetail('<?php echo $user_id; ?>')" >Family Histories (<?php echo $familyCount; ?>)</a></li>
        <li><a id="tab-11" href="javascript:void(0);" onclick="getContactCases()">Cases (<?php echo $caseCount; ?>)</a></li>
        <li><a id="tab-11" href="javascript:void(0);" onclick="getContactPledge('<?php echo $user_id; ?>')">Pledge (<?php echo $pledgeCount; ?>)</a></li>
        <li><a id="tab-12" href="javascript:void(0);" onClick="userRelationship();">Relationships</a></li>
        <li><a id="tab-13" href="javascript:void(0);" onClick="userMembership();">Membership (<?php echo $membershipCount; ?>)</a></li>
        <li><a id="tab-14" href="javascript:void(0);" onClick="userVisitation();">Visitation Log</a></li>
        <li><a id="tab-15" href="javascript:void(0);" onClick="userChangelog();">Change Log</a></li>
        <li><a id="tab-16" href="javascript:void(0);" onClick="getUserBonus('<?php echo $user_id; ?>');">Bonus</a></li>

    </ul>
    <div id="contact_content"></div>
</div>

<div style='display:none'>
    <div id='add_to_archive_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo "Are You Sure you want to add this Case to Archive ?"; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_archive" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_archive" class="green-btn">
        </div>
    </div>
</div>