<?php
/**
* This file is display the form of website
* @package    User
* @author     Icreon Tech - DG
*/

$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter= $counter;  
    var container= $container;
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);

$form_website = $this->form_website;
$form_website->prepare();
//echo $this->form()->openTag($form);
?>
<label>&nbsp;<?php //echo $translator['L_WEBSITE']; ?></label>
<?php echo $this->formRow($form_website->get('website[]')); ?>
<div id="web_addMinus<?php echo $params['counter'] ?>" class="addMinus left">
    <a  class='minus' href="javascript:void(0)" onclick="remove_dynamic_contacts('.<?php echo $params['container'].$params['counter'];?>','<?php echo $params['counter'];?>')"></a>
    <a href="javascript:void(0)" id="cororporate_foundation_new_website_div" class="plus m-l-5"></a>
</div>   
