<?php
/**
 * This file is used for create transaction search user page
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.transaction.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_TRANSACTION']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['L_SELECT_CONTACT']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form add-transaction">
                <span id="search-err-msg" style="display:none;" class="error-msg">Please enter at least one parameter.</span>
                <div class="row">
                    <div class="col8">
                         <label><?php echo $translator['L_CONTACT_FIRST_NAME']; ?></label>
                         <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col8">
                         <label><?php echo $translator['L_CONTACT_LAST_NAME']; ?></label>
                         <?php echo $this->formRow($form->get('last_name')); ?>
                    </div>
                    <div class="col8">
                         <label><?php echo $translator['L_CONTACT_COMPANY_NAME']; ?></label>
                         <?php echo $this->formRow($form->get('company_name')); ?>
                    </div>
               </div>
                
                <div class="row">
                    <div class="col8">
                        <label><?php echo $translator['L_CONTACT_ID']; ?></label>
                        <?php echo $this->formRow($form->get('contact_id')); ?>
                    </div>
                    <div class="col8">
                        <label><?php echo $translator['L_CONTACT_EMAIL_ADDRESS']; ?></label>
                        <?php echo $this->formRow($form->get('email_address')); ?>
                    </div>
                    <div class="col8">
                        <label><?php echo $translator['L_ANY_PHONE']; ?></label>
                        <?php echo $this->formRow($form->get('phone')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col8">
                        <label><?php echo $translator['L_POSTAL_CODE']; ?></label>
                        <?php echo $this->formRow($form->get('zip_code')); ?>
                    </div>
                    <div class="col8">

                        <label><?php echo $translator['L_STATE']; ?></label>
                        <div id="state_text_block" style="display:none;">
                            <?php echo $this->formRow($form->get('state')); ?>
                        </div>
                        <div id="state_text_select">
                            <?php echo $this->formRow($form->get('state_select')); ?>
                        </div>
                        <div class="row p-t-10 p-b-0">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('is_usa')); ?>
                            <label for="is_usa" class="check">IS USA</label>
                        </div>
                    </div>
                    <div class="col8">
                        <label><?php echo $translator['L_COUNTRY']; ?></label>
                        <?php echo $this->formRow($form->get('country')); ?>
                    </div>
                </div>

                <div class="row no-padd contact-t-date" > 
                    <div class="col8">
                        <label><?php echo $translator['L_MEMBERSHIP_LEVEL']; ?></label>
                        <?php echo $this->formRow($form->get('membership_level')); ?>
                    </div>
                    <div class="col8">
                        <label>Last Transaction</label>
                        <?php echo $this->formRow($form->get('last_transaction')); ?>
                    </div>
                    <div class="col8">                        
                        <span id="date_selection" style="display:none;">
                            
                            <label><span id="last_transaction_fromdate" class="error" style="margin-left: 65%; display: none;">Please enter date range.</span><?php echo $translator['L_FROM_DATE']; ?></label>
                            <?php echo $this->formRow($form->get('from_date')); ?>                                
                            <label class="auto">-to-</label>
                            <?php echo $this->formRow($form->get('to_date')); ?>                                
                        </span></div>                       
                </div>
                <div class="row m-t-30">
                    <div class="col8">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($form->get('searchbutton')); ?>
                    </div> 
                </div>

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>


    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the contact you seek, try
            <a onclick="createContact();" href="javascript:void(0);">Create New Contact</a>.</p>
    </div>
    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box" id="gview_list">
        <table id="list_transaction_contact"></table>
        <div id="listtransactioncontactrud"></div>
    </div>
</div>



<div style="display:none;">
    <div id='view_afihc_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_VIEW_AFIHC']; ?></h2>
        <p class="aleft">Following are the other AFIHC Number associated with this Contact -</p>
        <div id="afhic_contents" class="row">
        </div>
    </div>
</div>
