<?php
/**
 * This view is used to create add more check block
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function(){
        $("select.e1").select2({});
    });
EOD;
echo $this->inlineScript()->prependScript($var)->prependScript($script);

$form = $this->paymentModeCheck;
?>
<?php
$form_no = $totalSaveSearch + 1;
?>
<div id="payment_mode_check_block_<?php echo $form_no; ?>">

    <div class="row">
        <div class="col1">
            <label> <?php echo $translator['L_AMOUNT']; ?></label>
            <?php echo $this->formRow($form->get('payment_mode_chk_amount[]')->setAttribute('id', 'payment_mode_chk_amount_' . ($form_no))); ?>
        </div>

        <div class="col1 right">
            <label><?php echo $translator['L_CHECK_TYPE']; ?> </label>
            <?php echo $this->formRow($form->get('payment_mode_chk_type[]')); ?>
        </div>
    </div>

    <div class="row">
        <div class="col13">
            <label><?php echo $translator['L_CHECK_NO']; ?> </label>
            <?php echo $this->formRow($form->get('payment_mode_chk_num[]')); ?>
        </div>
        <div class="col1 right">
            <label><?php echo $translator['L_ID_TYPE']; ?> </label>
            <?php echo $this->formRow($form->get('payment_mode_chk_id_type[]')); ?>
        </div> </div>
    <div class="row">
        <div class="col1">
            <label><?php echo $translator['L_ID_HASH']; ?> </label>
            <?php echo $this->formRow($form->get('payment_mode_chk_id[]')); ?>
        </div>

    </div>
    <div class="row">
        <div class="col1">                                                  
            <div class="common-form">
                <div class="row">
                    <div class="left">
                        <label>Batch Id</label>
                        <?php echo $this->formRow($form->get('check_batch_id[]')->setAttribute('id', 'check_batch_id_' . $form_no)); ?>
                        <?php echo $this->formRow($form->get('payment_check_batch_id[]')->setAttribute('id', 'payment_check_batch_id_' . $form_no)); ?> 
                        <label class="right auto m-l-20">OR </label>
                    </div>
                    <div class="full m-t-5">
                        <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->encrypt(check_batch_id_ . ($form_no)); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                    </div>                                                
                </div>

            </div>            
        </div>
        <div class="col1 right">
            <label>&nbsp;</label>
            <a class="minus" href="javascript:void(0);" onclick="deleteCheckBlock(<?php echo ($form_no); ?>)"></a>
            <a id="addMoreCheck" onclick="addNewCheckBlock(this)" href="javascript:void(0);" class="plus m-l-5"></a>
        </div>
    </div>
</div>

<script>
    $(function(){  
        $("#check_batch_id_<?php echo $form_no ?>").autocomplete({
            afterAdd:true,
            selectFirst:true,
            autoFocus:true,
            source:function(request,response){
                showAjxLoader();
                $.ajax({
                    url:"/get-available-batch",
                    method:"POST",
                    dataType:"json",
                    data:{
                        batch_id: $("#check_batch_id_<?php echo $form_no ?>").val(), 
						is_locked:'0'
                    },
                    success:function(jsonResult){
                        var resultset=[];
                        $.each(jsonResult,function(){
                            var id=this.payment_batch_id;
                            var value=this.batch_id;
                            resultset.push({
                                id:this.payment_batch_id,
                                value:this.batch_id
                            })
                        });
                        response(resultset)
                    }
                })
                hideAjxLoader();
            },
            open:function(){
                $(".ui-menu").width(350)
            },
            change:function(event,ui){
                if(ui.item){
                    $("#check_batch_id_<?php echo $form_no ?>").val(ui.item.value);
                    $("#payment_check_batch_id_<?php echo $form_no ?>").val(ui.item.id)
                }else{
                    $("#check_batch_id_<?php echo $form_no ?>").val("");
                    $("#payment_check_batch_id_<?php echo $form_no ?>").val("")
                }
            },
            focus:function(event,
            ui){
                $("#payment_check_batch_id_<?php echo $form_no ?>").val(ui.item.id);
                return false
            },
            select:function(event,ui){
                $("#check_batch_id_<?php echo $form_no ?>").val(ui.item.value);
                $("#payment_check_batch_id_<?php echo $form_no ?>").val(ui.item.id);
                return false
            }
        })   
    })   

</script>