<?php
/**
 * This view is used to add more notify
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$form = $this->donationNotifyForm;
?>
<div class="form-box-donate" id="notify_donation_<?php echo ($totalNotify + 1); ?>">
    <div class="form-box-bg">
        <?php echo $this->formRow($form->get('firstname[]')); ?>
        <?php echo $this->formRow($form->get('lastname[]')); ?>
    </div>
    <div class="full">
    <div class="form-box-bg"><?php echo $this->formRow($form->get('email[]')); ?>
    </div>
    <div>
        <a class="remove minus-field" href="javascript:void(0);" onclick="deleteMoreDonationNotifyFront(<?php echo ($totalNotify + 1); ?>)"></a>
        <a onclick="addMoreDonationNotifyFront(this,<?php echo ($totalNotify + 1); ?>)" id="addMoreDonationNotify" href="javascript:void(0);" class="add add-field"></a>
    </div>
        </div>
</div>