<?php 
$script = <<<EOD
jQuery(document).ready(function() {
        jQuery('#mycarousel').jcarousel();
    });
EOD;
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/sliderskin.css?v='.$this->layout()->getVariable('cssVersion'));

echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jcarousel.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?_=1384265795456');
?>
<?php
if (count($shipManifestArray) > 0) {
?>
    <ul id="mycarousel" class="jcarousel-skin-tango">
    <?php
    $i = 1;
    foreach ($shipManifestArray as $val) {
        $imageName=substr($val['filepath'], strrpos($val['filepath'], '/')+1);
    ?>
        <li><input type="checkbox" name="additional_images[]" id="<?php echo "additional_images_" . $val['additional_image_id'] ?>" checked value="<?php echo $imageName; ?>" class="link1 line-blue" onClick="deleteAdditionalImage(<?php echo $val['additional_image_id'] ?>,'<?php echo $val['filename'] ?>');"><?php echo $val['filename'] ?><img src="<?php echo $val['filepath'] ?>" alt="" height="150" width="150" style="cursor:pointer;"></li>
        <?php
        $i++;
    }
        ?>
</ul>
<?php
}
?>