<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Oswald" media="screen" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/css3.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
        <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">    
        <style>
            #addCartDonationCms { display: none; }
            #ajx_loader { display: block; }
        </style>
    </head>
    <body>
							          
        <div id="addCartDonationCms" class="inner-popup-detail">
            <h1>Add To Cart</h1>
            <p>Item has been added to your cart.</p>
            <input type="button" value="Continue" name="close" class="button green semibold" onclick="javascript:parent.$.colorbox.close();">
           
                               <?php if($isLogin){?>
                                <a style="text-decoration: none;"  href="<?php
                                if ($this->layout()->getVariable('https_on') == 1) {
                                    echo SITE_URL_HTTPS;
                                } else {
                                    echo SITE_URL;
                                }
                                    ?>/checkout" onClick="disableCheckoutButton('CHECKOUT_BUTTON')"><input type="button" id="CHECKOUT_BUTTON" value="CHECKOUT" class="button green" /></a>
                           
                            <?php } else{?>
           <input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON2" onClick="parent.checkUserLogin('<?php echo $this->Encrypt($checkoutUrl) ?>');">
          <?php } ?>
        </div>        
        
        <div id="ajx_loader" class="main-loader">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
        </div>
        
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-1.9.1.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/web-common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                  showAjxLoader(); 
                  parent.showCartProducts();
                  parent.$.colorbox.resize({innerWidth:"600px",innerHeight:"200px"});
                  parent.$("#donation_add_to_cart_plugin > #amount").val("0");
                  $('#addCartDonationCms').css({"display":"block"});
                  hideAjxLoader();
              });	       
         </script>     
    </body>
</html>