
<?php
/**
 * This file is used for add product to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

?>
<style>
    .select2-results{ max-height:225px;}
</style>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/imagezoom.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/imageslider/jquery.carouFredSel.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<?php
$this->inlineScript()->captureStart();
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/slider-zoom/js/modernizr.custom.17475.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/slider-zoom/js/jquery.imagezoom.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
$this->inlineScript()->captureEnd();

?>
<div class="create-contacts">
<div class="head no-img no-mar"><span>Products</span></div>
    <div class="accordion-detail">
        <div class="detail-section">
            <div class="common-form">
                <?php
                $form = $this->addToCartForm;
                $form->prepare();
                echo $this->form()->openTag($form);
                echo $this->formRow($form->get('user_id'));
                ?>
                <div class="row">
                    <div class="col1 pro_tran">
                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?> <span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('product_mapping_id')); ?>
                    </div>
                </div>
				
                <?php echo $this->form()->closeTag(); ?>
                <div class="row no-padd" id="addToCartData">
                    
                </div>
            </div>
        </div>

    </div>
</div>
