<?php
/**
 * This page is use for create bio certificate
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/bio.personalize.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
//asd($searchResult);
?>


<div class="pop-container">
    <h3>Bio Certificate</h3>
    <div class="popup-form create-contacts create-new-contact-popup">
        <?php
        $form = $this->bioCertificate;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('bio_wohid'));
        ?>
        <div class="col1">
            <div class="row"><label>Name</label><label><?php echo $searchResult['name']; ?></label> </div>
            <div class="row"><label>Immigrated From</label><label><?php echo $searchResult['immigrated_from']; ?></label> </div>
            <div class="row"><label>Ship or method of Travel</label><label><?php echo $searchResult['method_of_travel']; ?> </label></div>
            <div class="common-form p-b-30 p-t-10"> <?php // echo $this->formRow($form->get('biosubmit')); 
             echo $this->formRow($form->get('biocancel')); ?>
            </div>
        </div>

        <div class="col1 right">
            <div class="row"><label>Port of Entry</label><label><?php echo $searchResult['port_of_entry']; ?></label> </div>
            <div class="row"><label>Date of Entry to United States</label><label><?php echo $searchResult['date_of_entry_to_us']; ?></label> </div>
            <div class="row"><label>Additional Information :</label><label><?php echo $searchResult['additional_info']; ?></label> </div>
        </div>



        <?php echo $this->form()->closeTag(); ?>

    </div>
</div>


