<?php
/**
 * This view is used to add more notify
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$form = $this->donationNotifyForm;
?>
<div class="row" id="notify_donation_<?php echo ($totalNotify + 1); ?>">
    <div class="col1">
        <label><?php echo $translator['L_NAME']; ?></label>
        <?php echo $this->formRow($form->get('name[]')); ?>
    </div>
    <div class="col1 right">
        <label><?php echo $translator['L_EMAIL']; ?></label>
        <?php echo $this->formRow($form->get('email[]')); ?>
        <a class="minus" href="javascript:void(0);" onclick="deleteMoreDonationNotify(<?php echo ($totalNotify + 1); ?>)"></a>
        <a class="plus m-l-5" href="javascript:void(0);" onclick="addMoreDonationNotify(this)" id="addMoreDonationNotify"></a>
    </div>

</div>

