<?php
/**
 * This view is used to add more additional contact
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function(){
        $("select.e1").select2({});
    });
EOD;

echo $this->inlineScript()->prependScript($var)
						  ->prependScript($script);

$form = $this->wallOfHonorAdditionalContact;
?>
<div id="add_more_additional_contact_<?php echo ($totalSaveSearch + 1); ?>">
    <div class="row">
        <div class="col1">
            <label>First Name :</label>
            <?php echo $this->formRow($form->get('first_name[]')); ?>
        </div>
    </div>
    <div class="row">
        <div class="col1">
            <label>Last Name : </label>
            <?php echo $this->formRow($form->get('last_name[]')); ?>
        </div>
    </div>
    <div class="row">
        <div class="col1">
            <label>Email : </label>
            <?php echo $this->formRow($form->get('email_id[]')); ?>
            <a class="minus" href="javascript:void(0);" onclick="deleteAdditionalContact(<?php echo ($totalSaveSearch + 1); ?>)"></a>
            <a class="plus m-l-5" href="javascript:void(0);" onclick="addMoreAdditionalContact(this)" id="addMoreAdditionalContact"></a>
        </div>
    </div>

</div>

