<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<script type="text/javascript"><?php echo $var; ?>
    // html for current slot and total slot 
function callReservation(){
	$.ajax({
        type:"POST",
        url:"/get-kiosk-data",
        data:{},
        beforeSend:function(){
            showAjxLoader()
        },
		success:function(responseData){
            hideAjxLoader();
            var jsonObj=jQuery.parseJSON(responseData);
            $("label.error").remove();
            if(jsonObj.status=="success"){
                   $("#addKioskData").append(jsonObj.message); 
            }else{
					return false;
            }
        },
		error:function(){
			 $("#addKioskData").append("Server Busy");  
		},
    })
}
/*add kiosk fee*/
function addKioskFee(){
	  var isWheelchair = 0;
      var isNextAvailableTime = 0;
      if($("#addMeTime").is(":checked")){
                isNextAvailableTime = 1;
       }
       if($("#wheelchair").is(":checked")){
                isWheelchair = 1;
       }
	 $.ajax({
        type:"POST",
        url:"/add-to-cart-kiosk-fee",
        data:{
            is_wheelchair:isWheelchair,
            next_available_time:isNextAvailableTime,
        },
        beforeSend:function(){
            showAjxLoader()
        },
		success:function(responseData){
            hideAjxLoader();
            var jsonObj=jQuery.parseJSON(responseData);
            $("label.error").remove();
            if(jsonObj.status=="success"){
                 parent.window.location.href="/checkout";      
            }else{
					return false;
            }
        },
		error:function(){
			 parent.window.location.href="/checkout";    
		},
    })
}
    </script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/transaction/add-to-cart-front-kiosk.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/product/shop.fe.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/slimbox2.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/slimbox2.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" />
<div class="inner-header">
<div class="container">
    <h1>Shopping Cart</h1>
  </div>
</div>
<div class="passenger-outer-bg" id="contentArea">
<div class="cart-main-bg">
  <div class="container">
    <div class="col5 rightsection omega clearfix">
      <div class="block suggest-box white-bg m-t-none m-b-30">
        <div class="content">
            <?php $uploadedFilePathProduct?>
            
          <h1>May we suggest</h1>
           <?php
           $val = $getProduct[0];
                    if ($val['image_name'] != '') {
                        $fileName = $uploadedFilePathProduct . "/" . $val['image_name'];
                        $filePath = $assetsUploadDirProduct . "/" . $val['image_name'];
                        if (file_exists($filePath)) {
                            $rightProductImageTag = '<img src="' . $fileName . '" class="float-left">';
                        } else {
                            $rightProductImageTag = '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                        }
                    } else {
                        $rightProductImageTag = '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                    }
                    ?>
          
         <div class="full"><a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($val['product_id']) ?>"><?php echo $rightProductImageTag; ?></a></div>
          
          <p class="text-full clearfix"> <strong><a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($val['product_id']) ?>"><?php echo $val['product_name']; ?></a></strong><br>
            <span class="maywesuggest_product_description1"><?php if(isset($val['product_description']) and trim($val['product_description']) != "" and strlen($val['product_description']) > 52) { echo substr($val['product_description'], 0,52); } else { echo $val['product_description']; } ?></span> 
            <?php if(isset($val['product_description']) and trim($val['product_description']) != "" and strlen(trim($val['product_description'])) > 52) { ?>
              <span class="maywesuggest_product_description2" style="display:none;"><?php echo $val['product_description']; ?></span> 
              <span><a style="cursor:pointer;" id="maywesuggest_product_description_more" class="blue more">MORE +</a></span>
            <?php } ?>   
          </p>
          <br>
		  <div class="text-full clearfix">
          <strong class="price text-full"> Price $<?php echo  $val['product_sell_price']; ?></strong><br>
           
           <?php
                    if(!empty($discount))
                    {
                        $calDiscount =  ($val['product_sell_price'] * $discount)/100;
                          $price = $val['product_sell_price'] - $calDiscount;
                        ?>
          
          <strong class="mem-price clearfix">Member price $<?php   echo $this->Currencyformat($price);?></strong><br>
          <?php } ?>
			</div>
          <input type="text" value="1" class="add-input" id="quantity_<?php echo  $val['product_id']; ?>">
          <a href="#" onclick="addtocart('<?php echo $val['product_id']; ?>')" class="button pink">ADD TO CART</a></div>
      </div>
      <div class="home-add m-t-none m-b-30">
      <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
      </div>
    </div>
    <div class="block col11 alpha shopping-cart" id="cartlist">
      
    </div>
  </div>
</div>
  </div>
  <script>
    getcartlist();
    </script>