<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
//asd($cartlistT);
$translator = $this->jsLangTranslate;
$var = '';
$decryptCheckoutUrl = SITE_URL_HTTPS."/checkout";
//$checkoutUrl = $this->Encrypt($checkoutRedirectPath."/checkout");
//$decryptCheckoutUrl = "/checkout";
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath') ?>/js/slimbox2.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('cssFilePath') ?>/css/slimbox2.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" />
<link href="<?php echo $this->layout()->getVariable('cssFilePath') ?>/css/select2-front.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" rel="stylesheet">
<script src="<?php echo $this->layout()->getVariable('jsFilePath') ?>/js/select2.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript">
    $(document).ready(function() { 
        $("select").select2();
    }); 
</script>
<style>
    #lbNumber{
        display:none;
    }
</style>
<script>
    /**
     * This event  is used to  update the products in cart from front end and redirect 
     * @author Icreon Tech - KK
     */

    $("#update_cart,#checkout,#checkoutLog").on('click',function(){
        var clicked_button = $(this).attr('id');
        if(clicked_button == 'update_cart')
         $("#submit_type").val('update_cart');
        else
            $("#submit_type").val('checkout_cart'); 
        var flag = true;
        $('label.errorlabel').remove()
        $('.quantitybox').each(function(i){
            var values = $(this).val();
            var status = /^\d+$/.test(values)
            
            var product_id_str = $(this).prop('id')
            var product_id = product_id_str.replace("product_","")
            
            if(status == false)
            {
                
                $(this).addClass('error');
                $("#product_error_"+product_id).html('Please enter valid quantity').show()
                //$(this).after('<label style="display:block !important" class="error errorlabel" generated="true">Please enter valid quantity.</label>');
                flag = false;
            }
            else
            {
                // $('label.errorlabel').remove()
                $("#product_error_"+product_id).hide();
                $(this).removeClass('error');
            }
        });        
        if(flag == false)
        {
            return false;
        }
        var formvalues  = $("#add_cart").serialize();
        $.ajax({
            type: "POST",
            data: formvalues,
            url: '/update-cart-front',
              
            success: function(responseData){
                hideAjxLoader();
              
                //authenticateUserBeforeAjax();
                //if(!checkFrontUserAuthenticationAjx(responseData)){
                // return false;
                // }
                var jsonObj =  jQuery.parseJSON(responseData);
                if(jsonObj.status =='success'){
                    if(clicked_button == 'checkout' || clicked_button == 'checkoutLog' )
                    {
                        var SITE_URL = '';
						<?php
						if ($this->layout()->getVariable('https_on') == '1') {
						    ?>
                                var SITE_URL = '<?php echo SITE_URL_HTTPS; ?>'; 
						    <?php
						}
						?>
						if('<?php echo $moduleGroup ?>' == 3)
                            location.href = SITE_URL+'/poscheckout';
                        else    
                            location.href = SITE_URL+'/checkout';
                    }
                    else
                    {
                        // Added - n - start 
                        getcartlist();
                        showCartProducts();
                        // Added - n - end
                    }
                        
                }
                else if(jsonObj.status =='error')
                {
                    $.each(jsonObj.info, function(i) {
                        //alert(i)
                        var pid = i;
                        var message = this.message;
                           
                        $("#product_error_"+pid).html(message).show()
                           
                    });
                        
                }
            }
        });
        
        
    });    
    
    jQuery(function($) {
        $("a[rel^='lightbox']").slimbox({});
    });
        function changeProductQuantity(act,id){
	        var obj = $("#product_"+id);
	        if(act=='add') {   
	                
	               obj.val(parseInt(obj.val()) + 1);
	                $("#minusQty"+id).show();
			    }
			    else {
			        if(parseInt(obj.val()) >= 2) {
			                obj.val(parseInt(obj.val()) - 1);
			        }
			        if(parseInt(obj.val())==1) {
			            $("#minusQty"+id).hide();
			        }
			    }
	    }
</script>
<form method="post" id="add_cart">
<input type="hidden" name="submit_type" id="submit_type" value="">
    <?php
    $subamount = 0;
    $showMembershipDiscount = 0;
    $discountedAmount = 0;
    $productLabel = '';
    $productExtraProduct = '';
    $totalMembershipDiscount = 0;
    
    if (!empty($cartlist)) {

        $countCartProduct = 0;
        $path = $upload_file_path['assets_url'] . 'product/thumbnail/';
        $largePath = $upload_file_path['assets_url'] . 'product/large/';
       //asd($cartlist);
        echo '<div class="cart-scroll-section">
			<div class="scroll-pane cart-scroll">';
        foreach ($cartlist as $cartProduct) {

            $productExtraProduct = '';
            /* if ($cartProduct['product_type_id'] == 7) {
              $productLabel = $cartProduct['product_name'];
              } else */if ($cartProduct['product_type_id'] == 1) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == 2) {
                $productLabel = $cartProduct['product_type'];
            } else if ($cartProduct['product_type_id'] == 3) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == 4) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_mapping_id'] == 6) {
                if ($cartProduct['item_type'] == '1') {

                    $productExtraProduct = '';

                    if (isset($cartProduct['item_id']) and trim($cartProduct['item_id']) != "") {
                        $productExtraProduct .= '<strong>Passenger ID</strong>
                        <p>' . $cartProduct['item_id'] . '</p>';
                    }

                    if (isset($cartProduct['item_name']) and trim($cartProduct['item_name']) != "") {
                        $arrivalDate = '';
                        if ($productExtraProduct != '') {
                            $arrivalDate .= '</div><div class="product-name">';
                        }
                        $arrivalDate .= '<p><strong>Passenger Name</strong></p>
                        ' . $cartProduct['item_name'] . '';

                        $productExtraProduct .= $arrivalDate;
                    }

                    $productLabel = $cartProduct['product_name'];
                    if (isset($cartProduct['product_option_name']) and trim($cartProduct['product_option_name']) != "") {
                        $productLabel .= ' : <span>' . $cartProduct['product_option_name'] . '</span>';
                    }
                    // $productLabel = 'Passenger Name : ' . $cartProduct['item_name'];
                } else if ($cartProduct['item_type'] == '3') {
                    $itemName = '';
                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                        $itemName = $cartProduct['item_name'];
                    else
                        $itemName = $cartProduct['ship_name'];

                    $arrivalDate = 'N/A';
                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                        $arrivalDate = "<p><strong>Arrival Date</strong></p> " . $this->Dateformatalpha($cartProduct['item_info'], 'calender');

                    $productExtraProduct = '<strong>Ship Name</strong>
                        <p>' . $itemName . '</p></div>
                        <div class="date">' . $arrivalDate;
                    $productLabel = $cartProduct['product_name'] . ' : <span>' . $cartProduct['product_option_name'] . '</span>';
                } else if ($cartProduct['item_type'] == '2') {
                    $itemName = '';
                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                        $itemName = $cartProduct['item_name'];
                    else
                        $itemName = $cartProduct['ship_name'];

                    if (!empty($cartProduct['ship_name'])) {
                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                            $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                        else
                            $arrivalDate = 'N/A';

                        $productExtraProduct = '<strong>Ship Name</strong>
                        <p>' . $itemName . '</p></div>
                        <div class="date"><strong>Arrival Date</strong>
                        <p>' . $arrivalDate . '</p>';

                        $productLabel = $cartProduct['product_name'];
                    } elseif (!empty($cartProduct['item_name'])) {
                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                            $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                        else
                            $arrivalDate = 'N/A';
                        $productExtraProduct = '<strong>Passenger Name</strong>
                        <p>' . $cartProduct['item_name'] . '</p></div><div class="date">
                        <p><strong>Arrival Date</strong></p>
                        <p>' . $arrivalDate . '</p>';
                        // $productLabel = $cartProduct['product_name'];

                        $productLabel = $cartProduct['product_name'];
//                        if(isset($cartProduct['product_option_name']) and trim($cartProduct['product_option_name']) != "") {
//                          $productLabel .= ' : <span>(Size ' . $cartProduct['product_option_name'] . ')</span>';
//                        }
                    }
                    if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                        $productLabel.= ' : ' . $cartProduct['manifest_info'];
                } else {
                    $productLabel = $cartProduct['product_name'];
                }
            } else if ($cartProduct['product_type_id'] == '6') {
                $productLabel = $cartProduct['product_name'];
                $productExtraProduct = '
                        <strong>Honoree Name</strong>
                        <p>' . $cartProduct['woh_name'] . '</p>';
            } else if ($cartProduct['product_type_id'] == '7') {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == '8') {
                $productLabel = $cartProduct['product_name'];
            }

            if ($cartProduct['product_mapping_id'] == '5') {
                $productLabel = $cartProduct['product_name'];
            }


            if (!empty($cartProduct['image_name'])) {
                $imgSrc = $path . $cartProduct['image_name'];
                $largeImgSrc = $largePath . $cartProduct['image_name'];
            } else {
                if ($cartProduct['product_type_id'] == '2') {
                    $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/donate.jpg';
                } else {
                    $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/no-image-cart.jpg';
                }
            }
            if ($cartProduct['product_type_id'] == '4') {
                $imgSrc = $upload_file_path['assets_url'] . 'temp/fof/large/' . $cartProduct['fof_image'];
                $largeImgSrc = $upload_file_path['assets_url'] . 'temp/fof/' . $cartProduct['fof_image'] . '?v=' . time();
            }

            if ($cartProduct['type_of_product'] == 'membership') {
                $imgSrc = $this->layout()->getVariable('imageFilePath') . "/images/member_card.png";
            }
            ?>
            <?php
            $cartProduct['product_qty'] = !empty($cartProduct['product_qty']) ? $cartProduct['product_qty'] : 1;
            $productPrice = $this->Currencyformat($cartProduct['product_subtotal']) - $this->Currencyformat($cartProduct['membership_discount']);
            $totalPrice = ($this->Currencyformat($cartProduct['product_subtotal']) - $this->Currencyformat($cartProduct['membership_discount']));
            ?>
			
            <div class="cart-box">
                <span class="img-col">
                    <?php
                    if (!empty($cartProduct['image_name'])) {
                        ?>
                        
                            <img src="<?php echo $imgSrc; ?>" alt="" />
                     
                        <?php
                    } else {
                        ?>
                        <img src="<?php echo $imgSrc; ?>" alt="" />
                        <?php
                    }
                    ?>

                </span>
                <div class="right-col">
                    <h2>
                        <?php if ($cartProduct['type_of_product'] == 'inventory') { ?>
                            <a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($cartProduct['product_id']) ?>">
                                <?php echo $productLabel; ?>
                            </a>
                            <?php
                        } else {
                            echo $productLabel;
                        }
                        ?></h2>
                    <div class="qty">
                        <?php if ($cartProduct['type_of_product'] != 'donation') { ?>                          
                            <strong>QTY</strong>
                        <?php } ?> 

                        <p><?php
                //if ($cartProduct['product_type_id'] == 1) {
                // if ($cartProduct['product_type_id'] != "") {
                // if($cartProduct['type_of_product'] != 'membership' and $cartProduct['type_of_product'] != 'donation' and $cartProduct['type_of_product'] != 'woh' and $cartProduct['type_of_product'] != 'fof') {
                        ?>      

                                <!--  <input type="text" class="quantitybox" id="product_<?php //echo $countCartProduct;     ?>" name="product[<?php //echo $countCartProduct;     ?>][num_qty]" value="<?php //echo $cartProduct['product_qty'];     ?>">
                                <input type="hidden" name="product[<?php //echo $countCartProduct;     ?>][cart_id]" value="<?php //echo $cartProduct['cart_id'];     ?>">
                                <input type="hidden" name="product[<?php //echo $countCartProduct;     ?>][type_of_product]" value="<?php //echo $cartProduct['type_of_product'];     ?>">
                                <input type="hidden" name="product[<?php //echo $countCartProduct;     ?>][product_id]" value="<?php //echo $cartProduct['product_id'];     ?>">
                                <input type="hidden" name="product[<?php //echo $countCartProduct;     ?>][product_type_id]" value="<?php //echo $cartProduct['product_type_id'];     ?>">
                                <input type="hidden" name="product[<?php //echo $countCartProduct;    ?>][product_mapping_id]" value="<?php //echo $cartProduct['product_mapping_id'];    ?>">-->
                                <!--<input type="text" class="quantitybox" id="product_<?php //echo $cartProduct['product_id']   ?>" name="product[<?php //echo $cartProduct['product_type_id'];   ?>][<?php //echo $cartProduct['product_id']   ?>]" value="<?php //echo $cartProduct['product_qty'];   ?>">-->

                            <?php
                            // } else {
//                               if( $cartProduct['type_of_product'] == 'donation') {
//                                   echo str_pad($cartProduct['product_qty'], 2, 0, STR_PAD_LEFT);
//                                }
                            ?>
                                                <!-- <input type="hidden" name="product[<?php //echo $cartProduct['product_type_id'];    ?>][<?php //echo $cartProduct['cart_id']    ?>]" id="product" value="1" />-->
                            <?php //}  ?>

                            <?php
                            if($moduleGroup == 3) {
                                $displayAct = 'display:none; float:left;';
                                if($cartProduct['product_qty']==1)
                                {
                                    $displayAct = 'display:none; float:left;';
                                }
                                else {
                                    $displayAct = 'display:block; float:left;';
                                }
                            ?>
                                <div class="plus-minus-cart"><a id="minusQty<?php echo $countCartProduct; ?>" href="javascript:void(0);" onClick="changeProductQuantity('minus','<?php echo $countCartProduct; ?>')" style="<?php echo $displayAct ?>"><img src="../img/minus.jpg"></a>
		                            
		                            <?php if ($cartProduct['type_of_product'] == 'donation') { ?>
		                                <input type="hidden" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
		                                
		                            <?php } else if ($cartProduct['type_of_product'] == 'membership' or $cartProduct['type_of_product'] == 'woh' or $cartProduct['type_of_product'] == 'fof') { ?>
		                                <input type="text" readonly="readonly" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
		                            <?php } else { ?>         
		                                <input type="text" readonly="readonly" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
		                            <?php }  ?>
                            
                               
								<a id="addQty<?php echo $countCartProduct; ?>" href="javascript:void(0);" onClick="changeProductQuantity('add','<?php echo $countCartProduct; ?>')">
								<img src="../img/add-more.jpg"></a>
								</div>
                            
                            <?php
                            }
                            else {
                            ?>
                            <?php if ($cartProduct['type_of_product'] == 'donation') { ?>
                                <input type="hidden" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
                            <?php } else if ($cartProduct['type_of_product'] == 'membership' or $cartProduct['type_of_product'] == 'woh' or $cartProduct['type_of_product'] == 'fof') { ?>
                                <input type="text" readonly="readonly" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
                            <?php } else { ?>         
                                <input type="text" class="quantitybox" id="product_<?php echo $countCartProduct; ?>" name="product[<?php echo $countCartProduct; ?>][num_qty]" value="<?php echo $cartProduct['product_qty']; ?>">
                            <?php } 
                            
                            }
                            ?>
                            
                            
                            
                            
                            
                            
                            
                            <input type="hidden" name="product[<?php echo $countCartProduct; ?>][cart_id]" value="<?php echo $cartProduct['cart_id']; ?>">
                            <input type="hidden" name="product[<?php echo $countCartProduct; ?>][type_of_product]" value="<?php echo $cartProduct['type_of_product']; ?>">
                            <input type="hidden" name="product[<?php echo $countCartProduct; ?>][product_id]" value="<?php echo $cartProduct['product_id']; ?>">
                            <input type="hidden" name="product[<?php echo $countCartProduct; ?>][product_type_id]" value="<?php echo $cartProduct['product_type_id']; ?>">
                            <input type="hidden" name="product[<?php echo $countCartProduct; ?>][product_mapping_id]" value="<?php echo $cartProduct['product_mapping_id']; ?>">

                        </p>
                    </div>					
                    <div class="product-name"><?php echo $productExtraProduct; ?>&nbsp;</div>
                    <div class="price">
                        $<?php echo $this->Currencyformat(($productPrice)); ?>
                    </div>
                    <div class="full"><label generated="true" id="product_error_<?php echo $countCartProduct; ?>" class="error perror" style="display: block;float:left;"></label></div>
                </div>
                <a href="#deletecart" onclick="removefromcart('<?php echo $cartProduct['cart_id'] ?>','<?php echo $cartProduct['product_type_id'] ?>','<?php echo $cartProduct['product_mapping_id'] ?>','<?php echo $cartProduct['type_of_product'] ?>')" class="close delete_cart_product close-button"></a>
            </div>
			
            <?php
            $subamount = $this->Currencyformat($subamount) + $this->Currencyformat($totalPrice);
            if ($cartProduct['is_membership_discount']) {
                $showMembershipDiscount = 1;
                $discountedAmount = $discountedAmount + $totalPrice;
                
                $totalMembershipDiscount = $this->Currencyformat($totalMembershipDiscount+$cartProduct['membership_discount']);
            }
            ?>
            <?php
            $countCartProduct = $countCartProduct + 1;
            
        }
        ?>
		</div>
		</div>
        <div class="cart-box button-row">
            <input name="" type="button" onclick="location.href='/shop'" value="Continue Shopping" class="button semibold green" style="display:none">
            <div class="right">
                <input name="update_cart" type="button" value="Update Cart" id="update_cart" class="button semibold pink">
                <!-- <input name="checkout" id="checkout" type="button" value="CHECKOUT" onClick="disableCheckoutButton('checkout')" class="button semibold"> -->
                <?php if(!$loggedInUser && $moduleGroup!=3){ ?>
                 
                <?php } 
                else{?>
                 <input name="checkoutLog" id="checkoutLog" type="button" value="CHECKOUT" class="button semibold">
               <?php }?>
            </div>
        </div>
        <?php
    } else {
        echo '<div class="cart-box">
	<div class="shopping-cart-empty">
	<h3>Your Shopping Cart Is Empty</h3>
	<h4>If you had a problem placing your order, please ask for assistance. </h4>
	<!--<ul>
        <li><a href="/donate">Donation</a></li>
        <li><a href="/member-benefit">Membership</a></li>
        <li><a href="/passenger">Passenger Search</a></li>
        <li><a href="/add-woh">Wall of Honor</a></li>
        <li><a href="/add-fof-image">Flag of Faces</a></li>
        <li><a href="/shop">Shop</a></li>
	</ul>-->
	</div>
	
	</div>
	 <div class="cart-box button-row">
          <!--  <div class="grand-total">

			<div class="left more-shopping"><select onchange="javascript:if(this.value != \'\') { window.location.href = this.value; }">
			<option value=" ">More shopping</option>
                        <option value="/donate">Donation</option>
                        <option value="/member-benefit">Membership</option>
                        <option value="/passenger">Passenger Search</option>
                        <option value="/add-woh">Wall of Honor</option>
                        <option value="/add-fof-image">Flag of Faces</option>
                        <option value="/shop">Shop</option>
			</select></div>
            
           
        </div>-->
	';
    }
    ?>


</form>




<script>
$(function()
{
	$('.scroll-pane').jScrollPane();
});
</script>