<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var userId = "' . $userId . '";';
$var .= 'var totalproduct = "' . $itemsTotal['totalproduct'] . '";';
$var .= 'var isInventory = "' . $itemsTotal['isInventory'] . '";';
$var .= 'var couponCode = "' . $couponCode . '";';

echo $this->inlineScript()->prependScript($var);

$isPickUpFlag = 1;
foreach($cartlist as $key=>$val) {
	if($val['is_pickup'] == 0) {
		$isPickUpFlag = 0;
	}
}

?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.creditCardValidator.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<div id="maincheckout">

    <div class="inner-header"><a name="userAddress"></a>
        <h1><?php echo $translator['CHECKOUT']; ?> - <span class="navigator"></span> <span class="steptext"><?php echo $translator['SHIPPING_INFORMATION']; ?></h1>
    </div>
    <div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
            <div class="container">
                <div class="checkOut-page">
                    <?php
                    //asd($itemsTotal);
                    $totalProducts = $itemsTotal['totalproduct'];
                    $isInventory = $itemsTotal['isInventory'];
                    $application_source_id = $itemsTotal['application_source_id'];
                    ?>


                    <div class="tab-nav">
                        <ul>
                            <li class="first <?php echo ($totalProducts != $isInventory) ? 'active' : ''; ?>" <?php if($totalProducts != $isInventory){ ?>onclick="displayBlock('ship');"<?php } ?>><span>01</span><small><?php echo $translator['SHIPPING_INFO']; ?></small></li>
                            <li class="second <?php echo ($totalProducts != $isInventory) ? '' : 'active'; ?>"  <?php if($totalProducts == $isInventory){ ?>onclick="displayBlock('cc');"<?php } ?>><span>02</span><small><?php echo $translator['BILLING_INFO']; ?></small></li>
                            <li class="third"><span>03</span><small><?php echo $translator['ORDER_REVIEW']; ?></small></li>
                            <li class="fourth"><span>04</span><small><?php echo $translator['SUBMIT_ORDER']; ?></small></li>
                        </ul>
                    </div>

                    <div style="display: block;" class="main-inner-section">                    

                        <div class="left-section"><div class="success_message full" id="saveAddressConfirmationMsg" style="display:none;"></div>
                            <?php
                            if ($totalProducts != $isInventory && $is_pick_up!='1') {
                                ?><div id="is_pick_up_span" class="pick_up_radio"> <?php if($isPickUpFlag == 1) { ?>
								<label class="m-r-10 left"><input type="radio" name="pick_up" id="ship" checked>Ship
								
								<div class="pick-up-tooltip">
								  <div class="tooltip"> 
								  <small></small> 
								 Choose <i>Ship</i> and receive a discount of $7.00 towards your purchase today. Discount not valid on Pick Up orders.							 
								  </div>
								</div>
								
								</label>
								<label class="m-r-10 left"><input type="radio" name="pick_up" id="pick_up">Pick Up
								
								<div class="pick-up-tooltip">
								  <div class="tooltip"> 
								  <small></small> 
								  Choose <i>Pick Up</i> to print your order at the AFIHC checkout desk. Save $7.00 today when you choose to ship your order!				 
								  </div>
								</div>

								
								
								</label>
                                <?php } ?>
								<!--<span class="errorMsg">Please select Pick Up, if you are willing to Pick Up the order from Ellis.</span>-->
								
								</div><div id="processingDivPickup" style="display:none;"><img src ="images/loading.gif"><br>Processing please wait...</div>
                                <div id="pick_up_message" style="display:none;"><p><strong>If you like to pick up your order. Please complete the order, print your ordered items and collect them from the help-desk.</strong></p></div>
                                <div id="step1div">								
                                    <label id="shipping_address_error" class="error"></label>
                                    <div class="content">
                                        <?php
                                        $form = $this->createTransactionForm;
                                        $form->setAttribute('name', 'addNewShippingFrm');
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formRow($form->get('user_id'));
                                        echo $this->formRow($form->get('check-shipping'));
                                        ?>
                                        <input type="hidden" name="addressinfo_location" id="addressinfo_location" value="3">
                                        <input type="hidden" name="shipping_address_information_id" id="shipping_address_information_id" value="">

                                        <div class="head no-mar">
                                            <div class="">
                                                <h2 class="pickup">Shipping Address </h2> <a class="add-close" href="javascript:void(0)" id="add_new_shipping_address_label" onclick="addNewShippingAddress()" style="float:right">+ Add New Address</a>
                                                <a class="add-close" href="javascript:void(0)" id="cancel_new_shipping_address" onclick="cancelNewShippingAddress()" style="display:none;float:right;">Cancel</a>
                                                <!--<div class="radio-row">
                                                    <?php //if ($totalProducts != $isInventory && $application_source_id != 1) { ?>  <div class="col16 pickup_class"  style="display:<?php //echo ($itemsTotal['isAnyNotPickupField'] == 0 && $totalProducts != $isInventory) ? 'block' : 'none'; ?>"><div class="col5"><label><?php //echo $this->formRow($form->get('pick_up')); ?> Pick Up</label></div></div><?php //} ?>
                                                </div>-->
                                            </div>
                                            <div style="display:none;" class="field-section address-file shipping-add-checkbox top-row"><?php echo $this->formRow($form->get('is_apo_po_record')); ?></div>
                                        </div>

                                        <!-- add new shipping address -->    

                                        <div id="new_shipping_address_div">
                                            <div id="shipping_new_address" style="display:none">
                                                <input type="hidden" name="is_apo_po_new" id="is_apo_po_new" value="1">

                                                <div class="shipping-section">
                                                <div class="row">
                                                <?php
                                                        if ($contactDetail[0]['user_type'] == 1) {
                                                            ?>
                                                            <div class="col1">
                                                                <label><?php echo $translator['L_TITLE']; ?>:</label>
                                                                <div class="checkOut"><?php echo $this->formRow($form->get('shipping_title')); ?></div>
                                                            </div>
                                                            <?php
                                                        }
                                                        ?>
                                                        
														<div class="col1">
                                                            <label><?php
				                                                    if ($contactDetail[0]['user_type'] == 1)
				                                                        echo $translator['L_FIRST_NAME'];
				                                                    else
				                                                        echo $translator['L_COMPANY_NAME'];
                                                            ?>:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_first_name')); ?>
                                                        </div>
                                                        
                                                        <!--<div class="col1">
                                                            <label>Middle Name:<span></span></label>
                                                            <?php //echo $this->formRow($form->get('shipping_middle_name')); ?>
                                                        </div>-->                                                        
                                                        <div class="col1">
                                                            <label><?php
		                                                        if ($contactDetail[0]['user_type'] == 1) {
		                                                            echo $translator['L_LAST_NAME'];
		                                                        } else {
		                                                            echo $translator['L_LEGAL_NAME'];
		                                                        }
                                                            ?>:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_last_name')); ?>
                                                        </div>                                                        
                                                        
                                                </div>
                                                    <div class="row">
                                                        <div class="col2">
                                                            <label>address 1:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_address_1')); ?>
                                                        </div>
                                                        <div class="col2">
                                                            <label>address 2:</label>
                                                            <?php echo $this->formRow($form->get('shipping_address_2')); ?>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col1">
                                                            <label>country:<span>*</span></label>
                                                            <div id="country_block" ><?php echo $this->formRow($form->get('shipping_country')); ?></div>
                                                            <div id="apo_po_country_block"  style="display: none;" ><?php echo $this->formRow($form->get('apo_po_shipping_country')); ?></div>

                                                        </div>
                                                        <div class="col1">

                                                            <label>state:</label>
                                                            <div id="shipping_select_state_block">	
                                                                <div id="other_state_shipping"  style="display: none;" ><?php echo $this->formRow($form->get('shipping_state')); ?></div>
                                                                <div id="usa_state_shipping"><?php echo $this->formRow($form->get('shipping_state_id')); ?></div>

                                                            </div>    
                                                            <div id="shipping_apo_po_state_block" style="display: none;"><?php echo $this->formRow($form->get('apo_po_state')); ?></div>
                                                        </div>

                                                        <div class="col1">
                                                            <label>city:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_city')); ?>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col1">
                                                            <label>postal:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_zip_code')); ?>
                                                        </div>
                                                        <div class="col-p-no">

                                                            <label>Phone Number:<?php echo $this->formRow($form->get('shipping_phone_info_id')); ?><span>*</span></label>
                                                            <div class="phone-box m-r-20"><?php echo $this->formRow($form->get('shipping_country_code')); ?> <span>Country Code</span></div>
                                                            <div class="phone-box"><?php echo $this->formRow($form->get('shipping_area_code')); ?><span>Area Code</span></div>
                                                            <div class="phone-box"><?php echo $this->formRow($form->get('shipping_phone')); ?><span>Phone Number</span></div>


                                                        </div>
                                                        <div class="example ">ex. 1-212-8883333</div>
                                                    </div>
                                                                                                    <!--<label>Save / Update Address on file: <?php //echo $this->formRow($form->get('save_shipping_address'));         ?></label>
                                                    <?php //echo $this->formRow($form->get('shipping_location_type'));  ?>-->
                                                    <input type="submit" value="Save" class="button semibold green" id="save_new_shipping_address" name="save_new_shipping_address">
                                                    <div id="processingAddNewAddressDiv"><img src ="images/loading.gif"><br>Processing please wait...</div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- end add new shipping address -->  
                                        </form>                                             
                                        <div id="step1_content">        
                                            <?php
                                            $form = $this->createTransactionForm;
                                            $form->setAttribute('name', 'checkout_form');
                                            $form->prepare();
                                            echo $this->form()->openTag($form);
                                            echo $this->formRow($form->get('user_id'));
                                            echo $this->formRow($form->get('check-shipping'));
                                            ?>
                                            <input type="hidden" name="addressinfo_location" id="addressinfo_location" value="3">
                                            <input type="hidden" name="shipping_address_information_id" id="shipping_address_information_id" value="">
                                            <input type="hidden" name="is_apo_po" id="is_apo_po" value="1">

                                            <div id="new_shipping_address_div_hidden">
                                                <div id="shipping_new_address_hidden" class="new-address" style="display:none;">
                                                    <div class="field-section">
                                                        <label><?php echo $translator['L_TITLE']; ?>:</label>
                                                        <?php echo $this->formRow($form->get('shipping_title')); ?>
                                                        <label><?php echo $translator['L_FIRST_NAME']; ?>:</label>
                                                        <?php echo $this->formRow($form->get('shipping_first_name')); ?>
                                                        <label><?php echo $translator['L_LAST_NAME']; ?>:</label>
                                                        <?php echo $this->formRow($form->get('shipping_last_name')); ?>
                                                        <label>address 1:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('shipping_address_1')); ?>
                                                        <label>address 2:</label>
                                                        <?php echo $this->formRow($form->get('shipping_address_2')); ?>

                                                        <label>country:<span>*</span></label>
                                                        <div id="country_block_old" ><?php echo $this->formRow($form->get('shipping_country')); ?></div>
                                                        <div id="apo_po_country_block_old"  style="display: none;" ><?php echo $this->formRow($form->get('apo_po_shipping_country')); ?></div>

                                                        <label>state:</label>
                                                        <div id="shipping_select_state_block_old">
                                                            <div id="other_state_shipping"  style="display: none;" ><?php echo $this->formRow($form->get('shipping_state')); ?></div>
                                                            <div id="usa_state_shipping"><?php echo $this->formRow($form->get('shipping_state_id')); ?></div>
                                                        </div>    
                                                        <div id="shipping_apo_po_state_block_old" style="display: none;"><?php echo $this->formRow($form->get('apo_po_state')); ?></div>

                                                        <label>city:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('shipping_city')); ?>
                                                        <label>postal:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('shipping_zip_code')); ?>

                                                        <label>Phone Number:<?php echo $this->formRow($form->get('shipping_phone_info_id')); ?><span>*</span></label>
                                                        <div class="clearfix">
                                                            <div class="col3">Country Code <?php echo $this->formRow($form->get('shipping_country_code')); ?></div>
                                                            <div class="col3">Area Code <?php echo $this->formRow($form->get('shipping_area_code')); ?></div>
                                                            <div class="col4">Phone Number <?php echo $this->formRow($form->get('shipping_phone')); ?></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end add new shipping address -->  

                                            <!-- Old existing addresses-->

                                            <div class="address-file">
                                                <div id="old_shipping_address_div">
                                                    <div class="col16 ship_to_add_option">
                                                        <div class="col5"><?php //echo $this->formRow($form->get('ship_to_address'));         ?></div>                                                       
                                                        <div class="select-address" style="display:block">
                                                            <div class="credit-card-list billing-list mar-btn-10" id='shipping_address_list'>
                                                                <?php
                                                                if (count($shippingLocation) > 0) {

                                                                    foreach ($shippingLocation as $key => $val) {
                                                                        $defaultAdd = '';
                                                                        $checked = '';
                                                                        if ($defaultShippingAddress == $key) {
                                                                            $checked = 'checked';
                                                                            $defaultAdd = '<small>(Primary Address)</small>';
                                                                        }
                                                                        if ($defaultShippingAddress == '') {
                                                                            $checked = 'checked';
                                                                            $defaultShippingAddress = $key;
                                                                        }
                                                                        ?>
                                                                        <div class="row">
                                                                            <input name="shipping_existing_contact" id="shipping_existing_contact_<?php echo $key ?>" <?php echo $checked ?> type="radio" value="<?php echo $key ?>" class="radio" onClick="getAddressInfoFront('<?php echo $key ?>','shipping','');">
                                                                            <div class="text-section">
                                                                                <p><?php echo stripslashes($val); ?>
                                                                                    <?php echo $defaultAdd ?></p>
                                                                            </div>
                                                                            <a href="#delete_address" onClick="deleteBillingShippingAddress('<?php echo $this->Encrypt($key) ?>','shipping')" class="delete delete_address" alt="Delete" title="Delete"></a>
                                                                            <a href="javascript:void(0)" class="edit" onClick="editShippingAddress('<?php echo $key ?>','shipping','edit')"></a>

                                                                        </div>
                                                                        <?php
                                                                    }
                                                                }
                                                                ?>
                                                            </div>
                                                        </div>                                                     
                                                        <span id="ship_to_add_option_error"></span>
                                                    </div>

                                                </div>
                                                <label class="error" style="display:none;" id="formErrorMsg"></label><br>
                                            </div>
                                            <?php
                                            $isWOHProduct = 0;
                                            if (count($cartlist) > 0) {
                                            foreach ($cartlist as $cartProduct) {
                                                if ($cartProduct['product_type_id'] == 6) { // WOH
                                                    $isWOHProduct = 1;
                                                }
                                                }
                                            }
                                            ?>        
                                                    
                                            <div class="head" id="ship_method_radio">
                                                <div class="top-row border-none">
                                                    <h2>shipping method</h2>	
													
													<div class="ship-method-radio">
                                                    <div id="ship_method_id" class="ship_method_class radio-row">
                                                        <?php echo $this->formRow($form->get('shipping_method')); ?>

                                                    </div>
                                                    <label class="error" id="shipping_method_error_msg"></label>
                                                    <p class="shiMethMsg"><strong>Note:</strong> International days are not guaranteed. Custom frame will take approx. 14 days to ship.
                                                    <?php
                                                        if($isWOHProduct == 1){
                                                            echo "<br/>Wall of Honor Products will not be shipped until reviewed and can not be sent overnight.";
                                                            }
                                                    ?>
                                                    <a href="<?php echo SITE_URL; ?>/online-store-terms#shipping"><br>Shipping terms</a>
													If you are experiencing an issue placing the order, please contact <strong>212-561-4588</strong></p>
													</div>
													
                                                </div>
                                                <div class="next-step">

                                                    <?php echo $this->formRow($form->get('free_shipping')); ?>
                                                    <?php echo $this->formRow($form->get('ship_method_error')); ?>
                                                    
                                                    <div id="processingDiv"><img src ="images/loading.gif"><br>Processing please wait...</div>

                                                </div>		                                            
                                            </div>    		
                                            <!-- Old existing addresses-->
                                        </div>

                                    </div>
                                    
                                   
                                </div>
                                <span id="continue_step_1_span" class="m-t-15 left full"><?php echo $this->formRow($form->get('step1')); ?></span>
                                 <?php echo $this->form()->closeTag(); ?>
                            <?php } ?>
                            
                            <span id="cash_payment_span" style="display:none;">
							<div class="pick_up_radio">
							<label><input type="radio" name="cash_payment" value="0" id="credit_payment" checked>Credit Card</label>
                            <label><input type="radio" name="cash_payment" value="1" id="cash_payment">Cash Payment
							
							<div class="pick-up-tooltip">
								  <div class="tooltip"> 
								  <small></small>
									If you select Cash Payment, you will pay for your purchase with a cashier at the check-in desk.
								  </div>
								</div>
							
							</label>                           
                            </div>
                            <!--<input type="checkbox" name="cash_payment" id="cash_payment">Cash Payment</span>-->  
                            <div id="step2div" style="<?php echo ($totalProducts != $isInventory) ? 'display:none' : 'display:block'; ?>">                                
							<?php
                                $form = $this->createTransactionForm;
                                $form->setAttribute('name', 'credit_card');
                                $form->prepare();
                                echo $this->form()->openTag($form);
                                echo $this->formRow($form->get('user_id'));
                                ?>
								  
								
                                <label id="credit_card_error" class="error"></label>
                                <input type="hidden" name="credit_card_type" id="credit_card_type" value="">

                                <div class="head">
                                    <div class="top-row">
                                        <h2><?php echo $translator['CREDIT_CARD_INFO']; ?> </h2>
                                        <a class="add-close" href="javascript:void(0)" id="add_new_card_label" onclick="addNewCard();">+ Add New Card</a>
                                        <a class="add-close" href="javascript:void(0)" id="cancel_new_card" onclick="cancelNewCard()" style="display:none;">Cancel</a>
                                    </div>
                                </div>

                                <div class="col16">
                                    <div class="col6"> <?php //echo $this->formRow($form->get('credit_card_selection'));       ?></div>

                                    <div id="new_credit_card" class="new-address" style="display:none">
                                        <div class="shipping-section">
                                            <div class="row">
                                                <div class="col1">
                                                    <label><?php echo $translator['NAME_ON_CARD']; ?>:<span>*</span></label>
                                                    <?php echo $this->formRow($form->get('credit_card_name')); ?>
                                                </div>
                                                <div class="col1">
                                                    <label><?php echo $translator['CARD_NUMBER']; ?>:<span>*</span></label>
                                                    <?php echo $this->formRow($form->get('credit_card_number')); ?>
                                                </div>
                                                <div class="col1">
                                                    <label><?php echo $translator['VERIFICATION_CODE']; ?>:<span><!-- * --></span></label>
                                                    <?php echo $this->formRow($form->get('credit_card_code')); ?>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col1">
                                                    <label><?php echo $translator['EXPIRATION']; ?>:<span>*</span></label>
                                                    <?php echo $this->formRow($form->get('credit_card_exp_month')); ?> 
                                                </div>
                                                <div class="col1">
                                                    <label>&nbsp;</label>
                                                    <?php echo $this->formRow($form->get('credit_card_exp_year')); ?>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col1" id="savecredit"><input type="submit" value="Save" class="button semibold green" id="add_new_credit_card" name="add_new_credit_card"></div> 
                                                <div id="processingDiv3" style="display:none;"><img src ="images/loading.gif"><br>Processing please wait...</div>
                                                
                                                <div id="billing_select_address_error"></div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address-file">
                                        <div id="old_credit_card" style="display:block">
                                            <div id='credit-card-list' class="credit-card-list">
                                                <div class="col16 ship_to_add_option">
                                                    <?php
                                                    if (count($tokenArray) > 0) {
                                                        $p = 0;
                                                        foreach ($tokenArray as $key => $val) {
                                                            $defaultAdd = '';
                                                            $checked = '';
                                                            if ($p == 0)
                                                                $checked = 'checked';
                                                            ?>
                                                            <div class="row">
                                                                <input name="credit_card_exist" id="credit_card_exist[]" type="radio" value="<?php echo $key ?>" <?php echo $checked ?> class="radio" >
                                                                <p><?php echo stripslashes($val); ?>
                                                                    <?php echo $defaultAdd ?></p>
                                                                <!--<a href="#delete_address" onClick="deleteCreditCard('<?php //echo $this->Encrypt($key)      ?>')" class="delete delete_address" alt="Delete" title="Delete"></a>-->
                                                            </div>
                                                            <?php
                                                            $p++;
                                                        }
                                                    }
                                                    ?>
                                                </div> </div>
                                        </div>      </div>                        

                                    <div id="credit_card_error" class="error"></div>
                                </div>
                                <?php echo $this->form()->closeTag(); ?>

                                <div class="address-file">
                                    <div class="full">
                                        <?php
                                        $form = $this->createTransactionForm;
                                        $form->setAttribute('name', 'secondstep');
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formRow($form->get('user_id'));
                                        ?>
                                        <div class="head">
                                            <div class="top-row">
                                                <h2 id="billing_div"><?php echo $translator['BILLING_ADDRESS']; ?> </h2>
                                                <a class="add-close" href="javascript:void(0)" id="add_new_billing_address_label"  onclick="addNewBillingAddress()">+ Add New Address</a>
                                                <a class="add-close" href="javascript:void(0)" id="cancel_new_billing_address" onclick="cancelNewBillingAddress()" style="display:none;">Cancel</a>
                                            </div>
                                        </div>
                                        <!-- Old existing addresses-->

                                        <div class="address-file">
                                            <div id="old_billing_address_div">
                                                <div class="col16 ship_to_add_option">
                                                    <div class="col6"><?php //echo $this->formRow($form->get('bill_to_address'));         ?></div>
                                                    <div class="full"> 
                                                        <div class="select-address">
                                                            <div class="credit-card-list billing-list" id='billing_address_list'>
                                                                <?php
                                                                if (count($billingLocation) > 0) {
                                                                    foreach ($billingLocation as $key => $val) {
                                                                        $defaultAdd = '';
                                                                        $checked = '';
                                                                        if ($defaultBillingAddress == $key) {
                                                                            $checked = 'checked';
                                                                            $defaultAdd = '<small>(Primary Address)</small>';
                                                                        }
                                                                        if ($defaultBillingAddress == '') {
                                                                            $checked = 'checked';
                                                                            $defaultBillingAddress = $key;
                                                                        }
                                                                        ?>
                                                                        <div class="row">
                                                                            <input name="billing_existing_contact" id="billing_existing_contact_<?php echo $key ?>" <?php echo $checked ?> type="radio" value="<?php echo $key ?>" class="radio" onClick="getAddressInfoFront('<?php echo $key ?>','billing','');">
                                                                            <div class="text-section">
                                                                                <p><?php echo stripslashes($val); ?>
                                                                                    <?php echo $defaultAdd ?></p>
                                                                            </div>
                                                                            <a href="#delete_address" onClick="deleteBillingShippingAddress('<?php echo $this->Encrypt($key) ?>','billing')" class="delete delete_address" alt="Delete" title="Delete"></a>
                                                                            <a href="javascript:void(0)" class="edit" onClick="editBillingAddress('<?php echo $key ?>','billing','edit')"></a>
                                                                        </div>
                                                                        <?php
                                                                    }
                                                                }
                                                                elseif($totalProducts != $isInventory){
                                                                ?>
                                                                    <br>
                                                                    <span style="float:right;"><input type="checkbox" name="same_as_shipping" id="same_as_shipping" checked='checked'> Same as Shipping Address</span>
                                                                <?php
                                                                }
                                                                ?>
                                                            </div>
                                                        </div>
                                                        <span id="billing_to_add_option_error"></span>

                                                    </div>
                                                </div>	
                                                <hr>
                                                <!-- Step 2 button -->
                                            </div>
                                        </div>

                                        <!-- add new billing address -->    
                                        <div id="billing_new_address" class="new-address-billing" style="display:none">
                                            <div class="shipping-section">
                                                <input type="hidden" name="billing_addressinfo_location" id="billing_addressinfo_location" value="2">
                                                <input type="hidden" name="billing_address_information_id" id="billing_address_information_id" value="">
                                                <div class="row">
                                                    <?php
                                                    if ($contactDetail[0]['user_type'] == 1) {
                                                        ?>
                                                        <div class="col1">
                                                            <label><?php echo $translator['L_TITLE']; ?>:</label>
                                                            <?php echo $this->formRow($form->get('billing_title')); ?>
                                                        </div>
                                                        <?php
                                                    }
                                                    ?>
													<div class="col1">
                                                        <label><?php
                                                    if ($contactDetail[0]['user_type'] == 1)
                                                        echo $translator['L_FIRST_NAME'];
                                                    else
                                                        echo $translator['L_COMPANY_NAME'];
                                                    ?>:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_first_name')); ?>
                                                    </div>
                                                    <!--<div class="col1">
                                                            <label>Middle Name:<span></span></label>
                                                            <?php //echo $this->formRow($form->get('billing_middle_name')); ?>
                                                    </div>--> 
                                                    
                                                    <div class="col1">
                                                        <label><?php
                                                        if ($contactDetail[0]['user_type'] == 1) {
                                                            echo $translator['L_LAST_NAME'];
                                                        } else {
                                                            echo $translator['L_LEGAL_NAME'];
                                                        }
                                                        ?>:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_last_name')); ?>
                                                    </div>                                                    
                                                </div>

                                                <div class="row">
                                                    <div class="col1">
                                                        <label>address 1:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_address_1')); ?>
                                                    </div>
                                                    <div class="col1">
                                                        <label>address 2:</label>
                                                        <?php echo $this->formRow($form->get('billing_address_2')); ?>
                                                    </div>
                                                    <div class="col1">
                                                        <label>country:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_country')); ?>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col1">
                                                        <label>state:</label>
                                                        <div id="other_state_billing"  style="display: none;" ><?php echo $this->formRow($form->get('billing_state')); ?></div>
                                                        <div id="usa_state_billing"><?php echo $this->formRow($form->get('billing_state_id')); ?></div>
                                                    </div>
                                                    <div class="col1">
                                                        <label>city:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_city')); ?>
                                                    </div>
                                                    <div class="col1">
                                                        <label>postal:<span>*</span></label>
                                                        <?php echo $this->formRow($form->get('billing_zip_code')); ?>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-p-no">
                                                        <label>Phone Number:<?php echo $this->formRow($form->get('billing_phone_info_id')); ?></label>

                                                        <div class="phone-box m-r-20"><?php echo $this->formRow($form->get('billing_country_code')); ?><span>Country Code</span></div>
                                                        <div class="phone-box"><?php echo $this->formRow($form->get('billing_area_code')); ?><span>Area Code</span></div>
                                                        <div class="phone-box"><?php echo $this->formRow($form->get('billing_phone')); ?><span>Phone Number</span></div>

                                                    </div>
                                                    <div class="example left">ex. 1-212-8883333</div>
                                                </div>
<!--<label>Save / Update Address on file:<?php //echo $this->formRow($form->get('save_billing_address'));       ?></label>-->
                                                <div class="row">
                                                    <div class="col2">
                                                        <?php echo $this->formRow($form->get('billing_location_type')); ?>
                                                        <input type="submit" value="Save" class="button semibold green" id="save_new_billing_address" name="save_new_billing_address">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End add new billing address -->    

                                    </div>
                                    
                                </div>
                            	</div>	
                            	
                            <div class="next-step" id="next-step-payment" style="display:none;">
                                    <?php echo $this->formRow($form->get('step2')); ?>
                                    <div id="processingDiv2" style="display:none;"><img src ="images/loading.gif"><br>Processing please wait...</div>
                            </div>	
                            <?php echo $this->form()->closeTag(); ?>
                        </div>   
                        <div class="right-section">
                            <?php
                            if (count($cartlist) > 0 && !empty($cartlist)) {
                                $cartItems = count($cartlist);
                            } else {
                                $cartItems = 0;
                            }
                            ?>
                            <h2>ORDER SUMMARY</h2>
                            <div class="item-list">
                                <div class="row">
                                    <span class="left">Items <span class="number" onClick="showHideProduct();"><?php echo $cartItems ?></span></span>
                                    <span class="right">$<?php echo $itemsTotal['itemtotal'] ?></span>
                                    <ul class="sub-list" id="carlistItem" style="display:none;">
								
                                        <?php
                                        $subamount = 0;
                                        if ($this->layout()->getVariable('https_on') == 1) {
                                            $path = $this->upload_file_path['assets_url_https'] . 'product/thumbnail/';
                                        } else {
                                            $path = $this->upload_file_path['assets_url'] . 'product/thumbnail/';
                                        }
                                        $isCustomProductAdded = '';
                                        if (count($cartlist) > 0) {
                                            foreach ($cartlist as $cartProduct) {
                                                if ($cartProduct['category_id'] == 2) { // custom frame category
                                                    $isCustomProductAdded = 'yes';
                                                }
                                                $subTitle = '';
                                                if ($cartProduct['product_type_id'] == 1) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 2) {
                                                    $productLabel = $cartProduct['product_type'];
                                                } else if ($cartProduct['product_type_id'] == 3) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 4) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_mapping_id'] == 6) {
                                                    if ($cartProduct['item_type'] == '1') {

                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                        else if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Name :</strong> ' . $cartProduct['item_name'] . '<br><strong>ID :</strong> ' . $cartProduct['item_id'] . '';
                                                        else
                                                            $subTitle = '' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                    } else if ($cartProduct['item_type'] == '3') {

                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '';
                                                        if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Passenger Name :</strong> ' . $cartProduct['item_name'] . '';



                                                        $arrivalDate = 'N/A';
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $subTitle.= "<br><strong>Arrival Date :</strong> " . $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                    }
                                                    else if ($cartProduct['item_type'] == '2') {
                                                        if (!empty($cartProduct['item_name'])) {
                                                            $subTitle = '' . $cartProduct['product_name'] . '<br>' . $cartProduct['item_name'] . '';
                                                        }
                                                        $itemName = '';
                                                        if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                                                            $itemName = $cartProduct['item_name'];
                                                        else
                                                            $itemName = $cartProduct['ship_name'];

                                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                                            $subTitle = '<strong>Image :</strong> ' . $cartProduct['manifest_info'] . '<br>';

                                                        if (!empty($cartProduct['ship_name'])) {
                                                            $subTitle.= '' . '<strong>Ship Name :</strong> ' . $itemName;
                                                        } elseif (!empty($cartProduct['item_name'])) {
                                                            $subTitle.= '<strong>Passenger Name :</strong> ' . $cartProduct['item_name'];
                                                        }
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                        else
                                                            $arrivalDate = 'N/A';
                                                        $subTitle.= "<br><strong>Arrival Date :</strong> " . $arrivalDate;
                                                    }
                                                    else {
                                                        $productLabel = $cartProduct['product_name'];
                                                    }
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 6) {
                                                    $productLabel = $cartProduct['product_name'];
                                                    if (!empty($cartProduct['product_option_name']))
                                                        $productLabel .= ' - ' . $cartProduct['product_option_name'];


                                                    if (!empty($cartProduct['woh_name']))
                                                        $productLabel.= '<br><strong>Honoree Name :</strong> ' . $cartProduct['woh_name'];
                                                } else if ($cartProduct['product_type_id'] == 7) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 8) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }

                                                if ($cartProduct['product_mapping_id'] == 5) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }

                                                /*
                                                  if (!empty($cartProduct['image_name'])) {
                                                  $imgSrc = $path . $cartProduct['image_name'];
                                                  } else {
                                                  $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/no-image-cart.jpg';
                                                  } */
                                                if (!empty($cartProduct['image_name'])) {
                                                    $imgSrc = $path . $cartProduct['image_name'];
                                                } else {

                                                    if ($cartProduct['product_type_id'] == '2') {
                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/donate.jpg';
                                                    } else {

                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/no-image-cart.jpg';
                                                    }
                                                }
                                                if ($cartProduct['product_type_id'] == '4') {
                                                    $imgSrc = $upload_file_path['assets_url'] . 'temp/fof/medium/' . $cartProduct['fof_image'];
                                                }

                                                if ($cartProduct['type_of_product'] == 'membership') {
                                                    $imgSrc = $this->layout()->getVariable('imageFilePath') . "/images/member_card.png";
                                                }

                                                $cartProduct['product_qty'] = !empty($cartProduct['product_qty']) ? $cartProduct['product_qty'] : 1;
                                                $productPrice = $this->Currencyformat($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']);
                                                //$totalPrice = ($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']) * $cartProduct['product_qty'];
                                                $totalPrice = ($cartProduct['product_subtotal'] - $cartProduct['membership_discount']);
                                                
                                                $subamount = $subamount + $totalPrice;
                                                ?>
                                                <li>
                                                    <div class="img-box"><img src="<?php echo $imgSrc; ?>" width="48" alt=""></div>
                                                    <span class="left"><?php echo $productLabel; ?><?php echo!empty($subTitle) ? '<br>' . $subTitle : ''; ?><br><strong>Qty :</strong> <?php echo $cartProduct['product_qty']; ?></span>
                                                    <span class="right">$<?php echo $this->Currencyformat($totalPrice); ?></span>

                                                </li>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </ul>   
                                </div>
                                <div class="row">
                                    <span class="left">Discount</span>
                                    <span class="right">(<span class="amount coupondiscount">$<?php echo $itemsTotal['coupondiscount'] ?></span>)</span>
                                </div>
                                <div class="row">
                                    <span class="left">Shipping And Handling</span>
                                    <span class="right"><span class="amount shipping">$<?php echo $itemsTotal['shipping'] ?></span></span>
                                </div>
                                <div class="row">
                                    <span class="left">Total Before Tax</span>
                                    <span class="right"><span class="amount totalaftershipping">$<?php echo $itemsTotal['totalaftershipping'] ?></span></span>
                                </div>
                                <div class="row last">
                                    <span class="left">Estimated Tax</span>
                                    <span class="right"><span class="amount estimatedtax">$<?php echo $itemsTotal['estimatedtax'] ?></span></span>
                                </div>
                            </div>
                            <div class="order-total finaltotal" id="total">ORDER TOTAL <span>$<?php echo $itemsTotal['finaltotal'] ?></span></div>
                            <div class="discount-coupon">
                                <label>Promotional Code</label>
                                <input style="width: 56%; margin-right: 20px" type="text" id="couponcode" name="couponcode" placeholder="Enter Promo code">
                                <input type="hidden" id="isCustomProductAdded" name="isCustomProductAdded" value="<?php echo $isCustomProductAdded ?>" >
								<input type="hidden" name="is_promotion_applied" id="is_promotion_applied" value="">
                                <span id="applycouponcodeDiv"><input class="button green" type="button" name="applycouponcode" id="applycouponcode" value="APPLY" onclick="applycouponcode()"></span>
                                <span id="applycouponcodeProcessing" style="display:none;"><img src ="images/loading.gif"></span>
                                <label for="applycouponcode" id="" style="display:none" generated="true" class="error applycouponcodeerror"></label>
								<span id="ship_to_add_option_error_coupon"></span>
                                <?php
                                /* // commented on 20 Aug
                                  if (!empty($validPromotionsForUser)) {
                                  echo '<label>Available Coupons.</label>';
                                  foreach ($validPromotionsForUser as $coupon) {
                                  ?>
                                  <a href="javascript:void(0);" class="link" onclick="chooseCoupon('<?php echo $coupon['coupon_code']; ?>',<?php echo $coupon['promotion_id']; ?>)"><?php echo $coupon['promotion_name']; ?></a><br />
                                  <?php
                                  }
                                  } */
                                ?>
                                <?php
                                
                                /*if (!empty($memberdiscount) && $isOnlyDonation != 1) {
                                    ?>
                                    <p><a href="<?php echo SITE_URL; ?>/member-benefit" class="line-blue">Become a member </a>right now and save <span style="font-weight: bold">$<?php echo $this->Currencyformat($memberdiscount); ?></span> on this order</p>
                                <?php } ?>
                                <?php if ($membershipDiscountAmount > 0) {
                                    ?>
                                    <p>Your Membership saved you <span>$<?php echo $this->Currencyformat($membershipDiscountAmount); ?></span> on this order</p>
                                <?php } */ ?>

                            </div>
                        </div>

                        <div class="steps alpha">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="orderreview" style="display:block;" >

</div>


<div style='display:none'>
    <div id='delete_address' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this address?</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Yes" name="yes" id="yes_delete_address" class="button semibold">
                <input type="button" value="No" name="no" id="no_delete_address" class="button semibold">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_address_confirmation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Address has been saved successfully.</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Close" name="yes" id="yes_close" class="button semibold" onClick="javascript:$('#cboxClose').click();">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_card_confirmation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Credit card informtion is saved successfully.</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Close" name="yes" id="yes_close" class="button semibold" onClick="javascript:$('#cboxClose').click();">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_credit_card' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this credit card?</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Yes" name="yes" id="yes_delete_card" class="button semibold">
                <input type="button" value="No" name="no" id="no_delete_card" class="button semibold">
            </div>    
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    
        
        if(couponCode) {    
            if(couponCode != 0){
                var couponcode=$("#couponcode").val(couponCode);
                applycouponcode();
            }
        }
        if('<?php echo ($totalProducts == $isInventory) ?>'){
             //ga('require', 'displayfeatures');
             //ga('send', 'pageview',{'page': '/checkout-billing-info','title': 'Checkout Billing Information'})
        }
        
    });
</script>