<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
       
		
        $('.donate-button').click(function(){
            $('.donate-button').removeClass('active');
            $(this).addClass('active');
        });
		
        $('.yes-btn').click(function(){
            $('.yes-btn').removeClass('active');
            $(this).addClass('active');
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart-front.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>

<div class="container">
<div class="checkOut-page">
<div class="left-section">
		<div class="shipping-section donate-form">
		<h2>Donate Now</h2>
		<div class="donation-messgae">You are about to donate  $50.00  towards the foundation</div>
		</div>
	
		<div class="shipping-section donate-form">
		<h2>Billing Information :<span class="red">*</span> <span>Please Enter your Billing Address and  Payment Information below</span> </h2>
		  <input type="hidden" value="2" id="billing_addressinfo_location" name="billing_addressinfo_location">
		  <input type="hidden" value="" id="billing_address_information_id" name="billing_address_information_id">
		  <div class="row">
		   
			<div class="col1">
			  <label>First Name:<span>*</span></label>
			  <input type="text" value="Parmeshwar" class="width-222" id="billing_first_name" name="billing_first_name">
			</div>
			<div class="col1">
			  <label>Last Name:<span>*</span></label>
			  <input type="text" value="Baraik" class="width-222" id="billing_last_name" name="billing_last_name">
			</div>
		  </div>
		  <div class="row">
		   
			<div class="col1">
			  <label>Email Address<span>*</span></label>
			  <input type="text" value="Parmeshwar" class="width-222" id="billing_first_name" name="billing_first_name">
			</div>
			<div class="col1">
			  <label>Conform Email Address<span>*</span></label>
			  <input type="text" value="Baraik" class="width-222" id="billing_last_name" name="billing_last_name">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  <label>address 1:<span>*</span></label>
			  <input type="text" value="" class="width-222" id="billing_address_1" name="billing_address_1">
			</div>
			<div class="col1">
			  <label>address 2:</label>
			  <input type="text" value="" class="width-222" id="billing_address_2" name="billing_address_2">
			</div>
		   
		  </div>
		   <div class="row">
			<div class="col1">
			  <label>postal:<span>*</span></label>
			  <input type="text" value="" class="width-222" id="billing_address_1" name="billing_address_1">
			</div>
			<div class="col1">
			  <label>City:</label>
			  <input type="text" value="" class="width-222" id="billing_address_2" name="billing_address_2">
			</div>
		   
		  </div>
		  <div class="row">
		   <div class="col1">
			  <label>state:</label>
			 
				<select >
				  <option selected="selected" value="">Select State</option>
				  <option selected="selected" value="">Select State</option>
				  <option selected="selected" value="">Select State</option>
				</select>
			  
			</div>
		   <div class="col1">
			  <label>country:<span>*</span></label>
			  <select>
				<option value="228">UNITED STATES</option>
				<option value="227">UNITED KINGDOM</option>
				<option value="39">CANADA</option>
				<option value="1">AFGHANISTAN</option>
				<option value="3">ALBANIA</option>
				<option value="4">ALGERIA</option>
				<option value="5">AMERICAN SAMOA</option>
			  </select>
			</div>
		  </div>
		</div>
		<div class="shipping-section donate-form card-details">
		
		  <div class="row">
			<div class="col1">
			  <label>Card Number</label>
			  <input type="text" value="" class="width-222" id="billing_first_name" name="billing_first_name">
			</div>
			<div class="col1">
			  <label>Security Code</label>
			  <input type="text" value="" class="width-222" id="billing_last_name" name="billing_last_name">
			</div>
		  </div>
		  <div class="row">
			<div class="col1">
			  <label>Expiration Date</label>
			   <select>
				<option>1</option>
				<option>1</option>
				<option>1</option>
				<option>1</option>
				<option>1</option>
			  </select>
			  <select>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
				<option>2</option>
			  </select>
			</div>
			<div class="col1"> </div>
		  </div>
		  <div class="row">
			<div class="form-sep"> <input type="checkbox" name="" value="1"> Yes! I would like to Subscribe to the Free monthly Newsletter </div>
			</div>
		  </div>
	</div>
	<div class="right-section donate-now">
		<h2>Returning customer</h2>
		<div class="inner"><a href="#">See login Details</a>
		<p>If this is your first time logging into our new site, you will need to Reset your Password to use with your existing account. Please use the email address that was previously associated with your account. </p>
		<p>Thank you for your patience !</p>
		<div class="full"><a class="facebook" href="#"><img class="" src="http://local.soleif_hot.com/images/login-fb-icon.jpg"></a></div>
		
		<div class="login-detail">
		<div class="or"></div>
  <div class="form-sep">
    <label>Email</label>
    <input type="text" value="" name="user_name">
  </div>
  <div class="form-sep">
    <label>Password</label>
    <input type="password" value="" name="password">
  </div>
  <div class="form-sep">
    <input type="hidden" value="0" name="rememberme">
    <input type="checkbox" value="1" name="rememberme">
    Remember Me </div>
  <div class="form-sep">
    <input type="submit" value="Login" class="button green" id="submitbutton" name="submit">
  </div>
</div>
	</div>
	</div>
</div>
</div>