<?php
/**
 * This file is used for generate wall of honor form
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(function(){ 
	$('select.e1').select2();
});
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->wallOfHonor;
$form->prepare();
echo $this->formRow($form->get('product_attribute_option_id'));
?>
<style>
    .woh-product .col1{width:100%}
</style>
<div class="common-form">
    <div class="col1 woh-product">
        <div class="row">
            <div class="col1">
                <label>Format :</label> <label class="auto"><?php echo $formatName; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label>Donated For:</label>
                <?php echo $this->formRow($form->get('donated_for')); ?>
            </div>
        </div>
        <?php
                if ($namingConventionArr['The'] == 1) {
        ?>
                    <div class="row">
                        <div class="col1">
                            <label><strong>The</strong></label>
                        </div>
                    </div>
        <?php
                }
        ?>
                <div class="row">
            <?php
                if ($namingConventionArr['firstName'] == 1) {
            ?>
                    <div class="row">
                        <div class="col1">
                            <label>First Name <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('first_name_one')); ?>
                </div> </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['otherInit'] == 1) {
            ?>	 <div class="row">
                    <div class="col1">
                        <label>Middle Init. <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('other_init_one')); ?>
                </div>
            </div>
            <?php } ?>

            <?php if ($namingConventionArr['and'] == 1) {
            ?>
                    <label><strong>and</strong></label>
            <?php } ?>

            <?php
                if ($namingConventionArr['firstName2'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>First Name <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('first_name_two')); ?>
                </div>
            </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['otherName'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>Other Name <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('other_name')); ?>
                </div>
            </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['otherInit2'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>Middle Init <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('other_init_two')); ?>
                </div>
            </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['lastName'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>Last Name <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('last_name_one')); ?>
                </div>
            </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['hiphen'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>-</label>
                        </div>
                    </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['lastName2'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label>Last Name <span class="red">*</span>: </label>
                    <?php echo $this->formRow($form->get('last_name_two')); ?>
                </div>
            </div>
            <?php } ?>
            <?php
                if ($namingConventionArr['Family'] == 1) {
            ?> <div class="row">
                        <div class="col1">
                            <label><strong>Family</strong></label>
                        </div>
                    </div>
            <?php } ?>

            </div>
        <?php
                if ($namingConventionArr['firstLine'] == 1) {
        ?>
                    <div class="row">
                        <div class="col1">
                            <label>First Line <span class="red">*</span>:</label>
                <?php echo $this->formRow($form->get('first_line')); ?>
                </div>
            </div>
        <?php
                }
        ?>
        <?php
                if ($namingConventionArr['secondLine'] == 1) {
        ?>
                    <div class="row">
                        <div class="col1">
                            <label>Second Line <span class="red">*</span>:</label>
                <?php echo $this->formRow($form->get('second_line')); ?>
                </div>
            </div>
        <?php
                }
        ?>
                <div class="row">
                    <div class="col1">
                        <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('is_usa')); ?>
                <label for="is_usa" class="check">United States of America</label>
                <div style="width:100%; float:left; text-align:center; margin-top:-10px; height: 18px;">OR</div>
                <div class="col1">
                    <label style="margin-top:-29px;">Country of Origin :</label>
                    <?php echo $this->formRow($form->get('other_country')); ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label>Donated By <span class="red">*</span>: </label>
                <?php echo $this->formRow($form->get('donated_by')); ?>
            </div>
        </div>
    </div>
    <div class="col1 woh-product right">
        <div class="row">
            <div class="col1">
                <label>Additional Contacts</label>
            </div>
        </div>
        <div class="row" id="add_more_additional_div">
            <div id="add_more_additional_contact_1">
                <div class="row">
                    <div class="col1">
                        <label>First Name :</label>
                        <?php echo $this->formRow($form->get('wall_of_honor_additional_contact_form')->get('first_name[]')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Last Name : </label>
                        <?php echo $this->formRow($form->get('wall_of_honor_additional_contact_form')->get('last_name[]')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Email : </label>
                        <?php echo $this->formRow($form->get('wall_of_honor_additional_contact_form')->get('email_id[]')); ?>
                        <a id="addMoreAdditionalContact" onclick="addMoreAdditionalContact(this)" href="javascript:void(0);" class="plus m-l-5"></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label>&nbsp;</label>

                <?php echo $this->formRow($form->get('wohaddtocart')); ?>
            </div>
        </div>
    </div>
</div>

