<?php
/**
 * This file is used for user transaction detail
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;

$script = <<<EOD
function donationReciept(transactionId,userId,amount){
        $.colorbox({
            width:"1100px", 
            height:"810px", 
            iframe:true, 
            href:"/user-donation-receipt/"+userId+"/"+transactionId+"/"+amount
        });
    }
EOD;
echo $this->inlineScript()->prependScript($script);
?>
<div class="inner-popup-detail comfirm-alert-pop"  style="display: block;">
    <div class="content">
        <h1><?php echo $translator['H_TRANSACTION_DETAIL']; ?></h1>
        <?php
        //asd($transactionProduct);
        if (isset($transactionProduct) && !empty($transactionProduct)) {
            ?>
            <table cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <?php
                    if (isset($transactionDetail) && !empty($transactionDetail)) {
                        ?>
                        <tr>
                            <th><?php echo $translator['L_ORDER']; ?></th>
                            <th><?php echo $translator['L_DATE']; ?></th>
                            <th><?php echo $translator['L_ITEM']; ?></th>
                            <th><?php echo $translator['L_TOTAL']; ?></th>                    
                            <th><?php echo $translator['L_STATUS']; ?></th>                    
                        </tr>
                        <tr>
                            <td>#<?php echo $transactionDetail['transaction_id']; ?></td>
                            <td><?php echo $this->Dateformatalpha($transactionDetail['transaction_date'], 'calender'); ?></td>
                            <td><?php echo $transactionDetail['num_items']; ?></td>
                            <td><span class="right">$ <?php echo $this->Currencyformat($transactionDetail['transaction_amount'] - ($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount']+ $transactionDetail['refund_shipping']+ $transactionDetail['refund_tax'])); ?></span></td>
                            <td><?php echo $transactionDetail['status_name']; ?></td>
                        </tr>
                        <?php
                    }
                    ?>
            </table>
            </tbody>
            <table cellspacing="0" cellpadding="0" width="100%" style="margin-top:20px;">
                <tbody>
                    <tr>
                        <th><?php echo $translator['L_PRODUCT']; ?></th>
                        <th><?php echo $translator['L_QUANTITY']; ?></th>
                        <th>Price</th>
                        <th>Sub Total</th>
                        <th><?php echo $translator['L_SHIPPING_HANDLING']; ?></th> 
                        <th><?php echo $translator['L_TAX']; ?></th> 
                        <th>Discount</th>
                        <th><?php echo $translator['L_TOTAL']; ?></th>
                        <th><?php echo $translator['L_STATUS']; ?></th>
                    </tr>
                    <?php
                    $sub_total = 0;
                    $totalOfTransaction = 0;
                    foreach ($transactionProduct as $val) {
                        $sub_total = $sub_total + $val['product_sub_total'];
                        $totalOfTransaction +=$val['product_total'];
                        ?>
                        <tr>
                            <td>
                                <?php
                                if (!empty($val['item_info']) && $val['item_info'] != '0000-00-00')
                                    $arrivalDate = $this->Dateformatalpha($val['item_info'], 'calender');
                                else
                                    $arrivalDate = 'N/A';

                                if ($val['item_type'] == 3) {
                                    echo $val['product_name']." <br>Size: ".$val['option_name']."" . '<br> Ship Name: ' . $val['item_name'];
                                    echo "<br>Arrival Date: " . $arrivalDate;
                                } else if ($val['item_type'] == 2) {
                                    if (strlen($val['item_id']) < 12)
                                        $l_item_name = 'Ship Name: ';
                                    else
                                        $l_item_name = 'Passenger Name: ';
                                        
                                    $productName = $val['product_name'];

					                    if(isset($val['manifest_info']) && !empty($val['manifest_info']))
                                            $productName.= ' : '.$val['manifest_info'];                                               
                                        
                                    echo $productName . '<br>' . $l_item_name . $val['item_name'] . "";
                                    echo "<br>Arrival Date:" . $arrivalDate;
                                }
                                else if ($val['item_type'] == 1) {
                                    echo $val['product_name']." <br>Size: ".$val['option_name']."";
                                    if (isset($val['item_name']) && $val['item_name'] != '')
                                       echo "<br>Passenger Name: " . $val['item_name']; 
                                    echo "<br>Passenger ID: " . $val['item_id'];
                                }
                                else {  
                                    echo $val['product_name']."<br>".$val['option_name'];      
                                 }
                                ?>

                                <!--<br>-->
                                <?php //echo $val['option_name']; ?>
                                <?php if ($val['product_type'] == 2) { ?>
                                    <img alt="" style="cursor:pointer" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/receipt.jpg" class="float-right" onclick="donationReciept('<?php echo $this->Encrypt($transactionDetail['transaction_id']); ?>','<?php echo $this->Encrypt($userId); ?>','<?php echo $this->Encrypt($val['product_total']); ?>');">
                                    <?php
                                }
                                ?>
                            </td>
                            <td><?php echo $val['product_quantity']; ?></td>
                            <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($val['product_price']); ?></span></td>
                            <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($val['product_sub_total']); ?></span></td>
                            <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($val['shipping'] + $val['handling']); ?></span></td>
                            <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($val['product_tax']); ?></span></td>
                            <td><span class="right">($&nbsp;<?php echo $this->Currencyformat($val['product_discount']); ?>)</span></td>
        <!--                            <td>
                            <?php
                            if ($val['product_total'] > 0) {
                                $price = $this->Currencyformat($val['product_total'] / $val['product_quantity']);
                            } else {
                                $price = $this->Currencyformat($val['product_price']);
                            }
                            ?>
                            <?php echo $val['product_quantity']; ?> X $ <?php echo $price; ?>
        </td>-->
                            <td>
                                <?php
                                if ($val['product_status'] == '6' || $val['product_status'] == '13') {
                                    echo '<span class="right">($&nbsp;' . $this->Currencyformat($val['product_total']) . ')</span>';
                                } else {
                                    echo '<span class="right">$&nbsp;' . $this->Currencyformat($val['product_total']) . '</span>';
                                }
                                ?>
                            </td>
                            <td>
                                <?php
                                if (isset($val['tracking_code']) && $val['tracking_code'] != '') {
                                    echo "Tracking #" . $val['tracking_code'];
                                }
                                ?>
                                <?php echo $val['status_name']; ?>
                            </td>
                        </tr>
                        <?php
                    }
                    ?>
                    <tr>
                        <td colspan="7"><label class="txt-align-rgt"><b class="bold">Sub Total</b></label></td>
                        <td colspan="2"><label class="right">$ <?php echo $this->Currencyformat($sub_total); ?></label></td>
                    </tr>
                    <tr>
                        <td colspan="7"><label class="txt-align-rgt"><b class="bold">Discount</b></label></td>
                        <td colspan="2"><label class="right">($ <?php echo $this->Currencyformat($transactionDetail['total_discount']); ?>)</label></td>
                    </tr>
                    <tr>
                        <td colspan="7"><label class="txt-align-rgt"><b class="bold">Shipping & Handling Charge</b></label></td>
                        <td colspan="2"><label class="right">$ <?php echo $this->Currencyformat($transactionDetail['shipping_amount'] + $transactionDetail['handling_amount']); ?></label></td>
                    </tr>
                    <tr>
                        <td colspan="7"><label class="txt-align-rgt"><b class="bold">Global Tax</b></label></td>
                        <td colspan="2"><label class="right">$ <?php echo $this->Currencyformat($transactionDetail['total_tax']); ?></label></td>
                    </tr>
		            <?php
		            if (($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount']) != '0') {
		                ?>
						<tr>
	                        <td colspan="7"><label class="txt-align-rgt"><b class="bold">Cancel / Return</b></label></td>
	                        <td colspan="2"><label class="right">($ <?php echo $this->Currencyformat($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount']+ $transactionDetail['refund_shipping']+ $transactionDetail['refund_tax']); ?>)</label></td>
	                    </tr>                
		            <?php } ?>                                        
                    <tr>
                        <td colspan="7"><label class="txt-align-rgt">Total</label></td>
                        <td colspan="2"><label class="right"><?php echo "$ " . $this->Currencyformat($transactionDetail['transaction_amount'] - ($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount'] + $transactionDetail['refund_shipping']+ $transactionDetail['refund_tax'])); ?></label></td>
                    </tr>
                </tbody>
            </table>

            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
</div>