<style>
    #transaction-product-label{vertical-align:top;}
    #transaction-product-label .row{ padding:0px; width:auto; clear:both}
    #transaction-product-label .row label{width:auto}
    .create-contacts .row{padding-bottom:30px}
    #paymentsBlock .row, #transactionTotalBlock .row{padding-bottom:15px}
    #is_apo_block {float:left; width:275px}
    #is_apo_block .custom-radio label{width:auto; padding-right:10px !important;}
</style>
<?php
/**
 * This file is used for create crm cart products
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var userId = "' . $userId . '";';
$var .= 'var encryptUserId = "' . $encryptUserId . '";';
$var .= 'var requestUrl = "' . $request_url . '";';

$script = <<<EOD
$(function() {
        window.onbeforeunload = function(event)
        {
            if(loadPage==0)
            {
                return "You have attempted to leave this page. "
                    + "If you have made any changes to the fields without "
                    + "clicking the Save button, your changes will be lost. "
                    + "Are you sure you want to exit this page?";
            }
        };
    });
EOD;

$this->inlineScript()->prependScript($script)
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.transaction.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/batch/update.transaction.batch.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<div class="create-contacts"> 
    <h2><?php echo $translator['L_TRANSACTION']; ?></h2>
    <div class="breadcrumb case">
        Transaction >><a>&nbsp;</a> <a href="<?php echo SITE_URL; ?>/crm-transactions">Search</a> >> <a href="<?php echo SITE_URL; ?>/create-crm-transaction">Create Transaction</a> >> New Transaction    
        <?php // echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <ul class="edit-link">
        <li><a href="javascript:void(0);" onclick="addProductToCartDetail()"><?php echo $translator['L_ADD_PRODUCTS']; ?></a></li>
    </ul>
    <div class="accordion-detail">
        <div class="head no-img"><span>Products</span></div>
        <?php
        $form = $this->createTransactionForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        echo $this->formRow($form->get('transaction_ids'));
        echo $this->formRow($form->get('transaction_amounts'));
        echo $this->formRow($form->get('customer_profile_ids'));
        ?>
        <div class="detail-section">
            <div class="no-record-error" id="product_quantity_error">

            </div>
            <div class="common-form">
                <table cellpadding="0" cellspacing="0" width="100%" class="common-table with-border" id="productCartDetail">
                    <thead>
                        <tr>
                            <th><?php echo $translator['L_PRODUCT']; ?></th>
                            <th><?php echo $translator['L_QTY']; ?></th>
                            <th><?php echo $translator['L_PRICE']; ?></th>
                            <th><?php echo $translator['L_SUBTOTAL']; ?></th>
                            <th><?php echo $translator['L_DISCOUNT']; ?></th>
                            <th><?php echo $translator['L_TAX']; ?></th>
                            <th><?php echo $translator['L_SHIPPING']; ?></th>
                            <th><?php echo $translator['L_TOTAL']; ?></th>
                            <th><?php echo $translator['L_ACTION']; ?></th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php
                        $isAnyNotPickupField = 0;

                        $totalProducts = count($cartProducts);
                        $shipCompleteStatus = 0;
                        $applicablePromotionIds = array();
                        if (!empty($cartProducts)) {
                            $totalSubtotal = 0;
                            $totalDiscount = 0;
                            $totalAmountProduct = 0;
                            $taxableAmount = 0;
                            $shippingAmount = 0;
                            $totalCashAmount = 0;
                            $totalCheckAmount = 0;
                            $totalCreditAmount = 0;
                            $totalSurchargePrice = 0;
                            $totalShippingHandlingPrice = 0;
                            //asd($cartProducts);
                            foreach ($cartProducts as $cartProduct) {

                                //if ($cartProduct['product_type_id'] == '2' || $cartProduct['product_type_id'] == '3' || $cartProduct['product_mapping_id'] == '5' || $cartProduct['product_type_id'] == '4') {
                                if ($cartProduct['is_shippable'] != '1' || $cartProduct['shipping_cost'] == '0') {
                                    $shipCompleteStatus++;
                                }

                                if (!empty($getAllValidPromotionDetail)) {
                                    foreach ($getAllValidPromotionDetail as $promDet) {
                                        $usersArr = array();
                                        $productsArr = array();
                                        $userUsedPromotionArr = array();
                                        if ($promDet['promotion_user_ids'] != '') {
                                            $usersArr = explode(',', $promDet['promotion_user_ids']);
                                        }
                                        if ($promDet['promotion_product_ids'] != '') {
                                            $productsArr = explode(',', $promDet['promotion_product_ids']);
                                        }
                                        if ($promDet['promotion_used_user_ids'] != '') {
                                            $userUsedPromotionArr = explode(',', $promDet['promotion_used_user_ids']);
                                        }
                                        if (($promDet['applicable_id'] == 1 || in_array($cartProduct['user_id'], $usersArr)) && ($promDet['product_type'] == 1 || in_array($cartProduct['product_id'], $productsArr)) && $cartProduct['is_promotional'] == '1' && !in_array($promDet['promotion_id'], $applicablePromotionIds) && !in_array($cartProduct['user_id'], $userUsedPromotionArr)) {
                                            $applicablePromotionIds[] = $promDet['promotion_id'];
                                        }
                                    }
                                }

                                $productLabel = '';
                                $productQty = $cartProduct['product_qty'];
                                $productPrice = $cartProduct['product_amount'];
                                $productSubtotal = $cartProduct['product_subtotal'];
                                $membershipDiscount = $cartProduct['membership_discount'];
                                $productDiscount = $cartProduct['product_discount'];
                                $productTaxableAmount = $cartProduct['product_taxable_amount'];
                                $productSurchargePrice = !empty($cartProduct['surcharge_price']) ? $cartProduct['surcharge_price'] : 0;
                                $productShippingHandlingPrice = !empty($cartProduct['shipping_handling_price']) ? $cartProduct['shipping_handling_price'] : 0;
                                $productShippingAmount = !empty($cartProduct['shipping_price']) ? $cartProduct['shipping_price'] : 0;
                                $productShippingAmount = $productShippingAmount + $productSurchargePrice + $productShippingHandlingPrice;
                                $shippingAmount+=$productShippingAmount;
                                $totalSurchargePrice+=$productSurchargePrice;
                                $totalShippingHandlingPrice+=$productShippingHandlingPrice;
                                $productTotal = ($productTaxableAmount + $productSubtotal + $productShippingAmount) - ($membershipDiscount + $productDiscount);
                                $productTypeId = !empty($cartProduct['product_type_id']) ? $cartProduct['product_type_id'] : 0;
                                $action = '<a href="#deleteCartProductBlock" class="delete_cart_product link" onClick="deleteProductToCart(' . $cartProduct['cart_id'] . ',' . $productTypeId . ',' . $cartProduct['product_mapping_id'] . ',\'' . $cartProduct['type_of_product'] . '\')">Remove</a>';
                                $totalSubtotal+= $productSubtotal;
                                $totalDiscount+= ( $membershipDiscount + $productDiscount);
                                $totalAmountProduct+=$productTotal;
                                $fofImage = '';
                                if ($cartProduct['product_type_id'] == 1) {
                                    $productLabel = $cartProduct['product_name'];
                                } else if ($cartProduct['product_type_id'] == 2) {
                                    $productLabel = $cartProduct['product_type'];
                                } else if ($cartProduct['product_type_id'] == 3) {
                                    $productLabel = $cartProduct['product_name'];
                                } else if ($cartProduct['product_type_id'] == 4) {
                                    $productLabel = $cartProduct['product_name'];
                                    $fofImage = '<a href="javascript:void(0);" onclick="viewFlagOfFacesCart(' . $cartProduct['cart_id'] . ')" class="link">View Photo</a>';
                                } else if ($cartProduct['product_mapping_id'] == 6) {
                                    if ($cartProduct['item_type'] == '1') {
                                        $productLabel = '<div class="row"><label>' . $cartProduct['product_name'] . '</label></div><div class="row">  <label>Size: ' . $cartProduct['product_option_name'] . '</label></div><div class="row"><label>Passenger Name: </label> <label>' . $cartProduct['item_name'] . '</label></div>
												<div class="row"><label>Passenger ID:</label> <label>' . $cartProduct['item_id'] . '</label></div>';
                                    } else if ($cartProduct['item_type'] == '3') {
					                    $itemName = '';
					                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
					                        $itemName = $cartProduct['item_name'];
					                    else
					                        $itemName = $cartProduct['ship_name'];                                    
					                                    
					                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
					                        $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
					                    else
					                        $arrivalDate = 'N/A';                                    
                                    
                                        $productLabel = '<div class="row"><label>' . $cartProduct['product_name'] . '</label></div><div class="row">  <label>Size: ' . $cartProduct['product_option_name'] . '</label></div>
											   <div class="row"> <label>Ship Name :</label> <label>' . $itemName . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                                    } else if ($cartProduct['item_type'] == '2') {

					                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
					                        $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
					                    else
					                        $arrivalDate = 'N/A';									
									
                                        $productName = $cartProduct['product_name'];
                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                            $productName.= ' : ' . $cartProduct['manifest_info'];

                                        if (!empty($cartProduct['ship_name'])) {
                                            $productLabel = '<div class="row"><label>' . $productName . '</label></div><div class="row"><label>Ship Name: </label> <label>' . $cartProduct['ship_name'] . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                                            if (isset($cartProduct['ref_page_line_nbr']) and trim($cartProduct['ref_page_line_nbr']) != "") {
                                                $productLabel .= '<div class="row"><label>Ref Line No.: </label> <label>' . $cartProduct['ref_page_line_nbr'] . '</label></div>';
                                            }
                                        } elseif (!empty($cartProduct['item_name'])) {
                                            $productLabel = '<div class="row"><label>' . $productName . '</label></div><div class="row"><label>Passenger Name: </label> <label>' . $cartProduct['item_name'] . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                                            if (isset($cartProduct['ref_page_line_nbr']) and trim($cartProduct['ref_page_line_nbr']) != "") {
                                                $productLabel .= '<div class="row"><label>Ref Line No.: </label> <label>' . $cartProduct['ref_page_line_nbr'] . '</label></div>';
                                            }
                                        }
                                    } else {
                                        $productLabel = $cartProduct['product_name'];
                                    }
                                } else if ($cartProduct['product_type_id'] == 6) {
                                    $productLabel = $cartProduct['product_name'] . "<br />" . $cartProduct['woh_name'];
                                } else if ($cartProduct['product_type_id'] == 7) {
                                    $productLabel = $cartProduct['product_name'];
                                } else if ($cartProduct['product_type_id'] == 8) {
                                    $productLabel = $cartProduct['product_name'];
                                }

                                if ($cartProduct['product_mapping_id'] == 5) {
                                    $productLabel = $cartProduct['product_name'];
                                }

                                if ($cartProduct['is_pickup'] != 1) {
                                    $isAnyNotPickupField = 1;
                                }
                                ?>
                                <tr>
                                    <td id="transaction-product-label"><?php echo $productLabel; ?>
                                        <?php
                                        if (!empty($fofImage)) {
                                            echo '<br />' . $fofImage;
                                        }
                                        ?>
                                    </td>
                                    <td><?php
                                $type_of_product = "others";
                                if ($cartProduct['type_of_product'] == 'biocertificate' or $cartProduct['type_of_product'] == 'donation' or $cartProduct['type_of_product'] == 'woh' or $cartProduct['type_of_product'] == 'fof') {
                                    $type_of_product = $cartProduct['type_of_product'];
                                } elseif ($cartProduct['type_of_product'] == 'inventory') {
                                    $type_of_product = 'inventory';
                                }
                                //   if ($cartProduct['product_type_id'] == 1) {   
                                // if ($cartProduct['product_type_id'] != "") {
                                if ($cartProduct['type_of_product'] != 'membership' and $cartProduct['type_of_product'] != 'donation' and $cartProduct['type_of_product'] != 'woh' and $cartProduct['type_of_product'] != 'fof') {
                                    echo '<span class="rel-auto-error"><label id="product_error_' . $cartProduct['cart_id'] . '_' . $cartProduct['product_id'] . '_' . $type_of_product . '" class="error" style="display:none">Please enter a valid quantity</label>
                                <input id ="transaction_product_' . $cartProduct['cart_id'] . '_' . $cartProduct['product_id'] . '_' . $type_of_product . '_' . $productTypeId . '_' . $cartProduct['product_mapping_id'] . '" class="width-97" type="text" value="' . $productQty . '"></span>';
                                } else {
                                    echo $productQty;
                                }
                                        ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($productPrice); ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($productSubtotal); ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat(($membershipDiscount + $productDiscount)); ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($productTaxableAmount); ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($productShippingAmount); ?></td>
                                    <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($productTotal); ?></td>
                                    <td><?php echo $action; ?></td>
                                </tr>

                            <?php } ?>
                            <tr>
                                <td class="bold">Total <?php echo count($cartProducts); ?> product(s)</td>
                                <td>&nbsp;</td>
                                <td class="bold">Subtotal</td>
                                <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productSubTotal"><?php echo $this->CurrencyFormat($totalSubtotal); ?></span></td>
                                <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productDiscountTotal"><?php echo $this->CurrencyFormat($totalDiscount); ?></span></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productTotalAmount"><?php echo $this->CurrencyFormat($totalAmountProduct); ?></span></td>
                                <td>&nbsp;</td>
                            </tr>

                        <?php } else {
                            ?>
                            <tr>
                                <td colspan="9"><div class="no-record-found"><?php echo $translator['L_NO_PRODUCT_SELECTED']; ?></div></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
                <span><a id="update_crm_cart" href="javascript:void(0)" class="save-btn right m-t-20">Update Cart</a></span>
            </div>
        </div>
        <?php echo $this->formRow($form->get('totalProducts')->setValue($totalProducts)); ?>
        <?php echo $this->formRow($form->get('shipCompleteStatus')->setValue($shipCompleteStatus)); ?>

        <div class="head no-img"><span><?php echo $translator['L_CONTACT_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="view-row">
                    <div class="col1">
                        <strong><?php echo $translator['L_CONTACT_ID']; ?> </strong><br> <a href="javascript:void(0)" onclick="window.open('<?php echo SITE_URL; ?>/view-contact/<?php echo $this->encrypt($contactDetail[0]['user_id']) . "/" . $this->encrypt('view'); ?>','popUpWindow','top=20,left=10,height=800,width=1200,resizable=yes,scrollbars=yes')" class="link"><?php echo $contactDetail[0]['contact_id']; ?></a><br>
                    </div>
                    <div class="col1 right"><strong><?php echo $translator['L_NAME']; ?></strong><br>
                        <?php echo (!empty($contactDetail[0]['full_name'])) ? $contactDetail[0]['full_name'] : $contactDetail[0]['company_name']; ?></div>
                </div>

                <div class="view-row">
                    <div class="col1"><strong><?php echo $translator['L_EMAIL']; ?></strong> <br>
                        <?php echo (!empty($contactDetail[0]['email_id'])) ? $contactDetail[0]['email_id'] : "N/A"; ?>
                    </div>
                    <div class="col1 right"><strong><?php echo $translator['L_MEMBERSHIP']; ?></strong> <br>
                        <?php echo (!empty($membershipResult[0]['membership_title'])) ? $membershipResult[0]['membership_title'] : "None"; ?>
                    </div>
                </div>

                <div class="view-row no-padd">
                    <div class="col1"><strong><?php echo $translator['L_EXPIRATION_DATE']; ?></strong> <br>
                        <?php echo (!empty($contactDetail[0]['membership_expiration_date'])) ? $this->Dateformatalpha($contactDetail[0]['membership_expiration_date'], 'dateformatampm') : "N/A"; ?>
                    </div>
                </div>
            </div>
        </div>
        <div id="applyCouponBlock">
            <?php if (!empty($cartProducts)) {
                ?>
                <div class="head no-img"><span><?php echo $translator['L_APPLY_COUPON']; ?></span></div>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row no-padd">
                            <div class="success-msg full" style="display:none;" id="apply_coupon_msg"></div>
                            <div class="col1 left-p-none"><?php echo $this->formRow($form->get('coupon_code')); ?><?php echo $this->formRow($form->get('promotion_id')); ?></div>
                            <div class="col1 right"><?php echo $this->formRow($form->get('coupon_apply')); ?></div>
                        </div>
                    </div>                    
                </div>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row no-padd">
                            <div class="success-msg full" style="display:none;" id="apply_coupon_msg"></div>
                            <div class="col1 left-p-none"><?php echo $this->formRow($form->get('campaign_code')); ?><?php echo $this->formRow($form->get('campaign_code_id')); ?></div>
                            <div class="col1 right"><?php // echo $this->formRow($form->get('campaign_apply')); ?></div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <div id="validCouponsBlock">
            <?php if (!empty($applicablePromotionIds)) {
                ?>


                <div class="detail-section" style="padding-top:0px;">
                    <div class="common-form">
                        <div class="row no-padd"><div class="col13"><label><?php echo $translator['L_VALID_COUPONS']; ?></label>
                                <?php
                                foreach ($getAllValidPromotionDetail as $promDet) {

                                    if (in_array($promDet['promotion_id'], $applicablePromotionIds)) {
                                        ?>



                                        <label class="coupons-tooltip"><a href="javascript:void(0);" class="link" onclick="chooseCoupon('<?php echo $promDet['coupon_code']; ?>',<?php echo $promDet['promotion_id']; ?>)"><?php echo $promDet['promotion_name']; ?>
                                            </a>
                                            <?php if (isset($promDet['promotion_description']) && !empty($promDet['promotion_description'])) {
                                                ?>
                                                <span class="tooltip">
                                                    <small></small>
                                                    <?php echo $promDet['promotion_description']; ?>
                                                </span>
                                            <?php } ?>
                                        </label>

                                        <?php
                                    }
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>

            <?php } ?>
        </div>
        <div class="row">
            <div class="col13">
                <div class="head no-img"><span><?php echo $translator['L_BILLING_INFORMATION']; ?></span></div>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row">
                            <label class="no-padd">Select from existing contact addresses:</label>
                            <?php echo $this->formRow($form->get('billing_existing_contact')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_TITLE']; ?></label>
                            <?php echo $this->formRow($form->get('billing_title')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_FIRST_NAME']; ?><span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_first_name')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_LAST_NAME']; ?> <span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_last_name')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_COMPANY']; ?></label>
                            <?php echo $this->formRow($form->get('billing_company')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_ADDRESS_1']; ?> <span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_address')); ?>
                        </div>

                        <div class="row">
                            <label><?php echo $translator['L_COUNTRY']; ?> <span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_country')); ?>
                        </div>                        

                        <?php $billingStateTextShow = ($applicationConfigIds['united_state_country_id'] == ($form->get('billing_country')->getValue())) ? 'display:none;' : 'display:block;'; ?>
                        <div class="row" id="billing_text_state_block" style="<?php echo $billingStateTextShow; ?>">
                            <label><?php echo $translator['L_STATE']; ?> </label>
                            <?php echo $this->formRow($form->get('billing_state')); ?>
                            <?php echo $this->formRow($form->get('billing_state_text')); ?>
                        </div>
                        <?php $billingStateSelectShow = ($applicationConfigIds['united_state_country_id'] == ($form->get('billing_country')->getValue())) ? 'display:block;' : 'display:none;'; ?>
                        <div class="row" id="billing_select_state_block" style="<?php echo $billingStateSelectShow; ?>">
                            <label><?php echo $translator['L_STATE']; ?> </label>
                            <?php echo $this->formRow($form->get('billing_state_select')); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_CITY']; ?> <span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_city')); ?>
                        </div>                        

                        <div class="row">
                            <label><?php echo $translator['L_POSTAL_CODE']; ?> <span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('billing_zip_code')); ?>
                        </div>


                        <div class="phone-label phone-label-transaction">
                            <label>&nbsp;</label>
                            <label class="country"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                            <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                            <label class="phone"><?php echo $translator['L_PHONE_NUMBER']; ?></label>
                        </div>           
                        <div class="row" >
                            <!--<label><?php //echo $translator['L_PHONE_NUMBER'];                      ?></label>-->
                            <?php // echo $this->formRow($form->get('billing_phone'));    ?>
                            <label><?php echo $translator['L_PHONE']; ?><?php echo $this->formRow($form->get('billing_phone_info_id')); ?></label>
                            <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('billing_country_code')); ?></span>
                            <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('billing_area_code')); ?></span>                                     
                            <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('billing_phone')); ?></span>
                        </div>


                        <div class="row no-padd">
                            <label> <?php echo $this->formRow($form->get('billing_location_type')); ?></label>

                            <?php echo $this->formRow($form->get('save_billing_address')); ?>
                            <label class="check" for="save_billing_address">Save / Update Address on profile</label>
                            
                        </div>
                        <div class="row no-padd">
                            <label>&nbsp;</label>
                            <div id="same_address_message" style="font-size:14px;color:red;"></div>
                        </div>
                        

                        <div class="row"> &nbsp; </div>
                        <div class="row"> &nbsp; </div>
                        <div class="row no-padd"> &nbsp; </div>
                    </div>
                </div>
            </div>
            <?php
            //if($totalProducts !=$shipCompleteStatus)
            //{
            ?>
            <div class="col13 right" id="ship_information_block" style="display:<?php echo ($totalProducts != $shipCompleteStatus) ? 'block' : 'none'; ?>">
                <div class="head no-img"><span><?php echo $translator['L_SHIPPING_INFORMATION']; ?></span></div>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row">
                            <label></label>
                            <div id="pick_up_block" style="display:<?php echo ($isAnyNotPickupField == 0) ? 'block' : 'none'; ?>">
                                <?php echo $this->formRow($form->get('pick_up')); ?>
                                <label class="check" for="pick_up"><?php echo $translator['L_PICK_UP']; ?></label>
                            </div>

                            <div id="is_apo_block" style="display:<?php echo (!empty($cartProducts)) ? 'block' : 'none'; ?>">
                                <?php echo $this->formRow($form->get('is_apo_po')); ?>
                            </div>

                        </div>
                        <div id="shipping_address_information" >
                            <div class="row">
                                <label class="no-padd">Select from existing contact addresses:</label>
                                <?php echo $this->formRow($form->get('shipping_existing_contact')); ?>
                            </div>
                            <div class="row">
                                <label></label>
                                <?php echo $this->formRow($form->get('billing_shipping_same')); ?>
                                <label class="check" for="billing_shipping_same"><?php echo $translator['L_SAME_AS_BILLING_ADDRESS']; ?></label>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_TITLE']; ?></label>
                                <?php echo $this->formRow($form->get('shipping_title')); ?>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_FIRST_NAME']; ?><span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_first_name')); ?>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_LAST_NAME']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_last_name')); ?>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_COMPANY']; ?></label>
                                <?php echo $this->formRow($form->get('shipping_company')); ?>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_ADDRESS_1']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_address')); ?>
                            </div>

                            <div class="row" id="country_block">
                                <label><?php echo $translator['L_COUNTRY']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_country')); ?>
                            </div>                            

                            <?php $shippingStateTextShow = ($applicationConfigIds['united_state_country_id'] == ($form->get('shipping_country')->getValue())) ? 'display:none;' : 'display:block;'; ?>
                            <div class="row" id="shipping_text_state_block" style="<?php echo $shippingStateTextShow; ?>">
                                <label><?php echo $translator['L_STATE']; ?> </label>
                                <?php echo $this->formRow($form->get('shipping_state')); ?>
                                <?php echo $this->formRow($form->get('shipping_state_text')); ?>
                            </div>
                            <?php $shippingStateSelectShow = ($applicationConfigIds['united_state_country_id'] == ($form->get('shipping_country')->getValue())) ? 'display:block;' : 'display:none;'; ?>
                            <div class="row" id="shipping_select_state_block" style="<?php echo $shippingStateSelectShow; ?>">
                                <label><?php echo $translator['L_STATE']; ?> </label>
                                <?php echo $this->formRow($form->get('shipping_state_select')); ?>
                            </div>
                            <div class="row">
                                <label><?php echo $translator['L_CITY']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_city')); ?>
                            </div>
                            <div class="row" id="shipping_apo_po_state_block" style="display:none;">
                                <label><?php echo $translator['L_STATE']; ?> </label>
                                <?php echo $this->formRow($form->get('apo_po_state')); ?>
                            </div>

                            <div class="row">
                                <label><?php echo $translator['L_POSTAL_CODE']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_zip_code')); ?>
                            </div>

                            <div class="row" id="apo_po_country_block" style="display:none;">
                                <label><?php echo $translator['L_COUNTRY']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('apo_po_shipping_country')); ?>
                            </div>

                            <div class="phone-label phone-label-transaction">
                                <label>&nbsp;</label>
                                <label class="country"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                                <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                                <label class="phone"><?php echo $translator['L_PHONE_NUMBER']; ?></label>
                            </div>           
                            <div class="row " >
                                    <!--<label><?php //echo $translator['L_PHONE_NUMBER'];                      ?></label>-->
                                <?php // echo $this->formRow($form->get('shipping_phone'));    ?>
                                <label><?php echo $translator['L_PHONE']; ?><?php echo $this->formRow($form->get('shipping_phone_info_id')); ?><span class="red">*</span></label>
                                <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('shipping_country_code')); ?></span>
                                <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('shipping_area_code')); ?></span>
                                <span class="rel-auto two-line-error"><?php echo $this->formRow($form->get('shipping_phone')); ?></span>
                            </div>

                            <div class="row no-padd">
                                <label> <?php echo $this->formRow($form->get('shipping_location_type')); ?></label>

                                <?php echo $this->formRow($form->get('save_shipping_address')); ?>
                                <label class="check" for="save_shipping_address">Save / Update Address on profile</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-20" id="error-meaasage">
            <label generated="true" for="batch_nos[]" style="display:none;" class="error" id="shippingMethodError"></label>
        </div>
        <div id="applyShippingBlock">
            <?php if (!empty($cartProducts) && $totalProducts != $shipCompleteStatus) {
                ?>
                <div class="head no-img"><span><?php echo $translator['L_SHIPPING_INFO']; ?></span></div>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row shipping-check no-padd">
                            <div class="shipping-information-row">
                                <label><?php echo $translator['L_SHIPPING_METHOD']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('shipping_method')); ?>
                            </div>
                        </div>

                    </div>
                </div>
            <?php } ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_TRANSACTION_TOTAL']; ?></span></div>
        <div id="transactionTotalBlock">
            <?php if (!empty($cartProducts)) {
                ?>
                <div class="detail-section">
                    <div class="common-form">
                        <div class="row">
                            <div class="col13"><label><?php echo $translator['L_SUB_TOTAL']; ?> :</label></div>
                            <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($totalSubtotal); ?></label></div>
                        </div>
                        <div class="row">
                            <div class="col13"><label><?php echo $translator['L_TAXABLE_AMOUNT']; ?> :</label></div>
                            <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($taxableAmount); ?></label></div>
                        </div>
                        <div class="row">
                            <div class="col13"><label><?php echo $translator['L_SHIPPING_AMOUNT']; ?> :</label></div>
                            <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($shippingAmount); ?></label></div>
                        </div>
                        <div class="row">
                            <div class="col13"><label><?php echo $translator['L_TRANSACTION_TOTAL']; ?> :</label></div>
                            <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($totalAmountProduct); ?></label></div>
                        </div>
                        <div class="row no-padd">
                            <div class="col13"><?php echo $this->formRow($form->get('is_email_confirmation')); ?>
                                <label for='is_email_confirmation' class="check"><?php echo $translator['L_EMAIL_TRANSACTION_CONFIRMATION']; ?></label>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } else {
                ?>
                <div class="detail-section">
                    <div class="common-form">
                        <p class="no-record-found"><?php echo $translator['L_NO_TRANSACTION_PLACED']; ?></p>
                    </div>
                </div>
            <?php } ?>
        </div>

        <div class="head no-img"><span><?php echo $translator['L_PAYMENTS']; ?></span></div>
        <div id="paymentsBlock">
            <?php if (!empty($cartProducts)) { ?>
                <div class="detail-section">

                    <div class="common-form">
                        <div class="row">
                            <div class="col1 rel-auto-error"><?php echo $this->formRow($form->get('payment_mode_cash')); ?>
                                <label for='payment_mode_cash' class="check"><?php echo $translator['L_CASH']; ?></label></div>

                            <div class="full">
                                <div id="cashAmountDiv" style="display:none"> 
                                    <div class="col1">
                                        <label><?php echo $translator['L_AMOUNT']; ?></label>
                                        <?php echo $this->formRow($form->get('payment_mode_cash_amount')); ?>
                                    </div>
                                    <div class="col1 right">
                                        <div class="common-form">
                                            <div class="row">
                                                <div class="left">
                                                    <label>Batch Id</label>
                                                    <?php echo $this->formRow($form->get('cash_batch_id')); ?>
                                                    <?php echo $this->formRow($form->get('payment_cash_batch_id')); ?> 
                                                    <label class="right auto m-l-20">OR </label>
                                                </div>
                                                <div class="full m-t-5">
                                                    <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt(cash_batch_id); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                                </div>                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col13"><?php echo $this->formRow($form->get('payment_mode_chk')); ?>
                                <label for='payment_mode_chk' class="check"><?php echo $translator['L_CHECK']; ?></label></div>
                        </div>
                        <div id="checkAmountDiv"  style="display:none;">
                            <div id="payment_mode_check_block_1">

                                <div class="row">
                                    <div class="col1">
                                        <label> <?php echo $translator['L_AMOUNT']; ?></label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_amount[]')); ?>
                                    </div>

                                    <div class="col1 right">
                                        <label><?php echo $translator['L_CHECK_TYPE']; ?> </label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_type[]')); ?>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col13">
                                        <label><?php echo $translator['L_CHECK_NO']; ?> </label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_num[]')); ?>
                                    </div>
                                    <div class="col1 right">
                                        <label><?php echo $translator['L_ID_TYPE']; ?> </label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_id_type[]')); ?>
                                    </div> </div>
                                <div class="row">
                                    <div class="col1">
                                        <label><?php echo $translator['L_ID_HASH']; ?> </label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_id[]')); ?>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col1">

                                        <div class="common-form">
                                            <div class="row">
                                                <div class="left">
                                                    <label>Batch Id</label>
                                                    <?php echo $this->formRow($form->get('payment_mode_check')->get('check_batch_id[]')); ?>
                                                    <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_check_batch_id[]')); ?> 
                                                    <label class="right auto m-l-20">OR </label>
                                                </div>
                                                <div class="full m-t-5">
                                                    <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->encrypt(check_batch_id_1); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                                </div>                                                
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col1 right">
                                        <label>&nbsp;</label>
                                        <a id="addMoreCheck" onclick="addNewCheckBlock(this)" href="javascript:void(0);" class="plus m-l-5"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col1 rel-auto-error">
                            <?php echo $this->formRow($form->get('payment_mode_credit')); ?>
                            <label for='payment_mode_credit' class="check"><?php echo $translator['L_CREDIT_CARD']; ?></label>
                        </div>
                        <div class="col1 right" id="credit_card_block">

                        </div>
                    </div>
					<div class="row">
                            <div class="col1 rel-auto-error"><?php echo $this->formRow($form->get('payment_mode_invoice')); ?>
                                <label for='payment_mode_invoice' class="check"><?php echo $translator['L_INVOICE']; ?></label></div>
						<?php echo $this->formRow($form->get('amount_invoice_number')); ?>
                            <div class="full">
                                <div id="invoice_number_div" style="display:none"> 
                                    <div class="col1">
                                        <label><?php echo $translator['L_INVOICE_NUMBER']; ?></label>
                                        <?php echo $this->formRow($form->get('invoice_number')); ?>
                                    </div>
                                    <div class="col1 right">
                                        <div class="common-form">
                                            <div class="row">
                                                <div class="left">
                                                    <label>Batch Id</label>
                                                    <?php echo $this->formRow($form->get('invoice_batch_id')); ?>
                                                    <?php echo $this->formRow($form->get('payment_invoice_batch_id')); ?> 
                                                    <label class="right auto m-l-20">OR </label>
                                                </div>
                                                <div class="full m-t-5">
                                                    <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt(invoice_batch_id); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                                </div>                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                        </div>
					</div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CASH']; ?></label>
                            <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                                <span id="totalCashAmount"><?php echo $this->CurrencyFormat($totalCashAmount); ?></span></label>

                        </div>
                        <div class="col1 right">
                            <label> <?php echo $translator['L_CHECK']; ?></label>
                            <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                                <span id="totalCheckAmount"><?php echo $this->CurrencyFormat($totalCheckAmount); ?></span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col1">
                            <label> <?php echo $translator['L_CREDIT_CARD']; ?></label>
                            <label> <?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                                <span id="totalCreditAmount"><?php echo $this->CurrencyFormat($totalCreditAmount); ?></span></label>

                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_BALANCE']; ?></label>
                            <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                                <span id="balanceAmount"><?php echo $this->CurrencyFormat($totalAmountProduct); ?></span></label>
                        </div>
                    </div>
                    <div class="row no-padd">
                        <div class="col1">
                            <label> <?php echo $translator['L_TOTAL']; ?></label>
                            <label><?php echo $translator['CURRENCY_SYMBOL']; ?>
                                <span id="totalAmount"><?php echo $this->CurrencyFormat($totalAmountProduct); ?></span></label>

                        </div>

                    </div>
                </div>
            <?php } else {
                ?>
                <div class="detail-section">
                    <div class="common-form">
                        <p class="no-record-found"><?php echo $translator['L_NO_PAYMENT_INFORMATION']; ?></p>
                    </div>
                </div>
            <?php } ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_NOTES']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php echo $this->formRow($form->get('notes')); ?>
            </div>
        </div>
        <div class="row common-form m-t-10">
            <?php echo $this->formRow($form->get('transactionsubmit')); ?>
            <?php echo $this->formRow($form->get('transactioncancel')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>




<div style="display:none;">
    <div id='view_afihc_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_VIEW_AFIHC']; ?></h2>
        <p class="aleft">Following are the other AFIHC Number associated with this Contact -</p>
        <div id="afhic_contents" class="row">
            <?php
            if (!empty($contactAfihcDetail)) {
                echo "<div class='row'>  ";
                foreach ($contactAfihcDetail as $val) {
                    echo "<div class='data'>{$val['afihc_code']}</div>";
                }
                echo "</div>";
            }
            ?>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='deleteCartProductBlock' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_CART_ALERT']; ?></h2>
        <p style="display:none;" id="delete_cart_woh_crm" class="no-margin">(Note: If you remove this Wall Of Honor then associated Duplicate Certificate will also be removed)</p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_cart_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_cart_product" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_credit_card' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_CREDIT_CARD_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_credit" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_credit" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none' class="delete_credit_card_invoice_content">
    <div class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['REMOVE_CREDIT_CARD_DETAILS']; ?></h2>
        <div class="button-row">
            <input type="button" value="Ok" name="yes" id="yes_delete_credit_invoice" class="blue-btn m-r-10">
        </div>
    </div>
</div>

<script>
var defaultShippingAddressInformationId = '<?php echo isset($defaultShippingAddressInformationId)?$defaultShippingAddressInformationId:'' ?>';
$(function() {
		setTimeout("refreshCartData();","2000");
		//$('.shipping_method').click();
		
		
		
});
</script>