<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
        $("select").select2();
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->donationAddToCartForm;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="create-contacts"> 
<div class="detail-section11">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_LEVEL']; ?> <span class="red">*</span></label>
                <?php echo $this->formRow($form->get('amount')->setAttributes(array('onchange'=>'changeDonationAmount(this.value)'))); ?>
            </div>
            <div class="col1 right" id="other_amount_div" style="display:none;">
                <label><?php echo $translator['L_AMOUNT_SIMPLE']; ?> <span class="red">*</span></label>
                <?php echo $this->formRow($form->get('other_amount')); ?>
            </div>
        </div>
<!--        <div class="row">
            <div class="col1">
                <label>Program</label>
                <?php //echo $this->formRow($form->get('program_id')); ?>
            </div>
        </div>-->
        <div class="row no-padd">
            <div class="col1">
			<label>&nbsp;</label>
                <?php echo $this->formRow($form->get('matching_gift')); ?>
                <label for="matching_gift" class="check" style="padding-left:2px !important;"><?php echo $translator['L_MATCHING_GIFT']; ?></label>
            </div>
            <div class="col1 right" id="company_block" style="display:none;">
                <label ><?php echo $translator['L_COMPANY_NAME']; ?></label>
                <?php echo $this->formRow($form->get('company')); ?>
                <?php echo $this->formRow($form->get('company_id')); ?>
            </div>
        </div>
        <div class="row">
            <div>
			<label><?php echo $translator['L_HONOREE_DETAILS']; ?></label><?php echo $this->formRow($form->get('in_honoree')); ?>
            </div>
			 
            <div class="col1 right" id="honoree_name_block" style="display:none;">
                <label><?php echo $translator['L_NAME']; ?></label>
                <?php echo $this->formRow($form->get('honor_memory_name')); ?>
            </div>
       </div>
        <div class="row">
            <div class="col1">
                <label>&nbsp;</label><?php echo $this->formRow($form->get('is_notify')); ?>
                <label class="check" style="padding-left:2px !important;" for="is_notify">Would you like to notify other people?</label>
            </div>
        </div>
        <div id="notify_block" style="display:none;">
            <div class="row" id="notify_donation_1">
                <div class="col1">
                    <label><?php echo $translator['L_NAME']; ?></label>
                    <?php echo $this->formRow($form->get('donation_notify')->get('name[]')); ?>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_EMAIL']; ?></label>
                    <?php echo $this->formRow($form->get('donation_notify')->get('email[]')); ?>
					<a class="plus m-l-5" href="javascript:void(0);" onclick="addMoreDonationNotify(this)" id="addMoreDonationNotify"></a>
                </div>
                
            </div>
        </div>
        <div class="row no-padd">
            <div class="col18">
               
                <div class="col1 right"><?php echo $this->formRow($form->get('donationaddtocart')); ?></div>
                </div>
            </div>
        </div>
    </div>
	</div>
<?php echo $this->form()->closeTag(); ?>

       
