<html>
    <head>
        <style>
            .ui-pg-table { height: auto !important; color: #ffffff !important; }
        </style>
        <?php
        /**
         * This file is used for user transaction detail
         * @package    User
         * @author     Icreon Tech - DG
         */
        ?>
        <?php
        $translator = $jsLangTranslate;
        $var = '';
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
		echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/crm.css?v='.$this->layout()->getVariable('cssVersion'));
		echo $this->inlineScript()->prependScript($var);
        ?> 
    </head>
    <body>
        <div class="pop-container">
            <div class=" create-contacts create-new-contact-popup">
                <h3><?php echo $translator['H_TRANSACTION_DETAIL']; ?></h3>
                <div class="clear"></div>
                <div class="trans-popup-table">
                    <?php
                    if (isset($transactionProduct) && !empty($transactionProduct)) {
                        ?>
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <?php
                                if (isset($transactionDetail) && !empty($transactionDetail)) {
                                    ?>
                                    <tr>
                                        <th><?php echo $translator['L_ORDER']; ?></th>
                                        <th><?php echo $translator['L_DATE']; ?></th>
                                        <th><?php echo $translator['L_ITEM']; ?></th>
                                        <th><?php echo $translator['L_TOTAL']; ?></th>                    
                                        <th><?php echo $translator['L_STATUS']; ?></th>                    
                                    </tr>
                                    <tr>
                                        <td><a href="/get-transaction-detail/<?php echo $this->Encrypt($transactionDetail['transaction_id']); ?>/<?php echo $this->Encrypt('view'); ?>" class="link"><?php echo $transactionDetail['transaction_id']; ?></a></td>
                                        <td><?php echo $this->Dateformatalpha($transactionDetail['transaction_date'], 'dateformatampm'); ?></td>
                                        <td><?php echo $transactionDetail['num_items']; ?></td>
                                        <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($transactionDetail['transaction_amount'] - ($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount'])); ?></span></td>
                                        <td><?php echo $transactionDetail['status_name']; ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                                <?php
                                if (isset($transactionDetail) && !empty($transactionDetail) && ($transactionDetail['batch_no'] != '' || !is_null($transactionDetail['batch_no']))) {
                                    ?>
                                    <tr>
                                        <th colspan="2"><?php echo $translator['L_BATCH_NUMBER']; ?></th>
                                        <th colspan="2"><?php echo $translator['L_BATCH_DATE']; ?></th>
                                        <th><?php echo $translator['L_CHECK_NUMBER']; ?></th>              
                                    </tr>
                                    <tr>
                                        <td colspan="2">#<?php echo $transactionDetail['batch_no']; ?></td>
                                        <td colspan="2"><?php echo $this->Dateformatalpha($transactionDetail['batch_date'], 'calender'); ?></td>
                                        <td><?php echo $transactionDetail['cheque_number']; ?></td>
                                    </tr>
                                    <?php
                                }
                                ?>
                        </table>
                        </tbody>
                        <table cellspacing="0" cellpadding="0" width="100%" style="margin-top:20px;">
                            <tbody>
                            <th>Product</th>
                            <th>Price</th>
                            <th>SubTotal</th>
                            <th>Tax</th>
                            <th>Shipping & Handling</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <?php
                            $totalOfTransaction = 0;
                            $sub_total = 0;
                            foreach ($transactionProduct as $key) {
                                $sub_total = $sub_total + $key['product_sub_total'];
                                ?>
                                <tr>
                                    <td>
                                        <?php
                                        switch ($key['tra_pro']) {
                                            case 'don' :
                                                ?>
                                                <div class="left">
                                                    <strong><?php echo $key['product_name']; ?></strong>
                                                    <label><?php echo $key['option_name']; ?></label>
                                                </div>
                                                <?php
                                                break;
                                            case 'bio' :
                                                ?>
                                                <div class="left">
                                                    <strong><?php echo $key['product_name']; ?></strong>
                                                    <br><label><?php echo $key['option_name']; ?></label>
                                                    <?php
                                                    if (isset($key[0]) && !empty($key[0])) {
                                                        echo "<label>" . $key[0]['final_name'] . "</label>";
                                                    }
                                                    ?>
                                                </div>

                                                <?php
                                                break;
                                            case 'fof' :
                                                ?>
                                                <div class="left">
                                                    <strong><?php  echo $key['product_name']; ?> <?php echo isset($key[0]['donated_by'])?": ".$key[0]['donated_by']:"&nbsp;"; ?></strong>
                                                </div>
                                                <?php
                                                break;
                                            case 'pro' :
                                                switch ($key['product_type']) {
                                                    case '5' :
                                                        ?>
                                                        <div class="left">
                                                            <strong>
                                                                <?php echo $key['product_name']; ?> 
                                    <?php if($key['item_type'] == "1") { ?>                            
                                    <br><strong><?php  echo 'Size: ' . $key['option_name']; ?></strong>
                                    <?php } else { echo " (".$key['option_name'].")"; } ?>
                                <?php
                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                    echo "<br><strong>Passenger Name  : " . $key['item_name'] . "</strong>";
                                }
                               // echo '</strong>';
                                if (isset($key['item_id']) && !empty($key['item_id'])) {
                                    echo "<br><strong>Passenger Id: " . $key['item_id'] . "</strong>";
                                }
                                                        ?>
                                                                
                                                        </div>
                                                        <?php
                                                        if (isset($key[0]['item_id']) && !empty($key[0]['item_id'])) {
                                                            
                                                        }
                                                        break;
                                                    case '7' :
                                                        ?>
                                                        <div class = "left">
                                                            <strong><?php echo $key['product_name']; ?></strong>
                                                            <?php
                                                            if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                                $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                            else
                                                                $arrivalDate = '';

                                                            if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                                // echo "<strong>Ref Line : <label>" . $key[0]['REF_PAGE_LINE_NBR'] . "</label></strong>";
                                                            }
                                                            if (isset($key['item_name']) && !empty($key['item_name'])) {

                                                                if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                                    echo "<br><strong>Passenger Name : " . $key['item_name'] . "</strong>";
                                                                } else {
                                                                    echo "<br><strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                                }
                                                                echo "<br><strong>Arrival Date :  " . $arrivalDate . "</strong>";
                                                            }
                                                            ?>
                                                        </div>
                                                        <?php
                                                        break;
                                                    case '8' :
                                                        ?>
                                                        <div class = "left">
                                                            <strong><?php echo $key['product_name']; ?></strong> 

                                                                <?php
                                                                if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                                   echo "<br><strong>";
                                                                    echo "Size : " . $key['option_name']."";
                                                                    echo "</strong>";
                                                                }
                                                               // echo "</strong>";

                                                                if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                                    $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                                else
                                                                    $arrivalDate = '';

                                                                if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                                    echo "<br><strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                                    if ($arrivalDate != '') {
                                                                        echo "<br><strong>Arrival Date : " . $arrivalDate . "</strong>";
                                                                    }
                                                                }
                                                                ?>
                                                        </div>
                                                        <?php
                                                        break;
                                                    default :
                                                        if ($key['item_type'] == '7' || $key['item_type'] == '8') {
                                                            ?>
                                                            <div class = "left">
                                                                <strong><?php echo $key['product_name']; ?></strong>
                                                                <br><label><?php
                                if (isset($key[0]['final_name']) && !empty($key[0]['final_name'])) {
                                    echo $key[0]['final_name'];
                                }
                                                            ?></label>
                                                            </div>

                                                            <?php
                                                        } else {
                                                            ?>
                                                            <div class = "left">
                                                                <strong><?php echo $key['product_name']; ?></strong>
                                                                <?php echo $key['option_name']; ?>
                                                            </div>
                                                            <?php
                                                        }
                                                        break;
                                                }
                                                break;
                                            case 'woh' :
                                                ?>
                                                <div class="left">
                                                    <strong><?php echo $key['product_name']; ?></strong>
                                                    <br><label><?php echo $key['option_name']; ?></label>
                                                </div>
                                                <?php
                                                break;
                                        }
                                        ?>                               
                                    </td>
                                    <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($key['product_price']); ?></span></td>
                                    <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($key['product_sub_total']); ?></span></td>
                                    <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($key['product_tax']); ?></span></td>
                                    <td><span class="right">$&nbsp;<?php echo $this->Currencyformat($key['shipping'] + $key['handling']); ?></span></td>
                                    <td><span class="right">($&nbsp;<?php echo $this->Currencyformat($key['product_discount']); ?>)</span></td>
                                    <td><?php
                                if ($key['product_status'] == '6' || $key['product_status'] == '13') {
                                    echo '<span class="right">($&nbsp;' . $this->Currencyformat($key['product_total']) . ')</span>';
                                } else {
                                    echo '<span class="right">$&nbsp;' . $this->Currencyformat($key['product_total']) . '</span>';
                                }
                                        ?></td>
                                </tr>
                                <?php
                            }
                            ?>
                            <tr>
                                <td colspan="5"><label class="txt-align-rgt"><b class="bold">Sub Total</b></label></td>
                                <td colspan="2"><label class="right"><b class="bold"><span class="right">$ <?php echo $this->Currencyformat($sub_total); ?></span></b></label></td>
                            </tr>
                            <tr>
                                <td colspan="5"><label class="txt-align-rgt"><b class="bold">Discount</b></label></td>
                                <td colspan="2"><label class="right"><b class="bold"><span class="right">($ <?php echo $this->Currencyformat($transactionDetail['total_discount']); ?>)</span></b></label></td>
                            </tr>
                            <tr>
                                <td colspan="5"><label class="txt-align-rgt"><b class="bold">Shipping & Handling Charge</b></label></td>
                                <td colspan="2"><label class="right"><b class="bold"><span class="right">$ <?php echo $this->Currencyformat($transactionDetail['shipping_amount'] + $transactionDetail['handling_amount']); ?></span></b></label></td>
                            </tr>
                            <tr>
                                <td colspan="5"><label class="txt-align-rgt"><b class="bold">Global Tax</b></label></td>
                                <td colspan="2"><label class="right"><b class="bold"><span class="right">$ <?php echo $this->Currencyformat($transactionDetail['total_tax']); ?></span></b></label></td>
                            </tr>
                            <tr>
                                <td colspan="5"><label class="txt-align-rgt"><b class="bold">Total</b></label></td>
                                <td colspan="2"><label class="right"><b class="bold"><span class="right">$ <?php echo $this->Currencyformat($transactionDetail['transaction_amount'] - ($transactionDetail['cancel_amount'] + $transactionDetail['refund_amount'])); ?></span></b></label></td>
                            </tr>
                            </tbody>
                        </table>

                        <?php
                    } else {
                        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
                    }
                    ?>
                </div>
            </div>
        </div>
    </body>
</html>