<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
        $("select").select2();
		
        $('.donate-button').click(function(){
            $('.donate-button').removeClass('active');
            $(this).addClass('active');
        });
		
        $('.yes-btn').click(function(){
            $('.yes-btn').removeClass('active');
            $(this).addClass('active');
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart-front.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-header">
    <h1>donate</h1>
</div>
<section class="main">
    <div id="contentArea" class="cms-outer-bg">
        <div class="cms-inner-bg">
    <div class="container">
        <div class="donate-page">
            <?php
            $form = $this->donationAddToCartForm;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="left-section-donate">
                <div class="banner-donate"> 
                    <div class="donate-text">
                        <h2>Donate Now</h2>
                        <p><i><?php echo $translator['DONATE_MESSAGE']; ?></i></p>
                    </div>
                </div>
                <div class="donate-content">
                    <div class="on-behalf">
                        <div class="on-behalf-text">
                            <div class="left-section">
                                <h3><?php echo $translator['DONATION']; ?>:<span class="red-text">*</span></h3>
                                <div class="row">
                                    <div class="membership">
                                        <?php echo $this->formRow($form->get('amount')); ?>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="left-section right">
                                <div class="membership donate-search radio-row" id="other_amount" style="display: none;"> 
                                    <?php echo $this->formRow($form->get('other_amount')); ?>
                                </div>
<!--                                <h3>Program</h3>
                                <div class="membership">
                                    <?php // echo $this->formRow($form->get('program_id')); 
                                    ?>
                                </div>-->
                            </div>
                            <div class="button-box">
							<ul class="custom-radio">
                                <?php // echo $this->formRow($form->get('in_honoree')); ?> 
                              <li>  <input type="radio" name="in_honoree" id="in_honoree_1" value="1" class="css-checkbox" />
                                <label for="in_honoree_1" class="css-label">In Honor of</label></li>
                                <li><input type="radio" name="in_honoree" id="in_honoree_2" value="2" class="css-checkbox" />
                                <label for="in_honoree_2" class="css-label">In Memory of</label></li>
                                <li><input type="radio" checked="checked" name="in_honoree" id="in_honoree_3" value="3" class="css-checkbox" />
                                <label for="in_honoree_3" class="css-label">None</label></li>
								<ul>
                            </div>
                            <div class="donate-search" id="honoree_name_block" style="display:none;">
                                <?php echo $this->formRow($form->get('honor_memory_name')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="donate-form-details">
                        <h2><?php echo $translator['MATCHING_GIFTS']; ?></h2>
                        <div class="yes-btn-box">
						<ul class="custom-radio">
                           <li> <?php // echo $this->formRow($form->get('matching_gift_front')); ?>
                            <input type="radio" checked="checked" name="matching_gift_front" id="no" value="0" class="css-checkbox" />
                            <label for="no" class="css-label">No</label></li>
                            <li><input type="radio" name="matching_gift_front" id="yes" value="1" class="css-checkbox" />
                            <label for="yes" class="css-label">Yes</label></li>
							</ul>
                        </div>
                        <div class="col10 alpha" id="company_block" style="display:none;">
                            <div class="company-text">Company Name:</div>
                            <div class="company-search">
                                <?php echo $this->formRow($form->get('company')); ?>
                                <?php echo $this->formRow($form->get('company_id')); ?>
                            </div>
                        </div>
                        <h2><?php echo $translator['NOTIFY_OTHER_PEOPLE']; ?></h2>

                        <div id="notify_block">
                            <div class="form-box-donate" id="notify_donation_1">
                                <div class="form-box-bg">
                                    <?php
                                    echo $this->formRow($form->get('donation_notify')->get('firstname[]'));
                                    echo $this->formRow($form->get('donation_notify')->get('lastname[]'));
                                    ?>
                                </div>
								<div class="full">
                                <div class="form-box-bg">
                                    <?php echo $this->formRow($form->get('donation_notify')->get('email[]')); ?>                                    
                                </div>
								<a onclick="addMoreDonationNotifyFront(this,'notify_donation_1')" id="addMoreDonationNotify" href="javascript:void(0);" class="add add-field"></a>
								</div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <?php  echo $this->formRow($form->get('donationaddtocart')); ?>

                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>

			
           <div class="common-right-section <?php if($this->getAuth() === false){ ?> white-bg <?php } ?>" <?php if($this->getAuth() === false){ ?> style="height:261px;" <?php } ?> >
                <?php
                if ($this->getAuth() === false) {
                    ?>
                    <div class="block" style="margin-top:0px;">
                        <div class="content">
                            <h1>have an account?</h1>
                            <p>Create a free account to search for family arrival records and learn more about Lady Liberty and Ellis Island.</p>
                            <h3>BE A PART OF HISTORY!</h3>
                            <a class="button green" href="javascript:void(0);" onClick="checkUserLogin('0');" >Login</a> <a class="button" href="javascript:void(0);" onclick="signupPopup();">Join us!</a> </div>
                    </div>
                    <?php
                }
                ?>
                <div class=""> 
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                </div>
                
                <div class="home-add"> 
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
            </div>
        </div>
    </div>
	</div>
	</div> 
</section>