<?php
/**
 * This file is used for get add inventory add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function(){
        $("select").select2();
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->inventoryForm;
$form->prepare();
echo $this->form()->openTag($form);
?>
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CATEGORY']; ?></label>
                <?php echo $this->formRow($form->get('category_id')); ?>
            </div>
        </div>
        <div class="row" id="product_block" style="display:none;">
            <div class="col1">
                <label><?php echo $translator['L_PRODUCTS']; ?></label>
                <?php echo $this->formRow($form->get('product_id')); ?>
            </div>
        </div>
        <div class="row no-padd" id="product_detail_block" style="display:none;">
            <div class="col1">
                <label id="product_name">Spangled Liberty 2013</label>
				<label>Each ($<span id="product_price"></span>) QTY  <span class="red">*</span></label>
				<div class="rel-auto-error"><?php echo $this->formRow($form->get('num_quantity')); ?></div>
              </div>
			   <div class="col1 right">  <label>&nbsp;</label> <?php echo $this->formRow($form->get('inventoryaddtocart')); ?></div>
				
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>
       
