<?php
/**
 * This file is used for get wall of honor add to cart bio certificate search
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
    $var .= 'var userId= "' . $userId . '";';
    $var .= 'var name= "' . $name . '";';
    $var .= 'var transactionId= "' . $transactionId . '";';
    $var .= 'var panelNo= "' . $panelNo . '";';
    $var .= 'var searchType= "' . $searchType . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/bio.personalize.search.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<?php
$form = $this->wallOfHonor;
$form->prepare();
echo $this->formRow($form->get('bio_wohid'));
echo $this->formRow($form->get('bio_name'));
echo $this->formRow($form->get('immigrated_from'));
echo $this->formRow($form->get('method_of_travel'));
echo $this->formRow($form->get('port_of_entry'));
echo $this->formRow($form->get('date_of_entry_to_us'));
echo $this->formRow($form->get('additional_info'));
echo $this->formRow($form->get('personalize_wohid'));
?>
<div class="grid-section add-product-cart-grid">
    <div class="grid-box" id="gview_list">
        <table id="bio_personalize_transaction_<?php echo $searchType ?>"></table>
        <div id="<?php echo $searchType; ?>"></div>
    </div>
</div>
<?php
if ($searchType == 'bio_certificate') {
    echo '<div class="row m-t-15"><label class="auto m-r-5">Qty: </label>';
    echo $this->formRow($form->get('bio_certificate_qty')->setAttributes(array('class' => 'width-130')));
    ?>
    <a href='javascript:void(0);' id="bio_certificate_view" onclick='addBioCertificateToCart("")' class="link m-l-25" style="display:none">View</a>
    <div>
        <?php
    } else if ($searchType == 'duplicate_certificate') {
        echo '<div class="row m-t-15"><label class="auto m-r-5">Qty: </label>';
        echo $this->formRow($form->get('duplicate_certificate_qty')->setAttributes(array('class' => 'width-130'))->removeAttributes(array('readonly' => 'readonly')));
        
        echo '</div>';
    } else {
        echo '<div class="row m-t-15"><label class="auto m-r-5">Qty: </label>';
        echo $this->formRow($form->get('personalized_qty')->setAttributes(array('class' => 'width-130')));
        echo '</div>';
    }
    ?>