<?php
/**
 * This view is used to search user transaction
 * @package    Transaction
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/user.search.transaction.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="create-contacts">    
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>    
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
        <div class="head no-img"><span><?php echo $translator['HEAD_SEARCH_TRANSACTION']; ?></span></div>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        ?>

        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col1">                        
                        <?php echo $this->formRow($form->get('transaction_type')); ?>
                    </div>
                    <div class="right">
                        <a href="/get-crm-cart-products/<?php echo $user_id; ?>" class="link">Create Transaction</a>
                    </div>
                </div>                
                <div class="row no-padd" style="display: none;">                    
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                </div>
            </div>
        </div>            
        <?php
        echo $this->form()->closeTag();
        ?>        
    </div>    
</div>
<div class="grid-section">
    <div id="success_message"></div>
    <div class="grid-box">       
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>