<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->membershipDetailForm;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="common-form">
    <?php
    if (!empty($membershipsData)) {
        foreach ($membershipsData as $membership) {
            if ($membership['membership_id'] != 1) {

                $elementId = $membership['membership_id'];
                $elementLabel = $membership['membership_title'];
                $elementDonationAmount = $membership['minimun_donation_amount'];
                $form->get('membership_id')->setAttributes(array('options' => array($elementId => $elementLabel), 'id' => 'membership_id_' . $elementId, 'onClick' => 'onChangeMembership(' . $elementId . ')'));
                $form->get('minimum_donation_amount[]')->setAttributes(array('id' => 'minimum_donation_amount_' . $elementId, 'value' => $elementDonationAmount, 'disabled' => 'disabled', 'onblur' => "javascript:if(parseInt(this.defaultValue)>parseInt(this.value)){this.value=this.defaultValue;}"));
    ?>

                <div class="row">
                    <div class="col1">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('membership_id')); ?>
                        <label for="membership_id" class="check"></label>
                    </div>
                    <div class="col1 right">
                        <span class="amount-col">Minimum Amount</span>
                        <span class="left m-t-10 m-r-10">$</span> <?php echo $this->formRow($form->get('minimum_donation_amount[]')); ?>
            </div>
        </div>
<?php } } }?>
        <div class="row">
            <div class="col1">
                <label>&nbsp;</label>
<?php echo $this->formRow($form->get('membershipaddtocart')); ?>
            </div>
        </div>
    </div>
<?php echo $this->form()->closeTag(); ?>
       
