<?php
/**
 * This file is used for user transaction list
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>

<div class="common-detail-section">
    <div class="top-detail">
        <h1><?php echo $translator['H_TRANSACTION']; ?></h1>
    </div>
    <?php
    if (isset($usrTransactionArr) && !empty($usrTransactionArr)) {
   
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th class="th-wdth-10"><?php echo $translator['L_ORDER_NO']; ?></th>
                            <th class="th-wdth-10"><?php echo $translator['L_DATE']; ?></th>
                            <th class="th-wdth-5"><?php echo $translator['L_ITEM']; ?></th>
                            <th class="th-wdth-10"><?php echo $translator['L_TOTAL']; ?></th>
                            <th class="th-wdth-15"><?php echo $translator['L_STATUS']; ?></th>
                        </tr>
                        <?php  foreach ($usrTransactionArr as $val) { ?>
                        <tr>

                            <td><a href="javascript:void(0);" class="" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a></td>
                            <td><?php echo $this->Dateformatalpha($val['transaction_date'], 'calender'); ?></td>
                            <td><?php echo $val['num_items']; ?></td>
                            <td>$<?php echo $this->Currencyformat($val['transaction_amount']-($val['cancel_amount'] + $val['refund_amount']+$val['refund_shipping']+$val['refund_tax'])); ?></td>                            
                            <td><?php echo $val['status_name']; ?></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <?php
     
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
    }
    ?>
</div>