<?php
/**
 * This view is used to get passenger record info
 * @package    Document
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;

$filename = '';
if (!empty($manifestResult[0]['FILENAME'])) {
    $filename = $manifestResult[0]['FILENAME'];
}
?>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.=" var passengerId = '" . $passengerId . "';";

$script = <<<EOD
$(function(){
        var defaultImageIndex = $defaultImageIndex;
		if($defaultImageIndex == 0)
			$("#centerImage").show();
        else
            $("#centerImage").hide();
            
        $("#centerImage").val($("#centerImageName").text());
       
        });

    
	function getImage(action)
        {
        if(action!='delete')
        {
            if(document.getElementById('centerImage').checked == true)
            {
                var centerImageValue=$("#centerImage").val();
                if($("input[id^='additional_images_'][value='"+centerImageValue+"']").size()>0)
                {
                    return false;
                }
            }
            else
            {
                return false;
            }
        }
        var additionalProductSlideDiv='';
        
        // used to uncheck the check box if unchecked
        if($("#is_first_image").is(":checked") == true)
			$("#is_first_image").attr('checked','true');             
		else	
			$("#is_first_image").attr('checked',false);        
			
        if($("#is_second_image").is(":checked") == true)
			$("#is_second_image").attr('checked','true');             
		else	
			$("#is_second_image").attr('checked',false);  
			        
        
        var allAdditionalImages=$("input[id^='additional_images_'],#is_first_image,#is_second_image");
        var totalAdditionalImage=allAdditionalImages.length;
        additionalProductSlideDiv+='<ul id="mycarousel" class="jcarousel-skin-tango">';
        for(i=0;i<totalAdditionalImage;i++)
        {
            var additionalImageValue=$(allAdditionalImages[i]).val();
            var imageId=$(allAdditionalImages[i]).attr('id');
            if(imageId=='is_first_image' || imageId=='is_second_image')
            {
                var parentLi=$("#"+imageId).parents('li');
                additionalProductSlideDiv+='<li>'+$(parentLi).html()+'</li>';
            }
            else
            {
                additionalProductSlideDiv+='<li><input type="checkbox" name="additional_images[]" id="additional_images_'+(i+1)+'" checked value="'+additionalImageValue+'"'+' class="link1 checkbox line-blue" onClick="deleteAdditionalImage(\'additional_images_'+(i+1)+'\',\''+additionalImageValue+'\')" ><label style="padding: 1px 5px 7px 0px !important" class="check">'+additionalImageValue+'</label><img src="'+$("#image").attr('src')+'" alt="" height="150" width="150" style="cursor:pointer;"></li>';
            }
        }

        
        if(action!='delete')
        {
            additionalProductSlideDiv+='<li><input type="checkbox" name="additional_images[]" id="additional_images_'+(i+1)+'" checked value="'+document.getElementById('centerImage').value+'"'+' class="link1 checkbox line-blue" onClick="deleteAdditionalImage(\'additional_images_'+(i+1)+'\',\''+document.getElementById('centerImage').value+'\')" ><label style="padding: 1px 5px 7px 0px !important" class="check">'+document.getElementById('centerImage').value+'</label><img src="'+$("#image").attr('src')+'" alt="" height="150" width="150" style="cursor:pointer;"></li>';
        }
        additionalProductSlideDiv+='</ul>';
        $("#additionalImageDiv").html(additionalProductSlideDiv);
        jQuery('#mycarousel').jcarousel();
        calculateManifestPrice();
    }

    function showCenterImageName(image_name)
    { 
        if(image_name == $("#is_first_image").val() || image_name == $("#is_second_image").val()){
            $("#centerImage").hide();
        }
        else {
            $("#centerImage").show();
        }
        document.getElementById('centerImage').value = image_name;
        
        $("#centerImageName").html(image_name);
    }

    function uncheckImage()
    {
        document.getElementById('centerImage').checked = false;
    }

    function deleteAdditionalImage(value, fileName){
        if(document.getElementById(value).checked == false)
        {
            $("#imagename").html(fileName);
            $.colorbox({
                width:"600px",
                href:"#delete_image",
                height:"260px",
                inline: true
            });
            $("#no_delete").click(function(){
                $.colorbox.close();
                $('#yes_delete').unbind('click');
                document.getElementById(value).checked = true;
                return false;
            });

            $("#yes_delete").click(function(){
                $('#yes_delete').unbind('click');
                $.colorbox.close();
                $("#"+value).remove();
                getImage('delete');
            });
        }
    }
EOD;
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/sliderskin.css?v=' . $this->layout()->getVariable('cssVersion'))
        ->prependStylesheet($this->layout()->getVariable('jsFilePath') . '/js/slider-zoom/css/es-cus.css')
        ->prependStylesheet($this->layout()->getVariable('jsFilePath') . '/js/slider-zoom/css/imagezoom.css')
        ->prependStylesheet($this->layout()->getVariable('jsFilePath') . '/js/slider-zoom/css/demo.css')
        ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/crmmanifestcss.css');

echo $this->inlineScript()->appendScript($var)
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jcarousel.min.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendScript($script)
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.passenger.search.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="detail-section">
    <?php
    $form = $this->passengerDocumentForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('passenger_id'));
    echo $this->formRow($form->get('product_id'));
    $prin_first_name = '';
    if (!empty($searchResult['PRIN_FIRST_NAME']))
        $prin_first_name = ', ' . $searchResult['PRIN_FIRST_NAME'];
    ?>
    <input type="hidden" name="item_info" id="item_info" value="<?php echo substr($searchResult['DATE_ARRIVE'], 0, 10); ?>">
    <input type="hidden" name="item_name" id="item_name" value="<?php echo $searchResult['SHIP_NAME']; ?>">
    <input type="hidden" name="passenger_name" id="passenger_name" value="<?php echo $searchResult['PRIN_LAST_NAME'] . $prin_first_name; ?>">
    <div class="common-form">
        <div class="row1">
            <div class="col1">
                <label><?php echo $translator['L_PASSENGER_ID']; ?> : </label>
                <label> <?php echo $searchResult['ID']; ?></label>
            </div>
        </div>
        <?php
        if (isset($productResult)) {
            ?>
            <div class="row1">
                <div class="col1">
                    <label><?php echo $translator['L_PASSENGER_NAME']; ?> : </label>
                    <label> <?php echo $searchResult['PRIN_LAST_NAME'] . $prin_first_name; ?></label>
                </div>
            </div>
            <div class="row1">
                <div class="col4"><label>
                        <?php echo $this->formRow($form->get('is_passenger_record')); ?>
                        Passenger Record </label>
                </div>
                <div class="col4">
                    <?php
                    $price = '0';
                    foreach ($productResult as $key => $val) {
                        $valueOptions = array($val['attribute_option_id'] => $val['option_name']);
                        $form->add(array(
                            'type' => 'Zend\Form\Element\Radio',
                            'name' => 'passenger_record_options',
                            'options' => array(
                                'value_options' => $valueOptions
                            ),
                            'attributes' => array(
                                'id' => 'attribute_option_id_pass_' . $val['attribute_option_id'],
                                'class' => 'e3 honoree',
                                'disabled' => 'disabled'
                            )
                        ));
                        if ($key == 0 || $val['default_option'] == 1) {
                            $form->get('passenger_record_options')->setValue($val['attribute_option_id']);
                        }
                        ?>
                        <div class="row no-padd">
                            <?php echo $this->formRow($form->get('passenger_record_options')); ?>
                            <label>Each (<?php
                    $price = $val['product_sell_price'] + $val['additional_option_price'];
                    
                        if($val['is_membership_discount'] == 1)
                            $price = $price - $this->Roundamount(($price*$discount)/100);
                    echo $jsLangTranslate['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($price)
                            ?>)</label>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <div class="col4 qty file-upload-msg">
                    <label class="auto m-r-5">Qty</label>
                    <?php echo $this->formRow($form->get('passenger_record_qty')); ?>
                    <a href="#passenger_record_block" class="show_passenger_record link m-l-10" onclick="showPassengerRecord()" style="display:none;">View</a>
                </div>
            </div>
            <?php
        }
        ?>
        <div class="row1">
            <?php
            if (count($productOptionResult) > 0) {
                ?>
                <div class="col4">
                    <?php echo $this->formRow($form->get('is_ship_image')); ?>
                    <?php echo $this->formRow($form->get('ship_id')); ?>
                    <label for="is_ship_image" class="no-padd">Ship Image</label>
                </div>
                <div class="col4">
                    <?php
                    $price = '0';
                    foreach ($productOptionResult as $key => $val) {
                        $inputType = '';
                        $checked = '';
                        $form->add(array(
                            'name' => 'attribute_option_amount[]',
                            'attributes' => array(
                                'type' => 'hidden',
                                'id' => 'attribute_option_amount_' . $val['attribute_option_id'],
                                'value' => $val['additional_option_price']
                            )
                        ));
                        // asd($productOptionResult);
                        if ($val['attribute_display_type'] == 1) {
                            $inputType = "textbox";
                            $form->add(array(
                                'name' => 'attribute_option_id[]',
                                'attributes' => array(
                                    'type' => 'textbox',
                                    'id' => 'attribute_option_id_ship_' . $val['attribute_option_id'],
                                    'readonly' => 'readonly',
                                    'value' => $val['attribute_option_id'],
                                    'checked' => 'checked'
                                )
                            ));
                        } else if ($val['attribute_display_type'] == 2) {
                            $inputType = "select";
                            $form->add(array(
                                'type' => 'Zend\Form\Element\Select',
                                'name' => 'attribute_option_id[]',
                                'options' => array(
                                    'value_options' => array(
                                    )
                                ),
                                'attributes' => array(
                                    'id' => 'attribute_option_id_ship_' . $val['attribute_option_id'],
                                    'disabled' => 'disabled',
                                    'class' => 'e1',
                                    'value' => $val['attribute_option_id']
                                )
                            ));
                        } else if ($val['attribute_display_type'] == 3) {
                            $valueOptions = array($val['attribute_option_id'] => $val['option_name']);
                            $form->add(array(
                                'type' => 'Zend\Form\Element\Radio',
                                'name' => 'attribute_option_id[]',
                                'options' => array(
                                    'value_options' => $valueOptions
                                ),
                                'attributes' => array(
                                    'id' => 'attribute_option_id_ship_' . $val['attribute_option_id'],
                                    'class' => 'e3 honoree',
                                    'disabled' => 'disabled',
                                )
                            ));
                            $inputType = "radio";
                            if ($val['default_option'] == 1)
                                $checked = "checked";
                            else
                                $checked = "";
                        }else if ($val['attribute_display_type'] == 4) {
                            $form->add(array(
                                'type' => 'Zend\Form\Element\Checkbox',
                                'name' => 'attribute_option_id[]',
                                'attributes' => array(
                                    'id' => 'attribute_option_id_ship' . $val['attribute_option_id'],
                                    'class' => 'checkbox e2',
                                    'value' => $val['attribute_option_id'],
                                    'disable' => 'disable'
                                )
                            ));
                            $inputType = "checkbox";
                            if ($val['default_option'] == 1) {
                                $form->get('attribute_option_id')->setAttribute('checked', 'checked');
                                $checked = "checked";
                            }
                            else
                                $checked = "";
                        }

                        if ($key == 0 || $val['default_option'] == 1) {
                            $form->get('attribute_option_id[]')->setValue($val['attribute_option_id']);
                        }
                        if (!empty($val['product_attribute_option_id'])) {
                            ?>
                            <div class="row no-padd">

                                <?php echo $this->formRow($form->get('attribute_option_id[]')); ?>
                                <?php echo $this->formRow($form->get('attribute_option_amount[]')); ?>
                                <label>Each (<?php
                    $price = $val['product_sell_price'] + $val['additional_option_price'];
                    
                    if($val['is_membership_discount'] == 1)
                            $price = $price - $this->Roundamount(($price*$discount)/100);
                            
                            
                    echo $jsLangTranslate['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($price)
                                ?>)</label>
                            </div>

                            <?php
                        }
                    }
                    ?>
                </div>
                <div class="col4 qty m-t-20 file-upload-msg">
                    <label class="auto m-r-5">Qty</label>
                    <?php echo $this->formRow($form->get('ship_image_qty')); ?>
                    <a href="#passenger_ship_block" class="show_ship_record link m-l-10" onclick="showPassengerShip()" style="display:none;">View</a>
                </div>
                <?php
            }
            ?>
        </div>
        <div class="row1">
            <div class="col4">
                <?php echo $this->formRow($form->get('is_manifest')); ?>
                <label for='is_manifest' class="no-padd"><?php echo $translator['L_MANIFEST']; ?></label>
            </div>
            <div class="manifestBlock-slider" id="manifestBlock" style="display:none;">
                <div id="manifest" class="ship-manifest">
                    <div class="content clearfix">

                        <?php
                        $firstImagePrice = 0;
                        $secondImagePrice = 0;
                        $additionalImagePrice = 0;
                        //asd($this->productMenifestResult);
                        $i = 1;
                        $priceArr = array();

                        foreach ($this->productMenifestResult as $key => $val) {
                            $price = $val['product_sell_price'] + $val['additional_option_price'];
                            
                            if($val['is_membership_discount'] == 1)
                                $price = $price - $this->Roundamount(($price * $discount) / 100);
                                
                            $priceArr[] = $price;
                            $i++;
                        }
                        rsort($priceArr);
                        
                        $firstImagePrice = (!empty($priceArr[0])) ? $priceArr[0] : 0;
                        $additionalImagePrice = (!empty($priceArr[0])) ? $priceArr[0] : 0;
                        $secondImagePrice = (!empty($priceArr[1])) ? $priceArr[1] : 0;
                        
                        
                        ?>
                        <?php
                        $yearArrive = substr($searchResult['DATE_ARRIVE'], 0, 4);
                        $manifestPriceDetail = '';
                        $manifestType = '';
                        if ($yearArrive > 1907 && empty($searchResult['PRIN_CITIZEN_US_IND']) && empty($searchResult['PRIN_CREW_SHIP_IND'])) {
                            echo '<h1>TWO IMAGE SHIP MANIFEST</h1>';
                            $manifestType = 'TwoPage';
                        } else {
                            $manifestType = 'OnePage';
                            echo '<h1>ONE IMAGE SHIP MANIFEST</h1>';
                        }
                        ?>
                        <script type="text/javascript">
                            var firstImagePrice =<?php echo $firstImagePrice; ?>;
                            var secondImagePrice =<?php echo $secondImagePrice; ?>;
                            var additionalImagePrice =<?php echo $additionalImagePrice; ?>;
                            var manifestType = '<?php echo $manifestType; ?>';
                            var imagePriceArray = new Array();
                            imagePriceArray[0] = firstImagePrice;
                            imagePriceArray[1] = secondImagePrice;

                        </script>

                        <?php if (isset($searchResult['REF_PAGE_LINE_NBR']) and trim($searchResult['REF_PAGE_LINE_NBR']) != "") { ?>
                            <div class="row col1"><label>Ref Line No. : <?php echo isset($searchResult['REF_PAGE_LINE_NBR']) ? $searchResult['REF_PAGE_LINE_NBR'] : ""; ?></label></div>
                        <?php } ?>

                        <div id="manifestPriceDetail"></div>

                        <div class="top-section">
                            <input type="hidden" name="record_series" id="record_series" value="<?php echo substr($filename, 0, 4) ?>">
                            <input type="hidden" name="record_roll" id="record_roll" value="<?php echo substr($filename, 5, 4) ?>">
                            <input type="hidden" name="manifestType" id="manifestType" value="<?php echo $manifestType ?>">

                        </div>
                        <div class="slider-in-left">
                            <div id="additionalImageDiv">
                                <ul id="mycarousel" class="jcarousel-skin-tango">
                                    <?php
                                    if (!empty($manifestResult[0]['FILENAME'])) {
                                        $fileName = $manifestResult[0]['FILENAME'];
                                        if ($manifestResult[0]['data_source'] == 2)
                                            $secondFileName = substr($manifestResult[0]['ROLL_NBR'], 5) . '_' . sprintf('%05d', $manifestResult[0]['FRAME'] + 1) . '.jpg';
                                        else
                                            $secondFileName = $manifestResult[0]['ROLL_NBR'] . sprintf('%04d', $manifestResult[0]['FRAME'] + 1) . '.TIF';

                                        $folderName = substr($fileName, 0, 9);
                                        ?>
                                        <li><input type="checkbox" id="is_first_image" class="checkbox e2" name="is_first_image" value="<?php echo $fileName; ?>" checked onchange="calculateManifestPrice()">
                                            <label for='is_first_image' class="check" style="padding: 1px 5px 7px 0px !important"><?php echo $fileName; ?></label>
                                            <?php
                                            $imagePathArray = array();
                                            $imagePathArray['fileName'] = $fileName;
                                            $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                            $imagePathArray['isThumb'] = '1';
                                            $imagePath = $this->GetManifestPath($imagePathArray);
                                            ?>                                            


                                            <div class="full"><img src="<?php echo $imagePath ?>" alt="<?php echo $fileName ?>" title="<?php echo $fileName ?>" width="150" height="150"  onClick=uncheckImage();showCenterImage('<?php echo str_replace('\\', "/", $imagePath) ?>');showCenterImageName('<?php echo $fileName ?>','<?php echo $fileName ?>'); ></div></li>
                                        <?php
                                        if ($yearArrive > 1907 && empty($searchResult['PRIN_CITIZEN_US_IND']) && empty($searchResult['PRIN_CREW_SHIP_IND'])) {
                                            $imagePathArray = array();
                                            $imagePathArray['fileName'] = $secondFileName;
                                            $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                            $imagePathArray['isThumb'] = '1';
                                            $secondImagePath = $this->GetManifestPath($imagePathArray);
                                            ?>
                                            <li><input type="checkbox" id="is_second_image" class="checkbox e2" name="is_second_image" checked value="<?php echo $secondFileName; ?>" onchange="calculateManifestPrice()">
                                                <label for='is_second_image' class="check" style="padding: 1px 5px 7px 0px !important"><?php echo $secondFileName; ?></label>

                                                <div class="full">
                                                    <img src="<?php echo $secondImagePath ?>" alt="<?php echo $secondFileName ?>" title="<?php echo $secondFileName ?>" width="150" height="150" onClick=uncheckImage();showCenterImage('<?php echo str_replace('\\', "/", $secondImagePath) ?>');showCenterImageName('<?php echo $secondFileName ?>','<?php echo $secondFileName ?>');>
                                                </div>
                                            </li>


                                            <?php
                                        }
                                    }
                                    ?>

                                </ul>
                            </div>
                            <?php
                            if (count($shipManifestArray) > 0) {

                                $imagePathArray = array();
                                $imagePathArray['fileName'] = $shipManifestArray[$defaultImageIndex];
                                $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
                                $imagePathArray['isThumb'] = '0';
                                $fileName = $this->GetManifestPath($imagePathArray);
                                $largeVal = $fileName;
                                $topOverIcon = "top:570px;";

                                $largeImageExists = false;
                                if (!empty($shipManifestArray[$defaultImageIndex])) {
                                    if ($manifestResult[0]['data_source'] == 1) {
                                        $largeImageExists = @fopen($largeVal, 'r');
                                    } else if ($manifestResult[0]['data_source'] == 2) {
                                        $imageFolderArray = explode('_', $shipManifestArray[$defaultImageIndex]);
                                        $imageFolder = $imageFolderArray[0];
                                        $imageRootPath = $uploadFilePath;
                                        $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . $shipManifestArray[$defaultImageIndex];
                                        $largeImageExists = file_exists($imageRootPath);
                                    }
                                }

                                if ($largeImageExists) {
                                    $largeVal = $largeVal;
                                } else {
                                    $largeVal = $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg";
                                }
                                ?>
                                <div id="c-carousel" class="minifestSilder">
                                    <div  id="wrapper" class="left">



                                        <!--<div id="sliderDiv_overlay2" onMouseout="showHideOverlay(1);" onMouseover="showHideOverlay(0);"></div>-->


                                        <div class="slider-box cf">
                                            <div class="left">
    <?php
    //if($largeImageExists)
    //	{
    ?>	
                                                <div id="sliderDiv_overlayCrm" class="carouselLoader">
                                                    <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" >
                                                </div>
                                                <?php
                                                //    }
                                                ?>

                                                <span class="demowrap"><?php if (isset($shipManifestArray[$defaultImageIndex])) { ?>
                                                        <img id="image" src="<?php echo $largeVal ?>" data-original="<?php echo $largeVal ?>" height="100%" />

                                                <?php } ?>
                                                <?php
                                                $centerImageFilename = (isset($shipManifestFilenameArray[$defaultImageIndex])) ? $shipManifestFilenameArray[$defaultImageIndex] : '';

                                                echo $this->formRow($form->get('centerImage'));
                                                ?>
                                                    <?php if (isset($shipManifestFilenameArray[$defaultImageIndex])) { ?><label for='' class="check" id="centerImageName"><?php echo $centerImageFilename ?></label><?php } ?>
                                                </span>
                                            </div>
                                        </div>	

                                        <div id="thumbs-wrapper">
                                            <div id="thumbs">                                                                                   

    <?php
    if (count($shipManifestArray) > 0) {
        foreach ($shipManifestArray as $key => $val) {
            $imagePathArray = array();
            $imagePathArray['fileName'] = $val;
            $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
            $imagePathArray['isThumb'] = '1';
            $thumbVal = $this->GetManifestPath($imagePathArray);
            $sShipImage = $shipManifestFilenameArray[$key];

            $imagePathArray = array();
            $imagePathArray['fileName'] = $val;
            $imagePathArray['dataSource'] = $manifestResult[0]['data_source'];
            $imagePathArray['isThumb'] = '0';
            $largeVal = $this->GetManifestPath($imagePathArray);

            $imageFolderArray = explode('_', $val);
            $imageFolder = $imageFolderArray[0];
            $imageRootPath = $uploadFilePath;
            $imageRootPath = $imageRootPath . 'manifest/' . $imageFolder . '/' . $val;
            if ($manifestResult[0]['data_source'] == 1) {
                //$largeImageExists = @fopen($largeVal, 'r');
                $largeImageExists = true;
            } else if ($manifestResult[0]['data_source'] == 2) {
                $largeImageExists = file_exists($imageRootPath);
            }

            if ($largeImageExists) {
                ?>
                                                            <a id="<?php echo $key ?>" href="#<?php echo $key ?>" onClick=uncheckImage();showCenterImage('<?php echo str_replace('\\', "/", $largeVal) ?>');showCenterImageName('<?php echo $shipManifestFilenameArray[$key] ?>','<?php echo $sShipImage ?>');><img data-original="<?php echo $largeVal ?>"/><span id="<?php echo $val ?>"><?php
                                            echo $shipManifestFilenameArray[$key];
                ?></span></a>
                                                            <?php
                                                        }
                                                        ?>

            <!--<a href="javascript:void(0);" onClick=showCenterImageName('<?php //echo $shipManifestFilenameArray[$key] ?>')><img src="<?php //echo $thumbVal ?>" data-largeimg="<?php //echo $largeVal ?>"/></a><span id="<?php //echo $val ?>"><?php //echo $shipManifestFilenameArray[$key] ?></span></li>-->
                                                                <?php
                                                            }
                                                        }
                                                        ?>
                                            </div>
                                            <a id="prev" href="#"></a>
                                            <a id="next" href="#"></a>
                                        </div>
                                        <label class=""></label>
                                    </div>
                                </div>

    <?php
}
?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row1">
        <div class="col1">
            <div class="row">
                <label for='is_related_product' class="no-padd"> <?php echo $this->formRow($form->get('is_related_product')); ?><?php echo $translator['L_RELATED_PRODUCTS']; ?></label>
                <div id="related_product_div" style="display:none;">
<?php echo $this->formRow($form->get('related_product_name')); ?>
<?php echo $this->formRow($form->get('related_product_name_ids')); ?>
                    <div class="row m-t-15">
                        <label>&nbsp;</label>
                        <div class="select_product_div"><ul id="related_select_product">
                            </ul></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row1">
        <div class="col8">
            <label>&nbsp;</label>
<?php echo $this->formRow($form->get('passengeraddtocart')); ?>
        </div>
    </div>
</div>
</div>


<div style='display:none'>
    <div id='passenger_record_block' class="inner-popup-detail">
        <div class="pop-container">
            <div class="pass-record">
                <ul>
<?php
if (isset($searchResult['PRIN_FIRST_NAME']) && !empty($searchResult['PRIN_FIRST_NAME'])) {
    ?>
                        <li><label><?php echo $jsLangTranslate['L_FIRST_NAME_LABEL'] ?>:</label><label class="auto"><?php echo $searchResult['PRIN_FIRST_NAME'] ?></label></li>
    <?php
}
?>

                    <li><label><?php echo $jsLangTranslate['L_LAST_NAME_LABEL'] ?>:</label><label class="auto"><?php echo $searchResult['PRIN_LAST_NAME'] ?></label></li>
                    <?php
                    if (isset($passengerEthnicity['ethnicity']) && !empty($passengerEthnicity['ethnicity'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_ETHNICITY'] ?>:</label><label class="auto"><?php echo $passengerEthnicity['ethnicity']; ?></label></li>
                        <?php
                    }
                    ?>
                    <?php
                    if (isset($searchResult['PRIN_PLACE_RESI']) && !empty($searchResult['PRIN_PLACE_RESI'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_LAST_PLACE_OF_RESIDENCE'] ?>:</label><label class="auto"><?php echo $searchResult['PRIN_PLACE_RESI'] ?></label></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (isset($searchResult['DATE_ARRIVE']) && !empty($searchResult['DATE_ARRIVE'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_DATE_OF_ARRIVAL'] ?>:</label><label class="auto"><?php echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'], 'displaymonthformat'); ?></label></li>

                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_AGE_ARRIVAL'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_AGE_AT_ARRIVAL'] ?>:</label><label class="auto"><?php echo $searchResult['PRIN_AGE_ARRIVAL'] ?></label></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_GENDER_CODE'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_GENDER_AT_ARRIVAL'] ?>:</label><label class="auto"><?php echo $genderArray[$searchResult['PRIN_GENDER_CODE']] ?></label></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (!empty($searchResult['PRIN_MARITAL_STAT'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_MARITAL_STATUS'] ?>:</label><label class="auto"><?php echo $maritalStatusArray[$searchResult['PRIN_MARITAL_STAT']] ?></label></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (isset($searchResult['SHIP_NAME']) && !empty($searchResult['SHIP_NAME'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_SHIP_OF_TRAVEL'] ?>:</label><label class="auto"><?php echo $searchResult['SHIP_NAME'] ?></label></li>
                        <?php
                    }
                    ?>

                    <?php
                    if (isset($searchResult['DEP_PORT_NAME']) && !empty($searchResult['DEP_PORT_NAME'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_PORT_OF_DEPARTURE'] ?>:</label><label class="auto"><?php echo $searchResult['DEP_PORT_NAME'] ?></label></li>
                        <?php
                    }
                    ?>
                    <?php
                    if (isset($searchResult['REF_PAGE_LINE_NBR']) && !empty($searchResult['REF_PAGE_LINE_NBR'])) {
                        ?>
                        <li><label><?php echo $jsLangTranslate['L_MANIFEST_LINE_NUMBER'] ?>:</label><label class="auto"><?php echo $searchResult['REF_PAGE_LINE_NBR'] ?></label></li>
                        <?php
                    }
                    ?>

                </ul>
            </div>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='passenger_ship_block' class="inner-popup-detail">
<?php
if (!empty($shipResult['ASSETVALUE'])) {
    ?>
            <img src="<?php echo $shipPath . $shipResult['ASSETVALUE'] ?>" alt="" width="564px" height="352px">
    <?php
} else {
    ?>
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/no-img-blog.jpg" alt="No Image Available" width="564px" height="352px" align="center">
        <?php } ?>
    </div>
</div>

<div style='display:none'>

    <div id='delete_image' class="inner-popup-detail">
        <div class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2><?php echo $jsLangTranslate['REMOVE_IMAGE'] ?></h2>
            <p><?php echo $jsLangTranslate['REMOVE_IMAGE_CONFIRM'] ?> <span id="imagename"></span> ?</p>
            <div class="button-row" style="width:210px">
                <input type="button" value="Remove" name="yes" id="yes_delete" class="blue-btn m-r-10">
                <input type="button" value="Cancel" name="no" id="no_delete" class="green-btn">

            </div>
        </div>
    </div>
</div>
<script>
    var startIndex = parseInt('<?php echo $defaultImageIndex ?>');
    function showManifestImageSlider()
    {
        var startIndex = parseInt('<?php echo $defaultImageIndex ?>');
        var itemPerSlide = 4;

        //$("#sliderDiv_overlay").hide();
        $('#carousel').carouFredSel({
            responsive: true,
            circular: true,
            auto: false,
            items: {
                start:startIndex,
                visible: 1,
                width: 200,
                height: '56%'
            },
            scroll: {						
                fx: 'directscroll'
            }
        });

        $('#thumbs').carouFredSel({
            direction: 'up',
            circular: false,
            infinite: false,
            height: '85%',
            items: {
                start:startIndex,
                visible: 4,
                height: '85%'
            },
            auto: false,
            prev: '#prev',
            next: '#next',
            scroll: {
                fx: 'directscroll',
                onAfter: function() {
                    //$("#manifestBlock").hide();
                }
            }				
        });

        $('#thumbs a').click(function() {
            $('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
            $('#thumbs a').removeClass('selected');
            var spanIdArray = this.href.split('#').pop().split('_');
            $(this).addClass('selected');
            return false;
        });
				
        var nextStartIndex =startIndex+3;
        var prevStartIndex =startIndex-1;
        var nSIndex =startIndex;
        var pSIndex =startIndex;
        var element = $( "#"+nSIndex ).children();
        element.attr( 'src', element.data( 'original' ));
						
        for(var p=1; p<=10; p++)
        {
            var element = $( "#"+nSIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            nSIndex =nSIndex+1;
        }
        for(var z=1; z<=10; z++)
        {
            var element = $( "#"+pSIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            pSIndex =pSIndex-1;
        }					
					
        $("#next").click(function (){
            for(var p=1; p<=10; p++)
            {
                var element = $( "#"+nextStartIndex ).children();
                element.attr( 'src', element.data( 'original' ));
                nextStartIndex =nextStartIndex+1;
            }
        });
				
        $("#prev").click(function (){
            var element = $( "#"+prevStartIndex ).children();
            element.attr( 'src', element.data( 'original' ));
            for(var k=1; k<=10; k++)
            {
                var element = $( "#"+prevStartIndex ).children();
                element.attr( 'src', element.data( 'original' ));
                prevStartIndex =prevStartIndex-1;
            }
            nextStartIndex = startIndex;
        });	
    }		
		
    function showCenterImage(imgObj)
    {
        $("#image").attr('src', imgObj);
        $("#image").data('original', imgObj);
        //$("#carousel").show();
        $("#sliderDiv_overlayCrm").show();
        $("#image").load(function() {
            //$("#carousel").hide();
            $("#sliderDiv_overlayCrm").hide();
            $('#image').ImageZoom();
        });
        //hideAjxLoader();
    }
    $(function() {
        $('#'+startIndex).click()
    });
    function showHideOverlay(val){ 
        if(val == 0)
        {
            $("#sliderDiv_overlay2").hide();
        }	
        else if(val == 1)
        {
            $("#sliderDiv_overlay2").show();
        }
    } 				
</script>


