<style>
.create-contacts .row{padding-bottom:10px;}
</style>

<?php
/**
 * This view is used to view transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($translator as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var encrypt_transactionId="' . $transactionId . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.transaction.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2>
        <?php echo $translator['L_TRANSACTION']; ?>
        <?php if(isset($transactionDecryptId) && ($transactionDecryptId) != "") { echo '<div class="user-name-top">Transaction #: '.($transactionDecryptId).'</div>'; }  ?>
    </h2>
    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="/create-case/<?php echo $encUserId;?>/<?php echo $transactionId;?>" id="tab-5">Create Case</a></li>
			<li><a href="javascript:void(0);" onclick="getShipmentDetail()" id="tab-3"><?php echo $translator['L_SHIPMENTS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewTransactionDeatil()" class="active" id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-4"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="transactionContent"></div>
    </div>
</div>