<style>
    .create-contacts .row{padding-bottom:15px;}
    .auto-label label, .woh .option label {width:auto !important;}
    .auto-label .price{ padding-top: 12px !important;}
    .woh .option label{ padding:1px 0 0 10px !important}
</style>
<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->wallOfHonor;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('addToCartButton'));
?>

<div class="common-form woh">
    <div class="col1">
        <div class="row">
            <h2 style="font-size:20px"><?php echo $translator['L_PRODUCTS']; ?></h2>
        </div>
        <?php
        // asd($attibuteOptionsArr);
        if (!empty($attibuteOptionsArr)) {
            foreach ($attibuteOptionsArr as $attributeOption) {
                $elementId = $attributeOption['product_id'];
                $elementLabel = $attributeOption['product_name'];
                $form->get('woh_main_product')->setAttributes(array('options' => array($elementId => $elementLabel), 'id' => 'woh_main_product_' . $elementId, 'onClick' => 'onChangeProduct(' . $elementId . ')'));
                ?>
                <div class="row auto-label no-padd">

                    <?php echo $this->formRow($form->get('woh_main_product')); ?>

                    <label for='woh_main_product_'<?php echo $elementId; ?> class="check"></label>
                    <label class="price"> 
                    <?php 
                        if ($attributeOption['product_sell_price'] != 0) { 
                        {
                            if($attributeOption['is_membership_discount'] == 1) {
                                echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($attributeOption['product_sell_price']- $this->Roundamount(($attributeOption['product_sell_price']*$discount)/100)); 
                            }
                            else {
                                echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($attributeOption['product_sell_price']);
                            }
                         }
                    } 
                    ?></label>
                    <?php
                    if (!empty($attributeOption['options'])) {
                        echo "<div class='row option no-padd' id='options_list_block_{$attributeOption['product_id']}' style='display:none;'>";
                        foreach ($attributeOption['options'] as $options) {
                            ?>
                            <a class="link" href="javascript:void(0);" onclick="getWallOfHonorForm(<?php echo $attributeOption['attribute_id']; ?>,<?php echo $options['attribute_option_id']; ?>,'<?php echo $options['option_name']; ?>','<?php echo $elementLabel; ?>','<?php echo $options['option_name']; ?>' )"><?php echo $options['option_name']; ?></a><label> 
                            <?php if ($options['additional_option_price'] != 0) { 
                                
                                if($attributeOption['is_membership_discount'] == 1) {
	                                $totalProductOptionPrice = ($attributeOption['product_sell_price'] + $options['additional_option_price']);
	                                $totalProductOptionPrice = $totalProductOptionPrice - $this->Roundamount(($totalProductOptionPrice*$discount)/100);
                                }
                                else {
	                                $totalProductOptionPrice = ($attributeOption['product_sell_price'] + $options['additional_option_price']);
                                }
                                
                            ?>
                            
                            <?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->CurrencyFormat($totalProductOptionPrice); ?> <?php } ?></label>
                            <?php
                        }
                        echo "</div>";
                    }
                    ?>

                </div>
            <?php
            }
        }
        ?>

    </div>
    <div id="other_product_block"></div>

    <div class="row" id="naming_convention_form"></div>

</div>

<?php echo $this->form()->closeTag(); ?>
       
