<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->kioskFeeForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

    <div class="common-form">
        <div class="row">
            <div class="col8">
                <label><?php echo $translator['L_KIOSK_FEE']; ?></label>
            </div>
            <div class="col8">
                <label>$ <?php echo (isset($productResult[0]['product_sell_price']) && $productResult[0]['product_sell_price']!='')?$productResult[0]['product_sell_price']:0; ?></label>
            </div>
            <div class="col8">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('kioskfeeaddtocart')); ?>
            </div>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>
       
