
<?php
/**
 * This view is used to search passenger for admin
 * @package    Document
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.passenger.search.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))->prependScript($var);
        
?>
<div id="passenger_record_info">
        <?php
        $form = $this->search_passeneger_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="common-form passenger_document-container">
            <div class="row1">
                <div class="col4">
				<label><?php echo $translator['L_PASSENGER_ID']; ?></label>
				<?php echo $this->formRow($form->get('passenger_id')); ?>
                                
                </div>
                <div class="col4">
                                <?php echo $this->formRow($form->get('advance_search')); ?>
                                

                </div>
                                                

                
				</div>
				<div class="deepak" id="advanceSearchBlock" style="display:none;">
				<div class="row1">
               
                <div class="col4">
				<label><?php echo $translator['SHIP']; ?></label>
					<div class="">
                        <?php echo $this->formRow($form->get('ship')); ?>
					</div>
				</div>
                <div class="col4">
				<label><?php echo $translator['ETHNICITY']; ?></label>
				<?php echo $this->formRow($form->get('ethnicity')); ?>
                    </div>
				</div>
                <div class="row">
                    <div class="col4">

                        <label><?php echo $translator['L_FIRST_NAME']; ?></label>

                    <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col4">
                        <label><?php echo $translator['L_LAST_NAME']; ?> </label>
                        <?php echo $this->formRow($form->get('last_name')); ?>
						<div class="row m-t-5 no-padd">
						<label> &nbsp;</label>
						<div class="checkbox-auto">
	                        <!-- <div style="width:50%; float:left;">
                            <label><input type="radio" name="search_type" class="e3" id="search_type1" value="search_type1"><?php echo $translator['EXACT_MATCH'] ?></label>
                            <label><input type="radio" name="search_type" class="e3" id="search_type2" value="search_type2"><?php echo $translator['START_WITH'] ?></label>
                            <label><input type="radio" name="search_type" class="e3" id="search_type3" value="search_type3"><?php echo $translator['SOUNDS_LIKE'] ?></label>
                            </div>  -->
							
							<label for="search_type1" ><?php echo $translator['EXACT_MATCH'] ?></label>
							<input type="radio" id="search_type1" value="search_type1" name="search_type" class="e3">
							<label for="search_type2" ><?php echo $translator['START_WITH'] ?></label>
							<input type="radio" id="search_type2" value="search_type2" name="search_type" class="e3">
							<label for="search_type3" ><?php echo $translator['SOUNDS_LIKE'] ?></label>
							<input type="radio" id="search_type3" value="search_type3" name="search_type" class="e3">
							
							</div>
                    </div>
					</div>
							
                    <div class="col4 right">
                        <label><?php echo $translator['L_YEAR_OF_BIRTH']; ?> </label>
                    <?php echo $this->formRow($form->get('birth_year')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label><?php echo $translator['L_CURRENT_AGE_RANGE']; ?> </label>
                    <?php echo $this->formRow($form->get('current_age')); ?>
                    </div>
                    <div class="col4">
                        <label><?php echo $translator['L_MARITAL_STATUS']; ?> </label>
                    <?php echo $this->formRow($form->get('marital_status')); ?>
                    </div>
                    <div class="col4 right">
                        <label><?php echo $translator['L_GENDER']; ?> </label>
                    <?php echo $this->formRow($form->get('gender')); ?>
                    </div>

                </div>
                <div class="row">
                    <div class="col4">
                        <label><?php echo $translator['L_YEAR_OF_ARRIVAL']; ?> </label>
                    <?php echo $this->formRow($form->get('year_of_arrival')); ?>
                    </div>
                    <div class="col4">
                        <label><?php echo $translator['L_MONTH_OF_ARRIVAL']; ?> </label>
                    <?php echo $this->formRow($form->get('month_of_arrival')); ?>
                    </div>
                    <div class="col4 right">
                        <label><?php echo $translator['L_DAY_OF_ARRIVAL']; ?> </label>
                    <?php echo $this->formRow($form->get('day_of_arrival')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label><?php echo $translator['L_LAST_PLACE_OF_RESIDENCE']; ?> </label>
                    <?php echo $this->formRow($form->get('town')); ?>
                    </div>
                    <div class="col4">
                        <label><?php echo $translator['L_PORT_OF_DEPARTURE']; ?> </label>
                    <?php echo $this->formRow($form->get('port_of_departure')); ?>
                    </div>
                    <div class="col4 right">
                        <label><?php echo $translator['L_ARRIVAL_PORT']; ?> </label>
                    <?php echo $this->formRow($form->get('arrival_port')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col4">
                        <label><?php echo $translator['PLACE_OF_BIRTH']; ?> </label>
                   <?php echo $this->formRow($form->get('place_of_birth')); ?>
                    </div>
                   
                </div>                
                
				  </div>
                <div class="row no-padd">

                    <label class="no-padd">&nbsp;</label>
                    <input name="" type="submit" class="search-btn" id="search" value="SEARCH">
                    <?php if($isSavedPassenger) {  echo $this->formRow($form->get('saved_passenger_search')); }?>
                </div>
            </div>
        <?php
                        echo $this->form()->closeTag();
        ?>
                   
                    <div class="grid-section" id="searchResultBlock" style="display:none;">
                        <div class="top-section"></div>
                        <div class="search-results">
                            <h3><?php echo $translator['SEARCH_RESULTS']; ?></h3>
        </div>
        <div class="grid-box trans-grid">
            <br><br>
            <table id="list"></table>
            <div id="pcrudpassenger"></div>
            <br><br>
        </div>
    </div> </div>
<script>
$(function(){
		setTimeout('$(".e3").customInput();',"500");
		setTimeout('$(".e4").customInput();',"500");
       $("#ethnicity").select2();
       $("#birth_year").select2();
       $("#current_age").select2();
       $("#marital_status").select2();
       $("#gender").select2();
       $("#year_of_arrival").select2();
       $("#month_of_arrival").select2();
       $("#day_of_arrival").select2();
       $("#arrival_port").select2();
        /*$($(".e3")).each(function(i){
        if($(this).is("[type=checkbox],[type=radio]")){
            var input=$(this),
            input_class=input.attr("class").split(" ");
            input.attr({
                id:input_class["1"]+"_"+i
            });
            var label=$("label[for="+input.attr("id")+"]"),outerLabel=input.parent(),outerLabelParent=input.parent().parent(),inputType=input.is("[type=checkbox]")?"checkbox":"radio";
            if(inputType=="radio"){
                var oDiv=$(document.createElement("label")).attr({"for":input_class["1"]+"_"+i}).html($(outerLabel).text());
                $(outerLabel).remove();
                outerLabelParent.append(input,oDiv)
            }
        }
    });*/
    });
</script>