<style>
    .woh-product .col1{width:100% !important}
    .add-product-cart-grid #gview_list .ui-jqgrid-bdiv {  max-height: 500px !important; }
	#personalized_panel_div .row label{width:95px; margin-right:5px}
	#personalized_panel_div .row .width-130{margin-right:20px}
</style>
<?php
/**
 * This file is used for get wall of honor add to cart bio certificate search
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<?php
$form = $this->wallOfHonor;
$form->prepare();
?>
<div class="col1 right woh-product">
    <div class="row">

        <h2 style="font-size:20px"><?php echo $translator['L_OTHER_PRODUCTS']; ?></h2>

    </div>
    <div class="row">

        <div class="col1">
            <?php echo $this->formRow($form->get('product_id')); ?>
            <?php echo $this->formRow($form->get('is_related_product')); ?>
            <label for='is_related_product' class="check" style="padding-left:10px !important"><?php echo $translator['L_RELATED_PRODUCTS']; ?></label>

        </div>

    </div>
    <div id="related_product_div" class="row" style="display:none;">
        <div class="row">
            <?php echo $this->formRow($form->get('related_product_name')); ?>
            <?php echo $this->formRow($form->get('related_product_name_ids')); ?>
        </div>

        <div class="select_product_div"><ul id="related_select_product">
            </ul></div>

    </div>
    <?php
    
    if ($productResult['additional_product_1'] != 0) {
        ?>
        <div class="row">
            <div class="col1 duplicate-products error-label-large">
                <?php
                $form->get('duplicate_certificate_id')->setValue($productResult['additional_product_1']);
                echo $this->formRow($form->get('duplicate_certificate_id'));
                echo $this->formRow($form->get('is_duplicate_certificate'));
                ?>
                <label for='is_duplicate_certificate' class="check" style="padding-left:10px !important">
                
                <?php 
                if($duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['is_membership_discount'] == 1) {
                    echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['product_name'] . " ($" . $this->CurrencyFormat($duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['product_sell_price']-$this->Roundamount(($duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['product_sell_price']*$discount)/100)) . " Each)"; 
                }
                else {
                    echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['product_name'] . " ($" . $duplicateRelatedPersonalizeArr[$productResult['additional_product_1']]['product_sell_price'] . " Each)"; 
                }
                ?>
                </label>
                <?php
                if ($productId != 17)
                    echo $this->formRow($form->get('duplicate_certificate_qty'));
                ?>
            </div>
            <?php if ($productId == 17) { ?>
                <div id="duplicate_product_div" style="display:none;">
                    <div class="row">
                        <div class="col1">
                            <div class="row">
                                <label class="auto m-r-5">Name</label>
                                <?php echo $this->formRow($form->get('duplicate_certificate_name')->setAttributes(array('class' => 'width-130'))); ?>
                                <label class="auto m-r-5"><?php echo $translator['L_TRANSACTION_HASH']; ?></label>                                
                                <?php echo $this->formRow($form->get('duplicate_certificate_transaction_id')->setAttributes(array('class' => 'width-130'))); ?>
                            </div> 
                            <div class="row">
                                <label class="auto m-l-5 m-r-5"><?php echo $translator['L_PANEL_HASH']; ?></label>
                                <?php echo $this->formRow($form->get('duplicate_certificate_panel_id')->setAttributes(array('class' => 'width-108 m-r-10'))); ?>
                                <?php echo $this->formRow($form->get('duplicate_certificate_search')); ?>
                            </div>
                        </div>
                    </div>
                    <div class="grid-section">
                        <div class="row" id="duplicate_certificate_search_data">                        
                            <div id="pcrud"></div>
                        </div>
                    </div><?php } ?>
            </div>
            </div>
        <?php } ?>
        <?php
        // if ($productResult['additional_product_2'] != 0 && $userWallOfHonorRecords != false) {
        if ($productResult['additional_product_2'] != 0) {
            ?>
            <div class="row">
                <div class="col1">
                    <?php
                    $form->get('bio_certificate_id')->setValue($productResult['additional_product_2']);
                    echo $this->formRow($form->get('bio_certificate_id'));
                    echo $this->formRow($form->get('is_bio_certificate'));
                    ?>
                    <label for='is_bio_certificate' style="padding-left:10px !important" class="check">
                    
                    <?php 
                    if($duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['is_membership_discount'] == 1) {
                        echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['product_name'] . " ($" . $this->CurrencyFormat($duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['product_sell_price']- $this->Roundamount(($duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['product_sell_price']*$discount)/100)) . " Each)"; 
                    }
                    else {
                        echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['product_name'] . " ($" . $duplicateRelatedPersonalizeArr[$productResult['additional_product_2']]['product_sell_price'] . " Each)"; 
                    }
                    ?></label>
                </div>
            </div>
            <div id="bio_certificate_div" style="display:none;">
                <div class="row">
                    <div class="col1">
                        <div class="row">
                            <label class="auto m-r-5"><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('bio_certificate_transaction_id')->setAttributes(array('class' => 'width-130'))); ?>
                            <label class="auto m-l-5 m-r-5"><?php echo $translator['L_PANEL_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('bio_certificate_panel_id')->setAttributes(array('class' => 'width-108 m-r-10'))); ?>
                            <?php echo $this->formRow($form->get('bio_certificate_search')); ?>
                        </div>                    
                    </div>
                </div>

                <div class="row" id="bio_certificate_search_data"></div>
            </div>
            <?php
        }

        // if ($productResult['additional_product_3'] != 0 && $userWallOfHonorRecords != false) {
        if ($productResult['additional_product_3'] != 0) {
            ?>
            <div class="row">
                <div class="col1">
                    <?php
                    $form->get('personalize_panel_id')->setValue($productResult['additional_product_3']);
                    echo $this->formRow($form->get('personalize_panel_id'));
                    echo $this->formRow($form->get('is_personalize_panel'));
                    ?>
                    <label for='is_personalize_panel' style="padding-left:10px !important" class="check">
                    
                    <?php 
                    if($duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['is_membership_discount'] == 1) {
                        echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['product_name'] . " ($" . $this->CurrencyFormat($duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['product_sell_price'] - $this->Roundamount(($duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['product_sell_price']*$discount)/100)) . " Each)"; 
                    }
                    else {
                        echo $duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['product_name'] . " ($" . $duplicateRelatedPersonalizeArr[$productResult['additional_product_3']]['product_sell_price'] . " Each)"; 
                    }
                    
                    
                    ?>
                    
                    </label>
                </div>
            </div>


            <div id="personalized_panel_div" style="display:none;">
                <div class="row">
                    <div class="col1">
                        <div class="row">
                           <label class=""><?php echo $translator['L_HONOREE_NAME_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('personalize_panel_honoree_name')->setAttributes(array('class' => 'width-130'))); ?>
                            
							<label class=""><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('personalize_panel_transaction_id')->setAttributes(array('class' => 'width-130'))); ?>
							 </div>
							 <div class="row">
                            <label class=""><?php echo $translator['L_PANEL_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('personalize_panel_panel_id')->setAttributes(array('class' => 'width-130'))); ?>
                            <?php echo $this->formRow($form->get('personalize_panel_search')); ?>
                        </div>
                    </div>
                </div>
                <div class="row" id="personalize_search_data"></div>
            </div>
        </div>
    <?php } ?>
    <?php
    if ($productResult['additional_product_2'] != 0 || $productResult['additional_product_3'] != 0) {
        ?>
        <div class="row">
            <div class="col1">
                <?php echo $this->formRow($form->get('otherproductaddtocart')); ?>
            </div>
        </div>
    <?php } ?>
