<?php
/**
 * This file is used for get credit card payment detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(function(){
        if(parent.$("#balanceAmount").text()){
        var balanceAmount=parent.$("#balanceAmount").text();
        $("#exist_amount").val(balanceAmount);
        $("#amount").val(balanceAmount);
		}
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.transaction.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.creditCardValidator.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>


<?php
$form = $this->paymentModeCredit;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('pledge_transaction_id'));
echo $this->formRow($form->get('user_id'));
?>
<input type="hidden" name="credit_card_type" id="credit_card_type" value="">
<div style="background:#f5f4f4; width:100%; float:left;">
    <div class="setting-popup" >
        <div class="create-contacts">
            <div class="detail-section11">
                <div class="common-form">
                    <h3><?php echo $translator['PAYMENT_BY_CREDIT_CARD']; ?></h3>
                    <div id="credit_card_error" style="display:none" class="payment_error"></div>
                    <div class="row pay-label">

					<?php echo $this->formRow($form->get('new_old_card')); ?>

                    </div>
                    <div id="old_card_info" style="display:none;">
                        <div class="row payment-label-large">
                            <div class="col6"><label>Credit Card Number <span class="red">*</span></label></div>
                            <span class="view-text"><?php echo $this->formRow($form->get('existing_profile_id')); ?></span>
                        </div>
                        <div class="row payment-label-large">
                            <div class="col6"><label>Amount <span class="red">*</span><div class="right"><?php echo $translator['CURRENCY_SYMBOL']; ?></div></label></div>
                            <span class="view-text left"></span><?php echo $this->formRow($form->get('exist_amount')); ?>
                        </div>
                        <div class="row full">
						<div class="col6"><label>&nbsp;</label></div>
						<?php echo $this->formRow($form->get('exist_payment')); ?>
                            <?php echo $this->formRow($form->get('exist_cancel')); ?>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <div id="new_card_info" style="display:none;">
                        <div class="row">
                            <div class="col1">
							<?php echo $this->formRow($form->get('is_exist_billing')); ?>
                                <label for="is_exist_billing" class="check"><?php echo $translator['EXISTING_BILLING_ADDRESS']; ?></label>
                            </div>
                            <div class="col1 right">
							<?php echo $this->formRow($form->get('is_save_profile')); ?>
                                <label for="is_save_profile" class="check"><?php echo $translator['SAVE_CREDIT_CARD_TOKEN_ON_FILE']; ?></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col1 left-p-none">
                                <label><?php echo $translator['CARD_HOLDER_NAME']; ?> <span class="red">*</span></label>
							<?php echo $this->formRow($form->get('card_holder_name')); ?>
                            </div>
                            <div class="col1 right left-p-none">
                                <label><?php echo $translator['CARD_CARD_NUMBER']; ?> <span class="red">*</span></label>
							<?php echo $this->formRow($form->get('card_number')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col1 left-p-none expiry-date">
                                <label><?php echo $translator['EXPIRY_DATE']; ?> <span class="red">*</span></label>
                                <div class="full"><span class="mm">mm</span> <?php echo $this->formRow($form->get('expiry_month')); ?> </div>
                                <div class="full relative"><span class="mm">yy</span><?php echo $this->formRow($form->get('expiry_year')); ?> </div>
                            </div>
                            <div class="col1 right left-p-none">
                                <label><?php echo $translator['CVV'];  
                                //<span class="red">*</span></label>
                                ?>
							<?php echo $this->formRow($form->get('cvv_number')); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="left-p-none relative">
                                <label><?php echo $translator['L_AMOUNT_SIMPLE']; ?> <span class="red">*</span></label>
                                <span class="left  m-t-8 m-r-5"><?php echo $translator['CURRENCY_SYMBOL']; ?></span><?php echo $this->formRow($form->get('amount')); ?>
                            </div>
                        </div>
                        <div id="billing_address_info">
                            <div class="row">
                                <h3><?php echo $translator['BILLING_ADDRESS']; ?></h3>
                            </div>
                            <div class="row">
                                <div class="col1 left-p-none">
                                    <label><?php echo $translator['ADDRESS_1']; ?> <span class="red">*</span></label>
								<?php echo $this->formRow($form->get('billing_address_1')); ?>
                                </div>
                                <div class="col1 right left-p-none">
                                    <label><?php echo $translator['ADDRESS_2']; ?></label>
								<?php echo $this->formRow($form->get('billing_address_2')); ?>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col1 left-p-none">
                                    <label><?php echo $translator['L_CITY']; ?> <span class="red">*</span></label>
								<?php echo $this->formRow($form->get('billing_city_auth')); ?>
                                </div>
                                <div class="col1 right left-p-none">
                                    <label><?php echo $translator['L_STATE']; ?></label>
                                    <div id="state_text_block" style="display:none;">
                                            <?php echo $this->formRow($form->get('billing_state_auth')); ?>
                                    </div>
                                    <div id="state_select_block">
                                             <?php echo $this->formRow($form->get('billing_state_auth_select')); ?>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col1 left-p-none">
                                    <label><?php echo $translator['L_POSTAL_CODE']; ?> <span class="red">*</span></label>
								<?php echo $this->formRow($form->get('billing_zip_code_auth')); ?>
                                </div>
                                <div class="col1 right left-p-none">
                                    <label><?php echo $translator['L_COUNTRY']; ?> <span class="red">*</span></label>
								<?php echo $this->formRow($form->get('billing_country_auth')); ?>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col8">
							<?php echo $this->formRow($form->get('payment')); ?>
                                <span class="m-l-10 left">
							<?php echo $this->formRow($form->get('cancel')); ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>


