<?php
/**
 * This file is used for get transaction listing
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/search.transaction.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
     <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2><?php echo $translator['L_TRANSACTION']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text">
Search Transactions by filling the following filters, or just do a blank search for the full Transaction list.If you do not find the transaction you seek, you can <a href="<?php echo $this->url('create-crm-transaction', array('action' => 'addCrmTransaction')); ?>">Create New Transaction</a>.
Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.
</p>

    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_TRANSACTIONS']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <span id="search-err-msg" style="display:none;" class="error-msg">Please enter at least one parameter.</span>
            <span id="search-err-msg_need_two" style="display:none;" class="error-msg">Please enter one more parameter.</span>
            <div class="common-form ">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FIRST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_LAST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('last_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_COMPANY_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('company_name')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_EMAIL']; ?></label>
                        <?php echo $this->formRow($form->get('email')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_BATCH_ID']; ?></label>
                        <?php echo $this->formRow($form->get('batch_id')); ?>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_OMX']; ?></label>
                        <div class="custom-checkbox"><?php echo $this->formRow($form->get('omx_id')); ?></div>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_TRANSACTION_SOURCE']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_source_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TRANSACTION_DATE']; ?></label>
                        <?php echo $this->formRow($form->get('received_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label><?php echo $translator['L_FROM']; ?>:</label>
                        <?php echo $this->formRow($form->get('received_date_from')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('received_date_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ITEM_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('item_status')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_TRANSACTION_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_status_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCT_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('product_type_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PAYMENT_MODE']; ?></label>
                        <?php echo $this->formRow($form->get('payment_mode_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PRODUCTS']; ?></label>
                        <?php echo $this->formRow($form->get('product_ids')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_AMOUNT']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_amount_from')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_amount_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CAMPAIGN']; ?></label>
                        <?php echo $this->formRow($form->get('campaign_title')); ?>
                        <?php echo $this->formRow($form->get('campaign_title_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_SHIPPING']; ?></label>
                        <?php echo $this->formRow($form->get('shipping_id')); ?>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('type')); ?>                        
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PRODUCT_CATEGORY']; ?></label>
                        <?php echo $this->formRow($form->get('product_category')); ?>
                    </div>
                </div>
                
                <div class="row">
					<div class="col1">
                        <label><?php echo $translator['L_INVOICE_NUMBER']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_invoice_number')); ?>
                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <div class="custom-checkbox"><?php echo $this->formRow($form->get('pick_up')); ?><label for="pick_up" class="check"><?php echo $translator['L_PICK_UP']; ?></label></div>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchtransactionbutton')); ?>
                    </div>
                </div>
            </div>
        <?php echo $this->form()->closeTag(); ?>
                        <div class="detail-section1 common-form search-row-2">
                            <div class="left">
                                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
                    </div>

                    <div class="right col1" style="width:auto">
                <?php
                        $save_search_form = $this->search_form;
                        $save_search_form->prepare();
                        echo $this->form()->openTag($save_search_form);
                ?>
                        <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <?php //echo $this->formRow($save_search_form->get('deletebutton'));  ?>
                        <a href="#delete_transaction_saved_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                        <label id="search_msg" class="error" style="display:none;"></label>
                <?php
                        echo $this->form()->closeTag();
                ?>
                    </div>
                </div>

            </div>
        </div>
        <div class="grid-section">
            <div class="search-results" style="display:none;">
                <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
                <p>Below are the records that match the search criteria you entered.</p>
            </div>
            <div style="margin-bottom:10px;">&nbsp;</div>
            <div class="grid-box" id="gview_list">
                <table id="list_transaction"></table>
                <div id="listtransactionrud"></div>
            </div>
        </div>


        <div style='display:none'>
            <div id='delete_transaction_content' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_TRANSACTION_ALERT']; ?></h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete_transaction" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete_transaction" class="green-btn">
                </div>
            </div>
        </div>

        <div style='display:none'>
            <div id='delete_transaction_saved_search' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
