<?php
/**
 * This file is used for get flag of faces add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart.js?v=' . $this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->flagOfFacesForm;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="common-form">

    <div>
        <label class="auto m-b-15">
            The following setting dictate if your information will appear on Ellis Island/Web Flag of Faces when displaying the photo. The information will be still searchable.
        </label>
        <div class="row">
            <label>&nbsp;</label>

            <?php echo $this->formRow($form->get('crop_fof_image_status')); ?>
            <?php echo $this->formRow($form->get('upload_photo')); ?>
            <?php echo $this->formRow($form->get('image_name')); ?>
            <?php echo $this->formRow($form->get('fof_image')); ?>
            <?php echo $this->formRow($form->get('temp_image')); ?>
            <span class="float-left m-l-10"  id="filemessage"></span>
        </div>
        <div class="row" id="DivUploadedPhoto" style="display:none;">

<iframe id="UploadUserFofImageIframe"  class="float-left" src="/upload-user-fof-image-iframe" style="min-height: 590px; min-width: 650px; float:left;" class="sumit">

</iframe>
<div class="previw-detail-box">
    <span class="previw-text">Preview</span>
    <div class="scroll" style="height: 570px; width: 550px;">
      <div id="ajx_loader_preview_fof" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image_preview_fof"/></div>    
      <iframe id="previewFOF1" src="/upload-user-fof-image-iframe-preview" scrolling="no" width="550" height="550" style="float:left; "></iframe>
    </div>
</div>

            
		
			
			
			
            
        </div>
        <div class="row">

            <label><?php echo $translator['L_DONATED_BY']; ?><span class="red">*</span></label>
            <?php echo $this->formRow($form->get('donated_by')); ?>


        </div>
        <div class="row no-padd">

            <label><?php echo $translator['L_PEOPLE_IN_PHOTO']; ?><span class="red">*</span></label>
            <?php echo $this->formRow($form->get('people_photo')); ?>
             <p id="peoplePhotoBox"></p>
        </div>
        <div class="row">
            <label>&nbsp;</label>
            <?php echo $this->formRow($form->get('is_people_photo_visible')); ?>

        </div>
        <div class="row  no-padd">

            <label><?php echo $translator['L_PHOTO_CAPTION']; ?><span class="red">*</span></label>
            <?php echo $this->formRow($form->get('photo_caption')); ?>

            <div class="row">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('is_photo_caption_visible')); ?>

            </div>

        </div>
        <div class="row">

            <label>Each ($ <?php 
            if($productResult[0]['is_membership_discount'] == 1) {
                echo (isset($productResult[0]['product_sell_price']) && $productResult[0]['product_sell_price'] != '') ? $this->CurrencyFormat($productResult[0]['product_sell_price']-$this->Roundamount(($productResult[0]['product_sell_price']*$discount)/100)) : 0; 
            }
            else {
            echo (isset($productResult[0]['product_sell_price']) && $productResult[0]['product_sell_price'] != '') ? $productResult[0]['product_sell_price'] : 0; 
            }
            
            ?>)</label>
            <?php echo $this->formRow($form->get('fofaddtocart')); ?>
            <?php echo $this->formRow($form->get('fofcancel')); ?>

        </div>
    </div>

    <?php echo $this->form()->closeTag(); ?>
       
