<?php
/**
 * This file is used for get crm cart products on reload
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
?>
<?php
$form = $this->createTransactionForm;
$form->prepare();
?>
<thead>
    <tr>
        <th><?php echo $translator['L_PRODUCT']; ?></th>
        <th><?php echo $translator['L_QTY']; ?></th>
        <th><?php echo $translator['L_PRICE']; ?></th>
        <th><?php echo $translator['L_SUBTOTAL']; ?></th>
        <th><?php echo $translator['L_DISCOUNT']; ?></th>
        <th><?php echo $translator['L_TAX']; ?></th>
        <th><?php echo $translator['L_SHIPPING']; ?></th>
        <th><?php echo $translator['L_TOTAL']; ?></th>
        <th><?php echo $translator['L_ACTION']; ?></th>
    </tr>
</thead>
<tbody>
    <?php
    $isAnyNotPickupField = 0;
    $totalProducts = count($cartProducts);
    $shipCompleteStatus = 0;
    $applicablePromotionIds = array();
    if (!empty($cartProducts)) {
        $totalSubtotal = 0;
        $totalDiscount = 0;
        $totalAmountProduct = 0;
        $taxableAmount = 0;
        $shippingAmount = 0;
        $totalCashAmount = 0;
        $totalCheckAmount = 0;
        $totalCreditAmount = 0;
        $totalSurchargePrice = 0;
        $totalShippingHandlingPrice = 0;
        $shippableProductsAmount = 0;
        $isCustomProductAdded = '';

        foreach ($cartProducts as $cartProduct) {
            if ($cartProduct['category_id'] == 2) { // custom frame category
                $isCustomProductAdded = 'yes';
            }

            $productLabel = '';
            //if ($cartProduct['product_type_id'] == '2' || $cartProduct['product_type_id'] == '3' || $cartProduct['product_mapping_id'] == '5' || $cartProduct['product_type_id'] == '4') {
            if ($cartProduct['is_shippable'] != '1' || $cartProduct['shipping_cost'] == '0') {
                $shipCompleteStatus++;
            } else {
                $shippableProductsAmount+= ( $cartProduct['product_subtotal'] - $cartProduct['membership_discount']);
            }
            if (!empty($getAllValidPromotionDetail)) {
                foreach ($getAllValidPromotionDetail as $promDet) {
                    $usersArr = array();
                    $productsArr = array();
                    $userUsedPromotionArr = array();
                    if ($promDet['promotion_user_ids'] != '') {
                        $usersArr = explode(',', $promDet['promotion_user_ids']);
                    }

                    if ($promDet['promotion_product_ids'] != '') {
                        $productsArr = explode(',', $promDet['promotion_product_ids']);
                    }
                    if ($promDet['promotion_used_user_ids'] != '') {
                        $userUsedPromotionArr = explode(',', $promDet['promotion_used_user_ids']);
                    }
                    if (($promDet['applicable_id'] == 1 || in_array($cartProduct['user_id'], $usersArr)) && ($promDet['product_type'] == 1 || in_array($cartProduct['product_id'], $productsArr)) && $cartProduct['is_promotional'] == '1' && !in_array($promDet['promotion_id'], $applicablePromotionIds) && !in_array($cartProduct['user_id'], $userUsedPromotionArr)) {
                        $applicablePromotionIds[] = $promDet['promotion_id'];
                    }
                }
            }
            $productQty = $cartProduct['product_qty'];
            $membershipDiscount = $cartProduct['membership_discount'];
            $productPrice = $this->Roundamount(($cartProduct['product_amount'] - ($membershipDiscount / $productQty)));
            $productSubtotal = $this->Roundamount(($cartProduct['product_subtotal'] - $membershipDiscount));
            $productDiscount = $this->Roundamount($cartProduct['product_discount']);
            $productTaxableAmount = $this->Roundamount($cartProduct['product_taxable_amount']);
            $taxableAmount = $taxableAmount + $cartProduct['product_taxable_amount'];
            $productSurchargePrice = !empty($cartProduct['surcharge_price']) ? $cartProduct['surcharge_price'] : 0;
            $productShippingHandlingPrice = !empty($cartProduct['shipping_handling_price']) ? $cartProduct['shipping_handling_price'] : 0;
            $productShippingAmount = !empty($cartProduct['shipping_price']) ? $this->Roundamount($cartProduct['shipping_price']-$cartProduct['shipping_discount_in_amount']) : 0;
            $productShippingAmount = $productShippingAmount + $productSurchargePrice + $productShippingHandlingPrice;
            $shippingAmount+=$productShippingAmount;
            $totalSurchargePrice+=$productSurchargePrice;
            $totalShippingHandlingPrice+=$productShippingHandlingPrice;
            $productTotal = ($productTaxableAmount + $productSubtotal + $productShippingAmount) - ($productDiscount);
            $productTypeId = !empty($cartProduct['product_type_id']) ? $cartProduct['product_type_id'] : 0;
            $action = '<a href="#deleteCartProductBlock" class="delete_cart_product link" onClick="deleteProductToCart(' . $cartProduct['cart_id'] . ',' . $productTypeId . ',' . $cartProduct['product_mapping_id'] . ',\'' . $cartProduct['type_of_product'] . '\')">Remove</a>';
            $totalSubtotal+= $productSubtotal;
            $totalDiscount+= ( $productDiscount);
            $totalAmountProduct+=$productTotal;
            $fofImage = '';
            if ($cartProduct['product_type_id'] == 1) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == 2) {
                $productLabel = $cartProduct['product_type'];
            } else if ($cartProduct['product_type_id'] == 3) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == 4) {
                $productLabel = $cartProduct['product_name'];
                $fofImage = '<a href="javascript:void(0);" onclick="viewFlagOfFacesCart(' . $cartProduct['cart_id'] . ')" class="link">View Photo</a>';
            } else if ($cartProduct['product_mapping_id'] == 6) {
                if ($cartProduct['item_type'] == '1') {
                    $productLabel = '<div class="row"><label>' . $cartProduct['product_name'] . '</label></div><div class="row">  <label>Size: ' . $cartProduct['product_option_name'] . '</label></div><div class="row"><label>Passenger Name: </label> <label>' . $cartProduct['item_name'] . '</label></div>
												<div class="row"><label>Passenger ID: </label> <label>' . $cartProduct['item_id'] . '</label></div>';
                } else if ($cartProduct['item_type'] == '3') {
                    $itemName = '';
                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                        $itemName = $cartProduct['item_name'];
                    else
                        $itemName = $cartProduct['ship_name'];

                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                        $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                    else
                        $arrivalDate = 'N/A';
                    $productLabel = '<div class="row"><label>' . $cartProduct['product_name'] . '</label></div><div class="row">  <label>Size: ' . $cartProduct['product_option_name'] . '</label></div>
											   <div class="row"> <label>Ship Name: </label> <label>' . $itemName . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                } else if ($cartProduct['item_type'] == '2') {
                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                        $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                    else
                        $arrivalDate = 'N/A';

							$productName = $cartProduct['product_name'];
                                if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                    $productName.= ' : ' . $cartProduct['manifest_info'];						
						
						
                    if (!empty($cartProduct['ship_name'])) {
                        $productLabel = '<div class="row"><label>' . $productName . '</label></div><div class="row"><label>Ship Name: </label> <label>' . $cartProduct['ship_name'] . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                        if (isset($cartProduct['ref_page_line_nbr']) and trim($cartProduct['ref_page_line_nbr']) != "") {
                            $productLabel .= '<div class="row"><label>Ref Line No.: </label> <label>' . $cartProduct['ref_page_line_nbr'] . '</label></div>';
                        }
                    } elseif (!empty($cartProduct['item_name'])) {
                        $productLabel = '<div class="row"><label>' . $productName . '</label></div><div class="row"><label>Passenger Name: </label> <label>' . $cartProduct['item_name'] . '</label></div><div class="row"> <label>Arrival Date: </label> <label>' . $arrivalDate . '</label></div>';
                        if (isset($cartProduct['ref_page_line_nbr']) and trim($cartProduct['ref_page_line_nbr']) != "") {
                            $productLabel .= '<div class="row"><label>Ref Line No.: </label> <label>' . $cartProduct['ref_page_line_nbr'] . '</label></div>';
                        }
                    }
                } else {
                    $productLabel = $cartProduct['product_name'];
                }
            } else if ($cartProduct['product_type_id'] == 6) {
                $productLabel = $cartProduct['product_name'] . "<br />" . $cartProduct['woh_name'];
            } else if ($cartProduct['product_type_id'] == 7) {
                $productLabel = $cartProduct['product_name'];
            } else if ($cartProduct['product_type_id'] == 8) {
                $productLabel = $cartProduct['product_name'];
            }
            if ($cartProduct['product_mapping_id'] == 5) {
                $productLabel = $cartProduct['product_name'];
            }
            if ($cartProduct['is_pickup'] != 1) {
                $isAnyNotPickupField = 1;
            }
            ?>
            <tr> 
                <td id="transaction-product-label"><?php echo $productLabel; ?>
                    <?php
                    if (!empty($fofImage)) {
                        echo '<br />' . $fofImage;
                    }
                    ?>
                </td>
                <td>
                    <?php
                    $type_of_product = "others";
                    if ($cartProduct['type_of_product'] == 'biocertificate' or $cartProduct['type_of_product'] == 'donation' or $cartProduct['type_of_product'] == 'woh' or $cartProduct['type_of_product'] == 'fof') {
                        $type_of_product = $cartProduct['type_of_product'];
                    } elseif ($cartProduct['type_of_product'] == 'inventory') {
                        $type_of_product = 'inventory';
                    }
                    if ($cartProduct['type_of_product'] != 'membership' and $cartProduct['type_of_product'] != 'donation' and $cartProduct['type_of_product'] != 'woh' and $cartProduct['type_of_product'] != 'fof') {
                        echo '<span class="rel-auto-error"><label id="product_error_' . $cartProduct['cart_id'] . '_' . $cartProduct['product_id'] . '_' . $type_of_product . '" class="error" style="display:none">Please enter a valid quantity</label>
                                <input id ="transaction_product_' . $cartProduct['cart_id'] . '_' . $cartProduct['product_id'] . '_' . $type_of_product . '_' . $productTypeId . '_' . $cartProduct['product_mapping_id'] . '" class="width-97" type="text" value="' . $productQty . '"></span>';
                    } else {
                        echo $productQty;
                    }
                    ?>
                </td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productPrice); ?></td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productSubtotal); ?></td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productDiscount); ?></td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productTaxableAmount); ?></td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productShippingAmount); ?></td>
                <td><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($productTotal); ?></td>
                <td><?php echo $action; ?></td>
            </tr>

            <?php
        }

        $isFreeShipping = ($isFreeShipping && ($freeShippingAmount <= $shippableProductsAmount || empty($freeShippingAmount))) ? $isFreeShipping : false;
        ?>
        <tr>
            <td class="bold">Total <?php echo count($cartProducts); ?> product(s)</td>
            <td>&nbsp;</td>
            <td class="bold">Subtotal</td>
            <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productSubTotal"><?php echo $this->Currencyformat($totalSubtotal); ?></span></td>
            <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productDiscountTotal"><?php echo $this->Currencyformat($totalDiscount); ?></span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><?php echo $translator['CURRENCY_SYMBOL'] . " "; ?><span id="productTotalAmount"><?php echo $this->Currencyformat($totalAmountProduct); ?></span></td>
            <td>&nbsp;</td>
        </tr>


    <?php } else {
        ?>
        <tr>
            <td colspan="9"><div class="no-record-found"><?php echo $translator['L_NO_PRODUCT_SELECTED']; ?></div></td>
        </tr>
    <?php } ?>
</tbody>
<?php
$isFreeShipping = !empty($isFreeShipping) ? $isFreeShipping : '0';
$script = <<<EOD
var isAnyNotPickupField = $isAnyNotPickupField;
    var isFreeShipping = $isFreeShipping;
    var totalProducts = $totalProducts;
   var shipCompleteStatus = $shipCompleteStatus;	
    $(function(){
        if(isAnyNotPickupField==0)
        {
            $("#pick_up_block").show();
        }
        else
        {
            $("#pick_up_block").hide();
        }
        $("#totalProducts").val($totalProducts);
        $("#shipCompleteStatus").val($shipCompleteStatus);

if (totalProducts != shipCompleteStatus) {
    
            $("#ship_information_block").show();

    
} else {
    
            $("#ship_information_block").hide();
    
}
var balanceAmount=parent.$("#balanceAmount").text();
        $("#exist_amount").val(balanceAmount);
		$("#exist_amount").attr('class','readonly-text');
		$("#exist_amount").focus();
        $("#amount").val(balanceAmount);


    });
EOD;
echo $this->inlineScript()->prependScript($script);
?>
#################################
<?php if (!empty($cartProducts)) {
    ?>
    <div class="head no-img"><span><?php echo $translator['L_APPLY_COUPON']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="success-msg full" style="display:none;" id="apply_coupon_msg"></div>
                <div class="col1 left-p-none"><?php echo $this->formRow($form->get('coupon_code')); ?><?php echo $this->formRow($form->get('promotion_id')); ?><input type="hidden" name="is_promotion_applied" id="is_promotion_applied" value=""></div>
                <div class="col1 right"><?php echo $this->formRow($form->get('coupon_apply')); ?></div>
            </div>
        </div>
    </div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="success-msg full" style="display:none;" id="apply_coupon_msg"></div>
                <div class="col1 left-p-none"><?php echo $this->formRow($form->get('campaign_code')); ?><?php echo $this->formRow($form->get('campaign_code_id')); ?></div>
                <div class="col1 right"><?php // echo $this->formRow($form->get('campaign_apply')); ?></div>
            </div>
        </div>
    </div>
<?php } ?>

#################################

<?php
//if (!empty($cartProducts) && $isPickUp == '0' && !$isFreeShipping) {
if (!empty($cartProducts) && $isPickUp == '0' && $totalProducts != $shipCompleteStatus) {
    ?>
    <div class="head no-img"><span><?php echo $translator['L_SHIPPING_INFO']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row shipping-check1 no-padd">
                <div class="shipping-information-row">
                    <label><?php echo $translator['L_SHIPPING_METHOD']; ?> <span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('shipping_method')); ?>&nbsp;
                    
                    <div class="relative">
                    <?php echo $this->formRow($form->get('custom_shipping')); ?>
                        <label for="custom_shipping" id="custom_shipping_error" generated="true" class="error" style="display:none;">Please enter valid shipping.</label>
                    </div>    
                    <!--<label><input type="radio" name="shipping_method" value="custom" onClick="showCustomField();">Custom Shipping&nbsp;&nbsp;</label>-->
				    <!--<input type="text" name="custom_shipping" id="custom_shipping" value="" onBlur="refreshCartData()" style="display:none;">-->                
                </div>
            </div>
        </div>
    </div>
<?php } ?>
#################################

<?php if (!empty($cartProducts)) {
    ?>
    <div class="detail-section">
        <div class="common-form">
            <div class="row">
                <div class="col13"><label><?php echo $translator['L_SUB_TOTAL']; ?> :</label></div>
                <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($totalSubtotal - $totalDiscount); ?></label></div>
            </div>
            <div class="row">
                <div class="col13"><label><?php echo $translator['L_TAXABLE_AMOUNT']; ?> :</label></div>
                <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($taxableAmount); ?></label></div>
            </div>
            <div class="row">
                <div class="col13"><label><?php echo $translator['L_SHIPPING_AMOUNT']; ?> :</label></div>
                <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($shippingAmount); ?></label></div>
            </div>
            <div class="row">
                <div class="col13"><label><?php echo $translator['L_TRANSACTION_TOTAL']; ?> :</label></div>
                <div class="col13"><label><?php echo $translator['CURRENCY_SYMBOL'] . " " . $this->Currencyformat($totalAmountProduct); ?></label></div>
            </div>
            <div class="row">
                <div class="col13"><?php echo $this->formRow($form->get('is_email_confirmation')); ?>
                    <label for='is_email_confirmation' class="check"><?php echo $translator['L_EMAIL_TRANSACTION_CONFIRMATION']; ?></label>
                </div>
            </div>
        </div>
    </div>
<?php } else {
    ?>
    <div class="detail-section">
        <div class="common-form">
            <p class="no-record-found"><?php echo $translator['L_NO_TRANSACTION_PLACED']; ?></p>
        </div>
    </div>
<?php } ?>
#################################
<?php if (!empty($cartProducts)) {
    ?>
    <div class="detail-section">
        <div class="common-form">
            <div class="row">
                <div class="col1 rel-auto-error"><?php echo $this->formRow($form->get('payment_mode_cash')); ?>
                    <label for='payment_mode_cash' class="check"><?php echo $translator['L_CASH']; ?></label></div>

                <div class="full">
                    <div id="cashAmountDiv" style="display:none"> 
                        <div class="col1">
                            <label><?php echo $translator['L_AMOUNT']; ?></label>
                            <?php echo $this->formRow($form->get('payment_mode_cash_amount')); ?>
                        </div>
                        <div class="col1 right">
                            <div class="common-form">
                                <div class="row">
                                    <div class="left">
                                        <label>Batch Id</label>
                                        <?php echo $this->formRow($form->get('cash_batch_id')); ?>
                                        <?php echo $this->formRow($form->get('payment_cash_batch_id')); ?> 
                                        <label class="right auto m-l-20">OR </label>
                                    </div>
                                    <div class="full m-t-5">
                                        <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt(cash_batch_id); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                    </div>                                                
                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col13"><?php echo $this->formRow($form->get('payment_mode_chk')); ?>
                    <label for='payment_mode_chk' class="check"><?php echo $translator['L_CHECK']; ?></label></div>
            </div>
            <div id="checkAmountDiv"  style="display:none;">
                <div id="payment_mode_check_block_1">

                    <div class="row">
                        <div class="col1">
                            <label> <?php echo $translator['L_AMOUNT']; ?></label>
                            <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_amount[]')); ?>
                        </div>

                        <div class="col1 right">
                            <label><?php echo $translator['L_CHECK_TYPE']; ?> </label>
                            <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_type[]')); ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col13">
                            <label><?php echo $translator['L_CHECK_NO']; ?> </label>
                            <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_num[]')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_ID_TYPE']; ?> </label>
                            <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_id_type[]')); ?>
                        </div> </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_ID_HASH']; ?> </label>
                            <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_mode_chk_id[]')); ?>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col1">

                            <div class="common-form">
                                <div class="row">
                                    <div class="left">
                                        <label>Batch Id</label>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('check_batch_id[]')); ?>
                                        <?php echo $this->formRow($form->get('payment_mode_check')->get('payment_check_batch_id[]')); ?> 
                                        <label class="right auto m-l-20">OR </label>
                                    </div>
                                    <div class="full m-t-5">
                                        <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->encrypt(check_batch_id_1); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                    </div>                                                
                                </div>

                            </div>

                        </div>
                        <div class="col1 right">
                            <label>&nbsp;</label>
                            <a id="addMoreCheck" onclick="addNewCheckBlock(this)" href="javascript:void(0);" class="plus m-l-5"></a>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="row">
            <div class="col1">
                <?php echo $this->formRow($form->get('payment_mode_credit')); ?>
                <label for='payment_mode_credit' class="check"><?php echo $translator['L_CREDIT_CARD']; ?></label>
            </div>
            <div class="col1 right" id="credit_card_block">

            </div>
        </div>
		<div class="row">
                            <div class="col1 rel-auto-error"><?php echo $this->formRow($form->get('payment_mode_invoice')); ?>
                                <label for='payment_mode_invoice' class="check"><?php echo $translator['L_INVOICE']; ?></label></div>
						<?php echo $this->formRow($form->get('amount_invoice_number')); ?>
                            <div class="full">
                                <div id="invoice_number_div" style="display:none"> 
                                    <div class="col1">
                                        <label><?php echo $translator['L_INVOICE_NUMBER']; ?></label>
                                        <?php echo $this->formRow($form->get('invoice_number')); ?>
                                    </div>
                                    <div class="col1 right">
                                        <div class="common-form">
                                            <div class="row">
                                                <div class="left">
                                                    <label>Batch Id</label>
                                                    <?php echo $this->formRow($form->get('invoice_batch_id')); ?>
                                                    <?php echo $this->formRow($form->get('payment_invoice_batch_id')); ?> 
                                                    <label class="right auto m-l-20">OR </label>
                                                </div>
                                                <div class="full m-t-5">
                                                    <label class="m-l-144 no-padd auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt(invoice_batch_id); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                                                </div>                                                
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                        </div>
		</div>
        <div class="row">
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_CASH']; ?></label>
                    <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                        <span id="totalCashAmount"><?php echo $this->Currencyformat($totalCashAmount); ?></span></label>

                </div>
                <div class="col1 right">
                    <label> <?php echo $translator['L_CHECK']; ?></label>
                    <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                        <span id="totalCheckAmount"><?php echo $this->Currencyformat($totalCheckAmount); ?></span></label>
                </div>
            </div>

            <div class="row">
                <div class="col1">
                    <label> <?php echo $translator['L_CREDIT_CARD']; ?></label>
                    <label> <?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                        <span id="totalCreditAmount"><?php echo $this->Currencyformat($totalCreditAmount); ?></span></label>

                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_BALANCE']; ?></label>
                    <label><?php echo $translator['CURRENCY_SYMBOL'] . ' '; ?>
                        <span id="balanceAmount"><?php echo $this->Currencyformat($totalAmountProduct); ?></span></label>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label> <?php echo $translator['L_TOTAL']; ?></label>
                    <label><?php echo $translator['CURRENCY_SYMBOL']; ?>
                        <span id="totalAmount"><?php echo $this->Currencyformat($totalAmountProduct); ?></span></label>

                </div>

            </div>
        </div>
    <?php } else {
        ?>
        <div class="detail-section">
            <div class="common-form">
                <p class="no-record-found"><?php echo $translator['L_NO_PAYMENT_INFORMATION']; ?></p>
            </div>
        </div>
    <?php } ?>
    #################################
    <?php if (!empty($applicablePromotionIds)) {
        ?>


        <div class="detail-section" style="padding-top:0px;">
            <div class="common-form">
                <div class="row no-padd"><div class="for-coupons-tooltip"><label><?php echo $translator['L_VALID_COUPONS']; ?></label>
                        <?php
                        foreach ($getAllValidPromotionDetail as $promDet) {

                            if (in_array($promDet['promotion_id'], $applicablePromotionIds)) {
                                ?>



                                <label class="coupons-tooltip"><a href="javascript:void(0);" class="link" onclick="chooseCoupon('<?php echo $promDet['coupon_code']; ?>',<?php echo $promDet['promotion_id']; ?>)"><?php echo $promDet['promotion_name']; ?>
                                    </a>
                                    <?php if (isset($promDet['promotion_description']) && !empty($promDet['promotion_description'])) {
                                        ?>
                                        <span class="tooltip">
                                            <small></small>
                                            <?php echo $promDet['promotion_description']; ?>
                                        </span>
                                    <?php } ?>
                                </label>

                                <?php
                            }
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

    <?php } ?>
    <script>
        var isCustomProductAdded = '<?php echo @$isCustomProductAdded ?>';
    </script>