<?php
/**
 * This view is used to view a shipment
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$transactionDetails = $this->searchDetails;
$productDetails = $this->searchResult;
?>

<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="print" rel="stylesheet" type="text/css">

<table cellpadding="0" cellspacing="0" border="0" id="print-transaction-inner" style="width:70%!important; margin:0 auto!important; float:none!important" >
<tr><td colspan="3" height="15"></td></tr>
<tr><td colspan="3"><a href="javascript:void(0);" onclick="window.print();"class="print right"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a> </td></tr>
<tr><td colspan="3" height="15"></td></tr>
<tr>
<td align="left" valign="top"><div class="t-box">
                    <div class="row no-padd"><img src="/barcode/<?php echo $transactionDetails['transaction_id']; ?>" alt="barcode" /> </div>
                </div></td>
<td>&nbsp;</td>
<td align="right" valign="top"><div class="t-box no-mar right"><label class="row no-padd" style="width:300px;">
                        <img width="123" height="54" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/pdf_logo.jpg"><br>
                        <div class="inner"><strong>The Statue of Liberty -<br>
                                Ellis Island Foundation, Inc.</strong>
                            <br><br>17 Battery Place<br>
                            New York, NY 10007<br>
                            Email: Contactus@EllisIsland.org<br>
                            Phone: 212-561-4588</label></div>
                </div></td>
</tr>
<tr><td colspan="3" height="25"></td></tr>

<tr>
<td valign="top" width="32%"><div class="t-box">
                    <div class="header">Bill To:</div>
                    <div class="inner">
                        <strong><?php echo $transactionDetails['shipping_first_name'] . " " . $transactionDetails['shipping_last_name']; ?></strong>
                        <label class="clear">
                            <?php echo $transactionDetails['shipping_address']; ?><br />
                            <?php echo $transactionDetails['shipping_city'] . ", " . $transactionDetails['shipping_state']; ?><br />
                            <?php echo $transactionDetails['shipping_country']; ?><br />
                            <?php echo $transactionDetails['shipping_postal_code']; ?>
                            <?php if (!empty($transactionDetails['shipping_phone_no'])) { ?>
                                <br />
                                <?php
                                echo 'Ph. : ' . $transactionDetails['shipping_phone_no'];
                            }
                            ?>
                        </label>

                    </div>
                </div></td>
<td valign="top"  width="32%"><div class="t-box">
                    <div class="header">Ship To:</div>
                    <div class="inner">
                        <strong><?php echo $transactionDetails['billing_first_name'] . " " . $transactionDetails['billing_last_name']; ?></strong>
                        <label class="clear">
                            <?php echo $transactionDetails['billing_address']; ?><br />
                            <?php echo $transactionDetails['billing_city'] . ", " . $transactionDetails['billing_state']; ?><br />
                            <?php echo $transactionDetails['billing_country']; ?><br />
                            <?php echo $transactionDetails['billing_postal_code']; ?>
                            <?php if (!empty($transactionDetails['billing_phone_no'])) { ?>
                                <br />
                                <?php
                                echo 'Ph. : ' . $transactionDetails['billing_phone_no'];
                            }
                            ?>
                        </label>

                    </div>
                </div></td>
<td valign="top"  width="32%"><div class="t-box no-mar transaction-details">
                    <div class="header">Transaction #&nbsp;: <span><?php echo $transactionDetails['transaction_id']; ?></span></div>
                    <div class="inner">
                        <div class="row"><strong>Pack Slip #:&nbsp; </strong><label><?php echo $productDetails[0]['shipment_id']; ?></label></div>
                        <div class="row"><strong>E-mail:</strong> <label class="auto">&nbsp; <?php
                            if (isset($transactionDetails['email_id']) && !empty($transactionDetails['email_id'])) {
                                echo $transactionDetails['email_id'];
                                ?> </label></div>
                            <div class="row"><img src="/barcode/<?php echo $transactionDetails['email_id']; ?>" alt="barcode" /> <?php } ?></div>
                        <div class="row"> <strong>Date:&nbsp; </strong><label><?php echo $productDetails[0]['shipment_date']; ?></label></div>
                        <div class="row"><strong>Ship Type:&nbsp; </strong><label><?php echo $transactionDetails['web_selection'] ?></label></div>

                    </div>
                </div></td>
</tr>
<tr><td colspan="3" height="25"></td></tr>
<tr><td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh transaction-shipment-table">
                    <tr>
                        <th>SKU</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>$</th>
                        <th>Qty</th>
                        <th>Total</th>
                    </tr>
                    <tr >

                        <?php
                        $sku = explode(',', $productDetails[0]['sku']);
                        $productName = explode(',', $productDetails[0]['product_name']);
                        $qty = explode(',', $productDetails[0]['qty']);
                        $pro_type = explode(",", $productDetails[0]['pro_type']);
                        $count = count($qty);
                        $total = 0;
                        for ($i = 0; $i < $count; $i++) {
                            if (isset($passengerResult[$i]) && !empty($passengerResult[$i])) {
                                ?>
                                <td align="center"><?php
                        if (isset($passengerResult[$i]['product_sku']) && !empty($passengerResult[$i]['product_sku'])) {
                            echo $passengerResult[$i]['product_sku'];
                        } else {
                            echo "N/A";
                        }
                                ?></td>
                                <td align="center">Ok</td>
                                <td align="left"><?php
                            switch ($pro_type[$i]) {
                                case '1':
                                    $zip = 1;
                                    echo "<div class='left'> <strong>Passenger Record : <label>" . $passengerResult[$i]['name'] . "</label></strong>";
                                    echo "<strong>Passenger Id : <label>" . $passengerResult[$i]['item_id'] . "</label></strong></div>";
                                    break;
                                case '2' :
                                    $manifestName = '';
                                    if (isset($passengerResult[$i]['manifest_info']) && !empty($passengerResult[$i]['manifest_info']))
                                        $manifestName.= ' : ' . $passengerResult[$i]['manifest_info'];
                                    echo "<div class='left'><strong>Manifest" . $manifestName . "</strong>";
                                    echo "<strong>Ref Line : <label>" . $passengerResult[$i]['REF_PAGE_LINE_NBR'] . "</label></strong>";
                                    echo "<strong>Passenger Name : <label>" . $passengerResult[$i]['name'] . "</label></strong></div>";
                                    break;
                                case '3':
                                    echo "<div class='left'><strong>" . $passengerResult[$i]['product_name'] . "</strong>";
                                    echo "<strong>Ship Id : <label>" . $passengerResult[$i]['SHIPID'] . "</label></strong>";
                                    echo "<strong>Ship Name : <label>" . $passengerResult[$i]['NAMEWHENBUILT'] . "</label></strong></div>";
                                    break;
                                case '4' :
                                    echo "<div class='left'><strong>" . $passengerResult[$i]['product_name'] . "</strong></div>";
                                    break;
                                case '5':
                                    echo "<div class='left'><strong>Membership</strong></div>";
                                    break;
                                case '6':
                                    echo "<div class='left'><strong>Kiosk Fee</strong></div>";
                                    break;
                                case '7':
                                    echo "<div class='left'><strong>".$passengerResult[$i]['product_name']."</strong></div>";
                                    break;
                                case '8':
                                    echo "<div class='left'><strong>Personal Panel</strong></div>";
                                    break;
                                case '9':
                                    echo "<div class='left'><strong>Bio Certificate</strong></div>";
                                    break;
                                case '10':
                                    $zip = 1;
                                    echo "<div class='left'><strong>" . $passengerResult[$i]['product_name'] . "</strong></div>";
                                    echo "<div class='left'>" . $passengerResult[$i]['attribute_option_name'] . "</div>";
                                    break;
                                case '11' :
                                    echo "<div class='left'><strong>Flag of Faces : <label>" . $passengerResult[$i]['donated_by'] . "</label></strong></div>";
                                    break;
                            }
                                ?></td>
                                <td align="center"><span class="total">$ <?php echo $this->CurrencyFormat($passengerResult[$i]['product_total'] / $qty[$i]); ?></span></td>
                                <td align="center"><?php echo $qty[$i]; ?></td>
                                <td align="center"><span class="total">$ <?php echo $this->CurrencyFormat($passengerResult[$i]['product_total']); ?></span></td>
                            </tr>
                            <?php
                            $total = $total + $passengerResult[$i]['product_total'];
                        }
                    }
                    ?>
                </table></td></tr>
<tr><td colspan="3" height="25"></td></tr>
<tr><td colspan="3"><div class="col1"><label>Purchase Total :</label><label>&nbsp;$ <?php echo $this->CurrencyFormat($total); ?></label></div></td></tr>
<tr><td colspan="3" height="25"></td></tr>
<tr><td colspan="3"><p>
                Please note, your purchase may come in separate packages and from different facilities
                Thank you for your continued support. Visit us again at www.EllisIsland.org
            </p></td></tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
</table>




