<style>
    .address-file label {line-height: 41px;}
    .ship-method-section label{width:300px}
</style>
<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

$script = <<<EOD
$( document ).ready(function() {
        window.location.hash = '#userAddress';
        
       // $('html, body').animate({ scrollTop: $(".outer-header").offset().top}, 2000);
        $("#items_tot_count").html('0');   
});
EOD;

echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart-front.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
						  
						  

		$userEmailId = $userEmailId;						  
		$isPickUp = $postdata['pick_up'];
		$creditCardExist = $postdata['credit_card_exist'];
		$cashPayment = $postdata['cash_payment'];
		$finalTotal = $finalTotal;
		
$auth = $this->getAuth();		
?>
<div id="orderreview">
    <div class="inner-header">
        <h1>CHECKOUT <span class="navigator"></span> Place Order</h1>
    </div>
    <div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
            <div class="container">
                <div class="checkOut-page">
                      <div class="tab-nav">
                        <ul>
                            <li class="first" ><a href="#"><span>01</span><small><?php echo $translator['SHIPPING_INFO']; ?></small></a></li>
                            <li class="second"><a href="#"><span>02</span><small><?php echo $translator['BILLING_INFO']; ?></small></a></li>
                            <li class="third"><a href="#"><span>03</span><small><?php echo $translator['ORDER_REVIEW']; ?></small></a></li>
                            <li class="fourth active"><a href="#"><span>04</span><small><?php echo $translator['SUBMIT_ORDER']; ?></small></a></li>
                        </ul>
                    </div>
                    <div class="submit-order-main"> 
                        <div class="block alpha check_success">
                            <h1>YOUR ORDER HAS BEEN PLACED SUCCESSFULLY! THANK YOU!</h1>
                        </div>
                        <div class="check_success">
                            <div class="block">
                                <div class="clearfix content">           
						<?php
							if(!empty($creditCardExist) && !empty($userEmailId) && $isPickUp == 0 && $cashPayment == 0) {
							?>
    
                                    <p>An email has been sent to your account.<br> 
									You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                                   
                               		
					<?php
					}
					?>
					
					<?php
					if(!empty($cashPayment) && !empty($userEmailId) && $isPickUp == 0 ) {
					?>

                                    <p> Please go to helpdesk and make a payment of you order. <br>Your order total is $<?php echo $finalTotal ?>. <br>An email has been sent to your account. <br>You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>.<br> Check transaction option under your profile to review the status of your order.
                                    </p>
                               			
					<?php
					}
					?>
					
					<?php
					if(!empty($creditCardExist) && empty($userEmailId) && $isPickUp == 0  && $cashPayment == 0) {
					?>

                                    <p>You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>.<br>Please use combination of your first name and last name as username and confirmation number to access your online account. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                               			
					<?php
					}
					?>					
										
					<?php
					if(!empty($cashPayment) && empty($userEmailId) && $isPickUp == 0) {
					?>

                                    <p>Please go to helpdesk and make a payment of you order. <br>Your order total is $<?php echo $finalTotal ?>. <br>You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Please use combination of your first name and last name as username and confirmation number to access your online account. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                               			
					<?php
					}
					?>
					
					<?php
					if(!empty($creditCardExist) && !empty($userEmailId) && $isPickUp == 1  && $cashPayment == 0) {
					?>

                                    <p>An order confirmation email has been sent to your account. <br>Please print your order manifest/ship and collect them from helpdesk. <br>Also, you can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                                			
					<?php
					}
					?>
					
					<?php
					if(!empty($cashPayment) && !empty($userEmailId) && $isPickUp == 1) {
					?>

                                    <p>An order confirmation email has been sent to your account. <br>Please print your order Ship Manifest/ship image. <br>Please see a cashier at the checkout desk to review your order and complete your purchase. <br>Your order total is $<?php echo $finalTotal ?>. <br>Also, you can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                               			
					<?php
					}
					?>																				

					<?php
					if(!empty($creditCardExist) && empty($userEmailId) && $isPickUp == 1  && $cashPayment == 0) {
					?>

                                    <p>Please print your order manifest/ship and collect them from helpdesk. <br>You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Please use combination of your first name and last name as username and confirmation number to access your online account. <br>Check transaction option under your profile to review the status of your order.
                                    </p>
                                			
					<?php
					}
					?>
					
					<?php
					if(!empty($cashPayment) && empty($userEmailId) && $isPickUp == 1) {
					?>

                                    <p>Please print your order Ship Manifest/ship image. <br>Please see a cashier at the checkout desk to review your order and complete your purchase. <br>Your order total is $<?php echo $finalTotal ?>. <br>You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Please use combination of your first name and last name as username and confirmation number to access your online account.<br> Check transaction option under your profile to review the status of your order.</p>
                                     
                                		
					<?php
					}
					?>
					
					<?php 
					if (!isset($auth->email_id) || $auth->email_id == '') {
						if(count($passengerSavedSearch) > 0) {
							?>
							<p><p>					
							<div style="width:100%; float:left; text-align:left; margin-top:35px;">
								 <strong>Saved Passenger Record</strong>&nbsp;<select id="saved_passenger_id" name="saved_passenger_id" style="width:200px;">
								 <?php
								    foreach($passengerSavedSearch as $key=>$val) {
								    ?>
								        <option value="<?php echo $val['passenger_id']?>"><?php echo trim($val['PRIN_FIRST_NAME'] .' '.$val['PRIN_LAST_NAME']) ?></option>   
								    <?php
								    }
								 ?>
								 </select>
								 <span id="Print_Pass">&nbsp;<a href="javascript:void(0);" class="button" onClick="print_passenger();">Print Passenger</a></span>
							</div>
							
							<?php
							}
					}
					?>
					
					
					 							
									


					<?php
					//if($isPickUp == 1 && !empty($creditCardExist) && $cashPayment == 0) {
					if($isPickUp == 1) {
					?>	
					<div style="width:100%; display:none; float:left; text-align:center; margin-top:35px;"><span id="Print_Pass_Order">&nbsp;<a href="javascript:void(0);" class="button" onClick="print_order('<?php echo $this->Encrypt($transactionId)?>','<?php echo $this->Encrypt($paymentMethod)?>');">Print My Order</a></span></div>		
						<!--<iframe src="/print-order-files/<?php //echo $this->Encrypt($transactionId);?>" height="0px;" id="print_order_frame"></iframe>-->
					<?php
					}
					?>
					</div>
                            </div>
                        </div>
                    					</div>	
                    					
                    					
                </div>
            </div>
        </div>
    </div>
</div>
<div id="print_Passenger_details">
</div>
<?php if($isPickUp == 1) { ?>
<script>
$(function(){
 setTimeout(function () {
		print_order('<?php echo $this->Encrypt($transactionId)?>','<?php echo $this->Encrypt($paymentMethod)?>');
	},1000);
});
</script>
<?php } ?>