<!doctype html>
<head>
<style type="text/css" media="print">
body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    
   @page {
        size: 17in 11in;
        margin: 0;
}

@page rotated { size : landscape }


</style>       
</head>
<body role="document" cz-shortcut-listen="true">
<div class="book">
		<table width="1632px" height="1056px" cellpadding="0" cellspacing="0">
									<tr><td width="1532px" height="1056px" style="padding-left: 50px; padding-right: 50px;"><?php echo $orderDetailsArr ?></td></tr>
						</table>	
	<?php
	if(!empty($manifestImage) && count($manifestImage)>0) {
			foreach($manifestImage as $key=>$val) {
				?>
				<table width="1632px" height="1053px" cellpadding="0" cellspacing="0">
						<tr><td width="1532px" height="953px" style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px;"><img src="<?php echo $upload_file_path['assets_url'].'manifest/'.substr($val,0,9).'/'.$val ?>" width="1532px" height="953px"></img></td></tr>
					</table>
				
		<?php
			}
		}
	?>			
		
<?php  
		if(count($shipImage)>0) { // ship Image
		
			 foreach($shipImage as $key=>$val) {
				$imageName = ucfirst(substr(substr(strrchr($val['image_name'], "/"), 1),0,-4));
                             
					?>
							<table width="1632px" height="1053px" align="center" cellpadding="0" cellspacing="0">
							<tr>
							<td style="padding-left: 50px; width:100%; padding-right: 50px; padding-bottom: 50px; padding-top: 30px;" align="center">
							<img style="max-height:770px" src="<?php echo $val['image_name']; ?>" align="top">
							</td>
							</tr>
							<tr>
							<td align="center" valign="top" style="font-size: 24px;padding-bottom:10px;" cellpadding="0" cellspacing="0"><strong><?php echo $imageName;?></strong></td>
						</tr>
						<tr>
							<td height="110px" align="center" valign="top" cellpadding="0" cellspacing="0" style="padding-bottom: 50px;">
							<img src="/kiosk-front-img/print-logo.png" width="225px" height="110px">
							</td>
						</tr>


							</table>
				<?php					

				}
		}
			?>
</div>	
</body>
</html>	
