<?php
/**
 * This view is used to update transaction batch Id
 * @package    Transaction
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.timepicker.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/batch/select.batch.js?v='.$this->layout()->getVariable('jsVersion'));

?>
<div class="create-contacts" style="width:90%;margin-left:20px !important">
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_BATCH_ID'] ?></span></div>
        <?php
        $form = $this->selectBatchFrm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col7">
                        <label><?php echo $translator['L_STATEMENT_DATE'] ?>: </label>
                        <?php echo $this->formRow($form->get('statement_date')); ?> 
                   </div>
                    <div class="col6">
                        <?php echo $this->formRow($form->get('search')); ?>
                    </div>
                </div>

            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        
        
    </div>
</div>

<div class="grid-section" style="width:90%;margin-left:20px !important">
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
</p>
</div>
</div>

<div style='display:none'>
    <div id='delete_product' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_PRODUCT_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_product" class="green-btn">
        </div>
    </div>
</div>