<?php
/**
 * This view is used to add more notify
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
 $form = $this->createTransactionForm;
?>


                        <?php echo $this->formRow($form->get('shipping_method')); ?>
<?php if($is_apo_po == 2) { ?>
<script>
$(document).ready(function(){
                $("#ship_method_id label:nth-child(1)").hide();
				$("#ship_method_id label:nth-child(2)").hide();
                /*$('#shipping_method').parent().next().find('input:radio').attr('checked', true);
				$('#shipping_method').parent().next().find('input:radio').click();*/
				$("#ship_method_id label:nth-child(3)").find('input:radio').attr('checked', true);
				$("#ship_method_id label:nth-child(3)").find('input:radio').click();	
});	
</script>
<?php }else{ ?>
<script>
$(document).ready(function(){
                /*$("#shipping_method").attr('checked', true);
                $('#shipping_method').click();*/

                $("#ship_method_id label:nth-child(2)").hide();
				$("#ship_method_id label:nth-child(3)").hide();
				$("#ship_method_id label:nth-child(1)").find('input:radio').attr('checked', true);
				$("#ship_method_id label:nth-child(1)").find('input:radio').click();
});	
</script>
<?php } ?>                        

