<?php
/**
 * This view is used to show illustrated ship image
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
//asd($result);
?>
<div class="outer-wrapper">
<div class="pop-container">   
<h3>View Product Image</h3>
<div class="common-form" style="text-align: center;">
<img src="<?php echo $imagePath .  trim($result['default_product_image']) ?>" alt="">
</div>
</div>
</div>