<?php
/**
 * This view is used to show ship image
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
?>
<div class="outer-wrapper">
<div class="pop-container">   
<h3>View Ship Photo</h3>
<div class="common-form">
<div class="image-box">
<img src="<?php echo $this->shipImage; ?>">
</div>
</div>
</div>
</div>