<?php
/**
 * This view is used to view a shipment
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$transactionDetails = $this->searchResult;
$transactionProduct = $this->searchProduct;
?>
<style>
    .outer-wrapper{width:600px; float:none; margin:auto}
</style>
<style type="text/css" media="print">

    @media print { 
        .page-break{ 
            position: static; 
            page-break-after: auto;
            page-break-inside: avoid;
        } 
    }       
</style>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="print" rel="stylesheet" type="text/css">
<table width="800" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" height="10"></td>
  </tr>
  <tr>
    <td colspan="2"><a href="javascript:void(0);" onclick="window.print();"class="print right"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a> </td>
  </tr>
  <tr>
    <td colspan="2" height="10"></td>
  </tr>
  <tr>
    <td> Contact Name:&nbsp;<br>
      <?php echo $transactionDetails['first_name'] . ' ' . $transactionDetails['middle_name'] . ' ' . $transactionDetails['last_name']; ?><br>
      E-mail:&nbsp;<?php echo $transactionDetails['email_id']; ?> <br>
      Contact Id:&nbsp;<?php echo $transactionDetails['contact_id']; ?> <br>
      <?php if(isset($transactionDetails['web_selection']) and trim($transactionDetails['web_selection']) != "") { ?>
      <br>
      Ship Type:&nbsp;<?php echo $transactionDetails['web_selection']; ?><br>
      <?php } ?>
      <?php
                        if (isset($transactionDetails['email_id']) && !empty($transactionDetails['email_id'])) {
                            ?>
      <br>
      <img src="/barcode/<?php echo $transactionDetails['email_id']; ?>" alt="barcode" />
      <?php }  ?>
    </td>
    <td><img width="123" height="54" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/pdf_logo.jpg"> <strong>The Statue of Liberty -<br>
      Ellis Island Foundation, Inc.</strong> <br>
      <br>
      17 Battery Place<br>
      New York, NY 10007<br>
      <strong class="m-t-10"> Email: Contactus@EllisIsland.org<br>
      Phone: 212-561-4588</strong> </td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td> Billing Address :<br>
      <?php
                            if (isset($transactionDetails['billing_first_name']) && !empty($transactionDetails['billing_first_name'])) {
                                $name = $transactionDetails['billing_first_name'] . " " . $transactionDetails['billing_last_name'];
                            } else if (isset($transactionDetails['billing_company']) && !empty($transactionDetails['billing_company'])) {
                                $name = $transactionDetails['billing_company'];
                            }

                            if (isset($name) && !empty($name)) {
                                ?>
      <strong><?php echo ((!empty($transactionDetails['billing_title'])) ? $transactionDetails['billing_title'] . ' ' : '') . $name; ?></strong>
      <label> <?php echo $transactionDetails['billing_address']; ?><br />
      <?php
                                    if (isset($transactionDetails['billing_city']) && !empty($transactionDetails['billing_city'])) {
                                        echo $transactionDetails['billing_city'] . ", ";
                                    }
                                    echo $transactionDetails['billing_state'];
                                    ?>
      <br />
      <?php echo $transactionDetails['billing_country']; ?><br />
      <?php echo $transactionDetails['billing_postal_code']; ?>
      <?php if (!empty($transactionDetails['billing_phone_no'])) { ?>
      <br />
      <?php
                                        echo 'Ph. : ' . $transactionDetails['billing_phone_no'];
                                    }
                                } else {
                                    echo "<div class='center'>N/A</div>";
                                }
                                ?>
      </label>
    </td>
    <td> Shipping Address :<br>
      <?php
                            if (isset($transactionDetails['shipping_first_name']) && !empty($transactionDetails['shipping_first_name'])) {
                                $name = $transactionDetails['shipping_first_name'] . " " . $transactionDetails['shipping_last_name'];
                            } else if (isset($transactionDetails['shipping_company']) && !empty($transactionDetails['shipping_company'])) {
                                $name = $transactionDetails['shipping_company'];
                            }
                            if ($transactionDetails['is_pickup'] == '1') {
                                echo "<div class='center'>N/A</div>";
                            } else if (isset($name) && !empty($name)) {
                                ?>
      <strong><?php echo ((!empty($transactionDetails['shipping_title'])) ? $transactionDetails['shipping_title'] . ' ' : '') . $name; ?></strong>
      <label> <?php echo $transactionDetails['shipping_address']; ?><br />
      <?php echo $transactionDetails['shipping_city'] . ", " . $transactionDetails['shipping_state']; ?><br />
      <?php echo $transactionDetails['shipping_country']; ?><br />
      <?php echo $transactionDetails['shipping_postal_code']; ?>
      <?php if (!empty($transactionDetails['shipping_phone_no'])) {
                                        ?>
      <br />
      <?php
                                        echo 'Ph. : ' . $transactionDetails['shipping_phone_no'];
                                    }
                                    ?>
      </label>
      <?php
                            } else {
                                echo "<div class='center'>N/A</div>";
                            }
                            ?>
    </td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Payment</strong><br>
      <label>Total : &nbsp;</label>
      <label><?php echo "$ " . $this->CurrencyFormat($transactionDetails['transaction_amount']); ?>&nbsp;&nbsp;</label>
      <label>Method : &nbsp;</label>
      <label><?php echo $transactionDetails['payment_mode']; ?></label>
    </td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><strong></strong>Transaction Summary</td>
  </tr>
  <tr>
    <td>Transaction #: &nbsp;
      <?php
                            echo $transactionDetails['transaction_id']; 
                            echo (isset($transactionDetails['omx_order_number']) && !empty($transactionDetails['omx_order_number'])) ? " (OMX Id: " . $transactionDetails['omx_order_number'] . ")" : "";
                            ?>
    </td>
    <td><img src="/barcode/<?php echo $transactionDetails['transaction_id']; ?>" alt="barcode" /></td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"> Purchase Date: &nbsp;<?php echo $this->Dateformatalpha($transactionDetails['transaction_date'], 'dateformatampm'); ?><br>
      Product SubTotal: &nbsp;$ <?php echo $this->Currencyformat($transactionDetails['sub_total_amount']); ?><br>
      Discount: &nbsp;($ <?php echo $this->Currencyformat($transactionDetails['total_discount']); ?>)<br>
      Shipping & Handling: &nbsp;$ <?php echo $this->Currencyformat($transactionDetails['shipping_amount'] + $transactionDetails['handling_amount']); ?><br>
      Global Tax: &nbsp;$ <?php echo $this->Currencyformat($transactionDetails['total_tax']); ?><br>
      Total for this transaction: &nbsp;$ <?php echo $this->Currencyformat($transactionDetails['transaction_amount'] - ($transactionDetails['cancel_amount'] + $transactionDetails['refund_amount'])); ?><br>
    </td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Products on Transaction</strong></td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" class="table-bh page-break" border="0" style="clear:both" cellspacing="0" cellpadding="0">
        <tr>
          <th>Qty</th>
          <th>Product</th>
          <th>SKU</th>
          <th>Product Price</th>
          <th>Total</th>
        </tr>
        <?php
                    foreach ($transactionProduct as $key) {
                        ?>
        <tr >
          <td><?php echo $key['product_quantity']; ?></td>
          <td><?php
                    switch ($key['tra_pro']) {
                        case 'don' :
                                ?>
            <div class="left"> <strong><?php echo $key['product_name']; ?></strong> <?php echo $key['option_name']; ?> </div>
            <?php
                                        break;
                                    case 'bio' :
                                        ?>
            <div class="left"> <strong><?php echo $key['product_name']; ?></strong> <?php echo $key['option_name']; 
                                            if (isset($key[0]) && !empty($key[0])) {
                                                echo  $key[0]['final_name'] ;
                                            }
                                            ?> </div>
            <?php
                                        break;
                                    case 'fof' :
                                        ?>
            <div class="left"> <strong><?php echo $key['product_name']; ?> : <?php echo $key[0]['donated_by']; ?></strong> </div>
            <?php
                                        break;
                                    case 'pro' :
                                        switch ($key['product_type']) {
                                            case '5' :
                                                ?>
            <div class="left"> <strong>
              <?php
                            echo $key['product_name']." : ".$key['option_name'];
                            if (isset($key['item_name']) && !empty($key['item_name'])) {
                                echo "<strong>Passenger Name : " . $key['item_name'] . "</strong>";
                            }
                            echo '</strong>';
                            if (isset($key['item_id']) && !empty($key['item_id'])) {
                                echo "<strong>Passenger Id : " . $key['item_id'] . "</strong>";
                            }
                                                ?>
            </div>
            <?php
                                                break;
                                            case '7' :
                                                ?>
            <div class = "left"> <strong>
              <?php
                            $productName = $key['product_name'];
                            if (isset($key['manifest_info']) && !empty($key['manifest_info']))
                                $productName.= ' : ' . $key['manifest_info'];

                            echo $productName;
                                                ?>
              </strong>
              <?php
                                                    if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                        $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                    else
                                                        $arrivalDate = '';

                                                    if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                        // echo "<strong>Ref Line : <label>" . $key[0]['REF_PAGE_LINE_NBR'] . "</label></strong>";
                                                    }
                                                    if (isset($key['item_name']) && !empty($key['item_name'])) {

                                                        if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                            echo "<strong>Passenger Name : " . $key['item_name'] . "</strong>";
                                                        } else {
                                                            echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                        }
                                                        echo "<strong>Arrival Date : " . $arrivalDate . "</strong>";
                                                    }
                                                    ?>
            </div>
            <?php
                                                break;
                                            case '8' :
                                                ?>
            <div class = "left"> <strong><?php echo $key['product_name']; ?>
              <?php
                                                        if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                            echo "&nbsp;:&nbsp;" . $key['option_name'] . "";
                                                        }
                                                        echo "</strong>";
                                                        if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                            $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                        else
                                                            $arrivalDate = '';

                                                        if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                            echo "<strong>Ship Name : " . $key['item_name'] . "</strong>";
                                                            if ($arrivalDate != '') {
                                                                echo "<strong>Arrival Date : " . $arrivalDate . "</strong>";
                                                            }
                                                        }
                                                        ?>
            </div>
            <?php
                                                break;
                                            default :
                                                if ($key['item_type'] == '7' || $key['item_type'] == '8') {
                                                    ?>
            <div class = "left"> <strong><?php echo $key['product_name']; ?></strong>
              <?php
                            if (isset($key[0]['final_name']) && !empty($key[0]['final_name'])) {
                                echo $key[0]['final_name'];
                            }
                                                    ?>
            </div>
            <?php
                                                } else {
                                                    ?>
            <div class = "left"> <strong><?php echo $key['product_name']; ?></strong> <?php echo $key['option_name']; ?> </div>
            <?php
                                                }
                                                break;
                                        }
                                        break;
                                    case 'woh' :
                                        ?>
            <div class="left"> <strong><?php echo $key['product_name']; ?></strong> <?php echo $key['option_name']; ?> </div>
            <?php
                                        break;
                                }
                                ?></td>
          <td><?php echo $key['product_sku']; ?></td>
          <td><?php echo "$ " . $key['product_price']; ?></td>
          <td><?php
                            if ($key['product_status'] == '6' || $key['product_status'] == '13') {
                                echo "($ " . $this->Currencyformat($key['product_total']) . ")";
                            } else {
                                echo "$ " . $this->Currencyformat($key['product_total']);
                            }
                                ?>
          </td>
        </tr>
        <?php
                    }
                    ?>
      </table></td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><strong>Tracking Number</strong></td>
  </tr>
  <tr>
    <td colspan="2" height="20"></td>
  </tr>
  <tr>
    <td colspan="2"><div class="row m-t-5">
        <?php
                if (isset($pbCode) && !empty($pbCode)) {
                    foreach ($pbCode as $key) {
                        if (isset($key['tracking_code']) and !empty($key['tracking_code']) and trim($key['tracking_code']) != "") {
                        ?>
        <div class="row no-padd">
          <label><?php echo $key['tracking_code']; ?> </label>
        </div>
        <?php
                        }
                    }
                }
                if (isset($trackCode) && !empty($trackCode)) {
                    foreach ($trackCode as $key) {

                        if (isset($key['tracking_code']) && !empty($key['tracking_code']) && $key['tracking_code'] != '0') {
                            ?>
        <div class="row no-padd">
          <label><?php echo $key['tracking_code']; ?> </label>
        </div>
        <?php
                        }
                    }
                }
                ?>
      </div></td>
  </tr>
</table>
