<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.transaction.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-1.9.0.min.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<?php
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="pop-container">
        <div class="row no-padd">
            <h2>Update Tracking No.</h2>
            <div class="col1 m-t-20 left">                        
              <label>  Tracking No. :</label>    <?php echo $this->formRow($form->get('tracking_code'));
                echo $this->formRow($form->get('product_id'));?>
            </div>
            <div class="full">                        
               <label> Status : </label><label>  Shipped/Complete </label>
            </div>
    </div>                
    <div class="row no-padd">                    
        <label>&nbsp;</label><?php echo $this->formRow($form->get('update')); ?>
    </div>

</div>            
<?php
echo $this->form()->closeTag();
?>