<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function(){
        $("select.e1").select2();        
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/update.product.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
						  
$transactionDetails = $this->searchResult;
$transactionProduct = $this->searchProduct;
?>
<?php
$productStatusForm = $this->productStatusForm;
$productStatusForm->setAttributes(array('id' => 'update_qty', 'name' => 'update_qty'));
$productStatusForm->prepare();
echo $this->form()->openTag($productStatusForm);
?>
<div class="detail-section">
    <div class="common-form transaction transaction-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh">
            <tr>
                <th>QTY</th>
                <th>Product</th>
                <th>Item Status</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Total</th>
                <th>Quantity to ship</th>
            </tr>
            <?php
            foreach ($transactionProduct as $key) {
                ?>
                <tr>
                    <td><?php
            echo "ORD : <span id='main_qty'>" . $key['product_quantity'] . "</div><br>";
            $shp_qty = $key['product_quantity'];
            if (isset($key['shippedQty']) && !empty($key['shippedQty'])) {
                echo "SHP : <span id='main_shp_qty'>" . $key['shippedQty']."</div>";
                $shp_qty = $key['product_quantity']-$key['shippedQty'];
            }
              ?></td>
                    <td>
                        <div class="left">
                            <strong><?php echo $key['product_name']; ?></strong>
                            <label><?php echo $key['option_name']; ?></label>
                        </div>
                        <div class="action">
                            <?php
                            switch ($key['product_type']) {
                                case '4' :
                                    ?> 
                                    <a href="javascript:void(0)" onclick="viewFofPhoto(<?php echo $key['id']; ?>,'<?php echo $this->transactionId; ?>')">View Photo</a>
                                    <?php
                                    break;
                                case '5' :
                                    ?> 
                                    <a href="javascript:void(0)" onclick="viewPassCertificate(<?php echo $key['id']; ?>)">View Certificate</a>
                                    <?php
                                    break;
                                case '6' :
                                    ?> 
                                    <a href="javascript:void(0)" onclick="window.open('/view-woh-details/<?php echo $key['id']; ?>/<?php echo $this->transactionId; ?>','<?php echo $key['id']; ?>','width=600,height=600,scrollbars=yes')">View Detail</a>
                                    <a href="javascript:void(0)" onclick="viewWohLetter(<?php echo $key['id']; ?>)">View Letter</a>
                                    <a href="javascript:void(0)" onclick="viewWohCertificate(<?php echo $key['id']; ?>)">View Certificate</a>
                                    <?php
                                    break;
                                case '7' :
                                    ?> 
                                    <a href="javascript:void(0)" onclick="viewManifest(<?php echo $key['id']; ?>)">View Manifest</a>
                                    <?php
                                    break;
                                case '8' :
                                    ?> 
                                    <a href="javascript:void(0)" onclick="viewShipImage(<?php echo $key['id']; ?>)">View Ship Image</a>
                                    <?php
                                    break;
                            }
                            ?>
                        </div>
                    </td>
                    <td>
                        <?php echo $this->formRow($productStatusForm->get('product_status[]')->setValue($key['product_status'])); ?>
                        <?php echo $this->formRow($productStatusForm->get('product_id[]')->setValue($key['id'])); ?>
                        <?php echo $this->formRow($productStatusForm->get('product_type_id[]')->setValue($key['product_type'])); ?>
                        <?php echo $this->formRow($productStatusForm->get('product_shp_qty[]')->setValue($shp_qty)); ?>
                        <?php echo $this->formRow($productStatusForm->get('product_total_qty[]')->setValue($key['product_quantity'])); ?>
                        <?php echo $this->formRow($productStatusForm->get('product_type[]')->setValue($key['tra_pro'])); ?>
                        
                    </td>
                    <td><strong><?php echo $key['product_sku']; ?></strong></td>
                    <td><strong>$ <?php echo $key['product_price']; ?></strong></td>
                    <td><strong>$ <?php echo $key['product_sub_total']; ?></strong></td>
                    <td><div class="relative"><strong><?php
                    $disable = array();
                    if ($key['product_status'] == '4' || $key['product_status'] == '5' || $key['product_status'] == '9') {
                        echo $this->formRow($productStatusForm->get('product_qty[]')->setValue($shp_qty)->removeAttributes(array('readonly' => 'readonly')));
                    } else {
                        echo $this->formRow($productStatusForm->get('product_qty[]')->setValue($shp_qty)->setAttributes(array('readonly' => 'readonly')));
                    }
                        ?>

                            </strong></div></td>
                </tr>
            <?php } ?>
        </table>
        <div class="row">
            <?php echo $this->formRow($productStatusForm->get('submit')); ?>
        </div>
        <div class="row sab-totle m-t-35">

            <strong class="right">$ <?php echo $this->Currencyformat($transactionDetails['sub_total_amount']); ?></strong>
            <strong class="left">Sub Total :</strong>
        </div>
        <div class="row sab-totle">

            <strong class="right">$ <?php echo $this->Currencyformat($transactionDetails['total_tax']); ?></strong>
            <strong class="left">Global Tax :</strong>
        </div>
        <div class="row sab-totle m-t-15">

            <strong class="right">$ <?php echo $this->Currencyformat($transactionDetails['transaction_amount']); ?></strong>
            <strong class="left">Purchase Total :</strong>
        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>
##########<?php echo $transactionStatus; ?>
