<?php   
		$addressLocation = explode(',',$addressLocation);
		if(in_array('2',$addressLocation))
			$addressArray = $billingLocation;
		if(in_array('3',$addressLocation))
			$addressArray = $shippingLocation;			

        if(count(@$addressArray)>0) {
            foreach($addressArray as $key=>$val) {
                $defaultAdd = '';
                
                if(isset($defaultId) && $defaultId == $key) {
                        $checked = 'checked';
                    }
                else if(isset($primaryShippingAddress['address_information_id']) && $primaryShippingAddress['address_information_id'] == $key) {
                        $checked = 'checked';
                } 
				else{
						if(empty($defaultId))
							$checked = 'checked';
						else
							$checked = '';	
				}
                if(isset($primaryShippingAddress['address_information_id']) && $primaryShippingAddress['address_information_id'] == $key) {
                
                    $defaultAdd = '<small>(Primary Address)</small>';
                }
    ?>
	    <div class="row">
		   <?php
		    if(in_array('2',$addressLocation)) {
		   ?>
			    <input name="billing_existing_contact" <?php echo $checked ?> id="billing_existing_contact_<?php echo $key ?>" type="radio" value="<?php echo $key ?>" class="radio" onClick="getAddressInfoFront('<?php echo $key ?>','billing','');">
			    <div class="text-section">
				    <p><?php echo stripslashes($val); ?>
				    <?php echo $defaultAdd ?></p>
				</div>    
			    <a href="#delete_address" onClick="deleteBillingShippingAddress('<?php echo $this->Encrypt($key) ?>','billing')" class="delete delete_address"></a>	    		   
		        <a href="javascript:void(0)" class="edit" onClick="editBillingAddress('<?php echo $key ?>','billing','edit')"></a>
		    <?php
		    }
		    else
		    {
		    ?>
			    <input name="shipping_existing_contact" <?php echo $checked ?> id="shipping_existing_contact_<?php echo $key ?>" type="radio" value="<?php echo $key ?>" class="radio" onClick="getAddressInfoFront('<?php echo $key ?>','shipping','');">
			    <div class="text-section">
				    <p><?php echo stripslashes($val); ?>
				    <?php echo $defaultAdd ?></p>
				</div>    
			    <a href="#delete_address" onClick="deleteBillingShippingAddress('<?php echo $this->Encrypt($key) ?>','shipping')" class="delete delete_address"></a>	    
		        <a href="javascript:void(0)" class="edit" onClick="editShippingAddress('<?php echo $key ?>','shipping','edit')"></a>
		    <?php
		    }
		    ?>
		    
	    </div>
	<?php			
		}
}
else
{
    if (in_array('2',$addressLocation))
    {

        if (isset($cartDeta['totalproduct'])
                && isset($cartDeta['isInventory'])
                && $cartDeta['totalproduct']
                != $cartDeta['isInventory'])
        {
            ?>
                    <br>
                    <span style="float:right;"><input type="checkbox" name="same_as_shipping" id="same_as_shipping" checked='checked'> Same as Shipping Address</span>
            <?php
        }
    }
}
?>