												<?php
                                                        if (count($tokenArray) > 0) {
                                                            $k=0;
                                                            foreach ($tokenArray as $key => $val) {
                                                                $defaultAdd = '';
                                                                
                                                                    
                                                                //if ($defaultToken == $key) {
                                                                //    $checked = 'checked';
                                                                //    $defaultAdd = '<small>(Primary Address)</small>';
                                                                //}
                                                                //else {
                                                                    if($k==0)
                                                                        $checked = 'checked';
                                                                    else    
                                                                        $checked = '';
                                                               // }
                                                                ?>
                                                                <div class="row">
                                                                    <input name="credit_card_exist" id="credit_card_exist[]" <?php echo $checked ?> type="radio" value="<?php echo $key ?>" class="radio">
                                                                    <p><?php echo stripslashes($val); ?>
                                                                        <?php echo $defaultAdd ?></p>
                                                                    </div>
                                                                    <?php
                                                                    $k++;
                                                                }
                                                                
                                                            }
                                                ?>