<?php
/**
 * This view is used to get tax reciept
 * @category   Zend
 * @package    Transaction_User_Search
 * @author     Icreon Tech - DG
 */

$translator = $jsLangTranslate;
?>
<style>
.tax-receipt .col1{width:100% !important}
.tax-receipt .row p{text-align:left; font-family:arial}
</style>
<div class="pop-container">
<div class="create-contacts tax-receipt">
    <div class="accordion-detail"> 
        <a href="javascript:void(0);" onclick="window.print();"class="print" style="float:right"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a>
        <?php
        echo $receipt['receipt_body'];
        ?>
    </div>
</div>
</div>