<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var fof_id = "' . $this->fof_id . '";';
$var .= 'var fof_transaction_id = "' . $this->fof_transaction_id . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.fof.images.js?v='.$this->layout()->getVariable('jsVersion'))
			  ->prependScript($var);
?>

<div id="viewFofImageModify" class="outer-wrapper">
       <?php
        $fofImageForm = $this->fofImageForm;
        $fofImageForm->prepare();
        echo $this->form()->openTag($fofImageForm);
        
        ?>
    <div id="viewFOF" class="pop-container">   
        <h3>View Photo</h3>
        <div class="common-form">
            <div>
                <div class="row">
                    <label><?php echo $translator['DONATED_BY']; ?><span class="red">*</span></label> 
                    <?php echo $this->formRow($fofImageForm->get('donated_by')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['PEOPLE_IN_PHOTO']; ?><span class="red">*</span></label> 
                    <div id="peoplePhotoBox">
                         <?php
                            $countPP = 0;
                           if(isset($this->peoplePhotoJson) and trim($this->peoplePhotoJson) != "") {
                               $jsonPeoplePhoto = trim($this->peoplePhotoJson);
                               $arrPeoplePhoto = json_decode($jsonPeoplePhoto);
                               if(is_array($arrPeoplePhoto) and count($arrPeoplePhoto) > 0) {

                                   $htmlPeoplePhoto = '';
                                   foreach($arrPeoplePhoto as $valPP) {
                                             $htmlPeoplePhoto .= '<div class="tagn'.$countPP.' tages">';
                                             $htmlPeoplePhoto .= $valPP->name;
                                             if(!isset($searchResult['status']) || empty($searchResult['status'])) { 
                                               $htmlPeoplePhoto .= '<a class="removeTag" delid="tagn'.$countPP.'" onclick="javascript:removePeoplePhotoTag(\'tagn'.$countPP.'\');">X</a>';
                                             }
                                             $htmlPeoplePhoto .= '</div>';     
                                             $countPP = $countPP + 1;
                                     }  
                               } 
                               echo $htmlPeoplePhoto;
                           }
                        ?>
                    </div>
                    <?php echo $this->formRow($fofImageForm->get('people_photo')); ?>
                </div>
                <div class="row">
                    <label>&nbsp;</label> 
                    <?php echo $this->formRow($fofImageForm->get('is_people_photo_visible')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['PHOTO_CAPTION']; ?><span class="red">*</span></label> 
                    <?php echo $this->formRow($fofImageForm->get('photo_caption')); ?>
                </div>
                <div class="row">
                    <label>&nbsp;</label> 
                    <?php echo $this->formRow($fofImageForm->get('is_photo_caption_visible')); ?>
                </div>
                <div class="row">
                 
                    <div class="image-box">
                        <img id="fofPreviewImage" src="<?php echo $fofImage; ?>?v=<?php echo time(); ?>" />
                    </div>
               
                </div>    
                 
                <div class="right">
                      <?php  if(!isset($searchResult['status']) || empty($searchResult['status'])) { ?> 
                     <a id="editPhotoLink" class="save-btn m-r-5" href="javascript:void(0);">Edit Photo</a>
                    <?php } ?>
                    <?php
                    if(!isset($searchResult['status']) || empty($searchResult['status'])) {
                        echo $this->formRow($fofImageForm->get('approve'));
                    }
                    ?>
                </div>
                

            </div>
        </div>
    </div>
    
    <div id="editFOF" class="pop-container edit" style="display: none;">
        <h3>Edit Photo and People in Photo</h3>
         <div class="common-form">
            <div class="row">
                <label><?php echo $translator['FOF_CHANGE_PHOTO_LABEL']; ?></label>
                <?php 
                  echo $this->formRow($fofImageForm->get('fof_id'));
                  echo $this->formRow($fofImageForm->get('countTagNum'));
                  echo $this->formRow($fofImageForm->get('photo_modified'));
                  echo $this->formRow($fofImageForm->get('photo_modified_name')); 
                  echo $this->formRow($fofImageForm->get('upload_photo')); 
                ?>
                <div id="filemessage" style="float:right; margin-right: 50%;"></div>
            </div>
            <div class="row">
        <label>&nbsp;<?php echo $this->formRow($fofImageForm->get('crop_fof_image_status')); ?></label>           
   <iframe id="UploadUserFofImageIframe" style="min-height: 590px; min-width: 650px; float:left;"   class="float-left" src="/upload-user-fof-image-iframe-crm/<?php echo $this->Encrypt($this->fof_id); ?>/<?php echo $this->encrypted_filename; ?>"></iframe>
                
               
                    <div class="previw-detail-box">
                      <span class="previw-text">Preview</span>
                      <div class="scroll" style="height: 570px; width: 550px;">
                       <div id="ajx_loader_preview_fof" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image_preview_fof"/></div>      
                       <iframe id="previewFOF1" src="/upload-user-fof-image-iframe-preview-crm/<?php echo $this->Encrypt($this->fof_id); ?>/<?php echo $this->encrypted_filename; ?>/1" scrolling="no" width="550" height="550" style="float:left;"></iframe>
                      </div>
                    </div>
                 
             </div>  

            <div class="row">
               <label><?php echo $translator['PEOPLE_IN_PHOTO']; ?><span class="red">*</span></label>
               <div id="span_fof_people_in_photo" style="background: none repeat scroll 0 0 #fff; border: 1px solid #b0b0b0; float: left; min-height: 25px; padding: 2px 0 5px 5px; width: 300px;">
                <?php
                     $countPP = 0;
                    if(isset($this->peoplePhotoJson) and trim($this->peoplePhotoJson) != "") {
                        $jsonPeoplePhoto = trim($this->peoplePhotoJson);
                        $arrPeoplePhoto = json_decode($jsonPeoplePhoto);
                        if(is_array($arrPeoplePhoto) and count($arrPeoplePhoto) > 0) {
                         
                            $htmlPeoplePhoto = '';
                            foreach($arrPeoplePhoto as $valPP) {
                                      $htmlPeoplePhoto .= '<div class="tagn'.$countPP.' tages">';
                                      $htmlPeoplePhoto .= $valPP->name;
                                      $htmlPeoplePhoto .= '<a class="removeTag" delid="tagn'.$countPP.'" onclick="javascript:removePeoplePhotoTag(\'tagn'.$countPP.'\');">X</a>';
                                      $htmlPeoplePhoto .= '</div>';     
                                      $countPP = $countPP + 1;
                              }  
                        } 
                        echo $htmlPeoplePhoto;
                    }
                ?>
               </div>
            </div>
            <div class="row">
                <?php echo $this->formRow($fofImageForm->get('save_photo'));  ?>
            </div>
      </div>   
    </div> 
    <?php echo $this->form()->closeTag(); ?>
</div>
