<?php
/**
 * This view is used to view woh details
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var bio_id = "' . $this->bio_id . '";';

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.bio.details.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
						  
$searchResult = $this->searchResult;
?>
<?php
$bioCertificateForm = $this->bioCertificateForm;
$bioCertificateForm->prepare();
echo $this->form()->openTag($bioCertificateForm);
?>
<style>
    .arrivals-archive label{width:220px !important}
</style>
<div class="outer-wrapper">
    <div class="pop-container">
        <h3>Wall of Honor Arrivals Archive</h3>
        <div class="common-form arrivals-archive">

            <div class="row">
                <label><?php echo $translator['NAME']; ?></label> 
                <?php echo $this->formRow($bioCertificateForm->get('bio_name')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['IMMIGRANTED_FROM']; ?></label> 
                <?php echo $this->formRow($bioCertificateForm->get('immigrated_from')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['METHOD_OF_TRAVEL']; ?></label> 
                <?php echo $this->formRow($bioCertificateForm->get('method_of_travel')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['PORT_ENTRY']; ?></label> 
                <?php echo $this->formRow($bioCertificateForm->get('port_of_entry')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['DATE_ENTRY']; ?></label> 
                <?php echo $this->formRow($bioCertificateForm->get('date_of_entry_to_us')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['ADDITIONAL_INFO']; ?></label> 
                <?php
                echo $this->formRow($bioCertificateForm->get('additional_info'));
                echo $this->formRow($bioCertificateForm->get('bio_wohid'));
                ?>
            </div>
            <?php
            /* if ($searchResult['is_finalize'] == 0) {
                echo $this->formRow($bioCertificateForm->get('biosubmit'));
                echo $this->formRow($bioCertificateForm->get('biocancel'));
            } */
            ?>


        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>




