<?php
/**
 * This view is used to view woh details
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var woh_id = "' . $this->woh_id . '";';
$var .= 'var woh_disp_id = "' . $this->woh_disp_id . '";';
$var .= 'var woh_transaction_id = "'.$this->woh_transaction_id.'";';

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.wow.details.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
						  
$searchResult = $this->searchResult;
?>
<div class="outer-wrapper">
    <div class="pop-container">
        <h3>View Details</h3>
        <?php
        $viewWohDetailsForm = $this->viewWohDetailsForm;
        $viewWohDetailsForm->prepare();
        echo $this->form()->openTag($viewWohDetailsForm);
        ?>
        <div class="common-form">
            <div class="row">
                <label><?php echo $translator['DONATION_FOR']; ?> </label> 
                <?php echo $this->formRow($viewWohDetailsForm->get('donation_for')); ?>
            </div>
            <?php if (isset($searchResult['first_name_one']) && !empty($searchResult['first_name_one'])) { ?>
                <div class="row">
                    <label><?php echo $translator['FIRST_NAME']; ?><span class="red">*</span></label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('first_name_one')); ?>
                </div>
                <?php
            }
            if (isset($searchResult['other_init_one']) && !empty($searchResult['other_init_one'])) {
                ?> <div class="row">
                    <label><?php echo $translator['MIDDLE_INIT']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('other_init_one')); ?> 
                </div><?php
            }
            if (isset($searchResult['first_name_two']) && !empty($searchResult['first_name_two'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['FIRST_NAME']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('first_name_two')); ?> 
                </div><?php
            }
            if (isset($searchResult['other_name']) && !empty($searchResult['other_name'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['OTHER_NAME']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('other_name')); ?> 
                </div><?php
            }
            if (isset($searchResult['other_init_two']) && !empty($searchResult['other_init_two'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['MIDDLE_INIT']; ?> <span class="red">*</span></label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('other_init_two')); ?> 
                </div><?php
            }
            if (isset($searchResult['last_name_one']) && !empty($searchResult['last_name_one'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['LAST_NAME']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('last_name_one')); ?> 
                </div><?php
            }
            if (isset($searchResult['last_name_two']) && !empty($searchResult['last_name_two'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['LAST_NAME']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('last_name_two')); ?> 
                </div><?php
            }
            if (isset($searchResult['first_line']) && !empty($searchResult['first_line'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['FIRST_LINE']; ?> <span class="red">*</span></label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('first_line')); ?> 
                </div><?php
            }
            if (isset($searchResult['second_line']) && !empty($searchResult['second_line'])) {
                    ?> <div class="row">
                    <label><?php echo $translator['LAST_LINE']; ?><span class="red">*</span> </label> 
                    <?php echo $this->formRow($viewWohDetailsForm->get('second_line')); ?> 
                </div><?php
            }
                ?>
            <div class="row">
                <label class="no-padd"><?php echo $translator['COUNTRY_OF_ORIGIN']; ?><span class="red">*</span> </label> 
                <?php echo $this->formRow($viewWohDetailsForm->get('country_originUS')); ?>United States Of America
            </div>
            <div class="row">
                <label>&nbsp;</label> 
                <?php echo $this->formRow($viewWohDetailsForm->get('country_origin')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['DONATED_BY']; ?> <span class="red">*</span></label> 
                <?php echo $this->formRow($viewWohDetailsForm->get('donated_by'));
                echo $this->formRow($viewWohDetailsForm->get('product_attribute'));?>
            </div>
            <?php
            if ($searchResult['status'] == 1) {
                ?>
                <div class="row">
                    <label><?php echo $translator['FINAL_NAME']; ?> <span class="red">*</span></label> 
                    <label><?php echo $searchResult['final_name']; ?></label>
                </div>
            <?php } ?>
            <div class="row">
                <label>&nbsp;</label> 
                <?php
                if ($searchResult['status'] == 0) {
                    echo $this->formRow($viewWohDetailsForm->get('approve'));
                }
                ?>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        if(isset($arrContacts) and is_array($arrContacts) and count($arrContacts) > 0) { ?>
        <div class="common-form">
            <h2><?php echo $translator['VIEW_DETAILS_CONTACT_HEADING']; ?></h2>
            <table class="common-table">
                <tr>
                    <th>#</th>
                    <th><?php echo $translator['VIEW_DETAILS_CONTACT_NAME']; ?></th>
                    <th><?php echo $translator['VIEW_DETAILS_CONTACT_EMAIL_ADDRESS']; ?></th>
                </tr>
                <?php $sn = 1; foreach($arrContacts as $cVal) { ?>
                <tr>
                    <td><?php echo $sn; ?></td>
                    <td>
                       <?php 
                         if(isset($cVal['firstNameWoh']) and trim($cVal['firstNameWoh']) != "") { echo $cVal['firstNameWoh'].' '; }
                         if(isset($cVal['lastNameWoh']) and trim($cVal['lastNameWoh']) != "") { echo $cVal['lastNameWoh']; }
                       ?>
                    </td>
                    <td><?php echo $cVal['emailIdWoh']; ?></td>
                </tr>
                <?php $sn++; } ?>
            </table>
            <h2>&nbsp;</h2>
        </div>
        <?php } ?>
    </div>
</div>





