<style> 
    .check-abhi input{left:-21px !important}
</style>
<?php
/**
 * This view is used to view a shipment
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.transaction.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);

$transactionDetails = $this->searchResult;
$transactionProduct = $this->searchProduct;
$productDetails = $this->productDetail;
?>
<div class="accordion-detail">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="head no-img"><span>View Transaction</span></div>
    <div class="detail-section">
        <div class="common-form transaction">
            <div class="row">
                <div class="col1">
                    <label>Transaction # :</label>
                    <label class="bold"><?php echo $transactionDetails['transaction_id']; ?></label>
                </div>

            </div>

            <div class="row m-t-30">
                <div class="t-box">
                    <div class="header">Ship To :</div>
                    <div class="inner">
                        <?php
                        if ($transactionDetails['is_pickup'] == '1') {
                            echo "<div class='center'>N/A</div>";
                        } else if (!isset($transactionDetails['shipping_first_name']) || empty($transactionDetails['shipping_first_name'])) {
                            echo "<div class='center'>N/A</div>";
                        } else {
                            ?>
                            <strong><?php echo ((!empty($transactionDetails['shipping_title'])) ? $transactionDetails['shipping_title'] . ' ' : '') . $transactionDetails['shipping_first_name'] . " " . $transactionDetails['shipping_last_name']; ?></strong>
                            <label>
                                <?php echo $transactionDetails['shipping_address']; ?><br />
                                <?php echo $transactionDetails['shipping_city'] . ", " . $transactionDetails['shipping_state']; ?><br />
                                <?php echo $transactionDetails['shipping_country']; ?><br />
                                <?php echo $transactionDetails['shipping_postal_code']; ?>
                            </label>

                        <?php } ?>
                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Bill To :</div>
                    <div class="inner">
                        <strong><?php echo ((!empty($transactionDetails['billing_title'])) ? $transactionDetails['billing_title'] . ' ' : '') . $transactionDetails['billing_first_name'] . " " . $transactionDetails['billing_last_name']; ?></strong>
                        <label>
                            <?php echo $transactionDetails['billing_address']; ?><br />
                            <?php echo $transactionDetails['billing_city'] . ", " . $transactionDetails['billing_state']; ?><br />
                            <?php echo $transactionDetails['billing_country']; ?><br />
                            <?php echo $transactionDetails['billing_postal_code']; ?>
                        </label>
                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Primary E-mail :</div>
                    <div class="inner">
                        <strong>Primary E-mail</strong>
                        <label><?php echo $transactionDetails['email_id']; ?></label>

                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Payment :</div>
                    <div class="inner">
                        <strong>Total : $ <?php echo $transactionDetails['transaction_amount']; ?></strong>
                        <label>Method : <?php echo $transactionDetails['payment_mode']; ?></label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion-detail">
    <div class="head no-img"><span>Products </span></div>
    <div id="product_content">
        <div class="detail-section">
            <div class="common-form transaction">
                <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh tra-view">
                    <tr>
                        <th>Shipment ID</th>
                        <th>Date Shipped</th>
                        <th>Tracking Number</th>
                        <th>Shipping & Handling</th>
                        <th>Product</th>                        
                        <th>Qty Shipped</th>

                        <th></th>
                    </tr>
                    <?php
                    $i = 0;
                    $zip = 0;
					foreach ($transactionProduct as $key) {
						$pro_type = explode(",", $key['product_type']);
                        $pro_id = explode(",", $key['shipment_product_id']);
                        $track_code = explode(",", $key['track_code']);
                        // asd($transactionProduct);
                        ?>
                        <tr class="transaction-shipment-table">
                            <td><?php echo $key['shipment_id']; ?></td>
                            <td><?php echo $this->Dateformatalpha($key['shipment_date'], 'dateformatampm'); ?></td>
                            <td><?php echo $key['tracking_code']; ?></td>
                            <td><?php
                    $ship = 0;
                    for ($j = 0; $j < count($pro_type); $j++) {
                        if (isset($productDetails[$i+$j]) && !empty($productDetails[$i+$j])) {
                            $ship = $ship + ($productDetails[$i+$j]['product_shipping'] + $productDetails[$i+$j]['product_handling']);
                        }
                    }
                    echo "$ " . $this->CurrencyFormat($ship);
                        ?></td>
                            <td><?php
                            $pro_type_counter = 0;
                            
                            foreach ($pro_type as $key1 => $val) {
                                if (isset($productDetails[$i]) && !empty($productDetails[$i])) {
                                    switch ($val) {
                                        case '1':
                                            $zip = 1;
                                            echo "<div class='left'> <strong>Passenger Record : <label>" . $productDetails[$i]['name'] . "</label></strong>";
                                            echo "<strong>Passenger Id : <label>" . $productDetails[$i]['item_id'] . "</label></strong></div>";

                                            break;
                                        case '2' :
                                            $productName = $productDetails[$i]['product_name'];
                                            if (isset($productDetails[$i]['manifest_info']) && !empty($productDetails[$i]['manifest_info']))
                                                $productName.= ' : ' . $productDetails[$i]['manifest_info'];

                                            echo "<div class='left'><strong>" . $productName . "</strong>";
                                            if (isset($productDetails[$i]['name']) && !empty($productDetails[$i]['name'])) {
                                                echo "<strong>Passenger Name : <label>" . $productDetails[$i]['name'] . "</label></strong>";
                                            }
                                            if (isset($productDetails[$i]['REF_PAGE_LINE_NBR']) && !empty($productDetails[$i]['REF_PAGE_LINE_NBR'])) {
                                                echo "<strong>Passenger Id : <label>" . $productDetails[$i]['item_id'] . "</label></strong>";
                                            }
                                            if (isset($productDetails[$i]['SHIP_NAME']) && !empty($productDetails[$i]['SHIP_NAME'])) {
                                                echo "<strong>Ship Name : <label>" . $productDetails[$i]['SHIP_NAME'] . "</label></strong>";
                                                if (isset($productDetails[$i]['SHIP_ID']) && !empty($productDetails[$i]['SHIP_ID'])) {
                                                    echo "<strong>Ship Id : <label>" . $productDetails[$i]['SHIP_ID'] . "</label></strong>";
                                                }
                                            }
                                            if (isset($productDetails[$i]['REF_PAGE_LINE_NBR']) && !empty($productDetails[$i]['REF_PAGE_LINE_NBR'])) {
                                                echo "<strong>Ref Line : <label>" . $productDetails[$i]['REF_PAGE_LINE_NBR'] . "</label></strong>";
                                            }
                                            if (isset($productDetails[$i]['item_info']) && !empty($productDetails[$i]['item_info'])) {
                                                echo "<strong>Arrival Date : <label>" . $this->Dateformatalpha($productDetails[$i]['item_info'], 'calender') . "</label></strong></div>";
                                            }

                                            break;
                                        case '3':
                                            echo "<div class='left'><strong>" . $productDetails[$i]['product_name'] . ": <label>" . $productDetails[$i]['option_name'] . "</label></strong>";
                                            echo "<strong>Ship Name : <label>" . $productDetails[$i]['NAMEWHENBUILT'] . "</label></strong>";
                                            echo "<strong>Ship Id : <label>" . $productDetails[$i]['SHIPID'] . "</label></strong>";
                                            echo "<strong>Arrival Date : <label>" . $this->Dateformatalpha($productDetails[$i]['item_info'], 'calender') . "</label></strong></div>";
                                            break;
                                        case '4' :
                                            echo "<div class='left'><strong>" . $productDetails[$i]['product_name'] . "</strong>";
                                            if ($productDetails[$i]['category_id'] == '2' && empty($track_code[$pro_type_counter])) {
                                                echo '&nbsp;<a href="javascript:void(0)" onclick="updateTracking(' . $pro_id[$pro_type_counter] . ')" class="link">Update Tracking No.</a>';
                                            } else if ($productDetails[$i]['category_id'] == '2' && $track_code[$pro_type_counter] != '0') {
                                                
                                                echo '<div class="full"><label class="tracking-no">Tracking No : ' . $track_code[$pro_type_counter] . '</label></div>';
                                            }
                                            echo "</div>";

                                            break;
                                        case '5':
                                            echo "<div class='left'><strong>Membership</strong></div>";

                                            break;
                                        case '6':
                                            echo "<div class='left'><strong>Kiosk Fee</strong></div>";

                                            break;
                                        case '7':
                                            echo "<div class='left'><strong>".$productDetails[$i]['product_name']."</strong></div>";

                                            break;
                                        case '8':
                                            echo "<div class='left'><strong>".$productDetails[$i]['product_name']."</strong></div>";
                                            echo '<div class="left"><label>'.$productDetails[$i]['final_name'].'</label></div>';
                                            echo '<div class="left"><strong>Panel # :<label> '.$productDetails[$i]['panel_no'].'</label></strong></div>';
                                            break;
                                        case '9':
                                            echo "<div class='left'><strong>Bio Certificate</strong></div>";

                                            break;
                                        case '10':
                                            $zip = 1;
                                            echo "<div class='left'><strong>" . $productDetails[$i]['product_name'] . "</strong></div>";
                                            echo "<div class='left'>" . $productDetails[$i]['final_name'] . "</div>";

                                            break;
                                        case '11' :
                                            echo "<div class='left'><strong>Flag of Faces : <label>" . $productDetails[$i]['donated_by'] . "</label></strong></div>";
                                            break;
                                    }
                                }
                                $pro_type_counter ++;
                                $i++;
                            }
                        ?></td>

                            <td><span><?php
                            $qty_shipped = explode(",", $key['qty_shipped']);
                            foreach ($qty_shipped as $qty) {
                                echo $qty . "</span><span>";
                            }
                        ?></span></td>
                            <td><img class="m-r-5 left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/comp-icon.png"><a class="link" href="javascript:void(0)" onclick="window.open('/packing-slip/<?php echo $key['shipment_id']; ?>','popUpWindow','height=700,width=950,left=300,top=300,resizable=yes,scrollbars=yes')">Packing&nbsp;Slip</a>
                                <br>
                                <?php if ($zip == '1') {
                                    ?>
                                    <img class="m-r-10" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/comp-icon.png"><a class="link" href="/download-zip/<?php echo $key['shipment_id']; ?>">Documents</a>
                                    <?php
                                    $zip = 0;
                                }
                                ?>

                            </td>
                        </tr>
                        <?php
                    }
                    ?>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion-detail">
    <div class="head no-img"><span>Notes</span></div>
    <div class="detail-section">
        <div class="common-form transaction note">
            <div id="notesdiv">
                <?php
                if ($this->notes !== false) {
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    for ($i = 0; isset($this->notes['note'][$i]); $i++) {
                        if (isset($this->notes['name'][$i]) and trim($this->notes['name'][$i]) != "") {
                            if ($counterAlternate == 0) {
                                $classAlternate = 'alterbg';
                                $counterAlternate = $counterAlternate + 1;
                            } else {
                                $classAlternate = 'alterbg alterbg-none';
                                $counterAlternate = 0;
                            }
                            ?>
                            <div class="row <?php echo $classAlternate; ?>">
                                <strong class="right bold m-b-10 aright">
                                    <?php
                                    if ($this->notes['note_user'][$i] == $userId) {
                                        if (isset($this->notes['note_private'][$i]) and trim($this->notes['note_private'][$i]) != "") {
                                            ?> <input <?php echo 'id = "notes_' . $this->notes['note_id'][$i] . '"'; ?> type="checkbox" checked="checked" /> <?php
                    } else {
                                            ?> <input <?php echo 'id = "notes_' . $this->notes['note_id'][$i] . '"'; ?> type="checkbox" /> <?php
                    }
                    echo "Private";
                }
                if ($this->notes['note_user'][$i] != $userId) {
                    if (isset($this->notes['note_private'][$i]) and trim($this->notes['note_private'][$i]) != "") {
                        echo "Private";
                    }
                }
                                    ?>
                                </strong>
                                <p class="text"><?php echo $this->notes['note'][$i]; ?></p>
                                <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($this->notes['date'][$i], 'dateformatampm'); ?> by <?php echo $this->notes['name'][$i]; ?></p>
                            </div>
                            <?php
                        }
                    }
                }
                ?>
            </div>
            <?php
            $transactionNoteForm = $this->transactionNoteForm;
            $transactionNoteForm->prepare();
            echo $this->form()->openTag($transactionNoteForm);
            echo $this->formRow($transactionNoteForm->get('transaction_id'));
            ?>
            <div class="row">
                <strong class="private check-abhi"><?php echo $this->formRow($transactionNoteForm->get('notify_note')); ?>Private</strong>
                <label>Note</label>
                <?php echo $this->formRow($transactionNoteForm->get('note')); ?>
            </div>
            <div class="row">

                <?php echo $this->formRow($transactionNoteForm->get('postnote')); ?>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?> 
        </div>
    </div>
</div>