<style>
    .check-abhi input{left:-21px !important}
</style>
<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .='var tableName = "' . $this->Encrypt($tableName) . '";';
$var .='var tableField = "' . $this->Encrypt($tableField) . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/crm.transaction.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);

$transactionDetails = $this->searchResult;
$transactionProduct = $this->searchProduct;
?>
<div class="accordion-detail">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="head no-img"><span>View Transaction</span></div>
    <div class="detail-section">
        <div class="common-form transaction">

            <div class="row">
                <div class="col1">
                    <label>Transaction # :</label>
                    <label class="bold"><?php echo $transactionDetails['transaction_id']; ?></label>                    
                </div>
                <div class="col1 right">
                    <label>Transaction Source :</label>
                    <label class="bold"><?php echo $transactionDetails['transaction_source']; ?></label>
                    <div><a class="right link" href="javascript:void(0)" onclick="window.open('/transaction-invoice/<?php echo $transactionDetails['transaction_id']; ?>','popUpWindow','height=800,width=800,left=300,top=300,resizable=yes,scrollbars=yes')"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/comp-icon.png" class="m-r-10" />Invoice</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>OMX Order Number :</label>
                    <label class="bold">
                        <?php
                        if (isset($transactionDetails['omx_order_number']) && !empty($transactionDetails['omx_order_number'])) {
                            echo $transactionDetails['omx_order_number'];
                        } else {
                            echo 'N/A';
                        }
                        ?>
                    </label>
                </div>
                <div class="col1 right">
                    <label>Contact Name :</label>
                    <label class="bold"><a href="javascript:void(0)" onclick="window.open('/view-contact/<?php echo $this->encrypt($transactionDetails['user_id']) . "/" . $this->encrypt('view'); ?>','popUpWindow','top=20,left=10,height=800,width=1200,resizable=yes,scrollbars=yes')" class="link"><?php echo (!empty($transactionDetails['full_name'])) ? $transactionDetails['full_name'] : $transactionDetails['company_name']; ?></a></label>
                </div>
            </div>                   
            <div class="row">
                <div class="col1">
                    <label>Status :</label>
                    <label class="bold">
                        <?php
                        echo $transactionDetails['transaction_status'];
                        ?>
                    </label>
                </div>
                <div class="col1 right">
                    <label>Date of Purchase :</label>
                    <label class="bold"><?php echo $this->Dateformatalpha($transactionDetails['added_date'], 'dateformatampm'); ?></label>
                </div>

            </div>
            <div class="row">
                <?php
                $coup_flag = 0;
                if (isset($transactionDetails['campaign_code']) && !empty($transactionDetails['campaign_code'])) {
                    ?>
                    <div class="col1">
                        <label>Campaign Code :</label>
                        <label class="bold"><?php echo $transactionDetails['campaign_code']; ?></label>                    
                    </div>
                    <?php
                } else if (isset($transactionDetails['promotion_id']) && !empty($transactionDetails['promotion_id']) && $coup_flag == 0) {
                    $coup_flag = 1;
                    ?>
                    <div class="col1">
                        <label>Promotion Code :</label>
                        <label class="bold"><a class="link" target="_blank" href="<?php echo SITE_URL; ?>/get-crm-product-promotion-info/<?php echo $this->Encrypt($transactionDetails['promotion_id']) . "/" . $this->Encrypt('view'); ?>"><?php echo $transactionDetails['coupan_code']; ?></a></label>
                    </div>
                <?php }
                ?>
                <?php if (isset($transactionDetails['web_selection']) && !empty($transactionDetails['web_selection'])) {
                    ?>
                    <div class="col1 right">
                        <label>Shipping Method :</label>
                        <label class="bold"><?php echo $transactionDetails['web_selection']; ?></label>                    
                    </div>
                    <?php
                } else if (isset($transactionDetails['promotion_id']) && !empty($transactionDetails['promotion_id']) && $coup_flag == 0) {
                    $coup_flag = 1;
                    ?>
                    <div class="col1 right">
                        <label>Promotion Code :</label>
                        <label class="bold"><a class="link" target="blank" href="<?php echo SITE_URL; ?>/get-crm-promotion-info/<?php echo $this->Encrypt($transactionDetails['promotion_id']) . "/" . $this->Encrypt('view'); ?>"><?php echo $transactionDetails['coupan_code']; ?></a></label>                  
                    </div>
                <?php }
                ?>
            </div>
            <div class="row">
                <?php if (isset($transactionDetails['promotion_id']) && !empty($transactionDetails['promotion_id']) && $coup_flag == 0) { ?>
                    <div class="col1">
                        <label>Promotion Code :</label>
                        <label class="bold"><a class="link" target="blank" href="<?php echo SITE_URL; ?>/get-crm-promotion-info/<?php echo $this->Encrypt($transactionDetails['promotion_id']) . "/" . $this->Encrypt('view'); ?>"><?php echo $transactionDetails['coupan_code']; ?></a></label>                    
                    </div>
                <?php } ?>                
            </div>
            <div class="row m-t-30 no-padd">
                <div class="t-box">
                    <div class="header">Ship To :</div>
                    <div class="inner">
                        <?php
                        if (isset($transactionDetails['shipping_first_name']) && !empty($transactionDetails['shipping_first_name'])) {
                            $name = $transactionDetails['shipping_first_name'] . " " . $transactionDetails['shipping_last_name'];
                        } else if (isset($transactionDetails['shipping_company']) && !empty($transactionDetails['shipping_company'])) {
                            $name = $transactionDetails['shipping_company'];
                        }
                        if ($transactionDetails['is_pickup'] == '1') {
                            echo "<div class='center'>N/A</div>";
                        } else if (isset($name) && !empty($name)) {
                            ?>
                            <strong><?php echo ((!empty($transactionDetails['shipping_title'])) ? $transactionDetails['shipping_title'] . ' ' : '') . $name; ?></strong>
                            <label>
                                <?php echo $transactionDetails['shipping_address']; ?><br />
                                <?php echo $transactionDetails['shipping_city'] . ", " . $transactionDetails['shipping_state']; ?><br />
                                <?php echo $transactionDetails['shipping_country']; ?><br />
                                <?php echo $transactionDetails['shipping_postal_code']; ?>
                                <?php if (!empty($transactionDetails['shipping_phone_no'])) {
                                    ?>
                                    <br />
                                    <?php
                                    echo 'Ph. : ' . $transactionDetails['shipping_phone_no'];
                                }
                                ?>
                            </label>
                            <?php
                        } else {
                            echo "<div class='center'>N/A</div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Bill To :</div>
                    <div class="inner">
                        <?php
                        if (isset($transactionDetails['billing_first_name']) && !empty($transactionDetails['billing_first_name'])) {
                            $name = $transactionDetails['billing_first_name'] . " " . $transactionDetails['billing_last_name'];
                        } else if (isset($transactionDetails['billing_company']) && !empty($transactionDetails['billing_company'])) {
                            $name = $transactionDetails['billing_company'];
                        }

                        if (isset($name) && !empty($name)) {
                            ?>
                            <strong><?php echo ((!empty($transactionDetails['billing_title'])) ? $transactionDetails['billing_title'] . ' ' : '') . $name; ?></strong>

                            <label>
                                <?php echo $transactionDetails['billing_address']; ?><br />
                                <?php
                                if (isset($transactionDetails['billing_city']) && !empty($transactionDetails['billing_city'])) {
                                    echo $transactionDetails['billing_city'] . ", ";
                                }
                                echo $transactionDetails['billing_state'];
                                ?><br />
                                <?php echo $transactionDetails['billing_country']; ?><br />
                                <?php echo $transactionDetails['billing_postal_code']; ?>
                                <?php if (!empty($transactionDetails['billing_phone_no'])) { ?>
                                    <br />
                                    <?php
                                    echo 'Ph. : ' . $transactionDetails['billing_phone_no'];
                                }
                            } else {
                                echo "<div class='center'>N/A</div>";
                            }
                            ?>
                        </label>

                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Primary E-mail :</div>
                    <div class="inner">
                        <strong><?php echo $transactionDetails['email_id']; ?></strong>
                    </div>
                </div>
                <div class="t-box">
                    <div class="header">Payment :</div>
                    <div class="inner payment">
                        <strong>Total : <label>$ <?php echo $transactionDetails['transaction_amount']; ?></label></strong>
                        <strong>Method : <label>
						<?php if(!empty($transactionPaymentInvoice[0]['invoice_number'])){
						echo $transactionDetails['payment_mode']." - ".$transactionPaymentInvoice[0]['invoice_number'];
						}else{
							echo $transactionDetails['payment_mode'];
						}
						?></label></strong>
						

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion-detail">
    <div class="head no-img"><span>Products </span></div>
    <div id="product_content">
        <?php
        $productStatusForm = $this->productStatusForm;
        $productStatusForm->prepare();
        echo $this->form()->openTag($productStatusForm);
        ?>
        <div class="detail-section">
            <div class="common-form transaction">
                <?php
                // asd($transactionProduct);
                if (isset($transactionProduct) && !empty($transactionProduct)) {
                    ?>
                    <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh tra-view">
                        <tr>
                            <th>S / Q</th>
                            <th>Product</th>
                            <th>Item Status</th>
                            <th>SKU</th>
                            <th>Price</th>
                            <th>SubTotal</th>
                            <th>Tax</th>
                            <th>Shipping & Handling</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <th>Qty to Ship</th>
                        </tr>
                        <?php
                        $sub_total = 0;
                        foreach ($transactionProduct as $key) {
                            $sub_total = $sub_total + $key['product_sub_total'];
                            ?>
                            <tr style="<?php echo (!empty($key['wrong_menifest']))?"background:#B2B2B2":"";?>">
                                <td><?php
                    if (isset($key['shippedQty']) && !empty($key['shippedQty'])) {
                        echo $key['shippedQty'] . " / ";
                        $shp_qty = $key['product_quantity'] - $key['shippedQty'];
                    } else {
                        $shp_qty = $key['product_quantity'];
                    }
                    echo $key['product_quantity'] . "<br>";
                            ?></td>
                                <td>
                                    <?php
                                    switch ($key['tra_pro']) {
                                        case 'don' :
                                            ?>
                                            <div class="left">
                                                <strong><?php echo $key['product_name']; ?></strong>
                                                <label><?php echo $key['option_name']; ?></label>
                                            </div>
                                            <div class="action">
                                                <a href="javascript:void(0)" onclick="viewDonDetail(<?php echo $key['id']; ?>)">View Details</a>
                                            </div>
                                            <?php
                                            break;
                                        case 'bio' :
                                            ?>
                                            <div class="left">
                                                <strong><?php echo $key['product_name']; ?></strong>
                                                <br><label><?php echo $key['option_name']; ?></label>
                                                <?php
                                                if (isset($key[0]) && !empty($key[0])) {
                                                    echo "<label>" . $key[0]['final_name'] . "</label>";
                                                }
                                                ?>
                                            </div>
                                            <div class="action">
                                                <a href="javascript:void(0)" onclick="viewBioDetail(<?php echo $key['bio_product_id']; ?>)">View Details<img id="bio_img<?php echo $key['id']; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/check-green.png" <?php if ($key['stat'] == 0) { ?> style="display:none" <?php } ?> /></a>
                                                <a href="javascript:void(0)" onclick="viewBioCertificate(<?php echo $key['bio_product_id']; ?>)">View Certificate</a>
                                            </div>
                                            <?php
                                            break;
                                        case 'fof' :
                                            ?>
                                            <div class="left">
                                                <strong><?php echo $key['product_name']; ?> : <label><?php echo $key[0]['donated_by']; ?></label></strong>
                                            </div>
                                            <div class="action">
                                                <a href="javascript:void(0)" onclick="viewFofPhoto(<?php echo $key['id']; ?>,'<?php echo $this->Encrypt($transactionDetails['transaction_id']); ?>')">Approve Photo<img id="fof_img<?php echo $key['id']; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/check-green.png" <?php if ($key['stat'] == 0) { ?> style="display:none" <?php } ?> /> </a>
                                            </div>
                                            <?php
                                            break;
                                        case 'pro' :
                                            switch ($key['product_type']) {
                                                case '5' :
                                                    ?>
                                                    <div class="left">
                                                        <strong><?php
                            echo $key['product_name'] . " : <label>" . $key['option_name'] . "</label>";
                            if (isset($key['item_name']) && !empty($key['item_name'])) {
                                echo "<strong>Passenger Name: <label>" . $key['item_name'] . "</label></strong>";
                            }
                            echo '</strong>';
                            if (isset($key['item_id']) && !empty($key['item_id'])) {
                                echo "<strong>Passenger Id: <label>" . $key['item_id'] . "</label></strong>";
                            }
                                                    ?>
                                                            <!--- <strong><?php // echo 'Size:<label> ' . $key['option_name'];                             ?></label></strong> --->
                                                    </div>
                                                    <?php if (isset($key[0]['item_id']) && !empty($key[0]['item_id'])) {
                                                        ?>                                    
                                                        <div class="action">
                                                            <a href="javascript:void(0)" onclick="viewPassCertificate(<?php echo $key['id']; ?>)">View Certificate</a>
                                                        </div>
                                                        <?php
                                                    }
                                                    break;
                                                case '7' :
                                                    ?>
                                                    <div class = "left">
                                                        <strong>
                                                            <?php
                                                            $productName = $key['product_name'];
                                                            if (isset($key['manifest_info']) && !empty($key['manifest_info']))
                                                                $productName.= ' : ' . $key['manifest_info'];

                                                            echo $productName;
                                                            ?>
                                                        </strong>
                                                        <?php
                                                        if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                            $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                        else
                                                            $arrivalDate = '';
                                                        if (isset($key['manifest_type']) && !empty($key['manifest_type'])) {
                                                            if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                                echo "<strong>Passenger Name : <label>" . $key['item_name'] . "</label></strong>";
                                                                echo "<strong>Passenger Id: <label>" . $key['item_id'] . "</label></strong>";
                                                            } else {
                                                                echo "<strong>Ship Name : <label>" . $key['item_name'] . "</label></strong>";
                                                            }
                                                        }
                                                        if (isset($key[0]['REF_PAGE_LINE_NBR']) && !empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                            echo "<strong>Ref Line : <label>" . $key[0]['REF_PAGE_LINE_NBR'] . "</label></strong>";
                                                        }
                                                        if (isset($key[0]['SHIP_NAME']) && !empty($key[0]['SHIP_NAME'])) {
                                                            echo "<strong>Ship Name : <label>" . $key[0]['SHIP_NAME'] . "</label></strong>";
                                                        }
                                                        if (!isset($key[0]['REF_PAGE_LINE_NBR']) || empty($key[0]['REF_PAGE_LINE_NBR'])) {
                                                            echo "<strong>Ship Id : <label>" . $key[0]['item_id'] . "</label></strong>";
                                                        }
                                                        if (isset($key[0]['SHIP_ID']) && !empty($key[0]['SHIP_ID'])) {
                                                            echo "<strong>Ship Id : <label>" . $key[0]['SHIP_ID'] . "</label></strong>";
                                                        }
                                                        echo "<strong>Arrival Date : <label> " . $arrivalDate . "</label></strong>";
                                                        ?>
                                                    </div>
                                                    <?php
                                                    if (isset($key[0]['item_id']) && !empty($key[0]['item_id'])) {
                                                        ?>    
                                                        <div class="action">
                                                            <a href="javascript:void(0)" onclick="viewManifest('<?php echo $this->Encrypt($key['id']); ?>')">View Manifest</a>
															<a href="/download-manifest/<?php echo $this->Encrypt($key['id']); ?>">Download</a>
                                                            <a href="javascript:void(0)" onclick="showPassengerManifestImage('<?php echo $this->Encrypt($key['manifest_info']); ?>','<?php echo $this->Encrypt($key['item_info']); ?>','<?php echo $this->Encrypt($key[0]['SHIP_NAME']); ?>','<?php echo $this->Encrypt($key['item_id']); ?>')">View Carousel</a>
															<div style="padding-top:5px;">
															<?php if(empty($key['wrong_menifest'])){?>
															<a alt="Mark Wrong" class="mark_wrong_manifest" href="#mark_wrong_manifest_content" onclick="wrongManifest('<?php echo $this->Encrypt($key['id']); ?>','1')">Incorrect Manifest</a>
															<?php }else {?>
															<a alt="Mark Wrong" class="mark_wrong_manifest" href="#mark_wrong_manifest_content" onclick="wrongManifest('<?php echo $this->Encrypt($key['id']); ?>','0')">Correct Manifest</a>
															<?php }?>
															</div>
                                                        </div>

                                                        <?php
                                                    }
                                                    break;
                                                case '8' :
                                                    ?>
                                                    <div class = "left">
                                                        <strong><?php echo $key['product_name']; ?> 

                                                            <?php
                                                            if (isset($key['option_name']) && !empty($key['option_name'])) {
                                                                echo " : <label>" . $key['option_name'] . "</label></strong>";
                                                            }
                                                            if (!empty($key['item_info']) && $key['item_info'] != '0000-00-00')
                                                                $arrivalDate = $this->Dateformatalpha($key['item_info'], 'calender');
                                                            else
                                                                $arrivalDate = '';

                                                            if (isset($key['item_name']) && !empty($key['item_name'])) {
                                                                echo "<strong>Ship Name : <label>" . $key['item_name'] . "</label></strong>";
                                                            }
                                                            if (isset($key[0]['SHIPID']) && !empty($key[0]['SHIPID'])) {
                                                                echo "<strong>Ship Id : <label>" . $key['item_id'] . "</label></strong>";
                                                            }
                                                            echo "<strong>Arrival Date : <label>" . $arrivalDate . "</label></strong>";
                                                            ?>
                                                    </div>
                                                    <?php
                                                    if (isset($key[0]['SHIPID']) && !empty($key[0]['SHIPID'])) {
                                                        ?><div class="action">
                                                            <a href="javascript:void(0)" onclick="viewShipImage('<?php echo $this->Encrypt($key['id']); ?>/<?php echo $this->Encrypt("1"); ?>/<?php echo $this->Encrypt($arrivalDate); ?>/<?php echo $this->Encrypt($key['item_name']); ?>','<?php echo $key['id']; ?>')">View Ship Image</a>
                                                            <a href="javascript:void(0)" onclick="viewShipImage('<?php echo $this->Encrypt($key['id']); ?>/<?php echo $this->Encrypt("2"); ?>/<?php echo $this->Encrypt($arrivalDate); ?>/<?php echo $this->Encrypt($key['item_name']); ?>','<?php echo $key['id']; ?>')">View Ship Info</a>
                                                        </div>

                                                        <?php
                                                    }
                                                    break;
                                                default :
                                                    if ($key['item_type'] == '7') {
                                                        ?>
                                                        <div class = "left">
                                                            <strong><?php echo $key['product_name']; ?></strong>
                                                            <br><label><?php
                            if (isset($key[0]['final_name']) && !empty($key[0]['final_name'])) {
                                echo $key[0]['final_name'];
                            }
                                                        ?></label>
                                                        </div>
                                                        <div class="action">
                                                            <?php
                                                            if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                                ?>
                                                                <a href="javascript:void(0)" onclick="viewWohDetails('<?php echo $this->Encrypt($key['item_id']); ?>','<?php echo $this->Encrypt($transactionDetails['transaction_id']); ?>')">View Details <img id="woh_img<?php echo $key['id']; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/check-green.png" <?php if ($key['stat'] == 0) { ?> style="display:none" <?php } ?> /> </a>
                                                                <a href="javascript:void(0)" onclick="viewWohCertificate(<?php echo $key['item_id']; ?>)">View Certificate</a>
                                                            <?php } ?>
                                                        </div>
                                                        <?php
                                                    } else if ($key['item_type'] == '8') {
                                                        ?>
                                                        <div class = "left">
                                                            <strong><?php echo $key['product_name']; ?></strong>
                                                            <br><?php
                            if (isset($key[0]['final_name']) && !empty($key[0]['final_name'])) {
                                echo "<label>" . $key[0]['final_name'] . "</label>";
                            }
                            if (isset($key[0]['panel_no']) && !empty($key[0]['panel_no'])) {
                                echo "<label><strong>Panel # :<label>" . $key[0]['panel_no'] . "</label></strong></label>";
                            }
                                                        ?>
                                                        </div>
                                                        <div class="action">
                                                            <?php
                                                            if (isset($key['item_id']) && !empty($key['item_id'])) {
                                                                ?>
                                                                <a href="javascript:void(0)" onclick="viewWohDetails('<?php echo $this->Encrypt($key['item_id']); ?>','<?php echo $this->Encrypt($transactionDetails['transaction_id']); ?>')">View Details <img id="woh_img<?php echo $key['id']; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/check-green.png" <?php if ($key['stat'] == 0) { ?> style="display:none" <?php } ?> /> </a>
                                                                <a href="/view-panel-certificate/<?php echo $this->Encrypt($key['item_id']); ?>" >View Certificate</a> 
                                                            <?php } ?>
                                                        </div>
                                                        <?php
                                                    } else {
                                                        ?>
                                                        <div class = "left">
                                                            <strong><?php echo $key['product_name']; ?></strong>
                                                            <label><?php echo $key['option_name']; ?></label>

                                                        </div>
                                                        <?php
                                                        if (in_array($key['category_id'], $illustratedShip)) {
                                                            /*
                                                            ?>
                                                            <div class="action">
                                                                <a href="javascript:void(0)" onclick="viewImage('<?php echo $this->Encrypt($key['product_id']); ?>')">View Image</a>
                                                            </div>
                                                            <?php
                                                             * 
                                                             */
                                                        }
                                                    }
                                                    break;
                                            }
                                            break;
                                        case 'woh' :
                                            ?>
                                            <div class="left">
                                                <strong><?php echo $key['product_name']; ?></strong>
                                                <br><label><?php echo $key['option_name']; ?></label>
                                            </div>
                                            <div class="action">
                                                <?php ?>
                                                <a href="javascript:void(0)" onclick="viewWohDetails('<?php echo $this->Encrypt($key['id']); ?>','<?php echo $this->Encrypt($transactionDetails['transaction_id']); ?>')">Approve Detail <img id="woh_img<?php echo $key['id']; ?>" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/check-green.png" <?php if ($key['stat'] == 0) { ?> style="display:none" <?php } ?> /> </a>
                                                <a href="javascript:void(0)" onclick="viewWohLetter(<?php echo $key['id']; ?>)">View Letter</a>
                                                <a href="javascript:void(0)" onclick="viewWohCertificate(<?php echo $key['id']; ?>)">View Certificate</a>
                                            </div>
                                            <?php
                                            break;
                                    }
                                    ?>

                                </td>
                                <td>
                                    <?php 
									$fieldid = "product_status_" . $key['tra_pro'] . $key['id'];
									$this->formRow($productStatusForm->get('product_status[]')->setAttribute('id', $fieldid));
                                    if ($key['product_status'] > '7' || $key['product_status'] == '3' || $key['product_status'] == '5' || $key['product_status'] == '6' || $key['product_type'] == '4' || ($key['product_type']==6 && $key['stat']=='0' && $key['tra_pro'] == 'woh')) {
                                        echo $key['status_name'];
                                        $this->formRow($productStatusForm->get('product_status[]')->setAttribute('type', 'hidden'));
                                        $this->formRow($productStatusForm->get('product_status[]')->removeAttribute('class', 'e1 select-w-150'));
                                        echo $this->formRow($productStatusForm->get('product_status[]')->setValue($key['product_status']));
                                    } else {
                                        $this->formRow($productStatusForm->get('product_status[]')->setAttribute('type', 'select'));
                                        $this->formRow($productStatusForm->get('product_status[]')->setAttribute('class', 'e1 select-w-150'));
                                        echo $this->formRow($productStatusForm->get('product_status[]')->setValue($key['product_status']));
                                    }
                                    echo $this->formRow($productStatusForm->get('product_pre_status[]')->setValue($key['product_status']));
                                    ?>
                                    <?php echo $this->formRow($productStatusForm->get('product_id[]')->setValue($key['id'])); ?>
                                    <?php echo $this->formRow($productStatusForm->get('product_type_id[]')->setValue($key['tra_pro'])); ?>
                                    <?php echo $this->formRow($productStatusForm->get('product_type[]')->setValue($key['item_type'])); ?>
                                </td>
                                <td><strong><?php
                            if (isset($key['product_sku']) && !empty($key['product_sku'])) {
                                echo $key['product_sku'];
                            } else {
                                echo "N/A";
                            }
                                    ?></strong></td>
                                <td><span class="price">$&nbsp;<?php echo $this->Currencyformat($key['product_price']); ?></span></td>
                                <td><span class="price">$&nbsp;<?php echo $this->Currencyformat($key['product_sub_total']); ?></span></td>
                                <td><span class="price">$&nbsp;<?php echo $this->Currencyformat($key['product_tax']); ?></span></td>
                                <td><span class="price">$&nbsp;<?php echo $this->Currencyformat($key['shipping'] + $key['handling']); ?></span></td>
                                <td><span class="price">($&nbsp;<?php echo $this->Currencyformat($key['product_discount']); ?>)</span></td>
                                <td><?php
                                if ($key['product_status'] == '6' || $key['product_status'] == '13') {
                                    echo '<span class="price">($&nbsp;' . $this->Currencyformat($key['product_total']) . ')</span>';
                                } else {
                                    echo '<span class="price">$&nbsp;' . $this->Currencyformat($key['product_total']) . '</span>';
                                }
                                    ?></td>
                                <td><div class="relative left-0"><?php
                            if ($key['product_status'] == '4' || $key['product_status'] == '5' || $key['product_status'] == '9') {
                                echo $this->formRow($productStatusForm->get('product_qty[]')->setValue($shp_qty)->setAttributes(array('type' => 'text')));
                            } else {
                                echo "N/A";
                                echo $this->formRow($productStatusForm->get('product_qty[]')->setValue($shp_qty)->setAttributes(array('type' => 'hidden')));
                            }
                            echo $this->formRow($productStatusForm->get('product_shp_qty[]')->setValue($shp_qty));
                                    ?>
                                    </div>
                                </td>
                            </tr>
                        <?php } ?>
                    </table>
                    <div class="row no-padd">
                        <?php
                        if (isset($messages) && !empty($messages)) {
                            foreach ($messages as $message) {
                                ?>
                                <div class="error-msg">
                                    <div><p>&nbsp;</p><?php echo $message; ?></div></div>
                                <?php
                            }
                        }
                        ?>
                        <?php
                        if ($transactionDetails['transaction_status_id'] != '10' && $transactionDetails['transaction_status_id'] != '8') {
                            echo $this->formRow($productStatusForm->get('submit'));
                        }
                        ?>
                    </div>
                    <?php
                } else {
                    echo '<div class="error-msg">No Product Available !</div>';
                }
                ?>


            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
    <div class="full">
        <?php if (!empty($transactionPaymentCash) || !empty($transactionPaymentCheck) || !empty($transactionPaymentCredit) || !empty($transactionPaymentInvoice)) { ?>
            <div class="col13">
                <div class="head no-img"><span>Payment Authorized</span></div>
                <div class="detail-section">
                    <?php if ($transactionPaymentCash > 0) {
                        ?>
                        <div class="row">
                            <label class="bold">Cash</label>
                            <label>$ <?php echo $transactionPaymentCash; ?></label>
                        </div>
                    <?php } ?>
                    <?php if (!empty($transactionPaymentCheck)) { ?>

                        <table class="table-bh" width="100%">
                            <tr>
                                <th>Check No</th>
                                <th>Amount</th>
                            </tr>
                            <?php foreach ($transactionPaymentCheck as $checkInfo) { ?>
                                <tr>
                                    <td><?php echo $checkInfo['cheque_number']; ?></td>
                                    <td>$ <?php echo $checkInfo['amount']; ?></td>
                                </tr>
                            <?php } ?>
                        </table>

                    <?php } ?>
                    <?php if (!empty($transactionPaymentCredit)) { ?>
                        <table class="table-bh" width="100%">
                            <tr>
                                <th>Card Holder Name</th>
                                <th>Card No</th>
                                <th>Amount</th>
                            </tr>
                            <?php foreach ($transactionPaymentCredit as $creditInfo) { ?>
                                <tr>
                                    <td> <?php echo (isset($creditInfo['full_name']) and trim($creditInfo['full_name'])) ? ucwords($creditInfo['full_name']) : "N/A"; ?></td>
                                    <td><?php
                    echo $creditInfo['card_number'];

                    //if (isset($creditInfo['authorize_transaction_id']) && !empty($creditInfo['authorize_transaction_id'])) {
                    //echo "<br>Authorization Number: " . $creditInfo['authorize_transaction_id'];
                    //}
                                ?></td>
                                    <td>$ <?php echo $creditInfo['amount']; ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                    <?php } ?>
					   <?php if ($transactionPaymentInvoice > 0) {
                        ?>
                       <table class="table-bh" width="100%">
                            <tr>
                                <th>Invoice Number</th>
                                <th>Amount</th>
                            </tr>
                            <?php foreach ($transactionPaymentInvoice as $invoiceInfo) { ?>
                                <tr>
                                    <td><?php echo $invoiceInfo['invoice_number']; ?></td>
                                    <td>$ <?php echo $invoiceInfo['amount']; ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                    <?php } ?>
                </div>
            </div>

            <?php
        }
        if (isset($transactionReceived) && !empty($transactionReceived)) {
            ?>
            <div class="col13 right">
                <div class="head no-img"><span>Payment Received</span></div>
                <div class="detail-section">
                    <table class="table-bh" width="100%">
                        <tr>
                            <th>Batch Id</th>
                            <th>Product</th>
                            <th>Amount</th>
                            <th>Payment Type</th>
                        </tr>
                        <?php foreach ($transactionReceived as $key => $val) { ?>
                            <tr>
                                <td><?php echo (isset($val['batch_id']) && !empty($val['batch_id'])) ? $val['batch_id'] : 'N/A'; ?></td>
                                <td><?php echo $val['product_name']; ?></td>
                                <td><span class="price">$ <?php echo $this->Currencyformat($val['amount']); ?></span></td>
                                <td><?php echo $val['payment_mode']; ?></td>
                            </tr>
                        <?php } ?>
                    </table>


                    <?php
                }
                if (!empty($transactionPaymentReceiveCash) || !empty($transactionPaymentReceiveCheck) || !empty($transactionPaymentReceiveCredit)) {
                    ?>
                    <div class="transaction m-t-15">
                        <div class="row sab-totle">
                            <strong class="right align-right">
                                <?php
                                //$balance = ($transactionDetails['transaction_amount'] - $totalAmountReceived) - ($transactionDetails['cancel_amount'] + $transactionDetails['refund_amount']);
                                $balance = ($transactionDetails['transaction_amount'] - $totalAmountReceived);
                                if ($balance < 0) {
                                    echo "($ " . substr($this->Currencyformat($balance), 1) . ")";
                                } else {
                                    echo "$" . $this->Currencyformat($balance);
                                }
                                ?>
                            </strong>
                            <strong class="left">Balance :</strong>
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
        </div>
    </div>



</div>
<div class="accordion-detail">
    <div class="head no-img"><span>Amount</span></div>
    <div class="detail-section">
        <div class="common-form transaction note">
            <div class="row sab-totle">
                <strong class="right align-right">$ <?php echo $this->Currencyformat($sub_total); ?></strong>
                <strong class="left">Sub Total :</strong>
            </div>
            <div class="row sab-totle">

                <strong class="right align-right">($ <?php echo $this->Currencyformat($transactionDetails['total_discount']); ?>)</strong>
                <strong class="left">Discount :</strong>
            </div>

            <div class="row sab-totle">

                <strong class="right align-right">$ <?php echo $this->Currencyformat($transactionDetails['shipping_amount'] + $transactionDetails['handling_amount']); ?></strong>
                <strong class="left">Shipping & Handling Charge :</strong>
            </div>

            <div class="row sab-totle">

                <strong class="right align-right">$ <?php echo $this->Currencyformat($transactionDetails['total_tax']); ?></strong>
                <strong class="left">Global Tax :</strong>
            </div>
            <?php
            if (($transactionDetails['cancel_amount'] + $transactionDetails['refund_amount']) != '0') {
                ?>
                <div class="row sab-totle">

                    <strong class="right align-right">($ <?php echo $this->Currencyformat($transactionDetails['cancel_amount'] + $transactionDetails['refund_amount']+$transactionDetails['refund_shipping']+$transactionDetails['refund_tax']); ?>)</strong>
                    <strong class="left">Cancel / Return :</strong>
                </div>
            <?php } ?>

            <div class="row sab-totle no-padd ">

                <strong class="right align-right">$ <?php echo $this->Currencyformat($transactionDetails['transaction_amount'] - ($transactionDetails['cancel_amount'] + $transactionDetails['refund_amount']+$transactionDetails['refund_shipping']+$transactionDetails['refund_tax'])); ?></strong>
                <strong class="left">Purchase Total :</strong>
            </div>
        </div>
    </div>
</div>

<div class="accordion-detail">
    <div class="head no-img"><span>Cases</span>
        <?php
        $newCaselink = SITE_URL."/create-transaction-case/".$this->encrypt($transactionDetails['user_id'])."/".$this->encrypt($transactionDetails['transaction_id']);
        ?>
        <div style="margin-left:600px;">
            <input type='button' onclick="addTransactionCase('<?php echo $newCaselink; ?>');return false;" value ='Create Case' class="gray-button-case"/>
        </div>
    </div>
    <div class="detail-section">
        <?php
        $cases = $this->cases;
        ?>
            <div class="common-form transaction">
                <?php
                // asd($cases);
                if (isset($cases) && !empty($cases)) {
                    ?>
                    <table width="100%" border="0" cellspacing="0" cellpadding="10" class="table-bh tra-view">
                        <tr>
                            <th>Case #</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Status</th>
                            <th>Assigned To</th>
                            <th>Modified Date</th>
                        </tr>
                        <?php
                        foreach ($cases as $key) 
                            {
                                $caseUrl = SITE_URL.'/get-case-detail/' . $this->encrypt($key['case_contact_id']) . '/' . $this->encrypt('view');
                            ?>
                            <tr>
                                <td><a href="<?php echo $caseUrl; ?>" class="link"><?php echo $key['case_contact_id'];?></a></td>
                                <td width="300"><?php echo $this->limitText($key['case_subject'],100);?></td>
                                <td width="300"><?php echo $this->limitText($key['case_message'],100);?></td>
                                <td><?php echo $key['case_status'];?></td>
                                <td><?php echo $key['assigned_to'];?></td>
                                <td><?php echo ($key['modified_date'] == 0) ? 'N/A' : $this->Dateformatalpha($key['modified_date'], 'dateformatampm');?></td>
                            </tr>
                        <?php } ?>
                    </table>
                   
                    <?php
                } else {
                    echo '<div>No Cases for this transaction</div>';
                }
                ?>
            </div>
    </div>
</div>

<div class="accordion-detail">
    <div class="head no-img"><span>Notes</span></div>
    <div class="detail-section">
        <div class="common-form transaction note">
            <div id="notesdiv">
                <?php
                if ($this->notes !== false) {
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    for ($i = 0; isset($this->notes['note'][$i]); $i++) {
                        if (isset($this->notes['name'][$i]) and trim($this->notes['name'][$i]) != "") {
                            if ($counterAlternate == 0) {
                                $classAlternate = 'alterbg';
                                $counterAlternate = $counterAlternate + 1;
                            } else {
                                $classAlternate = 'alterbg alterbg-none';
                                $counterAlternate = 0;
                            }
                            ?>
                            <div class="row <?php echo $classAlternate; ?>">
                                <strong class="right bold m-b-10 aright">
                                    <?php
                                    if ($this->notes['note_user'][$i] == $userId) {
                                        if (isset($this->notes['note_private'][$i]) and trim($this->notes['note_private'][$i]) != "") {
                                            ?> <input <?php echo 'id = "notes_' . $this->notes['note_id'][$i] . '"'; ?> type="checkbox" checked="checked" /> <?php
                    } else {
                                            ?> <input <?php echo 'id = "notes_' . $this->notes['note_id'][$i] . '"'; ?> type="checkbox" /> <?php
                    }
                    echo "Private";
                }
                if ($this->notes['note_user'][$i] != $userId) {
                    if (isset($this->notes['note_private'][$i]) and trim($this->notes['note_private'][$i]) != "") {
                        echo "Private";
                    }
                }
                                    ?>
                                </strong>
                                <p class="text"><?php echo $this->notes['note'][$i]; ?></p>
                                <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($this->notes['date'][$i], 'dateformatampm'); ?> by <?php echo $this->notes['name'][$i]; ?></p>
                            </div>
                            <?php
                        }
                    }
                }
                ?>
            </div>
            <?php
            $transactionNoteForm = $this->transactionNoteForm;
            $transactionNoteForm->prepare();
            echo $this->form()->openTag($transactionNoteForm);
            echo $this->formRow($transactionNoteForm->get('transaction_id'));
            ?>
            <div class="row">
                <strong class="private check-abhi"><?php echo $this->formRow($transactionNoteForm->get('notify_note')); ?>Private</strong>
                <label>Note</label>
                <?php echo $this->formRow($transactionNoteForm->get('note')); ?>
            </div>
            <div class="row no-padd">

                <?php echo $this->formRow($transactionNoteForm->get('postnote')); ?>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='mark_wrong_manifest_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><span id="msg_menifest"><span></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_mark_wrong" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_mark_wrong" class="green-btn">
        </div>
    </div>
</div>