<?php
/**
 * This view is used to view fof image on cart page
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
?>
<div class="outer-wrapper">
<div class="pop-container">   
<div class="common-form">
<div class="image-box">
<img src="<?php echo $fofImage."?".time(); ?>" />
</div>
</div>
</div>
</div>