<?php
/**
 * This view is used to get tax reciept
 * @category   Zend
 * @package    Transaction_User_Search
 * @author     Icreon Tech - DG
 */

$translator = $jsLangTranslate;
?>
<div class="create-contacts tax-receipt">
    <div class="accordion-detail"> 
        <a href="javascript:void(0);" onclick="window.print();"class="print"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a>        
        <div class="head no-img"><span><?php echo $jsLangTranslate['HEAD_TAX_RECEIPT']; ?></span></div>
        <?php
        echo $receipt['receipt_body'];
        ?>
    </div>
</div>