
                <?php
                if ($contentFileName) {
                    $fileName = $contentFileName[0]['filename'];
                    $folderName = substr($fileName, 0, 9);
                    if ($contentFileName[0]['is_edited_image'] == 0) {
                        if (strtolower(substr($fileName, -3, 3)) == 'jpg')
                            $dataSource = 2;
                        else
                            $dataSource = 1;
                        $imagePathArray = array();
                        $imagePathArray['fileName'] = $fileName;
                        $imagePathArray['dataSource'] = $dataSource;
                        $imagePathArray['isThumb'] = '1';
                        $imagePath = $this->GetManifestPath($imagePathArray);
                    }
                    else
                        $imagePath = $contentFileName[0]['manifestPath'] . '/' . $fileName;
                    echo '<div style="display : block"><img src="' . $imagePath . '"/></div>';
                }
                ?>
           