<?php
/**
 * This view is used to view a transaction
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$searchResult = $this->searchResult;
?>
<div class="outer-wrapper">
    <div class="pop-container">
        <div class="pass-record">
            <ul>
                <li>
                    <label><?php echo $translator['FIRST_NAME']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_FIRST_NAME']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['LAST_NAME']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_LAST_NAME']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['NATIONALITY']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_NATIONALITY']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['LAST_RESIDENCE']; ?> :</label> 
                    <label><?php echo $searchResult['PRIN_PLACE_RESI']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['DATE_ARRIVAL']; ?> : </label>
                    <label><?php echo $this->Dateformatalpha($searchResult['DATE_ARRIVE'],'displaymothdateyear'); ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['AGE_ARRIVAL']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_AGE_ARRIVAL']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['GENDER']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_GENDER_CODE']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['MARITAL_STATUS']; ?> : </label>
                    <label><?php echo $searchResult['PRIN_MARITAL_STAT']; ?></label>
                </li>
                <li  >
                    <label><?php echo $translator['SHIP_TRAVEL']; ?> : </label>
                    <label><?php echo $searchResult['SHIP_NAME']; ?></label>
                </li>
                <?php
                if(!empty($searchResult['DEP_PORT_NAME'])) {
                ?>
                <li>
                    <label><?php echo $translator['PORT_DEPARTURE']; ?> : </label>
                    <label><?php echo $searchResult['DEP_PORT_NAME']; ?></label>
                </li>
                <?php
                    }
                ?>
                <li  >
                    <label><?php echo $translator['MANIFEST_LINE_NUMBER']; ?> : </label>
                    <label><?php echo $searchResult['REF_PAGE_LINE_NBR']; ?></label>
                </li>
            </ul>
        </div>
    </div>
</div>


