<?php
/**
 * This view is used to show woh letter
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<style>
    p{font-size:14px !important;}
    .print{position:absolute; top:30px; right:30px}
</style>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="print" rel="stylesheet" type="text/css">
<div class="outer-wrapper">
    <div class="pop-container">
        <a href="javascript:void(0);" onclick="window.print();"class="print"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a>     
        <h3 style="height:150px;"></h3>
        <div class="common-form view-certificat-small">
            <a href="javascript:void(0);" onclick="window.print();"class="print"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a>      
            <div class="row">
                <label class="width100" style="font-style:italic"><?php echo $translator['T_CERTIFICATE_1'] ?></label>
                <label class="name"><?php echo $searchResult['final_name']; ?></label>
            </div>
            <?php
            if ($searchResult['origin_country'] != 'United States of America') {
                ?>
                <div class="row">
                    <label class="width100" style="font-style:italic"><?php echo $translator['T_CERTIFICATE_2'] ?></label>
                    <label class="name"><?php echo $searchResult['origin_country']; ?> </label>
                </div>
                <p class="center"><?php echo $translator['T_CERTIFICATE_3'] ?></p>
            <?php } 
            else { ?>
                <p class="center"><?php echo $translator['T_CERTIFICATE_4'] ?></p>
            <?php                   
            }
            ?>
        </div>
    </div>
</div>

