<?php
/**
 * This view is used to view don details
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var Id = "'.$id. '";';

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.don.details.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="outer-wrapper">
    <div class="pop-container">
        <h3>Donation</h3>
        <div class="common-form arrivals-archive">
            <div class="row">
                <label><?php echo $translator['DONATION_DONATED_FOR']; ?></label> 
                <?php echo $this->formRow($form->get('in_honoree')); ?>
            </div>
            <div class="row" id="honor_name" <?php if($searchResult['honoree_type'] == '3'){ echo "style = display:none;" ;} ?>>
                <label><?php echo $translator['NAME']; ?></label> 
                <?php echo $this->formRow($form->get('honor_memory_name')); ?>
            </div>
            <div class="row">
                <label></label>
                <?php echo $this->formRow($form->get('donationaddtocart')); ?>
            </div>
        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>