<?php
/**
 * This view is used to show woh letter
 * @package    Transaction
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<style>
    .outer-wrapper{width:600px; float:none; margin:auto}
</style>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/crm.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="print" rel="stylesheet" type="text/css">
<div class="outer-wrapper">
    <div class="pop-container">
        <a href="javascript:void(0);" onclick="window.print();" class="print"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/print.png"></a>     
        <h3>View letter</h3>
        <div class="common-form"  id="print-transaction-inner">

            <div class="row latter-name">
                <label><?php echo $searchResult['title']; ?>&nbsp; <?php echo $searchResult['full_name']; ?></label>
            </div>
            <div class="row dn">
                <label><?php echo $searchResult['address']; ?></label>
            </div>
            <p class="aleft"><?php echo $translator['T_LETTER_CONTENT'] ?></p>
            <p class="aleft"><?php echo $translator['T_LETTER_CONTENT1'] ?></p>
            <div class="row latter-name">
                <label><?php echo $translator['YOUR_CONTRIBUTION'] ?> :</label>  
                <label style="font-weight:bold"><?php echo "$ " . $searchResult['product_total']; ?></label>
            </div>
            <p class="aleft"><?php echo $translator['T_LETTER_THANK'] ?></p>
            <div class="row latter-name">
                <label style="margin:0px;"><?php echo $searchResult['final_name']; ?> </label>
            </div>
            <div class="row latter-name" >
                <label><?php echo $searchResult['origin_country']; ?></label>
            </div>
            <p class="aleft"><?php echo $translator['T_INFO'] ?></p>
        </div>
    </div>
</div>