<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/product/shop.fe.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/add-to-cart-front.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-header">
    <div class="container">
        <h1>Wish List</h1>
    </div>
</div>
<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="col5 rightsection omega clearfix">
                <div class="block suggest-box m-t-none white-bg m-b-30">
                    <div class="content">
                        <?php $uploadedFilePathProduct ?>

                        <h1>May we suggest</h1>
                        <?php
                        $val = $getProduct[0];
                        if ($val['image_name'] != '') {
                            $fileName = $uploadedFilePathProduct . "/" . $val['image_name'];
                            $filePath = $assetsUploadDirProduct . "/" . $val['image_name'];
                            if (file_exists($filePath)) {
                                $rightProductImageTag = '<img src="' . $fileName . '" class="float-left">';
                            } else {
                                $rightProductImageTag = '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                            }
                        } else {
                            $rightProductImageTag = '<img class="float-left" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/no_image_product.jpg">';
                        }
                        ?>
                        <div class="full"><a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($val['product_id']) ?>"><?php echo $rightProductImageTag; ?></a></div>

                        <p class="text-full clearfix"> 
                            <strong><a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($val['product_id']) ?>"><?php echo $val['product_name']; ?></a></strong><br>
                            <span class="maywesuggest_product_description1"><?php if(isset($val['product_description']) and trim($val['product_description']) != "" and strlen($val['product_description']) > 52) { echo substr($val['product_description'], 0,52); } else { echo $val['product_description']; } ?></span> 
                            <?php if(isset($val['product_description']) and trim($val['product_description']) != "" and strlen(trim($val['product_description'])) > 52) { ?>
                              <span class="maywesuggest_product_description2" style="display:none;"><?php echo $val['product_description']; ?></span> 
                              <span><a style="cursor:pointer;" id="maywesuggest_product_description_more" class="blue more">MORE +</a></span>
                            <?php } ?>                           
                        </p>
                        <br>
                        <strong class="price"> Price $<?php echo $val['product_sell_price']; ?></strong><br>

                        <?php
                            if (!empty($discount)) {
                                $calDiscount = $this->Roundamount(($val['product_sell_price'] * $discount) / 100);
                                $price = $val['product_sell_price'] - $calDiscount;
                        ?>

                                <strong class="mem-price clearfix">Member price $<?php echo $this->Currencyformat($price); ?></strong><br>
                        <?php } ?>
                            <input type="text" value="1" class="add-input" id="quantity_<?php echo $val['product_id']; ?>">
                            <a href="#" onclick="addtocart('<?php echo $val['product_id']; ?>')" class="button pink">ADD TO CART</a></div>
                    </div>
                    <div class="home-add m-b-30">
                        <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                    </div>
                </div>
                <div class="block col11 alpha shopping-cart white-bg" id="wishlist">

                </div>
            </div>
        </div>
    </div>
    <div style='display:none'>
        <div id='deletewishlist' class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2><?php echo $translator['DELETE_WISHLIST']; ?></h2>
        <div class="button-row" style="width:147px !important">
            <div class="right">
                <input type="button" value="Yes" name="yes" id="yes_delete_wishlist" class="button semibold">
                <input type="button" value="No" name="no" id="no_delete_wishlist" class="button semibold">
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    setTimeout("getwishlist();","1000");
});

function getwishlist(){
    showAjxLoader();
    $.ajax({
        type:"POST",
        url:
        "/wishlist-product",
        success:function(responseData){
            hideAjxLoader();
            $("#wishlist").html(responseData)
        }
    })
}

</script>











