<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$script = <<<EOD
$(document).ready(function() { 
    $("select").select2();
});
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependScript($var);
?>
<div class="content">
    <form method="post" id="add_cart">
        <div class="common-detail-section">
                    <div class="box">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <th class="th-wdth-25"><?php echo 'Products'; ?></th>
                                    <th class="th-wdth-5"><?php echo 'Price'; ?></th>
                                    <th class="th-wdth-5"><?php echo 'Remove'; ?></th>
                                    <th class="th-wdth-5"><?php echo 'View'; ?></th>
                                    <th width="150" align="right">&nbsp;</th>                                    
                                </tr>        
        
            <?php
            $subamount = 0;
            if (!empty($cartlist1)) {
                $path = $upload_file_path['assets_url'] . 'product/thumbnail/';
                foreach ($cartlist1 as $cartProduct) {

                    if ($cartProduct['product_type_id'] == 1) {
                        $productLabel = $cartProduct['product_name'];
                    } else if ($cartProduct['product_type_id'] == 2) {
                        $productLabel = $cartProduct['product_type'];
                    } else if ($cartProduct['product_type_id'] == 3) {
                        $productLabel = $cartProduct['product_name'];
                    } else if ($cartProduct['product_type_id'] == 4) {
                        $productLabel = $cartProduct['product_name'];
                    } else if ($cartProduct['product_type_id'] == 5) {
                        $productLabel = $cartProduct['product_name'];
                    } else if ($cartProduct['product_type_id'] == 6) {
                        $productLabel = $cartProduct['product_name'] . "<br />" . $cartProduct['product_option_name'];
                    } else if ($cartProduct['product_type_id'] == 7) {
                        $productLabel = $cartProduct['product_name'];
                    } else if ($cartProduct['product_type_id'] == 8) {
                        $productLabel = $cartProduct['product_name'];
                    }

                    if ($cartProduct['product_mapping_id'] == 5) {
                        $productLabel = $cartProduct['product_name'];
                    }

                    if (!empty($cartProduct['image_name'])) {
                        $imgSrc = $path . $cartProduct['image_name'];
                    } else {
                        $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/cart-img2.jpg';
                    }
            ?>

                                <tr>
                                    
                                    <td><?php echo $productLabel; ?></td>
                                    <td>$<?php
					                    $cartProduct['product_qty'] = !empty($cartProduct['product_qty']) ? $cartProduct['product_qty'] : 1;
					                    echo $productPrice = $this->Currencyformat($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']);
					                    $totalPrice = ($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']) * $cartProduct['product_qty'];
						            ?></td>
                            <td><a href="#deletewishlist" onclick="removefromwishlist('<?php echo $cartProduct['cart_id'] ?>','<?php echo $cartProduct['product_type_id'] ?>')" class="close delete_cart_product" alt="Remove from Wishlist" title="Remove from Wishlist"></a>
                            </td>
                            <td>
                                <a href="/shop/<?php echo $this->Encrypt(0) ?>/<?php echo $this->Encrypt($cartProduct['product_id']) ?>" alt="View Details" title="View Details"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/search-icon3.png"></a>
                            </td>
                            <td><a class="button" href="javascript:void(0)" onclick="addtocartwishlist('<?php echo $cartProduct['product_id'] ?>','<?php echo $cartProduct['cart_id'] ?>','<?php echo $cartProduct['product_type_id'] ?>')">Add to cart</a></td>
                        </tr>
                   
            <?php
                            }
                        } else {
                            echo '<div class="no-record">Empty Wishlist</div>';
                        } ?>
 </tbody>
                </table>
            </div>        
        
        </div>
       
    </form>
</div>
  <div class="cart-box button-row wishlist">
			<div class="left more-shopping">
            <select onchange="javascript:if(this.value != '') { window.location.href = this.value; }">
					<option value=" ">More shopping</option>
                                        <option value="/donate">Donation</option>
                                        <option value="/member-benefit">Membership</option>
                                        <option value="/passenger">Passenger Search</option>
                                        <option value="/add-woh">Wall of Honor</option>
                                        <option value="/add-fof-image">Flag of Faces</option>
                                        <option value="/shop">Shop</option>
			</select></div>
<input type="button" class="button semibold green" value="Continue Shopping" onclick="location.href='/shop'" name="" style="display:none">
</div> 