<?php
/**
 * This page is used for create lead
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= ' var contact_id = "' . $contact_id . '";';
echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/lead/lead.create.js?v='.$this->layout()->getVariable('jsVersion'));
?>  
<script>
    $(document).ready(function() {
        $('.accordion-detail .head:first').addClass('active')
        $('.detail-section').eq(0).show();
        $('.detail-section:not(:first)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
    });
</script>
<style>
    #load_address_section .col1{width:45%}
</style>   
<div class="create-contacts create-contact-page">
    <h2><?php echo $translator['L_LEAD']; ?></h2>
    <div class="breadcrumb">	 
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->create_lead_form;
        $form->setAttribute('onSubmit', 'return checkCustomValidation()');

        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head"><span><?php echo $translator['L_LEAD_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_LEAD_TYPE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('lead_type'));
                        foreach ($lead_typeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='lead_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_LEAD_SOURCE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('lead_source'));
                        foreach ($lead_sourceDesc AS $key1 => $val1) {
                            if (isset($val1) && !empty($val1))
                                echo "<div class='lead_source" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_OPPORTUNITY_AMOUNT']; ?></label>
                        <?php echo $this->formRow($form->get('opportunity_amount')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_STATUS']; ?></label>
                        <div class="m-t-8 radio-label">
                            <?php echo $this->formRow($form->get('status')); ?>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGN_TO']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('assigned_to')); ?>

                        <?php echo $this->formRow($form->get('assigned_to_id')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['ESTIMATED_TIME_FRAME']; ?></label>
                        <?php echo $this->formRow($form->get('estimated_time_frame')); ?>
                    </div>
                </div>
                <div class="row" style="display:none;" id="compaign_div">
                    <div class="col1">
                        <label><?php echo $translator['L_LEAD_CAMPAINGN']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('campaign')); ?>
                        <?php echo $this->formRow($form->get('campaign_id')); ?>
                    </div>
                </div>
            </div>
        </div>
        <?php
        if (!empty($this->case_contact_id)) {
            echo $this->formRow($form->get('case_contact_id')->setValue($this->case_contact_id));
            ?>
            <div class="head"><span><?php echo $translator['L_CASE_INFORMATION']; ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CONTACT_NAME']; ?></label>						 
                            <span class="view-text"><?php echo $caseDetails['contact_name']; ?></span>

                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CASE_SUBJECT']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['subject']; ?></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CASE_TYPE']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['case_type_name']; ?></span>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CASE_STATUS']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['case_status_name']; ?></span>                        
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="head"><span><?php echo $translator['L_CONTACT_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('contact_name')); ?>

                        <?php echo $this->formRow($form->get('contact_name_id')->setValue($contact_id)); ?>

                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_TITLE']; ?></label>
                        <input type="text" name="title" value="" id="title" readOnly="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FIRST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('first_name')->setAttribute('readOnly', 'true')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_MIDDLE_INIT']; ?></label>
                        <?php echo $this->formRow($form->get('middle_name')->setAttribute('readOnly', 'true')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_LAST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('last_name')->setAttribute('readOnly', 'true')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_SUFFIX']; ?></label>
                        <input type="text" name="suffix" value="" id="suffix" readOnly="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_EMAIL_ADDRESS']; ?></label>
                        <?php echo $this->formRow($form->get('email_address')->setAttribute('readOnly', 'true')); ?>
                    </div>
                </div>
                <div class="row no-padd phone-row" id="phoneno_div">
                    <?php echo $this->formRow($form->get('phoneno')->get('phone_index')->setValue(0)); ?> 
                    <?php $i = 0; ?>
                    <div class="row contact-repeat-row container<?php echo $i ?>">
                        <div class="phone-label">
                            <label class="type"><?php echo $translator['L_TYPE']; ?></label>
                            <label class="country" style="padding-left:100px !important"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                            <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                            <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
                        </div>
                        <div class="row no-padd">
                            <label><?php echo $translator['L_PHONE']; ?></label>
                            <input type="text" class="width-125" id="phone_type" name="phone_type[]" value="" readOnly="true">
                            <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('country_code[]')->setAttribute('readOnly', 'true')); ?></span>
                            <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('area_code[]')->setAttribute('readOnly', 'true')); ?></span>                                     
                            <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('phone_no[]')->setAttribute('readOnly', 'true')); ?></span>
                        </div>   
                    </div>
                    <div id="count_div" style="display:none;"><?php echo $i; ?></div>			        
                </div>
            </div>
            <div class="common-form">
                <div id="load_address_section" style="display:block;">
                    <?php $i = 0; ?>
                    <div class="address address_container<?php echo $i ?>" style="display:block;">
                        <div id="load_contact_section_<?php echo $i; ?>" class="row" style="display:none;">
                            <div class="col14">
                                <input type="hidden" id="addresContanier" value="addressRow<?php echo $i ?>">
                                <label><?php echo $translator['L_SELECT_CONTACT'] ?></label>
                                <?php echo $this->formRow($form->get('addressinfo_search_contact[]')->setAttribute('id', 'address_search_contact' . $i)); ?> 
                            </div>
                        </div>
                        <div class="row no-padd" style="display:block" id="addressRow<?php echo $i ?>">

                            <div class="row">
                                <div class="col1">
                                    <label><?php echo $translator['L_ADDRESS'] ?></label>
                                    <?php echo $this->formRow($form->get('street_address')->get('addressinfo_street_address_1[]')->setAttribute('readOnly', 'true')); ?> 
                                </div>
                                <div class="col1 right">
                                    <label><?php echo $translator['L_STATE'] ?></label>
                                    <?php echo $this->formRow($form->get('street_address')->get('addressinfo_state[]')->setAttribute('readOnly', 'true')); ?> </div>
                            </div>
                            <div class="row">
                                <div class="col1">
                                    <label><?php echo $translator['L_CITY'] ?></label>
                                    <?php echo $this->formRow($form->get('street_address')->get('addressinfo_city[]')->setAttribute('readOnly', 'true')); ?> 
                                </div>
                                <div class="col1 right">
                                    <label><?php echo $translator['L_ZIP'] ?></label>
                                    <?php echo $this->formRow($form->get('street_address')->get('addressinfo_zip[]')->setAttribute('readOnly', 'true')); ?>
                                </div>

                            </div>
                            <div class="row no-padd">
                                <div class="col1">
                                    <label><?php echo $translator['L_COUNTRY'] ?></label>
                                    <input type="text" name="addressinfo_country[]" value="" id="addressinfo_country" readOnly="true">
                                </div>
                            </div>

                            <?php $i++; ?>
                        </div>

                        <div id="count_address_div" style="display:none;"><?php echo $i; ?></div>                 
                    </div>
                </div>
            </div>
        </div>

        <div class="head"><span><?php echo $translator['L_NOTES']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <label class="no-padd"><?php echo $translator['L_NOTES']; ?></label>
                    <?php echo $this->formRow($form->get('notes')); ?>
                </div>
                <?php if ($addPrivateNotePermission == 1) { ?>
                    <div class = "row1 no-padd">
                        <div class = "col1">
                            <label>&nbsp;
                            </label>
                            <?php echo $this->formRow($form->get('is_private'));
                            ?>
                            <label for="is_private" class="text check"><?php echo $translator['L_PRIVATE']; ?></label> 
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="common-form p-b-30 p-t-10"> 
            <div class="col1  m-t-20 p-b-20">
                <?php echo $this->formRow($form->get('save')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>