<?php
/**
 * This view is used to search lead for admin
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $this->jsLangTranslate;

$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->captureEnd();

?>
<div class="breadcrumb contact-breadcrumb">	 
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div> 
<script><?php echo $var;?></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/lead/contact.lead.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
<form id="contactlead" name="contactlead" action="">
<input type="hidden" name="user_id" id="user_id" value="<?php echo $user_id;?>">
</form>
<div class="grid-section">
    <div class="top-section"></div>
    <div class="search-results">
        <h3>Leads</h3>
        <p>If you want to create a Lead for this contact, try <a href="/create-lead/<?php echo $user_id;?>">Create New Lead</a>.</p>

    </div>
    
    <div class="grid-box">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>