<?php
/**
 * This page is used for edit lead
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var lead_id="' . $encrypt_lead_id . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';
$var .=' var tableName="' . $this->Encrypt($tableName) . '";';
$var .=' var tableField="' . $this->Encrypt($tableField) . '";';
$var .=' var lead_reason_type_id="' . $lead_data['lead_reason_type_id'] . '";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();
?>
<?php
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/lead/lead.edit.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script>
    $(document).ready(function() {
        $('.accordion-detail .head:first').addClass('active')
        $('.detail-section').eq(0).show();
        $('.detail-section:not(:first)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
    });
</script>
<style>
    #load_address_section .col1{width:45%}
    #phoneno_div {width:100% !important}
</style> 
<div class="create-contacts create-contact-page">
    <h2>
        <?php echo $translator['L_LEAD']; ?>
        <?php
        if (isset($contactName) and trim($contactName) != "") {
            echo '<div class="user-name-top">' . trim($contactName) . '</div>';
        }
        ?>
    </h2>

    <div class="breadcrumb case">	 
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <ul class="edit-link">
        <li><a id="tab-1" href="/view-lead/<?php echo $encrypt_lead_id . "/" . $mode; ?>;">Details</a></li>
        <li><a id="tab-2" href="javascript:void(0);" class="active">Edit</a></li>
     <!--   <li><a href="/activities/<?php echo $encrypted_contact_name_id; ?>/<?php echo $encrypted_source_type_id; ?>" id="tab-3" ><?php echo $translator['L_ACTIVITES'] . " (" . $totalActivityCount . ")"; ?></a></li>-->
        <li><a id="tab-14" href="javascript:void(0);" onClick="leadChangelog();">Change Log</a></li>
    </ul>
    <div class="accordion-detail" id="contact_content">
        <?php
        $form = $this->edit_lead_form;
        $form->prepare();
        $form->setAttribute('onSubmit', 'return checkCustomValidation()');
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('lead_id'));
        ?>
        <div class="head"><span><?php echo $translator['L_LEAD_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_LEAD_TYPE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('lead_type'));
                        foreach ($lead_typeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='lead_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_LEAD_SOURCE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('lead_source'));
                        foreach ($lead_sourceDesc AS $key1 => $val1) {
                            if (isset($val1) && !empty($val1))
                                echo "<div class='lead_source" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_OPPORTUNITY_AMOUNT']; ?></label>
                        <?php echo $this->formRow($form->get('opportunity_amount')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_STATUS']; ?></label>
                        <div class="m-t-8  radio-label">
                            <?php echo $this->formRow($form->get('status')->setValue($lead_data['status'])); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGN_TO']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('assigned_to')); ?>

                        <?php echo $this->formRow($form->get('assigned_to_id')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['ESTIMATED_TIME_FRAME']; ?></label>
                        <?php echo $this->formRow($form->get('estimated_time_frame')); ?>
                    </div>
                </div>
                <div class="row no-padd" style="display:none;" id="compaign_div">
                    <div class="col1">
                        <label><?php echo $translator['L_LEAD_CAMPAINGN']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('campaign')->setValue($lead_data['campaign'])); ?>
                        <?php echo $this->formRow($form->get('campaign_id')->setValue($lead_data['campaign_id'])); ?>
                    </div>
                </div>
            </div>
        </div>
        <?php if (!empty($lead_data['case_contact_id'])) { ?>
            <div class="head"><span><?php echo $translator['L_CASE_INFORMATION']; ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CONTACT_NAME']; ?></label>						 
                            <span class="view-text"><?php echo $caseDetails['contact_name']; ?></span>

                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CASE_SUBJECT']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['subject']; ?></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CASE_TYPE']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['case_type_name']; ?></span>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CASE_STATUS']; ?></label>
                            <span class="view-text"><?php echo $caseDetails['case_status_name']; ?></span>                        
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="head"><span><?php echo $translator['L_CONTACT_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <?php
                    if ($lead_data['contact_last_name'] == '' && $lead_data['contact_company_name'] != '')
                        $style = 'style="display:none;"';
                    else
                        $style = '';
                    ?>
                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>
                        <div class="search-input-bg">
                            <?php echo $this->formRow($form->get('contact_name')); ?>
                            <input name="" type="button" class="search-btn">
                            <?php echo $this->formRow($form->get('contact_name_id')); ?>
                        </div>
                    </div>                    
                    <div class="col1 right" <?php echo $style; ?>>
                        <label><?php echo $translator['L_TITLE']; ?></label>
                        <input type="text" name="title" id="title" value="<?php echo $lead_data['contact_title']; ?>" readOnly="true">
                    </div>
                </div>
                <div class="row" <?php echo $style; ?>>
                    <div class="col1">
                        <label><?php echo $translator['L_FIRST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('first_name')->setAttribute('readOnly', 'true')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_MIDDLE_INIT']; ?></label>
                        <?php echo $this->formRow($form->get('middle_name')->setAttribute('readOnly', 'true')); ?>
                    </div>
                </div>
                <div class="row" <?php echo $style; ?>>
                    <div class="col1">
                        <label><?php echo $translator['L_LAST_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('last_name')->setAttribute('readOnly', 'true')); ?>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_SUFFIX']; ?></label>
                        <input type="text" name="suffix" id="suffix" value="<?php echo $lead_data['contact_suffix']; ?>" readOnly="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_EMAIL_ADDRESS']; ?></label>
                        <?php echo $this->formRow($form->get('email_address')->setAttribute('readOnly', 'true')); ?>
                    </div>
                </div>
                <div class="row phone-row" id="phoneno_div">
                    <?php echo $this->formRow($form->get('phoneno')->get('phone_index')); ?> 
                    <?php
                    $i = 0;
                    //$lead_phone_info = array();
                    if (!empty($lead_phone_info)) {
                        if (count($lead_phone_info) == 1 || count($lead_phone_info) == 0) {
                            $styler = "style='display:none;'";
                        } else {
                            $styler = "style='display:block;'";
                        }
                        foreach ($lead_phone_info as $key => $val) {
                            ?>					
                            <div class="row contact-repeat-row container<?php echo $i; ?>">
                                <div class="phone-label">
                                    <label class="type"><?php echo $translator['L_TYPE']; ?></label>
                                    <label class="country" style="padding-left:100px !important"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                                    <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                                    <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
                                </div>
                                <div class="row no-padd">
                                    <label><?php
                    if ($i == 0) {
                        echo $translator['L_PHONE'];
                    }
                            ?></label>
                                    <span class="rel-auto"><input type="text" class="width-125" id="phone_type" name="phone_type[]" value="<?php echo $val['type']; ?>" readOnly="true"></span>
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('country_code[]')->setAttribute('readOnly', 'true')->setValue($val['country_code'])); ?></span>
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('area_code[]')->setAttribute('readOnly', 'true')->setValue($val['area_code'])); ?></span>                                     
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('phone_no[]')->setAttribute('readOnly', 'true')->setValue($val['phone_number'])); ?></span>
                                </div>	
                            </div>					 
                            <?php
                        }
                        ?>
                        <div id="count_div" style="display:none;"><?php echo $i; ?></div>		
                    <?php } else { ?>
                        <div class="row no-padd phone-row" id="phoneno_div">
                            <?php $i = 0; ?>
                            <div class="row contact-repeat-row container<?php echo $i ?>">
                                <div class="phone-label">
                                    <label class="type"><?php echo $translator['L_TYPE']; ?></label>
                                    <label class="country" style="padding-left:100px !important"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                                    <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                                    <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
                                </div>
                                <div class="row no-padd">
                                    <label><?php echo $translator['L_PHONE']; ?></label>
                                    <span class="rel-auto"><input type="text" class="width-125" id="phone_type" name="phone_type[]" value="" readOnly="true"></span>
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('country_code[]')->setAttribute('readOnly', 'true')); ?></span>
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('area_code[]')->setAttribute('readOnly', 'true')); ?></span>                                     
                                    <span class="rel-auto"><?php echo $this->formRow($form->get('phoneno')->get('phone_no[]')->setAttribute('readOnly', 'true')); ?></span>
                                </div>   
                            </div>			        
                        </div>
                        <div id="count_div" style="display:none;"><?php echo $i; ?></div>
                    <?php } ?> 					 
                </div> 	
                <div id="load_address_section">
                    <?php
                    $i = 0;
                    //$lead_address_info = array();
                    if (!empty($lead_address_info)) {
                        $strlocationData = '';
                        foreach ($lead_address_info as $k => $val) {
                            if ($i == $k) {
                                $strlocationData = $val['location_name'];
                                $locationArr = explode(',', $val['location_name']);
                                if (in_array('1', $locationArr)) {
                                    $isPrimaryChecked = 1;
                                } else {
                                    $isPrimaryChecked = 0;
                                }
                                if (in_array('2', $locationArr)) {
                                    $isBillingChecked = 1;
                                } else {
                                    $isBillingChecked = 0;
                                }
                                if (in_array('3', $locationArr)) {
                                    $isShippingChecked = 1;
                                } else {
                                    $isShippingChecked = 0;
                                }
                                if (!empty($strlocationData)) {
                                    $strlocationData = $val['location_name'];
                                } else {
                                    $strlocationData = "";
                                }
                                ?>
                                <div class="address address_container<?php echo $i ?>" style="display:block;">
                                    <div id="load_contact_section_<?php echo $i; ?>" class="row" style="display:none;">
                                        <div class="col14">
                                            <input type="hidden" id="addresContanier" value="addressRow<?php echo $i ?>">
                                            <label><?php echo $translator['L_SELECT_CONTACT'] ?></label>
                                            <?php echo $this->formRow($form->get('addressinfo_search_contact[]')->setAttribute('id', 'address_search_contact' . $i)); ?> 
                                        </div>
                                    </div>
                                    <div class="row" style="display:block" id="addressRow<?php echo $i ?>">

                                        <div class="row">
                                            <div class="col1">
                                                <label><?php echo $translator['L_ADDRESS'] ?></label>
                                                <?php echo $this->formRow($form->get('street_address')->get('addressinfo_street_address_1[]')->setValue($val['street_address_one'])->setAttribute('readOnly', 'true')); ?> 
                                            </div>

                                            <div class="col1 right">
                                                <label><?php echo $translator['L_STATE'] ?></label>
                                                <?php echo $this->formRow($form->get('street_address')->get('addressinfo_state[]')->setAttribute('readOnly', 'true')->setValue($val['state'])); ?>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col1">
                                                <label><?php echo $translator['L_CITY'] ?></label>
                                                <?php echo $this->formRow($form->get('street_address')->get('addressinfo_city[]')->setValue($val['city'])->setAttribute('readOnly', 'true')); ?> 
                                            </div>
                                            <div class="col1 right">
                                                <label><?php echo $translator['L_COUNTRY'] ?></label>
                                                <input type="text" name="addressinfo_country[]" id="addressinfo_country" value="<?php echo $country_list[$val['country_id']]; ?>" readOnly="true">
                                            </div>
                                        </div>
                                        <div class="row no-padd">
                                            <label><?php echo $translator['L_ZIP'] ?></label>
                                            <?php echo $this->formRow($form->get('street_address')->get('addressinfo_zip[]')->setValue($val['zip_code'])->setAttribute('readOnly', 'true')); ?>
                                        </div>
                                    </div>

                                </div> 
                                <?php
                            }
                        }
                        echo '<div id="count_address_div" style="display:none;">' . $i . '</div>';
                    } else {
                        ?>
                        <div class="address address_container<?php echo $i ?>" style="display:block;">
                            <div class="row" style="display:block" id="addressRow<?php echo $i ?>">

                                <div class="row">
                                    <div class="col1">
                                        <label><?php echo $translator['L_ADDRESS'] ?></label>
                                        <?php echo $this->formRow($form->get('street_address')->get('addressinfo_street_address_1[]')->setAttribute('readOnly', 'true')); ?> 
                                    </div>
                                    <div class="col1 right">
                                        <label><?php echo $translator['L_STATE'] ?></label>
                                        <?php echo $this->formRow($form->get('street_address')->get('addressinfo_state[]')->setAttribute('readOnly', 'true')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col1">
                                        <label><?php echo $translator['L_CITY'] ?></label>
                                        <?php echo $this->formRow($form->get('street_address')->get('addressinfo_city[]')->setAttribute('readOnly', 'true')); ?> 
                                    </div>
                                    <div class="col1 right">
                                        <label><?php echo $translator['L_COUNTRY'] ?></label>
                                        <input type="text" name="addressinfo_country[]" id="addressinfo_country" value="" readOnly="true">
                                    </div>
                                </div>
                                <div class="row">
                                    <label><?php echo $translator['L_ZIP'] ?></label>
                                    <?php echo $this->formRow($form->get('street_address')->get('addressinfo_zip[]')->setAttribute('readOnly', 'true')); ?>
                                </div>

                            </div>							
                            <div id="count_address_div" style="display:none;"><?php echo $i; ?></div>
                        </div>
                    <?php } ?>
                </div>	
            </div>
        </div>
        <div class="head"><span><?php echo $translator['L_NOTES']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <fieldset>
                    <?php
                    if (!empty($lead_notes)) {
                        $counterAlternate = 0;
                        $classAlternate = 'alterbg';
                        foreach ($lead_notes as $val) {
                            if ((isset($val['is_private']) && $val['is_private'] == 1 && $viewPrivateNotePermission == 1) || (isset($val['is_private']) && $val['is_private'] == '0')) {
                                if ($counterAlternate == 0) {
                                    $classAlternate = 'alterbg';
                                    $counterAlternate = $counterAlternate + 1;
                                } else {
                                    $classAlternate = 'alterbg alterbg-none';
                                    $counterAlternate = 0;
                                }
                                ?>
                                <div class="row <?php echo $classAlternate; ?>">
                                    <strong class="right bold m-b-10 aright">
                                        <?php
                                        if ($val['added_by'] == $userId) {
                                            if (isset($val['is_private']) && trim($val['is_private']) == "1") {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" checked="checked" /> <?php
                        } else {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" /> <?php
                        }
                        echo "Private";
                    }
                    if ($val['added_by'] != $userId) {
                        if (isset($val['is_private']) && trim($val['is_private'][$i]) == "0") {
                            echo "Private";
                        }
                    }
                                        ?>
                                    </strong>
                                    <p class="text"><?php echo $val['note']; ?></p>
                                    <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($val['added_date'], 'dateformatampm'); ?> by <?php echo $val['crm_first_name']; ?></p>
                                </div>
                                <?php
                            }
                        }
                    }
                    ?>
                    <div class="row no-padd">
                        <div class="row">
                            <label class="no-padd"><?php echo $translator['L_NOTES'] ?></label>
                            <?php echo $this->formRow($form->get('notes')); ?>
                        </div>
                        <?php if ($addPrivateNotePermission == 1) { ?>
                            <div class="row no-padd">
                                <label>&nbsp;</label>					
                                <?php echo $this->formRow($form->get('is_private')); ?>
                                <label for="is_private" class="text check"><?php echo $translator['L_PRIVATE']; ?></label>
                            </div>
                        <?php } ?>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="common-form p-b-10 p-t-10"> 
            <div class="col1  m-t-10 p-b-20">
                <?php echo $this->formRow($form->get('continue')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
            </div>
        </div>
        <div style='display:none' class="lead_edit_div">
            <div id='lead_edit' class="pop-container common-form" style="width:89%;margin-top: 20px">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <div class="row">
                    <label><?php echo $translator['L_LEAD_REASON']; ?></label>
                    <?php echo $this->formRow($form->get('lead_reason_type')->setValue($lead_data['lead_reason_type_id'])); ?>
                </div>
                <div class="row" style="display:none;" id="lead_reason_type_div">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('lead_reason')->setValue($lead_data['won_type'])); ?>
                </div>
                <div class="row" style="display:none;" id="transaction_div">
                    <label><?php echo $translator['L_LEAD_TRANSACTION']; ?></label>
                    <div class="search-input-bg1">
                        <?php echo $this->formRow($form->get('transaction')); ?>
                        <input name="" type="button" class="search-btn">
                        <?php
                        if (!empty($lead_data['transaction_id']) && $lead_data['transaction_id'] = !0) {
                            echo $this->formRow($form->get('transaction_id')->setValue($lead_data['transaction_id']));
                        } else {
                            echo $this->formRow($form->get('transaction_id')->setValue());
                        }
                        ?>
                    </div>
                </div>
                <div class="row" style="display:none;" id="pledge_div">
                    <label><?php echo $translator['L_LEAD_PLEDGE']; ?></label>
                    <div class="search-input-bg1">

                        <?php echo $this->formRow($form->get('pledge')); ?>
                        <input name="" type="button" class="search-btn">
                        <?php
                        if (!empty($lead_data['pledge_id']) && $lead_data['pledge_id'] = !0) {
                            echo $this->formRow($form->get('pledge_id')->setValue($lead_data['pledge_id']));
                        } else {
                            echo $this->formRow($form->get('pledge_id')->setValue());
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="button-row" style="width:200px;">
                        <input type="button" value="Save" name="yes" id="yes_reason" class="blue-btn m-r-10" onclick="validatePop();">
                        <input type="button" value="Cancel" name="no" id="no_reason" class="green-btn" onclick="javascript:$.colorbox.close();">
                    </div>
                </div>

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
