<?php
/**
 * This file is used to get contact info form
 * @package    User
 * @author     Icreon Tech - ST
 */
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/customInput.jquery.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/select2.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" rel="stylesheet" type="text/css"> 
<script>
    var counter= <?php echo json_encode($params['counter']); ?>;  
    var container= <?php echo json_encode($params['container']); ?>; 

    $('.addMinus'+counter).append($("<a  class='delete-address' onclick=remove_dynamic_contacts('."+container+''+counter+"','"+counter+"')>Delete Address</a>", {
        href: "javascript:void(0)",
        id: "remove",
    }));
    
</script>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

$form_address = $this->form_address;
$form_address->prepare();

$addressData = $this->addressData;
if (is_array($addressData) && count($addressData) > 0) {
    $i = 0;
    foreach ($addressData as $key => $value) {
        ?>
        <div style="display:block;" class="address address_container<?php echo $key; ?>">
            <div class="row" style="display:block">
                <div class="col1">
                    <div class="row">
                        <label><?php echo $translator['L_ADDRESS'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_street_address_1[]')->setValue($value['street_address_one'])); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_CITY'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_city[]')->setValue($value['city'])); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_ZIP'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_zip[]')->setValue($value['zip_code'])); ?>
                    </div>

                </div>
                <div class="col1 right">
                    <div class="row">
                        <label><?php echo $translator['L_ADDRESS_1'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_street_address_2[]')->setValue($value['street_address_two'])); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_STATE'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_state[]')->setValue($value['state'])); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_COUNTRY'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_country[]')->setValue($value['country_id'])); ?>
                    </div>
                </div>
            </div>
             
        </div>	</div>
    <?php } ?>
    <div id="count_address_div" style="display:none;"><?php echo $i; ?></div>   
<?php } else { ?> 

		<div id="load_address_section" style="display:block;">
		<?php $i = 0; ?>
		<div class="address address_container<?php echo $i ?>" style="display:block;">
			  	
			<div class="row" style="display:block" id="addressRow<?php echo $params['counter'] ?>">
				<div class="col1">
					<div class="row">
						<label><?php echo $translator['L_ADDRESS'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_street_address_1[]')); ?> 
					</div>
					<div class="row">
						<label><?php echo $translator['L_CITY'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_city[]')); ?> 
					</div>
					<div class="row">
						<label><?php echo $translator['L_ZIP'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_zip[]')); ?>
					</div>
						
				</div>
				<div class="col1 right">
					<div class="row">
						<label><?php echo $translator['L_ADDRESS_1'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_street_address_2[]')); ?> 
					</div>
					<div class="row">
						<label><?php echo $translator['L_STATE'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_state[]')); ?> </div>
					<div class="row">
						<label><?php echo $translator['L_COUNTRY'] ?></label>
						<?php echo $this->formRow($form_address->get('addressinfo_country[]')); ?> </div>
				</div>			 
			</div>
				
			            
		</div>
	</div>     
<?php } ?>

<script type="text/javascript">
    //for select box
    //$(".e1").select2({minimumResultsForSearch: -1});
    //for single checkbox
    $(".e2").customInput();
//	$(".e1").select2();
    //for multiple checkbox
    $($(".e4")).each(function(i){
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
			
            // get the associated label using the input's id
			
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
			
            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input,oDiv);
            //}
        }
    });
    $(".e4").customInput();
	
    //for radio buttons
    $($(".e3")).each(function(i){
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
			
            // get the associated label using the input's id
			
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
			
            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input,oDiv);
            //}
        }
    });
    $(".e3").customInput();
	$(document).ready(function() {
    
	});
</script>