<?php
/**
 * This view is used to search lead for admin
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/lead/search.lead.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/select2.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/customInput.jquery.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->captureEnd();
?><form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
<div class="create-contacts get-contact">
    <h2>Lead</h2>
    <div class="breadcrumb case">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text">Search Lead by filling the following filters, or just do a blank search for the complete Leads list. If you do not find the lead you seek, you can <a href="/create-lead">Create New Lead</a>.
        Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.</p>
    <div class="accordion-detail">
        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span>Search Leads</span></div>


        <div class="detail-section">
            <?php
            $form = $this->search_lead_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="common-form">
                <div class="row">
                    <div class="col1">               
                        <label><?php echo $translator['L_USERNAME_EMIAL']; ?>:</label>
                        <?php echo $this->formRow($form->get('user_email')); ?>                    
                    </div>
                    <div class="col1 right">                 
                        <label><?php echo $translator['L_STATUS']; ?>:</label>
                        <?php echo $this->formRow($form->get('lead_status')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">                    
                        <label><?php echo $translator['L_TYPE']; ?>:</label>
                        <?php
                        echo $this->formRow($form->get('lead_type'));
                        foreach ($lead_typeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='lead_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                    <div class="col1 right">                   
                        <label><?php echo $translator['L_SOURCE']; ?>:</label>
                        <?php
                        echo $this->formRow($form->get('lead_source'));

                        foreach ($lead_sourceDesc AS $key1 => $val1) {
                            if (isset($val1) && !empty($val1))
                                echo "<div class='lead_source" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
                        }
                        ?>                 
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">                 
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('lead_converted')); ?>
                        <label class="check" for="lead_converted"><?php echo $translator['L_CONVERTED']; ?></label>                   
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                   <!-- <a href="javascript:search_details()" class="save-btn"><?php //echo $translator['L_SEARCH'];    ?></a>-->

                    <?php echo $this->formRow($form->get('submit')); ?>&nbsp;<?php //echo $this->formRow($form->get('reset'));   ?>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>

        </div>
        <div class="detail-section1 common-form search-row-2">
            <?php
            $save_search_form = $this->search_form;
            $save_search_form->prepare();
            echo $this->form()->openTag($save_search_form);
            ?>
            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($save_search_form->get('saved_search')); ?>
            </div>
            <div class="right col1" style="width:auto;">
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <?php //echo $this->formRow($save_search_form->get('deletebutton'));   ?>
                <a href="#delete_lead_saved_search" class="delete_ship save-btn m-l-5" style="display:none;" id="deletebutton">Delete</a>
                <span style="display:none;"class="error" id="search_msg"></span>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
</div>
<div class="grid-section">
    <div class="top-section"></div>
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the contact you seek, try <a href="/create-lead">Create New Lead.</a></p>
    </div>

    <div class="grid-box">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_lead_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_lead" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_lead" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_search_lead' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>