<?php
/**
 * This view is used to show lead details
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$var = '';
$var .=' var tableName="' . $this->Encrypt($tableName) . '";';
$var .=' var tableField="' . $this->Encrypt($tableField) . '";';
?>
<script>
<?php echo $var; ?>
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/lead/crm.lead.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">
    <div class="view-contact-bg m-t-15">                
        <div class="inner-padding lead-details">
            <div class="accordion-detail">
                <div class="head no-padd active"><span><?php echo $jsLangTranslate['L_LEAD_INFORMATION']; ?></span></div>
                <div class="detail-section white-bg" style="display: block;">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_LEAD_TYPE']; ?></label>
                            <label> <?php echo isset($lead_detail['lead_type']) ? $lead_detail['lead_type'] : null; ?></label>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $jsLangTranslate['L_LEAD_SOURCE']; ?></label>
                            <label><?php echo isset($lead_detail['lead_source']) ? $lead_detail['lead_source'] : null; ?> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_OPPORTUNITY_AMOUNT']; ?></label>
                            <label> <?php echo isset($lead_detail['opportunity_amount']) ? $lead_detail['opportunity_amount'] : null; ?></label>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $jsLangTranslate['L_STATUS']; ?></label>
                            <label> <?php echo ($lead_detail['status'] == 0) ? 'Close' : 'Open'; ?> </label>
                        </div>
                    </div>
                    <?php if (isset($lead_detail['lead_source']) && $lead_detail['lead_source'] == 'Campaign') { ?>
                        <div class="view-row">
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_LEAD_CAMPAINGN']; ?></label>
                                <label><?php echo isset($lead_detail['campaign']) ? $lead_detail['campaign'] : null; ?></label>
                            </div>
                        </div>
                    <?php } ?>
                    <?php if ($lead_detail['status'] == 0) { ?>
                        <div class="view-row">
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_LEAD_REASON']; ?></label>
                                <label><?php echo isset($lead_detail['lead_reason_type']) ? $lead_detail['lead_reason_type'] : null; ?></label>
                            </div>
                        </div>
                    <?php } ?>
                    <?php if (isset($lead_detail['pledge_id']) && $lead_detail['pledge_id'] != 0 && $lead_detail['won_type'] == 1) { ?>   
                        <div class="view-row">  
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_LEAD_PLEDGE']; ?></label>
                                <label>
                                    <?php echo (isset($lead_detail['pledge_id']) && $lead_detail['won_type'] == 1) ? $lead_detail['pledge_id'] : null; ?>
                                </label>
                            </div>
                        </div>
                    <?php } ?>
                    <?php if (isset($lead_detail['transaction_id']) && $lead_detail['transaction_id'] != '' && $lead_detail['transaction_id'] != '0' && $lead_detail['won_type'] == 1) { ?>    
                        <div class="view-row">  
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_LEAD_TRANSACTION']; ?></label>
                                <label><?php echo $lead_detail['transaction_id']; ?></label>
                            </div>
                        </div>
                    <?php } ?>
                    <div class="view-row no-padd">
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_ASSIGN_TO']; ?></label>
                            <label>
                                <?php echo isset($lead_detail['crm_user_full_name']) ? $lead_detail['crm_user_full_name'] : null; ?>
                            </label>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $jsLangTranslate['ESTIMATED_TIME_FRAME']; ?></label>
                            <label> <?php echo $lead_detail['estimated_time_frame']; ?> </label>
                        </div>
                    </div>
                </div>
                <?php if (!empty($lead_detail['case_contact_id'])) { ?>
                    <div class="head no-padd active"><span><?php echo $jsLangTranslate['L_CASE_INFORMATION']; ?></span></div>
                    <div class="detail-section white-bg" style="display: block;">
                        <div class="view-row">
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_CONTACT_NAME']; ?></label>
                                <label>
                                    <?php echo isset($caseDetails['contact_name']) ? $caseDetails['contact_name'] : null; ?>
                                </label>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $jsLangTranslate['L_CASE_SUBJECT']; ?></label>
                                <label>
                                    <?php echo isset($caseDetails['subject']) ? $caseDetails['subject'] : null; ?>
                                </label>
                            </div>
                        </div>
                        <div class="view-row no-padd">
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_CASE_TYPE']; ?></label>
                                <label>
                                    <?php echo isset($caseDetails['case_type_name']) ? $caseDetails['case_type_name'] : null; ?>
                                </label>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $jsLangTranslate['L_CASE_STATUS']; ?></label>
                                <label>
                                    <?php echo isset($caseDetails['case_status_name']) ? $caseDetails['case_status_name'] : ''; ?>
                                </label>
                            </div>
                        </div>                     
                    </div>
                <?php } ?>
                <div class="head no-padd active"><span><?php echo $jsLangTranslate['L_CONTACT_INFOMATION']; ?></span></div>
                <?php
                if ($lead_detail['contact_last_name'] == '' && $lead_detail['contact_company_name'] != '')
                    $style = 'style="display:none;"';
                else
                    $style = '';
                ?>
                <div class="detail-section white-bg" style="display: block;">
                    <?php if ($style != '') { ?>
                        <div class="view-row">
                            <div class="col1">
                                <label><?php echo $jsLangTranslate['L_CONTACT_NAME']; ?></label>
                                <label class="auto">
                                    <?php echo isset($lead_detail['contact_company_name']) ? $lead_detail['contact_company_name'] : null; ?>
                                </label>
                            </div>
                        </div>
                    <?php } ?>
                    <div class="view-row" <?php echo $style; ?>>
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_TITLE']; ?></label>
                            <label>
                                <?php echo isset($lead_detail['contact_title']) ? $lead_detail['contact_title'] : null; ?>
                            </label>
                        </div>
                    </div>
                    <div class="view-row" <?php echo $style; ?>>
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_FIRST_NAME']; ?></label>
                            <label>
                                <?php echo isset($lead_detail['contact_first_name']) ? $lead_detail['contact_first_name'] : null; ?>
                            </label>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $jsLangTranslate['L_MIDDLE_NAME']; ?></label>
                            <label><?php echo isset($lead_detail['contact_middle_name']) ? $lead_detail['contact_middle_name'] : null; ?></label>
                        </div>
                    </div>
                    <div class="view-row" <?php echo $style; ?>>
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_LAST_NAME']; ?></label>
                            <label>
                                <?php echo isset($lead_detail['contact_last_name']) ? $lead_detail['contact_last_name'] : null; ?>
                            </label>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $jsLangTranslate['L_SUFFIX']; ?></label>
                            <label><?php echo isset($lead_detail['contact_suffix']) ? $lead_detail['contact_suffix'] : null; ?></label>
                        </div>
                    </div>
                    <div class="view-row">
                        <div class="col1">
                            <label><?php echo $jsLangTranslate['L_EMAIL']; ?></label>
                            <label class="auto">
                                <?php echo isset($lead_detail['contact_email_id']) ? trim($lead_detail['contact_email_id']) : null; ?>
                            </label>
                        </div>
                    </div>
                    <?php
                    if (!empty($lead_phone_info)) {
                        $i = 0;
                        foreach ($lead_phone_info as $k => $val) {
                            if ($k == $i) {
                                ?>
                                <div id="phoneno_div" class="row phone-row">
                                    <div class="row contact-repeat-row container0">
                                        <div class="row">
                                            <label>Phone</label>
                                            <label><?php echo $jsLangTranslate['L_PHONE_TYPE']; ?></label>
                                            <label><?php echo $jsLangTranslate['L_COUNTRY_CODE']; ?></label>
                                            <label><?php echo $jsLangTranslate['L_AREA_CODE']; ?></label>
                                            <label><?php echo $jsLangTranslate['L_PHONE_NO']; ?></label>
                                        </div>
                                        <div class="row no-padd">
                                            <label>&nbsp;</label>
                                            <label><?php echo isset($val['type']) ? ucfirst($val['type']) : null; ?></label>
                                            <label><?php echo isset($val['country_code']) ? $val['country_code'] : null; ?></label>
                                            <label><?php echo isset($val['area_code']) ? $val['area_code'] : null; ?></label>                                     
                                            <label><?php echo isset($val['phone_number']) ? $val['phone_number'] : null; ?></label>
                                        </div>	
                                    </div>
                                </div>
                                <?php
                            }
                        }
                    }
                    ?>
                    <?php
                    if (!empty($lead_address_info)) {
                        foreach ($lead_address_info as $val) {
                            ?>
                            <div class="view-row">
                                <div class="col1">
                                    <label>Address</label>
                                    <label><?php echo isset($val['street_address_one']) ? $val['street_address_one'] : null; ?></label>
                                </div>
                                <div class="col1 right">
                                    <label><?php echo $jsLangTranslate['L_CITY']; ?></label>
                                    <label><?php echo isset($val['city']) ? $val['city'] : null; ?></label>
                                </div>
                            </div>
                            <div class="view-row">
                                <div class="col1">
                                    <label><?php echo $jsLangTranslate['L_STATE']; ?></label>
                                    <label><?php echo isset($val['state']) ? $val['state'] : null; ?></label>
                                </div>
                                <div class="col1 right">
                                    <label><?php echo $jsLangTranslate['L_ZIP']; ?></label>
                                    <label><?php echo isset($val['zip_code']) ? $val['zip_code'] : null; ?></label>
                                </div>
                            </div>
                            <div class="view-row no-padd">
                                <div class="col1">
                                    <label><?php echo $jsLangTranslate['L_COUNTRY']; ?></label>
                                    <label><?php echo isset($val['country_name']) ? $val['country_name'] : null; ?></label>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                }
                ?>
                <div class="head no-padd"><span><?php echo $jsLangTranslate['L_NOTES']; ?></span></div>
                <div class="detail-section white-bg" style="display: none;">
                    <?php
                    if (!empty($lead_notes)) {
                        $counterAlternate = 0;
                        $classAlternate = 'alterbg';
                        foreach ($lead_notes as $val) {
                            if ((isset($val['is_private']) && $val['is_private'] == 1 && $viewPrivateNotePermission == 1) || (isset($val['is_private']) && $val['is_private'] == '0')) {
                                if ($counterAlternate == 0) {
                                    $classAlternate = 'alterbg';
                                    $counterAlternate = $counterAlternate + 1;
                                } else {
                                    $classAlternate = 'alterbg alterbg-none';
                                    $counterAlternate = 0;
                                }
                                ?>
                                <div class="row <?php echo $classAlternate; ?>">
                                    <strong class="right bold m-b-10 aright">
                                        <?php
                                        if ($val['added_by'] == $userId) {
                                            if (isset($val['is_private']) && trim($val['is_private']) == "1") {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" checked="checked" /> <?php
                        } else {
                                                ?> <input <?php echo 'id = "notes_' . $val['note_id'] . '"'; ?> type="checkbox" /> <?php
                        }
                        echo "Private";
                    }
                    if ($val['added_by'] != $userId) {
                        if (isset($val['is_private']) && trim($val['is_private']) == "1") {
                            echo "Private";
                        }
                    }
                                        ?>
                                    </strong>
                                    <p class="text"><?php echo $val['note']; ?></p>
                                    <p class="text right no-padd"><strong>Date Created: </strong> <?php echo $this->Dateformatalpha($val['added_date'], 'dateformatampm'); ?> by <?php echo $val['crm_first_name']; ?></p>
                                </div>                            
            <?php
        }
    }
}
?>
                </div>
            </div>
        </div>
    </div>
</div>