
<style>
    .contact-repeat-row .phone-label label.country{padding-left: 103px !important;}
</style>
<?php
/**
 * This file is used for conatct phone number form
 * @package    User
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';
$var1 = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

$form_phone = $this->form_phone;
$phoneData = $this->phoneData;
$form_phone->prepare();
if (is_array($phoneData) && count($phoneData) > 0) {
    $i = 0;
    foreach ($phoneData as $key => $value) {
        ++$i;
        ?> 

        <div class="row contact-repeat-row container<?php echo $key ?>">
            <div class="phone-label">
                <label class="type"><?php echo $translator['L_TYPE']; ?></label>
                <label class="country"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
                <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
                <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
            </div>
            <div class="row no-padd">
                <label><?php echo $translator['L_PHONE']; ?></label>
                <input type="text" class="width-125" id="phone_type" name="phone_type[]" value="<?php echo $value['phone_type']; ?>" readOnly="true">
                <span class="rel-auto"><input type="text" value="<?php echo $value['country_code']; ?>" class="m-l-20 width-125 m-r-20" name="country_code[]" id="country_code" readOnly="true"></span>
                <span class="rel-auto"><input type="text" value="<?php echo $value['area_code']; ?>" class="width-80 m-r-20" name="area_code[]" id="area_code" readOnly="true"></span>                                     
                <span class="rel-auto"><input type="text" value="<?php echo $value['phone_no']; ?>" id="phone_no" class="phone_no" name="phone_no[]" readOnly="true"></span>
            </div>
            <div id="count_div" style="display:none;"><?php echo $i; ?></div>
        </div>
        <?php
    }
    ?>
    <div id="count_div" style="display:none;"><?php echo $i; ?></div>
<?php } else { ?>
    <div class="row contact-repeat-row container">
        <div class="phone-label">
            <label class="type"><?php echo $translator['L_TYPE']; ?></label>
            <label class="country"><?php echo $translator['L_COUNTRY_CODE']; ?></label>
            <label class="area"><?php echo $translator['L_AREA_CODE']; ?></label>
            <label class="phone"><?php echo $translator['L_PHONE_NO']; ?></label>
        </div>
        <div class="row no-padd">
            <label><?php echo $translator['L_PHONE']; ?></label>
            <input type="text" class="width-125" id="phone_type" name="phone_type[]" value="" readOnly="true">
            <span class="rel-auto"><input type="text" value="" class="width-125" name="country_code[]" readOnly="true"></span>
            <span class="rel-auto"><input type="text" value="" class="width-80 m-r-20" name="area_code[]" readOnly="true"></span>                                     
            <span class="rel-auto"><input type="text" value="" id="phone_no[]" class="phone_no" name="phone_no[]" readOnly="true"></span>
        </div>
    </div>
<?php } ?>


