<?php
/**
 * This file is used to get address form
 * @package    Lead
 * @author     Icreon Tech -ST
 */
?>
<script>
    var counter = <?php echo json_encode($params['counter']); ?>;
    var container = <?php echo json_encode($params['container']); ?>;
    $('.addMinus' + counter).append($("<a  class='minus' onclick=remove_dynamic_contacts('." + container + '' + counter + "','" + counter + "')>&nbsp;</a>", {
        href: "javascript:void(0)",
        id: "remove"
    }));

    $(function() {
        $("select.e1").select2();
    })
</script>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

$form_address = $this->form_address;
$form_address->prepare();
$addressData = $this->addressData;
if (is_array($addressData) && count($addressData) > 0) {
    $i = 0;
    foreach ($addressData as $key => $value) {
        if ($key == $i) {
            $isPrimaryChecked = 0;
            $isBillingChecked = 0;
            $isShippingChecked = 0;
            $locationVal = "";
            if (isset($value['location'])) {
                $locationVal = $value['location'];
                $locationArr = explode(',', $value['location']);
                if (in_array('1', $locationArr)) {
                    $isPrimaryChecked = 1;
                }
                if (in_array('2', $locationArr)) {
                    $isBillingChecked = 1;
                }
                if (in_array('3', $locationArr)) {
                    $isShippingChecked = 1;
                }
            }
            if (!empty($locationVal)) {
                $locationVal = $value['location'];
            } else {
                $locationVal = "";
            }
            ?>
            <div style="display:block;" class="address address_container<?php echo $key; ?>">

                <div id="load_contact_section_<?php echo $i; ?>" class="row" style="display:none;">
                    <div class="col14">
                        <input type="hidden" id="addresContanier" value="addressRow<?php echo $i ?>">
                        <label><?php echo $translator['L_SELECT_CONTACT'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_search_contact[]')->setAttribute('id', 'address_search_contact' . $i)); ?> 
                    </div>
                </div>
                <div class="row" style="display:block" id="addressRow<?php echo $i ?>">
                    <div class="col1">
                        <div class="row">
                            <label><?php echo $translator['L_ADDRESS'] ?></label>
                            <?php echo $this->formRow($form_address->get('addressinfo_street_address_1[]')->setAttribute('readOnly','true')->setValue($value['street_address_one'])); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_CITY'] ?></label>
                            <?php echo $this->formRow($form_address->get('addressinfo_city[]')->setAttribute('readOnly','true')->setValue($value['city'])); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_ZIP'] ?></label>
                            <?php echo $this->formRow($form_address->get('addressinfo_zip[]')->setAttribute('readOnly','true')->setValue($value['zip_code'])); ?>
                        </div>

                    </div>
                    <div class="col1 right">
                        <div class="row">&nbsp;<br/>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_STATE'] ?></label>
                            <?php echo $this->formRow($form_address->get('addressinfo_state[]')->setAttribute('readOnly','true')->setValue($value['state'])); ?>
                        </div>
                        <div class="row">
                            <label><?php echo $translator['L_COUNTRY'] ?></label>
                            <input type="text" name="addressinfo_country[]" value="<?php echo $country_list[$value['country_id']];?>" id="addressinfo_country" readOnly="true">
                        </div>
                    </div>
                </div>

            </div>
            <?php
        }
    }
    ?>
    <div id="count_address_div" style="display:none;"><?php echo $i; ?></div>   
<?php } else { ?>
    <div id="load_address_section<?php echo $params['counter']; ?>" style="display:block;">
        <?php $i = 0; ?>
        <div class="address  address_container<?php echo $params['counter']; ?>" style="display:block;">
            <div class="row" style="display:block" id="addressRow<?php echo $params['counter']; ?>">
                <div class="col1">
                    <div class="row">
                        <label><?php echo $translator['L_ADDRESS'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_street_address_1[]')->setAttribute('readOnly','true')); ?> 
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_CITY'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_city[]')->setAttribute('readOnly','true')); ?> 
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_ZIP'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_zip[]')->setAttribute('readOnly','true')); ?>
                    </div>

                </div>
                <div class="col1 right">
                    <div class="row">
                        <label>&nbsp;</label> 
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_STATE'] ?></label>
                        <?php echo $this->formRow($form_address->get('addressinfo_state[]')->setAttribute('readOnly','true')); ?> </div>
                    <div class="row">
                        <label><?php echo $translator['L_COUNTRY'] ?></label>
                        <input type="text" name="addressinfo_country[]" value="" id="addressinfo_country" readOnly="true">
                    </div>
                </div>
                <?php $i++; ?>
            </div>

            <div id="count_address_div" style="display:none;"><?php echo $i; ?></div>                 
        </div>
    </div>

<?php } ?>


<script type="text/javascript">
    $("#address_search_contact<?php echo $params['counter'] ?>").autocomplete({
        afterAdd: true,
        selectFirst: true,
        autoFocus: true,
        source: function(request, response) {
            $.ajax({
                url: "/get-contacts",
                method: 'POST',
                dataType: "json",
                data: {
                    user_email: $("#address_search_contact<?php echo $params['counter'] ?>").val()
                },
                success: function(jsonResult) {
                    var resultset = [];
                    $.each(jsonResult, function() {
                        var id = this.user_id;
                        var value = this.full_name;
                        var address_one = this.street_address_one;
                        var address_two = this.street_address_two;
                        var city = this.city;
                        var state = this.state;
                        var zip_code = this.zip_code;
                        var country_id = this.country_id;
                        var country_name = this.country_name;
                        resultset.push({
                            id: this.user_id,
                            value: this.full_name,
                            address_one: this.street_address_one,
                            address_two: this.street_address_two,
                            city: this.city,
                            state: this.state,
                            zip_code: this.zip_code,
                            country_id: this.country_id,
                            country_name: this.country_name
                        });
                    });
                    response(resultset);
                }
            });
        },
        open: function() {
            $('.ui-menu').width(350)
        },
        change: function(event, ui) {
            if (ui.item)
            {
                $("#addressRow1 > #addressinfo_search_contact").val('');
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_street_address_1").val(ui.item.address_one);
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_street_address_2").val(ui.item.address_two);
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_city").val(ui.item.city);
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_state").val(ui.item.state);
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_zip").val(ui.item.zip_code);
                $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_country").val(ui.item.country_id).select2()

                $("#load_contact_section_<?php echo $params['counter'] ?>").hide();
                $("#addressRow<?php echo $params['counter'] ?>").show();
            }
            else {
                $("#addressinfo_search_contact").val('');
            }
        },
        focus: function(event, ui) {
            return false;
        },
        select: function(event, ui) {
            $("#addressinfo_search_contact").val(ui.item.value);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_street_address_1").val(ui.item.address_one);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_street_address_2").val(ui.item.address_two);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_city").val(ui.item.city);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_state").val(ui.item.state);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_zip").val(ui.item.zip_code);
            $("#addressRow<?php echo $params['counter'] ?> input.addressinfo_country").val(ui.item.country_id).select2();

            $("#load_contact_section_<?php echo $params['counter'] ?>").hide();
            $("#addressRow<?php echo $params['counter'] ?>").show();
            return false;
        }
    });
    /**
     * this fucntion section is used to add more address section
     * @param void
     * @return void
     * @author Icreon Tech -ST
     */

    $("#new_address_div_load").click(function() {
        var i = $("#count_address_div").text();

        ($("<div />", {
            "class": "addressAll row no-padd address_container" + i
        }))
                .appendTo("#load_address_section");
        $('.address_container' + i).load('/lead-address-form/' + i + '/address_container');
        i++;
        $("#count_address_div").html(i);
    });

//for multiple checkbox
    $($(".e4")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id': input_class['1'] + '_' + i});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': input_class['1'] + '_' + i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".e4").customInput();

//for radio buttons
    $($(".e3")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id': input_class['1'] + '_' + i});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': input_class['1'] + '_' + i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".e3").customInput();

    $(".e2").customInput();

    $($(".address-checkbox")).each(function(i) {
        if ($(this).is('[type=checkbox],[type=radio]')) {
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            var id_name = '';
            console.log(input.attr('id'));
            if (input.attr('id') == 'undefined' || input.attr('id') == '' || input.attr('id') == undefined || input.attr('id') == null) {
                console.log("in");
                id_name = input_class['1'] + '_' + i;
            } else {
                console.log("out");
                id_name = input.attr('id');
            }
            input.attr({'id': id_name});

            // get the associated label using the input's id

            var label = $('label[for=' + input.attr('id') + ']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();

            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            //if(inputType=='radio') {
            var oDiv = $(document.createElement('label')).attr({'for': id_name}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input, oDiv);
            //}
        }
    });
    $(".address-checkbox").customInput();
</script>