<?php
/**
 * This page is used for view lead
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var lead_id="' . $lead_id . '";';
$var .=' var moduleName="' . $moduleName . '";';
$var .=' var mode="' . $mode . '";';
echo $var;

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/lead/lead.view.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>
        <?php echo $jsLangTranslate['L_LEAD']; ?>
        <?php if(isset($contactName) and trim($contactName) != "") { echo '<div class="user-name-top">'.trim($contactName).'</div>'; } ?>
    </h2>
    <div class="breadcrumb case">	 
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>


    <ul class="edit-link">
        <li><a id="tab-1" href="javascript:void(0);" onClick="viewLead();" class="active">Details</a></li>
        <li><a id="tab-2" href="javascript:void(0);" onClick="editLead();">Edit</a></li>
       <!--  <li><a href="/activities/<?php echo $encrypted_contact_name_id; ?>/<?php echo $encrypted_source_type_id; ?>" id="tab-3" ><?php echo $translator['L_ACTIVITES'] . " (" . $totalActivityCount . ")"; ?></a></li>-->
        <li><a id="tab-14" href="javascript:void(0);" onClick="leadChangelog();">Change Log</a></li>
    </ul>
    <div id="contact_content"></div>
</div>

<div style='display:none'>
    <div id='add_to_archive_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo "Are You Sure you want to add this Case to Archive ?"; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_archive" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_archive" class="green-btn">
        </div>
    </div>
</div>