<?php
/**
 * This page is use for create group
 * @package    Group_GroupController_addGroupAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .="var searchQuery=" . $this->searchQuery . ";";
$var .="var surveyQueryData ='" . $this->surveyQuery . "';";
$var .="var campaign_preload_data = '';";
if(isset($this->groupCampaignData) and count($this->groupCampaignData) > 0) {
  $c_arr = array();
  foreach($this->groupCampaignData as $vCamp) {
      array_push($c_arr, '{id:"'.$vCamp['campaign_id'].'",text:"'.addslashes($vCamp['campaign_title']).'"}');
  }
  $c_arr1 = "[".implode(",", $c_arr)."]";
  $var .="campaign_preload_data = ".$c_arr1.";";
}

echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(23, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/group/group.group.js?v='.$this->layout()->getVariable('jsVersion'))
?>
<style>
.create-contacts.create-group input.calendar-input { width: 115px;}
</style>
<div class="create-contacts create-group">
    <h2><?php echo $translator['L_GROUPS']; ?></h2>
    <!-- Create group div start here -->
    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('searchContactsGroup', array('action' => 'search-contacts-group')));
    //  $form->setAttribute('action', $this->url('q', array('action' => '')));
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div id="create_group_div">
        <div class="breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="accordion-detail m-t-10">

            <div class="head no-img"><span><?php echo $translator['L_GROUP_INFORMATION']; ?></span></div>
            <div id="error_message"></div>
            <div id="success_message"></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('group_name')); ?>
                    </div>
                    <div class="row">
                        <label><?php echo $translator['L_DESCRIPTION']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('group_description')); ?>
                    </div>
                    <div class="row">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('group_type')); ?>
                    </div>
                    <?php //ticket 73 private group 
                    if(ALLOW_PRIVATE_GROUP == 1)
                    {
                    ?>
                    <div class="col1">
                        <label>&nbsp;</label>
                        <div class="left m-t-10">
                            <?php echo $this->formRow($form->get('is_private')); ?>
                            <label class="text check" for="is_private"><?php echo $translator['L_PRIVATE']; ?></label>
                        </div>
                    </div>
                   
                    <?php }?>
                    <div class="row m-t-10">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('continue')); ?>
                        <?php echo $this->formRow($form->get('cancel')); ?>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Create group div end here -->

    <!-- Create contact search form element -->
    <?php include_once('filter-contact-group.phtml'); ?>
                        <!-- create contact search elements end here -->
                        <!-- create search on the base of survey elements-->
    <?php include_once('filter-contact-survey.phtml'); ?>
                        <!-- create search on the base of survey elements end here -->
    <?php echo $this->form()->closeTag(); ?>
</div>
<script type="text/javascript">
    $(function(){
        $(".e2").customInput();
    })
</script>