<?php

/**
 * This page is use for get group edit detail information
 * @package    Group_GroupController_editGroupDetailAction
 * @author     Icreon Tech - DT
 */

$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .='var encrypt_group_id=\'' . $this->encrypt_group_id . '\';';
$var .="var searchQuery=" . $this->searchQuery . ";";
$var .="var surveyQueryData ='" . $this->surveyQuery . "';";
$var .="var campaign_preload_data = '';";
if(isset($this->groupCampaignData) and count($this->groupCampaignData) > 0) {
  $c_arr = array();
  foreach($this->groupCampaignData as $vCamp) {
      array_push($c_arr, '{id:"'.$vCamp['campaign_id'].'",text:"'.addslashes($vCamp['campaign_title']).'"}');
  }
  $c_arr1 = "[".implode(",", $c_arr)."]";
  $var .="campaign_preload_data = ".$c_arr1.";";
}
$this->inlineScript()->captureEnd();
?>

<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/group/group.group.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('searchContactsGroup', array('action' => 'search-contacts-group')));
$form->prepare();
echo $this->form()->openTag($form);
?>
<?php echo $this->formRow($form->get('group_id')); ?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div id="edit_group_section">
    <div class="head no-img"><span><?php echo $translator['L_GROUP_INFORMATION']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row">
                <label><?php echo $translator['L_NAME']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('group_name')); ?>
            </div>
            <div class="row">
                <label><?php echo $translator['L_DESCRIPTION']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('group_description')); ?>
            </div>
            <div class="row">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('group_type')); ?>
                <?php echo $this->formRow($form->get('group_type_display')); ?>
            </div>
            <?php //ticket 73 private group
            if(ALLOW_PRIVATE_GROUP == 1)
            {
            ?>
            <div class="col1">
                <label>&nbsp;</label>
                <div class="left m-t-10">
                    <?php echo $this->formRow($form->get('is_private')); ?>
                    <label class="text check" for="is_private"><?php echo $translator['L_PRIVATE']; ?></label>
                </div>
            </div>
            <?php }?>
            <div class="row m-t-10">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('edit_group')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
                <?php echo $this->formRow($form->get('continue_edit_group')); ?>
            </div>
        </div>
    </div>
</div>
<!-- remove contact from group section -->
<div id="group_remove_contact_section" style="visibility:hidden;">
    <div class="detail-section m-t-15">
        <div id="error_message" class="error-msg" style="display:none;">error message</div>
        <div id="success_message" class="success-msg" style="display:none;"></div>
        <div class="common-form">
            <div class="row no-padd">
                <a onclick="removeContactToGroup(0,0)" class="save-btn m-l-5 remove_selected_contacts" href="#remove_selected_contacts_block"><?php echo $translator['L_REMOVE_SELECTED_CONTACTS']; ?></a>
                <?php echo $this->formRow($form->get('edit_group_add_contact')); ?>
            </div>
        </div>
    </div>
    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="group_contact_remove"></table>
            <div id="grcoremlistcrud"></div>
        </div>
    </div>
</div>
<!-- End  remove contact from group section -->
<!-- Create contact search form element -->
<?php include_once('filter-contact-group.phtml'); ?>
<!-- create contact search elements end here -->
<!-- create search on the base of survey elements-->
<?php include_once('filter-contact-survey.phtml'); ?>
<!-- create search on the base of survey elements end here -->
<?php echo $this->form()->closeTag(); ?>