<?php
    /**
 * This page is use for get survey questions listing
 * @package    Group_GroupController_getGroupAction
 * @author     Icreon Tech - DT
 */
?>
<div id="survey_search_div" style="display:none;">
    <div class="accordion-detail m-t-10">
        <div class="head no-img"><span><?php echo $translator['L_SURVEY']; ?></span></div>

        <div class="detail-section">
            <div class="common-form">
                <?php
                        $survey_added=array();
                        foreach($this->survey_questions as $questions)
                        {
                            if(!in_array($questions['survey_section_id'], $survey_added))
                            {
                                $survey_added[]=$questions['survey_section_id'];
                 ?>
                            <div class="row no-padd"><span class="text-bold"><?php echo $questions['survey_search_section']; ?></span></div>
                  <?php     } ?>
                
                            <div class="row1">
                                <?php echo $this->formRow($form->get('survey_question_'.$questions['survey_question_id']));?>
                                <label for="<?php echo 'survey_question_'.$questions['survey_question_id']; ?>" class="text check"><?php echo $questions['survey_question_search']; ?></label>
                            </div>
                            
              <?php     }?>

                <div class="row no-padd">
                   
                    <?php echo $this->formRow($form->get('surveyformsearch'));?>
                </div>
            </div>
        </div>

    </div>
</div>