<?php
/**
 * This page is use for get group contact searching filtering
 * @package    Group_GroupController_getGroupContacts
 * @author     Icreon Tech - DT
 */
?>
<style>
    .transaction-amount .select2-container{width:150px !important; float:left; margin:0px 15px}
    .select2-container-multi{float:left; margin-right:5px;}
</style>
<div id="contact_search_div" style="display:none;">
    <div class="accordion-detail m-t-10">
        <div class="head"><span><?php echo $translator['L_GROUP_INFORMATION']; ?></span></div>
        <div class="detail-section" style="display: block;">
            <span id="search-err-msg_need_two" style="display:none;" class="error-msg">Please enter one or more parameter.</span>
            <div class="common-form">
                <fieldset>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_NAME_OR_EMAIL']; ?></label>
                            <?php echo $this->formRow($form->get('name_email_look')); ?>
                            <?php echo $this->formRow($form->get('name_email_look_id')); ?>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col1">
                            <label><?php echo $translator['L_CAMPAIGN']; ?></label>
                            <?php 
                               echo $this->formRow($form->get('campaign')); 
                            ?> 
                        </div>
                        <div class="col1 right"><label><?php echo $translator['L_TRANSACTION_AMOUNT_RANGE']; ?></label>
                            <label class="auto">$</label>
                            <div class="left"><?php echo $this->formRow($form->get('transaction_amount_from')); ?></div>
                            <label class="auto">-to-</label>
                            <label class="auto">$</label>
                            <div class="left"><?php echo $this->formRow($form->get('transaction_amount_to')); ?></div></div>
                    </div>
                    
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_PRODUCT_TYPE']; ?></label>
                            <?php echo $this->formRow($form->get('product_type')); ?>
                        </div>                    
                        <div class="col1 right">
                            <label><?php echo $translator['L_PRODUCTS']; ?></label>
                            <?php echo $this->formRow($form->get('product_ids')); ?>
                             </div>
                    </div>
                    
                    
                    <div class="row transaction-amount">
                        <label><?php echo $translator['L_TRANSACTION_DATE_RANGE']; ?><?php echo $this->formRow($form->get('ellis_status')); ?><span class="red"></span></label>
                        <div class="group-relative">
                            <label class="auto"><?php echo $this->formRow($form->get('transaction_status')); ?><label for="transaction_status" class="text check"><?php echo $translator['L_TRANSACTION_CHK']; ?></label></label>
                            <label class="auto"><?php echo $this->formRow($form->get('signup_status')); ?><label for="signup_status" class="text check"><?php echo $translator['L_SIGNUP_CHK']; ?></label></label>
                            <label class="auto"><?php echo $this->formRow($form->get('web_status')); ?><label for="web_status" class="text check">Login</label></label>
                        </div>
                        <div class="group-relative"><?php echo $this->formRow($form->get('transaction_amount_date')); ?></div>
                        <div id="transactiondate_div" style="display:none;">

                            <label class="auto"><?php echo $translator['L_FROM']; ?></label>
                            <div class="left group-relative"> <?php echo $this->formRow($form->get('transaction_amount_date_from')); ?></div>

                            <label class="auto">-to-</label>
                            <div class="left"><?php echo $this->formRow($form->get('transaction_amount_date_to')); ?></div>
                        </div>
                        <div class="col4" id="ellisvisit_div" style="display:none;">

                            <label  class="auto"><?php echo $translator['L_FROM']; ?></label>
                            <div class="left"> <?php echo $this->formRow($form->get('ellis_visit_date_from')); ?></div>
                            <label class="auto">-to-</label>
                            <div class="left"> <?php echo $this->formRow($form->get('ellis_visit_date_to')); ?></div>
                        </div>
                        <div class="col1 right">
                                    <label><?php echo $translator['L_PHONE']; ?></label>
                            <?php echo $this->formRow($form->get('phone')); ?>
                        </div>
                        
                    </div>
                    
                    
                    
                    <!--div class="row">
						  <div class="col1">
                        <label >&nbsp;</label>
                    <?php //echo $this->formRow($form->get('ellis_visit')); ?>
                                                <label for="ellis_visit" class="text check"><?php //echo $translator['L_ELLIS_VISIT']; ?></label>
                        							</div>
                        							 <div class="col1 right"></div>
                                            </div-->
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_STATE']; ?></label>
                            <?php echo $this->formRow($form->get('state')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CITY']; ?></label>
                            <?php echo $this->formRow($form->get('city')); ?> 
                        </div>
                    </div>

                    <div class="row no-padd">
                        <div class="col1">
                            <label><?php echo $translator['L_COUNTRY']; ?></label>
                            <?php echo $this->formRow($form->get('country')); ?>
                            <div class="full m-t-5">
                                <label>&nbsp;</label>
                                <?php echo $this->formRow($form->get('is_exclude_country')); ?>

                                <label for="is_exclude_country" class="text check"><?php echo $translator['L_EXCLUDE']; ?></label>
                            </div>
                        </div>

                        <div class="col1 right">
                            <label><?php echo $translator['L_ASSOCATION']; ?></label>
                            <?php echo $this->formRow($form->get('assocation')); ?>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col1">
                                <label><?php echo $translator['L_RELATIONSHIP']; ?></label>
                            <?php echo $this->formRow($form->get('relationship')); ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_PRIVACY']; ?></label>
                            <?php echo $this->formRow($form->get('privacy')); ?>
                            </div>
                        </div>
                        <div class="row no-padd" id="groupTagsBlock">
                            <div class="col1">
                                <label><?php echo $translator['L_EXCLUSIVE_GROUPS']; ?></label>
                            <?php echo $this->formRow($form->get('exclude_group')); ?>
                                <div class="full m-t-5">
                                    <label>&nbsp;</label>
                                <?php echo $this->formRow($form->get('is_exclude_group')); ?>
                                <label for="is_exclude_group" class="text check"><?php echo $translator['L_EXCLUDE']; ?></label>
                            </div>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_EXCLUSIVE_TAGS']; ?></label>
                            <?php echo $this->formRow($form->get('exclude_tags')); ?> 
                                <div class="full m-t-5">
                                    <label>&nbsp;</label>
                                <?php echo $this->formRow($form->get('is_exclude_tags')); ?>
                                <label for="is_exclude_tags" class="text check"><?php echo $translator['L_EXCLUDE']; ?></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CONTACT_TYPE']; ?></label>
                            <?php echo $this->formRow($form->get('contact_type')); ?>
                            </div>
                            <div class="col1 right">
                                <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('no_email_address')); ?>
                                <label for="no_email_address" class="text check"><?php echo $translator['L_NO_EMAIL_ADDRESS']; ?></label>
                            </div>
                        </div>
                    
                    
                    <!-- START -->
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_GROUP_STATUS']; ?></label>
                            <?php echo $this->formRow($form->get('status')); ?>
                        </div>                    
                        <div class="col1 right">
                            <label><?php echo $translator['L_GROUP_MEMBERSHIP_LEVEL']; ?></label>
                            <?php echo $this->formRow($form->get('membership_title')); ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_GROUP_TRANSACTION_STATUS']; ?></label>
                            <?php echo $this->formRow($form->get('transaction_status_id')); ?>
                        </div>                    
                        <div class="col1 right">
                            <label><?php echo $translator['L_GROUP_ITEM_STATUS']; ?></label>
                            <?php echo $this->formRow($form->get('item_status')); ?>
                        </div>
                    </div>
                    <!-- END -->
                    
                    </fieldset>
                </div>
                <div class="common-form p-b-30 p-t-30">
                    <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('searchcontacts')); ?> <?php echo $this->formRow($form->get('continuetosurvey')); ?> </div>
        </div>
    </div>
</div>
