<?php
/**
 * This page is use for get group contact detail
 * @package    Group_GroupController_getGroupContactsDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
    //$var.= "var contacts_grid_str= '" . $contacts_grid_str . "';";
}
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/group/group.contacts.detail.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_CONTACT_IN_GROUP'].$this->group_data['name']; ?></span></div>
<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="contacts_group_list"></table>
        <div id="contactlistcrud"></div>
    </div>
</div>