<?php
/**
 * This page is use for get group listing
 * @package    Group_GroupController_getGroupAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/group/search.group.js?v='.$this->layout()->getVariable('jsVersion'))
?>
<div class="create-contacts">
    <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2>Groups</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text"> Use Groups to organize contacts. You can also create 'smart' groups based on contact characteristics. Search Groups by entering Group Name. If you do not find the Group you seek, you can <a href="<?php echo $this->url('creatGroup', array('action' => 'creatGroup')); ?>">Create New Group.</a> Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.</p>
    <div class="accordion-detail">
        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_GROUP']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_NAME']; ?> </label>
                        <?php echo $this->formRow($form->get('group_name')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_GROUP_TYPE']; ?> </label>
                        <?php echo $this->formRow($form->get('group_type')); ?>
                    </div>
					 </div>
					  <div class="row no-padd">
                    <div class="col1">
                        <label>&nbsp;</label>
                        <div class="left m-t-10">
                            <?php echo $this->formRow($form->get('is_archived')); ?>
                            <label class="text check" for="is_archived"><?php echo $translator['L_INCLUDE_ARCHIEVE']; ?></label>
                        </div></div>
						<div class="col1"><?php echo $this->formRow($form->get('searchgroupbutton')); ?></div>
                     
				 </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the group you seek, try <a href="<?php echo $this->url('creatGroup', array('action' => 'createGroup')); ?>">Create New Group.</a></p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list_group"></table>
        <div id="listcrud"></div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_group_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_ARE_YOU_SURE_GROUP_DELETE']; ?></h2>
        <p>* Deleting this group will NOT delete the member contact records. However, all<br /> contact subscription information and history for this group will be deleted.</p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
