<?php
/**
 * This page is used for group detail
 * @package    Group_GroupController_getGroupDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .='var group_id=\'' . $this->encrypt_group_id . '\';';
$var .='var encrypt_group_id=\'' . $this->encrypt_group_id . '\';';
$var .=' var module_name="'.$module_name.'";';
$var .=' var mode="'.$mode.'";';

echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->headScript()->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/group/group.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts create-group">
    <h2>
        <?php echo $translator['L_GROUPS']; ?>
        <?php if(isset($group_data['name']) and trim($group_data['name']) != "") { echo '<div class="user-name-top">'.trim($group_data['name']).'</div>'; } ?>
    </h2>
    <div class="accordion-detail m-t-10">
        <div id="pageAction">
            <ul class="edit-link">
                <li><a href="javascript:void(0);" class="active" id="tab-1" onclick="getGroupDetail()"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-2" onclick="editGroupDetails()"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-3" onclick="getGroupContactsDetail()"><?php echo $translator['L_CONTACTS']; ?></a></li>
                <?php if (isset($this->group_data['is_archived']) && $this->group_data['is_archived'] != 1) {
                ?><li><a href="#add_to_archive_block" onclick="addToArchieve('<?php echo $this->encrypt_group_id; ?>')" class="add_to_archive"><?php echo $translator['L_ADD_TO_ARCHIEVE']; ?></a></li><?php } ?>
                <li><a href="javascript:void(0);" id="tab-5" onclick="viewChangeLog()"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
            </ul>
        </div>
        <div id="groupContent"></div>
    </div>
</div>

<div style='display:none'>
    <div id='add_to_archive_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_CONFIRM_ARCHIVE']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_archive" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_archive" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='remove_selected_contacts_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_CONFIRM_REMOVE_CONTACTS']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" class="blue-btn m-r-10 yes_delete_contacts">
            <input type="button" value="No" name="no" class="green-btn no_delete_contacts">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='remove_selected_contact_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_CONFIRM_REMOVE_CONTACT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" class="blue-btn m-r-10 yes_delete_contacts">
            <input type="button" value="No" name="no" class="green-btn no_delete_contacts">
        </div>
    </div>
</div>

