<?php
/**
 * This page is used for get search contacts in group detail of group
 * @package    Group_GroupController_searchContactsGroupAction
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    
    
}
$var .= 'var userIdsNotInGroup = "' . $this->userIdsNotInGroup . '";';
$var .= 'var userIdsExcluded = "' . $this->userIdsExcluded . '";';

echo $var;
$this->inlineScript()->captureEnd();
?>
<?php
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/group/search.contacts.group.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Groups</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <div class="accordion-detail">
        <div id="error_message" class="error"></div>

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>

        <div class="head no-img"><span><?php echo $translator['L_GROUP_INFORMATION']; ?></span></div>
        <?php
        $form = $this->form;
//     $form->setAttribute('action', $this->url('getGroup', array('action' => 'get-group')));

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('group_id'));
        echo $this->formRow($form->get('group_name'));
        echo $this->formRow($form->get('group_description'));
        echo $this->formRow($form->get('group_type'));
        echo $this->formRow($form->get('campaign'));
        echo $this->formRow($form->get('transaction_amount_from'));
        echo $this->formRow($form->get('transaction_amount_to'));
        echo $this->formRow($form->get('transaction_amount_date'));
        echo $this->formRow($form->get('ellis_visit'));
        echo $this->formRow($form->get('ellis_visit_date_from'));
        echo $this->formRow($form->get('ellis_visit_date_to'));
        echo $this->formRow($form->get('transaction_amount_date_from'));
        echo $this->formRow($form->get('transaction_amount_date_to'));
        echo $this->formRow($form->get('state'));
        echo $this->formRow($form->get('city'));
        echo $this->formRow($form->get('country'));
        echo $this->formRow($form->get('is_exclude_country'));
        echo $this->formRow($form->get('phone'));
        echo $this->formRow($form->get('transaction_status'));
        echo $this->formRow($form->get('signup_status'));
        echo $this->formRow($form->get('web_status'));
        echo $this->formRow($form->get('ellis_status'));
        echo $this->formRow($form->get('product_type'));
        echo $this->formRow($form->get('relationship'));
        echo $this->formRow($form->get('assocation'));
        echo $this->formRow($form->get('no_email_address'));
        echo $this->formRow($form->get('contact_type'));
        echo $this->formRow($form->get('exclude_group'));
        echo $this->formRow($form->get('is_exclude_group'));
        echo $this->formRow($form->get('exclude_tags'));
        echo $this->formRow($form->get('is_exclude_tags'));
        echo $this->formRow($form->get('privacy'));
        echo $this->formRow($form->get('name_email_look'));
        echo $this->formRow($form->get('name_email_look_id'));
        echo $this->formRow($form->get('product_ids'));
        echo $this->formRow($form->get('surveyids'));
        echo $this->formRow($form->get('searchtype'));
        
        echo $this->formRow($form->get('status'));
        echo $this->formRow($form->get('membership_title'));
        echo $this->formRow($form->get('transaction_status_id'));
        echo $this->formRow($form->get('item_status'));
        //ticket 73 private group
        echo $this->formRow($form->get('is_private'));
        ?>


        <div class="detail-section">
            <div class="common-form group-info-row">




                <div class="row">
                    <div class="col8">
                        <label><?php echo $translator['L_NAME_AND_EMAIL']; ?></label>
                        <?php echo $this->formRow($form->get('name_email')); ?>
                    </div>
                    <div class="col8">
                        <label><?php echo $translator['L_IN_GROUP']; ?></label>
                        <?php echo $this->formRow($form->get('in_group_name')); ?>
                    </div>
                    <div class="col8">
                        <label><?php echo $translator['L_WITH_TAG']; ?></label>
                        <?php echo $this->formRow($form->get('tags')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('search_more_filter')); ?>
                </div>

            </div>
        </div>


        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the contact you seek, try <a href="<?php echo $this->url('createcontact', array('action' => 'create-contact')); ?>">Create New Contact.</a></p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="contacts_list_group"></table>
        <div id="cscrud"></div>
    </div>
</div>
<div class="full common-form m-t-20">
    <?php echo $this->formRow($form->get('addusertogroup')); ?>
</div>

