<?php
/**
 * This page is used for get view detail of group
 * @package    Group_GroupController_viewGroupDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_GROUP_INFORMATION']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">
        <div class="view-row no-padd">
            <div class="row">
                <label  class="no-padd"><strong><?php echo $translator['L_NAME']; ?></strong></label>
                <?php echo $this->group_data['name']; ?>
            </div>
            <div class="row">
                <label class="no-padd"><strong><?php echo $translator['L_DESCRIPTION']; ?></strong></label>
                <?php echo $this->group_data['description']; ?>  
            </div>
            <div class="row no-padd">
                <label class="no-padd"><strong><?php echo $translator['L_GROUP_TYPE']; ?></strong></label>
                <?php if($this->group_data['group_type']==2) echo "Dynamic"; else echo "Static"; ?>  
            </div>
        </div>
    </div>
</div>