<?php
/**
 * This view is used to update transaction batch Id
 * @package    Transaction
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
?>
<div class="create-contacts" style="width:98%;margin-left:20px !important">
   <?php if(!(isset($id) &&!empty($id))) {  ?> 
    <h2>Create/Update Batch</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <?php } ?>
       
    <div class="accordion-detail <?php if(isset($id) &&!empty($id)) { echo 'm-t-30'; } ?>">
        <div class="head"><span id="create-batch-header"><?php echo $translator['L_CREATE_BATCH'] ?></span><span id="edit-batch-header" style="display:none;"><?php echo $translator['L_EDIT_BATCH'] ?></span></div>
        <div class="detail-section">
            <div class="common-form" id="create-batch-form">
                <?php
                $formCreate = $this->createBatchFrm;
                $formCreate->prepare();
                echo $this->form()->openTag($formCreate);
                ?>        
                <div class="row">
                    <div class="col7 relative">
                        <label><?php echo $translator['L_BATCH_ID'] ?><span class="red">*</span>: </label>
                        <?php echo $this->formRow($formCreate->get('batch_id')); ?>
                    </div>
                    <div class="col7 relative">
                        <label><?php echo $translator['L_STATEMENT_DATE'] ?><span class="red">*</span>: </label>
                        <?php echo $this->formRow($formCreate->get('settlement_date')); ?> 
                    </div>
                    <?php echo $this->formRow($formCreate->get('save_batch')); ?>
                </div>			
                <?php
                echo $this->form()->closeTag();
                ?>        
            </div>
            <div class="common-form" id="edit-batch-form" style="display:none;">
                <?php
                $formEdit = $this->editBatchFrm;
                $formEdit->prepare();
                echo $this->form()->openTag($formEdit);
                ?>        
                <div class="row">
                    <div class="col7 relative">
                        <label><?php echo $translator['L_BATCH_ID'] ?><span class="red">*</span>: </label>
                        <?php echo $this->formRow($formEdit->get('batch_id')); ?>
                        <?php echo $this->formRow($formEdit->get('old_batch_id')); ?>
                        <?php echo $this->formRow($formEdit->get('payment_batch_id')); ?>
                    </div>
                    <div class="col7 relative">
                        <label><?php echo $translator['L_STATEMENT_DATE'] ?><span class="red">*</span>: </label>
                        <?php echo $this->formRow($formEdit->get('settlement_date')); ?> 
                    </div>
                    <?php echo $this->formRow($formEdit->get('update_batch')); ?>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>        
            </div>
        </div>
        <div class="head"><span><?php echo $translator['L_SEARCH_BATCH_ID'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $form = $this->selectBatchFrm;
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>        
                <div class="row">
                    <div class="col7">
                        <label><?php echo $translator['L_STATEMENT_DATE'] ?>: </label>
                        <?php echo $this->formRow($form->get('statement_date')); ?> 
                    </div>
                    <div class="col6">
                        <?php echo $this->formRow($form->get('search')); ?>
                    </div>
                </div>                       
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
    </div>
</div>
<div class="grid-section" style="width:98%;margin-left:20px !important">
    <div class="m-t-15">        
        <div id="success_message" class="success-msg"  style="display:none;"></div>
        <div id="error_message" class="error-msg" style="display:none;"></div>
        <div class="common-form">
            <div class="row no-padd">
                <a href="javascript:void(0);" class="save-btn m-l-5 lock_selected_batch" onclick="lockSelectedBatch();">LOCK SELECTED BATCHES</a>
            </div>
        </div>
    </div>
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
<div style='display:none'>
    <div id='delete_product' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_PRODUCT_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_product" class="green-btn">
        </div>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
if(isset($id) &&!empty($id)) {
    $var .= 'var id = "' . $id . '";';
}
else{
    $var .= 'var id = "NONE";';
}
$script = <<<EOD
$(document).ready(function() {
        $('.accordion-detail .head:last').addClass('active');
        $('.detail-section').eq(1).show();
        $('.detail-section:not(:last)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
    });
EOD;
$this->inlineScript()->appendScript($script)
        ->appendScript($var)
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.timepicker.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/batch/select.batch.js?v=' . $this->layout()->getVariable('jsVersion'));
?>