<?php
/**
 * This view is used to update transaction batch Id
 * @package    Transaction
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/batch/update.transaction.batch.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_UPDATE_TRANSACTION_BATCH'] ?></h2>
    <div class="accordion-detail">
        <div id="success_message" class="success-msg" style="display:none;"><div></div></div>
		<div class="head no-img"><span><?php echo $translator['L_SEARCH_BATCH_ID'] ?></span></div>
        <?php
        $form = $this->updateTransactionBatchFrm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="left">
                        <label><?php echo $translator['L_BATCH_ID'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('batch_id')); ?>
						<?php echo $this->formRow($form->get('payment_batch_id')); ?> 
                        <label class="right auto m-l-20">OR </label>
                    </div>
                    <div class="left m-r-20">
                       <label class="m-l-20 auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt('batch_id'); ?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                    </div>
                    <div class="col6">
                        <?php echo $this->formRow($form->get('search')); ?>
                    </div>
                </div>

            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</div>
<div class="grid-section">
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
</p>
</div>
</div>

<div style='display:none'>
    <div id='delete_product' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_PRODUCT_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_product" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_product" class="green-btn">
        </div>
    </div>
</div>