<?php
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.transaction.js?v='.$this->layout()->getVariable('jsVersion'));

?>

<div class="create-contacts">

    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }    
    ?>

<form id="search_transaction" name="search_transaction" method="post" action="">        <div class="detail-section">
            <span class="error-msg" style="display:none;" id="search-err-msg">Please enter at least one parameter.</span>
            <span class="error-msg" style="display:none;" id="search-err-msg_need_two">Please enter one more parameter.</span>
            <div class="common-form ">
                <div class="row">
                    <div class="col1">
                        <label>First Name</label>
                        <input type="text" value="" id="first_name" name="first_name">                    </div>
                    <div class="col1 right">
                        <label>Last Name</label>
                        <input type="text" value="" id="last_name" name="last_name">                    </div>
                </div>
				<div class="row">
                    <div class="col1">
                        <label>Email Id</label>
                        <input type="text" value="" id="email_id" name="email_id">                    </div>

                </div>                
                
					<div class="col1 right">
						<label class="no-padd">&nbsp;</label>
						<input type="submit" value="SEARCH" class="search-btn" id="submitbutton" name="submitbutton">						</div>
					</div>
                </div>
            </div>
        </form>
<div class="grid-section">
    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>

<div style='display:none'>
            <div id='delete_transaction_content' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2>Are you sure you want to delete this transaction ?</h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete_transaction" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete_transaction" class="green-btn">
                </div>
            </div>
        </div>