<style>
   .create-contacts .row{padding-bottom: 30px}
   .add-kiosk-popup label.width-120, 
   .add-kiosk-popup .col1 > label{width:330px}
   
</style>
<script>
var kioskFee = '<?php echo $contactDetails[0]['amount']; ?>'
</script>
<?php
/**
 * This page is use for create crm user
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.markPaidTransaction.js?v='.$this->layout()->getVariable('jsVersion'));
//asd($this->contactDetails);
?>

<!--left section ends-->
    <!--starts right  section-->
   
    <?php 
        $form = $this->form;
        $form->prepare();
         $form->setAttribute('id', 'markPaid');
         $form->setAttribute('name', 'markPaid');
        echo $this->form()->openTag($form);
        ?>
    <div class="add-kiosk-popup kiosk_conform_payment pop-container add-kiosk_contant-popup">
        <input type="hidden" id= "cash_amount" name="cash_amount" value="<?php echo $this->seachResult[0]['amount']?>">
        <input type="hidden" id= "pending_transaction_id" name="pending_transaction_id" value="<?php echo $this->Encrypt($this->seachResult[0]['pending_transaction_id'])?>">
		
    	<h3>Mark Paid</h3>

      <div class="common-form">
	  <div class="top_box">
                
			  <div class="row">
                  <div class="col1">
                      <label>Amount</label> <label>$<?php echo $this->currencyFormat($seachResult[0]['amount']);?></label>
                  </div>
              </div>
			  <div class="row">
                  <div class="col1">
                      <label>Cash Received</label>
                      <input type="text" name="cash_pay" id="cash_pay" style="width:20%">
                  </div>
				  <div class="row">
				  <div class="col1 left">
					<label>Exchange Amount</label> <label><span id="cash_change"></span></label>
                  </div>
                  </div>
              </div>
              </div>
	       	<hr>	
			<input id="submitbutton" class="save-btn m-r-5" type="submit" value="Update" name="submit" readonly=readonly>
          </div>
     </div>
     <?php echo $this->form()->closeTag(); ?>
	<script>
	$(function(){
	
			$("#cash_pay").keyup(function(){
				var cash = parseFloat($("#cash_pay").val());
				var amount = '<?php echo $seachResult[0]['amount'];?>';
				var change = cash*1 - amount*1;
				if(isNaN(change)){
					change = "";
				}
				else{
				change = parseFloat(change).toFixed(2);
				change = "$"+ change;
				}
				
				$("#cash_change").html(change);
			});

			
	});
	</script>