<?php
/**
* This file is used for get contact membership 
* @package    User
* @author     Icreon Tech - DG
*/
?>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.='var user_id= "' . $user_id . '";';
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.membership.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="grid-box m-t-15" id="gview_list">
            <table id="membership_list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='update_user_membership' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONFIRM_MESSAGE']; ?></h2>
        <p>
<?php echo $translator['ARE_U_SURE']; ?>
            <span class="red">*</span><?php echo $translator['CANT_NOT_DONE']; ?></p>
        <div id="error_message"></div>
        <div class="button-row" style="width:175px">
            <input type="button" value="Save" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="Cancel" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>