<?php
/**
 * This file is used for contact membership form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$script = <<<EOD
$(function() {    
        $("#auto_renew_form").validate({
            submitHandler: function() {
                var dataStr = $('#auto_renew_form').serialize();                    
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: "/user-membership-info/$userId",
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            $("#tab-5").click();
                            
                            location.href="#topOfProfilePage"; 
                        }
                    }
                });
            }
        });
    });
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
$membership = $membershipData;
?>
<style>
.shiMethMsg{
    color: #939393 !important;
    display: inline;
    float: left;
    font-size: 17px !important;
    line-height: 22px !important;
    margin: 0 0 0 10px;
    padding: 0;
    width: 100%;
    padding-bottom: 10px;
}
</style>
<div class="middle-section">
    <div class="edit-inner-padd">
        <div style="" class="member-benefits">
            <h1><?php echo $translator['H_MEMBERSHIP']; ?><a title="Close" href="javascript:void(0);" onclick="goToProfile();" class="close"></a></h1>
            <?php
            if (isset($flashMessages) && !empty($flashMessages)) {
                echo "<div id='success_message' class='success_message'>" . $flashMessages[0] . "</div>";
            }
            ?>
            <div class="field-section float-left">
                <div class="field-row">
                    <?php 
                       if ($membershipId == 1) { //$membershipId == 1
                        ?>
						<div class="benefits-section">
                        <h2>Ellis Island - Statue of Liberty Membership</h2>
						</div>
                        <div class="memberDonerFront">
                            <div class="main-detail">

                                <?php
                                $i = 1;
                                $totalMembership = count($membership);
                                foreach ($membership as $k => $key) {
                                    if ($key['membership_id'] != '1' && $key['minimun_donation_amount'] > 0) {
                                        $startDate = "";
                                        $endDate = "";
                                        if (isset($key['validity_type']) and trim($key['validity_type']) != "") {
                                            if ($key['validity_type'] == "1") {
                                                if (isset($key['validity_time']) and trim($key['validity_time']) != "") {
                                                    $financialYearDay = $this->financialYearDay;
                                                    $financialYearMonth = $this->financialYearMonth;
                                                    /*
                                                    $startDate1 = $key['validity_time'] . "-" . $financialYearMonth . "-" . $financialYearDay;
                                                    $endDate1 = date('Y-m-d', strtotime("+11 months", strtotime($startDate1)));

                                                    $startDate = date("M Y", strtotime($startDate1));
                                                    $endDate = date("M Y", strtotime($endDate1));
                                                    $endDate2 = date("F Y",  strtotime($endDate1));
                                                    */
                                                    
                                                    $startDate1 = $key['validity_time'] . "-" . $financialYearMonth . "-" . $financialYearDay;
                                                    $endDate1 = date('Y-m-d', strtotime("+11 months", strtotime($startDate1)));
                                                    $startDate = date("M Y", strtotime($startDate1));
                                                    $endDate = date("M Y", strtotime($endDate1));
                                                    $endDate2 = date("F Y", strtotime($endDate1));
                                                    $addYear = ($matchingMembership['validity_time'] - date("Y")) + 1;
                                                    $your_date = $endDate1;
                                                    $now = time();
                                                    $datediff = strtotime($your_date) - $now;

                                                    if ((isset($membership_plus) && !empty($membership_plus)) && (floor($datediff / (60 * 60 * 24)) < $membership_plus)) {
                                                        $endDate1 = date('Y-m-d', strtotime("+23 months", strtotime($startDate1)));
                                                        $startDate = date("M Y", strtotime($startDate1));
                                                        $endDate = date("M Y", strtotime($endDate1));
                                                        $endDate2 = date("F Y", strtotime($endDate1));
                                                        $addYear = ($matchingMembership['validity_time'] - date("Y")) + 2;
                                                        $your_date = $endDate1;
                                                    }
                                                }
                                            } else if ($key['validity_type'] == "2") {
                                                if (isset($key['validity_time']) and trim($key['validity_time']) != "") {
                                                    /*
                                                    $startDate1 = $key['added_date'];
                                                    $validityTime = $key['validity_time'] - 1;
                                                    $endDate1 = date('Y-m-d', strtotime("+" . $validityTime . " year +11 months", strtotime($startDate1)));

                                                    $startDate = date("M Y", strtotime($startDate1));
                                                    $endDate = date("M Y", strtotime($endDate1));
                                                    $endDate2 = date("F Y",  strtotime($endDate1));
                                                    */
                                                    
                                                    $startDate1 = $key['added_date'];
                                                    $validityTime = $key['validity_time'] - 1;
                                                    $endDate1 = date('Y-m-d', strtotime("+" . $validityTime . " year +11 months", strtotime($startDate1)));

                                                    $startDate = date("M Y", strtotime($startDate1));
                                                    $endDate = date("M Y", strtotime($endDate1));
                                                    $endDate2 = date("F Y", strtotime($endDate1));
                                                }
                                            }
                                        }
                                         //$i++;
                                        ?>
                                        <div class="detail-box <?php
                            if ($i++ % 2 == 0) {
                                echo "second";
                            }
                                        ?>">
											<div class="head">
                                            <h1><?php echo $this->EscapeHtml($key['membership_title']); ?></h1>
                                            <!--- <h2>Membership</h2> --->
                                            <h3>Only $<?php echo $key['minimun_donation_amount']; ?>/year Tax-deductible</h3>
											</div>
                                            <?php if (isset($endDate2) and $endDate2 != "") { ?> 
                                                <h4><strong>Introductory New Member Offer</strong><br>Join now and your membership will extend through <?php echo $endDate2; ?>!</h4> 
                                            <?php } ?>
                                            <?php echo isset($key['membership_description'])?$key['membership_description']:""; ?>
                                            <a href="javascript:void(0);" onclick="showDonationPopup('<?php echo $this->encrypt($key['minimun_donation_amount']); ?>','<?php echo $this->encrypt($key['membership_id']); ?>')" class="button green">Add <?php echo $this->EscapeHtml($key['membership_title']); ?> Membership</a> </div>
                                        <?php
                                    }
                                }
                                ?>
                              </div>  
                                <p class="shiMethMsg">Note: Non-member Registered Users have the following “save” opportunities for 365 days: 1 passenger search, 3 ship searches, 5 passenger records, 2 ship manifests, 2 ship records, 1 Wall of Honor search, 1 Flag of Faces search.</p>
                                                    
                            
                        </div>
                        <?php
                    } else {
                        ?>

                        <div class="box">
                            <p class="pad-10">Thank you for being a member and contributing to keeping our records free to search for future generations. </p>                        

                        </div>
                        <div class="box">

                            <table width="100%">
                                <tr>
                                    <td>
                                        Membership:
                                    </td>
                                    <td>
    <?php echo $membershipTitle; ?>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Expires: 
                                    </td>
                                    <td>
    <?php //echo $membershipExpire;  ?>
                                        <?php echo $this->Dateformatalpha($membershipExpire, 'calender'); ?>
                                    </td>

                                </tr>
                            </table>
                        </div>
    <?php
    if (isset($profileId) && !empty($profileId)) {
        ?>
                            <form action="" name="auto_renew_form" id="auto_renew_form"  method="post">
                                <p>
                                <div class="box">                        
                                    <p class="pad-10">If auto renewal is set to on, your membership will automatically be renewed at membership level of <?php echo $membershipTitle; ?> at cost of $<?php echo $membershipAmt; ?></p>
                                </div>
                                <div class="field-row  clearfix col16"> 
                                    Auto Renewal
                                    <input type="radio" name="auto_renew" id='auto_renew_on' value="1" <?php if ($isAutoRenewal == 1) echo 'checked'; ?>> On
                                    <input type="radio" name="auto_renew" id='auto_renew_off' value="0" <?php if ($isAutoRenewal == 0) echo 'checked'; ?>> Off
                                </div>
                                </p>
                                <div class="field-row  clearfix col16"> 
                                    <p>
                                        <input type="submit" value="Save" class="button" id="submitbutton" name="submitbutton">
                                        <input type="button" value="cancel" class="button green" onclick="goToProfile();" id="cancel" name="cancel">
                                    </p>
                                </div>
                            </form>
    <?php } ?>
                    </div>
                        <?php
                    }
                    ?>
            </div>            
        </div>
    </div>
</div>