<?php
/**
 * This file is used for alter membership form
 * @package    User
 * @author     Icreon Tech - AS
 */ 
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/screen.css?v='.$this->layout()->getVariable('cssVersion'));
$var = '';
$var.=" var userId = '" . $user_id . "';";
$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/passenger/passenger.addtocart.js?v='.$this->layout()->getVariable('jsVersion'));
$jsonData = array();
foreach ($membershipData as $key => $val) {
    if ($val['minimun_donation_amount'] >= $minAmount && $val['minimun_donation_amount'] != 'N/A') {
        $jsonData[] = $val;
    }
}

function cmp($a, $b) {
    if ($b['minimun_donation_amount'] > $a['minimun_donation_amount'])
        return 1;
}

usort($jsonData, "cmp");
$jsonData = "" . json_encode($jsonData) . "";
?>
<div id='saved_ship' class="inner-popup-detail">
    <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>

    <h1>Add Membership</h1>
    <?php
    $form = $this->membershipForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="form-sep">
        <span style="font-size: 16px;">If you are willing to donate more amount, you can edit below</span>
    </div>
    <div class="form-sep">
        Amount ($)&nbsp;&nbsp;<?php echo $this->formRow($form->get('amount')->setValue($minAmount)); ?>
    </div>
    <div class="form-sep">
        <div id="error_message"></div>
        <div id="membership_title"></div>
    </div>
    <?php
    echo $this->formRow($form->get('jsonValue')->setValue($jsonData));
    echo $this->formRow($form->get('minAmount')->setValue($minAmount));
    echo $this->formRow($form->get('membershipId')->setValue($membershipID));
    ?>
    <div class="form-sep"  style=" text-align: center; width: 85%;">
        <?php echo $this->formRow($form->get('submit')); ?>
    </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>