<?php
/**
 * This view is used to show 
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
$membership = $this->membershipData;
$var = '';
$this->inlineScript()->captureStart();

$var.=" var userId = '" . $user_id . "';";
echo $var;
$this->inlineScript()->captureEnd();
//asd($membership,2);
$i = 0;
foreach ($membership as $key) {
    if ($key['membership_id'] != '1' && $key['minimun_donation_amount'] > 0) {
        if ($i == 0) {
            $min_donation = $key['minimun_donation_amount'];
        } else {
            if ($min_donation > $key['minimun_donation_amount']) {
                $min_donation = $key['minimun_donation_amount'];
            }
        }
        $i++;
    }
}
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/passenger.addtocart.js?v=' . $this->layout()->getVariable('jsVersion'))
?>
<style>
    .shiMethMsg{
        color: #939393 !important;
        display: inline;
        float: left;
        font-size: 17px !important;
        line-height: 22px !important;
        margin: 0 0 0 10px;
        padding: 0;
        width: 100%;}
    </style>
    <div class="inner-header">
    <h1>Member benefits</h1>
</div>
<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container"> 
            <div class="col11 alpha block">
                <div class="content member-benefits clearfix">

                    <h1>Statue of Liberty-Ellis Island Foundation Membership</h1>
                    <p>
                        The Statue of Liberty-Ellis Island Foundation, Inc. is a non-profit organization founded in 1982 to raise funds for and oversee the historic restorations of the Statue of Liberty and Ellis Island, working in partnership with the National Park Service/U.S. Department of the Interior. Its endowment has funded over 200 projects at the islands.
                    </p>
                    <hr>
                    <div class="blue-box"> 
                        A one-year Membership in the Foundation is just <strong> $<?php echo $min_donation; ?></strong>.
                    </div>

                    <?php
                    if ($this->getAuth() === false) {
                        ?>
                        <p>If you have already registered with this Website, please <a href="javascript:void(0)" onclick="checkUserLogin('<?php echo $this->Encrypt('/member-benefit') ?>')">sign in</a> to begin the process of becoming a member. If not, you'll need to quickly register with this site; then you'll immediately be able to join the Foundation. Please click "Yes, I am new to this site."</p>
                        <hr>
                    <?php } ?>
                    <div class="benefits-section">
                        <h2>Benefits</h2>

                    </div>
                    <div class="main-detail">



                        <?php
                        $i = 0;
                        foreach ($membership as $key) {
                            if ($key['membership_id'] != '1' && $key['minimun_donation_amount'] > 0) {
                                $startDate = "";
                                $endDate = "";
                                if (isset($key['validity_type']) and trim($key['validity_type']) != "") {
                                    if ($key['validity_type'] == "1") {
                                        if (isset($key['validity_time']) and trim($key['validity_time']) != "") {
                                            $financialYearDay = $this->financialYearDay;
                                            $financialYearMonth = $this->financialYearMonth;

                                            $startDate1 = $key['validity_time'] . "-" . $financialYearMonth . "-" . $financialYearDay;
                                            $endDate1 = date('Y-m-d', strtotime("+11 months", strtotime($startDate1)));
                                            $startDate = date("M Y", strtotime($startDate1));
                                            $endDate = date("M Y", strtotime($endDate1));
                                            $endDate2 = date("F Y", strtotime($endDate1));
                                            $addYear = ($matchingMembership['validity_time'] - date("Y")) + 1;
                                            $your_date = $endDate1;
                                            $now = time();
                                            $datediff = strtotime($your_date) - $now;

                                            if ((isset($membership_plus) && !empty($membership_plus)) && (floor($datediff / (60 * 60 * 24)) < $membership_plus)) {
                                                $endDate1 = date('Y-m-d', strtotime("+23 months", strtotime($startDate1)));
                                                $startDate = date("M Y", strtotime($startDate1));
                                                $endDate = date("M Y", strtotime($endDate1));
                                                $endDate2 = date("F Y", strtotime($endDate1));
                                                $addYear = ($matchingMembership['validity_time'] - date("Y")) + 2;
                                                $your_date = $endDate1;
                                            }
                                        }
                                    } else if ($key['validity_type'] == "2") {
                                        if (isset($key['validity_time']) and trim($key['validity_time']) != "") {
                                            $startDate1 = $key['added_date'];
                                            $validityTime = $key['validity_time'] - 1;
                                            $endDate1 = date('Y-m-d', strtotime("+" . $validityTime . " year +11 months", strtotime($startDate1)));

                                            $startDate = date("M Y", strtotime($startDate1));
                                            $endDate = date("M Y", strtotime($endDate1));
                                            $endDate2 = date("F Y", strtotime($endDate1));
                                        }
                                    }
                                }
                                $i++;
                                ?>	

                                <div class="detail-box <?php
                        if ($i % 2 == 0) {
                            echo "second";
                        }
                                ?>">
                                    <div class="head">
                                        <h1><?php echo $this->EscapeHtml($key['membership_title']); ?></h1>
                                        <h3>Only $<?php echo $key['minimun_donation_amount']; ?>/year Tax-deductible</h3>
                                    </div>
                                    <?php if (isset($endDate2) and $endDate2 != "") { ?> 
                                        <h4><strong>Introductory New Member Offer</strong><br>Join now and your membership will extend through <?php echo $endDate2; ?>!</h4> 
                                    <?php } ?>
                                    <?php echo isset($key['membership_description']) ? $key['membership_description'] : ""; ?>

                                    <?php
                                    if ($this->getAuth() === false) {
                                        ?>
                                        <a href="javascript:void(0);" onclick="checkUserLogin('<?php echo $this->Encrypt('/member-benefit') ?>')" class="button green">Add <?php echo $this->EscapeHtml($key['membership_title']); ?> Membership</a> </div>                                
                                    <?php
                                } else {
                                    ?>
                                    <a href="javascript:void(0);" onclick="showDonationPopup('<?php echo $this->encrypt($key['minimun_donation_amount']); ?>', '<?php echo $this->encrypt($key['membership_id']); ?>')" class="button green">Add <?php echo $this->EscapeHtml($key['membership_title']); ?> Membership</a> </div>
                                <?php
                            }
                        }
                    }
                    ?>


                </div>
                <div class="footer-detail">
                    <p class="shiMethMsg">Note: Non-member Registered Users have the following “save” opportunities for 365 days: 1 passenger search, 3 ship searches, 5 passenger records, 2 ship manifests, 2 ship records, 1 Wall of Honor search, 1 Flag of Faces search.</p>
                    <?php if ($this->getAuth() === false) { ?><h1 style="padding-top:20px">BE A PART OF HISTORY!</h1><?php } ?>
                    <ul class="right"><li><a href="/terms-of-use">Members Terms of Use </a></li></ul>
                    <div class="full">
                        <?php if ($this->getAuth() === false) { ?>
                            <ul><li><a id="login-popup" onclick="checkUserLogin('0');" href="javascript:void(0);">Login</a></li><li><a onclick="signupPopup();" href="javascript:void(0);">Join us</a></li></ul>
                        <?php } ?>
                    </div>
                </div>
            </div> 

        </div>   			

        <div class="col5 rightsection omega">
            <?php
            if ($this->getAuth() === false) {
                ?>
                <div class="block white-bg m-t-none m-b-30" >
                    <div class="content">
                        <h1>have an account?</h1>
                        <p>Create a free account to search for family arrival records and learn more about Lady Liberty and Ellis Island.</p>
                        <h3>BE A PART OF HISTORY!</h3>
                        <a class="button green" href="/login">Login</a> <a class="button" href="javascript:void(0);" onclick="signupPopup();">Join us!</a> </div>

                </div>
            <?php } ?>
        </div>
    </div>
</div>
</div>
