<style>
    .row.associate .col3{width:15%}
</style>
<?php
/**
 * This view is used to create family history for admin
 * @package    Document
 * @author     Icreon Tech - SK
 */
$countryList = array();
for ($i = 1; $i <= count($country_list); $i++) {
    $countryList[$i]['id'] = $i;
    $countryList[$i]['value'] = $country_list[$i];
}
?>
<script>
    var country = <?php echo json_encode($countryList); ?>;
</script>

<div class="create-contacts">
    <h2>Documents</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="head"><span>Family History Information</span></div>
        <div class="detail-section">			      
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label>Title<span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('title')); ?>
                    </div>
                    <div class="col1 right">
                        <label>Contact Name </label>
                        <?php echo $this->formRow($form->get('contact_name')); ?>
                        <?php echo $this->formRow($form->get('contact_name_id')->setValue($contact_id)); ?>
                    </div>
                </div>
                <div class="row">
                    <label>Story<span class="red">*</span></label>
                    <div style="margin-left:144px;">
                        <label for="Story" class="error" style="display:none" id="story_label">&nbsp;</label>
                        <?php echo $this->formRow($form->get('story')); ?></div> 
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Sharing<span class="red">*</span></label>
                        <span class="radio-label p-t-5 left">
                            <?php echo $this->formRow($form->get('is_sharing')); ?>

                        </span> </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('is_featured')); ?>
                        <label class="auto" for="is_featured">Featured Story</label>
                    </div>
                    <div class="row no-padd" id="family_history_email" style="display:none;">
                        <div class="col1">
                            <label>Family History Email<span class="red">*</span></label>
                            <span class="radio-label p-t-5 left">
                                <?php echo $this->formRow($form->get('is_email_on')); ?>
                            </span> 
                            <span class="age-year auto">Allow emails requesting to contact you from other users while they are reading your family history.</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head"><span>Upload Image/ Video</span></div>
        <div class="detail-section upload-img-input">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label>Main Image</label>
                        <?php echo $this->formRow($form->get('main_content')); ?>
                        <?php echo $this->formRow($form->get('main_content_id')); ?>
                        <div class="row m-t-10">
                            <label>&nbsp;</label>
                            <div id="filemessage" class="m-l-50 left"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Image Location 1</label>
                        <span class="left checkbox-auto">

                            <?php echo $this->formRow($form->get('location_one_video_type')); ?>
                            <label class="auto" for="location_one_video_type">&nbsp;</label>

                        </span>
                        <?php echo $this->formRow($form->get('location_one_video')); ?>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <span class="left checkbox-auto">
                                <?php echo $this->formRow($form->get('location_one_image_type')); ?>
                                <label class="auto" for="location_one_image_type">&nbsp;</label>
                            </span>
                            <?php echo $this->formRow($form->get('location_one_image')); ?>
                            <?php echo $this->formRow($form->get('location_one_image_id')); ?>
                        </div>
                        <div class="full">
                            <label>&nbsp;</label>
                            <div id="filemessage1" class="m-l-50 left"></div>                             
                        </div>
                        <div class="full m-t-15 caption">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('location_one_caption')); ?>
                        </div>
                    </div>
                    <div class="col1 right">
                        <label>Image Location 2</label>
                        <span class="left checkbox-auto">
                            <?php echo $this->formRow($form->get('location_two_video_type')); ?>
                            <label class="auto" for="location_two_video_type">&nbsp;</label>
                        </span>
                        <?php echo $this->formRow($form->get('location_two_video')); ?>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <span class="left checkbox-auto">
                                <?php echo $this->formRow($form->get('location_two_image_type')); ?>
                                <label class="auto" for="location_two_image_type">&nbsp;</label>
                            </span>
                            <?php echo $this->formRow($form->get('location_two_image')); ?>
                            <?php echo $this->formRow($form->get('location_two_image_id')); ?>
                        </div>
                        <div class="full">
                            <label>&nbsp;</label>
                            <div id="filemessage2" class="m-l-50 left caption"></div>                             
                        </div>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('location_two_caption')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Image Location 3</label>
                        <span class="left checkbox-auto">

                            <?php echo $this->formRow($form->get('location_three_video_type')); ?>
                            <label class="auto" for="location_three_video_type">&nbsp;</label>

                        </span>
                        <?php echo $this->formRow($form->get('location_three_video')); ?>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <span class="left checkbox-auto">
                                <?php echo $this->formRow($form->get('location_three_image_type')); ?>
                                <label class="auto" for="location_three_image_type">&nbsp;</label>
                            </span>
                            <?php echo $this->formRow($form->get('location_three_image')); ?>
                            <?php echo $this->formRow($form->get('location_three_image_id')); ?>
                        </div>
                        <div class="full">
                            <label>&nbsp;</label>
                            <div id="filemessage3" class="m-l-50 left"></div>                             
                        </div>
                        <div class="full m-t-15 caption">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('location_three_caption')); ?>
                        </div>
                    </div>
                    <div class="col1 right">
                        <label>Image Location 4</label>
                        <span class="left checkbox-auto">
                            <?php echo $this->formRow($form->get('location_four_video_type')); ?>
                            <label class="auto" for="location_four_video_type">&nbsp;</label>
                        </span>
                        <?php echo $this->formRow($form->get('location_four_video')); ?>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <span class="left checkbox-auto">
                                <?php echo $this->formRow($form->get('location_four_image_type')); ?>
                                <label class="auto" for="location_four_image_type">&nbsp;</label>
                            </span>
                            <?php echo $this->formRow($form->get('location_four_image')); ?>
                            <?php echo $this->formRow($form->get('location_four_image_id')); ?>
                        </div>
                        <div class="full">
                            <label>&nbsp;</label>
                            <div id="filemessage4" class="m-l-50 left"></div>                             
                        </div>
                        <div class="full m-t-15 caption">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('location_four_caption')); ?>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label>Image Location 5</label>
                        <span class="left checkbox-auto">
                            <?php echo $this->formRow($form->get('location_five_video_type')); ?>
                            <label class="auto" for="location_five_video_type">&nbsp;</label>
                        </span>
                        <?php echo $this->formRow($form->get('location_five_video')); ?>
                        <div class="full m-t-15">
                            <label>&nbsp;</label>
                            <span class="left checkbox-auto">
                                <?php echo $this->formRow($form->get('location_five_image_type')); ?>
                                <label class="auto" for="location_five_image_type">&nbsp;</label>
                            </span>
                            <?php echo $this->formRow($form->get('location_five_image')); ?>
                            <?php echo $this->formRow($form->get('location_five_image_id')); ?>
                        </div>
                        <div class="full">
                            <label>&nbsp;</label>
                            <div id="filemessage5" class="m-l-50 left"></div>                             
                        </div>
                        <div class="full m-t-15 caption">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('location_five_caption')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head"><span>Associate People(s)</span></div>
        <div class="detail-section associate-people">
            <div class="common-form">
                <div class="row">
                    <div class="row1 radio-label">
                        <?php echo $this->formRow($form->get('is_in_db')); ?>
                        <label class="auto" for="is_in_db">Is the person in our database? <span id="maximumPassengerAdd"></span>
                        </label>
                    </div>
                    <div id="person_in_database_div" style="display:none;">
                        <div class="row" id="person_in_database_block_1">
                            <div class="col4 group-relative">
                                <div class="full">
                                    <label class="auto no-padd m-b-10">Passenger ID&nbsp;&nbsp;(min. 5 digits)</label>
                                </div>
                                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('passenger_id_db[]')); ?>
                            </div>
                            <div class="col4">
                                <div class="full">
                                    <label>Relationship</label>
                                </div>
                                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('relationship_id_db[]')); ?>
                            </div>
                            <div class="col4">
                                <div class="full">
                                    <label>On Wall of Honor ?</label>
                                </div>
                                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('panel_no_db[]')); ?>
                            </div>                                
                            <a href="javascript:void(0);" class="plus m-t-35"  onclick="addMorePassenger(this);" id="addMorePassenger"></a>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="row1 radio-label">
                        <?php echo $this->formRow($form->get('is_manual')); ?>
                        <label class="auto" for="is_manual">Add Manually</label>
                    </div>
                    <div id="manual_div"  style="display:none;">
                        <div class="row associate" id="manual_block_1">
                            <div class="col3">
                                <label>First Name</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('first_name_manual[]')); ?>
                            </div>
                            <div class="col3">
                                <label>Last Name</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('last_name_manual[]')); ?>
                            </div>
                            <div class="col3">
                                <label>Relationship</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('relationship_id_manual[]')); ?>
                            </div>
                            <div class="col3">
                                <label>Year of Birth</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('year_of_birth_manual[]')); ?>
                            </div>
                            <div class="col3">
                                <label>Country of Birth</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual[]')); ?>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual_id[]')); ?>
                            </div>
                            <div class="col3">
                                <label>On Wall of Honor ?</label>
                                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('panel_no_manual[]')); ?>
                            </div>                                
                            <a href="javascript:void(0);" class="plus m-t-35"  onclick="addMoreMnaualPerson(this);" id="addMoreMnaualPerson"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-10 common-form">
            <?php echo $this->formRow($form->get('crm_user_family_history_submitbutton')); ?>
            <?php echo $this->formRow($form->get('crm_user_family_history_save_and_publishbutton')); ?>
            <?php echo $this->formRow($form->get('crm_user_family_history_cancel')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$var .= ' var contact_id = "' . $this->contact_id . '";';
$var .= 'var numOfCharacterAllowedForStory= "' . $this->max_story_characters . '";';
$var .= 'var maxPassengerAllowed= "' . $this->max_passengers . '";';
$var .= 'var numOfPassengerOnPage= 1;';

$script = <<<EOD
$(document).ready(function() {
        $('.accordion-detail .head:first').addClass('active')
        $('.detail-section').eq(0).show();
        $('.detail-section:not(:first)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
        tinymce.init({
            mode: "specific_textareas",
            editor_selector: "myTextEditor",
            plugins: [
                "link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages"
            ],
            toolbar: "insertfile undo redo | table styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages",
            file_browser_callback: 'myFileBrowser',
            image_advtab: true,
            height: 300,
            menubar: false,
            width: '100%'
        });
    });
EOD;

$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/familyhistory/create.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
?>



