<?php
/**
 * This view is used to add more pasenger
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$form = $this->associateExistingPassengerForm;
?>
<div class="row" id="person_in_database_block_<?php echo ($totalPassenger + 1); ?>">
    <div class="col4 group-relative">
        <div class="full">
            <label class="auto no-padd m-b-10">Passenger ID&nbsp;&nbsp;(min. 5 digits)</label>
            <?php $form->get('passenger_id_db[]')->setAttribute('id', 'passenger_id_' . ($totalPassenger + 1)) ?>
        </div>
        <?php echo $this->formRow($form->get('passenger_id_db[]')); ?>
        </div>
        <div class="col4">
            <div class="full">
                <label>Relationship</label>
            </div>
        <?php echo $this->formRow($form->get('relationship_id_db[]')); ?>
        </div>
        <div class="col4">
            <div class="full">
                <label>On Wall of Honor ?</label>
            </div>
        <?php echo $this->formRow($form->get('panel_no_db[]')); ?>
        </div>
        <a class="minus m-t-35" href="javascript:void(0);" onclick="deleteMorePassenger(<?php echo ($totalPassenger + 1); ?>)"></a>
    <?php if ($isAddMore) {
    ?>
                <a href="javascript:void(0);" class="plus m-t-35 m-l-10"  onclick="addMorePassenger(this);" id="addMorePassenger"></a>
    <?php } ?>
</div>
<?php 
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$totalPassenger = $totalPassenger + 1;
$script = <<<EOD
$(document).ready(function() {
        $("select.e1").select2();
    });
	addautofill("$totalPassenger");
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
?>

