<style>
.row.associate .col3{width:15%}
</style>
<?php
/**
 * This view is used to add more pasenger
 * @package    Setting
 * @author     Icreon Tech - DT
 */
 $countryList = array();
for ($i = 1; $i <= count($country_list); $i++) {
    $countryList[$i]['id'] = $i;
    $countryList[$i]['value'] = $country_list[$i];
}
$form = $this->associateManualPassengerForm;
?>
<script>
    var country = <?php echo json_encode($countryList); ?>;
</script>
<div class="row associate" id="manual_block_<?php echo ($totalManualFamilyPerson + 1); ?>">
    <div class="col3">
        <label>First Name</label>
        <?php echo $this->formRow($form->get('first_name_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Last Name</label>
        <?php echo $this->formRow($form->get('last_name_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Relationship</label>
        <?php echo $this->formRow($form->get('relationship_id_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Year of Birth</label>
        <?php echo $this->formRow($form->get('year_of_birth_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Country of Birth</label>
        <?php 
        $next = $totalManualFamilyPerson + 1;
        echo $this->formRow($form->get('country_of_birth_manual[]')->setAttribute('id','country_of_birth_manual'.$next)); 
        echo $this->formRow($form->get('country_of_birth_manual_id[]')->setAttribute('id','country_of_birth_manual_id'.$next)); 
        ?>
    </div>
    <div class="col3">
        <label>On Wall of Honor ?</label>
        <?php echo $this->formRow($form->get('panel_no_manual[]')); ?>
        
    </div>   
<a class="minus m-t-35" href="javascript:void(0);" onclick="deleteMoreMnaualPerson(<?php echo ($totalManualFamilyPerson + 1); ?>)"></a>
        <a href="javascript:void(0);" class="plus m-t-35 m-l-10"  onclick="addMoreMnaualPerson(this);" id="addMoreMnaualPerson"></a>	
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$totalManualFamilyPerson = $totalManualFamilyPerson + 1;
$script = <<<EOD
$(document).ready(function() {
        $("select").select2();
    });
	addautofill("$totalManualFamilyPerson");
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
?>

