<style>
.row.associate .col3{width:15%}
</style>
<?php
/**
 * This view is used to add more pasenger
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$form = $this->associateManualPassengerForm;
?>
<div class="form-sep"  id="manual_block_<?php echo ($totalManualFamilyPerson + 1); ?>">
    <div class="col5">
        <label>First Name :</label>
        <?php echo $this->formRow($form->get('first_name_manual[]')); ?>
    </div>
    <div class="col5">
        <label>Last Name :</label>
        <?php echo $this->formRow($form->get('last_name_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Relationship  :</label>
        <?php echo $this->formRow($form->get('relationship_id_manual[]')); ?>
    </div>
    <a class="remove" href="javascript:void(0);" style="margin-top: 26px;display:inline-block;" onclick="deleteMoreMnaualPersonRow(<?php echo ($totalManualFamilyPerson + 1); ?>)"></a>
    <a href="javascript:void(0);" class="add" style="margin-top: 26px;display:inline-block;"  onclick="addMoreMnaualPersonRow(this);" id="addMoreMnaualPerson"></a>        
    <div class="col5">
        <label>Year of Birth</label>
        <?php echo $this->formRow($form->get('year_of_birth_manual[]')); ?>
    </div>
    <div class="col3">
        <label>Country of Birth:</label>
        <div class="country-pass"><?php echo $this->formRow($form->get('birth_country_id_manual[]')); ?></div>
    </div>
    <div class="col5">
        <label>On Wall of Honor?</label>
        <?php echo $this->formRow($form->get('panel_no_manual[]')); ?>
    </div>
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$totalManualFamilyPerson = $totalManualFamilyPerson+1;

$script = <<<EOD
addautofill("$totalManualFamilyPerson");
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
?>

