<?php
/**
 * This view is used to add more pasenger
 * @package    Setting
 * @author     Icreon Tech - DT
 */

$form = $this->associateExistingPassengerForm;
?>
<div class="form-sep" id="person_in_database_block_<?php echo ($totalPassenger + 1); ?>">
    <div class="col5">
        <label class="auto">Passenger ID :&nbsp;&nbsp;&nbsp;<span>(min. 5 digits)</span></label>
        <?php $form->get('passenger_id_db[]')->setAttribute('id', 'passenger_id_' . ($totalPassenger + 1)) ?>
        <?php echo $this->formRow($form->get('passenger_id_db[]')); ?>
    </div>
    <div class="col3">
        <label>Relationship :</label>
        <?php echo $this->formRow($form->get('relationship_id_db[]')); ?>
    </div>
    <div class="col5">
        <label>On Wall of Honor ?</label>
        <?php echo $this->formRow($form->get('panel_no_db[]')); ?>
    </div>
    <a class="remove" style="float: left;margin-top: 26px;" href="javascript:void(0);" onclick="deleteMorePassengerRow(<?php echo ($totalPassenger + 1); ?>)"></a>
    <?php if ($isAddMore) { ?>
    <a href="javascript:void(0);" class="add" style="float: left;margin-top: 26px;" onclick="addMorePassengerRow(this);" id="addMorePassenger"></a>
    <?php } ?>
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$totalPassenger = $totalPassenger + 1;
$script = <<<EOD
addautofill("$totalPassenger");
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
?>