<?php
/**
 * This file is used for upload file
 * @package    User
 * @author     Icreon Tech - DG
 */

$form_upload_form = $this->form_upload_form;
$form_upload_form->prepare();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/upload.docs.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<div class="row">
    <label  <?php if (isset($params['flag'])) { ?> class="no-padd" <?php } ?>></label>
    <?php echo $this->formRow($form_upload_form->get('publicdocs_upload0')); ?>
    <div class="">
        <!-- The global progress bar -->
        <label>&nbsp;</label>
        <!-- <div class="progress progress-success progress-striped" id="progress">
        <div class="bar"></div>
        </div>
        <label>&nbsp;</label>-->
        <div id="filemessage_<?php echo $params['counter']; ?>"></div>
    </div>
    <?php echo $this->formRow($form_upload_form->get('publicdocs_upload_file0')); ?>
    <div id="upload_addMinus<?php echo $params['counter'] ?>" class="addMinus">
        <a  class='button green minus-field' href="javascript:void(0)" id="remove" onclick="remove_dynamic_contacts('.<?php echo $params['container'].$params['counter']; ?>','<?php echo $params['counter']; ?>')"></a>
        <a id="add_new_file" class="button green add-field" href="javascript:void(0)"></a>
    </div>
</div>
<?php
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter= "$counter";
    var container= "$container";
EOD;
echo $this->inlineScript()->appendScript($script);
?>
