<style>
    .associate .col3{width:15%}
</style>
<?php
/**
 * This view is used to create family history for admin
 * @package    Document
 * @author     Icreon Tech - SK
 */
$countryList = array();
for ($i = 1; $i <= count($country_list); $i++) {
    $countryList[$i]['id'] = $i;
    $countryList[$i]['value'] = $country_list[$i];
}
?>
<script>
    var country = <?php echo json_encode($countryList); ?>;
</script>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <?php
    $form = $this->form;
    $form->setAttribute('id', 'updateFamilyHistory');
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('family_history_id')->setValue($history['familyHistory']['family_history_id']));
    echo $this->formRow($form->get('csrf'));
    ?> 
    <div class="head"><span>Family History Information</span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row1">
                <div class="col1">
                    <label>Title<span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('title')->setValue(stripcslashes($history['familyHistory']['title']))); ?>
                </div>
                <div class="col1 right">
                    <label>Contact Name </label>
                    <?php
                    echo $this->formRow($form->get('contact_name'));
                    ?>
                    <?php echo $this->formRow($form->get('contact_name_id')->setValue($contact_id)); ?>
                </div>
            </div>
            <div class="row1">
                <div class="col1">
                    <label>Status</label>
                    <?php echo $this->formRow($form->get('is_status')); ?>
                </div>
            </div>
            <div class="row">
                <label>Story<span class="red">*</span></label>
                <label for="Story" class="error" style="display:none" id="story_label">&nbsp;</label>
                <div style="margin-left:144px;"><?php echo $this->formRow($form->get('story')->setValue(stripslashes($history['familyHistory']['story']))); ?></div> 
            </div>
            <div class="row">
                <div class="col1">
                    <label>Sharing<span class="red">*</span></label>
                    <span class="radio-label p-t-5 left">
                        <?php echo $this->formRow($form->get('is_sharing')->setValue($history['familyHistory']['is_sharing'])); ?>

                    </span> </div>
                <div class="col1 right">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('is_featured')->setValue($history['familyHistory']['is_featured'])); ?>
                    <label class="auto" for="is_featured">Featured Story</label>
                </div>
            </div>
            <div class="row no-padd">
                <div class="col1"  id="family_history_email" style="<?php echo ($history['familyHistory']['is_sharing'] == '1') ? "display:block;" : "display:none"; ?>">
                    <label>Family History Email<span class="red">*</span></label>
                    <?php
                    if ($history['familyHistory']['user_id'] != '0' && $history['familyHistory']['user_id'] != '')
                        $is_checked = $defaultFhEmailPermission;
                    else
                        $is_checked = $history['familyHistory']['is_email_on'];
                    ?>
                    <span class="radio-label">
                        <label><input type="radio" value="1" class="address-checkbox" id="is_email_on" name="is_email_on" <?php if ($is_checked == 1) { ?>checked="checked"<?php } ?>>on</label>
                        <label><input type="radio" value="0" class="address-checkbox" name="is_email_on" <?php if ($is_checked == 0) { ?>checked="checked"<?php } ?>>off</label>
                    </span>
                    <span class="age-year auto">Allow emails requesting to contact you from other users while they are reading your family history.</span> 
                </div>
                <div class="col1 right">
                    <label>&nbsp;</label>

                    <?php echo $this->formRow($form->get('is_notifiy')->setValue($history['familyHistory']['is_notify_contact'])); ?>
                    <label for="is_notify" class="auto">Notify Contact</label>

                </div>
            </div>
        </div>
    </div>
    <div class="head"><span>Upload Image/ Video</span></div>
    <div class="detail-section upload-img-input">
        <div class="common-form">
            <div class="row">
                <div class="col1">
                    <label>Main Image</label>
                    <?php echo $this->formRow($form->get('main_content')); ?>
                    <?php echo $this->formRow($form->get('main_content_id')); ?>
                    <div class="full"><label></label><div id="filemessage" class="m-l-50 left"></div></div>
                    <div class="row m-t-10">
                        <label>&nbsp;</label>

                        <?php if ($history['familyHistory']['main_content'] != '') {
                            ?>
                            <div id="main_thumb_div" class="m-l-50 left"><img src="<?php echo $history['familyHistory']['main_content']; ?>" /></div>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Image Location 1</label>
                    <span class="left checkbox-auto">
                        <?php echo $this->formRow($form->get('location_one_video_type')); ?>
                        <label class="auto">&nbsp;</label>
                    </span>
                    <?php echo $this->formRow($form->get('location_one_video')->setAttribute('name', 'location_one_video')); ?>
                    <div class="full m-t-15">
                        <label>&nbsp;</label>
                        <span class="left checkbox-auto">
                            <?php echo $this->formRow($form->get('location_one_image_type')); ?>
                            <label class="auto">&nbsp;</label>
                        </span>
                        <?php echo $this->formRow($form->get('location_one_image')); ?>
                        <?php echo $this->formRow($form->get('location_one_image_id')); ?>
                        <div class="full"><label></label><div id="filemessage1" class="m-l-50 left"></div></div>                   
                        <div class="row m-t-10 m-l-50 left" >
                            <label>&nbsp;</label>
                        <?php if (isset($history['familyContent']['thumbnail'][1]) && $history['familyContent']['thumbnail'][1] != '') { ?>
                                <img src="<?php echo $history['familyContent']['thumbnail'][1]; ?>" />
                            <?php } ?>
                        </div>
                    </div>
                    <div class="full m-t-15 caption">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('location_one_caption')); ?>
                    </div>
                </div>
                <div class="col1 right">
                    <label>Image Location 2</label>
                    <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_two_video_type')); ?>
                        <label class="auto">&nbsp;</label>
                    </span>
<?php echo $this->formRow($form->get('location_two_video')); ?>
                    <div class="full m-t-15">
                        <label>&nbsp;</label>
                        <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_two_image_type')); ?>
                            <label class="auto">&nbsp;</label>
                        </span>
<?php echo $this->formRow($form->get('location_two_image')); ?>
                        <?php echo $this->formRow($form->get('location_two_image_id')); ?>
                        <div class="full"><label></label><div id="filemessage2" class="m-l-50 left"></div> </div>                 
                        <div class="row m-t-10 m-l-50 left">
                            <label>&nbsp;</label>
<?php if (isset($history['familyContent']['thumbnail'][2]) && $history['familyContent']['thumbnail'][2] != '') { ?>
                                <img src="<?php echo $history['familyContent']['thumbnail'][2]; ?>" />
                            <?php } ?>
                        </div>
                    </div>
                    <div class="full m-t-15 caption">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('location_two_caption')); ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label>Image Location 3</label>
                    <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_three_video_type')); ?>
                        <label class="auto">&nbsp;</label>
                    </span>
<?php echo $this->formRow($form->get('location_three_video')); ?>
                    <div class="full m-t-15">
                        <label>&nbsp;</label>
                        <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_three_image_type')); ?>
                            <label class="auto">&nbsp;</label>
                        </span>
<?php echo $this->formRow($form->get('location_three_image')); ?>
                        <?php echo $this->formRow($form->get('location_three_image_id')); ?>
                        <div class="full"><label></label><div id="filemessage3" class="m-l-50 left"></div></div>                   
                        <div class="row m-t-10 m-l-50 left">
                            <label>&nbsp;</label>
<?php if (isset($history['familyContent']['thumbnail'][3]) && $history['familyContent']['thumbnail'][3] != '') { ?>
                                <img src="<?php echo $history['familyContent']['thumbnail'][3]; ?>" />
                            <?php } ?>
                        </div>
                    </div>
                    <div class="full m-t-15 caption">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('location_three_caption')); ?>
                    </div>
                </div>
                <div class="col1 right">
                    <label>Image Location 4</label>
                    <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_four_video_type')); ?>
                        <label class="auto">&nbsp;</label>
                    </span>
<?php echo $this->formRow($form->get('location_four_video')); ?>
                    <div class="full m-t-15">
                        <label>&nbsp;</label>
                        <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_four_image_type')); ?>
                            <label class="auto">&nbsp;</label>
                        </span>
<?php echo $this->formRow($form->get('location_four_image')); ?>
                        <?php echo $this->formRow($form->get('location_four_image_id')); ?>
                        <div class="full"><label></label><div id="filemessage4" class="m-l-50 left"></div></div>                   
                        <div class="row m-t-10 m-l-50 left">
                            <label>&nbsp;</label>
<?php if (isset($history['familyContent']['thumbnail'][4]) && $history['familyContent']['thumbnail'][4] != '') { ?>
                                <img src="<?php echo $history['familyContent']['thumbnail'][4]; ?>" />
                            <?php } ?>
                        </div>
                    </div>
                    <div class="full m-t-15 caption">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('location_four_caption')); ?>
                    </div>
                </div>
            </div>
            <div class="row no-padd">
                <div class="col1">
                    <label>Image Location 5</label>
                    <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_five_video_type')); ?>
                        <label class="auto">&nbsp;</label>
                    </span>
<?php echo $this->formRow($form->get('location_five_video')); ?>
                    <div class="full m-t-15">
                        <label>&nbsp;</label>
                        <span class="left checkbox-auto">
<?php echo $this->formRow($form->get('location_five_image_type')); ?>
                            <label class="auto">&nbsp;</label>
                        </span>
<?php echo $this->formRow($form->get('location_five_image')); ?>
                        <?php echo $this->formRow($form->get('location_five_image_id')); ?>
                        <div class="full"><label></label><div id="filemessage5" class="m-l-50 left"></div></div>                   
                        <div class="row m-t-10 m-l-50 left">
                            <label>&nbsp;</label>
<?php if (isset($history['familyContent']['thumbnail'][5]) && $history['familyContent']['thumbnail'][5] != '') { ?>
                                <img src="<?php echo $history['familyContent']['thumbnail'][5]; ?>" />
                            <?php } ?>
                        </div>
                    </div>
                    <div class="full m-t-15 caption">
                        <label>&nbsp;</label>
<?php echo $this->formRow($form->get('location_five_caption')); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head"><span>Associate People(s)</span></div>
    <div class="detail-section associate-people">
        <div class="common-form">
            <div class="row">
                <div class="row1 radio-label">
<?php echo $this->formRow($form->get('is_in_db')); ?>
                    <label class="auto" for="is_in_db">Is the person in our database? <span id="maximumPassengerAdd"></span>
                    </label>
                </div>
                <div id="person_in_database_div" style="display:none;">
                    <div class="row" id="person_in_database_block_1">
                        <div class="col4 group-relative">
                            <div class="full">
                                <label class="auto no-padd m-b-10">Passenger ID&nbsp;&nbsp;(min. 5 digits)</label>
                            </div>
<?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('passenger_id_db[]')); ?>
                        </div>
                        <div class="col4">
                            <div class="full">
                                <label>Relationship</label>
                            </div>
<?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('relationship_id_db[]')); ?>
                        </div>
                        <div class="col4">
                            <div class="full">
                                <label>On Wall of Honor ?</label>
                            </div>
<?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('panel_no_db[]')); ?>
                        </div>
                        <a href="javascript:void(0);" class="plus m-t-35"  onclick="addMorePassenger(this);" id="addMorePassenger"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row1  radio-label">
<?php echo $this->formRow($form->get('is_manual')); ?>
                    <label class="auto" for="is_manual">Add Manually</label>
                </div>
                <div id="manual_div" class="associate" style="display:none;">
                    <div class="row " id="manual_block_1">
                        <div class="col3">
                            <label>First Name</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('first_name_manual[]')); ?>
                        </div>
                        <div class="col3">
                            <label>Last Name</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('last_name_manual[]')); ?>
                        </div>
                        <div class="col3">
                            <label>Relationship</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('relationship_id_manual[]')); ?>
                        </div>
                        <div class="col3">
                            <label>Year of Birth</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('year_of_birth_manual[]')); ?>
                        </div>
                        <div class="col3">
                            <label>Country of Birth</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual[]')); ?>
                            <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual_id[]')); ?>
                        </div>
                        <div class="col3">
                            <label>On Wall of Honor ?</label>
<?php echo $this->formRow($form->get('AssociateManualPassenger')->get('panel_no_manual[]')); ?> 
                        </div>                    
                        <a href="javascript:void(0);" class="plus m-t-35"  onclick="addMoreMnaualPerson(this);" id="addMoreMnaualPerson"></a>
                    </div>
                </div>
            </div>
<?php if (isset($history['familyPerson']['db']) && !empty($history['familyPerson']['db'])) { ?>
                <div class="view-row"><strong>Associated People (Is the person in our Database?)</strong></div>
                <?php foreach ($history['familyPerson']['db'] as $key => $value) { ?>
                    <div class="view-row" id="db_passanger_list<?php echo $value['family_person_id']; ?>">
                        <div class="col3"><strong>Passenger ID</strong><br>
                            <strong><span id="update_passenger_id<?php echo $value['family_person_id']; ?>"><?php echo $value['passenger_id']; ?></span></strong>
                        </div>
                        <div class="col3"><strong>Relationship</strong><br>
                            <strong><span id="update_relationship_id<?php echo $value['family_person_id']; ?>"><?php echo $relation = isset($mst_relations_list[$value['relationship_id']]) ? $mst_relations_list[$value['relationship_id']] : ''; ?></span></strong>
                        </div>
                        <div class="col3"><strong>On Wall of Honor ?</strong><br>
                            <strong><span id="update_panel_no_id<?php echo $value['family_person_id']; ?>"><?php echo $value['panel_no']; ?></span></strong>
                        </div>
                        <span class="right">
                            <a href="javascript:void(0);" class="family-edit" title="Save" onClick="editDbPassenger('<?php echo $value['family_person_id']; ?>');"></a>
                            <a href="#delete_family_person_content" class="delete_family_person family-delete" onClick="deleteFamilyPerson('<?php echo $value['family_person_id']; ?>');"></a>
                        </span>
                    </div>
                    <div class="view-row" id="db_passanger_field<?php echo $value['family_person_id']; ?>" style="display:none;">
                        <div class="col3"><strong>Passenger ID</strong><br>
        <?php echo $this->formRow($form->get('passenger_id')->setAttribute('id', 'edit_db_passenger_id' . $value['family_person_id'])->setValue($value['passenger_id'])); ?>
                        </div>
                        <div class="col3"><strong>Relationship</strong><br>
        <?php echo $this->formRow($form->get('relationship_id')->setAttribute('id', 'edit_db_relationship_id' . $value['family_person_id'])->setValue($value['relationship_id'])); ?>
                        </div>
                        <div class="col3"><strong>On Wall of Honor ?</strong><br>
        <?php echo $this->formRow($form->get('panel_no')->setAttribute('id', 'edit_db_panel_no' . $value['family_person_id'])->setValue($value['panel_no'])); ?>
                        </div>
                        <span class="right">
                            <a href="javascript:void(0);" class="family-save" onClick="updateDbPassenger('<?php echo $value['family_person_id']; ?>');"></a>
                            <a href="#delete_family_person_content" class="delete_family_person family-delete" onClick="deleteFamilyPerson('<?php echo $value['family_person_id']; ?>');"></a>
                        </span>
                    </div>
        <?php
    }
}
if (isset($history['familyPerson']['manual']) && !empty($history['familyPerson']['manual'])) {
    ?>
                <div class="view-row"><strong>Associated People (Add Manually)</strong></div>
                <?php foreach ($history['familyPerson']['manual'] as $key => $value) { ?>
                    <div class="view-row" id="manual_list_div<?php echo $value['family_person_id'] ?>">
                        <div class="col3"><strong>First Name</strong><br>
                            <span id="fname_manual<?php echo $value['family_person_id'] ?>"><?php echo $value['first_name']; ?></span>
                        </div>
                        <div class="col3"><strong>Last Name</strong><br>
                            <span id="lname_manual<?php echo $value['family_person_id'] ?>"><?php echo $value['last_name']; ?></span>
                        </div>
                        <div class="col3"><strong>Relationship</strong><br>
                            <span id="relationship_manual<?php echo $value['family_person_id'] ?>"><?php echo $mst_relations_list[$value['relationship_id']]; ?></span>
                        </div>
                        <div class="col3"><strong>Year of Birth</strong><br>
                            <span id="birth_year_manual<?php echo $value['family_person_id'] ?>"><?php echo $value['year_of_birth']; ?></span>
                        </div>
                        <div class="col3"><strong>Country of Birth</strong><br>
                            <span id="birth_county_manual<?php echo $value['family_person_id'] ?>"><?php echo isset($countryList[$value['birth_country_id']]['value']) ? $countryList[$value['birth_country_id']]['value'] : ''; ?></span>
                        </div>
                        <div class="col14">
                            <strong>On Wall of Honor ?</strong><br>
                            <span id="panel_manual<?php echo $value['family_person_id'] ?>"><?php echo $value['panel_no'] ?></span>

                        </div>
                        <span class="right m-t-30">
                            <a href="javascript:void(0);" class="family-edit" title="Save" onClick="editManual('<?php echo $value['family_person_id'] ?>');"></a>
                            <a href="#delete_family_person_content"  class="delete_family_person family-delete no-mar"   onClick="deleteFamilyPerson('<?php echo $value['family_person_id'] ?>');"></a>
                        </span>
                    </div>
                    <div class="view-row" id="manual_value_div<?php echo $value['family_person_id']; ?>" style="display:none;">
                        <div class="col3"><strong>First Name</strong><br>
        <?php echo $this->formRow($form->get('first_name')->setAttribute('id', 'edit_manual_first_name' . $value['family_person_id'])->setValue($value['first_name'])); ?>
                        </div>
                        <div class="col3"><strong>Last Name</strong><br>
        <?php echo $this->formRow($form->get('last_name')->setAttribute('id', 'edit_manual_last_name' . $value['family_person_id'])->setValue($value['last_name'])); ?>
                        </div>
                        <div class="col3"><strong>Relationship</strong><br>
        <?php echo $this->formRow($form->get('relationship_id')->setAttribute('id', 'edit_manual_relationship_id' . $value['family_person_id'])->setValue($value['relationship_id'])); ?>
                        </div>
                        <div class="col3"><strong>Year of Birth</strong><br>
        <?php echo $this->formRow($form->get('year_of_birth')->setAttribute('id', 'edit_manual_year_of_birth' . $value['family_person_id'])->setValue($value['year_of_birth'])); ?></div>
                        <div class="col3"><strong>Country of Birth</strong><br>
                            <?php
                            $country_name = isset($countryList[$value['birth_country_id']]['value']) ? $countryList[$value['birth_country_id']]['value'] : '';
                            echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual[]')->setAttribute('id', 'country_of_birth_manual' . $value['family_person_id'])->setValue($country_name));
                            echo $this->formRow($form->get('AssociateManualPassenger')->get('country_of_birth_manual_id[]')->setAttribute('id', 'country_of_birth_manual_id' . $value['family_person_id'])->setValue($value['birth_country_id']));
                            ?>
                        </div>
                        <div class="col14">
                            <strong>On Wall of Honor ?</strong><br>
        <?php echo $this->formRow($form->get('panel_no')->setAttribute('id', 'edit_db_panel_no' . $value['family_person_id'])->setValue($value['panel_no'])); ?>

                        </div>
                        <span class="right m-t-30">
                            <a href="javascript:void(0);" class="family-save" onClick="updateManual('<?php echo $value['family_person_id'] ?>');"></a>
                            <a href="#delete_family_person_content" class="delete_family_person family-delete no-mar" onClick="deleteFamilyPerson('<?php echo $value['family_person_id']; ?>');"></a>
                    </div>
        <?php
    }
}
?>
        </div>
    </div>
    <div class="row m-t-10 common-form">
        <input name="" type="button" value="Update" class="save-btn" onClick="checkNotify();" />
<?php echo $this->formRow($form->get('crm_user_family_history_cancel')); ?>
    </div>
        <?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='delete_family_person_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this record ?</h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_family_person" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_family_person" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='notify_confirm' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure, you don't want to notify contact about the changes made in family history?</h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_allow_save" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_refuse_save" class="green-btn">
        </div>
    </div>
</div>
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$var .= 'var numOfCharacterAllowedForStory= "' . $this->maxStoryCharacter . '";';
$var .= 'var maxPassengerAllowed= "' . $this->maxPassengers . '";';
$var .= 'var numOfPassengerOnPage= 1;';

$script = <<<EOD
$(document).ready(function() {
		 $('select').select2();
		 tinymce.init({
            mode: "specific_textareas",
            editor_selector: "myTextEditor",
            plugins: [
                "link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages"
            ],
            toolbar: "insertfile undo redo | table styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages",
            file_browser_callback: 'myFileBrowser',
            image_advtab: true,
            height: 300,
            menubar: false,
            width: '100%'
        });
    });
EOD;
echo $this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/familyhistory/create.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
?>


