<?php
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/autosuggest.search.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/srch.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui.css?v='.$this->layout()->getVariable('cssVersion'));

?>
<style>
    .srch_suggest{
        margin-left: 77px;
        width: 143px;
        height: auto;
    }    
    .port_srch_suggest{
        margin-left: 77px;
        width: 143px;
        height: auto;
    }
</style>
<div class="content clearfix addFamilyHistory">
    <h1>Family History</h1>
    <?php
    $form = $this->form;
    $form->setAttribute('id', 'updateUserFamilyHistory');
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('csrf'));
    ?>
    <div class="form-sep">
        <div class="col2">
            <label>Sharing: <span>*</span></label>
        </div>
        <div class="col10 sharing">
            <?php echo $this->formRow($form->get('is_sharing')->setAttribute('value',$history['familyHistory']['is_sharing'])); ?>
            <input type="hidden" name="family_history_id" value="<?php echo $this->Encrypt($history['familyHistory']['family_history_id']);?>">
            <input type="hidden" name="isValidMembership" id="isValidMembership" value="<?php echo $isValidMembership;?>">
            <a href="#membership_expiration_content" class="membership_expiration" onClick="showexpirationNotice();"></a>
        </div>
        <!--<div class="col5">
            <input type="radio" value="">
            Viewable by the Public</div>
        <div class="col5">
            <input type="radio" value="">
            Not Shared</div>-->
    </div>
    <div class="form-sep">
        <div class="hide-show">
            <p>Allow emails requesting to contact you from other users while they are reading your family history. </p>
            <div class="col4">
                <label>Family History Email: <span>*</span></label>
            </div>
            <div class="col10 sharing"><?php echo $this->formRow($form->get('is_email_on')->setAttribute('value',$defaultFhEmailPermission)); ?></div>
            <!--<div class="col3">
                <input type="radio" value="">
                On</div>
            <div class="col3">
                <input type="radio" value="">
                Off</div>-->
        </div>
    </div>
    <div class="form-sep">
        <div class="col10">
            <label>Title: <span>*</span></label>
            <?php echo $this->formRow($form->get('title')->setAttribute('value',$history['familyHistory']['title'])); ?>
        </div>
        <div class="col5">
            <label>Main Image:</label>
            <?php echo $this->formRow($form->get('main_content')); ?>
            <?php echo $this->formRow($form->get('main_content_id')); ?>
            <div class="row m-t-10">
                <div id="filemessage"></div>
            </div>
            <?php if ($history['familyHistory']['main_content'] != '') {
                ?>
                <div id="main_thumb_div"><label>&nbsp;</label><img src="<?php echo $history['familyHistory']['main_content']; ?>" /></div>
            <?php } ?>
        </div>
    </div>
    <div class="form-sep"> 
        <label>Story<span class="red">*</span></label>
        <label for="Story" class="error" style="display:none" id="story_label">&nbsp;</label>
        <?php echo $this->formRow($form->get('story')->setAttribute('value',stripslashes($history['familyHistory']['story']))); ?>                   
    </div>
    <div class="form-sep">
        <div class="col8">
            <label>Image Location 1</label>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_one_video_type')); ?>
                </div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_one_video')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_one_image_type')); ?>
                </div>
                <div class="col11">
                    <?php echo $this->formRow($form->get('location_one_image')); ?>
                    <?php echo $this->formRow($form->get('location_one_image_id')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div id="filemessage1" class="col12"></div>                             
            </div>
            <div class="form-sep no-mar">
                <div class="col1">&nbsp;</div>
                <?php if (isset($history['familyContent']['thumbnail'][1]) && $history['familyContent']['thumbnail'][1] != '') { ?>
                    <div class="col11"><img src="<?php echo $history['familyContent']['thumbnail'][1]; ?>" /></div>
                <?php } ?>
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_one_caption')); ?>
                </div>
            </div>
        </div>
        <div class="col8 omega">
            <label>Image Location 2</label>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_two_video_type')); ?>
                </div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_two_video')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_two_image_type')); ?>
                </div>
                <div class="col11">
                    <?php echo $this->formRow($form->get('location_two_image')); ?>
                    <?php echo $this->formRow($form->get('location_two_image_id')); ?>
                </div>
            </div>                    
            <div class="form-sep">
                <div id="filemessage2" class="col12"></div>                             
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <?php if (isset($history['familyContent']['thumbnail'][2]) && $history['familyContent']['thumbnail'][2] != '') { ?>
                    <div class="col11"><img src="<?php echo $history['familyContent']['thumbnail'][2]; ?>" /></div>
                <?php } ?>
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_two_caption')); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="form-sep">
        <div class="col8">
            <label>Image Location 3</label>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_three_video_type')); ?>
                </div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_three_video')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_three_image_type')); ?>
                </div>
                <div class="col11">
                    <?php echo $this->formRow($form->get('location_three_image')); ?>
                    <?php echo $this->formRow($form->get('location_three_image_id')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div id="filemessage3" class="col11"></div>                             
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <?php if (isset($history['familyContent']['thumbnail'][3]) && $history['familyContent']['thumbnail'][3] != '') { ?>
                    <div class="col11"><img src="<?php echo $history['familyContent']['thumbnail'][3]; ?>" /></div>
                <?php } ?>
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_three_caption')); ?>
                </div>
            </div>
        </div>
        <div class="col8 omega">
            <label>Image Location 4</label>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_four_video_type')); ?>
                </div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_four_video')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_four_image_type')); ?>
                </div>
                <div class="col11">
                    <?php echo $this->formRow($form->get('location_four_image')); ?>
                    <?php echo $this->formRow($form->get('location_four_image_id')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div id="filemessage4" class="col11"></div>                             
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <?php if (isset($history['familyContent']['thumbnail'][4]) && $history['familyContent']['thumbnail'][4] != '') { ?>
                    <div class="col11"><img src="<?php echo $history['familyContent']['thumbnail'][4]; ?>" /></div>
                <?php } ?>
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_four_caption')); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="form-sep">
        <div class="col8">
            <label>Image Location 5</label>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_five_video_type')); ?>
                </div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_five_video')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col1">
                    <?php echo $this->formRow($form->get('location_five_image_type')); ?>
                </div>
                <div class="col11">
                    <?php echo $this->formRow($form->get('location_five_image')); ?>
                    <?php echo $this->formRow($form->get('location_five_image_id')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div id="filemessage5" class="col11"></div>                             
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <?php if (isset($history['familyContent']['thumbnail'][5]) && $history['familyContent']['thumbnail'][5] != '') { ?>
                    <div class="col11"><img src="<?php echo $history['familyContent']['thumbnail'][5]; ?>" /></div>
                <?php } ?>
            </div>
            <div class="form-sep">
                <div class="col1">&nbsp;</div>
                <div class="col12">
                    <?php echo $this->formRow($form->get('location_five_caption')); ?>
                </div>
            </div>
        </div>
    </div>        
    <h1>Associated People</h1>
    <table cellpadding="0" cellspacing="0" width="100%" class="table mar-top-8">
        <tr>
            <th>Name</th>
            <th>Passenger ID</th>
            <th>Relationship</th>
            <th>Year of Birth</th>
            <th>Country of Birth</th>
            <th>On Wall of Honor</th>
            <th>Action</th>
        </tr>
        <?php 
        if(!empty($history['familyPerson'])){
            foreach($history['familyPerson'] as $key=>$value){ ?>
        <tr>
            <td>
                <?php 
                if($value['passenger_name']!=''){ 
                    echo $value['passenger_name'];                    
                }else{ 
                    echo $value['first_name']." ".$value['last_name'];                        
                } 
                ?>
            </td>
            <td>
                <?php 
                if($value['passenger_id']!=''){ ?>
                <a class='view-icon' href='<?php echo $this->basePath();?>/passenger-details/<?php echo $value['encPassengerId'];?>/<?php echo $value['viewtab'];?>'><?php echo $value['passenger_id'];?></a>                    
                <?php }else{ 
                    echo 'N/A';                    
                }
                ?>
            </td>
            <td><?php 
            if($value['relationship']!=''){
                echo $value['relationship'];
            }else{
                echo 'N/A';
            }
            ?></td>
            <td>
                <?php 
                if($value['year_of_birth']!=''){
                    echo $value['year_of_birth'];
                }else{
                    echo 'N/A';
                }
                ?></td>
            <td><?php 
                if($value['country']!=''){
                    echo $value['country'];
                }else{
                    echo 'N/A';
                }
?></td>
            <td><?php 
            if($value['panel_no']!=''){ 
                echo $value['panel_no'];                 
            }else{ 
                echo 'N/A';                
            }?></td>
            <td><a href="#delete_family_person_content" class="delete_family_person" onClick="deleteUserFamilyPerson('<?php echo $value['family_person_id'];?>','<?php echo $value['family_history_id'];?>');">Delete</a></td>
        </tr>
        <?php }
        }else{ ?>
            <tr>
                <td colspan="7">No Associated People.</td>
            </tr>
        <?php } ?>
    </table>
    <div class="form-sep">&nbsp;</div>
    <h1>Add Person</h1>
    <h3>Is the person in our database?</h3>
    <div id="person_in_database_div" class="person_in_database_div">
        <div class="form-sep" id="person_in_database_block_1">
            <div class="col5">
                <label class="auto">Passenger ID :&nbsp;&nbsp;&nbsp;<span>(min. 5 digits)</span></label>
                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('passenger_id_db[]')); ?>
            </div>
            <div class="col3">
                <label>Relationship :</label>
                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('relationship_id_db[]')); ?>
            </div>
            <div class="col5">
                <label>On Wall of Honor ?</label>
                <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('panel_no_db[]')); ?>
            </div>
            <a href="javascript:void(0);" class="add" style="float: left;margin-top: 26px;" onclick="addMorePassengerRow(this);" id="addMorePassenger"></a>
        </div>
    </div>
    <h1>Or Add Manually</h1>
    <div id="manual_div" class="manual_div">            
        <div class="form-sep"  id="manual_block_1">
            <div class="col5">
                <label>First Name :</label>
                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('first_name_manual[]')); ?>
            </div>
            <div class="col5">
                <label>Last Name :</label>
                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('last_name_manual[]')); ?>
            </div>
            <div class="col3">
                <label>Relationship  :</label>
                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('relationship_id_manual[]')); ?>
            </div>
            <a href="javascript:void(0);" class="add" style="margin-top: 26px;display:inline-block;"  onclick="addMoreMnaualPersonRow(this);" id="addMoreMnaualPerson"></a>
            <div class="col5">
                <label>Year of Birth</label>
                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('year_of_birth_manual[]')); ?>
            </div>
            <div class="col3">
                <label>Country of Birth:</label>
                <div class="country-pass"><?php echo $this->formRow($form->get('AssociateManualPassenger')->get('birth_country_id_manual[]')); ?></div>
            </div>
            <div class="col5">
                <label>On Wall of Honor?</label>
                <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('panel_no_manual[]')); ?>
            </div>
        </div>
    </div>
    <div class="form-sep">
        <?php echo $this->formRow($form->get('crm_user_family_history_save_and_publishbutton')->setAttribute('value', 'Save as Draft and Preview')->setAttribute('class', 'button semibold')); ?>
        <?php echo $this->formRow($form->get('crm_user_family_history_submitbutton')->setAttribute('value', 'Submit')->setAttribute('class', 'button green semibold')); ?>            
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='delete_family_person_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this record ?</h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_family_person" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_family_person" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='membership_expiration_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <p>Membership expired.</p>
        <p>You will only be able to edit your sharing permissions and email permissions.</p>
        <div class="button-row">
            <input type="button" value="Close" name="no" id="no_delete_membership_expiration" class="green-btn">
        </div>
    </div>
</div>
<?php if($isValidMembership=='0'){ ?>
<script>
    $(function(){
        $(".membership_expiration").trigger('click');
    });
</script>
<?php } 
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$var .= 'var numOfCharacterAllowedForStory= "' . $this->maxStoryCharacter. '";';
$var .= 'var maxPassengerAllowed= "' .$this->maxPassengers.'";';
$var .= 'var numOfPassengerOnPage= ' . $this->numOfPassengerOnPage . ';';

$script = <<<EOD
$(function() {
        document.getElementsByName('is_sharing')[0].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_sharing')[1].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_email_on')[0].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_email_on')[1].parentNode.setAttribute('style','display:inline');
        tinymce.init({
            mode: "specific_textareas",
            editor_selector: "myTextEditor",
            plugins: [
                "link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste jbimages"
            ],
            toolbar: "insertfile undo redo | table styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link jbimages",
            file_browser_callback: 'myFileBrowser',
            image_advtab: true,
            height: 300,
            menubar: false,
            width: '100%'
        });
    });
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.family_history.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/familyhistory/create.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>