<?php
$translator = $jsLangTranslate;
$this->inlineScript()->captureStart();
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>

<?php
$auth = $this->getAuth();        
 ?> 
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/autosuggest.search.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/jquery-ui-custom.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/familyhistory/user.familyhistory.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
    $(function(){
        $('.scroll-pane').jScrollPane();
		 $(".common-savesearch .dropdown").hide();
		$(".featured-dropdown .drop-down").hide();
		$("#save-search .dropdown").hide();
        $("select").select2();
        $("#lastDiv li:odd").addClass('last');
        $('.image').last().addClass('last');
    });	
</script>
<div class="inner-header">
    <h1>Family Histories</h1>
</div>
<div class="family-outer-bg" id="contentArea">
    <div class="family-inner-bg">
        <div class="family-top-bg">
            <div class="container">
                <div class="detail-section">
                    <h1>Shared Family Stories</h1>
                    <?php
                    $form = $this->form;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <?php echo $this->formRow($form->get('contact_name')); ?>
                    <input type="hidden" name="page" id="page" value="<?php echo $page ?>">
					<input type="hidden" name="is_featured" id="is_featured" value="1">
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <?php $auth = $this->getAuth(); ?>
            <input type="hidden" id="is_login" value="<?php if ((isset($auth->user_id) && $auth->user_id != '')){?>1<?php }else{ ?>0<?php }?>">                            
            <div class="featured-search">
                <div class="featured-search-box" id="featured_text">
                    <h1>Featured Stories</h1>
                    <div class="featured-subtext">&nbsp;</div>
                </div>
                <div class="featured-search-box right">
                    <?php
                    if ((isset($auth->user_id) && $auth->user_id != '') && !empty($saved_searches)) {
                        ?>
                        <span>Saved Searches</span>
                        <div class="common-savesearch"> 
                            <div class="dropdown">
                                <div class="<?php if (count($saved_searches) > 3) { ?>scroll-pane featured-scroll <?php } ?>">
                                    <ul>						
                                        <?php
                                        foreach ($saved_searches as $key => $value) {
                                            ?>
                                            <li>
                                                <a class="line-blue" href="javascript:void(0);" onClick="viewSavedSearch('<?php echo $value['search_id']; ?>');"><span><?php echo $value['title']; ?></span></a>
                                                <a href="#deletesearch" class="deletesearch" onClick="deleteSaveSearch('<?php echo $value['search_id']; ?>');"><div class="sn-close"></div></a>
                                                <a class="line-blue" href="javascript:void(0);" onClick="viewSavedSearch('<?php echo $value['search_id']; ?>');"><div class="sn-search"></div></a>
                                            </li>
                                            <?php
                                        }
                                        ?>	


                                    </ul>	
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                    <div class="float-right">
                        <?php
                        if ((isset($auth->user_id) && $auth->user_id != '') && !empty($savedFamilyHostory)) {
                        ?>                       
                        <div id="save-search">
                            <?php if (!empty($savedFamilyHostory)) { ?>
                                <a href="javascript:void(0);" class="saved-records white">Saved Histories</a>
                                <div class="dropdown">
                                    <div class="<?php if(count($savedFamilyHostory)>3){ ?>scroll-pane featured-scroll <?php } ?>">
                                        <ul>
                                            <?php foreach ($savedFamilyHostory as $val) { ?>
                                                <li>
                                                    <a class="link1" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><span><?php echo $val['title']; ?></span></a>
                                                    <a class="saved_history link1" href="#saved_history" onclick="deleteSavedFamilyhistories('<?php echo $val['fh_search_id']; ?>');"><div class="sn-close"></div></a>
                                                    <a class="link1" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><div class="sn-search"></div></a>
                                                </li>
                                            <?php } ?>
                                        </ul>
                                    </div>
                                </div>
                            <?php } ?>

                        </div> 
                        <?php
                        } 
                        if (isset($auth->user_id) && $auth->user_id != '') { 
                        ?>
                        <form action="" method="post" name="save_search" id="save_search" novalidate="novalidate" style="display:none;">
                            <input name="save_search_as" type="text" id="save_search_as" placeholder="Save this search" value="" class="featured-saved-this button" autocomplete="off">
                            <?php if ($save_search_limit == '0') { ?>
                                <a href="#notallow" class="notallow" onClick="validitycheck('notallow');"><div class="featured-plus-icon button" id="savesearch"> </div></a>
                            <?php } elseif ($save_search_limit != '0' && count($saved_searches) >= $save_search_limit) { ?>
                                <a href="#exceed" class="exceed" onClick="validitycheck('exceed');"><div class="featured-plus-icon button" id="savesearch"> </div></a>
                            <?php } else { ?>
                                <div class="featured-plus-icon button" id="savesearch" onClick="validitycheck('');"> </div>
                            <?php } ?>                    
                        </form>
                    <?php } ?>
					<a href="/family-history-about" class="button familyMoreInfo">More Info</a>
                    <div class="featured-dropdown">
                        Featured Stories
                        <div class="drop-down">
                            <div class="scroll-pane featured-record">
                                <ul>
                                    <?php
                                    foreach ($featuredFamilyHistories as $key => $value) {
                                        ?>
                                        <li>
                                            <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>"><img src="<?php echo (($value['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/small/" . $value['main_content'])) ? $uploadedFilePath . "familyhistory/small/" . $value['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg"); ?>"></a>
                                            <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>"><span><?php
                                                    echo '<strong>' . $value['title'] . '</strong>';
                                                    if ($value['author'] != '') {
                                                        echo '<br>' . $value['author'];
                                                    }
                                                    ?></span></a>
                                            <div><a class="sfs-view-detail" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>">View Detail</a></div>
                                        </li>
                                    <?php } ?>
                                </ul>
                                <?php
                                if (!isset($auth->user_id)) {

                                    $form = $this->form;
                                    $form->prepare();
                                    echo $this->form()->openTag($form);
                                    ?>
                                    <input type="hidden" name="page" id="page" value="<?php echo $page ?>">
                                    <?php
                                    echo $this->form()->closeTag();
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="featured-result-container" id="family_content">
                <ul id="lastDiv">
                    <?php
                    $j = 1;
                    foreach ($history['familyHistories'] as $key1 => $value1) {
                        if ($j < 5) {
                            ?>
                            <li> <img src="<?php echo (($value1['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/medium/" . $value1['main_content'])) ? $uploadedFilePath . "familyhistory/medium/" . $value1['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg"); ?>">
                                <div class="featured-image-content">
                                    <?php
                                    if ($value1['author'] != '') {
                                        $authorFB = 'by ' . $value1['author'];
                                    } else {
                                        $authorFB = '&nbsp;';
                                    }
                                    $fbArr = array($this->serverUrl() . '/view-user-familyhistory/' . $value1['encryptFamilyHistoryId'], $this->serverUrl() . '/images/fb_share.jpg', addslashes($translator['FB_SHARE_TITLE1']), '&nbsp;', addslashes(sprintf($translator['FB_SHARE_DESCRIPTION1'],DOMAIN_NAME)), $facebookAppId);
                                    ?>
                                    <h1>
                                        <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value1['encryptFamilyHistoryId']; ?>"><span class="button">View detail</span></a>
                                        <?php if ($value1['is_status'] == 2 && $_SERVER['REMOTE_ADDR'] != $allowed_IP) { ?>
                                            <a href="javascript:void(0);" class="fb-icon" onclick="return fbShare('<?php echo implode("','", $fbArr); ?>');" title="Share on Facebook"></a>
                                            <?php
                                        }
                                        echo $value1['title'];
                                        ?>
                                    </h1>
                                    <div class="fic-subtext">
                                        <?php
                                        if ($value1['author'] != '') {
                                            echo 'by <strong>' . $value1['author'] . '</strong>';
                                        }
                                        ?>
                                    </div>
                                    <?php
                                    if (!empty($history['familyPerson'][$value1['family_history_id']])) {
                                        ?>
                                        <div class="featured-content-box">
                                            <h2>Associated Matches</h2>
                                            <?php
                                            $associated_mateches = array();
                                            foreach ($history['familyPerson'][$value1['family_history_id']] as $k => $associatedPerson) {
                                                if ($associatedPerson['passenger_name'] != '')
                                                    $associated_mateches[] = $associatedPerson['passenger_name'];
                                                if ($associatedPerson['first_name'] != '' || $associatedPerson['last_name'] != '')
                                                    $associated_mateches[] = $associatedPerson['first_name'] . ' ' . $associatedPerson['last_name'];
                                            }
                                            ?>
                                            <h3><?php echo implode(",", $associated_mateches); ?></h3>
                                        </div>
                                    <?php } ?>
                                </div>
                            </li>
                            <?php
                            $j++;
                        }
                    }
                    ?>
                </ul>
                <?php
                if (count($history['familyHistories']) >= 4) {
                    ?>
                    <span id="load_more-<?php echo $page ?>">
                        <div id="loadingDiv-<?php echo $page ?>" class="load-more-button"><input name="" type="button" value="Load more" class="featured-load-more button" onclick="loadMore();"></div>
                    </span>
                <?php } ?>
            </div>
        </div>
    </div>
  </div>
</div>
    <div style='display:none'>
        <div id='deletesearch' class="inner-popup-detail">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h1>Remove Search</h1>
            <p>Are you sure you want to delete record?</p>
            <input type="button" value="Remove" name="yes" id="yes" class="button semibold">
            <input type="button" value="Cancel" name="no" id="no" class="button semibold green">

        </div>
    </div>
    <div style="display:none">
        <div id="saved_history" class="inner-popup-detail">
            <a href="javascript:void(0);" class="pop_close_btn"></a> 
            <h1>Remove Saved History</h1>
            <p>Are you sure you want to delete record?</p>
            <input type="button" value="Remove" name="yes" id="yes_my_fh" class="button semibold">
            <input type="button" value="Cancel" name="no" id="no_my_fh" class="button semibold green">
        </div>
    </div>
    <div  style="display:none;">
        <div id="exceed"  class="inner-popup-detail">
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
            <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
        </div>
    </div>
    <div  style="display:none;">
        <div id="notallow"  class="inner-popup-detail">
            <p>You have not allowed to save searches.</p>
            <p><a href="/member-benefit">Become a member</a> to get save search access.</p>
            <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
        </div>
    </div>
<script>
$(window).data('ajaxready', true).scroll(function(e) {
        var spy;
        var container = $('.container');

        if ($(window).data('ajaxready') == false)
            return;
        var WindowHeight = $(window).height();
        if ($(window).scrollTop() > $(document).height() - $(window).height() - 200) {
            $(window).data('ajaxready', false);

            var page = parseInt($("#page").val());

            if($("#loadingDiv" + '-' + page))
				$("#loadingDiv" + '-' + page).append('<div class="loader-class"><img src ="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/loading.gif"></div>');

            var page = parseInt($("#page").val());
            $("#page").val(page + 1);
           $.ajax
                    ({
                        type: 'POST',
                        cache: true,
                        data: {
                            searchString: $("#SearchUserFamilyHistory").serialize(),
                            page: $("#page").val()
                        },
                        url: '/more-user-familyhistory',
                        success: function(response)
                        {
                            $("#loadingDiv" + '-' + page).html('');
                            $("#lastDiv").append(response);
                            $(window).data('ajaxready', true);
                            $("#load_more" + '-' + page).html('');
                        }

                    });
        }
    });
</script>