<?php
/**
 * This page is used for get all family history listing
 * @package    Family History
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
?>
<style>
.col6.relative label.error{left:0px;}
</style>
<div class="breadcrumb contact-breadcrumb">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div id="family" class="grid-section">
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records. If you do not find the Family History you seek, you can <a href="/create-crm-family-history/<?php echo $this->Encrypt($userId);?>"> Create New Family History</a>.</p>
    </div>
    <br>
    <div class="grid-box" id="gview_list">
        <table id="list_case"></table>
        <div id="listcaserud"></div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_familyhistory' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>
<?php
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var USER_ID= "' . $this->userId . '";';
$var .= 'var max_stories= "' . $this->membershipDetail['max_stories'] . '";';
$var .= 'var max_story_characters= "' .$this->membershipDetail['max_story_characters'] . '";';
$var .= 'var max_passengers= "' . $this->membershipDetail['max_passengers'] . '";';
$var .= 'var max_saved_histories= "' . $this->membershipDetail['max_saved_histories'] . '";';

echo $this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/familyhistory/contact.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>