<?php
/**
 * This page is used for get all cases listing
 * @package    Case_CaseController_addCaseController
 * @author     Icreon Tech - SK
 */
 $translator = $this->jsLangTranslate;
$countryList = array();
for ($i = 1; $i <= count($country_list); $i++) {
    $countryList[$i]['id'] = $i;
    $countryList[$i]['value'] = $country_list[$i];
}
?>
<script>
    var country = <?php echo json_encode($countryList); ?>
</script>
<div class="create-contacts">
    <h2>Documents</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>    
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <p class="search-text m-t-20"> Search Family Histories by filling the following filters, or just do a blank search for the full Family History list. If you do not find the Family History you seek, you can <a href="/create-crm-family-history"> Create New Family History</a> . </p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?> 
        <div class="head no-img"><span>Filter Family History by</span></div>
        <?php
        $form = $this->searchForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label>Contact Name </label>
                        <?php echo $this->formRow($form->get('contact_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Status</label>
                        <?php echo $this->formRow($form->get('is_status')); ?>
                    </div>
                    <div class="col1 right">
                        <label>Title</label>
                        <?php echo $this->formRow($form->get('title')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Date Range</label>
                        <?php echo $this->formRow($form->get('added_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label>From</label>
                        <?php echo $this->formRow($form->get('added_date_from')); ?>
                        <label class="auto">-to-</label>
                        <?php echo $this->formRow($form->get('added_date_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Shared</label>
                        <?php echo $this->formRow($form->get('is_sharing')); ?>
                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('is_featured')); ?>
                        <label class="check" for="is_featured">Featured</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Country </label>
                        <?php echo $this->formRow($form->get('country')); ?>
                        <?php echo $this->formRow($form->get('country_id')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label>&nbsp; </label>
                        <?php echo $this->formRow($form->get('searchbutton')); ?> </div>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
        <div class="detail-section1 common-form">
            <div class="left">
                <label><?php echo $translator['SAVED_SEARCHES']; ?></label>
                <?php echo $this->formRow($form->get('saved_searches')); ?>
            </div>
            <div class="right col1" style="width:auto">
                <?php
                $save_search_form = $this->saveSearchForm;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>
                <label><?php echo $translator['SAVE_SEARCH_AS']; ?></label>
                <?php echo $this->formRow($save_search_form->get('save_search_as')); ?>
                <?php echo $this->formRow($save_search_form->get('savesearch')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <a href="#delete_family_search" id="deletebutton" style="display:none;" class="delete_family_search save-btn m-l-5" onClick="deleteSearch();"><?php echo $translator['DELETE']; ?></a>
                <span id="search_msg"></span> 
            </div>
        </div>

    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the Family History you seek, you can <a href="/create-crm-family-history"> Create New Family History</a>.</p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list_case"></table>
        <div id="listcaserud"></div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_familyhistory' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_family_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this record?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
<?php

$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/familyhistory/crm.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'));
?>