<?php
/**
 * This view is used to view family history
 * @package    Passenger
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_DOCUMENT']; ?></h2>
    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="javascript:void(0);" onclick="getFamilyHistoryDetail();" class="active" id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editFamilyHistoryDetails();" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog();" id="tab-4"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="familyContent"></div>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var encrypt_id="' . $encrypt_id . '";';
$var .=' var mode="' . $mode . '";';
$var .=' var module_name="' . $moduleName . '";';

$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/familyhistory/view.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'));
?>