<?php
/**
 * This file is used for user woh list
 * @package    User
 * @author     Icreon Tech - DG
 */
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/autosuggest.search.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/srch.css?v='.$this->layout()->getVariable('cssVersion'))
				 ->prependStylesheet($this->layout()->getVariable('cssFilePath').'/css/jquery-ui.css?v='.$this->layout()->getVariable('cssVersion'));

$translator = $jsLangTranslate;
?>
<style>
    .srch_suggest{
        margin-left: 77px;
        width: 143px;
        height: auto;
    }    
    .port_srch_suggest{
        margin-left: 77px;
        width: 143px;
        height: auto;
    }

</style>
<div id='fhDisplayDiv'>
    <div class="line-container">
        <div class="detail-box">
            <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
            <div class="top-row">
                <h2><?php echo $translator['H_SAVED_HISTORY']; ?></h2>
                <?php
                if ($membershipId == 1) {
                    ?>
                    <a class="become" href="/member-benefit">Become a member</a>
                    <span>Need more?</span>
                <?php }
                ?>
            </div>
            <div id="success_message1" class="success-msg" style="display:none;"></div>
            <?php
            $isloadmoreSavedFamilyHostory = false;
            if (isset($savedFamilyHostory) && !empty($savedFamilyHostory)) {
                ?>
                <div class="pageing">
                    <ul>
                        <?php
                        if ($maxSavedFH > 0) {
                            ?>
                            <li><strong><?php echo count($savedFamilyHostory); ?></strong></li>
                            <li>of</li>
                            <li><?php echo $maxSavedFH; ?></li>
                            <li>max </li>
                            <?php
                        }
                        ?>
                    </ul>
                </div>
                <?php
                if (count($savedFamilyHostory) > 4) {
                    echo '<a class="plus" id="plus_loadMmore_savedFamilyHostory" href="javascript:void(0);" onclick=loadMore("loadMmore_savedFamilyHostory");></a>';
                    $isloadmoreSavedFamilyHostory = true;
                }
                ?>
                <div class="row-sep">
                    <?php
                    foreach ($savedFamilyHostory as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key < 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="fh_search_<?php echo $val['fh_search_id']; ?>">
                                <strong><?php echo $val['author']; ?></strong>
                                <span><?php echo $val['title']; ?>
                                <br><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                                <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                                <a href="javascript:void(0);" onclick="deleteSavedFh('<?php echo $val['fh_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    if ($isloadmoreSavedFamilyHostory) {
                        echo "<div id='loadMmore_savedFamilyHostory' style='display:none;'>";
                        foreach ($savedFamilyHostory as $key => $val) {
                            if ($key % 2 == 0) {
                                $class = 'col-left';
                            } else {
                                $class = 'col-right';
                            }
                            if ($key >= 4) {
                                ?>
                                <div class="<?php echo $class; ?>" id="fh_search_<?php echo $val['fh_search_id']; ?>">
                                    <strong><?php echo $val['author']; ?></strong>
                                    <span><?php echo $val['title']; ?>
                                    <br><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                                    <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                                    <a href="javascript:void(0);" onclick="deleteSavedFh('<?php echo $val['fh_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                                </div>
                                <?php
                            }
                        }
                        echo "</div>";
                    }
                    ?>
                </div>
                <?php
            } else {
                echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
            }
            ?>
        </div>
    </div>
    <div class="common-detail-section">
        <div class="top-detail">
            <h1 class="left"><?php echo $translator['H_FAMILY_HISTORY']; ?></h1>
            <?php 
            if ($isValidMembership == 0) { ?>
                <a href="#delete_family_search" id="deletebutton" class="delete_family_search button right" onClick="addfh('<?php echo $isValidMembership; ?>');">
                    <?php echo $translator['ADD_FH_BUITTON']; ?>
                </a>
            <?php } elseif ($max_stories <= count($familyHostory) && count($familyHostory)!=0) { ?>
                <a href="#exceed" class="exceed button right" id="add-fof" onClick="addfh('x');">
                    <?php echo $translator['ADD_FH_BUITTON']; ?>
                </a>
            <?php } else { ?>
                <a href="javascript:void(0);" class="button right" id="add-fof" onClick="addfh();">
                    <?php echo $translator['ADD_FH_BUITTON']; ?>
                </a>
            <?php } ?>
        </div>
        <p><div id="success_message2" class="success-msg" style="display:none;"></div></p>
        <?php
        if (isset($familyHostory) && !empty($familyHostory)) {
            ?>
            <div class="pageing full">
                <?php
                    if ($maxStoryFH > 0) {
                        ?>
                        <strong><?php echo count($familyHostory); ?></strong> of <?php echo $maxStoryFH; ?> max 
                        <?php
                    }
                 ?>
            </div>
            <div class="pageing">
                <?php
                    if ($membershipId == 1) {
                        echo ' Need More? <a href="/member-benefit" class="line-blue"> Become a member.</a> ';
                    }
                    ?>
            </div>
         
            <div class="box">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                        <tr>
                            <th><?php echo $translator['L_TITLE']; ?></th>
                            <th><?php echo $translator['L_DATE']; ?></th>
                            <th><?php echo $translator['L_IMAGE']; ?></th>
                            <th><?php echo $translator['L_SHARED']; ?></th>
                            <th>&nbsp;</th>
                        </tr>
                           <?php
            foreach ($familyHostory as $val) { 
                $fbArr1 = array($this->serverUrl().'/view-user-familyhistory/'.$this->Encrypt($val['family_history_id']),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FB_SHARE_TITLE2']),'&nbsp;', sprintf($translator['FB_SHARE_DESCRIPTION2'],$val['title'],DOMAIN_NAME),$facebookAppId);
            ?>
                        <tr id="my_fh_<?php echo $val['family_history_id']; ?>">
                            <td><?php echo $val['title']; ?></td>
                            <td><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></td>
                            <td><?php echo $val['num_content']; ?></td>
                            <td><?php echo !empty($val['is_sharing']) ? 'Yes' : 'No'; ?></td>                                
                            <td>
                                <span class="right">
                                    <?php if ($val['is_status'] == 2 && $_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
				    <a class="m-fb-icon" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr1); ?>');" title="Share on Facebook"></a>
                                    <?php }
                                    if ($val['is_status'] == 0) {
                                    ?>
                                        <a href="javascript:void(0);" onClick="editFamilyHistory('<?php echo $val['family_history_id']; ?>');"><img alt="edit" title="edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/edit-icon.png"></a>                                          
                                        <?php
                                    } else {
                                        ?>
                                        <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><img alt="view" title="view" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                                        <?php
                                    }
                                    ?>
                                    
                                    <a href="javascript:void(0);" onclick="deleteMyFh('<?php echo $val['family_history_id']; ?>');"><img alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                                </span>
                            </td>
                        </tr>
                        <?php  }  ?>
                    </tbody>
                </table>
            </div>
            <?php
       
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
</div>















<div class="col16 omega tab6" id="tab6" style="display: block;">    
    <div class="content clearfix content2 addFamilyHistory" id="fhAddDiv" style="display:none;">
        <h1>Family History</h1>
        <?php
        $form = $this->form;
        $form->setAttribute('id', 'addFamilyHistory');
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="form-sep">
            <div class="col2">
                <label>Sharing: <span>*</span></label>
            </div>
            <div class="col10 sharing">
                <?php echo $this->formRow($form->get('is_sharing')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="hide-show">
                <p>Allow emails requesting to contact you from other users while they are reading your family history. </p>
                <div class="col4">
                    <label>Family History Email: <span>*</span></label>
                </div>
                <div class="col10 sharing"><?php echo $this->formRow($form->get('is_email_on')->setValue($defaultFhEmailPermission)); ?></div>
            </div>
        </div>
        <div class="form-sep">
            <div class="col5">
                <label>Title: <span class="red">*</span></label>
                <?php echo $this->formRow($form->get('title')); ?>
            </div>
            <div class="col6 omega">
                <label>Main Image :</label>
                <?php echo $this->formRow($form->get('main_content')); ?>
                <?php echo $this->formRow($form->get('main_content_id')); ?>
                <div class="row m-t-10">
                    <div id="filemessage"></div>
                </div>
            </div>
        </div>
        <div class="form-sep"> 
            <label>Story :<span class="red">*</span></label>
            <label for="Story" class="error" style="display:none" id="story_label">&nbsp;</label>
            <?php echo $this->formRow($form->get('story')); ?>                   
        </div>
        <div class="form-sep">
            <div class="col8">
                <label>Image Location 1 :</label>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_one_video_type')); ?>
                    </div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_one_video')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_one_image_type')); ?>
                    </div>
                    <div class="col11">
                        <?php echo $this->formRow($form->get('location_one_image')); ?>
                        <?php echo $this->formRow($form->get('location_one_image_id')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div id="filemessage1" class="col12"></div>                             
                </div>
                <div class="form-sep">
                    <div class="col1">&nbsp;</div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_one_caption')); ?>
                    </div>
                </div>
            </div>
            <div class="col8 omega">
                <label>Image Location 2 :</label>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_two_video_type')); ?>
                    </div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_two_video')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_two_image_type')); ?>
                    </div>
                    <div class="col11">
                        <?php echo $this->formRow($form->get('location_two_image')); ?>
                        <?php echo $this->formRow($form->get('location_two_image_id')); ?>
                    </div>
                </div>                    
                <div class="form-sep">
                    <div id="filemessage2" class="col12"></div>                             
                </div>
                <div class="form-sep">
                    <div class="col1">&nbsp;</div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_two_caption')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label>Image Location 3 :</label>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_three_video_type')); ?>
                    </div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_three_video')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_three_image_type')); ?>
                    </div>
                    <div class="col11">
                        <?php echo $this->formRow($form->get('location_three_image')); ?>
                        <?php echo $this->formRow($form->get('location_three_image_id')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div id="filemessage3" class="col11"></div>                             
                </div>
                <div class="form-sep">
                    <div class="col1">&nbsp;</div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_three_caption')); ?>
                    </div>
                </div>
            </div>
            <div class="col8 omega">
                <label>Image Location 4 :</label>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_four_video_type')); ?>
                    </div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_four_video')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_four_image_type')); ?>
                    </div>
                    <div class="col11">
                        <?php echo $this->formRow($form->get('location_four_image')); ?>
                        <?php echo $this->formRow($form->get('location_four_image_id')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div id="filemessage4" class="col11"></div>                             
                </div>
                <div class="form-sep">
                    <div class="col1">&nbsp;</div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_four_caption')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label>Image Location 5 :</label>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_five_video_type')); ?>
                    </div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_five_video')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div class="col1">
                        <?php echo $this->formRow($form->get('location_five_image_type')); ?>
                    </div>
                    <div class="col11">
                        <?php echo $this->formRow($form->get('location_five_image')); ?>
                        <?php echo $this->formRow($form->get('location_five_image_id')); ?>
                    </div>
                </div>
                <div class="form-sep">
                    <div id="filemessage5" class="col11"></div>                             
                </div>
                <div class="form-sep">
                    <div class="col1">&nbsp;</div>
                    <div class="col12">
                        <?php echo $this->formRow($form->get('location_five_caption')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-sep">&nbsp;</div>
        <h1>Add Person</h1>
        <h3>Is the person in our database?</h3>
        <div id="person_in_database_div" class="person_in_database_div">
            <div class="form-sep" id="person_in_database_block_1">
                <div class="col5">
                    <label class="auto">Passenger ID :&nbsp;&nbsp;&nbsp;<span>(min. 5 digits)</span></label>
                    <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('passenger_id_db[]')); ?>
                </div>
                <div class="col3">
                    <label>Relationship :</label>
                    <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('relationship_id_db[]')); ?>
                </div>
                <div class="col5">
                    <label>On Wall of Honor ?</label>
                    <?php echo $this->formRow($form->get('AssociateExistingPassenger')->get('panel_no_db[]')); ?>
                </div>
                <a href="javascript:void(0);" class="add"  style="float: left; margin-top: 26px;" onclick="addMorePassengerRow(this);" id="addMorePassenger"></a>
            </div>
        </div>
        <h1>Or Add Manually</h1>
        <div id="manual_div" class="manual_div">            
            <div class="form-sep"  id="manual_block_1">
               
                <div class="col5">
                    <label>First Name :</label>
                    <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('first_name_manual[]')); ?>
                </div>
                <div class="col5">
                    <label>Last Name :</label>
                    <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('last_name_manual[]')); ?>
                </div>
                <div class="col3">
                    <label>Relationship  :</label>
                    <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('relationship_id_manual[]')); ?>
                </div>
				 <a href="javascript:void(0);" class="add"  style="float: left;margin-top: 26px;"  onclick="addMoreMnaualPersonRow(this);" id="addMoreMnaualPerson"></a>
                <div class="col5">
                    <label>Year of Birth</label>
                    <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('year_of_birth_manual[]')); ?>
                </div>
                <div class="col3">
                    <label>Country of Birth:</label>
                    <div class="country-pass"><?php echo $this->formRow($form->get('AssociateManualPassenger')->get('birth_country_id_manual[]')); ?></div>
                </div>
                <div class="col5">
                    <label>On Wall of Honor?</label>
                    <?php echo $this->formRow($form->get('AssociateManualPassenger')->get('panel_no_manual[]')); ?>
                </div>
            </div>
        </div>
        <div class="form-sep">
            <?php echo $this->formRow($form->get('crm_user_family_history_save_and_publishbutton')->setAttribute('value', 'Save as Draft and Preview')->setAttribute('class', 'button semibold')); ?>
            <?php echo $this->formRow($form->get('crm_user_family_history_submitbutton')->setAttribute('value', 'Submit')->setAttribute('class', 'button green semibold')); ?>            
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <div id="expMembershipMsgDiv" style="display:none;">
        <div id='delete_family_search' class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <p>Membership expired.</p>
            <p>You will need to renew your membership in order to Edit or Add Family Histories.</p>
            <div class="button-row">
                <input type="button" value="Close" name="no" id="no_delete" class="button green-btn">
            </div>
        </div>
    </div>
</div>




<div style='display:none'>
    <div id='saved_fh' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <input type="button" value="Remove" name="yes" id="yes_saved_fh" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_saved_fh" class="button semibold green">

    </div>
</div>
<div style='display:none'>
    <div id='my_fh' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_FAMILY_HISTORY']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_HISTORY_RECORD']; ?></p>
        <input type="button" value="Remove" name="yes" id="yes_my_fh" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_my_fh" class="button semibold green">

    </div>
</div>
<div  style="display:none;">
    <div id="exceed"  class="inner-popup-detail">
    <p>Based on your membership level you have exceeded your saved search limit.</p>
    <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
    <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$var .= 'var numOfCharacterAllowedForStory= "' . $this->maxStoryCharacter . '";';
$var .= 'var maxPassengerAllowed= "' . $this->maxPassengers . '";';
$var .= 'var numOfPassengerOnPage= ' . $this->numOfPassengerOnPage . ';';

$script = <<<EOD
$(function() {
        document.getElementsByName('is_sharing')[0].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_sharing')[1].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_email_on')[0].parentNode.setAttribute('style','display:inline');
        document.getElementsByName('is_email_on')[1].parentNode.setAttribute('style','display:inline');
    
    });
EOD;

echo $this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.fileupload.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.family_history.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/familyhistory/create.familyhistory.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendScript($script);
?>