<?php
/**
 * This view is used to view family history
 * @package    Passenger
 * @author     Icreon Tech - AS
 */
$searchResult = $this->searchResult;
?>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <form action="" method="get">
        <div class="head no-img"><span>Family History Information</span></div>
        <div class="detail-section white-bg">
            <div class="common-form">
                <div class="view-row">
                    <div class="col1"><strong>Title</strong><br>
                        <?php echo $searchResult['familyHistory']['title']; ?></div>
                    <div class="col1 right"><strong>Contact Name</strong><br>
                        <?php echo $searchResult['familyHistory']['full_name']; ?></div>
                </div>
                <div class="view-row">
                    <div class="col1"><strong>Status</strong><br>
                        <?php echo ($searchResult['familyHistory']['is_status'] != 2 ? "Unublish" : "Publish" ); ?></div>
                </div>
                <div class="view-row">
                    <div class="full"><strong>Story</strong><br>
                        <?php
                        echo stripslashes($searchResult['familyHistory']['story']);
                        ;
                        ?>
                    </div>

                </div>
                <div class="row">
                    <div class="col1">
                        <label>Sharing</label>
                        <span class="radio-label p-t-5 left">
                            <input name="radio-1" class="e2" type="radio" value="" id="radio-1" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_sharing'] == 1 ? 'checked = "checked"' : '') ?> >
                            <label for="radio-1">Viewable by public</label>
                            <input name="radio-2" class="e2" type="radio" value="" id="radio-2" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_sharing'] == 0 ? 'checked = "checked"' : '') ?>>
                            <label for="radio-2">Not Shared</label>
                        </span> </div>
                    <div class="col1 right">

                        <input type="checkbox" value="1" class="e2" id="is_featured" name="is_featured" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_featured'] == 1 ? 'checked = "checked"' : '') ?>>

                        <label for="is_featured" <?php echo ($searchResult['familyHistory']['is_featured'] == 1 ? 'class = "checked"' : '') ?>>Featured Story</label>
                    </div>
                </div>
                <div class="row no-padd">
                    <?php if ($searchResult['familyHistory']['is_sharing'] == 1) { ?>
                        <div class="col1">
                            <label>Family History Email</label>
                            <span class="radio-label p-t-5 left">
                                <input name="" class="e2" type="radio" value="" id="radio-3" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_email_on'] == 1 ? 'checked = "checked"' : '') ?>>
                                <label for="radio-3">On</label>
                                <input name="" class="e2" type="radio" value="" id="radio-4" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_email_on'] == 0 ? 'checked = "checked"' : '') ?>>
                                <label for="radio-4">Off</label>
                            </span>
                        </div>
                    <?php } ?>
                    <div class="col1 right">

                        <input type="checkbox" value="1" class="e2" id="is_notify" name="is_notify" disabled="disabled" <?php echo ($searchResult['familyHistory']['is_notify_contact'] == 1 ? 'checked = "checked"' : '') ?>>

                        <label for="is_notify" <?php echo ($searchResult['familyHistory']['is_notify_contact'] == 1 ? 'class = "checked"' : '') ?>>Notify Contact</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span>Upload Image/ Video</span></div>
        <div class="detail-section white-bg">
            <div class="common-form">
                <div class="view-row">
                    <?php if ($searchResult['familyHistory']['main_content'] != '') { ?>
                        <div class="col1"><strong>Main Image</strong><br>
                            <?php
                            if (file_exists($this->filePath['assets_upload_dir'] . "familyhistory/thumbnail/" . $searchResult['familyHistory']['main_content'])) {
                                ?>
                                <img src="<?php echo $this->filePath['assets_url'] . "familyhistory/thumbnail/" . $searchResult['familyHistory']['main_content']; ?>">
                                <?php
                            }
                            ?>                   
                        </div>
                        <?php
                    } else {
                        if (count($searchResult['familyContent']) == 0)
                            echo 'No content found';
                    }
                    ?>
                </div>

                <?php
                $i = 0;
                foreach ($searchResult['familyContent'] as $key => $value) {
                    $i++;
                    $css = ($i % 2 == 0 ? 'right' : '');
                    if ($css == '')
                        echo '<div class="view-row no-padd">';

                    if ($value['content_type'] == 1) {
                        ?>
                        <div class="col1 <?php echo $css; ?>"> <strong>Image Location <?php echo $value['location_no']; ?></strong><br>
                            <strong>Uploaded Image</strong><br>
                            <?php
                            if (file_exists($this->filePath['assets_upload_dir'] . "familyhistory/thumbnail/" . $value['location_content'])) {
                                ?>
                                <img src="<?php echo $this->filePath['assets_url'] . "familyhistory/thumbnail/" . $value['location_content']; ?>">
                                <?php
                            }
                            ?>  
                            <br>
                            <strong>Caption</strong><br>
                            <?php echo $value['content_caption']; ?>
                        </div>
                    <?php } else {
                        ?>
                        <div class="col1 <?php echo $css; ?>"> <strong>Image Location <?php echo $value['location_no']; ?></strong><br>
                            <strong><?php
                                if (strpos($value['location_content'], 'youtube'))
                                    echo 'Youtube';
                                elseif (strpos($value['location_content'], 'vimeo'))
                                    echo 'Vimeo';
                                ?> URL Link</strong><br>
                            <a href="<?php echo $value['location_content']; ?>"><?php echo $value['location_content']; ?></a><br>
                            <strong>Caption</strong><br>
                            <?php echo $value['content_caption']; ?>
                        </div>

                        <?php
                        if ($css == 'right')
                            echo '</div></div>';
                    }
                }
                ?>
            </div></div>
</div>
<div class="head no-img"><span>Associate People(s)</span></div>
<div class="detail-section white-bg">
    <?php if (!empty($searchResult['familyPerson'])) { ?>
        <div class="common-form">
            <div class="view-row"> <strong>Associated People </strong> </div>
            <div class="view-row no-padd">
                <div class="col3"><strong>Name</strong><br>
                </div>
                <div class="col3"><strong>Passenger ID</strong></div>
                <div class="col3"><strong>Relationship</strong></div>
                <div class="col3"><strong>Year of Birth</strong></div>
                <div class="col3"><strong>Country of Birth</strong></div>
                <div class="col3"><strong>On Wall of Honor ?</strong></div>
            </div>

            <?php
            foreach ($searchResult['familyPerson'] as $key) {
                ?>
                <div class="view-row no-padd">
                    <div class="col3">                            
                        <?php
                        if ($key['first_name'] != '')
                            echo $key['first_name'] . " " . $key['last_name'];
                        else
                            echo (isset($key['passenger_name']) && $key['passenger_name'] != '') ? $key['passenger_name'] : 'N/A';
                        ?></div>
                    <div class="col3">
                        <?php if ($key['passenger_id'] != '') { ?>
                            <strong><a href="/view-crm-passenger/<?php echo $key['encryptId'] . "/" . $searchResult['familyHistory']['mode']; ?>"><?php echo $key['passenger_id']; ?></a></strong>
                        <?php } else { ?>
                            N/A
                        <?php } ?>
                    </div>
                    <div class="col3">
                        <?php
                        if ($key['relationship_id'] != '' && isset($relations_list[$key['relationship_id']]))
                            echo $relations_list[$key['relationship_id']];
                        else
                            echo 'N/A'
                            ?></div>
                    <div class="col3">
                        <?php
                        if ($key['year_of_birth'] != '' && $key['year_of_birth'] != '0000')
                            echo $key['year_of_birth'];
                        else
                            echo 'N/A';
                        ?></div>
                    <div class="col3">
                        <?php
                        if ($key['birth_country_id'] != '')
                            echo $country_list[$key['birth_country_id']];
                        else
                            echo 'N/A'
                            ?>
                    </div>
                    <div class="col3">
                        <?php
                        if ($key['panel_no'] != '')
                            echo $key['panel_no'];
                        else
                            echo 'N/A';
                        ?>
                    </div>
                </div>
            <?php } ?>

        </div>
        <?php
    }else {
        echo "No Person Associated";
    }
    ?>
</div>
</form>
</div>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

$script = <<<EOD
$(document).ready(function() {
        $(".e1").select2({minimumResultsForSearch: -1});
        $(".e2").customInput();
        $(".e3").customInput();
    });
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>
