<?php
    $k=1;
	if(!empty($history['familyHistories'])){
		foreach ($history['familyHistories'] as $key1 => $value1) {
?>
<li> <img src="<?php echo (($value1['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/medium/" . $value1['main_content'])) ? $uploadedFilePath . "familyhistory/medium/" . $value1['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg"); ?>">
    <div class="featured-image-content">
        <?php
        if ($value1['author'] != '') { $authorFB = 'by ' . $value1['author']; } else { $authorFB = '&nbsp;'; }
        $fbArr = array($this->serverUrl().'/view-user-familyhistory/'.$value1['encryptFamilyHistoryId'],$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($jsLangTranslate['FB_SHARE_TITLE1']),'&nbsp;',addslashes(sprintf($jsLangTranslate['FB_SHARE_DESCRIPTION1'],DOMAIN_NAME)),$facebookAppId);
        ?>
        <h1><a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value1['encryptFamilyHistoryId']; if(isset($contact_name)){ ?>/<?php echo $this->Encrypt($contact_name); } if(isset($birth_country_id)){ ?>/<?php echo $this->Encrypt($birth_country_id); } ?>"><span class="button">View detail</span></a><?php if ($value1['is_status'] == 2 && $_SERVER['REMOTE_ADDR'] != $allowed_IP) { ?><a class="fb-icon" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');" title="Share on Facebook"></a><?php } ?><?php echo $value1['title']; ?></h1>
        <div class="fic-subtext">
            <?php 
                if ($value1['author'] != '') {
                    echo 'by <strong>' . $value1['author'].'</strong>';
                }                                    
            ?>
        </div>
        <?php
        if (!empty($history['familyPerson'][$value1['family_history_id']])) { 
        ?>
        <div class="featured-content-box">
            <h2>Associated Matches</h2>
            <?php
                $associated_mateches = array();
                foreach ($history['familyPerson'][$value1['family_history_id']] as $k => $associatedPerson) {
                    if ($associatedPerson['passenger_name'] != '')
                        $associated_mateches[] = $associatedPerson['passenger_name'];
                    if ($associatedPerson['first_name'] != '' || $associatedPerson['last_name'] != '')
                        $associated_mateches[] = $associatedPerson['first_name'] . ' ' . $associatedPerson['last_name'];
                }
            ?>
            <h3><?php echo implode(",",$associated_mateches); ?></h3>
        </div>
        <?php } ?>
    </div>
</li>
<?php 
	$k++; 
	}
?>
<?php
    if (count($history['familyHistories']) >= 4) {
?>
    <span id="load_more-<?php echo $page ?>">
        <div id="loadingDiv-<?php echo $page ?>"  class="load-more-button"><input name="" type="button" value="Load more" class="featured-load-more button" onclick="loadMore();"></div>
    </span>
<?php 
	}
	$script = <<<EOD
$("#lastDiv li:odd").addClass('last');
EOD;
echo $this->inlineScript()->appendScript($script);
}
?>