<?php
$translator = $jsLangTranslate;
$this->inlineScript()->captureStart();
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/web-colorbox.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery-1.9.0.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div id="family_send_email" class="pop-container">
    <div id="success-msg" class="success-msg" style="display:none;">
        <strong>Email request has sent successfully.</strong>
    </div>
    <?php echo $emailBody['body']; ?>        
    <div class="full center-align" id="sendEmailButtons">
        <input type="button" value="Cancel" name="Cancel" id="no"  class="button">
        <input type="button" value="Submit" name="Submit" id="yes" class="button" onClick="sendEmailFh('<?php echo $family_history_id; ?>');">
    </div>
</div>
<script type="text/javascript"> 
        $(function() {
            parent.$.colorbox.resize({innerWidth:"900px",innerHeight:(parseInt($('html').height())+parseInt(10))+'px'});
			$("#no").click(function() {
				parent.$.colorbox.close();
				$('#yes').unbind('click');
				return false;
			});
        });
		function sendEmailFh(family_history_id){ 
			$.ajax({
					type: 'POST',
					data: {
						family_history_id: family_history_id
					},
					url: '/sendemail-familyhistory',
					success: function(response)
					{
						var jsonObj = jQuery.parseJSON(response);
						if (jsonObj.status === 'success')
						{
							$('#sendEmailButtons').hide();
							$('#success-msg').show();
							window.parent.window.scrollTo(0,0);
						}
					}
				});
		}
		
</script>