<?php
$translator = $jsLangTranslate;
$this->inlineScript()->captureStart();
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>

<?php
$auth = $this->getAuth();        
 ?> 
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/familyhistory/user.familyhistory.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.family_history.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
    $(function(){
        $('.scroll-pane').jScrollPane();
        $("#save-search .dropdown").hide();
        $(".featured-dropdown .drop-down").hide();
        $("select").select2();
        $("#lastDiv li:odd").addClass('last');
        $('.image').last().addClass('last');
       
        <?php
         $auth = $this->getAuth();
		if (isset($auth->user_id) && $auth->user_id != '' && $showrequest == 'showSendMailRequest') {          
         ?> 
            $(".family_send_email").click();
         <?php
         }
         ?>
    });
</script>
<div class="inner-header">
    <h1>Family Histories</h1>
</div>
<!--starts familyhistory-->
<div class="family-outer-bg" id="contentArea">
    <div class="family-inner-bg">
        <div class="family-top-bg">
            <div class="container">
                <div class="detail-section">
                    <h1>Shared Family Stories</h1>
                    <?php
                    $form = $this->form;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <?php echo $this->formRow($form->get('contact_name')); ?>
                    <input type="hidden" name="page" id="page" value="<?php // echo $page   ?>">
					<input type="hidden" name="is_featured" id="is_featured" value="1">
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                    <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>        
        <div class="container">
            <div class="featured-search">
                <div class="featured-search-box right mar-r-31">
                    <div class="float-right">
						<a href="/family-history-about" class="button familyMoreInfo" id="moreInfoId" style="display:none;">More Info</a>
                        <div class="featured-dropdown">
                        Featured Stories
                        <div class="drop-down">
                                <div class="scroll-pane featured-record">
                                    <ul>
                                        <?php
                                        foreach ($featuredFamilyHistories as $key => $value) {
                                            ?>
                                            <li>
                                                <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>"><img src="<?php echo (($value['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/small/" . $value['main_content'])) ? $uploadedFilePath . "familyhistory/small/" . $value['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg"); ?>"></a>
                                                <a href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>"><span><?php
                                                        echo '<strong>' . $value['title'] . '</strong>';
                                                        if ($value['author'] != '') {
                                                            echo '<br>' . $value['author'];
                                                        }
                                                        ?></span></a>
                                                <div><a class="sfs-view-detail" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $value['encryptFamilyHistoryId']; ?>">View Detail</a></div>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                    <?php
                                    if (!isset($auth->user_id)) {

                                        $form = $this->form;
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
										$page = isset($page)?$page:'';
                                        ?>
                                        <input type="hidden" name="page" id="page" value="<?php echo $page ?>">
                                        <?php
                                        echo $this->form()->closeTag();
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-result-container" id="family_content">
                <div class="family-story-left">
                    <div class="top-section">
                        <a href="/family-histories" class="button back ">Featured List</a>
                        <?php
                        if (!empty($author_data)) {
                            if ($author_data['user_type'] == 1) {
                                $name = '';
                                if ($author_data['first_name'] != '')
                                    $name.= $author_data['first_name'];
                                if ($author_data['middle_name'] != '')
                                    $name.= " " . $author_data['middle_name'];
                                if ($author_data['last_name'] != '')
                                    $name.= " " . $author_data['last_name'];

                                $authorFB = 'by ' . $name;
                            }else
                                $authorFB = 'by ' . $author_data['company_name'];
                        }else {
                            $authorFB = '&nbsp;';
                        }
                        if ($history['familyHistory']['is_status'] == 2 && $_SERVER['REMOTE_ADDR'] != $allowed_IP) {
                            $fbArr = array($this->serverUrl() . '/view-user-familyhistory/' . $this->Encrypt($history['familyHistory']['family_history_id']), $this->layout()->getVariable('imageFilePath') . '/images/fb_share.jpg', addslashes($translator['FB_SHARE_TITLE1']), '&nbsp;', addslashes(sprintf($translator['FB_SHARE_DESCRIPTION1'],DOMAIN_NAME)), $facebookAppId);
                            ?>
                            <a href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','", $fbArr); ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/share.jpg" class="float-left" alt=""></a>
                            <?php
                        }
                        $auth = $this->getAuth();
                        if (isset($auth->user_id) && $auth->user_id != '') {
                            ?>
                            <div class="float-right">
                                <div id="save-search">
                                    <?php if (!empty($savedFamilyHostory)) { ?>
                                        <a href="javascript:void(0);" class="saved-records">Saved Histories</a>
                                        <div class="dropdown">
                                            <div class="<?php if(count($savedFamilyHostory)>3){ ?>scroll-pane featured-scroll <?php } ?>">
                                                <ul>
                                                    <?php foreach ($savedFamilyHostory as $val) { ?>
                                                        <li>
                                                            <a class="link1" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><span><?php echo $val['title']; ?></span></a>
                                                            <a class="saved_history link1" href="#saved_history" onclick="deleteSavedFamilyhistories('<?php echo $val['fh_search_id']; ?>');"><div class="sn-close"></div></a>
                                                            <a class="link1" href="<?php echo $this->basePath(); ?>/view-user-familyhistory/<?php echo $this->Encrypt($val['family_history_id']); ?>"><div class="sn-search"></div></a>
                                                        </li>
                                                    <?php } ?>


                                                </ul>
                                            </div>
                                        </div>
                                    <?php } ?>

                                </div>
                                <form method="POST" name="savehistoryForm" id="savehistoryForm">
                                    <?php if ($max_saved_histories <= count($savedFamilyHostory)) { ?>
                                        <a href="#exceed" class="exceed save-search" onClick="validitycheck('exceed');"></a>
                                        <?php
                                    } else {
                                        ?>
                                        <div class="save-search" >
                                            <input name="title" id="title" type="text" placeholder="Save This History" value="">
                                            <input type="hidden" id="family_history_id" name="family_history_id" value="<?php echo $this->Encrypt($history['familyHistory']['family_history_id']); ?>">
                                            <input type="button" id="savehistory" class="plus-btn" value="">
                                        </div>
                                    <?php } ?>

                                </form>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                    <div class="scroll-pane">
                        <div class="left-detail">
                            <div class="video-img image">
                                <img src="<?php echo (($history['familyHistory']['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/thumbnail/" . $history['familyHistory']['main_content'])) ? $uploadedFilePath . "familyhistory/thumbnail/" . $history['familyHistory']['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg"); ?>" class="img" />
                            </div>
                            <?php 
                            if (!empty($history['familyContent'])) {
                                $i = 0;
                                foreach ($history['familyContent'] as $key1 => $value1) {
                                    if ($value1['location_content'] != '') {
                                        if ($value1['content_type'] == 2) {
                                            if (strpos($value1['location_content'], 'youtube')) {
                                                ++$i;
                                                parse_str( parse_url( $value1['location_content'], PHP_URL_QUERY ), $video_url_array);
                                                if (isset($video_url_array['v']) && $video_url_array['v'] != '') {
                                                    ?>
                                                    <div class="small-img image">
                                                        <a href="#video_<?php echo $value1['family_content_id']; ?>" class="video_<?php echo $value1['family_content_id']; ?> icon" onClick="showvideo('<?php echo $value1['family_content_id']; ?>');">
                                                            <img class="videoicon" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/family-icon.png" alt="">
                                                        </a>
                                                        <a href="#video_<?php echo $value1['family_content_id']; ?>" class="video_<?php echo $value1['family_content_id']; ?>" onClick="showvideo('<?php echo $value1['family_content_id']; ?>');"><img src="http://img.youtube.com/vi/<?php echo $video_url_array['v']; ?>/1.jpg" class="img" /> </a>
                                                    </div>
                                                    <?php
                                                    if ($value1['content_caption'] != '') {
                                                        echo '<p>' . wordwrap($value1['content_caption'], 42, "<br />\n") . '</p>';
                                                    }
                                                }
                                            } else {
                                                ++$i;
                                                $video_url_array = explode("/", $value1['location_content']);
												$arrLength1 = count($video_url_array)-1;
                                                if (isset($video_url_array[$arrLength1]) && $video_url_array[$arrLength1] != '') {
                                                    ?>	<div class="small-img image">
                                                        <a href="#video_<?php echo $value1['family_content_id']; ?>" class="video_<?php echo $value1['family_content_id']; ?> icon" onClick="showvideo('<?php echo $value1['family_content_id']; ?>');">
                                                            <img class="videoicon" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/family-icon.png" alt="">
                                                        </a>
                                                        <?php
                                                        $hash = unserialize(file_get_contents("http://vimeo.com/api/v2/video/" . $video_url_array[$arrLength1] . ".php"));
                                                        echo '<img src="' . $hash[0]['thumbnail_medium'] . '" class="img" /></div>';
                                                        if ($value1['content_caption'] != '') {
                                                            echo '<p>' . wordwrap($value1['content_caption'], 42, "<br />\n") . '</p>';
                                                        }
                                                    }
                                                }
                                            } elseif ($value1['content_type'] == 1 && file_exists($assetsUploadDir . "familyhistory/medium/" . $value1['location_content'])) {
                                                ++$i;
                                                ?>
                                                <div class="small-img image">
                                                    <img src="<?php echo $uploadedFilePath . "familyhistory/medium/" . $value1['location_content']; ?>" alt=""/>
                                                </div>
                                                <?php
                                                if ($value1['content_caption'] != '')
                                                    echo '<p>' . wordwrap($value1['content_caption'], 42, "<br />\n") . '</p>';
                                            }
                                        }
                                    }
                                }
                                ?>
                            </div>
                            <div class="right-detail">
                                <h2><?php echo $history['familyHistory']['title'] ?></h2>
                                <?php
                                $name = '';
                                if (isset($author_data['first_name']) && $author_data['first_name'] != '' && isset($author_data['last_name']) && $author_data['last_name'] != '')
                                    $name = $author_data['first_name'] . '&nbsp;' . $author_data['last_name'];
                                elseif (isset($author_data['company_name']))
                                    $name = $author_data['company_name'];
                                if ($name != '') {
                                    ?>
                                    <span>by <strong><?php echo $name; ?></strong></span>
                                <?php
                                }
                                echo stripslashes($history['familyHistory']['story']);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="family-story-right">
                        <?php
                        if ($defaultFhEmailPermission == '1' && ($history['familyHistory']['user_id'] != '0' && $history['familyHistory']['user_id'] != '')) {
                         ?>
                            <div class="top-box">
                                <h3>Do you know
                                    <?php
                                    if ($author_data['first_name'] != '' && $author_data['last_name'] != '')
                                        echo $name = $author_data['first_name'] . '&nbsp;' . $author_data['last_name'];
                                    else
                                        echo $name = $author_data['company_name'];
                                    ?>
                                </h3>
                                <p>Do you share the same interest
                                    in the associated people?</p>
                                 <?php
                                    if (isset($auth->user_id) && $auth->user_id != '') {    
                                    ?>
                                        <a href="javascript:void(0);" class="btn" onClick="sendEmailRequest('<?php echo $this->Encrypt($history['familyHistory']['family_history_id']) ?>','<?php echo $this->Encrypt($history['familyHistory']['title']); ?>', '<?php echo $this->Encrypt($history['familyHistory']['user_id']) ?>','<?php echo $this->Encrypt($defaultFhEmailPermission); ?>');">Send Email Request</a> 
                                <?php
                                }
                                else {
                                ?>
                                        <a href='javascript:void(0);' class="family_send_email btn" onClick="checkUserLogin('<?php echo $this->Encrypt('/sendemail-familyhistory/'.$this->Encrypt($history['familyHistory']['family_history_id']).'/'.$this->Encrypt($history['familyHistory']['title']).'/'.$this->Encrypt($defaultFhEmailPermission).'/'.$this->Encrypt($history['familyHistory']['user_id'])).'@@rd';?>');" alt='Send Email Request' title='Send Email Request'>Send Email Request</a>
                                <?php 
                                    }
                                ?>
                            </div>
                            <?php } ?>
                        <div class="middle-box">
                            <p>If you wish, share your own
                                family’s story of arrival with us.</p>
                            <a href="<?php echo $this->basePath(); ?>/family-history-about" class="btn">More Info</a> 
                        </div>
                        <?php
                        if (!empty($history['familyPerson'])) {
                            ?>
                            <div class="bottom-box">
                                <h3>Associated People</h3>
                                <ul>
                                    <?php
                                    foreach ($history['familyPerson'] as $key => $value) {
                                        if ((($value['passenger_id'] != '' && $value['passenger_name'] != 'N/A') && ($value['first_name'] == '' || $value['last_name'] == '')) || (($value['passenger_id'] == '') && ($value['first_name'] != '' || $value['last_name'] != ''))) {
                                            ?>
                                            <li>
                                                    <?php if ($value['passenger_id'] != '') { 
                                                    if (isset($auth->user_id) && $auth->user_id != '') {
                                                    ?>
                                                    <a class="passenger_icon" href="<?php echo $this->basePath(); ?>/passenger-details/<?php echo $this->Encrypt($value['passenger_id']); ?>/<?php echo $this->Encrypt('passenger'); ?>">
                                                        <?php 
                                                        }
                                                        else
                                                        {
                                                        ?>
                                                            <a class="passenger_icon" href='javascript:void(0);' onClick="checkUserLogin('<?php echo $this->Encrypt($this->basePath().'/passenger-details/'.$this->Encrypt($value['passenger_id']).'/'.$this->Encrypt('passenger')); ?>')">
                                                        <?php
                                                        }

                                                    } else { ?>
                                                        <a href="javascript:void(0);">
                                                            <?php } ?>
                                                        <strong>
                                                            <?php
                                                            if ($value['passenger_id'] != '')
                                                                echo $value['passenger_name'];
                                                            else
                                                                echo $value['first_name'] . " " . $value['last_name'];
                                                            ?>
                                                        </strong> 
                                                        <span>
                                                            <?php
                                                            if ($value['relationship_id'] != '' && isset($relations_list[$value['relationship_id']]))
                                                                echo $relations_list[$value['relationship_id']];
                                                            else
                                                                echo 'N/A'
                                                                ?>
                                                        </span> 
                                                    </a>
                                            </li>
                                            <?php
                                        }
                                    }
                                    ?>
                                </ul>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	
 <div style="display:none">
    <div id="loginsignup" class="pop-container">
        <h2>Please login or Register to Continue</h2>
        <p>In order to view these other features, please login or register.</p>
        <div align="center">
            <div class="button-row" style="display:inline;">
                  <input type="button" value="Cancel" name="Cancel" id="cancel"  class="button">
            </div>
            <div class="button-row" style="display:inline;">
                  <input type="button" value="Login" name="Login" id="login" class="button">
            </div>
            <div class="button-row" style="display:inline;">
                <input type="button" value="Register" name="Signup" id="register" class="button">
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <div id="saved_history" class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> 
        <h1>Remove Saved History</h1>
        <p>Are you sure you want to delete record?</p>
        <input type="button" value="Remove" name="yes" id="yes_my_fh" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_my_fh" class="button semibold green">
    </div>
</div>
<div  style="display:none;">
    <div id="exceed"  class="inner-popup-detail">
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" onclick="javascript:$.colorbox.close();"  class="button green semibold">
    </div>
</div>
<?php
if (!empty($history['familyContent'])) {
	foreach ($history['familyContent'] as $k1 => $v1) {
		if ($v1['content_type'] == 2) {
			if (strpos($v1['location_content'], 'youtube')) {
				parse_str( parse_url( $v1['location_content'], PHP_URL_QUERY ), $video_url_array1);
				if (isset($video_url_array1['v']) && $video_url_array1['v'] != '')
					echo $video_url = '<div  style="display:none;">' . $video_url_array1['v'] . '<div id="video_' . $v1['family_content_id'] . '"  class="inner-popup-detail"><p><iframe width="357" height="230" src="//www.youtube.com/embed/' . $video_url_array1['v'] . '" frameborder="0" allowfullscreen></iframe></p></div></div>';
			}else {
				$video_url_array1 = explode("/", $v1['location_content']);
				$arrLength = count($video_url_array1)-1;
				if (isset($video_url_array1[$arrLength]) && $video_url_array1[$arrLength] != '')
					echo $video_url = '<div  style="display:none;">' . $video_url_array1[$arrLength] . '<div id="video_' . $v1['family_content_id'] . '"  class="inner-popup-detail"><p><iframe width="357" height="230" src="//player.vimeo.com/video/' . $video_url_array1[$arrLength] . '?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p></div></div>';
			}
		}
	}
}
?>