<div class="container">
<div style="padding:0px 20px;">
  
        <div clsss="content" style="width:auto; float:right; margin-bottom:15px;">
            <input type="button" class="button float-right" name="Edit" value="Edit" onClick="editFamilyHistory('<?php echo $history['familyHistory']['family_history_id'];?>');">
        </div>
   
    <div class="col11 alpha family-history clearfix">
        <div id="success_message" class="success-msg" style="float:none;display:none;"></div>
        <div class="block">
            <div class="content" style="disaply:inline;"> <img src="<?php echo (($history['familyHistory']['main_content'] != '' && file_exists($assetsUploadDir . "familyhistory/thumbnail/" . $history['familyHistory']['main_content'])) ? $uploadedFilePath . "familyhistory/thumbnail/" . $history['familyHistory']['main_content'] : $this->layout()->getVariable('imageFilePath') . "/images/noimage-150-112.gif"); ?>" alt="" class="img-left" />
                <h1><?php echo $history['familyHistory']['title'] ?></h1>
                <h3><?php echo ($history['familyHistory']['full_name'] != '') ? 'by ' . $history['familyHistory']['full_name'] : ''; ?></h3>
                <?php echo stripslashes($history['familyHistory']['story']); ?>
            </div>            
        </div>
        <div class="block">
            <div class="content" style="padding-left:20px !important">
                <h1>Associated People</h1>
                <table cellpadding="0" cellspacing="0" width="100%" class="associated-table">
                    <tr>
                        <th>Name</th>
                        <th>Relationship</th>
                        <th>Year of Birth</th>
                        <th>Country of Birth</th>
                        <th>On Wall of Honor</th>
                    </tr>
                    <?php
                    if (!empty($history['familyPerson'])) {
                        foreach ($history['familyPerson'] as $key => $value) {
                            ?>
                            <tr>
                                <td>
                                    <?php
                                    if ($value['passenger_id'] != '')
                                        echo $value['passenger_name'];
                                    else
                                        echo $value['first_name'] . " " . $value['last_name'];
                                    ?>
                                </td>
                                <td><?php echo $value['relationship']; ?></td>
                                <td><?php echo ($value['year_of_birth'] != '') ? $value['year_of_birth'] : 'N/A'; ?></td>
                                <td><?php echo ($value['country'] != '') ? $value['country'] : 'N/A'; ?></td>
                                <td>
                                    <?php echo $value['panel_no']; 
                                    if($value['passenger_id'] != ''){
                                    ?>
                                    <a class='view-icon' href='<?php echo $this->basePath();?>/passenger-details/<?php echo $value['encPassengerId'];?>/<?php echo $value['viewtab'];?>'><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/family-icon.jpg"></a>                                    
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php
                        }
                    }else{
                    ?>
                            <tr>
                                <td colspan="5">No Associated People.</td>
                            </tr>
                    <?php } ?>
                </table>                
            </div>
        </div>
    </div>
    <div class="col5 rightsection omega">
        <!--<div class="home-add">
          <div class="advertise"> <img src="images/family-video.jpg"> </div>
        </div>-->
		<div class="clearfix family-right-box">
            <?php foreach ($history['familyContent'] as $key1 => $value1) { ?>
            
		
                <?php
                if ($value1['content_type'] == 2) {
                    echo '<div class="box-tab">';
                    if (strpos($value1['location_content'], 'youtube')) {
						parse_str( parse_url( $value1['location_content'], PHP_URL_QUERY ), $video_url_array );
                        echo $video_url = '<iframe width="230" height="130" src="//www.youtube.com/embed/' . $video_url_array['v'] . '" frameborder="0" allowfullscreen></iframe>';
                    
                        if ($value1['content_caption'] != '') { 
                            echo '<p>'.wordwrap($value1['content_caption'], 20, "<br />\n").'</p>';
                        }
                    } else {
                        $video_url_array = explode("/", $value1['location_content']);
						$arrLength = count($video_url_array)-1;
                        echo $video_url = '<iframe width="230" height="130" src="//player.vimeo.com/video/' . $video_url_array[$arrLength] . '"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
						 
                        if ($value1['content_caption'] != '') { 
                            echo '<p>'.wordwrap($value1['content_caption'], 20, "<br />\n").'</p>';
                        } 
                    }
                    echo '</div>';
                } elseif ($value1['content_type'] == 1 && file_exists($assetsUploadDir . "familyhistory/medium/" . $value1['location_content'])) {
                    ?>
                <div class="box-tab">
                    <img  src="<?php echo $uploadedFilePath . "familyhistory/large/" . $value1['location_content']; ?>" alt="" />
                    <?php 
                    if ($value1['content_caption'] != '') { 
                    ?>
                        <p><?php echo wordwrap($value1['content_caption'], 20, "<br />\n"); ?></p>
                    <?php                     
                    } ?>
               </div>
                <?php
                } ?>
                
            
        <?php } ?>
		</div>
    </div>
</div>
</div>