<?php
/**
 * This file is used for conatct phone number form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function() {
        $("#survey").validate({
            submitHandler: function() {
                showAjxLoader();
                var dataStr = $('#survey').serialize();
                $.ajax({
                    type: "POST",
                    url: '/add-edit-user-survey-info/'+$("#user_id").val(),
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            $("#tab-6").click();
                            
                            location.href="#topOfProfilePage"; 
                        }
                    }
                });
            }        
        });
    
        if($('input:radio[name=4]').is(":checked")){ 
            if($('input:radio[name=4]:checked').val()==0){
                $("#otherAnswer").hide();
            }else{
                $("#otherAnswer").show();
            }
	
        }
    
    });

    function showotherOption(val){	 
        if(val==1){
            $("#otherAnswer").show();
        }else{
            $("#otherAnswer").hide();
            $("#survey_immigrate").val('');
        }
    }
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
?>
<?php
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('user_id'));
?>
    <div style="" class="survey-page">
        <h2><?php echo $translator['L_SURVEY']; ?><a title="Close" href="javascript:void(0);" onclick="goToProfile();" class="close"></a></h2>
        <?php
        if (isset($flashMessages) && !empty($flashMessages)) {
            echo "<div id='success_message' class='success_message'>" . $flashMessages[0] . "</div>";
        }
        ?>
        <?php
        $survey_added = array();
        $i=0;
        $totalQuestion = count($this->survey_questions);
        foreach ($this->survey_questions as $key=>$questions) {
            if (!in_array($questions['survey_section_id'], $survey_added)) {
                $survey_added[] = $questions['survey_section_id'];
                if ($questions['survey_section'] && $questions['survey_section_id'] != 1) {
                    if($i==0){
                        echo "<div class='field-row1'>";
                    }else{
                        echo "</div><div class='field-row1'>";
                    }
                    $i++;
                    ?>	
                    <span class="heading"><?php echo $questions['survey_section']; ?></span>
                    <?php
                }
            }
            if ($questions['survey_section_id'] == 1) {
                ?>
                <div class="field-row">
                    <span class="heading"><?php echo $questions['survey_question']; ?></span>
                    <?php
                    if ($questions['survey_section_id'] == 1 && $questions['is_active'] == 2) {
                        echo "<div class='full'>" . $this->formRow($form->get($questions['survey_question_id'])->setAttribute('onclick', 'showotherOption(this.value)')) . "</div>";
                        if ($surveyImmigrate != NULL) {
                            $display = "block";
                        } else {
                            $display = "none";
                        }
                        ?>
                        <div id="otherAnswer" style="display: <?php echo $display ?>">
                            <span><?php echo $translator['L_SURVEY_WHER_IMG']; ?></span><br>
                            <?php echo $this->formRow($form->get('survey_immigrate')->setValue($surveyImmigrate)); ?>
                        </div>
                        <?php
                    } else {
                        echo $this->formRow($form->get($questions['survey_question_id']));
                    }
                    ?>
                </div>
                <?php
            } else {
                ?>
                <div class="row">
                    <?php echo $this->formRow($form->get($questions['survey_question_id'])); ?>
                    <label for="<?php echo $questions['survey_question_id']; ?>" class="option"><?php echo $questions['survey_question']; ?></label>
                </div>
                    <?php
                    if($key==($totalQuestion-1)){
                        echo "</div>";
                    }
                    ?>
                <?php
            }
        }
        ?>
        <div class="form-sep">
            <?php echo $this->formRow($form->get('submit')); ?>
        </div>

    </div>

<?php
echo $this->form()->closeTag();
?>