<?php
/**
* This file is used to get contact survey
* @package    User
* @author     Icreon Tech - DG
*/
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="create-contacts create-group">
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('user_id'));
    ?>
    <div id="create_group_div">        
        <div class="accordion-detail">
            <div class="breadcrumb contact-breadcrumb">
                <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
            </div>
         <div id="success-message" class="success-msg m-b-10" style="display:none;"></div>
            <div class="head no-img"><span><?php echo $translator['L_SURVEY']; ?></span></div>            
            <div class="detail-section">
                <div class="common-form">
                    <?php
                    $survey_added = array();
					foreach ($this->survey_questions as $questions) {
		         if (!in_array($questions['survey_section_id'], $survey_added)) {
                            $survey_added[] = $questions['survey_section_id'];
                            if ($questions['survey_section'] &&  $questions['survey_section_id']!=1) {
                                ?>	
                                <div class="row no-padd"><span class="text-bold"><?php echo $questions['survey_section']; ?></span></div>
                                <?php
                            }
                        }
                        if ($questions['survey_section_id'] == 1) {
                            ?>
                            <div class="row1 radio-que"> 
                                <span class="text-bold"><?php echo $questions['survey_question']; ?></span>

                                <?php 
                                    if($questions['survey_section_id']==1 && $questions['is_active']==2){
                                            echo "<div class='full'>". $this->formRow($form->get($questions['survey_question_id'])->setAttribute('onclick','showotherOption(this.value)'))."</div>"; 
                                            if($surveyImmigrate !=NULL){
                                                    $display= "block";
                                            }else{
                                                    $display= "none";
                                            }

                                            ?>
                                            <div id="otherAnswer" style="display: <?php echo $display?>">
                                                    <span><?php echo $translator['L_SURVEY_WHER_IMG']; ?></span><br>
                                                    <?php echo $this->formRow($form->get('survey_immigrate')->setValue($surveyImmigrate));?>
                                            </div>
                                            <?php
                                    }else{
                                        echo $this->formRow($form->get($questions['survey_question_id'])); 
                                    }
                                    ?> 
                            </div>

                            <?php
                        } else {
                            ?>

                            <div class="row1">
                               <?php echo $this->formRow($form->get($questions['survey_question_id'])); ?>
                                <label for="<?php echo $questions['survey_question_id']; ?>" class="text check"><?php echo $questions['survey_question']; ?></label>
                            </div>  
                            <?php
                        }
                    }
                    ?>
                    <div class="row no-padd">

                        <?php echo $this->formRow($form->get('submit')); ?>
                    </div>
                </div>
            </div>
        </div>         
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.survey.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>