<?php
/**
 * This file is used to get education form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function() {
        $("select").select2();
    });
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
$formEducation->prepare();
?>
<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_DEGREE_LAVEL']; ?></label>
        <div class='type-select'>
            <?php echo $this->formRow($formEducation->get('edu_degree_level[]')); ?>
        </div>
    </div>
    <div class="col-right">
        <label><?php echo $translator['L_INSTITUTE']; ?></label>
        <?php echo $this->formRow($formEducation->get('edu_institution[]')); ?> 
    </div>
</div>

<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_ATTENDED_YEAR']; ?></label>
        <?php echo $this->formRow($formEducation->get('edu_attended_year[]')); ?>
    </div>
    <div class="col-right">
        <label><?php echo $translator['L_MAJORS']; ?></label>
        <?php echo $this->formRow($formEducation->get('edu_major[]')); ?>
    </div>
</div>

<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_GPA']; ?></label>
        <?php echo $this->formRow($formEducation->get('edu_gpa[]')); ?>
    </div>
    <div class="col-right">
        <label>&nbsp;</label>
        <div id="edu_addMinus<?php echo $params['counter'] ?>" class="addMinus">        
            <input type="button" value="-" class="button green minus-field" onclick=remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>','<?php echo $params['counter']; ?>')>
            <input type="button" value="+" class="button green add-field" id="add_new_edu">
        </div>
    </div>
</div>