<?php
/**
 * This file is used for user profile data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslateUser;
$translatorCC = $jsLangTranslateCreditCard;
$var = '';
$var.= 'var userId = "' . $userId . '";';
$var.= 'var mode = "' . $mode . '";';
$var.= 'var site_url = "' . SITE_URL . '";';

?>

<div class="inner-header">
    <h1><?php echo $translator['H_EDIT_PROFILE']; ?></h1>    
</div>
<section class="main">
    <div class="container">
        <div class="myfile-page">
            <div class="left-section">
                <div class="banner-section">
                    <div class="knob-container">
                        <div class="knob"><!--<img src="<?php //echo $this->imageFilePath; ?>/images/foundation/knob.png">--></div>
                        <div class="knob-text">
                            <h1>Profile wizard</h1>
                            <p><!--<strong>21</strong> out of 30--></p>
                            <span>You are able to edit your information.</span>
                        </div>
                    </div>
                    <a class="fileclose" href="<?php echo SITE_URL.'/profile'?>">Close</a>
                    
                </div>
                <div><a name="topOfProfilePage"></a></div>
                <div class="edit-file-filter-box">
                    <ul class="profile-wizard">                        
                        <li><a id="tab-1" href="<?php echo SITE_URL.'/edit-user-info';?>"><?php echo $translator['H_BASIC_INFORMATION']; ?></a></li>
                        <li><a id="tab-2" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('contact');?>"><?php echo $translator['H_CONTACT_INFORMATION']; ?></a></li>
                        <li><a id="tab-3" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('token');?>"><?php echo $translator['H_CREDITCARD_INFORMATION']; ?></a></li>
                        <?php
                        if ($userDetail['user_type'] == 1) {
                            ?>
                        <li><a id="tab-4" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('demographic');?>"><?php echo $translator['H_DEMOGRAPHIC_INFORMATION']; ?></a></li>
                            <?php
                        }
                        ?>
                        <li><a id="tab-5" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('membership');?>"><?php echo $translator['H_MEMBERSHIP_INFORMATION']; ?></a></li>
                        <li><a id="tab-6" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('survey');?>"><?php echo $translator['H_SURVEY_INFORMATION']; ?></a></li>
                        <li><a id="tab-7" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('preference');?>"><?php echo $translator['H_PREFERENCE_INFORMATION']; ?></a></li>
						<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                        <li><a id="tab-8" href="<?php echo SITE_URL.'/edit-user-info/'.$this->encrypt('social');?>"><?php echo $translator['H_SOCIAL_INFORMATION']; ?></a></li>
						<?php } ?>
                    </ul>
                </div>
                <div id="edit_user_content">
                    
                    <div class="edit-inner-padd">
                        <div class="common-detail-section">
                            <?php
                            if (isset($flashMessages) && !empty($flashMessages))
                            {
                                echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div><br>";
                            }
                            ?> 
                            <div class="form-section" id="add_token_info_div">
                                
                            </div> 
                        </div>
                            
                    </div>
                    <div style='display:none'>
                        <div id='delete_address_info' class="inner-popup-detail">
                            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                            <h1><?php echo $translatorCC['DELETE']; ?></h1>
                            <p><?php echo $translatorCC['ARE_U_SURE_DELETE_RECORD']; ?></p>
                            <div class="button-row">
                                <input type="button" value="Yes" name="yes" id="yes_delete_address" class="button semibold">
                                <input type="button" value="No" name="no" id="no_delete_address" class="button green semibold">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="common-right-section">
                <div  id="message_center" class='message-center'>

                </div>
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                </div>
                
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(2); ?>"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<?php 
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.add-new-token.js?v='.$this->layout()->getVariable('jsVersion'))->prependScript($var);
?>
