<?php
/**
 * This file is used for conatct phone number form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function() {
        $("select").select2();
        $("#phoneno").validate({
            submitHandler: function() {
                var dataStr = $('#phoneno').serialize();
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: '/add-edit-user-phone-info',
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            $("#tab-2").click();
                            
                            location.href="#topOfProfilePage";
                        }else{
                            $.each(jsonObj.message, function (i, msg) {
                                $("#"+i).after('<label class="error" style="display:block;">'+msg+'</label>');                                    
                            });
                        }
                    }
                });
            },
            rules: {
                phone_type: {
                    required: false
                },
                country_code: {
                    required: false,                    
                    digits:true,
                    maxlength:5
                },
                area_code: {
                    required: true,
                    digits:true,
                    minlength:3,
                    maxlength:5
                },
                phone_no: {
                    required: true,
                    digits:true,
                    minlength:7,
                    maxlength:10
                },
                extension: {
                    required: false,
                    digits:true,
                    maxlength:5
                }
            },
            messages: {
                phone_type: {
                    required: PLEASE_ENTER
                },
                country_code: {
                    required: PLEASE_ENTER,
                    digits: 'Please enter numbers only. No Spaces or Dashes'
                },
                area_code: {
                    required: 'Please enter area code',
                    digits: 'Please enter numbers only. No Spaces or Dashes',
                    minlength:'Minimum length of area code is 3.',
                },
                phone_no: {
                    required: 'Please enter phone number',
                    digits: 'Please enter numbers only. No Spaces or Dashes',
                    minlength:'Minimum length of phone number is 7.'
                },
                extension: {
                    required: PLEASE_ENTER,
                    maxlength: 'Please do not enter more than 5 numbers'
                }
            }
        });
    });
    function closediv(id){
        $('#'+id).hide();
		location.href = '#topOfProfilePage';
    }
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
$form_phone->prepare();
echo $this->form()->openTag($form_phone);
echo $this->formRow($form_phone->get('phone_id'));
echo $this->formRow($form_phone->get('csrf'));
?>
<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['TYPE']; ?></label>
        <div class='type-select'>
            <?php echo $this->formRow($form_phone->get('phone_type[]')); ?>
        </div>
    </div>
    <div class="col-right">
        <label><?php echo $translator['COUNTRY_CODE']; ?></label>
        <?php echo $this->formRow($form_phone->get('country_code[]')); ?>
    </div>

</div>

<div class="form-sep">
    <div class="col-left">
        <label><strong>* </strong><?php echo $translator['AREA_CODE']; ?></label>    
        <?php echo $this->formRow($form_phone->get('area_code[]')); ?>
    </div>
    <div class="col-right">
        <label>
<strong>* </strong>
<?php echo $translator['PHONE_NUMBER']; ?></label>    
        <?php echo $this->formRow($form_phone->get('phone_no[]')); ?>
    </div>
</div>

<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['EXTENSION']; ?></label>
        <?php echo $this->formRow($form_phone->get('extension[]')); ?>
    </div>
    <div class="col-right">
        <label>Primary</label>
        <?php echo $this->formRow($form_phone->get('is_primary')); ?>
    </div>    
</div>

<?php echo $this->formRow($form_phone->get('submitbutton')); ?>
    <?php echo $this->formRow($form_phone->get('cancel')); ?>
<?php
echo $this->form()->closeTag();
?>