<?php
/**
 * This file is used to get education form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter = $counter;
var container = $container;
$(function(){
        $("select").select2();
        
        $(".company_name_auto_search").autocomplete({
            afterAdd : true,
            selectFirst:true,
            autoFocus: true,
        
            source: function(request, response) {
                $.ajax({
                    url: "/get-company",
                    method: 'POST',
                    dataType: "json",
                    data: {
                        company_name: $("#comp_name"+counter).val()
                    },
                    success: function( jsonResult ) {
                        var resultset = [];
                        $.each(jsonResult, function() {
                            var id = this.company_id;
                            var value = this.company_name;
                            resultset.push({
                                id:this.company_id,
                                value: this.company_name
                            });
                        });
                        response(resultset);
                    }
                });            
            },
            open: function() {
                $('.ui-menu').width(350)
            },
            
            change: function(event, ui) {
                if(ui.item)
                {
                    $("#comp_name"+counter).val(ui.item.value);
                    $("#company_id"+counter).val(ui.item.id);      
                }
            },
            focus: function(event, ui) {
                $("#company_id"+counter).val(ui.item.id);
                return false;
            },
            select: function(event, ui) { 
                $("#comp_name"+counter).val(ui.item.value);
                $("#company_id"+counter).val(ui.item.id);                
                return false;
            }   
        });
    
        $( "#period_from"+counter ).datepicker({
            changeMonth: true,
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#period_to"+counter ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#period_to"+counter ).datepicker({
            changeMonth: true,
            changeYear: true,
            onClose: function( selectedDate ) {
                $( "#period_from"+counter ).datepicker( "option", "maxDate", selectedDate );
            }
        });
    });
EOD;

echo $this->inlineScript()->appendScript($var)
						  ->appendScript($script);
$jobHistoryForm->prepare();
?>
<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_COMPANY_NAME']; ?></label>
        <?php
        echo $this->formRow($jobHistoryForm->get('company_id[]'));
        echo $this->formRow($jobHistoryForm->get('comp_name[]'));
        ?>
    </div>
    <div class="col-right">
        <label><?php echo $translator['L_JOB_TITLE']; ?></label>
        <?php echo $this->formRow($jobHistoryForm->get('job_title[]')); ?>        
    </div>
</div>

<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_FROM']; ?></label>
        <?php echo $this->formRow($jobHistoryForm->get('period_from[]')); ?>
    </div>
    <div class="col-right">
        <label><?php echo $translator['L_TO']; ?></label>
        <?php echo $this->formRow($jobHistoryForm->get('period_to[]')); ?>
    </div>
</div>

<div class="form-sep">
    <div class="col-left">
        <label><?php echo $translator['L_INDUSTRY']; ?></label>
        <div class='type-select'>
            <?php echo $this->formRow($jobHistoryForm->get('industry[]')); ?>
        </div>
    </div>
    <div class="col-right">
        <div id="job_addMinus<?php echo $params['counter'] ?>" class="addMinus">
            <label>&nbsp;</label>
            <input type="button" value="-" class="button green minus-field" onclick=remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>','<?php echo $params['counter']; ?>')>
            <input type="button" value="+" class="button green add-field" id="add_new_job">
        </div>
    </div>
</div>