<?php
/**
 * This file is used for signup user form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/contactus.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="inner-popup-detail signus-detail contactUseForm">
    <h1>Contact Us</h1>
        <div class="contact-use-case">
		   <h4>Known Issues:</h4>
		   <p>We are aware of some common issues, is it one of the below?</p>
		   <p><strong>1. Unable to login</strong>&nbsp; <a href="javascript:parent.location.href = '/beta#returning';">CLICK HERE &gt;</a></p>
		   <p><strong>2. Missing Saved Searches</strong>&nbsp;  <a href="javascript:parent.location.href = '/beta#saved_searches';">CLICK HERE &gt;</a></p>
		   <p><strong>3. Can't Find a Particular Person</strong>&nbsp; <a href="javascript:parent.location.href = '/about-passenger-search';">CLICK HERE &gt;</a></p>
	    </div>    
	    <div class="contact-use-case">
            <h4>Otherwise:</h4>
        </div>
    <div id="contentid">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('csrf'));
        ?> 
        <div class="content">
            <div id="message">
                We recommend you using our case system to keep track of your tickets, but if you are having a problem signing up, then you can use the form below.
            </div>
            <div class="form-sep">
                <div id="error-msg" class="error-msg" style="display:none;">
                    Email <strong><span id="emailidmsg"></span></strong> has already registered.<br/>
                    If you reset your password, please click on <a onclick="forgotPopup();" href="javascript:void(0);">Reset Password?</a> to know your password.
                </div>
                <div id="success-msg" class="success-msg" style="display:none;">
                    <strong>You have successfully opened a case ticket.</strong>
                </div>
            </div>
            <div class="form-sep">
                <div class="col8">
                    <label><?php echo $translator['L_FIRST_NAME']; ?>:<span>*</span></label>
                    <?php echo $this->formRow($form->get('first_name')); ?>
                </div>
				 <div class="col8 omega">
                    <label><?php echo $translator['L_LAST_NAME']; ?>:<span>*</span></label>
                    <?php echo $this->formRow($form->get('last_name')); ?>
                </div>
            </div>
            <div class="form-sep">
                <div class="col8">
                    <label>Category:<span>*</span></label>
                    <?php echo $this->formRow($form->get('case_type')); ?>
                </div>
				 <div class="col8 omega">
                    <label><?php echo $translator['L_EMAIL']; ?>:<span>*</span></label>
                    <?php echo $this->formRow($form->get('email_id')); ?>
                    <span id="email_exits_red"  class="error-icon m-t-icon" style="display:none;"></span>
                    <span id="email_exits_green" class="success-icon m-t-icon" style="display:none;"></span>
                </div>
            </div>
            <div class="form-sep">
                <div class="col8">
                    <label>Phone:</label>
                    <?php echo $this->formRow($form->get('phone')); ?>
                </div>
				<div class="col8 omega">
                    <label>Please describe:<span>*</span></label>
                    <?php echo $this->formRow($form->get('description')); ?>
                    <div class="count-textarea"><span id="description_count">0</span> to 1000</div>
                </div>
            </div>

            <div class="form-sep captcha-row">
                <div class="col8">
                    <?php echo $this->formRow($form->get('captcha')); ?>
                    <?php echo $this->formRow($form->get('csrf')); ?>
                    <a href="javascript:void(0);" onclick="refreshCaptcha();">                    
                        <img alt="Refresh Captcha" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/refresh.png">
                    </a>
                </div>
             <div class="col8 omega">
			 <p>&nbsp;</p>
                <?php echo $this->formRow($form->get('submit')); ?>
            </div>
            </div>
        </div>

     </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>
</div>