<?php
/**
 * This file is used for digital ceritificate
 * @package    User
 * @author     Icreon Tech - DG
 */
 
 $translator = $jsLangTranslate;
?>
<div class="common-detail-section">
    <div class="top-detail">
        <h1>Visitation Certificate</h1>
    </div>
    
            <?php //asd($visitationArray);
            if(!empty($visitationArray) && count($visitationArray)>0) {
            ?>
            <div class="box">
            <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
				<th>Name</th>
				<th>Visitation Date</th>
				<th>Certificate</th>
			</tr>
			<?php
				
				foreach($visitationArray as $key=>$val) {
				
					$certificateFileNamePath = '';
					if(!empty($val['certificate_file_name']))	
						$certificateFileNamePath = '<a href='.SITE_URL.'/ellisisland/'.$val['certificate_file_name'].' target="_blank">'.$val['certificate_file_name'].'</a>';
				
					?>
					<tr id="my_fh_159">
						<td><?php 
						echo trim($val['first_name'].' '.$val['last_name'])?></td><td><?php echo date("m/d/Y",strtotime($this->Dateformatalpha($val['created_at'],'dateformatampm'))); ?></td><td><?php echo $certificateFileNamePath ?></td>
					</tr>
			<?php
					}?>
					 </tbody>
                </table>
            </div>
            <?php
				}
				else {
					echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
				}
			?>
        
</div>