<?php
/**
 * This file is used for update user password
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
    $(function() {
        $.validator.addMethod("password",function(value,element)
        {
            return this.optional(element) || /^(?=.*\d)(?=.*[a-z]).{6,25}$/i.test(value);
        },INVALID_PASSWORD_CRITERIA);
    
        $("#edituserpassword").validate({
            submitHandler: function() {
                var dataStr = $('#edituserpassword').serialize();                    
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: '/edit-user-password/'+$("#contact_id").val(),
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            parent.$("#tab-1").click();
                            parent.jQuery.colorbox.close();
                            //parent.location.hash = "#topOfProfilePage";
                        }else{
                            $.each(jsonObj.message, function (i, msg) {
                                $("#"+i).after('<label class="error" style="display:block;">'+msg+'</label>');                                    
                            });
                        }
                    }
                });
            },
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength :25
                },
                password_conf: {
                    required: true,
                    equalTo: "#edituserpassword #password"
                },
                security_answer: {
                    required: function (){
                        if('<?php echo trim($securityQuestion)?>' == '')
                            return false;
                        else
                            return true;    
                    }
                }
            },
            messages: {
                password: {
                    required: EMPTY_PASSWORD
                },
                password_conf: {
                    required: EMPTY_CONFIRM_PASSWORD
                },
                security_answer: {
                    required: EMPTY_SECURITY_ANSWER
                }
            }
        });
    });
</script>

<div class="inner-popup-detail login-detail">
    <h1><?php echo $translator['PLEASE_ENTER_PASSWORD']; ?></h1>
    <div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('contact_id'));
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="form-sep">
            <div class="col7">
                <label><span>*</span><?php echo $translator['L_PASSWORD']; ?></label>
                <?php echo $this->formRow($form->get('password')); ?>
            </div>
            <div class="col7 float-right">
                <label><span>*</span><?php echo $translator['L_CONFIRM_PASSWORD']; ?></label>
                <?php echo $this->formRow($form->get('password_conf')); ?>
            </div>
        </div>
        
        <?php 
			if(trim($securityQuestion)!=''){
		?>
        <div class="form-sep">             
            <h3><span class="red">*</span><?php echo $translator['L_SECURITY_QUESTION_CONFIRM']; ?></h3>           
        </div>        
        <div class="form-sep">
            <div class="col7">
                <label><?php echo $securityQuestion; ?></label>
                <?php echo $this->formRow($form->get('security_answer')); ?>
            </div>            
        </div>
        <?php
        }
        ?>
        <div class="form-sep">            
            <?php echo $this->formRow($form->get('submit')); ?>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>