<?php
/**
 * This file is used for update user password
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
    $(function() {
        $("#editusersecurityquestion").validate({
            submitHandler: function() {
                var dataStr = $('#editusersecurityquestion').serialize();                    
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: '/edit-security-question/'+$("#contact_id").val(),
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            parent.$("#tab-1").click();
                            parent.jQuery.colorbox.close();
                            //parent.$("#tab-1").click();
                            //parent.location.hash = "#topOfProfilePage";
                        }else{
                            $.each(jsonObj.message, function (i, msg) {
                                $("#"+i).after('<label class="error" style="display:block;">'+msg+'</label>');                                    
                            });
                        }
                    }
                });
            },
            rules: {
                security_question: {
                    required: true
                },
                security_answer: {
                    required: true
                },
                password: {
                    required: true
                },
                confirm_security_answer: {
                    required: function (){
                        if('<?php echo trim($securityQuestion)?>' == '')
                            return false;
                        else
                            return true;    
                    }
                }
            },
            messages: {
                security_question: {
                    required: EMPTY_SECURITY_QUESTION
                },
                security_answer: {
                    required: EMPTY_SECURITY_ANSWER
                },
                password: {
                    required: EMPTY_PASSWORD
                },
                confirm_security_answer: {
                    required: EMPTY_CONFIRM_SECURITY_ANSWER
                }
            }
        });
    });
</script>

<div class="inner-popup-detail login-detail">
    <h1><?php echo $translator['EMPTY_SECURITY_QUESTION']; ?></h1>
    <div>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('contact_id'));
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="form-sep">
            <div class="col7">
                <label><span>*</span><?php echo $translator['L_NEW_SECURITY_QUESTION']; ?></label>
                <?php echo $this->formRow($form->get('security_question')); ?>
            </div>
            <div class="col7 omega">
                <label><span>*</span><?php echo $translator['L_SECURITY_ANSWER']; ?></label>
                <?php echo $this->formRow($form->get('security_answer')); ?>
            </div>
        </div>
		<div class="form-sep">
			<label>
				<strong>
					<?php 
					if(trim($securityQuestion)!=''){
						echo $translator['L_CONFIRM_SECURITY_ANSWER'];
					}else{
						echo $translator['L_CONFIRM_PASSWORD_PROCEED'];
					}
					?>
				</strong>
			</label>       
		</div> 
        <div class="form-sep">
            <?php
                $omega = '';
                if(trim($securityQuestion)!='')
                {
                    $omega = 'omega';
            ?>
            <div class="col7">
                <label><span>*</span><?php echo $securityQuestion; ?></label>
                <?php echo $this->formRow($form->get('confirm_security_answer')); ?>
            </div>
            <?php
                }
            ?>
            <div class="col7 <?php echo $omega;?>">
                <label><span>*</span><?php echo $translator['L_CURRENT_PASSWORD']; ?></label>
                <?php echo $this->formRow($form->get('password')); ?>
            </div>
        </div>
        <div class="form-sep">            
            <?php echo $this->formRow($form->get('submit')); ?>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>