<?php
/**
 * This file is used for update user email
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
    $(function() {
        $("#edituseremailinfo").validate({
            submitHandler: function() {
                var dataStr = $('#edituseremailinfo').serialize();                    
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: '/edit-email-info/'+$("#contact_id").val(),
                    data: dataStr,
                    dataType: "html",
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            parent.$("#tab-1").click();
                            parent.jQuery.colorbox.close();
                            //parent.location.hash = "#topOfProfilePage";
                        }else if (jsonObj.status =='error' && jsonObj.result){
                            $("#email_id").after('<label class="error" style="display:block;">'+jsonObj.message+'</label>');
                        }else{
                            $.each(jsonObj.message, function (i, msg) {
                                $("#"+i).after('<label class="error" style="display:block;">'+msg+'</label>');                                    
                            });
                        }
                    }
                });
            },
            rules: {
                email_id: {
                    email : true,
                    required: true
                },
                email_id_conf: {
                    required: true,
                    equalTo: "#edituseremailinfo #email_id"
                },
                password: {
                    required: true
                },
                confirm_security_answer: {
                    required: function (){
                        if('<?php echo trim($securityQuestion)?>' == '')
                            return false;
                        else
                            return true;    
                    }
                }
            },
            messages: {
                email_id: {
                    email : INVALID_EMAIL,
                    required: EMPTY_EMAIL
                },
                email_id_conf: {
                    required: EMPTY_CONFIRM_EMAIL,
                    equalTo: CONFIRM_EMAIL_ID_NOT_MATCH
                },
                password: {
                    required: EMPTY_PASSWORD
                },
                confirm_security_answer: {
                    required: EMPTY_SECURITY_ANSWER
                }
            }
        });
    });
</script>

<div class="inner-popup-detail login-detail">
    <h1><?php echo $translator['H_CHANGE_EMAIL']; ?></h1>
    <div>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('contact_id'));
        echo $this->formRow($form->get('csrf'));
        ?>
        <div class="form-sep">
            <div class="col7">
                <label><span>*</span><?php echo $translator['L_EMAIL']; ?></label>
                <?php echo $this->formRow($form->get('email_id')); ?>
            </div>
            <div class="col7 omega">
                <label><span>*</span><?php echo $translator['L_CONFIRM_EMAIL']; ?></label>
                <?php echo $this->formRow($form->get('email_id_conf')); ?>
            </div>
        </div>

        <?php if (isset($username) != '') {
            ?>
            <div class="form-sep">
                <div class="col7">
                    <label><span>*</span><?php echo $translator['L_USERNAME']; ?></label>
                    <?php echo $this->formRow($form->get('username')); ?>
                </div>
            </div>
            <?php
        }
        ?>

        <?php
            if(trim($securityQuestion)!='')
            {
        ?>        
		        <div class="form-sep">
		            <h3><?php echo $translator['L_CONFIRM_SECURITY_ANSWER']; ?>:<span class="red">*</span></h3>
		        </div>
            <?php
            }
            ?>                        
        <div class="form-sep">
            <?php
                $omega = '';
                if(trim($securityQuestion)!='')
                {
                    $omega = 'omega';
            ?>        
            <div class="col7">
                <label><?php echo $securityQuestion; ?></label>
                <?php echo $this->formRow($form->get('confirm_security_answer')); ?>
            </div>
            <?php
                }
            ?>            
            <div class="col7 <?php echo $omega;?>">
                <label><span>*</span><?php echo $translator['L_CURRENT_PASSWORD']; ?></label>
                <?php echo $this->formRow($form->get('password')); ?>
            </div>
        </div>
        <div class="form-sep">            
            <?php echo $this->formRow($form->get('submit')); ?>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>