<?php
/**
 * This file is used for user profile data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var userType = "' . $userType . '";';
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/vendor/jquery.ui.widget.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/tmpl.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/load-image.min.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/fileUpload/jquery.iframe-transport.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jquery.fileupload.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.edit-basic-info.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="myfile-basic-information">
 <h2><?php echo $translator['H_BASIC_INFORMATION']; ?></h2>

 <div  id='success_message' class="full" style="display:none;">
     <div class='success_message'></div>
 </div>
<!--<div class="full">-->
  <?php //if (isset($flashMessages) && !empty($flashMessages)) { echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div><br>"; } ?>
<!--</div>-->
 <input type="hidden" id="jsSecurityQuestion" name="jsSecurityQuestion" value="<?php if(isset($securityQuestion) and trim($securityQuestion) != '') { echo trim($securityQuestion);  } else { echo ''; } ?>" />
        <?php
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('contact_id'));
    echo $this->formRow($form->get('upload_profile_image_id'));
    echo $this->formRow($form->get('csrf'));
    echo $this->formRow($form->get('submitbutton6'));
    ?>
        <div class="left-side">
		 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
            <div class="profile-img">
                   <?php
                   $photo_exists_edit_basicinfo = "";
                   if ($profileImage != '') {
                       $fileName = $uploadedFilePath . "" . $profileImage;
                       $filePath = $assetsUploadDir . "" . $profileImage;
                       if (file_exists($filePath)) {
                           echo '<img id="imageFileName" src="' . $fileName . '">';
                           $photo_exists_edit_basicinfo = "1";
                       } else {
                           echo '<img id="imageFileName" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/foundation/edit-profile.png" id="prof_file">';
                           $photo_exists_edit_basicinfo = "2";
                       }
                   } else {
                       echo '<img id="imageFileName" alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/foundation/edit-profile.png" id="prof_file">';
                        $photo_exists_edit_basicinfo = "2";
                   }
                   ?>
                
                  <span class="change-photo"><a id="upload_profile_image_link"><?php if($photo_exists_edit_basicinfo == "" or $photo_exists_edit_basicinfo == "1") { echo 'Change Photo'; } else { echo 'Upload Photo'; } ?></a></span>
             </div>
    
                <span style="display: none;"><?php echo $this->formRow($form->get('upload_profile_image')); ?></span>    
                <div class="close-jpg"><span id="viewProfileImageName">
                    <?php 
                      if(isset($profileImage) and trim($profileImage) != "") { 
                           $profileImage = explode(".",$profileImage);                            
                           echo substr($profileImage[0], 0,11).".".$profileImage[1];
                      } 
                      else { echo $profileImage; } 
                     ?>
                    </span><a id="remove_profile_image" <?php if ($profileImage == '') { ?> style="display:none;" <?php } ?>  class="close"></a></div>
                <div class="size">(Max image size 2 MB)</div>
                <div id="filemessage"></div>
        </div>
        <div class="right-side">
            <?php
            if ($userType == 1) {
                ?>	
              <div class="row">
			  <div class="inner-row">
		<label>Name:</label>
		<strong class="name" id="viewInfoName">
                    <?php 
                        $fullName = '';
                        if(isset($userDetail['title']) and trim($userDetail['title']) != "") { $fullName .= $userDetail['title'].' '; }
                        if(isset($userDetail['first_name']) and trim($userDetail['first_name']) != "") { $fullName .= $userDetail['first_name'].' '; }
                        if(isset($userDetail['middle_name']) and trim($userDetail['middle_name']) != "") { $fullName .= $userDetail['middle_name'].' '; }
                        if(isset($userDetail['last_name']) and trim($userDetail['last_name']) != "") { $fullName .= $userDetail['last_name'].' '; }
                        echo $fullName; 
                     ?>
                </strong>
		<a class="edit mar-top-5 editprofile">Edit</a>
		</div>
                <div class="field-detail" style="display: none;">
						 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
				   <div class="full-row">
                        <div class="col">
                                    <label><?php echo $translator['L_TITLE']; ?></label>
                                    <div class="myFile width-100"><?php echo $this->formRow($form->get('title')); ?></div>
                            </div>
							</div>
							<div class="full-row">
                            <div class="col">
                                    <label><span>* </span><?php echo $translator['L_FIRST_NAME']; ?></label>
                                    <?php echo $this->formRow($form->get('first_name')); ?>
                            </div>
                            <div class="col">
                                    <label><strong></strong><?php echo $translator['L_MIDDLE_IN']; ?></label>
                                    <?php echo $this->formRow($form->get('middle_name')); ?>
                            </div>
                            <div class="col m-none right">
                                    <label><span>* </span><?php echo $translator['L_LAST_NAME']; ?></label>
                                    <?php echo $this->formRow($form->get('last_name')); ?>
                            </div>
                    </div>

                    <div class="right">
                            <?php echo $this->formRow($form->get('submitbutton1')); ?>
                            <?php echo $this->formRow($form->get('cancel2')); ?>
                    </div>
                </div>
            </div>
            
            <?php } else { ?>

             <div class="row">
			  <div class="inner-row">
                     <label><?php echo $translator['L_COMPANY_NAME']; ?></label>
                     <strong class="name" id="viewCompanyName">
                         <?php if(isset($userDetail['company_name']) and trim($userDetail['company_name']) != "") { echo trim($userDetail['company_name']); } else { echo "&nbsp;"; } ?>
                     </strong>
                     <a class="edit mar-top-5 editprofile" >Edit</a>
					 </div>
                     <div class="field-detail" style="display: none;">
						 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
					   <div class="full-row">
                             <div class="col">
                                         <label><span>* </span><?php echo $translator['L_COMPANY_NAME']; ?></label>
                                         <?php echo $this->formRow($form->get('corporate_company_name')); ?>
                                 </div>
                         </div>

                         <div class="right">
                             <?php echo $this->formRow($form->get('submitbutton2')); ?>
                             <?php echo $this->formRow($form->get('cancel2')); ?>
                         </div>
                     </div>
                 </div>

               <div class="row">
			    <div class="inner-row">
                     <label><?php echo $translator['L_LEGAL_NAME']; ?></label>
                     <strong id="viewLegalName">
                         <?php if(isset($userDetail['legal_name']) and trim($userDetail['legal_name']) != "") { echo trim($userDetail['legal_name']); } else { echo "&nbsp;"; } ?>
                     </strong>
                     <a class="edit mar-top-5 editprofile" >Edit</a>
					 </div>
                     <div class="field-detail" style="display: none;">
 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>                       
					   <div class="full-row">
                                <div class="col">
                                        <label><span>* </span><?php echo $translator['L_LEGAL_NAME']; ?></label>
                                        <?php echo $this->formRow($form->get('corporate_legal_name')); ?>
                                </div>
                         </div>

                         <div class="right">
                             <?php echo $this->formRow($form->get('submitbutton3')); ?>
                             <?php echo $this->formRow($form->get('cancel2')); ?>
                         </div>
                     </div>
                 </div>

                <div class="row">
				 <div class="inner-row">
                     <label><?php echo $translator['L_SIC_CODE']; ?></label>
                     <strong id="viewSicCode">
                         <?php if(isset($userDetail['sic_code']) and trim($userDetail['sic_code']) != "") { echo trim($userDetail['sic_code']); } else { echo "&nbsp;"; } ?>
                     </strong>
                     <a class="edit mar-top-5 editprofile" >Edit</a>
					 </div>
                     <div class="field-detail" style="display: none;">
                          <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
						 <div class="full-row">
                                 <div class="col">
                                         <label><?php echo $translator['L_SIC_CODE']; ?></label>
                                         <?php echo $this->formRow($form->get('corporate_sic_code')); ?>
                                 </div>
                         </div>

                         <div class="right">
                             <?php echo $this->formRow($form->get('submitbutton4')); ?>
                             <?php echo $this->formRow($form->get('cancel2')); ?>
                         </div>
                     </div>
                 </div>

            <?php }  ?>

 

 <?php echo $this->form()->closeTag(); ?>
            
            
    <div class="row" id="fieldDetailEdituserpassword">
	 <div class="inner-row">
        <label><?php echo $translator['L_HEADING_UPDATE_PASSWORD']; ?></label>
        <strong>******</strong>
        <a class="edit mar-top-5 editprofile">Edit</a>
		</div>
        <div class="field-detail" style="display:none;">
		 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
            <?php
              $formUserPassword = $this->formUserPassword;
              $formUserPassword->prepare();
              echo $this->form()->openTag($formUserPassword);
              echo $this->formRow($formUserPassword->get('contact_id'));
              echo $this->formRow($formUserPassword->get('csrf'));
              ?>
                <div class="full-row">
                    <div class="full">
                          <label><span>*</span><?php echo $translator['L_PASSWORD']; ?></label>
                          <?php echo $this->formRow($formUserPassword->get('password')); ?>
                          <!-- tooltip - start -->
                          <div class="help">
                            <div class="help-tooltip">
                                <ul>
                                    <li>Password must contain at least 1 alphabet and 1 number.</li>
                                    <li>Password must be at least 6 characters long.</li>
                                </ul>   
                                <span class="arrow"></span>
                                <a href="#" class="close"></a>
                            </div>
                           </div>
                          <!-- tooltip - end -->
                      </div>
                      <div class="full">
                          <label><span>*</span><?php echo $translator['L_CONFIRM_PASSWORD']; ?></label>
                          <?php echo $this->formRow($formUserPassword->get('password_conf')); ?>
                      </div>
                </div>

                 <?php // if(trim($securityQuestion)!='') { ?>
                     <strong <?php  if(trim($securityQuestion)!='') { echo "style='display:block;'"; } else { echo "style='display:none;'"; } ?> class="displayTextSecurityQuestion"><span class="red">*</span><?php echo $translator['L_SECURITY_QUESTION_CONFIRM']; ?></strong> 
                     <div <?php  if(trim($securityQuestion)!='') { echo "style='display:block;'"; } else { echo "style='display:none;'"; } ?> class="full-row displayTextSecurityQuestion"> 
                        <label class="textSecurityQuestion"><?php echo $securityQuestion; ?></label>
                        <?php echo $this->formRow($formUserPassword->get('security_answer')); ?>
                    </div>
                  <?php //} ?>

                    <div class="right">
                        <?php echo $this->formRow($formUserPassword->get('submit')); ?>
                        <?php echo $this->formRow($form->get('cancel2')); ?>
                    </div>
                    <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
            
            
            <div class="row" id="fieldDetailEdituseremailinfo" >
			 <div class="inner-row">
		<label><?php echo $translator['L_EMAIL']; ?><?php echo $this->formRow($form->get('email_id')); ?><?php echo $this->formRow($form->get('conf_email_id')); ?></label>
		<strong>
		    <?php echo $userDetail['email_id']; ?>
		</strong>
		<a class="edit mar-top-5 editprofile" >Edit</a>
		</div>
                <div class="field-detail" style="display:none;">
				 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
			 <?php
                                $formEmailInfo = $this->formEmailInfo;
				$formEmailInfo->prepare();
				echo $this->form()->openTag($formEmailInfo);
				echo $this->formRow($formEmailInfo->get('contact_id'));
				echo $this->formRow($formEmailInfo->get('csrf'));
			 ?>
                           <div class="full-row">
                                <div class="col">
                                    <label><span>*</span><?php echo $translator['L_EMAIL']; ?></label>
                                    <?php echo $this->formRow($formEmailInfo->get('email_id')); ?>
                                </div>
                                <div class="col">
                                    <label><span>*</span><?php echo $translator['L_CONFIRM_EMAIL']; ?></label>
                                    <?php echo $this->formRow($formEmailInfo->get('email_id_conf')); ?>
                                </div>
                           
				
                            <?php if (isset($username) != '') {  ?>
                               
                                    <div class="col m-none right">
                                        <label><span>*</span><?php echo $translator['L_USERNAME']; ?></label>
                                        <?php echo $this->formRow($formEmailInfo->get('username')); ?>
                                    </div>
                                
                             <?php } ?>
						</div>
			   
                            <?php  //if(trim($securityQuestion)!='') {  ?>
                                <div <?php  if(trim($securityQuestion)!='') { echo "style='display:block;'"; } else { echo "style='display:none;'"; } ?>  class="full-row displayTextSecurityQuestion">
                                        <strong><span class="red">*</span><?php echo $translator['L_CONFIRM_SECURITY_ANSWER']; ?>:</strong>
                                </div>
                            <?php //} ?>
			   
			   
                            <div class="full-row"> 
                                 <?php $omega = ''; if(trim($securityQuestion)!='') { $omega = 'omega'; } ?>  
                                     <div <?php  if(trim($securityQuestion)!='') { echo "style='display:block;'"; } else { echo "style='display:none;'"; } ?> class="col2 displayTextSecurityQuestion">
                                         <label class="textSecurityQuestion"><?php echo $securityQuestion; ?></label>
                                         <?php echo $this->formRow($formEmailInfo->get('confirm_security_answer')); ?>
                                     </div>
                                <?php //} ?> 
                                 </div>
                                 <div class="full-row"> 
                                     <div class="col2">
                                         <label><span>*</span><?php echo $translator['L_CURRENT_PASSWORD']; ?></label>
                                         <?php echo $this->formRow($formEmailInfo->get('password')); ?>
                                     </div>
                              </div>
				
				<div class="right">
                                    <?php echo $this->formRow($formEmailInfo->get('submit')); ?>
                                    <?php echo $this->formRow($form->get('cancel2')); ?>
				</div>
			       <?php echo $this->form()->closeTag(); ?>
                      </div>
               </div>
             
           
<div class="row"  id="fieldDetailEditusersecurityquestion">
 <div class="inner-row">
 <div class="full m-b-20">
    <label><?php echo $translator['L_SECURITY_QUE']; ?></label>
    <strong id="viewSecurityQuestion"><?php echo stripslashes($userDetail['security_question']); ?></strong>
	<a class="edit mar-top-5 editprofile" >Edit</a>
	</div>
	<label><?php echo $translator['L_SECURITY_ANS']; ?></label>
    <strong id="viewSecurityQuestionAns"><?php echo stripslashes($userDetail['security_answer']); ?></strong>
    
    
	</div>
        <div class="field-detail" style="display:none;">
		 <div class="main-loader-editinfo"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" class="ajx_loader_edit_info_image"/></div>
	<?php
        $formQuestion = $this->formQuestion;
        $formQuestion->prepare();
        echo $this->form()->openTag($formQuestion);
        echo $this->formRow($formQuestion->get('contact_id'));
        echo $this->formRow($formQuestion->get('csrf'));
        ?>
                <div class="full-row">
                    <div class="full">
                        <label><span>*</span><?php echo $translator['L_NEW_SECURITY_QUESTION']; ?></label>
                        <div class="myFile width-220"><?php echo $this->formRow($formQuestion->get('security_question')); ?></div>
                    </div>
                    <div class="full">
                        <label><span>*</span><?php echo $translator['L_SECURITY_ANSWER']; ?></label>
                        <?php echo $this->formRow($formQuestion->get('security_answer')); ?>
                    </div>
                </div>

                <div class="full-row">
                    <div class="full">
                       <strong id="secFormSecurityQuestionHeading"><?php if(trim($securityQuestion)!=''){ echo $translator['L_CONFIRM_SECURITY_ANSWER']; } else { echo $translator['L_CONFIRM_PASSWORD_PROCEED']; } ?></strong>
                    </div>
                </div>

                <div class="full-row"> 
                    <?php $omega = ''; if(trim($securityQuestion)!='') { $omega = 'omega'; } ?>
                        <div <?php  if(trim($securityQuestion)!='') { echo "style='display:block;'"; } else { echo "style='display:none;'"; } ?> class="full displayTextSecurityQuestion">
                          <label><span>*</span><strong class="textSecurityQuestion"><?php echo $securityQuestion; ?></strong></label>
                           <?php echo $this->formRow($formQuestion->get('confirm_security_answer')); ?>
                       </div>
                   <?php //} ?> 
                    <div class="full">
                       <label><span>*</span><?php echo $translator['L_CURRENT_PASSWORD']; ?></label>
                       <?php echo $this->formRow($formQuestion->get('password')); ?>
                    </div>
                </div>

                <div class="right">
                    <?php echo $this->formRow($formQuestion->get('submit')); ?>
                    <?php echo $this->formRow($form->get('cancel2')); ?>
                </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>

        </div>
      
</div>