<?php
/**
 * This file is used for user contact data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.edit-credit-info.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="edit-inner-padd">
<div class="common-detail-section">
    <h1><?php echo $translator['H_CREDIT_CARD_TOKEN']; ?></h1>
    <?php
    if (isset($flashMessages) && !empty($flashMessages)) {
        echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div><br>";
    }
    ?>    
    <p><?php echo $translator['H_CREDIT_CARD_DESC']; ?></p>
    <div class="top-detail">
        <h3><?php echo $translator['L_TOKEN_ON_FILE']; ?></h3>
        <input type="button" class="button right" value="<?php echo $translator['L_ADD_NEW_TOKEN']; ?>" onclick="addNewToken('<?php echo SITE_URL_HTTPS?>');">
    </div>
    <?php
    if (isset($userTokenInfo) && !empty($userTokenInfo)) {
      
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody><tr>
                            <!--<th width="29%"><?php //echo $translator['L_CARD_NAMEON_CARD']; ?></th>-->
                            <th width="29%"><?php echo $translator['L_CARD_NO']; ?></th>
                            <th width="59%"><?php echo $translator['L_EXPIRY_DATE']; ?></th>
                            <th width="12%">&nbsp;</th>
                        </tr>
                        <?php   foreach ($userTokenInfo as $val) { ?>
                        <tr>
                            <!--<td>
                                <?php //echo (isset($val['full_name']) and trim($val['full_name']) != "") ? ucwords($val['full_name']) : "N/A"; ?>
                            </td>-->
                            <td>
                                <?php echo $val['card_number']; ?>
                            </td>
                            <td>
                                <?php echo $val['expiry_date']; ?>
                            </td>
                            <td>
                                <span class="right">
                                    <a href="javascript:void(0);" onclick="deleteTokenInfo('<?php echo $this->Encrypt($val['payment_profile_id']); ?>','<?php echo $this->Encrypt($val['profile_id']); ?>');"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/my-delete.png"></a>
                                </span>
                            </td>
                        </tr>
                        <?php    }  ?>
                    </tbody></table>
            </div>
            <?php
     
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD'] . '</div>';
    }
    ?>

    <div class="form-section" id="add_token_info_div"></div>


</div>
</div>
<div style='display:none'>
    <div id='delete_token_info' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['DELETE']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_token" class="button semibold">
            <input type="button" value="No" name="no" id="no_delete_token" class="button green semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_address_info' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['DELETE']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_address" class="button semibold">
            <input type="button" value="No" name="no" id="no_delete_address" class="button green semibold">
        </div>
    </div>
</div>