<?php
/**
 * This file is used for conatct demographics form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.demographic.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script>
    $(function() {
        $("select").select2();
    });
</script>
<?php
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('user_id'));
?>
<div class="edit-inner-padd">
<div class="common-detail-section">
    <h1><?php echo $translator['H_DEMOGRAPHICS']; ?></h1>
    <div class="form-section">        
        <?php
        if (isset($flashMessages) && !empty($flashMessages)) {
            echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div>";
        }
        ?>

        <div class="form-sep">
            <div class="col-left">
                <label><?php echo $translator['L_GENDER']; ?></label>
                <div class="checkbox"><?php echo $this->formRow($form->get('demographics_gender')); ?></div>
            </div>
          
<!--        </div>

        <div class="form-sep">-->
            <div class="col-left"  style="display:none;">
                <label><?php echo $translator['L_DO_U_HAVE_CHILD']; ?></label>
                <div class="checkbox"><?php echo $this->formRow($form->get('have_child')); ?></div>
            </div>
            <div class="col-right">
                <label><?php echo $translator['L_INCOME_RANGE']; ?></label>
                <div class='type-select'>
                    <?php echo $this->formRow($form->get('demographics_income_range')); ?>
                </div>
            </div>
        </div>

        <div class="form-sep">
            <div class="col-left">
                <label><?php echo $translator['L_NATIONALITY']; ?></label>
                <div class='type-select'>
                    <?php echo $this->formRow($form->get('demographics_nationality')); ?>
                </div>
            </div>
            <div class="col-right">
                <label><?php echo $translator['L_ETHNICITY']; ?></label>
                <div class='type-select'>
                    <?php echo $this->formRow($form->get('demographics_ethnicity')); ?>
                </div>
            </div>
        </div>

        <div class="form-sep">
            <div class="col-left">
                <label><?php echo $translator['L_MARITAL_STATUS']; ?></label>
                <div class='type-select'>
                    <?php echo $this->formRow($form->get('demographics_marital_status')); ?>
                </div>
            </div>
        </div>
    </div>

    <h1><?php echo $translator['H_EDUCATION']; ?></h1>
    <div class="form-section">
        <div id="load_education">
            <?php
            $i = 0;
            if (!empty($userEducation)) {
                $totalUserEdu = count($userEducation);
                foreach ($userEducation as $key => $val) {
                    if (isset($val['attended_year']) && $val['attended_year'] == '0000') {
                        $attendedYear = '';
                    } else {
                        $attendedYear = $val['attended_year'];
                    }
                    ?>
                    <div class="education_container_<?php echo $i; ?>" id="education_container_<?php echo $i; ?>">

                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_DEGREE_LAVEL']; ?></label>
                                <div class='type-select'>
                                    <?php echo $this->formRow($form->get('education')->get('edu_degree_level[]')->setValue($val['education_id'])); ?>
                                </div>
                            </div>
                            <div class="col-right">
                                <label><?php echo $translator['L_INSTITUTE']; ?></label>
                                <?php echo $this->formRow($form->get('education')->get('edu_institution[]')->setValue($val['institution'])); ?>
                            </div>
                        </div>

                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_ATTENDED_YEAR']; ?></label>
                                <?php echo $this->formRow($form->get('education')->get('edu_attended_year[]')->setValue($attendedYear)); ?>
                            </div>
                            <div class="col-right">
                                <label><?php echo $translator['L_MAJORS']; ?></label>
                                <?php echo $this->formRow($form->get('education')->get('edu_major[]')->setValue($val['majors'])); ?>
                            </div>
                        </div>
                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_GPA']; ?></label>
                                <?php echo $this->formRow($form->get('education')->get('edu_gpa[]')->setValue($val['grade_point_average'])); ?>
                            </div>
                            <div class="col-right">
                                <div class="field addMinus"><label>&nbsp;</label>
                                    <?php
                                    if ($totalUserEdu > 1) {
                                        echo '<input value="-" type="button" onclick="remove_dynamic_contacts(\'.education_container_' . $i . '\',\'' . $i . '\')" class="button green minus-field">';
                                    }
                                    if ($key == ($totalUserEdu - 1)) {
                                        echo '<input type="button" value="+" class="button green add-field" id="add_new_edu">';
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>

                    </div>
                    <?php
                    $i++;
                }
            } else {
                ?>
                <div class="education_container_0" id="education_container_0">

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_DEGREE_LAVEL']; ?></label>
                            <div class='type-select'>
                                <?php echo $this->formRow($form->get('education')->get('edu_degree_level[]')); ?>
                            </div>
                        </div>
                        <div class="col-right">
                            <label><?php echo $translator['L_INSTITUTE']; ?></label>
                            <?php echo $this->formRow($form->get('education')->get('edu_institution[]')); ?>
                        </div>
                    </div>

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_ATTENDED_YEAR']; ?></label>
                            <?php echo $this->formRow($form->get('education')->get('edu_attended_year[]')); ?>
                        </div>
                        <div class="col-right">
                            <label><?php echo $translator['L_MAJORS']; ?></label>
                            <?php echo $this->formRow($form->get('education')->get('edu_major[]')); ?>
                        </div>
                    </div>

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_GPA']; ?></label>
                            <?php echo $this->formRow($form->get('education')->get('edu_gpa[]')); ?>
                        </div>
                        <div class="col-right">
                            <label>&nbsp;</label>
                            <input type="button" value="+" class="button green add-field" id="add_new_edu">
                        </div>
                    </div>
                </div>
                <?php
                $i++;
            }
            ?>
            <div id='edu_count_div' style="display:none;"><?php echo $i; ?></div>
        </div>
    </div>

    <h1><?php echo $translator['H_JOB_HISTORY']; ?></h1>
    <div class="form-section">
        <div class="common-form" id="load_job">
            <?php
            $i = 0;
            if (!empty($getUserJobHistory)) {
                $totalUserJob = count($getUserJobHistory);
                foreach ($getUserJobHistory as $key => $val) {
                    $this->formRow($form->get('jobhistory')->get('period_from[]')->setAttribute('id', 'period_from' . $key));
                    $this->formRow($form->get('jobhistory')->get('period_to[]')->setAttribute('id', 'period_to' . $key));
                    $this->formRow($form->get('jobhistory')->get('comp_name[]')->setAttribute('id', 'comp_name' . $key));
                    $this->formRow($form->get('jobhistory')->get('company_id[]')->setAttribute('id', 'company_id' . $key));
                    echo $this->formRow($form->get('jobhistory')->get('company_id[]')->setValue($val['company_id']));
                    ?>
                    <div class="job_container_<?php echo $i; ?>" id="job_container_<?php echo $i; ?>">
                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_COMPANY_NAME']; ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('comp_name[]')->setValue($val['company_name'])); ?>
                            </div>
                            <div class="col-right">
                                <label><?php echo $translator['L_JOB_TITLE']; ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('job_title[]')->setValue($val['job_title'])); ?>
                            </div>
                        </div>

                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_FROM']; ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('period_from[]')->setValue($this->Dateformatalpha($val['period_from'], 'calender'))); ?>
                            </div>
                            <div class="col-right">
                                <label><?php echo $translator['L_TO']; ?></label>
                                <?php echo $this->formRow($form->get('jobhistory')->get('period_to[]')->setValue($this->Dateformatalpha($val['period_to'], 'calender'))); ?>
                            </div>
                        </div>

                        <div class="form-sep">
                            <div class="col-left">
                                <label><?php echo $translator['L_INDUSTRY']; ?></label>
                                <div class='type-select'>
                                    <?php echo $this->formRow($form->get('jobhistory')->get('industry[]')->setValue($val['industry_id'])); ?>
                                </div>
                            </div>
                            <div class="col-right">
                                <div class="field addMinus"><label>&nbsp;</label>
                                    <?php
                                    if ($totalUserJob > 1) {
                                        echo '<input type="button" value="-" onclick="remove_dynamic_contacts(\'.job_container_' . $i . '\',\'' . $i . '\')" class="button green minus-field">';
                                    }
                                    if ($key == ($totalUserJob - 1)) {
                                        echo '<input type="button" value="+" class="button green add-field" id="add_new_job">';
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>

                    </div>
                    <?php
                    $i++;
                }
            } else {
                ?>
                <div class="job_container_0" id="job_container_0">

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_COMPANY_NAME']; ?></label>
                            <?php
                            echo $this->formRow($form->get('jobhistory')->get('company_id[]'));
                            echo $this->formRow($form->get('jobhistory')->get('comp_name[]'));
                            ?>
                        </div>
                        <div class="col-right">
                            <label><?php echo $translator['L_JOB_TITLE']; ?></label>
                            <?php echo $this->formRow($form->get('jobhistory')->get('job_title[]')); ?>
                        </div>
                    </div>

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_FROM']; ?></label>
                            <?php echo $this->formRow($form->get('jobhistory')->get('period_from[]')); ?>
                        </div>
                        <div class="col-right">
                            <label><?php echo $translator['L_TO']; ?></label>
                            <?php echo $this->formRow($form->get('jobhistory')->get('period_to[]')); ?>
                        </div>
                    </div>

                    <div class="form-sep">
                        <div class="col-left">
                            <label><?php echo $translator['L_INDUSTRY']; ?></label>
                            <div class='type-select'>
                                <?php echo $this->formRow($form->get('jobhistory')->get('industry[]')); ?>
                            </div>
                        </div>
                        <div class="col-right">
                            <label>&nbsp;</label>
                            <input type="button" value="+" class="button green add-field" id="add_new_job">
                        </div>
                    </div>
                </div>
                <?php
                $i++;
            }
            ?>
            <div id='job_count_div' style="display:none;"><?php echo $i; ?></div>
        </div>
    </div>
     <div class="form-sep"> <?php echo $this->formRow($form->get('submitbutton')); ?></div>
</div>

</div>
<?php
echo $this->form()->closeTag();
?>