<?php
/**
 * This file is used for edit woh
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/user.woh_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="inner-popup-detail">
    <h1>
        Donated by
    </h1>
    <p>
        The donated by field will display when searching the Wall of Honor Names and also can be used to find your name you purchased. 
    </p>
    <div>
        <form name='edit_woh' id="edit_woh" method="post">
            <input type="hidden" name="woh_id" value='<?php echo $wohData[0]['woh_id']; ?>' id="woh_id">
            <div class="form-sep">
                <div class="col10">
           
                    <input type="text" name='donated_by' id='donated_by' value="<?php echo $wohData[0]['donated_by']; ?>">
                </div>
            </div>
            <div class="form-sep">
                <div class="col10">
                    <input type="button" name='cancel' class="button semibold" value="Cancel" id='cancel' onclick="parent.jQuery.colorbox.close();">
                    <input type="submit" name='update_woh' class="button green semibold" id='update_woh' value="Update">
                </div>
            </div>            
        </form>
    </div>
</div>