<?php
/**
 * This file is used for user profile data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
$var.= 'var userId = "' . $userId . '";';
$var.= 'var mode = "' . $mode . '";';

?>

<div class="inner-header">
    <h1><?php echo $translator['H_EDIT_PROFILE']; ?></h1>    
</div>
<section class="main">
    <div class="container">
        <div class="myfile-page">
            <div class="left-section">
                <div class="banner-section">
                    <div class="knob-container">
                        <div class="knob"><!--<img src="<?php //echo $this->imageFilePath; ?>/images/foundation/knob.png">--></div>
                        <div class="knob-text">
                            <h1>Profile wizard</h1>
                            <p><!--<strong>21</strong> out of 30--></p>
                            <span>You are able to edit your information.</span>
                        </div>
                    </div>
                    <a class="fileclose" href="javascript:void(0);" onclick="goToProfile();">Close</a>
                    
                </div>
                <div><a name="topOfProfilePage"></a></div>
                <div class="edit-file-filter-box">
                    <ul class="profile-wizard">                        
                        <li><a id="tab-1" onclick="getBasicInfo();" href="javascript:void(0);"><?php echo $translator['H_BASIC_INFORMATION']; ?></a></li>
                        <li><a id="tab-2" onclick="getContactInfo();" href="javascript:void(0);"><?php echo $translator['H_CONTACT_INFORMATION']; ?></a></li>
                        <li><a id="tab-3" onclick="getCreditCardInfo();" href="javascript:void(0);"><?php echo $translator['H_CREDITCARD_INFORMATION']; ?></a></li>
                        <?php
                        if ($userDetail['user_type'] == 1) {
                            ?>
                        <li><a id="tab-4" onclick="getDemoghraphicInfo();" href="javascript:void(0);"><?php echo $translator['H_DEMOGRAPHIC_INFORMATION']; ?></a></li>
                            <?php
                        }
                        ?>
                        <li><a id="tab-5" onclick="getMembershipInfo();" href="javascript:void(0);"><?php echo $translator['H_MEMBERSHIP_INFORMATION']; ?></a></li>
                        <li><a id="tab-6" onclick="getSurveyInfo();" href="javascript:void(0);"><?php echo $translator['H_SURVEY_INFORMATION']; ?></a></li>
                        <li><a id="tab-7" onclick="getPreferenceInfo();" href="javascript:void(0);"><?php echo $translator['H_PREFERENCE_INFORMATION']; ?></a></li>
						<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                        <li><a id="tab-8" onclick="getSocialInfo();" href="javascript:void(0);"><?php echo $translator['H_SOCIAL_INFORMATION']; ?></a></li>
						<?php } ?>
                    </ul>
                </div>
                <div id="edit_user_content"></div>
            </div>
            <div class="common-right-section">
                <div  id="message_center" class='message-center'>

                </div>
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                </div>
                
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(2); ?>"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<?php 
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.edit-profile.js?v='.$this->layout()->getVariable('jsVersion'))->prependScript($var);
?>