<?php
/**
 * This file is used for user contact data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.edit-contact-info.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="edit-inner-padd">
<div class="common-detail-section">
    <h1><?php echo $translator['H_CONTACT_INFO']; ?></h1>
    <?php
    if (isset($flashMessages) && !empty($flashMessages)) {
        echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div>";
    }
    ?>
    <div class="top-detail">
        <h3><?php echo $translator['L_PHONE_NUMBERS']; ?><br><em><?php //echo $translator['ONE_REQUIRED']; ?></em></h3>        
        <input type="button" class="button right" value="<?php echo $translator['ADD_PHONE_BUTTON']; ?>" onclick="addEditPhoneInfo('','addressInfo');">
    </div>

    <?php
    if (isset($userPhoneInfo) && !empty($userPhoneInfo)) {
       
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody><tr>
                            <th><?php echo $translator['TYPE']; ?></th>
                            <th><?php echo $translator['PHONE_NUMBER']; ?></th>
                            <th>&nbsp;</th>
                        </tr>
                        <?php  
                        foreach ($userPhoneInfo as $val) { 
                            
                        
                        ?>
				                        <tr>
				                            <td>
				                                <?php
				                                if (isset($val['type'])) {
				                                    echo ucfirst($val['type']);
				                                } else {
				                                    echo '&nbsp;';
				                                }
				                                ?>
				                            </td>
				                            <td>
				                                <?php
				                                $phoneNo = array();
				                                if (isset($val['country_code'])) {
				                                    $phoneNo[] = $val['country_code'];
				                                }
				                                if (isset($val['area_code'])) {
				                                    $phoneNo[] = $val['area_code'];
				                                }
				                                if (isset($val['phone_number'])) {
				                                    $phoneNo[] = $val['phone_number'];
				                                }
				                                if (isset($val['extension'])) {
				                                    $phoneNo[] = $val['extension'];
				                                }
				                                if (!empty($phoneNo))
				                                    echo implode("-", $phoneNo);
				                                if($val['is_primary'] == 1)
				                                    echo ' (Primary)';
				                                ?>
				                            </td>
				                            <td>
				                                <span class="right">
				                                    <a href="javascript:void(0);" onclick="addEditPhoneInfo('<?php echo $val['phone_contact_id']; ?>','addressInfo');"><img alt="edit" title="edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/edit-icon.png"></a>
				                                    <a href="javascript:void(0);" onclick="deletePhoneInfo('<?php echo $val['phone_contact_id']; ?>','addressInfo');"><img alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
				                                </span>
				                            </td>
				                        </tr>
                        <?php       }  ?>
                    </tbody></table>
            </div>
            <?php
  
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD'] . '</div>';
    }
    ?>

    <div class="form-section" id="phone_info_div"></div>

    <div class="top-detail">
        <h3><?php echo $translator['L_ADDRESSESS']; ?><br><em><?php //echo $translator['ONE_REQUIRED']; ?></em></h3>
        <input type="button" class="button right" value="Add Address" onclick="addEditAddressInfo();">
    </div>

    <?php
    if (isset($userAddressInfo) && !empty($userAddressInfo)) {
       
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody><tr>
                            <th><?php echo $translator['TYPE']; ?></th>
                            <th><?php echo $translator['ADDRESS']; ?></th>
                            <th>&nbsp;</th>
                        </tr>
                        <?php  foreach ($userAddressInfo as $val) { ?>
                        <tr>
                            <td>
                                <?php
                                if (isset($val['location_type'])) {
                                    echo ucfirst($val['location_type']);
                                } else {
                                    echo 'N/A';
                                }
                                ?>
                            </td>
                            <td>
                                <?php
                                $addressInfo = array();
                                
                                    $userName = trim($val['title'].' '.$val['first_name'].' '.$val['last_name']);
                                
                                if (isset($val['street_address_one']) && $val['street_address_one'] != '') {
                                    $addressInfo[] = $val['street_address_one'];
                                }
                                if (isset($val['street_address_two']) && $val['street_address_two'] != '') {
                                    $addressInfo[] = $val['street_address_two'];
                                }
                                if (isset($val['city']) && $val['city'] != '') {
                                    $addressInfo[] = $val['city'];
                                }
                                if (isset($val['state']) && $val['state'] != '') {
                                    $addressInfo[] = $val['state'];
                                }
                                if (isset($val['country_name']) && $val['country_name'] != '') {
                                    $addressInfo[] = $val['country_name'];
                                }
                                if (!empty($addressInfo)) {
                                    echo $userName.'<br>'.implode(", ", $addressInfo);
                                    if (isset($val['zip_code']) && $val['zip_code'] != '') {
                                        echo "-" . $val['zip_code'];
                                    }
                                    if (isset($val['location_name']) && $val['location_name'] != '') {
                                        $locationType = explode(",", $val['location_name']);
                                        $locName = array();
                                        if (in_array(1, $locationType)) {
                                            $locName[] = 'Primary';
                                        }
                                        if (in_array(2, $locationType)) {
                                            $locName[] = 'Billing';
                                        }
                                        if (in_array(3, $locationType)) {
                                            $locName[] = 'Shipping';
                                        }
                                        if (!empty($locName)) {
                                            echo ", (" . implode(", ", $locName) . ")";
                                        }
                                    }
                                }
                                ?>
                            </td>
                            <td>
                                <span class="wid-78">
                                    <a href="javascript:void(0);" class="left" onclick="addEditAddressInfo('<?php echo $val['address_information_id']; ?>');"><img alt="edit" title="edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/edit-icon.png"></a>
                                    <a href="javascript:void(0);" class="right" onclick="deleteAddressInfo('<?php echo $val['address_information_id']; ?>');"><img alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                                </span>
                            </td>
                        </tr>
                        <?php    }  ?>
                    </tbody></table>
            </div>
            <?php
     
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD'] . '</div>';
    }
    ?>
    <div class='form-section' id="address_info_div"></div>
</div>
</div>
<div style='display:none'>
    <div id='delete_phone_info' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['DELETE']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_phone" class="button semibold">
            <input type="button" value="No" name="no" id="no_delete_phone" class="button green semibold">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_address_info' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['DELETE']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_address" class="button semibold">
            <input type="button" value="No" name="no" id="no_delete_address" class="button green semibold">
        </div>
    </div>
</div>