<?php
/**
 * This file is used for user contact data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
    $(function() {
        $("#user_preferences").validate({
            submitHandler: function() {
                var dataStr = $('#user_preferences').serialize();
                showAjxLoader();
                $.ajax({
                    type: "POST",
                    url: '/edit-user-preferences/<?php echo $userId; ?>',
                    data: dataStr,
                    success: function(responseData){
                        hideAjxLoader();
                        var jsonObj =  jQuery.parseJSON(responseData);
                        if(jsonObj.status =='success'){
                            $("#tab-7").click();
                            location.href="#topOfProfilePage";
                        }
                    }
                });
            }
        });
    });
</script>
<div class="middle-section">
    <div style="" class="preferences-page">

        <div class="info survey preferences">
            <h2><?php echo $translator['H_PREFERENCES']; ?><a title="Close" href="javascript:void(0);" onclick="goToProfile();" class="close"></a></h2>
            <?php
            if (isset($flashMessages) && !empty($flashMessages)) {
                echo "<div class='success_message' id='success_message'>" . $flashMessages[0] . "</div>";
            }
            ?>
            <div class="field-section">
                <form action="" methos="post" id="user_preferences" name="user_preferences">
                    <div class="field-row">
                        <strong><?php echo $translator['EMAIL_CAMPAIGN_DESC']; ?></strong>
                        <p class="pre-sub-txt"><?php echo $translator['EMAIL_CAMPAIGN']; ?>:</p>
                        <span class="radio-btn"><input type="radio" id="d" name="privacy" value="2" <?php
            $privacy = explode(",", $userPreferencesInfo['privacy']);
            if (in_array(2, $privacy))
                echo 'checked';
            ?>>Yes</span>
                        <span class="radio-btn"><input type="radio" id="c" name="privacy" value="0" <?php
                                                       $privacy = explode(",", $userPreferencesInfo['privacy']);
                                                       if (!in_array(2, $privacy))
                                                           echo 'checked';
            ?>>No</span>
                    </div>
                    <div class="field-row">
                        <strong><?php echo $translator['ANNOTATION_CAMPAIGN_DESC']; ?></strong>
                        <p class="pre-sub-txt"><?php echo $translator['ANNOTATION_CAMPAIGN']; ?>:</p>
                        <span class="radio-btn"><input type="radio" id="d" name="annotation_privacy" value="1" <?php if ($userPreferencesInfo['annotation_privacy'] == 1) echo 'checked'; ?>>Yes </span>
                        <span class="radio-btn"><input type="radio" id="c" name="annotation_privacy" value="0" <?php if ($userPreferencesInfo['annotation_privacy'] == 0) echo 'checked'; ?>>No</span>
                    </div>
                    <div class="field-row">
                        <strong><?php echo $translator['FAMILY_HISTORY_CAMPAIGN_DESC']; ?></strong>
                        <p class="pre-sub-txt"><?php echo $translator['FAMILY_HISTORY_CAMPAIGN']; ?>:</p>
                        <span class="radio-btn"><input type="radio" id="d" name="family_history_privacy" value="1" <?php if ($userPreferencesInfo['family_history_privacy'] == 1) echo 'checked'; ?>>Yes </span>
                        <span class="radio-btn"><input type="radio" id="c" name="family_history_privacy" value="0" <?php if ($userPreferencesInfo['family_history_privacy'] == 0) echo 'checked'; ?>>No</span>
                    </div>

                    <div class="form-sep">
                        <input type="submit" class="button" value="Update" id="submitbutton" name='submitbutton'>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>