<?php
/**
 * This file is used for edit BIO woh
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function(){
        $( "#date_of_entry" ).datepicker({
            changeMonth: true,
            changeYear: true
        });        
    });
EOD;
$this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.woh_searches.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>
<div class="inner-popup-detail arrivals-archive-popup">
    <h1><?php echo $translator['H_WOH_ARRIVAL_ARCHIVE']; ?></h1>
    <div>
        <?php
        $form = $this->form;
        //$form->setAttribute('action', $this->url('signup', array('action' => 'signup')));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('bio_certificate_id'));
        echo $this->formRow($form->get('woh_id'));
        ?>
        <div class="form-sep">
            <div class="full">
                <label><?php echo $translator['L_NAME']; ?></label>
                <?php echo $this->formRow($form->get('name')); ?>
            </div>
        </div>
        
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_IMMIGRATED_FORM']; ?></label>
                <?php echo $this->formRow($form->get('immigrated_from')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_SHIP_METHOD']; ?></label>
                <?php echo $this->formRow($form->get('ship_method')); ?>
            </div>
        </div>
        
        <div class="form-sep">
             <div class="col8">
                <label><?php echo $translator['L_PORTOFENTRY']; ?></label>
                <?php echo $this->formRow($form->get('port_of_entry')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_DATEOFENTRY']; ?></label>
                <?php echo $this->formRow($form->get('date_of_entry')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="full">
                <label><?php echo $translator['L_ADDITIONAL_INFO']; ?></label>
                <?php echo $this->formRow($form->get('additional_info')); ?>
            </div>
        </div>
        <div class="form-sep">            
            <?php echo $this->formRow($form->get('finalize')); ?>
            <?php echo $this->formRow($form->get('save_later')); ?>            
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>