<?php
/**
 * This file is used for user profile data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$jsLangTranslate = $this->jsLangTranslate;
$translator = $jsLangTranslate;
$userDetail = $this->userDetail;
$userId = $this->userId;
$mode = $this->mode;
?>
<div class="inner-header">
    <h1><?php echo $translator['H_MY_FILE']; ?></h1>    
</div>
<section class="main">
    <div class="container">
        <div class="myfile-page">
		
            <div class="left-section">
                <div class="banner-section">                    
                   <!-- <a href="/edit-user-info" class="manage" id="manage"><?php //echo $translator['H_MANAGE']; ?></a>-->
                    <!--<div class="name-detail">
                       <!-- <div class="img">
                            <?php
                            //if ($userDetail['profile_image'] != '') {
                            //    $fileName = $uploadedFilePath . "/" . $userDetail['profile_image'];
                            //    $filePath = $assetsUploadDir . "/" . $userDetail['profile_image'];
                            //    if (file_exists($filePath)) {
                            //        echo '<img src="' . $fileName . '">';
                            //    } else {
                            //        echo '<img alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/foundation/edit-profile.png">';
                            //    }
                            //} else {
                              //  echo '<img alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/foundation/edit-profile.png">';
                            //}
                            ?>
                        </div>
                        <div class="text-box">
                            <h2>
                                <?php
                                if ($userDetail['user_type'] == 1) {
                                   // echo $userDetail['title'] . " " . $userDetail['first_name'] . " " . $userDetail['middle_name'] . " " . $userDetail['last_name'];
                                } else {
                                   // echo $userDetail['company_name'];
                                }
                                ?>
                            </h2>
                            <p><?php //echo $translator['L_REGISTERED_SINCE']; ?> <?php //echo $this->Dateformatalpha($userDetail['added_date'], 'displaymonthformat'); ?> 
                                <?php
                                if (!empty($userAddressDetail)) {
                                   // echo '<br>';
                                   // echo isset($userAddressDetail[0]['state']) && $userAddressDetail[0]['state'] != '' ? $userAddressDetail[0]['state'].", " : '';
                                   // echo isset($userAddressDetail[0]['country_name']) && $userAddressDetail[0]['country_name'] != '' ?  $userAddressDetail[0]['country_name'].", " : '';
                                   // echo isset($userAddressDetail[0]['zip_code']) && $userAddressDetail[0]['zip_code'] != '' ?  $userAddressDetail[0]['zip_code'] : '';
                                }
                                ?>
                            </p>
                        </div>
                    </div>-->
                    <div class="bottom-detail">
                        <ul>
                            
                            <?php
                            if (isset($userDetail['login_date']) && $userDetail['login_date'] != '') {
                                ?>
                                <li class="first"><span><?php echo $translator['L_LAST_LOGGEDIN']; ?></span><strong><?php echo $this->Dateformatalpha($userDetail['login_date'], 'calender'); ?></strong></li>
                                <?php
                            }
                            ?>
                            <li class="second"><span><?php echo $translator['L_CONTACT_ID']; ?></span><strong><?php echo $userDetail['contact_id']; ?></strong></li>
                            <?php if ($userDetail['membership_id'] != 1) {
                                  if(isset($userDetail['membership_title']) and trim($userDetail['membership_title']) != "") {
                                ?>                            
                                <li><span><?php echo $translator['L_MEMBERSHIP_LEVELTYPE']; ?></span><strong><?php echo $userDetail['membership_title']; ?></strong></li>
                                <?php   } ?>
                                <li class="third"><span><?php echo $translator['L_MEMBERSHIP_EXPIRE']; ?></span><strong><?php echo $this->Dateformatalpha($userDetail['membership_expire'], 'calender'); ?></strong></li>
                            <?php }
                            ?>

                        </ul>
                    </div>
                </div>
                <div class="tab-detail-section">
                    <div class="tab-nav">
                        <ul>
						<li><a id="tab-1" href="javascript:void(0);" onclick="getManifestRecord();" class="active">Manifest Images</a></li>
						<li><a id="tab-1" href="javascript:void(0);" onclick="getShipsRecord();">Ships</a></li>
						<li><a id="tab-1" href="javascript:void(0);" onclick="getPassengerRecord();">Passenger Records</a></li>
						
						
                        <!--<li><a id="tab-1" href="javascript:void(0);" onclick="getMyFile();"><?php //echo $translator['T_MY_FILE']; ?></a></li>-->
                         <!--<li><a id="tab-2" href="javascript:void(0);" onclick="myDocumentSearch();"><?php //echo $translator['T_PASSENGER']; ?></a></li>-->
                        <!--<li><a id="tab-3" href="javascript:void(0);" onclick="myFofSearch();"><?php //echo $translator['T_FOF']; ?></a></li>-->
                            <li><a id="tab-4" href="javascript:void(0);" onclick="myWohSearch();"><?php echo $translator['T_WOH']; ?></a></li>                    
                        <!--<li><a id="tab-5" href="javascript:void(0);" onclick="myDigitalCertificate();"><?php //echo $translator['T_DIGITAL_CRTIFICATE']; ?></a></li>-->
                         <!--<li><a id="tab-6" href="javascript:void(0);" onclick="myFamilyHistory();"><?php //echo $translator['T_FAMILY_HISTORY']; ?></a></li>-->
                            <li><a id="tab-8" href="javascript:void(0);" onclick="myTransaction();"><?php echo $translator['T_TRANSACTIONS']; ?></a></li>
                        <!--<li><a id="tab-7" href="javascript:void(0);" onclick="myQuizes();"><?php //echo $translator['T_QUIZZES']; ?></a></li>-->
                        <!--<li><a id="tab-9" href="javascript:void(0);" onclick="myCases();"><?php //echo $translator['T_CASE']; ?></a></li>-->
						   <li style="display:none;"><a id="tab-5" href="javascript:void(0);" onclick="myDigitalCertificate();"><?php echo $translator['T_DIGITAL_CRTIFICATE']; ?></a></li>
                        </ul>
                    </div>
                    <div class="main-detail" id="profile_content">

                    </div>
                </div>
            </div>
           <!-- <div class="common-right-section">
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                </div>
				
                <div class="message-center " id="message_center">

                </div>
			
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
                </div>
                <div class="add-box">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(2); ?>"></iframe>
                </div>
            </div>-->
        </div>
    </div>
</section>
<?php 
$var = '';
$var.= 'var userId = "' . $userId . '";';
$var.= 'var mode = "' . $mode . '";';
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.profile.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'))
						   ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.my_document.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>