<?php
/**
 * This file is used for user ship search data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.my_document_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="line-container">
    <!--<div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> 
            <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png">
        </div>
        <div class="top-row">
            <h2><?php echo $translator['H_SHIP_SEARCHES']; ?></h2>
            <a href="/ship" class="button right">Search</a>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="button green right m-r-5" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?> 
        </div>
        <?php
        $isloadmoreShipSearch = false;
        if (isset($shipSearch) && !empty($shipSearch)) {
            ?><?php
                    if ($maxSearchCountSS > 0) {
                        ?>

            <?php
            if (count($shipSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_shipSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_shipSearch");></a>';
                $isloadmoreShipSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($shipSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="ship_search_<?php echo $val['search_id']; ?>">
                            <strong><?php echo $val['title']; ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                            <a href="/ship-result/0/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <a href="javascript:void(0);" onclick="deleteShipSearches('<?php echo $val['search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreShipSearch) {
                    echo "<div id='loadMmore_shipSearch' style='display:none;'>";
                    foreach ($shipSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="ship_search_<?php echo $val['search_id']; ?>">
                                <strong><?php echo $val['title']; ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                                <a href="/ship-result/0/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                                <a href="javascript:void(0);" onclick="deleteShipSearches('<?php echo $val['search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
    } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }    
        ?>
    </div> -->
    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> 
            <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png">
        </div>
        <div class="top-row">
            <h2><?php echo $translator['H_SAVED_SHIP']; ?></h2>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="become" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?>
        </div>
        <?php
        $isloadmoreSavedShipSearch = false;
        
        if (isset($savedShipSearch) && !empty($savedShipSearch)) {
            ?><?php
                    if (count($savedShipSearch) > 0) {
                        ?>
           
            <?php
            if (count($savedShipSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_savedShipSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_savedShipSearch");></a>';
                $isloadmoreSavedShipSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($savedShipSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                        if(isset($val['title']) && !empty($val['title']))
                            $shipName = $val['title'];
                        else    
                            $shipName = $val['SHIPNAME'];                     
                    
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="saved_ship_<?php echo $val['ship_search_id']; ?>">
                            <strong><?php echo ucfirst(strtolower($shipName)); ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                            <a href="/ship-details/<?php echo $this->Encrypt($shipName); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('ship'); ?>"><img alt="View Ship Details" title="View Ship Details" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <a href="javascript:void(0);" onclick="deleteSavedShipSearch('<?php echo $val['ship_search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreSavedShipSearch) {
                    echo "<div id='loadMmore_savedShipSearch' style='display:none;'>";
                    foreach ($savedShipSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if(isset($val['title']) && !empty($val['title']))
                            $shipName = $val['title'];
                        else    
                            $shipName = $val['SHIPNAME'];                         
                        
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="saved_ship_<?php echo $val['ship_search_id']; ?>">
                                <strong><?php echo ucfirst(strtolower($shipName)); ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                                <a href="/ship-details/<?php echo $this->Encrypt($shipName); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('ship'); ?>"><img alt="View Ship Details" title="View Ship Details" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                                <a href="javascript:void(0);" onclick="deleteSavedShipSearch('<?php echo $val['ship_search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        }  else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>

    <?php
    if (!empty($shipPurchasedRecord)) {
        $isloadmoreShipPurchasedRecord = false;
        ?>
        <div class="detail-box last" id="saved-record-search">
            <?php
            if (count($shipPurchasedRecord) > 4) {
                echo '<a class="plus" id="plus_loadMmore_shipPurchasedRecord" href="javascript:void(0);" onclick=loadMore("loadMmore_shipPurchasedRecord");></a>';
                $isloadmoreShipPurchasedRecord = true;
            }
            ?>
            <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon2.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
            <div class="top-row"><h2><?php echo $translator['H_SHIP_RECORD_PURCHAGED']; ?></h2></div>
            <div class="row-sep">
                <?php 
                foreach ($shipPurchasedRecord as $key => $val) {
                    
                    $descriptionStr = sprintf($translator['FBSHARE_SHIPSEARCH_RECORD_DESCRIPTION1'],addslashes($val['SHIPNAME']),DOMAIN_NAME);
                  
                    $fbArr = array($this->serverUrl().'/ship-details/'.$this->Encrypt($val['SHIPNAME']).'/'.$this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)).'/'.$this->Encrypt('ship'),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FBSHARE_SHIPSEARCH_RECORD_TITLE1']),'&nbsp;',$descriptionStr,$facebookAppId);
                            

                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>">                        
                            <strong>
                                <input type="checkbox" value="<?php echo $val['item_id'].'~~'.$val['SHIPNAME'].'~~'.$val['ARRIVAL_DATE'] ?>" name="checkboxes" class="checkbox transaction_ship">
                                <?php echo $val['SHIPNAME'];//echo $val['product_name']; ?>
                            </strong>
                            <span><?php echo $val['option_name']; ?>
                            <a href="javascript:void(0);" class="link full" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a></span>
                            <!--<a class="link1 line-blue" href="javascript:void(0);" alt="View Ship Details" title="View Ship Details" onClick="viewShipImage('<?php //echo $this->Encrypt($val['transaction_product_id']);?>','<?php //echo $val['transaction_product_id'];?>')"><img alt="view" title="view" class="float-left" src="<?php //echo $this->imageFilePath; ?>/images/my-search1.png"></a>-->
                            <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
							<a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');"></a>
							<?php } ?>
                            <a href="/ship-details/<?php echo $this->Encrypt($val['SHIPNAME']); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('ship'); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search1.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreShipPurchasedRecord) {
                    echo "<div id='loadMmore_shipPurchasedRecord' style='display:none;'>";
                    foreach ($shipPurchasedRecord as $key => $val) {
                        
                     $descriptionStr = sprintf($translator['FBSHARE_SHIPSEARCH_RECORD_DESCRIPTION1'],addslashes($val['SHIPNAME']),DOMAIN_NAME);
                  
                    $fbArr = array($this->serverUrl().'/ship-details/'.$this->Encrypt($val['SHIPNAME']).'/'.$this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)).'/'.$this->Encrypt('ship'),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FBSHARE_SHIPSEARCH_RECORD_TITLE1']),'&nbsp;',$descriptionStr,$facebookAppId);
                      
                            
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>">                        
                                <strong>
                                    <input type="checkbox" value="<?php echo $val['item_id'].'~~'.$val['SHIPNAME'].'~~'.$val['ARRIVAL_DATE'] ?>" name="checkboxes" class="checkbox transaction_ship">
                                    <?php echo $val['SHIPNAME']; ?>
                                </strong>
                                <span><?php echo $val['option_name']; ?>
                                <a href="javascript:void(0);" class="link full" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a>
								</span>
                                <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                                <a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');"></a>
								<?php } ?>
                                <!--<a class="link1 line-blue" href="javascript:void(0);" onClick="viewShipImage('<?php //echo $this->Encrypt($val['transaction_product_id']);?>','<?php //echo $val['transaction_product_id'];?>')"><img alt="view" title="view" class="float-left" src="<?php //echo $this->imageFilePath; ?>/images/my-search1.png"></a>-->
                                <a href="/ship-details/<?php echo $this->Encrypt($val['SHIPNAME']); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('ship'); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search1.png"></a>
                                
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
        </div>
        <?php
        if (!empty($shipAdditionalCopies)) {
            ?>        
            <form id="ship_copies">
		        <div class="cart-box">
		            <strong class="full">Additional Copies</strong>
		            <?php
		            foreach ($shipAdditionalCopies as $val) {
						echo "<div class='ship-cart'>";
		                echo "<span>" . $val['option_name'] . "</span>";
		                ?>                    
		                <input type="text" class="order-number" name="attribute_option_id[<?php echo $val['attribute_option_id'] ?>]" id="attribute_option_id_<?php echo $val['attribute_option_id'] ?>">
		                <strong><small>x</small>$<?php 
		                
		                if (!empty($discount)) {
                                $calDiscount = $this->Roundamount(($val['option_price'] * $discount) / 100);
                                echo ($val['option_price'] - $calDiscount);
                        }
		                else {
		                    echo $val['option_price']; 
		                }
		                ?></strong>
						</div>
		                <?php
		            }
		            ?>
					<div class="float-right">
                            <input type="hidden" id="product_id_related" name="product_id_related" value="<?php echo (isset($this->productResult[0]['product_id']) and trim($this->productResult[0]['product_id']) != "") ? trim($this->productResult[0]['product_id']) : ""; ?>" />
                            <input type="hidden" id="product_type_id_related" name="product_type_id_related" value="<?php echo (isset($this->productResult[0]['product_type_id']) and trim($this->productResult[0]['product_type_id']) != "") ? trim($this->productResult[0]['product_type_id']) : ""; ?>" />            
		            <input type="button" value="Add to cart" id="add_to_cart_ship" class="button pink float-right">
		            
		            <label for="amount" id="checkbox_selection" generated="true" class="error"></label>
		        </div>
		        </div>
		    </form>    
    <?php } 
    }
    
    ?>
</div>

<div style='display:none'>
    <div id='ship_searches' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>    
        <input type="button" value="Remove" name="yes" id="yes_ship_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_ship_search" class="button green semibold">       
    </div>
</div>
<div style='display:none'>
    <div id='saved_ship' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>    
        <input type="button" value="Remove" name="yes" id="yes_saved_ship" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_saved_ship" class="button green semibold">      
    </div>
</div>
<script>
function viewShipImage(id, frameid){
    window.open("/show-ship-image/"+id+"/"+'<?php echo $this->Encrypt("0"); ?>'+"/"+'<?php echo $this->Encrypt("0"); ?>'+"/"+'<?php echo $this->Encrypt("0"); ?>',frameid,'width = 1000,height = 800, resizable = true, scrollbars = 1');
}
</script>