<?php
/**
 * This file is used for user search data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.my_document.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<!--<div class="sub-nav">
    <ul>
        <li><a onclick="getPassengerRecord();" href="javascript:void(0);" id="document_tab-1" class=""><?php echo $translator['T_PASSENGER_RECORD']; ?></a></li>
        <li><a onclick="getManifestRecord();" href="javascript:void(0);" id="document_tab-2"><?php echo $translator['T_MANIFEST_IMAGES']; ?></a></li>
        <li><a onclick="getShipsRecord();" href="javascript:void(0);" id="document_tab-3"><?php echo $translator['T_SHIPS']; ?></a></li>
        <li class="last"><a onclick="getOralHistoryRecord();" href="javascript:void(0);" id="document_tab-4"><?php echo $translator['T_ORAL_HISTORY']; ?></a></li>
    </ul>
</div>-->
<div id="document_record">
</div>