<?php
/**
 * This file is used for user woh list
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.my_document_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.woh_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<div class="line-container">

    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['H_SAVED_SEARCHES']; ?></h2>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="become" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?>
        </div>
        <?php
        $isloadmoreWohSearch = false;
        if (isset($wohSearch) && !empty($wohSearch)) {
            ?>
            <div class="pageing">
                <ul>
                    <?php
                    if ($maxSearchCountWOH > 0) {
                        ?>
                        <li><strong><?php echo count($wohSearch); ?></strong></li>
                        <li>of</li>
                        <li><?php echo $maxSearchCountWOH; ?></li>
                        <li>max </li>
                        <?php
                    }
                    ?>
                </ul>
            </div>
            <?php
            if (count($wohSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_wohSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_wohSearch");></a>';
                $isloadmoreWohSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($wohSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>                            
                        <div class="<?php echo $class; ?>" id="woh_search_<?php echo $val['woh_search_id']; ?>">
                            <strong><?php echo $val['title']; ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                            <a href="/search-woh/0/<?php echo $this->Encrypt($val['woh_search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <a href="javascript:void(0);" onclick="deleteWohSearch('<?php echo $val['woh_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreWohSearch) {
                    echo "<div id='loadMmore_wohSearch' style='display:none;'>";
                    foreach ($wohSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="woh_search_<?php echo $val['woh_search_id']; ?>">
                                <strong><?php echo $val['title']; ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                                <a href="/search-woh/0/<?php echo $this->Encrypt($val['woh_search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                                <a href="javascript:void(0);" onclick="deleteWohSearch('<?php echo $val['woh_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
</div>

<!--<div class="common-detail-section">
    <div class="top-detail">
        <h1 class="left"><?php echo $translator['H_PUCHASED_WOH']; ?></h1>        
        <a href="/add-woh" class="button right" id="add-woh"><?php echo $translator['H_ADD_WOH_BUTTON2']; ?></a>
    </div> 

    <?php
    if (isset($userWoh) && !empty($userWoh)) {
        foreach ($userWoh as $key => $val) {
            ?>
            <div class="box1">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="5"><?php 
                            echo $val['honoree_name']; ?></th>

                        </tr>
                        <tr>
                            <td valign="top" width="5%">
                                <input <?php
						        if ($key == 0) {
						            echo 'checked';
						        }
            ?> type="radio" class="woh_transaction" id="woh_id" name="woh_id" value='<?php echo $val['woh_id']; ?>' onclick="getAdditionalWoh('<?php echo $val['panel_no']; ?>','<?php echo $val['is_finalize']; ?>','<?php echo $val['bio_certificate_prod_id']; ?>');">
                            </td>
                            <td width="16%"><?php
                            echo "Panel No. ";
                            if ($val['panel_no'] != '') echo $val['panel_no']; else echo 'TBD' ?></td>
                            <td width="20%">Donated by                                
                                <a href="javascript:void(0);" onclick="editDonatedBy('<?php echo $val['woh_id']; ?>');">
                                    <img class="valign" alt="edit" title="edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon3.jpg">
                                </a>
                                <br><span><?php echo $val['donated_by']; ?></span></td>
                            <td width="15%"><?php if ($val['status'] == '0') echo "Pending"; else echo 'Approved'; ?><br>
                                <span> <a href="javascript:void(0);" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a></span></td>
                            <td width="32%">
                                <span class="img-box">
                                    <div class="productcount">
                                        <img alt="Certificate" title="Certificate" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/myfile-duplicate-certificate.jpg">
                                        <span><?php if ($val['addition_quantity'] != '') echo $val['addition_quantity']; else echo '0'; ?></span>
                                    </div>
                                    <div class="productcount">
                                       <?php if ($val['panel_no'] != '') { ?> 
                                        <img alt="Panel" title="Panel" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/wall-icon2.jpg">
                                        <span><?php if ($val['personalize_quantity'] != '') echo $val['personalize_quantity']; else echo '0'; ?></span>
                                        <?php } else { ?>
                                           <div class="not-available"></div>
                                               <img alt="Panel" title="Panel" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/wall-icon2.jpg">
                                         
                                        <?php       
                                            } 
                                         ?>
                                    </div>
                                    <div class="productcount">
                                        <?php if ($val['panel_no'] != '') { ?>
                                            <img alt="Bio Certificate" title="Bio Certificate" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/myfile-bio-certificate.jpg">
                                            <span>
                                                <?php
                                                if ($val['num_quantity'] > 0) {
                                                    echo $val['num_quantity'];
                                                } else {
                                                    echo '0';
                                                }
                                                ?>
                                            </span>
                                        <?php
                                        } else {
                                          ?>
                                          <div class="not-available"></div>
                                               <img alt="Bio Certificate" title="Bio Certificate" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/myfile-bio-certificate.jpg">
                                          
                                          <?php  
                                        }
                                        ?>
                                    </div>
                                </span>
                            </td>
                            <td>
                                <span class="right">                                   
                                    <label class="bold auto" style="text-align:center;">Bio</label>
                                                                        <?php
                                     $fbUrl = $this->serverUrl().'/search-woh/'.$this->Encrypt($val['woh_id']).'/0';
                                     $fbArr = array($fbUrl,$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FB_SHARE_WOH_MYFILE_TITLE1']),'&nbsp;',sprintf($translator['FB_SHARE_WOH_MYFILE_DESCRIPTION1'],DOMAIN_NAME),$facebookAppId);
                                    ?>

                                <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?><a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php //echo implode("','",$fbArr); ?>');"></a><?php } ?>
                                    
                                    <?php
                                    if ($val['panel_no'] != '') {
                                        ?>
                                    
                                        <?php if ($val['is_finalize']) {
                                            ?>
                                            <a href="javascript:void(0);" class="left" onclick="viewBioWoh('<?php echo $val['bio_certificate_prod_id']; ?>');">
                                                <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon4.png">
                                            </a>                                     
                                            <?php
                                        } else {
                                            ?>
                                            <a href="javascript:void(0);" class="left" onclick="editBioWoh('<?php echo $val['woh_id']; ?>','<?php echo $val['bio_certificate_prod_id']; ?>');">
                                                <img alt="Edit" title="Edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon5.png">
                                            </a> 
                                            <?php
                                        }
                                        ?>
                                        <?php
                                    }
                                    ?>
                                        

                                    <a class="left" href="/search-woh/<?php echo $this->Encrypt($val['woh_id']); ?>/0"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon1.png" alt="view" title="view"></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <?php
        }
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
    }
    ?>

    <div id="addition_woh_product"></div>





</div> -->




<div style='display:none'>
    <div id='woh_search' class="inner-popup-detail">    
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>      
        <input type="button" value="Remove" name="yes" id="yes_woh_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_woh_search" class="button green semibold">
    </div>
</div>

<script>
    $(function() {
<?php
if (!empty($userWoh)) {
    ?>
                getAdditionalWoh('<?php echo $userWoh[0]['panel_no']; ?>','<?php echo $userWoh[0]['is_finalize']; ?>','<?php echo $userWoh[0]['bio_certificate_prod_id']; ?>');
    <?php
}
?>
    });
</script>