<?php
/**
 * This file is used for user manifest search data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.my_document_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>


<input type="hidden" id="product_id_related" name="product_id_related" value="<?php echo (isset($this->productResult[0]['product_id']) and trim($this->productResult[0]['product_id']) != "") ? trim($this->productResult[0]['product_id']) : ""; ?>" />
<input type="hidden" id="product_type_id_related" name="product_type_id_related" value="<?php echo (isset($this->productResult[0]['product_type_id']) and trim($this->productResult[0]['product_type_id']) != "") ? trim($this->productResult[0]['product_type_id']) : ""; ?>" />
            
<div class="line-container">
    <div class="detail-box last">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['H_SAVED_MANIFEST']; ?></h2>  
            <!--<a href="/ship" class="button right">Search</a>-->
        </div>

        <?php
        $isloadmoreManifestSavedSearch = false;
		//asd($manifestSavedSearch);
        if (isset($manifestSavedSearch) && !empty($manifestSavedSearch)) {
            ?>            
            <?php
            if (count($manifestSavedSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_manifestSavedSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_manifestSavedSearch");></a>';
                $isloadmoreManifestSavedSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                
                foreach ($manifestSavedSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                        if(isset($val['title']) && !empty($val['title']))
                            $shipName = $val['title'];
                        else    
                            $shipName = $val['SHIP_NAME'];                    
                    
                    $mFileName = $val['FILENAME'];
                    
                    if(!empty($val['file_name']))
                        $mFileName = $val['file_name'];
                    else
                        {
                        if(empty($mFileName)) {
			                    if($val['data_source'] == 1)
			                        $mFileName = $val['roll_nbr'].$val['frame'].'.TIF';
			                    else if($val['data_source'] == 2)      
			                        $mFileName = $val['roll_nbr'].'_'.$val['frame'].'.jpg';
			                    else    
			                        $mFileName = $val['roll_nbr'].$val['frame'].'.TIF';
	                        }
                    }    
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="manifest_search_<?php echo $val['manifest_search_id']; ?>">
                            
                            <strong><input type="checkbox"  name="checkboxes" class="checkbox checkbox_transaction" value="<?php echo $mFileName; ?>"><?php echo ucfirst(strtolower($shipName)); ?></strong>
                            <input type="hidden" name="<?php echo $val['manifest_search_id']; ?>" id="ship_image_<?php echo substr($mFileName,0,-4); ?>" class="ship_id" value="<?php echo $val['ship_id']; ?>">
                            <span><?php echo $this->Dateformatalpha($val['ARRIVAL_DATE'], 'calender'); ?>
                            <br><?php echo $mFileName; ?></span>
                            <?php
                            if(!empty($val['passenger_id']))
                            {
                            ?>
                                <a href="/passenger-details/<?php echo $this->Encrypt($val['passenger_id']); ?>/<?php echo $this->Encrypt('manifest'); ?>/<?php echo $this->Encrypt($mFileName); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <?php
                            }
                            else
                            {
                            ?>
                                <a href="/ship-details/<?php echo $this->Encrypt($shipName); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('manifest'); ?>/<?php echo $this->Encrypt($mFileName); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <?php
                            }
                            ?>
                            
                            <a href="javascript:void(0);" onclick="deleteManifestSearch('<?php echo $val['manifest_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreManifestSavedSearch) {
                    echo "<div id='loadMmore_manifestSavedSearch' style='display:none;'>";
                    foreach ($manifestSavedSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
						if(isset($val['title']) && !empty($val['title']))
                            $shipName = $val['title'];
                        else    
                            $shipName = $val['SHIP_NAME']; 

                        $mFileName = $val['FILENAME'];
	                    
	                    if(!empty($val['file_name']))
	                        $mFileName = $val['file_name'];
	                    else
	                        {
	                        if(empty($mFileName)) {
				                    if($val['data_source'] == 1)
				                        $mFileName = $val['roll_nbr'].$val['frame'].'.TIF';
				                    else if($val['data_source'] == 2)      
				                        $mFileName = $val['roll_nbr'].'_'.$val['frame'].'.jpg';
				                    else    
				                        $mFileName = $val['roll_nbr'].$val['frame'].'.TIF';
		                        }
	                    }                    
                                                
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="manifest_search_<?php echo $val['manifest_search_id']; ?>">                             
                                <strong><input type="checkbox"  name="checkboxes" class="checkbox checkbox_transaction" value="<?php echo $mFileName; ?>"><?php echo ucfirst(strtolower($shipName)); ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['ARRIVAL_DATE'], 'calender'); ?>
								<br><?php echo $mFileName; ?></span>
                            <?php
                            if(!empty($val['passenger_id']))
                            {
                            ?>
                                <a href="/passenger-details/<?php echo $this->Encrypt($val['passenger_id']); ?>/<?php echo $this->Encrypt('manifest'); ?>/<?php echo $this->Encrypt($mFileName); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <?php
                            }
                            else
                            {
                            ?>
                                <a href="/ship-details/<?php echo $this->Encrypt($shipName); ?>/<?php echo $this->Encrypt(substr($val['ARRIVAL_DATE'], 0, 10)); ?>/<?php echo $this->Encrypt('manifest'); ?>/<?php echo $this->Encrypt($mFileName); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <?php
                            }
                            ?>
                            
                            <a href="javascript:void(0);" onclick="deleteManifestSearch('<?php echo $val['manifest_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
    <?php if (isset($manifestSavedSearch) && !empty($manifestSavedSearch)) { ?>
        <div class="cart-box">
            <div class="left-text"><?php echo $translator['DES_LIKE_TO_ORDER']; ?></div>
            <input type="text" class="order-number mar-left-25" value='1' id="quantity" name="quantity">
            <strong><small>x</small>  $
                <?php
                if (!empty($productResult)) {
                    foreach ($productResult as $val) {
                        if ($val['attribute_option_id'] == 3) {
                             if (!empty($discount)) {
                                
                                $calDiscount = $this->Roundamount((($val['product_sell_price'] + $val['option_price']) * $discount) / 100);
                                echo (($val['product_sell_price'] + $val['option_price']) - $calDiscount);
                                }
                            else {
                                echo $val['product_sell_price'] + $val['option_price'];
                            }
                        }
                    }
                }
                ?></strong>
				<div class="float-right">
                           
 
            <input type="button" value="Add to cart" id="add_to_cart_manifest" class="button pink float-right">
            
            <label for="amount" id="checkbox_selection" generated="true" class="error"></label>
			</div>
        </div>
    <?php } ?>
</div>
<?php
    if (!empty($manifestPurchasedRecord)) {
        ?><div>&nbsp;</div>
        <div id="saved-record-search">
		<div class="common-detail-section large right">
            <h1 class="mar-t-b">Manifest Record Purchased</h1>
			<div class="box">
            <table cellspacing="0" cellpadding="0" border="0" class="mar-top-8" width="100%">
                <tbody>
                
                        <tr >
                            <td width="2%">&nbsp;</td>
                            <td width="25%">Passenger/Ship Name</td>
                            <td width="20%">Ship Arrival Date</td>
                            <td width="20%">Purchase Date</td>
                            <td width="15%">Transaction No.</td>
                            <td width="15%">&nbsp;</td>
                        </tr>                
                    <?php
                   
                    
                    
                    foreach ($manifestPurchasedRecord as $val) {
                        
                         
           
                            if(strlen($val['item_id'])<10) { 
                              $fbUrl = $this->serverUrl().'/ship-details/'.$this->Encrypt($val['item_name']).'/'.$this->Encrypt(substr($val['item_info'], 0, 10)).'/'.$this->Encrypt('manifest').'/'.$this->Encrypt($val['first_image']);
                              $descriptionStr = sprintf($translator['FBSHARE_MANIFEST_RECORD_DESCRIPTION2'],"",date("Y", strtotime($val['item_info'])),DOMAIN_NAME);
                            }
                            else { 
                               $descriptionStr = sprintf($translator['FBSHARE_MANIFEST_RECORD_DESCRIPTION2'],(isset($val['place_of_residence']) and trim($val['place_of_residence']) != "")?"from ".$val['place_of_residence']:"",date("Y", strtotime($val['item_info'])),DOMAIN_NAME);
                               $fbUrl =  $this->serverUrl().'/passenger-details/'.$this->Encrypt($val['item_id']).'/'.$this->Encrypt('manifest').'/'.$this->Encrypt($val['first_image']);
                            }
 
                         $fbArr = array($fbUrl,$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FBSHARE_MANIFEST_RECORD_TITLE2']),'&nbsp;',$descriptionStr,$facebookAppId);
                        ?>

                        <tr>
                            <td><input type="checkbox" value="<?php echo $val['transaction_product_id'] ?>" name="checkboxes" class="checkbox transaction_manifest">
                            </td>
                             <td>
                            <?php
                                if(strlen($val['item_id'])>=12)
                                {
                                    echo $val['item_name'].'<br>ID: '.$val['item_id'];
                                }
                                else
                                {
                                    echo $val['item_name'];
                                }
                            ?> 
                             </td>
                             <td>
                             <?php echo $this->Dateformatalpha($val['item_info'],'calender')?>
                             </td>
                            <td><?php echo $this->Dateformatalpha($val['purchase_date'],'calender')?></td>
                            <td><a href="javascript:void(0);" class="line-blue" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a></td>
                            <td>
                                <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
									<a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');"></a>
                                <?php 
								}
                                if(strlen($val['item_id'])<10) // for ship
                                {
                                    ?>
                                    <a class="link1 line-blue" href="/ship-details/<?php echo $this->Encrypt($val['item_name'])?>/<?php echo $this->Encrypt(substr($val['item_info'], 0, 10)).'/'.$this->Encrypt('manifest').'/'.$this->Encrypt($val['first_image']) ?>"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/my-search1.png"  alt="View Manifest" title="View Manifest"></a>
                                    <?php
                                }
                                else // for passeneger
                                {
                                ?>
                                    <a class="link1 line-blue" href="/passenger-details/<?php echo $this->Encrypt($val['item_id'])?>/<?php echo $this->Encrypt('manifest').'/'.$this->Encrypt($val['first_image']) ?>"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search1.png" alt="View Manifest" title="View Manifest"></a>
                                <?php
                                }
                                ?>
                            </td>
                        </tr>
                        <?php
                    }
                    ?>
                </tbody>
            </table>
			</div>
		
            <div class="order">
                <p class="left "><?php echo $translator['DES_LIKE_TO_ORDER']; ?></p>
                <div style="float: right" class="add-to-cart">
                    <!-- <input type="text" class="order-number" value='1' id="quantity_manifest" name="quantity_manifest"> 
                    <span class="multiply">x</span><span class="order-amount">$
                        <?php
                        if (!empty($productResult)) {
                            foreach ($productResult as $val) {
                                if ($val['attribute_option_id'] == 3) {
                                    echo $val['product_sell_price'] + $val['option_price'];
                                }
                            }
                        }
                        ?>
                    </span>-->
					<div class="float-right">
                    <input type="button" value="Add to cart" id="add_to_cart_manifest_more" class="semibold button pink">
                     
                <label for="amount" id="checkbox_selection_manifest" generated="true" class="error"></label>
                </div>
                </div>
            </div>   
	</div>
        </div>			
        <?php
    }
    ?>
</div>

<div style='display:none'>
    <div id='saved_manifest_search' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>      
        <input type="button" value="Remove" name="yes" id="yes_manifest_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_manifest_search" class="button green semibold">     
    </div>
</div>
<script>
function viewManifest(id){
    window.open("/view-manifest/"+id,id,'width = 1000,height = 800, resizable = true, scrollbars = 1');
}
</script>