<?php
/**
 * This file is used for user fof list
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.fof_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<style>
.cboxIframe{background-color: rgba(0, 0, 0, 0) !important;}
#cboxContent{background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;border:0px!important;}
#cboxOverlay{background:#000;}
</style>

<div class="line-container">
    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['H_FOF_SAVED_SEARCH']; ?></h2>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="become" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?>
        </div>
        <?php
        $isloadmoreFofSearch = false;
        if (isset($fofSearch) && !empty($fofSearch)) {
            ?>
            <div class="pageing">
                <ul>
                    <?php
                    if ($maxSearchCountFOF > 0) {
                        ?>
                        <li><strong><?php echo count($fofSearch); ?></strong></li>
                        <li>of</li>
                        <li><?php echo $maxSearchCountFOF; ?></li>
                        <li>max </li>
                        <?php
                    }
                    ?>
                </ul>
            </div>
            <?php
            if (count($fofSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_fofSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_fofSearch");></a>';
                $isloadmoreFofSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($fofSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="fof_search_<?php echo $val['fof_search_id']; ?>">
                            <strong><?php echo $val['title']; ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                            <a href="/search-fof/0/<?php echo $this->Encrypt($val['fof_search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                            <a href="javascript:void(0);" onclick="deleteFofSearch('<?php echo $val['fof_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreFofSearch) {
                    echo "<div id='loadMmore_fofSearch' style='display:none;'>";
                    foreach ($fofSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="fof_search_<?php echo $val['fof_search_id']; ?>">
                                <strong><?php echo $val['title']; ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['modified_date'], 'calender'); ?></span>
                                <a href="/search-fof/0/<?php echo $this->Encrypt($val['fof_search_id']); ?>" ><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                                <a href="javascript:void(0);" onclick="deleteFofSearch('<?php echo $val['fof_search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
</div>




<div class="common-detail-section">
    <div class="top-detail">
        <h1 class="left"><?php echo $translator['H_FOF']; ?></h1>
        <a href="/add-fof-image" class="button right" id="add-fof"><?php echo $translator['ADD_FOF_BUITTON2']; ?></a>
    </div>

    <?php if(!empty($flashMessages[0]) and isset($flashMessages[0])) {  ?>
        <div  class="full">
             <div class='success_message'><?php  echo isset($flashMessages[0])?$flashMessages[0]:""; ?></div>
         </div>
    <?php } ?>
    
    <?php
    if (isset($userFof) && !empty($userFof)) {
      
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th class="th-wdth-5">Image</th>
                            <th class="th-wdth-15">Donated By</th>
                            <th class="th-wdth-15">Photo Caption</th>
                            <th class="th-wdth-15">Status</th>
                            <th class="th-wdth-10">Transaction Id</th>
                            <th class="th-wdth-10">&nbsp;</th>
                        </tr>
                        <?php   foreach ($userFof as $val) { ?>
                        <tr>
                            <td class="fof-img">
                                <?php
                                if ($val['fof_image'] != '') {
                                    $fileName = $uploadedFilePath . "/" . $val['fof_image'];
                                    $filePath = $assetsUploadDir . "/" . $val['fof_image'];
                                    if (file_exists($filePath)) {
                                        echo '<img src="' . $fileName . '">';
                                    } else {
                                        echo '<img alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/fof-profile.png">';
                                    }
                                } else {
                                    echo '<img alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/fof-profile.png">';
                                }
                                ?>
                            </td>
                            <td><?php echo $val['donated_by']; ?></td>
                            <td><?php if ($val['is_photo_caption_visible'] == '1') echo $val['photo_caption']; ?></td>                                
                            <td><?php if ($val['status'] == '0') echo 'Pending'; else echo 'Approved'; ?></td>
                            <td><a href="javascript:void(0);" class="" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a></td>
                            <td>
                                <span class="right">
                                    <a href="javascript:void(0);" onclick="fofSetting('<?php echo $val['fof_id']; ?>');"><img alt="edit" title="edit" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/edit-icon.png"></a>                                    
                                    <?php if ($val['status'] == '1') { ?>
                                        <a href="/search-fof/<?php echo $this->Encrypt($val['fof_id']); ?>/0" ><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon1.png"></a>
                                    <?php } ?>
                                </span>
                            </td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <?php
        
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
    }
    ?>
</div>
<div style='display:none'>
    <div id='fof_search' class="inner-popup-detail" style="background-color:#ffffff !important;">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <input type="button" value="Remove" name="yes" id="yes_fof_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_fof_search" class="button green semibold">
    </div>
</div>