<?php
/**
 * This file is used for user passenger search data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.my_document_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="line-container">
    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['H_PASSENGER_RECORD_SEARCH']; ?></h2>
            <!--<a href="/passenger" class="button right">Search</a>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="button green right m-r-5" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?> -->
        </div>
        <?php
        $isloadmorePassengerSearch = false;
        if (isset($passengerSearch) && !empty($passengerSearch)) {
            ?>
            <!--<div class="pageing">
                <ul>
                    <?php
                   // if ($maxSearchCountPS > 0) {
                        ?>
                        <li><strong><?php //echo count($passengerSearch); ?></strong></li>
                        <li>of</li>
                        <li><?php //echo $maxSearchCountPS; ?></li>
                        <li>max </li>
                        <?php
                   // }
                    ?>
                </ul>
            </div>-->
            <?php
            if (count($passengerSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_passengerSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_passengerSearch");></a>';
                $isloadmorePassengerSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($passengerSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="passenger_search_<?php echo $val['search_id']; ?>">
                            <strong><?php echo $val['title']; ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                            <a href="/passenger-result/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <a href="javascript:void(0);" onclick="deletePassengerSearches('<?php echo $val['search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmorePassengerSearch) {
                    echo "<div id='loadMmore_passengerSearch' style='display:none;'>";
                    foreach ($passengerSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="passenger_search_<?php echo $val['search_id']; ?>">
                                <strong><?php echo $val['title']; ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                                <a href="/passenger-result/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                                <a href="javascript:void(0);" onclick="deletePassengerSearches('<?php echo $val['search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon2.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['H_SAVED_PASSENGER_RECORD']; ?></h2>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="become" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?>
        </div>
        <?php
        $isloadmorePassengerSavedSearch = false;
        if (isset($passengerSavedSearch) && !empty($passengerSavedSearch)) {
            ?>  <?php
                    if ($maxSearchCountPR > 0) {
                        ?>
            <!--<div class="pageing">
                <ul>
                  
                        <li><strong><?php //echo count($passengerSavedSearch); ?></strong></li>
                        <li>of</li>
                        <li><?php //echo $maxSearchCountPR; ?></li>
                        <li>max </li>
                       
                </ul>
            </div>--> <?php
                    }
                    ?>
            <?php
            if (count($passengerSavedSearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_passengerSavedSearch" href="javascript:void(0);" onclick=loadMore("loadMmore_passengerSavedSearch");></a>';
                $isloadmorePassengerSavedSearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($passengerSavedSearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="saved_passenger_<?php echo $val['passenger_search_id']; ?>">
                            <strong><?php echo $val['PRIN_LAST_NAME'];
                                if(!empty($val['PRIN_FIRST_NAME']))
                                    echo ', '.$val['PRIN_FIRST_NAME'] ; ?></strong>
                            <span><?php echo $val['PRIN_NATIONALITY']; ?>(<?php echo date("Y", strtotime($val['DATE_ARRIVE'])); ?>)</span>
                            <a href="/passenger-details/<?php echo base64_encode(serialize($val['passenger_id'])); ?>/<?php echo base64_encode(serialize('passenger')); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                            <a href="javascript:void(0);" onclick="deletePassengerSavedSearches('<?php echo $val['passenger_search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmorePassengerSavedSearch) {
                    echo "<div id='loadMmore_passengerSavedSearch' style='display:none;'>";
                    foreach ($passengerSavedSearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="saved_passenger_<?php echo $val['passenger_search_id']; ?>">
                                <strong><?php echo $val['PRIN_LAST_NAME'];
                                if(!empty($val['PRIN_FIRST_NAME']))
                                    echo ', '.$val['PRIN_FIRST_NAME'] ; ?></strong>
                                <span><?php echo $val['PRIN_NATIONALITY']; ?>(<?php echo date("Y", strtotime($val['DATE_ARRIVE'])); ?>)</span>
                                <a href="/passenger-details/<?php echo base64_encode(serialize($val['passenger_id'])); ?>/<?php echo base64_encode(serialize('passenger')); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-create.png"></a>
                                <a href="javascript:void(0);" onclick="deletePassengerSavedSearches('<?php echo $val['passenger_search_id']; ?>')"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
    <?php
    if (!empty($passengerPurchasedRecord)) {
        $isloadmorePassengerPurchasedRecord = false;
        ?>        
        <div class="detail-box last" id="saved-record-search">
            <?php
            if (count($passengerPurchasedRecord) > 4) {
                echo '<a class="plus" id="plus_loadMmore_passengerPurchasedRecord" href="javascript:void(0);" onclick=loadMore("loadMmore_passengerPurchasedRecord");></a>';
                $isloadmorePassengerPurchasedRecord = true;
            }
            ?>
            <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon2.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
            <div class="top-row"><h2><?php echo $translator['H_PASSENGER_RECORD_PURCHAGED']; ?></h2></div>
            <div class="row-sep">
                <?php
                
                
                foreach ($passengerPurchasedRecord as $key => $val) {
                    
                    $nameFB = '';
                    if(isset($val['PRIN_LAST_NAME']) and trim($val['PRIN_LAST_NAME']) != "") { $nameFB .= trim($val['PRIN_LAST_NAME']).' '; }
                    if(isset($val['PRIN_FIRST_NAME']) and trim($val['PRIN_FIRST_NAME']) != "") { $nameFB .= trim($val['PRIN_FIRST_NAME']); }
                    $descriptionStr = sprintf($translator['FBSHARE_PASSENGER_RECORD_DESCRIPTION1'],$nameFB,date("Y", strtotime($val['DATE_ARRIVE'])),DOMAIN_NAME);    

                    $fbArr = array($this->serverUrl().'/passenger-details/'.base64_encode(serialize($val['item_id'])).'/'.base64_encode(serialize('passenger')),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FBSHARE_PASSENGER_RECORD_TITLE1']),'&nbsp;',$descriptionStr,$facebookAppId);  
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>">                        
                            <strong>
                                <input type="checkbox" value="<?php echo $val['transaction_product_id']; ?>" name="checkboxes" class="checkbox_transaction">
                                <?php echo $val['PRIN_LAST_NAME'];
                                if(!empty($val['PRIN_FIRST_NAME']))
                                    echo ', '.$val['PRIN_FIRST_NAME'] ; ?>
                            </strong>
                            <a class="link" href="javascript:void(0);" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a><span><?php echo $val['PRIN_NATIONALITY']; ?>(<?php echo date("Y", strtotime($val['DATE_ARRIVE'])); ?>)</span>
							<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                            <a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');"></a>
							<?php } ?>
                            <a href="/passenger-details/<?php echo base64_encode(serialize($val['item_id'])); ?>/<?php echo base64_encode(serialize('passenger')); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search1.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmorePassengerPurchasedRecord) {
                    echo "<div id='loadMmore_passengerPurchasedRecord' style='display:none;'>";
                    foreach ($passengerPurchasedRecord as $key => $val) {

                        $nameFB = '';
                        if(isset($val['PRIN_LAST_NAME']) and trim($val['PRIN_LAST_NAME']) != "") { $nameFB .= trim($val['PRIN_LAST_NAME']).' '; }
                        if(isset($val['PRIN_FIRST_NAME']) and trim($val['PRIN_FIRST_NAME']) != "") { $nameFB .= trim($val['PRIN_FIRST_NAME']); }
                        $descriptionStr = sprintf($translator['FBSHARE_PASSENGER_RECORD_DESCRIPTION1'],$nameFB,date("Y", strtotime($val['DATE_ARRIVE'])),DOMAIN_NAME);    

                        $fbArr = array($this->serverUrl().'/passenger-details/'.base64_encode(serialize($val['item_id'])).'/'.base64_encode(serialize('passenger')),$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FBSHARE_PASSENGER_RECORD_TITLE1']),'&nbsp;',$descriptionStr,$facebookAppId);  
                        
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>">                        
                                <strong>
                                    <input type="checkbox" value="<?php echo $val['transaction_product_id']; ?>" name="checkboxes" class="checkbox_transaction">
                                    <?php echo $val['PRIN_LAST_NAME'];
                                if(!empty($val['PRIN_FIRST_NAME']))
                                    echo ', '.$val['PRIN_FIRST_NAME'] ; ?>
                                </strong>
                                <a class="link" href="javascript:void(0);" onclick="getUserTransactionDetail('<?php echo $this->Encrypt($val['transaction_id']); ?>');">#<?php echo $val['transaction_id']; ?></a><span><?php echo $val['PRIN_NATIONALITY']; ?>(<?php echo date("Y", strtotime($val['DATE_ARRIVE'])); ?>)</span>
								<?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?>
                                <a class="m-fb-icon" title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php echo implode("','",$fbArr); ?>');"></a>
								<?php } ?>
                                <a href="/passenger-details/<?php echo base64_encode(serialize($val['item_id'])); ?>/<?php echo base64_encode(serialize('passenger')); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search1.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
        </div>
        <div class="cart-box">
            <img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon3.png">
            <span>Copy of <?php echo $passengerPurchasedRecord[0]['product_name']; ?></span>        
            <input type="text" class="order-number " value="1" id="quantity" name="quantity">
            <strong><small>x</small>  $<?php 
            if (!empty($discount)) {
                                $calDiscount = $this->Roundamount(($productResult[0]['product_sell_price'] * $discount) / 100);
                                echo ($productResult[0]['product_sell_price'] - $calDiscount);
                }
                else {                
                    echo $productResult[0]['product_sell_price'];
             }
             ?></strong>
            <!--        <a class="button pink float-right" href="#">ADD TO CART </a>-->
			<div class="float-right add-tocart-error">
                       
            <input type="hidden" id="product_id_related" name="product_id_related" value="<?php echo (isset($this->productResult[0]['product_id']) and trim($this->productResult[0]['product_id']) != "") ? trim($this->productResult[0]['product_id']) : ""; ?>" />
            <input type="hidden" id="product_type_id_related" name="product_type_id_related" value="<?php echo (isset($this->productResult[0]['product_type_id']) and trim($this->productResult[0]['product_type_id']) != "") ? trim($this->productResult[0]['product_type_id']) : ""; ?>" />
            <input type="button" value="Add to cart" id="add_to_cart" class="button pink float-right">
            <label for="amount" id="checkbox_selection" generated="true" class="error"></label>
			</div>
        </div>
    <?php } ?>
</div>
<div style='display:none'>
    <div id='passenger_searches' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>

        <input type="button" value="Remove" name="yes" id="yes_passenger_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_passenger_search" class="button green semibold">

    </div>
</div>
<div style='display:none'>
    <div id='saved_passenger' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>
        <input type="button" value="Remove" name="yes" id="yes_saved_passenger" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_saved_passenger" class="button green semibold">
    </div>
</div>