<?php
/**
 * This file is used for user data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$jsLangTranslate = $this->jsLangTranslate;
$translator = $jsLangTranslate;
$getMemberShip = $this->getMemberShip;
?>


<div class="myfile-content" id="file">
    <?php
    if ($getMemberShip['membership_id'] == 1) {
        ?>
        <div class="file-wrapper" href="#">
            <h1><?php echo $translator['H_BECOME_MEMBER']; ?></h1>
				<a href="/member-benefit" class="link"><?php echo $translator['H_BECOME_MEMBER']; ?></a>
            <span class="sub-head"><?php echo $translator['DES1_BECOME_MEMBER']; ?></span>
            <p>Your donation of just $<?php echo $minimunDonationAmount;?> per year provides valued member benefits and helps maintain the website.</p>	
        </div>
        
       
        <?php
    }
    ?>

    <div class="file-wrapper" href="javascript:void(0);">
        <h1><?php echo $translator['H_ADD_NAME_TO_WOW']; ?></h1>
		 <a href="/add-woh" class="link"><?php echo $translator['LINK_ADD_NAME_TO_WOW']; ?></a>
        <p><?php echo $translator['DES_ADD_NAME_TO_WOW']; ?></p>
    </div> 
   
    
    <div class="file-wrapper" href="#">
        <h1><?php echo $translator['H_ADD_PHOTO_TO_FOF']; ?></h1>
		<a href="/add-fof-image" class="link"><?php echo $translator['H_ADD_PHOTO_TO_FOF']; ?></a>
        <p><?php echo $translator['DES_ADD_PHOTO_TO_FOF']; ?></p>
    </div>
    
    
    <div class="file-wrapper" href="#">
        <h1><?php echo $translator['H_DONATE']; ?></h1>
		 <a href="/donate" class="link"><?php echo $translator['H_DONATE']; ?></a>
        <p><?php echo $translator['DES_DONATE']; ?></p>
    </div>
   
    
    <div class="file-wrapper" href="#">        
        <h1><?php echo $translator['H_PASSENGER_SEARCH']; ?></h1>    
		<a href="/passenger" class="link"><?php echo $translator['H_PASSENGER_SEARCH']; ?></a>		
        <p><?php echo $translator['DES_PASSENGER_SEARCH']; ?></p>
    </div>
    
    
</div>