<?php
/**
 * This file is used for user oral history search data
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/user.my_document_searches.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="line-container">
    <div class="detail-box">
        <div class="icon"><img class="float-left" alt="" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-icon1.png"> <img alt="" class="arrow" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-arrow.png"></div>
        <div class="top-row">
            <h2><?php echo $translator['T_ORAL_HISTORY_SEARCHES']; ?></h2>
            <a href="/oral-history-library" class="button right">Search</a>
            <?php
            if ($membershipId == 1) {
                ?>
                <a class="button green right m-r-5" href="/member-benefit">Become a member</a>
                <span>Need more?</span>
            <?php }
            ?>
        </div>
        <?php
        $isloadmoreOralHistorySearch = false;
        if (isset($oralHistorySearch) && !empty($oralHistorySearch)) {
            ?>
            <!--<div class="pageing">
                <ul>
                    <?php
                    //foreach ($oralHistorySearch as $val) {                         

                        ?>
                        <li><strong><?php //echo count($oralHistorySearch); ?></strong></li>
                        <li>of</li>
                        <li><?php //echo $maxSearchCountOHR; ?></li>
                        <li>max </li>
                        <?php
                   // }
                    ?>
                </ul>
            </div>-->
            <?php
            if (count($oralHistorySearch) > 4) {
                echo '<a class="plus" id="plus_loadMmore_oralHistorySearch" href="javascript:void(0);" onclick=loadMore("loadMmore_oralHistorySearch");></a>';
                $isloadmoreOralHistorySearch = true;
            }
            ?>
            <div class="row-sep">
                <?php
                foreach ($oralHistorySearch as $key => $val) {
                    if ($key % 2 == 0) {
                        $class = 'col-left';
                    } else {
                        $class = 'col-right';
                    }
                    if ($key < 4) {
                        ?>
                        <div class="<?php echo $class; ?>" id="manifest_search_<?php echo $val['search_id']; ?>">
                            <strong><?php echo $val['title']; ?></strong>
                            <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                            <a href="/oral-history-library/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                            <a href="javascript:void(0);" onclick="deleteOralHistorySearch('<?php echo $val['search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                        </div>
                        <?php
                    }
                }
                if ($isloadmoreOralHistorySearch) {
                    echo "<div id='loadMmore_oralHistorySearch' style='display:none;'>";
                    foreach ($oralHistorySearch as $key => $val) {
                        if ($key % 2 == 0) {
                            $class = 'col-left';
                        } else {
                            $class = 'col-right';
                        }
                        if ($key >= 4) {
                            ?>
                            <div class="<?php echo $class; ?>" id="manifest_search_<?php echo $val['search_id']; ?>">
                                <strong><?php echo $val['title']; ?></strong>
                                <span><?php echo $this->Dateformatalpha($val['save_date'], 'calender'); ?></span>
                                <a href="/oral-history-library/<?php echo $this->Encrypt($val['search_id']); ?>"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-search.png"></a>
                                <a href="javascript:void(0);" onclick="deleteOralHistorySearch('<?php echo $val['search_id']; ?>');"><img class="float-left" alt="delete" title="delete" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/my-delete.png"></a>
                            </div>
                            <?php
                        }
                    }
                    echo "</div>";
                }
                ?>
            </div>
            <?php
        } else {
            echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
        }
        ?>
    </div>
</div>

<div style='display:none'>
    <div id='oral_history_search' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['REMOVE_SEARCH']; ?></h1>
        <p><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></p>      
        <input type="button" value="Remove" name="yes" id="yes_oh_search" class="button semibold">
        <input type="button" value="Cancel" name="no" id="no_oh_search" class="button green semibold">     
    </div>
</div>