 <?php
 $translator = $jsLangTranslate;
    if (isset($userAddressInfo) && !empty($userAddressInfo)) {
     
                ?>
                <div class="box">
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <th width="5%">&nbsp;</th>
                                <th width="22%"><?php echo $translator['TYPE']; ?></th>
                                <th width="58%"><?php echo $translator['ADDRESS']; ?></th>
                                <th width="15%">&nbsp;</th>                            
                            </tr>
                            <?php
                               $i = 0;
        foreach ($userAddressInfo as $val) {
            $phoneBillingType = false;
            if (isset($val['location_name']) && $val['location_name'] != '') {
                $locationType = explode(",", $val['location_name']);

                if (in_array(2, $locationType)) {
                    $phoneBillingType = true;
                }
            }
            if ($phoneBillingType) {
                ?>
                            <tr>
                                <td>
                                    <input type="radio" name="address_id" value="<?php echo $val['address_information_id']; ?>" <?php if ($i == 0) echo "checked"; ?>/>
                                </td>
                                <td>
                                    Billing
                                </td>
                                <td>
                                    <?php
                                    $addressInfo = array();
                                    if (isset($val['street_address_one']) && $val['street_address_one'] != '') {
                                        $addressInfo[] = $val['street_address_one'];
                                    }
                                    if (isset($val['street_address_two']) && $val['street_address_two'] != '') {
                                        $addressInfo[] = $val['street_address_two'];
                                    }
                                    if (isset($val['city']) && $val['city'] != '') {
                                        $addressInfo[] = $val['city'];
                                    }
                                    if (isset($val['state']) && $val['state'] != '') {
                                        $addressInfo[] = $val['state'];
                                    }
                                    if (isset($val['country_name']) && $val['country_name'] != '') {
                                        $addressInfo[] = $val['country_name'];
                                    }
                                    if (!empty($addressInfo)) {
                                        echo implode(",", $addressInfo);
                                        if (isset($val['zip_code']) && $val['zip_code'] != '') {
                                            echo "-" . $val['zip_code'];
                                        }
                                    }
                                    ?>
                                </td>
                                <td>
                                    <span class="right">
                                        <a href="javascript:void(0);" onclick="addEditAddressInfo('<?php echo $val['address_information_id']; ?>','creditCard');"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/edit-icon.png"></a>
                                        <a href="javascript:void(0);" onclick="deleteAddressInfo('<?php echo $val['address_information_id']; ?>','creditCard');"><img alt="" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/my-delete.png"></a>
                                    </span>
                                </td>
                            </tr>
                            <?php 
                                   $i++;
                            }
                        }
                        ?>
                        </tbody></table>
                </div>
                <?php
         
    } else {
        echo '<div class="no-record">' . $translator['NO_RECORD'] . '</div>';
    }
    ?>