<?php
/**
 * This file is used for user fof setting
 * @package    User
 * @author     Icreon Tech - DG
 */
 echo $this->headScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script>
    $(function() {
        parent.$('#success_message').css({"display":"none"});
        $('#update_fof_setting').click(function(){    
            showAjxLoader();
            $.ajax({
                type: "POST",
                url: '/user-fof-setting/'+$('#fof_id').val(),
                data: $('#fof_setting').serialize(),
                success: function(response){
                    hideAjxLoader();
                    var jsonObj =  jQuery.parseJSON(response);
                    if(jsonObj.status == 'success'){
                      //  parent.$('#success_message').css({"display":"block"});
                       // parent.$('#success_message > div.success_message').html(jsonObj.message);
                        
                        parent.$("#tab-3").click();
                        parent.jQuery.colorbox.close();
                        //setTimeout(function() {  parent.$('#success_message').css({"display":"none"}); },10000);
                    }                    
                }
            });
        });
    });
</script>
<div class="inner-popup-detail">
    <h1>
        Flag of Faces Settings
    </h1>
    <p>
        The following setting dictate if your information will appear on Ellis Island/Web Flag of Faces. The information will be still searchable. 
    </p>
    <div>
        <form name='fof_setting' id="fof_setting" method="post">
            <input type="hidden" name="fof_id" value='<?php echo $fofSetting[0]['fof_id']; ?>' id="fof_id">
            <div class="flag-section">
                <div class="float-left">
                    <?php 
                      if(isset($fofSetting[0]['fof_image']) and trim($fofSetting[0]['fof_image']) != "" and file_exists($assetsUploadDir.'/'.trim($fofSetting[0]['fof_image']))) { 
                             echo '<img alt="" src="' . $uploadedFilePath.'/'.$fofSetting[0]['fof_image'] . '" class="member-profile">'; 
                        }
                        else {
                            echo '<img alt="" src="' . $this->layout()->getVariable('imageFilePath') . '/images/fof-profile-large.jpg" class="member-profile">'; 
                        }   
                    ?>
                </div>

                <div class="detail-section">
                    <div class="row">
                        <label>Name : <?php echo $fofSetting[0]['people_photo']; ?></label>
                        <input type="radio" name='is_people_photo_visible' id='is_people_photo_visible' value="1" <?php if ($fofSetting[0]['is_people_photo_visible'] == '1') echo 'checked'; ?>> Visible
                        <input type="radio" name='is_people_photo_visible' id='is_people_photo_visible' value="0" <?php if ($fofSetting[0]['is_people_photo_visible'] == '0') echo 'checked'; ?>> Hidden
                    </div>
                    <div class="row">
                        <label>Caption : <?php echo $fofSetting[0]['photo_caption']; ?></label>
                        <input type="radio" name='is_photo_caption_visible' id='is_photo_caption_visible' value="1" <?php if ($fofSetting[0]['is_photo_caption_visible'] == '1') echo 'checked'; ?>> Visible
                        <input type="radio" name='is_photo_caption_visible' id='is_photo_caption_visible' value="0" <?php if ($fofSetting[0]['is_photo_caption_visible'] == '0') echo 'checked'; ?>> Hidden
                    </div>
                </div>
            </div>

            <div>            
                <input type="button" name='cancel' class="button semibold" value="Cancel" id='cancel' onclick="parent.jQuery.colorbox.close();">
                <input type="button" name='update_fof_setting' class="button green semibold" id='update_fof_setting' value="Update">
            </div>
        </form>
    </div>
</div>