<?php
/**
 * This file is used for user contact data
 * @package    User
 * @author     Icreon Tech - DG
 */

$facebookUserId = $this->facebookUserId;
$emailId = $this->emailId;
$fbLoginUrl = $this->fbLoginUrl;
$fbLogoutUrl = $this->fbLogoutUrl;
$jsLangTranslate = $this->jsLangTranslate;

$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script>
<?php echo $var; ?>
    function disconnectFacebook(){
        $.colorbox({
            href:"#disconnect_facebook", 
            width:"700px", 
            height:"260px",
            inline: true
        });
        $("#no_disconnect").click(function(){
            $.colorbox.close();
            $('#no_disconnect').unbind('click');
            return false;
        });
        $("#yes_disconnect").click(function()
        {            
            $.ajax({
                type: 'POST',
                data: {
                    //programId:programId
                },
                url: '/user-social-info',
                success: function(response)
                {
                    var jsonObj =  jQuery.parseJSON(response); 
                    if(jsonObj.status == 'success')
                    {
						parent.jQuery.colorbox.close();
						$("#tab-8").click();
                        location.href="#topOfProfilePage";
                        //window.location.href='<?php //echo $fbLogoutUrl;?>';
                        //window.parent.location.reload();
                    }
                }
            });
        });
    }
	
	
function popupwindow(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 

</script>
<div class="middle-section">
    <div style="" class="preferences-page">
        <h2><?php echo $translator['H_FACEBOOK']; ?><a title="Close" href="javascript:void(0);" onclick="goToProfile();" class="close"></a></h2>
        <div class="add-info">
            <div class="field-row">
                <?php
                if (isset($facebookUserId) && $facebookUserId > 0) {
                    if ($emailId != '')
                        echo "Currently you are connected with $emailId - Click here to <a href='javascript:void(0);' onclick='disconnectFacebook();'>Disconnect account</a>";
                    else
                        echo "Currently you are connected with Facebook Account. Click here to <a href='javascript:void(0);' onclick='disconnectFacebook();'>Disconnect account</a>";
                }else {
                    echo '<strong>Currently you are not connected : click here to connect accounts.</strong>';
					echo '<p>&nbsp;</p>';?>
					 <a href="javascript:void(0)" onclick="popupwindow('<?php echo $fbLoginUrl;?>','FacebookLogin','840','440')" class="clearfix facebook"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/login-fb-icon.jpg" class="float-right"></a>
                <?php }
                ?>

            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='disconnect_facebook' class="inner-popup-detail">
        <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['DISCONNECT_FB']; ?></h1>
        <p><?php echo $translator['ARE_SURE_DISCONNECT']; ?></p>
		
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_disconnect" class="button semibold">
            <input type="button" value="No" name="no" id="no_disconnect" class="button green semibold">
        </div>
    </div>
</div>