<?php
/**
 * This file is used for dislay message center
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$jsLangTranslate = $this->jsLangTranslate;
$profileMissing = $this->profileMissing;
$wohMissing = $this->wohMissing;
$profilepath = $this->profilepath;
$membershipExpire = $this->membershipExpire;
$translator = $jsLangTranslate;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
<script type="text/javascript">
    
    $(function(){
        $('.scroll-pane').jScrollPane();
    });
    
</script>
<?php
$latestAnnoucment = $this->getLatestAnnoucment;
?>
<h2><?php echo $translator['H_MESSAGE_CENTER']; ?></h2>
<div class="scroll-pane message-scroll">
    <ul>
        <?php
        if ($profileMissing || $wohMissing || $membershipExpire || (is_array($latestAnnoucment) and count($latestAnnoucment) > 0)) {
            if ($profileMissing) {
                ?>
                <li>
                    <span><a href="/edit-user-info/<?php echo $this->Encrypt($profilepath); ?>"><?php echo $translator['PROFILE_DETAIL_MISSING']; ?></a><a href="/edit-user-info/<?php echo $this->Encrypt($profilepath); ?>"><small></small></a></span>
                   <!-- <a class="more" href="/edit-user-info/<?php //echo $this->Encrypt($profilepath); ?>"><?php //echo $translator['VIEW_MESSAGE']; ?></a> -->

                </li>

                <?php
            }
            if ($wohMissing) {
                ?>
                <li>
                    <span><a href="/profile/<?php echo $this->Encrypt('woh'); ?>"><?php echo $translator['BIO_WOH_PENDING']; ?></a><a  href="/profile/<?php echo $this->Encrypt('woh'); ?>"><small></small></a></span>
                   <!-- <a class="more" href="/profile/<?php //echo $this->Encrypt('woh'); ?>"><?php //echo $translator['VIEW_MESSAGE']; ?></a>-->
                </li>            
                <?php
            }
            if ($membershipExpire) {
                ?>
                <li>
                    <span><a href="/member-benefit"><?php echo $translator['MEMBERSHIP_ABT_EXPIRE']; ?></a><a href="/member-benefit"><small></small></a></span>
                    <!--<a class="more" href="/member-benefit"><?php //echo $translator['VIEW_MESSAGE']; ?></a>-->
                </li>            
                <?php
            }
           if (isset($latestAnnoucment) and is_array($latestAnnoucment) and count($latestAnnoucment) > 0) {
                ?>
                                  
                  <?php foreach($latestAnnoucment as $laVal) { ?>
                      <li>  
                          <span>
                                <?php  if(isset($laVal['content_url']) and trim($laVal['content_url']) != "") { ?>     
                                   <a href="<?php echo trim($laVal['content_url']); ?>"><?php echo $laVal['content_title']; ?></a>
                                   <a href="<?php echo trim($laVal['content_url']); ?>" target="_blank" ><small></small></a>
                               <?php   } 
                                   else { 
                                       echo $laVal['content_title'];
                                   }
                                ?>
                            </span>
                    </li> 
                   <?php } ?>
                           
                <?php
            }
        } else {
            ?>
                <span class="error-msg-front">No alert available at this moment.</span>
            <?php
        }
        ?>
    </ul>
</div>
<?php
?>