<?php
/**
 * This file is used for edit BIO woh
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>

<div class="inner-popup-detail">
    <h1><?php echo $translator['H_WOH_ARRIVAL_ARCHIVE']; ?></h1>
    <div>        
        <div class="form-sep">
            <div class="col7">
                <label><?php echo $translator['L_NAME']; ?>:</label>
                <?php echo $bioWohData['name']; ?>
            </div>
            <div class="col7 float-right">
                <label><?php echo $translator['L_IMMIGRATED_FORM']; ?>:</label>
                <?php echo $bioWohData['immigrated_from']; ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col7">
                <label><?php echo $translator['L_SHIP_METHOD']; ?>:</label>
                <?php echo $bioWohData['method_of_travel']; ?>
            </div>
            <div class="col7 float-right">
                <label><?php echo $translator['L_PORTOFENTRY']; ?>:</label>
                <?php echo $bioWohData['port_of_entry']; ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col7">
                <label><?php echo $translator['L_DATEOFENTRY']; ?>:</label>
               <div class="popup-calender"> <?php echo $this->Dateformatalpha($bioWohData['date_of_entry_to_us'],'calender'); ?></div>
            </div>
            <div class="col7 float-right">
                <label><?php echo $translator['L_ADDITIONAL_INFO']; ?>:</label>
                <?php echo nl2br($bioWohData['additional_info']); ?>
            </div>
        </div>
    </div>
</div>