<script>
    $(function(){
        $("#add_to_cart_woh").click(function(){ 
            var total = $(".woh_transaction:checked").size();
            if(total == 0)
            {
                $("#checkbox_selection").html('Select any wall of honor');
                return false;
            }
            var additional_products= $("#woh_copies").serialize();
            var val = [];
            $('.woh_transaction:checked').each(function(i){
                val[i] = $(this).val();
            }); 
            var comma_separated_tra=val.join(",")
            var urlstr = additional_products+"&woh_id="+comma_separated_tra+"&woh=1&product_mapping_id=7&date_of_entry_to_us=";
            $.ajax({
                type: "POST",
                url: "/get-transaction-addtocart",
                beforeSend:function(){
                    showAjxLoader();
                },
                data: urlstr,           
                success: function(responseData){
                    hideAjxLoader();
                    authenticateUserBeforeAjax();
               
                    var jsonObj =  jQuery.parseJSON(responseData);
                    if(jsonObj.status =='success'){                    
                        location.href = '/cart';
                    }
                }
            });
        
        });
    });
</script>
<style>
    .mar-top-8{margin-top:8px !important}
    .mar-top-8 tr td{padding:5px !important;}
</style>
<?php if (!empty($productResult)) { ?>
    <form id="woh_copies">
        <div id="addition-items">
            <h1>Additional items</h1>
            <table cellspacing="0" cellpadding="0" border="0" class="mar-top-8 " width="100%">
                <tbody>
                    <?php
                    foreach ($productResult as $key => $val) {
                        $image = explode(',', $val['product_image']);
                        
                        
                        
                        if ($key == 'Additional') {
                            ?>
                            <tr>
                                <td class="woh-img">
                                    <img src="<?php echo $path . $image[0]; ?>">
                                </td>
                                <td><?php echo $val['product_name']; ?></td>
                                <td>
                                    <input type="text" id="<?php echo $key; ?>" name="<?php echo $key; ?>" class="number-items" value="1">
                                    <input type="hidden" id="pro_<?php echo $key; ?>" name="pro_<?php echo $key; ?>" class="number-items" value="<?php echo $val['product_id']; ?>">
                                    <span class="multiply">x</span> <span class="order-amount">$<?php 
                                    if (!empty($discount) && $val['is_membership_discount']==1) {
                                
		                                $calDiscount = $this->Roundamount(($val['product_sell_price'] * $discount) / 100);
		                                echo ($val['product_sell_price'] - $calDiscount);
		                            }
                                    else {
                                        echo $val['product_sell_price']; 
                                    }
                                    ?></span></td>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                            
                            <?php                   
                         
           foreach ($productResult as $key => $val) {
                        $image = explode(',', $val['product_image']);                   
        if ($key == 'Personalized') {
            ?>
                            <tr>
                                <td class="woh-img">                                    
                                    <img src="<?php echo $path . $image[0]; ?>">
                                </td>
                                <td><?php echo $val['product_name']; ?></td>
                                <td>
                                    <input type="text" id="<?php echo $key; ?>" name="<?php echo $key; ?>" class="number-items" value="<?php
                               if ($panelNo != '0') {
                                   echo '1';
                               } else {
                                   echo '0';
                               }
                               ?>" <?php
                               if ($panelNo != '0') {
                                   echo '';
                               } else {
                                   echo 'readonly';
                               }
            ?>>
                                    <input type="hidden" id="pro_<?php echo $key; ?>" name="pro_<?php echo $key; ?>" class="number-items" value="<?php echo $val['product_id']; ?>">
                                    <span class="multiply">x</span> <span class="order-amount">$<?php echo $val['product_sell_price']; ?></span></td>
                            </tr>
            <?php
        }
        ?>
        <?php
    }
    ?>
                            
                            <?php
                         foreach ($productResult as $key => $val) {
                        $image = explode(',', $val['product_image']);
                        if ($key == 'Boi') {
                            ?>
                            <tr>
                                <td class="woh-img">
                                    <img src="<?php echo $path . $image[0]; ?>">
                                </td>
                                <td><?php echo $val['product_name']; ?></td>
                                <td>
                                    <input type="hidden" id="bioCertificateProdId" name="bioCertificateProdId" value="<?php echo $this->bioCertificateProdId; ?>" />
                                    <input type="text" id="<?php echo $key; ?>" name="<?php echo $key; ?>" class="number-items" value="<?php
                if ($panelNo != '0' && $isFinalize != '0') {
                    echo '1';
                } else {
                    echo '0';
                }
                            ?>" <?php
                               if ($panelNo != '0' && $isFinalize != '0') {
                                   echo '';
                               } else {
                                   echo 'readonly';
                               }
                               ?>>
                                    <input type="hidden" id="pro_<?php echo $key; ?>" name="pro_<?php echo $key; ?>" class="number-items" value="<?php echo $val['product_id']; ?>">
                                    <span class="multiply">x</span> <span class="order-amount">$<?php echo $val['product_sell_price']; ?></span></td>
                            </tr>
            <?php
        }
                         }
                 ?>
                            
         
                    <tr>
                        <td colspan="3"><input type="button" value="Add to cart" id="add_to_cart_woh" class="semibold button pink">
                            <br>
                            <label for="amount" id="checkbox_selection" generated="true" class="error"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <?php
}
?>