<?php
/**
 * This page is use for add, edit ,list and delete crm role
 * @package    User
 * @author     Icreon Tech - AP
 */

$translator = $jsLangTranslate;

$var = '';


$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.role.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath'). '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_USER_ROLES']?></h2>
    <div class="breadcrumb">
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_USER_ROLE'] ?></span></div>
        <div class="detail-section">
            <div class="grid-section">
                <div class="grid-box" id="gview_list">
                    <table id="list"></table>
                    <div id="pcrud"></div>
                    <br><br>
                </div>
            </div>
        </div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section1 common-form">
            <div class="full row no-padd">
                <label>Name:</label>
                <?php echo $this->formRow($form->get('role_name')); ?>
                <?php echo $this->formRow($form->get('csrf')); ?>
                <?php echo $this->formRow($form->get('savebutton')); ?>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>

<div style='display:none'>
    <div id='delete_role' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ROLE_MESSAGE'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_role" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_role" class="green-btn">
        </div>
    </div>
</div>