<style>
   
.create-contacts .row{padding-bottom: 30px}
</style>
<?php
/**
 * This page is use for create crm user
 * @package    User
 * @author     Icreon Tech - AP
 */

$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/user/jquery.validate.password.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.crmuser.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_USER']?></h2>
      <div class="breadcrumb"><?php echo $translator['L_USER'].' '.$translator['L_SYMBOL'].' '.$translator['L_CREATE']?> </div>
   
    <div class="accordion-detail">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_BASIC_INFO']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_EMAIL_ADDRESS'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('crm_email_id')); ?>
                        </div>
                    <div class="col1 right two-line-error">
                        <label><?php echo $translator['L_PASSWORD'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('password')); ?>
                        <div class="full">
                            <label>&nbsp;</label>
                        	  <div class="password-meter" >
	  					<div class="password-meter-message">Too Short</div>
	  					<div class="password-meter-bg">
		  					<div class="password-meter-bar"></div>
	  					</div>
	  				</div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CON_PASS'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('password_conf')); ?>
                    </div>
                    <div class="col1 right">
					  <label><?php echo $translator['L_STATUS'] ?><span class="red">*</span></label>
                    <span class="radio-label"><?php echo $this->formRow($form->get('status')); ?></span>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1 left-p-none">
                        <label><?php echo $translator['L_ROLE'] ?><span class="red">*</span></label>
                        <div class="col3">
                            <?php 
                            echo (!empty($this->userRole))?$this->formRow($form->get('role')):''; ?>
                        </div>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_REPORT_TO'] ?></label>                   
                            <?php echo $this->formRow($form->get('report_to')); ?>                         
                            <?php echo $this->formRow($form->get('report_to_id')); ?>                     
                        </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_ADDRESS_INFO'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FIRST_NAME'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_LAST_NAME'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('last_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PHONE'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('phone_no')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ADDRESS'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('address')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CITY'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('city')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_STATE'] ?></label>
                        <div id="state_text_block" style="display:none;">
                        <?php echo $this->formRow($form->get('state')); ?>
                        </div>
                        <div id="state_select_block">
                            <?php echo $this->formRow($form->get('state_select')); ?>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ZIP'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('zip')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_COUNTRY'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('country_id')); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_UPLOAD_PICTURE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_UPLOAD_FILE'] ?></label>
                        <?php echo $this->formRow($form->get('virtualface')); ?>
                        <?php echo $this->formRow($form->get('thumbnail_virtualface')); ?>
                        <div class="full m-t-5">
                            <label>&nbsp;</label>
                        <div id="filemessage"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row common-form m-t-20">
            <?php //echo $this->formRow($form->get('submit')); ?>
            <input id="submitbutton" class="save-btn" type="submit" value="Save" name="submit" readonly=readonly>
            <?php echo $this->formRow($form->get('cancel')); ?>
		    <?php //echo $this->formRow($form->get('csrf')); ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>