<?php
/**
 * This file is used to change crm user password
 * @package    User
 * @author     Icreon Tech - AP
 */

$translator = $jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/user/jquery.validate.password.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.password.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<style>
.conform-psd label.error{width:318px !important; top:-17px; left:0px; white-space: normal; background:url("<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/error-bg-2.png") no-repeat 0 bottom}
label.error{top:0px; left:0px}
.password-meter{margin-top:10px;}
</style>
<div class="create-contacts create-contact-page">
    <div class="accordion-detail">
        <div id="contact_individual_div">
            <div id="success-message" class="success-msg" style="display:none;"></div>
            <?php
            $form = $this->form;
           $form->setAttribute('id','changePassword');
           $form->setAttribute('name','changePassword');
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
			<div class="pop-container">
           <h3>Change Password<?php //echo $translator['L_CONTACT_INFORMATION']; ?></h3>
            <div class="detail-section" style="display: block;">
                <div class="common-form">
                    <fieldset>
                        <div class="row">
                            <div class="col1">     
                                <label><?php echo $translator['L_PASSWORD']; ?>:</label>
                                <?php echo $this->formRow($form->get('password')); ?>
                                                       <div class="password-meter" style="">
	  					<div class="password-meter-message">Too Short</div>
	  					<div class="password-meter-bg">
		  					<div class="password-meter-bar"></div>
	  					</div>
	  				</div></div>
                            <div class="col1 right conform-psd"> 
                                <label><?php echo $translator['L_CON_PASS']; ?>:</label>
                                <?php echo $this->formRow($form->get('password_conf')); ?> 
  
     
                            </div>
                        </div>
                        <div class="row">
                            <?php echo $this->formRow($form->get('crm_user_id')); ?>
							<?php echo $this->formRow($form->get('csrf')); ?>
                            <?php echo $this->formRow($form->get('submit')); ?>
                            
                        </div>

                    </fieldset>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?> 
			</div>
			</div>
    </div>
</div>

