<?php
$this->headLink()->prependStylesheet($this->layout()->getVariable('jsFilePath').'/js/jQplot/jquery.jqplot.css');
?>
<style>
    .ui-jqgrid tr.ui-row-ltr td{text-align: left; padding:5px 10px !important; vertical-align: middle}
</style>

<?php
/**
 * This page is use for dashboard
 * @package    User
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
?>
<script>
    
<?php
if (!empty($getCrmUserDashlets)) {
    foreach ($getCrmUserDashlets as $val) {
        if ($val['dashlet_id'] == 13) {
            foreach ($getCrmSavedSearches as $searchKey => $searchVal) {
                if ($searchVal['search_id'] == $val['search_id'] && $searchVal['search_type'] == $val['search_type']) {
                    $displayColumnNameArr = explode(",", $searchVal['display_column_names']);
                    $displayColumnNames = '';
                    foreach ($displayColumnNameArr as $displayColumnVal) {
                        $displayColumnNames .= "'" . $displayColumnVal . "',";
                    }
                    $displayColumnNames = trim($displayColumnNames, ",");

                    $tableColumnNameArr = explode(",", $searchVal['table_column_names']);
                    $tableColumnNames = '';
                    foreach ($tableColumnNameArr as $tableColumnVal) {
                        $tableColumnNames .= "'" . $tableColumnVal . "',";
                    }
                    $tableColumnNames = trim($tableColumnNames, ",");
                    if ($searchVal['search_type'] == '1') {
                        ?>
                                                    var searchArr = new Array();
                                                    searchArr['path']  =  '/search-contact';

                                                    searchArr['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr['sortable']  =  [true,true,true,true];
                                                    searchArr['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr);
                                                    });

                        <?php
                    } else if ($searchVal['search_type'] == '2') {
                        ?>
                                                    var searchArr2 = new Array();
                                                    searchArr2['path']  =  '/cases';
                                                    searchArr2['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr2['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr2['sortable']  =  [true,true,true,true];
                                                    searchArr2['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr2);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '3') {
                        ?>
                                                    var searchArr3 = new Array();
                                                    searchArr3['path']  =  '/pledges';
                                                    searchArr3['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr3['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr3['sortable']  =  [true,true,true,true];
                                                    searchArr3['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr3);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '4') {
                        ?>
                                                    var searchArr4 = new Array();
                                                    searchArr4['path']  =  '/search-leads';
                                                    searchArr4['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr4['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr4['sortable']  =  [true,true,true,true];
                                                    searchArr4['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr4);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '5') {
                        ?>
                                                    var searchArr5 = new Array();
                                                    searchArr5['path']  =  '/get-search-campaign';
                                                    searchArr5['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr5['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr5['sortable']  =  [true,true,true,true];
                                                    searchArr5['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr5);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '6') {
                        ?>
                                                    var searchArr6 = new Array();
                                                    searchArr6['path']  =  '/activities';
                                                    searchArr6['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr6['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr6['sortable']  =  [true,true,true,true];
                                                    searchArr6['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr6);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '7') {
                        ?>
                                                    var searchArr7 = new Array();
                                                    searchArr7['path']  =  '/get-crm-search-product';
                                                    searchArr7['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr7['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr7['sortable']  =  [true,true,true,true];
                                                    searchArr7['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr7);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '8') {
                        ?>
                                                    var searchArr8 = new Array();
                                                    searchArr8['path']  =  '/crm-transactions';
                                                    searchArr8['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr8['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr8['sortable']  =  [true,true,true,true];
                                                    searchArr8['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr8);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '9') {
                        ?>
                                                    var searchArr9 = new Array();
                                                    searchArr9['path']  =  '/list-crm-rma';
                                                    searchArr9['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr9['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr9['sortable']  =  [true,true,true,true];
                                                    searchArr9['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr9);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '10') {
                        ?>
                                                    var searchArr10 = new Array();
                                                    searchArr10['path']  =  '/get-crm-search-passenger';
                                                    searchArr10['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr10['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr10['sortable']  =  [true,true,true,true];
                                                    searchArr10['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr10);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '11') {
                        ?>
                                                    var searchArr11 = new Array();
                                                    searchArr11['path']  =  '/get-crm-search-ship';
                                                    searchArr11['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr11['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr11['sortable']  =  [true,true,true,true];
                                                    searchArr11['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr11);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '12') {
                        ?>
                                                    var searchArr12 = new Array();
                                                    searchArr12['path']  =  '/get-crm-shipline';
                                                    searchArr12['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr12['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr12['sortable']  =  [true,true,true,true];
                                                    searchArr12['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr12);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '13') {
                        ?>
                                                    var searchArr13 = new Array();
                                                    searchArr13['path']  =  '/crm-search-manifest';
                                                    searchArr13['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr13['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr13['sortable']  =  [true,true,true,true];
                                                    searchArr13['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr13);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '14') {
                        ?>
                                                    var searchArr14 = new Array();
                                                    searchArr14['path']  =  '/get-crm-annotation-correction';
                                                    searchArr14['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr14['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr14['sortable']  =  [true,true,true,true];
                                                    searchArr14['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr14);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '15') {
                        ?>
                                                    var searchArr15 = new Array();
                                                    searchArr15['path']  =  '/crm-family-history';
                                                    searchArr15['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr15['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr15['sortable']  =  [true,true,true,true];
                                                    searchArr15['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr15);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '16') {
                        ?>
                                                    var searchArr16 = new Array();
                                                    searchArr16['path']  =  '/crm-quizes';
                                                    searchArr16['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr16['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr16['sortable']  =  [true,true,true,true];
                                                    searchArr16['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr16);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '17') {
                        ?>
                                                    var searchArr17 = new Array();
                                                    searchArr17['path']  =  '/list-blogs';
                                                    searchArr17['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr17['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr17['sortable']  =  [true,true,true,true];
                                                    searchArr17['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr17);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '18') {
                        ?>
                                                    var searchArr18 = new Array();
                                                    searchArr18['path']  =  '/crm-user-assignment-search';
                                                    searchArr18['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr18['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr18['sortable']  =  [true,true,true,true];
                                                    searchArr18['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr18);
                                                    });
                        <?php
                    } else if ($searchVal['search_type'] == '19') {
                        ?>
                                                    var searchArr19 = new Array();
                                                    searchArr19['path']  =  '/crm-promotion';
                                                    searchArr19['colName']  =  [<?php echo $displayColumnNames; ?>];
                                                    searchArr19['indexName']  =  [<?php echo $tableColumnNames; ?>];
                                                    searchArr19['sortable']  =  [true,true,true,true];
                                                    searchArr19['sortName']  =  '<?php echo $searchVal['sort_order']; ?>';
                                                    $(function() {
                                                        drawSearchGrid(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $searchVal['search_type']; ?>,'<?php echo $searchVal['search_query']; ?>',searchArr19);
                                                    });
                        <?php
                    }
                }
            }
        } else {
            $displayDashletColumnNameArr = array();
                    
            $displayDashletColumnNameArr = explode(",", $val['display_column_names']);
             
            $displayDashletColumnNames = '';
            foreach ($displayDashletColumnNameArr as $displayDashletColumnVal) {
                $displayDashletColumnNames .= "'" . $displayDashletColumnVal . "',";
            }     
            $displayDashletColumnNames = trim($displayDashletColumnNames, ",");
            $tableDashletColumnNameArr = explode(",", $val['table_column_names']);
            $tableDashletColumnNames = '';
            foreach ($tableDashletColumnNameArr as $tableDashletColumnVal) {
                $tableDashletColumnNames .= "'" . $tableDashletColumnVal . "',";
            }
            $tableDashletColumnNames = trim($tableDashletColumnNames, ",");
            if ($val['dashlet_id'] == 6) {
                ?>
                                    var searchDashletArr6 = new Array();
                                    searchDashletArr6['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr6['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr6['sortable']  =  [true,true,true,true];
                                    searchDashletArr6['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                    searchDashletArr6['newContact']  =  '<?php echo $this->Encrypt(1); ?>';                                                                                                            
                                    $(function() {
                                        drawDashletGrid6(<?php echo $val['dashlet_id']; ?>,searchDashletArr6);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 8) {
                ?>
                                    var searchDashletArr8 = new Array();
                                    searchDashletArr8['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr8['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr8['sortable']  =  [false,false,false,false];
                                    searchDashletArr8['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid8(<?php echo $val['dashlet_id']; ?>,searchDashletArr8);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 1) {
                ?>
                                    var searchDashletArr1 = new Array();
                                    searchDashletArr1['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr1['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr1['sortable']  =  [true,true,true,true];
                                    searchDashletArr1['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid1(<?php echo $val['dashlet_id']; ?>,searchDashletArr1);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 7) {
                ?>
                                    var searchDashletArr7 = new Array();
                                    searchDashletArr7['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr7['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr7['sortable']  =  [true,true,true,true];
                                    searchDashletArr7['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid7(<?php echo $val['dashlet_id']; ?>,searchDashletArr7);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 11) {
                ?>
                                    var searchDashletArr11 = new Array();
                                    searchDashletArr11['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr11['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr11['sortable']  =  [true,true,true,true];
                                    searchDashletArr11['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid11(<?php echo $val['dashlet_id']; ?>,searchDashletArr11);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 12) {
                ?>
                                    var searchDashletArr12 = new Array();
                                    searchDashletArr12['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr12['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr12['sortable']  =  [true,true,true,true];
                                    searchDashletArr12['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid12(<?php echo $val['dashlet_id']; ?>,searchDashletArr12);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 10) {
                ?>
                                    var searchDashletArr10 = new Array();
                                    searchDashletArr10['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr10['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr10['sortable']  =  [true,true,true,true];
                                    searchDashletArr10['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid10(<?php echo $val['dashlet_id']; ?>,searchDashletArr10);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 14) {
                ?>
                                    var searchDashletArr14 = new Array();
                                    searchDashletArr14['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr14['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr14['sortable']  =  [true,true,true,true];
                                    searchDashletArr14['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid14(<?php echo $val['dashlet_id']; ?>,searchDashletArr14);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 9) {
                ?>
                                    var searchDashletArr9 = new Array();
                                    searchDashletArr9['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr9['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr9['sortable']  =  [true,true,true,true];
                                    searchDashletArr9['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid9(<?php echo $val['dashlet_id']; ?>,searchDashletArr9);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 4) {
                ?>
                                    var searchDashletArr4 = new Array();
                                    searchDashletArr4['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr4['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr4['sortable']  =  [true,true,true,true];
                                    searchDashletArr4['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid4(<?php echo $val['dashlet_id']; ?>,searchDashletArr4);
                                    });
                <?php
            }
            if ($val['dashlet_id'] == 3) {
                ?>
                                    var searchDashletArr3 = new Array();
                                    searchDashletArr3['colName']  =  [<?php echo $displayDashletColumnNames; ?>];
                                    searchDashletArr3['indexName']  =  [<?php echo $tableDashletColumnNames; ?>];
                                    searchDashletArr3['sortable']  =  [true,true,true,true];
                                    searchDashletArr3['sortName']  =  '<?php echo $val['sort_order']; ?>';
                                                                                                            
                                    $(function() {
                                        drawDashletGrid3(<?php echo $val['dashlet_id']; ?>,searchDashletArr3);
                                    });
                <?php
            }

        }
    }
}
?>

</script>
<script>
    function barChartMonth()
    {   
<?php
if ($amountArr != '') {
    ?>
                var ticks = <?php echo $monthArr; ?>;
                var chartValue = <?php echo "[" . str_replace("'", "", $amountArr) . "]"; ?>;
                $.jqplot ('monthlyChart', [chartValue],
                {
                    series:[{renderer:$.jqplot.BarRenderer},{color:'#40AAD4'}],            
                    seriesDefaults:{
                        renderer:$.jqplot.BarRenderer,
                        pointLabels: { show: false, location: '', edgeTolerance: -15 },
                        rendererOptions: {fillToZero: true, varyBarColor: false}
                    },
                    axes: {
                        xaxis: {
                            renderer:$.jqplot.CategoryAxisRenderer,
                            ticks: ticks,
                            label:'<span  class="dashboard-graph">Month</span>'

                        },
                        yaxis: {
                            //label:'<span  class="dashboard-graph">Amount (USD)</span>',
                            showTicks: true,		
                            min:0,
                            tickOptions: {
                                formatString: "$%.2f",
                                angle: -30
                            },
                            rendererOptions: {
                                forceTickAt0: false
                            }
                        }
                    },
                    highlighter: {
                        show: true,
                        showMarker:true,
                        tooltipAxes: 'y',
                        sizeAdjust: 1 ,
                        tooltipLocation : 'ne'
                    },
                    cursor: {
                        show: false
                    }

                }		
            ); 
    <?php
}
?>
        	
    }   	

</script>
<div class="dashboard-page">
    <div class="top-section">
        <div class="left">
            <h2><?php echo $translator['H_DASHBOARD']; ?></h2>
            <span><?php echo $translator['L_STATICS_MORE']; ?></span>
        </div>
        <div class="right">
            <a href="/dashboard" class="refresh"><div class="tooltip">Reload Dashboard<span></span></div></a>
            <a id="config_dashboard" class="configure" href="javascript:void(0);" onclick="configureDashboard();"><?php echo $translator['CONFIGURE_DASBOARD']; ?></a>
        </div>
    </div>
    <div class="dash-breadcrumb">
        <ul>
            <li><span><?php echo $translator['H_DASHBOARD']; ?></span></li>
        </ul>
    </div>


    <div id="configure_dashboard">
        <div class="calendar-section">
            <?php
            if (!empty($getCrmUserDashlets)) {
                foreach ($getCrmUserDashlets as $val) {
                    if ($val['dashlet_id'] == 5) {
                        ?>
                        <ul>
                            <li>
                                <a href="/crm-transactions/<?php echo $this->Encrypt('pending');?>">
                                    <strong><?php echo $pendingTransaction; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon1.png" alt=""></div>

                                    <span>Pending<br>
                                        Transactions
                                    </span>
                                </a>
                            </li>
                            <li class="box1">
                                <a href="/crm-transactions/<?php echo $this->Encrypt('review');?>">
                                    <strong><?php echo $reviewQueTransaction; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon2.png" alt=""></div>
                                    <span>Transactions in<br>
                                        Review Queue
                                    </span>
                                </a>
                            </li>
                            <li class="box2">
                                <a href="/crm-annotation-correction/<?php echo $this->Encrypt('newannotation');?>">
                                    <strong><?php echo $newAnnotation; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon2.png" alt=""></div>
                                    <span>New<br> 
                                        Annotations
                                    </span>
                                </a>
                            </li>
                            <li class="box3">
                                <a href="/crm-transactions/<?php echo $this->Encrypt('donation');?>">
                                    <strong><?php echo $newMembership; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon4.png" alt=""></div>
                                    <span>New <br>
                                        Membership
                                    </span>
                                </a>
                            </li>
                            <li class="box4">
                                <a href="/contact/<?php echo $this->Encrypt('newcontact');?>">
                                    <strong><?php echo $newContact; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon5.png" alt=""></div>
                                    <span>New <br>
                                        Contacts
                                    </span>
                                </a>
                            </li>
                            <li class="box5">
                                <a href="/crm-user-assignments">
                                    <strong><?php echo $newAssignments; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon6.png" alt=""></div>
                                    <span>New<br>
                                        Assignments
                                    </span>
                                </a>
                            </li>
                            <li class="box6">
                                <a href="/pledges/<?php echo $this->Encrypt('due');?>">
                                    <strong><?php echo $duePledges; ?></strong>
                                    <div class="img-box"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal-icon7.png" alt=""></div>
                                    <span>Due<br>
                                        Pledges
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <?php
                    }
                }
            }
            ?>
        </div>
        <div class="left-box">
            <?php
            if (!empty($getCrmUserDashlets)) {
                foreach ($getCrmUserDashlets as $val) {
                    if ($val['position'] == 1 && $val['dashlet_id'] != '5') {
                        if ($val['dashlet_id'] == 2) {
                            ?>
                            <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>">
                                <div class="head">
                                    <span><?php echo $val['dashlet_name']; ?></span>
                                    <ul>
                                        <?php if ($val['is_view_all'] == 1) { ?>
                                            <li class="none"><a href="<?php echo $val['view_link']; ?>"></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_remove'] == 1) { ?>
                                            <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,'','');"><div class="tooltip">Delete<span></span></div></a></li>
                <?php } ?>
                                    </ul>
                                </div>
                                <div class="inner-section clearfix">
                                    <div style="padding:10px"><div id="monthlyChart" style="height: 280px;" class="chart_flw" title=""></div></div>
                                </div>
                            </div>
                            <?php
                        } else if ($val['dashlet_id'] == 13) {
                            if (!empty($getCrmSavedSearches)) {
                                foreach ($getCrmSavedSearches as $searchKey => $searchVal) {
                                    if ($searchVal['search_id'] == $val['search_id'] && $searchVal['search_type'] == $val['search_type']) {
                                        ?>
                                        <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>">
                                            <div class="head">
                                                <span><?php echo $searchVal['title']; ?> - <?php echo $searchVal['search_name']; ?></span>
                                                <ul>                                                    
                                                    <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $val['search_type']; ?>);"><div class="tooltip">Delete<span></span></div></a></li>
                                                </ul>
                                            </div>                                            
                                            <div class="inner-section clearfix">
                                                <div class="grid-box">                                                                                
                                                    <table id="list_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>"></table>
                                                    <div id="pcrud_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                }
                            }
                        } else {
                            ?>
                            <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>">
                                <div class="head">
                                    <span><?php echo $val['dashlet_name']; ?></span>
                                    <ul>
                                        <?php if ($val['is_search'] == 1) { ?>
                                        <li class="search"><a href="javascript:void(0);" onclick="openSearch(<?php echo $val['dashlet_id']; ?>);"><div class="tooltip">Search<span></span></div></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_view_all'] == 1) { ?>
                                            <li class="viewall"><a href="<?php echo $val['view_link']; ?>"><div class="tooltip">View<span></span></div></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_remove'] == 1) { ?>
                                            <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,'','');"><div class="tooltip">Delete<span></span></div></a></li>
                <?php } ?>
                                    </ul>
                                </div>
                                <div class="search-pannel common-form" id="search-grid-<?php echo $val['dashlet_id']; ?>" style="display:none;">
                                    <form id="search-form-<?php echo $val['dashlet_id']; ?>" name="search-form-name<?php echo $val['dashlet_id']; ?>" onchange="showDate(this.id,'date_range_div_<?php echo $val['dashlet_id']; ?>');">
                                          <select name="added_date_range" class="e1 select-150">
                                            <option value="">Select One</option>
                                            <option value="1">Choose Date Range</option>
											<option value="2">Today</option>
                                            <option value="3">Yesterday</option>
                                            <option value="7">This Week</option>
                                            <option value="11">Last Week</option>
                                            <option value="6">This Month</option>
                                            <option value="10">Last Month</option>
                                        </select>
                                        <div style="display: none;" id="date_range_div_<?php echo $val['dashlet_id']; ?>" class="col1 right">
                                            <label class="left m-t-8 m-r-5">From</label>
                                            <input type="text" value="" class="width-120 cal-icon" id="added_date_from_<?php echo $val['dashlet_id']; ?>" name="added_date_from">
                                            <label class="left m-t-8 m-r-5 m-l-5">-to-</label>
                                            <input type="text" value="" class="width-120 cal-icon" id="added_date_to_<?php echo $val['dashlet_id']; ?>" name="added_date_to">
                                        </div>
                                        <input type="submit" name="search" class="save-btn" id="searchbutton_<?php echo $val['dashlet_id']; ?>" value="Search">
                                    </form>
                                </div>
                                <div class="inner-section clearfix">
                                    <div class="grid-box">                                                                                
                                        <table id="list_<?php echo $val['dashlet_id']; ?>"></table>
                                        <div id="pcrud_<?php echo $val['dashlet_id']; ?>"></div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                    }
                }
            }
            ?>
        </div>
        <div class="right-box">
            <?php
            if (!empty($getCrmUserDashlets)) {
                foreach ($getCrmUserDashlets as $val) {
                    if ($val['position'] == 2 && $val['dashlet_id'] != '5') {
                        if ($val['dashlet_id'] == '2') {
                            ?>
                            <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>">
                                <div class="head">
                                    <span><?php echo $val['dashlet_name']; ?></span>
                                    <ul>                                        
                                        <?php if ($val['is_view_all'] == 1) { ?>
                                            <li class="none"><a href="<?php echo $val['view_link']; ?>"></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_remove'] == 1) { ?>
                                            <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,'','');"><div class="tooltip">Delete<span></span></div></a></li>
                <?php } ?>
                                    </ul>
                                </div>
                                <div class="inner-section clearfix">
                                    <div style="padding:10px"><div id="monthlyChart" style="height: 280px;" class="chart_flw" title=""></div></div>
                                </div>
                            </div>                        
                            <?php
                        } else if ($val['dashlet_id'] == 13) {
                            if (!empty($getCrmSavedSearches)) {
                                foreach ($getCrmSavedSearches as $searchKey => $searchVal) {
                                    if ($searchVal['search_id'] == $val['search_id'] && $searchVal['search_type'] == $val['search_type']) {
                                        ?>
                                        <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>">
                                            <div class="head">
                                                <span><?php echo $searchVal['title']; ?> - <?php echo $searchVal['search_name']; ?></span>
                                                <ul>                                                    
                                                    <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,<?php echo $val['search_id']; ?>,<?php echo $val['search_type']; ?>);"><div class="tooltip">Delete<span></span></div></a></li>
                                                </ul>
                                            </div>                                            
                                            <div class="inner-section clearfix">
                                                <div class="grid-box">                                                                                
                                                    <table id="list_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>"></table>
                                                    <div id="pcrud_<?php echo $val['dashlet_id']; ?>_<?php echo $val['search_id']; ?>_<?php echo $val['search_type']; ?>"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                }
                            }
                        } else {
                            ?>
                            <div class="detail-box" id="dashlet_<?php echo $val['dashlet_id']; ?>">
                                <div class="head">
                                    <span><?php echo $val['dashlet_name']; ?></span>
                                    <ul>
                                        <?php if ($val['is_search'] == 1) { ?>
                                            <li class="search"><a href="javascript:void(0);" onclick="openSearch(<?php echo $val['dashlet_id']; ?>);"><div class="tooltip">Search<span></span></div></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_view_all'] == 1) { ?>
                                            <li class="viewall"><a href="<?php echo $val['view_link']; ?>"><div class="tooltip">View<span></span></div></a></li>
                                        <?php } ?>
                                        <?php if ($val['is_remove'] == 1) { ?>
                                            <li class="close"><a href="javascript:void(0);" onclick="deleteDashlet(<?php echo $val['dashlet_id']; ?>,'','');"><div class="tooltip">Delete<span></span></div></a></li>
                <?php } ?>
                                    </ul>
                                </div>
                                <div class="search-pannel common-form" id="search-grid-<?php echo $val['dashlet_id']; ?>" style="display:none;">
                                    <form id="search-form-<?php echo $val['dashlet_id']; ?>" name='search-form-name<?php echo $val['dashlet_id']; ?>' onchange="showDate(this.id,'date_range_div_<?php echo $val['dashlet_id']; ?>')";>
                                          <select name="added_date_range" class="e1 select-150">
                                            <option value="">Select One</option>
                                            <option value="1">Choose Date Range</option>
                                            <option value="2">Today</option>
                                            <option value="3">Yesterday</option>
                                            <option value="7">This Week</option>
                                            <option value="11">Last Week</option>
                                            <option value="6">This Month</option>
                                            <option value="10">Last Month</option>
                                        </select>
                                        <div style="display: none;" id="date_range_div_<?php echo $val['dashlet_id']; ?>" class="col1 right">
                                            <label class="left m-t-8 m-r-5">From</label>
                                            <input type="text" value="" id="added_date_from_<?php echo $val['dashlet_id']; ?>" class="width-120 cal-icon" name="added_date_from">
                                            <label class="left m-t-8 m-r-5 m-l-5">-to-</label>
                                            <input type="text" value="" id="added_date_to_<?php echo $val['dashlet_id']; ?>" class="width-120 cal-icon" name="added_date_to">
                                        </div>
                                        <input type="submit" class="save-btn" name="search" id="searchbutton_<?php echo $val['dashlet_id']; ?>" value="Search">
                                    </form>
                                </div>
                                <div class="inner-section clearfix">
                                    <div class="grid-box">
                                        <table id="list_<?php echo $val['dashlet_id']; ?>"></table>
                                        <div id="pcrud_<?php echo $val['dashlet_id']; ?>"></div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                    }
                }
            }
            ?>
        </div>
    </div>
</div>


<div style='display:none'>
    <div id='delete_dashlet' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE_DASHLET']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
    <div id="configure_dashboard">
        <h1><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/dashboard.jpg" /> </h1>
    </div>
</div>
<?php
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
if (!empty($getCrmUserDashlets)) {
    foreach ($getCrmUserDashlets as $val) {
        $var .= 'var itemCount_' . $val['dashlet_id'] . ' = "' . $val['num_record'] . '";';
    }
}

if (!empty($getCrmUserDashlets)) {
    foreach ($getCrmUserDashlets as $val) {
        $name = strtolower($val['dashlet_name']);
        $name = trim(str_replace(" ", "", $name));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/crm-dashlet/dashboard.' . $name . '.js?v='.$this->layout()->getVariable('jsVersion'));
    }
}
$script = <<<EOD
function configureDashboard(){
        showAjxLoader();
        $.ajax
        ({
            type: 'GET',
            data: {},
            url: '/configure-dashboard',
            success: function(response)
            {
                hideAjxLoader();
                if(!checkUserAuthenticationAjx(response)){return false;}
                $('#configure_dashboard').html(response);
            }
        });
    }
    
    function deleteDashlet(dashlet_id,searchId,searchType){
        $.colorbox({
            width:"550px",
            href:"#delete_dashlet",
            height:"200px",
            inline: true
        });
        $("#no_delete").click(function(){
            $.colorbox.close();
            $('#yes_delete').unbind('click');
            return false;
        });
    
        $("#yes_delete").click(function(){
            $('#yes_delete').unbind('click');
            $.ajax
            ({
                type: 'POST',
                data: {
                    dashlet_id:dashlet_id,
                    search_id:searchId,
                    search_type:searchType                    
                },
                url: '/delete-user-dashlet',
                success: function(response)
                {
                    if(!checkUserAuthenticationAjx(response)){return false;}
                    var jsonObj =  jQuery.parseJSON(response); 
                    if(jsonObj.status == 'success')
                    {
                        $.colorbox.close();                        
                        if(searchId!='' && searchType!=''){
                            var divId = dashlet_id+"_"+searchId+"_"+searchType;
                        }else{
                            var divId = dashlet_id;
                        }
                        $("#dashlet_"+divId).remove();                        
                    }
                }
            });
        });
    }
	$(document).ready(function(){
        barChartMonth();
    });
	function openSearch(dashletId){
        $("#search-grid-"+dashletId).toggle( "slow" );
    }
EOD;
$this->inlineScript()->prependScript($script)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/jquery.jqplot.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/jqplot.plugins.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/excanvas.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/plugins/jqplot.canvasTextRenderer.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/plugins/jqplot.canvasAxisLabelRenderer.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/jQplot/plugins/jqplot.canvasAxisTickRenderer.min.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/tabs.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>