<?php
/**
 * This file is used to update crm user status
 * @package    User
 * @author     Icreon Tech - AP
 */

$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/crmuser.popup.js?v='.$this->layout()->getVariable('jsVersion'))
        ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="pop-container cancel-ser-ccounts">
    <h3><?php echo $translator['L_DELETE_CRM_USER']; ?></h3>
    <div class="popup-form create-contacts">
        <?php
        $form = $this->deleteUserForm;
       // $form->setAttribute('action', $this->url('createpopupcontact', array('action' => 'createpopupcontact')));
        $form->prepare();
        echo $this->form()->openTag($form); ?>
        <div class="row">
            <div class="row no-padd no-mar"><label><?php echo $translator['L_CANCEL_USER_NAMES']; ?></label><label class="names"><?php echo $this->crmUserName; ?></label> </div>
            <div class="row no-padd no-mar"><h2 style="text-align:left; padding:0px;"><label></label><?php echo $translator['L_SELECT_USER_TO_ASSIGN_TASK']; ?></h2></div>
            <div class="row"><label><?php echo $translator['L_USER_NAME']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('user_id')); ?>
                <?php echo $this->formRow($form->get('name')); ?>
                <?php echo $this->formRow($form->get('assigned_to_id')); ?> <div class="srch_contact_name" id="srch_contact_name"></div>
            </div>
            <div class="common-form">  
				<label>&nbsp;</label>
				<?php echo $this->formRow($form->get('csrf')); ?>
                <?php echo $this->formRow($form->get('submit')); ?></div>
        </div>

          <?php echo $this->form()->closeTag(); ?>

    </div>
</div>
