<?php
/**
 * This page is use for edit crm user
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$("#country_id").select2();
    $("#state_select").select2();
    $($(".e4")).each(function(i){
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
			
            // get the associated label using the input's id
			
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
			
            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input,oDiv);
        }
       });
    //for radio buttons
    $($(".e3")).each(function(i){
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
            // get the associated label using the input's id
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
            //get type, for classname suffix 
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
            $(outerLabel).remove();
            outerLabelParent.append(input,oDiv);
        }
    });
 $(".e3").customInput();   
 $(".e4").customInput();
EOD;
echo $this->inlineScript()->prependScript($script)
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/user.crmuser.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
					      
?>
<div class="breadcrumb">
	<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
	<?php
	$form = $this->form;
	$form->setAttribute('id', 'edit_crm_user');
	$form->setAttribute('name', 'edit_crm_user');
	$form->prepare();
	echo $this->form()->openTag($form);
	?>
	<div class="head no-img"><span><?php echo $translator['L_BASIC_INFO']; ?></span></div>
	<div class="detail-section">
		<div class="common-form">
			<div class="row">
				<div class="col1">
					<label><?php echo $translator['L_EMAIL_ADDRESS'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('crm_email_id')); ?>
				 </div>
				<div class="col1 right">
		<label></label>
				   <a href="#edit_password" id="passwordiv"  class="edit_password save-btn m-l-5" onClick="passworEdit();"><?php echo $translator['L_CHANGE_PASSWORD']?></a>
				</div>
			</div>
			<div class="row ">
				<div class="col1">
					<label><?php echo $translator['L_STATUS'] ?><span class="red">*</span></label>
					<span class="radio-label"><?php echo $this->formRow($form->get('status')); ?></span>
				</div>
				<div class="col1 right">
				  <label><?php echo $translator['L_REPORT_TO'] ?></label>
					<div class="search-input-bg">
						<?php echo $this->formRow($form->get('report_to')); ?>
						<input name="" type="button" value="" class="search-btn">
						<?php echo $this->formRow($form->get('report_to_id')); ?>
					</div>

				</div>
			</div>
			<div class="row no-padd">

				<div class="col1">
										  <label><?php echo $translator['L_ROLE'] ?><span class="red">*</span></label>
					<div class="col4">
						<?php echo !empty($userRole)?$this->formRow($form->get('role')):''; ?>
					</div>
			</div>
		</div>
	</div>
	</div>
	<div class="head no-img"><span><?php echo $translator['L_ADDRESS_INFO'] ?></span></div>
	<div class="detail-section">
		<div class="common-form">
			<div class="row">
				<div class="col1">
					<label><?php echo $translator['L_FIRST_NAME'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('first_name')); ?>
				</div>
				<div class="col1 right">
					<label><?php echo $translator['L_LAST_NAME'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('last_name')); ?>
				</div>
			</div>
			<div class="row">
				<div class="col1">
					<label><?php echo $translator['L_PHONE'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('phone_no')); ?>
				</div>
				<div class="col1 right">
					<label><?php echo $translator['L_ADDRESS'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('address')); ?>
				</div>
			</div>
			<div class="row">
				<div class="col1">
					<label><?php echo $translator['L_CITY'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('city')); ?>
				</div>
				<div class="col1 right">
					 <label><?php echo $translator['L_STATE'] ?></label>
					<div id="state_text_block" style="<?php echo (isset($searchResult[0]['crm_country_id']) && !empty($searchResult[0]['crm_country_id']) && $searchResult[0]['crm_country_id']==$translator['united_state_country_id'])?'display:none;':''; ?>">
					<?php echo $this->formRow($form->get('state')); ?>
					</div>
					<div id="state_select_block" style="<?php echo (isset($searchResult[0]['crm_country_id']) && !empty($searchResult[0]['crm_country_id']) && $searchResult[0]['crm_country_id']!=$translator['united_state_country_id'])?'display:none;':''; ?>">
						<?php echo $this->formRow($form->get('state_select')); ?>
					</div>
				</div>
			</div>
			<div class="row no-padd">
				<div class="col1">
					<label><?php echo $translator['L_ZIP'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('zip')); ?>
				</div>
				<div class="col1 right">
					<label><?php echo $translator['L_COUNTRY'] ?><span class="red">*</span></label>
					<?php echo $this->formRow($form->get('country_id')); ?>
				</div>
			</div>
		</div>
	</div>
	<div class="head no-img"><span><?php echo $translator['L_UPLOAD_PICTURE'] ?></span></div>
	<div class="detail-section">
		<div class="common-form">
			<?php 
				//echo $this->image_path;die;
			if(!empty($searchResult[0]['crm_user_picture'])) {  ?>
			<div class="row" id="upload_old_div"  <?php echo ($this->crm_user_picture)?"style='display:block';":"style='display:none';"?>>
				
					<div class="col1">
						<img src="<?php echo $this->image_path ?>"/>
						<?php echo $this->formRow($form->get('old_thumbnail_virtualface')); ?>                            
					</div>
				<div class="col1 right"><?php echo $this->formRow($form->get('remove')); ?></div>
			</div>
			<?php } ?>
			<div class="row"  id="upload_new_div" <?php echo (!empty($searchResult[0]['crm_user_picture']))?"style='display:none';":"style='display:block';"?>>
					<div class="col1">
						<label><?php echo $translator['L_UPLOAD_FILE'] ?></label>
						<?php echo $this->formRow($form->get('virtualface')); ?>
						<?php echo $this->formRow($form->get('thumbnail_virtualface')); ?>
												  <div class="full m-t-5">
						<label>&nbsp;</label>
					<div id="filemessage"></div>
				</div>
					</div>
		  
			</div>
		</div>
	</div>
	<div class="row common-form m-t-20">
		<?php echo $this->formRow($form->get('crm_user_id')); ?>
		 <?php //echo $this->formRow($form->get('csrf')); ?>                
		<?php echo $this->formRow($form->get('submit')); ?>
		<a href='/crm-users'><?php echo $this->formRow($form->get('cancel')); ?></a>
	</div>
	<?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='edit_password' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>

        <div class="button-row">         

        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_crm_user_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this search?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>