<style>
    #UserRolePermission .select2-container{width:100px;}
    select{visibility: hidden;}
</style>
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(document).ready(function() {
        $('.accordion-detail .head:first').addClass('active')
        $('.detail-section').eq(0).show();
        $('.detail-section:not(:first)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
    });
    function backToSearch() {
        window.location.href = '/create-crm-user-role';
    }
EOD;
$this->inlineScript()->prependScript($script)
						  ->prependScript($var);
?>
<div class="create-contacts">
    <h2>User Roles Preferences
    <div class="user-name-top"><?php if(count($userRoleResult)>0 && $userRoleResult[0]['role']!='')
    {
        echo 'Role: '.$userRoleResult[0]['role'];
    } ?></div></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    
    <?php
    if (!empty($message)) {
        echo '<div id="' . $message_status . '_message" class="' . $message_status . '-msg">';
        echo "<div>" . $message . '</div>';
        echo '</div>';
    }
    ?>
    <div class="accordion-detail">
        <div class="head"><span>Module Settings</span></div>
        <div class="detail-section">
            <div class="common-form overflow-hide">
                <?php
                $form = $this->form;
                $form->prepare();
                echo $this->form()->openTag($form);
                echo $this->formRow($form->get('role_id'));
                ?>
                <fieldset>
                    <table width="100%" cellpadding="0" cellspacing="0" class="role-permission-detail" >
                        <thead>
                            <tr>
                                <th width="150">Module</th>
                                <th width="200">Access</th>
                                <?php foreach ($role_action as $action_id => $action_title) { ?>
                                    <th><?php echo $action_title; ?></th>
                                <?php } ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($role_module_action as $parent_module_id => $submodules) { ?>
                                <tr>
                                    <td  rowspan="<?php echo count($submodules); ?>" valign="middle"><?php echo $role_modules[$parent_module_id]; ?></td>
                                    <td><?php echo $this->formRow($form->get($role_modules[$parent_module_id] . '[access]')); ?></td>
                                    <?php foreach ($role_action as $action_id => $action_title) { ?>
                                        <td><?php echo $this->formRow($form->get($role_modules[$parent_module_id] . '[' . $action_id . ']')); ?></td>
                                    <?php } ?>
                                </tr>
                                <?php
                                foreach ($submodules as $submodule_id => $submodule_name) {
                                    if ($submodule_id != $parent_module_id && count($submodules) > 1) {
                                        ?>
                                        <tr>
                                            <td><?php echo $role_modules[$submodule_id]; ?>
                                            <?php
                                            //ticket 73 private group
                                            if($submodule_id == 3 && $parent_module_id == 1)
                                            {
                                                echo "<br/><div class='right'>".$translator['ALLOW_PRIVATE'].$this->formRow($form->get($role_modules[$submodule_id] . '[allow_private]'))."</div>";
                                            }
                                            ?>
                                            </td>
                                            <?php foreach ($submodule_name as $action_id => $action_name) { ?>
                                                <td><?php echo $this->formRow($form->get($role_modules[$submodule_id] . '[' . $action_id . ']')); ?></td>
                                            <?php } ?>
                                        </tr>
                                        <?php
                                    }
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                    <div class="common-form p-t-10">
                        <?php echo $this->formRow($form->get('module_permission_submit')); ?>
                        <?php echo $this->formRow($form->get('module_permission_cancel')); ?>
                    </div>
                </fieldset>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>

        <div class="head"><span>Dashlet  Settings</span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $dashletform = $this->dashletform;
                $dashletform->prepare();
                echo $this->form()->openTag($dashletform);
                echo $this->formRow($dashletform->get('role_id'));
                ?>
                <table width="100%" cellpadding="0" cellspacing="0" class="role-permission-detail">
                    <tr>
                        <th>Dashlet</th>
                        <th>Access</th>
                    </tr>
                    <?php foreach ($defaultDashletsSettings as $key => $value) { ?>
                        <tr>
                            <td><?php echo $value['dashlet_name']; ?></td>
                            <td>
                                <?php echo $this->formRow($dashletform->get('dashlet[' . $value['dashlet_id'] . ']')); ?>
                            </td>
                        </tr>
                    <?php } ?>
                </table>
                <div class="common-form p-b-30 p-t-10">
                    <?php echo $this->formRow($dashletform->get('module_dashlet_submit')); ?>
                    <?php echo $this->formRow($dashletform->get('module_dashlet_cancel')); ?>
                </div>
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>

    </div>
</div>
<script>
    var elementToHide = <?php echo json_encode($elementToHide); ?>;
    for (var i = 0; i < elementToHide.length; i++) {
        document.getElementById(elementToHide[i]).removeAttribute('class');
        document.getElementById(elementToHide[i]).parentNode.children[0].style = "visibility: hidden;";
        document.getElementById(elementToHide[i]).parentNode.innerHTML = document.getElementById(elementToHide[i]).parentNode.innerHTML + '_';
    }
</script>
