<?php
/**
 * This file is used to get crm user record
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
?>

<div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
<div class="accordion-detail">

            <div class="head no-img"><span><?php echo $translator['L_BASIC_INFO'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="view-row no-padd">
                        <div class="col6">
                            <strong><?php echo $translator['L_EMAIL_ADDRESS'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_email_id'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_STATUS'] ?></strong></br>
                            <span class="view-text"><?php echo ($this->searchResult['crm_is_active'] == 1) ? $translator['L_ACTIVE'] : $translator['L_BLOCKED'] ?></span> </div>
						<div class="col6">
                            <strong><?php echo $translator['L_ROLE'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['role_name'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_REPORT_TO'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['user_name'] ?></span> </div>
					</div>
                   </div>
            </div>
            <div class="head no-img"><span><?php echo $translator['L_ADDRESS_INFO'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="view-row">
                        <div class="col6">
                            <strong><?php echo $translator['L_FIRST_NAME'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_first_name'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_LAST_NAME'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_last_name'] ?></span> </div>
						<div class="col6">
                            <strong><?php echo $translator['L_PHONE'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_phone'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_ADDRESS'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_address'] ?></span> </div>
                    </div>
                    <div class="view-row no-padd">
                        <div class="col6">
                            <strong><?php echo $translator['L_CITY'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_city'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_STATE'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_state'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_ZIP'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['crm_zip_code'] ?></span> </div>
                        <div class="col6">
                            <strong><?php echo $translator['L_COUNTRY'] ?></strong></br>
                            <span class="view-text"><?php echo $this->searchResult['country_name'] ?></span> </div>							
                    </div>
                </div>
            </div>
            <div class="head no-img"><span><?php echo $translator['L_UPLOAD_PICTURE'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="view-row no-padd">
                        <div class="col6">
                            <strong><?php echo $translator['L_UPLOAD_IMAGE'] ?></strong></br>
                            <img src="<?php echo $this->image_path ?>"/>							
                        </div>
                    </div>
                </div>
            </div>

            </div>
