<?php
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.crmsearchuser.js?v='.$this->layout()->getVariable('jsVersion'));
//->appendFile($this->basePath() . '/js/user/common.js');
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_USER'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <p class="search-text m-t-20"><?php echo $translator['L_SEARCH_USERS_BY_FILLING'] ?> <a href="/create-crm-user"><?php echo $translator['L_CREATE_NEW'] ?></a> <?php echo $translator['L_ALSO_SAVE_THE_SEARCH'] ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        <div id="successRow" class="success-msg row" style="display:none;"></div>

        <div class="head no-img"><span><?php echo $translator['L_SEARCH_USER'] ?></span></div>
        <?php
        $searchCrmForm = $this->searchCrmForm;
        $searchCrmForm->prepare();
        echo $this->form()->openTag($searchCrmForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_NAME_EMAIL'] ?></label>
                        <?php echo $this->formRow($searchCrmForm->get('name_email')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ROLE'] ?></label>
                        <?php echo $this->formRow($searchCrmForm->get('role')); ?>
                    </div>

                </div>
                <div class="row">

                    <div class="col1">
                        <label><?php echo $translator['L_STATUS'] ?></label>
                        <?php echo $this->formRow($searchCrmForm->get('status')); ?>
                    </div>
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($searchCrmForm->get('submit')); ?>
                    </div>
                </div>

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
        <div class="detail-section1 common-form search-row-2">
            <div class="col1">
                <div class="left">
                    <label><?php echo $translator['L_SAVES_SEARCH']; ?></label>
                    <?php echo $this->formRow($searchCrmForm->get('saved_search'));
                    ?>
                </div>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $saveSearchForm = $this->saveSearchForm;
                $saveSearchForm->prepare();
                echo $this->form()->openTag($saveSearchForm);
                ?> 
                <label>Save Search As</label>
                <?php echo $this->formRow($saveSearchForm->get('search_name')); ?>
                <?php echo $this->formRow($saveSearchForm->get('search_id')); ?>
                <?php echo $this->formRow($saveSearchForm->get('savebutton')); ?>
                <a href="#delete_crm_user_search" id="deletebutton" style="display:none;" class="delete_crm_user_search save-btn m-l-5" onClick="deleteCrmUserSearch();">Delete</a>
                <?php //echo $this->formRow($save_search_form->get('deletebutton'));  ?>
                <span id="search_msg"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>

        </div>
        <div class="head no-img"><span><?php echo $translator['L_UPDATE_OPTION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $updateCrmUserForm = $this->updateCrmUserForm;
                $updateCrmUserForm->prepare();
                echo $this->form()->openTag($updateCrmUserForm);
                ?>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_UPDATE_OPTION'] ?></label>
                        <?php echo $this->formRow($updateCrmUserForm->get('activity')); ?>
                    </div>
                    <div class="col1">
                        <?php //echo $this->formRow($updateCrmUserForm->get('updateButton'));  ?>
                        <a href="#delete_crm_user" id="updateButton" class="delete_crm_user save-btn m-l-5">Update</a>

                    </div>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">

    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULT'] ?></h3>
        <p><?php echo $translator['L_BELOW_RECORDS_MATCHES_CRITERIA'] ?>
            <a href="create-crm-user"><?php echo $translator['L_CREATE_NEW'] ?></a></p>
    </div>    
    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this search?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_DELETE_CRM_USER'] ?></h2>

        <div class="button-row">         

        </div>
    </div>
</div>
