<?php
/**
 * This file is used to list crm user addignments
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.crmassignments.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_MY_ASSIGNMENTS'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_MY_ASSIGNMENTS'] ?></span></div>
        <?php
        $searchForm = $this->searchForm;
        $searchForm->prepare();
        echo $this->form()->openTag($searchForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SOURCE'] ?></label>
                        <?php echo $this->formRow($searchForm->get('source')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ACTIVITY_TYPE'] ?></label>
                        <?php echo $this->formRow($searchForm->get('activity_type')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SUBJECT'] ?></label>
                        <?php echo $this->formRow($searchForm->get('subject')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_WITH'] ?></label>
                        <?php echo $this->formRow($searchForm->get('with')); ?>
                        <?php echo $this->formRow($searchForm->get('user_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SCHEDULED'] ?></label>
                        <?php echo $this->formRow($searchForm->get('scheduled')); ?>
                    </div>
                    <div class="col1 right">
                        <div class="row ext" id="date_div" style="display:none;">
                            <label><?php echo $translator['L_FROM'] ?></label>
                            <?php echo $this->formRow($searchForm->get('from')); ?>
                            <label class="auto"><?php echo $translator['L_TO'] ?></label>
                            <?php echo $this->formRow($searchForm->get('to')); ?>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGNED'] ?></label>
                        <?php echo $this->formRow($searchForm->get('assigned')); ?>
                        <?php echo $this->formRow($searchForm->get('assigned_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label></label>
                        <?php echo $this->formRow($searchForm->get('submit')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>


                </div>
            </div>
        </div>

        <?php echo $this->form()->closeTag(); ?>
        <div class="detail-section1 common-form search-row-2">
            <div class="col1">
                <label><?php echo $translator['L_SAVES_SEARCH']; ?></label>
                <?php echo $this->formRow($searchForm->get('saved_search'));
//echo $this->form()->closeTag(); 
                ?>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $saveSearchForm = $this->saveSearchForm;
                $saveSearchForm->prepare();
                echo $this->form()->openTag($saveSearchForm);
                ?> 
                <label>Save Search As</label>
                <?php echo $this->formRow($saveSearchForm->get('search_name')); ?>
                <?php echo $this->formRow($saveSearchForm->get('search_id')); ?>
                <?php echo $this->formRow($saveSearchForm->get('savebutton')); ?>
                <a href="#delete_crm_user_search" id="deletebutton" style="display:none;" class="delete_crm_user_search save-btn m-l-5" onClick="deleteCrmUserSearch();">Delete</a>
                <?php //echo $this->formRow($save_search_form->get('deletebutton')); ?>
                <span id="search_msg"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>

        </div>


    </div>
</div>
<div class="grid-section">

    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="assignments-list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this search?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>
