<?php
/**
 * This page is use for manage dashboard setting
 * @package    User
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
for ($i = 0; $i < 3; $i++) {
    if (isset($param[$i]) && !empty($param[$i])) {
        $var .= 'var dash' . $i . ' = "' . $param[$i] . '";';
    } else {
        $var .= 'var dash' . $i . ' = 0;';
    }
}
$var .= 'var visible  = ' . $visible . ';';
$var .= 'var isDragged  = ' . $isDragged . ';';
$this->inlineScript()->captureEnd();

echo $this->headScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jqGrid.min.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.tablednd.js?v='.$this->layout()->getVariable('jsVersion'))
                       ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/dashboard.setting.js?v='.$this->layout()->getVariable('jsVersion'))
                
?>
<script>
<?php echo $var; ?>
</script>

<div class="dashlet-setting">
    <h2><?php echo $translator['DASHLET_SETTING']." - ".$title; ?></h2>
    <div class="grid-section common-form full">

        <div class="grid-box" id="gview_list">
            <form id="custom_dashlet" name="grid">
                <table id="list"></table>
                <input id="save" type="submit" value="Save" class="save-btn" />
                <input id="cancel" type="button" value="Cancel" class="cancel-btn" onclick="undrag()" />      </form>
            <div id="pcrud"></div>
            <br />
        </div>
    </div>
</div>