<?php
/**
 * This file is used for get transaction listing
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/export-to-sage.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['EXPORT_TO_SAGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
  

    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        </div>

     <?php     
        $form = $this->search_sage_form;
        $form->prepare();
        echo $this->form()->openTag($form);
    ?>
        <div class="grid-section">
            <div class="search-results">
                
                <p><?php echo $translator['CREATE_BATCH_TEXT']; ?></p>
            </div>
              <div class="detail-section1 common-form search-row-2">
                
                        <label><?php echo $translator['CREATE_BATCH_UNTILL']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('transaction_date')); ?>
                 
                      
                        <?php echo $this->formRow($form->get('transaction_time')); ?>
                    
                      
                         <?php echo $this->formRow($form->get('searchtransactionbutton')); ?>
                   </div>
                        
                    </div>
                            

                 
                </div>
        
            <div style="margin-bottom:10px;">&nbsp;</div>
            <div class="grid-box" id="gview_list">
                <table id="create_transaction_sage"></table>
                <div id="create_listtransactionrud_sage"></div>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="common-form">
                  
                 <div class="col1 m-t-20">
                      
                        <?php echo $this->formRow($form->get('saveanddownload')); ?>
                     
                      
                         <?php echo $this->formRow($form->get('cancelbutton')); ?>
                   </div>
                        
                    </div>
              <?php
        echo $this->form()->closeTag();
    ?>
            
        </div>
  


      

       
