<?php
/**
 * This file is used for get transaction listing
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .=  'var batch_no_sage = "' . $batch_no . '";';

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/export-to-sage.js?v='.$this->layout()->getVariable('jsVersion'));
echo $this->inlineScript()->prependScript($var);
?>
<script>
    <?php if($batch_no !='')
    {
        ?>
           location.href = '/download-sage-file/<?php echo $batch_no?>';
            <?php } ?>
  
    if(batch_no_sage!='')
        {
            location.href = '/download-file/<?php echo $batch_no?>';
        }
    </script>
<div class="create-contacts">
    <h2><?php echo $translator['EXPORT_TO_SAGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
  

    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
       <!-- <div class="head no-img"><span><?php echo $translator['L_SEARCH_SAGES']; ?></span></div>-->
        
       
        
     
                       

            </div>
        </div>
<form method="post" id="export_bulk_download" name="export_bulk_download" action="/generate-zip-files">
        <div class="grid-section">
            <div class="search-results">
                
                <p>Manage Export to SAGE using adding <a href="/create-sage-batch">new batch #</a>, downloading newly created or already made batch # information.</p>
              
            </div>
             
            <div class="common-form">
				<div id="downloadLink" class="right m-t-10 m-b-10">
                   <p class="down-text">  <?php echo $translator['DOWNLOAD_MULYIPLE_BATCH']; ?></p>   <input type="submit" value="Download" class="save-btn right" id="multipledown" name="multipledown">
                    </div>
					<div id="error-meaasage" class="m-t-20">
                  <label class="error" style="display:none" for="batch_nos[]" generated="true"><span class="redarrow"></span></label>
				  </div>
            </div>
           
            <div class="grid-box" id="gview_list">
                <table id="list_transaction_sage"></table>
                <div id="listtransactionrud_sage"></div>
            </div>
        </div>
</form>




      

       
