<?php
/**
* This file is used for edit contact relationship
* @package    User
* @author     Icreon Tech - DG
*/
?>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$script = <<<EOD
$(function(){
	$(".e2").customInput();
});
EOD;
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.edit_relationship.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendScript($script);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <ul class="edit-link m-t-10">
            <li><a onclick="viewUserRelation('<?php echo $relationship_id; ?>');" href="javascript:void(0);">Details</a></li>
            <li><a class="active" onclick="editUserRelation('<?php echo $relationship_id; ?>');" href="javascript:void(0);" >Edit</a></li>
        </ul>
        <?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('login', array('action' => 'login')));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        echo $this->formRow($form->get('user_relationship_id'));
        ?>
        <div class="head no-img"><span><?php echo $translator['H_EDIT_RELATIONSHIP']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <p class="text-bold"><?php echo $translator['DESCRIPTION']; ?></p>
                </div>
                <div id="success_message" class="success-msg" style="display:none;">
                </div>
                <div class="row">
                    <div class="full">
                        <label><?php echo $translator['L_RELATIONSHIP_TYPE']; ?><span class="red">*</span> </label>                            
                        <?php 
						echo $this->formRow($form->get('type')); 
						foreach ($mst_relationsDesc AS $key1 => $val1) {
							if (isset($val1) && !empty($val1))
								echo "<div class='type" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
						}
						?>
                        <span class="text p-l-15"><?php echo $full_name; ?></span> </div>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_NOTES']; ?> </label>
                    <?php echo $this->formRow($form->get('notes')); ?>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('enabled')); ?><label for="check-1" class="check checked">Is enabled</label>

                </div>
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('submit')); ?>
<!--                        <input type="button" value="Cancel" class="cancel-btn m-l-10" name="">-->
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>