<?php
/**
* This file is used to get contact relationship info
* @package    User
* @author     Icreon Tech - DG
*/
?>
<?php
$translator = $this->jsLangTranslate;
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <ul class="edit-link m-t-10">
            <li><a class="active" onclick="viewUserRelation('<?php echo $relationship_id; ?>');" href="javascript:void(0);">Details</a></li>
            <li><a onclick="editUserRelation('<?php echo $relationship_id; ?>');" href="javascript:void(0);" >Edit</a></li>
        </ul>
        <div class="head no-img"><span><?php echo $translator['H_VIEW_RELATIONSHIP']; ?></span></div>
        <form method="get" action="">
            <div class="detail-section">
                <div class="common-form">
                    <div class="row no-padd">
                        <div class="col1">
                            <label><?php echo $user_relationship_info['relationship']; ?> </label>
                            <span class="view-text"><?php echo $user_relationship_info['full_name']; ?></span>
                        </div>
                        <div class="col1">
                            <label><?php echo $translator['L_ENABLE']; ?> </label>
                            <span class="view-text"><?php if ($user_relationship_info['relationship_is_enable']) echo "Yes"; else echo "No"; ?></span>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>