<?php
/**
 * This file is used to get contact relationship listing
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php

$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var.= 'var user_id= "' . $user_id . '";';
echo $this->inlineScript()->appendScript($var)
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.relationship.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>

        <ul class="edit-link m-t-10">
            <li><a onclick="userAddRelation();" href="javascript:void(0);">Add Relationship</a></li>
        </ul>

        <?php
        if (!empty($this->messages)) {
            $messages = $this->messages;
            ?>
            <div class='full'><div id="success_message" class="success-msg"><?php echo $messages[0]; ?></div></div>
            <?php
        }
        ?>
		<div class='full m-t-10'>
        <div id="gview_list">
            <div class="grid-box " >
                <table id="realationship_list"></table>
                <div id="realationship_pcrud"></div>
                <br><br>
            </div>
        </div>
		</div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_relationship_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>