<?php
/**
 * This view is used to search lead for admin
 * @package    Lead
 * @author     Icreon Tech - ST
 */
$translator = $this->jsLangTranslate;

$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->captureEnd();
?>
<div class="breadcrumb contact-breadcrumb">	 
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div> 
<script><?php echo $var; ?></script>
<script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pledge/contact.pledge.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
<form id="contactpledge" name="contactpledge" action="">
    <input type="hidden" name="user_id" id="user_id" value="<?php echo $user_id; ?>">
</form>
<div class="grid-section">
    <div class="top-section"></div>
    <div class="search-results">
        <h3>Pledges</h3>
        <p>If you want to create a Pledge for this contact, try <a href="/create-pledge/<?php echo $user_id; ?>">Create New Pledge</a>.</p>
    </div>

    <div class="grid-box" id="gview_list">
        <table id="list_pledge"></table>
        <div id="listpledgerud"></div>
    </div>
</div>