<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

$var .= 'var paidPledgeAmount= ' . $paidPledgeAmount . ';';
$var .= 'var pledge_id = "' . $pledge_id . '";';
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pledge/pledge.pledge.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php
$form = $this->edit_pledge_form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('pledge_id'));
echo $this->formRow($form->get('is_trans_update'));
?>
<input type="hidden" id="pledge_amount_hidden" value="<?php echo $pledgeData['pledge_amount'] ?>">
<input type="hidden" id="payment_due_days_hidden" value="<?php echo $pledgeData['payment_due_days'] ?>">
<input type="hidden" id="num_installment_hidden" name="num_installment_hidden" value="<?php echo $pledgeData['num_installment'] ?>">
<input type="hidden" id="installment_amount_hidden" value="<?php echo $pledgeData['installment_amount'] ?>">
<input type="hidden" id="installment_in_hidden" value="<?php echo $pledgeData['installment_in'] ?>">
<input type="hidden" id="installment_type_id_hidden" value="<?php echo $pledgeData['installment_type_id'] ?>">

<div class="breadcrumb m-t-51 case"  style="position:absolute; top:-30px">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">

    <div class="head no-img"><span><?php echo $translator['L_PLEDGE_DETAILS']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row1">
                <div class="col1">
                    <label><?php echo $translator['L_SELECT_CONTACT']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('contact_name')); ?>
                    <?php echo $this->formRow($form->get('contact_name_id')); ?>
                    <div id="srch_contact_name" class="srch_contact_name"></div>  
                    <div class="right">
                        <label class="auto m-r-20"><?php echo $translator['L_OR']; ?></label>
                        <span class="link m-t-8 left " onclick="createContact();"><?php echo $translator['L_CREATE_NEW_CONTACT']; ?></span>
                    </div>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_ASSIGN_TO']; ?></label>
                    <?php echo $this->formRow($form->get('assigned_to')->setAttribute('readonly', 'readonly')); ?>
                    <?php echo $this->formRow($form->get('assigned_to_id')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_TOTAL_PLEDGE_AMOUNT']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('currency_id')); ?>
                    <?php echo $this->formRow($form->get('pledge_amount')->setAttribute('onblur', 'checkValidData(this.id, this.value); checkPaidData(this.value);')); ?>
                    <?php
                    echo '<input type="hidden" id="balance_amount" name="balance_amount" value="' . ($pledgeAmount - $paidPledgeAmount) . '">';
                    if ($paidPledgeAmount > 0) {
                        echo '<span class="age-year" style="padding-left:175px">Balance Amount:' . ($pledgeAmount - $paidPledgeAmount) . '</span>';
                    }
                    ?>
                </div>
                <div class="col1  right" id="payment_due_day">
                    <label class="no-padd"><?php echo $translator['L_PAYMENT_DUE_ON_THE']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('payment_due_days')->setAttribute('onblur', 'checkValidData(this.id, this.value)')); ?>
                    <?php echo $this->formRow($form->get('payment_due_days_hid')); ?>
                    <span class="exitvalue p-l-10"><?php echo $translator['L_DAY_OF_THE_PERIOD']; ?></span>  </div>
            </div>
            <div class="row">
                <label><?php echo $translator['L_TO_BE_PAID']; ?><span class="red">*</span></label>
                <div class="payment-error1">
                    <?php echo $this->formRow($form->get('num_installment')->setAttribute('onblur', 'checkValidData(this.id, this.value)')); ?></div>
                <label class="auto"><?php echo $translator['L_INSTALLMENT_OF']; ?></label>
                <div class="payment-error2">
                    <?php echo $this->formRow($form->get('installment_amount')->setAttribute('onblur', 'checkValidData(this.id, this.value)')); ?></div>
                <label class="auto"><?php echo $translator['L_EVERY']; ?></label>
                <div class="payment-error3">
                    <?php echo $this->formRow($form->get('installment_in')->setAttribute('onblur', 'checkValidData(this.id, this.value)')); ?></div>
                <div class="payment-error4">
                    <?php echo $this->formRow($form->get('installment_type_id')); ?></div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_PAYMENT_START']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('payment_start_date')); ?>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_PLEDGE_MADE']; ?><span class="red">*</span></label>
                    <?php echo $this->formRow($form->get('pledge_made_date')); ?>
                </div>
            </div>
            <div class="row">
                <div class="col1">
                    <label><?php echo $translator['L_CONTRIBUTION_TYPE']; ?></label>
                    <?php
                    echo $this->formRow($form->get('contribution_type_id'));
                    foreach ($contributionTypesDescripton AS $key => $val) {
                        if (isset($val) && !empty($val))
                            echo "<div class='contribution_type_id" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                    }
                    ?>

                </div>
                <div class="col1 right">
                    <label class="no-padd"><?php echo $translator['L_ACKNOWLEDGMENT_DATE']; ?></label>
                    <?php echo $this->formRow($form->get('acknowledgment_date')); ?>

                </div>
            </div>
            <div class="row no-padd">
                <div class="col1">
                    <label><?php echo $translator['L_COMPAIGN']; ?></label>
                    <?php echo $this->formRow($form->get('campaign_name')); ?>
                    <?php echo $this->formRow($form->get('campaign_id')); ?>
                </div>
            </div>


        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_HONOREE_DETAILS']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <div class="col2">
                    <?php echo $this->formRow($form->get('in_honoree')); ?>
                </div>
                <div class="col1" id="honoree_name_block" style="<?php echo (!empty($pledgeData['in_honoree']) && $pledgeData['in_honoree']!='3')?'display:block':'display:none'; ?>">
                    <label><?php echo $translator['L_NAME']; ?></label>
                    <?php echo $this->formRow($form->get('honoree_name')); ?>
                </div>
            </div>
        </div>
    </div>
    <div class="head no-img"><span><?php echo $translator['L_REMINDER']; ?></span></div>
    <div class="detail-section">
        <div class="common-form">
            <div class="row no-padd">
                <?php echo $this->formRow($form->get('is_reminder')); ?>
                <label for="is_reminder" class="check"><?php echo $translator['L_TURN_ON_REMINDER_SETTINGS']; ?></label>
            </div>
            <div id="reminder_details">
                <div class="row">
                    <div class="col1">
                        <div class="col8">
                            <?php echo $this->formRow($form->get('staff_reminder')); ?>
                            <label for="staff_reminder" class="check checked"><?php echo $translator['L_STAFF']; ?></label>
                        </div>
                        <div class="col8">
                            <?php echo $this->formRow($form->get('contact_reminder')); ?>
                            <label for="contact_reminder" class="check checked"><?php echo $translator['L_CONTACT']; ?></label>                    
                        </div>  
                    </div>
                </div>    
                <div class="row">
                    <label><?php echo $translator['L_SEND_INITIAL_REMINDER']; ?></label>
                    <?php echo $this->formRow($form->get('reminder_days')); ?>
                    <span class="text m-t-8 left m-l-10"><?php echo $translator['L_SEND_INITIAL_REMINDER_TEXT']; ?></span>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_SEND_UP_TO']; ?></label>
                    <?php echo $this->formRow($form->get('num_reminder')); ?>
                    <span class="text m-t-8 left m-l-10"><?php echo $translator['L_SEND_UP_TO_TEXT']; ?></span>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_SEND_ADDITIONAL_REMINDER']; ?></label>
                    <?php echo $this->formRow($form->get('additional_reminder_days')); ?>
                    <span class="text m-t-8 left m-l-10"><?php echo $translator['L_SEND_ADDITIONAL_REMINDER_TEXT']; ?></span>
                </div>
            </div>
        </div>
    </div>
    <div class="common-form">
        <div class="col1  m-t-20">
            <?php echo $this->formRow($form->get('save')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
        </div>
    </div>
</form>
<?php
echo $this->form()->closeTag();
?>
