<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/pledge/search.pledge.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
    <input type="hidden" name="export" value="excel" />
    <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
    <input type="hidden" name="searchString" id="searchString" value="" />
    <input type="hidden" name="sidx" id="sidx" value="" />
    <input type="hidden" name="sord" id="sord" value="" />
    <input type="hidden" name="rows" id="rows" value="" />
    <input type="hidden" name="page" id="page" value="" />
</form>
    <h2><?php echo $translator['L_PLEDGE']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <p class="search-text">Search Pledge by filling the following filters, or just do a blank search for the full list. If you do not find the Pledge you seek, you can <a href="<?php echo $this->url('createPledge', array('action' => 'addPledge')); ?>">Create New Pledge</a>.
        Also, you can save the search criteria for future use by naming it and clicking "Save", as well as retrieve saved searches by selecting from the list.</p>
    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_PLEDGE']; ?></span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label class="no-padd"><?php echo $translator['L_CONTACT_NAME_EMAIL']; ?></label>
                        <?php echo $this->formRow($form->get('contact_name')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PLEDGE_HASH']; ?></label>
                        <?php echo $this->formRow($form->get('pledge_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PAYMENT_SCHEDULE']; ?></label>
                        <?php echo $this->formRow($form->get('payment_scheduled')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PLEDGE_AMOUNT']; ?></label>
                        <label class="auto"><?php echo $translator['L_FROM']; ?></label>
                        <?php echo $this->formRow($form->get('pledge_amount_from')); ?>
                        <label class="auto"><?php echo $translator['L_TO']; ?></label>
                        <?php echo $this->formRow($form->get('pledge_amount_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PLEDGE_STATUS']; ?></label>
                        <?php 
						echo $this->formRow($form->get('pledge_status_id'));
						foreach ($pledgeStatusDesc AS $key1 => $val1) {
							if (isset($val1) && !empty($val1))
								echo "<div class='pledge_status_id" . $key1 . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val1 . "</label></div>";
						}
						?>
                    </div>
                </div>                
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchpledgebutton')); ?>
                    </div>
                </div>
            </div>
        <?php echo $this->form()->closeTag(); ?>
                        <div class="detail-section1 common-form search-row-2">
                            <div class="left">
                                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
                    </div>
                    <div class="col1 right" style="width:auto">
                <?php
                        $save_search_form = $this->search_form;
                        $save_search_form->prepare();
                        echo $this->form()->openTag($save_search_form);
                ?>
                        <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                        <a href="#delete_pledge_saved_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                        <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                        echo $this->form()->closeTag();
                ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-section">
            <div class="search-results">
                <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
                <p>
                    Below are the records that match the search criteria you entered. If you do not find the contact you seek, try <a href="<?php echo $this->url('createPledge', array('action' => 'addPledge')); ?>">Create New Pledge</a>.
                </p>
            </div>
            <div class="grid-box" id="gview_list">
                <table id="list_pledge"></table>
                <div id="listpledgerud"></div>
            </div>
        </div>


        <div style='display:none'>
            <div id='delete_pledge_saved_search' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete" class="green-btn">
                </div>
            </div>
        </div>

        <div style='display:none'>
            <div id='delete_pledge_content' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['DELETE_PLEDGE_ALERT']; ?></h2>
                <div class="button-row">
                    <input type="button" value="Yes" name="yes" id="yes_delete_pledge" class="blue-btn m-r-10">
                    <input type="button" value="No" name="no" id="no_delete_pledge" class="green-btn">
                </div>
            </div>
        </div>


        <div style='display:none'>
            <div id='cancel_pledge' class="pop-container">
                <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
                <h2><?php echo $translator['CANCEL_PLEDGE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_cancel" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_cancel" class="green-btn">
        </div>
    </div>
</div>