<?php
/**
 * This file is used for get pledge transaction detail
 * @package    Pledge
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        $var .= 'var encryptUserId = "' . $this->encryptUserId . '";';
        $var .= 'var encryptPledgeTransactionId = "' . $this->encryptPledgeTransactionId . '";';
    }
}
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pledge/pledge.transaction.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
    $(function(){
        $("#pledge_status").select2({});
        //$(".e2").customInput();
        //$(".e3").customInput();
    })
</script>
<?php
$form = $this->pledgePayment;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('pledge_transaction_id'));
?>
<div style="background:#f5f4f4; width:100%; float:left;">
    <div class="setting-popup" >
        <div class="create-contacts">
            <div class="detail-section11">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label for="paid_by"><?php echo $this->jsLangTranslate['PAID_BY']; ?></label>
                            <?php echo $this->formRow($form->get('paid_by')); ?>
                        </div>
                    </div>
                    <div class="row" id="bank_account_no_block" style="display:none;">
                        <div class="col1">
                            <label for="paid_by"><?php echo $this->jsLangTranslate['BANK_ACCOUNT_NO']; ?></label>
                            <?php echo $this->formRow($form->get('account_number')); ?>
                        </div>
                    </div>
                    <div class="row" id="check_no_block" style="display:none;">
                        <div class="col1">
                            <label for="paid_by"><?php echo $this->jsLangTranslate['CHECK_NO']; ?></label>
                            <?php echo $this->formRow($form->get('check_number')); ?>
                        </div>
                    </div>
                    <div class="row" id="submit_block" style="display:none;">
                        <div class="col8">
                            <?php echo $this->formRow($form->get('pledge_submit')); ?>
                            <span class="m-l-10 left">
                                <?php echo $this->formRow($form->get('pledge_cancel')); ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>


