<?php
$translator = $this->jsLangTranslate;

$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .=' var pledge_id="'.$pledge_id.'";';
$var .=' var encrypt_pledge_id="'.$encrypt_pledge_id.'";';
$var .=' var encrypted_source_type_id="'.$encrypted_source_type_id.'";';
$var .=' var encrypted_contact_name_id="'.$encrypted_contact_name_id.'";';
$var .=' var module_name="'.$module_name.'";';
$var .=' var mode="'.$mode.'";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/pledge/pledge.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
    <div class="create-contacts">
        <h2>
            <?php echo $translator['L_PLEDGE'];?>
            <?php if(isset($pledge_data['contact_name']) and trim($pledge_data['contact_name']) != "") { echo '<div class="user-name-top">'.trim($pledge_data['contact_name']).'</div>'; } ?>
        </h2>
       <div class="accordion-detail">
        <ul class="edit-link">
            <li><a onclick="getPledgeDetail()" id="tab-1" href="javascript:void(0);" class="active"><?php echo $translator['L_DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editPledgeDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="getPledgeTransactions()" id="tab-3"><?php echo $translator['L_TRANSACTIONS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="getContactActivityDetail()" id="tab-3"><?php echo $translator['L_ACTIVITIES']. " (".$totalActivityCount.")"; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-5"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>            
        <div class="accordion-detail">
            <div id="pledgeContent" class="relative width-100"></div>
        </div>
       </div>  
    </div>