<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .=' var pledge_id="'.$pledge_id.'";';
$var .=' var encrypt_pledge_id="'.$encrypt_pledge_id.'";';
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/pledge/pledge.transaction.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51 case"  style="position:absolute; top:-30px">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="head no-img"><span>Pledge Transactions</span></div>
<div id="success_message" class="success-msg" style="display:none;">
</div>
<div class="detail-section">
  <div class="common-form">
    <div class="grid-box">
        <table id="list"></table>
        <div id="pcrud"></div>
    </div>
  </div>
</div>