<?php
$translator = $this->jsLangTranslate;

$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
//asd($pledge_data);
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51 case" style="position:absolute; top:-30px">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>

<div class="head no-img"><span><?php echo $translator['L_DETAILS']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_PLEDGE_HASH']; ?></label>
                <span class="view-text"><?php echo $pledge_data['pledge_id']; ?></span> </div>
            <div class="col1 right">
                <label><?php echo $translator['L_CONTACT_NAME']; ?></label>
                <span class="view-text"><?php echo (!empty($pledge_data['full_name'])) ? $pledge_data['full_name'] : $pledge_data['company_name']; ?></span> </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_ASSIGNED_TO']; ?></label>
                <span class="view-text"><?php echo $pledge_data['assigned_to']; ?></span> </div>
            <div class="col1 right">
                <label><?php echo $translator['L_TOTAL_PLEDGE_AMOUNT']; ?></label>
                <span class="view-text"> $ <?php echo $pledge_data['pledge_amount']; ?></span> </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_TO_BE_PAID_IN']; ?></label>
                <span class="view-text"><?php echo $pledge_data['num_installment']; ?> Installment of $ <?php echo $pledge_data['installment_amount']; ?>  Every   <?php echo $pledge_data['installment_in']; ?> <?php echo $pledge_data['installment_type_name']; ?>(s)</span> </div>
            <div class="col1 right">
                <label><?php echo $translator['L_PAYMENTS_ARE_DUE_ON']; ?></label>
                <span class="view-text"><?php echo $pledge_data['payment_due_days']; ?> day of the period</span></div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_PLEDGE_MADE']; ?></label>
                <span class="view-text"><?php echo $this->Dateformatalpha($pledge_data['pledge_made_date'], 'displaymothdateyear'); ?></span>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_ACKNOWLEDGMENT_DATE']; ?></label>
                <span class="view-text"><?php
    if (isset($pledge_data['acknowledgment_date']) && !empty($pledge_data['acknowledgment_date']) && $pledge_data['acknowledgment_date'] != '0000-00-00') {
        echo $this->Dateformatalpha($pledge_data['acknowledgment_date'], 'displaymothdateyear');
    } else {
        echo "N/A";
    }
    ?>
                </span>

            </div>

        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_PAYMENT_START']; ?></label>
                <span class="view-text"><?php echo $this->Dateformatalpha($pledge_data['payment_start_date'], 'displaymothdateyear'); ?></span>

            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_COMPAIGN']; ?></label>
                <span class="view-text"><?php echo $pledge_data['campaign']; ?></span> </div>
        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo $translator['L_CONTRIBUTION_TYPE']; ?></label>
                <span class="view-text"><?php echo $pledge_data['contribution_type_name']; ?></span>

            </div>

        </div>
    </div>
</div>
<?php if (!empty($pledge_data['in_honoree']) && $pledge_data['in_honoree']!='3') { ?>
    <div class="head no-img"><span><?php echo $translator['L_HONOREE_DETAILS']; ?></span></div>
                        <div class="detail-section">
                            <div class="common-form">
                                <div class="row">
                                    <label class="no-padd">&nbsp;</label>

                                    <label class="no-padd"><?php echo $translator['L_NAME']; ?></label>
                                </div>
                                <div class="row no-padd">
                                    <label><?php echo $translator['L_IN_HONOR_OF']; ?></label>
                                    <span class="view-text"><?php echo $pledge_data['honoree_name']; ?></span> </div>
                            </div>
                        </div>
<?php } ?>
                    <div class="head no-img"><span><?php echo $translator['L_REMINDER']; ?></span></div>
                    <div class="detail-section">
                        <div class="common-form">
                            <div class="row">
                                <label class="no-padd"><?php echo $translator['L_TURN_ON_REMINDER_SETTINGS']; ?></label>
                                <div class="col11">
                                    <input name="" type="checkbox" disabled value="" class="check e2" id="check-1" <?php if ($pledge_data['is_reminder'] == 1) {
                        echo "checked='checked'";
                    } ?>>
                                    <label class="check" for="check-1">&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="no-padd"><?php echo $translator['L_STAFF']; ?></label>
                                <div class="col11">
                                    <input name="" type="checkbox" disabled value="" class="check e2" id="check-2" <?php if ($pledge_data['staff_reminder'] == 1) {
                        echo "checked='checked'";
                    } ?>>
                                    <label class="check" for="check-2">&nbsp;</label>
                                </div>
                                <label class="no-padd"><?php echo $translator['L_CONTACT']; ?></label>
                                <div class="col11">
                                    <input name="" type="checkbox" disabled value="" class="check e2" id="check-3"<?php if ($pledge_data['contact_reminder'] == 1) {
                        echo "checked='checked'";
                    } ?>>
                                    <label class="check" for="check-3">&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <label class="no-padd"><?php echo $translator['L_SEND_INITIAL_REMINDER']; ?></label>
                                <span class="col11 text"><?php echo $pledge_data['reminder_days']; ?></span> <span class="text"><?php echo $translator['L_SEND_INITIAL_REMINDER_TEXT']; ?></span> </div>
                            <div class="row">
                                <label class="no-padd"><?php echo $translator['L_SEND_UP_TO']; ?></label>
                                <span class="col11 text"><?php echo $pledge_data['num_reminder']; ?></span> <span class="text"><?php echo $translator['L_SEND_UP_TO_TEXT']; ?></span> </div>
                            <div class="row no-padd">
                                <label class="no-padd"><?php echo $translator['L_SEND_ADDITIONAL_REMINDER']; ?></label>
                                <span class="col11 text"><?php echo $pledge_data['additional_reminder_days']; ?></span> <span class="text"><?php echo $translator['L_SEND_ADDITIONAL_REMINDER_TEXT']; ?></span> </div>
    </div>
</div>

<script type="text/javascript">
	
    $($(".e3")).each(function(i){
        //alert(i);
        if($(this).is('[type=checkbox],[type=radio]')){
            var input = $(this);
            var input_class = input.attr('class').split(" ");
            input.attr({'id':input_class['1']+'_'+i});
			
            // get the associated label using the input's id
			
            var label = $('label[for='+input.attr('id')+']');
            var outerLabel = input.parent();
            var outerLabelParent = input.parent().parent();
			
            //get type, for classname suffix
            var inputType = (input.is('[type=checkbox]')) ? 'checkbox' : 'radio';
            if(inputType=='radio') {
                var oDiv = $(document.createElement('label')).attr({'for':input_class['1']+'_'+i}).html($(outerLabel).text());
                $(outerLabel).remove();
                outerLabelParent.append(input,oDiv);
            }
        }
    });
$(".e3").customInput();
$(".e2").customInput();
	
	
</script>