<?php
/**
 * This view is used to create campaign for admin
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.campaign.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/vendor/jquery.ui.widget.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.iframe-transport.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<style>
    .create-contacts .row{padding-bottom:30px}
</style>
<div class="create-contacts">
    <h2>Campaigns</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->create_campaign_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_CAMP_INFORMATION']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('title')); ?>
                        <?php echo $this->formRow($form->get('campaign_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CAMP_TYPE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('campaign_type'));
                        foreach ($campTypeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='camp_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_DESCRIPTION']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('description')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_PROGRAM']; ?><span class="red">*</span></label>
                        <div class="search-input-bg">
                            <?php echo $this->formRow($form->get('program')); ?>
                            <?php echo $this->formRow($form->get('program_id')); ?>  
                        </div>
                        <div class="row no-padd">
                            <label>&nbsp;</label>
                            <label class="auto"><?php echo $translator['L_OR']; ?></label>
                            <a onclick="addProgram();" href="Javascript: void(0)" class="link m-t-8 left m-l-15"><?php echo $translator['SELECT_PROGRAM']; ?></a> 
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ADD_THUMBNAIL']; ?></label>
                        <?php echo $this->formRow($form->get('thumbnail')); ?>
                        <?php echo $this->formRow($form->get('thumbnail_image')); ?>

                        <div class="row no-padd m-b-5">
                            <label>&nbsp;</label> <div id="filemessage"></div>
                        </div>
                    </div>
					<div class="col1 right">
                        <label><?php echo $translator['L_PROJECT']; ?><span class="red">*</span></label>
                        <div class="search-input-bg">
                            <?php echo $this->formRow($form->get('project')); ?>
                            <?php echo $this->formRow($form->get('project_id')); ?>  
                        </div>
                        <div class="row no-padd">
                            <label>&nbsp;</label>
                            <label class="auto"><?php echo $translator['L_OR']; ?></label>
                            <a onclick="addProject();" href="Javascript: void(0)" class="link m-t-8 left m-l-15"><?php echo $translator['SELECT_PROJECT']; ?></a> 
                        </div>
                    </div>
                </div>
                <div class="row">                   
                    <div class="full add-group right">
                        <label><?php echo $translator['L_GROUPS']; ?><span class="red"></span></label>

                        <?php echo $this->formRow($form->get('group_from')); ?>
                        <div class='button-col'>
                            <?php
                            echo $this->formRow($form->get('addbutton'));
                            echo $this->formRow($form->get('removebutton'));
                            ?>
                        </div>	
                        <span class="rel-auto">						
                            <?php
                            echo $this->formRow($form->get('group_to'));
                            echo $this->formRow($form->get('groups'));
                            ?>
                        </span>
                    </div>

                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_START_DATE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('start_date')); ?>
                        <?php echo $this->formRow($form->get('start_time')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_END_DATE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('end_date')); ?>
                        <?php echo $this->formRow($form->get('end_time')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CAMP_STATUS']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('campaign_status'));
                        foreach ($campaignStatusDescripton AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='campaign_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CAMP_GOAL']; ?></label>
                        <?php echo $this->formRow($form->get('campaign_goal')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_REVENUE_GOAL']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('revenue_goal')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ACTIVE']; ?></label>
                        <?php echo $this->formRow($form->get('is_active')); ?>
                        <label class="check" for="is_active">&nbsp;</label>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_GLOBAL']; ?></label>
                        <?php echo $this->formRow($form->get('is_global')); ?>
                        <label class="check" for="is_global">&nbsp;</label>
                    </div>
                    <!-- <div class="col1 right">
                        <label><?php // echo $translator['L_DESIGNATION']; ?></label>
                        <?php // echo $this->formRow($form->get('designation')); ?>
                    </div> -->
                </div>
                <!--                <div class="row">
                                    <div class="col1">
                                        <label><?php //echo $translator['L_GL_CODE'];             ?><span class="red">*</span></label>
                <?php //echo $this->formRow($form->get('gl_code')); ?>
                                    </div>
                                    <div class="col1 right">
                                        <label><?php //echo $translator['L_COUPON_CODE'];             ?></label>
                <?php //echo $this->formRow($form->get('coupon_code')); ?>
                                    </div>
                                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php // echo $translator['L_DEPARTMENT']; ?></label>
                        <?php // echo $this->formRow($form->get('department')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php // echo $translator['L_RESTRICTED']; ?></label>
                        <?php // echo $this->formRow($form->get('restricted')); ?>
                        <label class="check" for="restricted">&nbsp;</label>
                    </div>
                </div> -->
                <div class="row" id="load_channel">
                    <?php $i = 0; ?>
                    <div class="change-form-bg campaigns-input channel_div channel_<?php echo $i ?> row" style="padding:15px !important; width: 98% !important;" id="channel_<?php echo $i ?>">
                        <div class="row">
                            <div class="col1">
                                <label><?php echo $translator['L_CHANNEL']; ?></label>
                                <?php
                                echo $this->formRow($form->get('add_channel_campaign')->get('channel[]'));
                                foreach ($channelDesc AS $key => $val) {
                                    if (isset($val) && !empty($val))
                                        echo "<div class='channeldesc" . $key.$i . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                                }
                                ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_CHANNEL_COST']; ?></label>
                                <?php echo $this->formRow($form->get('add_channel_campaign')->get('channel_cost[]')); ?> 
                                <div class="addMinus right">
                                    <a class="plus" href="javascript:void(0)" id="load_channel_div"></a> 
                                </div>
                            </div>
                        </div>
                        <div class="row no-padd">
                            <div class="col1">
                                <label><?php echo $translator['L_COUPON_CODE']; ?></label>
                                <?php echo $this->formRow($form->get('add_channel_campaign')->get('coupon_code[]')); ?>  
                               
                            </div>
                            
                        </div>

                        <?php $i++; ?>
                    </div>
                    <div id="count_div" style="display:none;"><?php echo $i ?></div>
                </div>
                <div class="row no-padd">
                    
                </div>
            </div>
        </div>
        <div class="common-form">
            <div class="col1  m-t-20">
                <?php echo $this->formRow($form->get('savebutton')); ?>
                <?php echo $this->formRow($form->get('cancelbutton')); ?>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
