<?php
/**
 * This view is used to generate channel sub form
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
 $counter = json_encode($_GET['counter']);
 $container = json_encode($_GET['container']);
 $script = <<<EOD
var counter = $counter;
var container = $container;
$('#chanel_addMinus'+counter).append($("<a  class='minus m-l-5' onclick=remove_dynamic_contacts('."+container+''+counter+"','"+counter+"')>", {
        href: "javascript:void(0)",
        id: "remove"
    }));
$(function(){
        $("select.e1").select2();
    });
EOD;
echo $this->inlineScript()->prependScript($script,"text/javascript");
?>
<div class="row">
    <div class="col1">
        <label>Channel</label>
        <?php 
		echo $this->formRow($channel_campaign_form->get('channel[]'));
		foreach ($channelDesc AS $key => $val) {
			if (isset($val) && !empty($val))
				echo "<div class='channeldesc" . $key.$_GET['counter'] . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
		}
		?>
    </div>
    <div class="col1 right">
        <label>Channel Cost ($)</label>
        <?php echo $this->formRow($channel_campaign_form->get('channel_cost[]')); ?>
        <div id="chanel_addMinus<?php echo $_GET['counter'] ?>" class="addMinus">                
            <a class="plus m-l-5" href="javascript:void(0)" id="load_channel_div"></a>
        </div>

    </div>
    
</div>

<div class="row no-padd">
    
    <div class="col1">
        <label>Promotion Code</label>
        <?php echo $this->formRow($channel_campaign_form->get('coupon_code[]')); ?>
    </div> 
</div>