<?php
/**
 * This view is used to edit a campaign
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;

$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.campaign.js?v=' . $this->layout()->getVariable('jsVersion'))
        ->prependScript($var);
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_CAMP_INFORMATION']; ?></span></div>
<?php
$form = $this->create_campaign_form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_TITLE']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('title')); ?>
                <?php echo nl2br($this->formRow($form->get('campaign_id'))); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_CAMP_TYPE']; ?><span class="red"><span class="red">*</span></span></label>
                <?php
                echo $this->formRow($form->get('campaign_type'));
                foreach ($campTypeDesc AS $key => $val) {
                    if (isset($val) && !empty($val))
                        echo "<div class='camp_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                }
                ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_DESCRIPTION']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('description')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_PROGRAM']; ?><span class="red">*</span></label>


                <?php echo $this->formRow($form->get('program')); ?>
                <?php echo $this->formRow($form->get('program_id')); ?>  

                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <label class="auto"><?php echo $translator['L_OR']; ?></label>
                    <a onclick="addProgram();" href="Javascript: void(0)" class="link m-t-8 left m-l-15"><?php echo $translator['SELECT_PROGRAM']; ?></a> </div>
            </div>
        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo $translator['L_ADD_THUMBNAIL']; ?></label>
                <?php echo $this->formRow($form->get('thumbnail')); ?>
                <?php echo $this->formRow($form->get('thumbnail_image')); ?>

                <div class="row no-padd m-t-10">
                    <!-- The global progress bar -->
                    <label>&nbsp;</label>
                    <div id="filemessage"></div>
                    <?php if ($campaign_image != '') {
                        ?>
                        <img src="<?php echo $campaign_image; ?>" />
                    <?php }
                    ?>

                </div>
            </div>
			<div class="col1 right">
                <label><?php echo $translator['L_PROJECT']; ?><span class="red">*</span></label>


                <?php echo $this->formRow($form->get('project')); ?>
                <?php echo $this->formRow($form->get('project_id')); ?>  

                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <label class="auto"><?php echo $translator['L_OR']; ?></label>
                    <a onclick="addProject();" href="Javascript: void(0)" class="link m-t-8 left m-l-15"><?php echo $translator['SELECT_PROJECT']; ?></a> </div>
            </div>
        </div>
        <div class="row">
            <div class="full add-group right">

                <label><?php echo $translator['L_GROUPS']; ?><span class="red"></span></label>

                <?php echo $this->formRow($form->get('group_from')); ?>
                <div class='button-col'>
                    <?php
                    echo $this->formRow($form->get('addbutton'));
                    echo $this->formRow($form->get('removebutton'));
                    ?>
                </div>	
                <span class="rel-auto">
                    <?php
                    echo $this->formRow($form->get('group_to'));
                    echo $this->formRow($form->get('groups'));
                    ?>
                </span>

            </div></div>

        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_START_DATE']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('start_date')); ?>

                <?php echo $this->formRow($form->get('start_time')); ?>

            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_END_DATE']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('end_date')); ?>
                <?php echo $this->formRow($form->get('end_time')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CAMP_STATUS']; ?><span class="red">*</span></label>
                <?php
                echo $this->formRow($form->get('campaign_status'));
                foreach ($campStatDesc AS $key => $val) {
                    if (isset($val) && !empty($val))
                        echo "<div class='camp_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                }
                ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_CAMP_GOAL']; ?></label>
                <?php echo $this->formRow($form->get('campaign_goal')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_REVENUE_GOAL']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('revenue_goal')); ?>
            </div>

            <div class="col1 right">
                <label><?php echo $translator['L_ACTIVE']; ?></label>
                <?php echo $this->formRow($form->get('is_active')); ?>
                <label class="check" for="is_active">&nbsp;</label>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_GLOBAL']; ?></label>
                <?php echo $this->formRow($form->get('is_global')); ?>
                <label class="check" for="is_global">&nbsp;</label>
            </div>
        </div> 
        <div class="row" id="load_channel">
            <?php
            $i = 0;
            $j = 1;
            if (!empty($this->channelId) && isset($this->channelId)) {
                $totalChannel = count($this->channelId);
                $totalReceived = 0;
                foreach ($this->channelId as $key => $val) {
                    $channelIdEdit = isset($this->channelId[$i]) ? $this->channelId[$i] : null;
                    $channelCostEdit = isset($this->channelCost[$i]) ? $this->channelCost[$i] : null;
                    $couponCodeEdit = isset($this->couponCode[$i]) ? $this->couponCode[$i] : null;
                    $revenueReceivedEdit = isset($this->revenueReceived[$i]) ? $this->revenueReceived[$i] : null;
                    $channelCampIdEdit = isset($this->channelCampId[$i]) ? $this->channelCampId[$i] : null;
                    if (intval($revenueReceivedEdit) > 0) {
                        $totalReceived = $totalReceived + 1;
                    }
                    ?>

                    <div class="change-form-bg channel_div channel_<?php echo $i ?> row" id="channel_<?php echo $i ?>">
                        <div class='row'>
                            <div class="col1">
                                <label><?php echo $translator['L_CHANNEL']; ?></label>
                                <?php
                                
                                if (intval($revenueReceivedEdit) > 0) {
                                    ?>
                                <input type="hidden" name="channel[]" value="<?php echo $channelIdEdit; ?>">
                                <?php
                                    //echo $this->formRow($form->get('add_channel_campaign')->get('channel[]')->setAttribute('type','select')->setValue($channelIdEdit));
                                    echo "<label>".$channel_list[$channelIdEdit]."</label>";
                                }
                                else{
                                    echo $this->formRow($form->get('add_channel_campaign')->get('channel[]')->setAttribute('type','select')->setValue($channelIdEdit));
                                }
                                foreach ($channelDesc AS $key => $val) {
                                    if (isset($val) && !empty($val))
                                        echo "<div class='channel" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                                }
                                ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_CHANNEL_COST']; ?></label>
                                <?php
                                echo $this->formRow($form->get('add_channel_campaign')->get('channel_cost[]')->setValue($channelCostEdit));
                                if (intval($revenueReceivedEdit) == 0) {
                                    ?>                                
                                    <div class="right">
                                        <?php
                                        if ($totalChannel == $j) {
                                            ?>
                                            <div class="addMinus">
                                                <a class="plus m-l-5" href="javascript:void(0)" id="load_channel_div"></a>&nbsp; 
                                                <?php echo '<a href="javascript:void(0);" onclick="remove_dynamic_contacts(\'.channel_' . $i . '\',\'' . $i . '\')" class="minus"> </a>'; ?>
                                            </div>
                                            <?php
                                        } else {
                                            ?>
                                            <div class="addMinus">
                                                <?php echo '<a href="javascript:void(0);" onclick="remove_dynamic_contacts(\'.channel_' . $i . '\',\'' . $i . '\')" class="minus"> </a>'; ?>
                                            </div>
                                            <?php
                                        }
                                        ?>
                                    </div>
                                <?php } $j++; ?>
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col1">
                                <label><?php echo $translator['L_COUPON_CODE']; ?></label>
                                <?php echo $this->formRow($form->get('add_channel_campaign')->get('coupon_code[]')->setValue($couponCodeEdit)); ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_REVENUE_RECEIVED']; ?></label>
                                <label><?php echo $revenueReceivedEdit; ?></label>
                                <?php
                                if (intval($revenueReceivedEdit) > 0) {
                                    echo $this->formRow($form->get('add_channel_campaign')->get('channel_id[]')->setValue($channelCampIdEdit));
                                } else {
                                    echo $this->formRow($form->get('add_channel_campaign')->get('channel_id[]')->setValue(0));
                                }
                                ?>
                            </div>
                        </div>
                    </div><?php
                        $i++;
                    }
                    if ($totalChannel == $totalReceived) {
                                ?>
                    <div class="change-form-bg channel_div channel_<?php echo $i ?>" id="channel_<?php echo $i ?>">
                        <div class='row'>
                            <div class="col1">
                                <label><?php echo $translator['L_CHANNEL']; ?></label>
                                <?php echo $this->formRow($form->get('add_channel_campaign')->get('channel[]')->setAttribute('type','select')->setAttribute('value','')); ?>
                            </div>
                            <div class="col1 right">
                                <label><?php echo $translator['L_CHANNEL_COST']; ?></label>
                                <?php echo $this->formRow($form->get('add_channel_campaign')->get('channel_cost[]')->setAttribute('value','')); ?>
                                <div class="addMinus">
                                    <a class="plus m-l-5" href="javascript:void(0)" id="load_channel_div"></a> 
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col1">
                                <label><?php echo $translator['L_COUPON_CODE']; ?></label>
                                <?php
                                echo $this->formRow($form->get('add_channel_campaign')->get('coupon_code[]')->setAttribute('value',''));
                                echo $this->formRow($form->get('add_channel_campaign')->get('channel_id[]')->setValue(0));
                                ?>   
                            </div>
                            <?php $i++; ?>                    
                        </div>
                    </div>
                    <?php
                }
            } else {
                ?>
                <div class="change-form-bg channel_div channel_<?php echo $i ?>" id="channel_<?php echo $i ?>">
                    <div class='row'>
                        <div class="col1">
                            <label><?php echo $translator['L_CHANNEL']; ?></label>
                            <?php echo $this->formRow($form->get('add_channel_campaign')->get('channel[]')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CHANNEL_COST']; ?></label>
                            <?php echo $this->formRow($form->get('add_channel_campaign')->get('channel_cost[]')); ?>
                            <div class="addMinus">
                                <a class="plus m-l-5" href="javascript:void(0)" id="load_channel_div"></a> 
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col1">
                            <label><?php echo $translator['L_COUPON_CODE']; ?></label>
                            <?php
                            echo $this->formRow($form->get('add_channel_campaign')->get('coupon_code[]'));
                            echo $this->formRow($form->get('add_channel_campaign')->get('channel_id[]')->setValue(0));
                            ?>   
                        </div>
                        <?php $i++; ?>                    
                    </div>
                    <?php
                    $i++;
                }
                ?>
            </div>
            <div id="count_div" style="display:none;"><?php echo $i ?></div>
        </div>

    </div>
</div>
<div class="common-form">
    <div class="col1  m-t-20">
        <?php echo $this->formRow($form->get('savebutton')); ?>
        <?php echo $this->formRow($form->get('cancelbutton')); ?>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>
