<?php
/**
 * This view is used to import bad reciepient
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.bad.recepient.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_BAD_RECEPIENT']; ?></span></div>
<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>