<?php
/**
 * This view is used to search campaign
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.campaign.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.timepicker.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery.timepicker.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <h2>Campaigns</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text"><?php echo $translator['HEADER_TEXT']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>  
        <div class="head no-img"><span><?php echo $translator['SEARCH_CAMP']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                $form = $this->search_campaign_form;
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?></label>
                        <?php echo $this->formRow($form->get('title')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['NAME_OR_EMAIL']; ?></label>
                        <?php echo $this->formRow($form->get('name_email')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['CAMP_CODE']; ?></label>
                        <?php echo $this->formRow($form->get('campaign_code')); ?>
                        <?php echo $this->formRow($form->get('campaign_code_id')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['PROG']; ?></label>
                        <?php echo $this->formRow($form->get('program')); ?>
                        <?php echo $this->formRow($form->get('program_id')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['START_DATE']; ?></label>
                        <?php echo $this->formRow($form->get('start_date')); ?>

                        <label class="auto"><?php echo $translator['TIME']; ?></label>
                        <?php echo $this->formRow($form->get('start_time')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['END_DATE']; ?></label>
                        <?php echo $this->formRow($form->get('end_date')); ?>

                        <label class="auto"><?php echo $translator['TIME']; ?></label>
                        <?php echo $this->formRow($form->get('end_time')); ?>

                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['CAMP_TYPE']; ?></label>
                        <?php
                        echo $this->formRow($form->get('campaign_type'));
                        foreach ($campTypeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='camp_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['CHANNEL']; ?></label>
                        <?php echo $this->formRow($form->get('channel')); ?>
                        <?php
                        foreach ($channelDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='channel" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>

                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['CAMP_STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('campaign_status')); ?>
                        <?php
                        foreach ($campStatDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='camp_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>					
                    <div class="col1 right">
                        <label><?php echo $translator['L_PROJECT']; ?></label>
                        <?php echo $this->formRow($form->get('project')); ?>
                        <?php echo $this->formRow($form->get('project_id')); ?>
                    </div>
                </div>
                <div class="row">                   
                    <div class="full add-group right">
                        <label><?php echo $translator['L_GROUPS']; ?></label>

                        <?php echo $this->formRow($form->get('group_from')); ?>
                        <div class='button-col'>
                            <?php
                            echo $this->formRow($form->get('addbutton'));
                            echo $this->formRow($form->get('removebutton'));
                            ?>
                        </div>	
                        <span class="rel-auto">						
                            <?php
                            echo $this->formRow($form->get('group_to'));
                            echo $this->formRow($form->get('groups'));
                            ?>
                        </span>
                    </div>

                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>

                <?php echo $this->formRow($form->get('saved_search')); ?>

            </div>
            <div class="right col1" style="width:auto">
                <?php
                $save_form = $this->save_search_campaign_form;
                $save_form->prepare();
                echo $this->form()->openTag($save_form);
                ?>
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?> </label>
                <?php echo $this->formRow($save_form->get('save_search_as')); ?>
                <?php echo $this->formRow($save_form->get('search_id')); ?>
                <?php echo $this->formRow($save_form->get('savesearch')); ?>
                <a href="#delete_campaign_search" id="deletebutton" style="display:none;" class="delete_campaign_search save-btn m-l-5" onClick="deleteSearch();"><?php echo $translator['DEL']; ?></a>
                <span id="search_msg"></span>    
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>



<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['SEARCH_RESULTS']; ?> :</h3>
        <p id="searchtextid"><?php echo $translator['SEARCH_TEXT']; ?></p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br />
    </div>
</div>

<div class="common-form">
    <a href="#add_user" id="sendmail" class="add_user save-btn m-l-5" onClick="addUser();"><?php echo $translator['L_ASSOCIATE_CONTACT']; ?></a>
    <?php // echo $this->formRow($form->get('sendMail'));  ?> 
</div>
<div style='display:none'>
    <div id='delete_campaign' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>

    <div id='delete_campaign_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_SEARCH_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>

    <div id='add_user' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_ASSOCIATE_CONTACTS']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_add" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_add" class="green-btn">
        </div>
    </div>
</div>