<?php
/**
 * This view is used to search campaign touch point
 * @package    Campaign
 * @author     Icreon Tech - DG
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var campaignId= "' . $campaignId . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.touch_points.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="create-contacts">
    <div class="breadcrumb m-t-51">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>

    <div class="accordion-detail m-t-20">
        <div class="detail-section">
            <div class="common-form">
                <p class='search-text'>You can create <a href="javascript:void(0);" onclick="addTouchPoints();">Touch Points</a> from here.
				</p><br><br>
				<div style="width:100%;float:left;display:none;"  id="error_message" class="error-msg"><div>No Contacts Available</div></div>
                <div class="head no-img"><span><?php echo $translator['H_TOUCH_POINTS']; ?></span></div>				
                <div class="grid-section">
                    <div class="grid-box for-input-border" id="gview_list">
                        <table id="list"></table>
                        <div id="pcrud"></div>
                        <br><br>
                    </div>
                </div>
            </div>			
        </div>
    </div>
</div>