<?php
/**
 * This view is used to search user campaign
 * @package    Campaign
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/user.search.campaign.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="breadcrumb contact-breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['HEAD_SEARCH_CAMPAIGN']; ?></span></div>
        <?php
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('user_id'));
        echo $this->formRow($form->get('campaign_id'));
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CAMPAIGN_CODE']; ?></label>
                        <?php echo $this->formRow($form->get('campaign_code')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CHANNEL']; ?></label>
                        <?php echo $this->formRow($form->get('channel_id')); ?>
                    </div>
                </div>                
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                </div>
            </div>
        </div>            
        <?php
        echo $this->form()->closeTag();
        ?>        
    </div>    
</div>
<div class="grid-section">
    <div id="success_message"></div>
    <div class="grid-box">       
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>