<?php
/**
 * This view is used to show channel codes on popup
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.campaign.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="pop-container">
    <h3 class="aleft font_24px"><?php echo $translator['CAMP_CHANNEL_CODES'];?></h3>
    <div class="campaign-popup-detail">
	<div class="msg-box" style="display:none"><span><?php echo $translator['COPY_CLIPBOARD'];?></span></div>
        <h4><?php echo $translator['CHANNEL_ASSOC'];?></h4>
        <?php
        if (isset($searchResult) && !empty($searchResult)) {
            $i=0;
            foreach ($searchResult as $key) {
                $i++;
                ?>
                <h5><strong><?php echo $key['channel']; ?> :</strong><span id='camp<?php echo $i; ?>'><?php echo $key['channel'] . "." . $key['campaign_code']; ?></span><!-- <span class="icon"><img onclick="copy('camp'+<?php echo $i; ?>)" src="/img/comp-icon.png" alt=""></span> --> </h5>
                            <?php
                        }
                    } else {
                        ?>
            <h4><strong><?php echo $translator['NO_CHANNEL_CODES'];?></strong></h4>
            <?php
        }
        ?>

    </div>
</div>
<div id="clipboard" style="display:none;"></div>