<?php
/**
 * This view is used to import bad reciepient
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/import.bad.recepient.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['IMPORT_BAD']; ?></h2>
    <div id="success_message" class="success-msg" style="display:none"></div>
    <div id="error_message" class="error-msg" style="display:none"></div>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->badRecipientForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
            <div class="head no-img"><span><?php echo $translator['IMPORT_FILE']; ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['SELECT_FILE']; ?></label>
                            <?php echo $this->formRow($form->get('bad_recipient')); ?>
                            <a class="link left m-10" href="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/tmp/bad_recepient.xls"><?php echo $translator['SAMPLE_EXCEL'];?></a> 
                            <span class="age-year"><?php echo $translator['ALLOW_BAD_REC']; ?></span></div>
                           
                    </div>
                </div>
            </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>