<?php
/**
 * This file is used to get user searches
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var touchId = "' . $touchId . '";';
$encrptVar = $this->Encrypt('touch');
$script = <<<EOD
$(function(){
        var url = "/upload-campaign-touch-points/$touchId/$campaignId";
        $('#file_name').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                data=data.result;
                if(data.status=='success')
                {
                    $("#import-success").show();
                    $("#import-success").html(data.message);
                    $("#import-error").hide();
                    window.location.href= "/campaign/$campaignId/$encrptVar";
                }
                else
                {
                    $("#import-error").show();
                    $("#import-error").html(data.message);
                    $("#import-success").hide();
                }
            },
            start : function (e) {
                showAjxLoader();
            },
            stop : function(e){
                hideAjxLoader();
            }
        });
    });
EOD;

echo $this->inlineScript()->prependScript($var)
						  ->prependScript($script);

?>
<div class="create-contacts create-contact-page">
    <h2>Campaigns</h2>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['H_UPLOAD_FILE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd">
                    <label class="width-190"><?php echo $translator['L_SELECT_FILE'] ?></label>
                    <div class="col1"><input type="file" name="file_name" id="file_name">
                        <a href="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/tmp/touch_points_sample_exl.xls" class="link left m-10" ><?php echo $translator['L_DOWNLOAD_SAMPLE_FILE'] ?></a>
                        <div id="import-error" class="error-msg" style="display:none; clear:both"></div>
                        <div id="import-success" class="success-msg" style="display:none; clear:both"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>