<?php
/**
 * This view is used to search user campaign
 * @package    Campaign
 * @author     Icreon Tech - DG
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/user.search.campaign.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->captureEnd();
?>
<div class="pop-container">
    <div class="create-contacts">
        <div class="accordion-detail">
            <div class="head no-img"><span><?php echo $translator['L_RESPONSE_CHANNEL']; ?></span></div>
            <?php
            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formRow($form->get('user_id'));
            echo $this->formRow($form->get('campaign_id'));
            ?>
            <div class="detail-section" style="width:92%; padding:4%">
                <div class="common-form">
                    <div class="row">                    
                        <div class="col1">
                            <label class="m-b-10"><?php echo $translator['L_CHANNEL']; ?></label>
                            <?php echo $this->formRow($form->get('channel_id')); ?>
                        </div>
                    </div>
                    <div class="row no-padd">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($form->get('save')); ?>
                    </div>
                </div>
            </div>            
            <?php
            echo $this->form()->closeTag();
            ?>        
        </div>    
    </div>
</div>