<?php
/**
 * This view is used to view campaign
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var encrypt_campaign_id="' . $campaign_id . '";';
$var .=' var module_name="' . $module_name . '";';
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$campaigndata = $this->searchResult;
$goal_achieved = floor(($campaigndata['campaign_revenue_received'] / $campaigndata['campaign_revenue_goal']) * 100) . "%";
$restricted = (!empty($campaigndata['is_restricted']) && $campaigndata['is_restricted'] == 1) ? 'Yes' : 'No';
$active = (!empty($campaigndata['is_active']) && $campaigndata['is_active'] == 1) ? 'Yes' : 'No';
$channel = explode(',', $campaigndata['channel']);
$channel_cost = explode(',', $campaigndata['channel_cost']);
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/campaign/crm.campaign.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>
        <?php echo $translator['L_CAMPAIGN']; ?>
        <?php if(isset($searchResult['campaign_title']) and trim($searchResult['campaign_title']) != "") { echo '<div class="user-name-top">'.trim($searchResult['campaign_title']).'</div>'; } ?>
    </h2>
    
    <div class="accordion-detail m-t-20">
        <ul class="edit-link">
            <li><a href="javascript:void(0);" onclick="getTouchPoints()" id="tab-1"><?php echo $translator['L_TOUCH_POINTS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="getCampaignDetail()"  id="tab-2"><?php echo $translator['L_DETAILS']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="editCampaignDetails()" id="tab-3"><?php echo $translator['L_EDIT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewBadRecipient()" id="tab-4"><?php echo $translator['L_RECIPIENT']; ?></a></li>
            <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-5"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
        </ul>
        <div id="campaignContent"></div>
    </div>
</div>