<?php
/**
 * This view is used to view a campaign
 * @package    Campaign
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$campaigndata = $this->searchResult;
if (isset($campaigndata['campaign_revenue_received']) && !empty($campaigndata['campaign_revenue_received'])) {
    $goal_achieved = floor(($campaigndata['campaign_revenue_received'] / $campaigndata['campaign_revenue_goal']) * 100) . "%";
    $goal_achieved_more = floor(($campaigndata['campaign_revenue_goal'] / $campaigndata['campaign_revenue_received']) * 100) . "%";
}
else{
    $goal_achieved = "0 %";
    $goal_achieved_more = "0 %";
}
$restricted = (!empty($campaigndata['is_restricted']) && $campaigndata['is_restricted'] == 1) ? 'Yes' : 'No';
$active = (!empty($campaigndata['is_active']) && $campaigndata['is_active'] == 1) ? 'Yes' : 'No';
$is_global = (!empty($campaigndata['is_global']) && $campaigndata['is_global'] == 1) ? 'Yes' : 'No';
$groups = explode(',', $campaigndata['group_name']);
$channel = explode(',', $campaigndata['channel']);
$channel_cost = explode(',', $campaigndata['channel_cost']);
$coupon_code = explode(',', $campaigndata['coupon_code']);
$channel_received = explode(',', $campaigndata['channel_received']);

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);
?>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_CAMP_INFORMATION']; ?></span></div>

<form action="" method="get">
    <div class="detail-section white-bg">
        <div class="common-form">
            <div class="revenue-section">
                <div class="row m-b-15">
                    <div class="col1">$0</div>
                    <div class="col5"></div>
                    <div class="col-right" style="left:<?php echo ($goal_achieved_more > 100 || $goal_achieved_more == 0) ? '100%;' : ($goal_achieved_more - 1) . "%; position: absolute;"; ?>">$ <?php echo $campaigndata['campaign_revenue_goal']; ?></div>
                </div>
                <div class="<?php echo ($goal_achieved_more > 100 || $goal_achieved_more == 0) ? "white-bg" : "green-bg"; ?>">
                    <?php
                    if ($goal_achieved < 100) {
                        ?>
                        <div class="value" style="left:<?php echo $goal_achieved - 1; ?>%;">$ <?php echo $campaigndata['campaign_revenue_received']; ?><span></span></div>
                        <span style="width: <?php echo $goal_achieved ?>;"></span></div>
                    <?php
                } else {
                    ?>
                    <div class="value" style="right:0%;">$ <?php echo $campaigndata['campaign_revenue_received']; ?><span></span></div>
                    <span style="width: <?php echo $goal_achieved_more ?>;"></span></div>
                <?php
            }
            ?>
            <div class="row m-t-15"><strong><?php echo $goal_achieved; ?></strong> <?php echo $translator['L_ACHIEVED']; ?></div>
        </div> <div class="view-row">
            <div class="col6">  <strong><?php echo $translator['L_CAMP_CODE']; ?></strong><br>
                <?php echo $campaigndata['campaign_code']; ?></div>
            <div class="col6"> <strong><?php echo $translator['L_CAMP_TITLE']; ?></strong><br>
                <?php echo $campaigndata['campaign_title']; ?></div>
            <div class="col6"> <strong><?php echo $translator['L_CAMP_TYPE']; ?></strong><br>
                <?php echo $campaigndata['campaign_type']; ?></div>
            <div class="col6"><strong><?php echo $translator['L_PROGRAM']; ?></strong><br>
                <?php echo $campaigndata['program']; ?> </div>
        </div><div class="view-row">
            <div class="col6"><strong><?php echo $translator['L_DESCRIPTION']; ?></strong><br>
                <?php echo nl2br($campaigndata['campaign_description']); ?> </div>
            <div class="col6">    <strong><?php echo $translator['L_GROUPS']; ?></strong><br>
                <?php
                foreach ($groups as $key) {
                    echo wordwrap($key,45," - <br> - ",true);
                    echo "<br/>";
                }
                ?>            
            </div>
            <div class="col6"> <strong><?php echo $translator['L_START_DATE']; ?></strong><br>
                <?php echo $this->Dateformatalpha($campaigndata['campaign_start_date'], 'dateformatampm'); ?></div>
            <div class="col6"><strong><?php echo $translator['L_END_DATE']; ?></strong><br>
                <?php echo $this->Dateformatalpha($campaigndata['campaign_end_date'], 'dateformatampm'); ?></div>
        </div><div class="view-row">
            <div class="col6">   <strong><?php echo $translator['L_CAMP_STATUS']; ?></strong><br>
                <?php echo $campaigndata['campaign_status']; ?> </div>
            <div class="col6"> <strong><?php echo $translator['L_CAMP_GOAL']; ?></strong><br>
                <?php echo $campaigndata['campaign_goal']; ?> </div>
            <div class="col6"> <strong><?php echo $translator['L_REVENUE_GOAL']; ?></strong><br>
                <?php echo $campaigndata['campaign_revenue_goal']; ?> </div>
            <div class="col6"><strong><?php echo $translator['L_REVENUE_RECEIVED']; ?></strong><br>
                <?php echo $campaigndata['campaign_revenue_received']; ?></div>
        </div>
        <!-- <div class="view-row">                
            <div class="col6"> <strong><?php echo $translator['L_DESIGNATION']; ?></strong><br>
        <?php echo $campaigndata['campaign_designation']; ?></div>
            <div class="col6">    <strong><?php echo $translator['L_DEPARTMENT']; ?></strong><br>
        <?php echo $campaigndata['campaign_department']; ?> </div>
        </div> -->
        <div class="view-row">
            <!--- <div class="col6"> <strong><?php echo $translator['L_RESTRICTED']; ?></strong><br>
            <?php echo $restricted; ?></div> -->
            <div class="col6"> <strong><?php echo $translator['L_ACTIVE']; ?></strong><br>
                <?php echo $active; ?></div>
            <div class="col6"> <strong><?php echo $translator['L_GLOBAL']; ?></strong><br>
                <?php echo $is_global; ?></div>
				<div class="col6"> <strong><?php echo $translator['L_PROJECT']; ?></strong><br>
                <?php echo $campaigndata['project_name']; ?></div>
        </div>
        <div class="view-row no-padd">
            <div class="col6"><strong><?php echo $translator['L_CHANNEL']; ?></strong><br>
                <?php
                for ($i = 0; $i < count($channel); $i++) {

                    echo $channel[$i];
                    echo "<br>";
                }
                ?>

            </div>
            <div class="col6"><strong><?php echo $translator['L_CHANNEL_COST'];
                ?></strong><br>
                <?php
                for ($i = 0; $i < count($channel); $i++) {
                    if (isset($channel_cost[$i]) && !empty($channel_cost[$i])) {
                        echo $channel_cost[$i];
                    }
                    echo "<br>";
                }
                ?>
            </div>
            <div class="col6"><strong><?php echo $translator['L_COUPON_CODE'];
                ?></strong><br>
                    <?php
                    for ($i = 0; $i < count($channel); $i++) {
                        if (isset($coupon_code[$i]) && !empty($coupon_code[$i])) {
                            echo $coupon_code[$i];
                        }
                        echo "<br>";
                    }
                    ?>
            </div>
            <div class="col6"><strong><?php echo $translator['L_REVENUE_RECEIVED'];
                    ?></strong><br>
            <?php
            for ($i = 0; $i < count($channel); $i++) {
                if(isset($channel_received[$i]) && !empty($channel_received[$i]))
                {
                    echo $channel_received[$i];
                }
                else{
                    echo '0.00';
                }
                echo "<br>";
            }
            ?>
            </div> 
        </div>
    </div>
</div>
</form>