<div class="inner-header">
  <h1><?php  echo $translate['WOH_HEADING_ABOUT_US']; ?></h1>
</div>
<section class="main">
  <div class="container">
    <div class="block col11 woh-about alpha">
      <div class="content">
        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/wallofhonor.png" style="float: right; padding: 10px; margin: 20px 0 20px 20px; border: 1px solid #e0e0e0">
        <h3><?php echo isset($content_title)?$content_title:''; ?></h3>
         <?php echo isset($description)?$description:''; ?>
        </div>
    </div>
    <div class="col5 rightsection omega">
      <div class="home-add">
        <div class="advertise">
            <iframe width="359" height="299" class="iframe" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
        </div>
      </div>
      <div class="block about-woh-right">
            <div class="content clearfix">
           
            <?php if(isset($wohArrHonoreeName) and count($wohArrHonoreeName) > 0) { ?>    
              
                
                   <h2><?php  echo $translate['WOH_HEADING_FAMILY_NAME_WALL_OF_HONOR']; ?></h2>
                 
               
                      <?php foreach($wohArrHonoreeName as $valWoh) { ?>
                        <label class="normal"><?php echo $valWoh['honoree_name']; ?></label>
                      <?php } ?>
                 
               
            <?php } ?>
                
          
           
                    <?php
                    $form = $this->searchWohForm;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                
          
               <div class="form-sep">
			   <label><?php  echo $translate['WOH_HEADING_ABOUT_US_FIRST_NAME_INITIAL']; ?></label>
                 <?php echo $this->formRow($form->get('first_name_initial')); ?> 
               </div>
                 <div class="form-sep">
                    <label><?php  echo $translate['WOH_HEADING_ABOUT_US_LAST_NAME']; ?></label>
                    <?php 
                      echo $this->formRow($form->get('last_name')); 
                      ?></div>
					    <div class="form-sep">
					  <?php
                      echo $this->formRow($form->get('submitsearch3'));
                    ?> 
                </div>
                 <div class="form-sep">
				 <label><?php  echo $translate['WOH_HEADING_ABOUT_US_OR']; ?></label>
				  </div>
                 <div class="form-sep">
                   <?php  echo $translate['WOH_HEADING_ABOUT_US_PANEL']; ?>
                    <?php 
                        echo $this->formRow($form->get('panel_number'));   
                       ?>
					  </div>
					    <div class="form-sep">
					  <?php
                        echo $this->formRow($form->get('submitsearch3')); 
                     ?> 
                 </div>   
              
                <?php echo $this->form()->closeTag(); ?>
            
         
      </div>    
    </div>
     <div class="home-add">
        <div class="advertise"> 
            <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(1); ?>"></iframe>
        </div>
      </div>
  </div>
</section>
