<?php
/**
 * This view is used to add more additional contact
 * @package    Setting
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$form05 = $this->wallOfHonorAdditionalContact;
?>
<div id="add_more_additional_contact_<?php echo ($totalSaveSearch + 1); ?>" class="form-row additional-plus">
    
    <div class="btc-box">
        <?php echo $this->formRow($form05->get('first_name[]')); ?>
    </div>
    
    <div class="btc-box">      
        <?php echo $this->formRow($form05->get('last_name[]')); ?>
    </div>
    
    <div class="btc-box">    
        <?php echo $this->formRow($form05->get('email_id[]')); ?>
    </div>
    

<div class="plus-box">
      <a class="remove" href="javascript:void(0);" onclick="deleteAdditionalContact(<?php echo ($totalSaveSearch + 1); ?>)"></a>
      <a class="add" href="javascript:void(0);" onclick="addMoreAdditionalContact(this,'add_more_additional_contact_<?php echo ($totalSaveSearch + 1); ?>')" id="addMoreAdditionalContact"></a>
    </div>
    
</div>