<?php
/**
 * This file is used for wall of honor
 * @package    User
 * @author     Icreon Tech - NS
 */
 
$translator = $this->jsLangTranslate;
$var = '';
foreach ($translator as $key => $val) {
    $var .= '  var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<script type="text/javascript">
<?php 
    echo $var; 
?>
    var origin_country_usa = '<?php echo $origin_country_usa; ?>';
 function  openWOHGuidelinesWindow()
 {
   var w=window.innerWidth; 
   var h=window.innerHeight; 
   window.open('/WOHGuidelines#WOH-G', 'newwindow', 'scrollbars=1,width='+w+', height='+h);
 }
 
function changeProductQuantity(act,id){
        var obj = $("#num_of_duplicate_copies_of_certificate");
        if(act=='add') {   
                
               obj.val(parseInt(obj.val()) + 1);
                $("#minusQty").show();
		    }
		    else {
		        if(parseInt(obj.val()) >= 1) {
		                obj.val(parseInt(obj.val()) - 1);
		        }
		        if(parseInt(obj.val())==0) {
		            $("#minusQty").hide();
		        }
		    }
    }
 
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/woh.add.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>    

<div class="inner-header">
  <h1><?php echo $translator['WOH_HEADING_ADD_NAME']; ?></h1>
</div>

<!--starts Wall of honor-->
<section class="woh-outer-bg">
  <div class="woh-inner-bg">
    <?php //echo $this->wallOfHonorListingSearch; ?>     
    <div class="wrapper">
        <div class="woh-about-contentbox">
        <div class="woh-about-filterbox" style="margin-top: 0px;">
           <!-- <div class="top-section">
                <h1><?php //echo $translator['WOH_HEADING_DESCRIPTION1']; ?></h1>
                <p><?php //echo $translator['WOH_HEADING_DESCRIPTION2']; ?><a href="/WOHGuidelines#WOH-G"  onclick="openWOHGuidelinesWindow();return false;"> <?php //echo $translator['WOH_LINK_REGISTRATION_GUIDELINES'];?></a></p>
                
            </div>-->
          <ul id="headingName">
            <li id="fli1" class="active">
              <div class="chk-right"></div>
              <span>01</span>
              <p><?php echo $translator['WOH_HEADING_SELECT_DESIRED_NAME_FORMAT']; ?></p>
            </li>
            
            <li id="fli2" class="button">
              <div class="chk-right"></div>
              <span>02</span>
              <p><?php echo $translator['WOH_ADD_WOH_FRAME_HEADING_PROVIDE_DETAILS']; ?></p>
            </li>
            
            <li id="fli3">
              <div class="chk-right"></div>
              <span>03</span>
              <p><?php echo $translator['WOH_ADD_WOH_FRAME_HEADING_ORDER_ADDITIONAL_CERTICATES']; ?></p>
            </li>
            
            <li id="fli4" style="display:none;">
              <div class="chk-right"></div>
              <span>04</span>
              <p><?php echo $translator['WOH_ADD_WOH_FRAME_CERTIFICATES_HEADING']; ?></p>
            </li>
            
            <li id="fli5">
              <div class="chk-right"></div>
              <span>04</span>
              <p><?php echo $translator['WOH_ADD_WOH_CONTACT_HEADING']; ?></p>
            </li>
            
            <li id="fli6">
              <div class="chk-right"></div>
              <span>05</span>
              <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT']; ?></p>
            </li>
          </ul>
        </div>
       
       
        <div class="filter-box-content">
            
            <?php  
                 $form1 = $this->wohForm;
                 $form1->setAttribute("id","add_woh1");
                 $form1->setAttribute("name","add_woh1");
                 $form1->prepare();
                 echo $this->form()->openTag($form1);
                 echo $this->formRow($form1->get('product_woh_frame_price_id')); 
                 echo $this->formRow($form1->get('product_woh_frame_price_value')); 
                 echo $this->formRow($form1->get('product_woh_frame_price_qty'));                  
                 
                 echo $this->formRow($form1->get('woh_main_product')); 
             ?>   
             <div id="fli1Form" class="detail-box">
                <div class="black-top-bg"></div>
                <h1><?php echo $translator['WOH_ADD_WOH_FRAME_HEADING_PROVIDE_DETAILS_CHOOSE'].' '.$translator['WOH_ADD_WOH_FRAME_HEADING_PROVIDE_DETAILS_AVAILABLE']; ?></h1>
                 <span id="error_woh_main_product"></span>
				 <div class="margin-left-133">
                <?php
                foreach($attibuteOptionsArr as $val) {
                    $elementId = $val['product_id'];
                    $elementLabel = $val['product_name'];
                    $attributeId = $val['attribute_id'];
                    
                    echo '<div class="content-block">';
                    echo '<h1>';
                    echo $elementLabel;
                     
                   $flagStatus = false;
                   foreach($val['options'] as $valsOpt) {
                      if (stripos($valsOpt['option_name'],'Ellis') !== false) { 
                        $flagStatus = true;  
                      } 
                   }
               

                            $productSellPriceM  = isset($val['product_sell_price'])?$val['product_sell_price']:"0.00";
                            $isMembershipDiscount  = isset($val['is_membership_discount'])?$val['is_membership_discount']:"0";

                            if($isMembershipDiscount == "1" and $discountValue != '') {
                               $productMemberPrice = $productSellPriceM - $productSellPriceM*$discountValue/100;
                               $productMemberPrice = number_format($productMemberPrice,2);
                            }
                            else {
                               $productMemberPrice = '';
                            }
                            
                            
                            $htmlOrgPrice = '';
                            if($productSellPriceM != "0.00") { 
                                if($productMemberPrice != '') {  $htmlOrgPrice .= '<div class="dollar-space price-cut">$'.$productSellPriceM.'<span></span></div><div class="left">$'.$productMemberPrice.'<small>(Member Price)</small></div>'; } else { $htmlOrgPrice .= '<div class="dollar-space">$'.$productSellPriceM.'<span></span></div>'; }
                            }
                            elseif(isset($val['options_prices']) and is_array($val['options_prices'])) {
                                $optionsPricesMin = min($val['options_prices']);
                              if($optionsPricesMin != "0.00" and $optionsPricesMin != "") {   
                                    if($isMembershipDiscount == "1" and $discountValue != '') {
                                       $optionsPricesMin1 = $optionsPricesMin - $optionsPricesMin*$discountValue/100;
                                       $optionsPricesMinMem = number_format($optionsPricesMin1,2);

                                       $htmlOrgPrice .= '<div class="dollar-space price-cut">$'.$optionsPricesMin.'<span></span></div><div class="left">$'.$optionsPricesMinMem.'<small>(Member Price)</small></div>';
                                    }
                                    else {
                                         $htmlOrgPrice .= '<div class="dollar-space">$'.$optionsPricesMin.'<span></span></div>';
                                    }
                              }  
//                                if($optionsPricesMin != "0.00") {        
//                                    $htmlOrgPrice .= $optionsPricesMin.' +';
//                                }
                            }

                            
                     echo '</h1>';
                     echo '<h2>Choose one of the following formats</h2>';
                     echo '<ul>';
                     foreach($val['options'] as $valOptions) {
                         $attrId = $valOptions['attribute_option_id'];
                         $attrLabel = $valOptions['option_name'];

                            $productSellPriceA  = isset($valOptions['option_price'])?$valOptions['option_price']:"0.00";
                            $productSellPrice = $productSellPriceA + $productSellPriceM;
                            if($isMembershipDiscount == "1" and $discountValue != '') {
                              $productMemberPrice = $productSellPrice - $productSellPrice*$discountValue/100;
                              $productMemberPrice = number_format($productMemberPrice,2);
                            }
                            else {
                              $productMemberPrice = '';
                            }

                            if($productSellPriceA != "0.00") {
                                $productMemberPrice1 =  " ";
                                if($productMemberPrice != '') {  $productMemberPrice1 .= '<strong class="price-cut">$'.number_format($productSellPrice,2).'</strong>&nbsp;$'.$productMemberPrice.'<small>(Member Price)</small>'; } else { $productMemberPrice1 .= '$'.number_format($productSellPrice,2); }
                                $productMemberPrice1 .= "";
                            }
                            else {
                                $productMemberPrice1 = '';
                            }
                                
                            echo '<li data-tabId="add-woh2" onclick = "return getWallOfHonorForm(this,'.$elementId.','.$attributeId.','.$attrId.','."'".$attrLabel."'".','."'".$elementLabel."'".','."'".$attrLabel."'".','."'".$elementId.'^'.$attrId."'".');" >'.$attrLabel.$productMemberPrice1."</li>";
                     }
                     echo '</ul>';
                     if($htmlOrgPrice != '') {
                       echo $htmlOrgPrice;
                     }
                     echo '</div>';   
                }
            ?>	
			</div>
             </div>
            <?php echo $this->form()->closeTag(); ?>
            
            <div id="fli2Form"  class="detail-box" style="display:none;">
                <div class="black-top-bg2"></div>
                <div id="naming_convention_form"></div>
            </div>
            
            <div id="fli3Form"  class="detail-box" style="display:none;">
                <?php  
                $form3 = $this->wohForm;
                $form3->setAttribute("id","add_woh3");
                $form3->setAttribute("name","add_woh3");
                $form3->prepare();
                echo $this->form()->openTag($form3);
                ?>  
                 <div class="black-top-bg3"></div>
                 
                    <div class="order-additional-certificates">
                       
                        <div class="left-side">
						<div class="official-certificate">
					
                                <div class="name">The&nbsp;John&nbsp;and&nbsp;Mary&nbsp;Smith&nbsp;Family</div>
                                <div class="country">Italy</div>
                            </div>
						
						
						
                        </div>
                        
                        <div class="right-side">
                           <h3><?php echo $translator['WOH_ADD_WOH_FRAME_HEADING_ORDER_ADDITIONAL_CERTICATES_NOTE']; ?></h3>
                           <p><?php echo $translator['WOH_ADD_WOH_FRAME_HEADING_ORDER_ADDITIONAL_CERTICATES_NOTE2']; ?> 
                           <span>($<span id="span_num_of_duplicate_copies_of_certificate">0.00</span> Each)</span></p>  
						   
                           <div class="add-remove-outer">
						   
						     <a id="minusQty<?php echo $countFrame; ?>" href="javascript:void(0);" onClick="changeProductQuantity('minus','<?php echo $countFrame; ?>')" style="display:none; float:left;"><img src="../img/minus.jpg"></a>
            
            <input style="width:70px; float:left; padding:6px 0!important; height:20px; border:0; text-align:center;" type="text" maxlength="5" class="frameQtyWohNum" id="num_of_duplicate_copies_of_certificate" name="num_of_duplicate_copies_of_certificate" value="0" />
            
            <a class="left" id="addQty<?php echo $countFrame; ?>" href="javascript:void(0);" onClick="changeProductQuantity('add','<?php echo $countFrame; ?>')"><img src="../img/add-more.jpg"></a>
						   
						   
						   </div>
						   
						   
						   
						   
						   
						   
						   
							<div class="full"><?php echo $this->formRow($form3->get('submitorder2')); ?>
						
                            &nbsp;&nbsp;&nbsp; <?php //echo $this->formRow($form3->get('skipsubmitorder2')); ?></div>
                                           
                        </div>
		
                       
                    </div>
                 <?php echo $this->form()->closeTag(); ?>

             </div>
            
            
            <div id="fli4Form"  class="detail-box" style="display:none;">
                <?php  
                    $form4 = $this->wohForm;
                    $form4->setAttribute("id","add_woh4");
                    $form4->setAttribute("name","add_woh4");
                    $form4->prepare();
                    echo $this->form()->openTag($form4);
                ?>  
                <div class="black-top-bg4"></div>
                
			   <div class="right-detail">
               <h4><?php 
               echo $returnCmsWoh['content_title'];
               // echo $translator['WOH_ADD_WOH_FRAME_CERTIFICATES_HEADING_NOTE']; ?></h4>
               <h5><?php 
               echo $returnCmsWoh['description'];
               //echo $translator['WOH_ADD_WOH_FRAME_CERTIFICATES_HEADING_NOTE_CERTIFICATE']; ?></h5>
			   <div style="width: 100%; position: relative;padding-top:40px;">
 			   <img width="283" src="/images/framed-walldoc_image.jpg">
			   <img src="/images/docholder_image.jpg">
		       </div>
               
                
                <h5 id="product_woh_frame_price"></h5>
                <h5 id="product_woh_frame_price_discounted"></h5>
                <h5 id="product_woh_frame_price_numqty"></h5>
                <h5><?php echo $translator['WOH_ADD_WOH_FRAME_CERTIFICATES_HEADING_INFO']; ?> </h5>	
                <h5><?php echo $translator['WOH_ADD_WOH_FRAME_CERTIFICATES_HEADING_FRAMING']; ?></h5>
                <div id="view_frame_display1"><?php echo $this->formRow($form4->get('viewframes')); ?><?php //echo $this->formRow($form4->get('skipstep4')); ?></div>
                <div id="view_frame_display2" style="display: none;"><h3><?php echo $translator['WOH_FRAMES_NOT_PRESENT']; ?></h3></div>
                <div id='view_next_display' class="full" style="display: none;"><?php echo $this->formRow($form4->get('submitorder3')); ?>
                <?php //echo $this->formRow($form4->get('skipstep4')); ?></div>
                
                <?php echo $this->form()->closeTag(); ?>
				</div>
				<div id="viewFrameLeft" class="left-detail" style="display:none;">
                     <div class="img-box">
                           <img id="view_frame_image_name_path" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/foundation/edit-profile.png" />
                     </div>
                </div>
           </div>
            
            
            <div id="fli5Form"  class="detail-box" style="display:none;">
                <?php  
                    $form5 = $this->wohForm;
                    $form5->setAttribute("id","add_woh5");
                    $form5->setAttribute("name","add_woh5");
                    $form5->prepare();
                    echo $this->form()->openTag($form5);
                ?> 
               <div class="black-top-bg5"></div>
               <h4><?php echo $translator['WOH_ADD_WOH_CONTACT_SHARE_HEADING']; ?></h4>
                <div  id="add_more_additional_div">
				<div class="additional-plus">
						<div class="btc-box none">
                            <h2><?php echo $translator['WOH_ADD_WOH_CONTACT_HEADING_FIRST_NAME']; ?> :</h2>                                  
                        </div>
						<div class="btc-box none">
                            <h2><?php echo $translator['WOH_ADD_WOH_CONTACT_HEADING_LAST_NAME']; ?> : </h2>
                        </div>
						<div class="btc-box none">
                            <h2><?php echo $translator['WOH_ADD_WOH_CONTACT_HEADING_EMAIL']; ?> : </h2>                                 
                            </div>
						</div>

				
                        <div id="add_more_additional_contact_1" class="form-row additional-plus">
                                <div class="btc-box">                                  
                                    <?php echo $this->formRow($form5->get('first_name[]')); ?>
                                </div>
                                <div class="btc-box">                                  
                                    <?php echo $this->formRow($form5->get('last_name[]')); ?>
                                </div>
                                <div class="btc-box">   								
                                    <?php echo $this->formRow($form5->get('email_id[]')); ?>
                                </div>                               
								<div class="plus-box">
								  <a id="addMoreAdditionalContact" onclick="addMoreAdditionalContact(this,'add_more_additional_contact_1')" href="javascript:void(0);" class="add "></a>		
                                </div>
								
                        </div>
                </div>
               <div class="full"><?php echo $this->formRow($form5->get('submitorder4')); ?>&nbsp;&nbsp;&nbsp;<?php //echo $this->formRow($form5->get('skipsubmitorder4')); ?></div> 
               <?php echo $this->form()->closeTag(); ?>
            </div>
            
            
            <div id="fli6Form"  class="detail-box" style="display:none;">
                <div class="black-top-bg6"></div>
                <?php  
                    $form6 = $this->wohForm;
                    $form6->setAttribute("id","add_woh6");
                    $form6->setAttribute("name","add_woh6");
                    $form6->prepare();
                    echo $this->form()->openTag($form6);
                ?>  
                <h4><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT']; ?></h4>

                <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_NOTE']; ?></p>
                  <p id="inscribed_wall_of_honor_name" class="strong">&nbsp;</p>

                <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_COUNTRY_OF_ORIGIN']; ?></p>
                <p id="inscribed_wall_of_honor_country_origin" class="strong">&nbsp;</p>
                <p>&nbsp;</p>
                <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_DISPLAY_SEARCH_RESULTS']; ?></p>
                <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_DISPLAY_DONATED_FOR']; ?>:</p>
                <p id="results_donated_for" class="strong">&nbsp;</p>

                <p><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_DISPLAY_DONATED_BY']; ?>:</p>
                <p id="results_donated_by" class="strong" style="margin-bottom:10px!important">&nbsp;</p>

                <p class="checkbox-content add-name-checkbox">
                   <?php echo $this->formRow($form6->get('i_confirm')); ?>
                    <label for="i_confirm" class="white-color"><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_DISPLAY_CONFIRM']; ?><span class="red-text">*</span></label>
                </p>
                
                <p class="checkbox-content add-name-checkbox">
					<?php echo $this->formRow($form6->get('is_agree')); ?>
                    <label for="is_agree" class="white-color"><?php echo $translator['WOH_ADD_WOH_VERIFY_AND_SUBMIT_DISPLAY_TERMS_AND_CONDITIONS']; ?><span class="red-text">*</span></label>
                </p>
			 <?php echo $this->formRow($form6->get('submitorder')); ?>
              <?php echo $this->form()->closeTag(); ?>  
			  <p>&nbsp;</p>
			  <p class="stepCorrection">Please click on the step above to return to previous screens to make corrections.</p>
          </div> 
            
            
        </div>
            
        </div>  
    </div>
      
            
 
  </div>
</section>
<!--wall of honor ends-->

