<?php
/**
 * This file is used for generate wall of honor form
 * @package    Transaction
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$totalRelatedProduct = $this->totalRelatedProduct;
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/woh.add.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<script type="text/javascript">
    <?php  if($totalRelatedProduct == "0") { ?>
        document.getElementById("view_frame_display1").style.display = "none";
        document.getElementById("view_frame_display2").style.display = "block";
        document.getElementById("view_next_display").style.display = "block";
    <?php } else { ?>
        document.getElementById("view_frame_display1").style.display = "block";
        document.getElementById("view_frame_display2").style.display = "none"; 
        document.getElementById("view_next_display").style.display = "none";
    <?php } ?>   
        
    document.getElementById("product_woh_frame_price_id").value = "";
    document.getElementById("product_woh_frame_price_value").value = "";
    document.getElementById("product_woh_frame_price_qty").value = "";    
    
    document.getElementById("product_woh_frame_price").innerHTML = "";
    document.getElementById("product_woh_frame_price_discounted").innerHTML = "";    
    document.getElementById("product_woh_frame_price_numqty").innerHTML = "";     
    
    $("#viewFrameLeft").css({"display":"none"});
</script>
<?php
$form2 = $this->wallOfHonor;
$form2->setAttribute("id","add_woh2");
$form2->setAttribute("name","add_woh2");
$form2->prepare();
echo $this->form()->openTag($form2);
echo $this->formRow($form2->get('product_attribute_option_id'));
echo $this->formRow($form2->get('product_number_duplicate_copies_certificate'));

?>


<div class="full">
	<h3>
		<?php 
		if($attributeId == 3)
			echo $translator['WOH_SINGLE_NAME_NOTICE'];
		elseif($attributeId == 4)
			echo $translator['WOH_DOUBLE_NAME_NOTICE'];
		elseif($attributeId == 5)
			echo $translator['WOH_SPECIAL_NAME_NOTICE'];
		?></h3>
</div>
<div class="full">
	<div class="btc-box">
        <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_DONATED_FOR']; ?>:</h2>
        <div class="stylefor"><?php echo $this->formRow($form2->get('donated_for')); ?></div>
        <div class="btc-disc"><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_DONATED_FOR_NOTE']; ?></div>
    </div>
</div>                    
                     
                     
        <?php
    if ($namingConventionArr['The'] == 1) {
    ?>
        <div class="full">   <div class="btc-box">
                <h2 class="and-center"><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_THE']; ?></h2>
        </div>    </div>
    <?php
    }
    ?>
    
        <?php
        if ($namingConventionArr['firstName'] == 1) {
        ?>
           <div class="full"> <div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_FIRST_NAME_ONE']; ?> : <span>*</span></h2>
               <?php echo $this->formRow($form2->get('first_name_one')); ?>
           </div> </div>
        <?php } ?>
                     
                     
        <?php
        if ($namingConventionArr['otherInit'] == 1) {
        ?>
            <div class="full"><div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_INIT_ONE']; ?> :  <span>*</span></h2>
                <?php echo $this->formRow($form2->get('other_init_one')); ?>
        </div></div>
        <?php } ?>

        <?php if ($namingConventionArr['and'] == 1) {
        ?>
		<div class="full"><div class="btc-box">
           <h2 class="and-center"><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_AND']; ?></h2>
          </div></div>
        <?php } ?>

        <?php
        if ($namingConventionArr['firstName2'] == 1) {
        ?>
            <div class="full"><div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_FIRST_NAME_TWO']; ?> : <span>*</span></h2>
               <?php echo $this->formRow($form2->get('first_name_two')); ?>
           </div></div>
        <?php } ?>
       
            
        <?php
        if ($namingConventionArr['otherInit2'] == 1) {
        ?>
            <div class="full"><div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_INIT_TWO']; ?> :  <span>*</span></h2>
               <?php echo $this->formRow($form2->get('other_init_two')); ?>
          </div> </div>
        <?php } ?>
            
            
        <?php
        if ($namingConventionArr['otherName'] == 1) {
        ?>
           <div class="full"> <div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_NAME']; ?> :  <span>*</span></h2>
                <?php echo $this->formRow($form2->get('other_name')); ?>
           </div></div>
        <?php } ?>
     
            
            
        <?php
        if ($namingConventionArr['lastName'] == 1) {
        ?>
            <div class="full"><div class="btc-box">
                <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_LAST_NAME_ONE']; ?> :  <span>*</span></h2>
                <?php echo $this->formRow($form2->get('last_name_one')); ?>
           </div></div>
        <?php } ?>
            
            
        <?php
        if ($namingConventionArr['hiphen'] == 1) {
        ?>
             <div class="full"><div class="btc-box">
                <h2 class="and-center">-</h2>
            </div></div>
        <?php } ?>
            
            
        <?php
        if ($namingConventionArr['lastName2'] == 1) {
        ?>
            <div class="full"><div class="btc-box">
                    <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_LAST_NAME_TWO']; ?> :  <span>*</span></h2>
                   <?php echo $this->formRow($form2->get('last_name_two')); ?>
            </div></div>
        <?php } ?>
            
            
        <?php
        if ($namingConventionArr['Family'] == 1) {
        ?>
            <div class="full"> <div class="btc-box">
                <h2 class="and-center"><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_FAMILY']; ?></h2>
            </div></div>
        <?php } ?>

   
    <?php
        if ($namingConventionArr['firstLine'] == 1) {
    ?>
        <div class="full"> <div class="btc-box">
              <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_FIRST_LINE']; ?> :  <span>*</span></h2>
              <?php echo $this->formRow($form2->get('first_line')); ?>
        </div> </div>
    <?php
        }
    ?>
    <?php
        if ($namingConventionArr['secondLine'] == 1) {
    ?>
    <div class="full"> <div class="btc-box">
        <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_SECOND_LINE']; ?> :  <span>*</span></h2>
        <?php echo $this->formRow($form2->get('second_line')); ?>
     </div> </div>
    <?php
        }
    ?>
                  
                     
  <div class="form-right-side">               
    <div class="btc-box large">
    <h2> <?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_FORMAT']; ?> :</h2>
    <h2 id="formatNamesOutput">
        <?php 				
        if ($namingConventionArr['The'] == 1) { echo '<strong id="namingConventionThe">&nbsp;The&nbsp;</strong>'; }
        if ($namingConventionArr['firstName'] == 1) { echo '&nbsp;<strong id="namingConventionFirstName1">&nbsp;&#60;First Name&#62;</strong>&nbsp;'; }  //first_name_one
        if ($namingConventionArr['otherInit'] == 1) { echo '&nbsp;<strong id="namingConventionMiddleInit1">&nbsp;&#60;Middle Init&#62;</strong>&nbsp;'; } //other_init_one
        if ($namingConventionArr['and'] == 1) { echo '<strong id="namingConventionAnd">&nbsp;and&nbsp;</strong>'; } 
        if ($namingConventionArr['firstName2'] == 1) { echo '&nbsp;<strong id="namingConventionFirstName2">&#60;First Name&#62;</strong>&nbsp;';  }  //first_name_two
        if ($namingConventionArr['otherInit2'] == 1) { echo '&nbsp;<strong id="namingConventionMiddleInit2">&#60;Middle Init&#62;</strong>&nbsp;';  }  //other_init_two
        if ($namingConventionArr['otherName'] == 1) { echo '&nbsp;<strong id="namingConventionOtherName">&#60;Other Name&#62;</strong>&nbsp;'; }  //other_name
        if ($namingConventionArr['lastName'] == 1) { echo '&nbsp;<strong id="namingConventionLastName1">&#60;Last Name&#62;</strong>&nbsp;'; }  //last_name_one
        if ($namingConventionArr['hiphen'] == 1) { echo '<strong id="namingConventionHyphen">&nbsp;-&nbsp;</strong>'; } 
        if ($namingConventionArr['lastName2'] == 1) { echo '&nbsp;<strong id="namingConventionLastName2">&#60;Last Name&#62;</strong>&nbsp;'; } //last_name_two
        if ($namingConventionArr['Family'] == 1) { echo '<strong id="namingConventionFamily">&nbsp;Family&nbsp;</strong>'; }
        if ($namingConventionArr['firstLine'] == 1) { echo '&nbsp;<strong id="namingConventionFirstLine">&#60;First Line&#62;</strong>&nbsp;<br>'; } //first_line
        if ($namingConventionArr['secondLine'] == 1) { echo '&nbsp;<strong id="namingConventionSecondLine">&#60;Second Line&#62;</strong>&nbsp;'; }   //second_line					
        ?>
    </h2>
    </div>
 

   <div class="full">                
    <div class="btc-box">
        <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_COUNTRY']; ?>: <span>*</span></h2>
		
		<div class="add-name-checkbox checkbox-error m-t-3">
           <input id="is_usa" type="checkbox" name="is_usa" value="1" checked="checked"><label for="is_usa">United States of America</label><small class="right">OR</small>
		</div>
		
		
        <!--<span class="relative checkbox-error" style="float:left"><?php echo $this->formRow($form2->get('is_usa')); ?></span>
        <h2 for="is_usa" class="check"><strong><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_COUNTRY_USA']; ?></strong> </h2> -->
	
		</div>
		 <div class="btc-box">
         <h2 class="or">&nbsp;</h2>
        <span class="relative input-error"><?php echo $this->formRow($form2->get('other_country')); ?> </span>
        <p class="btc-disc"><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_OTHER_COUNTRY_NOTE']; ?></p>
    </div>
    </div>                
   
<div class="full">  
    <div class="btc-box">
        <h2><?php echo $translator['WOH_ADD_WOH_NAMING_CONVENTION_HEADING_DONATED_BY']; ?>: <span>*</span></h2>
        <?php echo $this->formRow($form2->get('donated_by')); ?>
    </div>
  </div>  
</div>
  
 <div class="full">
<span class="mar-left-15"><?php echo $this->formRow($form2->get('submitorder1')->setAttribute('type','button')->setAttribute('onClick','validateFinalName()')); ?></span>
</div>
<div class="finalValidate" style="display:none;">
    <div class="inner-popup-detail">
        <p id="msgL1"></p>
        <p align="center" id="msgL2">A name entry may not exceed <strong>40 characters</strong>, including <strong>spaces</strong> and <strong>punctuations.</strong></p>
        <p align="center">Please see <a onclick="openWOHGuidelinesWindow();return false;" href="/WOHGuidelines#WOH-G"> Registration Guidelines</a> for more details.</p>
        <p align="center"><input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.finalValidate').css({'display':'none'});"  class="button green semibold"></p>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>

