<?php
$var = '';
$this->inlineScript()->captureStart();
$translator = $jsLangTranslate;
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $var;
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/tabs.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<section class="main" id="main_container">
    <div class="container" id="container">
        <div class="passenger-table apha myfiledata tabdata col16 clearfix">       
            <?php
                echo $this->partial('/user/woh/woh-list-block.phtml', array("searchResultArray"=>$wohArr, 'loggedInUserId'=>$loggedInUserId, 'limit'=>$limit,'sort_field'=>$sort_field,'sort_order'=>$sort_order,'page'=>$page,'translator'=>$translator,'start_index'=>$start_index,'limit'=>$limit,'totalRecordsWoh'=>$totalRecordsWoh,'file_upload_path_assets_url'=>$file_upload_path_assets_url,'view_woh_type'=>$view_woh_type,'facebookAppId'=>$facebookAppId,'file_upload_path'=>$file_upload_path,'woh_file_assets_path'=>$woh_file_assets_path));

            ?>
        </div>    
    </div>
</section>