<?php
/**
 * This view is for getting wall of honour more products
 * @package    Document
 * @author     Icreon Tech - NS
 */
$relatedProduct = $this->relatedProduct;
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/woh.search.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
 
<!--frame popup-->
<div class="block col15 omega frame-light-box" style="position: absolute;  margin-left: 20px; clear:both; overflow:scroll; height:720px;overflow-x: hidden;">
  <div class="content clearfix">

    <div class="listing passenger-desc" style="border:none;">
      <?php
      if(isset($moreProduct) and count($moreProduct) > 0 and is_array($moreProduct)) {
      ?>
      <ul>
          <?php 
        
          foreach($moreProduct as $valProducts) {
   
              $discounted_price = "0.00";
              if(isset($valProducts['product_sell_price']) and isset($valProducts['is_membership_discount']) and $valProducts['is_membership_discount'] == "1" and $discounts > 0) {
                $discounted_price = $valProducts['product_sell_price'] - $discounts*$valProducts['product_sell_price']/100;
                $discounted_price = isset($discounted_price)?$discounted_price:0;
                $discounted_price = round($discounted_price,2);
              }
         ?>
        <li style="margin: 0;">
            
          <p><img src="<?php echo $this->file_upload_path_assets_url_full.$valProducts['product_image']; ?>" /></p>
          
          <p><h2><?php echo $valProducts['product_name']; ?></h2></p>
      
        <?php if(isset($valProducts['product_description']) and trim($valProducts['product_description']) != "") { ?>
        <p>
            <?php echo $valProducts['product_description']; ?>
        </p>
        <?php } ?>
        
          <p>
          <div>    
          <div style="float:left;">
            <h3>Price $<?php echo $valProducts['product_sell_price']; ?></h3>
            <?php if(isset($valProducts['is_membership_discount']) and $valProducts['is_membership_discount'] == "1") { ?>
            <h3 class="m-price">Member price $<?php echo $discounted_price; ?></h3>
            <?php } ?>
            <?php if(isset($honoreeName) and trim($honoreeName) != "") { ?> 
            <h3>Honoree: <?php echo trim($honoreeName); ?></h3>
            <?php } ?>
          </div> 
          <div style="float:right;">
            <a href="javascript:void(0);" class="button pink" style="float:right;" onclick="addToCartWohProducts('<?php echo $valProducts['product_id']; ?>','<?php echo $wohid; ?>','2','','');">Add To Cart</a>
          </div>
          </div>    
          </p>
        </li>
        <?php } ?>
      </ul>
      <?php } else { ?>
	  <hr>
       <p><strong><?php echo $translator['NO_RECORD_FOUND']; ?></strong></p> 
      <?php } ?>
      </div>
 
  </div>
</div>
<!--frame popup-->
