<?php
/**
 * This view is for getting wall of honour frames
 * @package    Document
 * @author     Icreon Tech - NS
 */
$relatedProduct = $this->relatedProduct;
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/woh.add.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>

<!--frame popup-->
<div class="wall-popup">
  <div class="content clearfix">
    <div class="top">
      <h1><?php echo $translator['WOH_ADD_FRAMES_NOTE1']; ?></h1>
 
    </div>
 
          <div class="passenger-desc">
      <p><?php echo $translator['WOH_ADD_FRAMES_NOTE2']; ?></p>
   <div class="full">
       <a class="button green float-right" id="continueWithoutFrame1"><?php echo $translator['WOH_ADD_FRAMES_NOTE3_CONTINUE_WITHOUT_FRAME']; ?></a>
	   </div>
    </div>
      
    <div class="listing passenger-desc">
     <!-- <p><?php// echo $translator['WOH_ADD_FRAMES_NOTE4']; ?></p>-->
      <?php
      if(isset($relatedProduct) and count($relatedProduct) > 0 and is_array($relatedProduct)) {
      ?>
      <ul style="width:100%;">
          <?php 
         $countFrame = 0;
          foreach($relatedProduct as $valRelatedProduct) {
              
              $imagesOther = explode(",", $valRelatedProduct['other_image_name']);
              if(isset($valRelatedProduct['image_name']) and trim($valRelatedProduct['image_name']) != "" and file_exists($this->file_upload_path_assets_upload_dir.$valRelatedProduct['image_name'])) {
                  $imageNamePath = $this->file_upload_path_assets_url.$valRelatedProduct['image_name'];
              }
              else {
                  $imageNamePath = "";
              }
              
              $discounted_price = "0.00";
              if(isset($valRelatedProduct['product_sell_price']) and isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1" and $discounts > 0) {
                $discounted_price = $valRelatedProduct['product_sell_price'] - $discounts*$valRelatedProduct['product_sell_price']/100;
                $discounted_price = isset($discounted_price)?$discounted_price:0;
                $discounted_price = round($discounted_price,2);
                $discounted_price = number_format($discounted_price,2);
              }
              /*set minimum amount for membership discount start*/
              $minDiscountAmount = "0.00";
              if (isset($valRelatedProduct['product_sell_price']))
              {
                $minDiscountAmount = $valRelatedProduct['product_sell_price'] - $minimumMemberShipDiscount * $valRelatedProduct['product_sell_price'] / 100;
                $minDiscountAmount = isset($minDiscountAmount) ? $minDiscountAmount : 0;
                $minDiscountAmount = round($minDiscountAmount, 2);
                $minDiscountAmount = number_format($minDiscountAmount, 2);
              }
              /*set minimum amount for membership discount ends*/
        ?>
        <li>
          
          <?php if(isset($imageNamePath) and trim($imageNamePath) != "") {  ?>  
               <div class="common-product-image-box">
                   <?php if(!empty($imagesOther) and count($imagesOther) > 1) { ?>
                    <a onclick="return displaypopclick('<?php echo $valRelatedProduct['related_product_id']; ?>');"><img src="<?php echo $this->file_upload_path_assets_url.$valRelatedProduct['image_name']; ?>" /></a>
                    <div onclick="return displaypopclick('<?php echo $valRelatedProduct['related_product_id']; ?>');" class="view-more">View More</div>
                   <?php } else { ?>
                    <a href="<?php echo $this->file_upload_path_assets_url_main.$valRelatedProduct['image_name']; ?>" alt="" value="" rel="lightbox"><img src="<?php echo $this->file_upload_path_assets_url.$valRelatedProduct['image_name']; ?>" /></a>
                    <div class="view-more"><a href="<?php echo $this->file_upload_path_assets_url_main.$valRelatedProduct['image_name']; ?>" alt="" value="" rel="lightbox" >View More</a></div>
                   <?php } ?>
                </div>
              <?php } else { ?>
                <div class="common-product-image-box">
                     <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/no-image.jpg" width="166" height="126" />
                </div>
              <?php } ?>
            
            
            
            <?php
                // n - start
                if(!empty($imagesOther) and isset($imagesOther) and is_array($imagesOther) and count($imagesOther) > 1) {   
                  foreach ($imagesOther as $imName) {
                      if(isset($imName) and trim($imName) != "") {
                          $imthumb = $this->file_upload_path_assets_url . $imName;
                          $imthumbBig = $this->file_upload_path_assets_url_main . $imName;
                  ?>
                      <a class="fancybox-thumbs<?php echo $valRelatedProduct['related_product_id']; ?>" style="display:none"  data-fancybox-group="thumb" href="<?php echo $imthumbBig; ?>"><img src="<?php echo $imthumb; ?>" alt="" /></a>
                  <?php              
                     }             
                   } 
                 } 
                // n - end
                ?>
                                
            
          <div class="detail">
            <h2><?php echo $valRelatedProduct['product_name']; ?></h2>
            <div class="row"><strong><?php echo $translator['WOH_ADD_FRAMES_PRICE']; ?> </strong>$<?php echo $valRelatedProduct['product_sell_price']; ?></div>
            <?php if(isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1") { ?>
            <div class="row"><strong><?php echo $translator['WOH_ADD_FRAMES_MEMBER_PRICE']; ?> </strong>$<?php 
             if($discounts > 0)
             {
                echo $discounted_price;
             }
             else
             {
                 echo $minDiscountAmount; 
             }
             ?></div>
            <?php } ?>
            <div class="row"><strong><span style="width:100px; float:left">Quantity</span> 
            
            <a id="minusQty<?php echo $countFrame; ?>" href="javascript:void(0);" onClick="changeProductQuantity('minus','<?php echo $countFrame; ?>')" style="display:none; float:left;"><img src="../img/minus.jpg"></a>
            
            <input class="left" style="width:40px; text-align:center; margin:0;" type="text" maxlength="5" class="frameQtyWohNum" id="frameQtyWoh<?php echo $countFrame; ?>" name="frameQtyWoh<?php echo $countFrame; ?>" value="1" />
            
            <a class="left" id="addQty<?php echo $countFrame; ?>" href="javascript:void(0);" onClick="changeProductQuantity('add','<?php echo $countFrame; ?>')"><img src="../img/add-more.jpg"></a>
            
            </strong></div>
                 </div>
            <a class="button pink" style="float:right;" onclick="javascript:addToCartFramesPopup('<?php echo $valRelatedProduct['related_product_id']; ?>','<?php echo $valRelatedProduct['product_sell_price']; ?>','<?php echo $discounted_price; ?>','<?php echo $imageNamePath; ?>',document.getElementById('frameQtyWoh<?php echo $countFrame; ?>').value);"><?php echo $translator['WOH_ADD_FRAMES_ADD_TO_CART']; ?></a>
        </li>
        <?php $countFrame = $countFrame + 1; } ?>
      </ul>
      <?php } else { ?>
	  <hr>
       <p><strong class="norecoardfound"><?php echo $translator['NO_RECORD_FOUND']; ?></strong></p> 
      <?php } ?>
      </div>
    <div class="passenger-desc">
      <a class="button green float-right" id="continueWithoutFrame2"><?php echo $translator['WOH_ADD_FRAMES_NOTE3_CONTINUE_WITHOUT_FRAME']; ?></a>
    </div>
  </div>
</div>
<!--frame popup-->


<!-- new js - start -->
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/slimbox2.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('cssFilePath') ?>/css/slimbox2.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" />

<script type="text/javascript">
    //    
   function displaypopclick(pid){
        $(document).ready(function() {
       
        $('.fancybox-thumbs'+pid).fancybox({
                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,
                nextClick : false,
                mouseWheel : true,                                                    
                afterClose:function(){
                    $(".fancybox-thumbs"+pid).hide();
                }
            });    
          });  

        displaypop(pid);
        $('.fancybox-thumbs'+pid).click(); 
        $("a[rel^='lightbox']").slimbox({});
    }
    
    function displaypop(pid)
    {
        $(".fancybox-thumbs"+pid).show();
    }
    $(document).ready(function() {        
        $(document).on('click',".thumbsdisplay",function(){
            var pid = $(this).attr('id');
            $('.fancybox-thumbs'+pid).click(); 
        });
        
        $("a[rel^='lightbox']").slimbox({});
    });   
    
    function changeProductQuantity(act,id){
        var obj = $("#frameQtyWoh"+id);
        if(act=='add') {   
                
               obj.val(parseInt(obj.val()) + 1);
                $("#minusQty"+id).show();
		    }
		    else {
		        if(parseInt(obj.val()) >= 2) {
		                obj.val(parseInt(obj.val()) - 1);
		        }
		        if(parseInt(obj.val())==1) {
		            $("#minusQty"+id).hide();
		        }
		    }
    }
    
</script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->layout()->getVariable('cssFilePath') ?>/css/related-product.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" />

<!-- new js - end -->

