<?php
$translator = $this->jsLangTranslate;
?>
<?php if(isset($wohArr) and count($wohArr) > 0) {  ?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php } ?>
<div id="lastDiv" class="woh-listing">
<div id="loader-div"></div>
    <div class="head">
        <div class="col1"><?php echo $translator['WOH_SEARCH_LIST_VIEW_INHONOROF']; ?></div>
        <div class="col2"><?php echo $translator['WOH_SEARCH_LIST_VIEW_DONATEDBY']; ?></div>
        <div class="col3"><?php echo $translator['WOH_SEARCH_LIST_VIEW_COUNTRYOFORIGIN']; ?></div>
        <div class="col4"><?php echo $translator['WOH_SEARCH_LIST_VIEW_PANEL']; ?></div>
		<div class="col6"><?php echo $translator['WOH_SEARCH_LOCATE_ON_WALL']; ?></div>
		<div class="col5"><?php echo $translator['WOH_SEARCH_VIEW_ACTION']; ?></div>
    </div>

<?php $cc = 0; foreach ($wohArr as $key => $val) { $cc = $cc + 1;  if($cc == "3") { $class = ' class="last" ';   $cc = 0; } else { $class = ''; } 


$fbUrl = $this->serverUrl().'/search-woh/'.$this->Encrypt($val['woh_id']).'/0';
$fbArr = array($fbUrl,$this->layout()->getVariable('imageFilePath').'/images/fb_share.jpg',addslashes($translator['FB_SHARE_WOH_MYFILE_TITLE1']),'&nbsp;',sprintf($translator['FB_SHARE_WOH_MYFILE_DESCRIPTION1'],DOMAIN_NAME),$facebookAppId);

?>

<?php if($view_woh_type == "2") { ?>
<div class="row">
    <div class="col1">
        <a  class="honor full">
            <?php if(isset($val['honoree_name']) and trim($val['honoree_name']) != "" and $val['honoree_name'] != NULL) { echo stripslashes(str_replace('<br>','&nbsp;',$val['honoree_name'])) . '&nbsp;'; } else { echo "&nbsp;"; } ?>
        </a>
    </div>
    <div class="col2"><?php if(isset($val['donated_by']) and trim($val['donated_by']) != "") {  echo isset($val['donated_by'])?stripslashes($val['donated_by']):"&nbsp;"; } else { echo "&nbsp;"; } ?></div>
    <div class="col3"><?php if(isset($val['origin_country']) and trim($val['origin_country']) != "") { echo isset($val['origin_country'])?stripslashes($val['origin_country']):"&nbsp;"; } else { echo "&nbsp;"; } ?></div>
    <div class="col4"><?php echo (isset($val['panel_no']) && !empty($val['panel_no']) ? $val['panel_no'] : 'TBD'); ?></div>
    <div class="col6">
		   <ul class="action">
		   <?php
	            if(!empty($val['panel_no'])) {
					$panel_no = $val['panel_no'];
					$image = $panel_no.'.jpg';

					if($panel_no<652){
						$pannelArray = array();
						$k = 0;
						for($i=1;$i<=3;$i++){
							for($j=1;$j<=26;$j++){
								$pannelArray[++$k] = strtolower(chr(64+$j)).$i;
							}
						}
						$panel_no = $pannelArray[$val['panel_locate_no']];
						$image = trim($panel_no).'.jpg';
					}
					if(file_exists($file_upload_path.'woh_image/'.$image)) {  
	            
						$wohImage = $this->woh_file_assets_path.'woh_image/' . $val['panel_no'].'.jpg';
				?>
	            <li><a onclick="showWohImage('<?php echo $this->Encrypt($panel_no); ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/wall-icon.png" width="30" alt=""><span class="toolTip"><small></small>Locate on Wall</span></a></li>
	    
            
	    <?php
	            }
	    }
	    ?>
		  
		  </div>
    
    <div class="col5">
    
    <ul class="action">

    
    
      <li><a onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['duplicate_certificate_product_id'].'^'.$val['duplicate_certificate_info_required'].'^1^none'); ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/woh-list-icon1.png" alt=""><span class="toolTip"><small></small>Certificate</span></a></li>
    <?php if (isset($val['panel_no']) and !empty($val['panel_no'])) { ?>    
      <li><a onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['personalized_panel_product_id'].'^'.$val['personalized_panel_info_required'].'^2^none'); ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/woh-list-icon2.png" alt=""><span class="toolTip"><small></small>Panel</span></a></li>
    <?php if(isset($val['is_finalize']) and isset($val['bio_certificate_prod_id']) and $val['is_finalize'] == "1" and $val['bio_certificate_prod_id'] != "") {  ?>
      <li><a onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['bio_certificate_product_id'].'^'.$val['bio_certificate_info_required'].'^3^'.$val['bio_certificate_prod_id']); ?>');"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/icon/woh-list-icon3.png" alt=""><span class="toolTip"><small></small>Bio Certificate</span></a></li>
    <?php } } ?>  
 <!--<li class="last"><a href="#"><img src="images/icon/woh-list-icon4.png" alt=""><span class="toolTip"><small></small>Photo</span></a></li>-->
      
        <!--       
        <?php //if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?><li>
           <a title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php //echo implode("','",$fbArr); ?>');">
            <img alt="" src="/images/fb_icon.png">
        </a>
    </li><?php //} ?>-->
    </ul>
    <?php //} ?>    
   </div>
</div>
<?php } else { ?>
 <li <?php echo $class; ?>>
    <!--    
    <div class="fb-icon" <?php if($_SERVER['REMOTE_ADDR'] != $allowed_IP){ ?> style="display:block;" <?php }else{ ?> style="display:none;" <?php } ?> >
        <a title="Share on Facebook" href="javascript:void(0);" onclick="return fbShare('<?php //echo implode("','",$fbArr); ?>');">
            <img alt="" src="/images/quizzes-share.png">
        </a>
     </div>-->
    <div class="woh-search-frame">
      <div class="woh-content-frame scroll-pane search-woh-scroll">
        <div class="woh-span top">
          <p><?php echo $translator['WOH_SEARCH_LIST_VIEW_INHONOROF']; ?></p>
          <h1>
            <?php if(isset($val['honoree_name']) and trim($val['honoree_name']) != "" and $val['honoree_name'] != NULL) { echo stripslashes(str_replace('<br>','&nbsp;',$val['honoree_name'])).'&nbsp;'; } ?>
			
	

          </h1>
        </div>
        <div class="woh-span">
          <p><?php echo $translator['WOH_SEARCH_LIST_VIEW_DONATEDBY']; ?></p>
          <h2><?php echo stripslashes($val['donated_by']); ?></h2>
        </div>
        <div class="woh-span">
          <p><?php echo $translator['WOH_SEARCH_LIST_VIEW_COUNTRYOFORIGIN']; ?></p>
          <h2><?php echo stripslashes($val['origin_country']); ?></h2>
        </div>
        <div class="woh-span">
          <p><?php echo $translator['WOH_SEARCH_LIST_VIEW_PANEL']; ?></p>
          <h2><?php echo (isset($val['panel_no']) && !empty($val['panel_no']) ? $val['panel_no'] : 'TBD'); ?></h2>
        </div>
      </div>
<!--      <div class="woh-bottom-active">-->
          <?php
					if ($this->getAuth() === false or isset($this->getAuth()->crm_email_id)) {
                                            $duplicateEncrypt = $this->Encrypt($val['woh_id'].'^'.$val['duplicate_certificate_product_id'].'^'.$val['duplicate_certificate_info_required'].'^1^none');
                                            $personalizedEncrypt = $this->Encrypt($val['woh_id'].'^'.$val['personalized_panel_product_id'].'^'.$val['personalized_panel_info_required'].'^2^none');
                                            $bioEncrypt = $this->Encrypt($val['woh_id'].'^'.$val['bio_certificate_product_id'].'^'.$val['bio_certificate_info_required'].'^3^'.$val['bio_certificate_prod_id']);
						?>
                                                <div class="bottom-icon">
                                                    <a class="certificate" onClick="checkUserLogin('<?php echo $this->Encrypt('/view-woh-products/'.$duplicateEncrypt).'@@rd'; ?>','<?php echo $duplicateEncrypt; ?>','/view-woh-products');">Certificate</a>
                                                    <?php if (isset($val['panel_no']) & !empty($val['panel_no'])) { ?>
                                                    <a class="panel" onClick="checkUserLogin('<?php echo $this->Encrypt('/view-woh-products/'.$personalizedEncrypt).'@@rd'; ?>','<?php echo $personalizedEncrypt; ?>','/view-woh-products');">Panel</a>
                                                    <?php if(isset($val['is_finalize']) and isset($val['bio_certificate_prod_id']) and $val['is_finalize'] == "1" and $val['bio_certificate_prod_id'] != "") { ?>
                                                       <a class="bio-certificate" onClick="checkUserLogin('<?php echo $this->Encrypt('/view-woh-products/'.$bioEncrypt).'@@rd'; ?>','<?php echo $bioEncrypt; ?>','/view-woh-products');">Bio Certificate</a>
                                                    <?php } } ?>
                                                </div>
						<?php
						}
						else
						{
						?>
		  
						  <div class="bottom-icon">
							<a class="certificate" onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['duplicate_certificate_product_id'].'^'.$val['duplicate_certificate_info_required'].'^1^none'); ?>');">Certificate</a>  
							<?php if (isset($val['panel_no']) and !empty($val['panel_no'])) {  ?>
                                <a class="panel" onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['personalized_panel_product_id'].'^'.$val['personalized_panel_info_required'].'^2^none'); ?>');">Panel</a>  
								<?php if(isset($val['is_finalize']) and isset($val['bio_certificate_prod_id']) and $val['is_finalize'] == "1" and $val['bio_certificate_prod_id'] != "") { ?>
								   <a class="bio-certificate" onclick="ViewRelatedProducts('<?php echo $this->Encrypt($val['woh_id'].'^'.$val['bio_certificate_product_id'].'^'.$val['bio_certificate_info_required'].'^3^'.$val['bio_certificate_prod_id']); ?>');">Bio Certificate</a>
								<?php } ?>								              
							<?php } ?>
						  </div>
					<?php
						}
						?>
		  
		  
		  
<!--      </div>-->
    </div>
</li>  
<?php } } ?>
</div>

<div class="nextprevbtn">
<?php 
if(isset($wohArr) and count($wohArr) > 6) {  ?>
            <?php
                if($page > 1) {
            ?>
				<input onclick="NextRecords('<?php echo $sort_field;?>','<?php echo $sort_order;?>','<?php echo $limit;?>','<?php echo $start_index;?>','previous');" type="button" value="< Previous" class="button semibold">
			<?php
			}
			?>

            <input onclick="NextRecords('<?php echo $sort_field;?>','<?php echo $sort_order;?>','<?php echo $limit;?>','<?php echo $start_index;?>','next');" type="button" value="Next >" class="button green semibold">

 <?php }
else {
?>
				<input onclick="NextRecords('<?php echo $sort_field;?>','<?php echo $sort_order;?>','<?php echo $limit;?>','<?php echo $start_index;?>','previous');" type="button" value="< Previous" class="button semibold">
<?php
} 
 ?>
</div>
