<?php
/**
 * This view is for search wall of honor
 * @package    User
 * @author     Icreon Tech - NS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/index.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
$(function(){
        $("select").select2();
	$('.scroll-pane').jScrollPane();
});
 
 <?php echo $var; ?>
<?php if($click_search == true) { ?>
    $(document).ready(function(){
         showAjxLoader(); 
        if($.trim($('#last_name').val()) == 'Last Name') { $('#last_name').val(''); }
        if($.trim($('#first_name').val()) == 'First Name') { $('#first_name').val(''); }
        if($.trim($('#other_part_name').val()) == 'Other Part of Name') { $('#other_part_name').val(''); }
        if($.trim($('#country').val()) == 'Country of Origin') { $('#country').val(''); }
        if($.trim($('#donated_by_add').val()) == 'Donated By') { $('#donated_by_add').val(''); }
        if($.trim($('#panel_number').val()) == 'Panel #') { $('#panel_number').val(''); }
         $.ajax ({
            type: 'POST',
            data: {
                searchString:$("#search_woh").serialize()+'&donated_by='+$.trim($('#donated_by_add').val())
            },
            url: '/woh-list',
            success: function(responseData) {
                hideAjxLoader();
                $('#searchResult').html(responseData);
                if($.trim($('#last_name').val()) == 'Last Name') { $('#last_name').val(''); }
                if($.trim($('#first_name').val()) == 'First Name') { $('#first_name').val(''); }
                if($.trim($('#other_part_name').val()) == 'Other Part of Name') { $('#other_part_name').val(''); }
                if($.trim($('#country').val()) == 'Country of Origin') { $('#country').val(''); }
                if($.trim($('#donated_by_add').val()) == 'Donated By') { $('#donated_by_add').val(''); }
                if($.trim($('#panel_number').val()) == 'Panel #') { $('#panel_number').val(''); }
            }
        });
    });
<?php } ?>


</script>

<style>
/*<?php  if (isset($numMemberWallOfHonour) and isset($saved_searches) and ((trim($numMemberWallOfHonour) != '' and trim($numMemberWallOfHonour) > count($saved_searches)) /*or trim($numMemberWallOfHonour) == ''*/)) { ?>
#save_search { display:block; }
<?php } else { ?>
#save_search { display:none; }
<?php } ?>*/

<?php if(isset($saved_searches) and count($saved_searches) == 0) {  ?>
    #woh_search_results { display:none; }
<?php } ?>
</style>
<link href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/search-woh.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/user/woh.search.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="inner-header">
  <h1><?php  echo $translator['SEARCH_WOH_HEADING']; ?></h1>
</div>
<input type="hidden" id="num_member_wall_of_honor_input" name="num_member_wall_of_honor_input" value="<?php if(isset($numMemberWallOfHonour) and trim($numMemberWallOfHonour) != '' and trim($numMemberWallOfHonour) > 0) { echo trim($numMemberWallOfHonour); } else { echo ""; } ?>" />
<input type="hidden" id="count_saved_searches_input" name="count_saved_searches_input" value="<?php if(isset($saved_searches) and is_array($saved_searches)) { echo count($saved_searches); } else { echo "0"; } ?>" />

<section class="woh-outer-bg" id="contentArea">
  <div class="woh-inner-bg">
      <?php echo $this->wallOfHonorListingSearch; ?>

      
      <div class="wrapper">
      <div class="woh-search-result">
        <div  id="totalRecordWoh" class="woh-search-result-box"></div>
        <div class="full"> 
            <?php
            if (!empty($messages)) {
                foreach ($messages as $message) {
                    echo '<div class="success-msg">'.$message.'</div>';
                }
            }
            ?> 
            <div id="woh_search_msg" style="display:none" class="success-msg"></div>
            
            <div>
         
           
             <?php 
               if ($this->getAuth() !== false and !isset($this->getAuth()->crm_email_id)) {
                    $form2 = $this->wohSearchSaveForm;
                    $form2->prepare();
                   // echo $this->form()->openTag($form2);
					//echo '<div class="save-search-error">';
                   // echo $this->formRow($form2->get('save_search_as'));
                   //echo $this->formRow($form2->get('savesearch'));
					//echo '</div>';
                   // echo $this->form()->closeTag();
               }			
					
		    if(isset($saved_searches) and count($saved_searches)<4) { $scrollCls = ''; } else  { $scrollCls = 'scroll-pane featured-scroll'; }
            ?>
            
 
            <!--<div id="woh_search_results" class="common-savesearch"> 
                 <div class="dropdown" style="display:none">
                     <div class="<?php //echo $scrollCls; ?>">
                <?php //if(isset($saved_searches) and count($saved_searches) > 0) {  ?>	
                   <ul>
                        <?php //foreach($saved_searches as $vals) { ?>                   
                           <li>
                             <span><?php //echo $vals['title']; ?></span>
                             <a href="#deletesearch" class="deletesearch sn-close" onClick="deleteSaveSearch('<?php //echo $this->encrypt($vals['woh_search_id']); ?>');"></a>
                             <a class="sn-search" onclick="viewSavedSearch('<?php //echo $this->encrypt($vals['woh_search_id']); ?>');"></a>
                           </li>
                         <?php //} ?>
                    </ul>	
                 <?php //} ?>  	
                  </div></div>
	     </div>-->
                
                
                
        <!--<span>&nbsp;<?php  //echo $translator['WOH_HEADING_SORT_BY']; ?></span>-->
        <!--<div class="sort-by width-180">
          <select name="orderBy" id="orderBy" onchange="return sortSearchWoh(this.value);" >
             <option value=" "><?php //echo $translator['WOH_HEADING_SELECT']; ?></option>  
             <option value="usr_wall_of_honor.origin_country"><?php //echo $translator['WOH_SEARCH_HEADING_COUNTRY_OF_ORIGIN']; ?></option>
             <option value="usr_wall_of_honor.panel_no"><?php //echo $translator['WOH_SEARCH_PANEL']; ?></option>
          </select>
        </div>-->
                   
       <div class="woh-list-view">
           <!--<a id="wohGridView" onclick="javascript:viewType(1,this);" class="grid-view active"></a>
	        <a id="wohListView" onclick="javascript:viewType(2,this);" class="list-view active"></a>	-->   
	   </div>
             </div> 
        </div>
      </div>
          
          
      <div  id="searchResult" class="woh-search-output">
      </div>
    </div>
       
	
  </div>
        
  <div style='display:none'>
        <div id='deletesearch' class="inner-popup-detail">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h1><?php  echo $translator['WOH_SEARCH_RESULTS_REMOVE_SEARCH']; ?></h1>
            <p><?php  echo $translator['WOH_SEARCH_RESULTS_REMOVE_SEARCH_CONFIRMATION_MSG']; ?></p>
	    <br>
            <input type="hidden" id="wohSearchDelId" name="wohSearchDelId" />
            <input type="button" value="Remove" name="yes" id="yes" class="button semibold">
            <input type="button" value="Cancel" name="no" id="no" class="button semibold green">
        </div>
   </div>
    
<div class="exceed" style="display:none;">
    <div class="inner-popup-detail">
        <p>Based on your membership level you have exceeded your saved search limit.</p>
        <p>You can remove some records from the dropdowns or from your profile at <a href="/profile">My File</a> under the appropriate tab.</p>
        <p><a href="/member-benefit">Click here</a> for additional information on membership levels.</p>
        <input type="button" value="Close" onclick="javascript:$.colorbox.close();$('.exceed').css({'display':'none'});"  class="button green semibold">
    </div>
</div>
</section>

<div style='display:none'>
    <div id='addedToCartWoh' class="inner-popup-detail">
        <h1>Add To Cart</h1>
        <p>Item has been added to your cart.</p>
            <input type="button" value="Continue" name="close" class="button green semibold"  id="addedToCartWohClose">
			<?php
				if($moduleGroup == 3) {
			?>
				<input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON6" onclick="disableCheckoutButton('CHECKOUT_BUTTON6'); location.href='<?php if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/poscheckout'"> 
			<?php
			}
			else {
			?>
				<input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON6" onclick="disableCheckoutButton('CHECKOUT_BUTTON6'); location.href='<?php if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/checkout'">				
			<?php
			}
			?>
		
    </div>
</div> 

<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/scroll.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jscrollpane.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
$(document).ready(function() { 
$(".common-savesearch").click( function(){
	$('.scroll-pane').jScrollPane();
	$(".common-savesearch .dropdown").hide();
}); 
});
</script>