 <?php
/**
 * This view is for view wall of honor
 * @package    User-WallOfHonor
 * @author     Icreon Tech - NS
 */
 
    $translator = $this->jsLangTranslate;
    $jsLangTranslate = $this->jsLangTranslate;
?>
<html>
  <head>
    <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/css3.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
     <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/css/screen.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>">
    <link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->layout()->getVariable('cssFilePath');?>/font-kiosk/stylesheet.css?v=<?php echo $this->layout()->getVariable('cssVersion');?>"> 
    

  </head>
      <body>
        <div class="outer-wrapper">
<div class="common-wall-popup">
<!-- Product Name - start -->   
<h1>
    <?php echo strip_tags($productResult['product_name']); ?> 
    <span id="cboxCloseMain"></span>
</h1>
<!-- Product Name - end -->   

<div class="middle-line">
<div class="right-side">
<!-- Product Description - start --> 
<?php if(isset($productResult['product_description']) and trim($productResult['product_description']) != "") { ?>
    <div class="row mar-no">
        <p>
            <?php          
               if($productResult['is_membership_discount'] == "1" and isset($discount_membership) and $discount_membership > 0 and isset($productResult['product_sell_price']) and $productResult['product_sell_price'] > 0) {
                    $product_sell_price = $productResult['product_sell_price'] - $productResult['product_sell_price']*$discount_membership/100;
                    if($product_sell_price != "0") {
                        $product_sell_price = number_format($product_sell_price,2);
                    }
                    else {
                        $product_sell_price = $productResult['product_sell_price'];
                    }
               }
               else {
                   $product_sell_price = $productResult['product_sell_price'];
               }
               echo str_replace('$price',' $'.$product_sell_price,$productResult['product_description']);
            ?>            
        </p>
    </div>
<?php } ?>
<!-- Product Description - end -->  

<!-- Dupilcate Certificate - Honree Name - start --> 
<?php  if($inforeq == "2"  and $this->productType == "1" and isset($this->honorNameWallOfHonor) and trim($this->honorNameWallOfHonor) != "") { ?>
       <div class="row" >
            <label><strong><?php echo $translator['WOH_ADD_FRAMES_HONREE_NAME']; ?>:</strong></label>
            <label class="normal">
                <?php echo $this->honorNameWallOfHonor; ?>
            </label>
        </div>
<?php } ?> 
<!-- Dupilcate Certificate - Honree Name - end -->

<!-- Panel - Panel No. - start --> 
<?php if($inforeq == "2" and $this->productType != "1" and isset($this->panelNoWallOfHonor) and trim($this->panelNoWallOfHonor) != "") { ?>

<div class="row">
            <label><strong><?php echo $translator['WOH_HEADING_ABOUT_US_PANEL']; ?>:</strong></label>
            <label class="normal">
                <?php echo strip_tags($this->panelNoWallOfHonor); ?>
            </label>
        </div>
<?php }  ?>
<!-- Panel - Panel No. - end --> 

<!-- Dupilcate Certificate  , Panel - Panel No. - start --> 
<?php if($inforeq == "2" and isset($productResult['product_sell_price']) and trim($productResult['product_sell_price']) != "") { ?>
       <div class="row" >
            <label><strong><?php echo $translator['WOH_ADD_FRAMES_PRICE']; ?>:</strong></label>
            <label class="normal">
                <?php echo ' $'.$productResult['product_sell_price']; ?>
            </label>
        </div>
<?php } ?>

<?php 
   if($productResult['is_membership_discount'] == "1" and isset($discount_membership) and $discount_membership > 0 and isset($productResult['product_sell_price']) and $productResult['product_sell_price'] > 0) {
     $discounted_product_sell_price = $productResult['product_sell_price'] - $productResult['product_sell_price']*$discount_membership/100;
     ?>
        <div class="row" >
            <label><strong><?php echo $translator['WOH_ADD_FRAMES_MEMBER_PRICE']; ?></strong></label>
            <label class="normal">
                <?php echo '$'.$discounted_product_sell_price; ?>
            </label>
        </div>  
     <?php
}
 ?>
<!-- Dupilcate Certificate  , Panel - Panel No. - end --> 
  
  <!-- Bio Certificate - Quantity - start --> 
  <?php 
  if($inforeq == "1") { 
    $form = $this->wohBioCertificateForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('wohid'));
    echo $this->formRow($form->get('productid'));
    echo $this->formRow($form->get('inforeq'));
    echo $this->formRow($form->get('bio_certificate_prod_id'));
?>
<div class="row"><p><?php echo $translator['WOH_BIO_CERTIFICATE_NUMBER_OF_QUANTITY2']; ?></p></div>
<div class="row biocer">
  <?php echo '<label class="auto">'.$this->honorNameWallOfHonor.'</label>';  ?>
  <div class="input-box"> 
  <a id="minusQty1" href="javascript:void(0);" onClick="changeProductQuantity(document.getElementById('bio_certificate_qty'),'minus')" style="display:none; float:left;"><img src="../img/minus.jpg"></a>
	<?php echo $this->formRow($form->get('bio_certificate_qty')); ?>
  <a id="addQty1" href="javascript:void(0);" onClick="changeProductQuantity(document.getElementById('bio_certificate_qty'),'add')"><img src="../img/add-more.jpg"></a></div>
</div>
<div class="row">
  <?php echo $this->formRow($form->get('bBioCertificateWohSubmit')); ?><p>&nbsp;</p>
</div>
<?php 
  echo $this->form()->closeTag(); 
 } 
?>
  <!-- Bio Certificate - Quantity - end --> 

<?php if($inforeq == "2") { ?>

<!-- Dupilcate Certificate  , Panel - Quantity - start --> 
<div class="row">
<?php
    $form = $this->wohBioCertificateForm;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <label><strong><?php echo $translator['WOH_BIO_CERTIFICATE_NUMBER_OF_QUANTITY3']?></strong></label>
    <label class="width-260">
	<a  id="minusQty1" href="javascript:void(0);" onClick="changeProductQuantity(document.getElementById('bio_certificate_qty'),'minus')" style="display:none; float:left;"><img src="../img/minus.jpg"></a>
	<?php echo $this->formRow($form->get('bio_certificate_qty')) ?>
	<a id="addQty1" href="javascript:void(0);" onClick="changeProductQuantity(document.getElementById('bio_certificate_qty'),'add')"><img src="../img/add-more.jpg"></a></label>
    
    <?php
    echo $this->form()->closeTag(); 
?>
</div>
<div class="row mar-no">
<a href="javascript:void(0);" class="button cart-btn" onclick="addToCartWohProducts('<?php echo $productResult['product_id']; ?>','<?php echo $wohid; ?>','<?php echo $inforeq; ?>','<?php echo trim($productType); ?>',document.getElementById('bio_certificate_qty').value)"><?php echo $translator['WOH_ADD_FRAMES_ADD_TO_CART']; ?></a>
</div>
<!-- Dupilcate Certificate  , Panel - Quantity - end --> 
</div>

<div class="left-side">
<!-- Dupilcate Certificate  - Image - end --> 
<?php if($inforeq == "2" and $this->productType == "1") { ?>
<div class="official-certificate">
    <div class="name">Antoinette Perrotto Iacocca</div>
    <div class="country">Italy</div>
</div>
<?php } } ?>
<!-- Dupilcate Certificate   - Image - end --> 
</div>


<!-- Panel  - Image - end --> 
<?php if($inforeq == "2" and $this->productType != "1") {   ?>	
   <div class="row txt-align-center" style="height: 473px; width: 426px;"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/panel_woh.jpg" /></div>    
<?php  } ?>  
<!-- Panel  - Image - end -->




<!-- Bio Certificate  - Image - start --> 
<?php if($inforeq == "1") { ?>
<div class="woh-certificate">
<div class="honor-name">Sarah and Jane Smith</div><div class="panel-name"><strong>312</strong></div>
<ul class="list">
    <li><?php echo $translator['WOH_BIO_CERTIFICATE_BIO_NAME']; ?><strong>Sarah and Jane Smith</strong></li>
    <li><?php echo $translator['WOH_BIO_CERTIFICATE_IMMIGRATED_FROM']; ?><strong>United States of America</strong></li>
    <li><?php echo $translator['WOH_BIO_CERTIFICATE_METHOD_OF_TRAVEL']; ?><strong>Ship</strong></li>
    <li><?php echo $translator['WOH_BIO_CERTIFICATE_PORT_OF_ENTRY']; ?><strong>New York</strong></li>
    <li><?php echo $translator['WOH_BIO_CERTIFICATE_DATE_OF_ENTRY_TO_US']; ?><strong>May 21, 2014</strong></li>
</ul>
</div>
<?php } ?>
<!-- Bio Certificate  - Image - end --> 

<br />
</div>

<!-- All  - related products - start --> 
<?php if(isset($relatedProduct) and is_array($relatedProduct) and count($relatedProduct) > 0) { ?>
<div class="related-products">
<div class="row">
    <h2><?php echo $translator['WOH_SEARCH_RELATED_PRODUCTS']; ?></h2>    
       <ul>
          <?php 
          foreach($relatedProduct as $valRelatedProduct) {
   
              $discounted_price = "0.00";
              if(isset($valRelatedProduct['product_sell_price']) and isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1" and $discount_membership > 0) {
                $discounted_price = $valRelatedProduct['product_sell_price'] - $discount_membership*$valRelatedProduct['product_sell_price']/100;
                $discounted_price = isset($discounted_price)?$discounted_price:0;
                $discounted_price = round($discounted_price,2);
		$discounted_price = number_format($discounted_price,2);
              }         
              ?>
        <li>
         
        <?php if(isset($valRelatedProduct['image_name']) and trim($valRelatedProduct['image_name']) != "" and file_exists($file_upload_path_assets_url.$valRelatedProduct['image_name'])) { ?>    
          <div class="image"><img src="<?php echo $this->file_upload_path_assets_url.$valRelatedProduct['image_name']; ?>" height="120" width="120" /></div>
         <?php } else { ?>
	 <div class="image"><img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/no-image.jpg" height="120" width="120" /></div>
<?php } ?>		 
          <div class="detail">
            <p><strong><?php echo $valRelatedProduct['product_name']; ?></strong><br>
            <?php echo $valRelatedProduct['product_description']; ?></p>
            <p><label><?php echo $translator['WOH_ADD_FRAMES_PRICE']; ?></label> $<?php echo number_format($valRelatedProduct['product_sell_price'],2); ?></p>
            <?php if(isset($valRelatedProduct['is_membership_discount']) and $valRelatedProduct['is_membership_discount'] == "1" && $discount_membership > 0) { ?>
            <p class="m-price"><label><?php echo $translator['WOH_ADD_FRAMES_MEMBER_PRICE']; ?></label> $<?php echo $discounted_price; ?></p>
            <?php } ?>
            <a  class="button cart-btn" onclick="addToCartWohProducts('<?php echo $valRelatedProduct['related_product_id']; ?>','<?php echo $wohid; ?>','2','','');"><?php echo $translator['WOH_ADD_FRAMES_ADD_TO_CART']; ?></a>
          </div>
            <br />
        </li>
        <?php } ?>
      </ul>
</div>    
</div>
<?php } ?>
<!-- All  - related products - end --> 
</div>	
</div>
        <div id="ajx_loader" class="main-loader"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/></div>
        <?php
        $var = '';
        $this->inlineScript()->captureStart();
        foreach ($jsLangTranslate as $key => $val) {
            $var.= 'var ' . $key . '= "' . $this->translate($val) . '";';
        }
        $this->inlineScript()->captureEnd();
        ?>
        <script><?php echo $var; ?></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery-1.9.1.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.validate.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/web-common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                  parent.$.colorbox.resize({innerWidth:"900px",innerHeight:(parseInt($(document).height())+parseInt(10))+'px'});
              });	       
         </script>        
         <script src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/user/woh.search.products.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>" type="text/javascript" ></script>

    </body>
</html>
