<?php
/**
 * This file is used for activate user
 * @package    User
 * @author     Icreon Tech - DG
 */
?> 
<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->headScript()->offsetSetFile(23, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.activation.js?v='.$this->layout()->getVariable('jsVersion'))->prependScript($var);
?>
<div class="inner-header">
    <h1><?php echo $translator['H_ACCOUNT_ACTIVATION'];  ?></h1>
</div>
<section class="main">
    <div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
    <div class="container">
	
        <div class="block col11 form alpha white-bg">
            <div class="content">                
                <?php
                if (isset($verification_done) && $verification_done) {
                    echo $success_msg;
                    if(isset($referalUrl) and trim($referalUrl) != "" and trim($referalUrl) != "0") {
                        $referalUrl = trim($referalUrl);
                        $referalUrlArr = explode("@@", $referalUrl);
                        if(isset($referalUrlArr[1]) and trim($referalUrlArr[1]) != "") {
                          echo "<br> <a href='javascript:loginPopupNp(\"/login/".$referalUrl."\");'> Continue Login</a>"; 
                        }
                        else {
                          echo "<br> <a href='/login/".$referalUrl."'> Continue Login</a>";   
                        }
                    }
                    else { echo "<br> <a href='/login'> Continue Login</a>";  }
                } else {
                    echo "<div id='verification_not_success'>";
                    ?>

					
When you first registered, we sent you an email. 
If you do not have it, we can resend it. <br>
Please <a href="javascript:void(0);" onclick="resendActivationCode();" >click here</a> if 
you'd like it re-sent.
                    <br>
					<br>
                    <?php
                    if (isset($error_msg) && $error_msg != '') {
                        echo '<div id="error_message_server">' . $error_msg . '</div>';
                    } else {
                        echo '<div id="error_message"></div>';
                    }

                    $form = $this->form;
                    $form->setAttribute('action', $this->url('activation', array('action' => 'activation')));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    echo $this->formRow($form->get('csrf'));
                    echo $this->formRow($form->get('referal_path_url'));
                    ?>
                    <div class="form-sep">
                        <div class="col7">
                            <label><?php echo $translator['L_VERIFICATION_CODE']; ?>:<span class="red">*</span></label>
                            <?php echo $this->formRow($form->get('verify_code')); ?>
                        </div>
                    </div>
                    <div class="form-sep">
                        <div class="col7">
                            <?php echo $this->formRow($form->get('submit')); ?>
                        </div>
                    </div>                    
                    <?php
                    echo $this->form()->closeTag();
                    echo "</div>";
                    echo "<div id='verification_success' style='display:none;'>";
                    echo "</div>";
                }
                ?>
            </div></div>
        <div class="home-add  col5 omega"> 
         <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
        </div>
    </div>
	
	</div>
	</div>
</section>