 <?php
/**
 * This file is used for signup user form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="inner-popup-detail signus-detail">
    <h1><?php echo $translator['H_ACCOUNT_APPLICATION']; ?></h1>
    <div class="content">
        <h2><?php echo $translator['H_ACCOUNT_CREATION']; ?></h2>
        <div id="message"></div>
        <?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('signup', array('action' => 'signup')));
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('referal_url_path'));
        ?>
        <div class="form-sep">
            <div class="col6">
                <label><?php echo $translator['L_FIRST_NAME']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('first_name')); ?>
            </div>
            <div class="col4">
                <label><?php echo $translator['L_MIDDLE_NAME']; ?>:</label>
                <div class="col15"><?php echo $this->formRow($form->get('middle_name')); ?></div>
            </div>
            <div class="col6 omega lname">
                <label><?php echo $translator['L_LAST_NAME']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('last_name')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_EMAIL']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('email_id')); ?>
                    <?php echo $this->formRow($form->get('email_not')); ?><label><?php echo "Don't have email"; ?>:<span>*</span></label>
                <label id="email_exits_msg"  class="error" style="display:none;"><?php echo $translator['EMAIL_ID_ALREADY']; ?></label>
                <label id="email_exits_red"  class="error" style="display:none;"></label>
                <label id="email_exits_green" class="error" style="display:none;"></label>
            </div>
            <div class="col8 float-right omega">
                <label><?php echo $translator['L_CONFIRM_EMAIL']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('email_id_conf')); ?>
                <label id="confrm_email_green" class="error" style="display:none;"></label>
                <label id="confrm_email_red" class="error" style="display:none;"></label>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8 password-col">
                <label><?php echo $translator['L_PASSWORD']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('password')); ?><div class="help">
<div class="help-tooltip">
    <ul>
        <li>Password must contain at least 1 alphabet and 1 number.</li>
	<li>Password must be at least 6 characters long.</li>
    </ul>   
	<span class="arrow"></span>
    <a href="#" class="close"></a>
</div>
</div>
				
            </div>
            <div class="col8 float-right omega">
                <label><?php echo $translator['L_CONFIRM_PASSWORD']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('password_conf')); ?>
                <label id="confrm_passwd_green" class="error" style="display:none;"></label>
                <label id="confrm_passwd_red" class="error" style="display:none;"></label>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_COUNTRY']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('country_id')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_POSTAL_CODE']; ?>:</label>
                <?php echo $this->formRow($form->get('postal_code')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_SECURITY_QUESTION']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('security_question_id')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_SECURITY_ANSWER']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('security_answer')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="terms-agree">
                <?php echo $this->formRow($form->get('agree')); ?>
                I have read and agree to the <a href="/terms-of-use" target="_blank">Terms &amp; Conditions</a></div>
        </div>
        <div class="form-sep ">
            <div class="captcha-row">
                 <a href="javascript:void(0);" onclick="refreshCaptcha();">                    
                    <img alt="Refresh Captcha" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/refresh.png">
                </a>
            <?php echo $this->formRow($form->get('captcha')); ?>
                <?php echo $this->formRow($form->get('csrf')); ?>
               
            </div>
           
        </div>
    </div>
    <div class="btn-row full">
        
            <?php echo $this->formRow($form->get('submit')); ?>
  </div>
    <?php echo $this->form()->closeTag();?>
</div>
</div>
<div class='create_user_name' style='display:none'>
    <div class="pop-container">
    	<h3><?php echo $translator['L_CREATE_USER_HEADING'] ?></h3>
        <form id="createusername" name="createusername" action="" method="post">
      <div class="common-form">
          <div class="row">
                <h1><span id="nextTime"></span></h1>
          </div>
       		<div class="row">
                <label class="width-120"><?php echo $translator['L_PHONE_DIGIT'] ?></label>
                <?php echo $this->formRow($form->get('phone_digit')); ?>
            </div>
                <div class="row">
                   <label class="width-120"><?php echo $translator['L_ADDRESS_1'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('address_1')); ?>
                    </span>
                  </div>
              </div>
             <div class="row">
                 <label class="width-120"><?php echo $translator['L_ADDRESS_2'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('address_2')); ?>
                    </span> </div>
              </div>
             <div class="row">
                 <label class="width-120"><?php echo $translator['L_COUNTRY'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('country_id_username')); ?>
                    </span> </div>
             </div>
          
             <div class="row">
                 <label class="width-120"><?php echo $translator['L_CITY'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('city')); ?>
                    </span> </div>
             </div>
          
             <div class="row">
                  <label class="width-120"><?php echo $translator['L_STATE'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('state_id')); ?>
                    </span> </div>
             </div>
             <div class="row">
                 <label class="width-120"><?php echo $translator['L_POSTAL'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('postal')); ?>
                    </span>
                  </div>
             </div>
            <div class="row">
                 <label class="width-120"><?php echo $translator['L_USERNAME'] ?></label>
                  <div class="col1">
                    <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('username')); ?>
                    </span>
                    <label id="username_exist_msg"  class="error" style="display:none;"><?php echo $translator['USERNAME_ALREADY']; ?></label>
                  </div>
             </div>
          
          
            <div class="row">
                <label class="width-120">&nbsp;</label>
                <input id="submitbutton" class="save-btn m-r-5" type="submit" value="Finish" name="finish" readonly=readonly>
            </div>
          </div>
          </form>
    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.signup.js?v='.$this->layout()->getVariable('jsVersion'));
?>