<?php
/**
 * This file is used for update user email
 * @package    User
 * @author     Icreon Tech - DG
 */
?> 
<?php
$translator = $jsLangTranslate;
$var ='';
foreach($jsLangTranslate as $key=>$val){
    $var .= 'var '.$key .'= "'.$this->translate("$val").'";';
}
$this->headScript()->offsetSetFile(23, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.updateemail.js?v='.$this->layout()->getVariable('jsVersion'))->prependScript($var);
?>

<div id="message"></div>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url('updateemail', array('action' => 'update-email')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('user_id'));
echo $this->formRow($form->get('csrf'));
?>

Your Account has either been migrated from an older system, or when you registered on Ellis Island you didn't provide an email address.

In order to access your account online, we will need you to provide your email account information.


Your Email address will be your new login account name:

<table>
 <tr valign="top"><td><?php echo $translator['L_EMAIL']; ?></td><td><?php echo $this->formRow($form->get('email'));?></td></tr>
 <tr valign="top"><td><?php echo $translator['L_CONFIRM_EMAIL']; ?></td><td><?php echo $this->formRow($form->get('confirm_email'));?></td></tr>
 <tr><td><?php echo $this->formRow($form->get('submit'));?></td></tr>
</table>
<?php
echo $this->form()->closeTag();
?>