<?php
/**
 * This file is used for signup user form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="add-kiosk-popup pop-container">
    <h3><?php echo $translator['L_ADD_CONTACT'] ?></h3>
    <div class="common-form">
        <div class="row">
            <h1><span id="nextTime"></span></h1>
        </div>
        <div class="row">
            <label class="width-120"><?php echo $translator['L_CONTACT'] ?><span class="red">*</span></label>
            <?php echo $this->formRow($form->get('contact')); ?>
        </div>
        <div class="row">
            <div class="col1">
                <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('availablity')); ?>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('kiosk_list')); ?>
                </span> 
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('kiosk_list')); ?>
                </span> 
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <span class="radio-label p-t-5 left">
                    <?php echo $this->formRow($form->get('kiosk_list')); ?>
                </span> 
            </div>
        </div>
        <?php echo $this->formRow($form->get('contact_id')); ?>
        <div class="row">
            <label class="width-120">&nbsp;</label>
            <input id="submitbutton" class="save-btn m-r-5" type="submit" value="Finish" name="submit" readonly=readonly>
            <?php //echo $this->formRow($form->get('csrf')); ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>


<div class='visitation_record_thank' style='display:none'>
    <div class="pop-container">
        <h2><?php echo $translator['L_THANK_YOU']; ?></h2>
        <p><?php echo $translator['L_ACCOUNT_LABEL']; ?><span id="email_id"></span><?php echo $translator['L_ACCOUNT_INFO']; ?>
        </p>
        <p><?php echo $translator['L_RECORD_MSG']; ?></p>
        <div class="button-row">
            <input type="button" value="I am Done, Thank You" name="no" id="close_thanks" class="blue-btn m-r-10">
            <input type="button" value="Would you like to passanger search" name="no" id="passenger_search" class="green-btn"> 
        </div>

    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->appendScript($var)
        ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.visiting_record.js?v=' . $this->layout()->getVariable('jsVersion'));
?>