<?php
/**
 * This file is used for verify user email
 * @package    User
 * @author     Icreon Tech - DG
 */
?> 


<?php
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->headScript()->offsetSetFile(23, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/user/user.activation.js?v='.$this->layout()->getVariable('jsVersion'))->prependScript($var);
?>
<div class="inner-header">
    <h1><?php echo $translator['H_ACCOUNT_ACTIVATION']; ?></h1>
</div>
<section class="main">
	<div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
		<div class="container">
			<div class="block col11 form alpha white-bg">
				<div class="content">
					<div id='verification_not_success'>
					Your Account and Password are Correct, but you have not yet Verified your account. When you first registered we would have sent you an email. If you do not have it then you can request us to resend it. 
					<div id="resend_mail">Please <a href="javascript:void(0);" onclick="resendMail('<?php echo $user_id; ?>')" >click here</a> to resend email.</div>
					<div id="error_message"></div>
					<?php                
					$form = $this->form;
					$form->setAttribute('action', $this->url('activation', array('action' => 'activation')));
					$form->prepare();
					echo $this->form()->openTag($form);
					//echo $this->formRow($form->get('csrf'));
					?>
					<div class="form-sep">
						<div class="col7">
							<label><?php echo $translator['L_VERIFICATION_CODE']; ?>:<span>*</span></label>
							<?php echo $this->formRow($form->get('verify_code')); ?>
						</div>
					</div>
					<div class="form-sep">
						<div class="col7">
							<?php echo $this->formRow($form->get('submit')); ?>
						</div>
					</div>
					<?php
					echo $this->form()->closeTag();
					echo "</div>";
					echo "<div id='verification_success' style='display:none;'>";
					echo "</div>";
					?>
				</div>
			</div>
			<div class="home-add  col5 omega"> 
			  <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
			</div>
		</div>
	</div>
</div>
</section>