<?php
/**
 * This file is used for activate user
 * @package    User
 * @author     Icreon Tech - DG
 */
?> 
<?php
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<div class="inner-header">
    <h1><?php echo $translator['H_UPDATE_EMAIL_VERIFICATION']; ?></h1>
</div>
<section class="main">
    <div class="container">
        <div class="block col11 form alpha">
            <div class="content">
                <?php
                if(isset($errorMessage) && $errorMessage!=''){
                    echo '<div id="error_message">'.$errorMessage.'</div>';
                }
                if(isset($successMessages) && $successMessages!=''){
                    echo '<div id="success_message">'.$successMessages.'</div> <a href="/login">Click here</a> to login';
                }
                ?>
            </div>
        </div>
        <div class="home-add  col5 omega"> 
          <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
        </div>
    </div>
</section>