
 <?php
/**
 * This file is used for signup user form
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
?>
<div class="inner-popup-detail signus-detail">
    <h1><?php echo $translator['L_ADD_ADDITIONAL_DATA']; ?></h1>
    <div class="content">
        <h2><?php echo $translator['L_ADD_ADDITIONAL_MSG']; ?></h2>
        <div id="message"></div>
        <?php
        $form = $this->form;
        //$form->setAttribute('action', $this->url('signup', array('action' => 'signup')));
        $form->prepare();
        echo $this->form()->openTag($form);
        //echo $this->formRow($form->get('referal_url_path'));
        ?>
        <div class="form-sep">
            <label><?php echo $translator['L_DATE_ARRIVAL']; ?>:<?php echo $this->currDate; ?></label>
                
               
        </div>
        <div class="form-sep">
            <div class="col6">
                <label><?php echo $translator['L_VISITING_WITH']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('visiting_with')); ?>
            </div>
            <div class="col4">
                <label><?php echo $translator['L_BIRTH_YEAR']; ?>:</label>
                <div class="col15"><?php echo $this->formRow($form->get('birth_year')); ?></div>
            </div>
            
        </div>
        <div class="form-sep">
            <div class="col6 omega lname">
                <label><?php echo $translator['L_MATARIAL_STATUS']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('matrial_status')); ?>
            </div>
            <div class="col8">
                <label><?php echo $translator['L_GENDER']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('gender')); ?>
            </div>
            
           
        </div>
        <div class="form-sep">
             <div class="col8">
                <label><?php echo $translator['L_ETHNICITY']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('ethnicity')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_NATIONALITY']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('nationality')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_BIRTH_COUNTRY']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('birth_country')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_IMMIGRATION_YEAR']; ?>:</label>
                <?php echo $this->formRow($form->get('immigration_year')); ?>
            </div>
        </div>
        <div class="form-sep">
            <div class="col8">
                <label><?php echo $translator['L_PORT_ENTRY']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('port_entry')); ?>
            </div>
            <div class="col8 omega">
                <label><?php echo $translator['L_OCCUPATION']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('occupation')); ?>
            </div>
        </div>
        <div class="form-sep">
            <label><?php echo $translator['L_MESSAGE']; ?>:<span>*</span></label>
                <?php echo $this->formRow($form->get('message')); ?>
               
        </div>
        <div class="form-sep">
            <div class="terms-agree">
                <?php echo $this->formRow($form->get('agree')); ?>
                I have read and agree to the <a href="/terms-of-use" target="_blank">Terms &amp; Conditions</a></div>
        </div>
         <?php echo $this->formRow($form->get('user_id')); ?>
         <?php echo $this->formRow($form->get('csrf')); ?>
       
      </div>
    <div class="btn-row full">
        
            <?php echo $this->formRow($form->get('submit')); ?>
   </div>
    <?php
    echo $this->form()->closeTag();
    ?>
</div>
</div>


<div class='visitation_record_thank__' style='display:none'>
    <div class="pop-container">
        <h2><?php echo $translator['L_THANK_YOU']; ?></h2>
        <p><?php echo $translator['L_ACCOUNT_LABEL']; ?><span id="email_id"></span><?php echo $translator['L_ACCOUNT_INFO']; ?>
        </p>
        <p><?php echo $translator['L_RECORD_MSG']; ?></p>
        <div class="button-row">
            <input type="button" value="I am Done, Thank You" name="no" id="close_thanks" class="blue-btn m-r-10">
            <input type="button" value="Would you like to passanger search" name="no" id="passenger_search" class="green-btn"> 
        </div>

    </div>
</div>
<?php
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$this->inlineScript()->appendScript($var)
					 ->appendFile($this->layout()->getVariable('jsFilePath').'/js/user/user.visiting_record.js?v='.$this->layout()->getVariable('jsVersion'));
?>