
<?php
/**
 * This page is use for create crm user
 * @package    User
 * @author     Icreon Tech - AP
 */

      
?>
<link rel="stylesheet" type="text/css" href="/css/web-colorbox-pause.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic|Oswald:400,700,300' rel='stylesheet' type='text/css'>
<div class='pos-kiosk-assign'>
    <div class="pop-container" >
        <h2><?php echo $this->heading; ?></h2>
        <p><?php echo $this->message; ?></p>

   </div>
</div>
