<?php
/**
 * This file is used for purchase session
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.pay.js?v=' . $this->layout()->getVariable('jsVersion'));

	if ($this->layout()->getVariable('https_on') == 1) {
                $httpHttpsUrl = SITE_URL_HTTPS;
            } else {
                $httpHttpsUrl = SITE_URL;
            }
            
?>
<form name="pay_purchase_session" id="pay_purchase_session" method="post" action="<?php echo $httpHttpsUrl ?>/get-swipe-data">	
<div class="purchase-section">
<input type="hidden" name="payment_mode" id="payment_mode" value="credit_card">
    <div id="swapcard">
	        <ul class="tab">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
	        <div class="detail-section">
	        <h2>SEARCH PASSENGER ARRIVALS</h2>
	        <div class="session no-mar"><em>Session Time:</em> 30 Minutes <span>|</span>  <em>Session Fee:</em> $<?php echo $feeAmount ?></div>
	            <!--<input type="text" name="card_details" id="card_details" value="" style="width:800px;background-color:#e5e5e5;border:none;">-->
	            <h3><?php echo $translator['L_SWAP_CARD']; ?></h3>
	            <div class="swap-card-img"><a href="javascript:void(0);" id="show_cred_card" ><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/swap_card_pos.png"></a></div>
	            <div class="gonextbtn m-t-35">
	                <a href="javascript:void(0)" onClick="go_to_back('<?php echo $this->Encrypt('edit')?>');"><input type="button" value="Go Back" id="" class="blue-btn" /></a>
	              </div>  
	            <?php
		        if($payment_status == 'swap_error') {
		        ?>    
	            <div class="error-icon top" id="swpaCardError">There was a problem with your credit card. Please swipe your card again.</div>
	            <?php
	            }
	            ?>
	        </div>
	        
    </div>
	<div style="display:none;" id="credit_card_error">
			<ul class="tab">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
	        <div class="detail-section" >
		            <h2 class="red"><span class="error-img"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/kiosk-img/error-icon.png" alt=""/></span>Your order could not be processed</h2>
		            <h4>Unfortunately, we are unable to process your order<br>
		                because the transaction on your credit card was declined.<br>
		                Press "Go Back" and try another card or select the cash option.</h4>
		            <div class="gonextbtn m-t-65">
		                <input type="button" value="Go Back" class="credit_card_error gray-btn" onclick="showCardOption()"/>
		                <input type="button" value="Transition to Cash" class="blue-btn" onClick="go_to_cash('<?php echo $this->Encrypt('payment_error')?>');"/>
		            </div>
            </div>
    </div>    	
        <div></div>
    </div>

</div>	
</form>
<script>
$(function(){
	$("#card_details").focus();
	
	if('<?php echo $payment_status ?>' == 'payment_error')
	{
		$("#credit_card_error").show();
		$("#swapcard").hide();
	}
});
function showCardOption(){
		$("#credit_card_error").hide();
		$("#swapcard").show();	
	}
</script>