<?php
/**
 * This file is used for donation
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/woh.donation.pay.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<form name="pay_pos_donation" id="pay_pos_donation" method="post" action="/get-swipe-data">	
<div class="purchase-section">
	<div id="swapcard">
	<ul class="tab" id="tab1">
		<li>Donation Amount</li>
		<li class="active">Payment</li>
		<li>Confirmation</li>
	</ul>
		<div class="detail-section">
		<h2>Donate to the Statue of Liberty -
			Ellis Island Foundation</h2>
			<div class="donation-text">Donation Amount: $<?php echo $amount?></div>
			<h3>Please swipe your credit or debit card</h3>
			<div class="swap-card-img"><a href="javascript:void(0);" id="show_cred_card"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/swap_card.png"></a></div>
			<!--<input type="text" name="card_details" id="card_details" value="" style="width:100px;background-color:#e5e5e5;border:none;">-->
	        <div class="gonextbtn">
                <input type="button" value="Go Back" id="backSwap" class="blue-btn" onclick="go_to_back('<?php echo $this->Encrypt('edit')?>')"/>			
            </div>			
        <?php
        if($status == 'swap_error') {
        ?>    
		<div id="swapcardErrorMessage" class="error-icon top">There was a problem with your credit card. Please swipe your card again.</div>	
		<?php
			}
		?>
	</div>
	</div>	
		<div style="display:none;" id="credit_card_error">
			<ul class="tab">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
	        <div class="detail-section" >
		            <h2 class="red"><span class="error-img"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/kiosk-img/error-icon.png" alt=""/></span>Your order could not be processed</h2>
		            <h4>Unfortunately, we are unable to process your order<br>
		                because the transaction on your credit card was declined.<br>
		                Press "Go Back" and try another card.</h4>
		            <div class="gonextbtn m-t-65">
		                <input type="button" value="Go Back" class="credit_card_error gray-btn" onclick="showCardOption()"/>
		            </div>
            </div>
        </div>	
</div>	
	</form>
	
<script>
$(function(){
	$("#card_details").focus();
	if('<?php echo $payment_status ?>' == 'payment_error')
	{
		$("#credit_card_error").show();
		$("#swapcard").hide();
	}	
});
function showCardOption(){
		$("#credit_card_error").hide();
		$("#swapcard").show();	
	}
</script>