<?php
/**
 * This file is used for pos donation cofirmation
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.print.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="purchase-section">
	<div id="step1" id="step1">
		<ul class="tab">
			<li>Donate Amount</li>
			<li>Payment</li>
			<li class="active">Confirmation</li>
		</ul>
		<div class="detail-section">
			<h2>Thank you</h2>
			<h3>Your donation to the Statue of Liberty-Ellis Island Foundation, <br>will help to rebuild the history of this special place. </h3>
			<div class="donation-text thanku">$<?php echo $transactionDetails[0]['transaction_amount'];?> Donation</div>
			<div class="gonextbtn m-t-15">
				<div class="search-label">CONFIRMATION # <?php echo $confirmationCode?></div>
			</div>
			
			<?php
			if($transactionDetails[0]['transaction_amount']>=50) {
			?>
				<div class="center-text m-t-35">Please bring your receipt to the check-in desk to receive your membership card. You can use your card today and enjoy the many benefits including 10% off your orders at the American Family Immigration History Center, the Ellis Island Caf&eacute; and the Crown Caf&eacute; at Liberty Island.</div>
			<?php
				}
			?>
			
			<div class="gonextbtn m-t-35">
			    <a href="javascript:void(0)"><input type="button" value="Print" class="blue-btn" id="print_btn_cash" onClick="printSlip('print_slip_card','print_btn_cash','<?php echo $printBtnDisabledTime;?>')" /></a>
				<a href="/"><input type="button" value="Return Home" id="" name="submit" class="blue-btn large" /></a>			
		    </div>
			<div class="redirect-text">You will be redirected back to the home screen in <span id="showCntTimer">60</span> seconds.</div>
		</div>
	</div>
</div>
<div id="print_slip_card" style="display:none;">
	<table face="monospace" width="280px;" cellpadding="2" cellspacing="2" style="margin-left:1px; margin-right:7px;">
		<tr>
			<td align="center" style="padding:3px 15px 15px;" colspan="2"><img src="<?php echo $this->layout()->getVariable('imageFilePath')?>/img/receipt-logo.png" border="0" alt=""></td>
		</tr>
		
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation</td>
		</tr>
		
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%" colspan="2">Date: <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampm')?> 
				<?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampmtime')?></td>
			</td>
		</tr>		
		
		<tr>
			<td align="center" style="padding:15px 15px 0; color:#000; font-size:12px; font-family:arial" colspan="2">Thank you for your donation to help us rebuild the Ellis island and making sure future generation are still able to enjoy the experience.</td>
		</tr>
		<?php
			if(empty($emailId) || $emailId=='') {
		?>
			<tr><td>&nbsp;</td></tr>
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Username:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userName; ?></td></tr> 
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Password:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userPassword; ?></td></tr> 
		<?php
		}
		?>
						
		<tr>
			<td align="left" style="padding:15px 15px 5px; color:#000; font-size:12px; font-family:arial">DONATION AMOUNT:</td><td align="left" style="padding:15px 15px 5px; color:#000; font-size:12px; font-family:arial"> $<?php echo $transactionDetails[0]['transaction_amount'];?></td>
		</tr>
		
		<tr>
			<td align="left" style="padding:15px 15px 5px; color:#000; font-size:12px; font-family:arial">Confirmation number:</td><td align="left" style="padding:15px 15px 5px; color:#000; font-size:12px; font-family:arial"> <?php echo $confirmationCode?></td>
		</tr>
		
		<tr>
			<td align="left" style="padding:10px 15px 0px; color:#000; font-size:12px; font-family:arial" colspan="2">I agree to pay the above Total Amount according to Card Issuer Agreement</td>
		</tr>
		
		
	</table>

</div>
<script>
idleTimer = null;
idleState = false;
idleWait = 60000;

$(document).ready(function () {
	var counter = 60;
	var interval = setInterval(function() {
		counter--;
		if(counter>=0){
			$('#showCntTimer').html(counter);
		}
	}, 1000); 
	setTimeout(function () { 
	window.location.href = "/";

	idleState = true; }, idleWait);
});
</script>