<?php
/**
 * This file is used for purchase session
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.donation.zipcode.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<form name="purchase_session_zipcode" id="purchase_session_zipcode" method="post" action="purchase-session-zipcode">
<div class="purchase-section">
	<div id="step3">
		<div id="creditcard_div">
			<ul class="tab" id="tab1">
				<li>Donation Amount</a></li>
				<li class="active">Payment</li>
				<li>Confirmation</li>
			</ul>
			<div class="detail-section">
					<h2>
					Donate to the Statue of Liberty -
					Ellis Island Foundation
					</h2> <h3>Please enter your billing ZIP or Postal Code</h3>
					<div class="donation-text mar-btm">Your card will be charged $<?php echo $amount?></div>
					<div class="form-section">
						<div class="row center">
							<input type="text" name="zipcode" class="billing" id="zipcode" value="" placeholder="Billing Zip or Postal Code*"/>	
						</div>
					</div>
			        <div class="gonextbtn m-t-35">
						<input type="submit" name="creditcard_confirm" id="creditcard_confirm" value="Confirm & Pay" class="blue-btn" />
						<div id="confirmMessage" class="error-icon top" style="display:none;"></div>			
				    </div>
			</div>
		</div>	
		<div></div>
	</div>
</div>
</form>	