<?php
/**
 * This file is used for purchase session
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.zipcode.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<form name="purchase_session_zipcode" id="purchase_session_zipcode" method="post" action="purchase-session-zipcode">
<div class="purchase-section">
	    <div id="creditcard_div">
	        <ul class="tab">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
			        <div class="detail-section">
			            <h2>SEARCH PASSENGER ARRIVALS</h2>
			            <div class="error-icon-noimg top" id="timeSlotError" style="display:none;">Time Slot is not available.</div>
			            <h3>Please enter your billing ZIP or Postal Code</h3>
			            <div class="session"><em>Session Time:</em> 30 Minutes <span>|</span> <em>Your card will be charged $<?php echo $feeAmount ?></em></div>
			            <div class="form-section">
			                <div class="row center">
			                    <input type="text" name="zipcode" class="billing" id="zipcode" value="" placeholder="Billing Zip or Postal Code*">
			                </div>
			            </div>
			            <div class="gonextbtn m-t-10">
			                 <input type="submit" value="Confirm & Pay" id="creditcard_confirm" name="creditcard_confirm" class="blue-btn" />
	                        <div id="confirmMessage" class="error-icon top" style="display:none;"></div>		
			            </div>
			           
			        </div>	        
   </div>
</div>
</div>	
</form>