<?php
/**
 * This file is used for purchase session confirmation
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.print.js?v=' . $this->layout()->getVariable('jsVersion'));

?>
<div id="body-container" class="purchase-section">
        	<ul class="tab" id="tab1">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li class="active"><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
			<div class="detail-section">
	            
	            <h2>SESSION SUMMARY</h2>
	            <?php 
					if($kioskDetails['payment_mode_id'] == 1) 
					{
				?>
	            <h4 style="font-size:26px;" class="no-mar">Thank you for your order.</h4>
				<h4 style="font-size:31px;" class="print-receipt no-mar">Print your receipt.</h4> 
				<h4 style="font-size:26px;" class="no-mar">If there are wait times, check the waiting list queue located at the check-in desk.</h4>
	            <?php
	             }
	            else
	            {
	            ?>
				<h4 style="font-size:26px;" class="no-mar">Your order is not complete until you pay for your session at the check-in desk.</h4>
	            <h4 style="font-size:31px;" class="print-receipt no-mar">Print your receipt.</h4>    
	            <?php
	            }
	            ?>
	            <?php
					if($kioskDetails['payment_mode_id'] == 1) 
					{
				?>
		            <div class="gonextbtn m-t-15">
		                <div class="search-label">SEARCH STATION <?php echo $searchKioskResult[0]['kiosk_name']?></div>
		
		            </div>
		            <ul class="list">
		                <li><strong>Confirmation #</strong><span  style="font-family:consolas;"><?php echo $kioskDetails['confirmation_code']?></span></li>
		                <li class="width40"><strong>SESSION START</strong><?php echo $startTime ?></li>
		                <li><strong>SESSION LENGTH</strong>30 MINUTES</li>
		                <li class="width40"><strong>SESSION END</strong><?php echo $endTime ?></li>
		            </ul>
		            <div class="gonextbtn m-t-25">
		                <a href="javascript:void(0)"><input type="button" value="Print" class="blue-btn" id="print_btn_credit_card" onClick="printSlip('print_slip_credit_card','print_btn_credit_card','<?php echo $printBtnDisabledTime;?>');"/></a>
		                <a href="<?php echo SITE_URL ?>/"><input type="button" id="" value="Return Home" class="blue-btn" /></a>
		            </div>	
					
					
				
	            <h4 class="print-receipt">You need your station number and confirmation number in order to begin your search today.</h4>
	            
					

					
	            <?php
	                }
	                else {
	                ?>
			            <div class="gonextbtn m-t-25">
			                <div class="search-label">SEARCH STATION</div>
			
			            </div>
						 <div class="gonextbtn m-t-25">
			                <div class="search-label not-assigned">Not Assigned</div>			
			            </div>
			            <ul class="list">
			                <li style="width:51%"><strong>Confirmation #</strong><span  style="font-family:consolas;"><?php echo $kioskDetails['confirmation_code']?></span></li>
			                <li class="width40"><strong>SESSION START</strong>TBD</li>
			                <li><strong>SESSION LENGTH</strong>30 MINUTES</li>
			                <li class="width40"><strong>SESSION END</strong>TBD</li>
			            </ul>
		            <div class="gonextbtn m-t-25">
		                <a href="javascript:void(0)"><input type="button" value="Print" class="blue-btn" id="print_btn_cash" onClick="printSlip('print_slip_cash','print_btn_cash','<?php echo $printBtnDisabledTime;?>')" /></a>
		                <a href="/"><input type="button" id="" value="Return Home" class="blue-btn" /></a>
		            </div>	
					<h4 class="print-receipt">You need your confirmation number to pay for your session.</h4>
	                <?php
	                }
	            ?>
	            
		<div class="redirect-text">You will be redirected back to the home screen in <span id="showCntTimer">60</span> seconds.</div>

           </div>
		  
</div>
<div id="print_slip_credit_card" style="display:none;">
	<table face="monospace" width="280px;" cellpadding="2" cellspacing="2" style="margin-left:1px; margin-right:7px;">
		<tr>
			<td align="center" style="padding:3px 15px 15px;" colspan="2"><img src="<?php echo $this->layout()->getVariable('imageFilePath')?>/img/receipt-logo.png" border="0" alt=""></td>
		</tr>
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation</td>
		</tr>
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%" colspan="2">Date: <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampm')?> 
				<?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampmtime')?></td>
		</tr>
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Thank you for your order.</td>
		</tr>		
		<?php
			if(empty($userDataArr['email_id'])) {
		?>
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Username:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userName; ?></td></tr> 
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Password:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userPassword; ?></td></tr> 
		<?php
		}
				?>
				
		<tr>
			<td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">SESSION FEE: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">$<?php echo $feeAmount; ?></td>
		</tr>
		<tr>
			<td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Confirmation number: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:consolas;font-size:17px;"><?php echo $kioskDetails['confirmation_code']?></td>
		</tr>
		<tr>
			<td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Session length: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">30 minutes</td>
		</tr>
		<tr>
			<td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">SEARCH STATION: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><?php echo $searchKioskResult[0]['kiosk_name']?></td>
		</tr>
				
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Session start time: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><?php echo $startTime ?></td></tr>				
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Session end time: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><?php echo $endTime ?></td></tr>
		
		<!--<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Credit Card: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">************5555</td></tr>-->
		
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">I agree to pay the above Total Amount according to Card Issuer Agreement</td></tr>
		
		<tr><td colspan="2"><hr></td></tr>
		<tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Donate</td></tr>
		<tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation is a non-profit that depends on your support! Please help us to preserve these monuments for generation to come. You can make your contribution today at www.libertyellisfoundation.org/donate
		</td>
	</table>
</div>
<div id="print_slip_cash" style="display:none;">

	<table face="monospace" width="280px;" cellpadding="2" cellspacing="2" style="margin-left:1px; margin-right:7px;">
		<tr>
			<td align="center" style="padding:3px 15px 15px;" colspan="2"><img src="<?php echo $this->layout()->getVariable('imageFilePath')?>/img/receipt-logo.png" border="0" alt=""></td>
		</tr>
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation</td>
		</tr>
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%" colspan="2">Date: <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampm')?> <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampmtime')?></td>
			
			</td>
		</tr>
		
		<tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Thank you for your order.</td></tr>
		
		<?php
			if(empty($userDataArr['email_id'])) {
		?>
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Username:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userName; ?></td></tr> 
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Password:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userPassword; ?></td></tr> 
		<?php
		}
		?>
		
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">SESSION FEE:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> $<?php echo $feeAmount; ?></td></tr> 
		
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Take your receipt to the check-in desk to complete your reservation.</td></tr>
		
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Confirmation number:</td> <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:consolas;font-size:17px;"><?php echo $kioskDetails['confirmation_code']?></td></tr>
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Session length:</td> <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">30 minutes</td></tr>
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">SEARCH STATION:</td> <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">TBD</td></tr>
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Session start time:</td> <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">TBD</td></tr>
		<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Session end time:</td> <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">TBD</td></tr>
		<tr><td colspan="2"><hr></td></tr>
		<tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Donate</td></tr>
		<tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation is a non-profit that depends on your support! Please help us to preserve these monuments for generation to come. You can make your contribution today at www.libertyellisfoundation.org/donate
		</td></tr>
	</table>
</div>
<script>
idleTimer = null;
idleState = false;
idleWait = 60000;

$(document).ready(function () {
	var counter = 60;
	var interval = setInterval(function() {
		counter--;
		if(counter>=0){
			$('#showCntTimer').html(counter);
		}
	}, 1000); 
	setTimeout(function () { 
	window.location.href = "/";

	idleState = true; }, idleWait);
});
</script>