<?php
/**
 * This file is used for purchase session
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .= 'var kiosk_fee= "' . $feeAmount . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/jquery.nicescroll.js?v=' . $this->layout()->getVariable('jsVersion'));
?>

<?php
	if ($this->layout()->getVariable('https_on') == 1) {
                $redirectSiteUrl = SITE_URL_HTTPS;
            } else {
                $redirectSiteUrl = SITE_URL;
            }
            
$form = $this->purchaseForm;
$form->setAttribute('id', 'purchase_session');
$form->setAttribute('name', 'purchase_session');
$form->setAttribute('action', $redirectSiteUrl.'/pay-purchase-session');
$form->prepare();
echo $this->form()->openTag($form);
?>	
<div class="purchase-section">
<input type="hidden" name="payment_mode" id="payment_mode" value="">
<input type="hidden" name="kiosk_fee" id="kiosk_fee" value="<?php echo $feeAmount?>">
<!--	
        <div style="float:right;"><a href="/"><?php //echo $translator['L_BACK_TO_MAIN_SCREEN'];  ?></a></div>
        <div>&nbsp;</div>-->
<?php
		if($page_action == 'edit')
			$display = "none;";
		else	
			$display = "block;";
?>
    <div id="step1" class="" style="display:<?php echo $display?>">

        <ul class="tab">
            <li class="active"><?php echo $translator['L_YOUR_INFO']; ?></li>
            <li><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
        </ul>

        <div class="detail-section">
            <h2>RESERVE YOUR SESSION</h2>
            <h3>Access manifest records for Ellis Island and the Port of NY from 1892-1957.</h3>
            <div class="session"><em>Session Time:</em> 30 Minutes  <span>|</span>  <em>Session Fee:</em> $<?php echo $feeAmount ?></div>
						
				<div class="error-icon top" id="slotErrorMessage"  style="display:none"></div>
            <div class="form-section">
                <div class="row">
                    <div class="col-left"><?php echo $this->formRow($form->get('first_name')); ?>
                    </div>
                    <div class="col-right"><?php echo $this->formRow($form->get('last_name')); ?></div>
                </div>
                <div class="row m-b-12" id="emailDivId"><?php echo $this->formRow($form->get('email')); ?></div>

            </div>
            <div class="click-link" id="email_lebel_msg"><a href="">
                    <span id="donotId"><a href="javascript:void(0)" onClick="showAddressBlock();">Don't have an email address? Click here</span>

                </a></div>

            <div class="form-section" id="showAddressBlockId" style="display:none;">
                <div class="row">
                    <div class="col-left"><?php echo $this->formRow($form->get('address')); ?>
                    </div>
                    <div class="col-right"><?php echo $this->formRow($form->get('city')); ?>
                    </div>
                    
                </div>

                <div class="row no-mar">
                    <div class="col-left"><div class="kiosk-select"><?php echo $this->formRow($form->get('country')); ?></div></div>
                    <div class="col-right" ><div class="kiosk-select" id="state_div"><?php echo $this->formRow($form->get('state')); ?></div><div class="kiosk-select"><?php echo $this->formRow($form->get('other_state')); ?></div></div>
                </div>
               <div class="click-link small">
                    <span><strong>Note:</strong> You must have an email address in order to create an account. Without an email address, you will not be able to continue what you started today from home.</span>

                </a></div>

            </div>
            <div class="gonextbtn m-t-25">
                <input type="button" value="Go Back" class="gray-btn" onClick="showEmailBlock()"/>
                <input type="submit" id="submitbutton" value="Next Step" class="blue-btn" />
            </div>
           
            &nbsp;

<!--<input type="submit" value="Continue with my order" class="save-btn"  name="submit" style="background-color: green;height: 50px;width: 280px;font-size:14pt;color:#fff;cursor:pointer">-->

            <?php //echo $this->form()->closeTag(); ?>



        </div>



    </div>
    <div id="step2" class="none">

        <ul class="tab">
            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
            <li class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
        </ul>

        <div class="detail-section">
            <h2>SEARCH PASSENGER ARRIVALS</h2>
            <h3>Hello, <span id="user_name_id1" class="text-capitalize"></span>! You're almost ready to access our database.</h3>
            <div class="session no-mar"><em>Session Time:</em> 30 Minutes <span>|</span>  <em>Session Fee:</em> $<?php echo $feeAmount ?></div>
			<div class="center-text m-t-b">Please select payment method</div>
            <div class="gonextbtn m-t-10">
                <input type="submit" value="Credit Card" class="blue-btn" id="credit_card"/>
                <input type="button" id="cash" value="Cash" class="cash_btn blue-btn"/>
            </div>

            <div class="gonextbtn m-t-35">
                <input type="button" value="Go Back" id="tab1" class="gray-btn" />			
            </div>
            <div id="processing_1" style="display:none;"></div>
        </div>
    </div>

    <div id="step3" class="none">
        <div id="cash_div" style="display:none;">
		
			 <ul class="tab">
	            <li><?php echo $translator['L_YOUR_INFO']; ?></li>
	            <li  class="active"><?php echo $translator['L_PAYMENT_TYPE']; ?></li>
	            <li><?php echo $translator['L_CONFIRMATION']; ?></li>
	        </ul>
			
			<div class="detail-section" >
	            <h2>SEARCH PASSENGER ARRIVALS</h2>
	            <h3>You are ordering a 30 minutes passenger search session.</h3>
	            <div class="session"><em>Session Time:</em> 30 Minutes <span>|</span>  <em>Session Fee:</em> $<?php echo $feeAmount ?></div>
	            <div class="note">
				 <strong>NOTE:</strong> Selecting cash may take additional time.<br> Payment will be taken at the cash register.
	            </div>
				
	            <div class="gonextbtn m-t-45">
					 <input type="submit" name="cash_confirm2" class="blue-btn" id="cash_confirm2" value="Credit Card" />
				
	                <input type="submit" class="blue-btn" name="cash_confirm" id="cash_confirm" value="Cash Payment"/>
                    <span id="confirmMessage_cash" class="error-icon top" style="display:none;"></span>
	                
	               
	            </div>
	
	            <div class="gonextbtn m-t-35">
	                <input type="button" value="Go Back" class="gray-btn" id="cash_go_back"/>			
	            </div>
            </div>
		
            <table width="100%">
               		
                <tr><td colspan="3" style="text-align:center">
                    </td>
                    <td><div></div></td>
                </tr>

            </table>
        </div>
        <div></div>
    </div>

</div>	
</form>

<?php
$country = $purchaseSessionData['country'];
$state = $purchaseSessionData['state'];
$email = $purchaseSessionData['email'];
?>

<script>
$(function(){
$("#country").select2();
$("#state").select2();
});

    $(document).ready(function () {
        $("select.devkit").each(function(){
            var ret     = $(this).select2();
            // custom scrollbars
            var s;
            ret.on("select2-open", function () {
                if (!s) {
                    s = $('.select2-drop-active > .select2-results');
                    s.niceScroll({
					autohidemode: false,
					touchbehavior: true,
					cursordragontouch: true				
					
					});
                }
            });
        });

	if('<?php echo $page_action ?>' == 'edit') {
		if('<?php echo $purchaseSessionData['email'] ?>' == '') {
							showAddressBlock();
							$("#country").val('<?php echo $purchaseSessionData['country'] ?>').select2();
							if($("#country").val()*1 == 228) {
								$("#state").val('<?php echo $purchaseSessionData['state'] ?>').select2();
								}
							else {  
										$("#other_state").show();	
										$("#state_div").hide();
								} 
				
				       }
				       
		else {
			$("#other_state").hide();
		}	
			$("#user_name_id1").html($("#first_name").val()+' '+$("#last_name").val());
			$("#step1").hide();       
			$("#step2").show();  			       
			       
	}        
	else if('<?php echo $page_action ?>' == 'payment_error') {
		$("#step1").hide();	
		$("#step2").show();
		$("#user_name_id1").html($("#first_name").val()+' '+$("#last_name").val());
	}
});


</script>