<?php
/**
 * This file is used for visitation certificate confirmation
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.pos.print.js?v=' . $this->layout()->getVariable('jsVersion'));
			if ($this->layout()->getVariable('https_on') == 1) {
                $httpHttpsUrl = SITE_URL_HTTPS;
            } else {
                $httpHttpsUrl = SITE_URL;
            }   
?>
<div class="purchase-section">
	<div id="step1" id="step1">
			
	<div class="detail-section">
	    
			<?php 
								if($emailFlag == "new_email") 
								{
									echo '<h2>Thank you for registering <br>your visit at Ellis Island!</h2>';
									echo '<h3>Your free digital certificate has been emailed to you. Please write down your confirmation detail or print this copy.</h3>';
								}
								else if($emailFlag == "already_exists")  {
									echo '<h2>Thank you for registering <br>your visit at Ellis Island!</h2>';
									echo '<h3>Your free digital certificate has been emailed to you.</h3>';
								}
								else if($emailFlag == "no_email")  {
									echo '<h2>Thank you for registering <br>your visit at Ellis Island!</h2>';
									echo '<h3>Please print a receipt with information on how you can access your visitation certificate.</h3>';
								}
							?>	   
	   
	   <!--
	   <h3>Your free digital certificate has been emailed to you.<br>
		Please take note of your confirmation details or print a receipt.-->

			<div class="gonextbtn">
				<!--<div class="search-label">CONFIRMATION # <?php //echo $confirmation_code ?></div>-->
				<br><h3><?php echo $translator['L_CERTIFICATE_URL']; ?>:</h3> <?php echo LIVE_SITE_URL.'/ellisisland/'.$encrypt_confirmation_code ?>
			</div>
			<?php
			
			$visitorFirstName = $this->Encrypt($visitationResult[0]['first_name']);
			if(!empty($visitationResult[0]['family_name']))
				$visitorLastName = $this->Encrypt($visitationResult[0]['family_name']);
			else	
				$visitorLastName = $this->Encrypt($visitationResult[0]['last_name']);
			
			$visitorEmailId = $this->Encrypt($visitationResult[0]['email_id']);	
				
			?>
	  <div class="gonextbtn m-t-35">
			
			<a href="javascript:void(0)"><input type="button" value="Print" id="print_btn_visitation" class="blue-btn" onClick="printSlip('print_slip_visitation','print_btn_visitation','<?php echo $printBtnDisabledTime;?>')"/></a>			
			
			<?php 
				if(isset($donateModule) && $donateModule==1) {
			?>
				<a href="<?php echo $httpHttpsUrl ?>/pos-donation/<?php echo $visitorFirstName?>/<?php echo $visitorLastName ?>/<?php echo $visitorEmailId ?>"><input type="button" id="" value="Make a Donation" class="blue-btn" /></a>
			<?php
			}
			?>
			<br><br><a href="/"><input type="button" value="Return Home" class="blue-btn" /></a>
	   </div>
	   <div class="redirect-text">You will be redirected back to the home screen in <span id="showCntTimer">60</span> seconds.</div>	
	</div>
		
	</div>
	
	
	
</div>	

<div id="print_slip_visitation" style="display:none;">
	<table face="monospace" width="280px;" cellpadding="2" cellspacing="2" style="margin-left:1px; margin-right:7px;">
		<tr>
			<td align="center" style="padding:3px 15px 15px;" colspan="2"><img src="<?php echo $this->layout()->getVariable('imageFilePath')?>/img/receipt-logo.png" border="0" alt=""></td>
		</tr>
		
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation</td>
		</tr>
		
		<tr>
			<td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Date: <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampm')?> <?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'slashdateformatampmtime')?></td>
		</tr>
		
		<tr>
			<td align="center" style="padding:15px 15px 0; color:#000; font-size:12px; font-family:arial" colspan="2">THANK YOU FOR REGISTERING YOUR VISIT AT ELLIS ISLAND!</td>
		</tr>
		<?php
		if($emailFlag == "no_email") {
		?>
			<tr><td>&nbsp;</td></tr>
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Username:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $userName; ?></td></tr> 
			<tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Password:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $password; ?></td></tr> 		
		<?php
		}
		?>							

		<tr><td align="left" style="padding:15px 15px 0; color:#000; font-size:12px; font-family:arial" colspan="2">
		<?php 
			if($emailFlag == "new_email") 
			{
				echo 'Your free digital certificate has been emailed to you.';
			}
			else if($emailFlag == "already_exists")  {
				echo 'Your free digital certificate has been emailed to you.';
			}
		
		$file_path = LIVE_SITE_URL.'/ellisisland/'.$visitationResult[0]['certificate_file_name'];
		$keywords = preg_split("/.org\//", $file_path);	
		?>			
		<br> You can also download your digital certificate through the link below.</td></tr> 
		<tr><td align="center" style="padding:15px 15px 5px; color:#000; font-size:12px; font-family:arial" colspan="2">Link to download the certificate:<br> <?php echo $keywords[0].'.org/<br>'.$keywords[1] ?></td></tr>

		<tr><td colspan="2"><hr></td></tr>
		<tr>
			<td align="center" style="padding:15px 15px 0; color:#000; font-size:12px; font-family:arial" colspan="2">Donate</td>
		</tr>
				
		<tr>
			<td align="center" style="padding:15px 15px 0; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation is a non-profit that depends on your support! Please help us to preserve these monuments for generation to come. You can make your contribution today at www.libertyellisfoundation.org/donate</td>
		</tr>		
		
		
	</table>

</div>
<script>
idleTimer = null;
idleState = false;
idleWait = 60000;

$(document).ready(function () {
	var counter = 60;
	var interval = setInterval(function() {
		counter--;
		if(counter>=0){
			$('#showCntTimer').html(counter);
		}
	}, 1000); 
	setTimeout(function () { 
		window.location.href = "/";

	idleState = true; }, idleWait);
});
</script>