<div class="special-promotion-slider">
<div id="content-slider-1" class="royalSlider contentSlider rsDefault" style="width:100%; margin:0px auto; position:relative;">
    <?php
    if (isset($this->arrBanner) and is_array($this->arrBanner) and count($this->arrBanner) > 0) {
	   foreach ($this->arrBanner as $valBanner) {
            if (isset($valBanner['image_name']) and trim($valBanner['image_name']) != "" and file_exists($this->rootPathBanner . '/' . $valBanner['image_name'])) {
				if($valBanner['image_link']=='' || is_null($valBanner['image_link']))
					$link = 'javascript:void(0);';
				else
					$link = trim($valBanner['image_link']);
                ?>
                <div class="sliderImage alignCenter">
					<?php if($valBanner['image_link']=='' || is_null($valBanner['image_link'])) { ?>
						<div><img src="<?php echo $this->pathBanner; ?>/<?php echo $valBanner['image_name']; ?>" alt=""></div>
					<?php }else{ ?>
						<div><a href="<?php echo $link; ?>" <?php if (isset($valBanner['link_open']) and trim($valBanner['link_open']) == "1" and trim($valBanner['link_open']) != "" && $valBanner['image_link']!='') { ?> target="_blank" <?php } ?>><img src="<?php echo $this->pathBanner; ?>/<?php echo $valBanner['image_name']; ?>" alt=""></a></div>
					<?php } ?>
                    <section class="slider-content ">
                        <h1><?php echo isset($valBanner['image_title']) ? $valBanner['image_title'] : ''; ?></h1>
                        <p><?php //echo isset($valBanner['image_description']) ? nl2br($valBanner['image_description']) : ''; ?></p>
                    </section>
                </div>
                <?php
            }
        }
    }
    ?>
	</div>
</div>
</div>
<script>
$(document).ready(function() {
	$('#content-slider-1').royalSlider({
            autoHeight: true,
            arrowsNav: false,
            fadeinLoadedSlide: false,
            controlNavigationSpacing: 0,
            controlNavigation: 'tabs',
            imageScaleMode: 'none',
            imageAlignCenter:true,
            loop: true,
            loopRewind: true,
            numImagesToPreload: 6,
            keyboardNavEnabled: true,
            usePreloader: false,
            arrowsNav : true,
            autoPlay: {
              enabled: true,
              pauseOnHover: true
            }
        });
});


</script>