<div class="ellismap-head">
<span>Ellis Island National Museum of Immigration</span>
<h1>Directory</h1>
</div>

<div class="ellismap-page">
	<div class="tab">
		<a href="#tab1" class="active">FLOOR 1<span></span></a>
		<a href="#tab2">FLOOR 2<span></span></a>
		<a href="#tab3">FLOOR 3<span></span></a>
	</div>
	
	<div class="outer-detail">
		<div id="tab1" class="detail-section"><img src="kiosk-front-img/map-floor1.jpg" alt=""/></div>
		<div id="tab2" class="detail-section"><img src="kiosk-front-img/map-floor2.jpg" alt=""/></div>
		<div id="tab3" class="detail-section"><img src="kiosk-front-img/map-floor3.jpg" alt=""/></div>
	</div>
</div>
<script>
$(document).ready(function(){
	$(".detail-section").css("display","none");
	$(".detail-section:first").fadeIn(200);
	$(".tab a.active").addClass("active");
	$(".tab a").each(function(i){
		$(this).click(function(){
			$(this).addClass("active").siblings().removeClass("active");
			return false;
		});
	});
	$(".tab a").each(function(i){
		$(this).click(function(){
			$(".detail-section").hide().filter(this.hash).fadeIn(200);
		});
	});
});
</script>