<?php
/**
 * This file is used for donation
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/woh.donation.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<?php
			$form = $this->donationForm;
			$form->setAttribute('id', 'donation_form');
			$form->setAttribute('name', 'donation_form');
			$form->setAttribute('action', '/pay-woh-donation');
			$form->prepare();
			echo $this->form()->openTag($form);
			?>	
			
<div class="purchase-section">
	<?php echo $this->formRow($form->get('amount')); ?>
<?php
		if($page_action == 'edit')
			$display = "none;";
		else	
			$display = "block;";
?>		
	<div id="step1" id="step1" style="display:<?php echo $display?>">
	   <div class="detail-section">
	   <h2>Donate to the Statue of Liberty - Ellis Island Foundation</h2>
	   <h3 class="no-mar">Dedicated to the Restoration and Preservation of the Statue of Liberty and Ellis Island</h3>
	   <h3 class="m-b-30">The Statue of Liberty-Ellis Island Foundation needs your support!</h3>
		<div class="form-section m-t-35">
			<div class="row">
			<div class="col-left">
				<?php echo $this->formRow($form->get('first_name')); ?>
				</div>
				<div class="col-right"><?php echo $this->formRow($form->get('last_name')); ?></div>
			</div>
			<div class="row">
			<?php echo $this->formRow($form->get('email')); ?>
			</div>
		</div>
		
	      <div class="gonextbtn m-t-10">
			<input type="submit" value="Next Step" id="submitbutton" name="submit" class="blue-btn" />
			<!--<input type="button" value="Reset Fields" id="resetbutton" name="reset" class="blue-btn" />-->
	   </div>
	   
	   
	   
	   </div>
	</div>

	
	<div id="step2" style="display:none;">
		
	<ul class="tab" id="tab1">
		<li class="active">Donation Amount</li>
		<li >Payment</li>
		<li>Confirmation</li>
	</ul>
	<div class="detail-section no-padd">
	
		<h2>Donate to the Statue of Liberty -
			Ellis Island Foundation</h2>
		<h3>Please select or enter an amount you would like to donate.</h3>
		
		
		<div class="donate-button">
			<div class="btn-box"><div class="outer-btn">$<?php echo $this->formRow($form->get('amount_1')); ?></div></div>
			<div class="btn-box"><div class="outer-btn">$<?php echo $this->formRow($form->get('amount_2')); ?></div></div>
			<div class="btn-box m-t-0"><div class="annual"><?php echo $membershipData[2]['membership_title']?></div><div class="outer-btn active">$<?php echo $this->formRow($form->get('amount_3')); ?></div><div class="see" id="benifit_<?php echo $membershipData[2]['membership_id'] ?>" onClick="showBenifit('<?php echo $membershipData[2]['membership_id'] ?>');">See Benefits</div></div>
	
	
			<div class="btn-box m-t-0"><div class="annual"><?php echo $membershipData[3]['membership_title']?></div><div class="outer-btn">$<?php echo $this->formRow($form->get('amount_4')); ?></div><div class="see" id="benifit_<?php echo $membershipData[3]['membership_id'] ?>" onClick="showBenifit('<?php echo $membershipData[3]['membership_id'] ?>');">See Benefits</div></div>
			<div class="btn-box last"><div class="outer-btn"><input type="button" value="Other" id="otherId" class="italic"></div></div>
		</div>
		<div class="center-text small">Members receive many benefits including a 10% Discount in the Ellis Island Caf&eacute; and the Crown Caf&eacute; at Liberty Island that can be used today!</div>
		<div class="form-section" id="donation_amount_div" style="display:none;"">
			<div class="row center" style="margin-bottom:10px!important; height:55px;">
				<span>$</span><?php echo $this->formRow($form->get('donation_amount')); ?><span id="donation_amount_error"></span>
			</div>
		</div>
	    <div class="gonextbtn m-t-15">
				<input type="button" name="go_back" id="go_back" value="Go Back" class="gray-btn" />	
				<input type="submit" name="btnSubmit" id="btnSubmit" value="Next Step" class="blue-btn" />	
			<!--<input type="button" name="donate_now" id="donate_now" value="Next Step" class="blue-btn" />-->						
	    </div>
		</div>
	</div>
		
	<div id="benifit_content_<?php echo $membershipData[2]['membership_id'] ?>" class="benifit-content" style="display:none;" >
		<div class="detail-section">
			    <!--<h2>Statue of Liberty - Ellis island Foundation <?php //echo $membershipData[1]['membership_title']?> information</h2>-->
			 
			    <div class="center-text m-t-25"><?php echo strtoupper($membershipData[2]['membership_title'])?> Only $<?php echo $membershipData[2]['minimun_donation_amount']?>/year Tax-deductible</div>
			 
				<p>
					<?php echo stripslashes($membershipData[2]['membership_description'])?>
				</p>
				<p class="background">Note: Non-member Registered Users have the following "save" opportunities for 365 days: 1 passenger search, 3 ship searches, 5 passenger records, 2 ship manifests, 2 ship records, 1 Wall of Honor search, 1 Flag of Faces search.</p>
			
			    <div class="gonextbtn m-t-15">
					<input type="button" name="back<?php echo $membershipData[2]['membership_id'] ?>" id="back_<?php echo $membershipData[2]['membership_id'] ?>" value="Go Back" class="gray-btn" onClick="backMembershipBenifit('<?php echo $membershipData[2]['membership_id'] ?>')" />			
				</div>
		</div>
	</div>
	
	<div id="benifit_content_<?php echo $membershipData[3]['membership_id'] ?>" class="benifit-content" style="display:none;">
		<div class="detail-section">
			<!--<h2>Statue of Liberty - Ellis island Foundation <?php //echo $membershipData[2]['membership_title']?> information</h2>-->
	 
			 <div class="center-text m-t-25"><?php echo strtoupper($membershipData[3]['membership_title'])?> Only $<?php echo $membershipData[3]['minimun_donation_amount']?>/year Tax-deductible</div>
			 
				<p>
					<?php echo stripslashes($membershipData[3]['membership_description'])?>
				</p>
				
			<p class="background">Note: Non-member Registered Users have the following "save" opportunities for 365 days: 1 passenger search, 3 ship searches, 5 passenger records, 2 ship manifests, 2 ship records, 1 Wall of Honor search, 1 Flag of Faces search.</p>
	
	
			<div class="gonextbtn m-t-35">
				<input type="button" name="back<?php echo $membershipData[3]['membership_id'] ?>" id="back_<?php echo $membershipData[3]['membership_id'] ?>" value="Go Back" class="gray-btn" onClick="backMembershipBenifit('<?php echo $membershipData[3]['membership_id'] ?>')"/>			
		   </div>
	
		</div>
	</div>

</div>	
	</form>
	
	
<script>
	$(function(){
		$("#country").select2();
	});

	if('<?php echo $page_action ?>' == 'edit') {
			$("#step1").hide();       
			$("#step2").show();  			       
			       
	} 

</script>