<?php
/**
 * This file is used for visitation certificate
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/crm.css?v='.$this->layout()->getVariable('cssVersion'));
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.woh.visitiation.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/jquery.nicescroll.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<?php
			$form = $this->visitForm;
			$form->setAttribute('id', 'purchase_session');
			$form->setAttribute('name', 'purchase_session');
			$form->prepare();
?>
<div class="purchase-section">
	<form name="individualFrm" id="individualFrm" method="Post" action="">	
	
	<input type="hidden" name="visiting_with" id="visiting_with" value="5">
		<div id="step1" id="step1">
		
		<div class="detail-section">
	   <h2>Get your free ellis island digital visitor certificate!</h2>
	   <h3>Please select the certificate type you would like to receive.</h3>
	   
	   <div class="outer-click-tab">
	   <div class="click-tab">
		<a id="tab1" class="active">For myself</a>
		<a id="tab2">For my family</a>
	   </div>
	   </div>
	  
		<div class="form-section">
			<div class="row">
				<div class="col-left"><?php echo $this->formRow($form->get('first_name')); ?></div>
				<div class="col-right"><?php echo $this->formRow($form->get('last_name')); ?></div>
			
			</div>
			<div class="row">
				<div class="col-left"><?php echo $this->formRow($form->get('email')); ?></div>
				<div class="col-right"><div class="kiosk-select"><?php echo $this->formRow($form->get('country')); ?></div></div>
			
			</div>
		</div>
	   
	      <div class="gonextbtn">
			<input type="submit" value="Register My Visit" id="submitbutton" name="submit" class="blue-btn" />			
	   </div>
	   </div>
			
				<?php echo $this->form()->closeTag(); ?>
		</div>
		 
	</form>
	<form name="familyFrm" id="familyFrm" method="Post" action="">	
	<input type="hidden" name="visiting_with" id="visiting_with" value="2">
		<div id="step2" style="display:none;">
		
		<div class="detail-section">
	   <h2>Get your free ellis island digital visitor certificate!</h2>
	   <h3>Please select the certificate type you would like to receive.</h3>
	   
		
		<div class="outer-click-tab">
	   <div class="click-tab">
		<a id="tab11">For myself</a>
		<a id="tab22">For my family</a>
	   </div>
	   </div>
		

		


	<div class="form-section">
			<div class="row">
				<div class="col-left"><?php echo $this->formRow($form->get('family_name')); ?></div>
				<div class="col-right"><div class="kiosk-select sumit"><?php echo $this->formRow($form->get('country')); ?></div></div>
			
			</div>
			<div class="row">
				<?php echo $this->formRow($form->get('email')); ?>			
			</div>
		</div>
	   
	      <div class="gonextbtn">
			<input type="submit" value="Register My Visit" name="cash" id="cash" class="blue-btn" />			
	   </div>
		
		
		
		
			

			</div>
		</div>
	</form>	
<div id="terms" style="display:none;">
<div>Statue Of Liberty Ellis Island Terms and Conditions</div>
<input type="hidden" id="active_tab" name="active_tab" value="">
<input type="button" value="< Back" class="save-btn" id="Back" name="Back" style="background-color: green;height: 50px;width: 200px;font-size:17pt;color:#fff;cursor:pointer" onclick="hideTerms();">
		 <br>
		 Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
			<br><br>
			Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.
			<br><br>
			Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
			<br><br>
			Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.
			<br><br>
			Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
			<br><br>
			Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.
<br><br>
			Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
			
			Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus facilisis enim id, integer eleifend vitae volutpat consequat per leo.
			Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
			
			Nulla wisi laoreet suspendisse hendrerit facilisi, mi mattis pariatur adipiscing aliquam pharetra eget. Aenean urna ipsum donec tellus tincidunt, quam curabitur metus, pretium purus <br>
			<input type="button" value="< Back" class="save-btn" id="Back" name="Back" style="background-color: green;height: 50px;width: 200px;font-size:17pt;color:#fff;cursor:pointer" onclick="hideTerms();">
		 </div>	
	</div>
	</form>
	
	<script>
$(function(){
$("#country").select2();
});
    $(document).ready(function () {
        $("select.devkit").each(function(){
            var ret     = $(this).select2();
            // custom scrollbars
            var s;
            ret.on("select2-open", function () {
                if (!s) {
                    s = $('.select2-drop-active > .select2-results');
                    s.niceScroll({
					autohidemode: false,
					touchbehavior: true,
					cursordragontouch: true				
					});
                }
            });
        });
    });
</script>