<?php
/**
 * This file is used for get crm cart products on reload
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
?>
<?php
$form = $this->createTransactionForm;
?>
<div class="head no-img"><span><?php echo $translator['L_SHIPPING_INFO']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row shipping-check1">
            <div>
                <label><?php echo $translator['L_SHIPPING_METHOD']; ?></label>
                <?php echo $this->formRow($form->get('shipping_method')); ?>
            </div>
        </div>
    </div>
</div>