<?php
/**
 * This file is used for transaction Pay
 * @package    User
 * @author     Icreon Tech - SR
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();

echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-1.9.0.min.js?v=' . $this->layout()->getVariable('jsVersion'));
echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.pay.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<form name="pay_transaction" id="pay_transaction" method="post" action="/get-swipe-data">	
<input type="hidden" name="transaction_source" id="transaction_source" value="transaction">
    <div id="swapcard">
	        <div class="detail-section">
	            <!--<input type="text" name="card_details" id="card_details" value="" style="width:100px;background-color:#e5e5e5;border:none;">-->
	            <h3><?php echo $translator['L_SWAP_CARD']; ?></h3>
	            <div class="swap-card-img"><a href="javascript:void(0);" id="show_cred_card" ><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/swap_card.png" width="500"></a></div>
	        </div>
    </div>
	 	
</form>