<?php
/**
 * This view is used to add more notify
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
 $form = $this->createTransactionForm;
?>


                        <?php //echo $this->formRow($form->get('shipping_method')); ?>
						
	<div class="cart-custom-radio">
			<?php 
			$i=0;
			foreach($shippingMethods as $key=>$value){
                         if($i==0){
			?>
			<div>
				<input type="radio" name="shipping_method" id="shipping_method_<?php echo $i; ?>" class="e3 shipmethod" value="<?php echo $key; ?>" >
				<label for="shipping_method_<?php echo $i; ?>"><?php echo $value;?></label>
			</div>
		   <?php 
			}
		   $i++;
		   } ?>
			<!--<div>
				<input type="radio" name="shipping_method" id="shipping_method_1" class="e3 shipmethod" value="">
				<label for="shipping_method_1">Overnight</label>
			</div>
			<div>
				<input type="radio" name="shipping_method" id="shipping_method_2" class="e3 shipmethod" value="">
				<label for="shipping_method_2">3&ndash;5 Days</label>
			</div>-->
		</div>
						
<script>
$(document).ready(function(){
                $("#shipping_method").attr('checked', true);
                $('#shipping_method').click();
});	
</script>                        

