<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var payment_status = "";';
?>
<style>
.checkOut-page{min-height:100px;}
.checkOut-page .right-section h2{padding: 7px 0 5px 20px;}
.checkOut-page .right-section .order-total{padding:10px 20px 7px;}
label.error{font-size:13px!important;}
.checkOut-page .order-review .top-detail-row{padding:10px 0!important;}
.checkOut-page .item-section .record-wrapper, .checkOut-page .item-section .record-wrapper:hover{padding:10px 0;}
.checkOut-page .item-section .record-wrapper .right-detail .top-row{padding-bottom:7px;}
.checkOut-page .order-review .top-detail-row h3{padding-bottom:5px; margin-bottom:5px;}
.checkOut-page .item-section h3{margin-top:10px;}
.checkOut-page .order-review .top-detail-row h3{padding-bottom:5px;}
.checkOut-page .left-section .top-row p.shiMethMsg{font-size:15px; margin-top:2!important}
.checkOut-page .left-section .shipping-section .example{margin-right:30px;}
.no-mar{margin:0px!important;}
</style>
<a name="userAddress"></a>
    <div class="inner-header">
        <h1>CHECKOUT <span class="navigator"></span> order review</h1>
    </div>
    <div class="cms-outer-bg" id="contentAreaOrder">
        <div class="cms-inner-bg">
            <div class="container">
				<div class="pos-checkout-min">
                <div class="checkOut-page">					
                    <div class="tab-nav">
                        <ul>
                            <li class="first width-50"><small><a href='<?php if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/poscheckout'><?php echo $translator['SHIPPING_INFO']; ?></a></small></li>
                            <li class="two width-50 active"><small>Payment & Confirmation</small></li>
                        </ul>
                    </div>
                    <div class="main-inner-section payment-confirmation"> 
						<div class="scroll-pane cart-order-summary1">
                        <div class="left-section">
                            <div class="checkout-step-3">                            
                                <div class="order-review">
                                    <label id="quantity_error_msg" class="error" style="display:none;"></label>	
                                    <label class="error_msg error credit_card_error" id="credit_card_error" style="display:none;"></label>
                                   
                                    <?php
                                    $totalProducts = $itemsTotal['totalproduct'];
                                    $isInventory = $itemsTotal['isInventory'];
                                    ?>
                                    <?php
                                    if ($totalProducts != $isInventory) {
                                        ?>


                                        <div class="top-detail-row">
                                            <h3>Shipping address</h3>
                                            <?php
                                            if (empty($postdata['pick_up'])) {
                                                ?>
                                                <strong>  <?php echo $postdata['shipping_first_name'] . ' ' . $postdata['shipping_last_name'] ?></strong>
                                                <p> <?php
                                        $shipAdd[] = $postdata['shipping_address_1'];
                                        if (!empty($postdata['shipping_address_2']))
                                            $shipAdd[] = $postdata['shipping_address_2'];
                                        if (!empty($postdata['shipping_city']))
                                            $shipAdd[] = $postdata['shipping_city'];
                                        if (!empty($postdata['shipping_state']))
                                            $shipAdd[] = $postdata['shipping_state'];
                                        if (!empty($postdata['shipping_zip_code']))
                                            $shipAdd[] = $postdata['shipping_zip_code'];
                                        if (!empty($postdata['shipping_country_text']))
                                            $shipAdd[] = $postdata['shipping_country_text'];
                                        echo implode(', ', $shipAdd);
                                    } else {
                                        echo "Pick Up";
                                    }
                                            ?></p>
                                        </div>
                                        <!--<a href="#" onclick="displayBlock('ship')" class="button semibold">EDIT</a> </div>-->
                                    <?php } ?>

                                </div>
                                <div class="full">
                                    <div class="item-section">
                                        <h3>Items</h3>

                                        <?php
                                        if ($this->layout()->getVariable('https_on') == 1) {
                                            $path = $upload_file_path['assets_url_https'] . 'product/thumbnail/';
                                        } else {
                                            $path = $upload_file_path['assets_url'] . 'product/thumbnail/';
                                        }

                                        $isOnlyDonation = 1;
                                        foreach ($cartlist as $cartProduct) {
                                            if ($cartProduct['product_type_id'] != 2) {
                                                $isOnlyDonation = 0;
                                            }


                                            $arrivalDateL = '';
                                            $sizeL = '';
                                            $passengerNameL = '';
                                            $passengerIdL = '';
                                            $shipNameL = '';


                                            if ($cartProduct['product_type_id'] == 1) {
                                                $productLabel = $cartProduct['product_name'];
                                            } else if ($cartProduct['product_type_id'] == 2) {
                                                $productLabel = $cartProduct['product_type'];
                                            } else if ($cartProduct['product_type_id'] == 3) {
                                                $productLabel = $cartProduct['product_name'];
                                            } else if ($cartProduct['product_type_id'] == 4) {
                                                $productLabel = $cartProduct['product_name'];
                                            } else if ($cartProduct['product_mapping_id'] == 6) {
                                                if ($cartProduct['item_type'] == '1') {

                                                    $productLabel = $cartProduct['product_name'];
                                                    $productLabel .= (isset($cartProduct['product_option_name']) and trim($cartProduct['product_option_name']) != "") ? " : " . $cartProduct['product_option_name'] : "";
                                                    $arrivalDateL = '';
                                                    $sizeL = ''; // '<label>Size :</label> ' . $cartProduct['product_option_name'];
                                                    $passengerNameL = '<label>Name </label> ' . $cartProduct['item_name'];
                                                    $passengerIdL = '<label>ID </label> ' . $cartProduct['item_id'];
                                                    $shipNameL = '';
                                                } else if ($cartProduct['item_type'] == '3') {
                                                    $itemName = '';
                                                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                                                        $itemName = $cartProduct['item_name'];
                                                    else
                                                        $itemName = $cartProduct['ship_name'];

                                                    $arrivalDate = 'N/A';
                                                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                        $arrivalDate = "<label>Arrival Date </label> " . $this->Dateformatalpha($cartProduct['item_info'], 'calender');

                                                    $productLabel = $cartProduct['product_name'];
                                                    $productLabel .= (isset($cartProduct['product_option_name']) and trim($cartProduct['product_option_name']) != "") ? " : " . $cartProduct['product_option_name'] : "";

                                                    $arrivalDateL = $arrivalDate;
                                                    $sizeL = ''; // '<label>Size :</label> ' . $cartProduct['product_option_name'];
                                                    $passengerNameL = '';
                                                    $passengerIdL = '';
                                                    $shipNameL = '<label>Ship Name </label> ' . $itemName;
                                                } else if ($cartProduct['item_type'] == '2') {
                                                    $itemName = '';
                                                    if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                                                        $itemName = $cartProduct['item_name'];
                                                    else
                                                        $itemName = $cartProduct['ship_name'];

                                                    if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                        $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                    else
                                                        $arrivalDate = 'N/A';


                                                    if (!empty($cartProduct['ship_name'])) {
                                                        //$productLabel = $cartProduct['product_name'] . '<br><label>Ship Name:</label> ' . $itemName . '<br><label>Arrival Date:</label> '.$arrivalDate;

                                                        $productLabel = $cartProduct['product_name'];
                                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                                            $productLabel.= ' : ' . $cartProduct['manifest_info'];

                                                        $arrivalDateL = '<label>Arrival Date</label> ' . $arrivalDate;
                                                        $sizeL = '';
                                                        $passengerNameL = '';
                                                        $passengerIdL = '';
                                                        $shipNameL = '<label>Ship Name </label> ' . $itemName;
                                                    } elseif (!empty($cartProduct['item_name'])) {
                                                        // $productLabel = $cartProduct['product_name'] . '<br><label>Passenger Name:</label> ' . $cartProduct['item_name'] . '<br><label>Arrival Date:</label> '.$arrivalDate;

                                                        $productLabel = $cartProduct['product_name'];
                                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                                            $productLabel.= ' : ' . $cartProduct['manifest_info'];

                                                        $arrivalDateL = '<label>Arrival Date </label> ' . $arrivalDate;
                                                        $sizeL = '';
                                                        $passengerNameL = '<label>Passenger Name </label> ' . $cartProduct['item_name'];
                                                        $passengerIdL = '';
                                                        $shipNameL = '';
                                                    }
                                                } else {
                                                    $productLabel = $cartProduct['product_name'];
                                                }
                                            } else if ($cartProduct['product_type_id'] == '6') {
                                                $productLabel = $cartProduct['product_name'];
                                                if (!empty($cartProduct['product_option_name'])) {
                                                    //$productLabel.=  "<br />" . $cartProduct['product_option_name'];
                                                }
                                                if (!empty($cartProduct['woh_name'])) {
                                                    $passengerNameL = "<label>Honoree Name : </label><div class='details'></div> " . $cartProduct['woh_name'];
                                                }
                                            } else if ($cartProduct['product_type_id'] == '7') {
                                                $productLabel = $cartProduct['product_name'];
                                            } else if ($cartProduct['product_type_id'] == '8') {
                                                $productLabel = $cartProduct['product_name'];
                                            }

                                            if ($cartProduct['product_mapping_id'] == '5') {
                                                $productLabel = $cartProduct['product_name'];
                                            }
                                            ?>
                                            <div class="record-wrapper">
                                             <!-- <h1><?php //echo  $productLabel;   ?></h1>-->
                                                <div class="img-box">
                                                    <?php
                                                    if (!empty($cartProduct['image_name'])) {
                                                        $imgSrc = $path . $cartProduct['image_name'];
                                                    } else {

                                                        if ($cartProduct['product_type_id'] == '2') {
                                                            $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/donate.jpg';
                                                        } else {

                                                            $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/no-image-cart.jpg';
                                                        }
                                                    }
                                                    if ($cartProduct['product_type_id'] == '4') {
                                                        $imgSrc = $upload_file_path['assets_url'] . 'temp/fof/medium/' . $cartProduct['fof_image'];
                                                    }

                                                    if ($cartProduct['type_of_product'] == 'membership') {
                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . "/images/member_card.png";
                                                    }
                                                    ?>

                                                    <img src="<?php echo $imgSrc; ?>" alt="" width="80"/>
                                                </div>
                                                <div class="right-detail">
                                                    <div class="top-row">
                                                        <span class="name"><?php echo $productLabel; ?></span>									
                                                        <span class="price"><?php
                                                echo '$' . $productPrice = $this->Currencyformat(($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']) * $cartProduct['product_qty']);
                                                    ?></span>
                                                    </div>
                                                    <div class="btm-row">
                                                        <div class="qty">
                                                            <label>Qty  </label>
                                                            <?php echo $cartProduct['product_qty'] ? $cartProduct['product_qty'] : 1; ?>
                                                        </div>
                                                        <?php if (!empty($passengerNameL)) { ?>
                                                            <span class="com-text"><?php echo $passengerNameL; ?></span>
                                                        <?php } ?>
                                                        <?php if (!empty($passengerIdL)) { ?>
                                                            <span class="com-text"><?php echo $passengerIdL; ?></span>
                                                        <?php } ?>											
                                                        <?php if (!empty($shipNameL)) { ?>
                                                            <span class="com-text"><?php echo $shipNameL; ?></span>
                                                        <?php } ?>
                                                        <?php if (!empty($sizeL)) { ?>
                                                            <span class="com-text"><?php echo $sizeL; ?></span>
                                                        <?php } ?>											
                                                        <?php if (!empty($arrivalDateL)) { ?>
                                                            <span class="com-text"><?php echo $arrivalDateL; ?></span>
                                                        <?php } ?>
                                                    </div>
                                                    <!--<p class="discount-member"><?php
                                                       // if (!empty($memberShip[0]['discount']) && $cartProduct['product_type_id'] != '2') {
                                                            ?>Enjoy <?php //echo @$memberShip[0]['discount']; ?>% off, by <a class="line-blue" href="/member-benefit">becoming a member</a>!<?php //} ?>
                                                    </p>-->
                                                </div>                              
                                                <div class="price-change">

                                                    <div class="edit-delete">
                                                        <a class="delete delete_cart_product" href="#deletecart" onclick="removefromcart('<?php echo $cartProduct['cart_id'] ?>','<?php echo $cartProduct['product_type_id'] ?>','<?php echo $cartProduct['product_mapping_id'] ?>','<?php echo $cartProduct['type_of_product'] ?>','checkout')"></a> 
                                                        <a class="edit" href="/cart"></a>
                                                    </div>
                                                </div>
                                            </div>

                                        <?php } ?>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="right-section">
                            <?php
                            if (count($cartlist) > 0 && !empty($cartlist)) {
                                $cartItems = count($cartlist);
                            } else {
                                $cartItems = 0;
                            }
                            ?>
                            <h2>ORDER SUMMARY</h2>
                            <div class="item-list">
                                <div class="row">
                                    <span class="left">Items <span class="number red-icon" onClick="showHideProductFinalPage();"><?php echo $cartItems ?></span><span class="text" id="showItemFinal" onClick="showHideProductFinalPage();">Click to view items</span><span class="text" id="hideItemFinal" style="display:none;"  onClick="showHideProductFinalPage();">Click to hide items</span></span>
                                    <span class="right">$<?php echo $itemsTotal['itemtotal'] ?></span>
                                    <ul class="sub-list" id="carlistItemOrder" style="display:none;">
                                        <?php
                                        $subamount = 0;
                                        if ($this->layout()->getVariable('https_on') == 1) {
                                            $path = $upload_file_path['assets_url_https'] . 'product/thumbnail/';
                                        } else {
                                            $path = $upload_file_path['assets_url'] . 'product/thumbnail/';
                                        }                                        
                                        if (count($cartlist) > 0) {
                                            foreach ($cartlist as $cartProduct) {
                                                $subTitle = '';
                                                if ($cartProduct['product_type_id'] == 1) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 2) {
                                                    $productLabel = $cartProduct['product_type'];
                                                } else if ($cartProduct['product_type_id'] == 3) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 4) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_mapping_id'] == 6) {
                                                    if ($cartProduct['item_type'] == '1') {
                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                        if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Name :</strong> ' . $cartProduct['item_name'] . '<br><strong>ID : </strong> ' . $cartProduct['item_id'] . '';
                                                        else
                                                            $subTitle = '' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                    } else if ($cartProduct['item_type'] == '3') {
                                                        //$subTitle = 'Size: ' . $cartProduct['product_option_name'] . '<br>Name ' . $cartProduct['item_name'] . '';
                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '';
                                                        if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Passenger Name :</strong> ' . $cartProduct['item_name'] . '';

                                                        $arrivalDate = 'N/A';
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $subTitle.= "<br><strong>Arrival Date :</strong> " . $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                    }
                                                    else if ($cartProduct['item_type'] == '2') {
                                                        if (!empty($cartProduct['item_name'])) {
                                                            $subTitle = '' . $cartProduct['product_name'] . '<br>' . $cartProduct['item_name'] . '';
                                                        }
                                                        $itemName = '';
                                                        if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                                                            $itemName = $cartProduct['item_name'];
                                                        else
                                                            $itemName = $cartProduct['ship_name'];

                                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                                            $subTitle = '<strong>Image :</strong> ' . $cartProduct['manifest_info'] . '<br>';

                                                        if (!empty($cartProduct['ship_name'])) {
                                                            $subTitle.= '<strong>Ship Name :</strong> ' . $itemName;
                                                        } elseif (!empty($cartProduct['item_name'])) {
                                                            $subTitle.= '<strong>Passenger Name :</strong> ' . $cartProduct['item_name'];
                                                        }
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                        else
                                                            $arrivalDate = 'N/A';
                                                        $subTitle.= "<br><strong>Arrival Date :</strong> " . $arrivalDate;
                                                    }
                                                    else {
                                                        $productLabel = $cartProduct['product_name'];
                                                    }
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 6) {
                                                    $productLabel = $cartProduct['product_name'];

                                                    if (!empty($cartProduct['product_option_name']))
                                                        $productLabel.= '-' . $cartProduct['product_option_name'];
                                                    // . '-' . $cartProduct['product_option_name'];
                                                    if (!empty($cartProduct['woh_name']))
                                                        $productLabel.= '<br><strong>Honoree Name :</strong> ' . $cartProduct['woh_name'];
                                                } else if ($cartProduct['product_type_id'] == 7) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 8) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }

                                                if ($cartProduct['product_mapping_id'] == 5) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }


                                                /* if (!empty($cartProduct['image_name'])) {
                                                  $imgSrc = $path . $cartProduct['image_name'];
                                                  } else {
                                                  $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/no-image-cart.jpg';
                                                  } */
                                                if (!empty($cartProduct['image_name'])) {
                                                    $imgSrc = $path . $cartProduct['image_name'];
                                                } else {

                                                    if ($cartProduct['product_type_id'] == '2') {
                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/donate.jpg';
                                                    } else {

                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/no-image-cart.jpg';
                                                    }
                                                }
                                                if ($cartProduct['product_type_id'] == '4') {
                                                    if ($this->layout()->getVariable('https_on') == 1) {
                                                        $imgSrc = $upload_file_path['assets_url_https'] . 'temp/fof/medium/' . $cartProduct['fof_image'];
                                                    } else {
                                                        $imgSrc = $upload_file_path['assets_url'] . 'temp/fof/medium/' . $cartProduct['fof_image'];
                                                    }
                                                    
                                                }

                                                if ($cartProduct['type_of_product'] == 'membership') {
                                                    $imgSrc = $this->layout()->getVariable('imageFilePath') . "/images/member_card.png";
                                                }




                                                $cartProduct['product_qty'] = !empty($cartProduct['product_qty']) ? $cartProduct['product_qty'] : 1;
                                                $productPrice = $this->Currencyformat($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']);
                                                $totalPrice = ($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']) * $cartProduct['product_qty'];
                                                $subamount = $subamount + $totalPrice;
                                                ?>
                                                <li>
                                                    <div class="img-box"><img src="<?php echo $imgSrc; ?>" width="48" alt=""></div>
                                                    <span class="left"><?php echo $productLabel; ?><?php echo!empty($subTitle) ? '<br>' . $subTitle : ''; ?><br><strong>Qty : </strong> <?php echo $cartProduct['product_qty']; ?></span>
                                                    <span class="right">$<?php echo $this->Currencyformat($totalPrice); ?></span>

                                                </li>
        <?php
    }
}
?>
                                    </ul>   
                                </div>
                                <div class="row">
                                    <span class="left">Discount</span>
                                    <span class="right">(<span class="amount coupondiscount">$<?php echo $transaction_details['coupondiscount'] ?></span>)</span>
                                </div>
                                <div class="row">
                                    <span class="left">Shipping And Handling</span>
                                    <span class="right"><span class="amount shipping">$<?php echo $transaction_details['shipping'] ?></span></span>
                                </div>
                                <div class="row">
                                    <span class="left">Total Before Tax</span>
                                    <span class="right"><span class="amount totalaftershipping">$<?php echo $transaction_details['totalaftershipping'] ?></span></span>
                                </div>
                                <div class="row last">
                                    <span class="left">Estimated Tax</span>
                                    <span class="right"><span class="amount estimatedtax">$<?php echo $transaction_details['estimatedtax'] ?></span></span>
                                </div>
                            </div>
                            <div class="order-total finaltotal" id="total">ORDER TOTAL <span>$<?php echo $transaction_details['finaltotal'] ?></span></div>

							<div class="block">

                                <!-- <div class="place-your-order">
                                     <p> You have saved <span style="font-weight: bold">$<?php echo $this->Currencyformat($membershipDiscountAmount) ?></span> on this order!</p>
                                     </div>-->
                               <!-- <div class="place-your-order">
                                    <p class="center-text">Review the information and then click</p>
                                    <input class="place_order button semibold" id="placeorder" name="placeorder" type="button" value="Place your order">
                                    <div id="placeOrderProcessingDiv" style="display:none;"><img src ="images/loading.gif"><br>Processing please wait...</div>

                                    <div class="content">
                                        <label class="error_msg error credit_card_error"  style="display:none;"></label>
                                    </div>
                                </div>-->
								
						<div>
						<form name="transaction_zipcode" id="transaction_zipcode" method="post" action="/pos-place-order">
						<div class="transaction-zipcode">
							    <div id="creditcard_div">
									        <div class="detail-section">
									            <h3>Please enter your billing ZIP or Postal Code</h3>									           
									                <div class="row center">
									                    <input type="text" name="zipcode" class="billing" id="zipcode" value="" placeholder="Billing Zip or Postal Code*">
									                </div>									            
									            <div class="row">
									                 <input type="submit" value="Confirm & Pay" id="creditcard_confirm" name="creditcard_confirm" class="button semibold" />
									                 <div id="processingMessage" style="display:none;"><img src="../images/loading.gif"><br>Processing please wait...</div>		
							                        <div id="confirmMessage" class="error-icon top" style="display:none;"></div>		
									            </div>
									           
									        </div>	        
						        </div>
						</div>
						</form>
                        <!--<iframe id="swap_card" src="/pay-pos-transaction" width="700px;" height="400px;">
                        </iframe>-->
                    </div>
								
								
                            </div>
<?php
if (empty($postdata['pick_up']) && $totalProducts != $isInventory) {
    ?>
                                <div class="shipping-method" style="visibility:hidden; display:none">


                                    <h3>shipping methods</h3>
                                    <div class="ship_method_class" id="order_review_ship">

                                    </div>

                                </div>
<?php } ?>                            

                            
                        </div>
						</div>
						</div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>            
    </div>    
<?php
$script = <<<EOD
$(".place_order").click(function(){
        //showAjxLoader();
        
	if($('#pick_up').is(':checked') == true)
		var isPickUp = 1;
	else	
		var isPickUp = 0;  
		        
		if($('#cash_payment').is(':checked') == true)
			var isCashPayment = 1;
		if($('#credit_payment').is(':checked') == true)	
			var isCashPayment = 0; 		        
		        
        $("#placeorder").hide();
        $("#placeOrderProcessingDiv").show();        
        var couponcode = $("#couponcode").val();
        var dataStr = $('#secondstep').serialize()+'&'+$('#checkout_form').serialize()+'&'+$('#credit_card').serialize()+"&shipcode="+$("#checkout_form [name='shipping_zip_code']").val()+'&shipping_company=&shipping_address='+$("#checkout_form [name='shipping_address_1']").val()+'&shipping_country_text='+ $("#checkout_form [name='shipping_country'] option:selected").text()+'&billing_country_text='+$("#billing_country option:selected").text()+"&couponcode="+couponcode+"&pick_up="+isPickUp+"&cash_payment="+isCashPayment;       
        $.ajax({
            type: "POST",
            url: '/place-order',
            data: dataStr,
            beforeSend:function(){
                authenticateUserBeforeAjax();
            },
            success: function(responseData){
                //hideAjxLoader();
                $("#placeorder").show();
	            $("#placeOrderProcessingDiv").hide();   
                                 
                if(responseData == 'session_expired')
                {
                    authenticateUserBeforeAjax();
                }
                try
                {
                    var jsonObj =  jQuery.parseJSON(responseData);
                   
                    if(jsonObj.status == 'credit_card_error')
                    {
		                $("#maincheckout").show();
		                
		                $("#step1div").hide();
                        $("#step2div").show();
		                $("#orderreview").hide();
		                $(".third,.fourth").removeClass('active');
                        $(".second").addClass('active');
                        $("#credit_card_error").show();
		                $("#credit_card_error").html(jsonObj.message['0']).show();
		                $('html, body').animate({ scrollTop: $(".cms-outer-bg").offset().top}, 2000);
                    }
                    else if(jsonObj.status == 'shipping_error')
                    {
                        $.each(jsonObj.message, function (i, msg) {
                            $("#shipping_address_error").append(msg).show();
                        });

                        $("#step1div").show();
		                $("#orderreview").hide();
		                $(".third,.fourth").removeClass('active');
                        $(".first").addClass('active');
                        $("#shipping_address_error").show();
		                $('html, body').animate({ scrollTop: $(".cms-outer-bg").offset().top}, 2000);						
						
                    }
                    else if(jsonObj.status == 'error')
                    {
                        var messagestr = '';
                        $.each(jsonObj.info, function(i) {
                            var pid = i;
                            var message = this.message+"<br>";
                            messagestr +=message;
                        });
                        $(".credit_card_error").html(messagestr).show();
		                
                    }
                   else if(jsonObj.status == 'payment_error')
                   {
		                $("#maincheckout").show();
		                $("#step1div").hide();
                        $("#step2div").show();
		                $("#orderreview").hide();
		                $(".third,.fourth").removeClass('active');
                        $(".second").addClass('active');
                        $("#credit_card_error").show();
		                $("#credit_card_error").html(jsonObj.message).show();
		                $('html, body').animate({ scrollTop: $(".cms-outer-bg").offset().top}, 2000);                   
                   }
                   else if(jsonObj.status == 'quantity_error') {
                        $("#maincheckout").hide();
		                
                        $("#step3div").hide();
		                $("#orderreview").show();
		                //$(".third,.fourth").removeClass('active');
                        //$(".second").addClass('active');
                        $("#quantity_error_msg").show();
		                $("#quantity_error_msg").html(jsonObj.message).show();
		                $('html, body').animate({ scrollTop: $("#quantity_error_msg").offset().top}, 2000);   
                   }                   
                    else
                    {
					//alert("else");
                        showCartProducts();
                        $("#maincheckout").hide().html('')
						if(isBookingKiosk == 1 || isBookingKiosk =='1')
						addReservationContact();
                        $("#orderreview").html(responseData).show();
						
                        //ga('require', 'displayfeatures');
                        //ga('send', 'pageview',{'page': '/checkout-thank-you','title': 'Checkout Submit Order'});
                    }
                }
                catch(e)
                {
					if(isBookingKiosk == 1 || isBookingKiosk =='1')
					addReservationContact();
						
                    showCartProducts();
                    $("#maincheckout").hide().html('')
                    $("#orderreview").html(responseData).show()
                }

            }
        });
    });
    jQuery.validator.addMethod("floating", function(value, element) {
        return this.optional(element) || /^-?\d*(\.\d{1,2})?$/.test(value);
    },'Please enter valid value.');
	$(document).ready(function() { 
		setTimeout("addStick()","1000");
    
    jQuery.validator.addMethod("zipcodevalidation", function(value, element) {
        return this.optional(element) || /^[a-z0-9- ]+$/i.test(value);
    }, "Please enter valid Billing Zip or Postal Code");
		
		
		var validator=$("#transaction_zipcode").validate({
            rules:{
                zipcode:{
                    required:true,
                    zipcodevalidation:true,
                    maxlength:12,
                    minlength:4
                }

            },
            messages:{
                zipcode:{
                    required:'Please enter valid Billing Zip or Postal Code'
                },

            }
        }) 
        $('#creditcard_confirm').click(function () {
		        if ($('#transaction_zipcode').valid()) {
		            $('#processingMessage').show();
		            $('#creditcard_confirm').hide();
		        }
        });
        
		
	});
	function addStick(){ 
			$(".second").removeClass('active');
			var s = $("#contentAreaOrder");
				if(s.position() != undefined) {	
					var pos = s.position();    
					$(window).scroll(function() {
						var windowpos = $(window).scrollTop();
						if (windowpos >= pos.top) {
							s.addClass("stick");
						} else {
							s.removeClass("stick"); 
						}
					});
				}  
			}
			
		function addReservationContact(){
           $.ajax({
        type:"POST",
        url:"/add-reservation-contact",
        data:{},
        beforeSend:function(){
            showAjxLoader()
        },
	success:function(responseData){
            hideAjxLoader();
            var jsonObj=jQuery.parseJSON(responseData);
            $("label.error").remove();
            if(jsonObj.status=="success"){
                //alert("success"); 
                deleteCartProduct();
            }else{
		return false;
            }
        },
	error:function(){
            //alert("error");
	},
    })
}
   function deleteCartProduct(){
         $.ajax({
        type:"POST",
        url:"/delete-kart-product-kiosk",
        data:{},
        beforeSend:function(){
            showAjxLoader()
        },
	success:function(responseData){
            hideAjxLoader();
            var jsonObj=jQuery.parseJSON(responseData);
            $("label.error").remove();
            if(jsonObj.status=="success"){
                //alert("success"); 
                
            }else{
		return false;
            }
        },
	error:function(){
			console.log("error");
	},
    })

}
EOD;
echo $this->inlineScript()->prependScript($script)
        ->prependScript($var);
?>


<script>
$(function(){
	$('.scroll-pane').jScrollPane();
});
</script>



                