<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var userId = "' . $userId . '";';
$var .= 'var totalproduct = "' . $itemsTotal['totalproduct'] . '";';
$var .= 'var isInventory = "' . $itemsTotal['isInventory'] . '";';
$var .= 'var couponCode = "' . $couponCode . '";';
$var .= 'var payment_status = "' . $payment_status . '";';

echo $this->inlineScript()->prependScript($var);

$isPickUpFlag = 1;
foreach($cartlist as $key=>$val) {
	if($val['is_pickup'] == 0) {
		$isPickUpFlag = 0;
	}
}

?>
<style>
.checkOut-page{min-height:100px;}
.checkOut-page .main-inner-section{margin-top:5px;}
.checkOut-page .tab-nav ul li{padding:5px 0;}
.checkOut-page .left-section .shipping-section{padding-top:10px;}
.checkOut-page .left-section .shipping-section .row{padding-bottom:10px!important;}
.checkOut-page .left-section .top-row.border-none{margin-bottom:5px;}
.ship-method-radio{padding:10px 0;} 
.checkOut-page .left-section .top-row{padding-bottom:5px;}
.checkOut-page .right-section h2{padding: 7px 0 5px 20px;}
.checkOut-page .right-section .order-total{padding:10px 20px 7px;}
#shipping_zip_code{width:100px;}
.width-100{width:137px!important;}
.checkOut-page .left-section .shipping-section .m-r-20{margin-right:16px!important;}
.checkOut-page .item-section h3{margin-top:10px;}
label.error{font-size:13px!important;}
.checkOut-page .left-section .shipping-section label{pardding-bottom:3px;}
.checkOut-page .left-section .shipping-section input[type="text"], .checkOut-page .left-section .shipping-section input[type="password"]{padding:6px 10px;}
.checkOut-page .left-section .shipping-section select{padding:6px 10px;}
.checkOut-page .order-review .top-detail-row{padding:10px 0!important;}
.checkOut-page .item-section .record-wrapper, .checkOut-page .item-section .record-wrapper:hover{padding:10px 0;}
.checkOut-page .item-section .record-wrapper .right-detail .top-row{padding-bottom:7px;}

.checkOut-page .order-review .top-detail-row h3{padding-bottom:5px; margin-bottom:5px;}
.checkOut-page .left-section .top-row p.shiMethMsg{font-size:15px; margin-top:0!important}
.checkOut-page .left-section .shipping-section .example{margin-right:30px;}
.checkOut-page .left-section .top-row p.shiMethMsg br{display:none;}
.no-mar{margin:0px!important;}
</style>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.creditCardValidator.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<div id="maincheckout">

    <div class="inner-header"><a name="userAddress"></a>
        <h1><?php echo $translator['CHECKOUT']; ?> - <span class="navigator"></span> <span class="steptext"><?php echo $translator['SHIPPING_INFORMATION']; ?></h1>
    </div>
    <div class="cms-outer-bg" id="contentArea">
        <div class="cms-inner-bg">
            <div class="container">
			<div class="pos-checkout-min">
                <div class="checkOut-page">

                    <?php
                    //asd($itemsTotal);
                    $totalProducts = $itemsTotal['totalproduct'];
                    $isInventory = $itemsTotal['isInventory'];
                    $application_source_id = $itemsTotal['application_source_id'];
                    ?>


                    <div class="tab-nav">
                        <ul>
                            <li class="first width-50 active"><small><?php echo $translator['SHIPPING_INFO']; ?></small></li>

                            <li class="fourth width-50"><small>Payment & Confirmation</small></li>
                        </ul>
                    </div>

                    <div style="display: block;" class="main-inner-section">                    
                        <div class="left-section"><div class="success_message full" id="saveAddressConfirmationMsg" style="display:none;"></div>
                            <?php
                            if ($totalProducts != $isInventory && $is_pick_up!='1') {
                                ?>
                                
                                <div id="step1div">								
                                    <label id="shipping_address_error" class="error"></label>
                                    <div class="content">
                                        <?php
                                        $form = $this->createTransactionForm;
                                        $form->setAttribute('name', 'addNewShippingFrm');
                                        $form->prepare();
                                        echo $this->form()->openTag($form);
                                        echo $this->formRow($form->get('user_id'));
                                        echo $this->formRow($form->get('check-shipping'));
                                        ?>
                                        <input type="hidden" name="addressinfo_location" id="addressinfo_location" value="3">
                                        <input type="hidden" name="shipping_address_information_id" id="shipping_address_information_id" value="">
										<?php
											if($payment_status == 'payment_error') {
										?>				
												<h1 class="error">Unable to process your transaction, Please swipe your card again.</h1>
										<?php
											}
										?>
                                        <div class="head no-mar">
                                            <div class="">
                                                <h2 class="pickup">Shipping Address </h2> 
                                            </div>
                                            <div class="field-section address-file shipping-add-checkbox top-row">
												
											
										<div class="cart-custom-radio">
											<div>
												<input type="radio" name="is_apo_po_record" id="is_apo_po_record_0" class="e3 is_apo_po_record" onchange="changeApoPo(this.value)" value="1" checked="checked"><label for="is_apo_po_record_0">Residential/Corporate</label>
											</div>
											<div>
												<input type="radio" name="is_apo_po_record" id="is_apo_po_record_1" class="e3 is_apo_po_record" onchange="changeApoPo(this.value)" value="2">
												<label for="is_apo_po_record_1">PO</label>
											</div>
											<div>
												<input type="radio" name="is_apo_po_record" id="is_apo_po_record_2" class="e3 is_apo_po_record" onchange="changeApoPo(this.value)" value="3">
												<label for="is_apo_po_record_2">APO</label>
											</div>
										</div>
											
																																	
											<?php //echo $this->formRow($form->get('is_apo_po_record')); ?>
											
											</div>
                                        </div>

                                        <!-- add new shipping address -->    

                                        <div id="new_shipping_address_div">
                                            <div id="shipping_new_address">
                                                <input type="hidden" name="is_apo_po_new" id="is_apo_po_new" value="1">

                                                <div class="shipping-section">
                                                <div class="row">
                                                
                                                            <div class="col1">
                                                                <label><?php echo $translator['L_TITLE']; ?>:</label>
                                                                <div class="checkOut"><?php echo $this->formRow($form->get('shipping_title')); ?></div>
                                                            </div>
                                                           
                                                        
														<div class="col1">
                                                            <label><?php
				                                                    
				                                                        echo $translator['L_FIRST_NAME'];
				                                                    
                                                            ?>:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_first_name')); ?>
                                                        </div>
                                                        
                                                        <!--<div class="col1">
                                                            <label>Middle Name:<span></span></label>
                                                            <?php //echo $this->formRow($form->get('shipping_middle_name')); ?>
                                                        </div>-->                                                        
                                                        <div class="col1">
                                                            <label><?php
		                                                        
		                                                            echo $translator['L_LAST_NAME'];
		                                                        
                                                            ?>:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_last_name')); ?>
                                                        </div>                                                        
                                                        
                                                </div>
                                                    <div class="row">
                                                        <div class="col2">
                                                            <label>address 1:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_address_1')); ?>
                                                        </div>
                                                        <div class="col2">
                                                            <label>address 2:</label>
                                                            <?php echo $this->formRow($form->get('shipping_address_2')); ?>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col1">
                                                            <label>country:<span>*</span></label>
                                                            <div id="country_block" ><?php echo $this->formRow($form->get('shipping_country')); ?></div>
                                                            <div id="apo_po_country_block"  style="display: none;" ><?php echo $this->formRow($form->get('apo_po_shipping_country')); ?></div>

                                                        </div>
                                                        <div class="col1">

                                                            <label>state:<span>*</span></label>
                                                            <div id="shipping_select_state_block">	
                                                                <div id="other_state_shipping"  style="display: none;" ><?php echo $this->formRow($form->get('shipping_state')); ?></div>
                                                                <div id="usa_state_shipping"><?php echo $this->formRow($form->get('shipping_state_id')); ?></div>

                                                            </div>    
                                                            <div id="shipping_apo_po_state_block" style="display: none;"><?php echo $this->formRow($form->get('apo_po_state')); ?></div>
                                                        </div>

                                                        <div class="col1">
                                                            <label>city:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_city')); ?>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col1 width-100">
                                                            <label>postal:<span>*</span></label>
                                                            <?php echo $this->formRow($form->get('shipping_zip_code')); ?>
                                                        </div>
                                                        <div class="col-p-no">

                                                            <label>Phone Number:<?php echo $this->formRow($form->get('shipping_phone_info_id')); ?><span>*</span></label>
                                                            <div class="phone-box m-r-20"><?php echo $this->formRow($form->get('shipping_country_code')); ?> <span>Country Code</span></div>
                                                            <div class="phone-box"><?php echo $this->formRow($form->get('shipping_area_code')); ?><span>Area Code</span></div>
                                                            <div class="phone-box"><?php echo $this->formRow($form->get('shipping_phone')); ?><span>Phone Number</span></div>


                                                        </div>
                                                        <div class="example ">ex. 1-212-8883333</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col2">
                                                            <label>Email:</label>
                                                            <?php echo $this->formRow($form->get('email_id')); ?>
															<div class="email-msg">(We will email you the order confirmation)</div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!--<label>Save / Update Address on file: <?php //echo $this->formRow($form->get('save_shipping_address')); ?></label>
                                                    <?php //echo $this->formRow($form->get('shipping_location_type'));  ?>-->
                                                    
												<input id="free_shipping" type="hidden" value="false" name="free_shipping">
												<input id="ship_method_error" type="hidden" value="0" name="ship_method_error">
                                                </div>
                                            </div>
                                        </div>
										<div id="step1_content">        
                                            <?php

                                            $isWOHProduct = 0;
                                            if (count($cartlist) > 0) {
                                            foreach ($cartlist as $cartProduct) {
                                                if ($cartProduct['product_type_id'] == 6) { // WOH
                                                    $isWOHProduct = 1;
                                                }
                                                }
                                            }
                                            ?>        
                                             <div class="head no-mar" id="ship_method_radio" style="display:none;">
                                                <div class="top-row border-none mar-btm-10">
                                                    <h2>shipping method</h2>	
													
													<div class="ship-method-radio">
                                                    <div id="ship_method_id" class="ship_method_class radio-row">
																								
                                                        <?php echo $this->formRow($form->get('shipping_method')); ?>

                                                    </div>
                                                    <label class="error" id="shipping_method_error_msg"></label>
                                                    <p class="shiMethMsg"><strong>Note:</strong> International days are not guaranteed. Custom frame will take approx. 14 days to ship.
                                                    <?php
                                                        if($isWOHProduct == 1){
                                                            echo "Wall of Honor Products will not be shipped until reviewed and can not be sent overnight.";
                                                            }
                                                    ?>
                                                    <a href="<?php echo SITE_URL; ?>/online-store-terms#shipping"><br>Shipping terms</a>
													If you are experiencing an issue placing the order, please contact <strong>212-561-4588</strong></p>
													</div>
													
                                                </div>
                                                		                                            
                                            </div> 
                                            <div id="processingDivSave" style="display:none;"><img src ="../images/loading.gif"><br>Processing please wait...</div>     		
                                            <!-- Old existing addresses-->
                                        </div>  
                                        <input type="submit" value="Continue" class="button semibold green" id="save_new_shipping_address" name="save_new_shipping_address">
                                        <div id="processingAddNewAddressDiv" style="display:none;"><img src ="../images/loading.gif"><br>Processing please wait...</div>                                      
                                        
                                        <!-- end add new shipping address -->  
                                        </form>                                             
                                        

                                    </div>
                                    
                                   
                                </div>
                                <!--<span id="continue_step_1_span" class="m-t-15 left full"><?php //echo $this->formRow($form->get('step1')); ?></span>-->
                                 <?php echo $this->form()->closeTag(); ?>
                            <?php } ?>
                            
						</div>

                        <div class="right-section">
                            <?php
                            if (count($cartlist) > 0 && !empty($cartlist)) {
                                $cartItems = count($cartlist);
                            } else {
                                $cartItems = 0;
                            }
                            ?>
                            <h2>ORDER SUMMARY</h2>
                            <div class="item-list">
                                <div class="row">
                                    <span class="left">Items <span class="number" onClick="showHideProduct();"><?php echo $cartItems ?></span></span>
                                    <span class="right">$<?php echo $itemsTotal['itemtotal'] ?></span>
                                    <ul class="sub-list" id="carlistItem" style="display:none;">
                                        <?php
                                        $subamount = 0;
                                        if ($this->layout()->getVariable('https_on') == 1) {
                                            $path = $this->upload_file_path['assets_url_https'] . 'product/thumbnail/';
                                        } else {
                                            $path = $this->upload_file_path['assets_url'] . 'product/thumbnail/';
                                        }
                                        $isCustomProductAdded = '';
                                        if (count($cartlist) > 0) {
                                            foreach ($cartlist as $cartProduct) {
                                                if ($cartProduct['category_id'] == 2) { // custom frame category
                                                    $isCustomProductAdded = 'yes';
                                                }
                                                $subTitle = '';
                                                if ($cartProduct['product_type_id'] == 1) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 2) {
                                                    $productLabel = $cartProduct['product_type'];
                                                } else if ($cartProduct['product_type_id'] == 3) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 4) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_mapping_id'] == 6) {
                                                    if ($cartProduct['item_type'] == '1') {

                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                        else if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Name :</strong> ' . $cartProduct['item_name'] . '<br><strong>ID :</strong> ' . $cartProduct['item_id'] . '';
                                                        else
                                                            $subTitle = '' . $cartProduct['item_name'] . '<br>' . $cartProduct['item_id'] . '';
                                                    } else if ($cartProduct['item_type'] == '3') {

                                                        if ($cartProduct['product_name'] == 'Ship Image')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Ship Name :</strong> ' . $cartProduct['item_name'] . '';
                                                        if ($cartProduct['product_name'] == 'Passenger Record')
                                                            $subTitle = '<strong>Size :</strong> ' . $cartProduct['product_option_name'] . '<br><strong>Passenger Name :</strong> ' . $cartProduct['item_name'] . '';



                                                        $arrivalDate = 'N/A';
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $subTitle.= "<br><strong>Arrival Date :</strong> " . $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                    }
                                                    else if ($cartProduct['item_type'] == '2') {
                                                        if (!empty($cartProduct['item_name'])) {
                                                            $subTitle = '' . $cartProduct['product_name'] . '<br>' . $cartProduct['item_name'] . '';
                                                        }
                                                        $itemName = '';
                                                        if (isset($cartProduct['item_name']) && !empty($cartProduct['item_name']))
                                                            $itemName = $cartProduct['item_name'];
                                                        else
                                                            $itemName = $cartProduct['ship_name'];

                                                        if (isset($cartProduct['manifest_info']) && !empty($cartProduct['manifest_info']))
                                                            $subTitle = '<strong>Image :</strong> ' . $cartProduct['manifest_info'] . '<br>';

                                                        if (!empty($cartProduct['ship_name'])) {
                                                            $subTitle.= '' . '<strong>Ship Name :</strong> ' . $itemName;
                                                        } elseif (!empty($cartProduct['item_name'])) {
                                                            $subTitle.= '<strong>Passenger Name :</strong> ' . $cartProduct['item_name'];
                                                        }
                                                        if (!empty($cartProduct['item_info']) && $cartProduct['item_info'] != '0000-00-00')
                                                            $arrivalDate = $this->Dateformatalpha($cartProduct['item_info'], 'calender');
                                                        else
                                                            $arrivalDate = 'N/A';
                                                        $subTitle.= "<br><strong>Arrival Date :</strong> " . $arrivalDate;
                                                    }
                                                    else {
                                                        $productLabel = $cartProduct['product_name'];
                                                    }
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 6) {
                                                    $productLabel = $cartProduct['product_name'];
                                                    if (!empty($cartProduct['product_option_name']))
                                                        $productLabel .= ' - ' . $cartProduct['product_option_name'];


                                                    if (!empty($cartProduct['woh_name']))
                                                        $productLabel.= '<br><strong>Honoree Name :</strong> ' . $cartProduct['woh_name'];
                                                } else if ($cartProduct['product_type_id'] == 7) {
                                                    $productLabel = $cartProduct['product_name'];
                                                } else if ($cartProduct['product_type_id'] == 8) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }

                                                if ($cartProduct['product_mapping_id'] == 5) {
                                                    $productLabel = $cartProduct['product_name'];
                                                }

                                                /*
                                                  if (!empty($cartProduct['image_name'])) {
                                                  $imgSrc = $path . $cartProduct['image_name'];
                                                  } else {
                                                  $imgSrc = $this->layout()->getVariable('imageFilePath').'/images/no-image-cart.jpg';
                                                  } */
                                                if (!empty($cartProduct['image_name'])) {
                                                    $imgSrc = $path . $cartProduct['image_name'];
                                                } else {

                                                    if ($cartProduct['product_type_id'] == '2') {
                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/donate.jpg';
                                                    } else {

                                                        $imgSrc = $this->layout()->getVariable('imageFilePath') . '/images/no-image-cart.jpg';
                                                    }
                                                }
                                                if ($cartProduct['product_type_id'] == '4') {
                                                    $imgSrc = $upload_file_path['assets_url'] . 'temp/fof/medium/' . $cartProduct['fof_image'];
                                                }

                                                if ($cartProduct['type_of_product'] == 'membership') {
                                                    $imgSrc = $this->layout()->getVariable('imageFilePath') . "/images/member_card.png";
                                                }

                                                $cartProduct['product_qty'] = !empty($cartProduct['product_qty']) ? $cartProduct['product_qty'] : 1;
                                                $productPrice = $this->Currencyformat($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']);
                                                //$totalPrice = ($cartProduct['product_amount'] - $cartProduct['membership_indi_discount']) * $cartProduct['product_qty'];
                                                $totalPrice = ($cartProduct['product_subtotal'] - $cartProduct['membership_discount']);
                                                
                                                $subamount = $subamount + $totalPrice;
                                                ?>
                                                <li>
                                                    <div class="img-box"><img src="<?php echo $imgSrc; ?>" width="48" alt=""></div>
                                                    <span class="left"><?php echo $productLabel; ?><?php echo!empty($subTitle) ? '<br>' . $subTitle : ''; ?><br><strong>Qty :</strong> <?php echo $cartProduct['product_qty']; ?></span>
                                                    <span class="right">$<?php echo $this->Currencyformat($totalPrice); ?></span>

                                                </li>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </ul>   
                                </div>
                                <div class="row">
                                    <span class="left">Discount</span>
                                    <span class="right">(<span class="amount coupondiscount">$<?php echo $itemsTotal['coupondiscount'] ?></span>)</span>
                                </div>
                                <div class="row">
                                    <span class="left">Shipping And Handling</span>
                                    <span class="right"><span class="amount shipping">$<?php echo $itemsTotal['shipping'] ?></span></span>
                                </div>
                                <div class="row">
                                    <span class="left">Total Before Tax</span>
                                    <span class="right"><span class="amount totalaftershipping">$<?php echo $itemsTotal['totalaftershipping'] ?></span></span>
                                </div>
                                <div class="row last">
                                    <span class="left">Estimated Tax</span>
                                    <span class="right"><span class="amount estimatedtax">$<?php echo $itemsTotal['estimatedtax'] ?></span></span>
                                </div>
                            </div>
                            <div class="order-total finaltotal" id="total">ORDER TOTAL <span>$<?php echo $itemsTotal['finaltotal'] ?></span></div>
                            <div class="discount-coupon" style="display:none">
                                <input style="width: 56%; margin-right: 20px" type="hidden" id="couponcode" name="couponcode" placeholder="Enter Promo code">
                            </div>    
                            <!--<div class="discount-coupon">
                                <label>Promotional Code</label>
                                <input style="width: 56%; margin-right: 20px" type="text" id="couponcode" name="couponcode" placeholder="Enter Promo code">
                                <input type="hidden" id="isCustomProductAdded" name="isCustomProductAdded" value="<?php //echo $isCustomProductAdded ?>" >
								<input type="hidden" name="is_promotion_applied" id="is_promotion_applied" value="">
                                <span id="applycouponcodeDiv"><input class="button green" type="button" name="applycouponcode" id="applycouponcode" value="APPLY" onclick="applycouponcode()"></span>
                                <span id="applycouponcodeProcessing" style="display:none;"><img src ="images/loading.gif"></span>
                                <label for="applycouponcode" id="" style="display:none" generated="true" class="error applycouponcodeerror"></label>
								<span id="ship_to_add_option_error_coupon"></span>
                            </div>-->
                        </div>

                        <div class="steps alpha">
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
    </div>
</div>
</div></div></div>
<div id="orderreview" style="display:block;" >

</div>
<div style='display:none'>
    <div id='delete_address' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this address?</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Yes" name="yes" id="yes_delete_address" class="button semibold">
                <input type="button" value="No" name="no" id="no_delete_address" class="button semibold">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_address_confirmation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Address has been saved successfully.</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Close" name="yes" id="yes_close" class="button semibold" onClick="javascript:$('#cboxClose').click();">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='add_card_confirmation' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Credit card informtion is saved successfully.</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Close" name="yes" id="yes_close" class="button semibold" onClick="javascript:$('#cboxClose').click();">
            </div>    
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_credit_card' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this credit card?</h2>
        <div class="button-row" style="width:150px !important">
            <div class="right">
                <input type="button" value="Yes" name="yes" id="yes_delete_card" class="button semibold">
                <input type="button" value="No" name="no" id="no_delete_card" class="button semibold">
            </div>    
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    
        
        if(couponCode) {    
            if(couponCode != 0){
                var couponcode=$("#couponcode").val(couponCode);
                applycouponcode();
            }
        }
        if('<?php echo ($totalProducts == $isInventory) ?>'){
             //ga('require', 'displayfeatures');
             //ga('send', 'pageview',{'page': '/checkout-billing-info','title': 'Checkout Billing Information'})
        }
        
    });
</script>