<?php
/**
 * This file is used for get donation add to cart detail
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

?>

<a name="userAddress"></a>
    <div class="inner-header">
        <h1>CHECKOUT <span class="navigator"></span> order review</h1>
    </div>
	<div class="min-height-766">
	<div class="checkOut-page">
	<div class="submit-order-main" style="min-height:100px!important">     
            <div class="container">
			
                    <h1>YOUR ORDER HAS BEEN PLACED SUCCESSFULLY! THANK YOU!</h1>
					
					<h4>A receipt of this transaction has been emailed to you.</h4>
						
							    <div id="creditcard_div">
									        <div class="detail-section-confirmation">
									                <?php
													if(!empty($is_email) && $is_email == 'yes') {
													?>
									                    <p>
														You can check your order status by logging into your account on <a><?php echo LIVE_SITE_URL ?>/profile</a>. <br>Check transaction option under your profile to review the status of your order.
			                                            </p>
			                                        <?php
			                                        }
			                                        else {
			                                        ?>
			                                            <p>Your transaction# is <?php echo $transaction_id?>.<br> 
															Please contact at customer service desk for more information.  
			                                            </p>
			                                        <?php
			                                        }
			                                        ?>    
							   
							</div>	        
						</div>
						<div class="gonextbtn m-t-25"><a href="<?php echo SITE_URL ?>/"><input type="button" id="" value="Return Home" class="blue-btn" /></a>
		            </div>	
						
					</div>
				</div>			
			</div>		
		</div>
</div>	
</div>