<?php
/**
 * This view is used to add more pasenger
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$index = $totalDonations + 1;

$script = <<<EOD
$(document).ready(function() {
        $("select.e1").select2();
    });
	$(function() {
        $('input').customInput();
    });
    addautofill("$index");
EOD;

echo $this->inlineScript()->prependScript($script);

$form = $this->add_more_donations;
?>
<div class="row" id="person_in_database_block_<?php echo $index; ?>">
    <div class="col3 rel-auto-error">       
        <?php echo $this->formRow($form->get('contact_name[]')->setAttribute('id', 'contact_name_' . $index)); ?>
        <?php echo $this->formRow($form->get('contact_name_id[]')->setAttribute('id', 'contact_name_id_' . $index)); ?>
    </div>
    <div class="col3 rel-auto-error">       
        <?php echo $this->formRow($form->get('campaign[]')->setAttribute('id', 'campaign_' . $index)); ?>
        <?php echo $this->formRow($form->get('campaign_id[]')->setAttribute('id', 'campaign_id_' . $index)); ?>
    </div>
    <div class="col3 rel-auto-error">      
        <?php echo $this->formRow($form->get('payment_mode_id[]')->setAttribute('id', 'payment_mode_id_' . $index)); ?>
    </div>
    <div class="col3 rel-auto-error">      
        <?php echo $this->formRow($form->get('check_number[]')->setAttribute('id', 'check_number_' . $index)); ?>
    </div>	
    <div class="col3 rel-auto-error">      
        <?php echo $this->formRow($form->get('amount[]')->setAttribute('id', 'amount_' . $index)); ?>
    </div>
    <div class="col2 rel-auto-error">      
        <?php echo $this->formRow($form->get('company_name[]')->setAttribute('id', 'company_name_' . $index)); ?>
		<a href="javascript:void(0);" class="plus m-l-5"  onclick="addMoreManualEntries(this);" id="addMoreManualEntries"></a>
        <a class="minus m-l-5" href="javascript:void(0);" onclick="deleteMoreMnaualEntries(this,<?php echo $index; ?>)"></a>      
    </div>
</div>

