<?php
/**
 * This file is used for create batch
 * @package    Transaction
 * @author     Icreon Tech - SK
 */
$translator = $this->jsLangTranslate;
$this->inlineScript()->captureStart();
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate($val) . '";';
}
$this->inlineScript()->captureEnd();
?>
<script><?php echo $var;?></script>
<script type="text/javascript">
	$(document).ready(function() {
        $('.accordion-detail .head:first').addClass('active');
        $('.detail-section').eq(0).show();
        $('.detail-section:not(:first)').hide();
        $('.accordion-detail .head').click(function() {
            $(this).next('.detail-section').slideToggle('fast').siblings('.detail-section:visible').slideUp('fast');
            $(this).toggleClass('active');
            $(this).siblings('.head').removeClass('active');
        });
    });
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/transaction/create.bulkdonation.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts ship-basic-info">
    <h2>Add Donations</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>    
    <?php
    if (!empty($this->messages)) {
        echo '<div id="success_message" class="success-msg">';
        foreach ($this->messages as $message) {
            echo "<div>" . $message . '</div>';
        }
        echo '</div>';
    }
    ?>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="accordion-detail">
		<div class="head"><span>Manual Entries</span></div>
        <div class="detail-section">
			<div id="success_message" class="success-msg m-b-20" style="display:none;"><div></div></div>
            <div class="common-form">
				<div class="row">
					<div class="col1">
						<label>Batch ID<span class="red">*</span></label>
						<?php echo $this->formRow($form->get('batch_id')->setAttribute('id','batch_id')->setAttribute('class','search-icon width-295 search-icon-bg')); ?>
						<?php echo $this->formRow($form->get('payment_batch_id[]')->setAttribute('id','payment_batch_id')); ?>
					</div>
					<div class="col1">
                       <label class="m-l-20 auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt('batch_id');?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                    </div>
				</div>                
                <div id="person_in_database_div">
                    <div class="row no-padd">
                        <div class="col3"><label>Contact</label></div>
                        <div class="col3"><label>Campaign Code</label></div>
                        <div class="col3"> <label>Payment Mode</label></div>
                        <div class="col3"><label >Check #</label></div>
                        <div class="col3"> <label>Amount</label></div>
			<div class="col2"> <label>Company Name</label></div>
                        <input type="hidden" name="totalcount" id="totalcount" value="1">
                    </div>
                    <div class="row associate-people" id="person_in_database_block_1">
                        <div class="col3 rel-auto-error">

                            <?php echo $this->formRow($form->get('contact_name[]')); ?>
                            <?php echo $this->formRow($form->get('contact_name_id[]')); ?>
                        </div>
                        <div class="col3 rel-auto-error">

                            <?php echo $this->formRow($form->get('campaign[]')); ?>
                            <?php echo $this->formRow($form->get('campaign_id[]')); ?>
                        </div>
                        <div class="col3 rel-auto-error">

                            <?php echo $this->formRow($form->get('payment_mode_id[]')); ?>
                        </div>
                        <div class="col3 rel-auto-error">
                            <?php echo $this->formRow($form->get('check_number[]')); ?>
                        </div>
						<div class="col3 rel-auto-error">
                            <?php echo $this->formRow($form->get('amount[]')); ?>
                        </div>
                        <div class="col2 rel-auto-error">                           
                            <?php echo $this->formRow($form->get('company_name[]')); ?>
                            <a href="javascript:void(0);" class="plus m-l-5"  onclick="addMoreManualEntries(this);" id="addMoreManualEntries"></a>
                        </div>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col5 right text-bold no-padd">
                        <h4><strong>Total $</strong><span id="total_amount">0</span></h4>

                    </div>
                </div>
            </div>
            <div class="common-form p-b-30 p-t-10">
                <?php echo $this->formRow($form->get('uploadbutton')); ?>
				<?php echo $this->formRow($form->get('submitandlock')); ?>
            </div>
        </div>
        <div class="head"><span>Import File</span></div>
        <div class="detail-section">
            <div class="common-form">
				<div class="row">
					<div class="col1">
						<label>Batch ID:<span class="red">*</span></label>
						<?php echo $this->formRow($form->get('batch_id')->setAttribute('id','batch_id_upload')); ?>
						<?php echo $this->formRow($form->get('payment_batch_id[]')->setAttribute('id','payment_batch_id_upload')); ?>
					</div>					
					<div class="col1">
                       <label class="m-l-20 auto"> <a href="javascript:void(0);" class="link" onClick="searchBatchId('<?php echo $this->Encrypt('batch_id_upload');?>');"><?php echo $translator['L_SELECT_BATCH_ID'] ?></a></label>
                    </div>
				</div>
                <div class="row no-padd">
                    <div class="col1">
                        <label>Select File</label>
                        <input name="file_name" type="file" id="file_name" disabled>
                        <span class="age-year">Allow you to upload donation entries</span>
                        <div id="import-error" class="error-msg" style="display:none; clear:both"></div>
                        <div id="import-success" class="success-msg" style="display:none; clear:both"></div>
                    </div>
                    <div class="dl-by-sample">
                        <div class="grid-section">
                            <div class="top-section">
                                <a href="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/tmp/sample_bulk_donation_entries_excel.xls" class="link"></a>
                            </div>                            
                            <span>Download Sample File</span>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row common-form">
                <?php //echo $this->formRow($form->get('uploadfile')); ?>
            </div>
        </div>        
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>

