<?php
/**
 * This page is used for get all cases listing
 * @package    Case_CaseController_addCaseController
 * @author     Icreon Tech - SK
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/search.bulkdonation.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Transactions</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <p class="search-text m-t-20"> Search Bulk Entries by filling the following filters, or just do a blank search for the full Bulk Entries  list. <a href="/create-batch"> Add Donations</a>.</p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . "</div>";
                echo '</div>';
            }
        }
        ?> 
        <div class="head no-img"><span>Bulk Donations List</span></div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label>Batch #</label>
                        <?php echo $this->formRow($form->get('batch_id')); ?>
						<?php echo $this->formRow($form->get('payment_batch_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label>Created By</label>
                        <?php echo $this->formRow($form->get('created_by_name')); ?>
                        <?php echo $this->formRow($form->get('added_by')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label>Batch Date</label>
                        <?php echo $this->formRow($form->get('batch_date_range')); ?>
                    </div>
                    <div class="col1 right" id="date_range_div" style="display:none;">
                        <label>From</label>
                        <?php echo $this->formRow($form->get('batch_date_from')); ?>
                        <label class="auto">-to-</label>
                        <?php echo $this->formRow($form->get('batch_date_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col18">
                        <label>Amount($)</label>
                        <label class="auto">From</label>
                        <?php echo $this->formRow($form->get('amount_from')); ?>
                        <label class="auto">-to-</label>
                        <?php echo $this->formRow($form->get('amount_to')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label>&nbsp; </label>
                        <?php echo $this->formRow($form->get('searchbutton')); ?> </div>
                </div>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>        
    </div>
</div>
<div class="grid-section">
    <div class="search-results">
        <h3>Search Results</h3>
        <p>Below are the records that match the search criteria you entered. If you do not find the Batch you seek, you can <a href="/create-batch"> Add Donations</a>.</p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list_case"></table>
        <div id="listcaserud"></div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_familyhistory' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_family_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this record?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>