<?php
/**
 * This page is used for get all cases listing
 * @package    Case_CaseController_addCaseController
 * @author     Icreon Tech - SK
 */
$this->inlineScript()->captureStart();
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/view.bulkdonation.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2>Transactions</h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        <form method="post" action="">
            <input type="hidden" name="export" value="excel" />
            <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
            <input type="hidden" name="searchString" id="searchString" value="" />
            <input type="hidden" name="sidx" id="sidx" value="" />
            <input type="hidden" name="sord" id="sord" value="" />
            <input type="hidden" name="rows" id="rows" value="" />
            <input type="hidden" name="page" id="page" value="" />
        </form>
    </div>
    <div class="accordion-detail">
        <div class="head no-img"><span>Batch Details</span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                if (!empty($batchData)) {
                    ?>
                    <div class="row">
                        <div class="col1">
                            <label>Batch #</label>
                            <span class="exitvalue"><?php echo $batchData['batch_id']; ?></span>
                        </div>
                        <div class="col1 right">
                            <label>Amount($)</label>
                            <span class="exitvalue"><?php echo $batchData['amount']; ?></span>
                            <input type="hidden" name="encBatchId" id="encBatchId" value="<?php echo $batchData['encBatchId']; ?>">
                        </div>
                    </div>
                <?php } else { ?>
                    <div class="row">
                        <div class="col1">
                            No Record Found.
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>        
    </div>
</div>
<div class="grid-section">
    <div class="grid-box" id="gview_list">
        <table id="list_case"></table>
        <div id="listcaserud"></div>
    </div>
</div>