<?php
/**
 * This page is used for add new case
 * @package    Case_CaseController_addCaseController
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$jsLangTranslate = $this->jsLangTranslate;
$var = '';
$all_contacts = $this->all_contacts;
$all_crm_user = $this->all_crm_user;

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
        $var .= 'var mode = "create";';
$var .='var encrypt_case_contact_id=\'' . $this->encrypt_case_contact_id . '\';';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/case/case.case.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts case">
    <h2><?php echo $translator['L_CASE']; ?></h2>
    <div class="breadcrumb">

        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>


    </div>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_CREATE_CASE']; ?></span></div>
        <?php
        $form = $this->create_case_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('case_contact_id'));
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">

                    <div class="col1">
                        <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('contact_name')); ?>

                        <?php echo $this->formRow($form->get('contact_name_id')); ?>
                        <div id="srch_contact_name" class="srch_contact_name"></div>

                        <div class="row no-padd">
                            <label>&nbsp;</label>
                            <label class="auto">OR</label>
                            <a href="javascript:void(0);" onclick="createContact();" class="link m-t-8 left m-l-20"><?php echo $translator['L_CREATE_NEW_CONTACT']; ?></a>
                        </div>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_MODE']; ?></label>
                        <?php echo $this->formRow($form->get('mode')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label class="no-padd"><?php echo $translator['L_MESSAGE']; ?><span class="red">*</span></label>
                        <div class="left">
                            <?php echo $this->formRow($form->get('message')); ?>
                            <div class="count-textarea"><span id="message_count">0</span> to 1000</div>
                        </div>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_SUBJECT']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('subject')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CASE_TYPE']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('case_type'));
                        foreach ($caseTypeDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='case_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CASE_STATUS']; ?><span class="red">*</span></label>
                        <?php
                        echo $this->formRow($form->get('case_status'));
                        foreach ($caseStatusDesc AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='case_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                        <div id="reason_div" style="display:none;">
                            <label class="m-t-14"><?php echo $translator['L_REASON']; ?></label>
                            <?php echo $this->formRow($form->get('reason')); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_START_DATE_TIME']; ?></label>
                        <?php echo $this->formRow($form->get('start_date')); ?>
                        <label class="auto">-At-</label>
                       <span class="rel-auto-error"><?php echo $this->formRow($form->get('start_time')); ?></span>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_DURATION']; ?></label>
                        <?php echo $this->formRow($form->get('duration')); ?>
                        <span class="age-year"><?php echo $translator['L_TOTAL_TIME_SPENT']; ?></span> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ASSIGNED_TO']; ?></label>

                        <?php echo $this->formRow($form->get('assigned_to')); ?>

                        <?php echo $this->formRow($form->get('assigned_to_id')); ?>

                        <span class="age-year"><?php //echo $translator['L_PLEASE_ENTER_JOHN_AND_CLICK'];   ?></span>
                    </div>
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('urgent')); ?>
                        <label class="check" for="urgent"><?php echo $translator['L_URGENT']; ?></label>
                    </div>
                </div>
                <div class="row">
					<div class="col1">
                    <div id="load_upload">
                        <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_count')); ?>
                        <?php $i = 0; ?>
                        <div class="row no-padd upload_container_0" id="upload_container_0">
                                <div class="row no-padd">
                                    <label>Attach File(s):</label>
                                    <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload0')); ?>
                                    <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_file0')); ?>
                                    <div id="upload_addMinus0" class="addMinus">
                                        <a id="add_new_file" class="plus m-l-5" href="javascript:void(0)"></a>
                                    </div>
                                    <div class="row no-padd"><label style="padding:0px !important">&nbsp;</label> 
                                        <div id="filemessage_<?php echo $i; ?>"></div>
                                    </div>
                                </div>
                                <?php $i++; ?>
                            </div>
                            <div id="upload_count_div" style="display:none;"><?php echo $i; ?></div>
                    </div></div>
					<?php 
					if($transaction_id!=''){
					?>
					<div class="col1 right">
						<label><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
						<?php echo $this->formRow($form->get('transaction_id')); ?>
					</div>
					<?php } ?>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('continue')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>
                </div>
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>