<?php
/**
 * This page is used for add new case
 * @package    Case
 * @author     Icreon Tech - DG
 */
$translator = $this->jsLangTranslate;
$jsLangTranslate = $this->jsLangTranslate;
$var = '';


if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/user.case.js?v='.$this->layout()->getVariable('jsVersion'))
					 ->prependScript($var);

?>

<?php 
    $form = $this->create_case_form;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('case_contact_id'));
    echo $this->formRow($form->get('contact_name_id'));
    echo $this->formRow($form->get('csrf'));	
?>            
<div class="common-wall-popup">
    <h1><?php 

	
        if(isset($report_an_issue) && $report_an_issue==1){
                echo $translator['L_REPORT_AN_ISSUE']; 
        }
        else {
                echo $translator['L_ADD_CASE']; 
        }?></h1>
          
        <div class="contact-use-case">
		   <h4 style="padding-left: 10px;">Known Issues:</h4>
		   <div style="padding: 0 10px">
		   <p>We are aware of some common issues, is it one of the below?</p>
		   <!--<p><strong>1. Missing Saved Searches</strong>&nbsp;  <a href="javascript:parent.location.href = '/beta#saved_searches';">CLICK HERE &gt;</a></p>-->
		   <p><strong>Can't Find a Particular Person</strong>&nbsp; <a href="javascript:parent.location.href = '/about-passenger-search';">CLICK HERE &gt;</a></p>
		   </div>
	    </div>    
	    <div class="contact-use-case">
            <h4 style="padding-left: 10px;">Otherwise:</h4>
        </div>          
          
		<?php
		if(isset($report_an_issue) && $report_an_issue==1){
		?>  
		 <div class="report-left">

        <div class="form-sep">         
            <ul>
              <li>Accuracy is sometimes hampered by handwriting which is transcribed by volunteers around the world.</li>
              <li>A passenger record or ship that is not associated with and image of the original document is considered a mis-index but can be available with some research.</li>
              <li>We only correct what is represented on the actual historical documents and we do not change them.</li>
            </ul>  
        </div>

		</div>
		<?php
		}
		?>
		 <div class="report-right <?php echo (isset($report_an_issue) && $report_an_issue==1)?'':'left';?>">
        <div class="form-sep">
                <!--<label><?php //echo $translator['L_DATE']; ?></label>-->
                <div class="date"><?php echo $this->Dateformatalpha(DATE_TIME_FORMAT,'dateformatampm'); ?></div>
           </div>
        <div class="form-sep">
          
                <label><span class="red">*</span><?php echo $translator['L_SUBJECT']; ?></label>
                <?php echo $this->formRow($form->get('subject')); ?>
                
        </div>
<div class="form-sep">
 <div class="col7">
                <label><span class="red">*</span><?php echo $translator['L_CASE_TYPE']; ?></label>
                <?php echo $this->formRow($form->get('case_type')); ?>
            </div>
		 <div class="col7 float-right">
                <label><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                <?php echo $this->formRow($form->get('transaction_id')); ?>
            </div>
		
 </div>		
		
        <div class="form-sep">
           
            
                <label><span class="red">*</span><?php echo $translator['L_MESSAGE']; ?></label>
                <?php
                    if(!empty($passengerDetails)) {
                ?>
                    <pre id="passengerDetails" style="line-height:1;width:345px;"><?php echo nl2br($passengerDetails) ?></pre>
                <?php
                    }
                ?>    
                <?php echo $this->formRow($form->get('message')); ?>
                <div class="count-textarea" style="margin-right:16px;"><span id="message_count">0</span> to 2000&nbsp;&nbsp;</div>
        </div>
        <div class="full">
                   
                <?php echo $this->formRow($form->get('continue')); ?>
            
        </div> 
	

		
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>

<div style='display:none'>
    <div id='case_addes' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1><?php echo $translator['H_CASE_ADDED']; ?></h1>
        <p><?php echo $translator['THANK_YOU']; ?></p>
        <P id="case_id_success_msg"></P>
        <P><?php echo $translator['CUSTOMER_SUPPORT']; ?></P>
        <div class="form-sep">            
            <input type="button" value="Close" name="no" id="cancel_add_case" class="button green semibold">
        </div>
    </div>
</div>