<?php
/**
 * This page is used for edit case detail information
 * @package    Case_CaseController_getEditCaseDetailAction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$jsLangTranslate = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .='var encrypt_case_contact_id=\'' . $this->encrypt_case_contact_id . '\';';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/case.case.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="breadcrumb case">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_EDIT_CASE']; ?></span></div>
<?php
$form = $this->create_case_form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('case_contact_id'));
?>
<div class="detail-section">
    <div class="common-form">
        <?php
        if (isset($this->case_contact_id) && $this->case_contact_id != '') {
            ?>
            <div class="row">

                <div class="col1">
                    <label><?php echo $translator['L_CASE_HASH']; ?></label>
                    <div class="m-t-10">
                        <?php echo $this->case_contact_id; ?>
                    </div>
                </div>
                <div class="col1 right">
                    <label><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                    <?php echo $this->formRow($form->get('transaction_id')); ?>
                </div>
            </div>
        <?php } ?>
        <div class="row">

            <div class="col1">
                <label><?php echo $translator['L_CONTACT_NAME']; ?><span class="red">*</span></label>

                <?php echo $this->formRow($form->get('contact_name')); ?>

                <?php echo $this->formRow($form->get('contact_name_id')); ?>
                <div id="srch_contact_name" class="srch_contact_name"></div>

                <div class="row m-t-10">
                    <label>&nbsp;</label>
                    <label class="auto">OR</label>
                    <a href="javascript:void(0);" onclick="createContact();" class="link m-t-8 left m-l-20"><?php echo $translator['L_CREATE_NEW_CONTACT']; ?></a>
                </div>
                <div class="age-year"><?php //echo $translator['L_PLEASE_ENTER_ADAM_AND_CLICK'];    ?></div>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_MODE']; ?></label>
                <?php echo $this->formRow($form->get('mode')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label class="no-padd"><?php echo $translator['L_MESSAGE']; ?><span class="red">*</span></label>
                <div class="left">
                 <?php echo $this->formRow($form->get('message')); ?>
                 <div class="count-textarea"><span id="message_count">0</span> to 1000</div>
                </div>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_SUBJECT']; ?><span class="red">*</span></label>
                <?php echo $this->formRow($form->get('subject')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CASE_TYPE']; ?><span class="red">*</span></label>
                <?php
                echo $this->formRow($form->get('case_type'));
                foreach ($caseTypeDesc AS $key => $val) {
                    if (isset($val) && !empty($val))
                        echo "<div class='case_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                }
                ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_CASE_STATUS']; ?><span class="red">*</span></label>
                <?php
                echo $this->formRow($form->get('case_status'));
                foreach ($caseStatusDesc AS $key => $val) {
                    if (isset($val) && !empty($val))
                        echo "<div class='case_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                }
                $caseStatus = $form->get('case_status')->getValue();
                ?>
                <div id="reason_div" style="<?php echo ($caseStatus == 4) ? "display:block" : "display:none"; ?>">
                    <label class="m-t-14"><?php echo $translator['L_REASON']; ?></label>
                    <?php echo $this->formRow($form->get('reason')); ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_START_DATE_TIME']; ?></label>
                <?php echo $this->formRow($form->get('start_date')); ?>
                <label class="auto">-At-</label>
                <span class="rel-auto-error"><?php echo $this->formRow($form->get('start_time')); ?></span>

            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_DURATION']; ?></label>
                <?php echo $this->formRow($form->get('duration')); ?>
                <span class="age-year"><?php echo $translator['L_TOTAL_TIME_SPENT']; ?></span> </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_ASSIGNED_TO']; ?></label>

                <?php echo $this->formRow($form->get('assigned_to')); ?>

                <?php echo $this->formRow($form->get('assigned_to_id')); ?>

                <span class="age-year"><?php //echo $translator['L_PLEASE_ENTER_JOHN_AND_CLICK'];    ?></span> </div>
            <div class="col1 right">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('urgent')); ?>
                <label class="check" for="urgent"><?php echo $translator['L_URGENT']; ?></label>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <div class="row no-padd" id="load_upload">
                    <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_count')); ?>                                
                    <?php $i = 0; ?>                                
                    <div class="row upload_container_0" id="upload_container_0">
                        <div class="row no-padd">
                            <label>Attach File(s):</label>
                            <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload0')); ?> 
                            <?php echo $this->formRow($form->get('upload')->get('publicdocs_upload_file0')); ?>                                        
                            <div id="upload_addMinus0" class="addMinus left">
                                <a id="add_new_file" class="plus m-l-5" href="javascript:void(0)"></a> </div>
                            <div class="row no-padd"><label style="padding:0px !important">&nbsp;</label> 
                                <div id="filemessage_<?php echo $i; ?>"></div>
                            </div>

                        </div>
                        <?php $i++; ?>
                    </div>

                    <div id="upload_count_div" style="display:none;"><?php echo $i; ?></div>

                </div>
                <?php
                if (!empty($caseFileData)) {
                    foreach ($caseFileData as $key => $val) {
                        ?>
                        <div class="row" id="doc_<?php echo $key; ?>">
                            <label>Attached File(s)</label>
                            <a class="doc-link" href="javascript:void(0);"></a>
                            <a class="link p-l-10 p-t-5 left" href="<?php echo $case_file_dir .  $val['file_name']; ?>" target='_blank'>
                                View File
                            </a>
                            <a class="link p-l-10 p-t-5 left" href="javascript:void(0);" onclick="removePublicDoc('<?php echo $this->Encrypt($val['case_attachment_id']); ?>', '<?php echo $val['file_name']; ?>', '<?php echo $this->Encrypt($val['case_contact_id']); ?>', '<?php echo $key; ?>');">
                                Remove
                            </a>
                        </div>
                        <?php
                    }
                }
                ?>
            </fieldset>
        </div>
        <div class="row no-padd">
            <label class="no-padd">&nbsp;</label>
            <?php echo $this->formRow($form->get('continue')); ?>
            <?php echo $this->formRow($form->get('cancel')); ?>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_contact_doc' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure to delete File?</h2>        
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag();
?>