<?php
/**
 * This page is used for case detail information
 * @package    Case_CaseController_getCaseDetailAction
 * @author     Icreon Tech - DT
 */

$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if(is_array($this->jsLangTranslate))
{
	foreach ($jsLangTranslate as $key => $val) {
	    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
	}
}
$var .=' var case_contact_id="'.$case_contact_id.'";';
$var .=' var encrypt_case_contact_id="'.$encrypt_case_contact_id.'";';
$var .=' var module_name="'.$module_name.'";';
$var .=' var mode="'.$mode.'";';
$var .=' var encrypted_contact_name_id="'.$encrypted_contact_name_id.'";';
$var .=' var encrypted_source_type_id="'.$encrypted_source_type_id.'";';
echo $var;
$this->inlineScript()->captureEnd() ;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/case/case.detail.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts case">
        <h2>
            <?php echo $translator['L_CASE']; ?>
            <?php if(isset($case_data['contact_name']) and trim($case_data['contact_name']) != "") { echo '<div class="user-name-top">'.trim($case_data['contact_name']).'</div>'; } ?>
        </h2>
        <div class="accordion-detail">
            <div id="pageAction">
              <ul class="edit-link m-t-25">
                <li><a href="javascript:void(0);" onclick="getCaseDetail()" class="active" id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" onclick="editCaseDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="javascript:void(0);" id="tab-3" onclick="getContactActivityDetail()"><?php echo $translator['L_ACTIVITES'] . " (".$totalActivityCount.")"; ?></a></li>
                <?php if(isset($this->case_data['is_archive']) && $this->case_data['is_archive']!=1) { ?><li><a href="#add_to_archive_block" onclick="addToArchieve('<?php echo $this->encrypt_case_contact_id; ?>')" class="add_to_archive" id="tab-4"><?php echo $translator['L_ADD_TO_ARCHIEVE']; ?></a></li><?php } ?>
                 <?php //if(isset($this->case_data['lead_convert_status']) && $this->case_data['lead_convert_status']=='notconverted') { ?><li><a href="/create-lead/<?php echo $encrypted_contact_name_id; ?>/<?php echo $encrypt_case_contact_id ?>" id="tab-5"><?php echo $translator['L_CONVERT_TO_LEAD']; ?></a></li><?php //} ?>
                <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-6"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
              </ul>
            </div>
            <div id="caseContent"></div>
        </div>
     </div>
	 
	 
<div style='display:none'>
    <div id='add_to_archive_block' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_CONFIRM_ARCHIVE'];?></h2>
        <div class="button-row">
        <input type="button" value="Yes" name="yes" id="yes_delete_archive" class="blue-btn m-r-10">
        <input type="button" value="No" name="no" id="no_delete_archive" class="green-btn">
        </div>
    </div>
</div>