<?php
/**
 * This page is used for get cases of particular user from contact module view user detail cases tab.
 * @package    Case
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= 'var contact_id=' . $contact_id . ';';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/search.case.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="breadcrumb contact-breadcrumb">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<p class="search-text m-t-20">Search Cases by filling the following filters, or just do a blank search for the full Cases list. If you do not find the contact you seek, you can <a href="/create-case/<?php echo $this->Encrypt($contact_id);?>">Create New Case</a>.</p>
<div class="head no-img"><span><?php echo $translator['L_SEARCH_CASE']; ?></span></div>
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CASE_HASH']; ?></label>
                <?php echo $this->formRow($form->get('case_subject')); ?>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_CASE_STATUS']; ?></label>
                <?php echo $this->formRow($form->get('case_status')); ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CASE_TYPE']; ?></label>
                <?php echo $this->formRow($form->get('case_type')); ?>
            </div>
            <div class="col1  m-t-10 right">
                <label>&nbsp;</label>
                <?php echo $this->formRow($form->get('is_converted')); ?>
                <label for="is_converted" class="check"><?php echo $translator['L_CONVERTED']; ?></label>
                <?php echo $this->formRow($form->get('is_urgent')); ?>
                <label for="is_urgent" class="check"><?php echo $translator['L_URGENT']; ?></label>
                <?php echo $this->formRow($form->get('is_archive')); ?>
                <label for="is_archive" class="check"><?php echo $translator['L_INCLUDE_ARCHIEVE']; ?></label>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_CREATED_DATE_RANGE']; ?></label>
                <?php echo $this->formRow($form->get('added_date_range')); ?>
            </div>
            <div class="col1 right" id="date_range_div" style="display:none;">
                <label><?php echo $translator['L_FROM']; ?></label>
                <?php echo $this->formRow($form->get('added_date_from')); ?>
                <label class="auto"><?php echo $translator['L_TO']; ?></label>
                <?php echo $this->formRow($form->get('added_date_to')); ?>
            </div>
        </div>
        <div class="row no-padd">
            <label class="no-padd">&nbsp;</label>
            <?php echo $this->formRow($form->get('searchcontactcasebutton')); ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>
<div class="grid-section">
    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="contact_list_case"></table>
        <div id="contactlistcaserud"></div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_case_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_CASE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_case" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_case" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_case_saved_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>
