<?php
/**
 * This page is used for get all cases listing
 * @package    Case_CaseController_addCaseController
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/case/search.case.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <div class="create-contacts">
        <form method="post" action="">
            <input type="hidden" name="export" value="excel" />
            <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
            <input type="hidden" name="searchString" id="searchString" value="" />
            <input type="hidden" name="sidx" id="sidx" value="" />
            <input type="hidden" name="sord" id="sord" value="" />
            <input type="hidden" name="rows" id="rows" value="" />
            <input type="hidden" name="page" id="page" value="" />
        </form>
        <h2><?php echo $translator['L_CASE']; ?></h2>
        <div class="breadcrumb">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <p class="search-text">Search Cases by filling the following filters, or just do a blank search for the full Cases list. If you do not find the contact you seek, you can <a href="<?php echo $this->url('addCase', array('action' => 'addCase')); ?>">Create New Case</a>.</p>
        <div class="accordion-detail">

            <?php
            if (!empty($this->messages)) {
                echo '<div id="success_message" class="success-msg">';
                foreach ($this->messages as $message) {
                    echo "<div>" . $message . '</div>';
                }
                echo '</div>';
            }
            ?>
            <div class="head no-img"><span><?php echo $translator['L_SEARCH_CASE']; ?></span></div>
            <?php
            $form = $this->form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CASE_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('case_subject')); ?>
                        </div>
						<div class="col1 right">
                            <label><?php echo $translator['L_SUBJECT']; ?></label>
							<?php echo $this->formRow($form->get('case_subject_name')); ?>
						</div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_TRANSACTION_HASH']; ?></label>
                            <?php echo $this->formRow($form->get('user_transaction_id')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_NAME_EMAIL']; ?></label>
                            <?php echo $this->formRow($form->get('user_email')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CASE_TYPE']; ?></label>
                            <?php
                            echo $this->formRow($form->get('case_type'));
                            foreach ($caseTypeDesc AS $key => $val) {
                                if (isset($val) && !empty($val))
                                    echo "<div class='case_type" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                            }
                            ?>
                        </div>
                        <div class="col1 right">
                            <label>&nbsp;</label>

                            <?php echo $this->formRow($form->get('is_converted')); ?>
                            <label class="text check" for="is_converted"><?php echo $translator['L_CONVERTED']; ?></label>

                            <?php echo $this->formRow($form->get('is_urgent')); ?>
                            <label class="text check" for="is_urgent"><?php echo $translator['L_URGENT']; ?></label>

                            <?php echo $this->formRow($form->get('is_archive')); ?>
                            <label class="text check" for="is_archive"><?php echo $translator['L_INCLUDE_ARCHIEVE']; ?></label>

                        </div>
                    </div>
					<div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_ASSIGNED_TO']; ?></label>
                            <?php echo $this->formRow($form->get('assigned_to')); ?>
                            <?php echo $this->formRow($form->get('assigned_to_id')); ?>
                        </div>
                        <div class="col1 right">
                            <label><?php echo $translator['L_CASE_STATUS']; ?></label>
                            <?php
                            echo $this->formRow($form->get('case_status'));
                            /*foreach ($caseStatusDesc AS $key => $val) {
                                if (isset($val) && !empty($val))
                                    echo "<div class='case_status" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                            }*/
                            ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_START_DATE_RANGE']; ?></label>
                            <?php echo $this->formRow($form->get('start_date_range')); ?>
                        </div>
                        <div class="col1 right" id="date_range_div" style="display:none;">
                            <label><?php echo $translator['L_FROM']; ?></label>
                            <?php echo $this->formRow($form->get('start_date_from')); ?>
                            <label class="auto"><?php echo $translator['L_TO']; ?></label>
                            <?php echo $this->formRow($form->get('start_date_to')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col1">
                            <label><?php echo $translator['L_CREATED_DATE_RANGE']; ?></label>
                            <?php echo $this->formRow($form->get('added_date_range')); ?>
                        </div>
                        <div class="col1 right" id="date_range_div_created" style="display:none;">
                            <label><?php echo $translator['L_FROM']; ?></label>
                            <?php echo $this->formRow($form->get('added_date_from')); ?>
                            <label class="auto"><?php echo $translator['L_TO']; ?></label>
                            <?php echo $this->formRow($form->get('added_date_to')); ?>
                        </div>
                    </div>                    	

                    <div class="row no-padd">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($form->get('searchcasebutton')); ?>
                    </div>
                </div>
            </div>
            <?php echo $this->form()->closeTag(); ?>
            <div class="detail-section1 common-form search-row-2">
                <div class="col1">
                    <label><?php echo $translator['L_SAVED_SEARCHES']; ?></label>
                    <?php echo $this->formRow($form->get('saved_search')); ?>
                </div>

                <div class="col1 right" style="width:auto">
                    <?php
                    $save_search_form = $this->search_form;
                    $save_search_form->prepare();
                    echo $this->form()->openTag($save_search_form);
                    ?>
                    <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?> </label>
                    <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                    <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                    <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                    <?php //echo $this->formRow($save_search_form->get('deletebutton'));  ?>
                    <a href="#delete_case_saved_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                    <span id="search_msg" class="error" style="display:none;"></span>
                    <?php
                    echo $this->form()->closeTag();
                    ?>
                </div>
            </div>

        </div>
    </div>
    <div class="grid-section">
        <div class="search-results">
            <h3><?php echo $translator['L_SEARCH_RESULTS']; ?></h3>
            <p>

                Below are the records that match the search criteria you entered. If you do not find the contact you seek, try
                <a href="<?php echo $this->url('addCase', array('action' => 'addCase')); ?>">Create New Case</a>.</p>
        </div>
        <div class="grid-box" id="gview_list">
            <table id="list_case"></table>
            <div id="listcaserud"></div>
        </div>
        <div class="full m-t-10"><span class="new-case">New Case / Unread Case</span><span class="urgent-case">Urgent Case</span></div>
    </div>


    <div style='display:none'>
        <div id='delete_case_content' class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2><?php echo $translator['DELETE_CASE_ALERT']; ?></h2>
            <div class="button-row">
                <input type="button" value="Yes" name="yes" id="yes_delete_case" class="blue-btn m-r-10">
                <input type="button" value="No" name="no" id="no_delete_case" class="green-btn">
            </div>
        </div>
    </div>

    <div style='display:none'>
        <div id='delete_case_saved_search' class="pop-container">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2><?php echo $translator['DELETE_ALERT']; ?></h2>
            <div class="button-row">
                <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
                <input type="button" value="No" name="no" id="no_delete" class="green-btn">
            </div>
        </div>
    </div>
