<?php
/**
 * This file is used for upload file
 * @package    User
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$var = '';

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$counter = json_encode($params['counter']);
$container = json_encode($params['container']);

$script = <<<EOD
var counter= $counter;
var container= $container;
EOD;

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/case.case.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var)
						  ->prependScript($script);
						  
$form_upload_form = $this->form_upload_form;
$form_upload_form->prepare();

?>
<label>&nbsp;</label><?php echo $this->formRow($form_upload_form->get('publicdocs_upload0')); ?>
<?php echo $this->formRow($form_upload_form->get('publicdocs_upload_file0')); ?>
<div id="upload_addMinus<?php echo $params['counter'] ?>" class="addMinus">
    <a  class="minus  m-l-5" href="javascript:void(0)" id="remove" onclick="remove_dynamic_contacts('.<?php echo $params['container'] . $params['counter']; ?>', '<?php echo $params['counter']; ?>')"></a>
    <a id="add_new_file" class="plus m-l-5" href="javascript:void(0)"></a>
</div>
<div class="row no-padd">
    <label style="padding:0px !important">&nbsp;</label>  
    <div id="filemessage_<?php echo $params['counter']; ?>"></div>
</div>
    

