<?php
/**
 * This file is used for user cases
 * @package    Case
 * @author     Icreon Tech - DG
 */
?>
<?php
$translator = $jsLangTranslate;
$script = <<<EOD
function addUserCase(value){
        $.colorbox({
            width:"550px",
            height:"950px",
            iframe : true,
            href:"/add-user-case/"+value
        });
    }
    function editUserCase(value){
        $.colorbox({
            width:"830px", 
            height:"750px",
            iframe : true,
            href:"/view-user-case/"+value
        });
    }
EOD;
echo $this->inlineScript()->prependScript($script);
?>

<div class="common-detail-section">
    <div class="top-detail">
        <h1 class="left"><?php echo $translator['H_CASES']; ?></h1>
        <a href="javascript:void(0);" class="button right" id="add-woh" onclick="addUserCase('<?php echo $userId; ?>');"><?php echo $translator['H_ADD_CASE_BUTTON']; ?></a>
    </div>
    <?php
    if (isset($userCases) && !empty($userCases)) {
       
            ?>
            <div class="box">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th class="th-wdth-10"><?php echo $translator['L_CASE_NO']; ?></th>
                            <th class="th-wdth-15"><?php echo $translator['L_DATE']; ?></th>
                            <th class="th-wdth-15"><?php echo $translator['L_SUBJECT']; ?></th>
                            <th class="th-wdth-20"><?php echo $translator['L_CASE_TYPE']; ?></th>
                            <th class="th-wdth-15"><?php echo $translator['L_TRANSACTION']; ?></th>
                            <th class="th-wdth-10"><?php echo $translator['L_STATUS']; ?></th>
                            <th class="th-wdth-5">&nbsp;</th>
                        </tr>
                        <?php  foreach ($userCases as $val) { ?>
                        <tr>
                            <td><a href="javascript:void(0);" class="" onclick="editUserCase('<?php echo $val['case_contact_id']; ?>');"><?php echo $val['case_contact_id']; ?></a></td>
                            <td><?php echo ($val['case_start_date'] == 0) ? 'N/A' : $this->Dateformatalpha($val['case_start_date'], 'calender') ?></td>
                            <td><?php echo $val['case_subject']; ?></td>
                            <td><?php echo $val['case_type']; ?></td>
                            <td><?php if ($val['user_transaction_id'] && $val['user_transaction_id'] > 0) echo $val['user_transaction_id']; else echo 'N/A'; ?></td>
                            <td><?php echo $val['case_status']; ?></td>
                            <td>
                                <a href="javascript:void(0);" class="" onclick="editUserCase('<?php echo $val['case_contact_id']; ?>');"><img alt="view" title="view" class="float-left" src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/images/icon3.png"></a>
                            </td>                                
                        </tr>
                        <?php  }  ?>
                    </tbody>
                </table>
            </div>
            <?php
        
    }else {
        echo '<div class="no-record">' . $translator['NO_RECORD_FOUND'] . '</div>';
    }
    ?>
</div>