<?php
/**
 * This page is used for get case detail.
 * @package    Case
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

//asd($case_data);
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/reply.case.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
						  
?>
<div class="breadcrumb case">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['L_DETAILS']; ?></span></div>
<div class="detail-section white-bg">
    <div class="common-form">

        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['L_CASE']; ?></strong><br>
                <?php echo $case_data['case_contact_id']; ?></div>
            <div class="col6"><strong><?php echo $translator['L_CONTACT_NAME']; ?></strong><br>


                <?php
                $fullName=trim($case_data['contact_name']);
                $fullName=(!empty($fullName))?$case_data['contact_name']:$case_data['company_name'];
                echo '<a class="txt-decoration-underline link" href="javascript:void(0)" onclick="window.open(\'/view-contact/'.$this->Encrypt($case_data['contact_name_id']).'/'.$this->Encrypt('view').'\',\'popUpWindow,resizable=yes,scrollbars=yes\')">'.$fullName.'</a>'; ?> </div>
            
                   <div class="col6"><strong><?php echo $translator['L_CONTACT_EMAIL_ADDRESS']; ?></strong><br>
                <?php echo (isset($case_data['email_id']) ? $case_data['email_id'] : 'N/A'); ?></div>
            
            <div class="col6"> <strong><?php echo $translator['L_CREATED_DATE']; ?></strong><br>
                <?php echo ($case_data['added_date'] == 0) ? 'N/A' : $this->Dateformatalpha($case_data['added_date'],'dateformatampm'); ?></div>
 
        </div>



        <div class="view-row">
                     <div class="col6"><strong><?php echo $translator['L_MODE']; ?></strong><br>
                <?php echo $case_data['case_mode_type_name']; ?></div>  
            <div class="col6"> <strong><?php echo $translator['L_SUBJECT']; ?></strong><br>
                <?php echo nl2br($case_data['subject']); ?></div>
            <div class="col6"> <strong><?php echo $translator['L_CASE_TYPE']; ?></strong><br>
                <?php echo $case_data['case_type_name']; ?></div>
            <div class="col6"> <strong><?php echo $translator['L_START_AND_DATE_TIME']; ?></strong><br>
                <?php echo ($case_data['start_date'] == 0) ? 'N/A' : $this->Dateformatalpha($case_data['start_date'],'dateformatampm'); ?></div>
           
        </div>

        <div class="view-row">
            <div class="col6"><strong><?php echo $translator['L_TRANSACTION']; ?></strong><br>
                <?php echo (isset($case_data['transaction_id']) ? $case_data['transaction_id'] : 'N/A'); ?></div>
            <div class="col6"> <strong><?php echo $translator['L_URGENT']; ?></strong><br>
                <?php echo (isset($case_data['urgent']) && $case_data['urgent'] == 1) ? 'Yes' : 'No'; ?></div>
            <div class="col6"> <strong><?php echo $translator['L_ASSIGNED_TO']; ?></strong><br>                <?php echo $case_data['assigned_to']; ?></div>            
            <div class="col6"> <strong><?php echo $translator['L_MODIFIED_DATE']; ?></strong><br>
                <?php echo ($case_data['modified_date'] == 0) ? 'N/A' : $this->Dateformatalpha($case_data['modified_date'],'dateformatampm'); ?></div>
        </div>

		<div class="view-row">                     
            <div class="col6">  <strong><?php echo $translator['L_DURATION']; ?></strong><br>
                <?php echo $case_data['duration']; ?></div>
             <div class="col6"> <strong><?php echo $translator['L_STATUS']; ?></strong><br>
                <input type="hidden" id="case_status_vals" name="case_status_vals" value="<?php echo $case_data['case_status']; ?>" />
                <p id="case_status_txt"><?php echo $case_data['case_status_name']; ?></p></div>
            <?php if ($case_data['case_status'] == 4 && trim($case_data['reason']) != '') {
                ?>
                <div class="col6"> <strong><?php echo $translator['L_REASON']; ?></strong><br>
                    <?php echo nl2br($case_data['reason']); ?></div>
			<?php  } ?>
           <!--<div> <strong><?php echo $translator['L_MESSAGE']; ?> </strong><br>
                <?php echo nl2br($case_data['message']); ?> </div>-->
        </div>
		<div class="view-row">
			<strong><?php echo $translator['L_MESSAGE']; ?> </strong><br>
                <?php echo nl2br($case_data['message']); ?>
		</div>


        <?php if(!empty($caseFileData)){ ?>
        <div class="view-row">
                <strong class="row1">Attached File(s)</strong>
                <?php
                
                    foreach ($caseFileData as $key=>$val) {
                        ?>
                        <div class="full m-b-5">
                            <a class="doc-link" href="javascript:void(0);"></a>
                            <a class="link p-l-10 p-t-5 left" href="<?php echo $case_file_dir .$val['file_name']; ?>" target='_blank'>
                                <?php //echo $val;     ?>View File
                            </a>
                        </div>
                        <?php
                    }
                ?>
            </div>
			<?php } ?>
    </div>




</div>

<div class="note-tab">
    <ul>
        <li><a href="javascript:void(0);" class="active postreply" id="tab-reply"><?php echo $translator['L_REPLY'] .' ('.$replyNoteCount['totalReply'].')'; ?></a></li>
        <?php if ($addNotePermission == 1 || $viewNotePermission == 1) { ?>
            <li><a href="javascript:void(0);" id="tab-note" class="postreply"><?php echo $translator['L_NOTES'] .' ('.$replyNoteCount['totalNotes'].')'; ?></a></li>
        <?php } ?>
    </ul>
</div>
<div class="detail-section">
    <div class="common-form div-tab-reply">
        <?php
        $case_reply_form = $this->case_reply_form;
        $case_reply_form->prepare();
        echo $this->form()->openTag($case_reply_form);
        echo $this->formRow($case_reply_form->get('case_contact_id'));
        ?>
		<div class="row">
		<label>Case Status:</label>
		<?php echo $this->formRow($case_reply_form->get('case_status_reply')); ?>
		</div>
        <div class="row no-padd">
            <?php echo $this->formRow($case_reply_form->get('reply')); ?>
            <div class="count-textarea"><span id="reply_count">0</span> to 1000</div>
            <div class="row m-t-20 no-padd">

                <?php echo $this->formRow($case_reply_form->get('notify')); ?>
                <label class="check" for="notify"><?php echo $translator['L_SEND_MAIL']; ?></label>
				 <?php echo $this->formRow($case_reply_form->get('postreply')); ?>

            </div>
          

            <?php
            echo $this->form()->closeTag();
            ?>
            <div id="replydiv">
                <?php
                if ($this->case_replies !== false) {
                    ?>

                    <?php
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    //asd($this->case_replies);
                    foreach ($this->case_replies as $reply) {
                        if($reply['user_type'] == 2)
                            $fullname = $reply['company_name'];
                        else
                            $fullname = $reply['fullname'];
                        
                       if(isset($fullname) and trim($fullname) != "") {
                            if($counterAlternate == 0) { $classAlternate = 'alterbg'; $counterAlternate = $counterAlternate+1; } 
                            else { $classAlternate = 'alterbg alterbg-none'; $counterAlternate = 0; }
                        ?>
                        <div class="row <?php echo $classAlternate; ?>">
                            <p class="text"><?php echo nl2br($reply['reply']); ?></p>
                            <p class="text right no-padd"><strong><?php echo $translator['L_DATE_CREATED']; ?>:</strong> <?php echo $this->Dateformatalpha($reply['added_date'],'dateformatampm'); ?> <?php echo $translator['L_BY']; ?> <?php echo $fullname; ?></p>
                        </div>
                        <?php
                       }
                    }
                    ?>

                <?php } ?>
            </div>

        </div>

    </div>
    <div class="common-form div-tab-note" style="display:none;">
        <?php
        if ($addNotePermission == 1) {
            $case_note_form = $this->case_note_form;
            $case_note_form->prepare();
            echo $this->form()->openTag($case_note_form);
            echo $this->formRow($case_note_form->get('case_contact_id'));
            ?>
            <div class="row">
                <?php echo $this->formRow($case_note_form->get('note')); ?>
                <div class="count-textarea"><span id="note_count">0</span> to 1000</div>
                <div class="row m-t-20">

                    
					  <?php echo $this->formRow($case_note_form->get('postnote')); ?>

                </div>
              
            </div>

            <?php
            echo $this->form()->closeTag();
        }
        if ($viewNotePermission == 1) {
            ?>
            <div id="notesdiv">
                <?php
                if ($this->case_notes !== false) {
                    ?>

                    <?php
                    $counterAlternate = 0;
                    $classAlternate = 'alterbg';
                    foreach ($this->case_notes as $note) {
                      if(isset($note['fullname']) and trim($note['fullname']) != "") {
                        if($counterAlternate == 0) { $classAlternate = 'alterbg'; $counterAlternate = $counterAlternate+1; } 
                        else { $classAlternate = 'alterbg alterbg-none'; $counterAlternate = 0; }
                        $fullname = $note['fullname'];
                        ?>
                        <div class="row <?php echo $classAlternate; ?>">
                            <p class="text"><?php echo nl2br($note['note']); ?></p>
                            <p class="text right no-padd"><strong><?php echo $translator['L_DATE_CREATED']; ?>:</strong> <?php echo $this->Dateformatalpha($note['added_date'],'dateformatampm'); ?> <?php echo $translator['L_BY']; ?> <?php echo $fullname; ?></p>
                        </div>
                        <?php
                       }
                    }
                    ?>

                <?php } ?>
            </div>
        <?php } ?>
    </div>
</div>