<?php
/**
 * This page is used for edit new case
 * @package    Case
 * @author     Icreon Tech - DG
 */
$translator = $this->jsLangTranslate;
$var = '';

if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}

$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/case/user.case.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-popup-detail">
    <h1><?php echo $translator['L_CASE']; ?></h1>
    <div>
        <form name="edit_user_case" id="edit_user_case" method="post">
            <div class="form-sep">
                <div class="col7">
                    <div class="col6"> <label><?php echo $translator['L_CASE_HASH']; ?></label></div>
                    <?php echo $getCaseDetail['case_contact_id']; ?>
                </div>
                <div class="col7 omega">
                    <div class="col6"><label><?php echo $translator['L_CASE_STATUS']; ?></label></div>
                    <span id="case_status_text"><?php echo $getCaseDetail['case_status_name']; ?></span>
                    <input type="hidden" id="case_status" value="<?php echo $getCaseDetail['case_status']; ?>">
                    <div id="case_status_div" class="omega">
                        <?php
                        if ($getCaseDetail['case_status'] == 1 || $getCaseDetail['case_status'] == 7) {
                            echo '<input type="button" class="button" id="close_case" value="Close Case">';
                        }
                        if ($getCaseDetail['case_status'] == 6) {
                            echo '<input type="button" class="button" id="reopen_case" value="Re-Open">';
                        }
                        ?>
                    </div>
                </div>
            </div>

            <div class="form-sep">
                <div class="col7">
                    <div class="col6"><label><?php echo $translator['L_DATE']; ?></label></div>
                    <?php if($getCaseDetail['start_date']!='' && $getCaseDetail['start_date']!='0000-00-00 00:00:00' && !is_null($getCaseDetail['start_date'])){ echo $this->Dateformatalpha($getCaseDetail['start_date'],'dateformatampm'); }else{ echo 'N/A';} ?>
                </div>
                <div class="col7 omega">
                    <div class="col6"> <label><?php echo $translator['L_TRANSACTION_HASH']; ?></label></div>
                    <input type="text" class="trans-input" id="transaction_id" value="<?php if ($getCaseDetail['transaction_id'] != 0) echo $getCaseDetail['transaction_id']; ?>">
                    <label style="display:none;" for="transaction_id" class="error" id="transaction_label"></label>
                    <input type="button" class="button float-right" id="update_edit_usr_case" value="Update" name="update_edit_usr_case">
                </div>
            </div>

            <div class="form-sep">
               
                <div class="col7">
                    <div class="col6"><label><?php echo $translator['L_CASE_TYPE']; ?></label></div>
                    <?php echo $getCaseDetail['case_type_name']; ?>
                </div>
            </div>  

				<div class="form-sep">				
                    <label><?php echo $translator['L_SUBJECT']; ?></label>
                    <?php echo $getCaseDetail['subject']; ?>             
				</div>

			
            <div class="form-sep">
                    <label><span class="red">*</span><?php echo $translator['L_MESSAGE']; ?></label>
                    <?php echo nl2br($getCaseDetail['message']); ?>
            </div>
        </form>
    </div>

    <div class="common-form div-tab-reply">
        <?php
        $caseReplyForm->prepare();
        echo $this->form()->openTag($caseReplyForm);
        echo $this->formRow($caseReplyForm->get('case_contact_id'));
        ?>
        <div class="form-sep">
            <?php echo $this->formRow($caseReplyForm->get('reply')); ?>  
            <div class="count-textarea"><span id="reply_count">0</span> to 1000</div>
            <div style="margin-top:15px;">
                <?php echo $this->formRow($caseReplyForm->get('postreply')); ?>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
            <div id="replydiv" class="casePopScroll">
		 <!--<div>-->
                <?php
                if ($this->replyData !== false) {
                    foreach ($this->replyData as $reply) {
                        if($loginUserDetail->user_type == 2)    
                            $fullname = (isset($reply['is_admin_reply']) && $reply['is_admin_reply'] == 1) ? $reply['fullname'] : ($loginUserDetail->company_name);
                        else    
                            $fullname = (isset($reply['is_admin_reply']) && $reply['is_admin_reply'] == 1) ? $reply['fullname'] : ($loginUserDetail->first_name . " " . $loginUserDetail->last_name);
                        ?>
                        <div class="form-sep case-border-bottom">
                             <div class="full"><p><?php echo nl2br($reply['reply']); ?></p></div>
                             <div class="full"><p class="right no-margin"><strong><?php echo $translator['L_DATE_CREATED']; ?>:</strong> <?php echo $this->Dateformatalpha($reply['added_date'],'dateformatampm'); ?> <?php echo $translator['L_BY']; ?> <strong>Customer Service<?php //echo $fullname; ?></strong></p></div>
                        </div>
                        <?php
                    }
                }
                ?>
		 <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='close_case_content' class="inner-popup-detail">
        <a href="javascript:void(0);" class="pop_close_btn"></a>
        <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h1>Close Case</h1>
        <p><?php echo $translator['ARE_U_SURE_CLOSE']; ?></p>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="button semibold">
            <input type="button" value="No" name="no" id="no_delete" class="button green semibold">
        </div>
    </div>
</div>