<?php
    $translator = $this->jsLangTranslate;
    $var = '';
    $this->inlineScript()->captureStart();
    if(is_array($this->jsLangTranslate))
    {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
     echo $var;
    $this->inlineScript()->captureEnd() ;
?>
     <h2><?php echo $translator['SEARCH_RESULTS']; ?></h2>
     <?php
        if( isset($blogsData[0]) && !empty($blogsData[0])){
     ?>
     <h3><?php echo count($blogsData)." ".$translator['RESULTS_FOUND'].' "'.$searchedText.'" '; ?></h3>
     <ul>
        <?php
            foreach($blogsData as $key=>$val){
        ?>        
            <li><a href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>"><?php echo $val['blog_title']." - by ".$val['author_name']." - ".date('m/d/Y', strtotime($val['publish_date'])); ?></a> </li>    
        <?php        
            }
        ?>
     </ul>
     <?php
        } else {        
     ?>
        <h3><?php echo $translator['NO_RESULTS_FOUND'].' "'.$searchedText.'" '; ?></h3>
     <?php
        }        
     ?>
   