<?php
/**
 * This view is used to show basic cms page
 * @package    Cms
 * @author     Icreon Tech - AS
 * 
 */
//$this->inlineScript()->captureStart();

$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}


$today = getDate();
//asd($blogPostData);
echo $this->inlineScript()->prependScript($var);
?>
<div class="inner-header">
    <h1>List</h1>
</div>
<section class="main">
    <div class="container">
        <div class="block col11 alpha">
            <div class="content">
                <h2><?php echo $month; ?></h2>
                <div>
                    <?php
                    if(isset($blogPostData) && !empty($blogPostData)){
                    foreach ($blogPostData as $key) {
                        echo "<a class='clearfix' href='/blog/".$this->encrypt($key['blog_id'])."'>" . $key['blog_title'] . " " . $key['author_name'] . " " . $key['publish_date'] . "</a><br>";
                    }
                    }
                    else {
                        echo "<span Class='clearfix'>No Blog Available<span>";
                    }
                    ?>
                </div>
                <div>
                    <span><a class="button green semibold" href="/blog-more-entries<?php echo "/" . $this->encrypt($date['prev_month']) . "/" . $this->encrypt($date['prev_year']); ?>">&lt; &nbsp;Previous</a> </span>
                    <?php
                    if ($date['prev_month'] != $today['mon'] - 1) {
                        ?>
                        <span><a class="button float-right green semibold" href="/blog-more-entries<?php echo "/" . $this->encrypt($date['next_month']) . "/" . $this->encrypt($date['next_year']); ?>">Next &nbsp; &gt;</a> </span>
                    <?php } ?>
                </div>
            </div>
        </div>
        <div class="col5 rightsection omega">
<?php
if ($this->getAuth() === false) {
    ?>
                <div class="block">
                    <div class="content">
                        <h1>have an account?</h1>
                        <p>Create a free account to search for family arrival records and learn more about Lady Liberty and Ellis Island.</p>
                        <h3>BE A PART OF HISTORY!</h3>
                        <a class="button green" href="javascript:void(0);" onClick="checkUserLogin('0');" >Login</a> <a class="button" href="javascript:void(0);" onclick="signupPopup();">Join us!</a> </div>
                </div>
    <?php
}
?>
            <div class="block">
                <div class="advertise">
                    <iframe width="359" height="299" scrolling="no" src="/front-ads/<?php echo $this->encrypt($this->url()); ?>/<?php echo $this->encrypt(3); ?>/<?php echo $this->encrypt(0); ?>"></iframe>
                </div>
            </div>
            <div class="block visit"> <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/images/pic.jpg" class="image" />
                <div class="content">
                    <h2>Visit Liberty-Ellis Island</h2>
                    <p>Lorem ipsum dolor sit amet pellentesque amir.</p>
                    <a href="#" class="more">Plan your trip</a> </div>
            </div>
        </div>
    </div>
</section>