<?php
    $translator = $this->jsLangTranslate;
    $var = '';
    if(is_array($this->jsLangTranslate))
    {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
    $var .= 'var blog_id = "'. $blog_id. '";';     
    $var .=' var encrypt_blog_id="'.$encrypt_blog_id.'";';
    $var .=' var encrypted_source_type_id="'.$encrypted_source_type_id.'";';
    $var .=' var module_name="'.$module_name.'";';
    $var .=' var mode="'.$mode.'";';    
    
	$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/blog/blog.detail.js?v='.$this->layout()->getVariable('jsVersion'))
						 ->prependFile($this->layout()->getVariable('jsFilePath').'/js/tinymce/tinymce.min.js?v='.$this->layout()->getVariable('jsVersion'))
					     ->prependScript($var);
?>
<div class="create-contacts">
	<h2><?php echo $translator['L_BLOG'];?></h2>
   <div class="accordion-detail  m-t-20">
	<ul class="edit-link">
		<li><a onclick="getBlogDetail()" id="tab-1" href="javascript:void(0);" class="active"><?php echo $translator['L_DETAILS']; ?></a></li>
		<li><a href="javascript:void(0);" onclick="editBlogDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
		<li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-2"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
	</ul>            
	<div class="accordion-detail">
		<div id="blogContent"></div>
	</div>
   </div>  
</div>