<?php
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= ' blog_tags ' . '= ["' . $this->tags . '"];';
$var .= 'var blog_id = "' . $blog_id . '";';

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/blog/blog.blog.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/blog/blog.edit.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependFile($this->layout()->getVariable('jsFilePath').'/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?> 
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="create-contacts">
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_BLOG_INFO']; ?></span></div>
        <?php
        $form = $this->edit_blog_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formRow($form->get('blog_id'));
        ?>
        <div class="detail-section">
            <div class="common-form block">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('blog_title')); ?>
                        <input type="hidden" name="content_url_hidden" id="content_url_hidden" value="0">

                        <div id="success_message" class="success-msg" style="display:none"></div>
                        <div id="error_message" class="error-msg" style="display:none"></div>
                        <span class="age-year"><span class="red">*</span> <?php echo $translator['L_TITLE_MUST_BE_UNIQUE']; ?></span>
                    </div>

                    <div class="col1 right">
                        <label><?php echo $translator['L_STATUS']; ?></label>
                        <div class="col2">
                            <?php echo $this->formRow($form->get('status')); ?>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_CATEGORY']; ?></label>
                        <?php
                        echo $this->formRow($form->get('category_id'));
                        foreach ($blogCategoriesDescription AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='category" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                    <div class="col1 right">

                        <label><?php echo $translator['MAIN_IMAGE']; ?></label>
                        <?php echo $this->formRow($form->get('main_image')); ?>
                        <?php echo $this->formRow($form->get('main_image_hidden')); ?>
                        <?php echo $this->formRow($form->get('new_image_hidden')); ?>
                        <div class="full m-t-5">
                            <img src="<?php echo $blog_image_path; ?>" alt="" class="left">
                            <div id="main_image_msg"></div>
                        </div>

                    </div>
                </div>  


                <div class="row" id="ck-editor">

                    <label><?php echo $translator['L_CONTENT']; ?> <span class="red">*</span> </label>
                    <span class="left"><?php echo $this->formRow($form->get('blog_content')); ?></span>
                </div>


                <div class="row">
                    <div class="col1" id="search_blog">
                        <label><?php echo $translator['L_SELECT_TAG']; ?></label>
                        <?php echo $this->formRow($form->get('tag')); ?>
                        <?php echo $this->formRow($form->get('tag_id')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_FEATURED']; ?></label>
                        <div class="col2">
                            <?php echo $this->formRow($form->get('is_featured')); ?>
                            <label for="is_featured" class="check">&nbsp;</label>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_PUBLISH_DATE_TIME']; ?><span class="red">*</span></label>

                        <?php echo $this->formRow($form->get('publish_date')); ?>                   
                        <label class="auto">&nbsp;</label>
                        <?php echo $this->formRow($form->get('publish_time')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_AUTHOR_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('author_name')); ?>
                    </div>
                </div>				
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>                  
                    <?php echo $this->formRow($form->get('update')); ?>
                    <?php echo $this->formRow($form->get('updateandpublish')); ?>
                    <?php echo $this->formRow($form->get('cancel')); ?>                  
                </div>				
            </div>
        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>