<?php
    $translator = $this->jsLangTranslate;

    $var = '';
    if (is_array($this->jsLangTranslate)) {
        foreach ($jsLangTranslate as $key => $val) {
            $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        }
    }
	$script = <<<JS
$(function(){
	setTimeout("$('.e2').customInput();",1000);
});
JS;
	echo $this->inlineScript()->prependScript($var)
							  ->prependScript($script);
?>
 
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>

<div class="head no-img"><span><?php echo $translator['L_BLOG_INFO']; ?></span></div>

<div class="detail-section">
    <div class="common-form block">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_TITLE']; ?></label>
                <label class="auto"><?php echo $blog_data['blog_title']; ?></label>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_STATUS']; ?></label>
                <label class="auto"><?php echo $blog_data['is_published']==1?'Published':'Not Published'; ?></label>
            </div>
        </div>
        
        <div class="row">

            <div class="col1">
                <label><?php echo $translator['L_CATEGORY']; ?></label>
                <label class="auto"><?php echo $blog_data['category_name']; ?></label>
            </div>
            
            <div class="col1 right">
                <div class="view-row no-padd"> <strong><?php echo $translator['MAIN_IMAGE'];?></strong><br>
                    <div class="full">
                        <div class="col5"><img src="<?php echo  $blog_image_path; ?>" alt="" class="left"> </div>
                    </div>                
                </div>
            </div>
            
            
            
            
        </div>

        <div class="row">
            <label ><?php echo $translator['L_CONTENT']; ?></label>
            <label class="content-col">
                <?php echo $blog_data['blog_content']; ?>
            </label>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_TAGS']; ?></label>
                <label class="auto"><?php echo $blog_tags; ?></label>

            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_FEATURED']; ?></label>
                <div class="col2">
                    <input name="isFeatured" disabled id='isFeatured' type="checkbox" value="<?php echo $blog_data['is_featured']; ?>" <?php echo $blog_data['is_featured'] == 1?'checked':''; ?>  class="e2 checkbox">
                    <label for="isFeatured" class="check">&nbsp;</label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col1">
                <label><?php echo $translator['L_PUBLISH_DATE_TIME']; ?></label>

                <label class="auto"><?php echo $this->Dateformatalpha($blog_data['publish_date'],'dateformatampm'); ?></label>
            </div>
            <div class="col1 right">
                <label><?php echo $translator['L_AUTHOR_NAME']; ?></label>
                <label class="auto"><?php echo $blog_data['author_name']; ?></label>
            </div>
        </div>


    </div>
</div>