<div class="inner-header">
    <h1><?php echo $translator['L_BLOG']; ?></h1>
</div>

<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="blog-left" >
                <!-- post -->
                <div class="blog-content" >
                    <h1><?php echo stripslashes($blogPostData[0]['blog_title']); ?></h1>
                    <div class="blog-top-row">
                        <div class="span-by">by <strong><?php echo $blogPostData[0]['author_name']; ?></strong>
                            <br>
                            category: <strong><?php echo $blogPostData[0]['category_name']; ?></strong>
                        </div>
                        <div class="span-date"><?php echo $this->Dateformatalpha($blogPostData[0]['publish_date'], 'displaymonthformat'); ?></div>
                    </div>
                    <?php if (isset($blogPostData[0]['blog_image']) && !empty($blogPostData[0]['blog_image']) && file_exists($blog_image_exist . $blogPostData[0]['blog_image'])) { ?>
                        <div class="post-image">

                            <img src="<?php echo $blog_image_path . $blogPostData[0]['blog_image']; ?>">
                        </div><?php } ?>
                    <p><?php echo stripslashes($blogPostData[0]['blog_content']); ?></p>
                </div >
                <p>
                    <?php
                    if (isset($blogPostDataPre['blog_id']) && !empty($blogPostDataPre['blog_id'])) {
                        ?>
                        <a href='/blog/<?php echo $this->Encrypt($blogPostDataPre['blog_id']); ?>' class='button green left semibold'>&lt; &nbsp; Previous</a>
                        <?php
                    }
                    if (isset($blogPostDataNxt['blog_id']) && !empty($blogPostDataNxt['blog_id'])) {
                        ?>
                        <a href='/blog/<?php echo $this->Encrypt($blogPostDataNxt['blog_id']); ?>' class='button float-right green semibold'> Next &nbsp; &gt; </a>
                        <?php
                    }
                    ?>
                </p>
            </div>
            <div class="blog-right">
                <div class="blog-right-search">
                    <?php
                    $form = $this->SearchFrontBlogsForm;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>

                    <?php echo $this->formRow($form->get('title')); ?>
                    <?php echo $this->formRow($form->get('search')); ?>

                </div>
                <div class="blog-right-section">
                    <h1>Categories</h2>
                        <ul>
                            <?php
                            foreach ($blogCategoriesData as $key => $val) {
                                ?>
                                <li><a href="/blog-list/<?php echo $this->Encrypt($val['category_id']); ?>"><?php echo $val['category_name']; ?></a></li>
                            <?php } ?>
                        </ul>
                </div>
                <div class="blog-right-section">
                    <h1>FEATURED POSTS</h1>
                    <?php
                    if (isset($blogFeaturedData) && !empty($blogFeaturedData)) {
                        foreach ($blogFeaturedData as $key => $val) {
                            ?>
                            <div class="right-section-frame">
                                <div class="frame-image"><img src="<?php echo $blog_image_path . $val['blog_image']; ?>"></div>
                                <div class="frame-image-content">
                                    <a href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>"><h1><?php echo stripslashes($val['blog_title']); ?></h1></a>
                                    <p>by <strong><?php echo $val['author_name']; ?></strong></p>
                                    <p class="full"><strong><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></strong></p>
                                </div>
                            </div>
                            <?php
                        }
                    }
                    ?>

                </div>
                <div class="blog-right-section">
                    <h1>RECENT POSTS</h2>
                        <?php
                        if (isset($blogRecentData) && !empty($blogRecentData)) {
                            foreach ($blogFeaturedData as $key => $val) {
                                ?>
                                <div class = "right-section-frame">
                                    <div class = "frame-image"><img src = "<?php echo $blog_image_path . $val['blog_image']; ?>"></div>
                                    <div class = "frame-image-content">
                                        <a href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>"><h1><?php echo stripslashes($val['blog_title']); ?></h1></a>
                                        <p>by <strong><?php echo $val['author_name']; ?></strong></p>
                                        <p class="full"><strong><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></strong></p>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                        ?>
                </div>

            </div>
        </div>

    </div>
</div>