<?php
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$date = getdate();
$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/blog/front.blog.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-header">
    <h1><?php echo $translator['L_BLOG']; ?></h1>    
</div>

<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="blog-left">
                <?php
                 if (isset($blogPostData) && !empty($blogPostData)) {
                    foreach ($blogPostData as $key => $val) {
                        ?>
                        <div class="blog-content">
                            <h1><?php echo stripslashes($val['blog_title']); ?></h1>
                            <div class="blog-top-row">
                                <div class="span-by">by <strong><?php echo $val['author_name']; ?></strong>
                                    <br>
                                    category: <strong><?php echo $val['category_name']; ?></strong>
                                </div>
                                <div class="span-date"><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></div>
                            </div>
                            <div class="blog-content-frame">
                                <?php if (isset($val['blog_image']) && !empty($val['blog_image']) && file_exists($blog_image_exist . $val['blog_image'])) { ?>
                                    <div class="blog-image-box"><img src="<?php echo $blog_image_path . $val['blog_image']; ?>"></div>
                                <?php } ?>
                                <div class="blog-image-content">
                                    <p><?php
                        if (strlen($val['blog_content']) > '225') {
                            echo substr($val['blog_content'], 0, 225) . "...";
                        } else {
                            echo $val['blog_content'];
                        }
                                ?></p>
                                    <a class="blog-btn-green button" href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>">Read More</a>
                                </div>
                            </div>
                        </div> 

                        <?php
                    }
                }
                ?>
            </div>
            <div class="blog-right">
                <div class="blog-right-search">
                    <?php
                    $form = $this->SearchFrontBlogsForm;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>

                    <?php echo $this->formRow($form->get('title')); ?>
                    <?php echo $this->formRow($form->get('search')); ?>

                </div>
                <div class="blog-right-section">
                    <h1>Categories</h2>
                        <ul>
                            <?php
                            foreach ($blogCategoriesData as $key => $val) {
                                ?>
                                <li><a href="/blog-list/<?php echo $this->Encrypt($val['category_id']); ?>"><?php echo $val['category_name']; ?></a></li>
                            <?php } ?>
                        </ul>
                </div>
               
                <?php
                    echo $blogFeaturedDataHTML;
                    echo $blogRecentDataHTML;
                ?>
            </div>
        </div>
    </div>
</div>