<?php
/**
 * This view is used to search blog for admin
 * @package    Blog
 * @author     Icreon Tech - AS
 * 
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$var .= ' tags ' . '= ["' . $this->tags . '"];';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/blog/search.blog.js?v='.$this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/blog/search.save.blog.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2> <?php echo $translator['L_BLOG']; ?> </h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <p class="search-text m-t-20"><?php echo $translator['HEADER_TEXT']; ?> </p>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?> 
        <div class="head no-img"><span><?php echo $translator['FILTER_BLOG_BY']; ?></span></div>
        <?php
        $form = $this->searchBlogForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form block">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_TITLE']; ?></label>
                        <?php echo $this->formRow($form->get('title')); ?>

                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_CATEGORY']; ?></label>
                        <?php
                        echo $this->formRow($form->get('category'));
                        foreach ($blogCategoriesDescription AS $key => $val) {
                            if (isset($val) && !empty($val))
                                echo "<div class='category" . $key . "' style='display:none;'><label>&nbsp;</label><label class='info-text'>" . $val . "</label></div>";
                        }
                        ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['PUBLISH_DATE_RANGE']; ?></label>
                        <?php echo $this->formRow($form->get('publish_date')); ?>
                    </div>
                    <div class="col1 right" id="publish_date_requested" style="display:none;">

                        <label ><?php echo $translator['FROM']; ?></label>
                        <?php echo $this->formRow($form->get('date_from')); ?>
                        <label class="auto">-<?php echo $translator['TO']; ?>-</label>
                        <?php echo $this->formRow($form->get('date_to')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['STATUS']; ?></label>
                        <?php echo $this->formRow($form->get('status')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_AUTHOR_NAME']; ?></label>
                        <div class="col2">
                            <?php echo $this->formRow($form->get('author_name')); ?>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['TAG']; ?></label>
                        <?php echo $this->formRow($form->get('tag')); ?>
                        <?php echo $this->formRow($form->get('tag_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_FEATURED']; ?></label>
                        <div class="col2">
                            <?php echo $this->formRow($form->get('is_featured')); ?>
                            <label for="is_featured" class="check">&nbsp;</label>
                        </div>

                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>

        <div class="detail-section1 common-form search-row-2">
            <div class="left">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($form->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">
                <?php
                $save_search_form = $this->save_search_blog_form;
                $save_search_form->prepare();
                echo $this->form()->openTag($save_search_form);
                ?>
                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?>: </label>
                <?php echo $this->formRow($save_search_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_form->get('savebutton')); ?>
                <a href="#delete_blog_search" class="save-btn m-l-5 delete_saved_search" style="display:none;" id="deletebutton" onclick="deleteSaveSearch()">Delete</a>
                <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>

    </div>
</div>
<div class="grid-section">

    <div class="search-results">
        <h3><?php echo $translator['SEARCH_RESULTS']; ?> :</h3>
        <p><?php echo $translator['SEARCH_TEXT']; ?></p>
    </div>
    <div class="grid-box" id="gview_list">
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>

<div style='display:none'>
    <div id='delete_blog' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_MSG']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_blog_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['CONF_SEARCH_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>    