<?php
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
$date = getdate();
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/blog/front.blog.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<div class="inner-header">
    <h1><?php echo $translator['L_BLOG']; ?></h1>    
</div>

<div class="cms-outer-bg" id="contentArea">
    <div class="cms-inner-bg">
        <div class="container">
            <div class="blog-left">
                <h2><?php echo $translator['SEARCH_RESULTS']; ?></h2>
                <?php
                if (isset($blogPostData) && !empty($blogPostData)) {
                    ?>
                    <h3><?php echo count($blogPostData) . " " . $translator['CATEGORY_FOUND'] . ' "' . $blogPostData[0]['category_name'] . '"'; ?></h3>
                    <?php
                    foreach ($blogPostData as $key => $val) {
                        ?>                
                        <div class="blog-content">
                            <h1><?php echo $val['blog_title']; ?></h1>

                            <div class="blog-top-row">
                                <div class="span-by">by <strong><?php echo $val['author_name']; ?></strong>
                                    <br>
                                    category: <strong><?php echo $val['category_name']; ?></strong>
                                </div>
                                <div class="span-date"><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></div>
                            </div>
                            <?php if (isset($val['blog_image']) && !empty($val['blog_image']) && file_exists($blog_image_exist . $val['blog_image'])) { ?>
                                <div class="post-image">

                                    <img src="<?php echo $blog_image_path . $val['blog_image']; ?>">
                                </div><?php } ?>
                            <p> <?php
                if (strlen($val['blog_content']) > 450) {
                    echo substr(stripslashes($val['blog_content']), 0, 450) . "...";
                } else {
                    echo stripslashes($val['blog_content']);
                }
                            ?> </p>
                            <a class="more" href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>" title="READ More"><?php echo $translator['READ_MORE']; ?></a>
                        </div >
                        <?php
                    }
                } else {
                    ?>
                    <div class="white-bg">
                        <span class="no-record left">No Record Found</span>
                    </div>
                    <?php
                }
                ?>
            </div>
            <div class="blog-right">
                <div class="blog-right-search">
                    <?php
                    $form = $this->SearchFrontBlogsForm;
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>

                    <?php echo $this->formRow($form->get('title')); ?>
                    <?php echo $this->formRow($form->get('search')); ?>

                </div>
                <div class="blog-right-section">
                    <h1>Categories</h2>
                        <ul>
                            <?php
                            foreach ($blogCategoriesData as $key => $val) {
                                ?>
                                <li <?php if ($activeCategory == $val['category_id']) {
                                echo 'class="active"';
                            } ?>><a href="/blog-list/<?php echo $this->Encrypt($val['category_id']); ?>"><?php echo $val['category_name']; ?></a></li>
<?php } ?>
                        </ul>
                </div>
                <div class="blog-right-section">
                    <h1>FEATURED POSTS</h1>
                    <?php
                    if (isset($blogFeaturedData) && !empty($blogFeaturedData)) {
                        foreach ($blogFeaturedData as $key => $val) {
                            ?>
                            <div class="right-section-frame">
                                <div class="frame-image"><img src="<?php echo $blog_image_path . $val['blog_image']; ?>"></div>
                                <div class="frame-image-content">
                                    <a href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>"><h1><?php echo stripslashes($val['blog_title']); ?></h1></a>
                                    <p>by <strong><?php echo $val['author_name']; ?></strong></p>
                                    <p class="full"><strong><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></strong></p>
                                </div>
                            </div>
                            <?php
                        }
                    }
                    ?>

                </div>
                <div class="blog-right-section">
                    <h1>RECENT POSTS</h2>
                        <?php
                        if (isset($blogRecentData) && !empty($blogRecentData)) {
                            foreach ($blogFeaturedData as $key => $val) {
                                ?>
                                <div class = "right-section-frame">
                                    <div class = "frame-image"><img src = "<?php echo $blog_image_path . $val['blog_image']; ?>"></div>
                                    <div class = "frame-image-content">
                                        <a href="/blog/<?php echo $this->Encrypt($val['blog_id']); ?>"><h1><?php echo stripslashes($val['blog_title']); ?></h1></a>
                                        <p>by <strong><?php echo $val['author_name']; ?></strong></p>
                                        <p class="full"><strong><?php echo $this->Dateformatalpha($val['publish_date'], 'displaymonthformat'); ?></strong></p>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                        ?>
                </div>

            </div>
        </div>

    </div>
</div>