<?php
/**
 * This page is use for edit crm user
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
//echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/kiosk/kiosk.assignModule.js?v='.$this->layout()->getVariable('jsVersion'))->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  //->prependScript($var);
//echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));					      
?>
<style>
    label.custom_error, span.custom_error {
    background: url("/img/error-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    font-family: "open_sansregular";
    font-size: 12px !important;
    left: 144px;
    padding: 5px 10px 14px 11px !important;
    position: absolute;
    text-transform: uppercase;
    top: -30px;
    white-space: nowrap;
    width: auto !important;
    z-index: 999;
}
</style>

<div class="breadcrumb">
	<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
	<?php
	$form = $this->form;
	$form->setAttribute('id', 'edit_kiosk');
	$form->setAttribute('name', 'edit_kiosk');
	$form->prepare();
	echo $this->form()->openTag($form);
	?>
	<div class="head no-img"><span><?php echo $translator['L_KIOSK_MOD_MANAGEMENT'] ?></span></div>
        <div class="detail-section">
            <div class="common-form" id="module_elements">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_NAME'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('kiosk_name')); ?>
                        </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo "Status" ?><span class="red">*</span></label>
                        <?php echo (!empty($searchResult[0]['is_status']))?"<label>Available</label>":"<label>Not Available</label>"; ?> 
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_SHUT_OFF'] ?><span class="red">*</span></label>
                       <?php echo $this->formRow($form->get('kiosk_shutoff')); ?> 
                    </div>
                </div>
                
                   
            </div>
        </div>
     
	<div class="row common-form m-t-20">
		<?php echo $this->formRow($form->get('kiosk_id')); ?>
		 <?php //echo $this->formRow($form->get('csrf')); ?>                
		<?php //echo $this->formRow($form->get('submit')); ?>
		<a href="#cancel_kiosk_update" id="cancel_kiosk_update" style="display:none" onclick="cancelKiosk();" class='cancel_kiosk delete-icon save-btn m-r-5' ><?php echo $this->formRow($form->get('cancel')); ?></a>
                <input id="submitbutton" class="save-btn m-r-5" style="display:none" type="submit" value="Update" name="submit" readonly=readonly>
	</div>
	<?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='edit_password' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>

        <div class="button-row">         

        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_contact_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div> 
<div style='display:none'>
    <div id='cancel_kiosk_update' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_CANCEL']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_cancel" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_cancel" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_search_contact' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></h2>
        <div class="button-row">

            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>
<?php 
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/kiosk/kiosk.assignModule.js?v='.$this->layout()->getVariable('jsVersion'))->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
?>
<script>
    var reservationModule = false;
    var loginRegClick = 0;
    var loginReg = 0;
    var errorDiv = false;
    var forReservation = true;
    var onlyLogin = 0;
    var onlyReg = 0;
    $(function(){
        $($(".e3")).each(function(i){
        if($(this).is("[type=checkbox],[type=radio]")){
            var input=$(this),
            input_class=input.attr("class").split(" ");
            input.attr({
                id:input_class["1"]+"_"+i
            });
            var label=$("label[for="+input.attr("id")+"]"),outerLabel=input.parent(),outerLabelParent=input.parent().parent(),inputType=input.is("[type=checkbox]")?"checkbox":"radio";
            if(inputType=="radio"){
                var oDiv=$(document.createElement("label")).attr({"for":input_class["1"]+"_"+i}).html($(outerLabel).text());
                $(outerLabel).remove();
                outerLabelParent.append(input,oDiv)
            }
        }
    });
    //setTimeout('$(".e3").customInput();',"3000");
  
    
     
    });
    
    function changeStatus(obj){
        var kiosk_module_id = $(obj).data("modid");
        var elementVal = parseInt($(obj).val());
        if(kiosk_module_id == 1 || kiosk_module_id == 2 ){
             loginRegClick++;
             loginReg = $(obj).val();
        }
      
        //alert($('[data-modid="3"]').val());
        if(kiosk_module_id == 3){ //console.log(loginRegClick);console.log(loginReg);
            if(loginRegClick >=0){
                //Clicked but error div not added
                if(loginReg == 0 && elementVal !=0 ){
                    errorDiv = true;
                    var nextobj = $("#"+obj.id).next();
                    if(nextobj[0].className == "custom_error"){
                        $("#"+obj.id).next().remove();
                    }
                    $('<label for="'+obj.id+'" generated="true" class="custom_error" style="display:block">Please first enable Login or Registration Module.</label>' ).insertAfter("#"+obj.id);
                return false;
                }else{ errorDiv = false;
                    var nextobj = $("#"+obj.id).next();
                    if(nextobj[0].className == "custom_error"){
                        $("#"+obj.id).next().remove();
                    }
                    //console.log(nextobj[0].className);
                }
            }else{//if already checked and saved in database
                if(reservationModule == false && elementVal !=0 ){
                    errorDiv = true;
                    var nextobj = $("#"+obj.id).next();
                    if(nextobj[0].className == "custom_error"){
                        $("#"+obj.id).next().remove();
                    }
                $('<label for="'+obj.id+'" generated="true" class="custom_error" style="display:block">Please first enable Login or Registration Module.</label>' ).insertAfter("#"+obj.id);
                  return false;
              }else{
                  errorDiv = false;
                  var nextobj = $("#"+obj.id).next();
                  if(nextobj[0].className == "custom_error"){
                        $("#"+obj.id).next().remove();
                    }
                }
           }
           
        }
        
        var textLabel = new Array();
        textLabel = obj.id.split("_");
	//obj.next().find(".checked");
	$(obj).next().addClass("checked");
        var textname = "available";
        if(textLabel[0] =="available"){
            textname ="notavailable"  
        }
        $("#label_"+textname+"_"+textLabel[1]).removeClass("checked");
    }
    function changeStatusChild(obj){
        var textLabel = new Array();
        textLabel = obj.id.split("_");
	//obj.next().find(".checked");
	var kiosk_module_id = $(obj).data("modid");
        $(".label_"+kiosk_module_id).each(function(i, objchld) {
            //if($(this).hasClass('checked') == false){
                $(this).removeClass("checked");
            //}
        });
        $(obj).next().addClass("checked");
    }
    
    </script>