<?php
/**
 * This file is used to get crm user record
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$timeFormat = array(1=>"AM",2=>"PM");
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/kiosk/kiosk.modules-edit.js?v='.$this->layout()->getVariable('jsVersion'))
?>

<div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
<div class="accordion-detail">

            <div class="head no-img"><span><?php echo $translator['L_KIOSK_INFO'] ?></span></div>
            <div class="detail-section">
            <div class="common-form" id="kioskmodulesinfo">
                <div class="view-row">
                    <div class="col1">
                        <label class="no-padd"><strong><?php echo $translator['L_KIOSK_NAME'] ?></strong></label>
                        <?php echo $this->searchResult['kiosk_name']; ?>
                     </div>
                </div>
                <div class="view-row">
                    <div class="col1">
                        <label class="no-padd"><strong><?php echo $translator['L_STATUS'] ?></strong></label>
                        <?php echo empty($this->searchResult['is_status'])?"Not Available":"Available"; ?>
                     </div>
                </div>
               <div class="view-row">
                    <div class="col1">
                        <label class="no-padd"><strong><?php echo $translator['L_KIOSK_SHUTOFF_TIME'] ?></strong></label>
                       <?php 
                        if(is_array($kioskShutoff)){
                        echo $kioskShutoff[0]." ".$timeFormat[$kioskShutoff[1]]; 
                        }else{echo "Never"; } ?>
                    
                    </div>
                </div>
               
            </div>
        </div>
        
     </div>
