<?php
/**
 * This page is used for crm user detail
 * @package    User
 * @author     Icreon Tech - AP
 */

$translator = $this->jsLangTranslate;
//echo $id;die;
$var = '';
$this->inlineScript()->captureStart();
if(is_array($this->jsLangTranslate))
{
	foreach ($jsLangTranslate as $key => $val) {
	    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
	}
}
$var .=' var id="'.$id.'";';
//$var .=' var encrypt_case_contact_id="'.$encrypt_case_contact_id.'";';
$var .=' var moduleName="'.$moduleName.'";';
$var .=' var mode="'.$this->mode.'";';
echo $var;
$this->inlineScript()->captureEnd() ;
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath').'/js/kiosk/kiosk.modules.details.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts case">
        <h2><?php echo $translator['L_KIOSK'];?></h2>
        <div class="accordion-detail">
            <div id="pageAction">
              <ul class="edit-link m-t-20">
                <li><a href="javascript:void(0);" onclick="viewCrmUserDetails()" class="active" id="tab-1"><?php echo $translator['L_DETAILS']; ?></a></li>
                <li><a href="javascript:void(0);" onclick="editCrmUserDetails()" id="tab-2"><?php echo $translator['L_EDIT']; ?></a></li>
                <li><a href="javascript:void(0);" onclick="viewChangeLog()" id="tab-6"><?php echo $translator['L_CHANGE_LOG']; ?></a></li>
              </ul> 
            </div>
            <div id="userContent"></div>
        </div>
     </div>
