<?php
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
//$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/crm.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_KIOSK_MANAGEMENT'] ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        <div id="successRow" class="success-msg row" style="display:none;"></div>

        <div class="head no-img"><span><?php echo $translator['L_KIOSK_MANAGEMENT'] ?></span></div>
        <?php
        $kioskForm = $this->kioskForm;
        $kioskForm->prepare();
        echo $this->form()->openTag($kioskForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row"> <a href="/kiosk" class="save-btn m-r-10">Kiosk List</a></div>
                <div class="row">
                    <div class="col1">
 
                        <?php echo $this->formRow($kioskForm->get('status')); ?>
                    </div>
                    
                    <div class="col1 right">
                        <label><?php //echo $translator['L_ROLE'] ?></label>
                        <?php echo $this->formRow($kioskForm->get('name_or_ip')); ?>
                    </div>

                </div>
                <div class="row">
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($kioskForm->get('submit')); ?>
                    </div>
                </div>

            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
       

    </div>
</div>
<div class="grid-section">

    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
        <div class="kiosk-btm-grid">
          <label><img alt="" src="img/available.png">Available</label>
          <label><img alt="" src="img/not-available.png">Not Available</label>
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user_search' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2>Are you sure you want to delete this search?</h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>

<div style='display:none'>
    <div id='delete_crm_user' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['L_DELETE_CRM_USER'] ?></h2>

        <div class="button-row">         

        </div>
    </div>
</div>
<script>
  $(function(){
 var colName = [<?php echo $colName;?>];
 var colMoldels =[<?php echo $colModelNames;?>];
$.jgrid.no_legacy_api=true;
$.jgrid.useJSON=true;
var grid=jQuery("#list"),emptyMsgDiv=$('<div class="no-record-msz">'+NO_RECORD_FOUND+"</div>");
$("#list").jqGrid({
    postData:{
        searchString:$("#kioskmodulesearch").serialize()
        },
    mtype:"POST",
    url:"/get-search-kiosk-modules",
    datatype:
    "json",
    sortable:true,
    colNames:colName,
    colModel:colMoldels,
    sortname:"kiosk.kiosk_id",
    sortorder:"DESC",
    rowNum:10,
    rowList:[10,20,30],
    pager:"#pcrud",
    multiselect:false,
    viewrecords:true,
    autowidth:true,
    shrinkToFit:true,
    caption:"",
    width:"100%",
    cmTemplate:{
        title:false
    },
    loadComplete:function(data){
        hideAjxLoader();
        var count=grid.getGridParam(),ts=grid[0];
        if(ts.p.reccount===0){
            grid.hide();
            emptyMsgDiv.show();
            $("#pcrud_right div.ui-paging-info").css("display","none")
            }else{
            grid.show();
            emptyMsgDiv.hide();
            $("#pcrud_right div.ui-paging-info").css("display","block")
            }
        var ids=jQuery("#list").jqGrid("getDataIDs");
        for(var i=0;i<ids.length;i++){
            var rowId=ids[i],rowData=jQuery("#list").jqGrid("getRowData",rowId),userRole=rowData.Role;
            if(userRole=="Super Admin"){
                $("#jqg_list_"+rowId).prop("checked",false);
                $("#jqg_list_"+data.rows[i].id).attr("disabled",true)
                }
            }
        },
onSelectAll:function(aRowids,status){
    if(status){
        for(var i=0;i<aRowids.length;i++){
            var rowId=aRowids[i],rowData=jQuery(
                "#list").jqGrid("getRowData",rowId),userRole=rowData.Role;
            if(userRole=="Super Admin")$("#"+rowId).removeClass(
                "ui-state-highlight")
            }
            var cbs=$("tr.jqgrow > td > input.cbox:disabled",grid[0]);
        cbs.removeAttr("checked");
        grid[0].p.
        selarrrow=grid.find("tr.jqgrow:has(td > input.cbox:checked)").map(function(){
            return this.id
            }).get()
        }
    },
onCellSelect: function(rowid,iCol,cellcontent,e){
    var rowData=jQuery("#list").jqGrid("getRowData",rowid),userRole=rowData.Role;
    if(userRole=="Super Admin"){
            $("#"+grid+" tr#"+rowid).css("background","none");
            $("#"+grid+" tr.jqgrow:odd").css("background","#DDDDDC")
        }
    }
});
emptyMsgDiv.insertAfter(grid.parent());
emptyMsgDiv.hide();
$("#list").jqGrid("navGrid","#pcrud",{
    reload:
    true,
    edit:false,
    add:false,
    search:false,
    del:false
});
/*$("#list").jqGrid("navButtonAdd","#pcrud",{
    caption:"",
    title:"Export",
    id:"exportExcel",
    onClickButton:function(){
        exportExcel("list","/get-search-kiosk")
        },
    position:"last"
});*/
});
$("#submitbutton").click(function(){
    $("#success_message").hide();
    $("#successRow").hide();
    showAjxLoader();
    jQuery("#list").jqGrid("setGridParam",{
        postData:{
            searchString:$("#kioskmodulesearch").serialize()
            }
        });
jQuery("#list").trigger("reloadGrid",[{
    page:1
}]);
window.location.hash="#save_search";
hideAjxLoader();
    return false
    });
    </script>