<?php
/**
 * This page is use for create new contact in popup
 * @package    User
 * @author     Icreon Tech - DT
 */
$translator = $jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();

foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;

$this->inlineScript()->captureEnd();

$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.woh.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<style>
.pop-container .row label{margin-bottom:0px;}
</style>
<div class="pop-container">
    <h3><?php echo $translator['EDIT_WOH_ENTRIES']; ?></h3>
    <div class="popup-form create-contacts create-new-contact-popup common-form">
        <div id="success_message"  style="display:none;">
            <div class="success-msg">Woh Record Updated Successfully.</div>						
			<div class="m-t-10 full"><input type="button" value="Close" name="no" id="close_confirm" class="cancel-btn"></div>
        </div>
        <?php
        $form = $this->edit_woh_entry;
        $form->prepare();
        echo $this->form()->openTag($form); ?>
        <div class="col1">
            <div class="row">
                <label><?php echo $translator['WOH_HEADING_PANEL']; ?></label>
                <?php echo $this->formRow($form->get('panel_number')); ?> 
                <?php echo $this->formRow($form->get('woh_id')); ?>
            </div>
            <div class="common-form p-b-30 p-t-10 full center-align"> <?php echo $this->formRow($form->get('update_entry')); ?></div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>


