<?php
/**
 * This file is used for create transaction search user page
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.woh.bulk.panel.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['WOH_HEADING_TRANSACTIONS']; ?></h2>
	<div class="breadcrumb"> <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?> </div>

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['WOH_HEADING_BULK_ASSIGNMENT']; ?></span></div>
        <?php
         $form = $this->searchWohForm;
        $form->prepare();
         echo $this->form()->openTag($form);
        ?>
        
     <!--div class="head no-img"><span><?php echo $translator['WOH_HEADING_LIST_BULK_PLEASE_SELECT_YEAR']; ?></span></div-->    
    <div class="detail-section">
      <div class="common-form">
          <div class="row">
               <div class="col1">
                        <label><?php echo $translator['WOH_HEADING_LIST_BULK_UPLOAD_PANEL_YEAR']; ?></label>
                        <?php echo $this->formRow($form->get('select_year')); ?>

                 </div>
				 <div class="col1 right">
                        <label>&nbsp;</label>
                        <span id="spanFownloadFileLink"  class="save-btn"><?php echo $translator['WOH_HEADING_BULK_ASSIGNMENT_DOWNLOAD_SELECTED_YEAR']; ?></span>
                       <a id="hrefDownloadFileLink" href="" class="save-btn" style="display: none;"><?php echo $translator['WOH_HEADING_BULK_ASSIGNMENT_DOWNLOAD_SELECTED_YEAR']; ?></a>
                 </div>
				  </div>
        </div>
    </div>
			
	
     
    <div class="head no-img"><span><?php echo $translator['WOH_HEADING_BULK_ASSIGNMENT_IMPORT_FILE']; ?></span></div>    
    <div class="detail-section">
        <div class="common-form">
              
                <div class="row no-padd">
                 <div class="col1">
				  <label>&nbsp;</label>
                     <label class="auto"><?php echo $translator['WOH_HEADING_LIST_BULK_UPLOAD_PANEL']; ?></label>
                 </div>
                </div>
                <div class="row no-padd">
                     <div class="col1">
                            <label><?php echo $translator['WOH_HEADING_LIST_BULK_UPLOAD_PANEL_SELECT_FILE']; ?></label>
                                   <?php echo $this->formRow($form->get('upload_panel_entries')); 	?>
                                                                      
                      </div>
					  <div class="row">
                     <div class="col1">
					  <label>&nbsp;</label>
					   <span id="success_message"  class="success-msg" style="display:none;"></span>
                                    <span id="error_message" style="display:none;" class="error-msg"></span> 
									</div>
									</div>
                </div>
         </div>
     </div>
	  <?php echo $this->form()->closeTag(); ?>		
			
		</div>
	</div>

