<?php
/**
 * This file is used for create transaction search user page
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/transaction/transaction.woh.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['WOH_HEADING_TRANSACTIONS']; ?></h2>
    <div class="breadcrumb width85">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <a href="/woh-bulk-panel-assignment" class="link right"><?php echo $translator['WOH_HEADING_BULK_ASSIGNMENT_BULK_ASSIGNMENT_LINK']; ?></a>
    <div class="accordion-detail">

        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div class="head no-img"><span><?php echo $translator['WOH_HEADING']; ?></span></div>
        <?php
        $form = $this->searchWohForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['WOH_HEADING_NAME_EMAIL']; ?></label>
                        <?php echo $this->formRow($form->get('name_or_email')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['WOH_HEADING_HONOREE_NAME']; ?></label>
                        <?php echo $this->formRow($form->get('honoree_name')); ?>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['WOH_HEADING_TRANSACTION']; ?></label>
                        <?php echo $this->formRow($form->get('transaction_id')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['WOH_HEADING_TRANSACTION_DATE']; ?></label>

                        <span style="float: left; width: 32%;"><?php echo $translator['WOH_HEADING_FROM']; ?> : <?php echo $this->formRow($form->get('transaction_date_from')); ?></span>	
                        <span style="float: left; width: 23%;"><?php echo $translator['WOH_HEADING_TO']; ?> : <?php echo $this->formRow($form->get('transaction_date_to')); ?></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['WOH_HEADING_PANEL']; ?></label>
                        <?php echo $this->formRow($form->get('panel_number')); ?>
                    </div>
                    <div class="col1 right woh-assigned">
                        <label style="padding-top:3px;"><?php echo $translator['WOH_HEADING_PANEL_ASSIGNED']; ?></label>
                        <?php echo $this->formRow($form->get('panel_assigned')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['APPROVAL_REQ']; ?></label>
                        <?php echo $this->formRow($form->get('approval_required')); ?>
                    </div>
					 <div class="col1 right woh-assigned">
                        <label><?php echo "Item Status"; ?></label>
                       <?php echo $this->formRow($form->get('item_status')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('searchbutton')); ?>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>


    </div>
</div>
<div class="grid-section">
    <div style="margin-bottom:10px;">&nbsp;</div>
    <div class="grid-box" id="gview_list">
        <table id="list_woh_entries"></table>
        <div id="listwohentries"></div>
    </div>
</div>

