<?php
/**
 * This page is use for edit crm user
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}

echo $this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/kiosk/kiosk.assignModule.js?v='.$this->layout()->getVariable('jsVersion'))
						  ->prependScript($var);
					      
?>
<div class="breadcrumb">
	<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="accordion-detail">
	<?php
	$form = $this->form;
	$form->setAttribute('id', 'edit_kiosk');
	$form->setAttribute('name', 'edit_kiosk');
	$form->prepare();
	echo $this->form()->openTag($form);
	?>
	<div class="head no-img"><span><?php echo $translator['L_KIOSK_MOD_MANAGEMENT'] ?></span></div>
        <div class="detail-section">
            <div class="common-form" id="module_elements">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_NAME'] ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('kiosk_name')); ?>
                        </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_SHUT_OFF'] ?></label>
                        <?php echo $this->formRow($form->get('kiosk_shutoff')); ?>
                    </div>
                </div>
<!--                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_MOD_LOGIN'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_login')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_MOD_REG'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_registration')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_MOD_RES'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_reservation')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_PASS_SRCH'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_passenger_search')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_FUN_FACT'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_fun_facts')); ?></span>
                    </div>
                </div>
				<div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_FOF_SEARCH'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_fof_wall')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_FOF_SEARCH'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_fof_search')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_WOH'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_woh')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_GIFT_SHOP'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_gift_shop')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_GIFT_HELP'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_gift_help')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_WAYFIND'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_wayfinding')); ?></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_KIOSK_PROMO'] ?><span class="red">*</span></label>
                       <span class="radio-label"><?php //echo $this->formRow($form->get('module_promo')); ?></span>
                    </div>
                </div>-->
                   
            </div>
        </div>
     
	<div class="row common-form m-t-20">
		<?php echo $this->formRow($form->get('kiosk_id')); ?>
		 <?php //echo $this->formRow($form->get('csrf')); ?>                
		<?php //echo $this->formRow($form->get('submit')); ?>
		<a href="#cancel_kiosk_update" onclick="cancelKiosk();" class='cancel_kiosk delete-icon save-btn m-r-5' ><?php echo $this->formRow($form->get('cancel')); ?></a>
                <input id="submitbutton" class="save-btn m-r-5" type="submit" value="Update" name="submit" readonly=readonly>
	</div>
	<?php echo $this->form()->closeTag(); ?>
</div>
<div style='display:none'>
    <div id='edit_password' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>

        <div class="button-row">         

        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_contact_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div> 
<div style='display:none'>
    <div id='cancel_kiosk_update' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_CANCEL']; ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_cancel" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_cancel" class="green-btn">
        </div>
    </div>
</div>
<div style='display:none'>
    <div id='delete_search_contact' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></h2>
        <div class="button-row">

            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>