<?php
/**
 * This file is used to list crm users
 * @package    User
 * @author     Icreon Tech - AP
 */
$translator = $jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
$this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/kiosk/kiosk-management.css?v='.$this->layout()->getVariable('cssVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/kiosk/kiosk.reservation.not_paid_queue.js?v='.$this->layout()->getVariable('jsVersion'));

?>

<div class="create-contacts">
<!--     <h2><?php echo $translator['L_CURRENT_TIME'].": ".$currentTime; ?></h2>-->
      <h2><?php echo $translator['L_CURRENT_TIME'].": ";?><span id="currTime"></span><span id="timeapmp"></span></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>

    </div>
    <form method="post" action="">
        <input type="hidden" name="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
    </form>
    <div class="accordion-detail">
        <?php
        if (!empty($messages)) {
            foreach ($messages as $message) {
                echo '<div id="success_message" class="success-msg">';
                echo "<div>" . $message . '</div>';
                echo '</div>';
            }
        }
        ?>          
        <div id="successRow" class="success-msg row" style="display:none;"></div>

<!--        <div class="head no-img"><span><?php echo $translator['L_KIOSK_RESERVATION'] ?></span></div>-->

        <?php
        $searchForm = $this->searchForm;
        $searchForm->prepare();
        echo $this->form()->openTag($searchForm);
        ?>
        <div class="detail-section">
            <div class="common-form">
                
                 <div class="row">
                    <label><?php echo $translator['QUEUE_ID'] ?></label>
                    <?php echo $this->formRow($searchForm->get('queue_id')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_CONTACT'] ?></label>
                        <?php echo $this->formRow($searchForm->get('contact')); ?>
                </div>
               <div class="row">
                    <div class="col1 right">
                        <label class="no-padd">&nbsp;</label>
                        <?php echo $this->formRow($searchForm->get('submit')); ?>
                    </div>
               </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
  </div>
</div>
<div class="grid-section">
    <div class="grid-section">
        <div class="grid-box" id="gview_list">
            <table id="list"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div>
</div>


<!-- <div class='success_msg' style='display:none'>
    <div class="pop-container">
        <h2><?php echo "Confirmation of Payment" ?></h2>
        <p>#<span id="queue_id"></span><span id="name_id"></span><span id="country_id"></span> has been assigned to <span id="kiosk_id"></span><br>
        at <span id="time_id"></span><br />
        Please inform them they should be back watching the board at <span id="time_from"></span> to
        <span id="time_to"></span></p>
        
        <div class="button-row">
            <input type="button" value="Close" name="no" id="close_save" class="blue-btn m-r-10">
            <!-- <input type="button" value="No" name="no" id="no_delete_search" class="green-btn"> -->
         <!-- </div>

    </div>
</div> -->

<div class='success_msg assign_contact_kiosk' style='display:none'  id="printData">
    <div class="pop-container">
        <h2><?php echo "Confirmation of Payment" ?></h2>
        <p><span id="name_id"></span> has been assigned to <br /> <span id="kiosk_id"></span><br>
        and time slot is <span id="time_id"></span><br />
		and confirmation code is <span id="confirmation_code" style="font-family:consolas;font-size:17px;"> </span>.
		Please note this code.
        </p>
        <div class="button-row">
            <input type="button" value="Ok" name="no" id="close_save" class="blue-btn m-r-10">
            <!-- <input type="button" value="No" name="no" id="no_delete_search" class="green-btn"> -->
        </div>

    </div>
</div>


<div style='display:none'>
    <div id='delete_search_contact' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['ARE_U_SURE_DELETE_RECORD']; ?></h2>
        <div class="button-row">

            <input type="button" value="Yes" name="yes" id="yes_delete_search" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_search" class="green-btn">
        </div>
    </div>
</div>

<div id="mark_print_slip_credit_card" style="display:none;">
<style>
@page  
{ 
    size: 450px;   / auto is the initial value / 

    / this affects the margin in the printer settings / 
    margin: 1mm 1mm 1mm 1mm;  
} 

body  
{ 
    / this affects the margin on the content before sending to printer / 
    margin: 0px;  
    
}
</style>
 <table width="300" cellpadding="2" cellspacing="2">
  <tr>
   <td align="left" style="padding:3px 15px 15px;" colspan="2"><img src="<?php echo $this->layout()->getVariable('imageFilePath')?>/img/print_logo.jpg" border="0" alt=""></td>
  </tr>
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation</td>
  </tr>
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" width="50%">Date:</td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"> <?php echo $this->Dateformatalpha(date('Y-m-d'),'slashdateformatampm')?> 
    <?php echo $this->Dateformatalpha(date('H:i:s'),'slashdateformatampmtime')?>
   </td>
  </tr>
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Thank you for your payment.</td>
  </tr>  
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Name: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><span id="p_name_id"></span></td>
  </tr>
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Kiosk: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><span id="p_kiosk_id"></span></td>
  </tr>
   <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Time Slot: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><span id="p_time_id"></span></td>
  </tr>
  <tr>
   <td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial">Confirmation Number: </td><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial"><span id="p_confirmation_code"></span></td>
  </tr>
  
  <!-- <tr id="card_payment_info"><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">I agree to pay the above Total Amount according to Card Issuer Agreement</td></tr> -->
  
  <tr><td colspan="2"><hr></td></tr>
  <tr><td align="center" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">Donate</td></tr>
  <tr><td align="left" style="padding:3px 15px; color:#000; font-size:12px; font-family:arial" colspan="2">The Statue of Liberty - Ellis Island Foundation is a non-profit that depends on your support! Please help us to preserve these monuments for generation to come. You can make your contribution today at www.libertyellisfoundation.org/donate
  </td>
 </table>
</div>


<?php
$date = new DateTime();
//asd($date);
$current_timestamp = $date->getTimestamp();
?>
<script>
   function showTimer(){
        var time = new Date();
        //var time = new Date(<?php echo $current_timestamp; ?>*1000);
        var hr = time.getHours()
        var min = time.getMinutes()
        var sec = time.getSeconds()
    
//        var hr = <?php echo date('H');?>;
//        var min = <?php echo date('i');?>;
//        var sec = <?php echo date('s');?>;
        
        var ampm = " PM "
        if (hr < 12){
        ampm = " AM "
        }
        if (hr > 12){
            hr -= 12
        }
        if (hr < 10){
        hr = " " + hr
        }
        if (min < 10){
        min = "0" + min
        }
        if (sec < 10){
        sec = "0" + sec
        }
        document.getElementById('currTime').innerHTML = hr + ":" + min + ":" + sec
        document.getElementById('timeapmp').innerHTML = ampm
        //document.getElementById('currTime').innerHTML = h+":"+m+":"+s;
        //setTimeout("clock()", 1000)
        }
    $(function(){
        var myVar=setInterval(function(){showTimer()},1000);
        var currentTime = new Date();
        //var timeVar = setTimeout("clock()", 1000);
        
        //window.onload=clock;
    });
</script>
