<?php
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/cms/addAds.js?v='.$this->layout()->getVariable('jsVersion'));
?>

<div class="create-contacts">
    <h2><?php echo $translator['L_ADS_HEADING']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="accordion-detail">
        <?php
        $form = $this->adForm;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_ADS_BASIC_INFO']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ADS_TITLE']; ?> <span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('ad_title')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['L_ADS_ZONE']; ?></label>
                        <?php echo $this->formRow($form->get('ad_zone_id')); ?>
                    </div>
                </div>
                
                <div class="row">               
                    <div class="full">
                        <label><?php echo $translator['L_ADS_PAGE_URL']; ?></label>
                        <?php echo '<label  style="width:auto;">' . SITE_URL . '/</label>'; ?> 
                        
		        <label class="float-left auto no-padd"><?php echo $this->formRow($form->get('page_url')); ?><br><br><span class="text p-l-5"><?php echo $translator['L_ADS_UPTO_255']; ?></span></label>
                        <div class="full"><span class="age-year"><?php echo $translator['L_ADS_PAGE_AD_ACTIVE']; ?></span></div> 
                    </div>
                </div>
                
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_ADS_AD_TYPE']; ?></label>
                        <?php echo $this->formRow($form->get('ad_type_id')); ?>
                    </div>
                </div>
                <div class="row">

                    <div class="col1">
                        <div id="Upload_Image" style="display:none;">      
                            <div>  
                                <label><?php echo $translator['L_ADS_UPLOADED_IMAGE']; ?></label>
                                <?php
                                echo $this->formRow($form->get('image_ad'));
                                echo $this->formRow($form->get('upload_file_name'));
                                ?>
                                <input id="remove_upload_image" name="remove_upload_image" type="button" style="display:none;" value="REMOVE" class="save-btn m-l-10">

                                <div class="full"><label>&nbsp;</label> <span id="filemessage"></span></div>
                            </div>

                            <div style="clear:both;" class="m-t-15 relative full">  
                                <label><?php echo $translator['L_ADS_URL_ADDRESS']; ?></label>
                                <?php echo $this->formRow($form->get('image_ad_url')); ?>
                                <div class="full m-t-5"><label>&nbsp;</label><?php echo $translator['L_ADS_UPTO_1000']; ?>&nbsp;&nbsp;</div>
                                <div class="full m-t-5">
                                    <label>&nbsp;</label>
                                    <?php echo $this->formRow($form->get('is_new_window')); ?>
                                    <label class="check" for="check-1"><?php echo $translator['L_ADS_OPEN_NEW_WINDOW']; ?></label>
                                </div>
                            </div>
                        </div>

                        <div id="Add_Text" style="display:none;">
                            <label><?php echo $translator['L_ADS_ENTER_TEXT']; ?></label>
                            <?php echo $this->formRow($form->get('text_ad')); ?>
                        </div>
                    </div>


                    <div class="col1 right">
                        <label><?php echo $translator['L_ADS_ACTIVATE_DATE']; ?></label>
                        <?php
                        echo $this->formRow($form->get('activate_date'));
                        ?>
                        <span class="age-year"><?php echo $translator['L_ADS_DATE_NOTE']; ?></span> 
                    </div>

                </div>
                <div class="row no-padd">
                    <div class="col1">
                        <label><?php echo $translator['L_ADS_END_DATE']; ?></label>
                        <?php
                        echo $this->formRow($form->get('end_date'));
                        ?>
                        <span class="age-year"><?php echo $translator['L_ADS_DATE_NOTE']; ?></span> 
                    </div>
                    <div class="col1 right">
                        <div class="full">
                            <label>&nbsp;</label>
                            <?php echo $this->formRow($form->get('is_active')); ?>
                            <label class="text check" for="is_active"><?php echo $translator['L_ADS_THIS_AD_IS_ACTIVE']; ?></label>
                            <div class="full"><span class="age-year auto"><?php echo $translator['L_ADS_THIS_AD_IS_ACTIVE_MSG']; ?></span></div>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="full">
                            <label><?php  echo $translator['L_DESCRIPTION']; ?></label>
                            <?php echo $this->formRow($form->get('description')); ?>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row common-form m-t-20 p-b-20">
            <?php
            echo $this->formRow($form->get('savebutton'));
            echo $this->formRow($form->get('cancelbutton'));
            ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>

