
<style>
body{margin:0px; padding: 0px}
.text-frame{text-align:center; cursor: pointer; }
.text-frame .right-text{font-size:18px; text-align:left;  line-height:22px; color:#1f1f1f; font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif; border:1px solid #e0e0e0; padding: 20px 20px 30px; height:239px; overflow-y:auto; overflow-x:hidden; margin:0px;}
.text-frame .footer-text{font-size:18px; text-align:left; line-height:22px; color:#ffffff; font-family:'Source Sans Pro', 'Helvetica', 'Arial', sans-serif; border:1px solid #fff; padding: 20px; height:72px; overflow-y:auto; overflow-x:hidden; margin:0px;}
</style>
<?php
    $adId  = isset($frontAdInfo['ad_id'])?$frontAdInfo['ad_id']:'';
    if($adId != '') { $adId = $this->encrypt($adId); }

    $ad_title  = isset($frontAdInfo['ad_title'])?$frontAdInfo['ad_title']:'';
    $ad_title  = isset($frontAdInfo['ad_title'])?$frontAdInfo['ad_title']:'';
    $page_url  = isset($frontAdInfo['page_url'])?$frontAdInfo['page_url']:'';
    $ad_type_id  = isset($frontAdInfo['ad_type_id'])?$frontAdInfo['ad_type_id']:'';
    $image_ad  = isset($frontAdInfo['image_ad'])?$frontAdInfo['image_ad']:'';
    $image_ad_url  = isset($frontAdInfo['image_ad_url'])?$frontAdInfo['image_ad_url']:'';
    $text_ad  = isset($frontAdInfo['text_ad'])?$frontAdInfo['text_ad']:'';
    $is_new_window  = isset($frontAdInfo['is_new_window'])?$frontAdInfo['is_new_window']:"0";
	
	$text_class = '';
	if(isset($adZoneId) and $adZoneId == "3") { $text_class = 'right-text'; }  // right
	else if(isset($adZoneId) and $adZoneId == "2") {  $text_class = 'footer-text'; } // footer
	
	
	$script = <<<EOD
function clickAdd(AdId) { 
        if(AdId != '') {
           $.ajax({
                type: 'POST',
                url: '/add-clicks-ads/'+AdId,
                success: function(response){                      		   					 
                }
            });
         }   
    }
EOD;
	
	$this->inlineScript()->prependFile($this->layout()->getVariable('jsFilePath').'/js/jquery-1.9.0.min.js?v='.$this->layout()->getVariable('jsVersion'))
							  ->prependScript($script);
 ?>
<div class="text-frame" onclick="javascript:clickAdd('<?php echo $adId; ?>');">
    <?php
    if($ad_type_id != '') {
        if($ad_type_id == '3' and $text_ad != '') {
            echo '<p class="'.$text_class.'">'.$text_ad.'</p>';
        }
        else if($ad_type_id == '1' or $ad_type_id == '2') {

            if(isset($image_ad) and trim($image_ad) != "" and file_exists($rootAdsDir.trim($image_ad))) {
                $imgDir = $adsDir.trim($image_ad);
                $strImg = '';
                if($image_ad_url != '') {
                    if($is_new_window == "1") {
                       $strImg .= '<a href = "'.$image_ad_url.'" target="_blank">';
                    }
                    else {
                       $strImg .= '<a href = "'.$image_ad_url.'" target="_parent">'; 
                    }
                }
                else {
                    $strImg .= '';
                }

                $strImg .= '<img src = "'.$imgDir.'" />';

                if($image_ad_url != '') {
                     $strImg .= '</a>';
                }

                $strImg .= '';
                echo $strImg;
            }
            else {
               if($defaultImage != '') { echo '<img src = "'.$defaultImage.'" />'; }
            }
        }
        else {
              if($defaultImage != '') { echo '<img src = "'.$defaultImage.'" />'; }
        }
    }
    else {
        if($defaultImage != '') { echo '<img src = "'.$defaultImage.'" />'; }
    }
    ?>
</div>