<?php
/**
 * This file is used for fof
 * @package    User
 * @author     Icreon Tech - NS
 */
 
$translator = $this->jsLangTranslate;
$var = '';
foreach ($translator as $key => $val) {
    $var .= '  var ' . $key . '= "' . $this->translate("$val") . '";';
}
?>
<div style="padding:25px">
<div class="create-contacts"> 
<label class="auto no-padd">
<strong>
<?php if($isActive == "1") { echo 'Published, Active'; } else  { echo 'Unpublished, Inactive'; }  ?> <?php if($activateDateMain != '' and $endDateMain != '' and $isActive == "1") { ?> during (<?php echo $activateDateMain; ?> - <?php echo $endDateMain; ?>) <?php }   if($isActive == "1") { echo '( Active )'; } else  { echo '( Inactive )'; }  if($isActive == "1" and $daysBalance != '') { echo ', '.$daysBalance; }  ?>.
</strong>
</label>
<div class="head no-img m-b-5"><span><?php echo $translator['L_ADS_STATS_ADCLICKSUNQIUECLICKS']; ?></span></div>
<table width="100%" border="0" class="table-bh">
    <tr>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_HOUR']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_TODAY']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_YESTERDAY']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_WEEK']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_MONTH']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_3_MONTHS']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_6_MONTHS']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_1_YEAR']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_ALL_TIME']; ?></th>
    </tr>
    <tr>
        <td><?php echo $dateArray[0]['AdClicks'].'/'.$dateArray[0]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[1]['AdClicks'].'/'.$dateArray[1]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[2]['AdClicks'].'/'.$dateArray[2]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[3]['AdClicks'].'/'.$dateArray[3]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[4]['AdClicks'].'/'.$dateArray[4]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[5]['AdClicks'].'/'.$dateArray[5]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[6]['AdClicks'].'/'.$dateArray[6]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[7]['AdClicks'].'/'.$dateArray[7]['UniqueClicks']; ?></td>
        <td><?php echo $dateArray[8]['AdClicks'].'/'.$dateArray[8]['UniqueClicks']; ?></td>        
    </tr>
</table>  


<div class="head no-img m-b-5"><span><?php echo $translator['L_ADS_STATS_ADIMPRESSIONSUNQIUEIMPRESSIONS']; ?></span></div>
<table  width="100%" border="0" class="table-bh">
    <tr>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_HOUR']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_TODAY']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_YESTERDAY']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_WEEK']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_LAST_MONTH']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_3_MONTHS']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_6_MONTHS']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_1_YEAR']; ?></th>
        <th><?php echo $translator['L_ADS_STATS_AD_ALL_TIME']; ?></th>
    </tr>
    <tr>
        <td><?php echo $dateArray[0]['AdImpressions'].'/'.$dateArray[0]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[1]['AdImpressions'].'/'.$dateArray[1]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[2]['AdImpressions'].'/'.$dateArray[2]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[3]['AdImpressions'].'/'.$dateArray[3]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[4]['AdImpressions'].'/'.$dateArray[4]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[5]['AdImpressions'].'/'.$dateArray[5]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[6]['AdImpressions'].'/'.$dateArray[6]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[7]['AdImpressions'].'/'.$dateArray[7]['UniqueImpressions']; ?></td>
        <td><?php echo $dateArray[8]['AdImpressions'].'/'.$dateArray[8]['UniqueImpressions']; ?></td>        
    </tr>
</table>  
</div>  
</div>  