<?php echo $this->doctype(); ?>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php echo $this->headTitle($this->translate('The Statue of Liberty &amp; Ellis Island'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <!-- styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/img/favicon.ico'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/screen.css?v='.$this->layout()->getVariable('cssVersion')) 
				->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/css3.css?v='.$this->layout()->getVariable('cssVersion'))   				
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'))->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/font-kiosk/stylesheet.css?v=' . $this->layout()->getVariable('cssVersion')) ;
        ?>
        <!-- styles -->

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
       ?>

        <?php      
        $this->inlineScript()->captureStart();
        $moduleInfo = '';
        $gridInfo = '';
        $moduleInfo .='var moduleViewName=\'' . $this->moduleViewName . '\';';
        $moduleInfo .='var controllerViewName=\'' . $this->controllerViewName . '\';';
        $moduleInfo .='var actionViewName=\'' . $this->actionViewName . '\';';
        $gridInfo .='var numPageSelect=\'' . $this->numPageSelect . '\';';
        $gridInfo .='var numRecPerPage=\'' . $this->numRecPerPage . '\';';

        $basicConfigSetting = '';
        if (!empty($this->applicationConfigIds)) {
            foreach ($this->applicationConfigIds as $configKey => $configVal) {
                $basicConfigSetting.='var ' . $configKey . '=\'' . $configVal . '\';';
            }
        }
       
        echo $moduleInfo.$gridInfo.$basicConfigSetting;
        $this->inlineScript()->captureEnd();
        ?>    
        <!-- /Script -->
    </head>
    <body>

        <div class="outer-wrapper">
			<div class="pop-container">
            <?php echo $this->content; ?>


            <?php echo $this->inlineScript() ?>
			</div>
        </div>
        <div id="ajx_loader" class="main-loader">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
        </div>
    </body>
</html>
