<?php echo $this->doctype(); ?>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/solief-favicon.ico" type="image/x-icon"/>
        <?php echo $this->headTitle($this->translate('The Statue of Liberty &amp; Ellis Island'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <!-- styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/img/favicon.ico'))
                ->prependStylesheet('/css/crm.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet('/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet('/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet('/css/jquery.timepicker.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet('/css/ui.jqgrid.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet('/css/progressbar.css?v='.$this->layout()->getVariable('cssVersion'));
        //->prependStylesheet('//css/file-upload.css?v='.$this->layout()->getVariable('cssVersion'));
        ?>
    </head>

    <body>
        <a href="#invalid_user" class="invalid_user_anchor" style="display:none;" onclick="openInvalidUserPopup()" id="invalid_user_anchor"></a>
        <div class="outer-wrapper">
            <!--starts header-->
            <section id="header">
                <h1 class="logo"><a href="javascript:void(0);"><img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/logo.png" alt=""></a></h1>
            </section>
            <?php echo $this->content; ?>
                
                            <!--body container ends-->
                            <!--starts footer-->
                            <section id="footer">
                                <p>Copyright&copy; 2000 - <?php echo date('Y') ?> <?php echo $this->translate('by The Statue of Liberty-Ellis Island Foundation, Inc. ') ?><?php echo $this->translate('All rights reserved.') ?></p>
                            </section>
                            <!--footer ends-->
            <?php echo $this->inlineScript() ?>
        </div>
    </body>
</html>
