<!-- N- Start -->
<?php if (strpos($_SERVER['HTTP_REFERER'], "search-woh") === false and strpos($_SERVER['REQUEST_URI'], "search-woh") === false) {  ?>
<div style='display:none'>
    <div id='addedToCartWoh' class="inner-popup-detail"> 
        <h1>Add To Cart</h1>
        <p>Item has been added to your cart.</p>
            <input type="button" value="Continue" name="close" class="button green semibold"  onclick="javascript:location.href='/search-woh';">
            
            <a style="text-decoration: none;"  href="<?php
            if ($this->layout()->getVariable('https_on') == 1) { echo SITE_URL_HTTPS;} else {echo SITE_URL;}?>/checkout" onClick="disableCheckoutButton('CHECKOUT_BUTTON1')">
            <input type="button" value="Checkout" id="CHECKOUT_BUTTON1" name="checkout" class="button semibold"> 
    </div>
</div>
<?php  } ?>
<!-- N - End -->
<footer class="footer">
	<div class="wrapper">
		<div class="top-section">
        
		<ul class="link">
			<?php 
			foreach ($this->footerMenus as $val) {
				if($val['content_url']!='sitemap')
                echo '<li><a href="'.SITE_URL.'/'.$val['content_url'].'">' . $val['menu'] . '</a></li>';
                    }
            ?>                    

				
			</ul>
		
		<div class="right-ride">
			<a href="javascript:void(0)" class="footer-logo"><img src="/kiosk-img/footer-logo.jpg" alt=""/></a>
			<span class="text">
				Dedicated to the Restoration and Preservation<br>of the Statue of Liberty and Ellis Island
			</a>
			
		</div>
		
		</div>
		<div class="btm-row">
			<p>Copyright &copy; 2015 The Statue of Liberty - Ellis Island Foundation, Inc. All Rights Reserved.</p>
			<p class="fright">Powered by <a href="http://www.icreon.us/" <?php if($_SERVER['REQUEST_URI']=="/"){ ?>rel="dofollow" <?php }else{ ?>rel="nofollow" <?php } ?> target="_blank">Icreon Tech</a></p>
		</div>
		</div>
</footer>

<?php 
$isTimezoneSessionSet = $this->layout()->getVariable('isTimezoneSessionSet');
if(isset($isTimezoneSessionSet) && $isTimezoneSessionSet === 0)
{    
?>
<script type='text/javascript'>
    var visitortime = new Date();
	var visitortimezone = -visitortime.getTimezoneOffset();
       
        $.ajax
        ({
            type: 'POST',
            data:{
                visitortimezone:visitortimezone
            },
            url: '/set-user-timezone',
            success: function(response)
            {
                //$("#gallery").html(response);
            }
        }); 
</script>
<?php 
}
?>