<?php echo $this->doctype(); ?>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->

<?php
			if ($this->layout()->getVariable('https_on') == 1) {
                $http_or_https = 'https';
            } else {
                $http_or_https = 'http';
            }
?>
    <head>
        <meta charset="utf-8">
		
        <?php
        echo $this->headTitle($this->translate('The Statue of Liberty &amp; Ellis Island'))->setSeparator(' - ')->setAutoEscape(false);

        echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
		echo $this->headMeta()->appendName('p:domain_ain_verify', 'b5dd844bd5db0a2b25715e8013df4ae7');
        ?>
        <!-- styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/solief-favicon.ico', 'href' => $this->layout()->getVariable('imageFilePath') . '/images/solief-favicon.ico'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/screen.css?v=' . $this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/css3.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery-ui.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/web-colorbox.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/autosuggest.search.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/select2-front.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/scroll.css?v=' . $this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/menu-css.css?v=' . $this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/font-kiosk/stylesheet.css?v=' . $this->layout()->getVariable('cssVersion'))
				
        ;

        echo $this->headScript()->offsetSetFile(21, $this->layout()->getVariable('jsFilePath') . '/js/jquery-1.9.0.min.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->offsetSetFile(22, $this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->offsetSetFile(23, $this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v=' . $this->layout()->getVariable('jsVersion'));
        ?>
        <script>
		
<?php if (isset($this->getLatestAnnoucment) && !empty($this->getLatestAnnoucment) and count($this->getLatestAnnoucment) > 1) { ?> 
        // Announcements - Start
        $(document).ready(function(){
            $('.announcements-front-header:first').css({"display":"block"});
            setInterval(function () {
                if ($('.announcements-front-header:visible').next().length === 0) {
                    $('.announcements-front-header').hide(); //hide();
                    $('.announcements-front-header:first').fadeIn("slow"); //show("slide", { direction: "right"}, 4000); 
                } else {
                    $('.announcements-front-header:visible').hide().next().fadeIn("slow"); //.show("slide", { direction: "right"}, 4000);
                }
            }, 4000); 
        });
        // Announcements - End
<?php } ?>
        </script>
        <?php
        $basicConfigSetting = '';
        if (!empty($this->applicationConfigIds)) {
            foreach ($this->applicationConfigIds as $configKey => $configVal) {
                $basicConfigSetting.='var ' . $configKey . '=\'' . $configVal . '\';';
            }
        }
        ?>
        <script type="text/text/javascript">
<?php echo $basicConfigSetting; ?>
        </script>
    </head>
    <body class="front" ng-app>
	<div class="wrapper">
        <?php
        echo $this->partial('/kiosk-header.phtml');
        ?>
		
        <?php echo $this->content; ?>		
    </div>    
        <?php
        echo $this->partial('/kiosk-footer.phtml');
        ?>
		
        <div id="ajx_loader" class="main-loader" style="display:none;">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
        </div>
        <div id="fb-root"></div>
  <script type="text/javascript">
            //<!--
  /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-521296-5', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');*/
 //-->
 </script>
 <?php
        $script = <<<EOD
$(function() {
                var url = document.URL.replace('http://'+window.location.hostname+'','');
                var _menu = $("#sub-menu a[href='"+url+"']");
                var _menu_root = _menu.parents().parents();
                _menu_root.addClass('active');
            });
			function loginPopup(){                
                $.colorbox({
                    width:"650px", 
                    height:"460px",
                    iframe : true,
                    href:"/login"
                });
            }
            function signupPopup(){
                $.colorbox({
                    width:"730px", 
                    height:"920px",
                    iframe : true,
                    href:"/signup"
                });
            }
            
            function signupPopupReferal(referUrlSignup){
                 $.colorbox({
                    width:"730px", 
                    height:"920px",
                    iframe : true,
                    href:"/signup/"+referUrlSignup
                }); 
            }
            
            function getUrlKey(src, rep) {
                return document.URL.replace(src,rep);
            }
EOD;
        echo $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.royalslider.min.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile("https://connect.facebook.net/en_US/all.js")
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-ui.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/select2.min.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/index.js?v=' . $this->layout()->getVariable('jsVersion'))
				->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.mousewheel.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jscrollpane.min.js?v=' . $this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/all.js?v=' . $this->layout()->getVariable('jsVersion'))				
                ->appendScript($script);
        ?>
    </body>
</html>