<?php echo $this->doctype(); ?>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php echo $this->headTitle($this->translate('The Statue of Liberty &amp; Ellis Island'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <!-- styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/img/favicon.ico'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/crm.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery.timepicker.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/ui.jqgrid.css?v='.$this->layout()->getVariable('cssVersion'))
				->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/font-kiosk/stylesheet.css?v=' . $this->layout()->getVariable('cssVersion'));
        ;
        ?>
        <!-- styles -->

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/html5.js?v='.$this->layout()->getVariable('jsVersion'), 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/bootstrap.min.js?v='.$this->layout()->getVariable('jsVersion'))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/customInput.jquery.js?v='.$this->layout()->getVariable('jsVersion'))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));

        echo $this->headScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/fileUpload/vendor/jquery.ui.widget.js?v='.$this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/fileUpload/tmpl.min.js?v='.$this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/fileUpload/load-image.min.js?v='.$this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/fileUpload/jquery.iframe-transport.js?v='.$this->layout()->getVariable('jsVersion'))
                ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.fileupload.js?v='.$this->layout()->getVariable('jsVersion'))
        ?>

        <?php
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.timepicker.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-ui.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/grid.locale-en.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.jqGrid.min.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/select2.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/select2.min.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/common.js?v='.$this->layout()->getVariable('jsVersion'));
        $this->inlineScript()->captureStart();
        $moduleInfo = '';
        $gridInfo = '';
        $moduleInfo .='var moduleViewName=\'' . $this->moduleViewName . '\';';
        $moduleInfo .='var controllerViewName=\'' . $this->controllerViewName . '\';';
        $moduleInfo .='var actionViewName=\'' . $this->actionViewName . '\';';
        $gridInfo .='var numPageSelect=\'' . $this->numPageSelect . '\';';
        $gridInfo .='var numRecPerPage=\'' . $this->numRecPerPage . '\';';

        $basicConfigSetting = '';
        if (!empty($this->applicationConfigIds)) {
            foreach ($this->applicationConfigIds as $configKey => $configVal) {
                $basicConfigSetting.='var ' . $configKey . '=\'' . $configVal . '\';';
            }
        }
       
        echo $moduleInfo.$gridInfo.$basicConfigSetting;
        $this->inlineScript()->captureEnd();
        ?>
        <script type="text/javascript">
            var pagesArr=[];
            $(function(){
                //$('input').customInput();
                if (typeof numPageSelect != 'undefined')
                {
                    pagesArr=numPageSelect.split(',');
                }
                jQuery.validator.setDefaults({
                    errorPlacement: function(error, element) {
                        var spanele="<span class='redarrow'></span>"
                        $(element).after(error);
                        $(spanele).prependTo($(error));
                    }
                });
            });
        </script>        


        <!-- /Script -->
    </head>
    <body>

        <div class="outer-wrapper">

            <?php echo $this->content; ?>


            <?php echo $this->inlineScript() ?>
        </div>
        <div id="ajx_loader" class="main-loader">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
        </div>
    </body>
</html>
