<footer class="footer">
	
<div class="wrapper">
	<div class="btm-strip">
			<p>Copyright &copy; 2015 The Statue of Liberty - Ellis Island Foundation, Inc. All Rights Reserved.</p>
			<p class="mar-left"><a href="<?php echo SITE_URL?>/privacy">Privacy policy</a></p>
			<p class="fright">Powered by Icreon Tech</p>
		</div>
	</div>
</footer>
<?php 
$isTimezoneSessionSet = $this->layout()->getVariable('isTimezoneSessionSet');
if(isset($isTimezoneSessionSet) && $isTimezoneSessionSet === 0)
{    
?>
<script type='text/javascript'>
    var visitortime = new Date();
	var visitortimezone = -visitortime.getTimezoneOffset();
       
        $.ajax
        ({
            type: 'POST',
            data:{
                visitortimezone:visitortimezone
            },
            url: '/set-user-timezone',
            success: function(response)
            {
                //$("#gallery").html(response);
            }
        }); 
</script>
<?php 
}
?>