	<?php
		if ($this->layout()->getVariable('https_on') == 1) {
                $httpHttpsUrl = SITE_URL_HTTPS;
            } else {
                $httpHttpsUrl = SITE_URL;
            }
                
            ?>    
    <header class="header">
		<a href="<?php echo SITE_URL ?>/pos-help" class="help-icon"></a>
        <div class="logo"><img src="/pos-img/logo.jpg" alt=""/></div>  
		<div class="start-over">
			<strong><a href="<?php echo SITE_URL ?>">CLICK TO START OVER</a></strong>
		</div>
	<link rel="stylesheet" type="text/css" href="<?php echo $httpHttpsUrl?>/css/web-colorbox-pause.css">
    </header>

	<script>
	var httpHttpsUrl = '<?php echo $httpHttpsUrl?>';
	var SITE_URL = '<?php echo SITE_URL ?>';
	var counter=0;
	/*for system not available*/
function checkSystemTime(){
    var end = 0 // change this to stop the counter at a higher value
   var refresh= 60000; // Refresh rate in 1 min
	
	$.ajax({
        type: "POST",
        url:'/check-kiosk-status',
        dataType : 'text',   //you may use jsonp for cross origin request
		data:{'kiosk_id':'<?php echo $this->Encrypt($auth->kiosk_id);?>'},
		//async:false,
        success: function(responseData) {			
			if(responseData =="error"){
			pauseFlag = true;
			//clearTimeout(mytime);
			counter++;
			if(counter == 1){
			$.colorbox({width:"1270px",height:"900px",href:"/system-turnoff-info",escKey:false, overlayClose:false,onLoad: function() {$('#cboxClose').remove();},onComplete:function(){
        $("#colorbox iframe").addClass('cboxIframePos');$("#colorbox iframe").removeClass('cboxIframe');},iframe:true});
			}
				return false;
			}else{
				counter = 0;
				if ($("#colorbox").css("display")=="block") {  
				$.colorbox.close();	
				}
			}
        },
    });
	  mySystemtime=setTimeout('checkSystemTime_cs()',refresh);
}
function checkSystemTime_cs() {
    tt=checkSystemTime();
 }
 checkSystemTime();
	</script>
   