<?php echo $this->doctype(); ?>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php echo $this->headTitle($this->translate('The Statue of Liberty &amp; Ellis Island'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <!-- styles -->
        <?php
        if(isset($_SERVER['HTTP_SSLSESSIONID']) || $_SERVER['SERVER_PORT'] == '443') // It means from heets request
            {
                $httpUrlPath ='https';
            }
            else {
                $httpUrlPath ='http';
            }
        
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->layout()->getVariable('imageFilePath') . '/images/solief-favicon.ico'))
                				->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/screen.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/jquery-ui-custom.css?v='.$this->layout()->getVariable('cssVersion'))
                ->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/web-colorbox.css?v='.$this->layout()->getVariable('cssVersion'))->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/font-kiosk/stylesheet.css?v=' . $this->layout()->getVariable('cssVersion'));
        ;
        ?>
        <!-- styles -->
        <!-- Scripts -->        
    </head>
    <body>
        <div class="outer-wrapper">
            <!--starts body container-->
            <?php echo $this->content; ?>
			<?php
        echo $this->headScript()->prependFile($this->layout()->getVariable('jsFilePath') . '/js/html5.js?v='.$this->layout()->getVariable('jsVersion'), 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.colorbox.js?v='.$this->layout()->getVariable('jsVersion'))
                ->prependFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.min.js?v='.$this->layout()->getVariable('jsVersion'));
        ?>
        <?php
        $basicConfigSetting = '';
        if (!empty($this->applicationConfigIds)) {
            foreach ($this->applicationConfigIds as $configKey => $configVal) {
                $basicConfigSetting.='var ' . $configKey . '=\'' . $configVal . '\';';
            }
        }
		$imagePath = $this->layout()->getVariable('imageFilePath');
		$script = <<<EOD
function signupPopup(){ 
                parent.$.colorbox({
                    width:"730px", 
                    height:"920px",
                    iframe : true,
                    href:"/signup"
                });
            }
            
  function signupPopupReferal(referUrlSignup){ 
                parent.$.colorbox({
                    width:"730px", 
                    height:"920px",
                    iframe : true,
                    href:"/signup/"+referUrlSignup
                }); 
            }
            

            function forgotPopup(){
                parent.$.colorbox({
                    width:"650px", 
                    height:"520px",
                    iframe : true,
                    href:"/forgot"
                });
            }
EOD;
        $this->inlineScript()->appendScript($basicConfigSetting)
							 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery.validate.min.js?v='.$this->layout()->getVariable('jsVersion'))
							 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/jquery-ui.js?v='.$this->layout()->getVariable('jsVersion'))
							 ->appendFile($this->layout()->getVariable('jsFilePath') . '/js/web-common.js?v='.$this->layout()->getVariable('jsVersion'))
							 ->appendScript($script);
        ?>
            <?php echo $this->inlineScript() ?>
        </div>
        <div id="ajx_loader" class="main-loader">
            <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" id="ajx_loader_image"/>
        </div>
	<script>
	var SITE_URL = '<?php echo SITE_URL ?>';
	</script>        
    </body>
</html>