<?php 
echo $this->headLink()->prependStylesheet($this->layout()->getVariable('cssFilePath') . '/css/colorbox.css?v='.$this->layout()->getVariable('cssVersion'));?>
<script>

var SITE_URL = '<?php echo SITE_URL ?>';

</script>
<script  type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.colorbox.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<?php
$now = date("H:i:s");
$timeLeft = strtotime($kiosk_end_time) - strtotime(date('H:i:s',strtotime($now)));
if($timeLeft>0)
	$timeLeft = ceil($timeLeft);
else	
	$timeLeft = '0';
//$timeLeft = '60';
$auth = $this->getAuth();
$cartlist = $this->cartlist;

	if (count($cartlist) > 0 && !empty($cartlist)) {
	if (isset($auth->user_id) && $auth->user_id != '' && $moduleGroup!='3') {
	?>
		<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/transaction/add-to-cart-front.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script> 
	<?php
	}
	else{
	?>
		<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/transaction/pos-add-to-cart-front.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
	<?php
	}
}
?>
<style>
 .blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 2s steps(5, start) infinite;
	  text-decoration:none;
	  color:red!important;
	  font-size:28px;
	   font-weight:bold;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
</style>
    <header class="header-woh">
	<a href="<?php echo SITE_URL; ?>/woh-help" class="help"></a>
        <div class="logo"><img src="/kiosk-front-img/logo.jpg" alt=""/></div> 
		
		<?php if (isset($auth->user_id) && $auth->user_id != '') { ?><a href="javascript:void(0)" onClick="logoutPage();" class="kiosk-logout"></a><?php } ?>
		
		<div class="right-section">
		
			<span class="name">
			
			<?php if (isset($auth->user_id) && $auth->user_id != '') { ?>Welcome <?php echo $auth->first_name.' '.$auth->last_name; echo '&nbsp;&#33;'; ?> 
			
			<a href="<?php echo SITE_URL; ?>/profile" class="right">My Profile</a><?php } ?>
			
			</span>
			<?php 
			if ($moduleGroup == 3) {				
				if (count($cartlist) > 0 && !empty($cartlist) && $_SERVER['REDIRECT_URL']!='/wall-of-honor' && $_SERVER['REDIRECT_URL']=='/user-add-woh') {
					$showAlert = 1;
					$redirectUrl = "javascript:void(0);";
				}else{
					$showAlert = 0;
					$redirectUrl = SITE_URL;
				}
				if($_SERVER['REDIRECT_URL'] == '/search-woh' || $_SERVER['REDIRECT_URL'] == '/add-woh' || $_SERVER['REDIRECT_URL'] == '/cart' || $_SERVER['REDIRECT_URL'] == '/poscheckout' || $_SERVER['REDIRECT_URL'] == '/pos-transaction-zipcode' || preg_match('/payment_error/',$_SERVER['REDIRECT_URL']) || preg_match('/poscheckout/',$_SERVER['REDIRECT_URL'])){
					$homeClass = 'woh';
					$redirectUrl = '/user-add-woh';
				}else{
					$homeClass = 'home';
				}
			?>
				<a href="<?php echo $redirectUrl; ?>" class="<?php echo $homeClass;?>" onClick="showAlert('<?php echo $showAlert;?>');"></a>
			<?php
				if($_SERVER['REDIRECT_URL']=='/user-add-woh' || $_SERVER['REDIRECT_URL'] == '/search-woh' || $_SERVER['REDIRECT_URL'] == '/add-woh' || $_SERVER['REDIRECT_URL'] == '/cart' || $_SERVER['REDIRECT_URL'] == '/poscheckout' || $_SERVER['REDIRECT_URL'] == '/pos-transaction-zipcode' || preg_match('/pos-transaction-thanks/',$_SERVER['REDIRECT_URL']) || preg_match('/payment_error/',$_SERVER['REDIRECT_URL']) || preg_match('/poscheckout/',$_SERVER['REDIRECT_URL'])){
					echo '<input type="hidden" id="allowAutoRedirect" name="allowAutoRedirect" value="1">';
				}else{
					echo '<input type="hidden" id="allowAutoRedirect" name="allowAutoRedirect" value="0">';
				}

				echo '<input type="hidden" id="showRedirectAlert" name="showRedirectAlert" value="1">';
			}
			else {
			?>
				<a href="<?php echo SITE_URL; ?>/kiosk-search" class="home"></a>
			<?php
			}
			?>	
			
			<?php if (isset($auth->user_id) && $auth->user_id != '') { ?>
			<div class="timer">
				<div><span id='ct' ></span></div>
			</div>
			<?php } ?>
		
					
			
				
			<?php 
			if (count($cartlist) > 0 && !empty($cartlist) && $_SERVER['REDIRECT_URL']!='/wall-of-honor') { ?>
				<div class="cart" id="header_card">	
				<a href="<?php echo SITE_URL; ?>/cart">
					<span class="no" id="cart-details-div"><?php echo count($cartlist); ?></span><span class="text">Cart</span>
				</a>
				</div>
			<?php
			}
			else{
			?>
				<div class="cart" id="header_card" style="display:none;">	
				<a href="<?php echo SITE_URL; ?>/cart">
					<span class="no" id="cart-details-div"><?php echo count($cartlist); ?></span><span class="text" >Cart</span>
				</a>	
				</div>
			<?php
			}
			?>	
			
			
		</div>
		
		
	
		
    </header>
    
	<div style='display:none'>
        <div id='' class="logout_success_msg inner-popup-detail" style="text-align:center">
            <h1>Sign out Confirmation</h1>
            <p class="center">Are you sure you want to sign out?<br>
Once you sign out your session will expire,<br> and you won't be able to log-in again.</p>
			<div class="log-btn-center">
			<input type="button" value="Yes" name="yes" id="yes_logout" class="button  semibold">
            <input type="button" value="No" name="no" id="no_logout" class="button green semibold" onclick="javascript:$.colorbox.close();">
			</div>
        </div>
    </div>	
	
   <div style='display:none'>
        <div id='deletecart' class="pop-container comfirm-alert-popup">
            <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
            <h2 class="no-margin">Are you sure you want to remove product from cart?</h2>
            <p style="display:none;" id="delete_cart_woh" class="no-margin">(Note: If you remove this Wall Of Honor then associated Duplicate Certificate will also be removed)</p>
            <div class="button-row" style="width:150px !important">
                <div class="">
                    <input type="button" value="Yes" name="yes" id="yes_delete_cart" class="button semibold">
                    <input type="button" value="No" name="no" id="no_delete_cart" class="button semibold">
                </div>
            </div>
        </div>
    </div>
   
    <div style='display:none'>
							
                                
        <div id='addedToCart' class="inner-popup-detail">
            <h1>Add To Cart</h1>
            <p>Item has been added to your cart.</p>
            <input type="button" value="Continue" name="close" class="button green semibold" id="hide_add_to_card" onclick="javascript:$.colorbox.close();">
            
            <?php if($isLogin){?>
            <a href="<?php
            if ($this->layout()->getVariable('https_on') == 1) {
                echo SITE_URL_HTTPS;
            } else {
                echo SITE_URL;
            }
            ?>/checkout"><input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON2" onClick="disableCheckoutButton('CHECKOUT_BUTTON2')"></a>
          <?php } else{?>
           <input type="button" value="Checkout" name="checkout" class="button semibold" id="CHECKOUT_BUTTON2" onClick="checkUserLogin('<?php echo $this->Encrypt($checkoutUrl) ?>');">
          <?php } ?>
        </div>
    </div>        
    <div style='display:none'>
        <div id='addedToWishlist' class="inner-popup-detail">
            <h1>Add To Wishlist</h1>
            <p>Record has been added to your wishlist.</p>
            <input type="button" value="Continue shopping" name="close" class="button green semibold" id="hide_add_to_card" onclick="javascript:$.colorbox.close();">
        </div>
   </div>  
  <div class='visitation_record_thank' style='display:none'>
    <div class="pop-container">
        <h2>Thank you for registering with The Statue of Liberty - Ellis Island Foundation</h2>
        <p>Your account : <span id="email_id_span"></span> &nbsp;&nbsp; has now been registered and you can use this account information from Ellis Island and at www.ellisisland.org and other SOLEIF Web Properties to login.
        </p>
        <p>We have added a Registration Record and a Record of Visitation to your file, that can be accessed anytime online from the web.</p>
        <div class="button-row" style="width:530px">
            <input type="button" value="I am Done, Thank You" name="no" id="close_thanks" class="button left m-r-10">
            <input type="button" value="Would you like to passanger search" name="no" id="passenger_search" class="button green"> 
        </div>

    </div>
	</div>
	<div style="display:none;">
		<div id="logoutalert" class="inner-popup-detail center-text">
			<h1>TIME FOR CHECKOUT</h1>
			<p>Your session will end in 5 minutes.</p>
			<div class="log-btn-center">
				<input type="button" value="OK" onclick="blinkText();"  class="button green semibold">
			</div>
		</div>
	</div>
    <div style="display:none;">
		<div id="system_paused" class="inner-popup-detail center-text" style="margin-top:26%;">
			<h1>System Paused</h1>
			<p><strong>System has been terminated temporarily, please contact customer care.</strong></p>
		</div>
	</div>
	<div style="display:none;">
		<div id="cartEmptyAlert" class="inner-popup-detail center-text">
			<p>Going back to home screen will clear your cart and delete<br/> any data you entered in this session.</p>
			<p>Are you sure you want to go back to the home screen?</p>
			<div class="log-btn-center">
				<input type="button" value="Yes" id="yes_clear" class="button blue semibold">
				<input type="button" value="No" id="no_clear" class="button green semibold">
			</div>
		</div>
	</div>
	<div style="display:none;">
		<div id="redirectionAlert" class="inner-popup-detail center-text">
			<p>This session has been inactive for 01 minute(s).</p>
			<p>You will be redirected to the home screen in 10 seconds.</p>
			<div class="cntTimer" id="showCntTimer">10</div>
			<!--<input type="text" id="showCntTimer" value="10" name="showCntTimer">-->
			<div class="log-btn-center m-t-10">
				<input type="button" value="Yes, take me to home screen" id="yes_redirect" class="button blue semibold">
				<input type="button" value="No, stay on this session" id="no_redirect" class="button green semibold">
			</div>
		</div>
	</div>
<!--<link rel="stylesheet" type="text/css" href="/css/web-colorbox-pause.css">-->
<script>
var i = 0;
var mytime,mySystemtime;
var storeIntval;
var pauseFlag = false;

idleTimer = null;
idleState = false;
idleWait = 60000; // 1 minute

$(document).ready(function () {
	if($('#allowAutoRedirect').val() == 1){
		$('*').bind('mousemove keydown scroll', function () {
		
			reCallAlert(idleWait);
		});
		
		$("body").trigger("mousemove");
	}

});

function reCallAlert(idleWait){
	clearTimeout(idleTimer);
	idleState = false;
	idleTimer = setTimeout(function () { 					
		$('#showCntTimer').html(10);
		$('#showRedirectAlert').val(1);
		// Idle Event
		if($('#allowAutoRedirect').val() == 1 && $('#showRedirectAlert').val() == 1){
			 $('#cmpmsg').show();
			 $('#msgDisplayDiv').show();
			 showRedirectionAlert();						 
		}
		idleState = true; 
	}, idleWait);
}

function showRedirectionAlert(){
	$.colorbox({
		width:"800px",
		height:"300px",
		inline:true,              
		escKey:false,
              overlayClose:false,
		href:"#redirectionAlert",
		onLoad:function(){
                     //$('#cboxClose').remove();			
			showCntTimer(1);
		}
	});

	$("#no_redirect").click(function() {
		reCallAlert(60000);
		$.colorbox.close();
		$('#showRedirectAlert').val(0);
		hideAjxLoader();
		$("#yes_redirect").unbind("click");			
		return false;
	});
	$("#yes_redirect").click(function() {
		$("#yes_redirect").unbind("click");
		$.colorbox.close();
		showAjxLoader();
		$.ajax({
			type: "POST", 
			url: "/delete-woh-cart", 
			success: function(responseData) {
				var jsonObj=jQuery.parseJSON(responseData);
				if(jsonObj.status == 'success'){
					window.location.href = '/';
				}
			}
		});
	});
}

function showCntTimer(startExecustion){
	if(startExecustion == 1){
		var counter = 10;	
		var interval = setInterval(function() {
			if(counter>0){
				counter--;
				$('#showCntTimer').html(counter);
				//alert(counter);
					
				if (counter == 0 && $('#allowAutoRedirect').val() == 1 && $('#showRedirectAlert').val() == 1) {
					clearInterval(interval);
					$.ajax({
						type: "POST", 
						url: "/delete-woh-cart", 
						success: function(responseData) {
							var jsonObj=jQuery.parseJSON(responseData);
							if(jsonObj.status == 'success'){
								window.location.href = '/';
							}
						}
					});
				}
			}else{
				clearInterval(interval);
				$('#showCntTimer').html(10);
			}
		}, 1000);
	}
	 
}

function display_c(start){
    window.start = parseFloat(start);
    var end = 0 // change this to stop the counter at a higher value
    var refresh=1000; // Refresh rate in milli seconds
   if(window.start >= end && window.start > '0'){ 
	    if(window.start<='300'){
			++i;
			if(i==1 && sessionStorage.getItem("showaLert")==null){ 
				$.colorbox({
					width:"500px",
					height:"220px",
					inline:true,
					href:"#logoutalert",
					onClosed: function () {
						sessionStorage.setItem('showaLert', 'showAlert');
					}
				});								
			}
		}
		if(window.start<='300'){
			$('#ct').attr('class','blink');
		}else{
			$('#ct').attr('class','');
		}
        mytime=setTimeout('display_ct()',refresh);
    }
    else { 
			// Time over
			sessionStorage.removeItem("showaLert");
            window.location.href="<?php echo SITE_URL; ?>/logout";
    }
}

function display_ct() {


    // Calculate the number of days left
    var days=Math.floor(window.start / 86400);
    // After deducting the days calculate the number of hours left
    var hours = Math.floor((window.start - (days * 86400 ))/3600)
    // After days and hours , how many minutes are left
    var minutes = Math.floor((window.start - (days * 86400 ) - (hours *3600 ))/60)
    // Finally how many seconds left after removing days, hours and minutes.
    var secs = Math.floor((window.start - (days * 86400 ) - (hours *3600 ) - (minutes*60)))
   
    var x = pad(minutes) + ":"  + pad(secs);
	
	if(pauseFlag == false)
		document.getElementById('ct').innerHTML = x;
	
    window.start= window.start- 1;
    tt=display_c(window.start);
 }
function pad(n) {
    return (n < 10) ? ("0" + n) : n;
} 

function logoutPage() {
			$.colorbox({
                    width:"620px",
                    height:"280px",
                    inline:true,
                    href:".logout_success_msg"
            });
			
			
$("#yes_logout").click(function(){
        showAjxLoader();
        $("#yes_delete_wishlist").unbind("click");
		sessionStorage.removeItem("showaLert");
        window.location.href="/logout";

    })			
}
/*for system lock on pause*/
function checkSystemPauseFile(){
	var end = 0 // change this to stop the counter at a higher value
    var refresh= 60000; // Refresh rate in 1 Min
    //var refresh= 10000; // Refresh rate in 10 sec
	var addTimeToEndTime = parseInt(refresh/1000) + 1;
	if(counter == 0)
		addTimeToEndTime = 0;
		
	$.ajax({
        type: "POST",
        url:'/check-pause-file',
        dataType : 'text',   //you may use jsonp for cross origin request
		data:{'kiosk_id':'<?php echo $this->Encrypt($auth->kiosk_id);?>','timeAdd':addTimeToEndTime},
		//async:false,
        success: function(responseData) {		
			if(responseData =="success"){
			pauseFlag = true;
			counter++;
				if((counter == 1 && sessionStorage.getItem("storeLeftTime")==null)){
				storeIntval = window.start;
				sessionStorage.setItem("storeLeftTime",window.start);
				//window.start = storeIntval;
				}
				if(sessionStorage.getItem("storeLeftTime")!=null && counter == 1){
					$.colorbox({width:"1270px",height:"900px",href:"/kiosk-pause-info",escKey:false, overlayClose:false,onLoad: function() {$('#cboxClose').remove(); $("#colorbox").addClass("systemTurnOn");}, onComplete:function(){ $("#colorbox iframe").addClass('cboxIframePos');$("#colorbox iframe").removeClass('cboxIframe');},iframe:true});
				}
			}else{
				  counter = 0;
				  pauseFlag = false;
						    //if ($("#colorbox").css("display")=="block") 
				  if ($("#colorbox").hasClass( "systemTurnOn"))
				   {  
				   //alert('ColorBox is currently open'); 
								//$.colorbox.filter(".systemTurnOn").close();	
						$(".systemTurnOn").colorbox.close();
						clearTimeout(mytime);
						if(sessionStorage.getItem("storeLeftTime")!=null){ 
						//display_c(storeIntval);
							display_c(sessionStorage.getItem("storeLeftTime"));
							sessionStorage.removeItem("storeLeftTime");
									//storeIntval = "";
						}
						else
							display_c(window.start);
							//mytime=setTimeout('display_ct()',refresh);
					}else{  
							//alert('ColorBox is currently closed');  
						}  
					}
        },
    });
	mySystemtime=setTimeout('checkSystemPauseFile_cs()',refresh);
}
function checkSystemPauseFile_cs() {
    tt=checkSystemPauseFile();
 }
 
/*for system not available*/
function checkSystemTime(){
	var end = 0 // change this to stop the counter at a higher value
    var refresh= 60000; // Refresh rate in 1 min
	
	$.ajax({
        type: "POST",
        url:'/check-kiosk-status',
        dataType : 'text',   //you may use jsonp for cross origin request
		data:{'kiosk_id':'<?php echo $this->Encrypt($auth->kiosk_id);?>'},
		//async:false,
        success: function(responseData) {			
			if(responseData =="error"){
			pauseFlag = true;
			//clearTimeout(mytime);
			counter++;
			if(counter == 1){
			$.colorbox({width:"1270px",height:"900px",href:"/system-turnoff-info",escKey:false, overlayClose:false,onLoad: function() {$('#cboxClose').remove();},onComplete:function(){
        $("#colorbox iframe").addClass('cboxIframePos');$("#colorbox iframe").removeClass('cboxIframe');},iframe:true});
			}
				return false;
			}else{
				counter = 0;
				if ($("#colorbox").css("display")=="block"  && $("#colorbox iframe").hasClass('cboxIframePos')) {  
				$.colorbox.close();	
				}
			}
        },
    });
	  mySystemtime=setTimeout('checkSystemTime_cs()',refresh);
}
function checkSystemTime_cs() {
    tt=checkSystemTime();
 }

<?php
if(isset($auth->user_id) && $auth->user_id != '')
{
?>
	display_c('<?php echo $timeLeft ?>');
	checkSystemPauseFile();
<?php
}
?>
<?php
if($auth->user_id == '')
{
?>
	checkSystemTime();
<?php
}
?>
	

function blinkText(){
	$('#ct').attr('class','blink');
	$.colorbox.close();
}
function showAlert(dispAlert){
	if(dispAlert==1){
		$.colorbox({
				width:"620px",
				height:"280px",
				inline:true,
				href:"#cartEmptyAlert"
		});

		$("#no_clear").click(function() {
			$.colorbox.close();
			hideAjxLoader();
			$("#yes_clear").unbind("click");
			return false;
		});
		$("#yes_clear").click(function() {
			$("#yes_clear").unbind("click");
			showAjxLoader();
			$.ajax({
				type: "POST", 
				url: "/delete-woh-cart", 
				success: function(responseData) {
					var jsonObj=jQuery.parseJSON(responseData);
					if(jsonObj.status == 'success'){
						window.location.href = '/';
					}
				}
			});
		});
	}
}
</script>