<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/jquery.min.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var visitortime = new Date();
        var visitortimezone = -visitortime.getTimezoneOffset();
        $.ajax({
            type: "GET",
            url: "/get-time-zone-offset/"+visitortimezone,
            data: '',
            success: function(responce){
                //alert(responce);
            }
        });
        
    });
    
    
    
//    var visitortime = new Date();
//    var visitortimezone = -visitortime.getTimezoneOffset();
//    xmlhttp.open("POST","/get-time-zone-offset/"+visitortimezone,true);
//    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
//    xmlhttp.send("st=start&sp=stop");
//
//    xmlhttp.onreadystatechange=function()
//    {
//        if (xmlhttp.readyState==4 && xmlhttp.status==200)
//        {
//            //document.getElementById("output").innerHTML=xmlhttp.responseText;
//        }
//    }
</script>