
/*
starts header
=========================================*/
.outer-wrapper {
  width: 100%;
  float: left;
}

#header {
  width: 100%;
  float: left;
  background: url("header-bg.jpg") repeat-x 0 0;
  height: 140px;
}
#header .logo {
  width: 632px;
  float: left;
  height: 69px;
  margin: 35px 0 30px 20px;
}
.center-wrapper{float:left; width:100%; padding:200px 0px 300px; text-align:center; font-family:arial; font-size:34px;}
/*
starts footer
=========================================*/
#footer {
  width: 100%;
  float: left;
  background: #2f2f2f;
  position:fixed;
  bottom:0px;
  left:0px;
}
#footer p {
  font-size: 15px;
  font-weight: normal;
  color: white;
  font-family:arial;
  float: left;
  padding: 10px 20px;
  box
}

/*
