<?php
/**
 * This view is used to change log
 * @package    Logs
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;

$var = '';
$this->inlineScript()->captureStart();
echo $var .=' var id="' . $id . '";';
echo $var .=' var moduleName="' . $moduleName . '";';
$var .=' var orgModuleName="' . $orgModuleName . '";';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
//echo $var;
$this->inlineScript()->captureEnd();
//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/changelog/changelog.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<script>
<?php echo $var; ?>
    // var id = '<?php //echo $id     ?>';
    // var moduleName = '<?php //echo $moduleName     ?>';
    // var orgModuleName = '<?php //echo $orgModuleName     ?>';
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/changelog/changelog.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="create-contacts">

    <div class="accordion-detail">
		<?php
		if(isset($source) && $source=='pledge')
			$breadcrumbclass = 'position-ab m-t-51 case';
		else 
		    $breadcrumbclass = 'contact-breadcrumb case';
		?>
        <div class="breadcrumb <?php echo $breadcrumbclass;?>">
            <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
        </div>
        <div class="head no-img"><span><?php echo $translator['CHANGE_LOG']; ?></span></div>
        <div class="detail-section">
            <div class="grid-box">
                <table id="list"></table>
                <div id="pcrud"></div>
            </div>
        </div>
    </div>
</div>
