<?php
/**
 * This view is used to create add more order by for report
 * @package    Setting
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$form = $this->reportOrder;
?>
<script type="text/javascript">
    $(document).ready(function(){
        $("select.e1").select2({});
    })
</script>


<div class="row no-padd m-t-15 order_columns" id="report_order_by_block_<?php echo ($totalReportOrderBy + 1); ?>">
    <div class="row no-padd">
        <div class="col1"><label><?php echo $translator['L_COLUMN']; ?></label> <?php echo $this->formRow($form->get('order_columns[]')); ?></div>
		 <div class="col1 right"><label><?php echo $translator['L_ORDER']; ?></label> <?php echo $this->formRow($form->get('order_order[]')); ?> <a class="minus m-l-5" href="javascript:void(0);" onclick="deleteNewOrderBy(<?php echo ($totalReportOrderBy + 1); ?>)"></a>
        <a class="plus m-l-5" href="javascript:void(0);" onclick="addNewOrderBy(this)" id="addMoreOrderBy"></a></div>
        
    </div>
</div>

