<?php
/**
 * This file is used for get create group from contacts
 * @package    Transaction
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
?>
<script type="text/javascript"><?php echo $var; ?></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/report/report.group.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript">
    $(function(){
        // $(".e2").customInput();
        //$(".e3").customInput();
    })
</script>
<?php
$form = $this->reportGroup;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('report_id'));
?>

<div style="background:#f5f4f4; width:100%; float:left;">
<div class="full">
<div id="success_message" class="success-msg m-l-30" style="display:none"></div>
</div>
    <div class="setting-popup" >
        <div class="create-contacts">
            <div class="detail-section11">
                <div class="common-form">
                         <div class="row pay-label">

                        <?php echo $this->formRow($form->get('create_add_group')); ?>

                    </div>
                    <div id="addToGroupBlock">
                        <div class="row payment-label-large">
                            <div class="col6"><label><?php echo $translator['L_SELECT_GROUP']; ?> <span class="red">*</span></label></div>
                            <span class="view-text"><?php echo $this->formRow($form->get('group_id')); ?></span>
                        </div>
                    </div>
                    <div id="createGroupBlock" style="display:none;">
                        <div class="row">
                            <div class="col1 left-p-none">
                                <label><?php echo $translator['L_NAME']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('group_name')); ?>
                            </div>
                          
                        </div>
						
						<div class="row left-p-none">
						  
                                <label><?php echo $translator['L_DESCRIPTION']; ?> <span class="red">*</span></label>
                                <?php echo $this->formRow($form->get('group_description')); ?>
                            
						 </div>

                    </div>
                    <div class="row">
                        <div class="col8">
                            <?php echo $this->formRow($form->get('saveGroup')); ?>
                                <span class="m-l-10 left">
                                <?php echo $this->formRow($form->get('cancel')); ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>


