<?php
/**
 * This file is used for get report listing
 * @package    Report
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
        $var .= 'var redirectUrl= "' . $redirectUrl . '";';
    }
}
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/report/search.report.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_REPORTS']; ?></h2>
    <div class="breadcrumb">
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <div class="common-form ">
        <a class="cancel-btn m-l-5" href="/create-report/<?php echo $reportCategoryId; ?>"><?php echo 'NEW '.$reportCategoryHeading; ?></a>
        <a class="m-l-5 save-btn" href="javascript:void(0);" onclick="viewAllReport()"><?php echo $translator['L_VIEW_ALL_REPORTS']; ?></a></div>
    <div class="accordion-detail">
<?php
if (!empty($this->messages)) {
    echo '<div id="success_message" class="success-msg">';
    foreach ($this->messages as $message) {
        echo "<div>" . $message . '</div>';
    }
    echo '</div>';
}
?>
    </div>
</div>
<div class="grid-section" id="reportTypeGrids">
    <div class="create-contacts"><div class="head no-img" style="margin-bottom:5px;"><span><?php echo $reportCategoryHeading; ?></span></div></div>
    <div class="grid-box" id="gview_list">
        <table id="list_report"></table>
        <div id="listreportrud"></div>
    </div>
</div>


<div style='display:none'>
    <div id='delete_report_content' class="pop-container">
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_REPORT_ALERT']; ?></h2>
        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete_report" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete_report" class="green-btn">
        </div>
    </div>
</div>
