<?php
/**
 * This file is used for get report info
 * @package    Report
 * @author     Icreon Tech - DT
 */
$translator = $this->jsLangTranslate;
$var = '';

$this->inlineScript()->captureStart();
if (is_array($this->jsLangTranslate)) {
    foreach ($jsLangTranslate as $key => $val) {
        $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
    }
}
echo $var;
echo "var isGridLoad= '" . $isGridLoad . "';";
echo "var gridDataJson= '" . $gridDataJson . "';";
echo "var isShowValueJson = '" . $isShowValueJson . "';";
echo "var encryptReportId = '" . $encryptReportId . "';";
echo "var dateColJson = '" . $dateColJson . "';";

$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/report/create.report.js?v=' . $this->layout()->getVariable('jsVersion'));
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/accordian.js?v=' . $this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <form method="post" action="">
        <input type="hidden" name="export" id="export" value="excel" />
        <input type="hidden" name="csvBuffer" id="csvBuffer" value="" />
        <input type="hidden" name="searchString" id="searchString" value="" />
        <input type="hidden" name="sidx" id="sidx" value="" />
        <input type="hidden" name="sord" id="sord" value="" />
        <input type="hidden" name="rows" id="rows" value="" />
        <input type="hidden" name="page" id="page" value="" />
        <input type="hidden" name="report_id" value="<?php echo $reportInfo['report_id']; ?>">
    </form>
    <h2><?php echo $translator['L_REPORTS']; ?></h2>
    <div class="breadcrumb">
        <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
    </div>
    <h3><?php echo $reportInfo['report_name']; ?></h3>
    <p class="search-text"><?php echo $reportInfo['description']; ?></p>
    <div class="accordion-detail">
        <?php
        if (!empty($this->messages)) {
            echo '<div id="success_message" class="success-msg">';
            foreach ($this->messages as $message) {
                echo "<div>" . $message . '</div>';
            }
            echo '</div>';
        }
        ?>
        <div id="success_message" class="success-msg" style="display:none;"></div>
        <?php
        $reportForm = $this->report_form;
        $reportForm->prepare();
        echo $this->form()->openTag($reportForm);
        echo $this->formRow($reportForm->get('report_id'));
        ?>
        <div class="head"><span><?php echo $translator['L_DISPLAY_COLUMNS']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <?php
                if ($reportInfo['mst_report_id'] != '36') {
                    ?>                
                    <div class="row no-padd"><span class="text-bold"><?php echo $translator['L_DISPLAY_COLUMNS']; ?></span> </div>
                    <div class="row checkbox-auto">
                        <?php echo $this->formRow($reportForm->get('display_columns')); ?>

                    </div>
                    <?php
                }
                ?>
                <?php if (!empty($groupByArr)) {
                    ?>
                    <div class="row no-padd"><span class="text-bold"><?php echo $translator['L_GROUP_BY_COLUMNS']; ?></span> </div>
                    <div class="row checkbox-auto">
                        <?php echo $this->formRow($reportForm->get('group_by_columns')); ?>
                    </div>
                <?php } ?>
                <?php if (count($orderColumnsArr) > 1) { ?>
                    <div id="report_order_by_div">
                        <div class="row no-padd"><span class="text-bold"><?php echo $translator['L_ORDER_BY_COLUMNS']; ?></span> </div>
                        <?php
                        if (!empty($orderSelectedColumnArr)) {
                            $columnIndex = 1;
                            $last = count($orderSelectedColumnArr);
                            foreach ($orderSelectedColumnArr as $orderColumn) {
                                ?>
                                <div class="row no-padd order_columns" id="report_order_by_block_<?php echo $columnIndex; ?>">
                                    <div class="row no-padd">
                                        <div class="col1">  <label><?php echo $translator['L_COLUMN']; ?></label>


                                            <?php echo $this->formRow($reportForm->get('report_order')->get('order_columns[]')->setAttribute('options', $orderColumnsArr)->setValue($orderColumn['column_id'])); ?></div>
                                        <div class="col1 right"><label><?php echo $translator['L_ORDER']; ?></label>
                                            <?php echo $this->formRow($reportForm->get('report_order')->get('order_order[]')->setValue($orderColumn['rep_order_by'])); ?>  <?php if ($columnIndex != 1 || $last > 1) { ?>
                                                <a class="minus m-l-5" href="javascript:void(0);" onclick="deleteNewOrderBy(<?php echo $columnIndex; ?>)"></a>
                                            <?php } ?>
                                            <?php if ($columnIndex == $last) {
                                                ?>
                                                <a class="plus m-l-5" href="javascript:void(0);" onclick="addNewOrderBy(this)" id="addMoreOrderBy"></a>
                                            <?php } ?></div>


                                    </div>
                                </div>
                                <?php
                                $columnIndex++;
                            }
                        } else {
                            ?>
                            <div class="row no-padd" id="report_order_by_block_1">
                                <div class="row no-padd">
                                    <div class="col1"><label><?php echo $translator['L_COLUMN']; ?></label>
                                        <?php echo $this->formRow($reportForm->get('report_order')->get('order_columns[]')->setAttribute('options', $orderColumnsArr)); ?></div>
                                    <div class="col1 right"><label><?php echo $translator['L_ORDER']; ?></label>
                                        <?php echo $this->formRow($reportForm->get('report_order')->get('order_order[]')); ?> <a class="plus m-l-5" href="javascript:void(0);" onclick="addNewOrderBy(this)" id="addMoreOrderBy"></a></div>

                                </div>
                            </div>
                            <?php
                        }
                        ?>

                    </div>
                <?php } ?>
                <div class="row no-padd m-t-10"><span class="text-bold"><?php echo $translator['L_SET_FILTERS']; ?></span> </div>
                <?php
                if (!empty($filterValueColumns)) {
                    $filterIndex = 0;
                    //asd($filterValueColumns);
                    foreach ($filterValueColumns as $filterColumns) {
                        $filterValueName = 'filter_value_' . $filterColumns['column_id'];
                        $classValues = 'filterValues' . $filterColumns['column_id'];
                        $showValues = 'display:block';
                        if ((!empty($filterColumns['rep_filter_id']) && $filterColumns['filter_field_show'][$filterColumns['rep_filter_id']] == 'N') || ($filterColumns['column_type'] == 4 && empty($filterColumns['rep_filter_id']))) {
                            $showValues = 'display:none';
                        }
                        if (isset($filterColumns['filter_group_filters'][12]) || isset($filterColumns['filter_group_filters'][16])) {
                            $betweenFrom = '';
                            $betweenTo = '';
                            $filterVal = '';
                            $showBetween1 = 'display:block';
                            $showBetween2 = 'display:none';
                            if (!empty($filterColumns['rep_filter_id']) && ($filterColumns['rep_filter_id'] == 12 || $filterColumns['rep_filter_id'] == 16)) {
                                $betweenArr = explode('#####', $filterColumns['rep_filter_value']);
                                $betweenFrom = $betweenArr[0];
                                $betweenTo = $betweenArr[1];
                                $showBetween1 = 'display:none';
                                $showBetween2 = 'display:block';
                            } else {
                                $filterVal = $filterColumns['rep_filter_value'];
                                $showBetween1 = 'display:block';
                                $showBetween2 = 'display:none';
                            }

                            $reportForm->add(array(
                                'name' => $filterValueName,
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName,
                                    'value' => $filterVal
                                )
                            ));

                            $reportForm->add(array(
                                'name' => $filterValueName . '_from',
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName . '_from',
                                    'value' => $betweenFrom,
                                    'class' => 'width-106'
                                )
                            ));
                            $reportForm->add(array(
                                'name' => $filterValueName . '_to',
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName . '_to',
                                    'value' => $betweenTo,
                                    'class' => 'width-106 m-l-5'
                                )
                            ));
                        } else if ($filterColumns['column_type'] == 1) {
                            $reportForm->add(array(
                                'name' => $filterValueName,
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName,
                                    'value' => $filterColumns['rep_filter_value']
                                )
                            ));
                        } else if ($filterColumns['column_type'] == 2) {
                            $reportForm->add(array(
                                'type' => 'Zend\Form\Element\Select',
                                'name' => $filterValueName,
                                'options' => array(
                                    'value_options' => $filterColumns['filter_values'],
                                ),
                                'attributes' => array(
                                    'id' => $filterValueName,
                                    'size' => '4',
                                    'class' => 'e1 select-w-320 ',
                                    'value' => $filterColumns['rep_filter_value']
                                )
                            ));
                        } else if ($filterColumns['column_type'] == 3) {
                            $reportForm->add(array(
                                'type' => 'Zend\Form\Element\Select',
                                'name' => $filterValueName,
                                'options' => array(
                                    'value_options' => $filterColumns['filter_values'],
                                ),
                                'attributes' => array(
                                    'multiple' => 'multiple',
                                    'id' => $filterValueName,
                                    'size' => '4',
                                    'class' => 'e1 select-w-320 ',
                                    'value' => $filterColumns['rep_filter_value']
                                )
                            ));
                        } else if ($filterColumns['column_type'] == 4) {
                            $fromDate = $toDate = '';
                            if (!empty($filterColumns['rep_filter_value'])) {
                                $fromToDateArr = explode(',', $filterColumns['rep_filter_value']);

                                if (!empty($fromToDateArr)) {
                                    $fromDate = $fromToDateArr[0];
                                    $toDate = $fromToDateArr[1];
                                }
                            }

                            $reportForm->add(array(
                                'name' => $filterValueName . '_from',
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName . '_from',
                                    'value' => $fromDate,
                                    'class' => 'width-106 cal-icon calenderFrom'
                                )
                            ));
                            $reportForm->add(array(
                                'name' => $filterValueName . '_to',
                                'attributes' => array(
                                    'type' => 'text',
                                    'id' => $filterValueName . '_to',
                                    'value' => $toDate,
                                    'class' => 'width-106 m-l-5 cal-icon calenderTo'
                                )
                            ));
                        }
                        ?>
                        <div class="row">
                            <div class="col1">
                                <label><?php echo $filterColumns['display_column_name']; ?></label>
                                <?php echo $this->formRow($reportForm->get('filter_columns[]')->setAttributes(array('options' => $filterColumns['filter_group_filters'], 'id' => 'filter_columns_' . $filterColumns['column_id'], 'onchange' => 'changeFilter(this,' . $filterColumns['column_id'] . ')'))->setValue($filterColumns['rep_filter_id'])); ?></div>
                            <?php if ($filterColumns['column_type'] == 4) {
                                ?>          <div class="col1 right"><label>&nbsp;</label> <div class="<?php echo $classValues; ?>" style="<?php echo $showValues; ?>"><?php echo $this->formRow($reportForm->get($filterValueName . '_from')); ?><?php echo $this->formRow($reportForm->get($filterValueName . '_to')); ?></div></div>
                                <?php } else if (isset($filterColumns['filter_group_filters'][12]) || isset($filterColumns['filter_group_filters'][16])) { ?>
                                <div class="col1 right"><label>&nbsp;</label> <div class="<?php echo $classValues; ?>" style="<?php echo $showValues; ?>"><div id="<?php echo $filterValueName . "_between1"; ?>" style="<?php echo $showBetween1; ?>"><?php echo $this->formRow($reportForm->get($filterValueName)); ?></div><div id="<?php echo $filterValueName . '_between2'; ?>" style="<?php echo $showBetween2; ?>"><?php echo $this->formRow($reportForm->get($filterValueName . '_from')); ?><?php echo $this->formRow($reportForm->get($filterValueName . '_to')); ?></div></div></div>
                            <?php } else { ?>
                                <div class="col1 right"><label>&nbsp;</label><div class="<?php echo $classValues; ?>" style="<?php echo $showValues; ?>"><?php echo $this->formRow($reportForm->get($filterValueName)); ?></div></div>
                            <?php } ?>
                        </div>
                        <?php
                        $filterIndex++;
                    }
                }
                echo $this->formRow($reportForm->get('run_report'));
				if ($reportInfo['mst_report_id'] != '36') {
					echo $this->formRow($reportForm->get('save_and_run_report'));
				}
                ?>
                <?php
                $arr = array('14', '8', '10', '6');
                if (($repCategoryId == 1 || $repCategoryId == 2) && !in_array($reportInfo['mst_report_id'], $arr) && ($reportInfo['mst_report_id'] != '36')) {
                    ?>
                    <a href="javascript:void(0);" class="right save-btn" id="addReportContactToGroup">Add/Create to Group</a>
                    <?php
                } else if ($reportInfo['mst_report_id'] == '36') {
                    ?>
                    <a href="/create-excel/<?php echo $this->Encrypt($reportInfo['report_id']); ?>" class="right save-btn">Create Excel</a>
                    <?php
                }
                ?>
            </div>
        </div>
        <div class="head"><span><?php echo $translator['L_GENERAL_SETTING']; ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row no-padd"><span class="text-bold"><?php echo $translator['L_DISPLAY_COLUMNS']; ?></span> </div>

                <div class="row">
                    <label><?php echo $translator['L_REPORT_TITLE']; ?> <span class="red">*</span></label>
                    <?php echo $this->formRow($reportForm->get('report_title')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_REPORT_DESCRIPTION']; ?></label>
                    <?php echo $this->formRow($reportForm->get('report_description')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_REPORT_HEADER']; ?></label>
                    <?php echo $this->formRow($reportForm->get('report_header')); ?>
                </div>
                <div class="row">
                    <label><?php echo $translator['L_REPORT_FOOTER']; ?></label>
                    <?php echo $this->formRow($reportForm->get('report_footer')); ?>
                </div>
                <div class="row no-padd"><span class="text-bold">Other Settings</span> </div>
                <div class="row">
                    <label><?php echo $translator['L_ROLE']; ?> <span class="red">*</span></label>
                    <?php echo $this->formRow($reportForm->get('role_id[]')); ?>
                </div>
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($reportForm->get('update_report')); ?>
                    <?php echo $this->formRow($reportForm->get('save_copy')); ?>
                </div>
            </div>

        </div>
        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
<?php
if ($reportInfo['mst_report_id'] != '36') {
    ?>
    <div class="grid-section" id="reportDetailGrids">
    </div>
<?php } ?>
