@import url(reset.css);
@import url(elements.css);
@import url(select2.css);
/*=============================
	Name: SOLEIF
	Date: July. 2013
	Description: SOLEIF
	Version: 2.0
	Author: Icreon
	Autor URI: Icreon.com
==============================*/
/*
Import css
=======================*/
/*
Default styles here
=======================*/
/* line 22, ../sass/crm.scss */
.left {
  float: left;
}

/* line 23, ../sass/crm.scss */
.right {
  float: right!important;
}

/* line 24, ../sass/crm.scss */
.full {
  float: left;
  width: 100%;
}

/* line 25, ../sass/crm.scss */
.curv {
  float: left;
  width: 100%;
}

/* line 26, ../sass/crm.scss */
.curv {
  float: left;
}

/* line 27, ../sass/crm.scss */
.clear {
  clear: both;
}

/*
Standard background-colors
===========================*/
/*
Standard hover-colors
===========================*/
/*
Standard font colors
===========================*/
/*
Fonts
=========================================*/
/* line 81, ../sass/crm.scss */
.relative {
  position: relative;
}

/*
starts header
=========================================*/
/* line 87, ../sass/crm.scss */
.outer-wrapper {
  width: 100%;
  float: left;
}

/* line 88, ../sass/crm.scss */
#header {
  width: 100%;
  float: left;
  background: url("../img/header-bg.jpg") repeat-x 0 0;
  height: 140px;
}
/* line 89, ../sass/crm.scss */
#header .logo {
  width: 434px;
  float: left;
  height: 54px;
  margin: 41px 0 39px 32px;
}
/* line 90, ../sass/crm.scss */
#header .right-detail {
  width: 232px;
  float: right;
  margin: 32px 14px 0 0;
}
/* line 91, ../sass/crm.scss */
#header .right-detail figure {
  width: 72px;
  float: left;
  height: 72px;
  margin-right: 17px;
  border: 2px solid #8c8f8c;
}
/* line 92, ../sass/crm.scss */
#header .right-detail figure img {
  width: 72px;
  float: left;
  height: 72px;
}
/* line 93, ../sass/crm.scss */
#header .right-detail span {
  font-size: 16px;
  line-height: 18px;
  color: #a5a5a5;
  font-family: "open_sansregular";
}
/* line 94, ../sass/crm.scss */
#header .right-detail span strong {
  color: #636161;
  font-family: "open_sanssemibold";
}
/* line 95, ../sass/crm.scss */
#header .right-detail ul {
  float: left;
  list-style: none;
  margin-top: 21px;
}
/* line 96, ../sass/crm.scss */
#header .right-detail ul li {
  float: left;
}
/* line 97, ../sass/crm.scss */
#header .right-detail ul li.fist {
  float: left;
  position: relative;
}
/* line 98, ../sass/crm.scss */
#header .right-detail ul li.fist small {
  width: 22px;
  height: 18px;
  float: left;
  background: #e62753;
  text-align: center;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  right: 4px;
  top: -9px;
}
/* line 99, ../sass/crm.scss */
#header .right-detail ul li.fist a {
  width: 36px;
  float: left;
  height: 28px;
  margin-right: 10px;
  background: #91c1ab;
  text-align: center;
  padding-top: 8px;
}
/* line 100, ../sass/crm.scss */
#header .right-detail ul li.fist a:hover {
  background: #7dad97;
}
/* line 101, ../sass/crm.scss */
#header .right-detail ul li.last {
  float: left;
}
/* line 102, ../sass/crm.scss */
#header .right-detail ul li.last a {
  width: 91px;
  float: left;
  height: 27px;
  padding-top: 9px;
  background: #5496ca;
  font-size: 15px;
  line-height: 17px;
  font-family: 'open_sansregular';
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 103, ../sass/crm.scss */
#header .right-detail ul li.last a:hover {
  background: #2d6c9e;
}

/*
starts footer
=========================================*/
/* line 113, ../sass/crm.scss */
#footer {
  width: 100%;
  float: left;
  height: 65px;
  background: #2f2f2f;
  /*left: 0px; bottom: 0px; position: fixed;*/
}
/* line 114, ../sass/crm.scss */
#footer p {
  font-size: 15px;
  font-weight: normal;
  color: white;
  font-family: "open_sanslight";
  float: left;
  padding: 25px 0 0 25px;
}

/* line 117, ../sass/crm.scss */
#forgot-password {
  width: 620px;
  margin: 180px auto;
}
/* line 118, ../sass/crm.scss */
#forgot-password .create-contacts {
  margin-bottom: 401px;
}

/*
Login Page
=========================================*/
/* line 123, ../sass/crm.scss */
.border-top {
  border-top: 5px solid #2f2f2f;
}

/* line 124, ../sass/crm.scss */
.login-page {
  width: 518px;
  margin: 160px auto 0;
}
/* line 125, ../sass/crm.scss */
.login-page .error-msg {
  background: none;
  padding-left: 0px;
}
/* line 126, ../sass/crm.scss */
.login-page .logo {
  width: 437px;
  float: left;
  height: 55px;
}
/* line 127, ../sass/crm.scss */
.login-page .detail-box {
  width: 388px;
  float: left;
  border: 1px solid #e1e1e1;
  background: #e9e9e9;
  padding: 40px 66px 48px 62px;
  margin-bottom: 300px;
}
/* line 128, ../sass/crm.scss */
.login-page .detail-box h3 {
  display: block;
  font-size: 24px;
  line-height: 27px;
  font-family: "Georgia";
  padding-bottom: 25px;
  color: #454545;
}
/* line 129, ../sass/crm.scss */
.login-page .detail-box form {
  width: 100%;
  float: left;
}
/* line 130, ../sass/crm.scss */
.login-page .detail-box .row {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}
/* line 131, ../sass/crm.scss */
.login-page .detail-box .input-bg-email {
  width: 300px;
  float: left;
  height: 22px;
  background: white url("../img/sprite.png") repeat-x 0 0;
  padding: 13px 18px 15px 70px;
}
/* line 132, ../sass/crm.scss */
.login-page .detail-box .input-bg-pass {
  width: 300px;
  float: left;
  height: 22px;
  background: white url("../img/sprite.png") repeat-x 0 -70px;
  padding: 13px 18px 15px 70px;
}
/* line 133, ../sass/crm.scss */
.login-page .detail-box input {
  width: 100%;
  float: left;
  background: none;
  font-size: 17px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
  border: 0;
}
/* line 134, ../sass/crm.scss */
.login-page .detail-box input.reset {
  background: #fff;
  font-size: 13px;
  margin-top: 5px;
  width: 374px;
  padding: 9px 7px;
}
/* line 135, ../sass/crm.scss */
.login-page .detail-box .link {
  float: right;
  font-size: 13px;
  color: #fd0e0e;
  font-family: "open_sansregular";
  padding-top: 7px;
}
/* line 136, ../sass/crm.scss */
.login-page .detail-box .link:hover {
  text-decoration: none;
}
/* line 137, ../sass/crm.scss */
.login-page .detail-box .checkbox {
  float: left;
  width: auto;
  margin-right: 8px;
}
/* line 138, ../sass/crm.scss */
.login-page .detail-box .radio {
  float: left;
  width: auto;
  margin-right: 8px;
}
/* line 139, ../sass/crm.scss */
.login-page .detail-box label {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
}
/* line 140, ../sass/crm.scss */
.login-page .detail-box .button {
  width: 100%;
  float: left;
  height: 50px;
  background: #5496ca;
  text-align: center;
  font-size: 24px;
  line-height: 17px;
  cursor: pointer;
  color: white;
  font-family: "open_sanssemibold";
}
/* line 141, ../sass/crm.scss */
.login-page .detail-box .button:hover {
  background: #2d6c9e;
}

/*
Left Container
=========================================*/
/* line 150, ../sass/crm.scss */
.body-container {
  width: 100%;
  float: left;
  padding-bottom: 65px;
}

/* line 151, ../sass/crm.scss */
#left-section {
  width: 197px;
  float: left;
  background: url("../img/left-bg.jpg") repeat-y 0 0;
  min-height: 800px;
  height: auto!important;
  height: 800px;
}
/* line 152, ../sass/crm.scss */
#left-section ul {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 153, ../sass/crm.scss */
#left-section ul.sub-menu {
  width: 100%;
  float: left;
  background: url("../img/menu-normal.jpg") repeat-y 0 0;
  display: none;
}
/* line 154, ../sass/crm.scss */
#left-section ul.sub-menu li {
  float: left;
  width: 100%;
  border-top: 1px solid #c8c8c8;
  font-size: 12px;
  line-height: 14px;
  color: #636161;
  font-family: "open_sansregular";
}
/* line 155, ../sass/crm.scss */
#left-section ul.sub-menu li.last {
  border-bottom: 0px;
}
/* line 156, ../sass/crm.scss */
#left-section ul.sub-menu li a {
  text-decoration: none;
  width: 127px;
  float: left;
  text-decoration: none;
  color: #636161;
  padding: 14px 0 13px 70px;
  background: url("../img/m-icon.png") no-repeat 56px center;
}
/* line 157, ../sass/crm.scss */
#left-section ul.sub-menu li a:hover {
  background: white url("../img/m-hover.png") repeat-y 0 center;
}
/* line 158, ../sass/crm.scss */
#left-section ul.sub-menu li a.active {
  background: white url("../img/m-hover.png") repeat-y 0 center;
}
/* line 161, ../sass/crm.scss */
#left-section ul li {
  float: left;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
  line-height: 17px;
  color: #636161;
  font-family: "open_sansregular";
}
/* line 162, ../sass/crm.scss */
#left-section ul li a {
  width: 142px;
  float: left;
  text-decoration: none;
  color: #636161;
  padding: 15px 0 17px 55px;
  background: url("../img/menu-icon.png") repeat-y 0 0;
}
/* line 164, ../sass/crm.scss */
#left-section ul li a.dashboard {
  background: url("../img/menu-icon.png") repeat-y 17px 0px;
}
/* line 165, ../sass/crm.scss */
#left-section ul li a.dashboard:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px 0px;
}
/* line 166, ../sass/crm.scss */
#left-section ul li a.dashboard.active {
  background: white url("../img/menu-icon.png") repeat-y 17px 0px;
}
/* line 168, ../sass/crm.scss */
#left-section ul li a.contacts {
  background: url("../img/menu-icon.png") repeat-y 17px -51px;
}
/* line 169, ../sass/crm.scss */
#left-section ul li a.contacts:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -51px;
}
/* line 170, ../sass/crm.scss */
#left-section ul li a.contacts.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -51px;
}
/* line 172, ../sass/crm.scss */
#left-section ul li a.cases {
  background: url("../img/menu-icon.png") repeat-y 17px -97px;
}
/* line 173, ../sass/crm.scss */
#left-section ul li a.cases:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -97px;
}
/* line 174, ../sass/crm.scss */
#left-section ul li a.cases.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -97px;
}
/* line 176, ../sass/crm.scss */
#left-section ul li a.pledges {
  background: url("../img/menu-icon.png") repeat-y 17px -149px;
}
/* line 177, ../sass/crm.scss */
#left-section ul li a.pledges:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -149px;
}
/* line 178, ../sass/crm.scss */
#left-section ul li a.pledges.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -149px;
}
/* line 180, ../sass/crm.scss */
#left-section ul li a.peads {
  background: url("../img/menu-icon.png") repeat-y 17px -198px;
}
/* line 181, ../sass/crm.scss */
#left-section ul li a.peads:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -198px;
}
/* line 182, ../sass/crm.scss */
#left-section ul li a.peads.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -198px;
}
/* line 184, ../sass/crm.scss */
#left-section ul li a.campaings {
  background: url("../img/menu-icon.png") repeat-y 17px -248px;
}
/* line 185, ../sass/crm.scss */
#left-section ul li a.campaings:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -248px;
}
/* line 186, ../sass/crm.scss */
#left-section ul li a.campaings.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -248px;
}
/* line 188, ../sass/crm.scss */
#left-section ul li a.activities {
  background: url("../img/menu-icon.png") repeat-y 17px -298px;
}
/* line 189, ../sass/crm.scss */
#left-section ul li a.activities:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -298px;
}
/* line 190, ../sass/crm.scss */
#left-section ul li a.activities.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -298px;
}
/* line 192, ../sass/crm.scss */
#left-section ul li a.products {
  background: url("../img/menu-icon.png") repeat-y 17px -347px;
}
/* line 193, ../sass/crm.scss */
#left-section ul li a.products:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -347px;
}
/* line 194, ../sass/crm.scss */
#left-section ul li a.products.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -347px;
}
/* line 196, ../sass/crm.scss */
#left-section ul li a.transactions {
  background: url("../img/menu-icon.png") repeat-y 17px -400px;
}
/* line 197, ../sass/crm.scss */
#left-section ul li a.transactions:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -400px;
}
/* line 198, ../sass/crm.scss */
#left-section ul li a.transactions.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -400px;
}
/* line 200, ../sass/crm.scss */
#left-section ul li a.document {
  background: url("../img/menu-icon.png") repeat-y 14px -448px;
}
/* line 201, ../sass/crm.scss */
#left-section ul li a.document:hover {
  background: white url("../img/menu-icon.png") repeat-y 14px -448px;
}
/* line 202, ../sass/crm.scss */
#left-section ul li a.document.active {
  background: white url("../img/menu-icon.png") repeat-y 14px -448px;
}
/* line 204, ../sass/crm.scss */
#left-section ul li a.cms {
  background: url("../img/menu-icon.png") repeat-y 17px -499px;
}
/* line 205, ../sass/crm.scss */
#left-section ul li a.cms:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -499px;
}
/* line 206, ../sass/crm.scss */
#left-section ul li a.cms.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -499px;
}
/* line 208, ../sass/crm.scss */
#left-section ul li a.users {
  background: url("../img/menu-icon.png") repeat-y 17px -547px;
}
/* line 209, ../sass/crm.scss */
#left-section ul li a.users:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -547px;
}
/* line 210, ../sass/crm.scss */
#left-section ul li a.users.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -547px;
}
/* line 212, ../sass/crm.scss */
#left-section ul li a.promotions {
  background: url("../img/menu-icon.png") repeat-y 17px -600px;
}
/* line 213, ../sass/crm.scss */
#left-section ul li a.promotions:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -600px;
}
/* line 214, ../sass/crm.scss */
#left-section ul li a.promotions.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -600px;
}
/* line 216, ../sass/crm.scss */
#left-section ul li a.settings {
  background: url("../img/menu-icon.png") repeat-y 17px -647px;
}
/* line 217, ../sass/crm.scss */
#left-section ul li a.settings:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -647px;
}
/* line 218, ../sass/crm.scss */
#left-section ul li a.settings.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -647px;
}
/* line 220, ../sass/crm.scss */
#left-section ul li a.reports {
  background: url("../img/menu-icon.png") repeat-y 17px -699px;
}
/* line 221, ../sass/crm.scss */
#left-section ul li a.reports:hover {
  background: white url("../img/menu-icon.png") repeat-y 17px -699px;
}
/* line 222, ../sass/crm.scss */
#left-section ul li a.reports.active {
  background: white url("../img/menu-icon.png") repeat-y 17px -699px;
}

/*
Right Container
=========================================*/
/* line 231, ../sass/crm.scss */
#right-section {
  float: none;
  margin-left: 212px;
  margin-right: 14px;
  padding-top: 10px;
  position: relative;
}
/* line 232, ../sass/crm.scss */
#right-section h2 {
  display: block;
  font-size: 36px;
  line-height: 40px;
  font-family: "Georgia";
  padding-bottom: 10px;
  color: #454545;
  font-weight: normal;
}
/* line 233, ../sass/crm.scss */
#right-section h3 {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-family: "Georgia";
  padding: 5px 0px;
  color: #454545;
  font-weight: normal;
}
/* line 234, ../sass/crm.scss */
#right-section .search-text {
  font-size: 13px;
  line-height: 18px;
  font-family: "open_sansregular";
  color: #5d5757;
  font-weight: normal;
  float: left;
}
/* line 235, ../sass/crm.scss */
#right-section .search-text a {
  color: #5496ca;
}
/* line 236, ../sass/crm.scss */
#right-section .search-text a:hover {
  text-decoration: none;
}

/* line 239, ../sass/crm.scss */
.breadcrumb {
  width: 100%;
  float: left;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 15px;
  font-family: "open_sansregular";
  color: #726c6c;
}
/* line 240, ../sass/crm.scss */
.breadcrumb.contact-breadcrumb {
  width: 100%;
  float: left;
  position: absolute;
  left: 0px;
  top: 59px;
}
/* line 241, ../sass/crm.scss */
.breadcrumb a {
  text-decoration: underline;
  color: #5496ca;
  padding-right: 2px;
}
/* line 242, ../sass/crm.scss */
.breadcrumb a:hover {
  text-decoration: none;
}
/* line 244, ../sass/crm.scss */
.breadcrumb ul {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 245, ../sass/crm.scss */
.breadcrumb ul li {
  float: left;
  font-size: 13px;
  line-height: 15px;
  font-family: "open_sansregular";
  margin-right: 4px;
}
/* line 246, ../sass/crm.scss */
.breadcrumb ul li a {
  text-decoration: none;
  color: #726c6c;
}
/* line 247, ../sass/crm.scss */
.breadcrumb ul li a:hover {
  color: #726c6c;
}
/* line 248, ../sass/crm.scss */
.breadcrumb ul li a.active {
  color: #5496ca;
  text-decoration: underline;
}
/* line 249, ../sass/crm.scss */
.breadcrumb ul li a.active:hover {
  text-decoration: none;
}

/*
Create Contacts
=========================================*/
/* line 258, ../sass/crm.scss */
.link {
  font-size: 13px;
  line-height: 16px;
  color: #5496ca;
  font-family: "open_sansregular";
  text-decoration: underline;
  cursor: pointer;
}
/* line 259, ../sass/crm.scss */
.link:hover {
  text-decoration: none;
}

/* line 260, ../sass/crm.scss */
.contact-photo {
  position: relative;
}
/* line 260, ../sass/crm.scss */
.contact-photo .photo {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 261, ../sass/crm.scss */
.create-contacts {
  width: 100%;
  float: left;
}
/* line 262, ../sass/crm.scss */
.create-contacts .communication .select2-container {
  width: 270px;
}
/* line 263, ../sass/crm.scss */
.create-contacts .communication input[type="text"] {
  width: 237px;
}
/* line 264, ../sass/crm.scss */
.create-contacts .select2-container-multi {
  background: white;
  min-height: 30px;
  padding: 5px 0 0 5px;
}
/* line 265, ../sass/crm.scss */
.create-contacts .view-contact-bg {
  width: 100%;
  float: left;
  background: #f5f4f4;
}
/* line 266, ../sass/crm.scss */
.create-contacts .view-contact-bg .inner-padding {
  padding: .5%;
  float: left;
  width: 99%;
}
/* line 268, ../sass/crm.scss */
.create-contacts .accordion-detail {
  width: 100%;
  float: left;
}
/* line 269, ../sass/crm.scss */
.create-contacts .detail-row {
  margin-bottom: 16px;
  width: 100%;
  float: left;
}
/* line 270, ../sass/crm.scss */
.create-contacts .head {
  width: 100%;
  float: left;
  font-size: 18px;
  line-height: 21px;
  color: white;
  font-family: "open_sanssemibold";
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
  background: #5496ca url("../img/menu-icon.png") repeat-y right -795px;
}
/* line 271, ../sass/crm.scss */
.create-contacts .head.active {
  background: #5496ca url("../img/menu-icon.png") repeat-y right -848px;
}
/* line 272, ../sass/crm.scss */
.create-contacts .head.no-img {
  background: #5496ca;
}
/* line 273, ../sass/crm.scss */
.create-contacts .head span {
  float: left;
  padding: 9px 0 0 18px;
}
/* line 275, ../sass/crm.scss */
.create-contacts .detail-section.white-bg {
  width: 96.9%;
  float: left;
  background: white;
  padding: 1.5%;
  border: 1px solid #e1e1e1;
  border-top: 0px;
}
/* line 276, ../sass/crm.scss */
.create-contacts .detail-section1 {
  width: 97%;
  float: left;
  background: #dde0e3;
  padding: 0.6% 1.5%;
}
/* line 277, ../sass/crm.scss */
.create-contacts .detail-section {
  width: 97%;
  float: left;
  background: #f5f4f4;
  padding: 1.5%;
}
/* line 278, ../sass/crm.scss */
.create-contacts .row {
  width: 100%;
  float: left;
  padding-bottom: 14px;
}
/* line 279, ../sass/crm.scss */
.create-contacts .row1 {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}
/* line 280, ../sass/crm.scss */
.create-contacts .row3 {
  width: 100%;
  float: left;
  min-height: 38px;
  height: auto!important;
  height: 38px;
}
/* line 281, ../sass/crm.scss */
.create-contacts .view-row {
  width: 100%;
  float: left;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 23px;
  color: #373232;
  font-family: "open_sansregular";
}
/* line 282, ../sass/crm.scss */
.create-contacts .view-row strong {
  font-size: 15px;
  line-height: 20px;
  color: #636161;
  font-family: "open_sansregular";
}
/* line 283, ../sass/crm.scss */
.create-contacts .view-row span {
  color: #373232;
}
/* line 285, ../sass/crm.scss */
.create-contacts .text {
  font-size: 13px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
}
/* line 286, ../sass/crm.scss */
.create-contacts .text strong {
  font-weight: bold;
}
/* line 287, ../sass/crm.scss */
.create-contacts .text.w-90 {
  width: 90%;
  float: left;
}
/* line 288, ../sass/crm.scss */
.create-contacts .text-large {
  font-size: 15px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
}
/* line 289, ../sass/crm.scss */
.create-contacts .age-year {
  font-size: 11px;
  line-height: 16px;
  color: #454545;
  font-family: "open_sansregular";
  font-style: italic;
  padding-left: 144px;
  width: 50%;
  float: left;
}
/* line 290, ../sass/crm.scss */
.create-contacts .age-year.pad-l-190 {
  padding-left: 190px;
  width: 80%;
}
/* line 291, ../sass/crm.scss */
.create-contacts .age-year.auto {
  width: auto;
}
/* line 292, ../sass/crm.scss */
.create-contacts .text-bold {
  font-size: 14px;
  line-height: 19px;
  color: #393939;
  font-family: "open_sanssemibold";
  width: 100%;
  float: left;
  padding-bottom: 13px;
}
/* line 293, ../sass/crm.scss */
.create-contacts .exitvalue {
  font-size: 13px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
  padding-top: 8px;
  float: left;
}
/* line 294, ../sass/crm.scss */
.create-contacts .view-text {
  font-size: 13px;
  line-height: 19px;
  color: black;
  font-family: "open_sansregular";
  padding-top: 8px;
  float: left;
}
/* line 295, ../sass/crm.scss */
.create-contacts .view-text.width-50 {
  width: 50%;
}
/* line 296, ../sass/crm.scss */
.create-contacts label {
  width: 144px;
  float: left;
  font-size: 14px;
  line-height: 16px;
  color: #636161;
  font-family: "open_sansregular";
  padding: 9px 0px;
}
/* line 297, ../sass/crm.scss */
.create-contacts label small {
  color: red;
}
/* line 298, ../sass/crm.scss */
.create-contacts label.pad-top-5 {
  padding-top: 5px;
}
/* line 299, ../sass/crm.scss */
.create-contacts label.width-190 {
  width: 190px;
}
/* line 300, ../sass/crm.scss */
.create-contacts label.width-90 {
  width: 90px;
}
/* line 301, ../sass/crm.scss */
.create-contacts label.radio {
  width: auto;
  font-size: 13px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
  padding: 2px 4px 7px 27px !important;
}
/* line 302, ../sass/crm.scss */
.create-contacts label.check {
  width: auto;
  font-size: 13px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
  padding: 1px 5px 7px 30px !important;
}
/* line 303, ../sass/crm.scss */
.create-contacts label.auto {
  width: auto;
  padding: 9px 4px 0;
}
/* line 304, ../sass/crm.scss */
.create-contacts .col1 {
  width: 45%;
  float: left;
}
/* line 305, ../sass/crm.scss */
.create-contacts .col2 {
  width: 20%;
  float: left;
}
/* line 306, ../sass/crm.scss */
.create-contacts .col3 {
  width: 16%;
  float: left;
}
/* line 307, ../sass/crm.scss */
.create-contacts .col4 {
  width: 30%;
  float: left;
}
/* line 308, ../sass/crm.scss */
.create-contacts .col5 {
  width: 10%;
  float: left;
}
/* line 309, ../sass/crm.scss */
.create-contacts .col6 {
  width: 24%;
  float: left;
}
/* line 310, ../sass/crm.scss */
.create-contacts .col7 {
  width: 40%;
  float: left;
}
/* line 311, ../sass/crm.scss */
.create-contacts .col8 {
  width: 33%;
  float: left;
}
/* line 312, ../sass/crm.scss */
.create-contacts .col11 {
  width: 11%;
  float: left;
}
/* line 313, ../sass/crm.scss */
.create-contacts .col12 {
  width: 55%;
  float: left;
}
/* line 314, ../sass/crm.scss */
.create-contacts .col13 {
  width: 49%;
  float: left;
}
/* line 315, ../sass/crm.scss */
.create-contacts a.add-address, .create-contacts a.delete-address {
  width: auto;
  float: left;
  height: 26px;
  background: #5496ca url("../img/sprite.png") no-repeat 0 -246px;
  font-size: 15px;
  line-height: 17px;
  color: white;
  text-decoration: none;
  font-family: "open_sanssemibold";
  text-transform: uppercase;
  padding: 8px 15px 0 49px;
  cursor: pointer;
}
/* line 316, ../sass/crm.scss */
.create-contacts a.add-address:hover, .create-contacts a.delete-address:hover {
  background-color: #2d6c9e;
}
/* line 317, ../sass/crm.scss */
.create-contacts a.add-address:focus, .create-contacts a.delete-address:focus {
  outline: 1px dotted #cccccc;
}
/* line 318, ../sass/crm.scss */
.create-contacts a.delete-address {
  background: #91c1ab url("../img/sprite.png") no-repeat 0 -281px;
}
/* line 319, ../sass/crm.scss */
.create-contacts a.delete-address:hover {
  background-color: #71ac91;
}
/* line 320, ../sass/crm.scss */
.create-contacts a.delete-address:focus {
  outline: 1px dotted #cccccc;
}
/* line 323, ../sass/crm.scss */
.create-contacts ul.tags {
  width: 100%;
  float: left;
  list-style: none;
  margin-bottom: 15px;
}
/* line 324, ../sass/crm.scss */
.create-contacts ul.tags li {
  float: left;
  margin-right: 10px;
  font-size: 13px;
  line-height: 16px;
  font-family: "open_sansitalic";
  background: #dde0e3;
}
/* line 325, ../sass/crm.scss */
.create-contacts ul.tags li a {
  text-decoration: none;
  float: left;
  color: #454545;
  background: #dde0e3 url("../img/sprite.png") no-repeat right -282px;
  padding: 6px 34px 6px 8px;
}
/* line 327, ../sass/crm.scss */
.create-contacts .basic-text {
  float: left;
  font-size: 13px;
  color: #6f6f6f;
  font-family: "open_sansregular";
  padding: 10px 0 0 20px;
}
/* line 328, ../sass/crm.scss */
.create-contacts .basic-text a {
  color: #5496ca;
}
/* line 328, ../sass/crm.scss */
.create-contacts .basic-text a:hover {
  text-decoration: none;
}
/* line 329, ../sass/crm.scss */
.create-contacts a.doc-link {
  width: 34px;
  height: 34px;
  float: left;
  background: #91c1ab url("../img/sprite.png") no-repeat 7px -620px;
}
/* line 330, ../sass/crm.scss */
.create-contacts a.doc-link:hover {
  background: #7dad97 url("../img/sprite.png") no-repeat 7px -620px;
}
/* line 332, ../sass/crm.scss */
.create-contacts ul.edit-link {
  float: right;
  list-style: none;
}
/* line 333, ../sass/crm.scss */
.create-contacts ul.edit-link li {
  float: left;
  font-size: 13px;
  line-height: 19px;
  color: #454545;
  font-family: "open_sansregular";
  margin-left: 2px;
  margin-bottom: 2px;
}
/* line 334, ../sass/crm.scss */
.create-contacts ul.edit-link li a {
  text-decoration: none;
  color: white;
  background: #5496ca;
  padding: 4px 6px;
  float: left;
}
/* line 335, ../sass/crm.scss */
.create-contacts ul.edit-link li a:hover {
  background: #2d6c9e;
}
/* line 336, ../sass/crm.scss */
.create-contacts ul.edit-link li a.active {
  background: #2d6c9e;
}

 /*
====================== 
Note Tab
=========================================*/
/* line 344, ../sass/crm.scss */
.note-tab {
  width: 100%;
  float: left;
  margin-top: 20px;
}
/* line 345, ../sass/crm.scss */
.note-tab ul {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 346, ../sass/crm.scss */
.note-tab ul li {
  float: left;
  width: auto;
  margin-right: 5px;
}
/* line 347, ../sass/crm.scss */
.note-tab ul li a {
  float: left;
  text-decoration: none;
  background: #ced1d3;
  color: #373232;
  font-size: 16px;
  line-height: 20px;
  font-family: "open_sansregular";
  padding: 10px 16px;
}
/* line 348, ../sass/crm.scss */
.note-tab ul li a.active {
  background: #f5f4f4;
}

 /*
====================== 
Fommon form
=========================================*/
/* line 356, ../sass/crm.scss */
.e1, .select2-results {
  font-family: "open_sansregular";
}

/* line 357, ../sass/crm.scss */
.common-form {
  width: 100%;
  float: left;
}
/* line 358, ../sass/crm.scss */
.common-form .save-btn {
  width: auto;
  float: left;
  font-size: 15px;
  line-height: 35px;
  text-decoration: none;
  border: 0px;
  background: #5496ca;
  color: white;
  height: 34px;
  cursor: pointer;
  font-family: "open_sansregular";
  padding: 0 14px;
  text-transform: uppercase;
}
/* line 359, ../sass/crm.scss */
.common-form .save-btn:hover {
  background: #2d6c9e;
}
/* line 360, ../sass/crm.scss */
.common-form .save-btn:focus {
  outline: 1px dotted #cccccc;
}
/* line 361, ../sass/crm.scss */
.common-form .cancel-btn {
  width: auto;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  border: 0px;
  background: #91c1ab;
  color: white;
  height: 34px;
  cursor: pointer;
  padding: 0 15px;
}
/* line 362, ../sass/crm.scss */
.common-form .cancel-btn:hover {
  background: #7dad97;
}
/* line 363, ../sass/crm.scss */
.common-form .cancel-btn:focus {
  outline: 1px dotted #cccccc;
}
/* line 364, ../sass/crm.scss */
.common-form .search-btn {
  width: auto;
  float: left;
  font-size: 15px;
  line-height: 18px;
  border: 0px;
  background: #5496ca url("../img/sprite.png") no-repeat left -316px;
  text-decoration: none;
  color: white;
  height: 16px;
  cursor: pointer;
  font-family: "open_sansregular";
  padding: 11px 14px 11px 50px;
  text-transform: uppercase;
}
/* line 365, ../sass/crm.scss */
.common-form .search-btn:hover {
  background: #2d6c9e url("../img/sprite.png") no-repeat left -316px;
}
/* line 366, ../sass/crm.scss */
.common-form .search-btn:focus {
  outline: 1px dotted #cccccc;
}
/* line 368, ../sass/crm.scss */
.common-form .remove {
  width: auto;
  float: left;
  font-size: 15px;
  line-height: 18px;
  border: 0px;
  background: #5496ca;
  text-decoration: none;
  color: white;
  height: 16px;
  cursor: pointer;
  font-family: "open_sansregular";
  padding: 11px 14px 11px 14px;
  text-transform: uppercase;
}
/* line 369, ../sass/crm.scss */
.common-form .remove:hover {
  background: #2d6c9e;
}
/* line 370, ../sass/crm.scss */
.common-form .remove:focus {
  outline: 1px dotted #cccccc;
}
/* line 372, ../sass/crm.scss */
.common-form input.search-btn {
  height: auto;
  padding: 8px 14px 8px 50px;
}
/* line 373, ../sass/crm.scss */
.common-form a.plus {
  width: 34px;
  float: left;
  height: 34px;
  background: url("../img/sprite.png") no-repeat 0 -143px;
}
/* line 374, ../sass/crm.scss */
.common-form a.plus:hover {
  background-position: -34px -143px;
}
/* line 375, ../sass/crm.scss */
.common-form a.plus:focus {
  outline: 1px dotted #cccccc;
}
/* line 376, ../sass/crm.scss */
.common-form a.minus {
  width: 34px;
  float: left;
  height: 34px;
  background: url("../img/sprite.png") no-repeat 0 -187px;
  cursor: pointer;
}
/* line 377, ../sass/crm.scss */
.common-form a.minus:hover {
  background-position: -34px -187px;
}
/* line 378, ../sass/crm.scss */
.common-form a.minus:focus {
  outline: 1px dotted #cccccc;
}
/* line 379, ../sass/crm.scss */
.common-form form {
  width: 100%;
  float: left;
}
/* line 380, ../sass/crm.scss */
.common-form fieldset {
  width: 100%;
  float: left;
}
/* line 381, ../sass/crm.scss */
.common-form .readonly-text {
  background: #DDE0E3!important;
  cursor: default;
}
/* line 382, ../sass/crm.scss */
.common-form input[type="text"], .common-form input[type="file"], .common-form input[type="password"] {
  background-color: white;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #373232;
  float: left;
  width: 295px;
  padding: 8px 7px;
  font-family: "open_sansregular";
}
/* line 383, ../sass/crm.scss */
.common-form input[type="text"].width-190, .common-form input[type="file"].width-190, .common-form input[type="password"].width-190 {
  width: 190px;
}
/* line 385, ../sass/crm.scss */
.common-form input.width-272 {
  width: 272px;
}
/* line 386, ../sass/crm.scss */
.common-form input.width-250 {
  width: 250px;
}
/* line 387, ../sass/crm.scss */
.common-form input.width-97 {
  width: 92px;
}
/* line 388, ../sass/crm.scss */
.common-form input.width-130 {
  width: 130px;
}
/* line 389, ../sass/crm.scss */
.common-form input.width-155 {
  width: 155px;
}
/* line 390, ../sass/crm.scss */
.common-form input.width-200 {
  width: 200px;
}
/* line 391, ../sass/crm.scss */
.common-form input.width-134 {
  width: 134px;
}
/* line 392, ../sass/crm.scss */
.common-form input.width-120 {
  width: 120px;
}
/* line 393, ../sass/crm.scss */
.common-form input.width-125 {
  width: 125px;
}
/* line 394, ../sass/crm.scss */
.common-form input.width-500 {
  width: 500px;
}
/* line 395, ../sass/crm.scss */
.common-form input.width-600 {
  width: 599px;
}
/* line 396, ../sass/crm.scss */
.common-form input.width-80 {
  width: 79px;
}
/* line 397, ../sass/crm.scss */
.common-form input.width-108 {
  width: 108px;
}
/* line 398, ../sass/crm.scss */
.common-form input.width-106 {
  width: 106px;
}
/* line 399, ../sass/crm.scss */
.common-form input.width-310 {
  width: 310px!important;
}
/* line 400, ../sass/crm.scss */
.common-form input.width-386 {
  width: 386px!important;
}
/* line 401, ../sass/crm.scss */
.common-form input.width-260 {
  width: 260px!important;
}
/* line 402, ../sass/crm.scss */
.common-form input.none {
  background: none!important;
}
/* line 403, ../sass/crm.scss */
.common-form .checkbox {
  float: left;
  margin: 2px 7px 0 0;
  width: auto;
  padding: 0px;
  width: 15px;
  height: 15px;
}
/* line 404, ../sass/crm.scss */
.common-form .radio {
  float: left;
  margin: 2px 7px 0 0;
  width: auto;
  padding: 0px;
  width: 15px;
  height: 15px;
}
/* line 405, ../sass/crm.scss */
.common-form textarea {
  background: white;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #373232;
  float: left;
  padding: 1%;
  font-family: "open_sansregular";
  width: 83%;
}
/* line 406, ../sass/crm.scss */
.common-form textarea.width-90 {
  width: 83%;
  height: 90px;
}
/* line 407, ../sass/crm.scss */
.common-form textarea.width-60 {
  width: 60%;
  height: 60px;
}
/* line 408, ../sass/crm.scss */
.common-form textarea.width-65 {
  width: 65%;
  height: 60px;
}
/* line 409, ../sass/crm.scss */
.common-form textarea.width-87 {
  width: 87%;
  height: 90px;
}
/* line 410, ../sass/crm.scss */
.common-form textarea.width-300 {
  width: 300px;
  height: 70px;
}
/* line 411, ../sass/crm.scss */
.common-form .search-input-bg {
  background: white;
  height: 22px;
  border: 0px;
  float: left;
  width: 301px;
  padding: 6px 7px;
  font-family: "open_sansregular";
}
/* line 412, ../sass/crm.scss */
.common-form .search-input-bg input {
  width: 278px;
  float: left;
  background: none;
  border: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 16px;
  color: #373232;
}
/* line 413, ../sass/crm.scss */
.common-form .search-input-bg .search-btn {
  width: 22px;
  height: 22px;
  float: right;
  border: 0px;
  background: url("../img/sprite.png") no-repeat 0 -581px;
}

/* line 416, ../sass/crm.scss */
#contact-hideshow {
  display: none;
  width: 100%;
  float: left;
}

/*********************
Get contact page css
*****************************/
/* line 423, ../sass/crm.scss */
.create-contacts.get-contact input.calendar-input {
  width: 125px;
}
/* line 424, ../sass/crm.scss */
.create-contacts.get-contact .select2-container-multi {
  background: white;
  min-height: 30px;
  padding: 5px 0 0 5px;
}
/* line 425, ../sass/crm.scss */
.create-contacts.get-contact .row.no-padd {
  padding: 10px 0px 0px 0px !important;
}
/* line 426, ../sass/crm.scss */
.create-contacts.get-contact .row.no-padd .basic-text {
  padding: 10px 14px 0 20px;
  background: url(../img/sprite.png) no-repeat right -402px;
}
/* line 427, ../sass/crm.scss */
.create-contacts.get-contact .col1 {
  position: relative;
}

/* line 430, ../sass/crm.scss */
.search-row .select2-container {
  width: 300px;
}
/* line 431, ../sass/crm.scss */
.search-row input[type="text"] {
  width: 220px;
}
/* line 432, ../sass/crm.scss */
.search-row .save-btn {
  position: absolute;
  left: 367px;
  top: 0px;
}

/* line 435, ../sass/crm.scss */
.search-row-2 .select2-container {
  width: 300px;
}
/* line 436, ../sass/crm.scss */
.search-row-2 input[type="text"] {
  width: 220px;
}

  /*********************
Create Group page css
*****************************/
/* line 442, ../sass/crm.scss */
.select2-container {
  width: 310px;
}

/* line 444, ../sass/crm.scss */
.create-contacts.create-group .select2-container {
  width: 310px;
}
/* line 445, ../sass/crm.scss */
.create-contacts.create-group input.calendar-input {
  width: 90px;
}
/* line 446, ../sass/crm.scss */
.create-contacts.create-group .select2-container-multi {
  background: white;
  min-height: 30px;
  padding: 5px 0 0 5px;
}
/* line 447, ../sass/crm.scss */
.create-contacts.create-group textarea {
  width: 83%;
  height: 100px;
}
/* line 448, ../sass/crm.scss */
.create-contacts.create-group #country {
  width: 310px;
  height: 90px;
  border: 1px solid #cccccc;
}

  /*********************
case page css
*****************************/
/* line 454, ../sass/crm.scss */
.create-contacts.case .search-input-bg {
  width: 300px;
}
/* line 455, ../sass/crm.scss */
.create-contacts.case .search-input-bg input[type="text"] {
  width: 270px;
}
/* line 456, ../sass/crm.scss */
.create-contacts.case textarea {
  width: 295px;
  padding: 10px;
}
/* line 457, ../sass/crm.scss */
.create-contacts.case .select2-container {
  width: 315px;
}
/* line 458, ../sass/crm.scss */
.create-contacts.case input.width-97 {
  width: 92px !important;
}
/* line 459, ../sass/crm.scss */
.create-contacts.case input.width-128 {
  width: 128px !important;
}
/* line 460, ../sass/crm.scss */
.create-contacts.case input[type="text"] {
  width: 301px;
}
/* line 462, ../sass/crm.scss */
.create-contacts.case .div-tab-reply textarea, .create-contacts.case .div-tab-note textarea {
  width: 98%;
  padding: 1%;
}

/*********************
	Create new contact popup
*****************************/
/* line 472, ../sass/crm.scss */
.create-new-contact-popup input[type="text"] {
  width: 294px !important;
}
/* line 473, ../sass/crm.scss */
.create-new-contact-popup label.error {
  left: 0px;
  top: -2px;
}

/*********************
Common Grid Heading
*****************************/
/* line 480, ../sass/crm.scss */
.grid-section {
  width: 100%;
  float: left;
  margin-top: 10px;
}
/* line 481, ../sass/crm.scss */
.grid-section .label1 {
  width: 21px;
  height: 21px;
  float: left;
  background: #3979ab;
}
/* line 482, ../sass/crm.scss */
.grid-section .label2 {
  width: 21px;
  height: 21px;
  float: left;
  background: #d43f41;
}
/* line 483, ../sass/crm.scss */
.grid-section .top-section {
  width: 100%;
  float: left;
  padding-bottom: 9px;
}
/* line 484, ../sass/crm.scss */
.grid-section .top-section .col1 {
  width: 20%;
  float: left;
}
/* line 485, ../sass/crm.scss */
.grid-section .top-section label {
  float: left;
  font-size: 14px;
  line-height: 17px;
  color: #636161;
  padding: 2px 24px 0 0;
  color: #636161;
  font-family: "open_sansregular";
}
/* line 486, ../sass/crm.scss */
.grid-section .top-section a.link, .grid-section .top-section .link {
  width: 34px;
  height: 34px;
  float: right;
  background: #91c1ab url("../img/sprite.png") no-repeat 0 -367px;
}
/* line 487, ../sass/crm.scss */
.grid-section .top-section a.link:hover, .grid-section .top-section .link:hover {
  background: #7dad97 url("../img/sprite.png") no-repeat 0 -367px;
}
/* line 488, ../sass/crm.scss */
.grid-section .search-results {
  width: 98%;
  float: left;
  background: #efeded;
  padding: 0.5% 1%;
}
/* line 489, ../sass/crm.scss */
.grid-section .search-results h3 {
  font-size: 17px;
  line-height: 21px;
  color: #5d5757;
  font-family: "open_sanssemibold";
}
/* line 490, ../sass/crm.scss */
.grid-section .search-results p {
  font-size: 13px;
  line-height: 17px;
  color: #8a8888;
  font-family: "open_sansitalic";
}
/* line 491, ../sass/crm.scss */
.grid-section .search-results p a {
  color: #5496ca;
}
/* line 491, ../sass/crm.scss */
.grid-section .search-results p a:hover {
  text-decoration: none;
}
/* line 492, ../sass/crm.scss */
.grid-section .grid-box {
  width: 100%;
  float: left;
  font-family: "open_sansregular";
}

/* line 494, ../sass/crm.scss */
#gview_list tr.jqgrow td {
  overflow: visible;
  z-index: 9;
}

/* line 495, ../sass/crm.scss */
#gview_list tr.jqgrow td .action-col {
  width: auto;
  position: relative;
}

/* line 498, ../sass/crm.scss */
#gview_list tr.jqgrow td a.view-icon, #gview_list tr.jqgrow td a.edit-icon, #gview_list tr.jqgrow td a.delete-icon, #gview_list tr.jqgrow td a.archiv-icon,
#gview_list tr.jqgrow td a.add-icon, #gview_list tr.jqgrow td a.option_icon, #gview_list tr.jqgrow td a.save-icon, #gview_list tr.jqgrow td a.cancel-icon,
#gview_list tr.jqgrow td a.receipt_icon, #gview_list tr.jqgrow td .plus-sign a {
  font-size: 0px;
  float: left;
  position: relative;
}

/* line 499, ../sass/crm.scss */
#gview_list tr.jqgrow td a.view-icon {
  width: 23px;
  height: 12px;
  background: url("../img/sprite.png") no-repeat -168px -187px;
  margin-top: 2px;
}

/* line 500, ../sass/crm.scss */
#gview_list tr.jqgrow td a.edit-icon {
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat -209px -187px;
  margin-left: 10px;
}

/* line 501, ../sass/crm.scss */
#gview_list tr.jqgrow td a.delete-icon {
  height: 16px;
  width: 16px;
  background: url("../img/sprite.png") no-repeat -247px -187px;
  margin-left: 13px;
}

/* line 502, ../sass/crm.scss */
#gview_list tr.jqgrow td a.archiv-icon {
  height: 16px;
  width: 16px;
  background: url("../img/sprite.png") no-repeat 0px -776px;
  margin-left: 13px;
}

/* line 503, ../sass/crm.scss */
#gview_list tr.jqgrow td a.add-icon {
  height: 18px;
  width: 18px;
  background: url("../img/sprite.png") no-repeat 0px -811px;
  margin-left: 13px;
}

/* line 504, ../sass/crm.scss */
#gview_list tr.jqgrow td a.receipt_icon {
  width: 20px;
  height: 24px;
  background: url("../img/sprite.png") no-repeat -132px -144px;
  margin-left: 10px;
}

/* line 505, ../sass/crm.scss */
#gview_list tr.jqgrow td a.option_icon {
  width: 17px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat 0 -1035px;
  margin-left: 10px;
}

/* line 508, ../sass/crm.scss */
#gview_list tr.jqgrow td a.save-icon {
  height: 17px;
  width: 16px;
  background: url("../img/sprite.png") no-repeat 0 -1077px;
  margin-left: 13px;
}

/* line 509, ../sass/crm.scss */
#gview_list tr.jqgrow td a.cancel-icon {
  height: 16px;
  width: 16px;
  background: url("../img/sprite.png") no-repeat 0 -1116px;
  margin-left: 13px;
}

/* line 512, ../sass/crm.scss */
#gview_list tr.jqgrow td .plus-sign a, #gview_list tr.jqgrow td .archive {
  width: 14px;
  height: 14px;
  float: left;
  background: url("../img/plus.png") no-repeat 0px 0;
  margin-right: 5px;
}

/* line 513, ../sass/crm.scss */
#gview_list tr.jqgrow td .archive {
  height: 18px;
  width: 18px;
  background: url("../img/archive-done-icon.png") no-repeat 0px 0;
  margin-left: 5px;
}

/* line 515, ../sass/crm.scss */
#gview_list .ui-jqgrid-bdiv {
  height: 300px !important;
}

/*************************
    Create contact page
*****************************/
/* line 521, ../sass/crm.scss */
.create-contacts.create-contact-page #website {
  width: 295px;
}
/* line 523, ../sass/crm.scss */
.create-contacts.create-contact-page .row input[type="text"] {
  background-color: white;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #373232;
  float: left;
  padding: 8px 7px;
  font-family: "open_sansregular";
}
/* line 524, ../sass/crm.scss */
.create-contacts.create-contact-page .row .select2-container {
  width: 310px;
}
/* line 525, ../sass/crm.scss */
.create-contacts.create-contact-page .row #phoneno_div {
  width: 345px;
  float: left;
}
/* line 526, ../sass/crm.scss */
.create-contacts.create-contact-page .row #phoneno_div .col1 {
  width: 100%;
}
/* line 527, ../sass/crm.scss */
.create-contacts.create-contact-page .row #phoneno_div .col1 .row {
  width: 100%;
}
/* line 528, ../sass/crm.scss */
.create-contacts.create-contact-page .row #phoneno_div .col1 .row label {
  padding: 9px 0 10px;
}
/* line 532, ../sass/crm.scss */
.create-contacts.create-contact-page #load_education > div {
  width: 97%;
  float: left;
}
/* line 533, ../sass/crm.scss */
.create-contacts.create-contact-page #load_education .select2-container {
  width: 80%;
}
/* line 534, ../sass/crm.scss */
.create-contacts.create-contact-page #load_education input[type="text"] {
  width: 75%;
}
/* line 537, ../sass/crm.scss */
.create-contacts.create-contact-page #load_upload > div {
  width: 97%;
  float: left;
}
/* line 538, ../sass/crm.scss */
.create-contacts.create-contact-page #load_upload label {
  padding: 9px 0px 10px !important;
}
/* line 540, ../sass/crm.scss */
.create-contacts.create-contact-page .width-272 {
  width: 276px;
}
/* line 541, ../sass/crm.scss */
.create-contacts.create-contact-page .phone-row {
  float: left;
}
/* line 543, ../sass/crm.scss */
.create-contacts.create-contact-page .phone-row .ext input {
  width: 92px;
  background: white;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #373232;
  float: left;
  padding: 8px 7px;
  font-family: "open_sansregular";
}
/* line 544, ../sass/crm.scss */
.create-contacts.create-contact-page .phone-row .ext label.auto {
  padding: 9px 15px 0;
}
/* line 548, ../sass/crm.scss */
.create-contacts.create-contact-page .communication .select2-container {
  width: 250px;
}
/* line 550, ../sass/crm.scss */
.create-contacts.create-contact-page input.phone_no {
  width: 148px;
}

/*********************
	tool tip page css
*****************************/
/* line 557, ../sass/crm.scss */
.tooltip {
  float: left;
  width: auto;
  padding: 2px 8px;
  color: #fff;
  font-family: 'open_sansregular';
  font-size: 12px;
  background: #636161;
  white-space: nowrap;
  position: absolute;
  top: -15px;
  left: -5px;
  text-transform: uppercase;
  z-index: 999;
  display: none;
}
/* line 558, ../sass/crm.scss */
.tooltip span {
  float: left;
  width: 12px;
  height: 7px;
  background: url(../img/sprite.png) no-repeat -140px -187px;
  position: absolute;
  bottom: -7px;
  left: 10px;
}

/* line 569, ../sass/crm.scss */
#gview_list tr.jqgrow td a.view-icon:hover .tooltip,
#gview_list tr.jqgrow td a.edit-icon:hover .tooltip,
#gview_list tr.jqgrow td a.delete-icon:hover .tooltip,
#gview_list tr.jqgrow td a.archiv-icon:hover .tooltip,
#gview_list tr.jqgrow td a.add-icon:hover .tooltip,
#gview_list tr.jqgrow td a.option_icon:hover .tooltip,
#gview_list tr.jqgrow td .plus-sign a:hover .tooltip,
#gview_list tr.jqgrow td a.save-icon:hover .tooltip,
#gview_list tr.jqgrow td a.cancel-icon:hover .tooltip {
  display: block;
}

/* line 572, ../sass/crm.scss */
.new-case {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
  padding: 6px 20px 5px 36px;
  background: url(../img/sprite.png) no-repeat 0px -1170px;
}

/* line 573, ../sass/crm.scss */
.urgent-case {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
  padding: 6px 20px 5px 36px;
  background: url(../img/sprite.png) no-repeat 0px -1224px;
}

/*********************
Revenue Goal Section
*****************************/
/* line 579, ../sass/crm.scss */
.revenue-section {
  width: 98%;
  float: left;
  background: #5496ca;
  padding: 1%;
  margin-bottom: 30px;
}
/* line 580, ../sass/crm.scss */
.revenue-section .white-bg {
  width: 100%;
  float: left;
  background: white;
  height: 15px;
}
/* line 581, ../sass/crm.scss */
.revenue-section .white-bg span {
  float: left;
  height: 15px;
  background: #91c1ab;
}
/* line 582, ../sass/crm.scss */
.revenue-section .row {
  width: 100%;
  float: left;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  color: white;
  font-family: "open_sansregular";
}
/* line 583, ../sass/crm.scss */
.revenue-section .row .col-right {
  float: right;
  width: auto;
}

/**********************
   common buttons
*******************************/
/* line 591, ../sass/crm.scss */
.blue-btn {
  width: auto;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 18px;
  border: 0px;
  background: #91c1ab;
  color: white;
  height: 34px;
  cursor: pointer;
  padding: 0 15px;
}
/* line 592, ../sass/crm.scss */
.blue-btn:hover {
  background: #7dad97;
}

/* line 593, ../sass/crm.scss */
.green-btn {
  width: auto;
  float: left;
  font-size: 15px;
  line-height: 18px;
  border: 0px;
  background: #5496ca;
  color: white;
  height: 34px;
  cursor: pointer;
  font-family: "open_sansregular";
  padding: 0 15px;
  text-transform: uppercase;
}
/* line 594, ../sass/crm.scss */
.green-btn:hover {
  background: #2d6c9e;
}

/**********************
   Campaign Information
*******************************/
/* line 601, ../sass/crm.scss */
.add-group select {
  float: left;
  height: 130px;
  width: 310px;
  border: 1px solid #e1e1e1;
}
/* line 602, ../sass/crm.scss */
.add-group .button-col {
  float: left;
  width: 140px;
  padding: 0 55px;
}
/* line 603, ../sass/crm.scss */
.add-group .button-col .save-btn {
  padding: 0px 32px;
  margin-bottom: 10px;
}

/* line 606, ../sass/crm.scss */
.campaign-popup-detail {
  width: 100%;
  float: left;
  min-height: 285px;
  height: auto!important;
  height: 285px;
  background: #f5f4f4;
  position: relative;
}
/* line 607, ../sass/crm.scss */
.campaign-popup-detail .msg-box {
  width: 100%;
  float: left;
  background: #efeded;
  border-bottom: 1px solid white;
  font-size: 14px;
  line-height: 16px;
  color: #817474;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "open_sansregular";
  padding: 12px 0 11px;
}
/* line 608, ../sass/crm.scss */
.campaign-popup-detail .msg-box span {
  float: left;
  background: url(../img/copied-icon.png) no-repeat 0px 0px;
  margin-left: 17px;
  padding: 7px 0 7px 43px;
}
/* line 610, ../sass/crm.scss */
.campaign-popup-detail h4 {
  font-size: 14px;
  line-height: 17px;
  color: #2f2f2f;
  float: left;
  padding: 75px 0 12px;
  font-family: "open_sansregular";
  font-weight: normal;
  border-bottom: 1px solid #e0e0e0;
  width: 94%;
  margin: 0 3% 10px 3%;
}
/* line 611, ../sass/crm.scss */
.campaign-popup-detail h5 {
  font-size: 14px;
  line-height: 16px;
  color: #636161;
  float: left;
  padding: 4px 0;
  font-family: "open_sansregular";
  width: 94%;
  margin: 0 3%;
}
/* line 612, ../sass/crm.scss */
.campaign-popup-detail h5 strong {
  width: 70px;
  float: left;
  color: #3c3c3c;
}
/* line 613, ../sass/crm.scss */
.campaign-popup-detail h5 span.icon {
  float: right;
  width: 45%;
}

/* line 618, ../sass/crm.scss */
.radio-que .blank-col {
  width: 144px;
  float: left;
}
/* line 619, ../sass/crm.scss */
.radio-que label {
  width: auto !important;
  margin-right: 20px;
}

/* line 621, ../sass/crm.scss */
#channel_cost {
  width: 265px;
}

/**********************
   Campaign Information
*******************************/
/* line 626, ../sass/crm.scss */
.tax-receipt .print {
  float: right;
  margin: 10px 65px 0 0;
}

/**********************
   Leade page
*******************************/
/* line 634, ../sass/crm.scss */
#create-lead .search-input-bg {
  width: 296px;
}
/* line 635, ../sass/crm.scss */
#create-lead .search-input-bg input[type="text"] {
  width: 270px;
}
/* line 636, ../sass/crm.scss */
#create-lead textarea {
  height: 90px;
}

/**********************
   Create Crm Annotation Correction
*******************************/
/* line 643, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction .search-input-bg {
  width: 40%;
}
/* line 644, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction .search-input-bg input[type="text"] {
  width: 98% !important;
}
/* line 646, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction #search_annotation input[type="text"] {
  width: 40%;
}
/* line 647, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction .select2-container {
  width: 43%;
}
/* line 649, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction #annotation input[type="text"] {
  width: 70%;
  background: white;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  color: #373232;
  float: left;
  padding: 8px 7px;
  font-family: "open_sansregular";
}
/* line 651, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction #annotation #annotation_form input[type="text"] {
  width: 300px;
}
/* line 652, ../sass/crm.scss */
.create-contacts.create-crm-annotation-correction #annotation #annotation_form textarea {
  width: 300px;
  height: 90px;
}

/**********************
    Development
*******************************/
/* line 660, ../sass/crm.scss */
#job_history_div .search-input-bg {
  width: 250px;
}
/* line 661, ../sass/crm.scss */
#job_history_div .search-input-bg input[type="text"] {
  width: 225px;
}

/* line 664, ../sass/crm.scss */
#organization_div input[type="text"] {
  width: 70%;
}
/* line 665, ../sass/crm.scss */
#organization_div .select2-container {
  width: 70%;
}

/* line 669, ../sass/crm.scss */
.development-input-size input[type="text"] {
  width: 50%;
}

/* line 672, ../sass/crm.scss */
#annotation input {
  width: auto!important;
  margin-right: 15px;
}

/* line 673, ../sass/crm.scss */
#annotation #note {
  width: 60%;
  height: 60px;
}

/**********************
    Create group
*******************************/
/* line 678, ../sass/crm.scss */
.change-detail-bg {
  width: 97.8%;
  float: left;
  background: #f2f3f5;
  padding: 1%;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
}

/* line 679, ../sass/crm.scss */
.change-form-bg {
  width: 99%;
  float: left;
  background: #dde1e4;
  margin-bottom: 10px;
  padding: .5%;
}
/* line 680, ../sass/crm.scss */
.change-form-bg .custom-checkbox {
  margin-right: 9px!important;
}
/* line 681, ../sass/crm.scss */
.change-form-bg .checkbox-auto label {
  font-size: 13px!important;
}

/* line 685, ../sass/crm.scss */
.group-info-row .col8 .select2-container-multi {
  width: 47%;
}
/* line 686, ../sass/crm.scss */
.group-info-row .col8 input[type="text"] {
  width: 47%;
}

/**********************
    Ship basic info
*******************************/
/* line 693, ../sass/crm.scss */
.create-contacts.ship-basic-info .select2-container {
  width: 52%;
}
/* line 694, ../sass/crm.scss */
.create-contacts.ship-basic-info input[type="text"] {
  width: 50%;
}

/* line 699, ../sass/crm.scss */
.detailed-information .select2-container {
  width: 82%;
}
/* line 700, ../sass/crm.scss */
.detailed-information input[type="text"] {
  width: 80%;
}
/* line 701, ../sass/crm.scss */
.detailed-information label {
  width: 216px;
}
/* line 704, ../sass/crm.scss */
.detailed-information .common-form .row .col6 {
  position: relative;
}
/* line 705, ../sass/crm.scss */
.detailed-information .common-form .row .col6 label.error, .detailed-information .common-form .row .col6 span.error {
  left: 0px;
  top: -9px;
}

/* line 712, ../sass/crm.scss */
.no-record {
  color: #FF0000;
  font-size: 20px;
  padding: 60px 0 0;
  text-align: center;
}

/**********************
    icon bg
*******************************/
/* line 716, ../sass/crm.scss */
.cal-icon {
  background: url("../img/cal.jpg") no-repeat right 0;
}

/* line 717, ../sass/crm.scss */
.search-icon {
  background: url("../img/s-icon.jpg") no-repeat right 0;
}

/* line 718, ../sass/crm.scss */
.time-icon {
  background: url("../img/clock-icon.jpg") no-repeat right 0;
}

/* line 719, ../sass/crm.scss */
.color-pic {
  background: url("../img/color-pic.jpg") no-repeat right 0;
}

/* line 722, ../sass/crm.scss */
.checkbox-label label {
  width: auto!important;
}

/* line 723, ../sass/crm.scss */
.checkbox-label .custom-checkbox {
  width: 30%;
}

/* line 724, ../sass/crm.scss */
.checkbox-auto label {
  width: auto!important;
}

/* line 725, ../sass/crm.scss */
.checkbox-auto .custom-checkbox {
  width: auto;
  margin-right: 14px;
}

/* line 726, ../sass/crm.scss */
.radio-label label {
  margin-right: 15px!important;
  width: auto!important;
}

/* line 727, ../sass/crm.scss */
.website-check {
  width: 100%!important;
  float: left!important;
  position: relative;
}

/* line 728, ../sass/crm.scss */
.website-check .m-l-20 {
  position: absolute;
  left: 453px;
  top: 0px;
}

/* line 730, ../sass/crm.scss */
#otherAnswer span {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
  width: 100%;
  float: left;
  padding-bottom: 4px;
}

/**********************
Manage-Category 
*******************************/
/* line 736, ../sass/crm.scss */
.manage-category-detail {
  width: 100%;
  float: left;
}
/* line 737, ../sass/crm.scss */
.manage-category-detail .accordion-section {
  width: 100%;
  float: left;
  background: #f5f4f4;
}
/* line 738, ../sass/crm.scss */
.manage-category-detail .accordion-section .right {
  float: right;
  padding: 13px 0 0 0;
  width: 125px;
}

/**********************
main loader
*******************************/
/* line 746, ../sass/crm.scss */
.main-loader {
  width: 100%;
  float: left;
  height: 100%;
  background: #000;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 12345;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* line 747, ../sass/crm.scss */
.main-loader img {
  position: absolute;
  left: 49%;
  top: 49%;
}

/* line 752, ../sass/crm.scss */
.select_product_div {
  width: 306px;
  float: left;
  background: white;
}
/* line 753, ../sass/crm.scss */
.select_product_div ul {
  width: 100%;
  float: left;
  height: 150px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  overflow-x: hidden;
}
/* line 754, ../sass/crm.scss */
.select_product_div ul li {
  width: 98%;
  float: left;
  padding: 1%;
}
/* line 755, ../sass/crm.scss */
.select_product_div ul li span {
  padding-left: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #5496ca;
  cursor: pointer;
  font-family: "open_sansregular";
  font-weight: bold;
}

/* line 758, ../sass/crm.scss */
.flip-div {
  width: 100%;
  float: left;
  position: relative;
  height: 850px;
}
/* line 759, ../sass/crm.scss */
.flip-div .col-fist {
  width: 24%;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
}
/* line 760, ../sass/crm.scss */
.flip-div .col-sec {
  width: 24%;
  float: left;
  position: absolute;
  left: 24%;
  top: 0px;
}
/* line 761, ../sass/crm.scss */
.flip-div .col-thrd {
  width: 24%;
  float: left;
  position: absolute;
  left: 48%;
  top: 0px;
}
/* line 762, ../sass/crm.scss */
.flip-div .col-for {
  width: 24%;
  float: left;
  position: absolute;
  left: 72%;
  top: 0px;
}
/* line 763, ../sass/crm.scss */
.flip-div .left-to-right {
  width: 24%;
  float: left;
  position: absolute;
  left: 72%;
  top: 0px;
}
/* line 764, ../sass/crm.scss */
.flip-div .right-to-left {
  width: 24%;
  float: left;
  position: absolute;
  left: 24%;
  top: 0px;
}

/**********************
Setting Dropdown Page
*******************************/
/* line 771, ../sass/crm.scss */
.setting-dropdown-page {
  width: 100%;
  float: left;
  margin-top: 10px;
}
/* line 772, ../sass/crm.scss */
.setting-dropdown-page ul {
  width: 100%;
  float: left;
}
/* line 773, ../sass/crm.scss */
.setting-dropdown-page ul li {
  float: left;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background: #f3f3f3;
  width: 19.8%;
  text-align: center;
  padding: 18px 0;
}
/* line 774, ../sass/crm.scss */
.setting-dropdown-page ul li.active {
  background: white;
  border: 2px solid #5496ca;
  padding: 18px 0 15px;
  width: 19.6%;
}
/* line 775, ../sass/crm.scss */
.setting-dropdown-page ul li a {
  font-size: 16px;
  line-height: 18px;
  color: #454545;
  text-decoration: none;
  font-family: open_sansbold;
}

/* line 779, ../sass/crm.scss */
.setting-popup {
  width: 700px;
  float: left;
  margin: 15px 0 0 27px;
}
/* line 780, ../sass/crm.scss */
.setting-popup #gview_list .ui-jqgrid-bdiv {
  height: 230px!important;
}
/* line 781, ../sass/crm.scss */
.setting-popup h3 {
  font-size: 18px;
  line-height: 22px;
  color: #5d5757;
  font-family: "open_sanssemibold";
  margin-bottom: 15px;
}
/* line 782, ../sass/crm.scss */
.setting-popup .top-detail {
  width: 660px;
  float: left;
  padding: 15px 20px 0;
  background: #f5f4f4;
}
/* line 783, ../sass/crm.scss */
.setting-popup .btm-detail {
  width: 660px;
  float: left;
  padding: 15px 20px 0;
  background: #efeded;
  border-top: 1px solid white;
}
/* line 784, ../sass/crm.scss */
.setting-popup .col-box {
  width: 33%;
  float: left;
}
/* line 785, ../sass/crm.scss */
.setting-popup .line {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}
/* line 786, ../sass/crm.scss */
.setting-popup label {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
  width: 100%;
  padding-bottom: 5px;
}
/* line 787, ../sass/crm.scss */
.setting-popup .row {
  width: 100%;
  float: left;
  padding: 15px 0;
}

/**********************
Cms-page
*******************************/
/* line 794, ../sass/crm.scss */
.cms-section {
  width: 100%;
  float: left;
  margin-top: 15px;
}
/* line 795, ../sass/crm.scss */
.cms-section ul {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 796, ../sass/crm.scss */
.cms-section ul li {
  width: 98.5%;
  float: left;
  padding: 16px 0 14px 1%;
  border-left: 3px solid #5496ca;
  border-bottom: 1px solid white;
  background: #efeded;
  font-family: "open_sansregular";
}
/* line 797, ../sass/crm.scss */
.cms-section ul li.odd {
  background: #f2f1f1;
}
/* line 798, ../sass/crm.scss */
.cms-section ul li strong {
  width: 100%;
  float: left;
  font-size: 14px;
  padding-bottom: 4px;
}
/* line 799, ../sass/crm.scss */
.cms-section ul li strong a {
  text-decoration: none;
  color: #454545;
}
/* line 799, ../sass/crm.scss */
.cms-section ul li strong a:hover {
  text-decoration: underline;
}
/* line 800, ../sass/crm.scss */
.cms-section ul li span {
  font-size: 13px;
  color: #726c6c;
}

/* line 804, ../sass/crm.scss */
.phone-label {
  width: auto;
  float: left;
}
/* line 805, ../sass/crm.scss */
.phone-label label {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #636161;
  font-family: "open_sansregular";
  padding: 0 0 5px 0 !important;
  width: auto!important;
}
/* line 806, ../sass/crm.scss */
.phone-label label.type {
  padding-left: 144px!important;
}
/* line 807, ../sass/crm.scss */
.phone-label label.country {
  padding-left: 141px!important;
}
/* line 808, ../sass/crm.scss */
.phone-label label.area {
  padding-left: 76px!important;
}
/* line 809, ../sass/crm.scss */
.phone-label label.phone {
  padding-left: 48px!important;
}

/**********************
Error-page
*******************************/
/* line 816, ../sass/crm.scss */
.error-page {
  width: 100%;
  float: left;
  margin: 131px 0 20px;
  text-align: center;
}
/* line 817, ../sass/crm.scss */
.error-page .row {
  width: 100%;
  float: left;
  padding-bottom: 45px;
}
/* line 818, ../sass/crm.scss */
.error-page .row1 {
  width: 100%;
  float: left;
  padding: 50px 0 80px;
}
/* line 819, ../sass/crm.scss */
.error-page h2 {
  width: 100%;
  float: left;
  font-size: 48px;
  line-height: 52px;
  font-family: 'open_sanssemibold';
  padding-bottom: 30px;
  font-weight: normal;
  color: #3e4a56;
  font-weight: bold;
}
/* line 820, ../sass/crm.scss */
.error-page p {
  width: 100%;
  float: left;
  font-size: 18px;
  line-height: 22px;
  font-family: "open_sansregular";
  font-weight: normal;
  color: #637281;
}
/* line 821, ../sass/crm.scss */
.error-page .go-btn {
  width: auto;
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  border: 0px;
  background: #5496ca;
  color: white;
  cursor: pointer;
  font-family: "open_sansregular";
  padding: 0 14px;
  text-transform: uppercase;
}
/* line 822, ../sass/crm.scss */
.error-page .go-btn:hover {
  background: #2d6c9e;
}

/**********************
Edit Option Page 19.09.2013 
*******************************/
/* line 829, ../sass/crm.scss */
.member-bg {
  width: 96%;
  float: left;
  background: #e9e9e9;
  padding: 1% 2%;
}
/* line 830, ../sass/crm.scss */
.member-bg label.save-search {
  left: 0;
  position: absolute;
  top: 34px;
}

/* line 832, ../sass/crm.scss */
.edit-option-page {
  width: 100%;
}
/* line 833, ../sass/crm.scss */
.edit-option-page tr {
  width: 100%;
  font-size: 15px;
}
/* line 834, ../sass/crm.scss */
.edit-option-page tr td {
  padding: 5px;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
}
/* line 835, ../sass/crm.scss */
.edit-option-page tr td strong {
  font-weight: bold;
}

/**********************
Role Permission 23.09.2013 
*******************************/
/* line 842, ../sass/crm.scss */
.role-permission-detail {
  width: 100%;
  float: left;
}
/* line 843, ../sass/crm.scss */
.role-permission-detail tr {
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "open_sansregular";
}
/* line 844, ../sass/crm.scss */
.role-permission-detail tr th {
  background: #efeded;
  border: 1px solid #dde0e3;
  padding: 10px 5px;
  font-weight: bold;
}
/* line 845, ../sass/crm.scss */
.role-permission-detail tr td {
  border: 1px solid #dde0e3;
  padding: 5px;
}

/*************************
    Passenger Bulk Slider
*****************************/
/* line 853, ../sass/crm.scss */
#sliderDiv .sliderDiv-center {
  width: 900px;
  margin: auto;
  position: relative;
}
/* line 854, ../sass/crm.scss */
#sliderDiv .sliderDiv-center .prev {
  left: 0;
  position: absolute;
  top: 63px;
}
/* line 855, ../sass/crm.scss */
#sliderDiv .sliderDiv-center .next {
  right: 0;
  position: absolute;
  top: 63px;
}
/* line 856, ../sass/crm.scss */
#sliderDiv .sliderDiv-center .sliderDiv-inner {
  margin-left: 30px;
  overflow: hidden;
  height: 125px;
}
/* line 857, ../sass/crm.scss */
#sliderDiv .sliderDiv-center .anyClass {
  width: 840px !important;
}

/*************************
    Activity
*****************************/
/* line 864, ../sass/crm.scss */
.icon-group {
  width: 115px;
  float: left;
}
/* line 865, ../sass/crm.scss */
.icon-group a {
  margin-left: 7px;
}

/* line 867, ../sass/crm.scss */
.col1.attachment {
  width: 60%;
}
/* line 868, ../sass/crm.scss */
.col1.private {
  width: 20%;
}

/* line 871, ../sass/crm.scss */
#new_category_div .select2-container.select-w-320 {
  border: 1px solid #e9e9e9;
}

/* line 875, ../sass/crm.scss */
#flip-contact .col6 {
  min-height: 30px;
}
/* line 876, ../sass/crm.scss */
#flip-contact .col6 .row {
  min-height: 30px;
}
/* line 877, ../sass/crm.scss */
#flip-contact .col6 .custom-checkbox label {
  width: 0px;
  padding: 4px 0 4px 23px !important;
}
/* line 878, ../sass/crm.scss */
#flip-contact .col6.merge-checkbox {
  margin-left: 30px;
  width: 150px;
}

/* line 881, ../sass/crm.scss */
.ui-inline-edit, .ui-inline-save {
  width: 30px;
}

/* line 883, ../sass/crm.scss */
.cancel-ser-ccounts .names {
  width: 530px !important;
}

/* line 885, ../sass/crm.scss */
.setting-popup .relative label.error {
  left: 0px;
}

/* line 886, ../sass/crm.scss */
.add-pledge .relative label.error, span.error {
  left: 0px;
}

/*************************
    Blog css
*****************************/
/* line 893, ../sass/crm.scss */
.common-form.block input.width-104 {
  width: 104px !important;
}
/* line 894, ../sass/crm.scss */
.common-form.block input.width-128 {
  width: 128px !important;
}
/* line 895, ../sass/crm.scss */
.common-form.block .content-col {
  width: 84%;
}

/* line 899, ../sass/crm.scss */
.associate-people .select2-container {
  width: 75%;
}
/* line 900, ../sass/crm.scss */
.associate-people input[type="text"] {
  width: 70%;
}

/*************************
   create quizzes css
*****************************/
/* line 909, ../sass/crm.scss */
.common-form.quizzes-create .checkbox-availabilty .custom-checkbox {
  width: 50%;
}

/* line 914, ../sass/crm.scss */
.demographics .col1.right label {
  width: 80%;
}

/* line 916, ../sass/crm.scss */
.added-que {
  list-style-type: decimal;
  padding: 0% 2%;
  width: 96%;
  float: left;
}
/* line 917, ../sass/crm.scss */
.added-que li {
  float: left;
  width: 100%;
  font-family: "open_sansregular";
  font-size: 14px;
  padding: 9px 0px;
}
/* line 918, ../sass/crm.scss */
.added-que li label {
  padding: 0px;
}
/* line 919, ../sass/crm.scss */
.added-que li .action {
  float: left;
  width: auto;
}
/* line 920, ../sass/crm.scss */
.added-que li .action a {
  float: left;
  margin-right: 10px;
  background: url("../img/sprite.png") no-repeat -209px -187px;
  width: 16px;
  height: 16px;
}
/* line 921, ../sass/crm.scss */
.added-que li .action a.delete {
  background-position: -247px -187px;
}
/* line 924, ../sass/crm.scss */
.added-que.header {
  font-weight: bold;
  list-style-type: none;
}

/*************************
Create Transaction 09/11/13
*****************************/
/* line 932, ../sass/crm.scss */
.family-edit {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  background: url("../img/sprite.png") no-repeat -209px -187px;
}

/* line 933, ../sass/crm.scss */
.family-delete {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  background: url("../img/sprite.png") no-repeat -247px -187px;
}

/* line 934, ../sass/crm.scss */
.family-delete {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  background: url("../img/sprite.png") no-repeat -247px -187px;
}

/* line 936, ../sass/crm.scss */
.common-table {
  width: 100%;
  border: 1px solid #e0e0e0;
  font-family: "open_sansregular";
}
/* line 938, ../sass/crm.scss */
.common-table tr th {
  padding: 8px;
  background: #e9e9e9;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}
/* line 939, ../sass/crm.scss */
.common-table tr td {
  padding: 8px;
}

/*************************
 	Transaction
*****************************/
/* line 947, ../sass/crm.scss */
.transaction .row .bold {
  color: #000;
  font-weight: normal !important;
}
/* line 948, ../sass/crm.scss */
.transaction .row .t-box {
  width: 22%;
  margin-right: 3%;
  float: left;
  background: #fff;
}
/* line 949, ../sass/crm.scss */
.transaction .row .t-box .header {
  background: #5496ca;
  padding: 3%;
  width: 94%;
  float: left;
  color: #fff;
  font-size: 18px;
  font-family: "open_sanssemibold";
}
/* line 950, ../sass/crm.scss */
.transaction .row .t-box .inner {
  padding: 3%;
  width: 94%;
  float: left;
  min-height: 120px;
}
/* line 951, ../sass/crm.scss */
.transaction .row .t-box .inner strong {
  float: left;
  font-weight: normal;
  font-size: 14px;
  font-family: "open_sanssemibold";
}
/* line 952, ../sass/crm.scss */
.transaction .row .t-box .inner strong span {
  font-family: "open_sansregular";
}
/* line 954, ../sass/crm.scss */
.transaction .row .t-box .inner label {
  float: left;
  width: 100%;
}
/* line 958, ../sass/crm.scss */
.transaction .row.sab-totle .left {
  float: right;
  font-family: "open_sanssemibold";
  font-size: 14px;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}
/* line 959, ../sass/crm.scss */
.transaction .row.sab-totle .right {
  float: right;
  font-family: "open_sanssemibold";
  font-size: 14px;
  width: 90px;
  text-align: left;
}
/* line 963, ../sass/crm.scss */
.transaction.note .private {
  float: right;
  font: normal 16px/18px "open_sanssemibold";
  margin-bottom: 10px;
  clear: both;
}
/* line 964, ../sass/crm.scss */
.transaction.note .date {
  float: right;
  width: auto;
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 965, ../sass/crm.scss */
.transaction.note .date strong {
  float: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "open_sanssemibold";
  margin-right: 5px;
}
/* line 967, ../sass/crm.scss */
.transaction.note textarea {
  width: 98%;
}

/* line 971, ../sass/crm.scss */
.width-100 {
  width: 100% !important;
}

/*************************
 	Table Common
*****************************/
/* line 978, ../sass/crm.scss */
.table-bh tr th {
  border: 1px solid #999999;
  border-collapse: collapse;
  padding: 15px;
  vertical-align: middle;
  background: #ccc;
  font-family: "open_sanssemibold";
  font-size: 15px;
  color: #000;
}
/* line 979, ../sass/crm.scss */
.table-bh tr td {
  border: 1px solid #cccccc;
  border-collapse: collapse;
  padding: 10px;
  vertical-align: middle;
}
/* line 980, ../sass/crm.scss */
.table-bh tr td .action {
  float: right;
  width: 100px;
}
/* line 981, ../sass/crm.scss */
.table-bh tr td .action a {
  font-family: "open_sansregular";
  color: #5496CA;
  display: block;
  margin-bottom: 4px;
}
/* line 983, ../sass/crm.scss */
.table-bh tr td .left {
  float: left;
  width: 250px;
}
/* line 984, ../sass/crm.scss */
.table-bh tr td strong {
  font-family: "open_sanssemibold";
  display: block;
  font-size: 14px;
}

/*************************
 	Table Common
*****************************/
/*************************
 	Available Dashlets
*****************************/
/* line 1000, ../sass/crm.scss */
.configure-dashboard {
  width: 100%;
  float: left;
  background: #f8f8f8;
}

/* line 1001, ../sass/crm.scss */
.configure-section {
  width: 800px;
  margin: 0 auto;
}
/* line 1002, ../sass/crm.scss */
.configure-section .detail-box {
  width: 98%;
  float: left;
  background: #e9e9e9;
  border: 1px solid #e0e0e0;
  padding: 1% 1% 0 1%;
  margin-top: 10px;
}
/* line 1003, ../sass/crm.scss */
.configure-section .detail-box .row {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}
/* line 1004, ../sass/crm.scss */
.configure-section .detail-box .box {
  width: 320px;
  float: left;
  margin-bottom: 10px;
  background: #5496ca;
  border: 1px solid white;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 25px 30px;
  font-family: 'open_sansregular';
}
/* line 1004, ../sass/crm.scss */
.configure-section .detail-box .box img {
  vertical-align: middle;
}
/* line 1007, ../sass/crm.scss */
.configure-section .detail-box-btm {
  width: 380px;
  float: left;
  background: #e9e9e9;
  border: 1px solid #e0e0e0;
  padding: 1%;
  margin-top: 10px;
}
/* line 1008, ../sass/crm.scss */
.configure-section .detail-box-btm .row {
  width: 100%;
  float: left;
  padding-bottom: 10px;
}
/* line 1009, ../sass/crm.scss */
.configure-section .detail-box-btm .box {
  width: 320px;
  float: left;
  background: #5496ca;
  border: 1px solid white;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 30px;
  margin-bottom: 10px;
  font-family: 'open_sansregular';
}
/* line 1009, ../sass/crm.scss */
.configure-section .detail-box-btm .box img {
  vertical-align: middle;
}
/* line 1010, ../sass/crm.scss */
.configure-section .detail-box-btm .box.last {
  margin: 0px;
}
/* line 1011, ../sass/crm.scss */
.configure-section .detail-box-btm .box .close {
  width: 12px;
  height: 10px;
  margin-top: 5px;
  float: right;
  background: url("../img/sprite.png") no-repeat 0 -417px;
}

/*************************
Dashboard Page
*************************/
/* line 1018, ../sass/crm.scss */
.dashboard-page {
  width: 100%;
  float: left;
}
/* line 1020, ../sass/crm.scss */
.dashboard-page .top-section {
  width: 100%;
  float: left;
  padding-bottom: 13px;
}
/* line 1021, ../sass/crm.scss */
.dashboard-page .top-section h2 {
  padding-bottom: 0px!important;
  width: auto;
}
/* line 1022, ../sass/crm.scss */
.dashboard-page .top-section span {
  font-size: 14px;
  color: #a5a5a5;
  font-family: 'open_sansregular';
}
/* line 1023, ../sass/crm.scss */
.dashboard-page .top-section a.refresh {
  width: 46px;
  float: right;
  height: 46px;
  background: url("../img/sprite.png") no-repeat 0 -1372px;
  margin-left: 10px;
}
/* line 1023, ../sass/crm.scss */
.dashboard-page .top-section a.refresh:hover {
  opacity: 0.9;
}
/* line 1024, ../sass/crm.scss */
.dashboard-page .top-section a.configure {
  width: auto;
  float: right;
  height: 16px;
  background: #91c1ab url("../img/sprite.png") no-repeat 0 -1299px;
  padding: 15px 17px 15px 59px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'open_sansregular';
}
/* line 1025, ../sass/crm.scss */
.dashboard-page .top-section a.configure:hover {
  background: #7dad97 url("../img/sprite.png") no-repeat 0 -1299px;
}
/* line 1028, ../sass/crm.scss */
.dashboard-page .dash-breadcrumb {
  width: 100%;
  float: left;
  background: #f3f3f3;
  height: 36px;
}
/* line 1029, ../sass/crm.scss */
.dashboard-page .dash-breadcrumb ul {
  float: left;
  list-style: none;
}
/* line 1030, ../sass/crm.scss */
.dashboard-page .dash-breadcrumb ul li {
  float: left;
  font-size: 13px;
  color: #726c6c;
  font-family: 'open_sansregular';
  height: 36px;
  background: url("../img/b-arrow.png") no-repeat right 0;
}
/* line 1031, ../sass/crm.scss */
.dashboard-page .dash-breadcrumb ul li a {
  text-decoration: none;
  color: #726c6c;
}
/* line 1032, ../sass/crm.scss */
.dashboard-page .dash-breadcrumb ul li span {
  float: left;
  background: url("../img/menu-icon.png") no-repeat 8px -7px;
  padding: 10px 35px 5px 35px;
}
/* line 1036, ../sass/crm.scss */
.dashboard-page .calendar-section {
  width: 100%;
  float: left;
  margin: 20px 0;
}
/* line 1037, ../sass/crm.scss */
.dashboard-page .calendar-section ul {
  width: 100%;
  float: left;
  list-style: none;
}
/* line 1038, ../sass/crm.scss */
.dashboard-page .calendar-section ul li {
  width: 13.2%;
  float: left;
  margin-right: 1.2%;
  position: relative;
  background: #5496ca;
  min-height: 155px;
}
/* line 1039, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box1 {
  background: #f36523;
}
/* line 1039, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box1 strong {
  background: #d85315;
}
/* line 1040, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box2 {
  background: #852b99;
}
/* line 1040, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box2 strong {
  background: #741d88;
}
/* line 1041, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box3 {
  background: #27a9e3;
}
/* line 1041, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box3 strong {
  background: #2195c9;
}
/* line 1042, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box4 {
  background: #f7941d;
}
/* line 1042, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box4 strong {
  background: #d57a0c;
}
/* line 1043, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box5 {
  background: #d33f3e;
}
/* line 1043, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box5 strong {
  background: #bf2928;
}
/* line 1044, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box6 {
  background: #00a652;
  margin-right: 0px;
}
/* line 1044, ../sass/crm.scss */
.dashboard-page .calendar-section ul li.box6 strong {
  background: #078545;
}
/* line 1045, ../sass/crm.scss */
.dashboard-page .calendar-section ul li .img-box {
  width: 100%;
  float: left;
  padding: 35px 0 4px;
  text-align: center;
}
/* line 1046, ../sass/crm.scss */
.dashboard-page .calendar-section ul li strong {
  width: 36px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #3979ab;
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: 'open_sanssemibold';
  color: #fff;
}
/* line 1047, ../sass/crm.scss */
.dashboard-page .calendar-section ul li span {
  width: auto;
  float: left;
  font-size: 16px;
  line-height: 20px;
  font-family: 'open_sansregular';
  color: #fff;
  padding-left: 15px;
}
/* line 1051, ../sass/crm.scss */
.dashboard-page .left-box {
  width: 49%;
  float: left;
}
/* line 1052, ../sass/crm.scss */
.dashboard-page .right-box {
  width: 49%;
  float: right;
}
/* line 1053, ../sass/crm.scss */
.dashboard-page .detail-box {
  width: 100%;
  float: left;
  min-height: 300px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
/* line 1054, ../sass/crm.scss */
.dashboard-page .detail-box .inner-section {
  font-family: 'open_sansregular';
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  padding: 2%;
  width: 96%;
  float: left;
}
/* line 1055, ../sass/crm.scss */
.dashboard-page .detail-box .head {
  width: 100%;
  float: left;
  background: #e9e9e9;
  border-bottom: 1px solid #e1e1e1;
}
/* line 1056, ../sass/crm.scss */
.dashboard-page .detail-box .head span {
  font-size: 17px;
  line-height: 20px;
  color: #454545;
  float: left;
  padding: 14px 0 16px 2%;
  font-family: 'open_sansregular';
}
/* line 1057, ../sass/crm.scss */
.dashboard-page .detail-box .head ul {
  float: right;
  list-style: none;
}
/* line 1058, ../sass/crm.scss */
.dashboard-page .detail-box .head ul li {
  float: left;
  border-left: 1px solid #d9d8d8;
  height: 50px;
  width: 50px;
}
/* line 1059, ../sass/crm.scss */
.dashboard-page .detail-box .head ul li.search a {
  width: 50px;
  float: left;
  height: 50px;
  background: url("../img/dashbord-nav.png") no-repeat right top;
}
/* line 1059, ../sass/crm.scss */
.dashboard-page .detail-box .head ul li.search a:hover {
  background-position: right bottom;
}
/* line 1060, ../sass/crm.scss */
.dashboard-page .detail-box .head ul li.close a {
  width: 50px;
  float: left;
  height: 50px;
  background: url("../img/dashbord-nav.png") no-repeat left top;
}
/* line 1060, ../sass/crm.scss */
.dashboard-page .detail-box .head ul li.close a:hover {
  background-position: left bottom;
}
