/*	CSS for customized radio buttons and check boxes */


/*	wrapper divs */
.custom-checkbox, .custom-radio { position: relative; float:left; }
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 1.3em;
	padding-right: 1em;
	line-height: 1;
	padding: .3em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
}

	
/* states */
.custom-checkbox label{background:url(../img/check.png) no-repeat 0 0;}

.custom-radio label{background:url(../img/radio.png) no-repeat 0 0;}

.custom-checkbox label, .custom-radio label {background-position:0 0;}

.custom-checkbox label.hover{background-position: 0 -42px!important;}
.custom-checkbox label.checked{background-position: 0 -84px!important;}
/*
.custom-checkbox label.focus{background-position: 0 -84px!important;}
*/

.custom-radio label.hover{background-position: 0 -42px!important;}
.custom-radio label.checked {background-position: 0 -84px!important;}
/*
.custom-radio label.focus {background-position: 0 -84px!important;}
*/
/*
.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: 0 0;
}
*/
.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	/*background-position: 0 bottom;*/
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	outline: 1px dotted #ccc;
}