/*
common css
==========================================================================*/
/* line 4, ../sass/elements.scss */
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, header, section, footer, aside, nav, article, figure, video, details {
  padding: 0;
  margin: 0;
}

/* line 5, ../sass/elements.scss */
body {
  font: 12px/16px Arial, Helvetica, sans-serif;
  color: #595959;
  height: 100%;
}

/* line 6, ../sass/elements.scss */
body.left-menu-bg {
  background: url("../img/left-bg.jpg") repeat-y 0 0;
  min-width: 1280px;
}

/* line 7, ../sass/elements.scss */
img, fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/elements.scss */
:focus {
  outline: none;
}

/* line 9, ../sass/elements.scss */
textarea {
  resize: none;
}

/* line 10, ../sass/elements.scss */
input:focus {
  outline: none;
}

/* line 15, ../sass/elements.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 17, ../sass/elements.scss */
.acenter {
  text-align: center !important;
}

/* line 18, ../sass/elements.scss */
.aright {
  text-align: right !important;
}

/* line 19, ../sass/elements.scss */
.aleft {
  text-align: left !important;
}

/* line 20, ../sass/elements.scss */
.amiddle {
  vertical-align: middle !important;
}

/* line 21, ../sass/elements.scss */
.font_10px {
  font-size: 10px !important;
}

/* line 22, ../sass/elements.scss */
.font_11px {
  font-size: 11px !important;
}

/* line 23, ../sass/elements.scss */
.font_12px {
  font-size: 12px !important;
}

/* line 24, ../sass/elements.scss */
.font_13px {
  font-size: 13px !important;
}

/* line 25, ../sass/elements.scss */
.font_14px {
  font-size: 14px !important;
}

/* line 26, ../sass/elements.scss */
.font_15px {
  font-size: 15px !important;
}

/* line 27, ../sass/elements.scss */
.font_17px {
  font-size: 17px !important;
}

/* line 28, ../sass/elements.scss */
.font_18px {
  font-size: 18px !important;
}

/* line 29, ../sass/elements.scss */
.font_20px {
  font-size: 20px !important;
}

/* line 30, ../sass/elements.scss */
.font_22px {
  font-size: 22px !important;
}

/* line 31, ../sass/elements.scss */
.font_24px {
  font-size: 24px !important;
}

/* line 32, ../sass/elements.scss */
.normal {
  font-weight: normal !important;
}

/* line 33, ../sass/elements.scss */
.bold {
  font-weight: bold !important;
}

/* line 34, ../sass/elements.scss */
.upr_txt {
  text-transform: uppercase;
}

/* line 35, ../sass/elements.scss */
.no-bdr {
  border: 0 !important;
}

/* line 36, ../sass/elements.scss */
.no-liststyle {
  list-style-type: none;
}

/* line 37, ../sass/elements.scss */
.no-bg {
  background: none !important;
}

/* line 38, ../sass/elements.scss */
.rel-auto {
  position: relative;
  float: left;
}
/* line 39, ../sass/elements.scss */
.rel-auto label.error, .rel-auto span.error {
  left: 20px!important;
}

/* line 40, ../sass/elements.scss */
.relative {
  position: relative;
  float: left;
}

/* line 41, ../sass/elements.scss */
.overflow-hide {
  overflow: hidden;
}

/****************************
  Font color
*********************************/
/* line 45, ../sass/elements.scss */
.red {
  color: #f00205;
}

/****************************
  Width
*********************************/
/* line 51, ../sass/elements.scss */
.width92 {
  width: 92% !important;
}

/* line 52, ../sass/elements.scss */
.width90 {
  width: 90% !important;
}

/* line 53, ../sass/elements.scss */
.width90 {
  width: 90% !important;
}

/* line 54, ../sass/elements.scss */
.width85 {
  width: 85% !important;
}

/*
padding class
==========================================================================*/
/* line 60, ../sass/elements.scss */
.no-padd {
  padding: 0 !important;
}

/* line 61, ../sass/elements.scss */
.no_r_pad {
  padding-right: 0 !important;
}

/* line 62, ../sass/elements.scss */
.no_t_pad {
  padding-top: 0 !important;
}

/* line 63, ../sass/elements.scss */
.no_l_pad {
  padding-left: 0 !important;
}

/* line 64, ../sass/elements.scss */
.no_b_pad {
  padding-bottom: 0 !important;
}

/* line 66, ../sass/elements.scss */
.p-t-5 {
  padding-top: 5px;
}

/* line 67, ../sass/elements.scss */
.p-t-10 {
  padding-top: 10px;
}

/* line 68, ../sass/elements.scss */
.p-t-15 {
  padding-top: 15px;
}

/* line 69, ../sass/elements.scss */
.p-t-20 {
  padding-top: 20px;
}

/* line 70, ../sass/elements.scss */
.p-t-25 {
  padding-top: 25px;
}

/* line 71, ../sass/elements.scss */
.p-t-30 {
  padding-top: 30px;
}

/* line 72, ../sass/elements.scss */
.p-t-35 {
  padding-top: 35px;
}

/* line 73, ../sass/elements.scss */
.p-t-40 {
  padding-top: 40px;
}

/* line 74, ../sass/elements.scss */
.p-t-45 {
  padding-top: 45px;
}

/* line 75, ../sass/elements.scss */
.p-t-50 {
  padding-top: 50px;
}

/* line 76, ../sass/elements.scss */
.p-t-55 {
  padding-top: 55px;
}

/* line 77, ../sass/elements.scss */
.p-t-60 {
  padding-top: 60px;
}

/* line 78, ../sass/elements.scss */
.p-t-65 {
  padding-top: 65px;
}

/* line 79, ../sass/elements.scss */
.p-t-70 {
  padding-top: 70px;
}

/* line 80, ../sass/elements.scss */
.p-t-75 {
  padding-top: 75px;
}

/* line 81, ../sass/elements.scss */
.p-t-80 {
  padding-top: 80px;
}

/* line 82, ../sass/elements.scss */
.p-t-85 {
  padding-top: 85px;
}

/* line 83, ../sass/elements.scss */
.p-t-90 {
  padding-top: 90px;
}

/* line 84, ../sass/elements.scss */
.p-t-95 {
  padding-top: 95px;
}

/* line 85, ../sass/elements.scss */
.p-t-100 {
  padding-top: 100px;
}

/* line 88, ../sass/elements.scss */
.p-l-5 {
  padding-left: 5px;
}

/* line 89, ../sass/elements.scss */
.p-l-10 {
  padding-left: 10px;
}

/* line 90, ../sass/elements.scss */
.p-l-15 {
  padding-left: 15px;
}

/* line 91, ../sass/elements.scss */
.p-l-20 {
  padding-left: 20px;
}

/* line 92, ../sass/elements.scss */
.p-l-25 {
  padding-left: 25px;
}

/* line 93, ../sass/elements.scss */
.p-l-30 {
  padding-left: 30px;
}

/* line 94, ../sass/elements.scss */
.p-l-35 {
  padding-left: 35px;
}

/* line 95, ../sass/elements.scss */
.p-l-40 {
  padding-left: 40px;
}

/* line 96, ../sass/elements.scss */
.p-l-45 {
  padding-left: 45px;
}

/* line 97, ../sass/elements.scss */
.p-l-50 {
  padding-left: 50px;
}

/* line 98, ../sass/elements.scss */
.p-l-55 {
  padding-left: 55px;
}

/* line 99, ../sass/elements.scss */
.p-l-60 {
  padding-left: 60px;
}

/* line 100, ../sass/elements.scss */
.p-l-65 {
  padding-left: 65px;
}

/* line 101, ../sass/elements.scss */
.p-l-70 {
  padding-left: 70px;
}

/* line 102, ../sass/elements.scss */
.p-l-75 {
  padding-left: 75px;
}

/* line 103, ../sass/elements.scss */
.p-l-80 {
  padding-left: 80px;
}

/* line 104, ../sass/elements.scss */
.p-l-85 {
  padding-left: 85px;
}

/* line 105, ../sass/elements.scss */
.p-l-90 {
  padding-left: 90px;
}

/* line 106, ../sass/elements.scss */
.p-l-95 {
  padding-left: 95px;
}

/* line 107, ../sass/elements.scss */
.p-l-100 {
  padding-left: 100px;
}

/* line 110, ../sass/elements.scss */
.p-r-5 {
  padding-right: 5px;
}

/* line 111, ../sass/elements.scss */
.p-r-10 {
  padding-right: 10px;
}

/* line 112, ../sass/elements.scss */
.p-r-15 {
  padding-right: 15px;
}

/* line 113, ../sass/elements.scss */
.p-r-20 {
  padding-right: 20px;
}

/* line 114, ../sass/elements.scss */
.p-r-25 {
  padding-right: 25px;
}

/* line 115, ../sass/elements.scss */
.p-r-30 {
  padding-right: 30px;
}

/* line 116, ../sass/elements.scss */
.p-r-35 {
  padding-right: 35px;
}

/* line 117, ../sass/elements.scss */
.p-r-40 {
  padding-right: 40px;
}

/* line 118, ../sass/elements.scss */
.p-r-45 {
  padding-right: 45px;
}

/* line 119, ../sass/elements.scss */
.p-r-50 {
  padding-right: 50px;
}

/* line 120, ../sass/elements.scss */
.p-r-55 {
  padding-right: 55px;
}

/* line 121, ../sass/elements.scss */
.p-r-60 {
  padding-right: 60px;
}

/* line 122, ../sass/elements.scss */
.p-r-65 {
  padding-right: 65px;
}

/* line 123, ../sass/elements.scss */
.p-r-70 {
  padding-right: 70px;
}

/* line 124, ../sass/elements.scss */
.p-r-75 {
  padding-right: 75px;
}

/* line 125, ../sass/elements.scss */
.p-r-80 {
  padding-right: 80px;
}

/* line 126, ../sass/elements.scss */
.p-r-85 {
  padding-right: 85px;
}

/* line 127, ../sass/elements.scss */
.p-r-90 {
  padding-right: 90px;
}

/* line 128, ../sass/elements.scss */
.p-r-95 {
  padding-right: 95px;
}

/* line 129, ../sass/elements.scss */
.p-r-100 {
  padding-right: 100px;
}

/* line 131, ../sass/elements.scss */
.p-b-0 {
  padding-bottom: 0px !important;
}

/* line 132, ../sass/elements.scss */
.p-b-5 {
  padding-bottom: 5px;
}

/* line 133, ../sass/elements.scss */
.p-b-10 {
  padding-bottom: 10px;
}

/* line 134, ../sass/elements.scss */
.p-b-15 {
  padding-bottom: 15px;
}

/* line 135, ../sass/elements.scss */
.p-b-20 {
  padding-bottom: 20px;
}

/* line 136, ../sass/elements.scss */
.p-b-25 {
  padding-bottom: 25px;
}

/* line 137, ../sass/elements.scss */
.p-b-30 {
  padding-bottom: 30px !important;
}

/* line 138, ../sass/elements.scss */
.p-b-35 {
  padding-bottom: 35px;
}

/* line 139, ../sass/elements.scss */
.p-b-40 {
  padding-bottom: 40px;
}

/* line 140, ../sass/elements.scss */
.p-b-45 {
  padding-bottom: 45px;
}

/* line 141, ../sass/elements.scss */
.p-b-50 {
  padding-bottom: 50px;
}

/* line 142, ../sass/elements.scss */
.p-b-55 {
  padding-bottom: 55px;
}

/* line 143, ../sass/elements.scss */
.p-b-60 {
  padding-bottom: 60px;
}

/* line 144, ../sass/elements.scss */
.p-b-65 {
  padding-bottom: 65px;
}

/* line 145, ../sass/elements.scss */
.p-b-70 {
  padding-bottom: 70px;
}

/* line 146, ../sass/elements.scss */
.p-b-75 {
  padding-bottom: 75px;
}

/* line 147, ../sass/elements.scss */
.p-b-80 {
  padding-bottom: 80px;
}

/* line 148, ../sass/elements.scss */
.p-b-85 {
  padding-bottom: 85px;
}

/* line 149, ../sass/elements.scss */
.p-b-90 {
  padding-bottom: 90px;
}

/* line 150, ../sass/elements.scss */
.p-b-95 {
  padding-bottom: 95px;
}

/* line 151, ../sass/elements.scss */
.p-b-100 {
  padding-bottom: 100px;
}

/*
margin class
==========================================================================*/
/* line 157, ../sass/elements.scss */
.no-mar {
  margin: 0 !important;
}

/* line 158, ../sass/elements.scss */
.no_r_mar {
  margin-right: 0 !important;
}

/* line 159, ../sass/elements.scss */
.no_t_mar {
  margin-top: 0 !important;
}

/* line 160, ../sass/elements.scss */
.no_l_mar {
  margin-left: 0 !important;
}

/* line 161, ../sass/elements.scss */
.no_b_mar {
  margin-bottom: 0 !important;
}

/* line 162, ../sass/elements.scss */
.m-10 {
  margin: 10px;
}

/* line 165, ../sass/elements.scss */
.m-t-51 {
  margin-top: -50px;
  padding-bottom: 0px!important;
}

/* line 166, ../sass/elements.scss */
.m-t-71 {
  margin-top: -70px;
  padding-bottom: 0px!important;
}

/* line 167, ../sass/elements.scss */
.m-t-5 {
  margin-top: 5px;
}

/* line 168, ../sass/elements.scss */
.m-t-8 {
  margin-top: 8px;
}

/* line 169, ../sass/elements.scss */
.m-t-10 {
  margin-top: 10px;
}

/* line 170, ../sass/elements.scss */
.m-t-15 {
  margin-top: 15px;
}

/* line 171, ../sass/elements.scss */
.m-t-20 {
  margin-top: 20px;
}

/* line 172, ../sass/elements.scss */
.m-t-25 {
  margin-top: 25px;
}

/* line 173, ../sass/elements.scss */
.m-t-30 {
  margin-top: 30px;
}

/* line 174, ../sass/elements.scss */
.m-t-35 {
  margin-top: 35px;
}

/* line 175, ../sass/elements.scss */
.m-t-40 {
  margin-top: 40px;
}

/* line 176, ../sass/elements.scss */
.m-t-45 {
  margin-top: 45px;
}

/* line 177, ../sass/elements.scss */
.m-t-50 {
  margin-top: 50px;
}

/* line 178, ../sass/elements.scss */
.m-t-55 {
  margin-top: 55px;
}

/* line 179, ../sass/elements.scss */
.m-t-60 {
  margin-top: 60px;
}

/* line 180, ../sass/elements.scss */
.m-t-65 {
  margin-top: 65px;
}

/* line 181, ../sass/elements.scss */
.m-t-70 {
  margin-top: 70px;
}

/* line 182, ../sass/elements.scss */
.m-t-75 {
  margin-top: 75px;
}

/* line 183, ../sass/elements.scss */
.m-t-80 {
  margin-top: 80px;
}

/* line 184, ../sass/elements.scss */
.m-t-85 {
  margin-top: 85px;
}

/* line 185, ../sass/elements.scss */
.m-t-90 {
  margin-top: 90px;
}

/* line 186, ../sass/elements.scss */
.m-t-95 {
  margin-top: 95px;
}

/* line 187, ../sass/elements.scss */
.m-t-100 {
  margin-top: 100px;
}

/* line 188, ../sass/elements.scss */
.m-t-14 {
  margin-top: 14px!important;
}

/* line 189, ../sass/elements.scss */
#reason {
  margin-top: 14px;
}

/* line 191, ../sass/elements.scss */
.m-r-5 {
  margin-right: 5px;
}

/* line 192, ../sass/elements.scss */
.m-r-10 {
  margin-right: 10px!important;
}

/* line 193, ../sass/elements.scss */
.m-r-15 {
  margin-right: 15px;
}

/* line 194, ../sass/elements.scss */
.m-r-20 {
  margin-right: 20px;
}

/* line 195, ../sass/elements.scss */
.m-r-25 {
  margin-right: 25px;
}

/* line 196, ../sass/elements.scss */
.m-r-30 {
  margin-right: 30px;
}

/* line 197, ../sass/elements.scss */
.m-r-35 {
  margin-right: 35px;
}

/* line 198, ../sass/elements.scss */
.m-r-40 {
  margin-right: 40px;
}

/* line 199, ../sass/elements.scss */
.m-r-45 {
  margin-right: 45px;
}

/* line 200, ../sass/elements.scss */
.m-r-50 {
  margin-right: 50px;
}

/* line 201, ../sass/elements.scss */
.m-r-55 {
  margin-right: 55px;
}

/* line 202, ../sass/elements.scss */
.m-r-60 {
  margin-right: 60px;
}

/* line 203, ../sass/elements.scss */
.m-r-65 {
  margin-right: 65px;
}

/* line 204, ../sass/elements.scss */
.m-r-70 {
  margin-right: 70px;
}

/* line 205, ../sass/elements.scss */
.m-r-75 {
  margin-right: 75px;
}

/* line 206, ../sass/elements.scss */
.m-r-80 {
  margin-right: 80px;
}

/* line 207, ../sass/elements.scss */
.m-r-85 {
  margin-right: 85px;
}

/* line 208, ../sass/elements.scss */
.m-r-90 {
  margin-right: 90px;
}

/* line 209, ../sass/elements.scss */
.m-r-95 {
  margin-right: 95px;
}

/* line 210, ../sass/elements.scss */
.m-r-100 {
  margin-right: 100px;
}

/* line 213, ../sass/elements.scss */
.m-b-5 {
  margin-bottom: 5px;
}

/* line 214, ../sass/elements.scss */
.m-b-10 {
  margin-bottom: 10px;
}

/* line 215, ../sass/elements.scss */
.m-b-15 {
  margin-bottom: 15px;
}

/* line 216, ../sass/elements.scss */
.m-b-20 {
  margin-bottom: 20px;
}

/* line 217, ../sass/elements.scss */
.m-b-25 {
  margin-bottom: 25px;
}

/* line 218, ../sass/elements.scss */
.m-b-30 {
  margin-bottom: 30px;
}

/* line 219, ../sass/elements.scss */
.m-b-35 {
  margin-bottom: 35px;
}

/* line 220, ../sass/elements.scss */
.m-b-40 {
  margin-bottom: 40px;
}

/* line 221, ../sass/elements.scss */
.m-b-45 {
  margin-bottom: 45px;
}

/* line 222, ../sass/elements.scss */
.m-b-50 {
  margin-bottom: 50px;
}

/* line 223, ../sass/elements.scss */
.m-b-55 {
  margin-bottom: 55px;
}

/* line 224, ../sass/elements.scss */
.m-b-60 {
  margin-bottom: 60px;
}

/* line 225, ../sass/elements.scss */
.m-b-65 {
  margin-bottom: 65px;
}

/* line 226, ../sass/elements.scss */
.m-b-70 {
  margin-bottom: 70px;
}

/* line 227, ../sass/elements.scss */
.m-b-75 {
  margin-bottom: 75px;
}

/* line 228, ../sass/elements.scss */
.m-b-80 {
  margin-bottom: 80px;
}

/* line 229, ../sass/elements.scss */
.m-b-85 {
  margin-bottom: 85px;
}

/* line 230, ../sass/elements.scss */
.m-b-90 {
  margin-bottom: 90px;
}

/* line 231, ../sass/elements.scss */
.m-b-95 {
  margin-bottom: 95px;
}

/* line 232, ../sass/elements.scss */
.m-b-100 {
  margin-bottom: 100px;
}

/* line 235, ../sass/elements.scss */
.m-l-5 {
  margin-left: 5px;
}

/* line 236, ../sass/elements.scss */
.m-l-10 {
  margin-left: 10px;
}

/* line 237, ../sass/elements.scss */
.m-l-15 {
  margin-left: 15px;
}

/* line 238, ../sass/elements.scss */
.m-l-20 {
  margin-left: 20px;
}

/* line 239, ../sass/elements.scss */
.m-l-25 {
  margin-left: 25px;
}

/* line 240, ../sass/elements.scss */
.m-l-30 {
  margin-left: 30px;
}

/* line 241, ../sass/elements.scss */
.m-l-35 {
  margin-left: 35px;
}

/* line 242, ../sass/elements.scss */
.m-l-40 {
  margin-left: 40px;
}

/* line 243, ../sass/elements.scss */
.m-l-45 {
  margin-left: 45px;
}

/* line 244, ../sass/elements.scss */
.m-l-50 {
  margin-left: 50px;
}

/* line 245, ../sass/elements.scss */
.m-l-55 {
  margin-left: 55px;
}

/* line 246, ../sass/elements.scss */
.m-l-60 {
  margin-left: 60px;
}

/* line 247, ../sass/elements.scss */
.m-l-65 {
  margin-left: 65px;
}

/* line 248, ../sass/elements.scss */
.m-l-70 {
  margin-left: 70px;
}

/* line 249, ../sass/elements.scss */
.m-l-75 {
  margin-left: 75px;
}

/* line 250, ../sass/elements.scss */
.m-l-80 {
  margin-left: 80px;
}

/* line 251, ../sass/elements.scss */
.m-l-85 {
  margin-left: 85px;
}

/* line 252, ../sass/elements.scss */
.m-l-90 {
  margin-left: 90px;
}

/* line 253, ../sass/elements.scss */
.m-l-95 {
  margin-left: 95px;
}

/* line 254, ../sass/elements.scss */
.m-l-100 {
  margin-left: 100px;
}

/* line 255, ../sass/elements.scss */
.m-l-115 {
  margin-left: 115px;
  margin-top: 3px;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype"), url("../fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/opensans-extrabold-webfont.eot");
  src: url("../fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("../fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  CSS for customized radio buttons and check boxes */
/*  wrapper divs */
/* line 341, ../sass/elements.scss */
.custom-checkbox, .custom-radio {
  position: relative;
  float: left;
}

/* input, label positioning */
/* line 345, ../sass/elements.scss */
.custom-checkbox input,
.custom-radio input {
  position: absolute;
  left: 2px;
  top: 3px;
  margin: 0;
  z-index: 0;
}

/* line 354, ../sass/elements.scss */
.custom-checkbox label,
.custom-radio label {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 1.3em;
  padding-right: 1em;
  line-height: 1;
  padding: 0.3em 0 0.5em 30px;
  margin: 0 0 0.3em;
  cursor: pointer;
}

/* states */
/* line 369, ../sass/elements.scss */
.custom-checkbox label,
.custom-radio label {
  padding: 4px 0 4px 30px !important;
}

/* line 371, ../sass/elements.scss */
.custom-checkbox label {
  background: url(../img/check.png) no-repeat 0 0;
}

/* line 373, ../sass/elements.scss */
.custom-radio label {
  background: url(../img/radio.png) no-repeat 0 0;
}

/* line 375, ../sass/elements.scss */
.custom-checkbox label, .custom-radio label {
  background-position: 0 0;
}

/* line 377, ../sass/elements.scss */
.custom-checkbox label.checked {
  background-position: 0 -84px !important;
}

/*.custom-checkbox label.hover{background-position: 0 -42px!important;}
.custom-checkbox label.focus{background-position: 0 -84px!important;}*/
/* line 382, ../sass/elements.scss */
.custom-radio label.checked {
  background-position: 0 -84px !important;
}

/*.custom-radio label.hover{background-position: 0 -42px!important;}
.custom-radio label.focus {background-position: 0 -84px!important;}*/
/* line 387, ../sass/elements.scss */
.custom-checkbox label.checked,
.custom-radio label.checked {
  background-position: 0 0;
}

/* line 392, ../sass/elements.scss */
.custom-checkbox label.checkedHover,
.custom-checkbox label.checkedFocus {
  /*background-position: 0 bottom;*/
}

/* line 397, ../sass/elements.scss */
.custom-checkbox label.focus,
.custom-radio label.focus {
  outline: 1px dotted #cccccc;
}

/****************************
  Error message
*********************************/
/* line 405, ../sass/elements.scss */
.col1, .row, .col2, .col12, .col3, .col4, col5, col6, col7 {
  position: relative;
}

/* line 406, ../sass/elements.scss */
label.error, span.error {
  white-space: nowrap;
  padding: 10px 10px 17px 20px !important;
  background: url(/img/error-bg.png) no-repeat 0 0px;
  color: white !important;
  font-size: 12px;
  font-family: 'open_sansregular';
  text-transform: uppercase;
  width: auto !important;
  position: absolute;
  top: -45px;
  left: 144px;
  z-index: 999;
}

/* line 407, ../sass/elements.scss */
label.error span.redarrow, span.error span.redarrow {
  width: 11px;
  height: 8px;
  background: none;
  float: left;
  position: absolute;
  bottom: -8px;
  left: 10px;
}

/* line 408, ../sass/elements.scss */
.success-msg {
  color: #24292E;
  float: left;
  font-family: 'open_sansregular';
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  padding: 4px 0 2px 25px;
  background: url(/img/sprite.png) no-repeat left -684px;
  margin-top: 10px;
}

/* line 409, ../sass/elements.scss */
.error-msg {
  color: red;
  float: left;
  font-family: 'open_sansregular';
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  padding: 4px 0 2px 0px;
}

/* line 410, ../sass/elements.scss */
.error-msg-left label.error, .error-msg-left span.error {
  left: 0px!important;
  top: -12px!important;
}

/* line 411, ../sass/elements.scss */
.error-label-large label.error, .error-label-large span.error {
  left: 190px!important;
}

/* line 414, ../sass/elements.scss */
.add-group label.error, .add-group span.error {
  left: 43%;
}
/* line 415, ../sass/elements.scss */
.add-group span.redarrow {
  left: 200px!important;
}

/* line 418, ../sass/elements.scss */
#radio-width .custom-radio label {
  width: auto;
}

/* line 419, ../sass/elements.scss */
hr {
  width: 100%;
  line-height: 1px;
  float: left;
  height: 1px;
  font-size: 1px;
  margin-bottom: 10inpx;
  border: 0;
  margin: 10px 0;
  background: #5496ca;
}
