/*#left-section ul li a.kiosk {background: url("../img/kiosk.png") no-repeat 20px 14px ;}
#left-section ul li a.kiosk:hover, #left-section ul li a.active{background:url("../img/kiosk.png") no-repeat 20px 14px #fff;}*/
.kiosk-btm-grid{width:100%; float:left; padding:6px 0;}
.kiosk-btm-grid label{float:left; margin-right:20px; font-size:14px;  font-family: "open_sansregular";}
.kiosk-btm-grid label img{float:left; margin-right:5px;}

.add-kiosk-popup{width:auto;}
.add-kiosk-popup h3{width:100%; float:left; font-size:16px; font-weight:bold; margin-bottom:7px;}
.add-kiosk-popup .row{width:100%; float:left; margin-bottom:15px;}
.add-kiosk-popup label.width-120{width:120px; float:left; font-size:14px;  font-family: "open_sansregular"; padding:5px 0 0!important;}
.add-kiosk-popup label{font-size:14px;  font-family: "open_sansregular";}
.add-kiosk-popup .width-125{width:125px; float:left;}
.add-kiosk-popup .textarea{width:300px; float:left; height:120px;}