<?php
/**
 * This view is used to edit manifest for admin
 * @package    Document
 * @author     Icreon Tech - SR
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script>
<?php echo $var;?>
</script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/passenger/manifest.search.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath');?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion');?>"></script>
<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="create-contacts ship-basic-info">
    <div class="accordion-detail">
        <?php
        $form = $this->edit_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?><input type="hidden" name="passenger_id" id="passenger_id" value="<?php echo $passengerIdStr ?>">
          <input type="hidden" name="filename_old" id="filename_old" value="<?php echo $filename_old ?>">
          <input type="hidden" name="ude_batch_no_old" id="ude_batch_no_old" value="<?php echo $ude_batch_no_old ?>">
        <div class="head no-img"><span><?php ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row1">
                    <div class="col1">
                        <label><?php echo $translator['FRAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('frame')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['SERIES'].'-'.$translator['ROLL_NUMBER']; ?><span class="red">*</span></label>
                        <div>
                            <?php echo $this->formRow($form->get('roll_number')); ?>
                            <?php echo $this->formRow($form->get('frame_old')); ?>
                            <?php echo $this->formRow($form->get('roll_number_old')); ?>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                         <label><?php echo $translator['SHIP_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('ship')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['ARRIVAL_DATE']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('arrival_date')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['UDE_BATCH_NUMBER']; ?><!--<span class="red">*</span>--></label>
                        <?php echo $this->formRow($form->get('ude_batch_number')); ?>
                    </div>
                    <div class="col1 right">
                        <label><?php echo $translator['FILE_NAME']; ?><span class="red">*</span></label>
                        <?php echo $this->formRow($form->get('file_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1 right">
                        <label>&nbsp;</label>
                        <?php echo $this->formRow($form->get('is_edited_image')); ?>
                        <label class="check" for="is_edited_image"><?php echo $translator['IS_IMAGE_EDITED']; ?></label>
                    </div>
                </div>
                
                <div class="row no-padd">
                    <label>&nbsp;</label>
                    <?php echo $this->formRow($form->get('update')); ?>
                    <a href="/crm-manifest"><?php echo $this->formRow($form->get('cancel')); ?></a>

                </div>
            </div>
        </div>
        

        <?php
        echo $this->form()->closeTag();
        ?>
    </div>
</div>
<script>
    $(document).ready(function() {
       // $(".e3").customInput();
       // $(".e2").customInput();
        //$(".e1").select2();
    });
</script>