<?php
/**
 * This view is used to edit the manifest
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <h2>Manifests</h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="#"><?php echo $translator['L_DASHBOARD'] ?></a></li>
            <li><?php echo $translator['L_SYMBOL'] ?></li>
            <li><a href="#" class="active"><?php echo $translator['L_EDIT'] ?></a></li>
        </ul>
    </div>
    <div class="accordion-detail">
        <ul class="edit-link">
            <li><a href="#" ><?php echo $translator['L_DETAILS'] ?></a></li>
            <li><a href="#" class="active"><?php echo $translator['L_EDIT'] ?></a></li>
            <li><a href="#"><?php echo $translator['L_CHANGE_LOG'] ?></a></li>
        </ul>
        <?php
        $form = $this->search_manifest_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="head no-img"><span><?php echo $translator['L_BASIC_MANIFEST_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FRAME'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('frame')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ROLLNUMBER'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('roll_number')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SERIES'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('series')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ARRIVAL_DATE'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('arrival_from_date')); ?>
                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="">
                        <label class="auto">-to-</label>                   
                        <?php echo $this->formRow($form->get('arrival_to_date')); ?>
                        <img src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_UDEBATCH_NO'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('ude_batch_number')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_FILE_NAME'] ?><span class="red">*</span>:</label>
                        <?php echo $this->formRow($form->get('file_name')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SHIP_NAME'] ?><span class="red">*</span>:</label>
                        <div class="search-input-bg">
                            <?php echo $this->formRow($form->get('ship_name')); ?>
                            <input name="" type="button" class="search-btn">
                        </div>
                        <span class="age-year">Please enter "Celtic"and click</span> </div>
                </div>
            </div>

            <div class="head no-img"><span><?php echo $translator['L_IMAGE'] ?></span></div>
            <div class="detail-section">
                <div class="common-form">
                    <div class="row text-bold "> Slider Will Come Here... </div>
                </div>
            </div>
            <div class="row common-form m-t-20">

                <?php echo $this->formRow($form->get('update')); ?>
                <?php echo $this->formRow($form->get('cancel')); ?>
            </div>
        </div>
    </div>
</form>
</div>
</div>