<?php
/**
 * This view is used to search manifest passenger list
 * @package    Document
 * @author     Icreon Tech - SR
 */
$var = '';
$this->inlineScript()->captureStart();
$var = '';
$var .=' var fileName="' . $fileName . '";';
echo $var;
$this->inlineScript()->captureEnd();
 ?>
 
 <div class="pop-container"> 
    <div class="grid-section">
        <h3>Passenger List</h3>
        <div class="grid-box" id="gview_list">
            <table id="passengerList"></table>
            <div id="pcrud"></div>
            <br><br>
        </div>
    </div></div>
<script>
  $(function() {  
    $.jgrid.no_legacy_api = true;
    $.jgrid.useJSON = true;  
    var grid = jQuery("#passengerList");
    var emptyMsgDiv = $('<div class="no-record-msz">No Record Found</div>');    
        $("#passengerList").jqGrid({ 
            postData: {
                fileName:'<?php echo $fileName; ?>',
            },
            mtype: 'POST',
            url: '/get-manifest-passenger-list',
            datatype: "json", 
            sortable:true,
            colNames: ['Ref Line #','Passenger ID','Last Name','First Name','Gender','Residence','Marital Status','Age on Arrival','Ethnicity'],
            colModel: [
                {
                    name: 'RefLine#', 
                    index: 'REF_PAGE_LINE_NBR'
                },
                {
                    name: 'PassengerID', 
                    index: 'RAW_tab.ID'
                },
                {
                    name: 'LastName', 
                    index: 'PRIN_LAST_NAME'
                },
                {
                    name: 'FirstName', 
                    index: 'PRIN_FIRST_NAME'
                }
                ,
                {
                    name: 'Gender', 
                    index: 'PRIN_GENDER_CODE'
                }
                ,
                {
                    name: 'Residence', 
                    index: 'PRIN_PLACE_RESI'
                }
                ,
                {
                    name: 'MaritalStatus', 
                    index: 'PRIN_MARITAL_STAT'
                }
                ,
                {
                    name: 'AgeonArrival', 
                    index: 'AGE_ARRIVE'
                }
                ,
                {
                    name: 'Ethnicity', 
                    index: 'ethnicity'
                }
            ],
            viewrecords: true, 
            sortname: 'RAW_tab.ID',
            sortorder: "ASC",
            rowNum:10, 
            rowList:[10,20,30], 
            pager: '#pcrud',
            viewrecords: true, 
            autowidth: true,
            shrinkToFit: true,
            caption:"",
            width:"100%",
            cmTemplate: { title: false },
            loadComplete: function () {
            var count = grid.getGridParam();
            var ts = grid[0];
            if (ts.p.reccount === 0) {
                grid.hide();
                emptyMsgDiv.show();
                $("#pcrud_right div.ui-paging-info").css('display','none');
            } else {
                grid.show();
                emptyMsgDiv.hide();
                $("#pcrud_right div.ui-paging-info").css('display','block');
            }
            hideAjxLoader();
        }
        });    
    // place div with empty message insde of div
    emptyMsgDiv.insertAfter(grid.parent());
    emptyMsgDiv.hide();        
        // For paging 
        $("#passengerList").jqGrid('navGrid','#pcrud',{
            reload: true,
            edit: false, 
            add: false, 
            search: false, 
            del: false
        });
        
        $('.grid-box').find('th:last').addClass("remove-last");
    }); 
</script>