<?php
/**
 * This view is used to search manifest for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/manifest.search.js?v='.$this->layout()->getVariable('jsVersion'));
?>
<div class="create-contacts">
    <h2><?php echo $translator['L_MANIFEST'] ?></h2>
	<div class="breadcrumb">
	    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
	</div>
    <p class="search-text m-t-20"><?php echo '"' . $translator['L_SEARCH_MANIFEST_BY_FILLING_DETAILS'] . '"'; ?> "<?php echo $translator['L_SAVE'] ?>" <?php echo $translator['L_AS_WELL_RETRIEVE_SAVE_SEARCHES']; ?></p>
    <div class="accordion-detail">
        <div class="head no-img"><span><?php echo $translator['L_SEARCH_MANIFEST']; ?></span></div>
        <?php
        $form = $this->search_manifest_form;
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FRAME'] ?></label>
                        <?php echo $this->formRow($form->get('frame')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ROLLNUMBER'] ?></label>
                        <?php echo $this->formRow($form->get('roll_number')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FILE_NAME'] ?></label>
                        <?php echo $this->formRow($form->get('file_name')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_SERIES'] ?></label>
                        <?php echo $this->formRow($form->get('series')); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SHIP_NAME'] ?></label>
                        <?php echo $this->formRow($form->get('ship_name')); ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ARRIVAL_DATE'] ?></label>
                        <?php echo $this->formRow($form->get('arrival_from_date')); ?>
                        <img alt="" class="left" id="img_arrival_from_date" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg">
                        <label class="auto">-to-</label>
                        <?php echo $this->formRow($form->get('arrival_to_date')); ?>
                        <img alt="" class="left" id="img_arrival_to_date" src="<?php echo $this->layout()->getVariable('imageFilePath');?>/img/cal.jpg"> </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_UDEBATCH_NO'] ?></label>
                        <?php echo $this->formRow($form->get('ude_batch_number')); ?>
                    </div>
                </div>
                <div class="row no-padd">
                    <label class="no-padd">&nbsp;</label>
                    <?php echo $this->formRow($form->get('search')); ?>
                </div>
            </div>
            <?php
            echo $this->form()->closeTag();
            ?>
        </div>
        <div class="detail-section1 common-form search-row-2">
            <?php
            $save_search_manifest_form = $this->save_search_manifest_form;
            $save_search_manifest_form->prepare();
            echo $this->form()->openTag($save_search_manifest_form);
            ?>
            <div class="col1">
                <label><?php echo $translator['L_SAVED_SEARCHES']; ?>:</label>
                <?php echo $this->formRow($save_search_manifest_form->get('saved_search')); ?>
            </div>
            <div class="col1 right" style="width:auto">

                <label><?php echo $translator['L_SAVE_SEARCH_AS']; ?> : </label>
                <?php echo $this->formRow($save_search_manifest_form->get('search_name')); ?>
                <?php echo $this->formRow($save_search_manifest_form->get('search_id')); ?>
                <?php echo $this->formRow($save_search_manifest_form->get('savebutton')); ?>
                <a href="#delete_manifest_search" id="deletebutton" style="display:none;" class="delete_manifest save-btn m-l-5" onClick="deleteRecord();"><?php echo $translator['DELETE']; ?></a>
                <span id="search_msg" class="error" style="display:none;"></span>
                <?php
                echo $this->form()->closeTag();
                ?>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="grid-section">

    <div class="search-results">
        <h3><?php echo $translator['L_SEARCH_RESULT'] ?></h3>
        <p><?php echo $translator['L_BELOW_ARE_SEARCH_RECORDS'] ?></p>
    </div>
    <div class="grid-box">
        <br><br>
        <table id="list"></table>
        <div id="pcrud"></div>
        <br><br>
    </div>
</div>
</p>
</div>
</div>

<div style='display:none'>
    <div id='delete_manifest_search' class="pop-container">aaa
        <a href="javascript:void(0);" class="pop_close_btn"></a> <a class="pop_show_btn" href="javascript:void(0);"></a>
        <h2><?php echo $translator['DELETE_ALERT'] ?></h2>

        <div class="button-row">
            <input type="button" value="Yes" name="yes" id="yes_delete" class="blue-btn m-r-10">
            <input type="button" value="No" name="no" id="no_delete" class="green-btn">
        </div>
    </div>
</div>