<?php
/**
 * This page is used to view the manifest details
 * @package    Document
 * @return html format
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var ship_id="' . $ship_id . '";';
//$var .=' var shiplineId="'.$shiplineId.'";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd();
?>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/common.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/ui.jqgrid.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/jquery.jqGrid.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/grid.locale-en.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>

<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/demo.css" />
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/imagezoom.css" />
<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/css/es-cus.css" />
<link href="<?php echo $this->layout()->getVariable('cssFilePath'); ?>/css/jquery-ui-custom.css?v=<?php echo $this->layout()->getVariable('cssVersion'); ?>" media="screen" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/css/crmmanifestcss.css?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>" />
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/imageslider/jquery.carouFredSel.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/slider-zoom/js/jquery.imagezoom.min.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>

<script type="text/javascript" src="<?php echo $this->layout()->getVariable('jsFilePath'); ?>/js/passenger/manifest.search.js?v=<?php echo $this->layout()->getVariable('jsVersion'); ?>"></script>
<style>
    #wrapper{width:70% !important}
    #sliderDiv_overlay3{top:475px; left:0px!important}
    #sliderDiv_overlay2{top:500px;}
    #sliderDiv_overlay{top:480px;}
    #carousel-wrapper{overflow:visible!important}
</style>



<div class="breadcrumb m-t-51">
    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setSeparator(' >> '); ?>
</div>
<div class="head no-img"><span><?php echo $translator['BASIC_MANIFEST_INFORMATION']; ?></span></div>
<div class="detail-section">
    <div class="common-form">
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['FRAME']; ?></label>
                <span class="view-text"><?php echo $searchResult['FRAME'] ?></span> </div>
            <div class="col1">
                <label><?php echo $translator['SERIES'] . ' - ' . $translator['ROLL_NUMBER']; ?></label>
                <span class="view-text"><?php echo $searchResult['ROLL_NBR'] ?></span> </div>
        </div>
        <div class="row">
            <!--<div class="col1">
                <label><?php //echo $translator['SERIES'];  ?></label>
                <span class="view-text"><?php //echo substr($searchResult['ROLL_NBR'], 0, 4)  ?></span> </div>-->
            <div class="col1">
                <label><?php echo $translator['ARRIVAL_DATE']; ?></label>
                <span class="view-text"><?php
    $arrival_date = '';
    $date = $searchResult['ARRIVAL_DATE'];
    if (strpos($date, '-') != false) {
        if (!empty($date)) {
            $dateDataArray = explode('-', substr($date, 0, 10));
            $arrival_date = $dateDataArray[1] . '-' . $dateDataArray[2] . '-' . $dateDataArray[0];
        }
    } else if (strpos($date, '/') != false) {
        if (!empty($date)) {
            $dateDataArray = explode('/', $date);
            $arrival_date = $dateDataArray[0] . '-' . $dateDataArray[1] . '-' . $dateDataArray[2];
        }
    } else {
        if (!empty($date)) {
            $dateDataArray = explode(' ', $date);

            $arrival_date = $nmonth = date("m", strtotime($dateDataArray[0])) . '-' . $dateDataArray[1] . '-' . $dateDataArray[2];
        }
    }
    echo $arrival_date;
    ?></span> 
            </div>
            <div class="col1">
                <label><?php echo $translator['NO_OF_PASSENGER']; ?></label>
                <span class="view-text">
                    <?php
                    if ($passengerCountInManifest > 0) {
                        ?>
                        <a href='javascript:void(0)' class="link" onClick="showPassengerListing('<?php echo $this->encrypt($searchResult['FILENAME']) ?>')"><?php echo $passengerCountInManifest; ?></a></span>
                    <?php
                } else {
                    echo $passengerCountInManifest;
                }
                ?>
            </div>
        </div>
        <div class="row">
            <div class="col1">
                <label><?php echo $translator['UDE_BATCH_NUMBER']; ?></label>
                <span class="view-text"><?php echo $searchResult['UDE_BATCH_NUMBER'] ?></span> </div>
            <div class="col1">
                <label><?php echo $translator['FILE_NAME']; ?></label>
                <span class="view-text"><?php echo $searchResult['FILENAME'] ?></span> </div>
        </div>
        <div class="row no-padd">
            <div class="col1">
                <label><?php echo $translator['SHIP_NAME']; ?></label>
                <span class="view-text"><?php echo $searchResult['SHIP_NAME'] ?></span> </div>

            <div class="col1">
                <label><?php echo $translator['IS_IMAGE_EDITED']; ?></label>
                <span class="view-text"><?php
                if ($searchResult['is_edited_image'] == 1)
                    echo 'Yes';
                else
                    echo 'No';
                ?></span> </div>    
        </div>
    </div>
</div>
<div class="head no-img"><span><?php echo $translator['IMAGES']; ?></span> <a class="view-right-text" href="javascript:void(0);" onClick="showPassengerMoreManifestImage('<?php echo $this->Encrypt($searchResult['ROLL_NBR']); ?>','<?php echo $this->Encrypt($searchResult['FRAME']); ?>');">View Manifest Image</a></div>
<?php
if (count($shipManifestArray) > 0) {
    ?>
    <div class="slider-section">


    <?php
    $imagePathArray = array();
    $imagePathArray['fileName'] = $shipManifestArray[$defaultImageIndex];
    $imagePathArray['dataSource'] = $dataSource;
    $imagePathArray['isThumb'] = '0';
    $centerImagePath = $this->GetManifestPath($imagePathArray);
    $largeVal = $centerImagePath;

    $largeImageExists = false;
    if (!empty($shipManifestArray[$defaultImageIndex])) {
        if ($dataSource == 1) {
            $shipManifestArray[$defaultImageIndex] = $this->convertTifToJpg($shipManifestArray[$defaultImageIndex]);
            $imageFolder = substr(strtolower($shipManifestArray[$defaultImageIndex]),0,9);
            $imageRootPath = $uploadFilePath;
            $imageRootPath = $imageRootPath . 'manifest-low/' . $imageFolder . '/' . strtolower($shipManifestArray[$defaultImageIndex]);
            $largeImageExists = @file_exists($imageRootPath);
                                        
            //$largeImageExists = @fopen($largeVal, 'r');
        } else if ($dataSource == 2) {
            $imageFolderArray = explode('_', $shipManifestArray[$defaultImageIndex]);
            $imageFolder = $imageFolderArray[0];
            $imageRootPath = $uploadFilePath;
            $imageRootPath = $imageRootPath . 'manifest-low/' . $imageFolder . '/' . $shipManifestArray[$defaultImageIndex];            
            $largeImageExists = file_exists($imageRootPath);
        }
    }
    if ($largeImageExists) {
        $largeVal = $largeVal;
    } else {
        $largeVal = $this->layout()->getVariable('imageFilePath') . "/images/no-image.jpg";
    }
    if ($largeImageExists) {
        ?>              

            <div id="sliderDiv_overlay">
                <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" >
            </div>    

            <div id="sliderDiv_overlay3">
                <img src="<?php echo $this->layout()->getVariable('imageFilePath'); ?>/img/loading.gif" >
            </div>

            <div id="sliderDiv_overlay2" onMouseout="showHideOverlay(1);" onMouseover="showHideOverlay(0);"></div>
        <?php
    }
    ?>              

        <div id="c-carousel" class="minifestSilder m-t-25">
            <div  id="wrapper" class="left">
                <div id="carousel-wrapper">
                    <div id="carousel" style="height:560px!important">
                        <span>
                            <img id="image" src="<?php echo $largeVal ?>" data-original="<?php echo $largeVal ?>" height="100%" />

                        </span>

                    </div>
                    <span id="centerImageName" style="float: left;clear: both;padding-left:400px;"><?php echo $shipManifestFilenameArray[$defaultImageIndex] ?></span>
                </div>



                <div id="thumbs-wrapper">

                    <div id="thumbs"> 
    <?php
    foreach ($shipManifestArray as $key => $val) {
        $imagePathArray = array();
        $imagePathArray['fileName'] = $val;
        $imagePathArray['dataSource'] = $dataSource;
        $imagePathArray['isThumb'] = '1';
        $thumbVal = $this->GetManifestPath($imagePathArray);

        $imagePathArray = array();
        $imagePathArray['fileName'] = $val;
        $imagePathArray['dataSource'] = $dataSource;
        $imagePathArray['isThumb'] = '0';
        $largeVal = $this->GetManifestPath($imagePathArray);

        $largeImageExists = false;
        $imageFolderArray = explode('_', $val);
        $imageFolder = $imageFolderArray[0];
        $imageRootPath = $uploadFilePath;
        $imageRootPath = $imageRootPath . 'manifest-low/' . $imageFolder . '/' . $val;
        if ($dataSource == 1) {
            //$largeImageExists = @fopen($largeVal, 'r');
            $val = $this->convertTifToJpg($val);
			$imageFolder = substr(strtolower($val),0,9);
			$imageRootPath = $uploadFilePath;
			$imageRootPath = $imageRootPath . 'manifest-low/' . $imageFolder . '/' . strtolower($val);
			$largeImageExists = file_exists($imageRootPath);
			//$largeImageExists = true;
        } else if ($dataSource == 2) {
            $largeImageExists = file_exists($imageRootPath);
        }

        if ($largeImageExists) {
            ?>
                                <a id="<?php echo $key ?>" href="#<?php echo $key ?>" onClick=showCenterImage('<?php echo str_replace('\\', "/", $largeVal) ?>');showCenterImageName('<?php echo $shipManifestFilenameArray[$key] ?>');><img data-original="<?php echo $largeVal ?>"/><span><?php echo $shipManifestFilenameArray[$key]; ?></span></a>
                            <!--<li><a href="javascript:void(0);" onclick="showCenterImageName('<?php //echo $shipManifestFilenameArray[$key] ?>')"><img height="120" src="<?php //echo $thumbVal ?>" data-largeimg="<?php //echo $largeVal ?>"/></a><span id="<?php //echo $val ?>" class="manifest-label-cls"><?php //echo $shipManifestFilenameArray[$key] ?></span></li>-->
                                <?php
                            }
                        }
                        ?>
                    </div>
                    <a id="prev" href="#"></a>
                    <a id="next" href="#"></a>
                </div>
                <label class=""></label>
            </div>
        </div>
    </div>
                        <?php
                    }
                    ?>        

<script type="text/javascript">
    function showCenterImageName(image_name)
    {
        $("#centerImageName").html(image_name);
    }
    function showHideOverlay(val){ 
        if(val == 0)
        {
            if($("#sliderDiv_overlay2"))
                $("#sliderDiv_overlay2").hide();
        }	
        else if(val == 1)
        {
            if($("#sliderDiv_overlay2"))
                $("#sliderDiv_overlay2").show();
        }
    }
    /** Function to show the manifest image having Next and Previous*/
    function showPassengerMoreManifestImage(seriesValue, frame) { 
        window.open("/show-manifest-more-image/" + seriesValue +"/"+frame, frame, "scrollbars=1,width=1200,height=700,resizable=true");
    }    
<?php
if (isset($defaultImageIndex) && !empty($defaultImageIndex)) {
    $defaultImageIndex = $defaultImageIndex;
} else {
    $defaultImageIndex = 0;
}
?>
                        var startIndex = parseInt('<?php echo $defaultImageIndex; ?>');
                                                       
                        function showManifestImageSlider()
                        {		
                            var startIndex = parseInt('<?php echo $defaultImageIndex; ?>');
                            var itemPerSlide = 4;

                            if($("#sliderDiv_overlay"))		
                                $("#sliderDiv_overlay").hide();
                               
                            $('#carousel').carouFredSel({
                                responsive: true,
                                circular: true,
                                auto: false,
                                items: {
                                    start:startIndex,
                                    visible: 1,
                                    width: 200,
                                    height: '56%'
                                },
                                scroll: {
                                    fx: 'directscroll',
                                }
                            });

                            $('#thumbs').carouFredSel({
                                direction: 'up',
                                circular: false,
                                infinite: false,
                                height: '85%',
                                items: {
                                    start:startIndex,
                                    visible: 4,
                                    height: '85%'
                                },
                                auto: false,
                                prev: '#prev',
                                next: '#next',
                                scroll: {
                                    fx: 'directscroll',
                                    onBefore: function() {
													
                                    }
                                }				
                            });			

                            $('#thumbs a').click(function() {
                                $('#carousel').trigger('slideTo', '#' + this.href.split('#').pop() );
                                $('#thumbs a').removeClass('selected');
                                var spanIdArray = this.href.split('#').pop().split('_');
                                $(this).addClass('selected');
                                return false;
                            });
				
                            var nextStartIndex =startIndex+3;
                            var prevStartIndex =startIndex-1;
                            var nSIndex =startIndex;
                                
                            var pSIndex =startIndex;
                            var element = $( "#"+nSIndex ).children();
                            element.attr( 'src', element.data( 'original' ));
						
                            for(var p=1; p<=10; p++)
                            {
                                var element = $( "#"+nSIndex ).children();
                                element.attr( 'src', element.data( 'original' ));
                                nSIndex =nSIndex+1;
                            }
                            for(var z=1; z<=10; z++)
                            {
                                var element = $( "#"+pSIndex ).children();
                                element.attr( 'src', element.data( 'original' ));
                                pSIndex =pSIndex-1;
                            }                                
					
                            $("#next").click(function (){
                                for(var t=1; t<=10; t++)
                                {
                                    var element = $( "#"+nextStartIndex ).children();
                                    element.attr( 'src', element.data( 'original' ));
                                    nextStartIndex =nextStartIndex+1;
                                }
                            });
				
                            $("#prev").click(function (){
                                var element = $( "#"+prevStartIndex ).children();
                                element.attr( 'src', element.data( 'original' ));
                                for(var k=1; k<=10; k++)
                                {
                                    var element = $( "#"+prevStartIndex ).children();
                                    element.attr( 'src', element.data( 'original' ));
                                    prevStartIndex =prevStartIndex-1;
                                }
                                nextStartIndex = startIndex;
                            });	

                          
                            //	load the actual image
                        }		
                        function showCenterImage(imgObj)
                        {

                                
                            $("#image").attr('src', imgObj);
                            $("#image").data('original', imgObj);
                                
                            if($("#sliderDiv_overlay2"))
                                $("#sliderDiv_overlay3").show();
                            $("#image").load(function() {
                                
                                if($("#sliderDiv_overlay2"))
                                    $("#sliderDiv_overlay3").hide();
			
                                $('#image').ImageZoom();
                                //$("#image").elevateZoom({scrollZoom : true,zoomType : "inner",cursor: "crosshair"});
                            });
                            //hideAjxLoader();
                        }
                        $(function() {
                            setTimeout("showManifestImageSlider()","1000");
                            setTimeout("ZoomMainManifestImage('"+startIndex+"')","2000");
                            //$('#'+startIndex).click()
                        });
                        /** function is used to show the mainmanifest image in zoom*/
                        function ZoomMainManifestImage(value)
                        {
                            $("#"+value).click();  
                        }    
    
    
</script>   
<style>
    #sliderDiv_overlay2{width:570px; height:500px;}
</style>     