<?php
/**
 * This view is used to view manifest for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */
$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
$var .=' var mode="' . $mode . '";';
echo $var;
$this->inlineScript()->captureEnd();
//$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.passenger.search.js?v='.$this->layout()->getVariable('jsVersion'));
$this->headLink()->offsetSetStylesheet(10, $this->layout()->getVariable('cssFilePath') . '/css/srch.css?v='.$this->layout()->getVariable('cssVersion'));
?>
<div class="create-contacts">
    <h2>Manifests</h2>
    <div class="breadcrumb">
        <ul>
            <li><a href="#"><?php echo $translator['L_DASHBOARD'] ?></a></li>
            <li><?php echo $translator['L_SYMBOL'] ?></li>
            <li><a href="#" class="active"><?php echo $translator['L_EDIT'] ?></a></li>
        </ul>
    </div>
    <div class="accordion-detail">
        <ul class="edit-link">
            <li><a href="#" ><?php echo $translator['L_DETAILS'] ?></a></li>
            <li><a href="#" class="active"><?php echo $translator['L_EDIT'] ?></a></li>
            <li><a href="#"><?php echo $translator['L_CHANGE_LOG'] ?></a></li>
        </ul>

        <div class="head no-img"><span><?php echo $translator['L_BASIC_MANIFEST_INFORMATION'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_FRAME'] ?>:</label>
                        <?php //echo $this->formRow($form->get('frame'));  ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ROLLNUMBER'] ?>:</label>
                        <?php //echo $this->formRow($form->get('roll_number'));  ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SERIES'] ?>:</label>
                        <?php //echo $this->formRow($form->get('series'));  ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_ARRIVAL_DATE'] ?>:</label>

                    </div>
                </div>

                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_UDEBATCH_NO'] ?>:</label>
                        <?php //echo $this->formRow($form->get('ude_batch_number'));  ?>
                    </div>
                    <div class="col1">
                        <label><?php echo $translator['L_FILE_NAME'] ?>:</label>
                        <?php //echo $this->formRow($form->get('file_name'));  ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col1">
                        <label><?php echo $translator['L_SHIP_NAME'] ?>:</label>


                    </div>
                </div>
            </div>
        </div>
        <div class="head no-img"><span><?php echo $translator['L_IMAGE'] ?></span></div>
        <div class="detail-section">
            <div class="common-form">
                <div class="row text-bold "> Slider Will Come Here... </div>
            </div>
        </div>




    </div>
