<?php
/**
 * This view is used to view crm manifest for admin
 * @package    Document
 * @author     Icreon Tech - AS
 */

$translator = $this->jsLangTranslate;
$var = '';
$this->inlineScript()->captureStart();
$var .=' var frame="'.$frame.'";';
$var .=' var roll_number="'.$roll_number.'";';

$var .=' var moduleName="'.$moduleName.'";';
$var .=' var mode="'.$mode.'";';
foreach ($jsLangTranslate as $key => $val) {
    $var .= 'var ' . $key . '= "' . $this->translate("$val") . '";';
}
echo $var;
$this->inlineScript()->captureEnd() ; 
$this->inlineScript()->appendFile($this->layout()->getVariable('jsFilePath') . '/js/passenger/crm.manifest.view.js?v='.$this->layout()->getVariable('jsVersion'));
?>

      <div class="create-contacts">
        <h2><?php echo $translator['L_MANIFEST'];?></h2>
        <div class="accordion-detail m-t-20">
              <div id="pageAction">
                        <ul class="edit-link">
                        <li><a id="tab-1" href="javascript:void(0);" onClick="viewCrmManifestDetails();"><?php echo $translator['DETAILS'];?></a></li>
                        <li><a id="tab-2" href="javascript:void(0);" onClick="editCrmManifestDetails();"><?php echo $translator['EDIT'];?></a></li>
                        <li><a id="tab-3" href="javascript:void(0);" onClick="viewChangeLog();"><?php echo $translator['CHANGE_LOG'];?></a></li>
                        </ul>
              </div>
            <div id="manifestContent"></div> 
            

        </div>
      </div>